[2022-11-28 12:47] ghernandez345 opened #8834 "Add Tests for TooltipWrapper Component"
Adding tests for the TooltipWrapper component

[2022-11-28 12:48] ghernandez345 opened #8835 "Add Tests for YamlAce Component"
Adding Tests for the YamlAce Component

[2022-11-28 13:03] ghernandez345 opened #8836 "Add Tests for EnrollSecret Components"
Adding tests for EnrollSecrets components. This includes:

- EnrollSecretModal component
- EnrollSecretsTable component
- EnrollSecretsRow component
- SecretEditorModal component

[2022-11-28 13:04] #8784 closed

[2022-11-28 13:09] ghernandez345 opened #8837 "Add Tests for ConfirmSSOInviteForm Component"
Adding tests for the ConfirmSSOInviteForm component.

[2022-11-28 13:12] ghernandez345 opened #8838 "Add Tests for the SelectTargetsDropdown Component"
Adding Tests for the SelectTargetsDropdown component.

[2022-11-28 13:15] ghernandez345 opened #8839 "Add Tests for LastUpdatedText Component"
Adding tests for LastUpdatedText component

[2022-11-28 13:18] ghernandez345 opened #8840 "Add Tests for MainContent Component"
Adding tests for the MainContent Component

[2022-11-28 15:11] chiiph commented on #8495
@roperzh oh so this is not something that is used at runtime but it's a schema analyzer?

[2022-11-28 15:12] chiiph commented on #8498
After some back and forth, we decided not to look too much more on this particular deadlock since it's not entirely clear that the alternatives are better. Closing for now, we can reopen if we see anything that might point to it being something worth while.

[2022-11-28 15:12] #8498 closed

[2022-11-28 15:15] chiiph commented on #8599
We tried a handful of things in https://github.com/fleetdm/fleet/pull/8603 but nothing looked like it was a clear improvement, so while it does sound like we should be able to do better here, the strategy is not clear yet, so I'm closing for the moment.

[2022-11-28 15:15] #8599 closed

[2022-11-28 15:44] noahtalerman commented on #8360
@mna yes, that's right.

Right. I think it makes sense to return nothing so that `fleetctl get config` follows the requirement this requirement: `fleetctl get config` should result in no changes to the working file.

That's right. I moved the following sentence to the `fleetctl get config` section of the issue description: If a user updates macOS settings in the UI, don't return a value for mdm.ma

[2022-11-28 16:06] noahtalerman commented on #8360
@zhumo I propose that we instruct users to create a policy to check which hosts have not yet received macOS settings. Let's discuss during our 1:1 today.

I imagine the workflow will look like this: Upload configuration profile -> add a policies that checks if the host received a profile that turns on a specific macOS setting (ex. [Screen lock](https://fleetdm.com/queries/screen-lock-enabled-mac-o

[2022-11-28 16:16] GuillaumeRoss opened #8843 "Website tables display not highlighting whole string on Firefox"
**Fleet version**: Website as of today

**Operating system**: macOS 13.1

**Web browser**: Issue is on Firefox 106.0.4 and 107.0 on Mac. In Safari and chrome it works as expected.

<hr/>

### 🧑‍💻  Expected behavior
When going to this page, I expect to see this: https://fleetdm.com/tables/ntdomains
<img width="1124" alt="image" src="https://user-images.githubusercontent.com/73836008/204327311-f924b

[2022-11-28 16:28] roperzh commented on #8495
@chiiph exactly, it's a one-off command you run. As far as I can tell It _needs_ a running server (you can't feed it a schema file,) and the credentials to the database to be analyzed.

This is already set up in `.github/workflows/test-db-changes.yml`, so all it's left is to add a step to install and run the `pt-duplicate-key-checker` binary.

I think the crux of this issue is to decide if we want

[2022-11-28 16:35] rfairburn commented on #8737
This is fixed with this commit https://github.com/fleetdm/fleet-infra/commit/e3bbc9cedb5ec1ef740e09953978f8b387633627

[2022-11-28 16:36] RachelElysia commented on #8649
@noahtalerman should the same behavior happen when deleting a secret? This new intended behavior is saying adding a secret should not remain on the manage enroll secret modal and return to app, so would a user expect the same behavior for deleting a secret? Currently, if you delete a secret, you are returned to the manage enroll secret modal. I think both current behaviors are the most intuitive (

[2022-11-28 17:15] ghernandez345 opened #8844 "Create Tests for Common Frontend utilities"
## Problem

We have a large amount of frontend common utilities that are used in a variety of places that are not covered with tests. Because they are reused throughout the codebase, we want to ensure they work properly

## Measurement

We will use the coverage reports to track our testing coverage for reusable components

## Related

**Parent Epic: https://github.com/fleetdm/fleet/issues/8770**

[2022-11-28 17:27] mna commented on #8706
@zhumo I see you reopened the issue, is that to implement your proposed `--config` flag that outputs yaml in the proper format to use as `fleet apply`? If so, I'd update the ticket's description to reflect that, and I'd change it from a bug to a feature (which might not be as high a priority?). /cc @lukeheath

[2022-11-28 17:34] RachelElysia commented on #8649
01/28/2022 interface weekly discussion update:

Closing out this issue

@xpkoala - The spec states we wouldn't have modals opening on top of each other
@RachelElysia - As a user, I would expect to be navigated back to manage enroll secrets UI after adding, editing, or deleting a secret to see or use my changes. So that would mean not closing out all modals when clicking these action buttons
@noaht

[2022-11-28 17:34] #8649 closed

[2022-11-28 17:45] ghernandez345 opened #8845 "Add Tests for campaign_helpers utility"

[2022-11-28 18:01] ghernandez345 opened #8846 "Add Tests for format_error_response Utility"
Add tests for format_error_response util

[2022-11-28 18:03] ghernandez345 opened #8847 "Add Tests for permissions Utility"
Adding tests for permissions utility

[2022-11-28 18:07] zhumo commented on #8706
Hey @mna sorry, I reopened and then started writing a response but left it alone over the holidays.

I think this shouldn't count as a bug but we will prioritize it as a normal feature.

[2022-11-28 18:15] ghernandez345 opened #8849 "Add Tests for yaml Utility"
Tests for yaml Utility

[2022-11-28 18:16] ghernandez345 opened #8850 "Add Tests for copy_text Utility"
Tests for copy_text util

[2022-11-28 18:18] ghernandez345 opened #8851 "Reorganise and Add tests for helpers utlity"
We'd like to reorganise and add the tests for the generic helpers utility

[2022-11-28 18:19] ghernandez345 opened #8852 "Add Tests for local Utility"
Tests for local util

[2022-11-28 18:20] ghernandez345 opened #8853 "Add Tests for osquery_tables Utility"
Tests for osquery_tables utility

[2022-11-28 19:13] noahtalerman commented on #7515
Sweet!

@mna my updated understanding is that we can get all info included in the spec: Apple ID, Organization name, MDM Server URL, Renew date

Please let me know if this isn't right.

[2022-11-28 19:18] mna commented on #7515
@noahtalerman Pending an actual test to call this endpoint with a valid Apple BM token, but yeah let's assume we can get all this information until proven otherwise. I'll get to it when I (or someone) start working on the `get mdm-apple-bm` ticket (soon).

[2022-11-28 19:24] noahtalerman commented on #7515
@michalnicp is there a reason or preference for using `.crt` instead of `.pem`?

I prefer to use something like `fleet-apple-mdm-bm-public-key.pem`. This is because Jamf uses `MDM-Token-Public-Key.pem`.

[2022-11-28 19:28] noahtalerman commented on #8733
Right. I think "Can be set via config yaml fleetctl apply, command line flag, or environment variable" was a typo in the old spec.

@mna that's right. The UI is illustrated [here in Figma](https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9838%3A316440&t=I6Iwc2SAeCejuJ5h-1). Screenshot is below:
![Screenshot 2022-11-28 at 2 27 40 PM](https://

[2022-11-28 19:31] noahtalerman commented on #8733
@mna I think this makes sense.

What I meant by this^ is whenever the user runs `fleetctl apply`, Fleet should validate that the team specified in `mdm.apple_bm_default_team` exists. If it doesn't exist, the user sees an error.

[2022-11-28 19:49] mna commented on #8733
@noahtalerman yes, definitely, that's how I understood it too and I included this validation in the spec, just wanted to point out that the team could still be deleted later on so the code that applies that setting (not in the scope of this ticket) should also make that validation.

[2022-11-28 19:50] RachelElysia commented on #8504
@xpkoala just merged the fix to main and moved this back to QA column ✨

[2022-11-28 19:59] lukeheath opened #8855 "Add new MDM settings section to user interface"
## Problem

As a Fleet admin I want to turn on MDM features in Fleet so that I can automatically enroll and enforce configuration on macOS hosts when they're first unboxed.

## Related

- Parent epic #7676

## Requirements

- See #7676
- In addition to the above, update the "See how" link (screenshot below) to navigate user to Fleet documentation: https://fleetdm.com/docs/deploying/configuration#m

[2022-11-28 20:09] noahtalerman commented on #8706
Hey @mna I moved this issue to the designed column on the roadmap board. If you think the specs are complete, can you please move it to the specified column? Thanks :)

[2022-11-28 20:10] zhumo commented on #8477
@roperzh @michalnicp If the dynamic SCEP token expires, then after downloading the mobileconfig file, the user must install and accept it within a certain time frame right?

[2022-11-28 20:11] roperzh commented on #8477
@zhumo that's right. For DEP enrollment that shouldn't be a problem, but I can see manual enrollment failing because of that.

In that case, the user must get another enrollment profile with a new token.

[2022-11-28 20:12] lukeheath commented on #8392
@jacobshandling I think most of the instances have been corrected in other PRs. The only remaining inconsistency I found was on the dashboard page.

On the software card, when a pagination link is disabled, it has no hover effect (correct behavior):

![image](https://user-images.githubusercontent.com/2495927/204371518-cfd33ca0-5357-43a0-8be3-9bdebdfa02d7.png)

On the activity card, when a paginati

[2022-11-28 20:13] mna commented on #8706
@noahtalerman @zhumo It's unclear to me following the close/reopen and previous few comments if what we want to do is:

* make `fleetctl get teams --yaml` output be valid for `fleetctl apply` (so, remove invalid columns automatically, in which case the specs are good as-is)
* or add the new `--config` flag that @zhumo  mentioned so that `fleetctl get teams --config` output is valid for `fleetctl a

[2022-11-28 20:13] noahtalerman commented on #7456
Hey @michalnicp I like this idea. I added your proposal to product office hours so that we can decide if it makes sense to prioritize this. Please feel free to join this call on Thursday (you can find it on my calendar)

Here's the agenda for this call: https://docs.google.com/document/d/1mwu5WfdWBWwJ2C3zFDOMSUC9QCyYuKP4LssO_sIHDd0/edit

[2022-11-28 20:22] RachelElysia opened #8856 "Fleet UI: Certain widths has header cell wrapping"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Header cells shouldn't wrap text to another line

### 💥  Actual behavior

<img width="218" alt="Screenshot 2022-11-28 at 3 20 17 PM" src="https://user-images.githubusercontent.co

[2022-11-28 20:22] RachelElysia commented on #8856
@xpkoala sent this over your way to reproduce and prioritize! <3

[2022-11-28 20:23] zhumo commented on #8477
@roperzh What is the expiration time that we should apply? And so if I install a mobileconfig then I try to install that same mobileconfig on another device, the second device should refuse it?

[2022-11-28 20:25] zhumo commented on #8706
Hey @mna, I updated the description. See the solution / requirements section.

[2022-11-28 20:26] noahtalerman commented on #8733
Ah, ok. Thanks.

[2022-11-28 20:30] roperzh commented on #8477
@zhumo what I have seen other solutions do is 1 hour, which makes sense to me, but I can investigate and give you better data. cc: @GuillaumeRoss maybe has opinions?

exactly, you'll get an error in the macOS UI saying that the challenge is invalid. I can try to make it happen and capture a screenshot if that helps!

[2022-11-28 20:34] mna commented on #8706
@zhumo Oh gotcha, sorry! I missed that. Yeah that's makes it clear. One last question - we mention `fleetctl get teams`, but I assume we want to extend that behaviour to all `fleetctl get ...`? I.e. remove the config headers when using `--yaml` (and `--json`), and make the output compliant with `fleetctl apply` when using `--config`.

[2022-11-28 20:42] lukeheath commented on #8855
@noahtalerman Question:

In task 4 above, it says, "Both fields are pre-populated." Where should we pull these values from? Are the fields editable?

[2022-11-28 20:55] noahtalerman opened #8858 "Release article: 4.24.0"
Fleet 4.24.0 is scheduled for release on 2022-12-1 (afternoon PST)

### Goal

Prepare and publish the release article for Fleet 4.24.0 so that folks in the Fleet/osquery community can understand the latest improvements.

### How?

- [x] @noahtalerman: Add features to "Primary improvements" section
- [x] @lukeheath: Add draft CHANGELOG to "List of improvements" section
- [ ] @chris-mcgillicuddy: Wr

[2022-11-28 20:56] lukeheath commented on #8596
@mna As part of building the UI for managing Apple MDM information in #8855 we are going to need two endpoints:

1) One endpoint to retrieve data for the "Apple Push Certificates Portal" and "Apple Business Manager" sections:

![image](https://user-images.githubusercontent.com/2495927/204378890-cc49d9fa-6699-4478-9bdd-f834b8ace0b0.png)

2) One endpoint to change the default team for Apple MDM host

[2022-11-28 20:56] noahtalerman commented on #8858
@chris-mcgillicuddy can you please draft the release blogpost for 4.24?

@mike-j-thomas can you please provide Chris with screenshots for the blogpost?

@lukeheath can you please update the issue description with the CHANGELOG?

[2022-11-28 21:00] marcosd4h commented on #8057
This issue mostly happens when `--insecure` flag is used on Windows Fleet installer

[2022-11-28 21:01] marcosd4h commented on #3563
It seems that this issue reproduces when `--insecure` flag is used on the installer. This flag causes osquery to take a long time to shut itself down due to a TLS timeout explained [here](https://github.com/fleetdm/fleet/issues/8057).

When running `msiexec /x` from the command line, it can be observed that osquery DB is locked (see screenshot below)
![image](https://user-images.githubusercontent.

[2022-11-28 21:15] lukeheath commented on #7755
@ghernandez345 We'd like to go ahead and include this in the upcoming release. Tomorrow, would you please prioritize getting this uncommented, hooked up to the backend, and submit a PR?

[2022-11-28 21:27] noahtalerman commented on #8855
Organization name is the value found on the Organization settings > Organization info page:

![Screenshot 2022-11-28 at 4 26 48 PM](https://user-images.githubusercontent.com/47070608/204384344-09ec4475-1284-4dc6-88cd-d20759915a20.png)

Email is the email of the currently logged in user.

Yes.

[2022-11-28 21:35] lukeheath commented on #8856
@jacobshandling Assigning this bug for you to work on next. Let @RachelElysia know if you have any questions. Thanks!

[2022-11-28 21:39] mna commented on #8596
@lukeheath They do/will exist. Note that to get the APNs and Apple BM sections, it is two separate endpoints:

* `GET /mdm/apple` for APNs, see task 1) here: https://github.com/fleetdm/fleet/issues/8596
* `GET /mdm/apple_bm` for Apple BM, see task 1) here: https://github.com/fleetdm/fleet/issues/8726

And to change the default team, it's a new setting `mdm.apple_bm_default_team` in the AppConfig,

[2022-11-28 21:49] lukeheath commented on #8858
@noahtalerman @chris-mcgillicuddy List of improvements added.

[2022-11-28 22:18] #8588 closed

[2022-11-28 22:20] noahtalerman commented on #7884
This issue included in the 4.23 release. It looks like this issue was removed from the release board before it was closed.

@lukeheath @RachelElysia please reopen this issue if this is incorrect.

[2022-11-28 22:21] jacobshandling commented on #8856
@RachelElysia I think this issue is solved by https://github.com/fleetdm/fleet/pull/8808 – I could reproduce the issue on `main`, but no longer on that PR's branch, `jacobshandling:table-whitespace`. Can you please confirm that?

[2022-11-28 22:26] artemist-work commented on #8472
This should be fixed in my PR but I'd like more testing. It should probably be merged ASAP though

[2022-11-28 22:40] zhumo commented on #8477
@roperzh yes please

[2022-11-28 22:45] lukeheath opened #8861 "Display permanent banner when Apple Business Manager terms need to be accepted"
## Problem

Users need to know when to accept new terms and conditions for Apple Business Manager. Users won't be able to automatically enroll new macOS hosts until they accept the terms.

## Related
- Epic: #8537
- Blocker: #8862

## Requirements
See requirements in epic.

## Figma
https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=10694%3A31

[2022-11-28 23:01] lukeheath opened #8862 "Catch and store when Apple Business Manager terms have expired"
## Problem

Users need to know when to accept new terms and conditions for Apple Business Manager. Users won't be able to automatically enroll new macOS hosts until they accept the terms.

## Related
- Epic: #8537
- Blocking; #8861

## Requirements

See requirements in epic.

## Reference

Copied from [this comment by Roberto. ](https://github.com/fleetdm/fleet/issues/8537#issuecomment-1322019614)

[2022-11-29 14:37] noahtalerman opened #8865 "Software page doesn't show disabled state for teams"
**Fleet version**: 4.23.0

<hr/>

### 🧑‍💻  Expected behavior

If software inventory is disabled for Team A, I expect to see the "Software inventory is disabled" state.

The "Software inventory is disabled" state is specified in this issue: #6799

### 💥  Actual behavior

In one case, if software inventory is disabled for Team A, the “No software matches the current criteria” state is displayed.

In

[2022-11-29 15:03] ghernandez345 opened #8867 "Update pattern for rendering of modals"
## Problem

Working with modals in the frontend codebase requires unnecessary boilerplate code and is the rendering of modals is controlled in many different places, usually at a page component level (but not always). Not having a single abstraction to render modals and having overly verbose code makes it harder to follow how a modal is shown and maintain. I propose that we can improve our pattern

[2022-11-29 15:13] polak785 commented on #8482
Ok no problem I understand.

With our usage, it is not necessary to double the resources (and therefore the cost) because CPU is only high during 10-15 minutes per hour, otherwise it is < 10%. We set `CPUQuota=150%` in the systemd unit and all is good now when it need to use CPU ;)
![image](https://user-images.githubusercontent.com/37365812/204567297-4954562e-d178-4c78-9483-b6e6f59dd420.png)

I cr

[2022-11-29 15:13] #8482 closed

[2022-11-29 16:01] lukeheath commented on #8865
@jacobshandling This one is a bit tricky. Please loop in @RachelElysia as needed. Thanks!

[2022-11-29 16:05] RachelElysia commented on #7235
@lukeheath update on this ticket

- [x] Create Google doc and share with team
  - @ghernandez345 have been using that [living doc]( https://docs.google.com/document/d/1WYmksff3aOO7NuzW1c6C3UTIiZn4lLfkAs3rTUIMBqw/edit?usp=sharing) above
- [x] The goal is to determine where there are gaps in our testing coverage
  - All of our global components gaps are outlined
  - @ghernandez345 added some `utilit

[2022-11-29 16:11] mna commented on #7515
@noahtalerman I now have my Apple Business Manager server token and my MDM server, so I've been able to test getting the information via the Apple API. Here's what we have:

* Apple ID: we do have this, returned as e.g. `"admin_id": "martin+mdmmanager@fleetdm.com"`
* Organization name: we do have this: `"org_name": "Fleet Device Management Inc."`
* MDM Server URL: we **do not** have this as part o

[2022-11-29 16:12] xpkoala commented on #8766
Hrmm, I haven't been able to reproduce this one just yet. @lukeheath would you have any thoughts on what might be causing this behavior?

I was manually placing users into the db, but don't see anything cut off. Something like, `insert into host_users(host_id, uid, username, groupname, shell, user_type) values(2, 668, 'Jonathan', 'Bailey', '/downing/street', 'local')`

![image](https://user-images

[2022-11-29 16:15] ghernandez345 commented on #8409
I think the mockup just shows an example of what it looks like when there is a link. The data is what represents whether there is a "defaults to root" link or not.

[2022-11-29 16:21] gillespi314 commented on #8867
You can down some of the boiler place by just using arrow functions directly instead of defining separate handler functions:
[code]
I've read that there are some potential performance tradeoffs in terms of recreating the arrow function on each render. But from what I read it wasn't a noticeable hit in most cases unless the parent component is constantly re-rendering. Stylistically, I've also seen

[2022-11-29 16:23] zhumo commented on #8460
@GuillaumeRoss @zwass is there a list of tables that's included in kollide launcher? I don't see it in the github repo.

[2022-11-29 16:48] zhumo commented on #7515
@mna I believe the MDM server is the fleet server under our approach, but maybe @roperzh can confirm that?

relatedly, I looked at my MDM enrollment profile and found this:
![image](https://user-images.githubusercontent.com/5359586/204590859-c2c3fc9a-ad15-4fb9-9a01-1396699c7fd6.png)

So it is pointing to some path in our server.

I should note that our colleagues in the industry do not show the MD

[2022-11-29 16:54] #8472 closed

[2022-11-29 17:15] GuillaumeRoss commented on #8460
https://github.com/kolide/launcher/tree/main/pkg/osquery/tables

[2022-11-29 17:19] lukeheath commented on #8855
TODO:

- Hide section behind MDM feature flag (link to Roberto's issue.)
- Leave the old layout in place if MDM is not enabled.

[2022-11-29 17:52] xpkoala opened #8868 "4.24.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/fleetctl-preview)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium te

[2022-11-29 17:54] roperzh commented on #7515
@zhumo thanks! I think Martin's question is aimed to double check about the meaning of "Server URL" because the examples show: `MDM Server URL:         Apple Application Integration 2`.

If the example was wrong, then as you both suggested we can just provide Fleet's URL from app config.

curious: do you mean in the macOS profile UI?

[2022-11-29 17:56] lukeheath commented on #8862
From estimation:

* We are going to assume that the `403, T_C_NOT_SIGNED` is returned on any request.
* We are unsure how often we will be interacting with this API. Only when new devices are enrolled, or more frequently?
* We will be ingesting pending hosts from `POST https://mdmenrollment.apple.com/server/devices`, likely hourly, so we can show hosts that have not come online yet. We need to con

[2022-11-29 18:00] zhumo commented on #7515
Ah, no. I meant in the UI where the user sees the status of the
integration.

*Mo Zhu*

Head of Product

fleetdm.com <http://www.fleetdm.com> | @fleetctl
<https://twitter.com/fleetctl>

On Tue, Nov 29, 2022 at 9:55 AM Roberto Dip ***@***.***>
wrote:

[2022-11-29 18:47] jacobshandling commented on #8695
@xpkoala still seeing the same issue. Firefox 107.0.1 (64-bit)

Nothing on the server log, it's not even being hit. Seeing some issues in the console though:

https://user-images.githubusercontent.com/61553566/204618926-08074b8c-f2ea-4e20-b5da-5096348a7aea.mov

[2022-11-29 18:59] lukeheath opened #8869 "Add new MDM section to integrations settings"
## Problem

As a Fleet admin I want to turn on MDM features in Fleet so that I can automatically enroll and enforce configuration on macOS hosts when they're first unboxed.

## Designs

### UI

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9683%3A318828

## Related

- Epic #8855
- #8870 (blocking)
- #8872 (blocking)

## Tasks

### 1
- [x]

[2022-11-29 19:07] lukeheath opened #8870 "Add empty and populated states for MDM integrations settings"
## Problem

As a Fleet admin I want to turn on MDM features in Fleet so that I can automatically enroll and enforce configuration on macOS hosts when they're first unboxed.

## Related

- Epic #8855
- #8596
- #8726
- #8969

## Notes

On load, make two API calls to determine the state of the page.

1. `GET /mdm/apple` for APNs; see task 1 here: #8596
2. `GET /mdm/apple_bm` for Business Manager data

[2022-11-29 19:15] marcosd4h commented on #3563
I've just pushed [PR 8871](https://github.com/fleetdm/fleet/pull/8871) to handle this from the installer side. #8057 still needs to be investigated.

[2022-11-29 19:18] xpkoala commented on #8695
@lukeheath Any thoughts on the console errors showing?

[2022-11-29 19:23] lukeheath opened #8872 "Add modals for MDM settings"
## Problem

As a Fleet admin I want to turn on MDM features in Fleet so that I can automatically enroll and enforce configuration on macOS hosts when they're first unboxed.

## Related

- Epic #8855

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9683%3A318828

## Tasks

### 1
- [ ] Add "Request CSR" modal.
* Both fields are pre-

[2022-11-29 19:48] xpkoala commented on #8710
@chiiph Was this fix run through a loadtest environment? I don't see an associated PR and I'm not entirely sure how much additional testing I can provide on this one.

[2022-11-29 19:49] lukeheath commented on #8870
@noahtalerman re: Apple Business Manager. In the UI, we spec that clicking the "Download" button will provide a public key. Upload the public key to Apple to generate a token. Provide that token to the server.

But in the CLI side of the same feature (see "Step 1" in #7515) it's spec'd so that the CLI generates a public AND private key. Upload the public key to Apple to get the token, then provide

[2022-11-29 19:56] jacobshandling commented on #8695
The problem seems to be being caused by the Firefox Relay Extension: https://addons.mozilla.org/en-US/firefox/addon/private-relay/

[2022-11-29 20:08] lukeheath commented on #7235
@RachelElysia Thanks for the update! I just requested access to the doc.

Agreed, looping in @xpkoala makes sense to help identify areas of the app with the most bugs. @xpkoala - I know you're busy with the release this week, but once it goes out, will you ping Rachel to work with her on identifying areas of the app where you're finding the most bugs?

[2022-11-29 20:19] lukeheath commented on #8766
@zhumo I don't think this is a bug. The users table on host details is intended to display the "username" property from the osquery [users table](https://fleetdm.com/tables/users), so it appears to be behaving as expected. If we want to instead attempt to show a display name [like we did](https://github.com/fleetdm/fleet/issues/7135) for `GET /hosts` and `GET /hosts/:id` we'd need to spec and esti

[2022-11-29 20:19] mna commented on #8725
@noahtalerman Given that we want `--mdm_apple_bm_server_token` to be the encrypted form of the server token, and to decrypt it automatically, we will need the Apple BM public certificate to be provided as argument to `fleet serve` too, not just the private key. We need to call this function to decrypt the token, and it requires both the certificate and the private key: https://pkg.go.dev/github.co

[2022-11-29 20:21] zhumo commented on #8766
@lukeheath So you're saying that at least with the reported photo, it could be that the user table from osquery is reporting truncated names?

[2022-11-29 20:24] lukeheath commented on #8695
We're not concerned with console errors from extensions (regularly get those from react dev tools). If we're seeing the same errors in dogfood, then we'd want to fix it.

If @xpkoala can't reproduce, I'm inclined to say this is an issue specific to @jacobshandling's local instance. I suggest you create an account on dogfood (using "Sign on with Google") and see if you can reproduce the issue there

[2022-11-29 20:35] xpkoala commented on #8661
The user who encountered this issue has yet to reach out, going to close this one for now.

[2022-11-29 20:35] #8661 closed

[2022-11-29 20:36] lukeheath commented on #8766
@zhumo I believe the names in the photo are the actual machine usernames, and they are not being truncated. If the goal is to show the user's display name, that would be a new feature.

This is a bit confusing for our users because Windows calls their display name the "Username", but it is not the actual machine username. [Follow these steps](https://support.logmeininc.com/central/help/how-do-i-fi

[2022-11-29 20:38] xpkoala commented on #8695
👍 Since we have identified that it's the extension it's safe to close this. I wasn't able to reproduce on Dogfood either.

[2022-11-29 20:38] #8695 closed

[2022-11-29 20:40] xpkoala commented on #8814
This looks to be occurring on both Firefox and Chrome but not Safari.

[2022-11-29 20:41] zhumo commented on #7732
@marcosd4h Can you link the osquery PR here?

[2022-11-29 20:54] xpkoala opened #8874 "xprotect_reports broken on Catalina"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 💥  Actual behavior
https://github.com/osquery/osquery/issues/6588

### Resolution
This is the expected result of very specific set of circumstances as documented [here](https://github.com/osquery/osquer

[2022-11-29 20:56] marcosd4h commented on #7732
Sure, here it goes:

Osquery PR 7821 [here](https://github.com/osquery/osquery/pull/7821)

Osquery Blueprint  [here](https://github.com/osquery/osquery/issues/7826)

@zwass can you update the Osquery PR description? The PR was created by you, and I'm afraid I don't have right to update the PR description, which can confuse people looking into the PR for the first time. The idea will be to link the

[2022-11-29 21:02] xpkoala opened #8875 "screenlock query does not return information in Fleet"
**Fleet version**:`main`

**Operating system**: m1 Ventura

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
Running `select * from screenlock` on a mac would return results.

### 💥  Actual behavior
No results are returned. If run against the same machine using osqueryi I see:

[code]

[2022-11-29 21:05] lukeheath opened #8876 "Ingest pending MDM hosts"
### Goal

As a user, in the Fleet UI, I want to be able to see macOS hosts that are waiting to be automatically enrolled a macOS host to Fleet so that I can change this host's team before the device user unboxes the host.

### Related
- Parent epic: #7958
- Blocking: #8878 8878
- Blocking: #8879

### Requirements
- Ingest new pending MDM hosts from Apple Business Manager API. Likely [Get a list of

[2022-11-29 21:23] lukeheath opened #8878 "Include MDM pending hosts in hosts list and MDM card"
## Goal

As a user in the Fleet UI, I want to see macOS hosts waiting to be automatically enrolled in Fleet so that I can change this host's team before the device user unboxes the host.

## Related

- Parent epic: #7958
- Backend: #8876
- Blocker: #8879

## Requirements
- See requirements in parent epic.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready

[2022-11-29 21:24] xpkoala commented on #8559
Resource for sourcing these items.
https://github.com/fleetdm/fleet/blob/main/server/service/osquery_utils/queries.go

[2022-11-29 21:34] lukeheath opened #8879 "Add new `mdm_enrollment_status=pending` filter to `GET /hosts` and `GET /labels/:id/hosts` endpoints"
## Goal

As a user, in the Fleet UI, I want to be able to see macOS hosts that are waiting to be automatically enrolled a macOS host to Fleet so that I can change this host's team before the device user unboxes the host.

## Related
- Parent epic: #7958
- Blocker: #8876
- Blocking: #8878

## Requirements
- See requirements in parent epic.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdk

[2022-11-29 21:37] RachelElysia commented on #7235
@lukeheath updated access!

[2022-11-29 21:42] lukeheath commented on #8878
@noahtalerman Figma has a dev note saying we should apple the same MDM card changes to host details and my device, but there is no MDM card on those pages. Please let me know if I'm missing something. Maybe you're thinking of the Munki issues card?

![Image](https://user-images.githubusercontent.com/2495927/204654188-5b0ef595-a938-4015-b5aa-e226b984ed0e.png)

[2022-11-29 21:44] lukeheath commented on #8876
@chiiph Here is the issue of ingesting pending hosts from Apple Business Manager. I'm assigning to you to move forward on the Platform roadmap. Feel free to edit as needed, and let me know if you need any other details.

[2022-11-29 21:57] mna commented on #8725
@noahtalerman I went ahead and also added the `_bytes` version of the cert, key and token flags so that they can be set either as a file path or as the raw content, same as we did for apns/scep (here: https://github.com/fleetdm/fleet/pull/8730/files#diff-ac2e116fdc020a592bafe47e45117d69ad8e4490e8b197b193b54267b193ca6fR2357-R2371), so there's also the `--mdm_apple_bm_cert_bytes`, `--mdm_apple_bm_se

[2022-11-29 22:09] lukeheath commented on #8519
@noahtalerman This is in development, so I'm assigning the epic back to you.

[2022-11-30 01:57] zhumo opened #8881 "Expose osquery live query performance"

[2022-11-30 02:12] zhumo commented on #8521
Hey @eashaw I updated the requirements slightly. See #6 above. WDYT of the feasibility of adding that?

[2022-11-30 02:13] RachelElysia opened #8882 "Non-released bug: Header height too tall"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Header height to not change (noticable when clicking an action check and pulling up the header menu)

### 💥  Actual behavior

<img width="1434" alt="Screenshot 2022-11-29 at 9 03

[2022-11-30 02:47] jacobshandling commented on #8865
@noahtalerman I haven't been able to reproduce this as you can see below - do you have more details on the exact circumstances that cause these two cases?

https://user-images.githubusercontent.com/61553566/204695422-68861f9d-5f8f-40cb-b1fa-1c3af8a32c9e.mov

[2022-11-30 04:00] zwass commented on #8223
#8884 implements part of this. The intent is for the website code to shell out to that tool.

[2022-11-30 11:33] michalnicp opened #8885 "fleetctl has inconsistent and unintuitive subcommands and flags"
`fleetctl` subcommands and flags suffer from the following issues:

- subcommands use a mix of underscores and hyphens eg `get enroll_secret` vs `vulnerability-data-stream`
- subcommands sometimes have aliases for underscore alternative eg `get enroll_secret`, `get enroll-secret`
- subcommands sometimes have aliases for singular and plural eg `get enroll_secret`, `get enroll_secrets`
- subcommands

[2022-11-30 11:34] michalnicp commented on #8885
@noahtalerman @lukeheath

[2022-11-30 12:49] michalnicp commented on #7456
I cannot find this requirement in any official Apple documentation. It seems like this requirement is being defined by fleet in https://github.com/fleetdm/fleet/issues/8372#issuecomment-1324393858. I think we are being misleading/unclear about our requirements. Do you have any more details about this requirement @noahtalerman?

At the very least, it may be a good idea to expose the denylist to the

[2022-11-30 14:23] chiiph commented on #8710
@xpkoala I believe it was, but I'm starting it up right now again, will update when I have more data. From a QA perspective, you could look into a small local test comparing main with the last release, and mainly making sure that things work well, cause this change is pretty core (i.e. if this broke anything, basically nothing would work).

[2022-11-30 14:44] mna commented on #8725
@noahtalerman I haven't seen the error message we wanted to print when using those Apple BM flags with a free license, but this is the one I came up with:

(the "Failed to start:" prefix is automatically added for all issues when running `fleet serve`, and `validate Apple BM` is the prefix for all Apple BM-related issues)

[2022-11-30 14:55] mna commented on #8725
@noahtalerman @chiiph @lukeheath

I was going to add this validation at Fleet startup, to make sure the Apple BM token was valid not only in format, but was actually accepted by Apple's API:

However, @chiiph raised valid concerns that we were doing quite a bit of network requests at Fleet startup, and this makes it take that much longer for a fleet instance to report as "online" and healthy and c

[2022-11-30 15:01] mna commented on #8725
@noahtalerman regarding this:

Should we start a new page dedicated to MDM, under `Using Fleet` (or `Deploying`)? We'll likely have a bunch of other MDM-related features we'll want to document, e.g. things related to APNs generation and setup... If not, any preference on where that token renewal section should go?

[2022-11-30 15:49] noahtalerman commented on #8706
@zhumo yes. I'd like to prioritize this issue because this doesn't match the current behavior.

In addition, the expected behavior for `fleetctl get teams` is a pretty output (table) of high level team information (name, host count, and user count).

I updated the solution / requirements section to reflect this.

@mna what do you think?

[2022-11-30 16:12] noahtalerman opened #8887 "Remove packs from UI and docs"
## Problem

Fleet is promoting packs in the Fleet UI and docs. This encourages new users to use packs. However, the scheduled query UI has superseded the packs UI.

## Business Case

Our goal is for new Fleet users to take advantage of the scheduled query UI instead of the legacy packs UI. This way, the teams feature is best practice for running scheduled queries on groups of hosts.

New and exist

[2022-11-30 16:16] noahtalerman commented on #8887
Problems to solve later:
- Controlling scheduled queries with GitOps workflow
- Targeting flexibility. Labels and packs offer a lot of flexibility. How can we solve this with scheduled queries
  - Requires aligning on what is teams
- Grouping queries / policies
  - How important is this? We think there's an "add a group of related queries" use case. Also a "view a group of related queries use case

[2022-11-30 17:23] xpkoala commented on #8710
@chiiph That is exactly what I was thinking. Thanks!

[2022-11-30 17:23] lukeheath commented on #8438
@zhumo @noahtalerman Because this is an API update, it seems like it should be assigned to the `#interface` group. Is there a reason it's assigned to platform?

[2022-11-30 18:14] noahtalerman commented on #8766
@zhumo in the reported photo, what are the full names you / the user expected to see?

[2022-11-30 18:20] chiiph commented on #8438
The reason is that it's not exactly clear the performance implications of this API change when you have many thousands of hosts, with tons of repeated software.

That said, if you have capacity, I've got no problem making that switch.

[2022-11-30 18:23] marcosd4h opened #8891 "Orbit cannot be installed on top of legacy Osquery 4.5.1 installations"
**Fleet version**:  latest

**Operating system**:  Windows 10

### 🧑‍💻  Expected behavior
Orbit installs with no issues on systems running legacy Osquery versions.

### 💥  Actual behavior
Orbit does not install correctly on systems running legacy Osquery versions. It appears that old Osquery versions are not getting uninstalled during Orbit installation process.

### More info
@zayhanlon is going

[2022-11-30 18:27] noahtalerman commented on #8682
@lukeheath I moved this issue to designed column. This issue still needs API design.

[2022-11-30 18:32] zayhanlon commented on #8891
https://user-images.githubusercontent.com/114112018/204879855-647df72f-6ea6-4988-89c2-b8cef5b10246.mp4

@marcosd4h  Let me know if this works ^

[2022-11-30 18:38] noahtalerman commented on #8725
How does this kill and start mechanism work? Is this something that the user configures in whatever hosting solution they're using? (AWS, GCP, etc.)

What I'm trying to get a feel for is how common this set up is for our users/customers.

@zhumo looping you in here on Martin's proposal.

[2022-11-30 18:38] zayhanlon commented on #8891
https://drive.google.com/file/d/1EDwItnROWjYxCegJrD0g__eTgw5ZchOx/view?usp=share_link
Customer re-producing the issue for us ^

[2022-11-30 18:45] noahtalerman commented on #8878
@lukeheath Ah, I meant the **MDM enrollment** and **MDM server URL** items on the **Host details** and **My device** pages.

Screenshot of these items is below:
<img width="313" alt="Screenshot 2022-11-30 at 1 42 19 PM" src="https://user-images.githubusercontent.com/47070608/204881769-a01e99ba-2131-4c67-a94b-d69bd99ad677.png">

Maybe a better dev note would be something like "Make this change to a

[2022-11-30 18:49] lukeheath commented on #8865
I cannot reproduce in dogfood:

![Image](https://user-images.githubusercontent.com/2495927/204883125-130dbdd6-ad6a-49c3-aaac-d14ea2504cc4.png)

I think this issue was initially reported by @gillespi314.

[2022-11-30 18:52] zhumo commented on #8766
Not sure about the other ones, but I think one of them should have been "mremark". is that right @austin-911?

[2022-11-30 18:54] austin-911 commented on #8766
yes correct. The other ones are Jayden and Moritz

[2022-11-30 19:01] zhumo commented on #7676
Hey all, I want to make sure we're covering requirement #3 "fleetdm.com saves email and org name, and other data for those who request CSR from us." We should record this info so that we can lookback on it. @zwass @eashaw

[2022-11-30 19:02] zayhanlon commented on #8891
Note: This doesn't occur when the impacted user attempts to uninstall osquery themselves. Specifically when an admin user attempts the uninstall, osquery remains on the machine for the affected user (doesn't uninstall for all user accounts on the machine).

[2022-11-30 19:07] zhumo commented on #8438
The other reason was capacity. But I leave it to @chiiph and @lukeheath to decide which team should work on this...

[2022-11-30 19:08] zhumo commented on #8725
I'm wondering if we should just do the "format" validation of the Apple BM token at startup (decrypt and ensure it is a valid JSON token), and not do an Apple API call at this point (wait until we actually need to make a call).

@mna @noahtalerman what's the user impact of doing that?

[2022-11-30 19:13] zhumo commented on #7456
@michalnicp I think the denylist is long enough that it's not helpful and we shouldn't share with people which ones exactly we are denying to prevent malicious people from finding or using an obscure one. I think everyone will get the point with the message as currently stated.

[2022-11-30 19:13] zhumo commented on #7456
To your question about the requirement about denying emails, I think we're resolving it separately in Slack.

[2022-11-30 19:16] noahtalerman commented on #8725
@zhumo if user supplies a valid certificate that doesn't work for Apple, user has to be notified that their token doesn't work (Fleet UI / fleetctl will have to handle this at a later point). User will have to stop / start Fleet server with a token that works.

I'm not sure how common the scenario is in which the user supplies a cert that doesn't work for Apple. I'm thinking uncommon. This is maki

[2022-11-30 19:19] #8856 closed

[2022-11-30 19:23] zhumo commented on #8725
@noahtalerman @mna "user is later notified that their token doesn't work." What does "later" mean? If I do upload a certificate that Apple rejects, and then I go on and use the product, how far do I go down the rabbit hole until I find out there's a problem?

[2022-11-30 19:29] noahtalerman commented on #8725
@zhumo @mna I don't think we for sure know yet. My guess is that you'd find out there's a problem when Fleet first tries to get all the [hosts pending automatic enrollment](https://github.com/fleetdm/fleet/issues/7958) (hosts that exist in ABM).

If this is the case, then I think "later" would likely be the next time you visit a page in the UI or run a fleetctl command.

[2022-11-30 19:43] jacobshandling commented on #8814
HostAbleConfig > line 218 sets the Status column to have `disableSortBy: true`. When I remove this line, the option to sort by the Status column is restored, but then the server returns a 422 error when trying to GET the sorted data:

https://user-images.githubusercontent.com/61553566/204892946-95709694-c3e4-4837-b09d-1cb5f56162b5.mov

[2022-11-30 19:45] jacobshandling commented on #8814
@lukeheath does that make this a backend issue?

[2022-11-30 20:25] gillespi314 commented on #8814
Assuming we don't support sorting by status, I think `disableSortBy: true` is the correct configuration option. But I think maybe there have been recent changes to the table header html/css that is now making the sort icons appear on this particular column when they should be hidden.

[2022-11-30 20:25] gillespi314 commented on #8814
^ @jacobshandling

[2022-11-30 21:34] jacobshandling commented on #8814
@gillespi314 nailed it

[2022-11-30 22:13] lukeheath commented on #8724
@michalnicp We are creating this same process in the UI so that users can generate their keys via `fleetctl` or the UI.

In [step 3 of the UI ticket](https://github.com/fleetdm/fleet/issues/8870#task3), there is a requirement to click the "Download" button, which should generate both the public and private keys and download them in the browser.

I am wondering if you will create endpoints as part

[2022-11-30 22:18] chris-mcgillicuddy commented on #8858
@noahtalerman, draft of the Fleet 4.24.0 release article is ready for your review.

https://docs.google.com/document/d/13jDQ3pE0ybBGAFRDn-o0BEeNvddycgYlABksBzlfecY/edit?usp=sharing

[2022-11-30 22:19] lukeheath commented on #8762
Takeaways from my call with @zhumo and @chiiph:

1) In the issue description, item 5 makes this task more difficult and should be done later.

2) There may be complexities in the infrastructure process that could make this time-consuming to implement (more than a week.) TODO: @zhumo @chiiph Follow up with infrastructure engineering to evaluate the complexity of this issue and estimated effort requ

[2022-11-30 22:47] lukeheath commented on #8766
@fx5 I know you were recently working on Windows data ingestion. Would you please see if you can reproduce this bug on your Windows instance? Any idea why it might be removing the last character from non-default usernames?

[2022-11-30 22:50] lukeheath commented on #7676
@zhumo You probably want to edit/comment on https://github.com/fleetdm/fleet/issues/8223 since that's where the fleetdm.com work will happen.

[2022-11-30 22:57] lukeheath commented on #8438
We don't have much capacity with the MDM work landing, so happy to have some help from the platform. I just want to make sure I'm aware of API changes. I'm adding the `#interface` label on there since it's an API change, but feel free to take it on in platform if there is capacity.