[2022-08-18 14:26] GuillaumeRoss commented on #6396
If there's a need or benefit for someone to access it they would get it, it just would mean we'd have a way to manage permissions. If you think 100% of people would benefit from it and that won't change soon, we can go ahead and skip the extra step.

[2022-08-18 14:29] GuillaumeRoss commented on #6396
We also need to update that service account so it isn't tied to an external email ASAP.

[2022-08-18 14:57] zwass commented on #6396
I see this information being valuable to everyone in engineering, product, marketing, sales, and even some admin folks (eg. if we ask them to take a look at which customers might be going over their licensed hosts soon). If there's some way to at least make it accessible to everyone in engineering without someone having to manually add new engineers to it then I'm open.

[2022-08-18 15:20] noahtalerman commented on #6024
Current `pack` YAML document.

[code]

[2022-08-18 15:20] zhumo commented on #2430
What's the point of keeping delete? Should delete just be block?

[2022-08-18 15:43] zhumo commented on #6851
Notes from design review

1. By default hide overrides key in the blank state
2. Specify that overrides does not work for command_line_flags.

[2022-08-18 15:55] zwass commented on #2430
Good question! Mike was asking the same thing yesterday.

A couple of possible scenarios you might want to use delete:

1) You've just deployed some new *team* enroll secrets and you want the
hosts to re-enroll into the appropriate team. By "deleting" them they will
re-enroll the next time they try to check in and be placed into the proper
teams. This is something Uber wanted to do recently and th

[2022-08-18 16:10] zhumo commented on #6553
@roperzh planned next week osquery team will upgrade osquery to 5.5.1. It will have some more logging which will give us more information. We think it is some query being sent up. Can you try it again once 5.5.1 is on your machine?

Sharvil: Hunch is it's uid on system_info

[2022-08-18 16:11] lucasmrod commented on #6553
5.5.1 has https://github.com/osquery/osquery/pull/7675, so Fleet logs should provide us more info about which query is the problematic one.

[2022-08-18 16:29] zhumo commented on #6851
Hey @lukeheath there are some interface-related work around the YML. Would you mind taking a look and scoping it?

[2022-08-18 16:42] xpkoala commented on #6833
I was able to reproduce this after further poking.

[2022-08-18 17:42] #3850 closed

[2022-08-18 17:45] #7252 closed

[2022-08-18 17:52] noahtalerman commented on #5725
@RachelElysia yes. This is a great catch. Thank you.

For now, no. I could see how this would be useful.

Correct. We're not prioritizing improvements to packs in the Fleet UI. Instead, we're prioritizing improves that make Teams + Schedule the best way to target groups of hosts.

[2022-08-18 17:59] zhumo commented on #6803
Hey @lukeheath did we do anything else to improve the latency here or is the gzipping and cache TTL the first actions?

[2022-08-18 18:05] noahtalerman commented on #7259
@lukeheath no, we don't. I think I got too excited when adding this.

Can you please remove the "Capable of running macOS Ventura, version 13 (macOS)" query from the standard query library and tag me in the PR?

I'd like to give the contributor a heads up.

Thanks for looking into this. If you're curious here's where the Kolide tables live (come bundled with Kolide's agent): https://github.com/kol

[2022-08-18 18:05] mikermcneil commented on #6396
@GuillaumeRoss @zwass @noahtalerman Good discussion guys.  Let’s move forward quickly on this, disagree and commit to taking the risk for the time being.  Everyone on the Fleeties spreadsheet can see usage data (anonymous or not).

Please lmk what I need to do to make sure I have full access to Heroku.  The bot account is working great for GitHub actions and I’d prefer not to change it.  If we’re

[2022-08-18 18:08] zwass commented on #6396
I'm flying and not able to hop on a call, but maybe the email can just be
changed on that user account?

On Thu, Aug 18, 2022 at 11:06 AM Mike McNeil ***@***.***>
wrote:

[2022-08-18 18:15] ksatter commented on #7196
@KanchiMoe Thanks for taking the time to submit a bug report!

[2022-08-18 19:12] zhumo commented on #7139
@RachelElysia has this been fixed? If so, can you close?

[2022-08-18 20:23] noahtalerman opened #7303 "QA the "Server installation" doc page"
### Goal

QA the "Server installation" doc page so that the Fleet team is confident the info is accurate and the steps work as documented.

[2022-08-18 20:24] noahtalerman commented on #7303
@mikermcneil heads up, this issue tracks your request. The request was discussed during product office hours on 2022-08-18.

This issue is not prioritized. I'm tracking it in GitHub so that we can remember it when the on call engineer starts to work on docs.

[2022-08-18 20:28] lukeheath commented on #6803
@zhumo The gzipping and cache TTL are the first actions and will have the biggest impact. Compressing our frontend assets when they're sent down from the server will gain us up to 4 seconds on initial page load time.

Things we can (and will) be doing on the frontend is reducing the overall frontend payload by optimizing our code. Those will be small incremental improvements of a couple hundred mi

[2022-08-18 20:28] noahtalerman opened #7304 "Explain how scheduled queries queue themselves up"
### Goal

Explain how scheduled queries queue themselves up. See the "Notes" section below for more context.

### How?
- Maybe add a link to relevant section of osquery docs
- Maybe bring osquery explanation into Fleet docs

### Notes

This came out of the following conversation on Slack (internal):

Customer: Do scheduled queries queue themselves up if the device is powered off or sleeping? e.g.,

[2022-08-18 20:29] noahtalerman commented on #7304
@roperzh heads up, this is the issue tracking your request. This request was discussed during product office hours on 2022-08-18.

This request is not prioritized. I filed the issue to track the request so that we can come back to it.

[2022-08-18 20:31] noahtalerman opened #7305 "Improve policy cards in "Welcome to Fleet" card on Home page"
### Goal

Improve policy cards in "Welcome to Fleet" card on **Home** page.

### Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9187%3A302318

Specced by @RachelElysia

## Related

## Tasks

- Improve Welcome to Fleet Card

### 1
Update "Welcome to Fleet" success state
- [x] Ellipses are used if policy name is longer than the card
-

[2022-08-18 20:32] noahtalerman commented on #7305
@gillespi314 heads up, this is the issue tracking your request. This request was prioritized during product office hours on 2022-08-18.

[2022-08-18 20:35] noahtalerman opened #7307 "Make items on Home page clickable"
## Goal

As a user, if I click on platforms on the **Home** page in the Fleet UI, I want to see a list of hosts filtered by the attribute I clicked on.

## Requirements

- Requirements are included in the dev notes in the Figma page linked below.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9280%3A310873

[2022-08-18 20:35] noahtalerman commented on #7307
@mikermcneil heads up, this is the issue tracking your request. This request was prioritized during product office hours on 2022-08-18.

[2022-08-18 20:38] noahtalerman opened #7308 "In Fleet UI, make the ability to horizontally scroll more apparent"
### Goal

As a user on the Hosts page, I want to know that I can scroll horizontally on the table so that I can view more host data.

As a user, I want to know when I can't scroll horizontally on a table.

### Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9159%3A292820

[2022-08-18 20:39] noahtalerman commented on #7308
@mikermcneil heads up, this issue tracks your request. This request was prioritized during product office hours on 2022-08-18.

[2022-08-18 20:41] noahtalerman opened #7309 "Explain "Online" and "Offline" on Hosts and Hosts details pages"
## Goal

As a user, I want to understand that "Online" and "Offline" are tools for gauging whether a host will respond to a live query.

## Requirements

- Requirements are included in the dev notes in the Figma page linked below.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9280%3A307908

Specced by @RachelElysia

## Tasks

!

[2022-08-18 20:42] noahtalerman commented on #7309
@mikermcneil heads up, this issue tracks your request. This request was prioritized during product office hours on 2022-08-18.

[2022-08-18 20:45] noahtalerman opened #7310 "Explain "Seen time" and "Last fetched" on Hosts page"
## Goal

As a user, I want to know what the difference between "Seen time" and "Last fetched" is so that I know the last time my hosts talked to Fleet.

## Requirements

- Requirements are included in the dev notes in the Figma page linked below.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9280%3A309425

Specced by @RachelEly

[2022-08-18 20:46] noahtalerman commented on #7310
@mikermcneil heads up, this issue tracks your request. This request was prioritized during product office hours on 2022-08-18.

[2022-08-18 23:11] chris-mcgillicuddy commented on #6971
Got positive feedback from Mike. Made a few small revisions. It's good to go!

[2022-08-18 23:22] mikermcneil commented on #7303
@chris-mcgillicuddy Style guide ready to go and merged?

Let's get the "one doc page per week" going ASAP so that we can make the docs better for users and purge the incorrect information and broken/duplicate examples.

[2022-08-19 08:05] mike-j-thomas commented on #7275
![fleet-4 19 0-1600x900@2x](https://user-images.githubusercontent.com/78363703/185573389-e5b375ac-79d7-4645-8f0e-395df0374cf2.jpg)

![operating-system-disk-space-1600x900](https://user-images.githubusercontent.com/78363703/185573458-3dc046d2-17bb-4a58-a992-93780d30f687.gif)

![mdms-1600x900](https://user-images.githubusercontent.com/78363703/185573483-86fb2e0c-f09f-4d35-a699-4f7bab09f6a9.gif)

![u

[2022-08-19 08:06] mike-j-thomas commented on #7275
@noahtalerman, images posts above.

[2022-08-19 13:07] chiiph commented on #4804
@michalnicp would this be tackled by your macOS improvements?

[2022-08-19 13:10] chiiph commented on #6423
The work that @michalnicp is related to this, so assigning to him for now.

[2022-08-19 13:34] roperzh opened #7312 "Implement controlled rollout of features based on teams"
### Goal

We want to allow users to do canary rollouts for their features so that they can test it out for their install base before committing to a full rollout. This allows our users to validate scalability, usability, and impact of various features.

### How?

#### Backend

- [x] https://github.com/fleetdm/fleet/pull/7353
- [x] https://github.com/fleetdm/fleet/pull/7358
- [x] https://github.com

[2022-08-19 15:07] zhumo commented on #4512
@noahtalerman Can you add to the vulnerability processing page in the docs mention that we now have CVSS EPSS and link to them?

[2022-08-19 15:14] zhumo commented on #6259
@zhumo document the rate limiting.

[2022-08-19 15:18] #3922 closed

[2022-08-19 15:20] zhumo commented on #4973
@zhumo separate out the safari_extensions issue to its own epic to be prioritized and then close this.

[2022-08-19 15:20] #6885 closed

[2022-08-19 15:22] zhumo commented on #6851
@noahtalerman ^^^

[2022-08-19 15:39] chris-mcgillicuddy commented on #7303
@mikermcneil Style guide is ready to go. Waiting for review to be merged.

[2022-08-19 16:38] zhumo commented on #6259
Hey @lucasmrod can you add something to the documentation to record what rate limiting we applied to this?

[2022-08-19 17:40] zhumo commented on #7139
(Or if it can be QA'd, then pls assign to Reed)

[2022-08-19 17:50] senorsmile opened #7319 "Method to install Orbit in Nix/NixOS"
Gong snippet for `customer-numa`: https://us-65885.app.gong.io/call?id=2449764843789407955&highlights=%5B%7B%22type%22%3A%22SHARE%22%2C%22from%22%3A51%2C%22to%22%3A750%7D%5D

* @noahtalerman: *User requested this because* deploying Fleet's agent (fleetd) on NixOS is currently difficult due to its hardcoded reliance on a bundled osquery binary, which isn’t compatible with NixOS’s packaging constrai

[2022-08-19 18:08] ksatter opened #7320 "Vulnerabilities are duplicated in Software Details page"
**Fleet version**: 4.17.0 and 4.18.0

**Operating system**: macOS 12.5.1

**Web browser**:  Chrome 104.0.5112.101

<hr/>

### 🧑‍💻  Expected behavior
When viewing software details, I expect to see a list of all detected vulnerabilities for that software with each vulnerability listed once:

![Screen Shot 2022-08-19 at 12 45 26 PM](https://user-images.githubusercontent.com/29607202/185677256-0e18faf

[2022-08-19 18:22] zhumo commented on #7249
@artemist-work I added some more details to the requirements. Please take a look.

[2022-08-19 19:09] xpkoala commented on #7196
Thank you for the report @KanchiMoe!

[2022-08-19 19:09] zhumo opened #7323 ""My Device" page is not showing failed policy count in tab."
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

Fleet Desktop v1.0.0

### 🧑‍💻  Expected behavior

I would expect the "Policies" tab to have a red "1" counter, to match the number of failed policies. This is what signals to users to click the policies. Ot

[2022-08-19 19:39] xpkoala commented on #7245
@roperzh Do you have any more information on this one? Do you have steps for reproducing?

[2022-08-19 19:43] xpkoala commented on #2985
I'm not able to reproduce this one, closing as such.

[2022-08-19 19:43] #2985 closed

[2022-08-19 20:03] roperzh commented on #7245
I have updated the issue description with more context and a video demonstrating the issue.

[2022-08-19 20:07] xpkoala commented on #6892
Context for this one. https://fleetdm.slack.com/archives/C019PP383QE/p1660935764195869

[2022-08-19 20:24] xpkoala commented on #4025
@sharvilshah do you recall this ticket? I might need some help reproducing or gaining context.

[2022-08-19 20:24] zhumo commented on #6657
@RachelElysia @gillespi314 Can this be closed because #6658 has been fixed?

[2022-08-19 20:30] lukeheath commented on #7323
I believe this this is intentional. Is that correct @noahtalerman?

[2022-08-19 20:33] xpkoala commented on #4501
@michalnicp This looks like it was lost in the Legacy Eng board. I just attempted to reproduce but didn't encounter an error. Is this still something that needs to be looked into?

[2022-08-19 20:47] chris-mcgillicuddy opened #7325 "Update Sandbox and demo copy on Platform page"
### Goal

Update copy on the Platform page to align with Sandbox and pivot from demos to conversations.

### How?

- [x] Write new copy for Platform page
- [x] Create PR to implement changes

[2022-08-19 21:46] noahtalerman commented on #7323
@lukeheath no, we'd like the policy account to appear on the **My device page** and not appear on the **Host details** page.

To determine this^, I'm referencing the spec (Task 1) in the following, old issue that tracked adding the **My device** page: #5445

[2022-08-19 21:55] lukeheath commented on #7323
@noahtalerman Got it, thanks for the confirmation.

[2022-08-20 21:08] zwass commented on #5842
Recent performance improvements in the users table in osquery could make this no longer necessary. I'm unassigning from myself as it is not a current priority.

[2022-08-20 21:09] zwass commented on #6924
I looked at this as well and I don't think it's going to be a great use of our time. What if we just change it to `My device (1 issue)` (using text instead of the icon to indicate the problem) for Windows?

[2022-08-20 21:28] zwass commented on #5939
I wonder if we should just remove the CTE now that the improvements have been out in osquery for a few months?

[2022-08-21 17:51] xpkoala opened #7329 "Hosts page loses pagination after transferring host to new team"
**Fleet version**: 4.18+`main`

**Operating system**:

**Web browser**: Version 15.5 (17613.2.7.1.8)

<hr/>

### 🧑‍💻  Expected behavior
Pagination would always be present on a page where it is implemented.

### 💥  Actual behavior
After transferring hosts to a new team pagination no longer applies to the /hosts/manage page.

### More info
Video of the behavior: https://www.loom.com/share/a6a6ab911e

[2022-08-21 17:55] xpkoala commented on #6657
This was fixed. Closing as such.

[2022-08-21 17:55] #6657 closed

[2022-08-21 18:11] xpkoala commented on #7245
@roperzh Thanks!
@lukeheath Makes sense to surface an error in this situation?

[2022-08-21 18:42] xpkoala commented on #7164
Outdated, closing.

[2022-08-21 18:42] #7164 closed

[2022-08-21 18:52] xpkoala commented on #7171
I'm seeing the same thing, @RachelElysia.

It also looks like the _'Next'_ button is clickable when it shouldn't be in some circumstances. If the number of hosts assigned to a team is a multiple of 20 the _'Next'_ button will be clickable and take the user to a page similar to the one you showed above. I can spin this out into a new ticket if you don't believe it's related.

[2022-08-21 19:03] xpkoala commented on #7199
Reproduced, assigning to @chiiph for prioritizing.

[2022-08-22 05:44] sharvilshah commented on #4025
Hey @xpkoala! this was a customer having issues with their custom python extensions. There was a bug in the osquery-python SDK, where a couple of exceptions were falling through and not being handled.

This was fixed in https://github.com/osquery/osquery-python/pull/83 and with the release of new osquery-python SDK  here https://github.com/osquery/osquery-python/pull/84.

This has been fixed, and

[2022-08-22 12:23] chiiph commented on #7153
@juan-fdz-hawa what terminal were you using for this? I _think_ it used to work with git bash.

[2022-08-22 14:28] juan-fdz-hawa opened #7332 "OVAL vulnerability detection not working"
**Fleet version**: 4.18+main

**Operating system**:

**Web browser**:

<hr/>

### 🧑‍💻  Expected behavior
Software inventory vulnerabilities should show for Linux based hosts.

### 💥  Actual behavior
Vulnerability detection not working.

### More info
Bug was introduced in https://github.com/fleetdm/fleet/pull/6562

[2022-08-22 15:19] juan-fdz-hawa opened #7335 "Refactor vulnerability detection pipeline to use the new operating_systems table."
As mentioned on the slack conversation - I think we should look into refactoring the vulnerability code to use the `operating_system` table instead.

_Originally posted by @juan-fdz-hawa in https://github.com/fleetdm/fleet/pull/7294#discussion_r951571629_

[2022-08-22 15:37] lukeheath commented on #7245
Yep, there is a [TODO in the code](https://github.com/fleetdm/fleet/blob/55c34918c65a6496947c1ae64de1747a985e50a9/frontend/pages/RegistrationPage/RegistrationPage.tsx#L45-L59) for this.

We should be making a call to `renderFlash` like:

`renderFlash("error", `We were unable to configure your Fleet instance. Please notify your system administrator.`);`

@noahtalerman ^ Thoughts on error message/

[2022-08-22 15:52] chris-mcgillicuddy opened #7336 "Update copy on Sandbox registration page"
### Goal

Update the content on the Fleet Sandbox page to increase submissions.

### How?

- [x] Identify compelling features
- [x] Write new content
- [x] Send to Tim for review
- [x] Ask Mike T. if we would need to adjust page layout to accommodate new content
- [x] Make any revisions
- [x] Create PR to update content

[2022-08-22 15:54] chris-mcgillicuddy opened #7337 "Write YouTube video descriptions for demos"
### Goal

Write descriptions to inform viewers about the content of each demo.

### How?

- [x] Research YouTube description best practices
- [x] Watch demos to understand the content
- [x] Write descriptions for each demo
- [x] Send to Mike T for review

[2022-08-22 15:55] chris-mcgillicuddy commented on #7337
Description copy can be found here: https://docs.google.com/document/d/1WHXioB5CRMpQrRigUdDkaY-1wfIm-gZLzQxiWN7tY80/edit?usp=sharing

[2022-08-22 16:00] chris-mcgillicuddy opened #7338 "Update Calendly description to align with "Talk to an expert" CTA"
### Goal

Update Calendly description to prepare people for the call and encourage bookings.

### How?

- [x] Discuss what the call would look like with Alex
- [x] Update description accordingly
- [x] Send to Tim for review
- [x] Make any necessary revisions

[2022-08-22 16:50] RachelElysia commented on #7171
@xpkoala @lukeheath

I realized this is also the case for clearing a policy, etc.

[2022-08-22 16:53] michalnicp commented on #4501
@xpkoala I also was not able to reproduce. This issue was created a long time ago, so it's possible another change fixed it. However, I think it's still a good idea to update the database schema to ensure that we do not insert NULLs for platform which will cause this issue to surface again.

[2022-08-22 16:59] xpkoala commented on #4501
Thanks for the info! I'll let @chiiph figure out priority in that case.

[2022-08-22 17:21] zhumo commented on #7323
@noahtalerman should it have the red count icon in all cases? Why not show it on the host details page?

[2022-08-22 17:40] xpkoala commented on #7332
@juan-fdz-hawa Is this ready for me to test? If so I can move it over to the QA column.

[2022-08-22 17:40] juan-fdz-hawa commented on #7332
Yup - sorry forgot to update the issue.

[2022-08-22 18:32] lukeheath commented on #7135
@gillespi314 I'm lining this up for you in the upcoming release. Would you please take a look at the specs and the Figma and let me and @noahtalerman know if you have any questions or concerns? Feel free to modify the specs however needed to implement.

I'll wait until the ticket gets a 👍 from you before bringing into the release board.

[2022-08-22 18:37] chris-mcgillicuddy commented on #7338
V2 of Calendly description and event title: https://docs.google.com/document/d/1rsNfPmumt7S1f5DX6nkONLNFv5jMnYYBYpbGKKHldpg/edit?usp=sharing

[2022-08-22 18:39] lukeheath commented on #6610
@gillespi314 Would you please review the specs and Figma for this issue and let me or @noahtalerman know if you have any questions or concerns? Feel free to modify the specs as needed.

[2022-08-22 18:43] xpkoala commented on #6975
Should seeing vendor ID show up in the DB confirm this is working as intended? I'm not entirely sure how the customer was wanting to use the field. @chiiph @juan-fdz-hawa

<img width="1159" alt="Screen Shot 2022-08-22 at 1 37 51 PM" src="https://user-images.githubusercontent.com/11012743/185995281-e0d9c266-2f9c-45c3-9337-bb6f5232b8a3.png">

[2022-08-22 18:46] lukeheath commented on #6610
@gillespi314 Sorry, I forgot that Martin requested this ticket for something to work on while waiting on load tests. Reassigned to Martin.

[2022-08-22 18:48] juan-fdz-hawa commented on #6975
Should also be shown in the API end points:
`api/latest/fleet/software?page=0&per_page=20&order_key=hosts_count&order_direction=desc&vulnerable=false`
`api/latest/fleet/software/<software_id>`

Besides that, I don't think we show the `vendor` info anywhere in the UI?

[2022-08-22 18:51] noahtalerman commented on #6975
This is correct.

[2022-08-22 19:07] RachelElysia commented on #7136
@lukeheath

tldr LGTM

Just did a pass through, from what I gathered, appwide,we are just replacing `hostname` with `display_name` as the primary identifier of a host machine. Then on the manage host page, we're defaulting `hostname` and `computer_name` as hidden columns as `display_name` will be the key used for the Host column.

[2022-08-22 19:13] juan-fdz-hawa commented on #6975
Oh and also, you *should not* be able to see `vendor_old` in the API end-points.

[2022-08-22 19:15] chris-mcgillicuddy commented on #7336
@timmy-k Here's my first pass at new copy for the Sandbox page. What do you think?

https://docs.google.com/document/d/1lX5eJ2cOdhbPNsgvHblx7nm7TE6TXsh0IuG0CpeQWuQ/edit?usp=sharing

[2022-08-22 19:24] noahtalerman commented on #6259
@zhumo this feature is available for Fleet Free AND Fleet Premium customer correct?

I'm working on updating the Fleet 4.18.0 release blogpost. It looks like we might have incorrectly tagged this feature as paid only:
![Screen Shot 2022-08-22 at 3 24 30 PM](https://user-images.githubusercontent.com/47070608/186002259-8d949d3d-8afb-42bc-91ab-736aff692cb0.png)

[2022-08-22 19:31] xpkoala commented on #6975
This all checks out, thanks!

[2022-08-22 19:33] mikermcneil opened #7347 ""Enroll secret" »» "Enrollment secret""
### Goal

Use "enrollment secret" instead of "enroll secret" throughout the product, docs, and configuration surface.

"Enroll secret" is a term of art in Fleet which, while shorter than "enrollment secret", is based on incorrectly using the verb "enroll" instead of the noun "enrollment" to create a compound noun.

#### How that would look:

<img width="329" alt="image" src="https://user-images.gi

[2022-08-22 20:09] michalnicp commented on #7028
Ah okay, the private ip address way works. I saw that you added it to the readme. I think we can close this issue now.

[2022-08-22 20:09] #7028 closed

[2022-08-22 20:55] artemist-work commented on #7249
I think there's two ways we could do this:
* Big text blob in markdown
* List of examples where each one is markdown

If we were to do just a single big blob I might just put that in with notes because they'd end up in the same place in an online view

[2022-08-22 21:16] noahtalerman commented on #6396
@mikermcneil your sails email has full access to Heroku.

[2022-08-22 21:21] zwass commented on #6396
Hi folks, is there a reason why we can't configure this such that only @fleetdm.com email addresses have access? This is important production infrastructure.

[2022-08-22 21:29] noahtalerman commented on #6396
I now realize that the **Usage statistics ordered by deployment size** is a public URL. The URL needs to be public in order to populate the Google Sheet (internal): https://docs.google.com/spreadsheets/d/1Mh7Vf4kJL8b5TWlHxcX7mYwaakZMg_ZGNLY3kl1VI-c/edit#gid=0

One the requirements of this issue to make sure that customer data is only accessible to folks on the Fleet team.

@zwass can you please up

[2022-08-22 21:33] noahtalerman commented on #6396
@eashaw just checking on the 2 tasks above. Can I check them off as complete?

[2022-08-22 21:38] noahtalerman commented on #7054
Hey @zhumo heads up, it looks like the utm params might prevent the link from working.

`https://fleetdm.com/docs/deploying/configuration#just-in-time-jit-user-provisioning?utm_medium=fleetui&utm_source=sso-settings` takes me to the top of the Configuration page.

`https://fleetdm.com/docs/deploying/configuration#just-in-time-jit-user-provisioning` (No utm) takes me to the correct section.

[2022-08-22 21:45] roperzh commented on #7054
@noahtalerman @zhumo This is my bad, when I tested I didn't realize the page didn't scroll to the hash. Fix is in https://github.com/fleetdm/fleet/pull/7351

[2022-08-22 21:45] mikermcneil commented on #6396
I just switched out my Sails email to Fleet.

Makes sense to me, could be `something+bot@`

[2022-08-22 21:48] eashaw commented on #6396
@noahtalerman
- The Heroku app is locked
-  We have provisioned a new database but we haven't switched to it. I'll get it switched today.

[2022-08-22 21:58] xpkoala commented on #7054
Thanks for catching this @noahtalerman. I saw the correct page open but didn't catch that it was not going to the desired section.

[2022-08-22 22:27] #6190 closed

[2022-08-22 22:38] #6215 closed

[2022-08-22 22:42] ksatter opened #7352 "Add query's name and sql to the live query activity type"
## Goal

As a user, I want to know who ran what query as a live query. This will enable me to...
- create a richer audit trail
- test the performance impact of these queries

## Requirements

- In the activity feed in the Fleet UI, for the live query activity type, display the query's name if the query is a saved query.
- In the activity feed in the Fleet UI, for the live query activity type, add

[2022-08-22 23:11] chris-mcgillicuddy commented on #7267
@mike-j-thomas New CTA copy is ready for review. I included two options under Second pass. Feel free to chose whichever you think is stronger.

https://docs.google.com/document/d/1p0wVrWWlVTUHxUaB7xhZVNA1Q4kVx_KCmpnIDX8wQQI/edit?usp=sharing

[2022-08-23 00:28] noahtalerman commented on #6716
Hey @mike-j-thomas when you get the chance, can I please get your help on the following UI changes?

The "How?" section in this issue's description gives a longer walk through on what we're trying to accomplish with these changes.

1. As a user writing/testing a query, I don't need to see "Frequency," "Platforms," and "Minimum osquery version" options. This is because these options are used to adj

[2022-08-23 00:52] zwass commented on #6396
I made all values for `organization` column say "redacted" for now. Once we have a mapping spreadsheet, can you please add a link to it in the spreadsheet so that folks can find it? Thank you.

[2022-08-23 12:41] lucasmrod opened #7354 "`fleetctl updates add` command fails with `Error: make snapshot: invalid character ...`"
Version: `main`, commit 7e1e69c9.

Reproduced while trying to push a new Orbit update (from macOS host):
[code]

Older versions of fleetctl do not have this issue.

Hint: We have recently upgraded [go-tuf](https://github.com/theupdateframework/go-tuf) package.

[2022-08-23 13:49] zhumo commented on #6259
@noahtalerman Yeah it should be both free and premium.

[2022-08-23 14:02] zhumo commented on #7249
I think the current structure of the .table files is to have an array of examples. Let's keep that to enable backwards-compatibility, In the front-end website code, we can do the joining into a single string. WDYT?

[2022-08-23 14:09] artemist-work commented on #7249
That sounds good, I'll write some examples like that

[2022-08-23 14:52] xpkoala opened #7357 "When using pagination next button should not work if there are 0 results on next page"
**Fleet version**:  4.18+ `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: Version 15.5 (17613.2.7.1.8)

<hr/>

### 🧑‍💻  Expected behavior
When clicking the _Next_ button when viewing results, results would be shown on the following page.

### 💥  Actual behavior
There are no further results to show and the user is shown a blank page.

### Reproduce

- Add 20 hosts to Fleet.
-

[2022-08-23 15:02] mna commented on #6961
Ran this (the current implementation is with messages of 255 chars max, with the unique index on the `name` + `issue_type` - name is the full message) in load testing environment:

* first with 60K hosts where ~50% report having munki installed and 50% of those report 10 munki issues (warnings and errors mixed randomly)
* then with 100K hosts, again with 50% having munki and 50% of those reporting

[2022-08-23 15:06] zwinnerman-fleetdm opened #7359 "Implement detectionlab"
### Goal

TODO

Implement detectionlab https://www.detectionlab.network/deployment/aws/

### Figma

TODO

### API wireframes

TODO

### How?

#### Frontend

TODO

- [ ]

#### Backend

TODO

- [ ]

[2022-08-23 15:08] zwinnerman-fleetdm commented on #7359
Created these issues to address upstream issues:
clong/DetectionLab#838
clong/DetectionLab#840

[2022-08-23 15:10] zwinnerman-fleetdm commented on #7359
Working on a forked version because of upstream issues [zwinnerman-fleetdm/detectionlab](https://github.com/zwinnerman-fleetdm/DetectionLab)

[2022-08-23 15:59] zwinnerman-fleetdm commented on #7359
clong/DetectionLab#841 also created

[2022-08-23 16:06] chris-mcgillicuddy commented on #7336
@mike-j-thomas Do we need to revise the page layout for the new content? It might throw off the balance with the photo on the left and everything else on the right.

[2022-08-23 16:38] rfairburn opened #7361 "Implement Fleet via Cloudformation for use in AWS Marketplace w/ BYOL pricing"
### Goal

Create a full Fleet CF deployment.  This should be able to do everything in basically one click and meet all requirements to be listed as a AWS Marketplace CF deployment.

- [x] Create AWS Account Org Account for Marketplace
- [x] Determine if Public ECR Repository is needed and create if so
- [x] Setup Cloud Formation Template.  Includes but not limited to:
- [x] VPC+Subnet Creation/Con

[2022-08-23 16:55] zhumo commented on #7249
Some context here is we want a front as so:
<img width="623" alt="image" src="https://user-images.githubusercontent.com/5359586/186178535-644567c5-b992-4567-babd-a149a3db568d.png">

The data ought to be in a way that makes it easy for the front-end dev to have a notes section and an examples section. As such, at a minimum, we want separate fields for the two

[2022-08-23 16:58] zwinnerman-fleetdm commented on #7359
its deployed, awaiting QA since I have no idea how to tell if this is working or not.

[2022-08-23 17:21] noahtalerman opened #7364 "On New label page, sidebar does not collapse"
**Fleet version**: `7fb109e`

This was observed on Fleet's dogfood (internal) instance.

<hr/>

### 🧑‍💻  Expected behavior
When selecting the "X" icon to the left of the sidebar, I expected the sidebar to collapse:
![Screen Shot 2022-08-23 at 1 18 50 PM](https://user-images.githubusercontent.com/47070608/186223575-f236b1f3-da05-4c86-90c7-3be2a95a1124.png)

This collapsing behavior occurs on the qu

[2022-08-23 17:25] noahtalerman commented on #6716
Hey @mike-j-thomas heads up, please ignore the first UI changes (number 1 in [the above comment](https://github.com/fleetdm/fleet/issues/6716#issuecomment-1223365422)) I asked for help on. This UI change is no longer relevant.

The second UI change (number 2) is still relevant.

Number 1 is no longer relevant because we decided to remove the "Frequency," "Platforms," and "Minimum osquery version"

[2022-08-23 18:23] zhumo commented on #7139
This is a duplicate of #7151. Closing.

[2022-08-23 18:23] #7139 closed

[2022-08-23 18:36] zhumo commented on #7067
Mo to:
1. Document that the vuln processing is only roman alphabet right now
2. Actually supporting other character sets to be roadmapped.

[2022-08-23 18:37] zhumo commented on #7067
@noahtalerman Can you do a quick look at the prevalence of non-Roman alphabet in CPE names.

[2022-08-23 19:13] mna commented on #7084
@zhumo Allright, I think I understand with that clarification (thank you!), so to rephrase how I understand it: all the Fleet API would be only allowed behind their SSO (so any non-SSO API endpoint would be blocked), and they would specifically allow this new minimal Fleet Desktop endpoint as an exception. Even if the fleet desktop token leaks, the endpoint that gives all the hosts' information wo

[2022-08-23 19:15] zhumo commented on #7084
@mna You got it! That's correct.

FYI Fleet Desktop will not be configurable to use the minimal endpoint. It'll just use it going forward. That work is captured here: https://github.com/fleetdm/fleet/issues/6946. Not relevant for us here, but just noting since you asked!

[2022-08-23 22:41] chris-mcgillicuddy commented on #7267
New docs CTA options are here @timmy-k

[2022-08-23 22:59] chris-mcgillicuddy commented on #7212
@timmy-k One-pager issue is here.

[2022-08-23 23:16] eashaw commented on #6305
Closed by https://github.com/fleetdm/fleet/pull/6929

[2022-08-23 23:16] #6305 closed

[2022-08-24 07:25] awx-vsyr opened #7371 "Add Windows support for `battery` table"
## Goal

| User story  |
|:---------------------------------------------------------------------------|
| As an endpoint operator,
| I want to run a query against `battery` table on my Windows hosts
| so that I can know the battery health of my Windows hosts.

## Changes

### Product
- [ ] osquery changes: Add Windows support to the `battery` table. PR is here: https://github.com/osquery/osquery/p

[2022-08-24 10:58] mike-j-thomas commented on #7267
@eashaw, I've added the new CTAs to the wires on this page: https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?node-id=1694%3A5979

Please can you update the site as soon as you get chance?

[2022-08-24 11:21] mike-j-thomas commented on #5579
Hey @zhumo, please let me know if these sizes are ok, or if you need it delivered any other way.
(based on https://github.com/fleetdm/fleet/issues/6675#issuecomment-1209818781)

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9118%3A292832

[2022-08-24 13:15] mna opened #7375 "osquery-perf: refactor the tool to make it easier to add new query results"
The `osquery-perf` command is used a lot to generate test data or in the load testing environment. It has mostly grown organically until now, and as it must always integrate new data to report every time we add features with new data ingestion, it could use a little more organization, abstraction and structure.

A lot of data is generated using randomization (e.g. munki, mdm, chrome profiles, etc.

[2022-08-24 14:12] noahtalerman opened #7377 "Add fleetctl and Fleet UI support for remote flags"
This feature requires Orbit, the Fleet agent manager: https://fleetdm.com/announcements/introducing-orbit-your-fleet-agent-manager

If, at some point, you revoked an old enroll secret, this feature won't work for hosts that were added to Fleet using this old enroll secret. This is because Orbit uses the enroll secret to receive new flags from Fleet. For these hosts, all existing features will work

[2022-08-24 14:20] noahtalerman commented on #6701
Validation for the `agent_option` key in the `config` YAML is now covered by this issue: #5222.

Closing this issue.

[2022-08-24 14:20] #6701 closed

[2022-08-24 14:28] noahtalerman commented on #7377
@zhumo do we want to add this requirement? I think yes.

Both the `config` and `team` YAML document (where `command_line_flags` live) will soon have this validation.

Also, it looks like we're adding `command_line_flags` to the UI by default. How do you want to handle the case in which folks with plain osquery add `command_line_flags`? (I think `command_line_flags` require Orbit)

I suggest adding

[2022-08-24 14:49] GuillaumeRoss commented on #7231
This was closed accidentally when merging a PR that contained only a part of them.

[2022-08-24 15:23] zhumo commented on #7377
btw it's all of these: https://osquery.readthedocs.io/en/latest/installation/cli-flags/

[2022-08-24 16:10] #3191 closed

[2022-08-24 16:10] #4120 closed

[2022-08-24 16:10] #5036 closed

[2022-08-24 16:10] #5463 closed

[2022-08-24 16:10] #5911 closed

[2022-08-24 16:10] #5983 closed

[2022-08-24 16:10] #6328 closed

[2022-08-24 16:10] #6384 closed

[2022-08-24 16:10] #6448 closed

[2022-08-24 16:10] #6475 closed

[2022-08-24 16:11] #6499 closed

[2022-08-24 16:11] #6588 closed

[2022-08-24 16:11] #6597 closed

[2022-08-24 16:11] #6674 closed

[2022-08-24 16:11] #6732 closed

[2022-08-24 16:11] #6774 closed

[2022-08-24 16:11] #6833 closed

[2022-08-24 16:11] #6834 closed

[2022-08-24 16:11] #6894 closed

[2022-08-24 16:11] #6910 closed

[2022-08-24 16:11] #6918 closed

[2022-08-24 16:11] #6928 closed

[2022-08-24 16:11] #6962 closed

[2022-08-24 16:11] #6965 closed

[2022-08-24 16:11] #6975 closed

[2022-08-24 16:11] #6979 closed

[2022-08-24 16:11] #7007 closed

[2022-08-24 16:11] #7032 closed

[2022-08-24 16:11] #7036 closed

[2022-08-24 16:11] #7053 closed

[2022-08-24 16:11] #7054 closed

[2022-08-24 16:11] #7070 closed

[2022-08-24 16:11] #7099 closed

[2022-08-24 16:11] #7104 closed

[2022-08-24 16:11] #7106 closed

[2022-08-24 16:11] #7144 closed

[2022-08-24 16:11] #7151 closed

[2022-08-24 16:11] #7156 closed

[2022-08-24 16:11] #7197 closed

[2022-08-24 16:11] #7206 closed

[2022-08-24 16:11] #7210 closed

[2022-08-24 16:11] #7211 closed

[2022-08-24 16:11] #7230 closed

[2022-08-24 16:11] #7239 closed

[2022-08-24 16:11] #7284 closed

[2022-08-24 16:11] #7285 closed

[2022-08-24 16:11] #7329 closed

[2022-08-24 16:11] #7332 closed

[2022-08-24 16:11] #7357 closed

[2022-08-24 16:17] lukeheath opened #7384 "Update `GET /hosts` and `GET /hosts/{id}` endpoints to return OS information from the new `operating_systems` table"
### Goal

As a User, I want to host information to contain detailed operating system information so that I can better understand operating system usage across my Fleet

### Requirements

We recently introduced the `operating_systems` table. However, the the `GET /hosts` and `GET /hosts{id}` endpoints are still populating the `os_version` property with the value stored in the hosts database table `

[2022-08-24 16:23] ghernandez345 commented on #7268
@lukeheath , @noahtalerman and I went through this to see the desired behaviour across all the different roles users can have. there are now documented here and expand the scope and effort of this ticket. I am going to pick this one up after my oncall week as I think this may be a day or two to fix.

[2022-08-24 16:27] lukeheath commented on #7268
@ghernandez345 Got it, thanks for the update!

[2022-08-24 16:34] lukeheath commented on #7371
@awx-vsyr Thank you for your suggestion! I'm assigning this issue to @zhumo to take a look at implementing this feature.

[2022-08-24 18:38] mna commented on #6931
@lukeheath @RachelElysia The backend PR is under review: https://github.com/fleetdm/fleet/pull/7280. It has an approval but given that it's quite a big one, I think it's worth having a second review before merge. That being said, in the meantime you can use that PR's branch to start work on the frontend, `mna-6961-munki-issues`.

[2022-08-24 19:24] michalnicp commented on #6227
Did some more investigation once Elastic APM was back up. Noticed that there was a lot of time spent executing on the following sql query

[code]

This is found in `server/datastore/mysql/sessions.go` `MarkSessionAccessed` which is used in middleware on every authenticated request (non osquery endpoints). Because the same auth token was used when loadtesting, this led to locking when trying to upd

[2022-08-24 19:32] mna commented on #6513
@lukeheath how about we merge that ticket with https://github.com/fleetdm/fleet/issues/5222 ? AFAICT it's a subset of the other ticket.

[2022-08-24 19:52] chris-mcgillicuddy commented on #7336
After reviewing with Mike T. and Tim, we decided to test different content on a weekly basis. This week we'll leave the content as is. We'll update it on 8/29 and again on 9/5 using the shorter versions in the Google doc.

[2022-08-24 19:54] lukeheath commented on #6513
@mna That works for me! Do the specs on #5222 need to be adjusted to include this fix? If so, would you please update as needed? I'll close this one out.

[2022-08-24 19:54] lukeheath commented on #6513
Closing in favor of #5222

[2022-08-24 19:54] #6513 closed

[2022-08-24 20:18] mna commented on #5222
@noahtalerman Regarding validation of config fields, one thing that came up in one of @roperzh 's PRs (https://github.com/fleetdm/fleet/pull/7353#discussion_r954127168) is that we will now have _legacy_ config fields, that have been superseded by new fields. We were wondering about the validation to apply to such fields - should they be accepted or not (based on this ticket's description, we want

[2022-08-24 20:29] noahtalerman commented on #5691
@xpkoala heads up, I completed the above. Closing this issue. Please let me know if you came across more false negatives.

[2022-08-24 20:29] #5691 closed

[2022-08-24 21:12] noahtalerman commented on #5222
Hmm, I think we should allow legacy (deprecated) fields. As a user, if a field is deprecated, I would expect to be able to use this field without `--force`.

How much work would it take to return a warning like "the `deprecated field name` is deprecated in favor of `new field name`." ?

I think we should take this on.

[2022-08-24 21:48] noahtalerman commented on #7377
@lukeheath can you please file the child issues for this epic and move them into the "Designed" column?

[2022-08-24 21:58] noahtalerman commented on #7310
Slack thread (internal) discussing what "Last fetched" and "Last seen" mean: https://fleetdm.slack.com/archives/C03C41L5YEL/p1660764619346719

Noah: Add a tooltip under the column header.

[2022-08-24 22:00] zhumo commented on #5579
@zwass If you need these assets in a certain format and size, please let Mike Thomas know.

[2022-08-24 23:00] michalnicp commented on #4804
This is a false positive that gets flagged because the ruby library mechanize has the word "ruby" in the title, and happens to have a version that matches a ruby version.

[code]

We could add an entry to the `cpe_translations.json` introduced in https://github.com/fleetdm/fleet/pull/6985 like the following

[code]

but we would need to potentially add an entry for every major.minor ruby version a

[2022-08-24 23:15] #7337 closed

[2022-08-24 23:15] #7325 closed

[2022-08-25 00:16] mike-j-thomas commented on #7267
New design is included in this PR https://github.com/fleetdm/fleet/pull/7388

[2022-08-25 00:35] mike-j-thomas opened #7389 "Website: Implement osquery tables on fleetdm.com"
### Goal

Create a new page for osquery tables on fleetdm.com

### Requirements
- Fleetdm.com ingests a new schema: https://github.com/fleetdm/confidential/issues/1619
- New page in fleetdm.com with the URL: /tables/:name
- Wireframes: https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?node-id=4528%3A13076

### Related
- Parent epic: https://github.com/f

[2022-08-25 01:00] mike-j-thomas opened #7391 "Fleet Newsletter"
## Children

- https://github.com/fleetdm/fleet/issues/4223
- https://github.com/fleetdm/fleet/issues/7392

[2022-08-25 01:07] mike-j-thomas opened #7392 "Website: Create newsletter email template"
## Goal

Deliver Fleet's v1 newsletter (releases and patches) to subscribed users.

## How?

- Create email template that supports Markdown content for each newsletter
- Newsletters will live in `website/views/emails/newsletters`

## Related
- Parent epic: https://github.com/fleetdm/fleet/issues/7391

[2022-08-25 01:11] mike-j-thomas commented on #4223
@timmy-k,

PR for getting the newsletter banner and subscription model for the database is here: https://github.com/fleetdm/fleet/issues/7392

Next step is to create the email template to send to subscribed users https://github.com/fleetdm/fleet/issues/7392

[2022-08-25 13:25] juan-fdz-hawa opened #7394 "Use MSRC parser to generate security bulletin artifacts"
### Goal

Use the parser added in https://github.com/fleetdm/fleet/issues/7077 we want to download and parse the MSRC feeds from 2020 up to today.

[2022-08-25 13:55] ghernandez345 commented on #7245
@noahtalerman @mike-j-thomas i've put together a quick error message implementation. how do we feel about this?

[2022-08-25 15:03] roperzh commented on #7245
I have no data to back this up, but I believe that more often than not the user doing the setup will actually be the administrator? maybe something on the lines of "please ensure the Fleet server can be reached" with a link to either the [FAQ](https://fleetdm.com/docs/deploying/faq) or the [debugging](https://fleetdm.com/docs/deploying/debugging) guide?

[2022-08-25 15:51] lucasmrod commented on #6441
How to test if Orbit 1.1.0 fixes the issue:

[code]

[2022-08-25 17:43] zhumo commented on #4501
Could not reproduce this issue anymore. We think this was solved elsewhere.

[2022-08-25 17:43] #4501 closed

[2022-08-25 19:36] zhumo commented on #7352
Hey @ksatter, here:

Do you mean "scheduled queries" instead?

[2022-08-25 20:35] lukeheath opened #7404 "Help users understand the data"
### Goal

As a User, I want the data presented to me to be contextualized to my use case, so that I understand what the numbers mean.

### How?

- [ ]

[2022-08-25 20:41] ksatter opened #7405 "Include scores in the vulnerability webhook payload"
### Problem

As a Fleet user, I would like to receive probability of exploit, severity, and whether or not their is a known exploit in the vulnerability webhook, so that I can prioritize the tickets.

The current webhook payload is as follows:

[code]

### Requirements
1. Include CVSS, EPSS, and known_exploits in vuln payload. These are for premium customers only.
3. Update example payload in the

[2022-08-25 20:42] lukeheath commented on #7404
@gillespi314 As we discussed, we're beginning to transform enough data for presentation that we need a transform layer. I'm creating this epic so we have an async place to form a strategy. I'd love to get your thoughts on how we could approach this problem to start putting definition around the epic. From there, we can spin out child issues to start moving forward.

[2022-08-25 21:26] ksatter commented on #7352
@zhumo I did! Thanks for catching that.

[2022-08-25 21:29] ksatter commented on #7352
This would be helpful to avoid running the query again if the results were not exported initially.

[2022-08-26 12:07] juan-fdz-hawa opened #7415 "Update docs to reflect new Windows OS vulnerabilities features"
### Goal

To document:

- The new `disable_win_os_vulnerabilities`

[2022-08-26 12:09] #7415 closed

[2022-08-26 12:10] lucasmrod opened #7416 "Orbit package installer should remove existing `osquery.db` to support osquery downgrades"
Some osquery releases introduce breaking changes that make downgrades not possible (without deleting the `osquery.db`).
See more here: https://github.com/osquery/osquery/pull/7675#discussion_r929012393, and here is a possible fix for this in the future: https://github.com/osquery/osquery/pull/7712.

That said, to support any breaking osquery downgrades, Orbit installer should remove any existing `

[2022-08-26 15:31] roperzh opened #7420 "server panics when applying a team config without `agent_options`"
**Fleet version**: 4.19.0

### 🧑‍💻  Expected behavior

If I apply a team config without `agent_options` the server doesn't panic. It's not clear to me if this key is required, either way we shouldn't panic.

The behavior is also confusing because you can create a team without `agent_options` but you can't edit a team without `agent_options`.

To Repo:

[code]

[2022-08-26 16:48] RachelElysia commented on #5725
@lukeheath Can we add this to 4.20, I already have a PR up :)

[2022-08-26 18:17] zhumo commented on #6227
Thanks Michal!

[2022-08-26 18:17] #6227 closed

[2022-08-26 18:58] zhumo opened #7423 "Fleet Sandbox should not have pre-existing activity when a user signs up"
### Problem
When a new user signs up for Fleet Sandbox, we are using that user's account to auto-add policies and queries so that Fleet Sandbox can provide value out of the box. However, because we are doing that, we are also generating events that mark this.

![image](https://user-images.githubusercontent.com/5359586/186973125-b3525ccd-2023-45f9-bdfb-b4cce3d38d01.png)

This is confusing for a new

[2022-08-26 20:11] GuillaumeRoss commented on #3906
@noahtalerman just checking - I think we talked about this at the same time you originally assigned it to me - you have what you need?

[2022-08-26 20:40] zhumo opened #7425 "include `secedit` table natively in osquery"
### Problem
On Windows, almost everything is configured in registry, esp. security settings. There is a registry table in osquery, and we can almost always query the registry table for the settings. HOWEVER across windows versions, the path sometimes changes, so we need to dynamically change the path for each windows version when we are writing windows policies.

Kollide has an extension for a `se

[2022-08-26 20:40] zhumo commented on #7425
@zwass @sharvilshah @lucasmrod @artemist-work any thoughts above?

[2022-08-26 20:41] zhumo commented on #7425
FYI @GuillaumeRoss

[2022-08-29 11:31] mike-j-thomas commented on #7308
@noahtalerman, wireframe is ready for review https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9159%3A292820

[2022-08-29 11:45] roperzh commented on #6348
@lucasmrod I'm taking a look at this and I have a couple of questions:

1. Regarding backwards compat, the spec says:

Is the implication here that we'd give special treatment to existing tokens (like setting `updated_at` to `NULL` or some value in the future?) otherwise Fleet Desktop instances without token rotation will have their token expired and won't be able to renew it.

But, even if we giv

[2022-08-29 12:03] lucasmrod commented on #6348
This part is just there because Fleet will be ingesting the token on every check-in, so we don't want to update the `updated_at` if the host's token value didn't change.

Actually, I didn't thought of this... good catch.
Am all ears on how we can support old/current fleet desktop installations:
- We could consider all existing tokens as "will never expire" if they were created before the migration

[2022-08-29 12:26] mike-j-thomas commented on #7309
@noahtalerman, I think the best first step is to display this information in a tooltip. Please could you define "Online" and "Offline" for me? Currently using lorem ipsum placeholder text. https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9168%3A305978

[2022-08-29 12:27] roperzh commented on #6348
@lucasmrod

I think this is good as long as we figure out a way to make them expire if the host updates and has the ability to rotate the token, right?

---

spitballing: Is token rotation a goal? or is a means to the end of giving users the ability to visit a browser URL? if it's the latter, do you have any thoughts on this alternative workflow?

1. The server has an endpoint `GET /api/_version_/

[2022-08-29 12:32] mna commented on #5222
Thanks @noahtalerman , I'll take a closer look as I work on this ticket. At the very least I think the warning could be returned when running in `--dry-run` mode. When actually applying a valid config, it would be trickier to return a warning as it would mean changing the response payload that we currently return on success (unless we hack this in a response header), but I'll take a closer look.

[2022-08-29 13:48] mna commented on #5222
@noahtalerman @lukeheath

The ticket description focuses on the validation of the YAML sent via `fleetctl apply` (and corresponding API endpoints: `POST /api/latest/fleet/spec/teams` for teams, and applying the app config calls `PATCH /api/latest/fleet/config`), but the appconfig endpoint is also used elsewhere directly (by the frontend) and there's an endpoint to update a team's agent options wit

[2022-08-29 14:18] artemist-work commented on #7425
I think it would make the most sense to have this integrated into osquery, depending on the effort required.
I'm not entirely against shelling out as long as we don't do any string interpolation and the program has a way of specifying that any input is not a flag (on Linux this would generally be `--`)

[2022-08-29 14:21] noahtalerman commented on #7245
I agree that we can improve the “Please notify your system administrator” instruction.

@roperzh I think we're on the right track here. I think we can clarify "Fleet server can be reached." What does this mean?

[2022-08-29 14:29] roperzh commented on #7245
@noahtalerman Sorry for the lack of clarity here! it means that the API endpoints can be accessed by the UI, eg: if you have a firewall or a proxy between the Fleet server and the UI, you might not be able to "reach" the server (which we have seen a couple of times.)

does that help clarify things?

[2022-08-29 14:40] lukeheath commented on #7323
@noahtalerman

Any thoughts on this?

[2022-08-29 14:55] lukeheath commented on #6429
@noahtalerman This feature was released in 4.19.0. Would you please confirm and close out this epic when you are available? Thanks!

[2022-08-29 14:57] lukeheath commented on #4883
@noahtalerman With the de-anonymization of usage statistics I believe this epic is ready to close out. When you have time would you please review this epic and close out if it's done? Thanks!

[2022-08-29 15:36] lukeheath commented on #6555
@noahtalerman Looks like this epic can be closed out?

[2022-08-29 15:36] lukeheath commented on #4970
@noahtalerman Looks like we can close this epic out.

[2022-08-29 15:41] zhumo commented on #7405
For affected software, we are not able to control the quantity of software objects, which may result in overflowing the system. To identify the softwares that are affected, we can use the api endpoint: `/api/latest/fleet/software?query=CVE-YYYY-XXXX`

[2022-08-29 16:14] mikermcneil opened #7431 "Are `software_id` + `os_id` filters supported at the same time in the API? The docs claim that they are, but we think they are not"
UPDATE:  Luke: I've tested and confirmed that `software_id` and `os_id` filters are supported at the same time at the [list hosts endpoint](https://fleetdm.com/docs/using-fleet/rest-api#list-hosts). I'm moving this issue to QA so it can get a second set of eyes before we close it out (2022-08-30).

UPDATE: Noah: @xpkoala when testing this issue can you please work with the engineers on the Interfa

[2022-08-29 16:22] mikermcneil opened #7432 "💬 #g-digital-experience: [public] Bug: Website styles: Inline code snippets wrappe..."
## Goal
[code]

## How?
- [ ] TODO

[2022-08-29 17:13] #5984 closed

[2022-08-29 17:17] #4025 closed

[2022-08-29 17:44] ghernandez345 commented on #7245
👍🏽 updated the copy

[2022-08-29 19:20] noahtalerman commented on #7175
All markdown files that reference "pack": https://github.com/fleetdm/fleet/search?l=Markdown&q=pack

[2022-08-29 20:11] noahtalerman commented on #7323
@lukeheath can you please add the red count to both the host details and my device pages?

I can't remember why we decided to not show on the host details page.

cc @zhumo

[2022-08-29 21:26] lukeheath commented on #7080
@ghernandez345 I'm assigning you this ticket from the roadmap to begin the spec process. Please spend some time researching the parent epic and related issues to understand goals and context.

Please also review the attached Figma to understand the visual changes. Make sure to read all of the dev notes, as they contain important details.

When you have a clear understanding of how this feature wil

[2022-08-29 21:27] lukeheath commented on #7080
@ghernandez345 One consideration for this feature is how to order the work between the schema work that Eric is doing and the interface work this ticket covers. Can we build it in unison, or should we wait for the schema work to be finished?

[2022-08-29 21:33] lukeheath commented on #7377
@mna  I'm assigning you this ticket from the roadmap to begin the spec process. Please spend some time researching the parent epic and related issues to understand goals and context.

Once you have a good understanding of the feature request, please update the specs as necessary to reflect implementation details.

Typically this would be separated into two issues (one for fleetctl+api changes, the

[2022-08-29 21:35] noahtalerman commented on #3906
@GuillaumeRoss can you please review the queries and messages we'd like to add in the Fleet UI for accuracy?

I'm pasting the queries and messages below:

### macOS

[code]

`disk_encryption_enabled` set to `true`:

"The disk is fully encrypted and the user must enter their password when they start their computer.
If recently turned on, encryption could take awhile depending on how much informatio

[2022-08-29 21:36] noahtalerman commented on #7308
@mike-j-thomas UI changes look good! I removed your assignment.

[2022-08-29 21:46] noahtalerman commented on #7309
@mike-j-thomas makes sense. I removed your assignment and added myself because I updated the placeholder text.

I also removed this issue from the digital experience board.

I brought this issue to product design review on 2022-08-29.

[2022-08-29 21:52] noahtalerman commented on #5222
@mna this is correct.

Yes. Thank you for calling this out. I updated the requirements (in issue description) to clarify this.

[2022-08-29 21:54] lukeheath opened #7440 "Display disk encryption status on host details page"
### Goal

As a user on the Host details page, I want to see the host's disk encryption status.

### Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=8869%3A291427

## Related
- #3906 (backend)

### How?

We'll accomplish the goal for macOS, Windows, and Linux (Ubuntu) by...
- Retrieving the new `disk_encryption_enabled` property from

[2022-08-29 21:57] noahtalerman commented on #5222
@lukeheath FYI. Calling this out so you're aware. The `PATCH /config` endpoint, used by the UI, will receive updated validation/error messages.

[2022-08-29 21:57] lukeheath commented on #7440
@RachelElysia I'm assigning you this ticket to finish the specs and bring to estimation. I separated this ticket into frontend and backend.

Please review the specs, related issue, and Figma to understand the goals and context of the issue. Then, update the specs as needed to reflect specific implementation details. Once it's ready, please move it into the "Specified" column so that we can know it

[2022-08-29 21:59] lukeheath commented on #3906
@mna I am assigning you this issue to review and finalize the specs. Please read through the issue and update the specs as necessary to reflect the implementation details. Once it's ready, please bring it into the "Specified" column on the roadmap so we know it's ready for estimation.

If you have any ideas, questions, or concerns, please tag the appropriate people and update the issue as necessar

[2022-08-29 22:13] juan-fdz-hawa opened #7441 "Upgrading to 4.19.0 might fail due to migration"
**Fleet version**: 4.19.0

**Operating system**: all

**Web browser**: None

<hr/>

### 🧑‍💻  Expected behavior
There shouldn't be any problems when upgrading to 4.19.0

### 💥  Actual behavior
If there are two or more entries in the software table with the same name, version,  source, release and arch and different vendor then  a new constraint added in 4.19.0 will fail.

### More info
Bug was intr

[2022-08-29 23:12] #7282 closed

[2022-08-29 23:14] #6959 closed

[2022-08-29 23:15] #7338 closed

[2022-08-30 13:17] GuillaumeRoss commented on #3906
@noahtalerman

I am assuming the strings like `disk_encryption_enabled` set to `true` are for my understanding and will not show up in the product. Let me know if this is not a good assumption.

**Mac**

disk_encryption_enabled set to true:

_I would completely scratch the second sentence. Unless you have a very old Mac, it's instant (few seconds), so I don't think we should tell people it might t

[2022-08-30 13:46] noahtalerman commented on #7352
Another prospective Fleet customer wants to know who ran what query.

[2022-08-30 15:44] lukeheath opened #7448 "Prepare 4.19.1 release"
Issues addressed with patch 4.19.1:

1) https://github.com/fleetdm/fleet/issues/7384

2) https://github.com/fleetdm/fleet/issues/7289

3) https://github.com/fleetdm/fleet/issues/7441

PR that includes CHANGELOG and version bumps (step 1 in [releasing Fleet process](https://fleetdm.com/docs/contributing/releasing-fleet#what-to-do)):
- #7453

[2022-08-30 15:56] mna commented on #5222
@noahtalerman I've created a draft PR with the documentation of all App Config settings, would love if you could take a look for early feedback: https://github.com/fleetdm/fleet/pull/7449

It's not a blocker, as I can work on the validation part independently of how it's documented. I will wait for feedback to complete the team documentation, though (I did leave a TODO in the PR for where the team

[2022-08-30 16:00] gillespi314 opened #7450 "Improve custom hooks"
- Refactor `usePlatformCompatibility` and `usePlatformSelector` hooks to separate state and render functionality and relocate rendering to the React component that uses the hook.
- Remove `useQueryTargets`, which is no longer used.
- Add unit tests for `frontend/utilities/sql_tools` and platform compatibility components.

[2022-08-30 16:00] lukeheath commented on #7431
@noahtalerman I've tested and confirmed that `software_id` and `os_id` filters are supported at the same time at the [list hosts endpoint](https://fleetdm.com/docs/using-fleet/rest-api#list-hosts). I'm moving this issue to QA so it can get a second set of eyes before we close it out.

[2022-08-30 16:38] lukeheath opened #7452 "New policy modal layout broken"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ Chrome

**Web browser**: _(e.g. Chrome 88.0.4324)_ MacOS

<hr/>

### 🧑‍💻  Expected behavior

The policy titles are displayed above the descriptions.

(screenshot from dogfood):

![image](https://user-images.githubusercontent.com/2495927/187492024-785d

[2022-08-30 16:42] lukeheath commented on #7431
I should note that the UI **does** restrict to a single filter, so you can't update the URL in the UI to include both with modifying the frontend. The API does support multiple filters, however, so it would be a simple change.

[2022-08-30 17:13] noahtalerman opened #7455 "Add device management capabilities @ Dogfood"
### Goal

Build, release behind a feature flag, and successfully fully adopt internally at Fleet (dogfood) new device management capabilities.

---

- The WIP draft #7396

[2022-08-30 17:15] noahtalerman opened #7456 "On command line, add ability to connect to Apple Push Certificates Portal"
## Goal

As a Fleet admin, I want to be able to connect Fleet to my Apple Push Certificates Portal account so that I can enroll macOS hosts MDM in Fleet. This way, I can update settings and install software on these hosts.

## Related
- Parent epic: #7676
- Child issues:
  - #8596
  - #8595
  - #8701
  - #8799

## Requirements
- Fleet admin can request a signed certificate signing request (CSR) fo

[2022-08-30 17:29] noahtalerman commented on #7352
Lucas:

Currently osquery's "distributed queries" do not have stats. (Fleet uses "distributed queries" for almost everything: live queries, policies, labels, additional and details.)

The way distributed queries currently work is:
1. Osquery requests queries to run (aka distributed/read)
2. Fleet sends N queries as response.
3. Osquery executes each "distributed query" one by one sequentially.
4.

[2022-08-30 17:52] lukeheath opened #7457 "Review frontend usage of `normalizeEmptyValues()`"
On the `HostDetailsPage` and `DeviceUserPage` we're using a function called `normalizeEmptyValues()` to normalize the object we're displaying. The problem with this function is that we're losing all typing on the resulting object. Typescript thinks every property is a string, regardless of what it actually is, which is causing problems further down the line.

I'm starting this thread so we can ide

[2022-08-30 17:53] lukeheath commented on #7457
@fleetdm/frontend Would y'all please take a look at this? I'm curious if anyone recalls why the `noramlizeEmptyValues()` function was added, and if we can brainstorm an approach that doesn't lose typing.

[2022-08-30 17:57] zhumo opened #7458 "Public freemium munki server"
### Problem
IT admins who use Munki must maintain a server to populate their managed software center. This requires overhead for the IT administrator.

### Solution
We could provide a munki server which simply links to the url for public installer files of common applications on behalf of IT admins. They could then choose which apps to include in their managed software center, without needing to s

[2022-08-30 19:05] gillespi314 commented on #7457
I'm afraid younger me was responsible for [this](https://github.com/fleetdm/fleet/pull/833).

We should definitely rework our approach to all of this.

[2022-08-30 19:08] chris-mcgillicuddy opened #7462 "Update pricing page for clarity"
### Goal

Simplify content on the pricing help people see the value of Premium.

### How?

- [x] Simplify or remove footnotes
- [x] Consider new method to organize content
- [x] Get approval from relevant stakeholder(s)
- [x] Create PR and commit the changes

[2022-08-30 19:09] chris-mcgillicuddy commented on #7462
Customer feedback expressing confusion about the pricing page:

[Alex McCollister](https://twitter.com/@AlexMcCollister) [@AlexMcCollister](https://twitter.com/@AlexMcCollister)
[@fleetctl](https://twitter.com/fleetctl) question: I legitimately can’t figure out what “Customer promise (fulfilled and ready to use, unless otherwise noted)” means exactly (daggers on your pricing page) — can you clarif

[2022-08-30 19:11] lucasmrod commented on #6348
The main worry around current Fleet Desktop static token is security. If the URL (with the token) is mistakenly shared or ends up in logs, then such device details are compromised.

A way to mitigate this (but still allow authenticated URLs for Fleet Desktop UX) is to rotate such token every 1 hour.

Let me know if this makes sense.

[2022-08-30 19:15] lucasmrod commented on #6348
Current thought: maybe the best route (for security reasons) is to warn users in the release changelog that if they upgrade Fleet to this new version, then they will need to upgrade their Fleet Desktop/Orbit instances too.

[2022-08-30 19:32] RachelElysia opened #7463 "Fleet UI: Clearing a filter pill does not reset host count to appropriate team"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

I filter my hosts on a team by software. I cancel the pill, I expect to see hosts and a count that still match the team that's filtered.

### 💥  Actual behavior

The hosts and co

[2022-08-30 19:46] juan-fdz-hawa opened #7465 "Bump up out of date migrations"
**Fleet version**: main

**Operating system**: All

**Web browser**: None

<hr/>

Some migrations are 'out-of-date', meaning their timestamp are before the last migration introduced in 4.19 - we will need to bump up their timestamps.

[2022-08-30 19:56] zhumo commented on #6348
I also wonder about the opposite upgrade path. TUF server silently updates Fleet Desktop, but the Fleet API is not updated, so all Fleet Desktops break. (this might also be relevant for the minimal api endpoint https://github.com/fleetdm/fleet/issues/6680)

[2022-08-30 20:06] roperzh commented on #6348
Sounds good to me, I'll go ahead and get started on this under the assumption that it's okay to make this a breaking change for old fleet desktop as @lucasmrod mentioned

Cc: @zhumo

[2022-08-30 20:17] gillespi314 commented on #7457
Notes and todos from [7127](https://github.com/fleetdm/fleet/pull/7217#issue-1339389305) will help to improve this situation.  See also my comments to [7460](https://github.com/fleetdm/fleet/pull/7460).

[2022-08-30 21:45] zhumo commented on #7456
@noahtalerman I'm gonna take this as we discussed.

[2022-08-30 21:48] timmy-k commented on #6526
DONE, so closing

[2022-08-30 21:48] #6526 closed

[2022-08-30 21:57] zhumo commented on #6348
If TUF updates fleet desktop to the latest automatically, but then Fleet API is not updated, will it sitll work?

[2022-08-30 22:07] lucasmrod commented on #6348
Good question.

I believe it's possible to make that in a compatible way.
@roperzh Let me know if you see any issues with this. AFAICS Orbit will feed the token when requested by Fleet (currently requested by Fleet <= 4.19.0 every "detail interval" (1h) by default).

[2022-08-30 22:09] roperzh commented on #6348
+1 good question, and I believe Lucas' statement is correct and the Fleet server won't have any problems dealing with a new Orbit version

[2022-08-31 10:54] roperzh commented on #6348
I started an early draft for Orbit and Fleet Desktop [here](https://github.com/fleetdm/fleet/pull/7475/files), Martin did almost all the work for the server in his PR, I will follow up with a cleanup.

[2022-08-31 14:28] mna commented on #7377
Draft specs for now:

### 1
- [ ] Support a new `command_line_flags` top-level key in the organization settings' agent options YAML and JSON (AppConfig)
- The `overrides` setting does not accommodate `command_line_flags`, which is why it is only allowed at the top-level (and not inside `config` or every override)

### 2
- [ ]  Support a new `command_line_flags` top-level key in the team's agent op

[2022-08-31 14:36] noahtalerman commented on #7455
@zwass I assigned this issue to you. This is the issue tracking the following Q3 OKR:

![Screen Shot 2022-08-31 at 10 36 13 AM](https://user-images.githubusercontent.com/47070608/187705394-0796013a-5644-4cc2-8102-a4e1f64de946.png)

[2022-08-31 14:47] noahtalerman commented on #6434
UPDATE: this issue will be addressed in Q4 2022 (noahtalerman 2022-08-31).

[2022-08-31 14:47] noahtalerman commented on #6431
UPDATE: this issue will be addressed in Q4 2022 (noahtalerman 2022-08-31).

[2022-08-31 14:53] noahtalerman opened #7479 "Know how many hosts, and which hosts, have a low disk space"
### Problem

I'm an engineer managing thousands of hosts and I'm overwhelmed with tracking the following goal:
- Know how many hosts, and which hosts, have low disk space.

This makes is hard to know what hosts I need to take action on.

## Parent epic
- #397

## Goals

1. Know how many hosts have a low disk space.

2. Know which hosts have a low disk space

## Requirements

- Fleet Premium users

[2022-08-31 15:13] rfairburn opened #7481 "Update Sandbox terraform to pull standard-query-library from git release tag"
Currently when we `terraform apply` to perform an update to sandbox (usually from main for the latest infrastructure features), we also bring along the standard-query-library from the branch we are working out of.  This should be pinned to the release that matches the image tag of the current pre-provisioned fleets and updated at the same time that we update those.

Since infrastructure updates he

[2022-08-31 15:21] noahtalerman commented on #7080
@mike-j-thomas it looks like there's a remaining wireframe TODO. If we still want this tooltip, can you please add this tooltip to the wireframes?

![Image](https://user-images.githubusercontent.com/47070608/187716120-176838d8-e5be-4b46-8a91-1173025d19ec.png)

[2022-08-31 15:22] noahtalerman commented on #7080
cc @ghernandez345 ^

[2022-08-31 15:24] lukeheath commented on #7109
@zhumo Question from @mna: Does this issue include the updates necessary for Orbit to receive agent options/flags or do we need to open a new ticket for that?

cc @noahtalerman

[2022-08-31 15:40] lukeheath commented on #6808
Needed for specs:
- Where does the config live?
- What do we call it?
- New ticket for backstory documentation.

[2022-08-31 16:01] RachelElysia commented on #7463
@lukeheath @xpkoala

Already built the solution and got it approved by Gabe and merged in. Moving it to QA on the current release board.

[2022-08-31 16:08] noahtalerman commented on #6429
Confirmed! Thanks for the reminder Luke.

No doc updates are required for this epic.

[2022-08-31 16:08] #6429 closed

[2022-08-31 16:10] zhumo commented on #7109
Hey @lukeheath @mna, No this issue does not. This is a sub-issue of
- https://github.com/fleetdm/fleet/issues/6851
which is parent epic encompassing this whole effort.

This ticket only reflects the one-off work needed for orbit to authenticate and communicate with fleet server. A follow-on ticket will be created, when @sharvilshah starts working on it, to address the actual reading/updating of fl

[2022-08-31 16:11] noahtalerman commented on #6396
@GuillaumeRoss FYI the requirements for to this were updated following discussion above. Please let me know if you have any concerns.

I'm closing this issue because the updated requirements are complete.

[2022-08-31 16:11] #6396 closed

[2022-08-31 16:13] noahtalerman commented on #4883
As of Fleet 4.19.0, all additions to usage statistics included in this issue's description are shipped.

[2022-08-31 16:13] noahtalerman commented on #6555
Yep!

[2022-08-31 16:13] #6555 closed

[2022-08-31 16:14] xpkoala commented on #3655
This issue has not been seen in some time. Closing as fixed.

[2022-08-31 16:14] #3655 closed

[2022-08-31 16:19] noahtalerman commented on #4970
We're close! There's remaining work to kick-off the on-call rotation for Fleet Sandbox.

I added a screenshot of this task to the issue description (under the "Platform" section):

![Screen Shot 2022-08-31 at 12 14 56 PM](https://user-images.githubusercontent.com/47070608/187727936-2a796893-6e22-412d-9c32-3dc5c8a5f8b7.png)

@chiiph heads up that I'm tracking this in this issue.

[2022-08-31 16:20] zhumo commented on #7109
@lukeheath @mna never mind!

https://github.com/fleetdm/fleet/pull/7246 covers both the flags and the authentication piece.

[2022-08-31 17:13] chiiph commented on #4970
@noahtalerman the specifics there are done. We've been on call since we hit production. We need to define the rotation and SLAs/expectations as time goes on. I'm going to write down the on call process to discuss when Zach gets back. I don't consider this part of the issue.

[2022-08-31 17:32] noahtalerman commented on #3906
Makes sense 👍

Got it. This is a great explanation. I'm going to update the text to include your explanation:

"The disk might be encrypted however FileVault encryption is off. This means that the disk can be accessed without entering password."

Makes sense. I'd like to continue using "the disk is encrypted" language:

"The disk is encrypted.
If recently turned on, encryption could take awhile de

[2022-08-31 17:33] GuillaumeRoss opened #7485 "Add a policy to detect 1Password emergency kits on desktop or in downloads"
### Goal

TODO
We use 1Password and people often forget to remove their 1P emergency kits from their machines. That's why we use a policy to detect them.

### How?

- [ ] Take the query we use internally and add it to the standard query library.

[2022-08-31 17:39] noahtalerman commented on #3906
Hey @mna heads up, I assigned myself.

Before you add specs to this issue, I'd like to review some changes during tomorrow's product design review.

[2022-08-31 17:45] #7485 closed

[2022-08-31 18:05] GuillaumeRoss opened #7487 "Improve Dependabot config by adding automatic assignees"
### Goal

TODO
We get Dependabot issues for different areas, especially with our monorepo. Because of this, it's hard sometimes to keep track, plus, a lot of the issues are actually irrelevant - a vulnerability in a library used offline to generate static content for our website being vulnerable to a DoS is not something we need to spend time on, but in a library used in Fleet's APIs, it would be

[2022-08-31 18:16] lukeheath opened #7489 "Ensure aggregate `hosts_count` is never included at `GET /hosts`"
### Goal

Previously, #6961 and #6732 included an update to `GET /hosts` that spec'd including the aggregate `hosts_count` within the related object.

To avoid confusion with the real-time `GET /hosts/count` endpoint, or the length of the array returned by `GET /hosts`, we want to remove the `hosts_count` property from both the `munki_issue` and `mobile_device_management_solution` properties.

[2022-08-31 18:17] ksatter opened #7490 "Add a warning to the Fleet UI when an integration is failing."
### Goal

As a Fleet user, I would like to know if there are issues developing with my integrations. Currently, when an integration API call fails, there are errors in the Fleet server logs but nothing in the Fleet UI to indicate that there is an issue.

### How?

Failed integration actions could be added to the Activities feed. It would also be useful to have a more visible error state. A banner

[2022-08-31 18:41] noahtalerman opened #7492 "Add new `GET /api/_version_/fleet/device/{token}/desktop` API endpoint"

[2022-08-31 18:42] lukeheath commented on #7457
Sounds good, thanks for the audit trail!

So looks like the purpose of the normalization function is to replace any falsey values with `---`. However, that introduces typing mismatches that are causing issues.

[2022-08-31 18:50] mikermcneil commented on #7462
cc @zhumo

[2022-08-31 18:52] GuillaumeRoss commented on #7487
I put in a basic PR that assigns NPM / go / NPM on website to separate assignees and reviewers, let's see how it works...

[2022-08-31 19:12] juan-fdz-hawa opened #7493 "Upload the generated MSRC artifacts to Github"
Using the artifacts generated in https://github.com/fleetdm/fleet/pull/7491 update https://github.com/fleetdm/nvd/blob/master/.github/workflows/generate.yml so that the NVD repo artifacts also include the MSRC generated artifacts.

[2022-08-31 19:13] juan-fdz-hawa opened #7494 "Use the MSRC security bulletin artifacts for detecting Win OS vulnerabilities."
Depends on https://github.com/fleetdm/fleet/issues/7493

[2022-08-31 19:54] xpkoala commented on #7289
@lukeheath @gillespi314  It looks like the filter is still showing 'Microsoft' in the description. The fixes for the Dashboard card and the /hosts Operating system column are fixed.

<img width="875" alt="Screen Shot 2022-08-31 at 2 52 09 PM" src="https://user-images.githubusercontent.com/11012743/187769681-cc2c0620-8865-4e46-85c3-dfc7eb2ac5c1.png">

[2022-08-31 19:54] lukeheath commented on #7487
Thanks for putting this together!

[2022-08-31 19:55] noahtalerman commented on #6808
@zhumo shoot, after our call today, I'm still struggling to understand this.

If I disable `GET /device/{token}`, I don't think it matters if I place this API endpoint behind SSO. Anyone behind SSO won't be able to access `GET /device/{token}` because it's disabled.

Do you know why someone would disable `GET /device/{token}`? Is this the case in which a user installs Fleet Desktop and only wants

[2022-08-31 19:55] gillespi314 commented on #7289
@xpkoala, good catch! I'll push this in just a moment.

[2022-08-31 19:59] #7487 closed

[2022-08-31 20:00] #7492 closed

[2022-08-31 20:04] lukeheath commented on #7489
@RachelElysia Just a heads up that this prop is being removed from the `GET /hosts` endpoint. I don't _think_ your using it, but just in case wanted to give you a heads up. That will merge early next week.

[2022-08-31 20:14] mna commented on #5222
@noahtalerman the _validation_ part of this ticket will definitely not make it into next week's release, but Luke and I were discussing this and wondering if you felt the _documentation_ part (basically, my draft PR mentioned above that I'd enhance with the team's configuration settings) should make it in this release? This is almost ready, and assuming you have the time to take a look before next

[2022-08-31 20:16] RachelElysia commented on #7489
Good to know! It was confusing looking at it and having it not actually match the host count.

[2022-08-31 20:24] roperzh commented on #6348
@zhumo FAQ/Summary of the current plan in regards to compatibility:

####  Are there incompatibility issues between a fleet server >= v4.20.0 and Fleet Desktop <= v1.0.0?

Yes, when a Fleet Desktop <= v1.0.0 connects to a fleet server >= v4.20.0 its token will expire in about ~1 hour, after the token is expired Fleet Desktop won't be able to talk to the server, and therefore:

-  it will display "

[2022-08-31 20:59] noahtalerman commented on #7310
@mike-j-thomas heads up, I assigned myself and removed you. This is because I'm working on this issue as part of the following epic: #6435

[2022-08-31 21:16] RachelElysia opened #7511 "Tech Debt: Consider making labels a query param like all other filters of the Manage Host Page"
### Goal

Currently, labels has it's own URL subdirectory path (e.g. https://localhost:8080/hosts/manage/**labels**/13/?order_direction=asc&order_key=hostname&team_id=1) even though it's being treated as a query param to the API. No other host filters has its own subdirectory path so we might want to convert the directory path /labels/ into a query param in the URL instead.

This would clean up th

[2022-08-31 21:58] noahtalerman commented on #7307
@mike-j-thomas can you please help me with the following?
- Hover state for the clickable items on the Home page
- Icons for "Last checked in" and "Low disk space"

[2022-09-01 13:37] zhumo commented on #7462
Can we just get rid of it and only have `* coming soon`?

[2022-09-01 13:43] noahtalerman commented on #7309
Feedback from Mike McNeil:
- Add spinner after updating a query from "draft" to "ready to run"
- Add “Frequency” options into the “Manage automations” modal for queries.
- Packs can only point to global queries
- As a team maintainer and team admin, I can no longer edit global queries. This is breaking (not in the automation sense). I can edit/delete any query that belongs to my team.  I can only

[2022-09-01 13:44] noahtalerman commented on #6716
Feedback from Mike McNeil on [current Figma wireframes](https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=8890%3A291474) (2022-08-30).
- Add spinner after updating a query from "draft" to "ready to run"
- Add “Frequency” options into the “Manage automations” modal for queries.
- Packs can only point to global queries
- As a team maintainer an

[2022-09-01 13:49] zhumo commented on #6348
| | FD < v1.0.0 | FD >= v1.0.0 |
| - | - | - |
| Server < 4.20 | Good | Good |
| Server >= 4.20 | Fails | Good |

This is my best understanding of your content above. If so, that's ok. I think the fail situation is not likely. It would require someone to be managing their own TUF server.

[2022-09-01 13:51] zhumo commented on #6348
@roperzh I think in terms of communication, we should just make clear in the release notes that customers managing their own TUF servers are recommended to increment FD to > v1.0.0 in addition to upgrading the server to 4.20

[2022-09-01 13:59] zhumo commented on #6808
Hey Noah, Definitely very subtle here... There are two relevant concepts here:
* Whether you are comfortable with the risk/reward tradeoff of the `/device/token` endpoint
* Whether you have some kind of auth'd walled garden such as SSO

Here's the decision flow in my head:

If you think the endpoint is, then just leave it all alone.
If you don't think the endpoint is acceptable and you do not have

[2022-09-01 14:10] zhumo opened #7515 "On command line, add ability to connect to Apple Business Manager"
## Goal

As a Fleet admin, I want to be able to connect Fleet to my Apple Business Manager account so that I can automatically enroll new, macOS hosts to Fleet. This way, I can order a new MacBook that automatically appears in Fleet when it's unboxed.

## Related
- Parent epic: #7676
- Apple Push Certificates Portal: #7456

## Child issues
- #8724
- #8725
- #8726
- #8733
- #9068

## Requirements
-

[2022-09-01 14:10] zhumo opened #7516 "CLI-only UX for manual enrollment setup"

[2022-09-01 14:28] juan-fdz-hawa commented on #7084
Just to make sure I'm on the same page here. `Fleet Desktop` only uses two end-points AFAIK: `/fleet/device/<token>/transparency` and `/fleet/device/<token>/policies` (the 'rest' are used by Orbit), so the scope of this issue is to add a new endpoint `/api/_version_/fleet/device/{token}/desktop` with the combined payload of `/policies` and `/transparency`?

Thanks

[2022-09-01 14:28] noahtalerman commented on #7307
@mike-j-thomas I assigned myself and removed your assignment.

Icons and screens look great! Thank you for the prototype.

[2022-09-01 14:42] lukeheath commented on #7084
@juan-fdz-hawa Thanks for checking. For security purposes, this is going to be a minimal endpoint. The entire response body will be:

[code]

It occurs to me now that we may need to include the results from the `/transparency` endpoint, as well, in order to meet Mo's criteria above to provide everything needed to render the Fleet Desktop menu icon:

@zhumo Should we expand the response body to inc

[2022-09-01 14:50] zhumo commented on #7084
@lukeheath yes please.

[2022-09-01 15:10] lukeheath commented on #7084
@juan-fdz-hawa I'm trying to get the payload for the `api/_version_/fleet/device/{token}/desktop/transparency` endpoint, but it looks like that endpoint redirects to the actual transparency page. Would you please look at the code and confirm that's the case? If it's just a redirect, then we don't need to worry about serving the URL.

[2022-09-01 15:16] noahtalerman commented on #6530
@defensivedepth is there a way to determine if the the device was enrolled via Lite-touch installation (LTI), Zero-touch installation (ZTI), or User-driven Installation (UDI)?

Here are some Microsoft docs on each of these methods: https://docs.microsoft.com/en-us/mem/configmgr/mdt/lite-touch-installation-guide

[2022-09-01 15:46] xpkoala commented on #7448
@lukeheath The three tickets have been checked and we should be ready for release.

[2022-09-01 16:38] noahtalerman commented on #7307
Hey @mike-j-thomas heads up, based on feedback from Mike McNeil, we're making the items clickable using the current Home page design.

You can see the latest design in Figma here: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9223%3A304723

I moved your slick prototype to the "🧼 Make Fleet UI (and Sandbox) homepage a touch sexier" Figma f

[2022-09-01 16:39] zhumo commented on #6946
@juan-fdz-hawa assigned this to you to make sure you don't lose this one... we need to change the agent to use the new endpoint. Let me know if that should be someone else though.

cc: @chiiph

[2022-09-01 17:20] GuillaumeRoss opened #7521 "The Malware Removal Tool built-in policy is wrong"
### 🧑‍💻  Expected behavior
I expected this policy to check XProtect and MRT:
<img width="772" alt="image" src="https://user-images.githubusercontent.com/73836008/187974528-694f466f-8e0b-4541-8f4c-7913f02047a5.png">

### 💥  Actual behavior
It checks secure keyboard entry instead:
[code]

### More info
Must've been a copy-pasta mistake. I'll fix it!

[2022-09-01 17:46] zhumo commented on #7456
Hello @lucasmrod @noahtalerman, can you take a look at the "MDM Base Setup" portion and give feedback? This is my proposed CLIX for the base setup (APNS and SCEP only)

[2022-09-01 17:49] ksatter commented on #7352
This came up in conversation with another customer, initially related to including the query in the osquery logs:

"let's say there are some security concerns about PII and PHI from a table. An admin could run a query on that table and could call it anything. We would like to be able to alert if certain tables are used. With our current configuration, our only option is to alert on the query name,

[2022-09-01 18:10] noahtalerman commented on #7431
Great! I added this to the issue description so that Reed knows what the current state of testing is.

Thanks for checking.

[2022-09-01 18:16] noahtalerman commented on #7431
@xpkoala when testing this issue can you please work with the engineers on the Interface team to create a list of all supported combinations of filters for the `GET /hosts` and test these filters?

I think adding this list to this issue's description makes sense.

This way, we know what works and what doesn't.

[2022-09-01 18:23] noahtalerman commented on #5222
Got it. Thanks for the update 👍

Yes! I think it's a great idea to move quickly on this and release the docs.

I haven't had a chance to review your PR. I'm hoping to get to this before next week.

[2022-09-01 18:24] noahtalerman commented on #5222
@tgauda @ksatter heads up, the validation part of this issue will not make it into the current release (4.20.0). Validation will be included in the following release (4.21.0).

The documentation improvements will make it into the current release (4.20.0).

I'm notifying you because this is a customer request.

[2022-09-01 18:29] GuillaumeRoss commented on #7521
@noahtalerman reopened since the fix isn't in 4.9.1 but will be in the next release!

[2022-09-01 19:01] noahtalerman commented on #6435
@lukeheath heads up, this issue and the related issues (found in the "Related issues" section) are a top priority after "Update query console right side panel in Fleet product". This is because they are tied to the following Q4 OKRs:

![Image](https://user-images.githubusercontent.com/47070608/187992170-bd54ff25-b314-45bf-8f31-23b2fae1fd21.png)

I'd like to estimate these issues during next week's

[2022-09-01 19:06] mikermcneil opened #7527 "Double scrollbars on /policies/manage"
**Fleet version**: v4.19.1

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior
Only one scrollbar (the outer one)

### 💥  Actual behavior
<img width="1484" alt="image" src="https://user-images.githubusercontent.com/618009/187992812-78fb65e4-4f0c-485e-8ba2-ea1b8e0d9bb3.png">

(Confirmed zoom level was standard before tak

[2022-09-01 20:53] noahtalerman opened #7532 "Address confusion around aggregate counts on Home page"
Related discussion: https://github.com/fleetdm/fleet/issues/4448#issuecomment-1080613672

### Goal

Address confusion around aggregate counts on Home page

[2022-09-01 20:54] noahtalerman opened #7533 "Show help text with an example team name in "Create team" flow"
## Goal

Show help text with an example team name in "Create team" flow to help folks understand the value and best practice of defining their teams around workstations, production servers, and canary equivalents of both teams.

## Requirements

- The requirements are specified in dev notes in the linked Figma page below.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fl

[2022-09-01 20:55] noahtalerman commented on #7533
(It confuses demos, since we recommend prospects and customers simply call theirs :computer: Workstations or :computer: Customer - Workstations or :computer::hatching_chick: Customer - Workstations (canaries) or :cloud: Servers or etc). Background: The current setup (while sensible) is harder to explain.  Making dogfood look like the best practices we’re espousing helps us “walk the walk”, and it

[2022-09-01 20:57] noahtalerman opened #7534 "After transferring hosts to a new teams, run policies right away"
### Problem
Currently, there is a lag between switching team and the policies getting updated.

### Requirements
- When transferring hosts between teams, the policies are recalculated for that host near-immediately.

[2022-09-01 20:57] noahtalerman commented on #7534
@zhumo I assigned you this issue.

[2022-09-01 20:59] noahtalerman commented on #5528
@lukeheath about how much work do you think this would take? 2 engineers for an entire release? More?

I'm trying to get a better gauge when/if we decide to prioritize this in the future.

[2022-09-01 21:00] defensivedepth commented on #6530
@noahtalerman Let me check a couple things

[2022-09-01 21:00] noahtalerman opened #7535 "Tutorial for setting up FEM, FIM, and process monitoring"
### Goal

FEM, FIM,  & process monitoring osquery flags tutorial answers these…
- You want to do process auditing, here's the flags you need to set
- You want to do FEM, here's the flags you need to set
- You want to do FIM, here's the flags you need to set

### Related
- "Manage flags for osquery remotely" issue:  #6851
- PR https://github.com/fleetdm/fleet/pull/7734
- Parallel issue https://gith

[2022-09-01 21:01] noahtalerman commented on #7535
@tgauda I assigned you this issue.

[2022-09-01 21:06] zhumo commented on #7534
Thanks Noah. Prioritized for Agent team. My initial guess is that any time an agent gets team transferred, we could reset the clock on sending up data. Will need to verify with the agent team.

[2022-09-01 21:14] lukeheath commented on #5528
@noahtalerman We need to move the integration logic from the global configs to individual REST endpoints before adding more integrations. That will be the big chunk of work that could easily take two engineers a full release. We've been wanting to prioritize that for awhile, and with Frank joining it might be a good time.

Once that's done, adding new integrations will be much simpler and stable.

[2022-09-01 21:17] lukeheath commented on #6435
@noahtalerman Sounds good and thanks for the heads up. I'll keep an eye out for these hitting the design column. Do you think that will happen by Tuesday?

[2022-09-01 21:21] #7448 closed

[2022-09-02 13:01] xpkoala commented on #7143
@ghernandez345  The copy for Team agent options is slightly different than Global for the activity feed.

The t1 bit should read something like "admin edited agent options for t1 team."

Also, I don't really grok what "spec" is referring to in this case (specification?). If "applied spec team" makes sense it's a 👍 from me, it just sounds a little weird? Would it make more sense as "applied team sp

[2022-09-02 13:47] xpkoala opened #7552 "Fleet 500s when changing hosts view"
**Fleet version**: `main`

**Operating system**: macOS 13

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior
When choosing to filter hosts on the /hosts/manage page a user would not be redirected to the 500 page.

### 💥  Actual behavior
When attempting to view Offline, Online, or New hosts, the user hits a 500 page.

### More info
Video of the behavior:
https://www.loom.com/share/3eb53dcdc05

[2022-09-02 14:10] noahtalerman commented on #7067
@michalnicp do you know how prevalent software with non-Roman alphabet names are in the CPE and CVE database?

Also, about how difficult will the change be to support software with non-Roman alphabet names?

[2022-09-02 14:30] noahtalerman commented on #7533
What kind of hosts?
- Workstations only
  - Are there different orgs in your company?
    - Yes
      - TEAMS: **Org 1 - Workstations**, **Org 2 - Workstations**, and **Workstations (canary)**
    - No
      - TEAMS: **Workstations** and **Workstations (canary)**
- Servers only
  - What kind of servers?
    - Cloud only
      - TEAMS: **Servers** and **Servers (canary)**
    - On-prem only
      -

[2022-09-02 14:56] noahtalerman commented on #3906
UPDATE: Noah: Made updates to the disk encryption copy. API/UI need to handle case when there’s no /dev/dm-1 or cut it. Goal is to be accurate.

(2022-09-02)

[2022-09-02 15:10] zhumo commented on #4883
Noah to check the data, then can close.

[2022-09-02 15:18] #4512 closed

[2022-09-02 15:34] roperzh opened #7557 "config files that can be applied via `fleet serve -c` don't work as documented"
**Fleet version**: _4.19.0_

### 🧑‍💻  Expected behavior

According to the [docs](https://fleetdm.com/docs/deploying/configuration#example-yaml8), applying a config file requires all configs to be nested under a `spec` key:

[code]

### 💥  Actual behavior

The default value for the config is applied, however things work if you specify the config like this:

[code]

### More info

This is either a p

[2022-09-02 15:58] RachelElysia opened #7558 "Frontend Tech Debt: Move rendering filter blocks into one component"
### Goal

TODO

Sparked from conversation: https://github.com/fleetdm/fleet/pull/7096#discussion_r961661055

All filter blocks are mutually exclusive. Consider a new component (to replace renderActiveFilterBlock) that will render the appropriate pill so we can move this code of off ManageHostPage.tsx

[code]

[code]

### Figma

TODO

### API wireframes

TODO

### How?

#### Frontend

TODO

- [ ]

[2022-09-02 17:12] lukeheath commented on #7557
@roperzh Great find and specs, thank you! Looking at the code, do you know if this applies only to the `osquery` config, or does it apply to everything nested under `config`?

[2022-09-02 17:44] roperzh commented on #7557
@lukeheath seems like this applies to all configs.

I find it strange that we're only finding about this now, so double checking I didn't do something dumb might be worth it

[2022-09-02 17:50] #6428 closed

[2022-09-02 17:57] juan-fdz-hawa opened #7559 "Include scores in the vulnerability webhook payload"
### Goal

As a Fleet user, I would like to receive probability of exploit, severity, and whether or not their is a known exploit in the vulnerability webhook, so that I can prioritize the tickets.

TODO

- [x] Include CVSS, EPSS, and known_exploits in vuln payload. These are for premium customers only.
~- [x] Include the operating system info in the affected host data (platform and os_version). Th

[2022-09-02 17:57] juan-fdz-hawa commented on #7559
Epic: https://github.com/fleetdm/fleet/issues/7405

[2022-09-02 17:58] noahtalerman opened #7560 "Fleet UI and docs show incorrect `hostsEnrolledByOperatingSystem` example stats"
**Fleet version**: 4.19.1

### 🧑‍💻  Expected behavior

We decided to use `hosts.platform` and `hosts.os_version` to populate the OS key and version fields in the usage stats payload: https://github.com/fleetdm/fleet/issues/5378#issuecomment-1162423883

The example payload in the Fleet UI and Fleet docs aren't updated to reflect this. Let's update both to reflect the current payload.

### 💥  Actual

[2022-09-02 18:00] noahtalerman commented on #4883
It looks like the example payload in the Fleet UI and docs don't match what we're collecting: #7560

I added the bug issue to this epic issue. We can close this epic once the bug is addressed.

[2022-09-02 18:14] #6259 closed

[2022-09-02 18:16] xpkoala commented on #5632
In testing, the baseURL defaulted to using https. I wasn't able to get this to break in my environment and I don't believe we have seen any similar issues from customers.

[2022-09-02 18:16] #5632 closed

[2022-09-02 18:21] lukeheath commented on #7557
@roperzh Got it, thanks!

@mna Would you please take a look at this next week before the release and confirm which config options in the yaml should not be nested inside of `spec`? I'm wondering if maybe it's for queries only? We'll want to make sure we're clear on this so we can update the documentation to match the code.

cc @noahtalerman

[2022-09-02 18:23] lukeheath commented on #7552
@xpkoala For version you list "4.19+ `main`". Does that mean this is a released bug? When I tested on dogfood running 4.19.1 I don't see it, but when I test on `main` I do see it.

[2022-09-02 18:32] xpkoala commented on #7552
This is just an issue in `main` currently. @RachelElysia mentioned it is potentially related to some of the filter components being moved / removed.

I started adding the "[version]+ main" to give some context as to "when" in `main` it was found since that can really be during any version. But I do see how that is confusing and makes it seem like this is present in 4.19. I'll change that and rethi

[2022-09-02 18:35] lukeheath commented on #7552
Got it, thanks for the clarification.

[2022-09-02 19:14] noahtalerman commented on #5222
@mna I left several comments in your PR: #7449

I think getting the docs into the next release is a great idea.

[2022-09-02 19:27] noahtalerman commented on #5528
Got it thanks!

[2022-09-02 19:28] noahtalerman commented on #6435
@lukeheath yes. I will @ mention you when they hit the designed column.

[2022-09-02 19:35] noahtalerman commented on #7557
My current understand is there are two configs...
1. Config applied with `fleet serve --config`
  - Specified settings can only be applied after stopping the Fleet server
  - YAML looks like this:
[code]
3. Config applied with `fleetctl apply -f`.
  - Specified settings can be applied while the Fleet server is running
  - YAML looks like this:
[code]

 @roperzh @mna is my understanding correct?

[2022-09-02 19:40] RachelElysia commented on #7552
Taking this from @ghernandez345 since it's my bug I introduced, PR shortly.

[2022-09-02 19:44] roperzh commented on #7557
@noahtalerman that is correct, thanks for clarifying! so seems like the problem is that the examples docs for configs applied with `fleet serve --config` are wrong (they shouldn't contain the `spec` key)

[2022-09-02 19:47] michalnicp commented on #7067
Most of the software in the CPE database uses ascii letters (doesn't contain accents, Cyrillic, etc)

[code]

Getting an accurate estimate of all software that has non-ascii names is much more difficult.

I'm not really sure this is a solvable problem with our current approach. Most entries in the CPE database are in English. We can't exactly translate the app names from another language to Englis

[2022-09-02 19:48] noahtalerman commented on #7557
@roperzh thanks for the follow up! I'm confused by the docs...

Do you know if the config applied with `fleet serve --config` requires the `apiVersion` and `kind` keys?

When you get the chance, can you see if you're able to applied a config with `fleet serve` that looks like this?

[code]

[2022-09-02 19:52] xpkoala commented on #6662
@mpdeimos I'm sorry for the delay with the help on this one. Are you still experiencing the same trouble you originally reported? Have you attempted to upgrade to the latest fleet version, 4.19.1?

I'm in the process of standing up an arch linux machine to enroll and play with to see if I can recreate your issue. Any new information would help in that regard.

All the best!

[2022-09-02 20:00] roperzh commented on #7557
@noahtalerman

[code]

just tried and this works for me 👍, seems like it's just a matter of updating that page to remove: `apiVersion`, `kind` and `spec` from all examples

[2022-09-02 20:06] zhumo commented on #6553
@roperzh @lucasmrod can this be retested now that 5.5.1 has been out?

[2022-09-02 20:08] lucasmrod commented on #6553
@roperzh Could you retest with `--osqueryd-channel=edge`? (`osqueryd` in `edge` is 5.5.1)

[2022-09-02 20:09] roperzh commented on #6553
will do, right now I'm installing/uninstalling local builds of orbit & friends to test token rotation. I'll add this to my TODO and revisit once my env is stable again.

[2022-09-02 20:09] lucasmrod commented on #6553
[code]
My guess is `fleet_detail_query_software_macos`, but let's wait for osquery 5.5.1 to tell us which is the culprit query :)

[2022-09-02 21:11] chris-mcgillicuddy commented on #7212
First draft of one-pager content: https://docs.google.com/document/d/1KNGxSiYDBNbEiu6eeSrPnQ1Rv1WX8rKtK1xDMAbRw_Q/edit?usp=sharing

[2022-09-02 22:38] #4223 closed

[2022-09-03 17:33] defensivedepth commented on #6530
No, Windows Autopilot is not used very time a device enrolls to MDM. There are multiple ways that a device can be enrolled -

In the above miradore example, I used the manual process outlined here: https://www.miradore.com/knowledge/windows/enrolling-windows-10-devices-full-enrollment/

You can also also auto-enroll devices that are connected to Azure AD - as an example, that process for miradore

[2022-09-05 11:21] mike-j-thomas commented on #6716
Hey @noahtalerman, is this feedback for me? If it is, I need to schedule a time to discuss it with you.

[2022-09-05 13:18] mike-j-thomas commented on #4988
Fleet video ident on Drive https://drive.google.com/file/d/1J4sCnYsFcHqY9XODki04_Jn33Y9_X01e/view?usp=sharing

[2022-09-05 13:18] #4988 closed

[2022-09-05 18:57] zhumo opened #7579 "Script for validating osquery extensions were installed"
### Problem
Once osquery extensions are installed, how can we verify that the extension has been successfully installed successfully?

### Requirements
- Script to check that the extensions are successful

### Proposal

# osquery extensions remote management canary confirmation script

Pre-steps:
1. Create a canary team. Save the team ID.
2. Create a global query Currently-installed extensions wit

[2022-09-05 18:59] zhumo commented on #7579
@mikermcneil @lucasmrod @sharvilshah @zwass WDYT of the proposal section above?

[2022-09-05 20:09] lucasmrod commented on #7579
Looks good!, couple of questions/comments:

- Re 2: API also allows to run a non-saved query too IIRC.
- Any reason to use API instead of `fleetctl`? (e.g. `fleetctl get hosts --team <ID> --json` && `fleetctl query --query "SELECT * from osquery_extensions" --json ...`)
- Just to confirm, if an extension is present in `osquery_extensions` then it means it is successfully "installed"?

[2022-09-05 20:28] zhumo commented on #7579
@lucasmrod
1. It doesn't look like it from here: https://fleetdm.com/docs/using-fleet/rest-api#run-live-query. But lmk if I'm not understanding correctly.
2. Yes, could use CLI... I will note that.
3. I would think so, but @sharvilshah maybe you can confirm this is the case?

[2022-09-05 22:45] mikermcneil opened #7582 "Newly created users are not shown"
## Goal

[public] Tried to create a new observer user on http://dogfood.fleetdm.comdogfood.fleetdm.com> today and it didn't work.

(No error, but when refreshing the page, the user is not there.  Trying to create again fails the uniqueness check, so the email exists.  My guess would be there is something wrong with the UI.)

<img width="972" alt="image" src="https://user-images.githubusercontent.c

[2022-09-06 03:38] RachelElysia commented on #7582
Mine works, it's probably pagination since we changed it to 20.

[2022-09-06 03:39] RachelElysia commented on #7582
I'll get this up and running tomorrow AM.

[2022-09-06 11:33] ghernandez345 commented on #7080
@noahtalerman @mike-j-thomas what does "anything else if relevant" mean here? are there other OS platforms that could possibly be displayed? which are those and do we have icons we want to show with them?

![Image](https://user-images.githubusercontent.com/1153709/188625393-0dd4e061-ab4f-4a18-92ee-506ec81b3072.png)

[2022-09-06 11:40] ghernandez345 commented on #7080
@noahtalerman @zhumo I think we need to add the data to the fleet schema for columns that default to root in order to implement this on the UI.

![Image](https://user-images.githubusercontent.com/1153709/188626359-b97709de-78ce-4f8c-9ecf-a4d008c9838d.png)

[2022-09-06 11:40] ghernandez345 commented on #7080
@noahtalerman @zhumo I think we need to add the data to the fleet schema for columns that default to root in order to implement this on the UI.

![Image](https://user-images.githubusercontent.com/1153709/188626359-b97709de-78ce-4f8c-9ecf-a4d008c9838d.png)

[2022-09-06 11:40] ghernandez345 commented on #7080
@noahtalerman @zhumo I think we need to add the data to the fleet schema for columns that default to root in order to implement this on the UI.

![Image](https://user-images.githubusercontent.com/1153709/188626359-b97709de-78ce-4f8c-9ecf-a4d008c9838d.png)

[2022-09-06 11:40] ghernandez345 commented on #7080
@noahtalerman @zhumo I think we need to add the data to the fleet schema for columns that default to root in order to implement this on the UI.

![Image](https://user-images.githubusercontent.com/1153709/188626359-b97709de-78ce-4f8c-9ecf-a4d008c9838d.png)

[2022-09-06 11:52] ghernandez345 commented on #7080
@noahtalerman can I get more clarity about what the dev note about replace newlines with spaces means?

![image](https://user-images.githubusercontent.com/1153709/188627739-3dff32c7-2376-4435-a00a-cb077f67f7bf.png)

[2022-09-06 11:57] ghernandez345 commented on #7080
@noahtalerman @zhumo looking at the fleet schema we have `examples` as plural.

[code]

does this mean we could possibly have multiple query examples in this string? if so how do you feel about the data structure looking more like this?

[code]

[2022-09-06 12:31] ghernandez345 commented on #7080
@lukeheath i think we can work in parallel when building. as long as we have an agreed contract of how the schema will look and it has all the data we will need. Of course, we'll need the schema implemented to release to prod though

[2022-09-06 12:36] ghernandez345 commented on #7080
ah ok. @noahtalerman @zhumo will the new fleet schema include new line characters within the schema? in the example query there are none included. to display the queries in s smaller space they are fine just being a string without new lines

[code]

[2022-09-06 13:19] mna commented on #7557
I can take a shot at it (fixing the docs) in my https://github.com/fleetdm/fleet/pull/7449 PR.

[2022-09-06 13:35] RachelElysia opened #7583 "Fleet UI: Action dropdown does not fit on page pushing bottom of div"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

No extra scroll bar/scroll cutting off page

### 💥  Actual behavior

The action dropdown doesn't fit in the div so it's making a second scroll.. (note the create user button cut

[2022-09-06 13:35] RachelElysia commented on #7583
@xpkoala @lukeheath Putting this on the board and getting it fixed today.

[2022-09-06 13:45] noahtalerman commented on #6435
@lukeheath this issue and the other issues under the "Related" section in this issue's description are in the designed column. I assigned you these issues.

When you get the chance, can you please confirm high-level requirements and create child issues as necessary? Thanks :)

I also added an agenda item to today's interface weekly call. Item is to discuss these issues. I think it's a good idea to

[2022-09-06 13:53] noahtalerman commented on #6716
@mike-j-thomas this comment is feedback for me: https://github.com/fleetdm/fleet/issues/6716#issuecomment-1234302935

[2022-09-06 14:09] noahtalerman commented on #6808
@zhumo makes sense!

Have we considered turning off the endpoint (API route) for the user?

This could look something like...for every host doesn't have Fleet Desktop, Fleet won't reveal a `GET /device/{token}` API route. This way, users that don't think the API route is acceptable don't use Fleet Desktop.

I could totally be missing something...
- Maybe there's a case in which a user, who'd like

[2022-09-06 14:16] noahtalerman commented on #3906
UPDATE:

Decision made to cut Linux unencrypted case. (noahtalerman 2022-09-06).

[2022-09-06 14:21] noahtalerman commented on #3906
@mna I assigned this issue to you.

Updates since you were last assigned:
- For Linux hosts, the "Off" (unencrypted) state is not included in the API. This is because we're only detected if the `/dev/dm-1` drive is encrypted. For now we won't be able to determine if there's another drive that's encrypted.

[2022-09-06 14:28] noahtalerman opened #7585 "Count doesn't appear on Software page"
**Fleet version**: 4.19.1

<hr/>

### 🧑‍💻  Expected behavior

When I navigate to the **Software** page, I expect to see a count of all software items that match the applied filters above the **Software** table.

### 💥  Actual behavior

Sometimes, the count is not displayed.

### More info

Loom video capturing this behavior: https://www.loom.com/share/13a8f954f3e34a61a864932c19a6e8d2

[2022-09-06 14:45] noahtalerman commented on #7559
@zhumo if I recall correctly, we decided to not include operating system info in the affected host data.

It looks like we forgot to remove this requirement from the [epic](https://github.com/fleetdm/fleet/issues/7405):

The operating system items were removed from the example payload.

[2022-09-06 14:50] noahtalerman commented on #6530
@defensivedepth thank you for digging into this.

If it's valuable, we'd like to tell users which Windows devices were enrolled to MDM automatically v. manually. It's unclear whether or not this is valuable yet.

For macOS, an admin may have more control (non-removable MDM) over devices enrolled automatically (via what Apple calls [DEP](https://www.apple.com/mx/business-docs/DEP_Guide.pdf)). I'm n

[2022-09-06 14:52] lukeheath opened #7587 "Add new `missing_30_days_count ` property to the `GET /host_summary` endpoint"
## Problem

I'm an engineer managing thousands of hosts and I'm overwhelmed with tracking this goal:

- Know how many hosts, and which hosts, are missing.

This makes it hard to troubleshoot why a host is missing. Is the user on a longer vacation? Is the host stolen? Is the host is someone's closet? Is the host broken?

## Goals

1. Know how many hosts are missing.

## Requirements
- Fleet Premium

[2022-09-06 15:01] lukeheath opened #7588 "Add new `missing` value to existing `status` URL parameter at the `GET /hosts` endpoint"
## Problem

I'm an engineer managing thousands of hosts and I'm overwhelmed with tracking this goal:

- Know how many hosts, and which hosts, are missing.

This makes it hard to troubleshoot why a host is missing. Is the user on a longer vacation? Is the host stolen? Is the host is someone's closet? Is the host broken?

## Goals

1. Know which hosts are missing.

## Requirements
- Fleet Premium us

[2022-09-06 15:06] lukeheath opened #7589 "Add new "Missing" hosts count card to dashboard, and set `status` query param to `missing`"
## Problem

I'm an engineer managing thousands of hosts and I'm overwhelmed with tracking this goal:

- Know how many hosts, and which hosts, are missing.

This makes it hard to troubleshoot why a host is missing. Is the user on a longer vacation? Is the host stolen? Is the host is someone's closet? Is the host broken?

## Goals

1. Know how many hosts are missing.

2. Know which hosts are missing

[2022-09-06 15:08] lukeheath commented on #7589
@noahtalerman Questions:

1. Figma says "Remove the “Online” and “Offline” cards from the Home page.". Are we removing these cards from the free version, as well, or only the premium version?

[2022-09-06 15:09] lukeheath commented on #7589
@RachelElysia I'm assigning you this issue to finish specifications and bring to estimation. Please prioritize this issue in order to complete specs this week, as we will be bringing this into the next release cycle.

[2022-09-06 15:09] lukeheath commented on #7587
@mna New backend ticket that I spec'd. Would you please review and let me know if you have any questions or concerns before estimation? Thanks!

[2022-09-06 15:12] RachelElysia commented on #7585
I can't reproduce \= I'm wondering if it's some kind of race condition with line 368 of _ManageSoftwarePage.tsx_ and retrieving the config API that grabs isSoftwareEnabled.

I'm going to put a PR fixing re-rendering the count if isSoftwareEnabled changes since it starts off as false and probably changes to true and wasn't picked up.

If you can QA, that would be perfect.

[2022-09-06 15:19] lukeheath opened #7591 "Add new `low_disk_space_count` to `GET /host_summary` response"
### Problem

I'm an engineer managing thousands of hosts and I'm overwhelmed with tracking the following goal:
- Know how many hosts, and which hosts, have low disk space.

This makes is hard to know which hosts I need to take action on.

## Goals

1. Know how many hosts have low disk space.

## Requirements

- Fleet Premium users can see how many hosts (count) have less than 32 GB of disk space r

[2022-09-06 15:22] lukeheath opened #7592 "Add new `low_disk_space` URL parameter to the GET /hosts endpoint"
### Problem

I'm an engineer managing thousands of hosts and I'm overwhelmed with tracking the following goal:
- Know how many hosts, and which hosts, have low disk space.

This makes it hard to know which hosts I need to take action on.

## Goal

1. Know which hosts have low disk space

## Requirements

- Fleet Premium users can navigate to a list of hosts filtered by hosts that have less than 32

[2022-09-06 15:32] lukeheath opened #7593 "Add new "Low Disk Space" hosts count card to dashboard, and `low_disk_space` query param when listing all hosts"
### Problem

I'm an engineer managing thousands of hosts and I'm overwhelmed with tracking the following goal:
- Know how many hosts, and which hosts, have low disk space.

This makes is hard to know what hosts I need to take action on.

## Goals

1. Know how many hosts have a low disk space.

2. Know which hosts have a low disk space

## Requirements

- Fleet Premium users can see how many hosts

[2022-09-06 15:33] lukeheath commented on #7593
@RachelElysia I'm assigning you this issue to finish specifications and bring to estimation. Please prioritize this issue in order to complete specs this week, as we will be bringing this into the next release cycle.

[2022-09-06 15:34] zwinnerman-fleetdm opened #7594 "Sandbox Deploy Test Environment"
### Goal

TODO

### Figma

TODO

### API wireframes

TODO

### How?

#### Frontend

TODO

- [ ]

#### Backend

TODO

- [ ]

[2022-09-06 15:40] lukeheath commented on #7591
@mna Another API update. Would you please review the specs and let me know if you have any questions or concerns?

[2022-09-06 15:40] lukeheath commented on #7592
@mna Another API update. Would you please review the specs and let me know if you have any questions or concerns?

[2022-09-06 15:52] ghernandez345 commented on #6981
@noahtalerman and I have discussed this and even though there is some strange UX around moving from a team to another team or all teams, we should keep the policy filter applied to the hosts search

[2022-09-06 16:05] zhumo commented on #7559
Yikes. Yes that's true. Sorry about that. Should we remove it or would it be alright to keep it?

[2022-09-06 16:07] zhumo commented on #6808
That seems like a good step 2 here.

[2022-09-06 16:12] mikermcneil commented on #7582
Reed Haynes
  12 hours ago
It looks like the previous and next buttons are not working. I just created a new user, bobross, who will appear if you search for him, but does not appear on the default sort.

[2022-09-06 16:13] zhumo commented on #7080
@ghernandez345

I don't believe there are any more OS icons. We pared down to mac, windows, and linux a release or two ago.

Yes, there will be individual attribute defaults to root in the example schema.

The examples attribute is intended to be a blank open text field which accepts markdown. It will/should be joined into a sentence that supports newlines. Do the newlines need to be explicitly wr

[2022-09-06 16:28] juan-fdz-hawa commented on #7559
Cool, I'll update the PR

[2022-09-06 16:48] noahtalerman commented on #7589
@lukeheath @RachelElysia, we are removing the "Online" and "Offline" cards for both Fleet Premium (paid) and Fleet Free.

[2022-09-06 16:52] noahtalerman commented on #7585
@xpkoala heads up, engineering folks on the team had a difficult time reproducing the issue. Because of this difficulty, [the fix](https://github.com/fleetdm/fleet/pull/7590) has not been verified.

[2022-09-06 17:06] xpkoala opened #7597 "4.20.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/fleetctl-preview)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium te

[2022-09-06 17:19] eashaw commented on #7080
@zhumo Newlines should be explicitly written as `\n`

[2022-09-06 17:42] juan-fdz-hawa opened #7598 "Add missing integration test"
I'll defer this to another issue, as adding the integration test will not be trivial

_Originally posted by @juan-fdz-hawa in https://github.com/fleetdm/fleet/issues/7581#issuecomment-1238466887_

[2022-09-06 18:51] RachelElysia commented on #7307
@lukeheath Looks like an opportunity for a new component / testing since they will be used in various cards on the homepage

[2022-09-06 18:57] sharvilshah commented on #7579
Looks good! And yep, when extension is present in `osquery_extensions` it is successfully registered

[2022-09-06 19:05] noahtalerman commented on #6530
Notes for Noah:
- AutoPilot docs: https://docs.microsoft.com/en-us/mem/autopilot/windows-autopilot
  - Do devices enrolled with Autopilot have more features?
- Azure AD devices docs: https://docs.microsoft.com/en-us/azure/active-directory/devices/overview
  - Is AD required for devices that enroll with Autopilot?
-

[2022-09-06 19:11] lukeheath commented on #7479
Heads up this will likely require an engineer to modify the script that stands up these hosts.

[2022-09-06 19:28] lukeheath commented on #6970
@fx5 I'm assigning you this bug as a first ticket to start getting familiar with the code base. Just let me know if you have any questions or blockers.

[2022-09-06 19:36] lukeheath commented on #7135
@RachelElysia Heads up this will be moving to another engineer and will not be moving forward until later this week or next week.

[2022-09-06 19:53] RachelElysia opened #7601 "Fleet UX: Clicking selected label in dropdown will deselect that label"
### Goal

TODO

- Couldn't figure out how to deselect a label since I selected it from the dropdown
- Deselect is currently on the label pill on the far left, far from the UI the user clicks on to select a label
- Click label/platform dropdown again will close it (to match behavior of status dropdown)

### How?
- Consider deselecting a label by clicking on the selected label, IMO this is more intu

[2022-09-06 19:54] noahtalerman commented on #7559
Let's remove it because we don't have a compelling argument to include it.

Looks like operating system was removed. Thanks Juan!

I updated this issue's description to reflect this (we won't add operating system info).

[2022-09-06 19:56] RachelElysia commented on #7135
@lukeheath Thanks for the heads up, I already did work on https://github.com/RachelElysia/fleet/tree/display_name but I'm not too attached to finishing this PR. :)

[2022-09-06 19:59] noahtalerman opened #7602 "Update example vulnerability webhook payload in the UI"
### Goal

In the Fleet UI, inform Fleet Premium user that EPSS probability, CVSS score, and CISA known exploit are included in the vulnerability webhook payload

### Requirements

- In the **Software > Manage automations** modal, Fleet Premium users see the following webhook payload. Note the `epss_probability`, `cvss_score`, and `cisa_known_exploit` keys are new.

[code]
- Fleet Free users don't

[2022-09-06 19:59] lukeheath commented on #7135
Cool! Please hang on to that as we'll be working on this next release.

[2022-09-06 20:01] noahtalerman commented on #7405
@zhumo heads up, I filed a "Update example vulnerability webhook payload in the UI" issue: #7602

I assigned myself. I will prioritize this. I think this UI issue is a requirement for releasing this feature.

[2022-09-06 20:12] lukeheath commented on #6816
@zhumo Grabbing this one of your plate for my oncall document improvement.

[2022-09-06 21:09] noahtalerman commented on #7602
@lukeheath I missed spec'ing this issue when we brought [the backend issue](https://github.com/fleetdm/fleet/issues/7559) into the current release (4.20.0).

This issue is now spec'd.

If possible, can you please work with the Interface team to land this issue during code freeze?

[2022-09-06 21:10] noahtalerman commented on #7275
4.19.0 post is published here: https://fleetdm.com/releases/fleet-4.19.0

[2022-09-06 21:10] #7275 closed

[2022-09-06 21:11] noahtalerman commented on #7044
This issue was addressed in the following PR: #7142

[2022-09-06 21:11] #7044 closed

[2022-09-06 21:12] noahtalerman opened #7604 "Blogpost: Fleet 4.20.0"
Fleet 4.20.0 is scheduled for release on 2022-09-06

### Goal

Prepare and publish the release blogpost for Fleet 4.20.0 so that folks in the Fleet/osquery community can understand the latest improvements.

### How?

- [ ] @mike-j-thomas: Hand images for cover and primary improvements to @noahtalerman
- [ ] @noahtalerman: Write and publish blog post
- [ ] @noahtalerman: Complete CHANGELOG for 4.20

[2022-09-06 21:14] lukeheath commented on #7602
@noahtalerman Should be doable.

@RachelElysia Would you please take a look at this for inclusion this week? We can make a freeze exception for this since it's just an example change.

[2022-09-06 21:22] noahtalerman commented on #6628
Hey @michalnicp do you have stats or examples for how macOS vulnerability detection improved in Fleet 4.20?

For example, was Fleet not detecting vulns for some apps (false negatives) ? What apps are these?

I'd like to include these stats or examples in the release blogpost. This way, our users can answer "how did vulnerability detection improve for macOS?"

[2022-09-06 21:26] noahtalerman commented on #7604
@mike-j-thomas when you get the chance, can you create the images for this release blog post? Thanks :)

[2022-09-06 21:36] michalnicp commented on #6628
Couple notable examples

- Improved detection of Zoom vulnerabilities. Still needs some work as Zoom includes some extra version parts that aren't in the CPE database.
- Reduced false positives when ruby and node are installed via Homebrew. I think we can close https://github.com/fleetdm/fleet/issues/4804
- Can add additional rules to `cpe_translations.json` as further issues with vulnerability de

[2022-09-06 21:49] stephanmiehe commented on #6709
Hey folks, sorry for the delay. The combination of vacation and off-sites has kept me from getting back to y'all.

Thank you for all the context. Given the constraints you've outlined I can't think of a better approach. I do very much like the SSO approach described above.

[2022-09-06 22:42] timmy-k commented on #7212
@mike-j-thomas please make the printable version US letter size

[2022-09-06 23:46] roperzh opened #7605 "Fleet logo is undersized in setup screen"
**Fleet version**: `main` @ 9174c7c

**Operating system**: macOS 12.5.1

**Web browser**: Firefox 104.0.1, Chrome 105.0.5195.102

<hr/>

### 🧑‍💻  Expected behavior

Logo on the top left seems to be undersized

<img width="1413" alt="image" src="https://user-images.githubusercontent.com/4419992/188759026-f0593c47-72ee-401f-9ba8-b8e462e03ebe.png">

[2022-09-06 23:47] roperzh commented on #7605
@lukeheath assigning to you for prioritization

[2022-09-07 00:35] #7267 closed

[2022-09-07 00:37] mike-j-thomas commented on #7389
@zhumo, @mikermcneil, We need real data to set up the Algolia search. I’m concerned about QA time for this if we are to hit the Monday launch schedule. I suggest launching without the search function for now. What do you think?

[2022-09-07 01:00] roperzh commented on #7605
I think this was my local server being weird. Closing

[2022-09-07 01:00] #7605 closed

[2022-09-07 01:29] xpkoala commented on #7583
I do see the lower div expanding, but I'm not seeing the cutoff create user button on my end. I checked on Chrome, Firefox, and Safari.

[2022-09-07 02:17] xpkoala commented on #7585
I haven't seen the Count field report any inaccurate information or fail to be present after poking around the Software page for the day. I'm going to move this to the Ready column. @noahtalerman If you see the buggy behavior reappear could you please move this back to the Ready column and leave a message here showing the behavior. Thanks!

[2022-09-07 12:15] #7416 closed

[2022-09-07 12:52] mna commented on #7377
The answer is yes, this is part of the draft PR being worked on here: https://github.com/fleetdm/fleet/pull/7246 and confirmed by @zhumo here: https://github.com/fleetdm/fleet/issues/7109#issuecomment-1233153368. So this ticket should not have to modify the agent at all.

[2022-09-07 13:15] mna commented on #3906
We'll need a new table to store the host's disk status. I'd recommend making it a bit flexible so we're not stuck with today's requirement - today we only store the encryption status of a single drive, but it's not unthinkable that we'll want the status for all available drives in the future, and perhaps other properties than the encryption state for each drive. I'd suggest going with a JSON colum

[2022-09-07 13:35] sharvilshah commented on #7377
Just a heads up @noahtalerman @mna @zhumo -- both @lucasmrod and I think that `command_line_flags` is confusing, so I have changed it to `command_line_startup_flags` to make it easier to understand the intent

[2022-09-07 13:41] RachelElysia commented on #7602
Gotcha.

[2022-09-07 13:43] lucasmrod commented on #398
@noahtalerman

This is osquery's "remote API" that remote servers, like Fleet, implement: https://osquery.readthedocs.io/en/stable/deployment/remote/#remote-server-api

We could add such osquery link to our docs.

[2022-09-07 13:51] lukeheath commented on #7587
@mna Good call out. The same thing occurred to me. `mia_count` is an old prop we are planning to remove at Fleet v5. For `missing_count`, I thought about adding the day count to the name so it's something like `missing_10_days_count`, but I'm not 100% certain that the number won't be configurable in the future. to something other than 10.

@noahtalerman What do you think?

[2022-09-07 13:52] lucasmrod commented on #3156
I'll be attempting to document this while on call. @noahtalerman

I believe we have deprecated the "MIA" status, so we should instead explain the following three:
- "new host"
- "online host"
- "offline host"

Makes sense?

/cc @chris-mcgillicuddy

[2022-09-07 14:00] mna commented on #7588
@lukeheath Same as for #7587 , that's basically the same as for the `mia` status. I see you mention in 7587 that `mia` might be deprecated, but just want to highlight that the filter for `mia` was via the "status" query parameter (i.e. `?status=mia`): https://fleetdm.com/docs/using-fleet/rest-api#parameters24 , would we want a new "missing" status instead of creating a new query parameter `missing

[2022-09-07 14:06] mna commented on #7592
@lukeheath the concern here is performance - this information is in the `hosts.gigs_disk_space_available` field, which would need to be indexed to avoid a full scan. A new index impacts data ingestion, @chiiph any thoughts about that?

[2022-09-07 14:43] noahtalerman commented on #6530
@defensivedepth it looks like admins have a higher level of control over hosts enrolled to MDM and _joined_ to Azure AD. The [Autopilot reset feature](https://docs.microsoft.com/en-us/mem/autopilot/windows-autopilot-reset) is supported on these hosts.

Admins have less control over hosts enrolled to MDM and _hybrid joined_. Autopilot reset is not supported.

Is there a way to detect if a host is j

[2022-09-07 14:45] chiiph commented on #7592
We need to have a bigger conversation before we keep adding more and more options to this. If, for some reason, we cannot have that conversation before this ticket, the best I can think of is: let's move that column out of the host table, and index that. Which is going to be an annoying migration to run.

[2022-09-07 14:51] noahtalerman commented on #7585
Will do!

[2022-09-07 14:58] noahtalerman commented on #3906
@mna yes, it's likely that we'll want more properties for the encryption state for each drive.

For example, on macOS, in the future we'll likely want something like `name`, `encrypted`, `filevaultEnabled`, and `isBootVolume` properties.

I'm not sure if this affects the above assumption but it's likely we'll want to add teh ability to see the number of hosts with "on" or "off" encryption state.

[2022-09-07 15:20] lukeheath commented on #7587
@noahtalerman Assigning to you for product perspective on property naming.

[2022-09-07 15:29] RachelElysia commented on #7589
8 including the refactor

[2022-09-07 15:54] xpkoala opened #7609 "Overlapping text on Munki cards"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
When on a reduced screen size text would be concatenated and not overflow into other columns.

### 💥  Actual behavior
Text is overflowing.

### More info
![Screenshot 2022-09-07 at 10 52 26 AM](https://user-images.githubusercontent.com/11012743/18892

[2022-09-07 16:04] xpkoala commented on #6931
Small Fixes:
- _The “Munki” card is always the 3rd card on the Home > macOS page. The “Operating systems” and “Mobile device management (MDM) are displayed first._ The Munki card is currently showing above the MDM card.
- Misaligned arrow on Munki Card. IIRC the arrow should be centered on the text. This is occurring on all browsers.
![Screenshot 2022-09-07 at 10 59 15 AM](https://user-images.gith

[2022-09-07 16:28] xpkoala opened #7610 "Fleet command line tool link on advanced host page redirects to sandbox"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
The link out to fleetctl would take the user to a place where they could obtain download, install, learn about fleetctl.

### 💥  Actual behavior
The link out redirects to https://fleetdm.com/try-fleet/register

### More info

Picture of the button.
!

[2022-09-07 16:39] xpkoala commented on #4465
A few items that could use a second look:

- DeviceUserPage/InfoModal.tsx
![Screenshot 2022-09-07 at 11 32 44 AM](https://user-images.githubusercontent.com/11012743/188932171-cd9af31d-6a9a-4ec7-af2b-48e540f6f651.png)

- SSO.tsx(?)
![Screenshot 2022-09-07 at 11 38 21 AM](https://user-images.githubusercontent.com/11012743/188932993-7e12630c-b840-4608-863a-e714c047e112.png)

The rest of the link outs

[2022-09-07 17:08] xpkoala commented on #5288
I'm going to close this ticket for now for house cleaning purposes. If the problem persists could you please re-open the ticket with any new information that might be relevant. Thank you!

[2022-09-07 17:08] #5288 closed

[2022-09-07 17:14] chris-mcgillicuddy commented on #7212
@alexmitchelliii Thanks for the feedback! I've addressed your edits and suggestions. Could you please take another look when you have the time? If it looks good to you, @mike-j-thomas can move forward with the design.

[2022-09-07 18:01] xpkoala commented on #6348
@roperzh I was running from `main` yesterday and had no trouble accessing the 'my device' page. After grabbing `main` again today and navigating to the 'my device' page I am seeing the following error:

[code]
Is this related to the new token feature?

[2022-09-07 18:07] roperzh commented on #6348
@xpkoala that looks related, seems like the `host_device_auth` table in your database is missing a column, could you double check if you need to run any migrations?

Also, this release has a lot of PRs with migrations, you might have already executed a migration with a future timestamp, would it be too disruptive for you to clean your database and start anew?

[2022-09-07 18:07] RachelElysia commented on #7583
@xpkoala I'm going to say this is not a bug because no matter how much larger the page becomes, it makes a scroll from the create user button through the table while keeping the heading area sticky.

Therefore this one instance of a scroll that cuts off the create user button from the action dropdown is the same intended behavior if theres a scroll from the table being long.

https://user-images.g

[2022-09-07 18:08] #7583 closed

[2022-09-07 18:51] mna commented on #7557
Documentation fix is part of #7449 , so I'l mark this as under review.

[2022-09-07 18:57] roperzh commented on #6348
I just tried the following:

0. Reset my db
1. `git checkout fleet-v4.19.0`
2. `make && ./build/fleet prepare db --dev`
3. `git checkout main`
4. `make && ./build/fleet prepare db --dev`

And everything works, which hints to the fact that there's something off with your env @xpkoala , feel free to ping me if you need help sorting that out.

[2022-09-07 19:02] noahtalerman commented on #7604
@timmy-k heads up, it's likely the release blog post will be ready for publishing tomorrow afternoon EST.

[2022-09-07 19:04] timmy-k commented on #7604
Thanks @noahtalerman! FYI, @chris-mcgillicuddy is now in charge of the content calendar so he's the fellow to inform from here on!

[2022-09-07 19:38] noahtalerman commented on #7604
Got it!

[2022-09-07 19:44] mpdeimos commented on #6662
Net yet, I'm on vacation right now :)

But lemme clarify, Arch Linux **worked**, all other did not work.

[2022-09-07 19:45] #6816 closed

[2022-09-07 20:00] RachelElysia opened #7622 "Fleet UI: Over 20 teams do not get returned by API"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

If I make 21 teams or more, I should see 21 teams or more in the UI

### 💥  Actual behavior

The default call limits the number of teams returned to 20.

### More info

Fix short

[2022-09-07 20:01] noahtalerman commented on #7592
@mna can you help me understand the costs of doing this? Will this increase the time it takes for migrations to run when users upgrade? Will this force us the change the response of the `GET /hosts` API route? Something else...

That being said, having a conversation about filtering and performance would be valuable. Goal being Noah understands the costs for adding more and more filters.

[2022-09-07 20:30] mna commented on #7592
@noahtalerman @chiiph

Potentially, but what we could do is a "lazy migration" in that we create the new table (so the `gigs_disk_space_available` column lives outside the main `hosts` table, and has its index in that new table), but leave the old field around and leave the new table empty. Then, as hosts report back to fleet, store that disk space information into the new table instead of the old

[2022-09-07 20:41] chiiph commented on #7592
+1 to this.

12hrs in some customer's setups, fwiw. And that is assuming all devices are online.

[2022-09-07 20:45] zhumo opened #7624 "Deleting cookies required if SSO previously failed"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

After a failed SSO attempt, I can try again from the UI without the need to do anything else.

### 💥  Actual behavior

If an SSO request fails for whatever reason, the token on t

[2022-09-07 20:53] zhumo commented on #7389
@mike-j-thomas what do you mean by "real data" in this case?

[2022-09-07 21:57] xpkoala commented on #6348
I reran the flow and didn't encounter any issues, my guess is I missed the migration on the first go. Sorry for the confusion!

[2022-09-07 22:11] xpkoala commented on #7465
@juan-fdz-hawa Was this handled / will this affect the 4.20 release with customers upgrading from either 4.18, 4.19, or 4.19.1?

[2022-09-07 22:14] juan-fdz-hawa commented on #7465
Yeah this was handled in https://github.com/fleetdm/fleet/pull/7478 - with this in place you should see any problems updating from 4.19.1 to 4.20

[2022-09-07 23:27] chris-mcgillicuddy commented on #7604
@noahtalerman Can you please send me the link to the PR so I can review the article?

[2022-09-07 23:41] zwass opened #7629 "Build automated job for updating TUF timestamp metadata"
We had this automated using the previous Hetzner infra, but it needs to be re-done for AWS now that there's no longer a dedicated server.

## What needs to be done?

A job should run every hour that does the following:

1. Pull the `snapshot.json` and `timestamp.json` from the TUF repository S3 bucket.
2. Run the [`fleetctl updates timestamp` command](https://fleetdm.com/docs/deploying/fleetctl-ag

[2022-09-07 23:47] zwass commented on #7425
Using subprocesses has been disallowed in osquery core, so unless we can find some APIs that provide this within the osquery process we are going to need to go with the extension route. I am personally fine with using the MIT licensed implementation for the secedit table that Kolide publishes.

[2022-09-07 23:57] zwass commented on #7425
@defensivedepth can you give an example of the kind of information you'd be interested in getting with `secedit`? I wonder if some of the APIs in https://docs.microsoft.com/en-us/windows/win32/secmgmt/using-management could provide what we are looking for.

[2022-09-08 00:03] mike-j-thomas commented on #7389
@zhumo, sorry. I mean the pages being live on fleetdm.com

[2022-09-08 03:43] mikermcneil opened #7630 "💬 #g-interface: [public] Looks like an image isn't big enough:"
## Goal
[code]
(see blurriness of slider icon)

![image](https://user-images.githubusercontent.com/618009/189029396-e0fe9efe-685f-4756-a6f0-206b091acd5d.png)

## How?
- [ ] TODO

[2022-09-08 03:43] mikermcneil opened #7631 "💬 #g-interface: [public] Pencil and trash can are not aligned, but neithe..."
## Goal
[code]

![image](https://user-images.githubusercontent.com/618009/189029443-399ba998-06c2-4c6f-9071-2a4797a35f79.png)

## How?
- [ ] TODO

[2022-09-08 03:43] mikermcneil opened #7632 "💬 #g-interface: [public] Traffic jam ≈1013px width:"
## Goal
[code]
![image](https://user-images.githubusercontent.com/618009/189029427-03a1417e-c187-4570-9dad-4ed9ac73f944.png)

## How?
- [ ] TODO

[2022-09-08 07:24] fx5 commented on #7624
I tried with 2 different browsers, so I can still reproduce with the one I didn't delete cookies on. Please let me know if you need more information from me.

I got status 500 from `/api/v1/fleet/sso` with this error message:

[code]

There was a json body in the request, though: `{"relay_url":"/dashboard"}`

[2022-09-08 11:37] xpkoala commented on #7245
I'm not entirely sure if the error modal is out of place, but it does look like there is less space between the icon flow at the top and the registration fields that a user interacts with. Do you have any thoughts on this one @ghernandez345 ?

Would that have been touched with this fix?

<img width="1545" alt="Screenshot 2022-09-08 at 6 34 17 AM" src="https://user-images.githubusercontent.com/1101

[2022-09-08 11:42] xpkoala opened #7634 "Fleet setup page seems recently bigified"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
- There would be ample padding between the user setup and top icon imagery during Fleet setup.
- The Fleet icon in the top left would be easily readable.

### 💥  Actual behavior
- The page seems to have recently had some sizing issues? (I can confirm

[2022-09-08 11:47] ghernandez345 commented on #7245
@xpkoala looked at the code and for some reason the logo was made smaller. That was the only change though on the styles of this page. I'll make the logo larger again

[2022-09-08 11:50] ghernandez345 commented on #7634
@xpkoala the only change made was the logo was made smaller on by accident so I can change that.

The spacing between the top breadcrumb and the form is the same as it has been. no change was made there.

[2022-09-08 13:13] xpkoala opened #7637 "Get help via Slack button on policies dashboard card is squashed"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
The policy card would not show a crushed image

### 💥  Actual behavior
The policy card is broken.

### More info
<img width="812" alt="Screenshot 2022-09-08 at 8 10 01 AM" src="https://user-images.githubusercontent.com/11012743/189130753-9df52f58-aac

[2022-09-08 13:42] noahtalerman commented on #7622
@RachelElysia I assigned you and added this to the release board (in review column) because it looks like you opened a PR with the fix.

Great find ✨

[2022-09-08 13:53] noahtalerman opened #7641 "On Host details page, chevron next to "Back to all hosts" is small"
**Fleet version**: commit `f15979a `. This is the version deployed to Fleet's dogfood instance.

<hr/>

### 🧑‍💻  Expected behavior

I expected the chevron next to "Back to all hosts" to be the same size as the chevron next to "Back to software":
![Screen Shot 2022-09-08 at 9 53 43 AM](https://user-images.githubusercontent.com/47070608/189140321-43ae8772-b1e2-44f5-8a1c-5f4cd16f8847.png)

### 💥  Act

[2022-09-08 13:55] chiiph commented on #6717
My understanding is that this was an issue from the place processing the webhook, have we found any new data that might point to a different issue?

[2022-09-08 14:05] noahtalerman opened #7642 "On Home page, issues with Munki card"
**Fleet version**: commit `f15979a `

<hr/>

### 🧑‍💻  Expected behavior

There are 2 issues with the **Munki** card on the **Home** page:

1. I expect the title of the Munki card to read "Munki."

2. I expect the Munki card to be hidden if there are no hosts with Munki installed.

### 💥  Actual behavior

1. The title of the Munki card reads "Munki versions":
![Screen Shot 2022-09-08 at 10 05 12 AM

[2022-09-08 14:33] lucasmrod opened #7643 "Use Orbit to Fleet new communication channel"
### Goal

https://github.com/fleetdm/fleet/pull/7246 is adding the Orbit-to-Fleet communication channel (to implement setting osquery flags from Fleet).

1. We'd like to have "Capabilities"/"Features" sent as HTTP headers in every request and response. Why? To ease the addition of new features that do not break old versions of Fleet/Orbit.
2. We'd like the Fleet Desktop (rotating) token exchange t

[2022-09-08 15:04] lucasmrod commented on #7557
Adding a Slack discussion related to this issue: https://osquery.slack.com/archives/C01DXJL16D8/p1662648079415099

[2022-09-08 16:11] timmy-k commented on #5581
### Proposed strategy
1. V1: add screenshots, Youtube videos, SODM report
2. V2: reviews from homies?
3. V3: review cultivation strategy?
4. V4: lead capture in G2— chilipiper

[2022-09-08 17:21] lukeheath opened #7649 "Inconsistent hover state on select and input elements"
Addressed by the following PR:
- #7677

**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When hovering over these UI elements, I expect consistent hover effect.

### 💥  Actual behavior

Three different hover

[2022-09-08 17:21] noahtalerman commented on #7642
Sweet! I'm excited for this. Engineering building against the same specs that quality is testing.

[2022-09-08 17:29] noahtalerman commented on #7559
@juan-fdz-hawa the changes you made in [this PR](https://github.com/fleetdm/fleet/pull/7581) did not include adding scores to the Jira and Zendesk tickets, correct?

If not, I'll file an issue so we can prioritize this.

[2022-09-08 17:31] juan-fdz-hawa commented on #7559
Correct - I thought we only wanted to add them to the Webhook payload.

[2022-09-08 17:39] noahtalerman commented on #6628
@michalnicp what's left to close #4804?

Do we need to move #4804 into the "QA" column of the release board so that we verify all Fleet users, by default, get correct vulns for Ruby?

[2022-09-08 17:57] #6709 closed

[2022-09-08 18:12] lukeheath commented on #7642
Thanks for catching! FWIW It looks like it was in spec. But spec or not, there will be bugs, and we will be here to fix them 😄

-- spec --

3. Add empty state to Munki card.
- The “Munki” card only appears at all if there is at least one host with Munki installed.
- If I’m looking at the team view of the Home page, the card only appears if there is at least one host with Munki installed.

[2022-09-08 18:38] noahtalerman commented on #7649
@mike-j-thomas what do you think the hover behavior should be? Above is Luke's proposed behavior.

[2022-09-08 18:45] noahtalerman commented on #7377
@sharvilshah and @lucasmrod why do you think `command_line_flags` is confusing?

cc @zhumo

[2022-09-08 19:41] smaddock commented on #7624
Just +1-ing this, as I just ran into it as well. Clearing cookies let me log into the admin account with U/P again.

[2022-09-08 19:44] smaddock commented on #5542
Reproduced this with our Google Workspace account using https://support.google.com/a/answer/176600 ... guess this is good a time as any to sign up for Mailgun

[2022-09-08 20:18] noahtalerman opened #7656 "Add ability to get to Software details page from Host details > Software"
### Goal

Add ability to get to Software details page from Host details > Software.

### Requirements

The requirements are outlined in dev notes in the Figma page linked below.

### Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9522%3A314239

### Tasks

- [x] add link from the software name to the software details page.
- [x] upda

[2022-09-08 20:24] RachelElysia commented on #6079
These as well

![Image](https://user-images.githubusercontent.com/71795832/189218719-dd2e97e5-49e1-4b94-8c97-3043fb46a920.png)
![Image](https://user-images.githubusercontent.com/71795832/189218720-25d324f6-3477-4e12-8155-00d31e8a51a7.png)

[2022-09-08 21:00] xpkoala commented on #7597
[code]

[2022-09-08 21:09] mikermcneil commented on #6716
More feedback from a senior detection and response engineer:

[2022-09-08 21:36] michalnicp commented on #6628
Yes, we should probably move this to the QA column.

[2022-09-08 22:53] mikermcneil opened #7659 "💬 #g-interface: [public] At about 1000px width, the vertical alignment br..."
## Goal
[code]

![image](https://user-images.githubusercontent.com/618009/189239825-2af6a417-c96f-4bf8-90a6-4df9e906d99d.png)
![image](https://user-images.githubusercontent.com/618009/189239852-10d47e0d-8103-4fb7-b9a3-834118e4f472.png)

## How?
- [ ] TODO

[2022-09-09 00:25] mike-j-thomas commented on #7389
@zhumo, a question about the "Edit page" functionality. The way the tables are set up means that there is no easy way for the community to make edit suggestions to tables, like in osquery schema, where users are taken to the table in GitHub (https://github.com/osquery/osquery/blob/master/specs/darwin/account_policy_data.table)

In our case, users would have to directly edit the schema JSON. So it'

[2022-09-09 15:06] xpkoala commented on #7659
@ghernandez345 I'm still seeing some of the alignment issues when sliding the screen size down. It also seems like the version column doesn't dynamically reduce in size as the screen gets smaller, I'm not trying to add work to this fix, but would making that column dynamically shrink help with the spacing issues that are seen?

Here is a video of what I'm seeing
https://www.loom.com/share/6e3250d5

[2022-09-09 15:09] xpkoala commented on #7659
Related https://github.com/fleetdm/fleet/pull/7661

[2022-09-09 15:23] noahtalerman commented on #7587
@lukeheath I propose adding a `missing_10_days_count` and keep the plan of removing `mia_count` in Fleet 5.

Options and reasoning for how I reached this proposal are below. What do you think?

Options:

- Add `missing_count` now and remove `mia` in Fleet 5
- Add `missing_10_days_count` and remove `mia` in Fleet 5
- Update `mia_count` from 30 days to 10 days

Reasoning:

- It's likely that we will

[2022-09-09 15:28] RachelElysia commented on #7235
Living doc: https://docs.google.com/document/d/1WYmksff3aOO7NuzW1c6C3UTIiZn4lLfkAs3rTUIMBqw/edit?usp=sharing

[2022-09-09 15:49] ksatter commented on #6717
@chiiph @noahtalerman There's another report of this happening with the Jira integration.

https://osquery.slack.com/archives/C01DXJL16D8/p1662734906447749

[2022-09-09 15:57] zhumo commented on #6717
It's happening internally for us too. see internal security slack channel ~1:30 PM EST on Sept 9 2022.

[2022-09-09 16:15] zhumo commented on #7389
@eashaw @mike-j-thomas that's a great point, good catch! The osquery schema vs. the fleet schema does add a layer of complexity.

Nevertheless I still think some kind of edit button would be a great resource. It gives people the opportunity to tell us when the documentation is off, rather than silently walk away (of course, people may do this anyway).

I presume that the fleet schema will be a sta

[2022-09-09 16:17] zhumo commented on #7057
@xpkoala I'm gonna take on documenting the whole bug process (in addition to what happens after it leaves your hands)

[2022-09-09 16:25] ksatter commented on #6717
Confirmed, the user is sending vulnerabilities directly to Jira using the built-in integration.

[2022-09-09 17:08] lukeheath commented on #7587
@noahtalerman Thanks for your feedback. I agree, adding `missing_10_days` sets us up for future related properties. I've updated the specs to reflect the new name.

[2022-09-09 17:19] #6690 closed

[2022-09-09 17:24] #7594 closed

[2022-09-09 17:25] zwinnerman-fleetdm commented on #7594
Completed deployment, alb logs aren't working but that's not an issue for dev

[2022-09-09 18:15] zhumo commented on #7186
moving forward with recommending to upscale infra.

[2022-09-09 18:15] #7186 closed

[2022-09-09 18:17] #6838 closed

[2022-09-09 18:22] ksatter opened #7664 "Host applied to incorrect policy after removing Windows and installing Ubuntu"
**Fleet version**:  4.11.0

<hr/>

### 🧑‍💻  Expected behavior
When a host is reformatted with a new operating system, Fleet will no longer include the host in the results of policies that only apply to the original operating system.

### 💥  Actual behavior
After wiping a Windows machine enrolled to Fleet,  installing Ubuntu as the new operating system, and enrolling the host in Fleet, the host is

[2022-09-09 18:50] DrewBakerfdm commented on #6233
Added to the bottom section of the homepage. Closing.

[2022-09-09 18:50] #6233 closed

[2022-09-09 19:37] RachelElysia commented on #6781
While assessing what tests we have, I found we have a `components/PageHeader/TeamsDropdownHeader.tsx` which is currently only used on the Software page. This might be a good foundation to build the `TeamsDropdown` into a `PageHeader` component.

@lukeheath @ghernandez345

[2022-09-09 20:19] CharlotteChance commented on #4912
Updated

[2022-09-09 20:19] #4912 closed

[2022-09-09 20:24] noahtalerman opened #7671 "Add ability for users on a team to see which hosts pass/fail global policies"
### Goal

As a team admin, maintainer, or team observer, I want to be able to see a list of hosts that pass/fail global policies. This way, I can see which hosts I need to take action on.

[2022-09-09 20:32] noahtalerman commented on #7405
@zhumo heads up, I'm re-opening this and adding it to the Roadmap board because we have yet to release Fleet 4.20.0.

[2022-09-09 20:33] noahtalerman opened #7675 "Include scores in Jira and Zendesk tickets for vulnerability automations"
### Goal

As a Fleet Premium user, I would like to receive probability of exploit, severity, and whether or not there is a known exploit in the tickets for vulnerability automations, so that I can prioritize the tickets.

### Requirements

- Probability of exploit, CVSS score, and known exploits are included in the Jira and Zendesk tickets for vulnerability automations for Fleet Premium users
- In

[2022-09-09 20:33] noahtalerman commented on #7559
We'd like the additions to the webhook payload to mirror the information presented. This is a whoops from me. I missed including this in the issue.

Here's a new issue tracking updating the tickets: #7675

For almost all additions we make to the webhook payload, we'd like to make the same addition to the Jira and Zendesk tickets.

[2022-09-09 20:36] noahtalerman opened #7676 "Set up Apple Push Certificates Portal and Apple Business Manager (APNs, SCEP, and ABM)"
### Goal

As a Fleet admin I want to turn on MDM features in Fleet so that I can automatically enroll and enforce configuration on macOS hosts when they're first unboxed.

### Related
- Parent Epic: #7726

#### Website
- API for getting the certificate signing request (CSR): #8223

#### Backend only
- #7456
- #7515

#### Backend and frontend
- #7958
- #8537

#### Frontend
- #8855

#### Docs

- #87

[2022-09-09 20:39] noahtalerman commented on #7676
@mike-j-thomas FYI Mo let me know that you and Mo started to talk about setting up MDM in the Fleet UI. So that I can catch up, I plan to attend the next product design review call with you and Mike.

[2022-09-09 21:20] zhumo commented on #6334
This will be done as part of https://github.com/fleetdm/confidential/issues/1646

[2022-09-09 21:20] #6334 closed

[2022-09-09 21:20] zhumo commented on #7214
Done as part of https://github.com/fleetdm/confidential/issues/1646

[2022-09-09 21:20] zhumo commented on #7215
Done as part of Done as part of https://github.com/fleetdm/confidential/issues/1646

[2022-09-09 21:20] #7215 closed

[2022-09-09 21:20] #7214 closed

[2022-09-09 21:39] #3176 closed

[2022-09-09 21:39] #3947 closed

[2022-09-09 21:39] #4248 closed

[2022-09-09 21:39] #4465 closed

[2022-09-09 21:39] #4804 closed

[2022-09-09 21:39] #5138 closed

[2022-09-09 21:39] #5725 closed

[2022-09-09 21:39] #5732 closed

[2022-09-09 21:39] #6538 closed

[2022-09-09 21:39] #6610 closed

[2022-09-09 21:39] #6628 closed

[2022-09-09 21:39] #6666 closed

[2022-09-09 21:39] #6682 closed

[2022-09-09 21:39] #6931 closed

[2022-09-09 21:39] #6961 closed

[2022-09-09 21:39] #7000 closed

[2022-09-09 21:39] #7001 closed

[2022-09-09 21:39] #7076 closed

[2022-09-09 21:39] #7125 closed

[2022-09-09 21:39] #7171 closed

[2022-09-09 21:39] #7196 closed

[2022-09-09 21:39] #7245 closed

[2022-09-09 21:39] #7259 closed

[2022-09-09 21:39] #7268 closed

[2022-09-09 21:39] #7288 closed

[2022-09-09 21:39] #7289 closed

[2022-09-09 21:39] #7305 closed

[2022-09-09 21:39] #7312 closed

[2022-09-09 21:39] #7320 closed

[2022-09-09 21:39] #7323 closed

[2022-09-09 21:39] #7364 closed

[2022-09-09 21:39] #7384 closed

[2022-09-09 21:39] #7441 closed

[2022-09-09 21:39] #7452 closed

[2022-09-09 21:39] #7463 closed

[2022-09-09 21:39] #7489 closed

[2022-09-09 21:39] #7521 closed

[2022-09-09 21:39] #7527 closed

[2022-09-09 21:39] #7552 closed

[2022-09-09 21:39] #7557 closed

[2022-09-09 21:39] #7560 closed

[2022-09-09 21:39] #7582 closed

[2022-09-09 21:39] #7585 closed

[2022-09-09 21:39] #7597 closed

[2022-09-09 21:39] #7602 closed

[2022-09-09 21:39] #7609 closed

[2022-09-09 21:39] #7610 closed

[2022-09-09 21:39] #7622 closed

[2022-09-09 21:39] #7630 closed

[2022-09-09 21:39] #7631 closed

[2022-09-09 21:39] #7632 closed

[2022-09-09 21:39] #7634 closed

[2022-09-09 21:39] #7637 closed

[2022-09-09 21:39] #7641 closed

[2022-09-09 21:39] #7642 closed

[2022-09-09 21:39] #7659 closed

[2022-09-09 22:17] zwass commented on #7361
@zhumo I discussed this with @chiiph earlier today.

My prior understanding of this OKR is that it was about making it possible to deploy Fleet via AWS Marketplace (not about allowing Fleet Premium itself to be purchased through the Marketplace). It sounds like there is some complication here in that AWS may not allow the deployment to happen through the Marketplace and then have a license purchas

[2022-09-09 22:53] zwass commented on #6431
FYI Detection Lab is now set up. Please check in with @zwinnerman-fleetdm for info about how to access the environment.

[2022-09-09 23:02] zwass commented on #4970
@chiiph documented the oncall plan in https://docs.google.com/document/d/1WRnlIDQHetaTlYbFZrzXanKHhJonlloh4hBMI6IAPs8/edit.

[2022-09-09 23:38] zhumo commented on #7361
Hey @zwass,

My understanding about the bring-your-own-license option comes from [here](https://docs.aws.amazon.com/marketplace/latest/userguide/pricing.html#BYOL-pricing).

My understanding around licensing model is from [here](https://docs.aws.amazon.com/marketplace/latest/userguide/pricing.html#usage-pricing). It seems to imply we can do some kind of custom metric that fires. Definitely some wo

[2022-09-09 23:47] zwass commented on #7361
That BYOL link and the rest of that pricing page is great news! Sounds like we can support deploying plain Fleet (which IMO fulfills the OKR) and then come back within 90 days for BYOL + one of the "Contract pricing" options.

@chiiph @rfairburn please go ahead with implementing plain Fleet using whatever technical means seem appropriate. I think we can come up with a pretty good idea of how to su

[2022-09-10 00:14] zwass commented on #7361
I took a look at a sample AWS Marketplace listing: https://aws.amazon.com/marketplace/pp/prodview-vlqdoubwzzky2

This seems like a decent example as it also stands up an RDS instance. Note that you can find the cloudformation template through the listing: https://s3.amazonaws.com/awsmp-fulfillment-cf-templates-prod/48a08b99-e040-4c8d-af72-fff0b833e7b7.142f6328-4f1c-40e5-6ba3-c7ce423ca8a0.template

[2022-09-10 00:16] rfairburn commented on #7361
I planned on using a parameter for byol license.  I would form it as a secret and store it in secretsmanager and volume mount it into ecs

[2022-09-10 00:22] zwass commented on #7361
Perfect! Sounds like you were already aware. I'm catching up ;)

[2022-09-10 15:03] defensivedepth commented on #7425
The primary purpose for `secedit` is to import/apply security settings to a Windows system. It also allows you to generate a report and therefore audit these settings. These security settings come from GPOs that are set locally on the system or through the domain, if the system is domain-joined. These security settings are stored in a database, default location is `%windir%\security\database\seced

[2022-09-10 16:39] defensivedepth commented on #6530
The `ntdomains` table gives info on non-Azure domain-connected status:

Not connected:
![image](https://user-images.githubusercontent.com/954732/189492804-2f81b5b3-6246-4377-8601-76b626f8a72f.png)

Connected to a non-Azure AD domain:
![image](https://user-images.githubusercontent.com/954732/189492773-886b3601-71db-4533-a3be-bec63fab6b9b.png)

The following registry location stores Azure Domain inf

[2022-09-10 17:36] defensivedepth commented on #6530
I should mention that a cli utility `dsregcmd /status` gives this info as well:

![image](https://user-images.githubusercontent.com/954732/189495121-b95e3b03-4cca-41d7-b3d5-e4488b06734f.png)

![image](https://user-images.githubusercontent.com/954732/189495199-19d208da-66ef-4eec-a3c3-5d7d25ac9986.png)

[2022-09-12 00:52] mike-j-thomas commented on #7676
@noahtalerman, Mo, and I spoke. He's going to write up an issue for me to start work on later this week.

[2022-09-12 01:10] daweizhang123 opened #7680 "Fleet stopped working after sometime. Seeing tons of "too many open files" error"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
fleet version 4.12.0

**Operating system**: _(e.g. macOS 11.2.3)_
Debian GNU/Linux 10

**Web browser**: _(e.g. Chrome 88.0.4324)_
N/A
<hr/>

### 🧑‍💻  Expected behavior

Fleet is not able to start.

### 💥  Actual behavior

Fleet is not able to start.

### More info

Sep 12 01:03:35 n121-011-134 fleet[32

[2022-09-12 08:25] qwerty1q2w opened #7682 "Problem with update. Error 1091: Can't DROP FOREIGN KEY `software_cve_ibfk_1`; check that it exists), quitting migration."
**Fleet version**: Fleet 4.19.1 • Go go1.17.8

**Operating system**: Ubuntu 20.04.4 LTS

**Web browser**:Firefox

**Database**: mariadb  Ver 15.1 Distrib 10.5.15-MariaDB, for debian-linux-gnu (x86_64)

<hr/>

### 🧑‍💻  Expected behavior

I upgraded fleet from 4.19.1 to 4.20.0

### 💥  Actual behavior

Error 1091: Can't DROP FOREIGN KEY `software_cve_ibfk_1`; check that it exists), quitting migration

[2022-09-12 12:05] hernancollazo commented on #7682
Hello,

Same error here, with:
- old version: fleet version 4.19.0
- new version: fleet version 4.20.0
- mysql  Ver 15.1 Distrib 10.5.17-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
- Ubuntu 20.04.4 LTS

`
fleet prepare db -c /etc/fleet/fleet.yml
Using config file: /etc/fleet/fleet.yml
################################################################################
# WARNING:
#   This

[2022-09-12 12:10] hernancollazo commented on #7682
Hello,

Same error here, with:

- old version: fleet version 4.19.0
- new version: fleet version 4.20.0
- mysql  Ver 15.1 Distrib 10.5.17-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
- Ubuntu 20.04.4 LTS

fleet prepare db -c /etc/fleet/fleet.yml
Using config file: /etc/fleet/fleet.yml

WARNING:
This will perform Fleet database migrations. Please back up your data before
continuing.
Mi

[2022-09-12 13:08] nunesvn opened #7688 "4.20.0 - CVE automations webhook called for every old CVE, each hour"
**Fleet version**: 4.20.0
**Operating system**: Debian 11

<hr/>

### 🧑‍💻  Expected behavior
For every new CVE, one single call of the configured webhook.

### 💥  Actual behavior
Since updating to 4.20.0, each hour Fleet is calling the webhook for all old CVEs found. In our case, we have a little redirect-to-mail web service, so each hour Fleet is sending us 158 e-mails.

[2022-09-12 15:57] zwass commented on #7425
@marcosd4h are you aware of any good approach for retrieving this kind of security information in osquery? Maybe it's possible to read from the database as @defensivedepth mentioned?

[2022-09-12 15:58] xpkoala commented on #7143
@noahtalerman Was there any specific copy you would like for the portion on the 'spec team'?

[2022-09-12 16:01] zhumo commented on #7377
@sharvilshah @lucasmrod WE chose `command_line_flags` because it matches the title of what's in the osquery readthedocs site. https://osquery.readthedocs.io/en/latest/installation/cli-flags/. I think we should hew to being consistent here unless there's some reason it's confusing to be done this way in Fleet but not in osquery.

[2022-09-12 16:27] smaddock commented on #7682
I'm getting this now on Fleet 4.20.0. Previously 4.19.1 had been working fine.

[code]

[2022-09-12 16:51] smaddock commented on #7680
@daweizhang123 https://fleetdm.com/docs/deploying/faq#what-do-i-do-about-too-many-open-files-errors

[2022-09-12 16:59] zhumo commented on #7361
Plan for this going forward:

* Continue to move forward on the integration with BYOL for this quarter
* In parallel understand license agreement from the AWS team
* Don't hit go on the 90 day timer until we have a clearer understanding of license requirements

[2022-09-12 17:03] ksatter commented on #7688
Thanks for the report, @nunesvn! It looks like this is related to #6717. If you'd like to follow that ticket, can you add your information there? If not (or you'd just prefer me to), I can add it for you.

[2022-09-12 17:05] ksatter commented on #6717
Related ticket: #7688

[2022-09-12 17:11] michalnicp opened #7696 "Apple MDM Enqueue Command"
### Goal

Add command to `fleetctl` for sending Apple MDM commands to enrolled devices. This includes commands such as `InstallProfile`.

### How?

[code]

- Use the nano mdm command endpoint to enqueue a command
- Command UUIDs should be automatically generated
- Add command to get command results and display them so that we know if it was successful and display any errors.

[2022-09-12 17:11] daweizhang123 commented on #7680
@smaddock
Thanks for the advice. I have tried that and now it's able to start

[2022-09-12 17:14] lucasmrod commented on #7696
What should `fleetctl` do if the device is not online? Maybe add a default timeout of 30s and then a way to check a command result.

[2022-09-12 17:21] ksatter commented on #7682
Thanks for the detailed reports, @smaddock @hernancollazo and @qwerty1q2w. We'll get to the bottom of it!

[2022-09-12 17:32] daweizhang123 commented on #7680
hm, sorry, the fleet went down again after the server running for a few minutes.

Server just crashed, didn't see any errors in logs.

My guess is one very resource-consuming scheduled query was running repeatedly.
Even I deleted that scheduled query manually, fleet was still trying to execute them.
So is there a recommended way to clear these cached queries?

[2022-09-12 17:50] marcosd4h commented on #7425
@zwass I was unaware of any programmatic way to retrieve security configuration information on domain-joined machines, so I ended up reverse engineering secedit.exe to understand how this built-in utility does it so I can better answer this question.

At a very high level, secedit.exe speaks the SCERPC protocol to retrieve the security configuration information. Two DLL modules implement this prot

[2022-09-12 17:52] lukeheath commented on #5222
@mna

This seems acceptable to me for a first implementation, as it will not allow any invalid fields through.

If it's easy for us to tweak the message to something more friendly let's do something like:

"Invalid value type: Expected `bool` but received `string[]`"

This seems like something we can potentially improve on in a later iteration.

[2022-09-12 17:55] mna commented on #5222
@lukeheath one thing about that though, should we keep the "Go struct path" so that we know which field had that type issue? E.g. the `.events.disable_subscribers` part in the example message. It's not perfect but it gives a good indication of what to look at in the original document. Something like:

"Invalid value type at '.events.disable_subscribers': expected bool but received []string"?

[2022-09-12 17:59] lukeheath commented on #5222
@mna

Yes let's include that, as well. Thanks!

[2022-09-12 18:05] xpkoala opened #7700 "Add MariaDB migration tests to current migration test tools"
### Goal

TODO
We are currently able to test migrations between versions using the tests located in the /test/upgrade/ path of the Fleet repo. These tests currently, as far as I am aware, only test upgrades via mySQL. We would like to increase the upgrade test coverage to include using MariaDB and any other common databases that Fleet supports.

### How?

- Identify all databases we support
- Exte

[2022-09-12 18:22] RachelElysia commented on #7589
@noahtalerman

For 1
 For Premium and Free: Remove online and offline host cards

I'm assuming the single loading spinner that went across the host summary card AND this online/offline card is now within the host summary card to match the loading spinner of all other cards

[2022-09-12 18:30] daweizhang123 commented on #7680
Seeing errors in log like this. Is this the root cause?

Sep 12 18:28:44 n121-008-225 fleet[73464]: {"component":"http","err":"authentication error: find host: timestamp: 2022-09-12T18:23:45Z: context canceled","level":"info","path":"/api/v1/osquery/log","ts":"2022-09-12T18:23:45.819699397Z"}

[2022-09-12 18:52] zwass commented on #7682
We have a fix coming for this in a 4.20.1 patch release.

[From the FAQ](https://fleetdm.com/docs/deploying/faq#what-my-sql-versions-are-supported):

We are updating the FAQ to [more strongly discourage the use of MariaDB](https://github.com/fleetdm/fleet/pull/7699/files#diff-1caee2da43f3c66c527fabccf57e894c36d56f095b9bc965f7310e827d280025R156).

Please understand that because MariaDB is not offic

[2022-09-12 18:54] daweizhang123 commented on #7680
root@n121-008-225:~# systemctl status fleet
● fleet.service - Fleet
   Loaded: loaded (/etc/systemd/system/fleet.service; enabled; vendor preset: enabled)
   Active: active (running) since Mon 2022-09-12 18:46:11 UTC; 4min 57s ago
 Main PID: 26381 (fleet)
    Tasks: 377 (limit: 39321)
   Memory: 799.1G
   CGroup: /system.slice/fleet.service

   Very strange, the fleet is consuming 800G Memory. In

[2022-09-12 19:11] RachelElysia opened #7702 "Fleet UI: Tooltips for 4 enroll secret icons"
### Goal

TODO

As a user, I want to know what the icon does before I click on it. Especially because this is one of the first steps of a first time user.

<img width="703" alt="Screen Shot 2022-09-12 at 3 09 56 PM" src="https://user-images.githubusercontent.com/71795832/189736331-8a1853de-b7b2-4b2a-923b-919922b8636e.png">

### How?

Consider adding a tooltip for each icon:
"Copy" "Show" "Edit" "D

[2022-09-12 19:18] chiiph commented on #7700
Given that we don't encourage people to use MariaDB, I would call this issue a nice to have and not something ready to be worked on. @xpkoala @zwass thoughts?

[2022-09-12 19:23] xpkoala commented on #7700
I would mostly agree, if this is a fast / easy improvement it would give us insight into potential migration issues before customers encounter them and we could prep our releases with the relevant information. This could mean someone using Fleet decides to not upgrade to the next version instead of encountering the break. It doesn't necessarily mean we need to hold a release to fix the DB issue. I

[2022-09-12 19:34] zwass commented on #7700
Agree. If it's fast/easy let's do it. Otherwise let's close it out.

[2022-09-12 21:02] lukeheath commented on #7238
@zwass We're looking at how viable it is to include MacOS and Windows virtual machines in docker hub for use in [tools/osquery](https://github.com/fleetdm/fleet/tree/main/tools/osquery).

Is there any process documentation for creating new osquery images like the [linux versions on Docker](https://hub.docker.com/r/osquery/osquery/tags)? Do you know if this is something that's been looked at before

[2022-09-12 21:20] zwass commented on #7238
I think the biggest problems are with Docker's support for macOS and Windows containers.

There are some projects like https://github.com/sickcodes/Docker-OSX that claim to run macOS in Docker. I thought I remembered the images being massive (10s of GB), but it seems like they are maybe only a couple gigs (compressed) from this project.

For Windows containers, I believe you need to be running on

[2022-09-12 23:34] zwass commented on #7425
@marcosd4h thank you again for the thorough investigation here! Can you please link that public NSA repo you found that utilizes the functions you saw in `secedit.exe`?

@zhumo @defensivedepth I was just chatting with Marcos about what the end goal should be here. Do we want to try to generically expose everything from `secedit.exe`, or should we take a more targeted approach towards the data that

[2022-09-12 23:35] chris-mcgillicuddy commented on #7462
@mike-j-thomas Could you please review the copy options and proposed changes to the pricing page?

https://docs.google.com/document/d/1hEtNN-teDAQFWiL23_D2wRhhYqBQ6flbYzfn8KFNVBA/edit?usp=sharing

I included multiple options for a few sections. Please let me know which options you prefer (if any) and how they can be improved.

The Footnotes and FAQ sections have more to do with deleting or migrati

[2022-09-12 23:40] zwass commented on #7425
Marcos just DMed me with the link to the NSA powershell script: https://github.com/nsacyber/Windows-Secure-Host-Baseline/blob/master/Compliance/Scripts/Compliance.psm1

[2022-09-12 23:52] marcosd4h commented on #7425
Thanks for sharing the link @zwass! This windows compliance powershell script made by the NSA also shows the data you will get after calling the `SceGetSecurityProfileInfo()` function. See [here](https://github.com/nsacyber/Windows-Secure-Host-Baseline/blob/master/Compliance/Scripts/Compliance.psm1#L324) for an example of how to call the function. You can notice there that the output buffer gets c

[2022-09-13 01:36] mike-j-thomas commented on #7212
One-page PDF lives here on Drive https://drive.google.com/file/d/1dzo0iOXIZOiLDKVamYyy4v1wVnju9oRw/view?usp=sharing. This doc evolved into a printable, half-page fold PDF.

[2022-09-13 01:36] #7212 closed

[2022-09-13 03:07] rfairburn commented on #7361
I have started writing the cloudformation template to handle all of this using goformation.  Tracking PR is https://github.com/fleetdm/fleet-infra/pull/14.  As of the time of this writing, it creates a CF template that creates the VPC and subnets, but hasn't filled anything in yet.

Next step will be the nat gateways for the private subnets and the routing tables.  After that I can get into the me

[2022-09-13 03:32] zwass commented on #7680
You are running a quite old version of Fleet. Can you please upgrade to 4.19.1 or 4.20.0 and let us know whether the issue persists?

[2022-09-13 06:07] mike-j-thomas commented on #7604
Hey @noahtalerman, I assigned this back to you. It can probably be closed, but I wanted to check with you first.

[2022-09-13 06:41] mike-j-thomas opened #7709 "Create image for "Osquery threat hunting" article"

[2022-09-13 07:15] xpkoala opened #7711 "4.20.1 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/fleetctl-preview)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium te

[2022-09-13 11:11] defensivedepth commented on #7425
I would love to just generically expose everything, but I do agree that a targeted approach is probably more appropriate given the undocumented nature of the APIs.

[2022-09-13 14:11] noahtalerman commented on #7688
Closing this issue because it is a duplicate of the following issue: #6717

[2022-09-13 14:11] #7688 closed

[2022-09-13 14:15] noahtalerman commented on #7711
@xpkoala we'd like to include the "Vulnerability automations send duplicate webhooks" issue in the patch release: #6717

I added #6717 to the "Issues found new to this version" section in the issue description.

[2022-09-13 14:32] xpkoala commented on #7711
@noahtalerman Thank you!

[2022-09-13 14:34] noahtalerman commented on #7676
Got it! @zhumo please feel free to update this existing issue.

[2022-09-13 16:12] chris-mcgillicuddy opened #7725 "Move version support to docs"
## Goal

Move version support content from handbook (https://fleetdm.com/handbook/community#version-support) to the relevant section of the docs

[2022-09-13 16:14] zhumo opened #7726 "Apple MDM in Fleet"
### Related

- #7676
- #7957
- #8206
- #8153
- #9013
- #8360
- #8703
- #8751
- Software library
- Removing hosts (https://github.com/fleetdm/fleet/issues/8491)
- Issuing commands to machines (e.g. lock)

Other

- https://github.com/fleetdm/fleet/issues/8167
- https://github.com/fleetdm/fleet/issues/8175

### Background

https://docs.google.com/spreadsheets/d/19FC0eiZ5CxiwANf0INcyriyQrj1-Vk0cBmj5pv

[2022-09-13 16:16] CharlotteChance opened #7727 "MDM/Dogfood behaviors"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
v4.20.x

**Operating system**: _(e.g. macOS 11.2.3)_
macOS 12.5.1

**Web browser**: _(e.g. Chrome 88.0.4324)_
Chrome
<hr/>

### 🧑‍💻  Expected behavior

I've sampled Fleet sandbox and had a temporary sandbox account while also having a mdm account as an employee of Fleet with dogfood admin access.
Did n

[2022-09-13 16:31] zhumo commented on #7726
@noahtalerman @mike-j-thomas I made this issue to be a super epic to track all the other ones. In the "related" section, I tried to put in all the items I know about. can you add more if I missed anything?

[2022-09-13 16:56] zhumo commented on #7425
@marcosd4h @zwass Agree with @defensivedepth above. If possible/easy, exposing everything is great! But the narrow desire here is to be able to join to the secedit table from registry so that we can dynamically get the path. Is that narrow desire possible here?

[2022-09-13 17:34] noahtalerman opened #7729 "Improve the performance of the Fleet UI / API"
### Goal

Improve the performance of the Fleet UI / API so that current and future additions to host vitals (filter, sorting, pagination) don't create long load times.

### How?

Potential solutions discussed during the "Understand performance" call ([full notes - internal](https://docs.google.com/document/d/1lNNJub0uXZUY7zYdpXZ56BevGOCtb9SJllgvblgTHKw/edit#)):
- Implement our own load balancer so

[2022-09-13 17:37] noahtalerman commented on #7729
@zhumo I assigned you this issue and added it to the roadmap board.

cc @chiiph

[2022-09-13 17:38] zhumo commented on #7361
https://aws.amazon.com/blogs/mt/simplified-byol-experience-using-aws-license-manager/

Sent over from AWS support on implementing BYOL experience.

[2022-09-13 17:43] noahtalerman opened #7730 "Plan for "rolling back" updates that degrade performance"
In large (100,000+ Fleet deployments), there is a risk that the following improvements (coming in Fleet 4.21.0) negatively impact performance:
- #6435
- #7479

### Goal

Come up with a plan for quickly responding to scenarios in which a Fleet upgrade causes degraded performance.

### How?

Potential solutions:
- After performing load tests, and realizing that performance is negatively impacted, up

[2022-09-13 17:49] noahtalerman commented on #7730
@zhumo I assigned you and added this issue to the release board.

During the "Understanding performance" call (2022-09-12) we decided to prioritize this issue.

My understanding is that this is because we decided to move forward with implementing the features cause performance concerns:
- #6435
- #7479

We'd like to be prepared for a scenario in which a customer upgrades Fleet and they see perform

[2022-09-13 18:16] zhumo opened #7732 "Support process auditing on Windows"
### Problem
Process auditing is when process and network connection events are tracked. Osquery currently supports process auditing for Mac and Linux, but does not for Windows via the osquery eventing framework.

### Requirements
For the following tables:
- process_events
- socket_events
- process_file_events
- bpf_process_events
- es_process_file_events

create a separate table(s) which features

[2022-09-13 18:48] noahtalerman commented on #6882
@zhumo is the following issue a duplicate? #7535

If yes, can you please close #7535, add the appropriate labels and projects to this issue, and notify Tony?

[2022-09-13 18:49] noahtalerman commented on #6882
@mike-j-thomas can you please help us create assets for Mo's article? I'm linking to the draft here: https://github.com/fleetdm/fleet/blob/f880a80567eb507cd76e4373009eb8122b43dbf2/articles/osquery-evented-tables-overview.md

[2022-09-13 19:11] noahtalerman commented on #7711
@xpkoala heads up, we'd like to include the "Deleting cookies required if SSO previously failed" issue in the patch release: #7624

I also added this one to the issue description.

[2022-09-13 19:35] noahtalerman commented on #7067
Got it 👍

Makes sense. I agree that not logging errors seems valuable.

@zhumo what do you think?

It seems like the current plan of documenting that vuln processing is only roman alphabet right now and roadmapping support for other characters makes sense as a next step: [Document that the vuln processing is only roman alphabet right now](https://github.com/fleetdm/fleet/issues/7067#issuecomment-1

[2022-09-13 19:53] marcosd4h commented on #7425
I've created a PoC to show how to call the undocumented `SceGetSecurityProfileInfo()` function to obtain the same data that secedit.exe exports. The PoC is available (here)[https://gist.github.com/marcosd4h/484eaf5045b4b79013999d06fc23eef2#file-pocsecedit-cpp]. An example output execution is available (here)[https://gist.github.com/marcosd4h/484eaf5045b4b79013999d06fc23eef2#file-dump-txt]. The PoC

[2022-09-13 20:02] noahtalerman commented on #7559
@xpkoala heads up, I just moved this issue into the "QA" column in the release board.

If an issue doesn't make it into the "QA" column you don't run tests against it, correct?

@juan-fdz-hawa after merging the PR associated with an issue, can you please move the issue into the "QA" column on the release board so that Reed gets his eyes on it? Thanks :)

The improvement was included in the 4.20.0

[2022-09-13 20:05] zhumo commented on #7425
Hey @marcosd4h. I don't have an output from secedit on hand. But it is included as part of their kolide launcher table here: https://github.com/kolide/launcher/blob/main/pkg/osquery/tables/secedit/secedit.go. Would you be able to install their launcher extension and get the output for comparison?

[2022-09-13 20:07] michalnicp commented on #7696
Let's add a separate fleetctl command to fetch the command results and display them

[code]

[2022-09-13 20:24] xpkoala commented on #7559
@noahtalerman Correct. If it is not in the QA board I have limited sight into something that is ready for testing and pushed into main prior to a release.

[2022-09-13 20:38] marcosd4h commented on #7425
Thanks for the pointer @zhumo! So I've just checked the code. The Kollide extension calls the secedit.exe binary with the arguments required to export the policy into an ini file called `tmpfile.ini`. The extension is then parsing this output file and presenting the data. So we are fine here as calling `SceGetSecurityProfileInfo()` produces the same result.

The next step here will be to put this

[2022-09-13 21:20] zhumo commented on #7425
@marcosd4h that's great news! I've updated the requirements section above. Please let me know if it matches your understanding of what's possible.

yeah I think the temp thing you are mentioning is the original security concern around the extension and why Josh and Guillaume did not want to use it. I'm glad we found a different approach and can contribute it to osquery!

[2022-09-13 21:38] zhumo commented on #7067
Makes sense to me. I added the PR in the description.

[2022-09-13 22:11] zhumo opened #7743 "Support `yara_events` table on Windows"
- `prospect-seidel`: Slack thread: https://fleetdm.slack.com/archives/C07G5MNU267/p1730156454108159
- @noahtalerman: _User requested this because_ there was a security incident involving a specific host and I want to know what was happening on the host during the suspected timeframe of the incident. I can use the yara_events to see whether files were created, edited, or removed.
  - @allenhouchins

[2022-09-13 22:28] lucasmrod commented on #1784
Closing for now.

We already have CI checks that run with MySQL 5.7 and 8. And it was decided we'll not support MariaDB officially (see #7699).

[2022-09-13 22:28] #1784 closed

[2022-09-13 22:30] lucasmrod commented on #3649
Closing for now.

It was decided we'll not support MariaDB officially (see https://github.com/fleetdm/fleet/pull/7699).

[2022-09-13 22:30] #3649 closed

[2022-09-13 22:35] stephanmiehe opened #7744 "User list does not show users"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ 4.19.0

**Operating system**: _(e.g. macOS 11.2.3)_ macOS 12.5.1 (21G83)

**Web browser**: _(e.g. Chrome 88.0.4324)_ Edge Version 105.0.1343.33

<hr/>

### 🧑‍💻  Expected behavior

All users in the DB are shown

### 💥  Actual behavior

Users are missing in the user list that are listed when viewing the

[2022-09-13 23:47] stephanmiehe commented on #7744
Upgrading to 4.20.0 fixed this. Looks like there were a bunch of user management UI changes in the code diff. Didn't look too closely but going to close this

[2022-09-13 23:47] #7744 closed

[2022-09-13 23:55] eastbook opened #7749 "too many weird errs in the log"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_4.20.0

Sep 13 21:47:27 n121-008-225 fleet[2608221]: {"component":"http","err":"authentication error: find host: context canceled","level":"info","path":"/api/v1/osquery/log","ts":"2022-09-13T21:29:58.123915532Z"}
Sep 13 21:47:27 n121-008-225 fleet[2608221]: {"component":"http","err":"retrieve label que

[2022-09-14 04:06] #7432 closed

[2022-09-14 12:49] mna opened #7752 "Host status webhook settings allow me to save without a percentage or number of days selected"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

4.20

**Operating system**: _(e.g. macOS 11.2.3)_

Linux (Fedora)

**Web browser**: _(e.g. Chrome 88.0.4324)_

Chrome 105.0.5195.125

<hr/>

### 🧑‍💻  Expected behavior

Navigate to Settings -> Organization Settings -> Host status webhook

Click the Enable checkbox, enter a destination URL, click save.

[2022-09-14 13:06] noahtalerman commented on #7604
Yep! Thanks for the reminder.

[2022-09-14 13:28] noahtalerman commented on #5222
@mna what does the "for free" error look like when the user provides an invalid key?

I'm thinking we want to make this type of error message friendly as well.

Minor nit. Is there value in displaying `[]string` instead of just `string`. To me, the error message looks friendlier with only `string`?

[2022-09-14 13:34] noahtalerman commented on #7143
@xpkoala great catch. In the UI, there should be no entry that reads "applied spec team."

It looks like this entry currently appears because, the API, we're adding an `applied_spec_team` activity feed entry.

We'd like the UI to display the same "`user` edited agent options for `team`" message for the `applied_spec_team` activity type. If there are multiple teams in the one activity type, we'd li

[2022-09-14 13:36] noahtalerman commented on #7143
cc @ghernandez345 ^

[2022-09-14 13:42] mna commented on #5222
@noahtalerman

`unknown field "blah"`

There is, the `[]` means it is an array of strings, not just a string. Error messages pertaining to data types are necessarily somewhat "developer-oriented", e.g. even if we translated that to "list of strings" you have to know how that translates to the YAML syntax.

[2022-09-14 13:51] chiiph commented on #7700
I don't disagree with this on a first thought. However, we have invested a not insignificant amount of time in the past to work around limitations in mariadb. Ideally, if we don't support something, that something doesn't eat any of our time, ever.

If we're going to have tests, it means to me that we are supporting this, because when those tests fail we'll work to fix the code so they pass. If we

[2022-09-14 14:00] lukeheath opened #7754 "Add `query_name` and `query_sql` properties to live query activity record and API response"
## Goal

As a user, I want to know who ran what query as a live query. This will enable me to...
- create a richer audit trail
- test the performance impact of these queries

## Requirements

- In the `GET /activities` API route, for the live query activity type, add `details.query_name` and `details.query_sql` information.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-

[2022-09-14 14:16] lucasmrod commented on #7664
Here are my thoughts on a possible fix for this.

Currently, when a host re-enrolls we do the following (conditional) cleanup for the policies of the host:
https://github.com/fleetdm/fleet/blob/26f210f3f674509e955a79a94e5210bb32df95dc/server/datastore/mysql/hosts.go#L780-L797

To support a case like the one described in this issue (host re-enrolling with new different `platform` field), and to red

[2022-09-14 14:32] lukeheath opened #7755 "Update activity feed for live query activity types"
## Goal

As a user, I want to know who ran what query as a live query. This will enable me to...
- create a richer audit trail
- test the performance impact of these queries

## Requirements

- In the activity feed in the Fleet UI, for the live query activity type, display the query's name if the query is a saved query.
- In the activity feed in the Fleet UI, for the live query activity type, add

[2022-09-14 14:39] lukeheath commented on #7754
@fx5 I'm assigning this ticket to you to complete the specs and bring to an estimation session. You can add as much or as little specs as you feel you'd need to implement the feature. Please reach out to Noah or me if you have any questions.

[2022-09-14 14:39] lukeheath commented on #7755
@ghernandez345 I'm assigning this ticket to you to complete specs and bring to estimation.

[2022-09-14 14:40] lukeheath commented on #7310
@RachelElysia  I'm assigning this ticket to you to complete specs and bring to estimation.

[2022-09-14 14:40] lukeheath commented on #7309
@RachelElysia  I'm assigning this ticket to you to complete specs and bring to estimation.

[2022-09-14 14:41] lukeheath commented on #7307
@ghernandez345  I'm assigning this ticket to you to complete specs and bring to estimation.

[2022-09-14 14:48] lukeheath commented on #7533
@RachelElysia I'm assigning this ticket to you to complete specs and bring to estimation.

[2022-09-14 14:48] lukeheath commented on #6257
@RachelElysia I'm assigning this ticket to you to complete specs and bring to estimation.

[2022-09-14 14:48] lukeheath commented on #7656
@ghernandez345  I'm assigning this ticket to you to complete specs and bring to estimation.

[2022-09-14 14:48] lukeheath commented on #7656
@ghernandez345  I'm assigning this ticket to you to complete specs and bring to estimation.

[2022-09-14 14:50] RachelElysia opened #7757 "Fleet UI: Released styling bug in select a query modal"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Clean styling

### 💥  Actual behavior

<img width="617" alt="Screen Shot 2022-09-14 at 10 49 41 AM" src="https://user-images.githubusercontent.com/71795832/190188223-49cb8a1c-bf2

[2022-09-14 14:54] mna commented on #5222
@noahtalerman @lukeheath I have a PR ready that covers the following (see after the bullet points for explanations):

1. no required keys in config and teams are missing
2. (partial): all keys in config and teams YAML document match true, real keys (done for config, only done for agent options for teams)
3. Document all keys in the config and teams YAML document (already released with 4.20)
4. all

[2022-09-14 15:07] lucasmrod commented on #7749
Hi @eastbook.

Most of the times, these `context canceled` errors are due to:
1. Slow MySQL database given the number of hosts (host requests time out before the database operation completes).
2. A timeout (of `15s`, see `took` values in the log lines) configured somewhere in between the hosts and Fleet, maybe a proxy?

[2022-09-14 15:16] lukeheath commented on #6808
@zhumo Just a heads up that if someone is using Fleet Desktop and sets this to `false`, the "My Device" link in the Fleet Desktop menu will be broken. It would likely be straight-forward to hide this link if the API call fails to avoid the bad UX.

[2022-09-14 15:32] lukeheath commented on #7656
Note: Add moving the tooltip on the Host Details > Software table so that it doesn't cover the row below it.

[2022-09-14 15:42] marcosd4h opened #7758 "Avoid privileged file operations on windows temp directory"
### Goal

TODO
On windows, Orbit should not perform file operations on %windir%\temp (this resolves to c:\windows\temp on default installations)

The main issue here is that Orbit runs with SYSTEM privileges on Windows, and file operation on user-writable directories such as %windir%\temp can be abused to exploit multiple types of security bugs.

Privileged file operation abuses have been document

[2022-09-14 16:54] xpkoala opened #7762 "Pack target area does not populate with data"
**Fleet version**: 4.20

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: Safari 16.1 (18614.2.1.1.1)

<hr/>

### 🧑‍💻  Expected behavior
When choosing targets for a schedule pack, the target area should display hosts that meet the search criteria as well as contain pre-made groups (windows, linux, Mac).

### 💥  Actual behavior
No targets are shown in the pack area when attempting to s

[2022-09-14 17:26] zhumo commented on #6808
Thanks, Luke. I updated the description above with one line. I think we should make it clear in the docs for this setting that using this setting makes fleet desktop not usable.

[2022-09-14 17:29] noahtalerman commented on #7624
Hey @fx5, I'm reopening this issue.

We'd like to wait to close issues until we cut the release (4.20.1 in this case). This way, community members know that, when an issue is closed, it's been included in the latest release.

As a heads up, issues are automatically closed when using words like "fix," "resolve," "address" in commit messages or PR descriptions. It looks like this issue may have been

[2022-09-14 17:41] noahtalerman commented on #6530
@lukeheath here's the Fleet API updates we discussed to accomplish the goal:
- Expand the `GET /host_summary` API route to include MDM data. Expected behavior for `GET /host_summary` API route becomes...
   - "Call this route and get all the data you see on the **Home** page."
   - Call this route with a specific team and/or platform and get back the data that's available for that team and/or plat