[2021-10-27 17:46] noahtalerman opened #2719 "Update anonymous usage statistics to record Fleet feature adoption"
Anonymous usage statistics were introduced in Fleet 4.0.0. Anonymous usage statistics can be turned off at any time. See the Fleet documentation for instructions on disabling anonymous usage statistics: https://fleetdm.com/docs/using-fleet/usage-statistics#disable-usage-statistics

### Goal

Record feature adoption for Teams, Software inventory, Vulnerability detection, System users, Hosts status

[2021-10-27 19:44] rlynnj11 opened #2724 "On "Team details" page, when user selects "Go to Hosts page," it's confusing that the user sees "All teams" on the "Hosts" page"
This issue now outlines the task of updating the "Go to Hosts page" button to navigate the user to the **Hosts** page with the correct team selected in the teams dropdown.

<hr/>

**Fleet version**: main branch testing for 4.5.0

**Fleet tier** : Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Seen in Team Admin and Global Admin

**Operating system*

[2021-10-27 21:14] rlynnj11 opened #2726 "Long Software names prevent bundle identifier from showing"
**Fleet version**: as of 4.5.0

**Fleet tier** : Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Admin, but any

**Operating system** macOS 11.6

**Web browser** Firefox 93

<hr/>

### 🧑‍💻  Expected behavior
All software should have bundle ids

### 💥  Actual behavior
very long software package names prevent the bundle id from showing. If you zoom ou

[2021-10-28 16:07] mikermcneil opened #2734 "DRIs »» handbook"
Add to handbook: define DRI and include this table of DRIs
https://docs.google.com/document/d/1CncgspMcx2eYkqEnofz4irQT7wdxnhbvlTEBRQ2bGWo/edit

(probably in product design section?  Although maybe you decide to include it somewhere else instead, since there are also DRIs for other areas of the business. up to you)

[2021-10-28 17:23] noahtalerman opened #2737 "`fleetctl package`: After generating an installer, I want a short, human-readable explanation of what to do next"
### Goal

Update output of the `fleetctl package` command during and after successful generation of an installer with human-readable explanation of what to do.

### Figma

✨ Human readable instructions for fleetctl package: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=2931%3A74257

[2021-10-28 22:39] mikermcneil opened #2744 "Automate advisor agreements"
i.e. set up docusign flow for advisor agreements

This can work just like the consulting agreement for our US contractors, but the paperwork is different

- Template: https://docs.google.com/document/d/1XhfqHkKXEsF77jHOFdmB56oHTcmdN9r0yAhU7PWUkg4/edit
- Destination folder in shared drive: Make a new folder that sits next to consultant agreements
- Docusign account: Use mike's Docusign (because the

[2021-10-28 23:50] mikermcneil opened #2746 "grammarly or editor"
Try grammarly -OR- find an editor  (cut back on words.  They don't have to be technical- more like people who can help you get to next level prose)

Question to answer:  Is Grammarly good enough to actually be helpful enough?  If not, find someone who can be our editor.

[2021-10-29 14:43] rlynnj11 opened #2747 "Initial preview login screen says user cannot be authenticated"
**Fleet version** 4.5.0 main branch

**Fleet tier** premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
not logged in yet

**Operating system** mac 11.6

**Web browser** Chrome 94

<hr/>

### 🧑‍💻  Expected behavior
No initial error messaging on login screen

### 💥  Actual behavior
<img width="613" alt="Screen Shot 2021-10-29 at 10 40 50 AM" src="https:/

[2021-10-29 14:46] rlynnj11 opened #2748 "Built in Policy resolution copy - we're missing a space after **Resolve:**"
Built-in resolutions look good, but I've got a nitpick on the copy - we're missing a space after **Resolve:**

cc @lukeheath et al

<img width="727" alt="Screen Shot 2021-10-29 at 10 45 08 AM" src="https://user-images.githubusercontent.com/44620612/139455434-33a3204b-1cc1-4d86-bc6c-22ffd0393fa0.png">

<img width="723" alt="Screen Shot 2021-10-29 at 10 45 15 AM" src="https://user-images.githubuserc

[2021-10-29 15:22] rlynnj11 opened #2749 "Cannot exit Edit pack menu via "save""
**Fleet version** Main branch 4.5.0

**Fleet tier** Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Admin

**Operating system** mac 11.6

**Web browser** Chrome 94

<hr/>

### 🧑‍💻  Expected behavior
When I click Save or Cancel from the Edit Pack menu, I am returned to the Packs menu

### 💥  Actual behavior
When I click Cancel from the Edit Pack menu

[2021-10-29 16:20] rlynnj11 opened #2750 "Clarify performance impact bubble functionality"
## Goals

Clarify when and why "Undetermined" is displayed.

Communicate to users why performance impact bubbles look different per host versus en aggregate.

## Figma

Clarify performance impact bubble functionality: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4140%3A173175

## Tasks

### 1
- [x] On the "Manage Queries", "Manage Schedule", and "Manage Packs" pages, add tooltip to "

[2021-10-29 18:05] lukeheath commented on #2595
@chiiph Regarding removing Policy Queries from the "Manage Queries" page, what do you think of updating the `GET /api/v1/fleet/queries` endpoint to not return queries associated with a policy? Otherwise we'll have to filter all of those out every time we load on the frontend, and will need a property included that indicates if a policy is associated.

[2021-10-29 18:06] chiiph commented on #2595
@lukeheath they will naturally be filtered out once we make the backend changes to delink policies from queries that's described in here https://github.com/fleetdm/fleet/issues/2711

When that's done, it'll work like labels: they will have a query somehow, but it won't appear when you list queries.

[2021-10-29 18:07] lukeheath commented on #2595
Thanks! @noahtalerman That means we don't need to include this item from your "Goals" in the description:

"Remove policies' queries from the Manage queries page."

As it will happen naturally when the backend stops returning those results.

[2021-10-29 18:36] #2744 closed

[2021-10-29 21:21] mike-j-thomas commented on #2746
Excellent, I'm all ears 👂👂

[2021-10-29 21:30] rlynnj11 commented on #2544
Through the magic of pair testing and TablePlus this has been confirmed

[2021-10-29 21:30] #2544 closed

[2021-10-29 21:32] #2694 closed

[2021-11-01 07:04] mike-j-thomas commented on #2599
Hey @mikermcneil, I see this issue is assigned to me. Please can you elaborate on it a bit?

[2021-11-01 07:40] mike-j-thomas commented on #2746
I'm currently using the free Chrome extension for Grammarly, and I am teetering on the 7 day trial for teams, but it would mean a $450 annual spend for the minimum three users (Drew, Eric, and myself). Could do it monthly while we test it ($12.50 p/person. so $37.50)

I like the look of their Business plan because it offers a brand tone feature that builds on their tone suggestions, which I though

[2021-11-01 12:42] lucasmrod commented on #1798
Now that https://github.com/fleetdm/fleet/pull/2752 was merged to `main` you can test this the following way:

1. Retrieve token from `My account` -> `Get API token`.

2. Run `GET` request with curl:
[code]

[2021-11-01 12:52] lucasmrod commented on #1798
I've just verified this with `preview --tag main` and it works. Moving to "QA'd, ready for release".

[2021-11-01 12:52] #1798 closed

[2021-11-01 13:58] noahtalerman commented on #2595
@lukeheath the comment in which you define requirements looks great! Please feel free to replace this issue's description with the requirement defining comment. This way, this issue can be brought to estimation and later into the Engineering board.

I responded to your clarification requests (1 and 2) and additional questions below:

Clarification request 1:

The user will be shown the “Select tar

[2021-11-01 14:09] noahtalerman opened #2756 "Global policies: Add ability to configure automations for policies"
## Goal

As a user, I want to specify a webhook URL where alerts about policies can be sent so that I'm able to easily create a ticket that includes what host is failing which policy.

## Figma

Add ability to configure alerts for policies: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3124%3A81417

## Tasks

### 1
- [ ] Update `webhook_settings` in app config to allow for the followi

[2021-11-01 14:28] noahtalerman commented on #2596
@chiiph I think showing example policies for os version on Linux can work. The primary goal is to expose example policies on the **Host details** page so that users are introduced to the query writing format for policies. The "usefulness" of these policies is secondary and will be improved as we learn more about what kind of policies are useful.

The following screenshot from Figma includes an exa

[2021-11-01 14:54] noahtalerman commented on #2716
@mike-j-thomas I've assigned you to this issue and moved it into the Growth board.

Can you please complete wireframes for the following UI element?
- Update the UI element used to override the compatibility Fleet determines
![Screen Shot 2021-11-01 at 10 53 09 AM](https://user-images.githubusercontent.com/47070608/139691566-c810ad92-f1d1-4002-83f2-97116f6f2251.png)
  - Fleet should effectively co

[2021-11-01 16:24] chiiph commented on #2596
Sure, I suppose if the usefulness of the policy is not that important, then we could hardcode that policy for Linux.

[2021-11-01 16:46] rlynnj11 opened #2758 "Language consistency around delete/remove"
**Fleet version** : 4.4.X onward at least

**Fleet tier** Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
All

**Operating system** macOS 11.6

**Web browser** Chrome 94

<hr/>

### 🧑‍💻  Expected behavior
Language consistency throughout the app

### 💥  Actual behavior
Possible inconsistent use of "delete" vs "remove" language throughout Fleet.

inst

[2021-11-01 18:23] #2514 closed

[2021-11-01 18:26] lucasmrod commented on #2514
Fixed by https://github.com/fleetdm/fleet/pull/2751, now all hosts are currently identified as `macOS` hosts.

[2021-11-01 18:47] lukeheath opened #2760 "Improve fleetdm.com performance rating in Google Lighthouse for mobile users"
### Goal

Improve "Performance" rating in Google Lighthouse (currently 22):

Mobile:
![image](https://user-images.githubusercontent.com/2495927/139721907-7f075513-5ad2-4c0b-95c8-eaf903ee330a.png)

### How?

- In Google Chrome developer tools, choose "Lighthouse" tab and generate report for mobile. A detailed list of improvements will be provided in the report.

[2021-11-01 18:48] lucasmrod opened #2761 "Enable `-race` on go tests on CI"
# Goal

Enable `-race` on `go` tests on CI.

#2712 removed some races in the fleet codebase. But we found that enabling `-race` on CI was making `go test` take considerably long (~7m without `-race` vs ~16m or more with `-race`).

https://golang.org/doc/articles/race_detector#Runtime_Overheads (TL;DR: ~2-20x execution time overhead is expected)

Some ideas:
- Run `coverage` separate from `-race` (

[2021-11-01 18:56] mna commented on #2761
I think that'd be great, short of being able to run it on each PR due to how long it takes, it would be great to at least get some regular reports to be able to address any new race quickly.

[2021-11-01 20:21] noahtalerman commented on #2595
@chiiph the decision on whether to include the backend specification (currently undecided in #2711) in this issue or in a separate issue is your call.

If you'd like to include the backend specification here in this issue, please reassign me after you've added the specification to this issue's description.

If you'd like to have a separate issue for the backend, please reassign me when you read th

[2021-11-01 21:11] noahtalerman commented on #2596
@lukeheath do you have any questions or concerns with the proposed changes to the Fleet UI?

Please note that the UI changes included in this issue are dependent on the following changes:
- The "Details," "Schedule," and "Policies" tabs on the **Host details** page specified in "Reveal all queries that are scheduled to run (packs and schedules) on a specific host on the Host details page" #2520
-

[2021-11-01 21:14] noahtalerman commented on #2594
@lukeheath I think this issue is ready for engineering specification. Do you have any questions/concerns with the proposed UI changes outlined in this issue?

Please note that the changes in this issue are dependent on the changes to the `/polcies` API routes. These changes are currently being discussed in the following separate issue: https://github.com/fleetdm/fleet/issues/2711

[2021-11-01 22:12] lukeheath opened #2762 "Create user personas for engineering and automated testing"
### Goal

Create user personas with associated user flows that can be consistently developed and tested against.

### Why?

The benefits of creating formalized user personas and user flows has recently been discussed in the context of manual testing and automated end-to-end testing.

The frontend team is currently evaluating the end-to-end test suite, and will likely be refactoring many of the end

[2021-11-01 22:20] lukeheath commented on #2762
@gillespi314 @RachelElysia @martavis This is issue 1 of 3 resulting from our last frontend sync. Please review and add your feedback as a comment on this issue. Once we're all aligned, I'll loop in the broader team for feedback.

[2021-11-01 23:15] mike-j-thomas commented on #2616
UI something like this:
![image](https://user-images.githubusercontent.com/78363703/139754246-d7e39c96-09a6-40e2-9ae9-6ccc77988429.png)

[2021-11-02 03:51] mike-j-thomas commented on #2716
@noahtalerman made the above UI changes:

- Reduced size of the edit icon
- Moved green checks in front of the label, to allow space for the edit icon to occupy, free from other elements.
- As a result, the first green check and the question mark icon were clashing with each other. But that’s ok because I have been recently feeling like the question marks needed to change - there are just too many

[2021-11-02 13:28] RachelElysia commented on #2758
My understanding of delete vs. remove was that delete means it's gone forever, vs. remove is related to something, a query, that is scheduled and can be added back easily.

[2021-11-02 13:36] noahtalerman commented on #2716
@mike-j-thomas looks great! Thank you.

FYI, I took a pass on the "override" state that is displayed when the user selects the pencil icon in the "Compatible with" section.
![Screen Shot 2021-11-02 at 9 35 56 AM](https://user-images.githubusercontent.com/47070608/139857323-93e6f8c2-f95b-46ea-b8bc-b1fb2c2aff42.png)

I'm going to bring my pass to engineering however, I'm curious if you have any feed

[2021-11-02 13:55] mike-j-thomas commented on #2716
Argh... sorry. I completely forgot the override state. What you did is spot on 👍

[2021-11-02 14:14] rlynnj11 commented on #2630
@RachelElysia are you able to test this locally and share a video/screenshot of what it looks like? I am unable to confirm in preview since the activity feed is removed from preview environments, but I also can't stop the server to test in dogfood.

[2021-11-02 14:16] rlynnj11 commented on #2129
@martavis as you'll see from the above screenshot, while I was able to trigger a 500 error it lacked the intending styling. Are you able to review, please and either add the correct styling or demonstrate that my test was flawed?

[2021-11-02 14:18] noahtalerman commented on #2595
@lukeheath I added two dev notes that further specify permissions to the linked "✨ Add a "Create new policy" admin flow" Figma page:
- Specify that observers (global and team) cannot navigate to the **Edit policy** page by selecting the policy's name
![Screen Shot 2021-11-02 at 10 17 11 AM](https://user-images.githubusercontent.com/47070608/139864827-4879edab-a545-4e96-b569-24ecca7c66d5.png)
- Spe

[2021-11-02 14:22] RachelElysia opened #2764 "Manage Queries Page: Bug with styling on multiselect"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

The mult

[2021-11-02 14:23] noahtalerman commented on #2716
@mike-j-thomas it was a mess up from me to not indicate, in this issue's description, that we need the override state. Always room to improve!

[2021-11-02 14:28] noahtalerman commented on #2227
@lukeheath I'm assigning this issue to you for UI review and, later, engineering specification. Please pass the issue back to me if you have any questions or concerns with the approach :)

Please note that these UI changes to the **New policy** page and **Edit policy** page are dependent on the following issue that specified adding these pages: #2595

[2021-11-02 14:29] noahtalerman commented on #2716
@lukeheath I'm assigning this issue to you for UI review. Please pass the issue back to me if you have any questions or concerns with the approach :)

Please note that these UI changes to the **New policy** page and **Edit policy** page are dependent on the following issue that specifies adding these pages: #2595

[2021-11-02 14:33] mna commented on #2660
Some preliminary thoughts on libraries:

There's a 3rd one https://github.com/RobotsAndPencils/go-saml but it hasn't seen any activity in 6 years.

https://github.com/russellhaering/gosaml2 seemed interesting because it is the same author (and is based on) the goxmldsig package that we already use and presumably could be easier to fit in our codebase, but despite some light recent commits, the aut

[2021-11-02 14:46] martavis commented on #2129
@rlynnj11 Can you post a video of the way it was triggered. This looks like the page navigated to `/500` which shouldn't be the case anymore. The task was to remove that route and display the error "page" over the existing route.

[2021-11-02 15:26] rlynnj11 commented on #2129
<img width="1267" alt="Screen Shot 2021-11-02 at 11 23 29 AM" src="https://user-images.githubusercontent.com/44620612/139876988-8ddb6b67-6275-414c-86cd-78d49ac55950.png">

I can't get steps in a Loom video because most of the steps are desktop not browser based. Essentially, this error was triggered by:

1. Run `fleetctl preview` (no tags - defaults to 4.5.0 right now)
2. Via docker desktop kill m

[2021-11-02 15:51] rlynnj11 opened #2765 "Consistent checkbox behavior across all user roles"
### Goal

TODO
Determine consistency requirements for checkbox behavior through app for all user roles

### How?

Team admin and Team maintainer see a checkbox behavior on Queries page that grays out queries the user cannot delete. In all other instances, checkboxes simply do not display if a user cannot delete. There is a valid reason for this, but we may want to consider whether the inconsistenc

[2021-11-02 17:30] lukeheath commented on #2713
@noahtalerman @chiiph Updated, but one clarifying question before I outline "Tasks":

1. Will we be using the existing live query endpoint, or is there a new API endpoint specifically for running policies as live queries?

[2021-11-02 18:01] mikermcneil opened #2770 "As a global admin, I want to manually set (or send a password reset email) for any user in the system."
### Goal

As a global admin, I want to manually set (or send a password reset email) for any user in the system.

### How?

- [ ]

[2021-11-02 18:07] lukeheath commented on #2596
@noahtalerman Questions:

1) Presumably this ticket includes adding the modal pop-up when the OS name is clicked, correct?

2) Is the OS name a link for all roles, or only if they have ability to create policies?

[2021-11-02 18:17] noahtalerman commented on #2713
@lukeheath yes, I propose using the same websockets endpoint for running policies as live queries.

Attaching a Loom video that walks through how I think the current websockets setup could be utilized here:
https://www.loom.com/share/314ccbd697db45b89d6e770f70e3865e

[2021-11-02 18:35] noahtalerman commented on #2596
Correct

The OS name is only link for admins (gobal and team) and maintainers (global and team). I specified this is a new dev note. Great catch.
![Screen Shot 2021-11-02 at 2 28 42 PM](https://user-images.githubusercontent.com/47070608/139923823-38998085-1cfd-462d-80c7-e89ea15112b5.png)

@lukeheath the following is a new question inspired by your questions:
- When a Fleet premium (access to teams

[2021-11-02 19:41] noahtalerman opened #2772 "Add ability to see when the Fleet config changes, what changed, and who made the changes"
The Fleet server configuration can be obtained using the `fleetctl get config` command or by sending a request to the `GET api/v1/fleet/config` API route.

### Goal

As a Fleet user I want to be able to know when the Fleet config changes, what changed, and who made the changes so that I can more easily troubleshoot issues with Fleet that may be due to changes in the config.

[2021-11-02 21:21] rlynnj11 opened #2774 "Is "all teams" vocabulary confusing in Team level user access roles?"
### Goal

TODO
Team level users who have access to multiple teams see an "all teams" menu option in the Hosts page. Is this confusing since they cannot in fact see all teams, and only all teams assigned to *them*. Complicating this, they do NOT see an All Teams view on Policies or Schedule tabs

### How?

https://www.loom.com/share/d4f621e121c84e5585c7b173ba79e71f

[2021-11-02 21:33] rlynnj11 commented on #2517
<img width="1273" alt="Screen Shot 2021-11-02 at 5 33 29 PM" src="https://user-images.githubusercontent.com/44620612/139954859-6a9c2973-8009-4673-a121-d4a7f15ea8f2.png">
Not seeing any 402s. @gillespi314 is this screenshot what you expect?

[2021-11-02 21:53] lukeheath commented on #2594
@noahtalerman Updated, but I'm a bit confused by this issue and will likely need to revise specs.

We're removing the "Select a query" select dropdown from the "Add a policy" modal, so the user has no way to select an existing query.

From Figma, it looks like your expectation is that we replace it with seven standard queries that are hardcoded into a selection table. That's no problem, but in tha

[2021-11-02 22:09] lukeheath commented on #2227
@noahtalerman What would you think of moving the resolution text below "Resolve" instead of aligned next to it? I think that would add more separation between the policy description and resolution. It would also fit in with the "Query" alignment.

Current:
![image](https://user-images.githubusercontent.com/2495927/139958513-873f3664-0106-48ce-a07f-59e1974649a4.png)

Suggested:

[2021-11-03 00:38] mikermcneil commented on #2599
@mike-j-thomas Could you give it a quick read-through?  Particularly for:

- voice/capitalization
- I also think it could be helpful to emphasize the results first, rather than the methodology used (the methodology is nice .  Maybe a table up top?
- Note that [another page on reference architectures is in the works](https://github.com/fleetdm/fleet/issues/474), which will be a lot like [GitLab's e

[2021-11-03 04:06] edwardsb commented on #2006
I have been able to run Fleet on MySQL 8 for a bit now without issues. Closing this for now.

[2021-11-03 04:06] #2006 closed

[2021-11-03 04:20] edwardsb commented on #2575
closing in favor of https://github.com/fleetdm/confidential/issues/584

[2021-11-03 04:20] #2575 closed

[2021-11-03 11:52] chiiph opened #2776 "Improve locking on hosts in high host count accounts"
We learned that the amount of locking time in the hosts can be problematic in high host count deployments with software inventory enabled.

To address this, we'll reduce the amount of concurrent writes to the host table as much as possible per fleet instance. The bulk updating of host seen time is also problematic as it can lock the whole table, so it should be separated into another table.

[2021-11-03 11:52] chiiph commented on #2776
The PR for this is https://github.com/fleetdm/fleet/pull/2753

[2021-11-03 12:21] chiiph commented on #2463
This is scope creep, so take it with a grain of salt, but I wonder if we could add a way to run a specific migration if you are a global admin? Most migrations can be ran in isolation. So if any are missing, they can just be run with something like `fleetctl db-migrate 38291038`. Thoughts?

[2021-11-03 12:24] chiiph commented on #2126
@lucasmrod we are currently only showing the packs and policies that have executed in a host. So we look at this starting from the `scheduled_query_stats` and `policy_membership` tables. We instead need to get the data with the same logic we distribute the queries to hosts when they check in, and add stats data / policy passing data to it.

[2021-11-03 12:25] chiiph commented on #2520
This is very similar to https://github.com/fleetdm/fleet/issues/2126, not sure if we want both.

[2021-11-03 12:33] chiiph commented on #2088
Check out http://github.com/fleetdm/fleet/blob/main/server/fleet/app.go#L183-L195

[2021-11-03 12:37] chiiph commented on #2224
The reason email is enough is because we rely on Gravatar to fetch the author avatar, in case that wasn't clear.

[2021-11-03 13:18] noahtalerman commented on #2594
Correct

The user can no longer select one of their existing queries to create a new policy.

The hypothesis:
- The way a policy's query is written and the results it returns ("yes" or "no" ) are always different than a query used to collect information and return one or more rows of results.
- We'd like the Fleet UI to indicate to the user that the queries that live on the **Queries** page serve

[2021-11-03 13:24] noahtalerman opened #2777 "On "Home" page, update loading state and on "Hosts" page extend the height of labels section"
### Goal

- On **Home** page, update loading state so that the user does not initially see "0"s in the platform host count.
- On "Hosts" page extend the height of labels section so that the user does not have to vertically scroll within the labels section.

[2021-11-03 13:38] noahtalerman commented on #2227
@lukeheath this sounds good to me! Figma is now updated with the above change.

No, the intention is for both the **Edit Policy** page and **Edit Query** page to have the "click on the text to edit" behavior.

The addition of the edit icon to both the **Edit Policy** page and **Edit Query** page is what's changing.

The user can now click anywhere on the text or edit icon to see the "Editing" stat

[2021-11-03 14:02] noahtalerman opened #2778 "Always return `disabled` property in response for `GET /packs` API route"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main` branch.

<hr/>

### 🧑‍💻  Expected behavior

I made a request to the `GET /packs` API route and expected to see `disabled` set to `false` for my enabled pack.

### 💥  Actual behavior

Instead, the `disabled` property was not included in the response.

It appears that `disabled` is now

[2021-11-03 14:25] noahtalerman commented on #2488
@sevickson is there a way to include the `groupname` for users that are part of a group (empty `groupname` for users that are not part of a group) in your latest query?

Including your query here:
[code]

[2021-11-03 14:35] noahtalerman commented on #1939
The "API for contributors" documentation includes "Fleet UI or fleetctl only" API routes. The documentation is now available here: https://fleetdm.com/docs/contributing/api-for-contributors

[2021-11-03 14:35] #1939 closed

[2021-11-03 15:48] noahtalerman commented on #2724
This issue now outlines the task of updating the "Go to Hosts page" button to navigate the user to the **Hosts** page with the correct team selected in the teams dropdown.

I updated the title and description of this issue to reflect the above.

[2021-11-03 15:50] noahtalerman commented on #2747
@rlynnj11 Are you still encountering this issue when running `fleetctl preview` with version 4.5.0?

[2021-11-03 16:04] lukeheath opened #2781 "Remove caret `^` and tilde `~` from production dependencies in `package.json`"
### Goal

Ensure that frontend packages do not auto-update during `make deps` process.

### How?

#### Frontend

- [x] Remove caret from all packages.
- [x] Clear and re-install your local packages, then re-build with `docker-compose up --build`.
- [x] Test the application to ensure no package version changes have introduced bugs.
- Since we're locking down versions, any packages that have already

[2021-11-03 16:13] noahtalerman commented on #2711
In an effort to prepare this issue and #2595 for tomorrow's estimation, we need to make a call on whether to introduce breaking changes to the `/policies` API routes or not.

My proposal is to not introduce any breaking changes and to continue using the `query_` prefix in the response for `/policies` API routes to remain consistent.

@chiiph I think it's your call on how the API routes should chan

[2021-11-03 16:16] lukeheath opened #2782 "Build end-to-end tests for the team admin role using new personas and new Cypress patterns"
### Goal

As a frontend engineer, I want to provide end-to-end test coverage of the new team admin role based on a user persona so that I am confident the team admin role functions as expected.

**Notes:**
- This issue includes the important step of building the team admin Cypress tests from scratch, using new patterns and current best practices. The existing Cypress tests were written for older R

[2021-11-03 16:17] lukeheath commented on #2782
@martavis @RachelElysia @gillespi314 Here is the issue for the approach we discussed with testing the team admin flow in Cypress. Please add any thoughts or feedback as comments. Once we're aligned on this issue, I'l loop in Zach for his feedback.

[2021-11-03 16:23] chiiph commented on #2711
We are making big changes, let's make the API look the way we would do make it look if we could do this all over (eg: let's ignore backwards compatibility).

This will mean that when we make these changes, policies will break in main (cc @lukeheath @rlynnj11). I'll update #2595 shortly.

[2021-11-03 16:26] chiiph opened #2783 "Remove the app_config table"
We've migrated runtime configs to app_config_json. For a while we left app_config just in case, and it helped in some cases. It's been long enough that we can remove it.

Let's take the opportunity in this issue to double check we don't use the old table anywhere.

[2021-11-03 17:15] lukeheath opened #2785 "Loading or searching the "Queries" page causes CPU spikes and the browser to become unresponsive"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `preview`

**Operating system** _(e.g. macOS 11.2.3)_: Confirmed in `Ubuntu 20.04` and MacOS 11.5.1

**Web browser** _(e.g. Chrome 88.0.4324)_: Chrome

<hr/>

### 🧑‍💻  Expected behavior

Loading and searching the queries table should be fast and responsive without spiking the CPU.

### 💥  Actual behavior

[2021-11-03 17:27] chiiph commented on #2595
I've updated the description of the new APIs based on the result of our conversation. Let's use this for backend as well.

[2021-11-03 17:49] lucasmrod commented on #2126
In `/.../hosts/{id}` we are currently returning:
- the packs that apply to this host (without any stat info) in `host.packs`.
- `pack_stats` for the packs that have run in the host.

We need to agree on the way to return the data to the UI, I can see a proposal in Figma in #2520.
/cc @noahtalerman let me know and we can meet to discuss the Figma, and maybe consolidate the two issues into one?

[2021-11-03 18:12] lukeheath opened #2788 "On Query - Select Targets, make the interface less confusing when selecting a single target from the target dropdown"
### Goal

Implement a change that makes it more clear that the user has selected the only target. Example:

1. Search for a specific host so that it is the only result:
![image](https://user-images.githubusercontent.com/2495927/140167911-1b156789-fd96-4f91-998e-fa937962ea2e.png)

2. After selecting the only target, the query stays in place and the dropdown now says "No matching targets":
![image](

[2021-11-03 18:29] lukeheath opened #2789 "Transition frontend unit and integration tests from Enzyme to React Testing Library"
### Goal

Transition unit and integration testing from Enzyme to React Testing Library.

### Why

React Testing Library renders React components and tests the rendered DOM elements, rather than the implementation at a code level. This means that as long as the functionality of the component stays the same, we can change implementation details without having to update the tests. It also encourages

[2021-11-03 18:34] lukeheath commented on #2789
@gillespi314 @RachelElysia @martavis This is the last ticket coming out of our last frontend sync. This one will probably require the most discussion so that we can align on what our testing expectation is for unit, integration and end-to-end tests. Once we have our recommendation, I'll loop in Zach to get his feedback.

[2021-11-03 19:12] mikermcneil opened #2791 "Host details > Policies: I want to see which are team policies and which"
**Fleet version**: 4.5.0

**Fleet tier**: Premium

**User role**:  Global admin

<hr/>

### Goal

As a user on the host details page looking at the table of policies, I want to see whether a policy is a team policy or not.

### 🧑‍💻  Expected behavior

On the host details page, I took a look at my computer.  But instead of the two policies I was expecting, I see four policies.

..... so what's up?

[2021-11-03 19:18] lukeheath commented on #2523
Heads up, we just received a customer request regarding this component and documented as #2788. Still need product feedback on fix, but may be worth including in the PR for this?

[2021-11-03 19:21] rlynnj11 opened #2792 "fleetctl won't enroll host"
**Fleet version** `./build/fleetctl preview --tag main` with a build pulled at 15h00 ET today

**Fleet tier** premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
n/a

**Operating system** macOS 11.6

**Web browser** Chrome 94

<hr/>

### 🧑‍💻  Expected behavior
I can start `fleetctl preview` and my host automatically enrolls.

### 💥  Actual behavior
If I

[2021-11-03 19:25] lucasmrod commented on #2792
Could you run:
[code]
And see if there are any logs in `/Users/$YOUR_USERNAME/.fleet/preview/orbit.log`
?

[2021-11-03 19:26] rlynnj11 commented on #2747
Yes.

[2021-11-03 19:27] #2748 closed

[2021-11-03 19:34] gillespi314 opened #2793 "Client-side table search doesn't fully reset search string when deleting with backspace"
### 🧑‍💻  Expected behavior

1. Enter something in the search box for a table that uses client-side search (e.g., users or software table on host details page, or manage queries page)
2. See filtered rows
3. Delete search string with backspace
4. Expect table to reset and display all rows

### 💥  Actual behavior

Instead of all rows, table shows rows filtered by the first character of the prior sea

[2021-11-03 19:38] zwass opened #2794 "Add debug logging for query SQL"
### Goal

There are a number of places in the application where complex SQL is built and it would be helpful to be able to see the queries that are actually run.

### How?

TBD

[2021-11-03 19:46] mikermcneil opened #2795 "Icons for each log destination in the UI"
![image](https://user-images.githubusercontent.com/618009/140181940-ce67b878-856b-4647-ba02-e01d48538cb6.png)

[2021-11-03 19:49] mikermcneil opened #2796 "Configure log destinations in the UI"
As a user, I want to configure my log destination in the UI.

Does it vary based on the schedule you're using?  What about packs?

[2021-11-03 19:51] lukeheath commented on #2789
Martavis: The Enzyme tests are very old, we should probably not transition them on a per-test basis to React Testing Library.

Sarah: We could leave Enzyme tests in place until we touch that component, then remove them and start fresh with React Testing library.

Sarah: We should choose a page and write unit/integrations tests for that page similar to #2782 that will establish best practices for u

[2021-11-03 20:10] mna commented on #2224
Added the `author_email` field in queries response payload in #2798 . About this:

Is that meant to be done by the frontend? Because I see we already return the `updated_at` timestamp of the query in RFC3339 format, not sure if the friendlier formatting is meant to be addressed server-side or client-side.

[2021-11-03 20:13] mikermcneil commented on #1418
@edwardsb ^my notes about x-forwarded-for

[2021-11-03 20:21] mikermcneil commented on #1418
One solution: Host vitals just uses the curl table and asks an api "what's my public ip?"

[2021-11-03 20:55] #2593 closed

[2021-11-03 23:09] lucasmrod commented on #2463
What about just `fleetctl db-migrate` (I believe `fleet` knows how to correctly auto-apply the migrations). This is to avoid users mistakenly applying migrations out of order.

[2021-11-04 01:10] rlynnj11 opened #2801 "Team Permissions edge cases when a user has differing access to multiple teams"
### Goal

TODO

- [x] Team Admin/Team Observer
- [x] Team Admin/Team Maintainer
- [x] Team Maintainer/Team Observer

### How?

**Team Admin / Team Observer** behavior to discuss:

<img width="703" alt="Screen Shot 2021-11-03 at 9 00 29 PM" src="https://user-images.githubusercontent.com/44620612/140240477-d2ba5d45-7009-4b65-bf2f-b0909bf795dc.png">

1. allows an admin to create duplicate queries and

[2021-11-04 01:41] lukeheath commented on #2594
@noahtalerman Thanks for the explanation - that makes perfect sense. I've updated the issue description and assigning back to you.

[2021-11-04 09:11] mike-j-thomas commented on #2599
I rearranged the order of the content to display the results higher up the page. I also did a couple of different versions with the results displayed in tables. Not sure which treatment is clearer, so please take a look here and let me know.
https://www.figma.com/file/Jzo81K6E4jC0mcjD4JsWM8/?node-id=921%3A687

[2021-11-04 13:23] chiiph commented on #2463
If it works when a migration is skipped, then sure! But we should also make sure to have a mode to diagnose the issue.

[2021-11-04 13:39] sevickson commented on #2488
Hey @noahtalerman, here a better query:
[code]
Some explanation:
- `type <> 'special'` remove special accounts in Windows
- `shell NOT LIKE '%/false'` remove accounts that do not have login shell
- `username NOT LIKE '%$'` remove Windows computer accounts
- `username NOT LIKE '\_%' ESCAPE '\'` remove MacOS special accounts that start with `_`

[2021-11-04 13:42] noahtalerman commented on #2711
The backend specification to address de-linking existing policies from their saved queries and adding support for policies owning their own query is now included in the following issue: #2595

[2021-11-04 13:42] #2711 closed

[2021-11-04 14:42] RachelElysia opened #2802 "Manage hosts on team by policy bug: Removing policy reverts to all teams"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected beh

[2021-11-04 16:28] lucasmrod commented on #2463
In what situations is a migration skipped? Maybe I'm not considering some scenarios our customers may hit...

[2021-11-04 17:14] mikermcneil opened #2804 "Remote wipe + remote lock on any OS"
### Goal

### How?

Some initial thoughts:
- [ ] remote wipe (a particular host only, no batch wipe)
- [ ] remote lock (a particular host only, no batch lock)
- [ ] globally disableable, possibly also disable-able by team.  Ok to simplify by having both disabled together

[2021-11-04 17:31] noahtalerman commented on #2785
@gillespi314 I added you as an assignee to this issue because I see that you have a linked PR (now merged).

[2021-11-04 18:19] lukeheath commented on #2595
Noah: Update "Delete Modal" screenshot. Also update save policy screen to remove dev note.

Luke: Ensure edit pencil icons are spec'd in this ticket for both policy and query pages.

[2021-11-04 18:28] chiiph commented on #2463
In the case where we release a patch release, and then a new minor release, without reshuffling the migrations.

[2021-11-04 18:47] lukeheath commented on #2596
Noah: Update wording for side panel: "Updated to “Compatible with:” and “macOS”

[2021-11-04 18:59] lukeheath commented on #2227
Rachel: We are going to make this live query flow a global component, but `resolution` is specific to policies.

[2021-11-04 19:13] rlynnj11 commented on #2778
<img width="1266" alt="Screen Shot 2021-11-04 at 3 12 28 PM" src="https://user-images.githubusercontent.com/44620612/140404779-d0509dff-7427-4b03-9f17-f07807e9aa61.png">

[2021-11-04 19:51] RachelElysia commented on #2596
Make a list of operating systems and versions to QA!

[2021-11-04 20:29] lukeheath commented on #2595
@chiiph Assigning to you so you can reassign to backend team as needed.

[2021-11-04 20:38] rlynnj11 opened #2806 "As a Global Observer, should I have access to observer can run queries that a TEAM level admin or maintainer created?"
**Fleet version** : 4.6.0 main branch, but reproduces in stable

**Fleet tier**: Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Team Maintainer / Global Observer

**Operating system** macOS 11.6

**Web browser** Chrome 95

<hr/>

### 🧑‍💻  Expected behavior
As a Team Maintainer, I am unclear on whether checking the "observer can run" checkbox grants

[2021-11-04 20:59] noahtalerman commented on #2724
I removed the "bug" label because this is currently the expected behavior.

[2021-11-04 21:27] martavis commented on #2793
Noting that this is a debouncing issue, very similar to #2416.

[2021-11-04 22:37] rlynnj11 commented on #2801
This most likely needs broken into 2 separate tickets if both issues noted turn out to be actionable.

[2021-11-04 23:01] RachelElysia opened #2809 "Host details page policies table bug: UI renders View all hosts for status "---""
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected beh

[2021-11-05 03:09] mike-j-thomas commented on #2599
@mikermcneil I assigned this over to you. Let me know when you've had a chance to look at the table linked in the comment above.

[2021-11-05 03:11] #2734 closed

[2021-11-05 13:01] noahtalerman opened #2813 "Emphasize osquery installers in Fleet documentation"
### Goal

In the "Adding hosts" documentation, emphasize generating Fleet installers with `fleetctl package`, options for distributing these installers, and a migration strategy from using base osquery (custom flagfile and extensions) to using Fleet installers.

### How?

- [x] In "Adding hosts" documentation, instruct users on how to generate Fleet installers for Fleet with `fleetctl package`
  -

[2021-11-05 13:04] noahtalerman commented on #2813
The above requires additional research.

One solution posed by the customer is to set `host_identifier` to `uuid` in the flagfile to mitigate duplicate host enrollment when both base osquery and the osquery installer are running on a host.

[2021-11-05 13:19] noahtalerman opened #2814 "Add ability to share a list of hosts that are affected by a specific CVE"
### Goal

As a user, I want to be able to share a list of hosts that are affected by a specific CVE so that...

### How?

- [ ] Possible solution: Add ability to search for a CVE and see which hosts are affected
- [ ] Possible solution: Ass ability to export a list of hosts to CSV

[2021-11-05 13:23] noahtalerman opened #2815 "Add ability to see all labels a host has on the "Hosts" page"
### Goal

As a user, I want to be able to see all the labels a host has on the Hosts page so that I can distinguish between development and production hosts when looking at which hosts are affected by a CVE so that...

### How?

- [ ] Possible solution: Add a "Labels" column to the **Hosts** page
- [ ] Possible solution: Add ability to simultaneously filter by software version and by label on the

[2021-11-05 13:30] noahtalerman opened #2816 "When enrolling a new host, add ability to automatically transfer to a team"
Customer: "One of the reasons we've chosen Fleet, is so we can effect changes to the osquery configurations across the hosts without going through an onerous deployment process."

### Goal

As a user enrolling a new host, I want its team to be determined automatically so that I don't have to deploy multiple (team specific) enroll secrets.

### How?

- [ ] Customer suggested solution: assign labels

[2021-11-05 13:43] noahtalerman opened #2817 "Provide a helpful error when running queries with macadmins table on hosts that do not support these tables"
The addition of the macadmins/osquery-extension tables to the Fleet installer (`fleetctl package`) is covered by the following separate issue: #2136

### Goal

- [ ] As a user of Fleet writing queries using the macadmins tables (`mdm`, `munki_info`, ...), if I try to run those queries on hosts where the tables are not supported, I want to see a helpful error that...
  - Tells me no such tables exi

[2021-11-05 13:52] rlynnj11 opened #2818 "4.5.1 Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** 4.5.1

**Web browser** Chrome 95

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests require license key `fleetctl preview --license-key=eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ

[2021-11-05 14:00] noahtalerman commented on #2801
@rlynnj11 at 0:44 in your Loom video, you navigate to "Settings" and see "Decepticons."

This seems like a bug to me because initially it appears that your user is a Team admin for "Autobots," based on what permissions you see on the **Schedule** and **Policies** pages. So this user should see "Autobots" when you navigate to "Settings" and not "Decepticons"

I cannot recreate the above on `main`

[2021-11-05 14:13] noahtalerman commented on #2801
@rlynnj11 I agree that what you've discovered here deserves more investigation.

Can you please schedule a call with you and I for this coming Monday to discuss your findings and file any additional issues?

[2021-11-05 14:23] #2778 closed

[2021-11-05 14:30] rlynnj11 commented on #2793
https://www.loom.com/share/3587252dbde3488087ebda254bdca820

[2021-11-05 14:30] #2793 closed

[2021-11-05 14:33] rlynnj11 commented on #2697
<img width="917" alt="Screen Shot 2021-11-05 at 10 33 17 AM" src="https://user-images.githubusercontent.com/44620612/140527307-8ddb3456-aa7b-4b61-b5a9-c0e53d812710.png">

[2021-11-05 14:33] #2697 closed

[2021-11-05 15:20] mikermcneil opened #2820 "entire row clickable"

[2021-11-05 15:57] RachelElysia opened #2821 "Permission based Teams UX: Need more CTA on the Settings > Teams and/or Dashboard > Teams page"
### Goal

TODO

Discuss:
- User flow on the Settings > Specific Team page
- User flow on the Dashboard > Specific Team page

As an admin looking at a specific team, there should be a settings > team or dashboard > team that includes quick navigation to all actions regarding a specific team's hosts, schedules, policies, and settings. Currently, you have to click the main nav item and navigate away

[2021-11-05 15:57] rlynnj11 commented on #2785
Long synchronous discussion here https://fleetdm.slack.com/archives/C019WG4GH0A/p1636125480471400

Comparison in software table
4.5.1
<img width="1280" alt="4 5 1" src="https://user-images.githubusercontent.com/44620612/140539845-33513c09-c291-40f2-bbee-d95dcaf227e7.png">
4.5.0
<img width="1263" alt="4 5 0" src="https://user-images.githubusercontent.com/44620612/140540501-3178ea79-11ec-4da2-8c3e-c

[2021-11-05 15:59] rlynnj11 commented on #2785
queries
4.5.0
<img width="1273" alt="queries_4 5 0" src="https://user-images.githubusercontent.com/44620612/140540784-34aff818-d35a-46b9-b471-8f6705e41178.png">

[2021-11-05 16:00] rlynnj11 commented on #2785
Queries
4.5.1
<img width="1275" alt="Screen Shot 2021-11-05 at 11 41 38 AM" src="https://user-images.githubusercontent.com/44620612/140540896-04141873-514d-4750-a351-c5429e4cda0a.png">

[2021-11-05 16:11] RachelElysia opened #2822 "Dashboard for teams doesn't filter hosts"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

Dashboar

[2021-11-05 18:29] noahtalerman commented on #2822
One proposed fix is to update the hosts count section to use the `GET /count` API route for each of the platforms.

Updating the host count is when a team is selected in the team filter is covered by improvements in the following issue: #1995

We'd like to find a quicker way to address this bug because the above issue has been removed from the current, 4.6.0 release cycle.

@RachelElysia great cat

[2021-11-05 18:30] noahtalerman commented on #2809
Let's remove the "View all hosts" button from the row if the policy's status is set to "---"

[2021-11-05 18:30] noahtalerman commented on #2809
@RachelElysia another bug catch in the bag! 🏆

[2021-11-05 18:32] noahtalerman commented on #2726
The expected behavior is for the bundle identifier tooltip to always be visible in the "Name" column.

[2021-11-05 18:35] mikermcneil opened #2824 "Query console: z-index issue in save query modal"
**Fleet version**: 4.5.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

I expected the "X" to close to live behind the veil.

### 💥  Actual behavior

[2021-11-05 18:51] noahtalerman opened #2825 "Add API endpoint to retrieve hosts by platform"
## Goal

As a Fleet user managing macOS workstations, I want to see the number of hosts that have specific operating system versions installed so that I see if the number of hosts with the latest macOS security update is trending in the right direction.

## Figma

macOS aggregate information on Home page: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=2673%3A61795

Note that the above

[2021-11-05 18:57] noahtalerman commented on #2825
@mike-j-thomas can you please update the following UI elements and then pass this issue's assignment back to me?
- The "Hosts summary" section that includes the number of hosts that have reported vitals in the last 7 days.
  - The Fleet UI should emphasize the number of hosts that have reported vitals in the last 7 days over the hosts that have not. This way, the user can compare the host counts t

[2021-11-05 19:04] rlynnj11 commented on #2822
definitely reproduced on my end in latest main

[2021-11-05 19:23] rlynnj11 commented on #2522
Looks great!

[2021-11-05 19:23] #2522 closed

[2021-11-05 20:55] mikermcneil opened #2826 "padding issue on "manage hosts" page"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.5.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

pa

[2021-11-05 21:14] noahtalerman commented on #2100
This goal outlined in this issue is now covered by the following issue: #2099

[2021-11-05 21:14] #2100 closed

[2021-11-05 21:19] noahtalerman commented on #2788
I believe the goal outlined in this issue is covered by the following separate issue: #2523

Thank you for following up and filing this issue Luke!

[2021-11-05 21:19] #2788 closed

[2021-11-05 21:48] lukeheath commented on #2785
@gillespi314 I'm going to try implementing React Table's [useFilters](https://react-table.tanstack.com/docs/api/useFilters) hook to filter the data inside react table, instead of outside and pushing it in. I'll update here with my findings.

So far I've confirmed the following:

- This is not a new bug, but removing debounce made it more obvious.
- The delay is being caused by the render of the ta

[2021-11-05 23:50] zwass commented on #2747
@rlynnj11 does this show very briefly before taking you to the dashboard, or does it stay at the login screen with the error?

[2021-11-06 00:41] rlynnj11 commented on #2747
Briefly before it auto-logs you in, so you have to catch it. It's easier to catch if you're messing around with different `--tag`s or logging out of preview. I haven't nailed down *exactly* when it shows if you log out, because it doesn't show 100% of the time in that case.

[2021-11-06 02:17] zwass commented on #2747
That's what I needed to know. Thank you.

[2021-11-07 06:45] martavis commented on #2635
This issue is tied to #2493.

[2021-11-07 07:41] martavis commented on #2224
Can someone clarify where we are with this? Does it take priority over the policies tasks @lukeheath?

[2021-11-07 15:18] rlynnj11 opened #2829 "Generate Installer from hosts page"
### Goal

As a new Fleet user, I want to be able to see instructions to download an osquery installer in the Fleet UI so that I can enroll my macOS, Windows, and/or Linux hosts.

### New issues
- #2091
- #2771
- #2290
- #2813

### Review/QA
- #2635

[2021-11-07 15:27] rlynnj11 commented on #2606
This looks to be an eng-only change, so it can skip QA as far as I'm concerned. If there's something you'd like me to specifically look at please let me know.

[2021-11-07 18:51] zwass opened #2830 "Add osquery version to host details page"
### Goal

Osquery version is available in the host dashboard

<img width="1442" alt="Screen Shot 2021-11-07 at 10 49 23 AM" src="https://user-images.githubusercontent.com/575602/140657837-1a774607-e568-4f75-8e6f-0496a18fe49f.png">

But missing from the host detail page

<img width="820" alt="Screen Shot 2021-11-07 at 10 49 57 AM" src="https://user-images.githubusercontent.com/575602/140657885-51f8

[2021-11-07 20:31] rlynnj11 commented on #2747
Nailed this down finally: This reproduces as follows.

1. `sudo fleetctl preview reset`
2. `sudo fleetctl preview`

The error flashes before you log in. If you instead run `sudo fleetctl preview` when you've already had a preview instance before, it does *not* show the error. I captured it on a screen recording here: https://www.loom.com/share/855ce3479a3444dd9da789d27fe8adfd

[2021-11-08 02:22] lukeheath commented on #2224
@martavis If you haven't started on this yet, let's prioritize it after the policies work.

[2021-11-08 02:28] #2606 closed

[2021-11-08 02:42] lukeheath opened #2832 "Deploy Fleet UI and Storybook on merge to `main`"
### Goal

As an Engineer, I want to deploy the latest build of the Fleet UI and storybook to the fleetdm.com domain so that it is quickly available to the team.

`dogfood-staging.fleetdm.com` - Latest UI build using `dogfood.fleetdm.com` as the API.
`storybook.fleetdm.com` - Latest Storybook build.

### How?

@chiiph to spec.

- [ ]

[2021-11-08 03:46] jacobshandling commented on #2830
I'll try to take care of this

[2021-11-08 05:20] lukeheath commented on #2785
Filtering with React Table fixed the performance issues. I have PR #2834 open that fixes the search filtering on "Name". I need to update the PR with filtering fix for platforms, which I'll get in tomorrow morning. Should be no problem to release 4.5.1 by end of day.

[2021-11-08 12:10] #2616 closed

[2021-11-08 13:26] mna commented on #2224
@martavis The backend PR that adds `author_email` will be merged in a bit (approved, waiting for CI). Not sure if anything more is needed for the backend re: my previous comment https://github.com/fleetdm/fleet/issues/2224#issuecomment-959938456.

[2021-11-08 14:23] chiiph commented on #1838
BE PR: https://github.com/fleetdm/fleet/pull/2837

[2021-11-08 14:46] chiiph commented on #2309
Finally addressed by https://github.com/fleetdm/fleet/pull/2835 cc @lucasmrod

[2021-11-08 15:35] noahtalerman commented on #2829
Test comment to see if this comment is reflected in the issue on github.com

[2021-11-08 15:44] noahtalerman commented on #2099
**Pulled out of the 🧩 Product Google doc on 11-08-2021**

Mike and Zach: Ok with bumping required memory if this is the blocker
Zach: Concern is for the existing users. Breaking their Fleet deployment
Mike: We release Fleet 5.0 with vulnerability management for everyone
Zach: We can release Fleet 4.7.0 with vulnerability management for new Fleet users. If you’re desperate to run Fleet on less than

[2021-11-08 15:50] noahtalerman commented on #2825
@mike-j-thomas I'm removing this issue from the Growth board and your assignment for now.

on Friday (11-05) I received some customer feedback on how a line graph that shows the trend of operating system versions over time may be more informative than a bar graph.

[2021-11-08 16:09] lucasmrod commented on #2309
Marking as fixed by #2835, let's re-open if it happens again.

[2021-11-08 16:09] #2309 closed

[2021-11-08 18:09] chiiph commented on #2716
@noahtalerman I've updated the API to match the new API of the dependent ticket and use an array of platforms rather than a string.

[2021-11-08 19:28] noahtalerman commented on #2814
Questions Noah asks when drafting API wireframes:
- Are there existing API routes that can be used? If so, then no new drafts are needed.
- Are there existing API routes that can be modified? If so, then let's try to update the existing routes.
- If no to the above, then we need a new API route...
  - Are there any existing API routes that organize data in a similar way (key names, structure, etc.

[2021-11-08 19:38] RachelElysia commented on #2630
@rlynnj11

Here's my loom for no activity state QA and error state QA:
 https://www.loom.com/share/939e4d55acf443829cc7fdf470e15e52

[2021-11-08 21:43] macjustice commented on #2829
As an endpoint admin currently trying to work with the osquery project docs, the FleetDM [deployment info](https://fleetdm.com/docs/using-fleet/adding-hosts), and this Trail of Bits [blog post](https://www.trailofbits.com/post/announcing-osquery-5-now-with-endpointsecurity-on-macos) to figure out the cleanest path to getting osquery on our endpoints and added to Fleet, I would appreciate this!

Fo

[2021-11-08 22:01] rlynnj11 commented on #2630
Thanks @RachelElysia  this is an excellent walkthrough!

[2021-11-08 22:01] #2630 closed

[2021-11-08 22:12] rlynnj11 commented on #2749
https://www.loom.com/share/76c74ed8d7044ed3947166138f27df64 looks good! cc @noahtalerman in case you'd like us to audit pack behavior overall.

[2021-11-08 22:12] #2749 closed

[2021-11-09 02:13] zwass opened #2850 "Add scripting/documentation for patch release migrations"
See discussion in https://github.com/fleetdm/fleet/pull/2652#discussion_r737389204.

[2021-11-09 12:41] mike-j-thomas commented on #2825
Ok, let me know when you want me to jump back on it.

[2021-11-09 14:10] noahtalerman commented on #2774
These are both interesting questions. Maybe we'll address this some day.

[2021-11-09 14:12] noahtalerman commented on #2765
So awesome that this issue contains a video archive of the experience for all roles in Fleet ✨

This is a good point. We may come back to this.

[2021-11-09 14:36] mna commented on #1995
Backend PR is merged (#2845 ), moving ticket back to ready to resume for frontend part.

[2021-11-09 15:11] rlynnj11 commented on #2460
closed out per slack discussion

[2021-11-09 15:11] #2460 closed

[2021-11-09 15:14] rlynnj11 commented on #2809
<img width="961" alt="Screen Shot 2021-11-09 at 10 14 28 AM" src="https://user-images.githubusercontent.com/44620612/140951012-f94694e1-97f3-4df6-8495-274fc788a1d9.png">

[2021-11-09 15:14] #2809 closed

[2021-11-09 15:25] rlynnj11 commented on #2088
@noahtalerman @chiiph I could use an assist defining done/QA steps for this ticket - unless I'm mistaken software inventory is already on by default for preview, so
1. I'm uncertain of the best way for me to help confirm this in a non-preview context.
2. This ticket defines the ability to turn software inventory *off* as a key deliverable, and I haven't found a UI setting for that - is that out of

[2021-11-09 15:57] noahtalerman commented on #2088
@rlynnj11 I think the best way to confirm software inventory being turned on for new Fleet deployments will be to ask an engineer to back up their current database, run a local Fleet with a cleared database and the current code from `main`, and enroll some simulated hosts to see if they report software on the **Host details** page.

Thank you for calling this out.

Currently, there's no UI setting

[2021-11-09 16:06] lucasmrod commented on #2126
See #2855 (doesn't include any policy related changes, only packs).

[2021-11-09 16:35] martavis commented on #2129
@rlynnj11 After doing some digging, I realize that there are more steps involved in making this ticket fully work. In a nutshell, we're removing an old technology but are not completely finished, and it's intercepting the ability to use the 500 popover for every 500 error.

Here's how I reproduced it:
- Log in
- Visit the url `/hosts/1000`
- Wait a few seconds while the page tries to load, it shou

[2021-11-09 17:22] rlynnj11 commented on #2129
hooray! Links check out, overlay checks out, I tried to send a screenshot to prove success but github isn't responding to me trying to upload

I'm okay with closing this task out and catching the rest as they're resolved. We may want to consider creating an epic for this work @lukeheath

[2021-11-09 17:22] #2129 closed

[2021-11-09 17:40] RachelElysia opened #2856 "Dev X: Refactor ManageSchedulePage (global_scheduled_queries and team_scheduled_queries API calls)"
### Goal

Updating frontend patterns to remove redux from Schedules

### How?

- [x] Create global_scheduled_queries API call in services/entities
- [x] Create team_scheduled_queries API call in services/entities
- [x] Refactor ManageSchedulePage.tsx to use new API patterns and remove redux use of APIs
- [x] Refactor ScheduleListWrapper.tsx  to use new API patterns and remove redux use of APIs

[2021-11-09 19:01] lucasmrod commented on #2520
Backend work for this is done in #2855.

@gillespi314: The current UI seems to play well with the changes:
(Mentioning this in case we want to merge the backend changes to `main` and not block on UI changes.)

![Screen Shot 2021-11-09 at 15 58 51](https://user-images.githubusercontent.com/2073526/140987596-782aca8b-e5db-4f60-8028-e96a69269d4c.png)

[2021-11-09 19:20] noahtalerman opened #2858 "Add ability to see a preview of scheduled query data (logs) in the Fleet UI"
## Goal

As a Fleet user, I want to know what the data (logs) returned by scheduled queries will look like in my log destination without having to configure a log destination.

## Figma

Add ability to see a preview of scheduled query data: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3232%3A85994

## Frontend

### 1

- [ ] Add "Preview data" text link to the "Schedule editor" modal.

[2021-11-09 20:21] noahtalerman opened #2859 "Link to privacy policy from Fleet UI"
## Goal

As a Fleet User, I want to have a privacy policy link on my profile page so that I can easily find Fleet's privacy policy

## Figma

Link to the privacy policy in the Fleet UI: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3233%3A84750

## Frontend

### 1

- [ ] Add "Privacy policy" link to profile page side panel.
- Link should be center aligned.
- Links to: https://fleetdm.

[2021-11-09 20:36] mikermcneil opened #2860 "Logged in home: Filtering by team should update host counts"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): v4.5.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Fleet Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): Global admin (but I didn't check other roles- they probably have the same problem)

<hr/>

### 🧑‍💻  Expected beh

[2021-11-09 20:51] mikermcneil opened #2862 "Queries table: Unexpected "select all" checkbox behavior"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.5.0

**Operating system** _(e.g. macOS 11.2.3)_: macOS 11.6

**Web browser** _(e.g. Chrome 88.0.4324)_: Chrome

<hr/>

### 🧑‍💻  Expected behavior

Only one "select/deselect all checkbox" instead of two.

### 💥  Actual behavior

Note this bug is much more visible with a very wide window width.

![image](h

[2021-11-09 20:54] mna commented on #2737
@noahtalerman  Currently, this gets interleaved with the logging that is included in the package builder functions, e.g. (ignore the TODO part):

[code]

Is that supposed to _replace_ the logging, as a more user-friendly output? Or should both be kept?

[2021-11-09 21:07] rlynnj11 commented on #2785
<img width="1272" alt="Screen Shot 2021-11-09 at 4 06 32 PM" src="https://user-images.githubusercontent.com/44620612/141004758-185f1fca-5230-4cb4-9388-357048a5f7c2.png">
This is 4.5.1 now ^^

[2021-11-09 21:11] rlynnj11 commented on #2785
Disregard above, that build failed, I'll check again when the rebuild comes through

[2021-11-09 21:27] rlynnj11 commented on #2785
<img width="1280" alt="Screen Shot 2021-11-09 at 4 27 01 PM" src="https://user-images.githubusercontent.com/44620612/141007565-22d14f5e-5a1d-437e-b765-ebb71040c310.png">
Well that's looking better @gillespi314

[2021-11-09 21:33] rlynnj11 commented on #2822
https://www.loom.com/share/1f5e9383a24446eeb777335c9d458e13 Looking good!

[2021-11-09 21:33] #2822 closed

[2021-11-09 21:43] #2818 closed

[2021-11-09 21:43] #2785 closed

[2021-11-09 21:43] rlynnj11 commented on #2818
@zwass @noahtalerman recommending a pass now that we've gotten some serious improvements to the queries page issue.

@lukeheath please evaluate whether further improvements are needed in future so we can get a ticket written up

[2021-11-09 21:54] rlynnj11 commented on #2290
This concern is still present in the latest test, and *also* it's worth noting that in current main (0195943), "waiting for current host to enroll" in my cli is hanging for much longer than usual (this usually completes in a minute or so)

[2021-11-09 21:56] lukeheath commented on #2818
Per Slack convo, the remaining CPU spikes are happening within `react-table` internals and can be seen in `react-table`'s filter examples. I don't think there's anything we can do on our end to improve it, short of simplifying the table layout. If we find it's negatively impacting UX, we could look into `react-table`'s code for an improvement and potentially contribute to the project directly. Alt

[2021-11-09 22:04] chiiph commented on #2126
Here's the PR for policies: https://github.com/fleetdm/fleet/pull/2865

[2021-11-09 22:05] chiiph commented on #2715
This is covered by this PR: https://github.com/fleetdm/fleet/pull/2865

[2021-11-09 22:08] eashaw opened #2866 "When viewing fleetdm.com/docs on a mobile device, long headings with no spaces are overflowing off the page"
**Operating system** _(e.g. macOS 11.2.3)_: iOS v14.2

**Web browser** _(e.g. Chrome 88.0.4324)_: Safari

<hr/>

### 🧑‍💻  Expected behavior

I expected the heading to be completely visible.

### 💥  Actual behavior

The heading for https://fleetdm.com/docs/deploying/configuration#osquery-async-host-collect-max-jitter-percent overflows off the page.
![image](https://user-images.githubusercontent.com

[2021-11-09 22:09] noahtalerman commented on #2737
@mna the user-friendly output should replace the logging output. Using your comment above, the output would look like the following:
[code]

Thank you for the notification! Please continue to tag me when questions like this come up :)

[2021-11-09 22:09] rlynnj11 commented on #2290
Otherwise this is now an odd one to test since we're running osquery and auto-installing the host machine in preview. Any ideas on best way to test?

[code]

[2021-11-09 22:15] rlynnj11 commented on #2635
checks out, is dynamic if I change the url in settings.

[2021-11-09 22:15] #2635 closed

[2021-11-09 22:24] rlynnj11 commented on #2628
<img width="923" alt="Screen Shot 2021-11-09 at 5 23 57 PM" src="https://user-images.githubusercontent.com/44620612/141014930-b865f995-3154-4ba4-b389-87f65dd5c8d0.png">
<img width="908" alt="Screen Shot 2021-11-09 at 5 23 33 PM" src="https://user-images.githubusercontent.com/44620612/141015013-64eae523-bbba-437d-940d-a9ffdb530515.png">

[2021-11-09 22:24] #2628 closed

[2021-11-09 22:44] noahtalerman commented on #2488
@lukeheath I moved this issue into the "Ready for architect" column of the Product board and passed the assignment over to you.

I think it makes sense to have @chiiph take a look at the proposed changes prior to estimation. This issue does not include any changes to the Fleet UI and instead modifies the osquery query Fleet uses to collect the device data that is displayed on the **Host details**

[2021-11-09 22:47] noahtalerman commented on #2814
@lukeheath I'm passing this issue's assignment over to you.

Still TODO for this issue is to verify that the API wireframes we sketched out together in Figma support the proposed changes to the UI.

Please let me know if you have any feedback or concerns about the proposed changes to the UI.

[2021-11-09 22:49] noahtalerman commented on #2858
@lukeheath I'm passing this issue's assignment to you.

The proposed UI changes do not require API wireframes. Please let me know if you have any questions or concerns about the proposed changes.

[2021-11-09 22:50] noahtalerman commented on #2859
@lukeheath I'm passing this issue's assignment to you.

The proposed UI changes do not require API wireframes.

Please let me know if you have any questions or concerns about the proposed changes.

[2021-11-09 22:55] noahtalerman commented on #2603
@chiiph do you have any concerns with bringing this issue to estimation under the assumption that, when these changes are implemented, there will be no semantics for versioning of the API?

[2021-11-09 23:00] lukeheath commented on #2488
@chiiph Assigning over to you for feedback / spec.

[2021-11-10 01:14] edwardsb commented on #2576
@mike-j-thomas https://github.com/fleetdm/fleet/pull/2662 has been merged so we should be good to go

[2021-11-10 01:29] edwardsb commented on #2646
fixed as of https://github.com/fleetdm/fleet/pull/2662

[2021-11-10 01:29] #2646 closed

[2021-11-10 05:39] zwass opened #2868 "Cannot log in with newly created SSO user"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.5.0

<hr/>

### 🧑‍💻  Expected behavior

Create a new user with SSO enabled. Log in with that user.

### 💥  Actual behavior

Kicked back out to the login screen after SSO flow.

Fleet server logs:

[code]

### More info

I think this was an unintended consequence of https://github.com/fleetdm/fleet/pull/2

[2021-11-10 14:42] rlynnj11 commented on #2290
Steps taken:

1. run fleetctl preview
2. remove my host
3. killall orbit and osqueryd
4. run fleetctl package

[code]

My host is not re-added.

[2021-11-10 14:43] rlynnj11 commented on #2290
@RachelElysia unless this ticket *only* covers instructions, it's incomplete. If this is only meant to generate installer and there's more related installer work happening elsewhere to confirm it *works*, I suppose the instructions themselves are mainly verified here excepting the failed certificate error in linuxes

[2021-11-10 14:44] lucasmrod commented on #2713
@noahtalerman Will we ever want to allow observers to run policies? (we have this `observer_can_run` column for `queries`, checking if we need to also add such column to `policies` as part of #2595).

[2021-11-10 14:51] noahtalerman commented on #2713
@lucasmrod currently, no.

Great question. I'm going to make sure this is explicit in this issue's description and #2595's description.

[2021-11-10 15:09] noahtalerman commented on #2456
It looks like this ticket has been moved into the "Ready to resume" column of the 4.6.0 board.

@chiiph I updated the drafts for the `policy` yaml document in this issue's description. Please let me know if you have any concerns with the updated drafts.

Before my edits, the description still included the old policy references an existing query format picture below:
[code]

[2021-11-10 15:11] mna commented on #2737
Ok so what I'll do, since the command has a `debug` flag that is otherwise unused, I'll make the logging info optional, only enabled when this flag is set, as that can be useful to troubleshoot what went wrong.

[2021-11-10 15:17] RachelElysia commented on #2860
Already filed in #2822 and fix merged yesterday #2839

[2021-11-10 15:17] #2860 closed

[2021-11-10 15:19] RachelElysia commented on #2862
Already filed #2764 and assigned

@noahtalerman heads up I'm closing this issue

[2021-11-10 15:19] #2862 closed

[2021-11-10 15:20] noahtalerman commented on #2862
@RachelElysia thank you!

[2021-11-10 15:24] mna commented on #2737
Oh nevermind, this is actually to enable debug logging on the orbit agent via the installer. Will still try to use that approach, somehow, based on what we do with other fleetctl commands.

[2021-11-10 15:38] noahtalerman commented on #2472
The content for this section will come from the new resolution property in the policies spec

@mike-j-thomas I'm passing this issue's assignment to you. Can you please verify that Figma has been updated to support the "Resolve" section for policies?

After you've verified the above, can you please pass this issue to @eashaw so that he can tackle the updates to the build script? Thanks!

[2021-11-10 15:45] noahtalerman commented on #2456
@chiiph I'd like to expand the scope of this ticket to include the removal of the [`loadPolicies`](https://github.com/fleetdm/fleet/blob/main/cmd/fleetctl/preview.go#L691-L727) step in `fleetctl preview`. Please let me know if you have any concerns with this. I'm happy to break out a separate ticket.

With the addition of the `policy` yaml document, we'll now no longer need the `loadPolicies` step

[2021-11-10 16:09] noahtalerman opened #2872 "Link to "Osquery logs" docs page from the log configuration reference docs page"
### Goal
Update the `osquery_result_logs` and `osquery_status_logs` [sections of the configuration docs](https://fleetdm.com/docs/deploying/configuration#osquery-status-log-plugin) to link to the ["Osquery logs" docs page](https://fleetdm.com/docs/using-fleet/osquery-logs) so that user's configuring Fleet can explore the options for log destinations.

[2021-11-10 16:17] noahtalerman opened #2873 "In "Osquery logs" documentation, add a section for using Kafka as a log destination"
### Goals
Add a "Apache Kafka" section to the ["Osquery logs" documentation page](https://fleetdm.com/docs/using-fleet/osquery-logs) so that users know that they can send logs to Kafka.

[2021-11-10 17:05] lukeheath commented on #2801
@rlynnj11 @noahtalerman

1. "allows an admin to create duplicate queries and give observers from other teams access."
- There is a backend bug on `main` right now that is stopping team admins from creating queries. Backend team is looking into it and I will dig into this issue once I'm unblocked there.

2. "It also allows a team admin to remove themselves from an observer role."
- I'm having troub

[2021-11-10 17:07] lukeheath opened #2874 "POST api/v1/fleet/targets returns 422 for Team Admins"
Request body:

[code]

Martin: "ok I see what it is, it's the same issue I found when I pushed my PR to add counts, the queries were changed to give an alias to the hosts table when the host_seen_time was split in a distinct table but we use a helper function to build the where clause, and it still used hosts.team_id instead of h.team_id (the table alias). This helper is used in a number of places

[2021-11-10 17:09] lucasmrod commented on #2595
Should policy "names" be global? or do we want to allow two policies with same "name" but on different teams?

[2021-11-10 17:53] noahtalerman commented on #2801
@lukeheath @rlynnj11 these cases are both ok for now. Maybe we'll return to solving them in the future.

Yes.

Both of the above sound like potential bugs. @rlynnj11 can you please attempt to recreate the above and file separate "bug" issues if you're successful?

Luke and Renee, thank you for looking into these cases! It's awesome that we now have this issue as documented investigation.

[2021-11-10 18:01] noahtalerman commented on #2595
@lucasmrod let's allow two policies to share the same name.

[2021-11-10 18:06] lucasmrod commented on #2595
In different teams, right?

I believe we need some sort of identifier for a Policy that's not its "ID", I was thinking that would be "name"+"teamID". Otherwise there's no way to update a policy with a spec other than setting its `ID` in the yaml.

[2021-11-10 18:07] lucasmrod commented on #2595
I'm trying to mimic what was done with queries (which have unique names), on difference with policies is that they belong to teams, hence my proposal for their identifier to be name+teamID.

[2021-11-10 18:18] noahtalerman commented on #2595
Aha great point. Now I understand [your first question](https://github.com/fleetdm/fleet/issues/2595#issuecomment-965555272) about allowing two policies with the same "name" on different teams.

@lucasmrod yep. Your proposal to use the name+teamID for policy uniqueness makes sense to me.

Just to verify, using the name+teamID will work for Fleet Free users (no teams), correct?

[2021-11-10 18:20] lucasmrod commented on #2595
I believe so (I will double check this) `teamID=NULL` is the special value for the global entities.

[2021-11-10 18:50] #2866 closed

[2021-11-10 19:29] lukeheath commented on #2801
Sounds good! I'm going to push code that redirects the user to the dashboard if they remove themselves from a team and then close out this issue.

[2021-11-10 20:23] rlynnj11 commented on #2801
@lukeheath sorry for my delay: [here's a video of my team admin/team maintainer dual user trying to remove *themselves* ](https://www.loom.com/share/195e2bc28585429c8fd4ca652df37d9f)from a team in which they are maintainer. This video proves the bug is a bit hairier than originally documented because the whole issue seems to stem from the wrong team settings being displayed

[2021-11-10 20:24] zwass opened #2880 "No error is returned when SSO user does not exist"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.5.0

<hr/>

### 🧑‍💻  Expected behavior

Log in via SSO with a user that does not have an account on Fleet. See an error.

### 💥  Actual behavior

Returned to blank login screen with no error.

### More info

It looks like the backend returns a 200 status.

Probably the backend should return a 4XX along w

[2021-11-10 20:25] rlynnj11 opened #2881 "Team Admin/Team Maintainer dual role, only team 1 shows"
## Expected behavior

As a dual team admin/team maintainer I only see my team that I am admin of in settings.

## Actual behavior

I am seeing the team I am a maintainer of instead.

[here's a video of my team admin/team maintainer dual user trying to remove *themselves* ](https://www.loom.com/share/195e2bc28585429c8fd4ca652df37d9f)from a team in which they are maintainer. This video proves the bu

[2021-11-10 20:31] rlynnj11 commented on #2801
One more video of the[ removing-self-as-admin behaviof](https://www.loom.com/share/48db0f4e87ca4e3394f37bc5cd72f564), which works but is clunky. New ticket to follow shortly.

[2021-11-10 21:08] rlynnj11 opened #2883 "Team Admin can remove self from team, but is not immediately redirected to Dashboard"
related to #2801

**Fleet version** Main branch for 4.6.0

**Fleet tier** Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Team Admin

**Operating system** macOS11.6

**Web browser** Chrome 95

<hr/>

### 🧑‍💻  Expected behavior

Team admins can remove themselves from a team, but they should then be redirected to the Dashboard

### 💥  Actual behavior

[2021-11-10 21:29] #2592 closed

[2021-11-10 22:31] chiiph commented on #2868
This was QAed by @zwass so I'm moving to ready for release already.

[2021-11-10 23:25] lukeheath commented on #2801
Closing this issue since new issues have been created to track these issues.

[2021-11-10 23:25] #2801 closed

[2021-11-10 23:27] zwass commented on #2868
Fixed in https://github.com/fleetdm/fleet/pull/2877.

[2021-11-11 00:25] lukeheath commented on #2881
@rlynnj11 Unfortunately I'm not able to reproduce this issue with the latest version of `preview`. I created a Loom to [show what I'm seeing](https://www.loom.com/share/d14bad81db9b476b9704822a80a887d1).

Would you do me a favor and try clearing out your local Docker volumes? I'm wondering if you might have old data laying around that is affecting your instance. From your command line, you can run

[2021-11-11 00:26] zwass opened #2887 "HTML comment renders in fleetdm.com/docs"
I'm guessing this has something to do with the nested triple backticks: https://github.com/fleetdm/fleet/blob/main/docs/03-Contributing/05-Releasing-Fleet.md?plain=1#L58-L60

<img width="826" alt="Screen Shot 2021-11-10 at 4 23 40 PM" src="https://user-images.githubusercontent.com/575602/141214811-24fcde6f-5ec3-4340-a0f2-04bbf46e987e.png">

[2021-11-11 00:54] rlynnj11 commented on #2881
steps:

1. `docker system prune --volumes`
2. pull latest main, run `make fleetctl`
3. `./build/fleetctl preview --tag main` (with license key)
4. https://www.loom.com/share/3b8c2a5ec27a4991a088ecbb34949de0

Retest:
1. `docker system prune --volumes`
2. `./build/fleetctl preview --tag main` (with license key)
3. same results as step 4 above.

Retest 2:
1. `sudo fleetctl preview reset`
2. `docker s

[2021-11-11 01:00] mike-j-thomas commented on #2746
@mikermcneil, here is an update on this issue. I like Grammarly. I've been using it for a week now, and it has already helped me quickly improve the prose in the blog posts that we have in our queue. In Grammarly's opinion, I've also been able to level up a couple of tweets from 'neutral' sounding to 'inspirational' sounding.

At the rate at which we currently publish articles and the amount of te

[2021-11-11 01:00] #2746 closed

[2021-11-11 01:05] mike-j-thomas commented on #2599
Hey @mikermcneil, I'm just checking in on the above comment. Thanks!

[2021-11-11 01:25] lukeheath commented on #2824
If you click "Save" from that screen a modal will pop-up and the screen will darken (veil) behind the modal. The side panel close button (white circle) should be behind the veil.

[2021-11-11 01:30] zwass opened #2888 "Preview sometimes incorrectly detects running Orbit process"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.5.1

<hr/>

### 🧑‍💻  Expected behavior

Orbit starts up as expected when running `fleetctl preview`

### 💥  Actual behavior

Orbit doesn't always start up. Preview logs `Orbit is already running.` even when Orbit is not running.

### More info

On my system this currently seems to be caused by another pr

[2021-11-11 04:56] edwardsb commented on #1888
Looking again at the AWS docs Firehose supports Splunk destinations directly

https://docs.aws.amazon.com/firehose/latest/dev/create-destination.html#create-destination-splunk

and then Splunk has a guide as well https://docs.splunk.com/Documentation/AddOns/latest/Firehose/ConfigureFirehose

[2021-11-11 11:02] chiiph commented on #2049
@martavis fyi, as per this convo https://github.com/fleetdm/fleet/pull/2879#discussion_r747399271, we will use `host_count` instead of `hosts_count` as that's what we use for labels and other places to define the amount of hosts that are affected for the entity.

[2021-11-11 11:39] chiiph commented on #2603
This is not affecting any user or causing any support load that I can see. I would prefer to hold on this until we have a clear definition of how the API evolves.

[2021-11-11 13:16] chiiph commented on #2456
Sounds good!

[2021-11-11 14:20] chiiph commented on #2874
That looks about right.

[2021-11-11 14:28] rlynnj11 commented on #2126
<img width="1009" alt="Screen Shot 2021-11-11 at 9 25 43 AM" src="https://user-images.githubusercontent.com/44620612/141314572-3497b9ae-fdc9-4a83-91f4-d92b8ac11fde.png">
Running `--tag main` (b802af6) with these packs enabled:
<img width="1021" alt="Screen Shot 2021-11-11 at 9 26 43 AM" src="https://user-images.githubusercontent.com/44620612/141314684-f8b66489-b9ba-4b84-8d90-82665ee3e47b.png">

It

[2021-11-11 14:36] rlynnj11 commented on #2824
https://www.loom.com/share/7223392eed6343649d1ddc89e6bda964

Thanks @lukeheath!

[2021-11-11 14:36] #2824 closed

[2021-11-11 14:48] rlynnj11 commented on #2881
@lukeheath I cracked this - it's only showing the first team. So in my example, I'm team admin of team 2 and team maintainer of team 1.

If I switch to team admin of team 1 and maintainer of team 2, I still just see team 1.

[2021-11-11 14:54] rlynnj11 commented on #2881
[code]

[2021-11-11 14:56] rlynnj11 commented on #2881
If I go to **Agent options** and try to save I get:
[code]

[2021-11-11 15:29] lukeheath commented on #2881
Ahhh interesting! I did always have my admin team first. I will confirm on my end later this morning.

[2021-11-11 15:38] lukeheath commented on #2858
@noahtalerman QUESTION: Where do we get the example JSON from?

[2021-11-11 15:56] lukeheath commented on #2603
@noahtalerman Assigning back to you for a product decision.

[2021-11-11 16:31] noahtalerman commented on #2858
@lukeheath the example JSON will come from the wireframe included the Figma.

For now, this example JSON will be static.

[2021-11-11 16:42] chiiph commented on #2488
The query output is compatible with the current one, so this should be a pretty straight forward improvement.

[2021-11-11 16:56] noahtalerman commented on #2488
Tomàs, thank you for confirming. I'm adding the ":estimate" label to this issue.

[2021-11-11 17:06] mikermcneil commented on #2599
@mike-j-thomas I have no preference, up to you.

[2021-11-11 17:11] noahtalerman commented on #2290
This could be a bug however this would be outside the scope of this issue. I propose pulling this behavior out into a separate ticket for investigation.

[2021-11-11 17:13] noahtalerman commented on #2290
Running `fleetctl package` will create an osquery installer in the directory in which the command was run from.

Then, the user then has to double click and go through the installation process to enroll the host.

@rlynnj11 one additional item to confirm for this ticket:
- In the modal, the `--enroll-secret` value should be different (switch) for when opened with different teams selected in the dr

[2021-11-11 17:14] noahtalerman commented on #2290
@rlynnj11 I think the above is also a potential bug that I propose pulling into a separate issue for investigation.

[2021-11-11 17:18] lukeheath commented on #2881
I was able to reproduce with the steps provided. @rlynnj11 Thanks for helping me reproduce! I'll have a fix up later today.

[2021-11-11 18:49] martavis commented on #2227
@lukeheath Double-checking, what are we waiting for on this task?

[2021-11-11 18:52] lukeheath commented on #2227
@martavis We're waiting on #2595 to add the new "Create policy" flow that this will be apart of. If you're starting to work on that flow, feel free to bring this into "In Progress" as it goes hand-in-hand with #2595.

[2021-11-11 19:09] RachelElysia commented on #2858
Similar to what's already built on settings page > host status webhook > preview request
<img width="1156" alt="Screen Shot 2021-11-11 at 2 07 52 PM" src="https://user-images.githubusercontent.com/71795832/141355020-3cbf164f-c08e-47ee-bfc3-15c9195c0af7.png">

[2021-11-11 19:33] lukeheath commented on #2716
Sarah: Provide more trust in the up-to-date status of the osquery's table JSON. Currently Zach updates manually.

Noah: Proposed behavior is that once this user goes into override mode, they are always in override mode. They are taking the compatibility into their own hands. If they never go into override mode, it's checked by Fleet but only updated on save.

Sarah: We need a flag to define if the

[2021-11-11 19:36] lukeheath commented on #2716
Sarah: Does this ticket involve adding the column and running the check on queries?

Tomas: Yes.

[2021-11-11 19:42] lukeheath commented on #2814
Martavis: This is dependent on #2049

[2021-11-11 20:01] noahtalerman commented on #2820
Concerns with the implementation time for a clickable area (link) within a clickable area (row).

Noah: I think the value that this changes adds is not large enough to justify the implementation cost for now. I'm bringing this issue out of the Product board and placing the "idea" label on the issue.

[2021-11-11 20:32] rlynnj11 commented on #2290
- Enroll secret confirmed dynamic
- Running the orbit installer clickthrough does not appear to have any effect on my system.

[2021-11-11 20:34] rlynnj11 opened #2896 "Error when running 'generate installer' command"
Version: main branch prior to 4.6.0 release

Steps taken:

1. run fleetctl preview
2. remove my host
3. killall orbit and osqueryd
4. run fleetctl package

[code]

_Originally posted by @rlynnj11 in https://github.com/fleetdm/fleet/issues/2290#issuecomment-965299872_

[2021-11-11 22:08] chiiph commented on #1838
Backend has been merged.

[2021-11-12 02:37] zwass commented on #1980
Perhaps: Make a GitHub Action that looks for a new release in the osquery/osquery repository and opens a ticket to perform the update if anything is found?

[2021-11-12 08:38] #2887 closed

[2021-11-12 11:04] chiiph commented on #2126
Ugh, terribly sorry, my bad. Will ping you as soon as this is merged.

[2021-11-12 11:19] lucasmrod commented on #2520
@gillespi314 The backend changes have been merged to `main`.

[2021-11-12 11:24] chiiph commented on #2880
@zwass this behavior seemed to be an explicit thing:

http://github.com/fleetdm/fleet/blob/ba251d22d88cb6fead9ec4a5863902dd336ea11a/server/service/endpoint_sessions.go#L216-L222

The call that returns 200 afterwards is a call that is not checking for user auth at all, since it's only returning the SSO settings.

[2021-11-12 11:27] chiiph commented on #2880
One alternative that comes to mind if we want to surface this error in the login page is to either set it in localStorage, or set it as a query param for when we redirect to /login and have it look for those errors and display them.

[2021-11-12 11:27] chiiph commented on #2126
https://github.com/fleetdm/fleet/pull/2855 is now merged as well. So both policies, schedules, and packs should show up right away at this point.

[2021-11-12 11:31] chiiph commented on #2776
Skipping "please QA" state on this one as it was tested in the loadtest env.

[2021-11-12 11:38] chiiph commented on #2825
While this makes sense for macOS, I'm not sure it does for Windows, and I'm pretty sure it doesn't for a lot of Linux distributions as they are rolling releases, and even if they are not, the fact that it's an "old" release doesn't mean it is not receiving security updates.

How are we planning on handling these?

[2021-11-12 11:40] chiiph commented on #2756
Would the webhook trigger in every policy update per host? or as an aggregate at a certain interval?

[2021-11-12 15:09] #2108 closed

[2021-11-12 15:18] #1995 closed

[2021-11-12 15:19] rlynnj11 commented on #2881
looks great!

[2021-11-12 15:19] #2881 closed

[2021-11-12 15:22] rlynnj11 commented on #2883
Looking pretty good. @lukeheath there's a bit of a delay, that may be possible to improve in future if you look at this video https://www.loom.com/share/1deb5ccc157a44c2830ed0d2b2c05efa, but this ticket can be considered done. Would you like a new ticket to investigate whether this can be sped up at all?

[2021-11-12 15:22] #2883 closed

[2021-11-12 15:48] lukeheath commented on #2883
That's strange, I'm not getting the same delay:

https://www.loom.com/share/8ed3e2014cc84a759bc537d2813dff12

Is it possible your internet connection is impacting it? I think the small delay I'm seeing is acceptable, but the really long one on your end is something I'd like to look into. If you would create a ticket for that I'll definitely look into it.

[2021-11-12 16:15] rlynnj11 commented on #2290
@noahtalerman @RachelElysia does this ticket cover orbit installer functionality, or is osquery installer download instructions the full scope of this task? If it's the latter, this ticket is complete.

[2021-11-12 16:19] #2715 closed

[2021-11-12 16:22] noahtalerman commented on #2290
@rlynnj11 osquery installer download instructions are the full scope of this task

[2021-11-12 16:24] #2126 closed

[2021-11-12 16:25] #2290 closed

[2021-11-12 16:28] rlynnj11 commented on #2523
Both items check out in my tests, and labels are confirmed additive

[2021-11-12 16:28] #2523 closed

[2021-11-12 16:32] rlynnj11 opened #2901 "4.6.0 Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** 4.6.0

**Web browser** Chrome 95

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests require license key `fleetctl preview --license-key=eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ

[2021-11-12 16:33] #2874 closed

[2021-11-12 16:39] RachelElysia opened #2902 "UX: Change font for readability"
### Goal

TODO

For entries like enroll secrets, it's hard to differentiate between a lowercase L and an uppercase I.

<img width="1322" alt="Screen Shot 2021-11-12 at 11 37 45 AM" src="https://user-images.githubusercontent.com/71795832/141502249-0e1b8bd3-40a0-4070-a925-03dcd836b14e.png">

### How?

Consider a different font in special cases?

- [ ]

[2021-11-12 18:17] rlynnj11 commented on #2826
<img width="914" alt="Screen Shot 2021-11-12 at 1 15 09 PM" src="https://user-images.githubusercontent.com/44620612/141515204-65131a1a-d14c-45e5-959f-154c264eb6b8.png">
<img width="936" alt="Screen Shot 2021-11-12 at 1 16 50 PM" src="https://user-images.githubusercontent.com/44620612/141515364-d2213c77-bb86-426d-b914-a6b846515ad0.png">

[2021-11-12 18:17] #2826 closed

[2021-11-12 22:01] #1887 closed

[2021-11-12 22:01] #1888 closed

[2021-11-12 22:26] gillespi314 opened #2907 "Fix activity feed timeline CSS"
Dotted line cuts through user avatars:
<img width="205" alt="Screen Shot 2021-11-11 at 5 28 01 PM" src="https://user-images.githubusercontent.com/73313222/141547579-87f9f11a-6437-40a0-a02b-94ea05ed2166.png">

[2021-11-12 22:37] lukeheath commented on #2820
For additional context, the implementation isn't difficult but we're concerned about the usability of selectable areas inside other selectable areas, especially for touch users.

[2021-11-12 22:41] gillespi314 opened #2908 "Fix default organization logo"
- Fix CSS layout on narrower screen widths
- Use sharper image for logo

<img width="953" alt="Screen Shot 2021-11-12 at 4 39 50 PM" src="https://user-images.githubusercontent.com/73313222/141567086-622623c5-8f6c-419a-8c2a-19274c05c2fa.png">

[2021-11-12 23:03] lukeheath opened #2909 "Host Details layout does not support 1024px width"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): `free` and `premium`

<hr/>

### 🧑‍💻  Expected behavior

All cards should scale down to at least 1024px width.

### 💥  Actual behavior

Top card with "Status" and "Software" cards slide off screen and create horizon

[2021-11-12 23:10] lukeheath opened #2910 "Query table "Name" column too thin for Observers"
### 🧑‍💻  Expected behavior

The "Name" column is wide enough to show all names.

### 💥  Actual behavior

The "Name" column is being resized too small.

### More info

This is occurring because we are assuming the select checkbox is on the table and sizing the first cell. We need to target by class name, instead.

[2021-11-13 00:11] mikermcneil opened #2914 "Ease maintenance of documentation links on fleetdm.com"
### Goal

Ease maintenance of documentation links on fleetdm.com by making it simpler and less error-prone to link to other pages, and by making it easier to maintain pages when files need to move around.

### How?

- [ ] easy: lowercase filenames of all documentation markdown files and handbook files
- [ ] harder (maybe): consider removing numeric prefixes from filenames and using `<meta>` tags t

[2021-11-13 00:30] #2726 closed

[2021-11-13 00:36] rlynnj11 commented on #2764
I was not able to reproduce this in 4.5.0 to confirm changed behavior in 4.6.0, but I do not see this in the main branch now. I see the QA checkbox marked off in the PRs and I'm waiving this for now but will keep an eye out for it.

[2021-11-13 00:36] #2764 closed

[2021-11-15 10:06] mike-j-thomas commented on #2599
Hey @eashaw, this is ready to implement in the markdown; if you would be so kind? I have wrangled the data tables to work across the different break points.

[2021-11-15 13:55] noahtalerman commented on #2472
@mike-j-thomas I updated the /queries page in the fleetdm.com (current) Figma to include a "Resolve" section for policies.

@eashaw I'm passing this issue to you. The remaining tasks are to update to the build script and the /queries page to support policies. If it's helpful, please feel free to reach out to chat about these tasks!

[2021-11-15 14:25] noahtalerman opened #2916 "Blog post: Fleet 4.6.0 release"
Fleet 4.6.0 is scheduled for release on 2021-11-18 (afternoon PST)

### Goal

Prepare and publish the release blogpost for Fleet 4.6.0.

### How?

The primary features included in Fleet 4.6.0 are the following:
- Instructions for downloading an osquery installer so that a user can easily enroll their macOS, Windows, and/or Linux hosts by distributing these installers.
  - Ex. User can generate an

[2021-11-15 14:48] rlynnj11 commented on #2737
[code]

@mna this is my output having pulled main, `make fleetctl` and `./build fleetctl preview --tag main` with a license key. Am I missing a step?

[2021-11-15 14:55] mna commented on #2737
@rlynnj11 it doesn't look like you're using your newly-built `fleetctl` binary, this is what I do after pulling main (you don't need fleet /fleetctl preview running to see the output of the packager):

[code]

Notice the `./build/fleetctl` (run from the root of the fleetdm/fleet repository) to use the one that was built with the up-to-date `main` branch.

[2021-11-15 15:06] noahtalerman commented on #2099
With Zach's approval, we'd like to turn on vulnerability processing for _new_ Fleet users in Fleet 4.7.0 and for _all_ Fleet users in a future Fleet 5.0.0. This issue's description is updated to reflect this.

@chiiph can you please update this issue or file a separate issue to specify the required changes to turn on vulnerability processing only for _new_ Fleet users? At a high level this issue w

[2021-11-15 15:16] noahtalerman commented on #2136
@zwass do you think Groob's updates to Orbit (#2140) will make it into the upcoming Fleet 4.6.0 release? If not, can you please move this issue to the 🏈 Pushed column in the 4.6.0 board? Thanks :)

[2021-11-15 15:23] gillespi314 commented on #2472
@eashaw I'm pretty free right at the moment with the end of our sprint so let me know if you'd like to chat and I would be happy to give you some context for what we've done so far!

[2021-11-15 16:06] lukeheath opened #2918 "Manage hosts page calls `GET /hosts` endpoint multiple times on load"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `preview`

<hr/>

### 🧑‍💻  Expected behavior

A single call to `GET /hosts`

### 💥  Actual behavior

Three calls:

![image](https://user-images.githubusercontent.com/2495927/141814501-00ed5f16-e756-436a-a2fd-7d35412a2c73.png)

[2021-11-15 17:20] zwass commented on #2880
Ah, yes I see what you are mentioning there. Maybe we can ask @gillespi314 to take a look at this in 4.7.0 to do a little frontend/backend work to render an error?

[2021-11-15 17:44] rlynnj11 commented on #2517
Don't see that teams call anymore, nice!

[2021-11-15 17:44] #2517 closed

[2021-11-15 17:54] zwass opened #2923 "Strange overflow in setup with long app URL"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Operating system** _(e.g. macOS 11.2.3)_: macOS

**Web browser** _(e.g. Chrome 88.0.4324)_: Firefox

<hr/>

### 💥  Actual behavior

<img width="857" alt="Screen Shot 2021-11-15 at 9 49 39 AM" src="https://user-images.githubusercontent.com/575602/141830427-e87954bb-fd1e-43fa-927d-09ea6d58980a.png"

[2021-11-15 17:59] noahtalerman commented on #2224
@rlynnj11 yes! Informing User 1 that someone has edited their query is something we might add in the future.

[2021-11-15 18:15] zwass opened #2924 "500 page renders when session is expired"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

<hr/>

### 🧑‍💻  Expected behavior

User's session expires. User is notified that the session expired and asked to log in again.

### 💥  Actual behavior

https://www.loom.com/share/48d05fc662a246318893f99dbc96145b

User's session expires. On next action with API call, backend (correctly) returns 401

[2021-11-15 18:37] zwass commented on #2099
@chiiph We might need to get creative to address some of the concerns -- perhaps we'd do something like ship the databases within the Fleet Docker image? Happy to have a meeting with backend team to discuss.

[2021-11-15 18:52] RachelElysia commented on #2088
Confirmed! Software is automatically turned on!

Here are my steps if you want to replicate. <3
Steps:
Git Steps:
`make db-backup`
`ls -a` (see that the backup file is created)
[code]
`./build/fleet prepare db --dev` (should've ran with make db-reset but just in case)
`./build/fleet serve --dev --dev_license --osquery_detail_update_interval=10s --logging_debug `

Go to: localhost:8080 and it will

[2021-11-15 19:01] RachelElysia opened #2926 "UX: Allow users to go back during setup"
### Goal
If a user makes a mistake in their setup, they should be able to use a back button or edit button. There is no back throughout the entire process or edit at the end before confirming.

TODO

- Consider creating a UI for a user flow that needs to modify their setup information during setup

### How?

- [ ]
<img width="1306" alt="Screen Shot 2021-11-15 at 1 59 00 PM" src="https://user-image

[2021-11-15 19:13] #2224 closed

[2021-11-15 19:25] #2088 closed

[2021-11-15 19:32] lukeheath opened #2928 "Alerts"

[2021-11-15 19:33] #2928 closed

[2021-11-15 19:41] noahtalerman opened #2929 "Inform user that Fleet is waiting for hosts to respond to a new policy"
Currently "Policies" table in the Fleet UI displayed "0 hosts" in the "Yes" and "No" columns immediately after the user adds a policy. This "0 hosts" state doesn't communicate to the user that Fleet is waiting for hosts to respond to the policy's query.

### Goal

As a Fleet user that just added a policy in Fleet, I want to know that Fleet is currently waiting to hear, from hosts themselves, which

[2021-11-15 19:53] rlynnj11 opened #2930 "Verify SMTP setup steps"
**Fleet version** main branch for 4.6.0 release

**Fleet tier** Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Admin

**Operating system** macOS 11.6

**Web browser** Chrome 95

<hr/>

### 🧑‍💻  Expected behavior
Using `docker-compose up mailhog` and steps outlined in https://github.com/fleetdm/fleet/blob/3ae57a02424ebb3771e5a0802b636cb29a71b996/doc

[2021-11-15 20:25] rlynnj11 commented on #2930
note: this is `fleetctl preview` problems

[2021-11-15 20:25] #2930 closed

[2021-11-15 20:26] rlynnj11 commented on #1838
@noahtalerman this is another one that can't be done in a `preview` environment. Enlisting dev help.

[2021-11-15 20:49] RachelElysia opened #2933 "Can delete all global secrets but cannot delete all team secrets"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

Users sh

[2021-11-15 20:50] zwass commented on #2136
Yes I'm going to make some revisions and merge it today.

[2021-11-15 20:55] #2520 closed

[2021-11-15 21:02] rlynnj11 commented on #2910
4.5.0
<img width="1237" alt="Screen Shot 2021-11-15 at 4 01 37 PM" src="https://user-images.githubusercontent.com/44620612/141853302-987a5878-c309-4d5d-9eae-bf92a6133281.png">
main branch for 4.6.0
<img width="1262" alt="Screen Shot 2021-11-15 at 3 59 56 PM" src="https://user-images.githubusercontent.com/44620612/141853334-58ae89fc-8b0a-4d55-b337-4d15e34f90c2.png">

[2021-11-15 21:02] #2910 closed

[2021-11-15 21:21] rlynnj11 commented on #2909
reproduction vid for `--tag 678d986` here: https://www.loom.com/share/b78254d690a148d289482ffa93966930

Slightly different visual in Safari, which reduces less than Chrome for me:
<img width="669" alt="safari at 4 15 44 PM" src="https://user-images.githubusercontent.com/44620612/141855392-07fdf91b-0348-49b4-852f-a19c2152fd4b.png">
<img width="557" alt="safari at 4 15 36 PM" src="https://user-image

[2021-11-15 21:23] rlynnj11 commented on #2909
Actually this overall issue reproduces on the Policies tab as well with a different behavior where the first column simply does not reduce:
<img width="485" alt="Screen Shot 2021-11-15 at 4 22 43 PM" src="https://user-images.githubusercontent.com/44620612/141855714-fcd9a6af-d095-4615-b605-84eeda70a13c.png">
<img width="686" alt="Screen Shot 2021-11-15 at 4 22 37 PM" src="https://user-images.github

[2021-11-15 22:20] noahtalerman opened #2935 "On the Home page, add exact count of all software version items to "Software" table"
## Goal

Add exact count of all software version items to "Software" modal so that a user can determine the exact number of vulnerable software items Fleet has detected across all their hosts.

## Figma

Add exact count of all software version items to "Software" modal: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3406%3A84242

## API Specs:

#### #3011

## Tasks

### 1

- [x] Modify

[2021-11-15 22:28] noahtalerman commented on #2935
@lukeheath I'm passing this issue's assignment to you. Can you please add API wireframes to support the desired UI changes?

[2021-11-15 22:30] mikermcneil opened #2936 "Enable vulnerability ticketing workflows"
## Goal

As a vulnerability analyst, I want to use Fleet in my vulnerability ticketing workflow so that I don't have to manually create CVE resolution or configure the webhook to create it for me.

#### Notes

What are the current known workflows we want Fleet to enable?
  1. First, browse all newly published vulnerabilities
  2. Then, for each new CVE, look to see if any of my hosts have the affe

[2021-11-15 22:42] lukeheath opened #2937 "Product Epic"

[2021-11-16 00:02] lukeheath opened #2940 "Backend Issue"

[2021-11-16 00:22] mikermcneil commented on #2940
🍑 « peach emoji

[2021-11-16 00:24] mikermcneil opened #2942 "Improve API docs: What is `/translate` for?"
### Goal

As a user in the docs, I want to understand what `/translate` is for in plain English (in addition to the example): https://fleetdm.com/docs/using-fleet/rest-api#translator

i.e. a sentence explaining what it does, and an example of where it is used in the Fleet UI today.

(PS. I think I understand what it could be for-- going with that for a sec: we might want to consider switching to o

[2021-11-16 01:58] lukeheath opened #2943 "Playbook on how to go about doing Fleet upgrades"
https://fleetdm.com/docs/deploying/upgrading-fleet

[2021-11-16 02:28] #2940 closed

[2021-11-16 02:30] lukeheath opened #2945 "Frontend/Backend/Product Issue"

[2021-11-16 02:31] lukeheath opened #2946 "New Feature Epic"

[2021-11-16 14:02] rlynnj11 commented on #2135
When creating enrollment keys, if you try to save with >32 characters, the text turns red to highlight the error state. However, if you resolve this and go above 32 characters, the text still shows red or a red bar is persistent in the box around the letters. This reproduces as both team maintainer and as a global admin.

You are able to save, so it's just a visual discrepancy.

https://www.loom.c

[2021-11-16 14:04] rlynnj11 opened #2948 "Error state does not clear when resolving enrollment key character deficit."
## SPECS:
- Main branch prior to 4.6.0 release
- macOS 11.6
- Premium team
- Chrome 95

## Expected Behavior

When I resolve a shortage of characters in enrollment key creation, red styling goes away and I can tell I have enough characters before saving.

## Actual Behavior
When creating enrollment keys, if you try to save with >32 characters, the text turns red to highlight the error state. Howev

[2021-11-16 14:11] rlynnj11 commented on #2135
Note that the error state in Figma for no enroll secrets is not one I can trigger easily since we (rightly) prevent maintainers/admins from deleting the last secret for a team. **This is inconsistent with global behavior** where a global admin can delete the last org-wide secret. @noahtalerman please advise on whether you prefer these behaviors to be identical so we can draw up a new ticket if nee

[2021-11-16 14:18] #2049 closed

[2021-11-16 14:21] noahtalerman commented on #2135
@rlynnj11 you're referring to this "no enroll secrets" state, correct?
![Screen Shot 2021-11-16 at 9 20 44 AM](https://user-images.githubusercontent.com/47070608/142002414-8968c39e-bdb4-4164-a284-821e1b30bcef.png)

Users should be able to delete all global enroll secrets and all team enroll secrets.

@RachelElysia awesomely filed a ticket to allow users to delete all team enroll secrets here: [Use

[2021-11-16 14:23] chiiph commented on #2099
The data used for vulnerability detection needs to be updated regularly, so we need to define a directory, which could be `/tmp/vulndb` or possibly `~/.fleet/vulndb` since we use that one already I believe.

I wonder if we can spin off from this issue a new, bigger one, where we implement some kind of configuration wizard, where we can guide users through all the settings we consider important and

[2021-11-16 14:27] rlynnj11 commented on #2135
That's the one!

With remaining work documented in other tickets closing this one.

[2021-11-16 14:27] #2135 closed

[2021-11-16 14:37] rlynnj11 commented on #2049
Note exact count coming in #2935

[2021-11-16 14:37] chiiph commented on #2099
@noahtalerman so we actually need 2 issues: one for 4.7.0 and another for 5.0.0.

I've updated the description to only cover what we want to do for 4.7.0. Since we are enabling vulnerability detection for new installations, I would also like to remove the feature flag for software inventory in 4.7.0, since it makes no sense to continue having it at this point. It can be disabled through the config

[2021-11-16 14:50] rlynnj11 commented on #2888
[code]

Given the initial report says "sometimes" this will be tricky to confirm fully but I'll leave this ticket open through smoke testing and keep an eye out for `Orbit is already running`

[2021-11-16 14:57] noahtalerman opened #2949 "In Fleet 5.0.0, turn on vulnerability processing for all Fleet users"
### Goal

Enable vulnerability detection to allow all users to easily discover and triage vulnerability software installed on their hosts.

### How?
- Turn on vulnerability detection for all existing Fleet users while being loud about the resources needed (CPU, RAM, internet access) for Fleet server.
- Add one configuration option that turns on/off both software inventory and vuln detection featur

[2021-11-16 15:03] noahtalerman opened #2950 "Guide users through all vulnerability processing settings"
### Goal

Guide users through all the vulnerability processing settings that the Fleet team considers important so that users can see additional information and warnings when adjusting configuration.

[2021-11-16 15:04] noahtalerman commented on #2099
Makes sense to me! This means that I'll remove the "remove existing `FLEET_BETA_SOFTWARE_INVENTORY`" step from the 5.0.0 issue.

@chiiph I'm linking to the new 5.0.0 issue here: https://github.com/fleetdm/fleet/issues/2949

I'm assigning you to the 5.0.0 issue to confirm that the issue aligns with your changes.

[2021-11-16 15:04] noahtalerman commented on #2099
@chiiph I like this idea. I could see this as something we may want to do in the future. I filed an issue to track this here: https://github.com/fleetdm/fleet/issues/2950

[2021-11-16 15:30] #2783 closed

[2021-11-16 15:31] #2888 closed

[2021-11-16 15:48] rlynnj11 commented on #2737
@mna this appears to have gotten reverted somehow, I am not getting the Finder window auto-opened and my output today is:

[code]

[2021-11-16 15:54] mna commented on #2737
@rlynnj11 looks like you might be using a potentially old binary for `fleetctl` from your PATH? I ran it with `./build/fleetctl package` built from `main` and I still see the new output.

[2021-11-16 15:56] martavis opened #2953 "[Query page] Selecting a platform label also selects a team label"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.4.4

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): Either

**Operating system** _(e.g. macOS 11.2.3)_: Any

**Web browser** _(e.g. Chrome 88.0.4324)_: Any

<hr/>

### 🧑‍💻

[2021-11-16 15:59] rlynnj11 commented on #2737
yep, operator error, left out the `./build`

[2021-11-16 15:59] #2737 closed

[2021-11-16 16:00] martavis opened #2955 "[Customer request] Add more information to Activity Feed"
### Goal
To show more details in the Activity Feed.

### How?

- [ ] Display the query's name
- [ ] Display the hosts associated once clicked

[2021-11-16 16:04] rlynnj11 commented on #2909
per offline discussion

Creating spinoff tickets for the individual cards issues I found.

[2021-11-16 16:04] #2909 closed

[2021-11-16 16:08] martavis opened #2957 "[Triage] Agent Options are deleted from the database"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.5.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): Any

**Operating system** _(e.g. macOS 11.2.3)_: Any

**Web browser** _(e.g. Chrome 88.0.4324)_: Any

<hr/>

### 🧑‍💻  E

[2021-11-16 16:09] rlynnj11 opened #2958 "First column in a few cards does not properly resize when reducing browser size"
# Specs

- Main branch off 4.6.0 testing
- macOS 11.6
- Chrome 95 & Safari 15
- Premium account
- All users

# Expected Results

All columns adjust to accommodate smaller screen and browser sizes.

# Actual Results

reproduction vid for `--tag 678d986` here: https://www.loom.com/share/b78254d690a148d289482ffa93966930

Slightly different visual in Safari, which reduces less than Chrome for me:
<img

[2021-11-16 16:20] noahtalerman commented on #2813
The following PR currently addresses the 1st and 2nd task in this issue: #2956

[2021-11-16 17:13] noahtalerman commented on #2756
The current thinking is that the webhook is triggered every 1 hr.

At each hour, one `POST` request is sent via webhook for each newly failing (the host was passing a policy or hadn’t responded to the policy before failing) host. So, after 1 hr, if 4 hosts "became failing" since the last requests were sent, 4 requests will be sent.

If there are more than 10 requests to be sent, the Fleet server w

[2021-11-16 17:14] #1783 closed

[2021-11-16 17:14] chiiph commented on #1783
Superseded by https://github.com/fleetdm/fleet/issues/2027

[2021-11-16 17:17] chiiph commented on #75
This was handled as part of the work on terraform.

[2021-11-16 17:17] #75 closed

[2021-11-16 17:37] noahtalerman commented on #2825
@chiiph I agree that the most value these changes bring is to inform macOS admins about the current state of their security updates.

That being said, these are valuable scenarios for Linux and Windows:
- My Fleet is mostly full of Amazon EC2 instances. If I select "Linux" on the **Home** page I can see a breakdown of the Linux distributions that Amazon, or the AWS admin, is provisioning and how t

[2021-11-16 17:40] noahtalerman commented on #321
Closing this issue because default avatars now exist in the Fleet UI (2021-11-16)

[2021-11-16 17:40] #321 closed

[2021-11-16 18:09] RachelElysia opened #2960 "Marketing Website: Fleet UI section out of date (pre schedules, policies, etc)"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

https://

[2021-11-16 18:32] chiiph commented on #953
Already implemented.

[2021-11-16 18:32] #953 closed

[2021-11-16 18:34] RachelElysia commented on #1838
@rlynnj11 cc: @noahtalerman

It works! Here's a loom showing it works.

https://www.loom.com/share/36f1395e81114d66964b407b74510936

[2021-11-16 19:07] noahtalerman opened #2962 "In all tables, icons for action buttons are small"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `fleetctl preview --tag main`

<hr/>

### 🧑‍💻  Expected behavior

I expected the icons for action buttons to be a size similar to the image below (Figma):
![Screen Shot 2021-11-16 at 2 06 02 PM](https://user-images.githubusercontent.com/47070608/142049350-2a41ebf1-c0d3-4974-abc5-d2e9bd6172f6.png)

### 💥  A

[2021-11-16 19:10] noahtalerman opened #2963 "In dropdown menus, active option's font size is too small"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `fleetctl preview --tag main`

<hr/>

### 🧑‍💻  Expected behavior

I expected the active option in a dropdown menu to be 16px. The image below is take from the Hosts page in Figma:
![Screen Shot 2021-11-16 at 2 09 24 PM](https://user-images.githubusercontent.com/47070608/142049833-c95bac31-64aa-40cb-aa6d-10

[2021-11-16 19:19] noahtalerman opened #2964 "Host details page shows scheduled queries that are not targeted to run on the host"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `fleetctl preview --tag main`

<hr/>

### 🧑‍💻  Expected behavior

On the "Schedule" tab of the **Host details** page for a macOS host, I expected to only see queries that were targeted to run on macOS hosts.

### 💥  Actual behavior

Instead, I saw queries that were scheduled to run on only Linux hosts:
htt

[2021-11-16 19:26] noahtalerman opened #2965 "Host details page shows duplicate queries in the "Schedule" section"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `fleetctl preview --tag main`

<hr/>

### 🧑‍💻  Expected behavior

In the "Schedule" tab of the **Host details** page, I expect to see one row in the "Schedule" and "Packs" tables for each query.

### 💥  Actual behavior

Instead, I see multiple rows in the tables:
https://www.loom.com/share/c086d88859614042

[2021-11-16 19:57] rlynnj11 commented on #1838
thank you!

[2021-11-16 19:57] #1838 closed

[2021-11-16 20:19] martavis commented on #2957
It's been brought to my attention that this could possibly be an issue during upgrades.

[2021-11-16 20:31] gillespi314 commented on #1080
@lukeheath should we consider folding this into the testing personas issue https://github.com/fleetdm/fleet/issues/2762?

[2021-11-16 20:33] gillespi314 commented on #1198
Note: This ticket requires updates to how we are dispatching errors and should be revisited once we have settled on an alternative to redux for error dispatch.

[2021-11-16 20:35] rlynnj11 commented on #2351
So far in testing this is most consistent in Chrome, biased by the fact that Chrome is my go-to testing browser.

[2021-11-16 20:38] chiiph commented on #1474
This was already done.

[2021-11-16 20:38] #1474 closed

[2021-11-16 20:44] chiiph commented on #1617
We are currently not populating pack_stats when we list all hosts. Could you expand on the use case of doing so?

[2021-11-16 20:45] chiiph commented on #1618
Going to assume this is not an issue, please reopen if we find any more information.

[2021-11-16 20:45] #1618 closed

[2021-11-16 20:49] lukeheath opened #2968 "Backend Blocker"

[2021-11-16 20:52] chiiph commented on #1948
This was tackled by @lucasmrod

[2021-11-16 20:52] #1948 closed

[2021-11-16 20:52] chiiph commented on #1950
This was tackled by @lucasmrod

[2021-11-16 20:52] #1950 closed

[2021-11-16 20:58] chiiph commented on #2056
Duplicate of https://github.com/fleetdm/fleet/issues/1784

[2021-11-16 20:58] #2056 closed

[2021-11-16 21:03] mikermcneil opened #2971 "Update "About this host" card on Host Details page"
## Goal

As a user, I want to see content about a particular computer that is easy to understand with little to no context about how Fleet works.

## Figma

Host details page: Update "Created at" and "Uptime" and remove "Updated at": https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3888%3A210221

## Tasks

### 1
- [x] Update "About this host" to reflect revised design.
- “Created at” is

[2021-11-16 22:34] noahtalerman commented on #2813
@zwass can you please push changes, directly to [my open PR](https://github.com/fleetdm/fleet/pull/2956), that include a strategy for migrating from plain osquery to Fleet's osquery installer?

My PR currently contains a stubbed out "Migrating from plain osquery to osquery installer" section at the bottom of the "Adding hosts" docs page.

I'm passing this issue's assignment to you and moving the i

[2021-11-16 22:48] lukeheath opened #2974 "Frontend Issue"

[2021-11-16 22:57] noahtalerman opened #2975 "Make "Software" table empty state more helpful"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main`

<hr/>

### 🧑‍💻  Expected behavior

I navigated to the **Home** page with no hosts enrolled in my Fleet instance.

In the "Software" table I expected to see the following help text for the "All" and "Vulnerable" empty states respectively.

These empty states should also be used when t

[2021-11-16 23:09] noahtalerman opened #2976 "Consistent behavior and styling for "new tab" links in the Fleet UI"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on the `main` branch.

<hr/>

### 🧑‍💻  Expected behavior

I expected to be able to click anywhere on the links to the national vulnerability database on the **Manage hosts** page.

I also expected the Link in "Schedule editor" modal to use the same bold font weight and icon size as the links on

[2021-11-16 23:24] mike-j-thomas opened #2978 "fleetdm.com/platform page design"
## Goals:

Create a page(s) on [fleetdm.com/platform](https://fleetdm.com/platform) to communicate Fleet benefits, capabilities/features, and use cases.

**Use cases:**

Fleet for...
... vuln management
... policy compliance
... incidence response
... support teams (CPE / helpdesk)
... zero trust

**Capability sets**

- Manage
- Observe
- Standardize
- Investigate
- Collect

## Todo:

- [x] Compil

[2021-11-17 02:48] #2599 closed

[2021-11-17 13:32] chiiph commented on #2949
Did a minor update on the description.

[2021-11-17 13:45] chiiph commented on #2825
Have we heard from users where this would be valuable? Linux distributions, from what I've seen, don't really matter. What matters is things like "what openssl version does it have?" or things like that. And depending on how you deploy your service, not even that matters because AWS handles it for you.

In this case, it's not so much about Windows versions, but what hotfixes you've got installed (

[2021-11-17 13:56] rlynnj11 commented on #2948
beautiful

[2021-11-17 14:15] rlynnj11 commented on #2724
https://www.loom.com/share/927453904587408b855cbb955edc511b still around in 4.6.0 testing

[2021-11-17 14:41] noahtalerman commented on #2716
I made an adjustment to the decision outlined in the comment above.

@lukeheath when you get the chance, can you please update this issue's description with the following expected behavior?

Expected behavior:
- On the **New policy** page, the "automatic" state, with green checks and red Xs, is displayed by default.
- On the **Edit policy** page, the "edit" ("override") state, with purple checkbox

[2021-11-17 15:40] lucasmrod commented on #430
Related request from a customer:

Or, alternatively, I would like to be able to right click the button and Open Link in New Tab.

[2021-11-17 15:54] lukeheath commented on #1080
@gillespi314 Yes, thank you! I tagged it with `:frontend` so we can track on our ZenHub board.

[2021-11-17 16:16] #2946 closed

[2021-11-17 16:16] #2968 closed

[2021-11-17 16:26] noahtalerman opened #2983 "Inform user when they have no enroll secrets"
This is a remaining item from the unreleased "Manage my enroll secrets" feature. I'm linking to the issue that covers this feature here: #2135

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main`

<hr/>

### 🧑‍💻  Expected behavior
I removed all my global enroll secrets and I expected to see a call out box that tells me I have no enroll

[2021-11-17 16:35] #2945 closed

[2021-11-17 16:55] martavis opened #2984 "Software table is not returning correct results"
Modify the API calls to `/software` on the home page to receive correct results. These are the issues seen currently:
- Multiple calls to the /software API, 2 with per page 8, 1 with per page 20
- No calls to the /software API with the vulnerable query param to list only vulnerable software
- Since the API call happens at a interval, order key host_count can return software in different order

[2021-11-17 17:00] rlynnj11 opened #2985 "Investigate: possible host count flakiness"
**Fleet version** main branch 4.6.0 testing

**Fleet tier** Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Admin

**Operating system** macOS 11.6

**Web browser** Chrome 95

<hr/>

### 🧑‍💻  Expected behavior
When deleting teams, hosts will revert to a "no team" status

### 💥  Actual behavior

1. create a bunch of teams
2. enroll a bunch of hosts (2

[2021-11-17 18:23] RachelElysia commented on #2985
I was not able to reproduce.

I put all 8 of my online hosts onto one team, I deleted that team. I then saw all 8 of my online hosts reassigned to No team.

I then tried it with offline hosts as well because who knows. And they all were reassigned to No team.

One more person try to reproduce?

[2021-11-17 18:23] RachelElysia commented on #2974
Can we close? @lukeheath

[2021-11-17 18:24] lukeheath opened #2991 "Add platform parameter to Policy endpoints"
## Goal

As a Fleet admin or maintainer, I want to specify the platform (macOS, Windows, Linux) for a specific policy so that I can answer a specific yes or no question about only my macOS devices.

**Notes:**
- This issue depends on #2595 to create the "Create Policy" page.

**Overview:**
Compatible platforms will now be saved in the database for policies. This requires API updates, updates to th

[2021-11-17 18:28] lukeheath commented on #2974
Yep, thanks!

[2021-11-17 18:28] #2974 closed

[2021-11-17 18:29] RachelElysia commented on #2976
@noahtalerman Correct me if I'm wrong: New UI external links do not have an icon unless it's to a link to outside fleetdm.com (e.g. github, CVE information).

[2021-11-17 18:35] rlynnj11 commented on #2985
I have not been able to reproduce either, I'm checking in on an instance every 10 minutes over a 40 min period (halfway through) and will close this out if I can't get it to reproduce, because things like counters when you notice them randomly are sometimes false bugs.

[2021-11-17 18:45] #2937 closed

[2021-11-17 19:20] mna commented on #2660
@zwass this change turns out to be pretty invasive and I'd rate it as risky, I started to integrate the saml pacakge in the linked PR (#2982 ) but at this point it just replaces our custom struct for XML marshaling with the crewjam/saml-provided `saml.EntityDescriptor` struct. That works allright, but by itself I wouldn't say this is worth the change. To implement the next step would mean to use t

[2021-11-17 19:32] rlynnj11 commented on #2985
I think this is a host count bug, actually - It has flickered between 248 and 246 despite me not adding or removing any hosts.

[2021-11-17 19:36] zwass commented on #2660
@mna thank you for the thorough analysis. I am inclined to go with your recommendation. @chiiph any thoughts?

While you are in that code and somewhat familiar, do you want to add some testing as described at the end?

[2021-11-17 19:37] mna commented on #2660
Sure thing, I'll add some tests.

[2021-11-17 19:52] chiiph commented on #2660
+1 to keeping what works. Testing SSO is probably pretty annoying to setup, not sure how strictly the different implementations follow the standard, so improving coverage to decrease the risk sounds like a great next step to me.

[2021-11-17 20:59] zwass commented on #2747
@RachelElysia can you please implement the following as the desired behavior?

- When navigating to `/previewlogin`, don't show any error message before attempting to log the user in
- After attempting the login, redirect immediately into the application (rather than using the 1500ms wait https://github.com/fleetdm/fleet/blob/main/frontend/pages/LoginPage/PreviewLoginPage.tsx#L36-L38)

[2021-11-17 21:18] rlynnj11 opened #2994 "Pagination on User Creation Screen"
### Goal

Make it easier/cleaner to set up user creation when there are many teams

TODO
There is no pagination on the User Creation modal, which requires scrolling through every team when setting up a new user's access.

### How?

https://www.loom.com/share/5fdd1ad5e5d9407eb3b2b4078f1783a4

- [ ]

[2021-11-17 21:22] chiiph opened #2995 "Support for rolling upgrades and migrations"
# What?

The recommendations for upgrading fleet is to stop all fleet instances, run migrations, and then start fleet again. The reason for this recommendation is that migrations most of the times modify the schema, add indexes, and/or move data around. These operations are inherently problematic because they lock whole tables and cause issues.

This recommendation is sound, but it doesn't necessa

[2021-11-17 21:30] #2962 closed

[2021-11-17 21:41] rlynnj11 opened #2996 "Schedules Page teams dropdown is cut off"
**Fleet version** 4.6.0 testing in main branch

**Fleet tier** Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Admin

**Operating system** macOS 11.6

**Web browser** Chrome 95

<hr/>

### 🧑‍💻  Expected behavior
Team selector dropdown on Schedules page should say **All teams**

### 💥  Actual behavior
It's just an 's'

### More inf
<img width="530" a

[2021-11-17 21:44] rlynnj11 commented on #2996
JUST stopped reproducing. All my bugs are false reports today apparently.

[2021-11-17 21:45] #2963 closed

[2021-11-17 21:45] mna commented on #2995
Just to make sure I understand the goal - this is still a "stop the world" approach (not that I can think of any other way to run migrations), but it's somewhat automated, right? A human would manually upgrade one instance, and it would automatically trigger the rest? How would the actual updated binary get deployed? Ignoring that last question, assuming a restart picks up the latest binary, the i

[2021-11-17 22:04] rlynnj11 commented on #2958
This could still use some cleanup, but is improved enough to not need to be removed from 4.6.0 - I would like to keep the ticket open for more work, though.

[2021-11-17 22:10] lucasmrod commented on #2965
This bug can be reproduced with multiple simulated linux hosts that have executed a global or team scheduled query at least once:

1. Have more than one (N) linux hosts enrolled. (could be simulated osquery linux hosts).
2. Create a schedule query that runs on linux or all platforms
3. Wait for the schedule query to run on all N hosts.
4. Go to each host "Host details" page -> `Schedule` tab, you

[2021-11-17 22:42] lukeheath opened #2998 "Support software CVE search"
NOTE: This issue now only covers the "ability to search software by CVE." The "generate a CSV file" goal has been separated into the following issue: #3640
- Prior to separating these issues, the combined estimation from the backend engineering team was `5`.

## Goal

As a user, I want to be able to search software by CVE.

### 1
- [ ] Update `GET /api/v1/fleet/software` route
- [ ] Add `cve` as a

[2021-11-17 22:47] lukeheath commented on #2998
@chiiph Assigning over to you for review. If all looks good, please remove your assignment and bring into the estimation column for backend estimation.

[2021-11-17 23:04] mikermcneil opened #2999 "We aren't currently marketing policies and vuln management."
ie. if you go to the Fleet website, you wouldn't necessarily know that these features exist

[2021-11-17 23:06] mikermcneil opened #3000 "Add brand voice guidelines to handbook, and link from onboarding issue template"
See GitLab's handbook for inspiration.  Ours can be way simpler / sparser for now!

This is for both when speaking as the Fleet brand, as well as when participating as an individual where your comments reflect on the open-source project or company.

Inspired by https://github.com/fleetdm/confidential/issues/643#issuecomment-972232537

[2021-11-17 23:07] zwass commented on #2747
Note you'll probably want to modify https://github.com/zwass/fleet/blob/f29bd07087c0e2d354fe565b8daea47451d6e6cc/frontend/context/app.tsx#L72-L74 to always return true for testing this locally without preview.

[2021-11-17 23:09] rlynnj11 commented on #2958
<img width="404" alt="Screen Shot 2021-11-17 at 4 23 53 PM" src="https://user-images.githubusercontent.com/44620612/142296989-d55e5e72-2c76-42f6-b170-00075a41eb00.png">
<img width="490" alt="Screen Shot 2021-11-17 at 4 23 37 PM" src="https://user-images.githubusercontent.com/44620612/142296991-b20b2d69-b13a-48af-b52c-f3b90a6e63a4.png">

[2021-11-17 23:29] zwass commented on #2924
Edited to specify the following intended behavior:

Any time the UI sees a 401 error, this indicates the user needs to log in, so they should be redirected to the login page (ideally with a message indicating they need to log in again).

[2021-11-18 00:18] lukeheath commented on #2998
Added specs for generating the Host CVE report server-side. I'm flexible on what the response object looks like based on your implementation. The example is based on [Stripe's report runs API spec](https://stripe.com/docs/reports/api#report-runs).

[2021-11-18 00:46] zwass opened #3003 "Page position jumps when previous/next used on homepage software card"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `9f6481d4d` (PR #2988)

**Operating system** _(e.g. macOS 11.2.3)_:  macOS

<hr/>

### 🧑‍💻  Expected behavior

Page position remains constant.

### 💥  Actual behavior

Page position resets: https://www.loom.com/share/17af2c901ee74d09b12296ecf61d6881

### More info

Reproduces in both Chrome and Firefox for

[2021-11-18 00:55] zwass opened #3004 "Silent 402s after editing enroll secret"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Free

<hr/>

### 💥  Actual behavior

After editing an enroll secret, the UI attempts to query the `/teams` endpoint resulting in 402s.

The errors are only noticeable in the console/devtools.

https://www.loom.com/s

[2021-11-18 01:16] gillespi314 opened #3005 "Update UI data table styles"
Restyle data tables throughout the UI using new CSS selectors and applying new pattern for column widths

[2021-11-18 01:59] zwass commented on #2123
This seems like it is likely resolved by the final comment. Please comment again or open a new issue if you encounter further problems.

[2021-11-18 01:59] #2123 closed

[2021-11-18 02:39] gillespi314 opened #3007 "Loading state for homepage software table"
When homepage software and activity cards stack to single column, the activity card bounces briefly each time the software table loads a new page of results.

https://www.loom.com/share/156e1742913f459bab2db293273630f3

[2021-11-18 03:58] lukeheath opened #3010 "Add platform parameter to policy endpoints"
## Goal

As a Fleet admin or maintainer, I want to specify the platform (macOS, Windows, Linux) for a specific policy so that I can answer a specific yes or no question about only my macOS devices.

**Overview:**
Compatible platforms will now be saved in the database for policies. This requires API updates, updates to the frontend requests, and updates to the UI component that displays compatibili

[2021-11-18 04:08] lukeheath commented on #3010
@chiiph Apologies, but I lost your previous specification updates during transfer over and rewrote from memory. Please take a look at these specs and update as necessary, then move to the Estimate column for estimation. Thank you.

[2021-11-18 04:22] lukeheath opened #3011 "Add total software count to software endpoint"
## Goal

Add exact count of all software version items to "Software" modal so that a user can determine the exact number of vulnerable software items Fleet has detected across all their hosts.

## Figma

Add exact count of all software version items to "Software" modal: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3406%3A84242

## Tasks

- [ ] Create new `GET /api/v1/fleet/software/c

[2021-11-18 04:35] lukeheath commented on #3011
@chiiph Over to you for spec review and estimation.

[2021-11-18 04:39] rlynnj11 commented on #2996
Ok, so this reproduces sporadically and requires better steps before it's really actionable. It looks like during loading, the "All teams" header gets cut off to just "s", possibly if there's a lot of data to load on a refresh?

[2021-11-18 04:42] #2975 closed

[2021-11-18 04:46] #2983 closed

[2021-11-18 04:46] #2933 closed

[2021-11-18 04:54] rlynnj11 opened #3012 "When a setup has too many teams, they do not all show on "Run Query" target selector"
**Fleet version** 4.6.0 testing in the main branch, and v4.5.0

**Fleet tier** Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Admin

**Operating system** macOS 11.6

**Web browser** Chrome 95

<hr/>

### 🧑‍💻  Expected behavior
All teams to be available as targets to select when running a query. Perhaps if there are many teams, a scroller would be n

[2021-11-18 06:20] zwass commented on #907
Addressed in #3006

[2021-11-18 13:37] chiiph commented on #3011
We should handle this count like we handled host counts: separate API that takes the same filters. In the UI we show a spinner while it loads. @lukeheath what do you think?

[2021-11-18 13:41] polak785 opened #3015 "List of vulnerabilities detected not listed in host summary"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):
[code]

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Fleet Free

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:
[code]

**Web browser** _(e.g. Chrome 88.0.4324)_:
Any

<hr/>

[2021-11-18 13:58] chiiph commented on #2998
@lukeheath I've updated the spec so that the API for downloading a CSV is the following: `GET /api/v1/fleet/hosts/report?software_id=408&format=csv`

The reasoning for it is that we don't necessarily have any place to store the CSV, as Stripe has since they host their own infra. So we need to generate it and return it as an attachment.

The UX would be the same, the generation will happen as the b

[2021-11-18 14:05] rlynnj11 commented on #2965
<img width="1183" alt="Screen Shot 2021-11-18 at 9 05 38 AM" src="https://user-images.githubusercontent.com/44620612/142430263-6987406f-8545-47bc-af66-1c9d4ce028cc.png">

[2021-11-18 14:05] #2965 closed

[2021-11-18 14:13] #2964 closed

[2021-11-18 14:55] gillespi314 opened #3016 "Last page of software summary table results shows wrong empty state"
If the last page contains 0 results, the UI is incorrect:

Compare these screenshots:

<img width="753" alt="Screen Shot 2021-11-18 at 8 52 46 AM" src="https://user-images.githubusercontent.com/73313222/142439095-1a1a2cdf-af55-4562-b4fe-04ecc656f011.png">

<img width="753" alt="Screen Shot 2021-11-18 at 8 45 47 AM" src="https://user-images.githubusercontent.com/73313222/142439025-d55ae83c-ea6e-412

[2021-11-18 15:13] rlynnj11 commented on #2924
https://www.loom.com/share/cf83fbd2b6934ab99309368d846ddb13

[2021-11-18 15:13] #2924 closed

[2021-11-18 15:16] rlynnj11 commented on #2953
Not reproducing in main branch for 4.6.0, but also could not reproduce in 4.5.0. Leaving open for now but with no need to roll out of release.

[2021-11-18 15:30] rlynnj11 commented on #2984
[code]

[2021-11-18 15:32] rlynnj11 commented on #2984
@martavis this looks right to me can you please sanity check

[2021-11-18 15:45] RachelElysia commented on #2923
I QAd this again since I was going through the new user flow for something else.
<img width="1035" alt="Screen Shot 2021-11-18 at 10 44 41 AM" src="https://user-images.githubusercontent.com/71795832/142448230-c98045e2-abbb-48ed-a78b-4e63b3499be5.png">

[2021-11-18 15:57] RachelElysia opened #3019 "Fleet UI: Add MIA hosts to dashboard"
### Goal

TODO

Since we can filter by Online, Offline, New, and MIA. I figured the Fleet dashboard should also show the number of MIA hosts.

Dashboard without MIA hosts (causing confusion why my host count didn't add up):
<img width="1029" alt="Screen Shot 2021-11-18 at 10 54 58 AM" src="https://user-images.githubusercontent.com/71795832/142450335-a21a4657-660e-4b7a-9be1-50b7390427ea.png">
Manag

[2021-11-18 16:08] RachelElysia commented on #2747
@rlynnj11 I have a hunch that you are getting the "Unable to authenticate current user" error banner because you had opened preview previously and left the login on.

I tried to reproduce after signing out and I couldn't.

[2021-11-18 16:19] gillespi314 commented on #2953
@rlynnj11 this should be fixed now by PR #2981. The issue occurs when a team or host or label have the same numeric id. You can check the id in the url if you go to the page to view host details or edit the query or custom label. The builtin labels get the first few ids for labels.

[2021-11-18 16:35] rlynnj11 commented on #2976
Still can only click on the new tab icon and not the whole link in `--tag 5bfda67`, which was pushed an hour ago.

[2021-11-18 16:36] rlynnj11 commented on #2976
<img width="696" alt="Screen Shot 2021-11-18 at 11 36 03 AM" src="https://user-images.githubusercontent.com/44620612/142457324-a7a4c104-70af-4253-aa18-b6368898a621.png">
<img width="1219" alt="Screen Shot 2021-11-18 at 9 12 44 AM" src="https://user-images.githubusercontent.com/44620612/142457326-b756f962-87c5-448a-ab7b-8b8165e5af16.png">

[2021-11-18 16:39] rlynnj11 commented on #2953
Thanks @gillespi314 with that context I can confirm resolution

[2021-11-18 16:39] #2953 closed

[2021-11-18 16:54] lukeheath commented on #3011
@chiiph Yes, agree, I missed that endpoint as a reference. I will update the ticket shortly. Do you think it needs any request params? Seems like we just want the total count with no filters.

[2021-11-18 16:55] lukeheath commented on #2998
@chiiph That makes sense, and good point about infra. I'm still getting used to that. Updates look good to me, thanks!

[2021-11-18 16:56] chiiph commented on #3011
@lukeheath we want the count with all the same filters as software, so when you list vulnerable software you know how many there are, and when you search a given string, that count updates, etc.

[2021-11-18 17:03] lukeheath commented on #3011
@chiiph Got it. Updated, feel free to modify if needed. Thanks.

[2021-11-18 17:11] RachelElysia commented on #2976
Good call so sorry! I went and fixed like 20 other links but somehow went over this initial one! PR coming in for a landing...

[2021-11-18 17:36] RachelElysia commented on #2976
@rlynnj11 should be ready for a second QA, thank you!!

[2021-11-18 18:03] martavis commented on #2984
Looks good to me.

[2021-11-18 19:06] lukeheath commented on #2814
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2814?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-11-18 19:07] lukeheath commented on #2814
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2814?planning-poker) with ZenHub @martavis

[2021-11-18 19:08] noahtalerman commented on #2957
This issue cannot be reproduced.

This issue has been triaged with the following migrations: 4.3.0>4.4.0>4.4.1>4.4.2>4.4.3>4.5.0.

This issue has also been triaged applying that debug config.

The suspected fix is...if you reapply those agent options they will stick around.

[2021-11-18 19:08] #2957 closed

[2021-11-18 19:24] lukeheath commented on #2716
Rachel: We need an error state if they try to save no platforms selected.
Luke: I need to update API specs link and array of paltforms param.

[2021-11-18 19:24] lukeheath commented on #2716
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2716?planning-poker) with ZenHub @gillespi314 @martavis @RachelElysia

[2021-11-18 19:28] lukeheath commented on #2716
Adding some additional points to this ticket to allow time for including unit tests on the compatibility component based on an established pattern (another ticket).

[2021-11-18 19:31] RachelElysia commented on #2935
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2935?planning-poker) with ZenHub @gillespi314 @martavis @lukeheath

[2021-11-18 19:36] lukeheath opened #3027 "Integrate React Testing Library"

[2021-11-18 19:38] lukeheath opened #3028 "Add React Testing Library and example test case"
As a frontend engineer, I want to implement React Testing Library...

- Learn React Testing Library and document best practices.
- Include test for a form field as test case.
- Include a test for a transform function like enhance table data.
- Include CI integration process.
- Update testing documentation for Fleet contributor's section.
- Update frontend README.

[2021-11-18 19:44] lukeheath commented on #3028
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3028?planning-poker) with ZenHub @gillespi314 @martavis @RachelElysia

[2021-11-18 19:49] zwass commented on #2813
I added the requested changes to the PR.

[2021-11-18 19:54] lukeheath commented on #2935
Luke: Update specs to reference host details "Refetching" loading state for count.
Luke: Update specs to include debouncing call to software count.

[2021-11-18 20:09] lucasmrod opened #3029 "Provide access to a team's enroll secret from the team's settings view"
## Goal

Add ability to access a teams enroll secret and instructions to download a team specific osquery installer on the **Host details** page.

## Figma

Provide access to a team's enroll secret from the Team details page: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3558%3A93696

## Tasks

### 1
- [x] Update Team Settings page to include "Generate Installer" and "Manage Enroll Se

[2021-11-18 20:19] noahtalerman commented on #3015
@polak785 the list of vulnerabilities (CVEs) was removed from the **Host details** page in Fleet 4.5.0. This is because the list would often contain hundreds of vulnerabilities and force the user to scroll a long ways to reach the "Software" table.

In Fleet 4.5.0, you can see the vulnerabilities for a specific software by selecting a purple arrow for a software that is flagged.
![Screen Shot 2021

[2021-11-18 20:44] chiiph commented on #3011
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3011?planning-poker) with ZenHub @gillespi314 @lucasmrod @zwass

[2021-11-18 20:48] zwass commented on #2998
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2998?planning-poker) with ZenHub @chiiph @gillespi314 @lucasmrod

[2021-11-18 20:58] #3027 closed

[2021-11-18 21:06] chiiph commented on #2027
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2027?planning-poker) with ZenHub @gillespi314 @lucasmrod @zwass

[2021-11-18 21:21] rlynnj11 commented on #2747
Per offline conversation, this is a `preview` specific issue that only comes up under robust testing circumstances. Since it would not reproduce for a normal user in a real world situation, we're closing this out.

[2021-11-18 21:21] #2747 closed

[2021-11-18 21:24] rlynnj11 commented on #2976
The links themselves check out. @noahtalerman care to weigh in on the links with a the new tab icon vs the links without? Do you need those brought in line or because they are in different contexts are they okay?

[2021-11-18 21:26] rlynnj11 opened #3030 "Typo in help documentation link on Schedule page"
**Fleet version** main branch

**Fleet tier** Premium

**User role** Admin

**Operating system** macOS 11.6

**Web browser** Chrome 95

<hr/>

### 🧑‍💻  Expected behavior

See screenshot for typo

### 💥  Actual behavior

<img width="935" alt="Screen Shot 2021-11-18 at 4 23 42 PM" src="https://user-images.githubusercontent.com/44620612/142499207-1bb72845-8fdf-4728-954c-e6e20cb9a997.png">

### More i

[2021-11-18 21:27] #2984 closed

[2021-11-18 21:32] #3004 closed

[2021-11-18 21:35] rlynnj11 commented on #2901
@zwass @noahtalerman concluding this round of testing, nothing found suggests it should explicitly block this release.

[2021-11-18 21:35] #2901 closed

[2021-11-18 21:41] lucasmrod opened #3031 "Using fleetctl, allow applying query packs to specific team/s"
### Goal

Currently, `fleetctl apply` allows applying packs to the whole Fleet instance or to specific labels.

As a user I would like `fleetctl apply` to allow me to apply packs to specific teams.

### How?

I believe we can add a new field for `Teams []string `json:"teams"`` on `PackSpecTargets` to the field (this would be by team name, and the backend would fetch the team from its unique name):

[2021-11-18 21:41] RachelElysia commented on #3003
Tried to reproduce, I think this was fixed.

[2021-11-18 22:16] rlynnj11 opened #3032 "500 error on saving team name from team edit menu"
**Fleet version** main in 4.6.0 testing, reproduces in 4.5.0 as well

**Fleet tier** Premium

**User role** Admin

**Operating system** macOS 11.6

**Web browser** Chrome 95

<hr/>

### 🧑‍💻  Expected behavior
Editing a team name does not result in a 500 error and immediately reveals new team name

### 💥  Actual behavior
When you edit a team name specifically from the team edit menu (not the dropdo

[2021-11-18 22:22] noahtalerman commented on #2976
@rlynnj11 the latest changes in Rachel's screenshot look good to me 👍

[2021-11-18 22:24] #2976 closed

[2021-11-18 22:56] lucasmrod commented on #2099
Isn't this already done here https://github.com/fleetdm/fleet/pull/2852/files?

Then this ticket is about just removing the feature flag and update the documentation (which should be already updated because it's rolling out to users in 4.6.0 AFAICS?).

[2021-11-18 23:01] lucasmrod commented on #2027
This includes, packaging both:

- the errors stored in redis, and,
- the locks information

Right?

[2021-11-19 13:32] polak785 commented on #3015
Hello @noahtalerman,

Thank you for the detailed answer, I didn't know about the new display, this is awesome :+1: . Thank you!

[2021-11-19 13:32] #3015 closed

[2021-11-19 13:40] chiiph opened #3036 "Run Go CI on Windows and macOS"
While fleet serve itself is expected to run mostly on Linux machines, fleetctl and orbit should run in Windows and macOS as well and we want to support development in all three platforms.

To make sure this remains the case, we should run CI on main on a nightly schedule (i.e. not in PRs) on Windows and macOS.

[2021-11-19 13:41] chiiph opened #3037 "Improve testing for Orbit"
We need to increase the coverage for Orbit as it keeps growing.

[2021-11-19 13:43] chiiph opened #3038 "Test database migrations with data and different configurations of databases"
We are lacking tests for migrations with actual data and different configurations. This has caused issues for users.

We need to define the set of expected configurations supported, simulate data and test each migration.

[2021-11-19 13:43] defensivedepth opened #3039 "Broken links because of server prefix"
v4.5.1, Free version, Admin role, latest version of Chrome, Firefox

Found a couple more links broken because they don't take into account server prefix - User reported it here: https://github.com/Security-Onion-Solutions/securityonion/discussions/6260

Also cross-reference: https://github.com/fleetdm/fleet/issues/193

[2021-11-19 13:44] chiiph opened #3040 "New installs should setup the database from the dumped schema instead of migrations"
When a new install is setup, we run all the migrations since the beginning. Now that we are keeping a schema file generated from these migrations, it makes no sense to run migrations in new installs and instead we should setup the database from the dumped schema.

[2021-11-19 13:47] chiiph opened #3041 "Record execution times for crons and other stats"
We have an increasing number of crons running different things. We should record stats to ease debugging of different situations:

- Last execution time
- Interval that it's running on
- Last error executing if any
- Some form of generic stats per cron, such as amount of CVEs found, or amount of software analyzed, or amount of rows removed, etc.

Potentially as part of this ticket we should consid

[2021-11-19 13:50] chiiph opened #3042 "Add a way to clear different locks for fleet"
Mostly at testing, we sometimes end up needing to clear locks through the database. It would be better if we had a way to clear them through fleetctl and/or through a flag when starting fleet serve itself.

Potentially, we could add to `fleetctl debug` to print status of locks and when they expire. We should probably also log the instance random identifier to help pin point what instance has what

[2021-11-19 13:51] chiiph opened #3043 "Add tests for fleet interacting with actual osquery"
One of the gaps in our testing infrastructure is that we are not testing interaction with actual osquery. We should figure out how to do that.

[2021-11-19 13:53] chiiph opened #3044 "Expand fleetctl's new simplified implementation everywhere"
Old way: http://github.com/fleetdm/fleet/blob/3ae57a02424ebb3771e5a0802b636cb29a71b996/server/service/client_labels.go#L44-L75

New way: http://github.com/fleetdm/fleet/blob/3ae57a02424ebb3771e5a0802b636cb29a71b996/server/service/client_policies.go#L3-L11

We should update calls that use the old way to the new way.

[2021-11-19 13:55] chiiph opened #3045 "Optimize vulnerability checks to only work on/when data changes"
If the list of software across all hosts, the CVE datasources, and the CPE database don't change, then there's no need to do any vulnerability processing.

Evaluate the different possible combinations of data changing and figure out how to do the least amount of work to get the same results as we have today.

[2021-11-19 14:12] chiiph opened #3046 "Improve fleetctl get tests"
While we have tests for fleetctl get, we need to iterate how we are handling them, as when they fail, it's hard to understand why and where it's failing: https://github.com/fleetdm/fleet/pull/2890/files#r751278062

As an example of this, try adding a new item to Host or a type that ends up being marshalled for fleetctl get, and try following the tests failures.

[2021-11-19 15:00] rlynnj11 commented on #2958
Places I can reproduce this:

**Host Details**

- [ ] Software table
- [ ] Schedule table
- [ ] Policies table

[2021-11-19 16:28] lukeheath commented on #2762
@zwass @noahtalerman @rlynnj11 @chiiph The frontend team would like to start a dialog about creating unified personas with associated user flows that we can develop and test against. I've distilled our thoughts into this ticket. When you have some time, please take a look and provide your feedback as comments on the issue.

[2021-11-19 16:31] lukeheath commented on #2782
This issue is currently blocked by #2762. I've started a conversation with the broader team in that ticket and will update this one once we have clearer direction on personas.

[2021-11-19 16:40] rlynnj11 commented on #2762
Rachel and Sarah did some great work laying groundwork for user personas [here](https://docs.google.com/document/d/1npWpu3SQk0fc2yfPHoL1pP4nmNdFdQCMk5ODkAXdGlc/edit):  to the best of my knowledge, this is the most comprehensive user persona work we've done.

DRI is probably most simply someone from Product, as these roles being clearly defined will also help Product make decisions about permission

[2021-11-19 16:40] chiiph commented on #3046
This is a PR for this: https://github.com/fleetdm/fleet/pull/3047

[2021-11-19 16:41] lukeheath commented on #2789
@zwass This is the frontend team's recommendation on testing the React application. When you have some time, please take a look and let us know if you have any feedback.

[2021-11-19 16:41] lukeheath opened #3048 "Update Frontend README to reflect latest patterns and conventions"

[2021-11-19 16:51] #2472 closed

[2021-11-19 16:54] lukeheath opened #3049 "Policies own their queries"

[2021-11-19 17:21] noahtalerman opened #3050 "Vulnerabilities: Add ability to configure and send vulnerability webhook automations"
### Goal

As a vulnerability analyst, I want to be able to tell Fleet to reach out when a _new_ vulnerability (CVE) is detected on my devices. This way, I can automate the process of sending a message to device owners or creating a ticket to track the vulnerability.

#### Why only new vulnerabilities?

I only want to be notified when Fleet detects a CVE, on my devices, that was published within th

[2021-11-19 17:26] noahtalerman opened #3051 "Improve loading states on the "Home" page and "Hosts" page"
### Goal

As a user with a Fleet deployment that contains 10,000+ hosts, I want to know that the Fleet server is working to retrieve the correct data when I navigate to the "Home" page and "Hosts" page.

### Figma

Make sure to review Figma in detail for this one, in addition to the specs below.

Loading states on the "Home" page and "Hosts" page: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/

[2021-11-19 17:31] noahtalerman opened #3052 "Make table behavior in the Fleet UI consistent"
### Goal

Update all tables in the Fleet UI to use the same column width/resizing and horizontal overflow behavior when resizing the page.

### Figma

Make table behavior in the Fleet UI consistent: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3540%3A93005

### Tasks

- [ ] Determine the desired behavior for all tables in the Fleet UI
- Update the above Figma link with necessary scre

[2021-11-19 17:33] noahtalerman opened #3053 "Add policies to the standard query library"
### Goal

Upon 4.7.0 release, standard policies (“policy templates”) should live on fleetdm.com/queries

### How?
- [ ] Update the `standard-query-library.yml` with the policies included in this issue

[2021-11-19 17:36] noahtalerman opened #3054 "Add ability to filter software by "Vulnerable" on the Host details page"
### Goal

As a user, I want to be able to see all the vulnerable software detected on a specific host so I can assess the health of the host

### Figma

Filter software by "Vulnerable" on the Host details page: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3540%3A93006

### Tasks

Note: The full list of software vulnerabilities is included in the host details response, so no additiona

[2021-11-19 17:43] zwass commented on #1828
This now exists via Storybook! Deployed on every PR, check the links that Vercel adds to PRs.

I'm going to close this issue out in favor of #2789.

[2021-11-19 17:43] #1828 closed

[2021-11-19 17:48] zwass commented on #3028
Another good candidate for an early test example could be the modal. I had previously considered that in #1828.

[2021-11-19 17:51] zwass commented on #2789
I'm totally on board. I like the goals described in the Conclusion of https://kentcdodds.com/blog/testing-implementation-details#conclusion regarding testing implementation details.

[2021-11-19 17:55] noahtalerman commented on #3031
@lukeheath I'm passing the assignment of this backend only issue to you.

Can you please make sure that the issue makes it to the correct column in "Engineering" board in ZenHub with the correct assignee?

[2021-11-19 18:00] noahtalerman opened #3055 "Add ability to retrieve the configuration for a specific team with fleetctl"
### Goal

As a user, I want to retrieve the configuration for a specific team with fleetctl.

### Tasks

- [ ] Add a new flag to the get teams command --name that accepts a string. This string will later be used in the ListTeams api as a query param: query=<name here>. This will use MatchQuery underneath and filter teams accordingly.

[2021-11-19 18:02] noahtalerman commented on #3055
@lukeheath I'm assigning you to this issue.

Can you please make sure that the issue makes it into the correct column in the "Engineering" board with the correct assignee?

[2021-11-19 18:47] chiiph opened #3057 "Improve stability of policies"
The first step is to extrapolate policy history stored over time and assess whether the approach that we've got is good enough to query it, along with understanding storage needs.

---

On a system with 50k hosts and default intervals, we anticipate each policy will store 4gb of history data. This is not an impossible number, but given that we are not currently making use of this history and we ha

[2021-11-19 19:19] #2813 closed

[2021-11-19 19:32] noahtalerman commented on #2991
Duplicate of #3010

[2021-11-19 20:12] #2991 closed

[2021-11-19 20:17] noahtalerman commented on #3039
@defensivedepth thanks for the report!

In, the [securityonion issue](Security-Onion-Solutions/securityonion#6260) you shared above, it looks like the screenshot is from a version of Fleet that is earlier than v4.5.1. I followed up in the issue you linked to verify.

[2021-11-19 20:21] noahtalerman commented on #3039
@gr4ssi welcome to the fleetdm/fleet repo! I'm following up on the following issue you reported in the securityonion repo: Security-Onion-Solutions/securityonion#6260

Can you please let us know what version of Fleet is pictured in your screenshot? You can find this out on the **My account** page. First, click on the grey profile icon in the top right and then select "My account."

[2021-11-19 20:41] mikermcneil opened #3058 "With "no access", a user should have no access"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.5.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): No access, no team

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Ex

[2021-11-19 20:44] mikermcneil opened #3059 "As a global admin, I want to change anyone's password from /settings/users"
## Goal

As a global admin, I want to change anyone's password from /settings/users so that I I can manually set a user's password when needed.

## Figma

Change anyone's password from /settings/users: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4140%3A171166

### Frontend (blocking): #4265

## Tasks

### 1
- [ ] Update [Modify User endpoint](https://fleetdm.com/docs/using-fleet/res

[2021-11-19 20:57] defensivedepth commented on #3039
@noahtalerman I verified this was still broken in 4.5.1

[2021-11-19 20:57] mikermcneil commented on #2576
@mike-j-thomas Ready to publish?

[2021-11-19 20:58] RachelElysia commented on #2958
@noahtalerman Can we spec out the minimum widths of everything for this? As a dev, I'm just guesstimating and really don't know what the intended views/width cutoffs are supposed to be. Definitely down to clean it up from some clean mock examples!

[2021-11-19 21:05] #2336 closed

[2021-11-19 21:16] RachelElysia commented on #3016
@mike-j-thomas @noahtalerman

Currently, this is now fixed to show the following:

<img width="533" alt="Screen Shot 2021-11-19 at 2 14 39 PM" src="https://user-images.githubusercontent.com/71795832/142692549-d6be3630-abfd-4520-8bbc-e53942fb9182.png">

If that's okay, we can close this ticket. If not, can you make a mock for the "last page empty state" of every table that needs a UI different from

[2021-11-19 21:21] gr4ssi commented on #3039
Hi @noahtalerman ,
I followed your instructions to find the version, but I wasn't successful. For what it's worth, I use the most recent and up 2 date Security Onion.
Is there another way to find the version number?
Happy to help, if I can.
Cheers

[2021-11-19 21:32] lukeheath commented on #2716
@gillespi314 So that you are not blocked by #3028, I propose we not include unit tests as part of this ticket. I'm thinking next sprint we have a ticket for backfilling some important unit tests with React Testing Library, and include this component. Does that work for you?

[2021-11-19 21:35] gillespi314 commented on #2716
@lukeheath works for me!

[2021-11-19 21:50] lukeheath opened #3060 "Data table icons too small"
Icons appear too small on active state icons that appear in the data table header when a row is selected.

![image.png](https://images.zenhubusercontent.com/57e551a495e42b6c5ba95c88/718bdc28-32dc-4ca0-945a-89cffac56b6b)

![image.png](https://images.zenhubusercontent.com/57e551a495e42b6c5ba95c88/2fe4461b-a3e3-485b-833f-4fe72215b37f)

[2021-11-19 21:55] noahtalerman commented on #3039
Got it. @defensivedepth is the broken link you're referring to above the broken link shown in this screenshot? Or a different broken link?
![image](https://user-images.githubusercontent.com/47070608/142691428-bef67e2f-3eab-4a94-83ad-d3f541b7e732.png)

I'm curious about the Fleet version because, the following is a screenshot of the same **Queries** page I see in v4.5.1:
![Screen Shot 2021-11-19 at

[2021-11-19 21:55] rlynnj11 opened #3061 "Users with "No access" are not presented with a 403 overlay"
**Fleet version** has been reproducing at least since 4.3.0, most recently in 4.6.0

**Fleet tier** Premium

**User role** Team anything

**Operating system** macOS 11.6

**Web browser** all, shown on Chrome 95

<hr/>

### 🧑‍💻  Expected behavior
After a user is removed from all teams, they appear as "No access" in the "Users" table in the **Settings** page.

When logging in as a user with "No acce

[2021-11-19 21:56] rlynnj11 commented on #3058
closing because https://github.com/fleetdm/fleet/issues/3061, while newer, has clearer steps and labels

[2021-11-19 21:59] rlynnj11 opened #3062 "No helper text when trying to create a team user without giving them a team"
vaguely related to https://github.com/fleetdm/fleet/issues/3061

**Fleet version** all, most recently reproduced in 4.6.0

**Fleet tier** Premium

**User role** Admin

**Operating system** macOS 11.6

**Web browser** Chrome 95

<hr/>

### 🧑‍💻  Expected behavior
When I try to create a user without a team, an error message explains why creation failed.

### 💥  Actual behavior
No error message appear

[2021-11-19 22:01] noahtalerman commented on #2958
@RachelElysia yep! We want to standardize the table styles in the future. I filed a separate issue for this here:  https://github.com/fleetdm/fleet/issues/3052

Currently, the Fleet UI should support a minimum width of 1200px. If the tables included in this issue don't exhibit any strange behavior at 1200px and above, then we can move this issue out of the current release board.

[2021-11-19 22:01] RachelElysia commented on #3061
With this case, what is the intended behavior of removing a team where a user only is on that team? Are they not allowed to remove that team? I think currently they are sent to No Access.

Also, this is not just a UI issue, this is also a fleetctl issue because if permissions change using fleetctl, what happens?

[2021-11-19 22:02] RachelElysia commented on #3061
Another thing to consider. What happens to all the Fleet databases which already have a user as "No Access"? Are we migrating their access to something?

[2021-11-19 22:09] noahtalerman commented on #3061
@RachelElysia, @rlynnj11 the intended behavior is to allow a user to be removed from all teams and have "No access."

It looks like there's a couple bugs:
1. Allow admin users to remove a user from all teams
2. Present a logged-in user with no access the "Access denied." popover when they attempt to navigate to any page in Fleet

If a user has no access, and they log in, then they should see the f

[2021-11-19 22:14] noahtalerman commented on #3016
@RachelElysia the above fix is great! Thank you :)

[2021-11-19 22:19] defensivedepth commented on #3039
@noahtalerman Sorry, I think I screwed up here. I am testing upgrades from 3.9 to 4.5.1 as we are upgrading to it in Security Onion, and I think I tested this bug on 3.9, not 4.5.1.

This does not appear to be an issue in 4.5.1

[2021-11-19 22:43] RachelElysia commented on #3062
Nice catch! Product, can you mock something out and feel free to assign me!

[2021-11-19 22:52] noahtalerman commented on #3039
@defensivedepth no worries! Very exciting that you're upgrading to 4.5.1 in Security Onion.

Please let us know if you have any questions or would like some help troubleshooting during the upgrade :)

[2021-11-19 22:52] #3039 closed

[2021-11-19 23:03] tgauda commented on #1486
@mikermcneil looks like we are tracking this. Would be good to add the ability to have multiple tags per query.

[2021-11-21 19:18] zwass opened #3064 "Duplicate hosts on live query page when focus changes"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.6.0

<hr/>

### 🧑‍💻  Expected behavior

The page doesn't change in any notable way when focus changes.

### 💥  Actual behavior

When focus returns to the page, a duplicate targets request is made and the host is duplicated in the UI.

See https://www.loom.com/share/79599813f52648e38b221b21dc5a6fa9.

###

[2021-11-22 01:53] zwass opened #3065 "4.6.0 overwhelms Redis"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.6.0

<hr/>

### 🧑‍💻  Expected behavior

Redis utilization relatively consistent with previous versions.

### 💥  Actual behavior

Redis CPU utilization creeps up until Redis is pinned at 100% and then the Fleet UI and API start erroring.

### More info

* When a host checks in for live queries, a SCAN for

[2021-11-22 09:22] #2916 closed

[2021-11-22 14:25] chiiph commented on #2099
@lucasmrod this also enables vulnerability detection.

[2021-11-22 14:34] mna commented on #2027
I estimated implementing `fleetctl debug` and adding some SQL dumps, given that the error storage and adding stack traces is already implemented. Note that this does *not* include figuring out a fix to the redis scan keys issue.

[2021-11-22 14:38] noahtalerman opened #3068 "User cannot be removed from all teams"
**Fleet version** has been reproducing at least since 4.3.0, most recently in 4.6.0

**Fleet tier** Premium

**User role** Team anything

**Operating system** macOS 11.6

**Web browser** all, shown on Chrome 95

<hr/>

### 🧑‍💻  Expected behavior

I expected to be able to remove a user from all teams in the "Edit user" modal in the Fleet UI.

### 💥  Actual behavior

I received an error when attempt

[2021-11-22 14:39] noahtalerman commented on #3061
This issue now covers the bug of failing to present a user with "No access" the 403 page.

I broke out into a second "User cannot be removed from all teams" issue here: https://github.com/fleetdm/fleet/issues/3068

[2021-11-22 15:48] #2923 closed

[2021-11-22 15:53] noahtalerman commented on #3029
Quoting customer:

[...]
I figured it out, I had thought I could get the enroll secret from the Teams tab, but it’s where you enroll new hosts on the Hosts tab.

[2021-11-22 15:54] gavinelder opened #3069 "Chrome/Browser Extension inventory + Risk Rating / Warnings."
### Goal

Browser Extensions can be installed without admin approval on a target system and these are sometimes seen as being benign however they do represent a privacy risk to end users and also corporate data which are on-workstations.

In an ideal world, admins would configure managed browser policies and limit extensions by permission however this is not always done or possible in some organis

[2021-11-22 16:06] noahtalerman commented on #430
@lukeheath I passed this issue's assignment to you. Can you please move this issue into the "Engineering" board on ZenHub when it's ready for estimation? Thanks :)

[2021-11-22 16:23] lukeheath commented on #2789
Sounds good! We have a ticket in this sprint to implement React Testing Library and begin the process of backfilling important tests #3028 . Future backfilling will get spec'd as its own ticket so it can be estimated and brought into a future sprint.

Great conclusion at kentcdodds.com. Here it is for history:

--

So how do you avoid testing implementation details? Using the right tools is a good

[2021-11-22 17:20] #3016 closed

[2021-11-22 17:22] noahtalerman opened #3070 "🔭 Fleet v.4.7.0 goal"
### 🔭 v.4.7.0

#### Dates

- 🦶 Kickoff: Mon, Nov 22
- 🧊 Freeze begins: Mon, Dec 6 (End of day)
- 🚢 Release date: Mon, Dec 13, 2021

#### Goal
Increase adoption of the policies feature by answering the following questions:
- Why are policies valuable?
- What is a policy in Fleet?
- How do I craft a policy?

#### Why?
Later, in early 2022, Fleet administrators will use policies to discover issues wi

[2021-11-22 17:23] RachelElysia commented on #3061
Awesome, I'll update my PR today to render this No access 403 page for all logged in pages of a No access user! Thank you for clarifying!

[2021-11-22 17:24] RachelElysia commented on #3061
Quick question, how can they log out of their no access account if this is what shows up when they log in?

[2021-11-22 17:32] mikermcneil commented on #3058
@rlynnj11  Thanks!

@zwass @noahtalerman  Note that this is distinct from #3062.  It’s possible for a team to get deleted and cause the no access situation without #3062 ever coming up

[2021-11-22 17:37] noahtalerman commented on #3061
@RachelElysia this is a good point. Later, we may want to make it easier for a user with "No access" to log out. I will track a separate issue for this.

[2021-11-22 17:48] lucasmrod commented on #2368
#2803 has been merged.

[2021-11-22 19:23] lukeheath opened #3073 "Filter incoming issues"

[2021-11-22 19:28] lukeheath opened #3075 "More filtering"

[2021-11-22 20:23] mikermcneil opened #3076 "Blog post: "Deploy Fleet for osquery with Snowflake in 15 minutes""
(goal: minimal overhead, simplest possible snowflake+fleet thing that adds value)

- Ben: As of Dec 22, 2021, Terraform changes are ready to go.  Haven't yet figured out how to configure snowflake to make this useful.

[2021-11-22 21:14] mikermcneil commented on #3069
The permissions could potentially be a good enhancement for built-in software inventory

[2021-11-22 21:18] defensivedepth commented on #3039
Thanks, all good to go and released today!

https://twitter.com/securityonion/status/1462885171078778882

[2021-11-22 22:31] mikermcneil opened #3077 "Don't offer to save or autofill SMTP password"
### 🧑‍💻  Expected behavior
With an SMTP password entered under global settings, I expect saving my global settings to save without prompting me to save the SMTP password.  Similarly, I expect the SMTP password to not be autofilled.

Whether I am using Google Chrome (vanilla), Chrome with the 1password extension, or any other supported browser.

### 💥  Actual behavior
Instead, password is being aut

[2021-11-22 22:48] mikermcneil opened #3078 "Get everyone on a single tool for working with issues and tracking work again, a single way of working with issues again, and a single way of doing kanban again, regardless of which team they're on, and defaulting to public. Create and document a related handbook value, make it part of training, and train all existing team members on it."

[2021-11-23 13:51] chiiph opened #3079 "Remove host counts to improve speed of software table"
In 4.6.0 we started exposing software across the whole fleet in the home page. This table not only has host counts, but it also sorts by them.

This makes the underlying SQL query very expensive, as we are calculating the counts in real time. There are alternative approaches to calculating the counts in a way that wouldn't impact performance but would have other trade offs.

While we evaluate what

[2021-11-23 13:53] chiiph opened #3080 "Improve caching strategy for app config"
Usage of Redis to cache app config has worked, but alongside other issues, it made the whole system too dependent on Redis.

We want to cache app config at the fleet instance level instead, with a TTL of 1 second.

[2021-11-23 13:57] defensivedepth opened #3081 "Improve vulnerability processing to reduce false positives detected for RPM packages"
### Goal

Update the vulnerability processing for RPM packages to reducing the number of potential false positives.

### How?

- Review the data sets to understand how patch releases are being represented in CPE/CVE databases. This will be a key part in what we do.

- If the patch information is available in the datasets, then find candidates (such as the ones mentioned in comments in this ticket)

[2021-11-23 14:39] noahtalerman opened #3083 "Add policy activities to the activity feed"
## Goal

Add creating, editing, and deleting policy notifications to the activity feed.

## Figma

Add policy activities to the activity feed: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3888%3A210134

## Tasks

### 1

- [ ] **Update `GET /api/v1/fleet/activities` endpoint to return policy activity items**

**New activity types:**
- `created_policy`: <full_name> created policy <poli

[2021-11-23 14:44] noahtalerman opened #3084 "Allow logged in users with "No access" to log out of Fleet"
In Fleet, a user can have "No access" if they are not a member of any team in Fleet.

### Goal

Add ability for a logged in user with "No access" to Fleet to log out of Fleet so that they can attempt to log in with a separate account if needed.

[2021-11-23 14:56] RachelElysia opened #3085 "Dev X: Use font variables app wide"
### Goal

As @mikermcneil pointed out, our font rendering should be consistent. Quick search only shows a few inconsistencies.

TODO

- Change font instances of `rem` and `px` to Fleet font variables found on frontend > styles > var > fonts.scss

### How?

- [ ]

[2021-11-23 15:07] mna commented on #2660
Tests added, this issue could be closed, I don't see it as part of a release so I guess it could be manually closed immediately?

[2021-11-23 15:07] mna commented on #2660
Closing, feel free to reopen if that was out of line regarding process!

[2021-11-23 15:07] #2660 closed

[2021-11-23 15:08] Rylon commented on #3081
We've encountered this same issue for patched packages too, which makes it impossible to see legitimate vulnerabilities. Any suggestions for improvements here are greatly appreciated :)

[2021-11-23 15:17] noahtalerman opened #3086 "Add total host counts to "Software" tables"
## Goals

As a vulnerability analyst with a lot of hosts, I want a count of hosts for each software item to be included so I understand how many hosts are impacted by a vulnerability (CVE).

## Notes

This issue tracks...
- The task of adding total host counts to the "Software" table on the **Home** page and **Software** page.
  - Total host counts were removed from the Software table as a tempora

[2021-11-23 15:20] noahtalerman commented on #3079
I filed a separate issue for this here: https://github.com/fleetdm/fleet/issues/3086

[2021-11-23 15:41] noahtalerman commented on #3054
@lukeheath I'm assigning this issue. Can you please let me know if you have any concerns with the UI changes and prepare this issue for engineering estimation?

There should be no API wireframes needed because the exiting `GET /hosts` API route returns all software and vulnerabilities for a specific host. Thus, the "Vulnerable software" filter can be applied client side.

[2021-11-23 15:42] RachelElysia commented on #2996
I tried to reproduce but I can't. Will keep an eye out for it though.

[2021-11-23 15:49] RachelElysia opened #3087 "Settings: Manage enroll secrets"
### Goal
Settings only has the ability to see enroll secrets. UI might want to include a way to manage enroll secrets (either through a modal or help text link referencing modifying enroll secrets on the Manage Host page)

TODO

Cannot modify on Settings page, should point users to the right direction:
<img width="1165" alt="Screen Shot 2021-11-23 at 10 47 01 AM" src="https://user-images.githubuse

[2021-11-23 15:53] RachelElysia opened #3088 "Host Details Page: Update Packs table to match Figma mocks"
### Goal

This page was recently updated using tabs, but I believe the column updates were overlooked. UI should match Figma mocks

Current app:
Packs:
<img width="1658" alt="Screen Shot 2021-11-23 at 10 52 11 AM" src="https://user-images.githubusercontent.com/71795832/143057637-b1e2c422-44be-4279-b36d-2a4db852c6b7.png">
Schedule:
<img width="1672" alt="Screen Shot 2021-11-23 at 11 38 16 AM" src="

[2021-11-23 15:55] noahtalerman commented on #3079
PR including backend and frontend changes is here: https://github.com/fleetdm/fleet/pull/3082

From @chiiph:

A link to Figma with the column widths and default sort is here: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3581%3A99496

The above link has been added to this issue's description.

[2021-11-23 16:13] noahtalerman commented on #3060
@lukeheath, heads up, I think this bug was addressed in the following issue (included in the 4.6.0 release): #2962

I'm closing this issue for now because I cannot reproduce when running `fleetctl preview --tag main`. Please reopen the issue if you're still encountering the bug :)

[2021-11-23 16:13] #3060 closed

[2021-11-23 16:16] RachelElysia opened #3090 "UX: Pre-populate queries"
### Goal
www.fleetdm.com/queries has some great queries to use

Make it easier for users to add these queries to their app

TODO

- If the user is logged in, prepopulate the query page with the name, description, and SQL with a click of a link or button

### How?
Tedious UX copying queries over (especially now that the SQL must be filled in first and then name and description)

<img width="1337" a

[2021-11-23 16:17] noahtalerman commented on #3005
@gillespi314 can we close this issue now that the PR you've linked to this issue (#3021) is merged.

The following is a separate issue tracking an update to all tables in the UI to use consistent styles when resizing: #3052

[2021-11-23 16:19] gillespi314 commented on #3005
@noahtalerman, that cross-reference is incorrect. I changed it on #3021 but I don't know how to delete it from the timeline of this issue ¯\_(ツ)_/¯

[2021-11-23 16:20] noahtalerman commented on #2958
@RachelElysia is looks like this issue was moved to the "Ready for QA" column in the GitHub board for 4.6.0. Was this intended?

It's confusing that the GitHub board still exists for 4.6.0 while the ZenHub board for 4.7.0 is now in use. Zach or I will clear out the 4.6.0 board.

[2021-11-23 16:34] noahtalerman commented on #3005
@gillespi314 got it.

Can I transfer your above note to #3052 and close out this issue because it appears to be a duplicate? I could be wrong about this.

[2021-11-23 16:43] gillespi314 commented on #3005
@noahtalerman, this issue is meant to track the need to update and standardize the patterns we are using to set column widths. Currently, we have a very scattershot approach that @lukeheath and I have been working on a plan to refactor.

[2021-11-23 16:48] noahtalerman commented on #3005
This makes sense! I think the above overlaps with the goal of #3052. @gillespi314 please let me know if you disagree. If not, I'm going to close this issue and migrate our discussion to #3052.

I would like to minimize the number of locations (issues) where a similar discussion about table styles is happening.

[2021-11-23 16:54] gillespi314 commented on #3005
@lukeheath how would you like to handle this? It seems like #3052 is a design-driven ticket, while this ticket is more of an engineering/refactor ticket. We aren't changing table styles from what is in figma, just refactoring how we are writing the CSS so we can utilize more descriptive selectors and limit our use of pseudo-selectors like `nth-child` that are brittle and more difficult to maintain

[2021-11-23 17:07] zwass commented on #2660
Yep, make sense to close here. Thank you.

[2021-11-23 17:08] mikermcneil opened #3094 "Agent options quick reference"
### Goal

As a user, I want to easily access documentation for agent options when editing both (a) global agent options and (b) team-wide agent options in the Fleet UI.

### How?

- [ ] The simplest implementation of this is providing an easy to use link to the relevant agent options docs from both places in the Fleet UI
- FYI: Another improvement that could be tackled separately in the future (bu

[2021-11-23 17:21] rlynnj11 commented on #3030
![Screen Shot 2021-11-23 at 12.20.28 PM.png](https://images.zenhubusercontent.com/6185d046b420f5172737331f/0ef95222-754e-4d58-a4f1-c61375fd4d2b)

[2021-11-23 17:23] noahtalerman commented on #2825
We've heard the ability to see a breakdown of the Linux distributions (Amazon Linux, CentOS, RedHat Linux, ...) from a customer here: https://github.com/fleetdm/confidential/issues/292

Seems like this could be accomplished by filtering the aggregate software table by OS.

Got it, thanks! This is new to me. I plan to do a bit more research on this Windows use case.

[2021-11-23 17:30] rlynnj11 commented on #3061
Now hitting http://localhost:1337/403

![Screen Shot 2021-11-23 at 12.29.19 PM.png](https://images.zenhubusercontent.com/6185d046b420f5172737331f/ba5ea7a7-9f00-4a80-99ee-d2cb4dd5a023)

[2021-11-23 17:32] lukeheath commented on #3007
Closing, duplicate of #3003

[2021-11-23 17:32] #3007 closed

[2021-11-23 17:36] benatsb opened #3095 "Error: "unsupported Scan, storing driver.Value type \u003cnil\u003e into type *time.Time""
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Fleet 4.6.1 • Go go1.17.2

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): Admin

**Operating system** _(e.g. macOS 11.2.3)_:  Ubuntu 20.04.3 LTS

**Web browser** _(e.g. Chro

[2021-11-23 17:37] rlynnj11 commented on #2368
behind in migrations, simulated by removing rows at the end of migration_status_table:

[code]

[2021-11-23 17:38] lukeheath commented on #3005
@gillespi314 I think we can merge this ticket with #3052 since it is all about consistency of styling. Since our refactor work will impact column widths, I think it falls under the umbrella of consistent table styling.

@noahtalerman Would you please add to the requirements of #3052 that there is a need to standardize how sizing is applied to the table throughout the app at the CSS-level? With tha

[2021-11-23 18:00] mikermcneil opened #3096 "✨ Improve Fleetdm.com - Linearity in (some parts of) the docs"
### Goal

As a user reading the docs (at least certain areas of the docs), I would benefit from some direction as to what to read next-- maybe even what I might have wanted to read just beforehand.

Example:
![image](https://user-images.githubusercontent.com/618009/143079028-bbf2d006-c708-41c3-8ba6-cd022db593ef.png)

### How?

- [ ] Accomplishable with `<meta>` tags
- [ ] Review plan with @mikermc

[2021-11-23 18:23] chiiph commented on #2825
Interesting. In that case, we should think about how we can cover both: when distributions matter, and when they don't. Because it can be just added slowness for a lot of users when it doesn't matter.

[2021-11-23 18:29] rlynnj11 commented on #3003
https://www.loom.com/share/46d390cca5114bf7abce4973a40dc153

[2021-11-23 18:30] noahtalerman commented on #2603
From @lukeheath:

This is correct. My intention is to move the change through to estimation.

Even though the change won’t be prioritized in the very near future, I think the ticket can still move into an engineering estimation. This way, when we’re ready to make the change, the issue will be ready for engineering.

[2021-11-23 18:31] lucasmrod commented on #3095
Hi @benatsb! Thanks for the detailed report.

Did the issue happen after an upgrade from a previous `fleet` version? Or is this a deployment/installation of `4.6.1` from scratch?

[2021-11-23 18:37] RachelElysia commented on #2958
Sweet, moved it over on the 4.7 zenhub. Feel free to assign me to #3052 when it's all specked out!

[2021-11-23 18:37] benatsb commented on #3095
Hey @lucasmrod this is a fresh installation.

[2021-11-23 18:43] Zaulao opened #3098 "Host search improvement: Search hosts by username"
### Goal

This suggestion is intended to enable Fleet administrators, maintainers or observers to search for hosts through host usernames.

After fleet 4.5.0 updates, a list of system users is made available on the Host details page. It would be great to be able to enter a username in the search field and get the hosts on which that user is present in response.

### How?
**Step 1**: Insert the use

[2021-11-23 18:51] lucasmrod commented on #3095
OK, could you attach `osqueryd` logs of the Windows hosts?

[2021-11-23 18:52] lukeheath commented on #2996
I also cannot reproduce. I'll keep an eye out for it.

[2021-11-23 18:57] benatsb commented on #3095
hmmm .. Where might this be located?
I looked in "C:\Program Files\Orbit", but the "orbit-log.txt" is empty and there is nothing in "C:\Program Files\Orbit\logs".

[2021-11-23 19:12] lukeheath opened #3099 "Refine edit icon state for edit query and policy"

[2021-11-23 19:14] noahtalerman commented on #3005
Yes, the above need is now reflected in #3052.

[2021-11-23 19:14] #3005 closed

[2021-11-23 19:18] benatsb commented on #3095
I did apply a bunch of queries from https://github.com/palantir/osquery-configuration/tree/master/Fleet/Endpoints/packs if it's related to queries running.

[2021-11-23 19:22] benatsb commented on #3095
I deleted all queries and it's working now.. enabled filesystem logs and looking for one that might have been giving issues.

[2021-11-23 19:24] benatsb commented on #3095
[code]

[2021-11-23 19:26] benatsb commented on #3095
Since I imported these queries from the Palantir repo is it likely that the queries are using table/properties that don't exist in this version of osquery performing the lookups?

[2021-11-23 19:53] lucasmrod commented on #3095
OK, thanks for the extra info, good to hear you managed to solved the issue.

As for the queries/packs, this kind of issue should be visible in Fleet osquery (aka Orbit) logs, I'm opening a separate ticket to fix any issues and document how to grab such logs.

I'll leave this ticket open as we need to fix the underlying bug ("unsupported Scan..." error)

[2021-11-23 19:58] lucasmrod opened #3100 "Fleet osquery (aka Orbit) logs on Windows"
This ticket originated while trying to troubleshoot #3095.

### Goal

To help users troubleshoot any issues on the `osqueryd` side on Windows hosts we need to:
1. Enable/Configure Orbit+Osquery logging (maybe this is already happening, haven't verified yet).
2. Document how to retrieve such logs in Windows in our `docs/` or under `orbit/`.

[2021-11-23 20:12] lukeheath commented on #2996
Tomas mentioned he's seen weirdness on the frontend when resources are low on the client machine. I'm going to try throttling bandwidth & resources to see if they reproduces more issues.

[2021-11-23 22:05] chiiph commented on #3051
Here are a couple of things I tried:

https://www.loom.com/share/a92f27be07b24210b28d6b719291e15e
https://www.loom.com/share/399905b2af524e478f3bf4723ccf42dd

In the second video there's a bug that makes a surprise appearance.

[2021-11-23 23:55] lukeheath commented on #2996
After some testing I was able to reproduce by throttling my connection speed down. On load I was getting the cutoff dropdown from your screenshot, but only until the page finished loading, then it would populate.

This page was the only page not transitioned to the new `TeamsDropdown` component. It was using its own implementation, which is likely why this one was acting weird. I just put in a PR

[2021-11-24 00:27] eashaw opened #3103 "Add to Fleet handbook: headings guidelines"
### Goal

Document how headings are used on handbook and docs pages on fleetdm.com

### How?

- [x]  Add a section to the "Fleet Docs" section of the handbook with clear guidelines for how we use headings in documentation
- [x]  Document our handbook heading usage in the handbook.

[2021-11-24 14:40] noahtalerman commented on #3078
From @lukeheath:

To help inform the ZenHub evaluation process, here's a list of pain points / missing features Engineering were running into with GitHub Projects:

1. No pointing system for estimates beyond labels. Cannot sum points in a column, board, or by filters (team, assignee, etc.) without manually counting the points.
    - This makes it difficult to size sprints appropriately, or make su

[2021-11-24 15:37] noahtalerman commented on #2595
@lucasmrod in the first iteration, enforcing unique names for policies across the whole deployment makes sense to me.

Below is the primary UX goal for using the `name+team_id` for uniqueness. I will break this out into a future improvement that we may want to add later:

As a team level user (admin or maintainer), I can create a policy without having to know the names of any global policies.

For

[2021-11-24 15:50] noahtalerman commented on #2825
This is a good point. I think we can focus on only the macOS use case in the first iteration. I've updated the goal in this issue's description to reflect only the macOS use case.

[2021-11-24 17:17] noahtalerman commented on #3051
Thanks for the Loom videos @chiiph!

I will file separate issue for the bugs you encountered and link to them from this comment.

I updated the linked Figma to include loading states for when the user first navigates to the **Hosts** page or **Home** page. In addition, the linked Figma includes loading states when the user updates the filter on both of these pages.

[2021-11-24 17:31] noahtalerman commented on #3062
@lukeheath the UI changes included in this issue have been updated to use the red notification banner:
![Screen Shot 2021-11-24 at 12 29 44 PM](https://user-images.githubusercontent.com/47070608/143286862-ab19aabc-b2ed-4cc0-b56a-9fdb99bf682e.png)

This way, we can improve the error message while using the current UI for other user creation and user editing errors. One example of these errors is wh

[2021-11-24 17:55] noahtalerman commented on #3068
The expected behavior is for the backend to return an error if the user attempts to create or save a team level user that is not assigned to any team.

Because this issue describes a different expected behavior, I'm closing this issue and removing it from the release board.

[2021-11-24 17:55] #3068 closed

[2021-11-24 18:21] lukeheath commented on #430
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/430?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-11-24 18:21] lukeheath commented on #3054
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3054?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-11-24 18:32] RachelElysia opened #3110 "Policies: UX bug with adding policy to a team"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

On team

[2021-11-24 18:36] lukeheath commented on #2756
@noahtalerman Question: How should we handle it if the user unselected all checkboxes? Should we let them submit and show an error state, or disable the "Save" button if nothing is checked?

![image](https://user-images.githubusercontent.com/2495927/143295526-92a993a1-d36b-4573-8f3e-9243efb3ad9c.png)

[2021-11-24 18:39] rlynnj11 commented on #2958
Better, but there's still room for more improvement.

- host details/policies still could use some attention

![Screen Shot 2021-11-24 at 3.38.55 PM.png](https://images.zenhubusercontent.com/6185d046b420f5172737331f/2f475309-6da4-4f9e-bd11-39ca6d9a1d98)

- The other one to keep hacking at is host details/schedule

![Screen Shot 2021-11-23 at 3.57.44 PM.png](https://images.zenhubusercontent.com/618