[2022-10-28 20:13] zhumo commented on #4507
@zwass @sharvilshah It looks like the osquery schema still has this... https://github.com/osquery/osquery-site/blob/source/src/data/osquery_schema_versions/5.5.1.json (search "freebsd"). Any ideas what's going on?

[2022-10-28 20:16] michalnicp opened #8488 "Use mTLS for MDM"
### Goal

According to https://developer.apple.com/business/documentation/MDM-Protocol-Reference.pdf, devices can authenticate with the MDM server using two different methods

1. mTLS
2. Mdm-Signature header

This is controlled by setting the `SignMessage` field in the MDM enrollment profile.

Currently, Fleet uses option 2. This comes at the cost of increased request size on every request (about

[2022-10-28 20:18] #7834 closed

[2022-10-28 20:19] zhumo commented on #7834
This work will be made obsolete by https://github.com/fleetdm/fleet/issues/8438

[2022-10-28 20:19] #7405 closed

[2022-10-28 20:48] #4931 closed

[2022-10-28 21:18] michalnicp commented on #7456
It seems we are using the term "Apple Developer certificate" to refer to the Apple Push Notification service certificate. There are many different types of certificates that are used by Apple and retrieved from Apple Developer including Apple Pay, Apple Wallet, various Apple apps for iOS, Mac, etc. This could also be confused with the the Apple Developer ID certificate that is used to notarize Mac

[2022-10-29 00:48] #8094 closed

[2022-10-29 01:31] zhumo opened #8491 "Remove host from Fleet"
## Problem

TODO

## Business Case

TODO

## Analytics
TODO

## Requirements
Plain osquery
- The record for the host disappears
- If host comes back, then record comes back, becomes active again
- The only way to truly disappear a record is to rotate the enroll secret
- Fleet admin gets warning about this (and recommended to install Orbit)

Orbit + No MDM
- Orbit deletes itself, requires orbit to

[2022-10-29 02:35] DmitryTchersak commented on #8129
Hello fleet team,

Would it be possible to also include the other pages that parse json similar to https://github.com/fleetdm/fleet/pull/8287 when decoding the payload fails under this issue? It would be preferable to make the responses more generic or add a boolean flag to disable verbose errors on all api endpoints.

[2022-10-31 10:31] roperzh opened #8493 "pt-duplicate-key-checker reports 8 duplicate indexes"
**Fleet version**: 4.22.1

<hr/>

Running [pt-duplicate-key-checker](https://docs.percona.com/percona-toolkit/pt-duplicate-key-checker.html) returns the following output:

[code]

This [blog post ](https://www.percona.com/blog/2012/06/20/find-and-remove-duplicate-indexes/) describes the problem in more detail, pasting here the bullets in the summary at the top:

We should assess each item in the l

[2022-10-31 12:56] gstorme commented on #6717
Should this be resolved? Because I'm running 4.22.0 and still seeing this.
It only occurs for 1 specific CVE on a single host, but keeps reporting each hour.

[2022-10-31 13:19] noahtalerman commented on #7676
Mo (2022-10-28):

I just spoke to Zach about SCEP. Based off that conversation, I think we need some UI for it. The conclusions from Zach were:
- Apple requires SCEP for device authentication for MDM
- Until we do the cert storage stuff, we will  need to ask the user to set an env var, as we do with the ABM and APNS stuff.
- There is no need to go upload it to anywhere, we just generate the keys t

[2022-10-31 13:21] noahtalerman commented on #7765
Thanks Mike T! I added you as an assignee and added this issue to the g-marketing board.

FYI Luke and Martin are also assigned because they are working on the engineering specifications for this issue.

[2022-10-31 13:41] roperzh opened #8495 "investigate adding pt-duplicate-key-checker as part of DB CI checks"
If after evaluating https://github.com/fleetdm/fleet/issues/8493 we think the results of `pt-duplicate-key-checker` are accurate, we could run it in CI as part of our DB checks in

https://github.com/fleetdm/fleet/blob/96014148a829b358cc676ac870545fd1e27bab9f/.github/workflows/test-db-changes.yml#L1-L13

[2022-10-31 13:49] nunesvn commented on #6717
I'm on 4.22.1 and still getting 21 reports per hour.

[2022-10-31 13:51] roperzh opened #8496 "idea: run pt-deadlock-logger in load tests"
The output of `SHOW ENGINE INNODB STATUS` outputs information about the most recent deadlock, [pt-deadlock-logger](https://docs.percona.com/percona-toolkit/pt-deadlock-logger.html) is a tool that polls `SHOW ENGINE INNODB STATUS` for locks and prints them to stdout or a chosen location.

It would be nice if we could run a container with `pt-deadlock-logger` that outputs the logs to CloudWatch so w

[2022-10-31 14:18] mna opened #8497 "Add a way to debug Fleet's connection to Redis"
### Goal

We've had to investigate some issues regarding Fleet's connection with Redis, and while those are typically configuration- or network-related, it would still speed things up if there was a quick way to get some details about Redis as seen by the fleet instance.

### How?

I'd suggest adding a different `healthz` or a new `debug` endpoint, that would typically not be called, but that coul

[2022-10-31 14:26] noahtalerman commented on #8153
Great. @GuillaumeRoss we'd like Fleet Desktop to run the `sudo profiles renew --type enrollment` command for the user. This way, neither the IT admin nor the device user has to run this command to request the new DEP profile from Apple. What do you think?

[2022-10-31 14:28] noahtalerman commented on #8153
Yep! The plan is for the My device page to walk the user through these steps: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=10566%3A315998

@michalnicp about how long does the request to Apple take when running the `sudo profiles renew --type enrollment` command?

Ideally, the UI can poll this request for 5 seconds max before hearing from

[2022-10-31 14:31] noahtalerman commented on #8153
@michalnicp a different MDM solution offers a solution for upgrading the standard user to admin and then downgrading the user.

Maybe we can add an option, that is off by default, that allows Fleet Desktop to do this.

Can you please help me understand how much effort this would take?

[2022-10-31 14:49] roperzh opened #8498 "deadlocks in `host_batteries` when multiple hosts try to enroll at the same time"
**Fleet version**: 4.22.1

<hr/>

During a load test, we noticed a spike in deadlocks when multiple hosts are enrolling at the same time.

<img width="1223" alt="image" src="https://user-images.githubusercontent.com/4419992/199036309-2a496c36-f262-4bf3-b5ac-9db857e8dfe5.png">

A `pt-deadlock-logger` was connected to the database, and based on its output I can see that all of the deadlocks happen i

[2022-10-31 14:55] lukeheath opened #8499 "PoC: Improve the process of updating entities"
## Problem

As an Engineer, when updating the host entity, I have to update many separate code paths across API endpoints, services, and structures so that the update is reflected everywhere host data is used

## Business Case

What if there was some ORM-light between the database and code paths so that entities could be updated in one place and have the change reflected everywhere? This would sig

[2022-10-31 14:56] lukeheath commented on #8499
@fx5 I've created this proof of concept ticket for you to research and implement a PoC for improving the entity update process. Please populate the requirements with the steps you'd like to take. I've time-boxed this effort at a point estimate of 5. Please let me know if you feel this is inadequate.

[2022-10-31 16:15] RachelElysia commented on #8473
This is closed out with #8352

**Screenshots from Main** where I just gave the link a background color of red to make sure they were implemented everywhere:

![Image](https://user-images.githubusercontent.com/71795832/199056535-03c719da-5e5b-42c9-a416-d9f8c614af1f.png)
![Image](https://user-images.githubusercontent.com/71795832/199056531-ab573ec3-9b84-4816-bd9b-d2235c949818.png)
![Image](https://u

[2022-10-31 16:16] michalnicp commented on #8153
which MDM solution is that? perhaps I can look into it further to see how they do it

[2022-10-31 16:31] michalnicp commented on #8206
Yeah, I wouldn't try to remote the command from the queue. If it succeeds later I think that's okay. However, we should check to make sure that there won't be an issue if multiple `RemoveProfile` commands are sent. Users will likely retry if turning off MDM fails.

[2022-10-31 16:52] GuillaumeRoss commented on #8153
From a security point of view, I don't have a major hesitation against running commands like this from Desktop, since we know the threat model will change a lot when we decide to add custom script features etc.

I am not sure how much this helps from a UX point of view though, since the user needs to be admin anyway to accept the pop-up? We'd be essentially only saving one command from being paste

[2022-10-31 17:09] ghernandez345 commented on #8002
@noahtalerman i don't understand the requirements here. When you say "add the following at the end of the error message", what error message are you referring too? is this the error when trying to update the agent options fails?

Is the requirement for this issue that certain users should see an additional error message when fleet fails to update the agent options based on the version of Osquery t

[2022-10-31 18:12] noahtalerman commented on #8153
@GuillaumeRoss interesting. Standard can't navigate to **System preferences > Profiles** to accept the profile?

[2022-10-31 18:18] noahtalerman commented on #8206
From the [Apple Developer docs](https://developer.apple.com/documentation/devicemanagement/implementing_device_management/handling_notnow_status_responses):

In macOS, a device may not execute commands, but instead respond with a NotNow status during these conditions:
- The device is running on battery power in Power Nap and the server sends any command other than DeleteUserCommand, DeviceLockComm

[2022-10-31 18:19] noahtalerman commented on #8206
@michalnicp agreed.

Yes, agreed.

[2022-10-31 18:32] noahtalerman opened #8504 "On Host details and Dashboard pages, improve navigation experience"
### Goals

As a user viewing the **Software** table on the **Host details** page, when I select **View all hosts** or select a software item I want to be able to navigate back to the **Software** table on the Host details page.

As a user viewing the **Policies** table on the **Host details** page, when I select **View all hosts** I want to be able to navigate back to the **Policies** table on the

[2022-10-31 18:40] noahtalerman opened #8506 "On Usage statistics page, remove "Preview payload" button"
### Goal

Remove the Preview payload button so that the Fleet team does not have to maintain this area of the application.

The example payload is already present and maintained in the docs: https://fleetdm.com/docs/using-fleet/usage-statistics#what-is-included-in-usage-statistics-in-fleet

[2022-10-31 18:41] noahtalerman commented on #8402
This was prioritized during product office hours on 2022-10-27. Here's the GitHub issue: https://github.com/fleetdm/fleet/issues/8504

[2022-10-31 18:54] noahtalerman commented on #8002
@ghernandez345 I'm referring to any error message displayed if validation fails.

Currently the backend validates agent options for unknown keys and invalid value types _based on the latest osquery_.

These are the error messages when validation fails. If the agent options update fails for a different reason, the `If you’re not using the latest osquery, use the fleetctl apply --force command to ov

[2022-10-31 18:58] mna commented on #8002
That's correct, it will return a status 400 Bad Request with the unknown key or invalid value type error. It cannot know if the payload would be valid for older osquery versions, it only validates based on what the latest osquery version (at the time of the fleet release) accepts.

[2022-10-31 20:13] michalnicp opened #8509 "Invalid usage statistics sent by fleet"
**Fleet version**: a5ba469e410ec0204e655565fd31157eb9f4f146

**Operating system**:

**Web browser**:

<hr/>

### 🧑‍💻  Expected behavior

Fleet does not log errors on sending usage statistics, even when there are no hosts enrolled yet.

### 💥  Actual behavior

The following error is logged by fleet when starting.

[code]

### More info

[2022-10-31 21:40] chris-mcgillicuddy commented on #7336
@mike-j-thomas, looks good to me!

[2022-11-01 01:10] zwass commented on #7456
@zhumo @noahtalerman I'm working on breaking this up for development and seeing some inconsistencies.

1. In Step 1, the copy indicates that the keys will be sent by email. Only the signed CSR should be sent by email, and the keys should be given directly to the user upon running this command (the keys should never leave the control of the user and their systems).

2. In Step 1, the notes indicate

[2022-11-01 01:44] zwass commented on #7515
@noahtalerman Good question. Fleet only ends up needing a token, but a key is needed to decrypt the token that Apple provides.

I think this is probably best achieved with a workflow like:

1. User runs `fleetctl generate apple-bm-key` (this generates a certificate and key)
2. User uploads certificate to ABM and downloads encrypted token (p7m) from ABM.
3. User runs `fleectl generate apple-bm-toke

[2022-11-01 08:35] mike-j-thomas commented on #7765
Hey @noahtalerman, it might be helpful if we could grab some time together to review the empty state. I have questions.

I've used our default messaging, but I've hidden the helper text about what a query is behind a tooltip. I'm also unsure how the messaging changes as the users filter through the platforms. The message should probably switch to be platform-specific and maybe not include the link

[2022-11-01 09:18] jcgruenhage opened #8515 "GitLab as a Ticket destination"
### Goal

We're using GitLab for mostly everything, and having it available integrated into fleet would make our lives a bit easier.

[2022-11-01 13:53] mna commented on #3906
@noahtalerman Just want to confirm that the linux query should really only run on platforms reported as "ubuntu" (and not any ubuntu-like distros, such as "pop", or on all "linux")?

Not urgent/blocker, that's a tiny change if needed and I'll make it target only "ubuntu" for now.

[2022-11-01 13:55] noahtalerman commented on #6799
Mike T: I think the [filter and serach] controls should be hidden on the empty state, since there's nothing to search or filter. What do you think?

Same applies for the disabled state.

I updated these screens and added them to the "spiffy" section below. Feel free to swap them, or delete as you see fit: [https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratc

[2022-11-01 14:01] noahtalerman commented on #6799
@mike-j-thomas this makes sense to me. I updated the following Figma page and archived your spiffier page: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=8097%3A282258

@ghernandez345 FYI the Figma wireframes for this issue are updated so that search and filter controls are not displayed in the empty and disabled state.

[2022-11-01 14:05] noahtalerman commented on #3906
@mna the goal is to show the "On" state for as many Linux distros as possible. Up to you on how to accomplish this.

I'm not sure which Linux distros will return `true` for the query.

That being said, I think it makes sense to run the query on all Linux distros. This way, the UI displays "On" for as many Linux distros as possible.

[2022-11-01 14:07] mna commented on #3906
@noahtalerman Thanks, looks like osquery might not understand specific distros anyway (see "The platform key can be" section here: https://osquery.readthedocs.io/en/stable/deployment/configuration/#schedule), so I'll go with "linux".

[2022-11-01 14:28] noahtalerman opened #8519 "FileVault: See disk encryption key"
## Problem

IT admins use the [FileVault (disk encryption) feature](https://support.apple.com/en-us/HT204837) to require that macOS hosts use a password to unlock the disk.

If a contributor leaves an organization, the IT admin may need to see the data on the host. However, the IT admin doesn't have access to the contributor's password.

Currently, IT admins use their MDM solution to retrieve the

[2022-11-01 14:33] GuillaumeRoss commented on #3906
Yeah...osquery won't understand it. The problem is different Linux distros implement disk encryption differently so it's hard to come up with a single query that'll work for all.

[2022-11-01 14:44] noahtalerman commented on #8519
Is it possible to retrieve the FileVault recovery key via osquery?

Discussion is here in Slack (internal): https://fleetdm.slack.com/archives/C03B7K2MSNS/p1667313678928669

[2022-11-01 15:19] noahtalerman opened #8521 "Vanta integration - MVP"
## Problem

Vanta customers that want to meet the requirements for a compliance framework (ex. [SOC 2](https://www.vanta.com/products/soc-2), HIPA, and ISO 27001) need to retrieve data about their devices using an agent of some kind.

To do this, Vanta customers must either use the [Vanta agent](https://help.vanta.com/hc/en-us/articles/360060881051-Getting-Started-with-the-Vanta-Agent) or a device

[2022-11-01 15:29] noahtalerman commented on #8360
Zach: If we're headed towards 1 team to many profiles, this will impact the implementation of the data model.

[2022-11-01 16:57] zhumo commented on #8135
Closing because our customer accomplished it.

[2022-11-01 16:57] #8135 closed

[2022-11-01 17:08] noahtalerman commented on #7515
TODO @noahtalerman:
- Update the help text to indicate what kind of files you get from Fleet. We think it's a `.p7m`
- The user should receive the certificate and key

[2022-11-01 17:21] xpkoala commented on #8210
Sorry for the delay here. https://www.loom.com/share/f802f7b7a8bf418a83f3488517964ddb

I will note there is one anomaly that I am investigating where Zay appears to not be reporting on a single policy. However this seems outside of what you are describing where toggling the yes/no filter has been showing inaccurate results. @mikermcneil

[2022-11-01 17:26] xpkoala commented on #8289
I'm going to close this out for now. Please feel free to re-open if we can assist with any issues you are experiencing with the FleetDM application.

[2022-11-01 17:26] #8289 closed

[2022-11-01 18:07] RachelElysia commented on #6079
Other Keyboard issues:

Create a new query
 -  get stuck in query editor, no way out
 - Potential solutions
  - escape
  - command enter
  - tab to escape local fix only (so it's not affecting agent options/yaml or other code editors)

[2022-11-01 18:08] RachelElysia commented on #6079
@noahtalerman This landed on my plate and so I paired up with @xpkoala -- he was suggesting that it's unintuitive to progress to run query if the user doesn't know where they're at in the form which is related to this deprioritized ticket: https://github.com/fleetdm/fleet/issues/7795

Suggestions?

[2022-11-01 19:23] zhumo opened #8527 "Research potential scaling improvements on new host features"
Follow up from https://github.com/fleetdm/fleet/issues/7993.

[2022-11-01 20:17] mna commented on #3906
@lukeheath @RachelElysia I added the `disk_encryption_enabled` field to the response payload of `GET /hosts/{id}` (and `GET /device/{token}` as they share a common implementation). As per the spec and the figma, I believe this is the only place where we need this new information for now, so I did not add it to e.g. the list hosts endpoint to avoid bloating the response payloads unnecessarily. Let

[2022-11-01 20:38] noahtalerman commented on #7456
@zhumo @zwass @michalnicp below are the decisions/changes we discussed during today's "Connect to Apple Developer" call on 2022-11-01.

The commands and help text specified in this issue's descriptions are updated.

Decided to only send the signed CSR via email. APNs key, SCEP certificate, and SCEP key are generated in the current working directory.

I also updated the specs to indicate that exist

[2022-11-01 20:45] noahtalerman commented on #7676
@zhumo heads up, the decisions made in the "Connect to Apple Developer" call impact the Fleet UI for MDM setup.

This is a link to a GitHub comment that documents the decisions: https://github.com/fleetdm/fleet/issues/7456#issuecomment-1299109592

The changes to the Fleet UI are below
- Change "Apple Developer to "Apple Push Certificate Portal"
- Change request functionality from emailing all mate

[2022-11-01 20:58] lukeheath commented on #6079
@RachelElysia Thank you both for your diligence in digging into this!

@noahtalerman Please take a look at the loom above. The product issue pointed out is that even if we make the "edit query" screen proceed with cmd+enter, the following "select targets" screen is not optimized for keyboard navigation and requires mouse interaction. So, if the goal is to be able to run the query without touching

[2022-11-01 20:59] #7336 closed

[2022-11-01 21:08] noahtalerman commented on #7515
@zwass is this workflow missing a "User configures Fleet with key" step?

I prefer this option. This way, we remove the separate command and the expected steps for configuring Apple Business Manager are the same as configuring TLS.

[2022-11-01 21:09] RachelElysia commented on #8388
Can someone chime in?

Doing a quick Figma search for settings pages, I see discrepancies in widths of the agent option page vs other pages on Figma. But this style guide is saying to make them the same?

Agent options page is very wide on Figma:

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=8790%3A292193

Compared to other app settings

[2022-11-01 21:27] noahtalerman commented on #7515
@zwass I assigned you this issue. Can you please take a look at the specs to see if this is ready for engineering?

FYI I made these changes to the specs following our decisions in "Connect to Apple Developer" call on 2022-11-01:
-  Existing keys are overwritten when the user runs the command to generate new keys again.
- Update the help text so that it doesn't seem like we expect the server to (a

[2022-11-01 21:40] xpkoala opened #8530 "Ability to spin up Sandbox instance at a specified version."
### Goal

Improve the ability to quickly test new changes pushed to `main` on Sandbox instances while reducing the amount of manual actions required by the engineering team.

The current workflow for testing new changes in a Sandbox environment are such:
- QA / Eng creates a Sandbox instance via https://fleetdm.com/try-fleet/register.
- QA / Eng ask Zach or Robert to upgrade the created instance t

[2022-11-01 21:49] xpkoala opened #8531 "Improve Release handbook to include Sandbox testing and release"
### 🧑‍💻 TODO

- [ ] Improve documentation for QA Release process notifying DRI for Sandbox to switch Sandbox generation versioning to the latest release.
- [ ] Add Sandbox testing to Smoke Test template.

[2022-11-01 22:36] zhumo commented on #7456
@noahtalerman LGTM

[2022-11-01 22:40] zhumo commented on #7534
Given potential for thundering herd issue, I think we should decline this change. @chiiph @gillespi314

[2022-11-01 22:40] #7534 closed

[2022-11-01 22:41] zhumo commented on #8369
Declining due to: https://github.com/fleetdm/fleet/issues/7534#issuecomment-1299317465

[2022-11-01 22:41] #8369 closed

[2022-11-01 23:11] zhumo commented on #6717
@gstorme @nunesvn thanks for letting us know. I think someone will be in touch for more details about what you're seeing. I'll re-open this.

[2022-11-02 00:17] mike-j-thomas commented on #8406
Cheers, @zhumo. I've assigned this to @eashaw.

[2022-11-02 00:20] zhumo opened #8533 "Native fleetctl on Apple Silicon"
## Problem

Users need to use Rosetta in order to run fleetctl on apple silicon macs. Rosetta has various memory and CPU costs.

## Business Case

Fleet should continue to be developer first and support the latest technologies.

## Analytics
NA

## Requirements

1. I should be able to compile and run fleetctl on my apple silicon mac w/o rosetta

## Design
### UI

TODO

### API

TODO

### CLI

TODO

[2022-11-02 12:46] mna commented on #8454
For context, this came from this PR and comment: https://github.com/fleetdm/fleet/pull/8346#discussion_r1005696809

[2022-11-02 13:51] noahtalerman commented on #6079
@lukeheath This makes sense to me. Can you please remove the issue from the release board?

The goal is to be able to run the query without touching the mouse. This goal is not a high enough priority to spend 2-3 days on (5-8 points).

I agree.

[2022-11-02 13:52] noahtalerman commented on #6079
@RachelElysia @xpkoala thank you for digging into this!

[2022-11-02 14:15] noahtalerman opened #8537 "Accept new terms for Apple Business Manager"
## Problem

Users need to know when to accept new terms and conditions for Apple Business Manager. Users won't be able to automatically enroll new macOS hosts until they accept the terms

## Business Case

Fleet should guide the user on how to be successful with automatic enrollment.

## Related

Parent epic:
- #7676

## Requirements

1. Fleet Premium only because Apple Business Manager features i

[2022-11-02 14:16] noahtalerman commented on #8537
Should we always display this banner and make it not dismissible?

For folks with Fleet connected to Apple Business Manager, not being able to enroll devices seems like an issue that warrants a loud, non dismissible banner.

I think this would also allow use to reuse the Fleet Sandbox expiration UI:
![Screen Shot 2022-11-02 at 10 08 45 AM](https://user-images.githubusercontent.com/47070608/1995127

[2022-11-02 14:28] lukeheath commented on #6079
@noahtalerman Sounds good.

@RachelElysia We are deprioritizing this issue for now.

[2022-11-02 14:38] RachelElysia commented on #8002
Grabbing from @ghernandez345 since he's oncall and I have bandwidth

[2022-11-02 14:57] noahtalerman commented on #7958
@zwass I'm unassigning you. I want to take this issue back to design/drafting.

Michal helped Mo and I understand the backend and UX complexities of including "pending" hosts (waiting to be unboxed) in the same list as hosts that are already enrolled to Fleet.

The Fleet backend would have to handle ingesting data from osquery for most hosts (already enrolled) and data from Apple Business Manager

[2022-11-02 15:20] noahtalerman opened #8539 "Windows servers should not be included in MDM information"
This is a requirement for releasing the Add ability to see MDM information for Windows hosts feature: #6530

**Fleet version**: Latest code on `main`

<hr/>

### 🧑‍💻  Expected behavior

On the **Dashboard** page, I expect to only see Windows workstations included in the MDM information.

### 💥  Actual behavior

I expect see Windows workstations and Windows servers included in the MDM information.

[2022-11-02 15:27] noahtalerman commented on #8537
More information and screenshots are in this Slack thread (internal): https://fleetdm.slack.com/archives/C03PK8PJDDE/p1667327996779609

[2022-11-02 16:13] michalnicp opened #8541 "Improve linux OS detection"
### Goal

Our current method for detecting whether a host is linux, macos, or windows is crude and relies on maintaining a list of linux distros. As seen in the following issues #8433, #8534, #6760 we obviously don't have a complete list.

We should come up with a better approach that is future proof doesn't rely on a manually maintained list.

### How?

- Add a new field to hosts eg `os_type` tha

[2022-11-02 16:29] zhumo commented on #8537
@noahtalerman Yes I think always keep it around until we find out that it is resolved.

[2022-11-02 17:03] noahtalerman commented on #7765
Mo:

We are declining to go forward with the query + packs as currently spec’d. Instead, we’re going to break this issue down into smaller problems to be solved separately, with the hopes that that approach would generate a series of smaller iterative changes. In priority order (but needs to be prioritized against other priorities):

1. “Activation”: How can we get new customers to quickly get run

[2022-11-02 17:32] lukeheath commented on #8451
I am closing this issue because we will defer working on this feature for now. When we revisit, there will be different requirements.

[2022-11-02 17:32] #8451 closed

[2022-11-02 17:33] lukeheath commented on #8452
I am closing this issue because we will defer working on this feature for now. When we revisit, there will be different requirements.

[2022-11-02 17:33] #8452 closed

[2022-11-02 17:33] lukeheath commented on #8450
I am closing this issue because we will defer working on this feature for now. When we revisit, there will be different requirements.

[2022-11-02 17:33] #8450 closed

[2022-11-02 17:48] noahtalerman commented on #8401
I added the bug label because currently the user clicks the link and sees an unexpected filter.

@RachelElysia this was a great catch. Apologies for not giving this issue the urgency it deserved. This is my mistake.

[2022-11-02 17:48] noahtalerman commented on #8401
@lukeheath this approach makes sense to me.

I think the **Hosts** page UI will still need to be updated to support two filter "pills." The following Figma illustrates what this would look like: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=10686%3A316208

Do you know how much effort will it take to make this change on the frontend?

[2022-11-02 18:06] #8007 closed

[2022-11-02 18:19] noahtalerman commented on #7676
cc @mikermcneil ^

[2022-11-02 18:52] lukeheath commented on #3906
@mna Got it. Thanks for the update!

[2022-11-02 19:42] RachelElysia commented on #8344
Moving this to Ready for QA and will work on unit tests during Freeze since we have some feature work to finish in the meantime

[2022-11-02 19:48] lukeheath commented on #8401
@noahtalerman

Correct, we'll need to update the UI in addition to the labels endpoint.

I don't expect it to be difficult, probably a 2-point issue. I'll spin out a separate front-end bug.

[2022-11-02 19:56] lukeheath opened #8546 "Unable to filter hosts by platform and low disk space"
### Current behavior

On the **Dashboard** page with macOS selected, when I click on **Low disk space**, I see a list of all hosts (all platforms) with low disk space.

### Expected behavior

As a user on the **Dashboard** page with the **macOS** platform selected, when I click on **Low disk space**, I want to see a list of macOS hosts with low disk space.

### Related
- #8401

### Design

https:/

[2022-11-02 21:24] zhumo opened #8547 "Trigger cron jobs on-demand in fleetctl"

[2022-11-02 23:10] chris-mcgillicuddy commented on #8354
Article has been published.

https://fleetdm.com/securing/how-fleet-helps-federal-agencies-meet-cisa-bod-23-01

[2022-11-02 23:10] #8354 closed

[2022-11-02 23:23] chris-mcgillicuddy opened #8550 "Article: How Fleet helps implement self-remediation"
## Goal

Educate readers about what self-remediation is, how Fleet Desktop helps, and how users can take steps to implement it.

## How

- [ ] Draft blog building on content from [Fleet Desktop announcement](https://fleetdm.com/announcements/fleet-desktop-says-hello-world)
- [ ] Get feedback from Mo and make any revisions
- [ ] Request image from Mike T.
- [ ] Create and merge PR

[2022-11-03 00:56] mike-j-thomas opened #8551 "Fleet UI: style bug on hover state for enroll secret input"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
Dogfood

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Expected hover state of the input to remain when interacting with the clipboard and show/hide password controls.

### 💥  Actual behavior

https://user-images.githubuserco

[2022-11-03 01:42] xpkoala opened #8552 "Align filter and OS icons on filter hosts drop down"
**Fleet version**: `main`

**Operating system**: macOS 13.1

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior
The Filter icon and OS icons would be aligned.

### 💥  Actual behavior
Icons are currently mis-aligned.

### More info
<img width="368" alt="image" src="https://user-images.githubusercontent.com/11012743/199633290-3f8cf1b3-f8bc-4bfe-8655-d9ff6b22607d.png">

[2022-11-03 09:28] jcgruenhage commented on #8541
`build_platform` doesn't really work when cross compiling for a different platform though, right? It'll contain the wrong platform in those cases.

Maybe it would make sense to make platforms more configurable, so that users could also add their own platforms (what about BSDs for example?), and for each platform we could have a query that determines whether something matches this platform (for the

[2022-11-03 10:34] jcgruenhage commented on #8541
Also, considering this is a bigger discussion and might take a while: I hope this doesn't block the tiny MR that is #8534? Because I'd like to see that in the next release, as we're preparing to use fleet at work, and without it being able to detect the right platform, the main feature we want to use (policies) isn't available for the devs that might use exotic distros on their work laptops.

[2022-11-03 14:52] noahtalerman commented on #7765
@zhumo @mikermcneil FYI I'm deprioritizing this issue for now. I removed it from the roadmap board.

[2022-11-03 14:57] RachelElysia commented on #8226
@lukeheath Moving this onto the release board since it's so closely related with #7440, I'm knocking it out in 1 PR.

[2022-11-03 14:58] noahtalerman commented on #7765
@mike-j-thomas heads up, we deprioritized this issue.

However, I think we should keep your awesome empty state 🔥 Soon, we can add this empty state to the existing **Queries** page.

Can you please move the empty state screens to a spiffier Figma page?

I don't think the messaging needs to change when the platform filter is active. If we want to have platform specific messaging, like "create a que

[2022-11-03 15:01] noahtalerman commented on #7175
@mikermcneil FYI

UPDATE: The "Combine schedule and query features" issue was deprioritized: #7765

I moved these documentation items that are blocked by this^ feature to the following issue: #7765

[2022-11-03 15:02] #7175 closed

[2022-11-03 15:15] roperzh opened #8555 "server runs out of free connections in the MySQL connection pool"
**Fleet version**: 4.22.1

During load testing, we noticed that around 80k hosts using this [infrastructure setup](https://github.com/fleetdm/fleet/tree/main/infrastructure/loadtesting/terraform) the server stopped responding and eventually most of the requests timed out.

All timed out requests logged "context canceled" errors while waiting to get a connection from the pool. However:

1. CPU usag

[2022-11-03 15:31] lukeheath commented on #8552
@RachelElysia I think this was fixed with your work with Gabe yesterday. Would you please confirm?

[2022-11-03 15:39] RachelElysia commented on #8552
@lukeheath one would think. >.< These icons are built using css ::before and not with the new pattern. I'll put this on my plate.

[2022-11-03 15:59] lukeheath opened #8556 "Installing Fleet Desktop agent over existing installation does not work"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

If I already have Fleet Desktop running for an old Fleet instance and I run `fleet-osquery.pkg` for a new Fleet instance, I expect the old agent to be removed

[2022-11-03 16:01] RachelElysia opened #8557 "MDM data and Munki data are under `/macadmins` endpoint, do we want to surface this endpoint to a device user?"

[2022-11-03 16:01] #8557 closed

[2022-11-03 16:21] xpkoala commented on #8221
This is still being investigated. I have done some preliminary testing with ~40k hosts and I did not encounter any issues with the host target picker. I ran into difficulties scaling up the instance which appears to be related to https://github.com/fleetdm/fleet/issues/8555 I'll poke this again once this fix is in place.

[2022-11-03 16:42] lukeheath opened #8558 "Add command line flag to `osquery-perf` to set host template types"
### Goal

I am setting up a testing environment for a vendor that requires all host types (mac, windows, and linux.) Currently, `osquery-perf` defaults to only running mac hosts. Enabling other types of hosts requires uncommenting an array at line 1172 of `agent.go`:

[code]

I want a command line flag that allows me to enable all host types so that I can configure this option during deploy. It wo

[2022-11-03 16:43] lukeheath commented on #8558
@chiiph Do you see any problem with implementing this feature? I'm happy to handle it on the interface side, or can assign over to you if you'd like platform to take care of it.

cc @roperzh

[2022-11-03 16:51] chiiph commented on #8558
Sounds good to me. Go for it! :)

[2022-11-03 16:55] RachelElysia commented on #7147
Merged in Sept 23

[2022-11-03 16:55] #7147 closed

[2022-11-03 16:56] RachelElysia commented on #7796
Closing since this is already released @lukeheath

[2022-11-03 16:56] #7796 closed

[2022-11-03 17:11] xpkoala opened #8559 "Investigate what happens to Fleet if we disable tables that Fleet polls for information"
### 🧑‍💻  Expected behavior
Disabling tables that Fleet polls for information should not break Fleet

### 💥  Actual behavior
Unsure, investigate if anything nefarious happens.

### More info
Spawned from https://github.com/fleetdm/fleet/issues/5805

[2022-11-03 17:16] lukeheath opened #8560 "Manage enroll secret modal is hiding delete icon"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

I expect to see a delete icon as I see on dogfood:

![image](https://user-images.githubusercontent.com/2495927/199789712-c03325cb-6d0c-4254-a77c-bc8b84499475.

[2022-11-03 17:18] lukeheath commented on #8560
The enroll secret text field has a fixed width that needs to be thinner. That will probably look better anyway since there's currently an empty gap.

[2022-11-03 17:29] xpkoala commented on #8555
@roperzh Is this something that would affect users on 4.21.1 or is this contained to just the load test environment?

[2022-11-03 17:49] noahtalerman commented on #7958
@zwass @michalnicp @zhumo I prefer to include the "pending" hosts (DEP and waiting to be unboxed) in the same list as hosts that are already enrolled to Fleet.

Reasoning:
- We'd like the user to be able to use transfer pending hosts to a team the same way they transfer all other hosts. Either via the **Hosts** table in the UI or the [`POST /hosts/transfer` API route](POST /api/v1/fleet/hosts/tran

[2022-11-03 17:51] zhumo commented on #8533
Hey @noahtalerman @lukeheath I learned that this is interface work rather than platform work, so I moved it to the interface board. Not high priority, can fit this in when there's space.

[2022-11-03 17:53] zhumo commented on #8530
Hey @xpkoala, could you find some time with Tomas and myself to go over what you're trying to do here?

[2022-11-03 17:55] xpkoala commented on #8530
@zhumo Just added some time Tuesday to go over this.

[2022-11-03 18:02] zwinnerman-fleetdm opened #8562 "Two phase decommission sandbox instances"
## Problem

Sandbox instances should preserve for a time after expiration. This implies a 2 phase decomission process where we first turn off access, then fully decomission the instance.

## Business Case

TODO

## Analytics
TODO

## Requirements

TODO
1.
2.
3.

- **Documentation** Do you want a guide written about this?
- **Analytics** How are we going to measure usage and success?
- **QA** Any s

[2022-11-03 18:03] roperzh commented on #8555
Yes, it would affect users but only in certain scenarios (depending on their infrastructure, and how many hosts are checking in at the same time).

[2022-11-03 18:08] zhumo commented on #8413
Declining this in favor of setting up Snowflake external source for dogfood, then generating reports based off of that (as a starting point)

[2022-11-03 18:08] #8413 closed

[2022-11-03 18:23] #6020 closed

[2022-11-03 18:31] zwinnerman-fleetdm opened #8563 "Terraform customer consumable modules"
## Problem

Currently customers use dogfood for their internal deployments. The issue is that we use dogfood for internal testing, and this can easily cause issues with customer deployments. We should separate internal code from customer consumable code.

## Business Case

Better customer experience through more defined interfaces that better communicate changes.

## Analytics
TODO

## Requirement

[2022-11-03 18:39] noahtalerman commented on #8519
@zwass I assigned you this issue. Can you please create the child issues for this epic?

Please let me know if you have any thoughts/concerns about the plan for this feature.

cc @michalnicp

[2022-11-03 18:49] zhumo opened #8564 "Enable graphs and data analysis for dogfood's scheduled queries"
## Problem

Nearly all of our customers and many of our community users integrate Fleet with a third party data storage solution and ship scheduled queries to them. Currently, in Dogfood, we do not do this. It means that we are missing a key part of our user experience. We should experience the pain of building reports and graphics with these tools.

When we are trying to introduce Fleet to others

[2022-11-03 19:07] lukeheath opened #8566 "Expand `osquery-perf` to provide functional windows and linux hosts to populate a testing environment"
## Problem

We do not currently have dedicated testing environments that vendors can access for QA purposes. Using our load-testing deployment process, we can quickly spin up new environments with Mac hosts using `osquery-perf`. However, `osquery-perf` does not currently support Windows or Linux hosts, so the testing environment cannot be used for functionality specific to those operating systems.

[2022-11-03 19:58] noahtalerman commented on #8519
cc @GuillaumeRoss

[2022-11-03 20:32] zwinnerman-fleetdm opened #8569 "Two phase decommission sandbox instances"
## Problem

this allows for expired instances to be extended for a period.

## Business Case

TODO

## Analytics
TODO

## Requirements

TODO
1.
2.
3.

- **Documentation** Do you want a guide written about this?
- **Analytics** How are we going to measure usage and success?
- **QA** Any special QA notes?
- **Other depts.** Should other Fleet departments such as marketing, sales, CX be informed afte

[2022-11-03 20:33] zwinnerman-fleetdm commented on #8562
Will also need an api for listing instances

[2022-11-03 20:43] zhumo opened #8570 "Guide on how to use geoip feature."
https://fleetdm.com/docs/deploying/configuration#geo-ip

^ The documentation on it is quite dry.

Guide should cover:
- When would I use this?
- what is this?
- What is it doing under the hood?
- Is it creepy/invasive?
- What's best practice using this so that I respect my users?
- How do I set it up? (database_path setting is somewhat confusing)

[2022-11-03 20:48] zhumo opened #8571 "`curl` table should include ability to add request body."
## Problem
The `curl` table in osquery does not support request body. This makes a lot of POST and PUT/PATCH requests not doable. The curl table should include that.

## Business Case

If we have a curl table, then being able to use a request body is expected. You can even set the method already. For a user who needs the curl table, but then gets blocked here, this is a very disappointing experien

[2022-11-03 20:52] noahtalerman commented on #8519
@mike-j-thomas I moved the action buttons on the **Host details** page (Transfer, Query, and Delete) into an **Actions** dropdown. This way, as we add more actions, the page stays compatible with smaller screen widths. What do you think?

Before:
![Screen Shot 2022-11-03 at 4 52 08 PM](https://user-images.githubusercontent.com/47070608/199831611-07569201-9760-4cb0-b1be-bde99ef9d552.png)

After:
![

[2022-11-03 21:15] noahtalerman opened #8572 "How is Fleet Sandbox doing?"
### Problem

We'd like users that try Fleet using Fleet Sandbox to talk to the sales team at Fleet. This is the next step to using/buying Fleet.

We currently don't have a great understanding if Fleet Sandbox is doing this successfully.

If we can understand how Fleet Sandbox is doing, and why, we can prioritize the right improvements.

### Goal

Answer: Is Fleet Sandbox successfully driving users

[2022-11-03 21:16] noahtalerman commented on #8572
@zhumo FYI this issue tracks the "How is sandbox doing?" project.

[2022-11-03 21:17] zhumo commented on #8572
Thanks Noah! I think it's hinted at in the description, but I think one additional goal should be to use the data to help identify where any drop-off is happening so that we can zero in on a failure point.

[2022-11-03 21:32] zhumo opened #8573 "Allow `fleetctl` to export query results in csv format"
## Problem

Currently, fleetctl generates query results data in tabular or json format. However, the true standard data format for tabular data is csv. Users need CSV data to ship the results to stkeholders who are then analyzing the figures. Currently, our users need to pipe the json data to a json to csv conversation tool, which may not always work.

## Business Case

This is a quality-of-life i

[2022-11-03 22:38] zhumo commented on #7958
@noahtalerman

Which door is faster for us to walk through? Which door is more costly for us to walk through now vs. later? I think that's my key factors: optionality and speed.

Re: some of the bullets...

This can still happen but in a separate table right? I suppose this means we would need a separate API route and that's the problem?

How will I tell what are the ones that need my attention? I

[2022-11-03 22:55] zhumo opened #8577 "Measure first commit to merge for each pull request, rather than open to merge."
### Goal

Update the PR metric to be first commit to merge, rather than open to merge. This is because we want to measure how long it took the dev to work on the feature rather than just the PR open time which measures responsiveness. We want to get a sense of full dev cycle time

### How?

- [ ]

[2022-11-04 00:20] zhumo opened #8578 "Vanta Integration - MVP"
## Problem

Vanta customers that want to meet the requirements for a compliance framework (ex. [SOC 2](https://www.vanta.com/products/soc-2), HIPA, and ISO 27001) need to retrieve data about their devices using an agent of some kind.

To do this, Vanta customers must either use the [Vanta agent](https://help.vanta.com/hc/en-us/articles/360060881051-Getting-Started-with-the-Vanta-Agent) or a device

[2022-11-04 00:29] zhumo opened #8579 "Vanta Integration - Full"
## Problem

Vanta customers that want to meet the requirements for a compliance framework (ex. [SOC 2](https://www.vanta.com/products/soc-2), HIPA, and ISO 27001) need to retrieve data about their devices using an agent of some kind.

To do this, Vanta customers must either use the [Vanta agent](https://help.vanta.com/hc/en-us/articles/360060881051-Getting-Started-with-the-Vanta-Agent) or a device

[2022-11-04 09:10] jcgruenhage commented on #8541
Another thing I noticed: If I filter by platform on the hosts tab, I do already see the Void machines under the Linux platform, which makes it relatively confusing for users why the policies for a Linux host aren't evaluated against these hosts, when they show up under hosts when filtering for Linux.

[2022-11-04 13:30] RachelElysia commented on #7209
<img width="1422" alt="Screen Shot 2022-11-04 at 9 26 21 AM" src="https://user-images.githubusercontent.com/71795832/199984076-124ab20a-6833-443f-8ff9-4d06f2990bbc.png">

This is the behavior if the software doesn't exist. I had a bunch of fake hosts I deleted, software inventory wasn't updated yet, I clicked a software that was on hosts I deleted only, and got this spinning page of doom.

[2022-11-04 14:24] lukeheath commented on #8499
@fx5 I've brought this into the roadmap board for consideration in the next release cycle. Since you will be on-call during the next cycle, this may be something you're interested in working on with your on-call time.

[2022-11-04 14:26] lukeheath commented on #8504
@ghernandez345 assigning to you for specs.

[2022-11-04 14:28] lukeheath commented on #8188
@mna I am removing this from the roadmap board because we are deferring v5 for now.

[2022-11-04 15:23] lukeheath commented on #6803
@zhumo Any chance we could get this implemented? Our current CSS/JS bundle is being delivered at 3MB and gzipping would improve that a lot. I think enabling gzipping is pretty straightforward for the infrastructure team.

[2022-11-04 15:24] zhumo commented on #6803
@lukeheath Thanks for the ping. I'll put this on the platform prioritization meeting. We'll get it in the queue, not sure where it falls on the priority though.

[2022-11-04 15:26] noahtalerman commented on #7958
Makes sense!

Ok, I'm thinking about these 4 doors (options):
1. 2 new API routes (`GET /dep_hosts`, and `POST /dep_hosts/transfer`) and 1 new table (DEP hosts)
2. 2 new API routes and existing table (Hosts)
3. Existing API routes (`GET /hosts` and `POST /hosts/transfer`) and 1 new table
4. Existing API routes and existing table

My understanding is that option (1) is fast. I think this is because

[2022-11-04 15:38] lukeheath commented on #8266
Moving issue off roadmap board because v5 has been deferred.

[2022-11-04 15:50] noahtalerman commented on #8572
Makes sense! I added this to the issue description.

[2022-11-04 16:07] RachelElysia commented on #7902
cc: @lukeheath

Added :good first issue label

Reasoning:
- Component already exists that is used across host details page and manage host page
- Adds one more returned value (platform) from host API to Component
- Add js logic to check if platform is Linux to remove the color logic and tooltip

[2022-11-04 16:10] RachelElysia commented on #8506
cc: @lukeheath

Added :good first issue label

This is probably one of the best first issues.

[2022-11-04 16:35] noahtalerman commented on #7958
Luke: Will the API and UI still work when we have these Apple Business Manager hosts (don't have most pieces of information) ?

[2022-11-04 17:13] chiiph commented on #8541
Hi @jcgruenhage, really sorry this is causing you issues, we are having a conversation internally to come up with a strategy for cases like this since sadly it's not always as simple as adding a string to a slice. In particular for void, I'm not sure software inventory would work as it is right now, for instance.

As soon as we define the strategy we'll take, we'll update this issue.

[2022-11-04 17:20] michalnicp commented on #6717
@gstorme and @nunesvn would you mind providing the cve ids if possible? I suspect there may be an issue with handling vulnerabilities detected using multiple sources.

[2022-11-04 18:12] jcgruenhage commented on #8541
Oh no, it's most certainly not as easy as adding a string to a slice, didn't want to imply that. It does mean though, that a few other features do end up working, especially policies, which is the thing we're most interested in. Just because Void is in that list, it doesn't mean that Void is a fully supported target. If you're not willing to merge that change though, which I could fully understand

[2022-11-04 18:51] ksatter commented on #8515
Thanks so much for submitting this @jcgruenhage! I'll bring this to the team during our next Office Hours.

[2022-11-04 18:56] ksatter commented on #8486
@MChorfa Thanks so much for the suggestion! I'll bring this to the team during our next Office Hours.

[2022-11-04 19:14] #6435 closed

[2022-11-04 19:15] #7479 closed

[2022-11-04 19:16] #7993 closed

[2022-11-04 19:16] #6064 closed

[2022-11-04 19:19] zwinnerman-fleetdm commented on #6020
No, but this will be helpful for getting audits. And those audits will be worth announcing.

[2022-11-04 19:19] zhumo commented on #7425
https://github.com/osquery/osquery/pull/7794

[2022-11-04 19:19] zhumo commented on #6883
@zwass @artemist-work ping! ^^^

[2022-11-04 19:20] zhumo commented on #4507
@zwass @sharvilshah Ping! ^^^

[2022-11-04 19:22] zhumo commented on #8456
@zwass @artemist-work could we write a piece of documentation for this so that others can know when and how to use it?

[2022-11-04 19:42] noahtalerman opened #8588 "Blogpost: 4.23.0"
Fleet 4.23.0 is scheduled for release on 2022-11-10 (afternoon PST)

### Goal

Prepare and publish the release blogpost for Fleet 4.23.0 so that folks in the Fleet/osquery community can understand the latest improvements.

### How?

- [x] @noahtalerman: Add features to "Primary improvements" section
- [x] @lukeheath: Add draft CHANGELOG to "List of improvements" section
- [x] @chris-mcgillicuddy:

[2022-11-04 19:44] zhumo commented on #6020
@zwinnerman-fleetdm "getting audits" as in successfully completing them?

[2022-11-04 19:44] zwinnerman-fleetdm commented on #6020
yes

[2022-11-04 19:55] artemist-work commented on #6883
I suspect the JSON was generated with osquery 5.5.1 checked out and the commit that added this field wasn't included until 5.6.0

[2022-11-04 20:14] RachelElysia commented on #8551
Taking this from you @lukeheath

[2022-11-04 20:18] noahtalerman commented on #8588
@lukeheath I'm going back on what I said during our call today. It would be very helpful for you to take on completing the draft CHANGELOG and "Prepare for 4.23.0" PR: #8589

Can you please update the draft CHANGELOG and paste it in this issue's description?

In the CHANGELOG, any change that you think isn't relevant for Fleet users can be removed. I usually order the changes by relevance/importan

[2022-11-04 21:14] michalnicp commented on #6717
Some additional questions

1. What do you have set for `host_batch_size` in the vulnerabilities webhook settings?
2. How many hosts are affected by these CVEs and what os name and version are they?

If you are part of the osquery #fleet slack channel, you can reach out to me and schedule a zoom call with you to help troubleshoot this further. To join slack, go to https://github.com/osquery/osquery

[2022-11-04 21:28] mikermcneil commented on #7481
Tomas: haven't been able to prioritize this yet

McNeil: then it shouldn't be in the release board yet?

Tomas: don't want to move issues right now, having a high level conversation about what to do

@zhumo

[2022-11-05 00:10] zhumo opened #8593 "Add two new roles for premium users"
## Problem

As a Fleet admin who is expanding my Fleet user base to other teams/groups/departments in my organization, I want to control the other departments' users' permissions more granularly, so that I can limit the surface area of Fleet in case of breach. Furthermore, the other teams may not have the need for all of Fleet's features and may lack the expertise to use those features responsibly

[2022-11-07 01:30] zwass commented on #8472
@artemist-work can you please take a look into this on Monday?

[2022-11-07 01:58] zwass commented on #8556
This seems likely to be related to the issue in #8472. @artemist-work when you take a look at that, can you please see if this explains it as well?

[2022-11-07 02:05] zwass commented on #8537
Do we know if Apple exposes this information via API? It looks like the message that Jamf provides is just based on the general context that Apple issued a new set of terms, not a specific indicator that the current org has not yet accepted them.

Unfortunately, I suspect this will be tricky to answer as we won't be able to see what API responses for the "not yet accepted" state might look like un

[2022-11-07 02:38] zwass opened #8594 "Implement `fleetctl generate mdm-apple`"
This issue is about generating the APNS Key and Certificate Signing Request (CSR), along with SCEP key and certificate. The end result should be the command as described in "Commands" -> "Step 1" of https://github.com/fleetdm/fleet/issues/7456.

1. Generate a private key and CSR for APNS. The code in https://github.com/fleetdm/fleet/pull/8282/files#diff-b2b6c49bef582aebacab69bf43c6d42d178ec654e07a

[2022-11-07 02:49] zwass opened #8595 "Add options for configuring APNS and SCEP keys/certs in Fleet server"
This issue is about adding the Fleet server configurations described in "Commands" -> "Step 2" of https://github.com/fleetdm/fleet/issues/7456.

These configurations [already exist in Fleet](https://github.com/fleetdm/fleet/blob/43881e1de734dda1321c532c6c244fe9ca607e00/server/config/config.go#L364-L401) from the prototype work, so this issue is about bringing the UX in line with the documented exp

[2022-11-07 02:54] zwass opened #8596 "Implement `fleetctl get mdm-apple`"
Implement "Apple Push Certificates Portal - See status" from https://github.com/fleetdm/fleet/issues/7456.

1. Implement an API that returns the information as shown in the output examples of the parent issue. This should be based on the certificate configured in the `mdm_apple_apns_cert` config. Only users with the admin role can read this information.

2. Implement the `fleetctl get mdm-apple` c

[2022-11-07 02:56] zwass commented on #8596
@noahtalerman what authorization checks do we want for someone to get the certificate information (basically, which user types should be able to run `fleetctl get mdm-apple`)?

[2022-11-07 11:51] roperzh opened #8599 "ingesting software takes up to 4*len(reported_software) queries"
Looking at traces on `distributed/write`, I noticed that when software is reported by the host the trace contains a very large number of database calls related to software.

<details>
<summary>Traces of distributed/write</summary>
<img src="https://user-images.githubusercontent.com/4419992/200300918-f94d375f-5c96-4e10-a31b-38cf231d6e74.png" />
</details>

When software is ingested for the first ti

[2022-11-07 11:58] roperzh opened #8600 "idea: consider enabling `interpolateParams` in the Go MySQL driver"
This was raised by @michalnicp a while ago, the database driver we use provides an option named [`interpolateParams`](https://github.com/go-sql-driver/mysql#interpolateparams).

When this option is disabled (default), all queries are executed as prepared statements under the hood, which leads to 3 database roundtrips per transaction: 1 to prepare the statement, 1 to execute, 1 to close the stateme

[2022-11-07 12:06] roperzh opened #8601 "Fleet Desktop should use a backoff algorithm to check the token with the server"
## Problem

Fleet Desktop performs a "token check" when it starts and every time a token is rotated.

The current logic does a request every 5 seconds until it succeeds:

https://github.com/fleetdm/fleet/blob/952ede4f73ee15c40cc4dd1469bee8334dd14ac9/orbit/cmd/desktop/desktop.go#L146-L173

This approach has several drawbacks:

1. If the server is down or reports an error, we keep spamming it in ver

[2022-11-07 12:13] roperzh opened #8602 "discuss: can we optimize how we query for flags in Orbit?"
## Problem

Tracing shows `/orbit/config` as one of the endpoints with most impact in the overall load of the server.

The endpoint is meant to be used as a general way to retrieve configurations from the server, currently we're using it for the remote management of osquery flags.

We have a ticker that pings the endpoint every 30 seconds:

https://github.com/fleetdm/fleet/blob/952ede4f73ee15c40cc

[2022-11-07 14:25] chiiph commented on #8599
For each piece of software, we need to make sure it exists in the `software` table and the `host_software` table. If the software is inserted, we could do this with just one bulk insert that selects from the software.

We could try inserting every time in the software table and then insert+select, instead. But we do list software as the first step... wonder why we are not using the data there. Wil

[2022-11-07 15:09] noahtalerman commented on #8519
### Research on other secrets for macOS hosts

#### Activation Lock Bypass Code

Noah: My understanding is that an Activation Lock Bypass Code is used by an IT admin, when wiping a device that has the [Activation Lock feature](https://support.apple.com/en-us/HT208987) enabled.

It's likely Fleet should disable Activation Lock by default for new macOS hosts that automatically enroll to Fleet. I thi

[2022-11-07 15:15] noahtalerman commented on #8596
@zwass only users with the admin role in Fleet should be able to generate certificates (`fleetctl generate mdm-apple`) get certificate information (`fleetctl get mdm-apple`).

I updated this issue's description to call this out.

[2022-11-07 16:31] noahtalerman commented on #7958
@zhumo the "Automatic enrollment" row in the xDM roadmap specifies "Event is tracked in audit feed":
![Screen Shot 2022-11-07 at 11 26 58 AM](https://user-images.githubusercontent.com/47070608/200362441-a85d7cf7-5ef7-4f60-8521-ff9f2db58085.png)

Does this event track when the host automatically enrolls to Fleet? Or, when the host shows up as "pending" in Fleet (not yet enrolled) ?

If we choose on

[2022-11-07 16:40] lukeheath opened #8606 "Ensure we are handling missing entities in the UI"
This issue spawned from #8383, a bug report that revealed other cases where we fail to handle missing resources in the UI.

## Problem

If one user deletes a resource while another interacts with it in the UI, the user interacting with the resource may end up in an errored UI state. We must ensure the UI handles these cases for all primary resources (query, policy, schedule, packs, software, teams

[2022-11-07 16:43] lukeheath commented on #8606
@noahtalerman, I'm assigning this issue to you for product prioritization since it's not an `:engineering` issue, but it's something I wanted to make sure you saw. Please let me know if it's not clear what this issue covers. I'm unsure how this should be prioritized against other product work. It's an edge case, but it produces bad UX and broken UI states. It's technically a `:bug`, but it's large

[2022-11-07 17:19] zwinnerman-fleetdm commented on #7894
Sorry I missed this. I would say nothing left. Closing this issue.

[2022-11-07 17:25] rfairburn opened #8607 "2022-11-07 500 error on /login for sandbox user"
We received a notification that there was a 500 request on an active sandbox to /login.  Since sandbox requires /demologin, this should obviously not succeed, but a 500-series error as a response is probably a bug.  It is possible that this presented in a way that was not obvious to the end-user that logins should happen differently, so I also intend to reach out directly.

Affected sandbox is `tc

[2022-11-07 17:25] zwass commented on #8594
Perfect! Updated to link to that code.

[2022-11-07 17:26] lukeheath commented on #8595
@noahtalerman After reading step #2 in the epic, it looks like this issue covers adding these options to the YAML configuration:

[code]

Presumably, these options can be added via `fleetctl apply` and the UI YAML editors for global and team agent options. Is that correct?

I see one other item that we will need to look into the code to determine if it is implemented or not:

Is there anything els

[2022-11-07 18:22] noahtalerman commented on #7671
@ghernandez345 FYI I moved this issue to the "Awaiting QA" column because I noticed the PR addressing this issue is merged ✅ #8524

[2022-11-07 18:22] mikermcneil commented on #8607
Thanks @rfairburn!

Couple of things:
- Could you forward the email to @Zay Hanlon, @Kathy Satterlee, @Michael Thomas, and @eashaw so they've got it as a template for future reference, if you didn't already?
- How might someone have found the instance's /login page, which is supposed to not be presented to Fleet Sandbox users?  We need to remove that way.  If we're unsure of the way, and possibly

[2022-11-07 18:28] noahtalerman commented on #8588
@chris-mcgillicuddy I assigned you this issue. I added the primary improvements to this issue's description.

[2022-11-07 19:26] artemist-work commented on #8472
Sorry about the delay on this, I'm looking at it but I had some database corruption I had to work around on my dev system

[2022-11-07 19:36] lukeheath commented on #8596
@mna Assigning to you for specifications.

[2022-11-07 19:36] lukeheath commented on #8595
@mna Assigning to you for specifications.

[2022-11-07 19:41] zwass commented on #8595
@lukeheath note that this is server configuration that would be configured as in https://fleetdm.com/docs/deploying/configuration#options, not applied via `fleetctl` and stored in the DB.

[2022-11-07 19:42] noahtalerman commented on #8606
Thanks Luke!

Make sense. I agree that this is a bug. Adding this to the roadmap board is what I would have done 👍

[2022-11-07 19:47] noahtalerman commented on #8595
@lukeheath, I don't think so.

I think the following requirements, from [the epic](https://github.com/fleetdm/fleet/issues/7456), will be included in a separate GitHub issue:

[2022-11-07 19:55] lukeheath commented on #8606
Adding the bug label because it's a bug, and we want to treat it accordingly.

Bringing to the roadmap board so it can be estimated, which we typically don't do for bugs.

[2022-11-07 19:56] GuillaumeRoss opened #8608 "UI issue in query editor with large-ish queries"
**Fleet version**: _Fleet 4.22.1_

**Operating system**: _macOS 13.1 beta_

**Web browser**: _Chrome 107.0.5304.87_

<hr/>

### 🧑‍💻  Expected behavior
When selecting text in a query and then hitting backspace, I would expect that text to be deleted.

### 💥  Actual behavior
It actually deletes *other* text, but cutting instead of deleting, via mouse or keyboard shortcut, does not exhibit the same i

[2022-11-07 20:05] noahtalerman opened #8609 "Track turning on MDM in the activity feed"
## Problem

IT admins want to be able to see when MDM is turned on for their macOS hosts. This way, during an adit, they know when a specific host came under their management (ex. during an audit).

Currently, IT admins might see this information in their current MDM solution. Other IT admins might be tracking this manually in a spreadsheet.

## Related

- #7726

**UI**

- https://github.com/fleet

[2022-11-07 20:10] noahtalerman commented on #8609
TODO Noah: Make the UI explicit in the activity feed item. If this is about the device user unboxing a new laptop, the UI copy should tell the Fleet user this.

[2022-11-07 20:10] artemist-work commented on #8472
Mine is stuck at "Connecting..." but osquery is connected so I think I can reproduce this

[2022-11-07 20:12] noahtalerman commented on #7958
@zwass I assigned you this issue for engineering specification.

[2022-11-07 21:43] noahtalerman commented on #8519
@zwass I unassigned you.

I think we want to require a new API route to retrieve the FileVault recovery key. This way, we can place different authentication and create an activity event for around viewing the recovery key. I'd like to bring this to product design review.

[2022-11-07 22:02] noahtalerman commented on #8360
From product design review on 2022-11-07

Mike McNeil: Start with just 1 profile that applies to all hosts in Fleet. Come back to teams later (we think they will override the global). Move on to OS, scripts, and software. This way, we can implement experience around adding/editing 1 profile and have time to iterate on how teams will work.

[2022-11-07 22:25] zwass commented on #5805
@gstorme thank you for the follow up.

@marcosd4h I don't think we need any further investigation on this one.

[2022-11-07 22:25] #5805 closed

[2022-11-08 14:50] mna commented on #8566
After much manual tests from vanilla DBs, the only way it seemed to happen after the fix to the templates was with `--only_already_enrolled`, and the blank hosts matched the count of hosts enrolled via orbit (due to the default value of the `--orbit_prob` flag). There's a TODO in the code to make orbit enrollment support the already-enrolled mode, but for now I simply set the orbit probability to

[2022-11-08 15:03] noahtalerman commented on #8153
Noah:

Curious on how the MDM migration is going. How are you tweaking the Fleet policies?

Guillaume:

I just tweaked a policy that checked if we were on SimpleMDM and replaced it for checking if the device is on Fleet's MDM server. Also I had a policy that failed on my Mac (Secure Keyboard Entry) and I couldn’t figure out why - turns out you need to reboot for it to be applied properly.

[2022-11-08 16:40] xpkoala opened #8618 "4.23.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/fleetctl-preview)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium te

[2022-11-08 18:43] xpkoala commented on #7788
I'm going to close this ticket as we haven't been able to reproduce the issue.

If you are still encountering the redirection could you please include answers to the questions Lucas asked when re-opening this ticket. Thank you!

[2022-11-08 18:43] #7788 closed

[2022-11-08 18:54] xpkoala opened #8622 "Back to hosts button breaks on Firefox"
**Fleet version**: `main`

**Operating system**: macOS 13.0

**Web browser**: Firefox 106.0.3

<hr/>

### 🧑‍💻  Expected behavior
After navigating to a host's details page (/hosts/#) and clicking the "back to all hosts" button I would be redirected to the /hosts/manage page.

### 💥  Actual behavior
404 page not found.

### More info
This is only occurring on Firefox and there are no console errors

[2022-11-08 19:47] lukeheath commented on #7309
@jacobshandling I'm assigning this issue for you to get started on next. This one is a bit more complicated, but still an excellent first issue. This will introduce you to our `DataTable` component, which is used heavily throughout the app. It's pretty significant and takes some time to understand, so please feel free to ask questions here or in Slack. @RachelElysia spec'd this ticket, so she will

[2022-11-08 20:09] zwinnerman-fleetdm opened #8624 "Build interface for BYO-ECS"
## Problem

TODO

## Business Case

TODO

## Measurement
TODO

## Requirements

TODO
1.
2.
3.

- **Documentation** Do you want a guide written about this? What things/aspects should we make sure is covered by the documentation?
- **Analytics** How are we going to measure usage and success? Make sure engineering knows these need to be built.
- **QA** Any special QA notes?
- **Other depts.** Should

[2022-11-08 20:10] zwinnerman-fleetdm opened #8625 "build interface for BYO-Database"
## Problem

TODO

## Business Case

TODO

## Measurement
TODO

## Requirements

TODO
1.
2.
3.

- **Documentation** Do you want a guide written about this? What things/aspects should we make sure is covered by the documentation?
- **Analytics** How are we going to measure usage and success? Make sure engineering knows these need to be built.
- **QA** Any special QA notes?
- **Other depts.** Should

[2022-11-08 20:10] zwinnerman-fleetdm opened #8626 "build interface for BYO-VPC"
## Problem

TODO

## Business Case

TODO

## Measurement
TODO

## Requirements

TODO
1.
2.
3.

- **Documentation** Do you want a guide written about this? What things/aspects should we make sure is covered by the documentation?
- **Analytics** How are we going to measure usage and success? Make sure engineering knows these need to be built.
- **QA** Any special QA notes?
- **Other depts.** Should

[2022-11-08 20:11] zwinnerman-fleetdm opened #8627 "Build BYO-ECS"
Blocked by #8625

## Problem

TODO

## Business Case

TODO

## Measurement
TODO

## Requirements

TODO
1.
2.
3.

- **Documentation** Do you want a guide written about this? What things/aspects should we make sure is covered by the documentation?
- **Analytics** How are we going to measure usage and success? Make sure engineering knows these need to be built.
- **QA** Any special QA notes?
- **Othe

[2022-11-08 20:11] zwinnerman-fleetdm opened #8628 "Build BYO-database"
Blocked by #8627
## Problem

TODO

## Business Case

TODO

## Measurement
TODO

## Requirements

TODO
1.
2.
3.

- **Documentation** Do you want a guide written about this? What things/aspects should we make sure is covered by the documentation?
- **Analytics** How are we going to measure usage and success? Make sure engineering knows these need to be built.
- **QA** Any special QA notes?
- **Other

[2022-11-08 20:12] zwinnerman-fleetdm opened #8629 "Build BYO-VPC"
Blocked by #8628
## Problem

TODO

## Business Case

TODO

## Measurement
TODO

## Requirements

TODO
1.
2.
3.

- **Documentation** Do you want a guide written about this? What things/aspects should we make sure is covered by the documentation?
- **Analytics** How are we going to measure usage and success? Make sure engineering knows these need to be built.
- **QA** Any special QA notes?
- **Other

[2022-11-08 20:12] zwinnerman-fleetdm opened #8630 "Build root module"
Blocked by #8629
## Problem

TODO

## Business Case

TODO

## Measurement
TODO

## Requirements

TODO
1.
2.
3.

- **Documentation** Do you want a guide written about this? What things/aspects should we make sure is covered by the documentation?
- **Analytics** How are we going to measure usage and success? Make sure engineering knows these need to be built.
- **QA** Any special QA notes?
- **Other

[2022-11-08 20:42] RachelElysia commented on #7209
Do we have a larger ticket for consistent API error states? I know errors came up again in #8306 and would be great to track our progress. @lukeheath

[2022-11-08 20:42] mna commented on #8595
@noahtalerman As Zach mentions in the description, those options already exist from the prototyping work. I'm not familiar with that prototype, but it looks like this was released in the sense that the Apple MDM flags are in the `fleet` binary of v4.22.1. The existing flags are a bit different than what is listed in Step 2 of https://github.com/fleetdm/fleet/issues/7456.

For example, the SCEP cer

[2022-11-08 21:31] lukeheath opened #8632 "Standardize API use of error name "base""
## Problem

When the API returns an error, it typically returns an object that looks like this (from `POST /login`):

[code]

Note that for different types of errors across endpoints, the "name" property is always set to "base".

However, when interacting with the `/users` endpoints, it does not return the value "base". Instead, the value is whatever type of error it is returning. For example:

[c

[2022-11-08 21:31] lukeheath commented on #7209
@RachelElysia Good idea, I've created #8632 to track this.

[2022-11-08 21:33] noahtalerman commented on #8595
@mna yes! As we work on MDM features, we expect to break the prototype's (dogfood MDM) API and config interface.

The dogfood MDM is currently behind a feature flag. My understanding is that we will make as many breaking changes as needed until we remove the feature flag.

cc @michalnicp @zwass

[2022-11-08 21:53] noahtalerman commented on #8519
@lukeheath I assigned you this issue and moved it to the designed column.

This issue is a higher priority than any issue without the "!mdm" label.

[2022-11-08 21:56] lukeheath commented on #8387
@ghernandez345 Would you please knock this bug out tomorrow so we can include it in the release?

[2022-11-08 22:03] lukeheath commented on #8546
@RachelElysia, I started to look into this, but I don't think I will have time to address this one. I saw you worked on this recently, so I thought you'd be the best person. It may be sticky. If so, we can push it to the next release if necessary.

We want to be able to select a platform from the label dropdown and apply an additional filter. This way, we can show all MacOS hosts with low disk spa

[2022-11-08 22:10] noahtalerman commented on #7676
@michalnicp @zwass during a call with Michal, Guillaume, and I, we discussed using our internal automatic enrollment profile (linked below) as the default automatic enrollment profile in Fleet.

How much effort would it take to use the organization name in Fleet as the `profile_name` property in the enrollment profile?

This way, when the device user with a fresh Mac sees the "Install MDM profile"

[2022-11-08 22:30] noahtalerman commented on #8153
@zhumo I met with Michal and Guillaume to discuss Activation Lock.

We think the best path forward is to ensure that Activation Lock is prohibited by default for DEP hosts and tell IT admins to ask the device users to disable Activation Lock during migration.

This is because if Activation Lock is enabled, the IT admin will need the Activation Lock bypass code to wipe and reuse the device. This is

[2022-11-08 22:33] noahtalerman commented on #8153
@zwass @michalnicp @GuillaumeRoss when you get the chance, can you please review  the draft MDM migration docs? https://docs.google.com/drawings/d/1bUa4FQSxYm3fWg4bWvi07nfWGiHEl4BMsAKsSIOU5ww/edit

Please leave feedback/questions as comments in that doc^

[2022-11-08 22:35] michalnicp commented on #7676
Should that organization name be updated when app config is updated? We currently don't sync changes to the dep_profile.json.

[2022-11-09 01:02] #4981 closed

[2022-11-09 03:23] xpkoala opened #8635 "Background on highlighted drop down component should be consistent"
**Fleet version**: `main`

**Operating system**: macOS 13.0

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior
The background element of a drop down component would not be noticeable when using the component.

### 💥  Actual behavior
The background of the drop down component does not match the surroundings and the element box is visible.

### More info
<img width="286" alt="Screenshot 2022-11

[2022-11-09 03:37] mike-j-thomas opened #8636 "Handbook - populate "in this section" links for Brand"
All of these OG digital experience sections need to be added to the _in this section_ list of links under Brand.

![Image](https://user-images.githubusercontent.com/78363703/200732209-8ae561e0-99f3-4aca-8fcd-747c539fd3d6.png)

- For editors
- Commonly used terms
- Brand resources
- Email blasts
- Using Figma
- Fleet website

[2022-11-09 03:37] xpkoala opened #8637 "Host command line text should not be hidden"
**Fleet version**: `main`

**Operating system**: macOS 13

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
The commands included in the command line box for generating an installer should always be visible.

### 💥  Actual behavior
Text is cut-off by the default size of the command line box and the user is required to scroll the box to see the full contents.

### More info
This was brought

[2022-11-09 05:07] mike-j-thomas commented on #7765
@noahtalerman, I moved the queries team empty state to this spiffier page

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=10791%3A319238

[2022-11-09 06:16] zhumo commented on #7958
@noahtalerman I agree with your assessment. Original intent of that was when the host is on MDM. That's because:

1. The audit feed is intended for audit, which the key thing to track is when a host enters and exits management.
2. The thing about when it appears in the list is more of a nice-to-have and can probably done in some other way. I don't anticipate requiring the user to repeatedly check

[2022-11-09 06:17] zhumo commented on #8153
@noahtalerman sounds good to me

[2022-11-09 08:18] xpkoala commented on #3563
@marcosd4h I still appear to have the aforementioned files (plus a few extra) in my `c:\Program Files\Orbit` directory after uninstalling Fleet osquery. I was expecting this folder to be nuked? Should I be expecting the folder to be removed or did we decide to take another avenue for solving this issue?

[2022-11-09 11:03] marcosd4h commented on #3563
@xpkoala thanks for testing this! That's correct, the folder `c:\Program Files\Orbit` and its content has to be nuked. Can you share the windows version where you are testing this? Also, can you share the logs of msiexec uninstallation execution? You can grab the logs by running `msiexec /x fleet-osquery.msi /quiet /passive /lv logtest.txt`. This is the command being used during Github CI tests  [

[2022-11-09 14:47] xpkoala commented on #3563
Microsoft Windows 10 Pro
10.0.19044 Build 19044

Logs provided via chat.

[2022-11-09 15:15] RachelElysia commented on #8635
@xpkoala is this release blocking? I can grab this but need to know if it's time sensitive.

[2022-11-09 15:16] xpkoala commented on #8635
@RachelElysia Not time sensitive from my perspective. It is quite hard to see and doesn't affect functionality.

[2022-11-09 15:17] RachelElysia opened #8639 "Unreleased bug: Hanging external link icon"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Updating modal width won't leave hanging icons.

### 💥  Actual behavior

This external link has a hanging icon. Move last word onto next line with the icon.

<img width="1282" al

[2022-11-09 15:17] RachelElysia commented on #8639
@xpkoala This is a quick fix, let me know if we want to get this spiffier fix in for the release and I'll be sure to have it approved and merged in today.

[2022-11-09 15:25] RachelElysia commented on #8546
I'll see what I can do this morning.

[2022-11-09 15:26] lukeheath commented on #8388
@RachelElysia Here is the settings layout from the style guide: https://www.figma.com/file/qbjRu8jf01BzEfdcge1dgu/Fleet-style-guide-2022-(WIP)?node-id=213%3A27522

There are two possible layouts for the settings pages. One is wide, the other is narrow.

It looks like agent options would be the "Settings B" layout, while the others are "Settings A".

[2022-11-09 15:28] xpkoala commented on #8639
@RachelElysia If it's quick lets do it!

[2022-11-09 15:28] RachelElysia commented on #8546
@lukeheath

Since we have a platform dropdown, it might be good UX ticket to ensure the backend works with platform x software, platform x policy response, platform x any other filter pill in our UI.

Also, how might we make a better UX to clear a platform dropdown without having to use a pill on the far left of the screen away from where the user selected the platform on the dropdown?

[2022-11-09 15:48] mna commented on #7855
The `hosts.os_version` column is still widely used in host and label queries, from a quick search. Seems like it should be a ticket by itself to remove its use and drop the column.

[2022-11-09 16:13] xpkoala commented on #8608
The following is invalid syntax, I was just mashing out something similar to what @GuillaumeRoss was using in order to test the deletion shown in the video. You can paste this into the query box to reproduce the behavior above.

[code]

[2022-11-09 16:14] #7936 closed

[2022-11-09 18:16] ghernandez345 commented on #8387
@mike-j-thomas looking into `remove the horizontal scroll bar on table dropdown` it looks this is occurring as the names of some of the tables extend beyond the dropdown width. this will fix itself if we decrease the padding around the whole sidebar but I'm not sure you want this. Otherwise we can truncate the table names when the dropdown is open. what do you think?

[2022-11-09 18:47] jacobshandling commented on #7309
@RachelElysia can you clarify if the individual host status tooltips from Task 1 should show up within data cells on ManageHosts page, on the Host Details page, or both?

[2022-11-09 19:23] noahtalerman commented on #8360
How should the Fleet UI enable adding/modifying macOS settings?

Decision: The Fleet UI will allow the user to upload 1 profile (.mobileconfig file). Uploading the profile will replace the current profile.

Options:
- User uploads 1 profile
- User edits 1 profile (XML format) in a code editor

Reasoning:
- Usability: Uploading a profile is easier while editing a profile in a code editor is faster.

[2022-11-09 19:35] RachelElysia commented on #8635
I noticed these dropdowns had a slightly different color $ui-light-grey: #fafafa vs. $ui-off-white: #f9fafc. Converted them both to ui-light-grey as seen in Figma components (https://www.figma.com/file/b21afB3Lr6fbHPdnaoOBkr/2-Fleet-EE-components?node-id=303%3A476)

<img width="1110" alt="Screen Shot 2022-11-09 at 2 33 48 PM" src="https://user-images.githubusercontent.com/71795832/200924401-3b41ad

[2022-11-09 19:52] mna commented on #7855
Quite fast with 40K+ hosts on my laptop.

[code]

[code]

[2022-11-09 19:59] RachelElysia commented on #7309
@jacobshandling The figma implies manage host page, but nice catch that this component is also on the host details page so as a user, I would expect it to be in both places.

@noahtalerman Can you confirm that it should also be on the host details page?

[2022-11-09 20:01] #7923 closed

[2022-11-09 20:06] zhumo commented on #8360
@noahtalerman so we're doing just one profile globally?

I agree with having a file upload rather than text editor. We should rely on the 3rd party apps to generate valid XML.

[2022-11-09 20:13] RachelElysia commented on #8608
My brain is fried so I'm not going to grab this one today, but my hunch is some kind of unique key issue since you went to delete a WHERE and it deleted another WHERE

[2022-11-09 20:27] noahtalerman commented on #8360
Decision: Fleet UI and docs will point users towards the iMazing Profile Creator app to create/modify profiles.

Options:
- iMazing Profile Creator: https://imazing.com/profile-editor
- ProfileCreator:  https://github.com/ProfileCreator/ProfileCreator
- Apple configurator: https://support.apple.com/apple-configurator

Reasoning:
- All essential settings (listed below) can be configured with iMazin

[2022-11-09 20:31] noahtalerman commented on #7309
@jacobshandling Nice catch! The tooltip should appear on both the **Hosts** page (manage hosts) and the **Host details** page.

[2022-11-09 20:36] RachelElysia commented on #8388
@lukeheath
So the spec
 _shorten the agent option section to match the width of other sections. (xs)_
is incorrect?

[2022-11-09 21:32] lukeheath commented on #8388
@RachelElysia

shorten the agent option section to match the width of other sections. (xs)
is incorrect?

Ah, my bad, I missed that. It looks like the ask is to reduce the width of the agent options page to match the other settings pages instead of being full width. Looking at the other pages, it appears the width is `60%`. We can circle back to change if necessary to match the new style guide.

[2022-11-09 21:32] RachelElysia commented on #8387
@mike-j-thomas @ghernandez345 @lukeheath

Can we add these two issues to the spec? One is already mentioned `change top and bottom margins around the ace editor`, the other is making a line active makes the line number "jump"

https://github.com/fleetdm/fleet/pull/8643#pullrequestreview-1174775417

[2022-11-09 21:45] xpkoala opened #8648 "Munki card shows for Windows hosts under host details Software tab"
**Fleet version**: `main`

**Operating system**: Windows 10 (host)

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
Munki is exclusive to macOS hosts and should not be visible on Windows hosts.

### 💥  Actual behavior
The Munki card is visible for Windows hosts.

### More info
![image](https://user-images.githubusercontent.com/11012743/200948393-55fc21ea-1e78-48c8-a869-4a529c7c8e99.png)

[2022-11-09 22:00] xpkoala opened #8649 "Modal stacks when adding new enroll secret"
**Fleet version**: `main`

**Operating system**: n/a

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
- When clicking the 'add secret' button only one modal would be present on the screen.
- After closing the 'save secret' modal, the user would be taken back to the hosts/manage page.

### 💥  Actual behavior
- A second modal is spawned over the first.
- Closing the second modal will show th

[2022-11-09 23:28] zhumo opened #8653 "`requires_user_context` and `required` column attributes are not appearing in fleetdm.com/tables"
### 🧑‍💻  Expected behavior
In the `user_ssh_keys` table, the `uid` column is `requires_user_context`. It should show "defaults to root" text in the column description.

In the `file` table, the `directory` attribute is `required: true`. It should show a "required in where clause" text in the column description

These appear in the query builder, but not the public website.

### 💥  Actual behavior

[2022-11-09 23:42] zhumo commented on #8302
@mike-j-thomas Ping while this github projects is broken!

[2022-11-10 00:12] eashaw commented on #8653
@zhumo We have an issue for `requires_user_context` not being displayed on fleetdm.com here: https://github.com/fleetdm/fleet/issues/8137

I was not able to reproduce this bug. I'll watch the meeting recording where you encountered this to see if I'm missing anything, but this is what I see on fleetdm.com/tables/file:

![image](https://user-images.githubusercontent.com/7445991/200968277-b86ba5a7-e

[2022-11-10 00:14] zhumo commented on #8653
@eashaw I SWEAR this wasn't happening before. I wish I took a screen shot. Never mind. let's close this then. Thanks and sorry for the false alarm.

[2022-11-10 00:14] #8653 closed

[2022-11-10 11:12] ghernandez345 opened #8656 "UI polish ace editor and query sidebar table dropdown"
A UI style polish pass for the Query pages including. These are outstanding items from this ticket [#8387](https://github.com/fleetdm/fleet/issues/8387):

## Ace Editor
- [x] making a line active makes the line number "jump"

## Query sidebar table dropdown

- [x] remove the horizontal scroll bar on the table dropdown

[2022-11-10 11:17] ghernandez345 commented on #8387
@RachelElysia I've moved the outstanding items and the ones you mentioned into a new issue (#8387) so I can merge and get this one into QA.

[2022-11-10 12:27] ghernandez345 commented on #8648
I've made a UI for this in #8657. But I noticed we may need to make another issue for an API change as the GET call to `/api/latest/fleet/hosts/179/macadmins` returns a non-null result for windows machines.

e.g.

GET `/api/latest/fleet/hosts/:id/macadmins` on a windows host response:

[code]

GET `/api/latest/fleet/hosts/:id/macadmins` on a linux host response:

[code]

@mna shouldn't the API ret

[2022-11-10 13:43] mike-j-thomas commented on #8588
![Image](https://user-images.githubusercontent.com/78363703/201100617-4ef1ab5a-8add-4f76-8471-df8af5ba245b.jpg)

![Image](https://user-images.githubusercontent.com/78363703/201100676-b5c9f88a-50e8-468c-96ae-4c718ac6b660.jpg)

![Image](https://user-images.githubusercontent.com/78363703/201107317-30f0722a-cc35-408a-a353-eb851ae45123.jpg)

![Image](https://user-images.githubusercontent.com/78363703/2

[2022-11-10 14:33] noahtalerman commented on #8153
Link to notes that include a discussion about migration with a current Fleet customer (internal): https://docs.google.com/document/d/1E0VU4AcB6UTVRd4JKD45Saxh9Gz-mkO3LnGSTBDLEZo/edit

To find the section about migration search the doc above (cmd + f) for "on MDM migration".

[2022-11-10 14:52] RachelElysia commented on #8649
@noahtalerman Can you clarify this is the expected behavior. As a user creating a secret, I would think clicking Save would send me to the UI where I can use said secret (hence the manage enroll secret modal) and not the manage host page.

[2022-11-10 15:16] noahtalerman opened #8658 "logger_plugin should not be included in default agent options"
**Fleet version**: 4.22.1

New Fleet users are running into an issue when editing agent options. It seems like this could be because `logger_plugin` (invalid option) is included as a default option: https://osquery.slack.com/archives/C01DXJL16D8/p1668027076663159?thread_ts=1668016483.152769&cid=C01DXJL16D8

<hr/>

### 🧑‍💻  Expected behavior

As a new Fleet user, I expect the default agent options

[2022-11-10 15:17] noahtalerman commented on #8658
@ksatter I think this is related to the issue a community member was running into. Here's the Slack thread: https://osquery.slack.com/archives/C01DXJL16D8/p1668027076663159?thread_ts=1668016483.152769&cid=C01DXJL16D8

[2022-11-10 16:40] RachelElysia commented on #8635
@xpkoala also added fixes to packs targets dropdown (details to QA in PR)

[2022-11-10 16:40] noahtalerman commented on #8360
@zhumo no. The plan is still 1 profile globally and 1 profile for each team (these override global profile).

Reviewing the [UI changes](https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=10517%3A316027) that would enable this^ is on the agenda for today's product design review (2022-11-10).

I didn't do a good job communicating this plan to M

[2022-11-10 16:49] RachelElysia opened #8659 "Fleet UI: Spiffier hover states"
## Problem

Interact-able dropdowns, search bars, text input fields, etc have hover states. I would expect all elements that are interact-able to have similar hover states.

Elements I found without any hover states:
- [ ] Query/policy target pills would have blue border on hover (currently no hover state)
- [ ] SQL editor on query/policy/label would have blue border on hover (currently no hover s

[2022-11-10 16:50] zhumo commented on #8530
Thanks! Gonna decline this for now. We can revisit this if this becomes too distracting for the infra team.

[2022-11-10 16:51] #8530 closed

[2022-11-10 17:18] zhumo commented on #8460
TODO identify tables to include @zhumo

[2022-11-10 17:24] RachelElysia commented on #8658
CMIIW - We can set logger_plugin in the command line, but will never see it in the config file?

[2022-11-10 17:32] xpkoala commented on #8530
Discussed. Notes can be found here: https://docs.google.com/document/d/1xJyKnXluHxXQEseX46yeLbgsHT8DtvZ-pAvYhsSQ6R0/edit

Closing this ticket.

[2022-11-10 17:43] RachelElysia commented on #8388
@lukeheath

This is the current view at 768px and 990px, to make it a width of 60% only would practically make the UI unusable at those breakpoints.

![Image](https://user-images.githubusercontent.com/71795832/201168129-1658be18-ed15-4c10-ac92-b44fae86f12d.png)
![Image](https://user-images.githubusercontent.com/71795832/201168130-69942407-3523-4cf9-97c0-14e72de6a56e.png)

I'm going to leave it alo

[2022-11-10 18:56] lukeheath commented on #8658
@noahtalerman When I stand up a new instance of `main`, I do not have the `logger_plugin` option in my default agent options. My default agent options look like this:

[code]

Are you seeing something different?

[2022-11-10 18:57] ksatter commented on #8658
@lukeheath @noahtalerman I've tested a couple of times and see the same. This should only affect existing Fleet instances.

[2022-11-10 18:58] noahtalerman commented on #8658
Ok! Closing this issue.

No. I didn't attempt to reproduce.

[2022-11-10 19:06] xpkoala commented on #8546
@RachelElysia This works pretty brilliantly outside of one scenario. If you click on the 'low disk space' button and 0 hosts are returned you will be taken to the /hosts/manage page and a few of the UI elements are not shown. I'm assuming we still want to show the search / platform / filter elements?

- video of the behavior https://www.loom.com/share/5a64be22fc0e4de39d42d939783df1cc

Picture of t

[2022-11-10 19:17] lukeheath commented on #8388
@RachelElysia Ah got it. I think this is something we can use our best judgment for. I think the best UX is full-width forms up to 990px, then 60%. I'll put in a PR showing what I'm thinking.

[2022-11-10 19:20] zhumo opened #8660 "In dogfood viewing all hosts for a software, sometimes the label is not populated"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
I clicked on "view all hosts" for Steam and I would expect that the label is populated with the name of the software.

### 💥  Actual behavior
The hosts page label is not populated

[2022-11-10 19:27] rfairburn opened #8661 "Sandbox Demo 500 error to /api/latest/fleet/download_installer/pkg"
Log entry from the fleet instance:

[code]

This is sandbox tce247722 and was likely customer-facing.

[2022-11-10 19:37] noahtalerman commented on #8360
Mo: If we expect the user to follow a specific workflow, we should be explicit about this. Drag and drop is more clear.

[2022-11-10 19:38] rfairburn commented on #8661
A second error was recorded to `/api/latest/fleet/download_installer/msi` as well.

[2022-11-10 19:45] lukeheath commented on #8607
I confirmed this is a frontend bug. We were properly redirecting on logout, but the user could still access the `/login` route manually. Fix incoming.

[2022-11-10 19:51] RachelElysia commented on #8546
looking into it now, grazie

[2022-11-10 20:11] RachelElysia commented on #8546
<img width="1276" alt="Screen Shot 2022-11-10 at 3 00 14 PM" src="https://user-images.githubusercontent.com/71795832/201196130-e8609d60-c92e-403f-9bb2-87a4c8ff22a6.png">

@xpkoala suggested this might be an improvement ticket rather than a bug

I am going to wait for a decision on intended behavior for all filter pills before moving forward with any solution

[2022-11-10 20:20] lukeheath commented on #8588
@noahtalerman @chris-mcgillicuddy Apologies for the delay. The draft changelog has been added to this issue.

[2022-11-10 21:07] RachelElysia commented on #8658
@noahtalerman I don't think we should close this issue since I see that option all over our docs, e2e tests, etc. Worth digging in where it should be removed so the user is not seeing invalid examples

[2022-11-10 21:21] noahtalerman commented on #8658
@RachelElysia great point.

I think @ksatter is opening a PR for the docs. Is this right Kathy?

[2022-11-10 21:59] chris-mcgillicuddy commented on #8588
No worries, @lukeheath. PR has been created https://github.com/fleetdm/fleet/pull/8665.

I forgot to ask Mike T. for a cover image. I'll follow up during the Digital Experience huddle.

[2022-11-10 22:10] ksatter commented on #8658
@noahtalerman Correct! I removed from all docs mentions and added an FAQ entry and some additional detail in the agent options docs. I did not update anything outside of the docs because I was a little concerned about breaking something.

[2022-11-10 22:27] xpkoala opened #8667 "Software entries are clickable on Fleet Desktop causing the user to redirect to login page"
**Fleet version**: 4.22.1+

**Operating system**: n/a

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
Software entries on the My Device page seen from Fleet Desktop should not link out to their software entry page.

### 💥  Actual behavior
Software entries from Fleet Desktop **are** clickable and doing so will redirect the user to the Fleet login page if they do not already have an active

[2022-11-10 23:12] #8137 closed

[2022-11-10 23:12] #8381 closed

[2022-11-10 23:33] mike-j-thomas commented on #8588
@chris-mcgillicuddy, forgot to include this, sorry.

![Image](https://user-images.githubusercontent.com/78363703/201227810-0ec71fa6-354e-49b4-a6d7-319aac051ab7.jpg)

[2022-11-10 23:56] #6582 closed

[2022-11-11 12:03] zwinnerman-fleetdm commented on #8624
This is the initial interface that I'm working with. There will be changes as more complexity is added.

## Requirements

No requirements.

## Providers

| Name | Version |
|------|---------|
| <a name="provider_aws"></a> [aws](#provider\_aws) | 4.39.0 |

## Modules

No modules.

## Resources

| Name | Type |
|------|------|
| [aws_appautoscaling_policy.ecs_policy_cpu](https://registry.terraform.i

[2022-11-11 12:04] #8624 closed

[2022-11-11 14:38] noahtalerman commented on #8658
Sweet! Docs are ✅

It seems that removing the option from e2e tests is the last step.

@lukeheath I assigned you this issue. Will this^ be a quick fix? If so, I think we can leave this as a bug on the release board and prioritize this fix. Up to you.

[2022-11-11 15:26] noahtalerman opened #8672 "Add ability to export software to CSV"
## Problem

Users who are new to Fleet want to generate a report for all software installed on all their hosts. Currently, these users could generate a report with the `GET /software` API route however this is cumbersome.

This feature was requested by a customer. Link to Slack thread with additional discussion is here (internal): https://fleetdm.slack.com/archives/C01QH02FV1N/p1668009117826569

#

[2022-11-11 15:32] noahtalerman commented on #8672
Is the export feature more useful on the Software page (all software across all hosts) or Host details > Software page (all software for one host) ?

Software page:
![Screen Shot 2022-11-11 at 10 31 13 AM](https://user-images.githubusercontent.com/47070608/201372664-8cfcccbb-d4b8-41e7-bb8c-dc5df6a253bd.png)

Host details > Software page:
![Screen Shot 2022-11-11 at 10 31 45 AM](https://user-images

[2022-11-11 15:58] #8151 closed

[2022-11-11 16:32] noahtalerman commented on #8438
Hey @zhumo I just spoke to some folks at the same organization that requested this feature. These are the folks that want to export software to CSV feature.

They said that they want `hostname` instead of `host_ids` because this makes it easier to map software item to host in their asset tracking system. With `id` they have to either enrich the data by making more API calls (increases Fleet usage)

[2022-11-11 17:28] chris-mcgillicuddy opened #8676 "Revise and consolidate welcome email content"
## Goal

The content in the current welcome email is dense and has a lot of links in no particular order. The goal is to simplify this content so new users don't feel overwhelmed.

## How

- [ ] Pull inspiration from other welcome emails.
- [ ] Revise email content to be shorter, simpler, and with fewer links/CTAs.
- [ ] Create a separate checklist with clear, organized setup steps.

[2022-11-11 18:06] jacobshandling commented on #7309
@noahtalerman @mike-j-thomas can you please clarify/confirm:

- on the ManageHostsPage, that you want the tooltips that appear on hover over an offline/online status within a table cell should be on _top_ of the text instead of the bottom?
- The [padding for tooltips in the style guide](https://www.figma.com/file/qbjRu8jf01BzEfdcge1dgu/Fleet-style-guide-2022-(WIP)?node-id=213%3A14506) is 6px, whil

[2022-11-11 18:45] xpkoala commented on #8660
I just found an entry locally that this is happening to.

Here is an image of what the database is returning for the software that is showing as a blank pip. I don't have access to the Dogfood db. I wonder if the version parameter being null is keeping the name from displaying?

![image](https://user-images.githubusercontent.com/11012743/201409502-00f0c4f2-aac4-453c-a8c9-7c3f7829040a.png)

[2022-11-11 18:50] xpkoala opened #8679 "Inherited policy count always shows all hosts"
**Fleet version**: `main`

**Operating system**: n/a

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
When browsing the policy page as a specific team, the inherited policy count would only show counts related to the hosts in the team.

### 💥  Actual behavior
The inherited policy count includes all hosts.

### More info
The picture below shows the inherited policies of the 'Workstations' t

[2022-11-11 18:57] xpkoala commented on #8661
Hrrm, the user isn't allowed to muck with the enroll secrets on a Sandbox instance. And I am able to download both a .pkg and .msi installer from a Sandbox instance.

Does this error coincide with any sort of outage on the infra side? @rfairburn Is there any more context you might have for how I could attempt to reproduce this issue?

[2022-11-11 19:14] rfairburn commented on #8661
@xpkoala I don't have any other context at this time.  It was not due to any outage as the fleet container itself returned the 500.  We reached out to the email registered to the sandbox to find out more from the user's end to see if that helps understand what they were trying to do, but I don't have any feedback yet.

[2022-11-11 19:24] xpkoala commented on #8661
Thanks! I'll keep this on my plate for now.

[2022-11-11 19:47] zhumo commented on #8409
@mike-j-thomas @eashaw is there a fleetdm.com version of this issue? I think it currently doesn't exist on the website?

[2022-11-11 19:54] eashaw commented on #8409
@zhumo Yes, The issue for the links on fleetdm.com is here: https://github.com/fleetdm/fleet/issues/8381. The issue was closed yesterday when #8410 was merged.

[2022-11-11 20:31] xpkoala commented on #8667
@lukeheath Am I correct in thinking that this fix will not apply to desktop instances that were built with the bug? I would need to generate a new installer for this fix to be present? If so does it make sense to add this as a "common question" item on the website?

[2022-11-11 20:33] lukeheath commented on #8667
@xpkoala

Fortunately, that will not be required. The bug was present in the Fleet web app, so the fix will be deployed as soon as the Fleet instance is upgraded to 4.23.0.

[2022-11-11 20:44] noahtalerman opened #8682 "Update Select targets UI to use AND filters"
- [ ] @lucasmrod  update backend code work 2pts
- [ ] @rfairburn  load testing 1pt

As a user in the live query console selecting targets, I want the UI to behave more intuitively.

Current behavior:
- Any target I select is unioned together

New behavior:
- Any target I select within one of the three categories (labels, teams, platforms) is understood as a union.
- But the combination of the cate

[2022-11-11 20:46] noahtalerman commented on #8682
@zayhanlon @ksatter this issue tracks a customer request prioritized during product office hours on 2022-11-10.

[2022-11-11 20:47] lukeheath commented on #8658
@noahtalerman Yep! I just put in a PR. I'll close this out when it merges.

[2022-11-11 21:04] #8660 closed

[2022-11-11 21:16] #8658 closed

[2022-11-11 21:31] zhumo commented on #8519
@noahtalerman does this approach work on older mac versions?

[2022-11-11 21:53] noahtalerman opened #8685 "Add ability to change a team's macOS settings (profiles)"
UPDATE: This epic is closed because the requirements will be covered by the following epic instead: #8360

### Goal

As a Fleet maintainer and admin, I want to be able update my macOS settings for hosts on a specific team so that I can keep my devices secure and compliant.

### Related
- Parent epic: #7726
- #8360

### Requirements

- When team profile is replaced, profile is automatically pushed

[2022-11-11 22:06] mike-j-thomas commented on #8302
Hi @zhumo and @noahtalerman. The wireframes for this are here:

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=10869%3A318853

[2022-11-11 22:07] zhumo commented on #8438
@noahtalerman if we switch to hostnames rather than host_ids, can I still take the host name and use it to query individual host details? Taht's the use case of including the host_ids, to cut down on extra API calls. Will hostnames not be unique?

[2022-11-11 22:14] xpkoala commented on #8546
I will add the above to product office hours.

[2022-11-11 22:40] xpkoala opened #8691 "Team id can fall off redirect when clicking on team dashboard view"
**Fleet version**: `main`

**Operating system**: n/a

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
After selecting a Team view on the dashboard page and clicking on a host view button (low disk space, OS, missing host) the user would be redirected to the hosts/manage page with the correct filters applied.

### 💥  Actual behavior
Randomly, the `team_id` value might fall off the redirect

[2022-11-11 23:22] chris-mcgillicuddy commented on #6734
@mike-j-thomas, I created the PR for this issue and updated the titles https://github.com/fleetdm/fleet/pull/8692.

How do I update Cloudflare redirects?

[2022-11-11 23:27] chris-mcgillicuddy commented on #7725
@mike-j-thomas, I don't see the Version support section in the handbook. @CharlotteChance, could this have been omitted when we reorganized the handbook?

[2022-11-12 00:16] chris-mcgillicuddy commented on #8636
PR has been created and merged https://github.com/fleetdm/fleet/pull/8693.

[2022-11-12 00:16] #8636 closed

[2022-11-12 00:24] jacobshandling opened #8695 "Login page returns 500 error when email field left empty"
**Fleet version**: v4.22.0

**Operating system**:  macOS 12.6

**Web browser**: Firefox 106.0.5 (64-bit)

<hr/>

### 🧑‍💻  Expected behavior
At login page, click "Login" or press return, UI should inform me that I need to enter an email.

### 💥  Actual behavior
Server returns status 500 error. Then when I hit browser "back," and repeat the same process, the UI prompts me to enter the missing info,

[2022-11-12 00:26] jacobshandling opened #8696 "Bug report template links to nonexistent document"
The document this question links to does not exist:

[2022-11-12 00:41] kswagler-rh opened #8697 "Incorrect configuration item name for vulnerability_settings"
**Fleet version**:  4.22.1

<hr/>

### 🧑‍💻  Expected behavior

In [the docs for vulnerability processing](https://fleetdm.com/docs/using-fleet/vulnerability-processing#configuration) the examples say to use the name "vulnerability_settings". However in this [file it  ](https://github.com/fleetdm/fleet/blob/428b3958ae4332b9978e3c72e0c966bec483b084/frontend/interfaces/config.ts#L185) it states that

[2022-11-12 01:21] mike-j-thomas commented on #6734
Thanks, @chris-mcgillicuddy. You can assign @eashaw and he will take it from here.

[2022-11-12 02:28] zhumo commented on #6803
@lukeheath is this something that only helps dogfood or can it be also applied to customer instances? Or, maybe, they need to go into their AWS (or equivalent) settings and implement it?

[2022-11-12 06:02] rhuddleston commented on #1845
Here is a Makefile and Dockerfile that will build both amd64 and arm64 and verified it works:

Makefile:
`VERSION=4.22.1
IMAGE=fleetdm/fleet:${VERSION}

.DEFAULT: buildx

buildx:
	@export DOCKER_CLI_EXPERIMENTAL=enabled
	@docker buildx build --build-arg VERSION=${VERSION} --platform linux/amd64,linux/arm64 -t ${IMAGE} --push .
	@echo
	@echo "The image has been built: ${IMAGE}"
	@echo`

Dockerfile:

[2022-11-13 18:14] jheidecker commented on #8021
This is only happening for me with LXC containers which all share a hardware UUID with the host. QEMU and VMWare work fine for what it's worth. Much research into changing or spoofing the UUID with LXC yielding no solutions.

As to the already-enrolled hosts: wouldn't they be incorrectly functioning anyway? I know mine was not just re-registering, they were sharing a host id which caused very whac

[2022-11-13 20:31] rhuddleston opened #8699 "exclude_paths for FIM in options.yml no longer works with latest 4.22 release"
**Fleet version**:  v4.22.1

**Operating system**: Ubuntu 20.04

**Web browser**: NA

<hr/>

### 🧑‍💻  Expected behavior

this syntax being accepted like it did in prior fleet releases when doing FIM https://osquery.readthedocs.io/en/stable/deployment/file-integrity-monitoring/:

          file_paths:
            ssh:
              - /home/%/.ssh/authorized_keys
          exclude_paths:

[2022-11-14 13:53] mna commented on #8648
Pinging @fx5 who worked on the new mdm stuff for Windows, I think the issue might be that the existing endpoints that were mac-only may now return some data for Windows because Windows now collects MDM information (in those same mdm tables). AFAICS there's no specific check for the OS in the `macadmins` endpoint.

[2022-11-14 14:05] noahtalerman commented on #8360
Mike McNeil: I want to see how teams apply to script execution and OS upgrades before we start developing team profiles (product design review 2022-11-11)

[2022-11-14 14:44] ghernandez345 commented on #8656
@mike-j-thomas Im not sure the query code editor padding change to 8px. It doesn't look wrong how it is currently and seems a bit weird with the added padding. It looks how i'd expect it to while coding with the padding.

**With padding**

![Image](https://user-images.githubusercontent.com/1153709/201688287-22278cdd-ee28-4529-9846-5c077f351180.png)

**Without padding**

![Image](https://user-image

[2022-11-14 14:57] RachelElysia commented on #8504
@noahtalerman Currently, it looks like you can click on software on the my device page and (once logged in) takes you to software details page.

1. Do we want to add route params to `/device/{id}` (e.g. /device/{id}/software) so device users can navigate back to that tab?
2. Do we want to allow access to software details pages for device users? Or should we remove the link for device users? It fee

[2022-11-14 15:30] noahtalerman commented on #7309
@jacobshandling I prefer on top. I think this should be the default.

In general, if it looks like placing the tooltips on top will cover a UI element the user can interact with (button) or will force the tooltip off the screen, then I think it makes sense to place the tooltips in another location (bottom, right, left, etc.).

I think it makes sense to follow the style guide. @ghernandez345 what d

[2022-11-14 15:31] lukeheath commented on #6803
@zhumo

As spec'd this issue would only help dogfood, and maybe sandbox instances if we also implement there.

Customers would need to configure it within their own instances, so instructions on doing that would be helpful. It may be possible for us to include gzip compression in the terraform/AWS one-click install, though. Platform engineers should have more insight into that.

[2022-11-14 15:36] noahtalerman commented on #8519
@sharvilshah what's the quickest and most accurate way for me to test this query on older macOS versions?

[code]

[2022-11-14 15:37] lukeheath commented on #8504
@RachelElysia The device user page should not have links on the software table. It should just shown plain text with or without tooltips for bundle identifier. This was corrected as part of https://github.com/fleetdm/fleet/issues/8667 in this release.

[2022-11-14 15:51] polak785 commented on #8482
Sorry for late reply.

@chiiph Yes indeed we have both redis and mysql in the same machine.
Only Fleet is running on the instance.
[code]
What others data you need?

Because the CPU usage is always low except after the occurence of log `scanning vulnerabilities`. Thus, maybe this is a task running after that but I don't have any log about it.
Here is the CPU usage before and after upgrading Fleet.

[2022-11-14 15:58] noahtalerman commented on #8649
@RachelElysia yep!

The expected behavior is selecting **Add secret** in the **Manage enroll secrets** modal closes the modal and opens the **Add secret** modal. Then, closing or hitting **Save** in the **Add secret** modal will close the modal. The user would see the **Hosts** page.

More generally, I prefer that the UI closes all modals after the user completes a workflow in a modal. In this cas

[2022-11-14 16:17] michalnicp commented on #7456
Is the Apple ID the email that was used in the `fleetctl generate mdm-apple` command? If yes, then I don't think we should be calling it an `Apple ID`. The email does not have to be associated with apple and would be confusing.

@noahtalerman @zwass

[2022-11-14 16:23] noahtalerman commented on #7456
@michalnicp this is the email that is associated with the APNs certificate obtained in Apple Push Certificate Portal.

We'd like to display the same APNs information that other MDM solutions display. See the screenshot from Jamf below:
![screen](https://user-images.githubusercontent.com/47070608/201711909-62febd3c-373d-4b32-b26d-3d43bb47d42b.jpg)

I think this email will be associated with the use

[2022-11-14 16:54] noahtalerman opened #8703 "Add ability to issue commands to macOS hosts"
## Problem

TODO

## Requirements

1. In CLI only, run MDM protocol commands (such as remote lock, wipe, etc.)
2. Document available commands

## Design
### UI

TODO

### API

TODO

### CLI

TODO

## Related

- Parent epic: #7726

### Child issues

Interface team
- TODO

Platform team
- TODO

Agent team
- TODO

Documentation
- TODO

[2022-11-14 16:57] noahtalerman commented on #8672
@zayhanlon I assigned you this issue. Here's the Google doc (internal) that we reviewed during the 2022-11-14 Export software request call: https://docs.google.com/document/d/1yR8E5ErM8bVydDKHOUOdR2jfdTO6KZKdfVk38sNwy8w/edit

[2022-11-14 17:13] michalnicp commented on #7456
According to https://docs.jamf.com/jamf-now/documentation/Setting_Up_Apple_Push_Notification_Service_APNs_Certificate.html, they simply ask you to enter the apple id used when uploading the signed csr to apply on https://identity.apple.com/pushcert/. It doesn't look like there is a way to determine the apple id used to issue the certificate ie by calling an apple API.

Should  we assume that `flee

[2022-11-14 17:13] xpkoala commented on #8696
@jacobshandling After looking at your last ticket did you also encounter this on v4.4.3? If so, could you please update to the latest version of Fleet and see if your issue is solved?

If you are still encountering the issue could you please attach a picture of where this link is in the application? Thank you!

[2022-11-14 17:21] zwass commented on #7456
We should assume Fleet is not running. Maybe we can just use the email provided in the cert request?

[2022-11-14 17:25] zwass commented on #8596
It seems fine to me to store the CN also in the SAN field and then use that value. Does that seem reasonable to you @mna?

[2022-11-14 17:25] ghernandez345 commented on #8656
@mike-j-thomas i've merged in the style fixes not including the `change top and bottom margins around the ace editor. also done on show query modal` task, as we want to include these fixes in the release. I felt it was better without the padding on the code editor. If you disagree please let me know and I can change this.

[2022-11-14 17:28] mna commented on #8596
@zwass I think so, I'm not too familiar with how much control we have over those values when we generate the cert , but I'll check with @michalnicp .

[2022-11-14 17:43] jacobshandling commented on #8696
@xpkoala (great username!) this is an issue with the GitHub configuration, not the actual fleet app. Here's a clip of how to reproduce it:

https://user-images.githubusercontent.com/61553566/201729140-95986b10-13c6-4043-bd41-2eb50e481099.mov

[2022-11-14 17:44] xpkoala commented on #8696
@jacobshandling Ah-ha! Thank you for pointing that out.

[2022-11-14 17:58] michalnicp commented on #8596
The cert issued by apple contains the cn. Until Apple changes this, I think it's fine to use it even though it's "deprecated".

[2022-11-14 18:12] jacobshandling commented on #8695
@xpkoala I took this video running the build directly from this repo's Main branch as of Friday, so it should be more up to date than the latest release, unless I'm misunderstanding something.

[2022-11-14 18:19] jacobshandling commented on #8695
@xpkoala ah, sorry – I incorrectly put version 4.4.3 in the issue here because my installation of fleetctl, and thereby the output of fleetctl --version, is outdated. I took this video running the build directly from this repo's Main branch as of Friday, so it should be more up to date than the latest release. Sorry for the confusion, I'll update fleetctl now.

[2022-11-14 18:38] michalnicp commented on #7456
I think it is a bad assumption to use the email from `fleetctl generate mdm-apple --email`. It is likely that the user would use a personal email address, or even their work assigned one. If they leave the company then that email address would be deactivated.

The apple id should be an email address that is "company-wide", unlikely to change, and perhaps only used for apns eg apns@company.domain.

[2022-11-14 18:52] zhumo commented on #8519
@noahtalerman oh never mind...I see that it's in the requirements. Let's leave that, if the engineering team is comfortable with that requirement. No need for you to test it.

[2022-11-14 19:10] roperzh opened #8706 "Can't use the output of `fleetctl get teams --yaml` to edit a team via `fleetctl apply -f`"
**Fleet version**: >=4.20

**Operating system**: all

<hr/>

### 🧑‍💻  Expected behavior

I can use the flow detailed below to edit teams via `fleetctl`

1. `fleetctl get teams --yaml > teams.yml`
2. `fleetctl apply -f teams.yml`

### 💥  Actual behavior

`fleetctl get teams --yaml` outputs a yaml file with fields that are not valid, so when I run `fleetctl apply -f teams.yml` the config is rejected

[2022-11-14 19:35] noahtalerman commented on #7456
New problem: When renewing APNs, I need to know which Apple ID I used to generate APNs. Otherwise I can't renew which means I can't use MDM features.

[2022-11-14 19:56] lukeheath opened #8708 "Access FileVault disk encryption key, store in Fleet database, and serve via API endpoints"
## Problem

IT admins use the [FileVault (disk encryption) feature](https://support.apple.com/en-us/HT204837) to require that macOS hosts use a password to unlock the disk.

If a contributor leaves an organization, the IT admin may need to see the data on the host. However, the IT admin doesn't have access to the contributor's password.

Currently, IT admins use their MDM solution to retrieve the

[2022-11-14 20:13] noahtalerman commented on #8572
What is success for Fleet Sandbox?
- Users at company of 100+ employees scheduled a demo with sales. Why? This is my understanding of the current strategy:
  - Company with 100+ employees to attends demo -> sales sells POC to the customer -> solution architect gets the customer to be successful with the POC -> purchase

What makes these users likely to schedule a demo with sales team?
- See the vi

[2022-11-14 20:21] lukeheath opened #8709 "Provide MDM-enrolled host disk encryption key to Fleet users through Fleet UI"
## Problem

IT admins use the [FileVault (disk encryption) feature](https://support.apple.com/en-us/HT204837) to require that macOS hosts use a password to unlock the disk.

If a contributor leaves an organization, the IT admin may need to see the data on the host. However, the IT admin doesn't have access to the contributor's password.

Currently, IT admins use their MDM solution to retrieve the

[2022-11-14 20:45] rhuddleston opened #8710 "3x CPU increase after upgrading to 4.22"
**Fleet version**:  4.22.1

**Operating system**: ubuntu 20.04

**Web browser**: NA

<hr/>

### 🧑‍💻  Expected behavior

similar CPU usage when upgrading between minor versions of fleet or an option to turn of a new feature we might not need if it's related to something like that?
<img width="1348" alt="image" src="https://user-images.githubusercontent.com/3074008/201761355-fc12f4dc-7248-4314-86b2-

[2022-11-14 21:42] jcgruenhage commented on #8541
Sounds like a very reasonable approach. Thanks for being open to contributions
that add improve support for distributions you don't want to (or rather, aren't
able to because of time constraints) officially support.

This is perfectly fine, and I'd never expect more than this. Working on
supporting niche distros just simply doesn't make sense for you, and that's
okay.

osquery doesn't have support

[2022-11-14 21:51] lukeheath commented on #8594
Note the API endpoints. The current convention is to use underscores and not dashes, for example: `api/v1/perform_required_password_reset`. Any objections to changing the endpoint in this issue to `get_signed_apns_certificate`?

[2022-11-14 22:28] noahtalerman opened #8711 "Help user remember Apple ID used to connect Fleet to Apple Push Certificates Portal"
## Problem

TODO

## Requirements

1.
2.
3.

## Potential Solutions

- [ ]

[2022-11-14 22:30] noahtalerman commented on #8596
@mna heads up, we removed the Apple ID requirement from the parent issue:

This is a separate problem that we'll address later. Here's the issue:

This means that, for now, we won't store and present Apple ID information.

cc @michalnicp

[2022-11-14 22:48] chris-mcgillicuddy commented on #6734
@eashaw, I've updated the titles of our deployment guides. Mike T. said to assign this issue to you to update Cloudflare redirects.

[2022-11-14 22:56] lukeheath commented on #7254
@ghernandez345 I'm assigning this "In development" epic to you as the DRI because you are driving the front-end testing strategy. Looks like we're close to closing this epic out based on the child issues unless you decide to add more.

[2022-11-14 22:59] CharlotteChance commented on #7725
@chris-mcgillicuddy looks like it was migrated to engineering as a support item
https://fleetdm.com/handbook/engineering#community-support

[2022-11-14 23:19] chiiph commented on #8541
That's a good question. We have queries that depend on extensions, but they are extensions that we are maintaining. The way we do this is by using discovery queries, but for software, it'd be tricky cause we rely on multiple tables.

You could add it as a separate query and ingest it separately, though. That would be a bit more involved in terms of code, but it shouldn't be different than the patt

[2022-11-14 23:23] chris-mcgillicuddy commented on #7725
Thanks, @CharlotteChance! @mike-j-thomas, do we still want to pull this content out of the handbook now that it's under Engineering?

[2022-11-15 00:06] chris-mcgillicuddy commented on #8588
Fleet 4.23.0 release blog post is live: https://fleetdm.com/releases/fleet-4.23.0.

[2022-11-15 14:50] #4754 closed

[2022-11-15 14:50] #7440 closed

[2022-11-15 14:50] #7494 closed

[2022-11-15 14:50] #7675 closed

[2022-11-15 14:50] #7830 closed

[2022-11-15 14:50] #7860 closed

[2022-11-15 14:50] #7864 closed

[2022-11-15 14:50] #7905 closed

[2022-11-15 14:50] #7947 closed

[2022-11-15 14:50] #8002 closed

[2022-11-15 14:50] #8033 closed

[2022-11-15 14:50] #8049 closed

[2022-11-15 14:50] #8113 closed

[2022-11-15 14:50] #8145 closed

[2022-11-15 14:50] #8212 closed

[2022-11-15 14:50] #8226 closed

[2022-11-15 14:50] #8306 closed

[2022-11-15 14:50] #8307 closed

[2022-11-15 14:50] #8336 closed

[2022-11-15 14:50] #8344 closed

[2022-11-15 14:50] #8383 closed

[2022-11-15 14:50] #8384 closed

[2022-11-15 14:50] #8387 closed

[2022-11-15 14:50] #8388 closed

[2022-11-15 14:50] #8391 closed

[2022-11-15 14:50] #8394 closed

[2022-11-15 14:50] #8401 closed

[2022-11-15 14:50] #8402 closed

[2022-11-15 14:50] #8433 closed

[2022-11-15 14:50] #8439 closed

[2022-11-15 14:50] #8443 closed

[2022-11-15 14:50] #8444 closed

[2022-11-15 14:50] #8449 closed

[2022-11-15 14:50] #8467 closed

[2022-11-15 14:50] #8473 closed

[2022-11-15 14:50] #8509 closed

[2022-11-15 14:50] #8539 closed

[2022-11-15 14:50] #8546 closed

[2022-11-15 14:50] #8552 closed

[2022-11-15 14:50] #8555 closed

[2022-11-15 14:50] #8560 closed

[2022-11-15 14:50] #8608 closed

[2022-11-15 14:50] #8622 closed

[2022-11-15 14:50] #8635 closed

[2022-11-15 14:50] #8637 closed

[2022-11-15 14:50] #8639 closed

[2022-11-15 14:50] #8648 closed

[2022-11-15 14:50] #8656 closed

[2022-11-15 14:50] #8667 closed

[2022-11-15 14:50] #8679 closed

[2022-11-15 14:50] #8699 closed

[2022-11-15 14:52] noahtalerman commented on #8360
Mike and Mo, can you please provide feedback on the following proposed UI changes? After these changes are reviewed, this issue will be ready for estimation.

- A separate page for **Ticket destinations**. I'd like to separate the UI for the Jira and Zendesk integrations from the MDM integration so that the user.
- Name "Ticket destinations." I'd like to bucket the Jira and Zendesk integrations un

[2022-11-15 14:56] noahtalerman commented on #8609
Mike and Mo, can you provide feedback on the following proposed UI changes? After these changes are reviewed, this issue will be ready for estimation.

- "A device user unboxed..." and "MDM was automatically turned on" phrasing. I'd like to let the Fleet user know that the device has MDM features turned on and what occurred to make this happen (unboxed) in the activity feed. Using "device user" be

[2022-11-15 16:02] xpkoala opened #8720 "Geolocate standard query fails"
**Fleet version**: 4.23.0

**Operating system**: n/a

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
The new geolocate query would run as intended.

### 💥  Actual behavior
error `near "FROM": syntax error`

### More info
query:
[code]

[2022-11-15 16:16] xpkoala commented on #8720
Removing the trailing `,` at the end of line 6 and re-running the query returns:
error `malformed JSON`.

[2022-11-15 17:35] xpkoala commented on #8720
Removing the trailing `,` on line 6 should solve the original issue.

There is a second issue we are investigating related to this query and the malformed JSON message mentioned in the last comment.

[2022-11-15 18:08] zhumo commented on #8609
@noahtalerman Can we add serial number there? I think people won't remember who Anna Chao is, but having the serial number tells you what you need

[2022-11-15 18:11] zhumo commented on #8360
@noahtalerman @mikermcneil I think the IA looks good here. However, in its current position, I think that it's strange that you would go to Settings > Integrations > MDM in order to upload a profile for global or team. It seems buried. It seems like it should be more of a first class citizen.

Also, is there a CLI command to do this?

[2022-11-15 18:23] #6405 closed

[2022-11-15 18:24] chiiph commented on #8222
The docs were updated. Closing.

[2022-11-15 18:24] #8222 closed

[2022-11-15 18:27] mike-j-thomas commented on #7725
@chris-mcgillicuddy, I think it makes sense to include it in the docs because it's relevant to Fleet users, not just team members.

I think adding it as a question, "What versions of Fleet are currently supported" above https://fleetdm.com/docs/deploying/faq#can-i-skip-versions-when-updating-fleet-to-the-latest-version is a good place to put it in the docs.

[2022-11-15 18:29] xpkoala commented on #8720
@lukeheath It doesn't appear this went through the interface flow originally. https://github.com/fleetdm/fleet/pull/8483

[2022-11-15 18:35] lukeheath commented on #8720
@xpkoala Got it. I'm removing the interface label and assigning this to @zhumo.

[2022-11-15 18:38] zhumo commented on #8720
Oops. thanks all.

@lukeheath are PRs like that supposed to go through the interface board?

[2022-11-15 18:39] lukeheath commented on #8720
@zhumo Nope! PRs don't need to go through the board. I was asking so I knew who to assign it to (the person who added the query.)

[2022-11-15 18:45] lukeheath opened #8724 "Add new `generate mdm-apple-bm` command to `fleetctl`"
## Goal

As a Fleet admin, I want to be able to connect Fleet to my Apple Business Manager account so that I can automatically enroll new, macOS hosts to Fleet. This way, I can order a new MacBook that automatically appears in Fleet when it's unboxed.

## Related
- Parent epic: #7515

## Requirements
- Fleet Premium only
- Fleet admin can generate a public key for Apple Business Manager (ABM)

##

[2022-11-15 18:48] lukeheath opened #8725 "Add new configuration options for Apple Business Manager"
## Goal

As a Fleet admin, I want to be able to connect Fleet to my Apple Business Manager account so that I can automatically enroll new, macOS hosts to Fleet. This way, I can order a new MacBook that automatically appears in Fleet when it's unboxed.

## Related
- Parent epic: #7515

## Requirements
- Fleet Premium only
- Fleet admin can configure a server token for ABM
- Add docs for renewing th

[2022-11-15 18:54] lukeheath opened #8726 "Add new `get mdm-apple-bm` command to `fleetctl`"
## Goal

As a Fleet admin, I want to be able to connect Fleet to my Apple Business Manager account so that I can automatically enroll new, macOS hosts to Fleet. This way, I can order a new MacBook that automatically appears in Fleet when it's unboxed.

## Related
- Parent epic: #7515
- #8870

## Requirements
- Fleet Premium only
- Fleet admin can use `get mdm-apple-bm` to check the status of Apple

[2022-11-15 18:55] zhumo commented on #8372
Hey @mike-j-thomas @eashaw Another one for Eric's queue...

[2022-11-15 19:25] mike-j-thomas commented on #8372
Thanks, @zhumo!

[2022-11-15 19:44] roperzh opened #8729 "TLS curl queries fail in some hosts"
orbit:

[code]

osquery:
[code]

host info: 13-inch, M1, 2020 running macOS 13.0.1 (22A400)

<hr/>

### 🧑‍💻  Expected behavior

Running a curl query to an HTTPS server works.

### 💥  Actual behavior

[code]

### More info

- This doesn't happen in all hosts with orbit, so far we have been only able to reproduce in my @xpkoala's and my machine.
- @xpkoala found this while trying to execute the quer

[2022-11-15 19:58] xpkoala commented on #8720
Your fix looks good @zhumo. Just as a heads up we found https://github.com/fleetdm/fleet/issues/8729 that might occur when running the query against some hosts on Dogfood.

[2022-11-15 20:38] mna commented on #7456
@noahtalerman It's unclear to me what you mean in the `Error states` section for:

You mention:

We cannot "reuse pre-existing certs", we use whatever cert is provided in the `fleet serve` flag. If it is invalid, the `fleet serve` command exits with an error and the user must restart it with the flag pointing to a valid cert.

[2022-11-15 21:42] lukeheath commented on #7515
@noahtalerman

1. Under **Step 2 - Configure the server token in Fleet**, the new config options `mdm_apple_bm_server_token` and `mdm_apple_bm_key` are shown being set via command line flags and config yaml. By convention, we'll also include the ability to set these values with environment variables. Just a heads up.

2. Under **Changing default team for ABM auto-enrollment**, `apple_bm_default_te

[2022-11-15 21:56] lukeheath opened #8733 "Add new configuration option to set default team for Apple Business Manager"
## Goal

As a Fleet admin, I want to be able to connect Fleet to my Apple Business Manager account so that I can automatically enroll new, macOS hosts to Fleet. This way, I can order a new MacBook that automatically appears in Fleet when it's unboxed.

## Related
- Parent epic: #7515
- #8725

## Requirements
- Fleet Premium only.
- Fleet admin can configure the team that ABM hosts are added to whe

[2022-11-15 22:42] michalnicp commented on #8223
This should be changed to "return the signed csr". The csr must be uploaded to apple at https://identity.apple.com/pushcert/ and the certificate is then downloaded. We cannot do this for the user, because that would require asking for their apple credentials.

Also, looking at the draft pr https://github.com/fleetdm/fleet/pull/8408 and https://github.com/fleetdm/fleet/pull/8282 it seems like we in

[2022-11-16 09:11] jcgruenhage commented on #8541
I'll try looking into the fleet side of things later on. The extension is working properly now, if anyone is interested feel free to take a look over at https://git.jcg.re/jcgruenhage/osquery-voidlinux/src/branch/main/src/main.rs. Except for various side-quests in the libraries involved, this was surprisingly straight-forward.

[2022-11-16 12:38] nunesvn commented on #6717
Hello @michalnicp. Answering some of your questions:

I'm now on 4.23.0. I'm receiving 18 CVE notifications and 1 Policy notification, every hour. The Policy notification started in the last days (while still running 4.22.1).

`host_batch_size`: I don't have this setting on `fleet config_dump`.

For the CVEs listed below, I have 2 hosts, one CentOS 7 and one Rocky 8.

CVEs:
2022-3821
2022-39253
20

[2022-11-16 14:24] noahtalerman commented on #8609
Yes. I agree with your reasoning.

[2022-11-16 14:34] noahtalerman commented on #7456
@mna good point. The desired behavior is the one you describe above. I updated the issue description to reflect this.

[2022-11-16 14:44] noahtalerman commented on #7805
@lukeheath I moved this ticket to the estimated column. Somehow this ticket ended up in the prioritized column.

[2022-11-16 15:02] xpkoala opened #8737 "ECS cluster fails on first creation"
**Fleet version**: 4.21.0

**Operating system**: aws marketplace

**Web browser**:

<hr/>

### 🧑‍💻  Expected behavior
Setting up an ECS cluster would the first time a user spins up an instance.

### 💥  Actual behavior
The ECS cluster fails to start.

### More info
This appears to only happen on the first attempt at standing up an instance and might be a Cloudwatch bug.

[2022-11-16 15:16] boorishboy commented on #8729
I'm experiencing a similar problem but only when the query is being run from Fleet UI. When running from `orbit shell` it returns as expected.

Fleet UI query response:

 bytes | method | response_code | result | round_trip_time | url | user_agent
 -- | -- | -- | -- | -- | -- | --
   | GET |   |   |   | https://ipapi.co/json | osquery

`orbit shell` response:
 bytes | method | response_code | resu

[2022-11-16 15:28] nunesvn commented on #6717
Hello @michalnicp . I'm now on 4.23.0 and stopped receiving the same CVE notifications every hour. Thank you!

But now I see that I'm receiving a Policy notification every hour. I don't know exactly when it started (it was mixed with the CVE ones) but it was in the last days (while still running 4.22.1).

Any ideas?

[2022-11-16 16:00] lukeheath commented on #8708
@noahtalerman Based on the conversation with @fx5 in [Slack](https://fleetdm.slack.com/archives/C03B7K2MSNS/p1667313678928669), it appears `/var/db/ConfigurationProfiles/fdesetup.plist` is not a universal file, and the provided query will not work for many hosts. How would you like to handle this ticket?

[2022-11-16 16:02] lukeheath commented on #7805
@noahtalerman Thanks for calling this out. Yes, it should be on the release board. Moving it there now.

[2022-11-16 16:25] michalnicp commented on #6717
Hi @nunesvn, I may open a new issue for this, but I would like to ask a few questions first.

1. Are you using a webhook, jira, or zendesk integration?
2. Are the same hosts appearing in the failing policy each time, or does it change?
3. What is the query for the failing policy?
4. Do you see any errors in the logs?

[2022-11-16 16:51] michalnicp commented on #8594
Also, suggest to change this to `/get_signed_apns_request` or `/get_signed_apns_csr`. We are returning a signed csr, not a certificate. The certificate is downloaded later from apple.

[2022-11-16 17:05] xpkoala opened #8739 "Keyboard and mouse event config fail on fleet app"
**Fleet version**: 4.23.0

**Operating system**: n/a

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
Enabling mouse and keyboard flags in agent options would succeed.

### 💥  Actual behavior
The following flags fail with an error.
[code]
### More info
![image](https://user-images.githubusercontent.com/11012743/202235378-434f479a-ae00-474f-b7e5-ca09dd0abb3f.png)

[2022-11-16 17:22] michalnicp opened #8741 "Dep profile not assigned when mdm server modified"
**Fleet version**: 9d8a8ca07e09f2d0197650fbe4ae1eac62e099f3

<hr/>

### 🧑‍💻  Expected behavior

In Apple Business Manager, when a device is assigned to the fleet MDM server, the automatic dep profile should be assigned to it.

### 💥  Actual behavior

Dep profile is not assigned.

### More info

This works correctly when unassigning the device from the previous MDM server, than assigning it to the

[2022-11-16 17:42] zwass commented on #8594
Yes, please make the suggested changes to the API endpoints in the issue description above.

[2022-11-16 18:12] noahtalerman commented on #8708
Ok! Thanks for calling this out.

My understanding is that…
- `/var/db/.../fdesetup.plist` is sometimes the location for the FileVault key only if FileVault is turned on by MDM solution. This file is not present if the user turned on FileVault.
- the `/var/db/.../fdesetup.plist` location is not used by all major MDM solution (SimpleMDM, Jamf, Kandji, JumpCloud) so we shouldn’t query this location

[2022-11-16 18:17] fx5 commented on #8708
@noahtalerman as I understand it, this file location is probably only valid for the mdm solution/settings we are using.

[2022-11-16 19:12] lukeheath commented on #8594
Updated!

[2022-11-16 19:19] rfairburn commented on #8737
It looks like to avoid the race condition that causes this, I can manually create a service-linked role with the
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-servicelinkedrole.html resource with an `AWSServiceName` of `ecs.amazonaws.com`.

I'll see if I can reproduce the issue by manually deleting my test accounts service-linked role and applying.

[2022-11-16 19:27] mna commented on #8739
@xpkoala Did you see somewhere that those flags are supposed to be valid?

I'm checking locally with osquery and I don't see those flags:

[code]

Same when looking via osqueryi with the query `osquery> select * from osquery_flags where name like 'enable_%';`, there's no trace of those two flags (though it's possible that they are OS-specific, and I wouldn't see them because I'm on Linux). I searc

[2022-11-16 19:31] zwass commented on #4149
@artemist-work hey can you please estimate this?

[2022-11-16 19:31] mna commented on #8739
@xpkoala Ah I just did a search in the `osquery` repo and it does seem like those are darwin-only flags... This will get real tricky to keep track of what is valid if it means scanning the code on each new version :/ In any case, I'll add them manually for macOS.

[2022-11-16 19:40] michalnicp commented on #8708
There may be a way to get the recovery key using mdm. According to [Manage FileVault with mobile device management](https://support.apple.com/en-ca/guide/deployment/dep0a2cb7686/web) you can install a [FDERecoveryKeyEscrow](https://developer.apple.com/documentation/devicemanagement/fderecoverykeyescrow) profile which will allow mdm to get the FDE_PersonalRecoveryKeyCMS field from the SecurityInfo

[2022-11-16 19:40] lukeheath commented on #7235
@RachelElysia Just checking in on the status of this ticket. It's the last in the [testing epic](https://github.com/fleetdm/fleet/issues/7254), so once this is finished, we can close out that epic. Let me know if I can assist. Thanks!

[2022-11-16 19:50] artemist-work commented on #4149
I think around 2 days seems good, the code is fairly simple but the more challenging part for me is finding out where to put it.

[2022-11-16 20:10] xpkoala commented on #8739
@mna Sorry for the delay, this came up when testing a few different tables with @sharvilshah earlier today. Sharvil, I'm not sure if you would have any thoughts on how we can track some of these flags?

[2022-11-16 20:24] mna commented on #8739
@xpkoala No worries, I thought about searching the codebase literally just after posting the first comment.

@sharvilshah One thing I noticed is that flags tend to be defines using a pattern like `FLAGS_flagname`, so I ended up grabbing them all using `ag --nofilename -o 'FLAGS_[a-z0-9_]+' | sort | uniq | cut -d _ --complement -f 1` (ag is the silver searcher, similar to grep). That seems to work

[2022-11-16 20:30] zhumo opened #8744 "Guide for containers"
## Problem

If I have containers on my server and I want to monitor it, what monitoring is possible to do with osquery? What is not possible? How do I set it up? What queries should I write? What do the various tables mean? What considerations should I weigh when doing this (performance, data quantity, etc.)?

## Requirements
1. WE have content that
2.
3.

## Potential Solutions

- [ ] A guide a l

[2022-11-16 21:05] lukeheath commented on #7515
@mna Assigning this epic over to you to review specs and add estimates. Please assign back to me once the child issues have been estimated. Thanks!

[2022-11-16 21:33] noahtalerman commented on #8708
There is!

That said, a requirement for this issue was to get the key without using MDM. This way, both users who have MDM features turned on in Fleet and users who don't (some other MDM solution) can access the recovery key.

If there isn't a consistent location for the key, then we'll come back to using the MDM escrow functionality.

Got it. By MDM solution I assume you mean "SimpleMDM."

I ran

[2022-11-16 21:34] mna commented on #7871
As suggested by @roperzh here: https://github.com/fleetdm/fleet/pull/8743#pullrequestreview-1183311973

This CI would run the latest osquery release and execute `osqueryd --help` on Windows, macOS and Linux and compare the output to the list of flags we currently know about, and would fail if it finds any that we don't know about.

[2022-11-16 21:50] lukeheath opened #8746 "Research: Is there a common location MDM solutions keep the FileVault encryption key?"
As a Fleet user, I want to be able to consistently access the FileVault encryption key on macOS hosts that are enrolled in any supported MDM solution.

We want to use this query:

[code]

To access the FileVault encryption key. We have confirmed that `/var/db/ConfigurationProfiles/fdesetup.plist` exists for hosts enrolled in SimpleMDM, and does not exist in hosts that are unenrolled in MDM. Note t

[2022-11-16 21:51] lukeheath commented on #8746
@fx5 I am assigning this ticket to you to bring to estimation next week. Please let me know if you have any questions. Thanks!

[2022-11-16 21:54] lukeheath commented on #8708
@noahtalerman

No problem. I spec'd this as a separate research issue: #8746. It will take a bit of effort to install and test the various MDM solutions, so I'd like to estimate with the team so it can be allocated into the next release cycle.

[2022-11-16 22:30] lukeheath commented on #8746
@fx5 Once this is estimated (or if there isn't enough information to estimate) please assign back to me. Thanks!

[2022-11-16 22:30] michalnicp commented on #7515
The `fleetctl get mdm-apple-bm` command outputs a lot of information that is not relevant to the dep token that gets created as part of `fleetctl generate mdm-apple-bm`. Are these supposed to be complimentary? If no, perhaps we should change the name of the command to avoid confusion and only output relevant information to the dep token.

[code]

I am assuming the "Renew date" here is the date the

[2022-11-16 22:41] lukeheath commented on #8746
@noahtalerman We'll need to see what is involved in setting up and enrolling in each MDM solution. I expect that it will take quite a bit of time. We'll need to sign up for a trial for each solution, set up a new MDM instance, enroll a Mac in it, and confirm the file location. It would be nice if setting up each option was as easy as Fleet, but probably not :)

I wonder if it's possible to get the

[2022-11-16 22:50] michalnicp commented on #7515
In the following config

[code]

are we expecting to set a different default team for automatic vs manual enrollments? Are we missing a config field for manual enrollments? Why are we prefixing with `apple_bm`, this is not a setting that is applied in Apple Business Manager, or even in the dep profile that gets assigned to devices.

I propose that we change this to `default_team` and make it so de

[2022-11-17 00:37] roperzh commented on #8594
note that `micromdm/scep` uses the  [following defaults](
https://github.com/micromdm/scep/blob/699e8df4494ae17445464d664e3856fdecbc01c0/cmd/scepserver/scepserver.go#L190-L198) when generating the SCEP certificates:

[code]

most notably, the default validity is 10 years. Pointing this out because with the current spec we're not letting users configure almost any of this, so it might help to set s

[2022-11-17 00:40] roperzh commented on #7456
@noahtalerman @zhumo really loving this spec, a couple of notes:

1. Would it be possible to simplify the output of "Step 1 - Generate certificates and keys"? Feels a bit overwhelming and I worry that the two key things we want to communicate might get lost:
    1. We generated some files locally
    2. You should check your email
2. A heads-up that I replaced a few occurrences of `apple-dev` with

[2022-11-17 10:53] lukeheath commented on #8746
@fx5 I'm going to take this ticket back to do a bit more research before we try to estimate.

[2022-11-17 11:14] lukeheath commented on #7515
@michalnicp Thanks for your comments. @mna will be back online Monday and is taking over the specs from here.

[2022-11-17 12:30] lukeheath commented on #8746
@noahtalerman @zhumo I spent some time researching how other MDM solutions handle FileVault keys. I've updated the issue description with relevant links and takeaways.

I feel confident that SimpleMDM and Jamf will work using the filesystem/osquery approach to retrieve the FileVault key. Both Kandji and JumpCloud escrow their keys, with no mention of storing them in the filesystem, so I expect thi

[2022-11-17 12:51] lukeheath opened #8751 "Add MDM feature flag"
## Problem

As an Engineer, while working on MDM features across several release cycles, I need a way of enabling MDM so that I can work on elements in the UI without the features being visible to everyone.

## Business Case

This will allow us to avoid a long-lived featured branch that must be maintained until the feature is released.

### Related
- Parent: #7726

## Requirements
1. Add a `FLEET_

[2022-11-17 16:08] GuillaumeRoss commented on #8741
Had this issue on a laptop when removing and assigning, so it might not be just when we edit the MDM server.

[2022-11-17 17:01] roperzh commented on #8741
Looking at the logs for the specific case Guillaume mentioned above, seems like it takes a few minutes for the DEP sync endpoint to report that  the device has changed. Definitely requires more digging, but this might be a good starting point.

[2022-11-17 17:28] zhumo commented on #7456
1. I agree the instructions could be improved. I updated it a bit.
2. @noahtalerman where did we land on the naming for this? `apple-dev` `apns` `mdm-apple` etc.?
3. My understanding is that all SCEP management can be done automatically by us. If anything, we would like to expose users to the concept of SCEP even less...

[2022-11-17 17:32] zhumo commented on #8746
Thanks Luke! I think we can go with #1. Compatibility with other MDMs is a bonus.

[2022-11-17 17:41] mike-j-thomas commented on #8372
Hey @zhumo, how's this for the email content? Could use some wordsmithing, but is this roughly what you need?

cc @eashaw

![CSR email](https://user-images.githubusercontent.com/78363703/202518395-cf9bcf49-265e-411e-8db1-9eed587622c7.jpg)

[2022-11-17 17:50] zhumo commented on #8372
Hey @mike-j-thomas @eashaw. I think that overall looks good. A few notes:

1. Just the CSR is attached. there is no additional key.
2. In step 1 in the email, we recommend you use a shared company email, like IT@acme.com, rather than an account attached to your name. If you leave the company they'll have a lot of trouble switching over. Or, less dramatically, if someone else does the update, you'l

[2022-11-17 17:50] zhumo commented on #8372
Hey @mike-j-thomas @eashaw. I think that overall looks good. A few notes:

1. Just the CSR is attached. there is no additional key.
2. In step 1 in the email, we recommend you use a shared company email, like IT@acme.com, rather than an account attached to your name. If you leave the company they'll have a lot of trouble switching over. Or, less dramatically, if someone else does the update, you'l

[2022-11-17 19:53] jacobshandling commented on #7902
@noahtalerman can you confirm that the disk space bar should be in a direct relationship with available disk space of a host, not inverse? that is, if a host has 95% of its disk space available, the disk space graph's colored bar be taking up 95% of the full width, right?

[2022-11-17 20:10] lukeheath commented on #8708
@mna Based on Mo's [comment](https://github.com/fleetdm/fleet/issues/8746#issuecomment-1318975417) in #8746 we have approval to move forward with this ticket as spec'd.

Based on my research, we expect that SimpleMDM and Jamf can be configured to place the plist file in the filesystem, but Kandji and JumpCloud cannot.

We are most concerned with it working for our MDM solution, and any others will

[2022-11-17 20:11] lukeheath commented on #8746
Sounds good. With that decision, I'm going to close out this ticket. I've provided an update on #8708

[2022-11-17 20:11] #8746 closed

[2022-11-17 20:46] zhumo commented on #8706
Hey Roberto, thanks for submitting this bug. Going forward, if you find a bug that you're able to confirm yourself, please tag it with the appropriate team (your best guess) and put it on the release board. More details can be found here: +rJNVlvU+s38QYyyDvQcTU2uYWAWzfMYh8lF+tsQp16AqgstT5mQI2e2vLmOycC0sx7Ho2DxnTXiI1MU6IJXqQ==

[2022-11-17 20:46] zhumo commented on #8706
Also, bugs can go straight to the bug release board for the appropriate team. Doesn't need to be reported to product office hours!

[2022-11-17 20:48] roperzh commented on #8706
@zhumo gotcha! we weren't sure with @mna if the output of `fleetctl get teams --yaml` should also be valid for setting configs or not. Arguably things like `host_count` are also valid team attributes, so we thought this needed product input.

[2022-11-17 21:16] lukeheath commented on #8302
@zhumo Yep, it's in the "Designed" column on the Roadmap board, which is where I pick it up from. I'll always start at the top and work down, so it looks like it's prioritized appropriately (below mdm).

[2022-11-17 21:17] lukeheath commented on #7902
@jacobshandling, I can confirm you are correct. I had the same question :) The bar graph represents available space, so the more space available, the longer the bar.

[2022-11-17 21:19] lukeheath commented on #8706
@mna Assigning this over to you to look into. Please ping Mo if you need any product input to address this. Thanks!

[2022-11-17 21:28] zhumo commented on #8706
@roperzh ah ok. Yeah that's a valid product question and you're right to put it in there then. Could include that question specifically so we know.

[2022-11-17 22:02] zhumo opened #8759 "Track usage of integrations for vulns and policies"
## Problem

Currently, we are not tracking usage of vulns and policies in our anonymous usage statistics. It is a blind spot for us in our efforts to understand how successful our features are.

## Business Case

This will enable Fleet to better understand our uses and identify whether there is a gap in our customer understanding

## Measurement
- Requested metrics are tracked and accurate

## Req

[2022-11-17 23:49] zhumo commented on #8746
Hey @noahtalerman re: the above. Do we need to adjust the migration instructions and potentially the UI in order to accommodate this above? I think previously we had thought that the Filevault query would "just work" but I just want to. make sure we're covering the cases.

[2022-11-18 13:26] chiiph commented on #7067
Closing this one since it's internal and already done.

[2022-11-18 13:26] #7067 closed

[2022-11-18 14:13] mike-j-thomas commented on #8372
Thanks, @zhumo. https://support.apple.com/en-gb/HT210737

Sign-in options from the portal include signing in with an Apple ID or creating a new one. For the wording on our email, are we recommending that users sign in with either a company-issued Apple ID or create a new Apple ID using a shared company email address?

In the meantime, I think @eashaw is good to continue while we lock down this tex

[2022-11-18 14:21] mike-j-thomas commented on #8372
I used "shared company Apple ID" here. Apple uses "managed Apple IDs," but they may be different.

<img width="570" alt="image" src="https://user-images.githubusercontent.com/78363703/202725679-f26a51ab-45fb-4b78-b75e-143558ddebc0.png">

[2022-11-18 15:11] lukeheath opened #8762 "Stand up two instances of Fleet (Free and Premium) for E2E testing to enable QAWolf"
## Problem

We have engaged [QAWolf](https://www.qawolf.com/) to write and maintain a new E2E testing suite. Their tool does not run within our CI pipeline like our current E2E suite but instead needs access to a live version of the app (Free and Premium) to run their tests against.

We want to auto-update both instances from `main` once per day. Early morning is ideal, so we know at the start of

[2022-11-18 15:15] lukeheath commented on #8762
@chiiph @zhumo Please review this ticket for platform prioritization. Just let me know if you have any questions.

[2022-11-18 16:00] sharvilshah commented on #8708
@noahtalerman Not aware of any standard location per se, `/Library/Application Support/...` could be a viable one as well.

Yep! Agree, and this will only work in the mdm-case (which is fine).

[2022-11-18 16:17] RachelElysia commented on #8430
@mike-j-thomas @noahtalerman Could either of you help grab 2 new screenshots?

We currently have 4 example screenshots (jira and zendesk x premium and nonpremium) that need replacing.

The Figma only has 2 non-premium example ticket screenshots so I'll need 2 premium example ticket screenshots. Premium example screenshots also include probability of exploit on them (as well as the new critical inf

[2022-11-18 16:18] noahtalerman commented on #8430
@RachelElysia yes! Great catch. Mike, I will take this.

[2022-11-18 16:20] mike-j-thomas commented on #8430
Good spot, @RachelElysia. Thanks, @noahtalerman!

[2022-11-18 16:21] xpkoala commented on #8697
Thank you for the report @kswagler-rh!

[2022-11-18 16:25] xpkoala commented on #8710
@rhuddleston Thank you for the report and apologies for the unexpected increase. I'll get this ticket in front of the platform team who can help diagnose what's going on.

[2022-11-18 16:37] lukeheath commented on #7975
@RachelElysia @ghernandez345 I renamed this to a general "audit and improve frontend security" epic. I've added a TODO for one child issue, removing `dangerouslySetInnerHTML`. Please add more TODOs (or create and link child issues) for other security items you think would be worth considering.

[2022-11-18 17:30] xpkoala commented on #8710
@chiiph This sounds potentially similar to https://github.com/fleetdm/fleet/issues/8482

[2022-11-18 18:03] mikermcneil commented on #8210
Thanks @xpkoala, will do.  FYI I haven't had a chance to go into the product and try reproducing this again yet.

[2022-11-18 19:06] #8720 closed

[2022-11-18 19:09] chiiph commented on #8710
Thanks for the ping! Hm... I don't think it's the same though, this doesn't look like it peaks like #8482.

@rhuddleston hi there, I would love to see those profiles. If you don't mind reaching out to me in osquery slack with the profiles, that would be great. We added a bunch of features across these versions.

Are you using Orbit or Fleet Desktop?

[2022-11-18 19:36] lukeheath commented on #8762
In the interim, I've set up a load-testing environment for them: https://qawolf-testing.loadtest.fleetdm.com/

[2022-11-18 20:19] zhumo commented on #8762
Hey @lukeheath, Would you mind finding some time with me (and Tomas, if he needs it) to walk me through QA wolf? I don't know the background of it, so it's hard for me to get a sense of priority.

[2022-11-18 20:24] zhumo commented on #8372
<img width="961" alt="image" src="https://user-images.githubusercontent.com/5359586/202795554-fae14ff8-2c67-4618-a7dd-476264c35d6a.png">
<img width="873" alt="image" src="https://user-images.githubusercontent.com/5359586/202795582-9bd3631b-496a-48ca-b8e4-045bc4d87779.png">

Hey @mike-j-thomas this is how a competitor and Apple, respectively, offer their recommendation. Apple further goes on to des

[2022-11-18 20:27] lukeheath commented on #8762
@zhumo Sure thing. I'm out next week but will grab some time the week after. Not urgent. We can make a lot of progress in the load test environment. Ideally in the next 6-8 weeks.

[2022-11-18 20:36] mike-j-thomas commented on #8372
Brilliant, thanks for digging that up, @zhumo 🙌

[2022-11-18 20:46] noahtalerman commented on #8746
Yes.

I updated the FileVault section in the migration instructions to instruct the IT admin to ask device users to disable FileVault before migration. Here's the FileVault section in the migration instructions: https://docs.google.com/document/d/1Lzx35dYFWFPTUYWGWYXfvGCLHcy2QX1Uuy64izBPa78/edit#heading=h.n3dxpt9hc72o

Right. I was wrong. My current (updated) understanding is that the query works

[2022-11-18 22:13] lukeheath commented on #8150
Also evaluating Postman's new doc generator: https://blog.postman.com/open-api-3-0-documentation/

[2022-11-18 23:13] rhuddleston commented on #8710
We are using orbit but not fleet desktop

[2022-11-18 23:31] roperzh commented on #8477
Adding a note that this is also recommended by [RFC 8894](https://datatracker.ietf.org/doc/html/rfc8894#section-2.4):

   time authenticator value to limit the ability of an attacker who can
   capture the authenticator from the client or CA and reuse it to
   request further certificates.

[2022-11-19 02:39] zhumo opened #8766 "Some Windows users are being truncated at a few characters"
**Fleet version**: Sandbox (~Nov 18, 2022)

**Operating system**: Windows something

**Web browser**: NA

<hr/>

### 🧑‍💻  Expected behavior
Full name of the user is displayed

### 💥  Actual behavior
![image](https://user-images.githubusercontent.com/5359586/202830283-74f9abdc-8124-49d8-abb3-3464267ac9f0.png)

### More info

[2022-11-19 17:03] austin-911 commented on #8766
Mo, here are the OS details.

Edition	Windows 11 Pro
Version	21H2
Installed on	‎10/‎14/‎2021
OS build	22000.1219
Experience	Windows Feature Experience Pack 1000.22000.1219.0

[2022-11-20 10:06] zwinnerman-fleetdm commented on #8627
Initial work for this is done. Might need more changes as the rest of this evolves.

[2022-11-20 10:09] zwinnerman-fleetdm commented on #8627
Here's the final interface, will still need to add validation logic to this:

## Requirements

No requirements.

## Providers

| Name | Version |
|------|---------|
| <a name="provider_aws"></a> [aws](#provider\_aws) | 4.39.0 |

## Modules

No modules.

## Resources

| Name | Type |
|------|------|
| [aws_appautoscaling_policy.ecs_policy_cpu](https://registry.terraform.io/providers/hashicorp/aws/l

[2022-11-21 10:39] jcgruenhage opened #8767 "Provide compontent overview that explains what parts are involved with a fleet + orbit setup"
While rolling out fleet at our company, we've had a lot of developers struggle with understanding what is happening on their devices and how it all fits together. A rough overview of the involved components and what they do on the website or in this repository would be nice to have.

I have created a rough sketch to demonstrate what I mean:
![image](https://user-images.githubusercontent.com/686195

[2022-11-21 11:41] roperzh opened #8768 "`TestHosts/TestHostOrder` is flaky"
Per [this run](https://github.com/fleetdm/fleet/actions/runs/3511356658/jobs/5882049150), the test fails sometimes when run.

[2022-11-21 12:42] marcosd4h opened #8769 "Uninstall string is not set properly on Orbit's windows installer"
**Orbit version**: 1.3.0

**Operating system**: Windows 10

<hr/>

### 🧑‍💻  Expected behavior
Orbit UninstallString value at registry key `HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall\{GUID}` should start with `msiexec.exe /x`

### 💥  Actual behavior
Orbit UninstallString value at registry key `HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall\{GUID}` starts with `msiexec.exe /i

[2022-11-21 12:49] roperzh commented on #8537
Seems like we could get that information, according to the [MDM protocol reference](https://developer.apple.com/business/documentation/MDM-Protocol-Reference.pdf) under "Authentication Error Codes":

token does not have authorization to perform the specific request. In this case, the request body contains
ACCESS_DENIED.

contains T_C_NOT_SIGNED

It's unclear to me from the docs if you get a `403`

[2022-11-21 12:57] roperzh commented on #8609
just in case: we do get the serial number when a device is enrolled, so I don't see any problems from the back-end side.

[2022-11-21 16:02] ghernandez345 opened #8770 "Frontend Testing Improvements and Increase coverage"
We want to improve our FE testing coverage and measuring. This is the epic for tracking this work

## Business Case

Good testing is the foundation for us to make future improvements and make sure the application is still working correctly. It gives us the confidence to make changes to improve our codebase. This is why we'd like to first focus on improving our testing coverage.

## Measurement

Pa

[2022-11-21 16:07] RachelElysia commented on #8389
@ product @noahtalerman I noticed the dashboard > software table > software name column doesn't have access to click into software details like the Software page > software table > software name column. Do we want to add this functionality as well?

This ended up being a lot smaller of a ticket than anticipated since the entire row clickable functionality already existed. Is there anywhere else yo

[2022-11-21 16:12] ghernandez345 opened #8771 "Generate Code coverage reports to track our increasing testing coverage"
## User Story

As an engineer, I need to be able to report on code quality KPIs so that the broader organization knows how we're doing.

## Notes

We'd like to be able to measure our code coverage on Frontend to make sure we have a good amount of code tested. We can use the Jest coverage tooling to generate these reports

## Requirements

1. Create a mechanism to generate code coverage reports
2.

[2022-11-21 16:24] ghernandez345 opened #8773 "Tests for Reusable Components"
## Problem

Our reusable components are used across the entire application and therefore we must have high confidence that they work correctly. We'd like to increase our testing coverage for our collection of reusable components.

## Measurement

- We will use the coverage reports to track our testing coverage for reusable components

## Requirements

1. Increase test coverage for our reusable com

[2022-11-21 16:38] ghernandez345 opened #8774 "Tests for SiteNav and UserMenu Components"
We need to add tests for SiteNav and UserMenu Components.

[2022-11-21 16:41] ghernandez345 opened #8775 "Add tests for AddHostModal"
Adding tests for the AddHostsModal component

Now subtask of #11827

[2022-11-21 16:44] ghernandez345 opened #8776 "Add Tests for Avatar Component"
Adding tests for the Avatar Component

[2022-11-21 16:48] ghernandez345 opened #8777 "Add Tests for Button Component"
Adding tests for the Button component.

[2022-11-21 16:50] ghernandez345 opened #8778 "Add Tests for ActionButton Component"
Adding tests for the ActionButton component.

[2022-11-21 16:52] ghernandez345 opened #8779 "Add Tests for DropdownButton Component"
Addings tests for the DropdownButton component.

[2022-11-21 16:59] ghernandez345 opened #8780 "Add Tests for RevealButton Component"
Adding tests for RevealButton component

[2022-11-21 17:01] ghernandez345 opened #8781 "Add Tests for DataError Component"
Adding tests for DataError component

[2022-11-21 17:20] mike-j-thomas commented on #8372
Thanks, @zhumo. Updated wires here https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?node-id=3609%3A12552

[2022-11-21 17:22] ghernandez345 opened #8782 "Add Tests for DiskSpaceGraph Component"
Adding tests for the DiskSpaceGraph component

[2022-11-21 17:26] ghernandez345 opened #8783 "Add tests for DeleteSecretModal Component"
Adding tests for DeleteSecretModal component.

[2022-11-21 17:30] ghernandez345 opened #8784 "Add Tests for EnrollSecretsTable Component"
Adding tests for the EnrollSecretTable component

[2022-11-21 19:13] michalnicp commented on #7515
Just as an additional note, we now have `fleetctl get mdm-apple-bm`  and `fleetctl get mdm-apple` (https://github.com/fleetdm/fleet/issues/7456). Should we combine these and display all information related to apple mdm?

[2022-11-21 19:28] noahtalerman commented on #7515
@michalnicp no. The plan is for Fleet to only allow a default team for hosts that automatically enroll.

The expected workflow for automatic is...IT admins orders new macOS host -> host gets shipped and shows up in Fleet assigned to the default team in Fleet (IT admin can transfer to a new team if desired) -> host is unboxed -> host receives the configuration profile assigned to its team.

For hos

[2022-11-21 19:32] michalnicp commented on #8708
I think we are missing support for getting the recovery key when FileVault is enabled using Fleet MDM. It seems like we are assuming the recovery key can be found in `/var/db/ConfigurationProfiles/fdesetup.plist` which is only the case if FileVault was enabled using SimpleMDM.

@noahtalerman @zhumo

[2022-11-21 19:33] noahtalerman commented on #7515
@michalnicp @zwass why? Is this to reduce the number of commands for the user? Does this make implementation easier?

We decided to have separate commands because the user can set up Apple Push Certificates Portal (APNs) without setting up Apple Business Manager (ABM). Note that only Fleet Premium users can set up ABM.

We think it will be common for APNs to be set up and not ABM.

[2022-11-21 19:37] RachelElysia commented on #8389
@ product @noahtalerman I'm adding clickable row to host details > software table since it matches other software tables UI

[2022-11-21 19:48] michalnicp commented on #7515
Okay, so we are not supporting assigning a default team to manually enrolled hosts.

No, I suppose not.

[2022-11-21 19:56] michalnicp commented on #7515
This would give users a single complete to be able to check the status of mdm. With the current design, users have to run multiple commands to identify if there is a problem. `fleetctl get apple-mdm-bm` could show no errors, but there may be a problem because the apns certificate is expired, which is only reported by `fleetctl get apple-mdm`. Also, because these commands are so similar, it's easy

[2022-11-21 19:58] zwass commented on #8256
Closing this as we don't have sufficient information to reproduce, and it sounds like the user has a workaround.

@clawoflight if you have further information that could help us reproduce, please comment and reopen this issue.

[2022-11-21 19:58] #8256 closed

[2022-11-21 19:59] zwass commented on #7852
Removing the "bug" label as we have not found any evidence that this causes issues beyond the warnings in Suspicious Package.

@sharvilshah are you aware of issues this could be causing, or what we might be able to do to fix it?

[2022-11-21 20:02] zwass commented on #7680
Closing this for now as we don't have the information we need to continue investigating. @daweizhang123 please comment and reopen if you upgrade and continue to see issues.

[2022-11-21 20:02] #7680 closed

[2022-11-21 20:05] zwass commented on #7890
@eastbook for your "too many open files" errors, please see the FAQ: https://fleetdm.com/docs/deploying/faq#what-do-i-do-about-too-many-open-files-errors

For the context cancelled, this seems likely related to your DB being overloaded. Can you get CPU utilization metrics from your DB?

[2022-11-21 20:07] zwass commented on #8559
I think this is definitely worth exploring, but since we don't have a specific issue identified, I'm removing the "bug" label.

[2022-11-21 20:10] zwass commented on #8710
Do you have the same number of containers running after the deploy as you did before? Are they all seeing a similar CPU increase?

[2022-11-21 20:19] zwass commented on #6717
@michalnicp @nunesvn can you please file a new issue for the duplicate policy notifications? I'd like to close this one out if we think the vulnerability issue is resolved.

[2022-11-21 20:19] #6717 closed

[2022-11-21 20:27] noahtalerman commented on #8389
@RachelElysia I think we can address this later. That said, this is a great idea. Please feel free to add this to product office hours.

This makes sense to me.

[2022-11-21 20:28] noahtalerman commented on #8389
@RachelElysia heads up, it looks like there was a type in the above sentence in this issue's description.

We'd like the user to be navigated to "the list of hosts" instead of "software details." I updated the issue description to fix this typo.

[2022-11-21 20:35] michalnicp opened #8785 "Duplicate failing policy events"
**Fleet version**: 4.23.0

<hr/>

### 🧑‍💻  Expected behavior

No duplicate failing policy events are triggered ie webhooks, jira, zendesk tickets.

### 💥  Actual behavior

Duplicate fialing policy events are triggered.

### More info

Created based on report from user in https://github.com/fleetdm/fleet/issues/6717#issuecomment-1317200268.

[2022-11-21 20:36] michalnicp commented on #8785
Hi @nunesvn, waiting on answers to the following to help reproduce.

Are you using a webhook, jira, or zendesk integration?
Are the same hosts appearing in the failing policy each time, or does it change?
What is the query for the failing policy?
Do you see any errors in the logs?

[2022-11-21 21:07] #8456 closed

[2022-11-21 21:08] zhumo commented on #7425
Confirm and celebrate:
1. Make sure that this is brought into our own table schemas
2. Blog post announcing it?

[2022-11-21 21:09] zhumo commented on #4507
Confirm and celebrate: Still need to makes sure that this is working

[2022-11-21 21:10] zhumo commented on #6883
Confirm and celebrate: See it in the latest json schema blob before closing.

[2022-11-21 21:22] zwass opened #8787 "Fleet Desktop not starting on macOS"
Orbit: 1.3.0
Desktop: 1.3.1

<hr/>

### 🧑‍💻  Expected behavior

Desktop shows up on menu bar.

### 💥  Actual behavior

Desktop does not show up. No Desktop process is running.

This shows up about every minute in the error logs:

[code]

### More info

I'm not sure how I got into this state or how to reliably reproduce it. For debugging we can continue looking at the state on my machine.

[2022-11-21 21:22] zwass commented on #8787
@sharvilshah I've assigned this to you to triage and try to help determine what the issue might be.

[2022-11-21 21:57] noahtalerman commented on #8360
Mo and Noah: Workflow for CLI shouldn't require pasting XML. Scroll back up to check indentation is one example of headache.

Noah: We might want to make friendly YAML later.

[2022-11-21 22:34] rhuddleston commented on #8710
other containers running on the same host as the fleet server? No other containers have a CPU increase including the nginx reverse proxy where all traffic to the fleet server goes through. Also I thought maybe it had to do with golang 1.17 -> 1.19 I recompiled the latest fleet on 1.17 and verified this did not help.

[2022-11-21 23:35] noahtalerman commented on #8572
@zhumo here's my proposed presentation for Fleet Sandbox stakeholders: https://docs.google.com/presentation/d/1ztC8pTY7olfKgKEGp3WAabuS5enmUV1y3RdtVS-NNt8/edit#slide=id.g177a1696c7e_0_6

When you get the chance, can you please review the slides? If it's helpful, I'm happy to present to you on a call.

[2022-11-21 23:41] zhumo commented on #8708
@michalnicp Could Fleet MDM put the file in the same place?

[2022-11-21 23:59] noahtalerman commented on #7676
@michalnicp I think yes.

Got it. If we do this now, I think we'll reduce the amount of work later. I could be wrong here.

Later, I think we'll allow the user to update more pieces of the dep_profile.json. For example, choose which set up screens to hide during Mac set up.

[2022-11-21 23:59] michalnicp commented on #8708
@zhumo The method for getting the recovery key is described in https://github.com/fleetdm/fleet/issues/8708#issuecomment-1317573499. We could write it to a file on the host, but there may be security concerns and it would be additional work.

[2022-11-22 00:00] zhumo commented on #8372
Looks great! For step #3, I think we could be more explicit about what to do with the cert. Currenty, it is "Deploy Fleet with MDM configuration." Maybe we can say:

"Deploy Fleet using this certificate. Click here to see how." Or somehting like that.

[2022-11-22 00:11] noahtalerman commented on #8430
@RachelElysia I think we have 2 example screenshots for policy automations and 4 screenshots for vulnerability automations (2 free + 2 premium). Is this right?

If yes, I don't think we need any premium screenshots for this issue.

[2022-11-22 00:35] noahtalerman commented on #8708
@michalnicp @zhumo it seems like we don't have a great understanding of how/when the `/var/db/ConfigurationProfiles/fdesetup.plist` file gets created.

However, we do know that this file is being created by our dogfood MDM features. We also know that this file is not created if the end user turned on FileVault. When I run this query in dogfood, I get my key (my host has FileVault turned on by dogf

[2022-11-22 09:44] zwinnerman-fleetdm commented on #8625
This should be the interface. Had some issues consuming modules not made in house but shouldn't be a big deal going forward... So I say now.

## Requirements

No requirements.

## Providers

No providers.

## Modules

| Name | Source | Version |
|------|--------|---------|
| <a name="module_cluster"></a> [cluster](#module\_cluster) | terraform-aws-modules/ecs/aws | 4.1.2 |
| <a name="module_ecs"><

[2022-11-22 09:46] #8625 closed

[2022-11-22 09:47] zwinnerman-fleetdm commented on #8628
Initial work for this should also be done.

[2022-11-22 14:09] chiiph commented on #8710
With the help of @rhuddleston 's profiles, it's looking like `copier.CopyWithOption` is pretty resource intensive. Looking at the versions mentioned, this was added after 4.20.0.

A quick search around got me to https://github.com/planttheidea/fast-copy, it looks like of the most popular options, that's the fastest, @mna I believe you were the one implementing this. Did you consider the above pack

[2022-11-22 14:25] mna commented on #8710
@chiiph no, this is a javascript package :D , the idea was to use the one we were already using, but change it to do a deep copy (it was doing a shallow copy and some data was being overwritten, corrupting the cached appconfig when not saving the changes). I had a more complex implementation of the deep copy of appconfig at some point that was done manually (before knowing that the `copier` packag

[2022-11-22 14:47] chiiph commented on #8710
Oh man, how did my wires get crossed this badly xD

Yeah, we'll probably have to bite the bullet and do it by hand so that we don't have all the introspection that copier has.

[2022-11-22 15:29] roperzh commented on #8751
thinking about this a bit more, the challenge on doing client-side config is enabling the config on dogfood. Images are pre-built with the assets already compiled before deployment 🤔 .

[2022-11-22 15:49] roperzh commented on #8751
PR with the code handling this in the server as originally requested: https://github.com/fleetdm/fleet/pull/8789

[2022-11-22 17:48] noahtalerman commented on #8547
@fx5 this issue looks somewhat related to #7808. Mentioning you here so that you're aware.

[2022-11-22 17:54] xpkoala commented on #8409
@ghernandez345 Should the linkout for UID occur on every table that has UID? In this picture the *defaults to root* isn't present.

![image](https://user-images.githubusercontent.com/11012743/203386288-bb635676-8bae-4ba7-9f38-f4b0d9bf6a74.png)

[2022-11-22 17:58] xpkoala opened #8791 "long string in table description causes page scrolling"
**Fleet version**: `main`

**Operating system**: n/a

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
Clean and consistent page behavior.

### 💥  Actual behavior
Side scrolling occurs when a large string is present in the Query tables area.

### More info

![image](https://user-images.githubusercontent.com/11012743/203387080-cbe11494-6667-4cf2-ac4e-4da0f8656d23.png)

[2022-11-22 18:30] xpkoala commented on #8504
@RachelElysia The 'back to all hosts' button is also working as a generic 'back' button currently.

For example, if I were to take the following actions:
- starting on /hosts/manage page
- click on host > taken to /hosts/1
- click on software details tab > taken to /hosts/1/software
- click on policy details tab > taken to /hosts/1/policies

and then click the 'back to all hosts' button, I would e

[2022-11-22 18:42] noahtalerman commented on #7515
@michalnicp this is a good point. I think this falls under a different "check status of all MDM integrations (ABM and APNs)" workflow or problem.

I prefer to have 2 commands because we're prioritizing the "set up Apple Business Manager" workflow over over the "check status of ABM and APNs" workflow.

The expected workflow for set up using fleetctl is `fleetctl generate apple-mdm-bm` -> `fleet ser

[2022-11-22 18:56] noahtalerman commented on #7515
@michalnicp below is the response to your questions you posed in this comment: https://github.com/fleetdm/fleet/issues/7515#issuecomment-1317760621

Yes. The `fleetctl get mdm-apple-bm` and `fleetctl generate mdm-apple-bm` commands are expected to be used in 1 "set up Apple Business Manager" workflow.

Yes. "Renew date" is the date when the token expires.

We will provide this information in help

[2022-11-22 19:04] mna commented on #7456
@noahtalerman regarding the "See status" section of the ticket, the error message (expired certificate) states:

(warning message shows a similar note about MDM features being "turned off"). Do we really want to actively turn off the MDM features when the cert is expired? So far I have not seen anything in the various tickets and requirements that would disable MDM when we detect that a cert is ex

[2022-11-22 19:05] michalnicp commented on #7515
No

[2022-11-22 19:06] chiiph commented on #8482
@polak785 we don't recommend running Redis, MySQL, and Fleet in the same server. `t3.small` has 2 vCPUs and 2GB of RAM. 2GB of RAM is the minimum when running fleet on its own, if you factor in MySQL and Redis, it gets very tight.

On the other hand, while vulnerabilities runs once an hour by default, that's also how often hosts check in. The same is true for other cron tasks that run in the backg

[2022-11-22 19:08] noahtalerman commented on #7456
@mna Fleet won't turn off MDM features.

My understanding is that a user can no longer change macOS settings or send commands (MDM features) to their hosts if the cert is expired. (Apple immediately rejects an expired certificate)

We're using the "MDM features are turned off" message to inform the user that they need to take action to be able to use MDM features again.

[2022-11-22 19:11] mna commented on #7456
@noahtalerman sounds good, thanks! Just wanted to make sure there wasn't something missing implementation-wise on our part for that section of the error message.

[2022-11-22 19:13] RachelElysia commented on #8504
@xpkoala ok that's no bueno and def needs to be fixed before release. I'll try to have it done this week but might be during freeze. thank you for catching this! Need to rework the approach since the initial approach uses the back router, but now that we have details pages linked out, we need manage host filters saved in a local state...

cc: @fleetdm/frontend

[2022-11-22 19:21] mna commented on #8596
Output from the command:

No MDM certificate provided to `fleet serve`:
![fleetctl-get-mdm_apple-no-mdm-configured](https://user-images.githubusercontent.com/692384/203402669-94985858-6dca-4149-83fe-d2dd47cd9ed8.png)

Valid MDM certificate:
![fleetctl-get-mdm_apple-valid-blur](https://user-images.githubusercontent.com/692384/203402665-6f229bae-9ecb-43b2-afbd-5a2e3be99a9f.png)

Soon to be expired:

[2022-11-22 19:35] xpkoala commented on #8695
@jacobshandling Thanks for the extra information. Are you still having difficulties logging in to your local instance? If so are there any obvious error logs generating from the server around the time you are attempting to login?

I'm currently on Firefox 107.0

I'm still seeing the following behavior:

https://user-images.githubusercontent.com/11012743/203405219-193354d9-52cb-4262-974d-64772d545c

[2022-11-22 19:45] noahtalerman commented on #8360
Good point. I think the UI could live on the Policies page. Two reasons…
- MDM features are a first class citizen
- I think policies will be used to achieve “see which hosts have not yet received the settings”

That said, I think we can move forward with UI living on **Settings > Integrations > MDM**. When we address OS updates, scripts, and commands (next) we can consider moving the UI for profil

[2022-11-22 20:13] michalnicp commented on #7456
@noahtalerman The file paths here are a little redundant. If you include `key` in the filename, then the extension should probably be `.pem` to indicate it's pem encoded. Alternatively, we could do `fleet-mdm-apple-apns.key` and use `.key` as the extension

[2022-11-22 20:44] noahtalerman commented on #8360
### CLI for replacing the configuration profile

The CLI will use option 4.

Reasoning
- The interface is flexible. We can add teams in later iteration. We can iterate on interface later
- The workflow doesn't require pasting XML
- The workflow enables tracking/seeing what changed (audibility)

##### Option 1

[code]

`configuration-profile.yaml` file:

[code]

Pros
- User only has to check one YA

[2022-11-22 21:08] xpkoala opened #8795 "Long software titles are failing to stay left aligned"
**Fleet version**: `main`

**Operating system**: n/a

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
Software entries would always stay left aligned.

### 💥  Actual behavior
If the name of the software overflows to a second line the text looks to become center aligned.

### More info

![image](https://user-images.githubusercontent.com/11012743/203421443-ac53eccb-f098-46c7-a703-e8d08ffe838

[2022-11-22 22:37] xpkoala opened #8798 "Selecting the table file_lines from the query tables sidebar causes 500 error"
**Fleet version**: 4.23.0 (dogfood)

**Operating system**: n/a

**Web browser**: safari / firefox

<hr/>

### 🧑‍💻  Expected behavior
Selecting the file_lines table would show information about the table.

### 💥  Actual behavior
500 page error

### More info

![image](https://user-images.githubusercontent.com/11012743/203435409-bf49fdca-b572-4c92-97af-6edadbe5d784.png)

The network console is retur

[2022-11-22 23:38] noahtalerman commented on #8360
@zhumo @mna @roperzh @zwass during our "Change macOS settings" call we decided that option 4 in the [above comment](https://github.com/fleetdm/fleet/issues/8360#issuecomment-1324219568) is the preferred solution for updating macOS settings via CLI (enable CI/CD workflow).

Then, we identified these unsolved problems:
- How do you get the configuration profile with fleetctl?
- What happens in the o

[2022-11-23 00:02] noahtalerman commented on #8372
From this issue's description:

@zhumo which emails will we reject? My current understanding is that we will reject @gmail and @yahoo emails. Are there others?

cc @michalnicp

[2022-11-23 00:08] noahtalerman opened #8799 "Page in docs for MDM features"
UPDATE: This issue tracks creating the doc page where docs for MDM features will live. The docs for renewing certs will be addressed separately as part of the APNs and ABM stories here:
- #7515
- #7456

These docs for renewing will live on the Mobile device management page here: https://fleetdm.com/docs/using-fleet/mobile-device-management

(noahtalerman 2022-01-23)

## Problem

A valid Apple Push

[2022-11-23 00:10] noahtalerman commented on #8596
@mna looks good!

FYI I'm tracking updating the "TODO link to documentation" in this issue: #8799

[2022-11-23 00:14] noahtalerman commented on #7456
@michalnicp great points. I think `fleet-mdm-apple-apns.key` makes sense. I updated this issue's description to use this instead.

Can we use `fleet-mdm-apple-scep.crt` and `fleet-mdm-apple-scep.key`? Do these filenames not conflict? If yes, I think it makes sense to use these instead.

[2022-11-23 00:18] zhumo commented on #8372
@noahtalerman https://docs.google.com/spreadsheets/d/1bLrVdh3_LNHU3jKBA2zWrF7zDxW9Yp2pmNTp44vXVTU/edit?usp=sharing

[2022-11-23 13:26] mna commented on #8360
@noahtalerman Nice! I like how clean the proposed solution is for `fleetctl get mdm-macos-settings`. Do I understand correctly that this would be the way to get the actual contents of the macos settings file? This way, the user is responsible for choosing to which file they send that content, if needed. And `fleetctl get config` would only return the file path that was used to save them (and nothi

[2022-11-23 14:46] mna commented on #7515
@noahtalerman sorry if I missed something, but I wasn't aware you were waiting for info from my part regarding this, what I saw is that comment on the APNs ticket: https://github.com/fleetdm/fleet/issues/8596#issuecomment-1314495501 .

FWIW, I think Michal knows better than me the ins and outs (figuratively and literally!) of the Apple registration workflow. I did check all the information availab

[2022-11-23 15:11] mna commented on #7515
@noahtalerman @michalnicp Follow-up on the Apple ID thing, this Apple API seems to return what we want:

https://developer.apple.com/documentation/devicemanagement/accountdetail

[2022-11-23 15:24] chiiph commented on #8710
The improved cloner has been merged to main, it'll be in the next release which should be out end of next week.

[2022-11-23 16:02] RachelElysia commented on #8795
Fixing this too while I'm at it:

![Image](https://user-images.githubusercontent.com/71795832/203592827-c07aaf48-48b7-4cbf-b79a-e210e0a72c86.png)

[2022-11-23 16:03] roperzh commented on #8175
Seems like this was already fixed by @michalnicp in https://github.com/fleetdm/fleet/pull/8267

[2022-11-23 16:25] mna commented on #8733
@noahtalerman the old spec mentioned:

Note that this is not a server config, but an app one, so it cannot be set by command-line flag nor environment variable. Presumably there will also be a frontend ticket to add a UI option to set it? Otherwise it would be just via `fleetctl apply` and a yaml file.

[2022-11-23 16:36] mna commented on #8733
@noahtalerman about this validation:

It's fine to validate this when the default team is set, but nothing prevents the team from being deleted afterwards. It doesn't impact this ticket, but worth mentioning, as the ticket that will _use_ this config option will also have to validate that the team still exists.

[2022-11-23 16:49] mna commented on #8725
Estimation: 3

[2022-11-23 16:52] mna commented on #8726
Estimate: 5

[2022-11-23 16:53] mna commented on #8733
Estimate: 2

[2022-11-23 18:15] #8175 closed

[2022-11-23 18:41] mna commented on #8706
@zhumo Are you able to confirm if this is actually a bug or not? Specifically regarding this question that Roberto mentioned:

To expand a bit on that, the output of `fleetctl get teams --yaml` contains all the fields available on a Team, but `fleetctl apply -f <teamconfig.yaml>` only accepts a subset of those fields. Now that we validate the provided fields in `fleetctl apply`, any unknown field

[2022-11-23 19:21] zhumo commented on #8706
@mna @roperzh Is it true that the yaml output is a direct translation of the json output? In my limited background knowledge on this specific feature, I imagine that `fleetctl get` is intended to get the latest fullest data about teams and the `--json` or `--yaml` flags are all strictly about the output format, not the content. In that case, I don't think there is an expectation that the yaml file

[2022-11-23 19:29] roperzh commented on #8706
@zhumo we recommend customers to do `fleetctl get teams --yaml` + `fleetctl apply -f` very frequently. The problem with the current state of thing is:

1. If I don't provide certain fields in the team config (eg: `agent_options`) when I run `fleetctl apply -f`, those fields get erased from the team config or take default values.
2. Certain team fields (eg: `features`) can only be edited via a conf

[2022-11-23 19:31] mna commented on #8706
@zhumo

Yes, `fleetctl` encodes in yaml the same output / direct translation of what it gets as JSON from our API endpoint.

That's a valid and reasonable way to see this! I think the one thing that might make this a little confusing is that the output adds the:

[code]

that makes the output look a lot like a spec that would be sent to `fleetctl apply`. That being said, it also adds this to the `

[2022-11-23 19:36] mna commented on #8706
@roperzh I didn't know about that:

Would Mo's proposal of a new `fleetctl get teams --config` specifically for that use-case address those issues? Then `--json`/`--yaml` could remain as formatting-only options.

[2022-11-23 19:39] roperzh commented on #8706
@mna yes! that sounds great to me

[2022-11-23 20:10] roperzh commented on #8167
interesting... using the method you described above (thanks!) I get a different error (manual enrollment):

[code]

`MacOS error: -25304` description is "The specified item is no longer valid. It may have been deleted from the keychain." 🤔

[2022-11-23 20:40] RachelElysia commented on #8504
@xpkoala Fix in Review! Thanks for catching this!

[2022-11-23 21:04] mna commented on #7515
@lukeheath Assigning back to you, the child issues have been spec'd and estimated.

[2022-11-24 11:06] ducna96 opened #8810 "FAIL 20220330100659_AddJobsTable.go (create table: Error 1050: Table 'jobs' already exists), quitting migration"
FAIL 20220330100659_AddJobsTable.go (create table: Error 1050: Table 'jobs' already exists), quitting migration
i update fleetdm from 4.11 -> 4.23
and i create backup db and import to mysql, and run fleet prepare db with new db and have proplem
![image](https://user-images.githubusercontent.com/35019158/203768964-6b82e78b-4e6b-471f-b3a8-9579322c0485.png)

how do i fix that?
mysql 5.17.29
thanks

[2022-11-24 11:21] ducna96 commented on #8810
hi @noahtalerman

[2022-11-24 13:57] roperzh commented on #8810
hi @ducna96, before running migrations we require that you stop all Fleet instances connected to the database, and start the instances again only after the migrations were run. Could you please confirm if you're doing this?

another thing you could try is running [`FLUSH TABLES`](https://dev.mysql.com/doc/refman/8.0/en/flush.html#flush-tables) to make sure there isn't any temporary metadata messin

[2022-11-24 20:04] michalnicp commented on #7456
I think it would be useful to add flags for controlling the output paths of the files created. This would also help make testing easier. What about something like this

[code]

@noahtalerman

[2022-11-25 03:32] ducna96 commented on #8810
i create backup of main fleet database running, and import that to mysql, and run migrate with backupdb, is it wrong ?

[2022-11-25 16:56] gillespi314 opened #8814 "Hosts table status column header shows sort icons but is not sortable"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Clicking a column header with sort icons will sort by that column.

### 💥  Actual behavior

Status column has the icons but is not sortable.

### More info

Confirm whether sort

[2022-11-25 18:14] michalnicp commented on #7515
In "Step 1 - Download ABM key", we are actually generating a certificate containing a public key to upload to Apple. Typically, we output certificates with the extension `.crt` to indicate that it is a certificate.

@noahtalerman

[2022-11-25 20:58] 12nick12 commented on #5478
I would love a simple TOTP 2FA. Security keys would be awesome, but anything is better than nothing.

[2022-11-25 21:07] roperzh opened #8815 "failed to get up-to-date MDM command results"
**Fleet version**: 4a73d4a8871aa7cc96cabe8185184c70080a055c

### 🧑‍💻  Expected behavior

I'm able to get up-to-date MDM command results using `fleetctl`.

### 💥  Actual behavior

1. I uploaded a package

[code]

the package got assigned `ID = 1`.

2. I tried to install the application in an enrolled device

[code]

3. I had `log stream --info --debug --predicate 'processImagePath contains "mdmclie

[2022-11-25 21:24] roperzh commented on #8810
@ducna96 if you're running the migrations in the back-up, then I believe you shouldn't have to shut down the fleet server (as you mention.)

Could you double check if the back-up you create (or your main database) has a table named `jobs`? You can do that by running `SHOW TABLES LIKE 'jobs';`

[2022-11-26 02:52] jacobshandling commented on #8392
Hi @ghernandez345, hope you've had a great weekend! I investigated the pagination throughout the UI and couldn't find any of the issues you mention – can you please screenshot an example or two?

[2022-11-28 11:03] ducna96 commented on #8810
yep, it have  tables jobs.

[2022-11-28 11:48] ghernandez345 opened #8820 "Add Tests for Button Components"
Adding Tests for the Button Components. This includes testing for:

- Generic Button Component
- ActionButton Component
- DropdownButton Component
- RevealButton Component

[2022-11-28 11:49] #8777 closed

[2022-11-28 11:49] #8778 closed

[2022-11-28 11:49] #8779 closed

[2022-11-28 11:49] #8780 closed

[2022-11-28 11:53] ghernandez345 opened #8821 "Add Tests for FlashMessage Component"
Adding Tests for the FlashMessage Component

[2022-11-28 11:54] ghernandez345 opened #8822 "Add Tests for FleetAce Component"
Adding tests for the FleetAce Component

[2022-11-28 11:56] ghernandez345 opened #8823 "Add Tests for FleetMarkdown Component"
Adding tests for the FleetMarkdown component

[2022-11-28 12:01] roperzh commented on #8810
can you think of a reason for that table to be there before the migration is run? Is your database shared with another application? did the migration run in the main database (not the back-up) previously?

for the migration to succeed the `jobs` table shouldn't be present. From what I can see, _I believe_ this is a specific problem with your database, not a bug in Fleet, but I'm happy to help you

[2022-11-28 12:02] nunesvn commented on #8785
Hello @michalnicp, sorry about the delay.

1. I'm using a webhook integration. It's actually a little go program which receives the Fleet call and send me the payload via e-mail, running on my fleet server. (This could be native, doesn't? :D )
2. It's the same single host appearing on the failing policy.
3. `SELECT * FROM interface_addresses where address like '%:%' and interface <> 'lo' and addre

[2022-11-28 12:11] ghernandez345 opened #8824 "Add Tests for Form Field Components"
Adding Test for the Form Field Components. This includes:

- AutoSizeInputField component
- Checkbox component
- InputField component
- InputFieldWithIcon component
- SearchField component
- Slider Component

[2022-11-28 12:12] ghernandez345 opened #8825 "Add Tests for Dropdown Component"
Adding tests for the Dropdown Component

[2022-11-28 12:14] ghernandez345 opened #8826 "Add Tests for FormField Component"
Adding Tests for the FormField Component

[2022-11-28 12:21] ghernandez345 opened #8827 "Add Tests for InfoBanner Component"
Adding tests for InfoBanner component

[2022-11-28 12:23] ghernandez345 opened #8828 "Add Tests for Modal Component"
Adding tests for the Modal component

[2022-11-28 12:25] ghernandez345 opened #8829 "Add Tests for Pagination Component"
Adding Tests for the Pagination Component

[2022-11-28 12:30] ghernandez345 opened #8830 "Add Tests for Sandbox Components"
Adding tests for the Sandbox components. This includes:

- SandboxDemoMessage component
- SandboxExpiryMessage component
- SanboxGate component

[2022-11-28 12:37] ghernandez345 opened #8831 "Add Tests for QuerySidePanel Component"
Adding tests for the QuerySidePanel component

Now subtask of #11832

[2022-11-28 12:38] ghernandez345 opened #8832 "Add Tests for Spinner Component"
Adding tests for the Spinner component

[2022-11-28 12:44] ghernandez345 opened #8833 "Add Tests for Table Cell Components"
Adding tests for the Table Cell component. This includes.

- ActionButton Component
- DropdownCell Component
- HeaderCell Component
- IssueCell Component
- LinkCell Component
- PillCell Component
- PlatformCell Component
- StatusCell Component
- TextCell Component