[2022-06-29 15:13] noahtalerman commented on #5911
This improvement is being de-prioritized.

The "Expansion of host vitals" epic (#397) will likely fill interface capacity for the next 6 weeks.

[2022-06-29 15:15] noahtalerman commented on #5124
This improvement is being de-prioritized.

The "Expansion of host vitals" epic (#397) will likely fill interface capacity for the next 6 weeks.

[2022-06-29 15:16] noahtalerman commented on #5406
@xpkoala @alphabrevity heads up, this improvement is being de-prioritized.

The "Expansion of host vitals" epic (#397) will likely fill interface capacity for the next 6 weeks.

[2022-06-29 15:17] noahtalerman commented on #5540
@xpkoala @roperzh, heads up, this improvement is being de-prioritized.

The "Expansion of host vitals" epic (#397) will likely fill interface capacity for the next 6 weeks.

[2022-06-29 15:24] noahtalerman commented on #5124
@RachelElysia @mike-j-thomas, heads up, this improvement is being de-prioritized. Please feel free to bring this issue back to any future Product office hours.

The "Expansion of host vitals" epic (#397) will likely fill interface capacity for the next 6 weeks.

[2022-06-29 17:16] DominusKelvin commented on #6385
Got you @noahtalerman. I'll prioritize this!

[2022-06-29 17:36] lucasmrod opened #6438 "Fleet Desktop "Transparency" menu item returning "Authentication error" at install time"
**Fleet Desktop version**: `main`

<hr/>

1. Install Orbit
2. Click on Fleet tray icon, first menu item says "Initializing..." and is disabled.
3. Click on "Transparency" menu item (while the other entry still says "Initializing...").

### 🧑‍💻  Expected behavior

Transparency menu item should also be disabled until Fleet Desktop can connect to Fleet Server.

### 💥  Actual behavior

![Screen Shot 2

[2022-06-29 18:38] noahtalerman commented on #5786
@tgauda heads up, this improvement is being de-prioritized. Please feel free to bring this issue back to a future Product office hours to discuss reprioritizing.

The "Expansion of host vitals" epic (https://github.com/fleetdm/fleet/issues/397) will likely fill interface capacity for the next 6 weeks.

[2022-06-29 18:41] ksatter commented on #6424
Thanks for the submission as well as the detailed description, @ololdach! The engineering team may follow up with some additional questions.

[2022-06-29 18:41] noahtalerman commented on #5539
@zwass heads up, it looks like this issue is related to the "controlled rollout proposal": #6221

The interface portion of this improvement is being de-prioritized. Please feel free to bring this issue a future Product office hours to discuss reprioritizing.

The "Expansion of host vitals" epic (https://github.com/fleetdm/fleet/issues/397) will likely fill interface capacity for the next 6 weeks.

[2022-06-29 18:45] noahtalerman commented on #4345
@tgauda heads up, this improvement is being de-prioritized. Please feel free to bring this issue a future Product office hours to discuss reprioritizing.

The "Expansion of host vitals" epic (https://github.com/fleetdm/fleet/issues/397) will likely fill interface capacity for the next 6 weeks.

[2022-06-29 18:50] benatsb commented on #4345
That is unfortunate, but is there a chance it'll be picked back up after the next 6 weeks?

I'm very interested in OSQuery/Fleet and what you're doing with vulnerability management checking.  A huge pieces for us though has been missing in Windows hotfix/OS information in that category.

[2022-06-29 19:01] noahtalerman commented on #4345
Yes, it's very possible this improvement is prioritized 6 weeks down the road.

@benatsb a related "See unsupported Windows versions" issue will be addressed in the next 6 weeks: #6428

Will this expansion of Windows versions achieve the use case you're thinking of? This expansion includes the ability to see the number of hosts with a specific Windows version for example "Windows 10 Pro, version 2

[2022-06-29 19:01] #5040 closed

[2022-06-29 19:01] noahtalerman commented on #6385
Thanks Kelvin 🙌

[2022-06-29 19:07] lukeheath commented on #6384
@noahtalerman Got it. Thanks for the detailed specs! 🙌

[2022-06-29 19:09] ksatter commented on #5859
@kswagler-rh Looks like this one should be good to close out! Thanks again for all of the effort you put into making Fleet better for everyone!

[2022-06-29 19:19] GuillaumeRoss opened #6441 "Duplicate Fleet desktop icons after a reinstall"
**Fleet version**: Fleet Desktop v0.0.3

**Operating system**: macOS 12.4

<hr/>

### 🧑‍💻  Expected behavior
I expect to only ever see one Fleet desktop icon.

### 💥  Actual behavior
After moving the computer from Group1 to Group2 in MDM, which are both groups that include the deployment of Fleet with Fleet desktop as a requirement, two Fleet desktops popped up.

This happened on @mikermcneil's co

[2022-06-29 19:36] DrewBakerfdm commented on #6274
I've applied these changes to the Security Display ad campaign

[2022-06-29 19:51] #5262 closed

[2022-06-29 19:52] lucasmrod commented on #6441
Ah I was able to reproduce:
- It does not reproduce if you install the same `.pkg` twice.
- It consistently reproduce if you install a different `.pkg`. (e.g. generate one `pkg` with stable channels, and another one with `edge` channels), e.g.:
[code]

I believe we need to set a `preinstall` script here: https://github.com/fleetdm/fleet/blob/e853fb3158a10af0dd8c37169668921ef7d06fdb/orbit/pkg/packa

[2022-06-29 20:16] noahtalerman commented on #4032
Heads up, this issue is being deprioritized. Please feel free to bring this to a future DevRel office hours to discuss prioritizing.

[2022-06-29 20:17] noahtalerman commented on #4026
Heads up, this issue needs to be broken up before it's ready to be prioritized.

[2022-06-29 20:18] noahtalerman commented on #5693
Heads up, this issue needs to be broken up before it's prioritized.

[2022-06-29 20:43] mna commented on #3947
Mostly a reminder for me for when I'm back from vacation: I have the async implementation almost ready to load test in a branch (https://github.com/fleetdm/fleet/compare/main...mna:mna-3947-investigate-scheduled-queries-perf?expand=1). What's missing is a test for the scheduled query stats collector in the async processing (look for `TODO(mna)` in that branch). Should be interesting to compare how

[2022-06-29 20:55] noahtalerman commented on #6064
Note: All child issues must make it into the same release.

[2022-06-29 20:55] benatsb commented on #4345
@noahtalerman, no, but enhanced vital statistics will always be helpful.

I just tried to lookup a more specific example, but the CPE 2.3 information for windows_10 didn't have specific versions/hotfix references. They only referenced a major OS version (ie 20H2). However, the primary information I'm looking for would be any Windows entity that has an operating system vulnerability to show in the

[2022-06-30 02:46] mike-j-thomas commented on #6276
[PR here](https://github.com/fleetdm/fleet/pull/6446). Last step is to add a UTM to the articles page.

Screenshots for reference:

![Image](https://user-images.githubusercontent.com/78363703/176581844-615a4af3-d0e4-46c0-a836-a0f64648ccd6.png)

![Image](https://user-images.githubusercontent.com/78363703/176581869-b7a8a9c6-d03e-4b4b-a64f-e36dcf1face7.png)

[2022-06-30 03:00] mike-j-thomas commented on #6171
@timmy-k, my bad. I thought the PDF version was in the absence of the finished webpage. Here it is with the links you provided https://drive.google.com/drive/folders/1-6E20Pi2u_gAK04J8-nGUiLemxk9NI2b?usp=sharing

[2022-06-30 03:26] mike-j-thomas opened #6447 "Website - make top banner not sticky"
## Goal

I'd like to make a change to the sticky top nav so that the new top banner (CTA for our State of Device Management report) does NOT stick to the top of the browser on scroll.

For reference, this shows how I would like the top banner (green banner in this example) to behave. https://nuxtjs.org/

[2022-06-30 08:42] DominusKelvin commented on #6447
That makes sense. I'll look into it @mike-j-thomas

[2022-06-30 12:38] lucasmrod opened #6448 "Anonymous stats for "non-responding hosts""
### Goal

#6328 is working on adding functionality to detect when a host is not submitting results. These are hosts that are connected (online) but haven't pushed results for some time (see the linked issue for possible causes).

We should add anonymous stats that can allow us to make data-informed decisions around this issue. Maybe this is a frequent issue and maybe not, we don't know (we just kn

[2022-06-30 12:54] juan-fdz-hawa commented on #5306
@lukeheath Should I go ahead and close all the sub-issues related to this master issue?

[2022-06-30 12:56] juan-fdz-hawa commented on #6144
Right now `rpmverify_test` are only used to make assertions against the installed OS, and we found a work around to that - closing this.

[2022-06-30 12:56] #6144 closed

[2022-06-30 14:11] lucasmrod opened #6450 "Add anonymous stats for osquery versions on each platform"
### Goal

Add anonymous stats for osquery versions on each platform.
This would help us prioritize issues like #5939.

### How?

Possibly use a similar approach to #5378., e.g.:
[code]

[2022-06-30 14:39] juan-fdz-hawa commented on #5893
There's not QA needed for this - closing this.

[2022-06-30 14:44] juan-fdz-hawa commented on #5990
After thinking about this a little bit more - doing the proposed changes here is not a good idea because a new vulnerability for an existing software in a host can be added at any time - closing this.

[2022-06-30 14:44] #5990 closed

[2022-06-30 15:17] juan-fdz-hawa opened #6454 "Add 'software_id' column to 'software_cve' table"
### Goal
We want to add a `software_id` FK column to the `software_cve` table.

This is the current schema we have for software_cve:
|Field     |Type            |Null|Key|Default          |Extra                      |
|----------|----------------|----|---|-----------------|---------------------------|
|id        |int(10) unsigned|NO  |PRI|NULL             |auto_increment             |
|cpe_id    |

[2022-06-30 15:26] timmy-k commented on #6276
Merged, so looks like we can close this @mike-j-thomas. Feel free to reopen if you need to

[2022-06-30 15:26] #6276 closed

[2022-06-30 16:09] lucasmrod opened #6456 "Anonymous stats for installed software and host users count"
### Goal

I can think of a couple of anonymous metrics that we could gather for deployments related to "installed software in hosts" and "host users" count:
- `numberOfSoftwareInstalled` (p50, p95, p99, max)
- `numberOfHostUsers` (p50, p95, p99, max)

### How?

This would help us:
- Prioritize issues like #6073.
- Discuss scale improvements to Fleet with a bit more real-world data.
- Know about th

[2022-06-30 16:51] xpkoala opened #6458 "Figure out how to pull weekly bug stats from git and move it to the tracker on product doc"
### Goal

https://docs.google.com/spreadsheets/d/1dd4YUFaFZ1fTMaTVjhXWKAT2ikC6kpNsh_S6DGsrppQ/edit#gid=0 (internal)

[2022-06-30 16:52] lukeheath commented on #5306
@juan-fdz-hawa Yes if they are not going to be completed due to scope change you can go ahead and close them. Thanks!

[2022-06-30 16:57] lukeheath commented on #5750
@RachelElysia Agreed, I think this will require a database migration, as well.

@noahtalerman @xpkoala I'm moving this issue to the roadmap board so that we can spec out how we should handle this scenario.

[2022-06-30 17:10] juan-fdz-hawa commented on #5306
@lukeheath - actually all sub-issues are done and we already released this as part of 4.16.0 (https://github.com/fleetdm/fleet/releases/tag/fleet-v4.16.0)

[2022-06-30 17:29] lukeheath commented on #5306
@juan-fdz-hawa Ah, got it. Yes, if you could tag them with the 4.16.0 milestone and close them out, then remove from the "Release" board that would be great. Thank you!

[2022-06-30 17:31] zwass commented on #6348
That makes sense to me. The extension table should be able to access the constraint and then do the update appropriately.

[2022-06-30 17:32] #5313 closed

[2022-06-30 17:33] #5648 closed

[2022-06-30 18:12] lucasmrod commented on #6141
@lukeheath Was this closed accidentally? (Am looking for such docs.)

[2022-06-30 18:27] lukeheath commented on #6141
@lucasmrod Yes, some PRs tagged 4.16 accidentally got closed when cycling out the milestone. Reopened!

[2022-06-30 18:28] lucasmrod commented on #6141
Thanks!

Marking #6049 as related.

[2022-06-30 18:46] noahtalerman commented on #6428
TODO Noah: What Windows OS's are we going to test for to make sure we always get back the version info? (ex. H121).

[2022-06-30 18:53] #6359 closed

[2022-06-30 19:19] nunesvn opened #6464 "Orbit (with `--insecure`) on Windows stops communicating with Fleet Server"
**Fleet version**: _4.16.0_

**Osquery version**: _5.3.0_

**Operating system**: _Windows Server 2022, 2019, 11 and others_

<hr/>

The report below uses a MSI package generated by fleetctl:

`fleetctl package --type=msi --fleet-url=https://fleet1.infra.example.com:8080       --enroll-secret=zzzzXXXXXaaaaBBBBCCCCDDDD --version 1.0       --osquery-flagfile /etc/fleet/osquery.flags --insecure`

Some

[2022-06-30 19:30] timmy-k commented on #5021
This serves as a list of engineering blog concepts— https://github.com/fleetdm/confidential/issues/1476

[2022-06-30 20:08] lucasmrod opened #6467 "Fleet shows inaccurate value for "Last restarted""
**Fleet version**: `main`.

See how "Last restarted" says 9 days when the host hasn't checked in in > 30 days.

![Screen Shot 2022-06-30 at 17 04 56](https://user-images.githubusercontent.com/2073526/176768333-52627933-00cf-4d65-9444-46e38724bdcd.png)

<hr/>

Sample host vitals:

- "Last fetched" corresponds to `host.detail_updated_at`.
- "Last restarted" corresponds to `host.uptime`.

`host.uptim

[2022-06-30 20:13] DominusKelvin commented on #6385
@noahtalerman I think in the third task you mean the second and not the third bullet point? I will go ahead assuming this but I can revert if it turns out I was mistaken

[2022-07-01 10:54] lucasmrod commented on #6464
Hi @nunesvn! Thanks for the detailed report!

The `--insecure` flag is not safe for use in production.
That said, when using the `--insecure` flag, Orbit will:
1. "Copy" an [insecure TLS certificate](https://github.com/fleetdm/fleet/blob/main/orbit/pkg/insecure/proxy.go) into `$TEMP/fleet.crt`. This self-signed certificate is insecure but "accepted" by osqueryd (if provided via `--tls_server_certs

[2022-07-01 13:17] nunesvn commented on #6464
Hey @lucasmrod, you're absolutely right, I left the `--insecure` on the `fleetctl` command line from our lab environment when creating MSI packages for production. I created a new MSI and updated the hosts successfully.

About the side note:
` --osquery-flagfile /etc/fleet/osquery.flags`: this option refers to the path on the Linux machine where you're generating the MSI. `fleetctl` bundles this f

[2022-07-01 13:19] lucasmrod commented on #6464
Ah true! I got confused :)

[2022-07-01 13:23] lucasmrod commented on #6464
Glad the issue is fixed. I'll amend the issue a little if that's ok.

We've seen this (`--insecure`) issue of the generated `fleet.crt` in $TEMP in Ubuntu hosts too , see [here](https://askubuntu.com/questions/1250974/user-root-cant-write-to-file-in-tmp-owned-by-someone-else-in-20-04-but-can-in).

[2022-07-01 13:23] #6464 closed

[2022-07-01 16:06] lukeheath commented on #5723
@chiiph Can we rely on the Fleet instance to know how much time is left rather than trying to pass around the response from `POST /instance`? It seems like that would be much simpler.

Ideally, the `license` object in the `GET /config` response would look like this:

[code]

Then, if we see the `tier` is `demo` we can show the sandbox notification and use the `expiration` value from the same `lice

[2022-07-01 16:39] lukeheath opened #6475 "Add operating systems table and update related endpoints"
## Problem

I'm an engineer managing thousands of hosts and I'm overwhelmed with tracking my security goals for each of these hosts.

This makes is hard to achieve my security goals because it's difficult to find which hosts are in an undesired state and, when I do, it's difficult to ask these hosts, and their users, why they're in an undesired state.

## Goal

Add ability to know which Windows ho

[2022-07-01 16:40] RachelElysia commented on #3954
- Consider refactor software automation FE to mimick policy automation without crazy frontend indexing

[2022-07-01 16:56] lukeheath opened #6477 "Add Windows versions to dashboard and host details"
## Problem

I'm an engineer managing thousands Windows hosts and I'm overwhelmed with tracking my security goals for each of these hosts.

This makes is hard to achieve my security goals because it's difficult to find which hosts are in an undesired state and, when I do, it's difficult to ask these hosts, and their users, why they're in an undesired state.

## Goal

Add ability to know which Windo

[2022-07-01 17:18] chiiph commented on #5723
I believe we are using one license for all, we are not generating new ones per sandbox. So for now the server is not aware of any specific expiration.

Could the UI store the response from `POST /instance` in a Context? I think we should rely on that response rather than the server itself because that's where the source of truth lives for that value by design, but "caching" it in a Context (we mig

[2022-07-01 17:20] lucasmrod commented on #6348
+1, these are all backend changes (in Fleet Server, Orbit and Fleet Desktop) and I currently do not foresee any API changes.

[2022-07-01 20:10] lucasmrod opened #6479 "Orbit should not use `os.TempDir` for storing the Proxy certificate when using `--insecure` mode"
**Fleet version**: `main`

Orbit uses `os.TempDir` to store the proxy certificate for the `--insecure` mode:
https://github.com/fleetdm/fleet/blob/e92ea532b6d56a75e24f79013a906009a1c0f235/orbit/cmd/orbit/orbit.go#L398

We've heard reports from users that using a temp directory is unstable:
- On Ubuntu we've seen [this issue](https://askubuntu.com/questions/1250974/user-root-cant-write-to-file-in-t

[2022-07-04 12:12] LucasTjampens opened #6481 "Incorrect host status using Fleet API"
**Fleet version**:
fleetctl - version 4.16.0
branch: HEAD
revision: https://github.com/fleetdm/fleet/commit/865ab32d03c37e8a74e811bc5ac697202f14e455
build date: 2022-06-21
build user: runner
go version: go1.17.8

Operating system: Kubernetes

---

The value of the status field is incorrect when I try to fetch a host using its uuid (value is correct using its id).

- Expected behavior

`curl --requ

[2022-07-04 17:43] Desmi-Dizney commented on #6173
See:
- https://github.com/fleetdm/fleet/pull/6482

[2022-07-04 17:45] lucasmrod commented on #6347
Closing because there's no interface work needed for this feature, see https://github.com/fleetdm/fleet/issues/6348#issuecomment-1172490417.

[2022-07-04 17:45] #6347 closed

[2022-07-04 17:47] lucasmrod commented on #6348
I've just updated the description with the backend changes needed on Fleet Server and Fleet Desktop.

[2022-07-04 20:12] lucasmrod commented on #6481
Hi @LucasTjampens, thanks reporting the issue.

You are correct, this is a bug in the `GET /api/v1/fleet/hosts/identifier/{identifier}` API endpoint.
I was able to reproduce:
[code]

[2022-07-04 21:01] lucasmrod commented on #6365
@lukeheath

The goal is to have this "pre-packaged installers" feature for Fleet Sandbox as soon as we can.

Please take a look at the last bullet point in the description (with the TBD comment). We will introduce a new API for this feature and the UI will use it in the "Add hosts" page. We need to discuss the exact behavior/UX.

[2022-07-04 23:56] roperzh commented on #5713
I switched to an M1 computer midway through #6364 and was able to get rid of this error building the image like this:

[code]

[2022-07-04 23:58] roperzh commented on #5732
This _might_ be an easy fix with a comment I left in #5713, we need to re-test it and someone with the proper Docker credentials and an M1 machine should rebuild and publish the image.

[2022-07-05 10:39] lucasmrod commented on #5713
Cool! By "the image" you mean the new coming `fleetctl` image? or the image being used by the current version of `fleetctl`, `fleetdm/wix:latest`?

[2022-07-05 11:12] lucasmrod commented on #6365
@noahtalerman Also please take a look at constraints we will be adding to Fleet Sandbox. (All these constraints are there to The have this "pre-packaged installers" feature for Fleet Sandbox as soon as we can and with the least amount of changes.)

[2022-07-05 11:51] roperzh commented on #5713
I tried with both images! 👍

I didn't test in other computers though, so I think we have to build the image like that and do a through round of tests.

[2022-07-05 12:03] lucasmrod commented on #5713
Is some feature in `buildx` fixing the issue?

[2022-07-05 13:40] roperzh commented on #5713
I tried again and at least in my machine, using `buildx` was necessary for this to work, definitely needs more investigation.

[2022-07-05 13:46] juan-fdz-hawa opened #6487 "Remove cpe_id from software_cve table"
### Goal

Should be done in the next version after #6454 is deployed.

As a continuation of the work done in #6454 we want to remove the `cpe_id` column from the `software_cve` table and update the code-base so that only the `software_id` column is used when working with software vulnerabilities.

[2022-07-05 15:01] noahtalerman opened #6492 "Blogpost: Fleet 4.17.0"
Fleet 4.17.0 is scheduled for release on 2022-07-07

### Goal

Prepare and publish the release blogpost for Fleet 4.17.0 so that anyone in the Fleet/osquery community can understand the latest improvements.

### Primary improvements

Fleet Premium and Fleet Free: Orbit out of beta.
- What is Orbit today? (1 to 2 sentences)
- What is the vision for Orbit? (2 to 3 sentences)
- Link user to the issue

[2022-07-05 15:12] GuillaumeRoss opened #6493 "RSS Feed for articles"
### Goal

Now that the Fleet blog is self-hosted and not on Medium, it would be great to have an easy way to follow it with an RSS reader.

### How?

- [ ] Create an RSS feed of the articles with full content
- [ ] Put a link to said RSS feed on articles page (https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?node-id=7627%3A27879&t=1GUr0XTxJITrJkD3-1)

[2022-07-05 17:46] noahtalerman commented on #6168
Hey @sharvilshah will this be addressed in the upcoming release of Fleet Desktop?

If yes, can you please move this issue to the "Ready for QA" column in the "Agent" section of the 🚀 Release board? This way, @xpkoala knows that this change is something we'd like to test prior to Thursday's release.

[2022-07-05 18:22] noahtalerman opened #6496 "Add controlled rollout proposal"
### Goal

TODO

### Child issues
- Platform: Build a mechanism for sending appropriate configuration to appropriate devices. TODO file this issue
- Interface: Build an API and fleetctl functionality for configuring the rollout. TODO file this issue

[2022-07-05 18:47] noahtalerman commented on #6433
TODO Noah: Start to look for what's possible here: https://micromdm.io/blog/troubleshoot-dep/

[2022-07-05 19:24] noahtalerman commented on #6428
@lukeheath heads up, I updated the proposed UI changes to include a `version` column:
![Screen Shot 2022-07-05 at 3 20 11 PM](https://user-images.githubusercontent.com/47070608/177400042-aeaaef39-dd4c-4895-927b-eb958850ed7b.png)

This is because, soon we'll want to detect vulnerabilities for operating systems. Like the 3rd party software on the **Software** page, the operating systems in the "Oper

[2022-07-05 19:30] noahtalerman commented on #6429
@lukeheath heads up, I updated the proposed UI changes to break the name column into separate name and version columns:

![Image](https://user-images.githubusercontent.com/47070608/177401549-f7777fc2-db02-46e4-aa3d-5d66a1a35032.png)

Reasoning is the same as breaking up Windows operating systems into separate name and version. This reasoning is here: https://github.com/fleetdm/fleet/issues/6428#is

[2022-07-05 19:47] lukeheath opened #6499 "Add Windows OS version information to dashboard and hosts page"
## Problem

I'm an engineer managing thousands of Windows hosts and I'm overwhelmed with tracking the following goal:
- Make sure all my hosts are running operating system (Windows) versions that are supported by Microsoft.

It's hard to make progress on this goal because I don't know what hosts I need to take action on.

## Goals

1. Know how many hosts are running unsupported Windows versions.
-

[2022-07-05 19:58] lukeheath commented on #6477
Closing as dupe.

[2022-07-05 19:58] #6477 closed

[2022-07-05 20:45] noahtalerman commented on #6428
@lukeheath I updated the dev note in the linked Figma to call out the new `name_only` and `version` API properties.

Linking to the dev note here: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=7652%3A275853

[2022-07-05 20:45] noahtalerman commented on #6429
@lukeheath I updated the dev note in the linked Figma to call out the new `name_only` and `version` API properties.

Linking to the dev note here: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=7720%3A275916

[2022-07-05 21:11] erikng opened #6501 "CI/CD checks should run depending on files changed"
I noticed in my documentation PR that it triggers fleetctl and other tooling build processes that are slower if it just built the website.

[2022-07-05 21:33] lukeheath opened #6502 "Add host fixtures for Windows"

[2022-07-05 22:30] gillespi314 commented on #6475
@lukeheath did you mean `/hosts/manage?operating_system_id=2`?

[2022-07-05 22:46] lukeheath commented on #6475
@gillespi314

Yes, thank you!

[2022-07-05 23:07] Desmi-Dizney commented on #6071
Merged and complete.

[2022-07-05 23:07] #6071 closed

[2022-07-05 23:33] mike-j-thomas opened #6505 "Change "Brand" to "Digital Experience" in the handbook"

[2022-07-06 11:17] tokcum commented on #3563
Oh, there is more urgent need. :) Lately, we have seen issues in our environment when VMs with orbit already installed and once started were cloned. The agents on the cloned VMs have the same id which is really bad from a fleet perspective: in the web UI hosts "disappear", i.e. are replaced by another host with the same id.

We run with the default configuration: the hardware id is used as the id.

[2022-07-06 11:34] sharvilshah commented on #6168
@noahtalerman, yep! Thanks, moved it "Awaiting QA"

[2022-07-06 14:21] noahtalerman commented on #4094
Thanks @lucasmrod.

It looks like the copy used on the **Schedule** page is different than the **Packs** page. Because of this I updated this issue's description and moved this issue into the 🚀 Release board.

cc @xpkoala

[2022-07-06 14:24] noahtalerman opened #6507 "On Team details > Add member modal, "Add member" button doesn't use sentence case"
**Fleet version**: 4.16.0

<hr/>

### 🧑‍💻  Expected behavior

On the **Team details > Add member** modal, I expected the "Add member" button to use sentence case.

### 💥  Actual behavior

The button uses title case:
![Screen Shot 2022-07-06 at 10 23 51 AM](https://user-images.githubusercontent.com/47070608/177573192-2b0f5a21-23e1-4568-b195-58ef30bd0bf0.png)

[2022-07-06 14:25] benatsb commented on #4345
With that being said, knowing the hotfixes installed, as well as the windows Major and Minor versions would helpful of course.

At the end of the day for a vuln scanning tool, you don't necessarily want to write custom queries in association to well known vuln for Windows each time a new vuln is disclosed. Ideally the scanning tool can pickup a new CVE and be able to identify systems that are affe

[2022-07-06 15:10] noahtalerman opened #6508 "Only include vulnerabilities (CVEs) in Fleet UI and API"
Currently, the Fleet UI and API exposes [Ubuntu security notices (USN)](https://ubuntu.com/security/notices) and [Red Hat security advisories](https://access.redhat.com/articles/2130961):
<img width="1788" alt="Screen Shot 2022-06-22 at 6 08 42 PM" src="https://user-images.githubusercontent.com/47070608/177582740-40474803-6c93-4cae-9eef-756edfa132c9.png">

We think that each of these USNs and Red

[2022-07-06 15:17] lucasmrod commented on #6141
Also take a look at https://osquery.slack.com/archives/C01DXJL16D8/p1656964075641729

Users should also whitelist `/api/latest/fleet/results` (for `fleetctl goquery` command to work).

[2022-07-06 15:50] noahtalerman commented on #6257
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @mikermcneil

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-06-23.

[2022-07-06 16:51] noahtalerman commented on #2659
Sweet!

I think we'll want to consider how to include the tables that come by default with Orbit. These tables won't be included in the osquery schema JSON.

[2022-07-06 16:56] noahtalerman commented on #5750
This is a great catch.

@lukeheath I think we can de-prioritize this issue. This is because the current downgrade process asks the user to edit all team level users before downgrading:

If you agree that this is not a bug, I'll close this issue.

FYI the above documentation was added after this issue was filed.

[2022-07-06 17:10] chiiph opened #6513 "Sanitize configs (specially config endpoints) to limit possible configs applied"
**Fleet version**: main
**Operating system**: N/A
**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior

Fleet makes an effort to prevent bad configs to reach osquery.

### 💥  Actual behavior

Fleet doesn't detect when `logger_tls_endpoint` is not a path starting with `/`. Applying a bad path would break osquery as it would stop talking to the right fleet instance.

We should look through the po

[2022-07-06 17:14] sharvilshah opened #6514 "osquery should sanitize `logger_tls_plugin`"
This needs a bit of a research, but from the recent conversation, we should verify is osquery needs to a slash to `logger_tls_plugin`, and how to sanitize/harden the flags.

Related:
- #6513 (this will be addressed as part of #5222)

[2022-07-06 17:52] lukeheath commented on #5750
@noahtalerman Agreed, with the downgrade instructions this shouldn't be a problem.

That being said, it would be nice for us to create a downgrade command at some point that handled any necessary db changes for the user.

[2022-07-06 17:58] lukeheath commented on #6513
@gillespi314 Assigning over to you. Just let me know if I can help spec it out any further.

[2022-07-06 18:48] timmy-k opened #6518 "Make growth linkbuilding strategy"

[2022-07-06 19:04] #5552 closed

[2022-07-06 19:21] lucasmrod commented on #6365
Possible simplification for MVF (which would only require generating only one {PKG|RPM|DEB|MSI} for the whole deployment):
On Fleet Sandbox: Do not allow generating specific installers for teams. Every enrolled host would be added to the Global domain. After the hosts are enrolled to Fleet, Global/Team admins can move those enrolled hosts from Global to teams.

[2022-07-06 19:38] RachelElysia opened #6521 "In Hosts table, convert "Uptime" to "Last restarted""
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
I expect the "Uptime" column to be named "Last restarted."

I expect the "Uptime" column to include the time since last restart.
- This is the sum of the time from now to last upd

[2022-07-06 20:54] lukeheath commented on #5723
@noahtalerman Assigning back to you to lock in any changed requirements with stakeholders.

[2022-07-06 20:56] #5750 closed

[2022-07-06 21:08] xpkoala commented on #5086
@lukeheath @RachelElysia All of these look good except for the `/activities` endpoint. I am getting a constant spinner when targeting `/api/latest/fleet/activities`. Could someone give me a quick sanity check on this one?

[2022-07-06 21:09] noahtalerman commented on #5723
Proposal: Include duration in the setup API call. This is the same API call that sets up the admin user.

This means that the website cannot change an existing Fleet Sandbox instance's duration.

[2022-07-07 01:56] timmy-k commented on #6210
Duplicate to

[2022-07-07 03:07] timmy-k commented on #6277
Completed, so closing. May need to create another for retargeting (activation) campaigns

[2022-07-07 03:08] timmy-k commented on #6277
Reopening because of this:
![image](https://user-images.githubusercontent.com/7229110/177682234-09203974-bb9f-4d03-8ef9-21bb3c729c1b.png)

[2022-07-07 03:08] #6277 closed

[2022-07-07 03:12] timmy-k opened #6526 "Sign Fleet up for a paid podbean account"
### Goal
Get keys to the castle to change podcast details by transferring FLM account content to Fleet

### How

- [x] Drew to sign up for account
- [x] FLM to transfer access to our account

[2022-07-07 04:46] mike-j-thomas opened #6527 "Make sticky masthead less sensitive"
Make the top nav less sensitive when scrolling the page back up. The goal is to make it less distracting as the masthead slides back into view – it's particularly jarring on mobile.

https://user-images.githubusercontent.com/78363703/177693389-dfc716f3-3fe1-4ac3-b307-4f2c16bc0cd2.mov

https://user-images.githubusercontent.com/78363703/177693401-a4bbeac0-cdc7-4089-9c89-b41f356c439d.MP4

[2022-07-07 10:34] xpkoala commented on #6260
Changes to osquery are not yet reflected in their latest build. I'm going to keep this in the QA column until we have ingested the changes and can properly test the fix.

[2022-07-07 11:56] lucasmrod commented on #6501
Done. Let me know if it makes sense.

[2022-07-07 11:58] defensivedepth commented on #5478
MFA is a key security control for unauthorized access and I would love to see FleetDM support it natively (outside of SSO)

[2022-07-07 14:47] noahtalerman opened #6530 "Add ability to see MDM information for Windows hosts"
## Problem

As an engineer managing thousands of hosts and I'm overwhelmed with tracking these goals:

- Know which Windows hosts are enrolled to mobile device management (MDM).
- Know which Windows hosts are enrolled to which MDM solution.

This makes is hard to understand how my organization is doing in our effort to enroll all Windows hosts to MDM.

This also makes is hard to understand how my

[2022-07-07 14:53] noahtalerman commented on #6021
@zhumo heads up, I assigned myself this issue and moved it to the "Interface" section of the Roadmap board.

This way, the Interface team can implement this in an upcoming release.

[2022-07-07 16:15] noahtalerman commented on #6530
Zach: Look into the Windows registry.

[2022-07-07 16:24] noahtalerman commented on #6064
@zhumo we'd like to remove the above requirement from this epic. This is because we can display the generic error message without resetting the expiration time.

Do you have any concerns with this?

[2022-07-07 17:07] juan-fdz-hawa commented on #6508
@noahtalerman After taking a looking at this I noticed we are assuming that all CVEs will have an NVD entry, and that's not always the case. This is a problem because for generating the reference URL, we prepend `https://nvd.nist.gov/vuln/detail/` to the CVE id. That said, all the OVAL sources we use should include a reference URL as part of their definition. Here's an example of a CVE that has an

[2022-07-07 17:27] #6073 closed

[2022-07-07 18:52] zwinnerman-fleetdm commented on #5723
This could also be an endpoint internal to sandbox itself by the way, that would simplify authentification and since ultimately sandbox determines when an instance goes away it also simplifies knowing when an instance gets shut off since sandbox knows when an instance will be shut off one way or another.

[2022-07-07 19:40] lukeheath commented on #4062
@xpkoala Thanks for the heads up! This is a frontend bug so this is the right place. I'll get in a fix in shortly.

[2022-07-07 19:53] juan-fdz-hawa opened #6538 "Remove cpe_id from the software_cve table"
### Goal

Should be done in the next version after #6487 is deployed.

As a continuation of the work done in #6487 we want to remove the `cpe_id` column from the `software_cve` table and update the code-base accordantly. For this release we should:

1. Remove any `none:<software_id>` entries from the `software_cpe` table.
2. Remove the `cpe_id` column from the `software_cve` table.

[2022-07-07 20:06] lukeheath commented on #4062
@xpkoala I'm not able to reproduce this error, and I am seeing battery health:

![Image](https://user-images.githubusercontent.com/2495927/177862077-a3c6c7fd-daf1-400b-8b2d-1bfb281870d7.png)

Note using `osquery-perf` not all hosts will have battery, only about 50% of them.

However, the error in your console implies there's an issue with your migration. This feature did require some database chan

[2022-07-07 20:14] noahtalerman commented on #5222
Noah: We're going to prioritize a linting solution to one of the above problems:

- As a user, I want to be able to check if my YAML file is correctly formatted so that I'm confident Fleet will accept this file.

[2022-07-07 20:31] xpkoala opened #6543 "4.17.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-07-07 20:44] lukeheath commented on #4062
I did put in a PR for this ticket, but it was a code cleanup task that shouldn't impact functionality.

[2022-07-07 20:50] lukeheath commented on #5086
@xpkoala @RachelElysia Confirmed that the activities card error message is appearing for me as expected:

<img width="1389" alt="image" src="https://user-images.githubusercontent.com/2495927/177869021-e5585374-b7d6-44db-9f5e-4f3f86fc176b.png">

[2022-07-07 20:58] lucasmrod commented on #6365
Yes, would simplify things for the MVF a lot. Both in UI and backend.
- We would only need to disallow enroll editing of the Global domain.
- We would only need to generate 4 packages per deployment (1 RPM, 1 DEB, 1 MSI and 1 PKG).
- And we wouldn't need that enroll pool config or a cap on number of teams, etc.

[2022-07-07 21:09] xpkoala commented on #4062
Thank you! I'll get a bit more information in just a moment.

[2022-07-07 21:15] lukeheath commented on #6365
@lucasmrod

The UI can make a HEAD request to check if an installer exists, if so, then it can display a download button for it, (if not, "show the current UI"? TBD with UI team)
The API looks for the installer corresponding to the Global/Team the user is looking at, and returns it for download on the response body.

My thoughts:

1. Re: Endpoints, proposed paths look good to me. Typically we have

[2022-07-07 21:23] noahtalerman opened #6544 "Constraints for Fleet Sandbox"
## Goal

Disable several features in Fleet Sandbox so that users can't get themselves into a confusing situation or broken state.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=7775%3A279388

## Related

- #4970 (epic)
- #6597 (platform)

## Tasks

If `config.sandbox_enabled` is set to true, the following pages will become inacc

[2022-07-07 21:49] xpkoala commented on #4062
On an m1 Mac:
- Kill Fleet.
- `make db-reset` to clear db.
- Spin down docker.
- Double check I'm running from `main` and it is up to date.
- Remove previous host from Mac.
- Spin up Docker
- Start Fleet with the following `./build/fleet serve --dev --dev_license --vulnerabilities_periodicity=600s --vulnerabilities_databases_path=/tmp/vulndb --debug`
- Setup Fleet for the first time.
- Choose to a

[2022-07-07 22:17] lucasmrod commented on #6365
True. Though I propose doing something like that to have the same UI code work for Fleet Non-Sandbox and Fleet Sandbox (if the HEAD fails then it means there are no installers which means we should display the current UI with the `fleetctl` commands). Just a thought/guess, am all ears.

[2022-07-07 23:21] mike-j-thomas opened #6547 "Article revision - measuring security compliance goals"
https://github.com/fleetdm/fleet/pull/6230 make revisions to this article. Feedback in conversation thread of this PR.

[2022-07-07 23:50] lukeheath commented on #5723
@zwinnerman-fleetdm

This seems like a good solution to me, and moves us closer to being able to handle changing sandbox instance durations. I'll create a ticket and assign over to @chiiph to flesh out along with you.

[2022-07-08 00:01] lukeheath opened #6548 "Build sandbox API endpoint that provides expiration time of sandbox instance"
### Goal

As a UI developer, I want to inform the sandbox user how much time is remaining in their sandbox instance so they can take necessary steps to complete their review before expiration

### How?

Per @zwinnerman-fleetdm's [comment](https://github.com/fleetdm/fleet/issues/5723#issuecomment-1178076164), the selected approach is for the sandbox to provide an API endpoint that each sandbox inst

[2022-07-08 00:03] lukeheath commented on #6548
@chiiph I created this issue based on @zwinnerman-fleetdm's [comment](https://github.com/fleetdm/fleet/issues/5723#issuecomment-1178076164) that the sandbox could provide an endpoint each sandbox instance frontend could use to retrieve the expiration date of the instance. I've added some high-level details and assigned to you for review. Feel free to modify as needed. Once this is ready, please ma

[2022-07-08 00:18] lukeheath commented on #5723
@noahtalerman Heads up, the notes in the Figma are outdated based on the changing specs.

[2022-07-08 00:54] zwass commented on #6530
Lots of good info in the registry
<img width="792" alt="Screen Shot 2022-07-07 at 5 51 50 PM" src="https://user-images.githubusercontent.com/575602/177894954-a2a9d545-062f-4008-9e21-b16bbee79b06.png">

[2022-07-08 03:24] mikermcneil commented on #5472
@mike-j-thomas This has been stuck waiting on me too long.  Is there room to get it into the next release?

@eashaw I'm imagining using the existing logic in the github webhook that sniffs out which files are being changed in a PR and having it add a `#handbook` github label if the PR contains _only_ changes to the handbook.

The goal is to help other contributors more easily filter out (i.e. igno

[2022-07-08 03:27] mikermcneil commented on #5473
@mike-j-thomas If there's room to get this one into an upcoming release this summer (doesn't have to be July), that would be helpful.

@eashaw This is one where I think it would be smart for me to review a draft PR with comments and todo stubs first (or a summary of your plan) before moving on to the real thing.

[2022-07-08 05:35] lukeheath commented on #6365
We'll be adjusting the UI based on the `config.license` object, which is our source of truth for what kind of instance is running. However, using a HEAD request to validate files exist for sandbox instances is not a bad idea.

[2022-07-08 06:01] lukeheath commented on #5723
@noahtalerman I noticed the Figma screens for this ticket show a new dashboard card for sandbox:

![Image](https://user-images.githubusercontent.com/2495927/177926895-ebde1c60-85df-4a87-a694-6fca6d062e38.png)

But I don't see an issue to build that out. Do we need to create one?

[2022-07-08 06:12] mike-j-thomas commented on #6492
@ksatter, here are the images for the release post.

Thumbnail:
![fleet-4 17 0-1600x900@2x](https://user-images.githubusercontent.com/78363703/177926889-698b0d5d-99d8-41e5-a980-6ac9b505ad37.jpg)

Hero:
![4 17 0-cover-1600x900@2x](https://user-images.githubusercontent.com/78363703/177928225-89f5f5e8-f892-4b34-932a-11767588bbb0.jpg)

Orbit:
![fleet-4 17 0-orbit-auto-updater-1600x900@2x](https://user

[2022-07-08 06:26] mike-j-thomas commented on #5097
@noahtalerman following up from our conversation earlier this week: https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?node-id=1694%3A5979

The new layout addresses the primary goal of providing visitors who come directly to the docs with a clear pathway for getting started with Fleet.

[2022-07-08 07:02] lukeheath opened #6549 "Add "Disk space" column and tooltips to Hosts page."

[2022-07-08 07:07] lukeheath opened #6550 "Add "Disk space" column and tooltips to Hosts page."
## Problem

I'm an engineer managing thousands of macOS, Windows, Chrome OS, and Linux hosts and I'm overwhelmed with tracking my security goals for each of these hosts.

This makes is hard to achieve my security goals because it's difficult to find which hosts are in an undesired state and, when I do, it's difficult to ask these hosts, and their users, why they're in an undesired state.

## Goal

[2022-07-08 07:08] lukeheath opened #6551 "Update the "Disk space" element on the Host details page with new colors and tooltips."
## Problem

I'm an engineer managing thousands of macOS, Windows, Chrome OS, and Linux hosts and I'm overwhelmed with tracking my security goals for each of these hosts.

This makes is hard to achieve my security goals because it's difficult to find which hosts are in an undesired state and, when I do, it's difficult to ask these hosts, and their users, why they're in an undesired state.

## Goal

[2022-07-08 11:42] lucasmrod commented on #6365
I've updated the description with the agreed simplification of using Fleet Free on first version of Fleet Sandbox.

[2022-07-08 13:33] noahtalerman opened #6552 "Query builder UI has incorrect platforms"
### Goal

Many tables are marked as compatible for Mac but are not. They are only compatible for Linux. The following tables are inaccurate in this manner:

- lxd_certificates
- lxd_cluster
- lxd_cluster_members
- lxd_images
- lxd_instance_config
- lxd_instance_devices
- lxd_instances
- lxd_networks
- lxd_storage_pools
- process_open_pipes

### Relations

- Parent Epic: #4973
- PR in osquery: http

[2022-07-08 13:58] roperzh opened #6553 "osqueryd runs out of memory when a refetch is triggered from "My Device" page"
**Fleet version**:  Fleet Desktop v0.0.3

**Operating system**: macOS 12.4 (21F79), MacBook Pro (13-inch, M1, 2020)

<hr/>

### 🧑‍💻  Expected behavior

After triggering a re-fetch from the web UI, Fleet Desktop shouldn't restart.

### 💥  Actual behavior

As seen in the GIF below, as soon as the refetch is completed, the system tray disappears (and appears back again after a few seconds)

![2022-07

[2022-07-08 14:05] noahtalerman commented on #6203
@xpkoala heads up, I removed this from the 🚀 Release board. It looks like this is the old (4.16.0) smoke tests issue.

[2022-07-08 14:11] lucasmrod commented on #6553
Wasn't able to reproduce on my end.

Please check orbit logs: `/var/log/orbit/orbit.stderr.log`.

[2022-07-08 14:24] noahtalerman commented on #6365
@lucasmrod will we need 8 packages ? Each of the above with and without Fleet Desktop.

[2022-07-08 14:26] lucasmrod commented on #6365
Oh good point! Updating the issue.

[2022-07-08 14:32] noahtalerman opened #6555 "Downloadable installers in Fleet Sandbox"
## Goal

As a user, I want to be able to download a Fleet-osquery installer in the Fleet UI so that I can add hosts to Fleet without having to know how to successfully generate an installer with the `fleetctl package` command.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6740%3A267448

## Parent Epic

- #4970

## Child issues

- #6365
- #5757
- #6592

[2022-07-08 14:48] RachelElysia commented on #6550
Close #6549 ?

[2022-07-08 14:52] roperzh commented on #6553
sorry, I created the issue in a rush. I re-fetched again and pasted the relevant portion of the logs in the issue description. Seems like `osqueryd` runs out of memory (we might have solved this recently)

[2022-07-08 15:09] lucasmrod commented on #6553
Curious as to which query might be causing that... (Hopefully https://github.com/osquery/osquery/issues/7658 will help :)

[2022-07-08 16:45] lucasmrod commented on #6259
For QA:
- All Fleet Desktop functionality should be tested.
- Run `curl` on a `for` loop iterating with randomly generated UUIDs. The user should eventually start seeing rate limit errors.

[2022-07-08 17:01] #6549 closed

[2022-07-08 18:01] lukeheath opened #6559 "Battery health column in database is too small"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ MacOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ `Chrome`

<hr/>

### 🧑‍💻  Expected behavior

The host's battery health is reported without error.

### 💥  Actual behavior

If the battery health string exceeds 11 characters, a SQL error is thrown in t

[2022-07-08 19:21] lukeheath commented on #6429
@noahtalerman Now that this is spec'd and estimated I'm assigning the epic back to you as the epic DRI.

[2022-07-08 20:02] mikermcneil commented on #5222
@noahtalerman To be clear, we're not talking about YAML linting here, and we're talking about validating that the agent options are valid agent options, right?

Linting of yaml format already exists:
<img width="631" alt="image" src="https://user-images.githubusercontent.com/618009/178062550-3093503f-735d-40f0-b82d-aaf177b2f4cc.png">

[2022-07-08 20:37] noahtalerman commented on #5757
@lukeheath I'm assigning you this issue for spec'ing.

[2022-07-08 20:38] noahtalerman commented on #5911
@lukeheath I'm passing you this issue for spec'ing.

[2022-07-08 20:41] noahtalerman commented on #5902
@lukeheath I'm passing you this issue for spec'ing.

[2022-07-10 11:49] gavinelder opened #6566 "[FR] Device Trust Scoring."
### Goal

TODO

### How?

Currently , FleetDM leverages osquery to gather device facts and compliance information about an enrolled device.

Fleet could potentially use this information of compliance / non-compliance to determine "Device Trust" which could be displayed as a badge icon.

Fleet administrators when building compliance policies could device if a check influences device trust and by ho

[2022-07-10 23:21] #6274 closed

[2022-07-10 23:22] mike-j-thomas opened #6567 "Fleet darkmode logo in GitHub"

[2022-07-10 23:35] #6111 closed

[2022-07-10 23:41] mike-j-thomas opened #6568 "Website hanging and/or showing 522 Cloudflare error when merging a PR"
## Goal

Make it so that every time we merge a PR, it's not causing the website to hang for several seconds for all visitors and/or showing a 522 Cloudflare error page.

## How

This can be solved in the build script and Heroku, and it would be smart to recruit help from the eng. dept to help Eric out.

[2022-07-11 00:33] mike-j-thomas opened #6569 "Update Fleet deployment guides"
## Goal

The information in the Fleet deployment guides is up-to-date and accurate.

## How

Review and update, if necessary. Schedule time with the original author if needed.

[2022-07-11 00:37] mike-j-thomas opened #6570 "Article formatting guidelines"
## Goal

Provide clear instructions for formatting articles, using meta tags, and adding custom CTAs

## How

- [x] First draft here: https://docs.google.com/document/d/14dWiTj2ONXily1rDNeKUD9CfDW0RpD5g0L3jhc5Knbg/edit?usp=sharing
- [ ] Add to the handbook.
        - I have already added the H1, H2, etc., page hierarchy in the Google Doc.
        - Let's put this under [Fleet website](https://flee

[2022-07-11 00:40] mike-j-thomas opened #6571 "Process for submitting and publishing articles"
## Goal

Provide clear instructions for publishing articles to fleetdm.com

## How

- [x] First draft here: https://docs.google.com/document/d/1owejJ7PjCVm0e21QNXjzw7SRMa3FdkRxb8WoHkKxWRE/edit?usp=sharing
- [x] Chris to review and add to the handbook

[2022-07-11 02:02] mike-j-thomas opened #6572 "Process for making a public announcement"
## Goal

Provide clear instructions for making a public announcement.

## How

- [ ] Define the process
        - Define what a public announcement is
        - How have we handled them in the past? What public announcements have we done to date, and how did we go about it? What worked, and what didn't. @mike-j-thomas quiz @mikermcneil during 1:1.

[2022-07-11 02:07] mike-j-thomas opened #6573 "Process for publishing a press release"
## Goal

Provide clear instructions for publishing a press release.

## How

- [ ] Define the process
        - How have we handled them in the past? @timmy-k can help here.
- [ ] Write up in the handbook

## Related issues

[2022-07-11 02:18] mike-j-thomas opened #6574 "Process for publishing a newsletter/email blast"
## Goal

Provide clear instructions for publishing a newsletter/email blast.

## How

- [ ] Define the process
        - We haven't done a campaign yet, so let's see what's in the wild and bring it up with @timmy-k during growth office hours.
- [ ] Write up in the handbook

[2022-07-11 02:20] mike-j-thomas opened #6575 "Process for adding to the docs & docs API"
## Goal

Provide clear instructions for how to add to the docs & docs API.

## How

- [ ] Define the process for each.
        - @noahtalerman can walk you through the current process for adding to the docs.
        - @lukeheath can help define the process for adding to the docs API
- [ ] Write up in the handbook

[2022-07-11 02:22] mike-j-thomas opened #6576 "Process for adding to the handbook"
## Goal

Provide clear instructions for how to add content to the handbook.

## How

We already have instructions for this in the handbook. Please review and update if needed. https://fleetdm.com/handbook/handbook#contributing-to-the-handbook

[2022-07-11 02:49] mike-j-thomas opened #6577 "Process for posting to social media"
## Goal

There are two parts to this:
1. Provide clear instructions for making a public announcement.
2. Re-organize the current handbook entry https://fleetdm.com/handbook/growth#posting-on-social-media-as-fleet

## How

- [ ] We already have the process documented here. Please review and update the language if needed. @drewbakerfdm can help confirm whether the current instructions are up-to-date

[2022-07-11 06:42] mike-j-thomas opened #6578 "Process for creating an ad campaign"
## Goal

Provide clear instructions for how to create an ad campaign (Google and LinkedIn)

## How

- [ ] Define the process
        - @timmy-k can help with this
- [ ] Add to the handbook

[2022-07-11 06:42] mike-j-thomas opened #6579 "Process for posting to YouTube"
## Goal

Provide clear instructions for posting to YouTube

## How

- [ ] Define the process. Ask @drewbakerfdm for help
- [ ] Add to the handbook

[2022-07-11 06:44] mike-j-thomas opened #6580 "Process for fleetdm.com text changes"
## Goal

Provide clear instructions for making text changes to fleetdm.com

## How

- [ ] Define the process with @mike-j-thomas
- [ ] Add to the handbook

[2022-07-11 06:46] mike-j-thomas opened #6581 "Markdown guide"
## Goal

Have a simple guide for Fleet-flavoured Markdown that lives in the handbook.

## How

- [ ] Create a separate file, markdown.md, in the Digital Experience folder of the handbook (awaiting successful merge of https://github.com/fleetdm/fleet/pull/6524 before this can be created).
- [ ] Compile a list of all Markdown syntax that is supported by fleetdm.com and document it in the handbook. A

[2022-07-11 06:49] mike-j-thomas opened #6582 "Writing style guide"
## Goal

A writing style guide to help keep our messaging and tone consistent across all media and content types.

## How

- Organize our existing style rules and continue to add more to create a detailed writing style guide
- Work with @mike-j-thomas to define a content structure for the handbook.

[2022-07-11 06:52] mike-j-thomas commented on #4900
Closing as this is a duplicate of https://github.com/fleetdm/fleet/issues/6309

[2022-07-11 06:52] #4900 closed

[2022-07-11 08:56] mike-j-thomas commented on #4507
Hey @noahtalerman. I found this in the DX board backlog. It needs to move over to DevRel. On which board do they track their tickets?

[2022-07-11 09:38] mike-j-thomas commented on #4706
I made a PR for this [here](https://github.com/fleetdm/fleet/pull/6583)

[2022-07-11 09:59] mike-j-thomas opened #6584 "Image for latest Tales from Fleet Security article"
See https://github.com/fleetdm/fleet/pull/6410 for the article PR.

[2022-07-11 12:42] zhumo commented on #6064
@noahtalerman @lukeheath  How much work is needed here to do this? The reason why it's in there is because it creates a perception of "brokenness" if somehow I refresh the page after I cross the hour mark in the middle of an active session. Admittedly, it's a corner case, so if it's a lot of work to do, we could punt it.

[2022-07-11 17:16] juan-fdz-hawa opened #6588 "Research how to start detecting OS vulnerabilities in Windows"
### Goal

Researching what it involves to start detecting OS vulnerabilities in Windows. Looking at the CISA list, there's a bunch of things that are OS specific that we can probably detect. So we should devote a few days to investigate what it would take to check for these in a way that we can automatically find out about the latest patches for windows.

[2022-07-11 17:25] zwinnerman-fleetdm commented on #5114
completed

[2022-07-11 17:25] #5114 closed

[2022-07-11 17:25] #5116 closed

[2022-07-11 17:27] zwinnerman-fleetdm commented on #5118
completed, but as a fork of the helm chart due to the inordinate amount of changes needed.

[2022-07-11 17:27] #5118 closed

[2022-07-11 17:34] noahtalerman commented on #6508
@juan-fdz-hawa for a future release of Fleet, I think we'll want to figure out which CVE details we might want to pull directly into the Fleet UI.

This way, a Fleet user can stay in the Fleet UI.

I haven't spent much time speaking with users and customers about what information from these detail pages is most helpful. What do you think would be helpful?

[2022-07-11 17:35] lucasmrod commented on #6259
No, it didn't make it into 4.17.

No, we don't have any scripts. We can help you create one.

[2022-07-11 17:52] #2210 closed

[2022-07-11 17:52] #3359 closed

[2022-07-11 17:52] #4062 closed

[2022-07-11 17:52] #4405 closed

[2022-07-11 17:52] #4816 closed

[2022-07-11 17:52] #5086 closed

[2022-07-11 17:52] #5378 closed

[2022-07-11 17:52] #5826 closed

[2022-07-11 17:52] #5898 closed

[2022-07-11 17:52] #5982 closed

[2022-07-11 17:52] #6072 closed

[2022-07-11 17:52] #6096 closed

[2022-07-11 17:52] #6098 closed

[2022-07-11 17:52] #6168 closed

[2022-07-11 17:52] #6242 closed

[2022-07-11 17:52] #6260 closed

[2022-07-11 17:52] #6280 closed

[2022-07-11 17:52] #6355 closed

[2022-07-11 17:52] #6356 closed

[2022-07-11 17:52] #6385 closed

[2022-07-11 17:52] #6454 closed

[2022-07-11 17:52] #6507 closed

[2022-07-11 17:52] #6543 closed

[2022-07-11 17:52] #6552 closed

[2022-07-11 17:52] #6559 closed

[2022-07-11 18:28] zhumo commented on #6261
If true, @sharvilshah would you move this to awaiting QA?

[2022-07-11 19:34] RachelElysia opened #6591 "Fleet Desktop: Transparency link while initializing"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

I was initializing my Fleet Desktop, so I clicked on transparency which wasn't disabled
I was expected to be taken to the /transparency

### 💥  Actual behavior

It was a broken d

[2022-07-11 19:50] lucasmrod commented on #6365
Thinking out loud: For Fleet Sandbox we may need to add an "S3 check" to the healthz check (which will be used to store the installers).

[2022-07-11 19:53] lucasmrod opened #6592 "Pre-generate packages for Fleet Sandbox"
# Goal

The Fleet Sandbox pre-provisioner process should:

0. Generate a random global enroll secret.
1. Create the Fleet installers.
2. Push them to an S3 bucket.
3. Feed new "packaging configuration" to Fleet.

## Parent Epic
- #6555

## 0. Generate Random Global Enroll Secret

Generate a random global enroll secret for the Fleet Sandbox instance, see how we currently do it:
https://github.com/f

[2022-07-11 20:20] zhumo commented on #6064
I think we should do it without the rotation and then we can add the rotation later if it turns out to be a problem.

Assuming each session takes ~1min, we would expect this to occur to 1/60th of all sessions, which is about 2% of sessions. based on that, I think we can do the rotation later.

[2022-07-11 21:01] ksatter opened #6594 "Fleet UI: Invalid password when converting user to SSO sign in."
**Fleet version**: 4.17.0

### 🧑‍💻  Expected behavior
When attempting to convert a user to SSO only, the password should be set to `null` or the password validation should be skipped.

### 💥  Actual behavior
 If the password field is modified while editing, the password field is not `null` and can fail password validation.

For example, if the password is auto-filled by the browser and then delete

[2022-07-11 21:15] ksatter opened #6595 "Fleet UI: Edit modal hangs if a user was previously edited."
**Fleet version**: 4.17.0

<hr/>

### 🧑‍💻  Expected behavior

When editing multiple users, I should be able to edit one user, then immediately edit the next user.

### 💥  Actual behavior

After successfully editing the first user and selecting `Actions > Edit` for a new user, the edit modal opens and is stuck in a loading state:

<img width="822" alt="Screen Shot 2022-07-11 at 4 09 39 PM" src="htt

[2022-07-11 21:25] zhumo commented on #5045
@mike-j-thomas

Answer to your question: yes I do believe it is related to the uid column. That said, there are two technical challenges. First is that the macos preferences table is user-dependent but does not have a uid column. I'm not sure what column that table uses instead. Second is that the uid column is not what is marked with user_dependent: true. Instead, it's the whole table that is mar

[2022-07-11 22:39] lukeheath opened #6597 "Indicate Fleet Sandbox instance in `app_config_json` configuration object"
## Goal

Disable several features in Fleet Sandbox so that users can't get themselves into a confusing situation or broken state.

## Related
- Parent Epic: #6555
- #6544 (interface)

## Tasks

### 1
- [ ] Modify config object in the `app_config_json` table for all new Fleet Sandbox instances to indicate that it is a sandbox instance.
- The frontend needs to know it is running a sandbox instance s

[2022-07-11 22:42] lukeheath commented on #6597
@chiiph I've created a new sandbox-related ticket for `#platform`, placed on the roadmap board, and assigned to you for review.

[2022-07-11 22:45] lukeheath commented on #6597
Heads up @zwass @noahtalerman this is a release blocker for sandbox.

[2022-07-11 23:36] mike-j-thomas opened #6599 "Process for creating a new static page on fleetdm.com"
When making a new static page, ask:

- Who is sharing the link to this/how does someone get to this page?
- Who is going to maintain the page? (more land pages = more messaging to keep consistent/ the promise is not a lie. Land page sprawl = easy to fall out of date). The default is Mike T because it falls under the website.

Careful about adding surface area to the website because it is more for

[2022-07-11 23:44] lukeheath opened #6600 "`fleetctl preview` will not allow setup with URL used by preview"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ 4.17.0

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

Submitting the pre-populated `http://localhost:1337` as my Fleet URL during step 3 of setup is successful.

### 💥  Actual behavior

Field fails to verify and

[2022-07-11 23:46] lukeheath commented on #6600
@noahtalerman @xpkoala Ran across this bug today running `fleetctl preview`. I suggest we add a fix that allows `http://localhost:1337` to validate without the "https" requirement. Thoughts?

[2022-07-12 00:07] lukeheath commented on #5911
@noahtalerman Some questions regarding this feature:

1. There is a conflict between the "No hosts" state and the "Error" state of the welcome card.

Currently on the welcome card, immediately on load we attempt to load details for host id 1. If that call returns 404 (not found), we display the error message.

In the Figma, it states that this card should display if there are 0 hosts:

<img width=

[2022-07-12 00:15] qubozik opened #6602 "Add FreshService as an Integration"
Please add FreshService as an integration? It is a popular ITSM tool and would be great if FleetDM could escalate/create incidents in this tool.

[2022-07-12 00:30] lukeheath commented on #5902
@noahtalerman This is ready for estimation. I'll get it estimated async tomorrow.

[2022-07-12 00:40] lukeheath commented on #6544
@noahtalerman This is specified and estimated. I'm bringing this into the release board.

[2022-07-12 00:41] lukeheath commented on #6544
@ghernandez345 This one is ready to get started on. It will require manually setting the config value during development, then commenting out the line when the code gets merged. I estimated at a "1" but feel free to change if you think that's off.

[2022-07-12 01:29] mike-j-thomas opened #6603 "Document #help-operations in the handbook"
Document #help-operations and its DRI in the handbook, [here](https://fleetdm.com/handbook/brand#slack-channels).

https://fleetdm.slack.com/archives/C03MMC90MNU/p1657586704199909

[2022-07-12 02:07] lukeheath commented on #6021
@RachelElysia This one is also ready, although a lower priority than any sandbox work.

I know the purple banner is the `InfoBanner` component. I've seen the gray-stylized version that we're changing to on the device page before, but I'm having a hard time remembering which component it is. Do you know?

[2022-07-12 02:18] lukeheath commented on #5778
@ghernandez345 This one is ready for you to look into when you have time. This is a lower priority than any of the issues with the `!sandbox` label. Fleet Sandbox is the current highest priority.

I put a 3 point estimate on it. That's pretty much a guess, because I'm not sure what's stopping the table columns from ordering the same as the query. If it ends up being something complicated feel free

[2022-07-12 02:19] lukeheath commented on #5778
@ksatter Just letting you know this issue is now on the Release board and will likely be included in the next release.

[2022-07-12 03:46] mike-j-thomas opened #6604 "Add "description" meta tag to articles"
## Goal

Finer control of article page descriptions for SEO and social sharing purposes.

## How

- [ ] Add description meta tag magic to the website

- [ ] Add the following instructions to the meta tags section of Article formatting guidelines in the handbook

### `description`
The description meta-tag appears on social media posts when shared (e.g., on Twitter) and on browser results pages. It

[2022-07-12 04:08] mike-j-thomas opened #6605 "Fix typo in /using-fleet/faq"
## Goal

We shouldn’t refer to the company or product as FleetDM. Fix typo, "FleetDM" in [/using-fleet/faq](http://localhost:2024/docs/using-fleet/faq#using-fleet-faq).

## How

In this instance, I would remove “to FleetDM Fleet” entirely from the question.

[2022-07-12 04:12] mike-j-thomas commented on #6605
In fact, I feel like there's a lot of excess reading to get to the answer to that question.

@noahtalerman, what do you think about cutting back the answer to simply read:

To migrate from kolide/fleet to the ~new~ Fleet, please follow the steps outlined in the [Upgrading Fleet section](http://localhost:2024/docs/deploying/upgrading-fleet) of the documentation.

[2022-07-12 04:32] mike-j-thomas opened #6606 "Change article categories - Product to Guides, and Guides to Deploy"
## Goal

- Clearly differentiate deployment guides from regular "how-to" guides.
- Consolidate the Product category (which contains only how-to articles) into Guides.

## How

- [x] Change **Product** to **Guides**
- [x] Change **Guides** to **Deploy**
- [x] Change the `category` meta tag on the relevant articles to the new category
- [x] Redirects. Update the redirects in CloudFlare for any artic

[2022-07-12 05:18] mike-j-thomas opened #6607 "Consolidate docs FAQs"
## Goal

As part of [Let's improve the website - docs land page](https://github.com/fleetdm/fleet/issues/5097) we need to consolidate all FAQs in the docs into a single Markdown file.

## How

- [x] Consolidate [using-fleet/faq](https://github.com/fleetdm/fleet/blob/main/docs/Using-Fleet/FAQ.md), [/deploying/faq](https://github.com/fleetdm/fleet/blob/main/docs/Deploying/FAQ.md), and [/contributing

[2022-07-12 05:19] mike-j-thomas commented on #6607
@noahtalerman, please advise if I left out any crucial info to complete this task.

[2022-07-12 05:22] mike-j-thomas commented on #6607
@noahtalerman, for example: if a new top-level folder, Getting started, is created. Will the docs' build script automatically populate a new section to the left nav of the docs (like the image below) or is this navigation populated manually?

![Image](https://user-images.githubusercontent.com/78363703/178414614-943cc366-4651-4278-8f7d-b06061ca07aa.png)

[2022-07-12 05:26] xpkoala commented on #6600
When running `fleetctl preview` I am getting a similar error.
When running `/build/fleetctl preview` I am successful in starting the instance.

I'd be happy to take a further look tomorrow to figure out where testing has gone awry.

[2022-07-12 05:48] mike-j-thomas commented on #6605
@Desmi-Dizney, you can merge this with https://github.com/fleetdm/fleet/issues/6607

[2022-07-12 14:02] mikermcneil commented on #6594
Context:

https://osquery.fleetdm.com/t/543662/hey-saulo-sorry-you-re-running-into-this-issue-what-version-

[2022-07-12 14:20] GuillaumeRoss opened #6610 "Add new activity `type` to the `GET /activities` API response"
## Goal

As a user, I want to know when agent options are changed so that I can perform an investigation if I see unexpected changes in agent options.

## Requirements

- User can see when, and by who, global agent options were edited.
- User can see when, and by who, a team's agent options were edited.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2

[2022-07-12 14:22] GuillaumeRoss opened #6611 "Admin activity on the dashboard"
### Goal

The main Fleet dashboard has an "Activity" pane that contains information about queries and policies, but does not contain all activity performed by admins.

As we will increase the amount of logging (https://github.com/fleetdm/fleet/issues/6610), we should also increase the visibility of these actions.

### How?

- [ ] Show all "admin activity" in the Activity pane when users who are ad

[2022-07-12 14:24] GuillaumeRoss opened #6612 "Admin activity notifications"
### Goal

After we add additional logging https://github.com/fleetdm/fleet/issues/6610, we should add a feature similar to what we do for policies and vulnerabilities, allowing administrators to send this type of activity to a Slack channel. This would allow them to easily see accidental or potentially malicious changes.

### How?

- [ ] Create log notification system
- [ ] Allow some level of fil

[2022-07-12 15:15] chiiph commented on #6597
@lukeheath I think the best place for this new value is at the same level as `license`, because it's a config that gets "brought in" from another source that is not the app config JSON itself. Do you think this will be problematic for the UI?

[2022-07-12 15:34] noahtalerman commented on #6428
@lukeheath it looks like I missed specifying these requirements (now added to this issue's description):
- [ ] User can filter a list of Windows operating system versions by team
- [ ] User can see a list of hosts filtered by Windows operating system version and team.

This means that we might not be accounting for this filter by team behavior in the frontend and backend issues.

[2022-07-12 16:43] noahtalerman commented on #6600
That being said, I think allowing validation without "https" is ok.

@zwass do you know if there's a good reason to only allow Fleet to have a web address with "https" and not "https" ?

[2022-07-12 16:49] xpkoala commented on #6600
@noahtalerman Since there is a failure during `preview` setup the process is not finished and you are able to manually go through setup as you would during a non-preview instance.

I'm still looking into the preview issue and will hopefully have some more info here soon.

[2022-07-12 16:54] hollidayn commented on #6134
Combined the contents of this issue w/ the other Gong setup issue so there aren't two of them.

[2022-07-12 16:54] #6134 closed

[2022-07-12 16:54] lukeheath commented on #6600
@noahtalerman @xpkoala

I must have had an error during preview setup, which resulted in me going through the setup flow. I cleared everything out and re-ran preview and it setup properly and bypassed the setup process.

I'm not sure how common a preview setup failure is. Do y'all think this is something we should address?

[2022-07-12 16:57] lukeheath commented on #6597
@chiiph

I was thinking the same thing at first. License makes the most sense and works for the UI, but I wasn't sure how/where that information is loaded and was concerned it would be more difficult on the backend to insert it into license. If not, I'll go ahead and update the specs so that it's in the license object.

[2022-07-12 17:01] xpkoala commented on #6600
@lukeheath In my case I hit:
`Error: Error setting up Fleet: setup received status 500 Password does not meet required criteria: Password does not meet required criteria`

I'm still confused as to why the password requirement would fail when running `fleetctl` installed via npm vs. running the command from my build directory with `./build/fleetctl preview` (the latter is works).

I just removed an

[2022-07-12 17:04] noahtalerman commented on #6600
@xpkoala hmm, what happens if you run a `fleetctl reset` (clears all data including old users) and then `fleetctl preview` ? Are you automatically logged in to Fleet ?

[2022-07-12 17:17] ksatter commented on #6600
@xpkoala I haven't, but I'm with @noahtalerman on the reset

[2022-07-12 17:29] lukeheath opened #6617 "Modify react tooltip component"
## Goal

There are two tooltip styles:

1. Tooltips for text (column headers, input titles, inline text) appear when hovering over text with a dashed underline.
- These tooltips use left aligned text.

2. Tooltips for buttons, bubbles, table row elements, and other non-text elements appear when hovering over the element.
- These tooltips use center aligned text.
- These tooltips have a carrot/arro

[2022-07-12 17:35] chiiph commented on #6597
Oh, actually, I was reading the code wrong, it'll be the way you described, sorry for the confusion.

[2022-07-12 17:39] lukeheath commented on #6597
Sounds good. On the frontend, we're moving forward with our work based on the assumption that `config.sandbox_enabled` will be set to `true` for sandbox instances.

[2022-07-12 17:41] lukeheath commented on #6600
I'm assigning this ticket over to @xpkoala to validate if this is actually a bug that needs to be fixed. If not, feel free to close. If it is a bug, please assign over to @ghernandez345. Thanks!

[2022-07-12 17:43] noahtalerman commented on #6492
@ksatter can you please add the "Thumbnail" image (first image in Mike T's comment above) to the 4.17.0 blogpost?

This way, this image appears in the tile view on fleetdm.com:
![Screen Shot 2022-07-12 at 1 42 56 PM](https://user-images.githubusercontent.com/47070608/178558126-a249c1ae-4339-4fca-b0b7-c626bbca9f28.png)

After this, I think this issue is ready to be closed! 🎉

[2022-07-12 18:31] chiiph commented on #6597
@lukeheath as it is right now, it'll either be `config.sandbox_enabled = true` or `config.sandbox_enabled` will be `undefined`.

[2022-07-12 18:54] lukeheath commented on #6597
@chiiph

Either of those will work for us, as long as `config.sandbox_enabled` only exists on sandbox instances.

[2022-07-12 18:59] zwinnerman-fleetdm commented on #6548
Finalized the API with @lukeheath:
[code]
Our backup if the UI can't provide the ID field is to pull it from the Referer header, but that's a backup.

[2022-07-12 19:27] noahtalerman commented on #4094
Woops. Looks like I moved this issue to the wrong board.

The issue is now on the 🚀 Release board.

[2022-07-12 19:47] noahtalerman commented on #6607
I'm not sure about this one. @eashaw can you please help us with this question? Thanks :)

[2022-07-12 19:52] noahtalerman commented on #6607
@mike-j-thomas it might be helpful to explicitly call out that the old markdown files [using-fleet/faq](https://github.com/fleetdm/fleet/blob/main/docs/Using-Fleet/FAQ.md), [/deploying/faq](https://github.com/fleetdm/fleet/blob/main/docs/Deploying/FAQ.md), and [/contributing/faq](https://github.com/fleetdm/fleet/blob/main/docs/Contributing/FAQ.md) should be removed.

In addition, I think we link t

[2022-07-12 20:27] DominusKelvin opened #6624 "Add uninstall Orbit / Fleet Desktop instructions to the “Using Fleet” FAQ"
### Goal

TODO

Add uninstall Orbit / Fleet Desktop instructions to the “Using Fleet” FAQ

### How?

- [x] Bring info from https://github.com/fleetdm/fleet/tree/main/orbit#uninstall into the "Using Fleet" FAQ

- https://github.com/fleetdm/fleet/pull/6875

[2022-07-12 21:24] michalnicp opened #6628 "Improve macOS vulnerability detection"
WARNING: For users that download and sync Fleet's vulnerability feeds manually, there are required adjustments or else vulnerability processing will stop working.

Users with the default vulnerability processing settings can safely upgrade without adjustments.

#### Required adjustments

If the `FLEET_VULNERABILITIES_DISABLE_DATA_SYNC` environment variable, or the CLI flag equivalent, is set to `t

[2022-07-12 21:24] GuillaumeRoss opened #6629 "Default policies on new instances"
### Goal

To improve time to value and show new Fleet users the power of policies, there should be a few policies that either get added by default on new instances, or that get suggested during initial setup.

### How?

- [ ] Pick list of policies that could be loaded as default
- [ ] Make them loaded by default on empty instances (or suggested in install process)

[2022-07-12 21:56] lukeheath commented on #6428
@noahtalerman Thanks for the heads up. I checked and this functionality is already present in both the operating system card and the manage hosts page, so we should be good as-is. I'll add them to the cards so that Reed knows to QA that feature.

[2022-07-12 23:22] mike-j-thomas commented on #6581
@Desmi-Dizney here's an example of how to add a video https://github.com/fleetdm/fleet/blob/main/articles/ebpf-the-future-of-osquery-on-linux.md

[2022-07-12 23:41] mike-j-thomas opened #6632 "Sails Postgres database adaptor"
@eashaw, please can you drop some context here for me? Thanks.

[2022-07-12 23:48] Desmi-Dizney commented on #6581
This is a work in progress but I'm saving the tables here until https://github.com/fleetdm/fleet/pull/6524 is complete.

| Markdown option one | Markdown option two | Use HTML when your heading <br>  is selectively needed | Rendered heading |
|:--------------------|:--------------------|:-----------------------------|:-----------------------------|
| `# Heading 1` | Heading 1 <br> ======== | ``` <

[2022-07-12 23:59] mike-j-thomas opened #6633 "Add new "Getting started" category and redirects to the docs"
## How

- [ ] @eashaw - add the new category, "Getting started", to the docs' page script, and update the build script, if needed.
- [ ] @eashaw - make sure that all links referencing the old pages are updated. In addition, E.g., from Noah: I think we link to the current FAQ sections from the Fleet UI, fleetdm.com, and maybe other places in the repo like README.md. I think it's worth calling out t

[2022-07-13 00:00] mike-j-thomas commented on #6607
@noahtalerman, thanks for that. I have created a separate issue to add the new category and redirects https://github.com/fleetdm/fleet/issues/6633

[2022-07-13 00:22] mike-j-thomas opened #6634 "Update deployment diagram"
## Goal

Help to make Fleet look easy to deploy – fewer pieces.

## How

- [ ] Update the deployment diagram to include "For scheduled queries (optional)" under "Logging pipeline / destinations" https://fleetdm.com/docs/deploying/introduction

[2022-07-13 01:06] Desmi-Dizney commented on #6581
| Markdown | HTML | Rendered List |
|:-------------  |:---------------------------|:-----------------------------|
| `1. Line one`  <br> `2. Line two`  <br> `3. Line three ` <br> `4. Line four`   |``` <ol>```<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;```<li>Line one</li>``` <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;```<li>Line two</li>``` <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;```<li>Line three</li>``` <br>&nbsp;&nbsp;

[2022-07-13 01:48] timmy-k opened #6636 "Ability to add unique UTM to Schedule demo link in land page headers"
## Goal

Ability to add unique UTM to Schedule a demo link in land page headers

## How

- [ ] Update the header to allow a unique UTM to be added to the Schedule a demo link.

[2022-07-13 02:45] timmy-k opened #6637 "Have digital experience approve Google Ads messaging— Activation campaign"
### How
Digital experience to approve campaign with new positioning & image

[2022-07-13 02:51] timmy-k opened #6638 "Mike T to critique Linkedin Ads retargeting campaign copy"
- [ ] DE to critique
- [ ] DE to provide images?
- [ ] Growth to revise

[2022-07-13 03:23] mike-j-thomas commented on #6492
@noahtalerman. Thanks for spotting. I came here to request the same thing. I also noticed that a couple of the images in the article have broken links. Thanks @ksatter 🙌🏻

[2022-07-13 13:36] zhumo commented on #5045
Notes w/ Sharvil:

looks like the preferences table gets data from every user, unless you optionally query for a specific user.

[2022-07-13 13:57] Desmi-Dizney commented on #6603
This was completed in @chris-mcgillicuddy's onboarding in https://github.com/fleetdm/fleet/pull/6614

[2022-07-13 14:06] RachelElysia commented on #6617
Resources:
https://wwayne.github.io/react-tooltip/
https://github.com/wwayne/react-tooltip/issues/277 (opacity issue)

[2022-07-13 14:52] noahtalerman commented on #6430
Think about writing a policy/query first.

[2022-07-13 14:56] Desmi-Dizney commented on #6581
| Markdown option one | Markdown option two | Markdown option three | HTML | Rendered List |
|:-------------  |:---------------------------|:---------------------------|:---------------------------|:-----------------------------|
| `- Line one`  <br> `- Line two`  <br> `- Line three ` <br> `- Line four`   | `+ Line one`  <br> `+ Line two`  <br> `+ Line three ` <br> `+ Line four` | `* Line one`  <b

[2022-07-13 14:57] noahtalerman commented on #6434
Think about writing a policy/query first.

[2022-07-13 17:22] noahtalerman opened #6645 "In Fleet Sandbox, automatically add queries and policies from standard query library on instance setup"
## Goals

After adding my host to my Fleet Sandbox instance, I want to see if my host passes/fails any standard policies.

## Parent Epic

- #4970

## How?

- [ ] Proposed solution: When a Fleet Sandbox instance is provisioned, download the `standard-query-library.yml` file and run the `fleetctl apply -f standard-query-library.yml` command to add queries and policies.

[2022-07-13 17:24] noahtalerman commented on #5911
Heads up, the platform issue is here: https://github.com/fleetdm/fleet/issues/6645

[2022-07-13 17:50] eashaw commented on #6607
@noahtalerman

This is automatically populated, we would just need to add the new section's slug to the array on [this line](https://github.com/fleetdm/fleet/blob/142f19f2864bb65e3842c33fa4f7ec358048c592/website/assets/js/pages/docs/basic-documentation.page.js#L42).

Yes, we can do this!

[2022-07-13 18:16] lukeheath commented on #5911
Noah and I discussed the state logic on a call and agreed with the logic I outlined above. Updating specs.

[2022-07-13 18:17] noahtalerman commented on #4345
@benatsb thanks a ton for this feedback and pointing us to the example CVE. This makes a lot of sense.

Agreed.

[2022-07-13 18:24] noahtalerman commented on #5723
@lukeheath great catch. Thanks for calling this out.

I think it makes sense for the addition of this dashboard card to be covered in this issue: #5911

This "Learn how to use Fleet" dashboard card is currently present in fleetctl preview.

[2022-07-13 18:25] noahtalerman commented on #5097
Looks great! 🔥

[2022-07-13 18:26] noahtalerman commented on #5222
@mikermcneil correct 👍

[2022-07-13 18:31] noahtalerman commented on #4507
@mike-j-thomas thanks for the heads up. I'm tracking these tickets in the Roadmap board. I just moved this ticket.

[2022-07-13 18:32] mikermcneil commented on #5222
@noahtalerman Ok sweet!  Then I think I would reframe the goal:

Instead, maybe:

And I think I'd add that, as a user, I want to see a good error message in the logs if I try to apply configuration that doesn't have valid options.

[2022-07-13 19:20] Desmi-Dizney opened #6648 "Replace fleetctl CLI with fleetctl in docs"
https://fleetdm.slack.com/archives/D03317ZSW3H/p1657737513897559

[2022-07-13 19:26] #6458 closed

[2022-07-13 19:27] xpkoala commented on #6458
https://docs.github.com/en/repositories/viewing-activity-and-data-for-your-repository/viewing-a-summary-of-repository-activity

[2022-07-13 19:30] xpkoala opened #6649 "4.18.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-07-13 20:05] CharlotteChance commented on #4687
This has been added to the agenda for contributor experience training.

[2022-07-13 22:11] michalnicp opened #6651 "Plain osquery does not install properly when orbit is installed"
**Fleet version**: main (907ffa8ff1b08c0220f44ee9af3d919a4a839efc)

**Operating system**: macOS 12.4

<hr/>

### 🧑‍💻  Expected behavior

I expect to be able to install and use plain osquery, even if orbit is already installed. pkg downloaded from https://osquery.io/downloads/official/5.3.0

### 💥  Actual behavior

After installing osquery, the `/opt/osquery/lib` folder is empty. It should contain

[2022-07-13 22:13] michalnicp commented on #6651
I followed the instructions in https://scriptingosx.com/2017/05/relocatable-package-installers-and-quickpkg-update/ to create a non-relocatable package from the osquery query package, and was able to install it successfully.

[2022-07-13 23:59] mike-j-thomas commented on #5045
@zhumo, thanks for meeting up today. I'll get these comments and feedback in the wireframes.

[2022-07-14 06:17] everping opened #6654 "Vulnerability processing doesn't seem to work in Kubernetes deployment"
**Fleet version**: 4.17.0

**Operating system**: Kubernetes 1.21.5

<hr/>

### 💥  Actual behavior
I deployed the Fleet instance by using K8S with the following deployment:
[code]

Theoretically, the vulnerability processing should work, and I can see vulnerabilities in my software. But in fact, the software tab was empty, and the vulnerability DB folder and CVE/CPE database were empty as well belo

[2022-07-14 08:14] mike-j-thomas opened #6655 "Fleet website browser compatibility"
Double check the browser compatibility for the website (I'm getting mixed results in BrowserStack) and update supported browsers in the handbook if necessary. https://fleetdm.com/docs/using-fleet/supported-browsers#supported-browsers

![Image](https://user-images.githubusercontent.com/78363703/178936137-95811128-0f33-414a-a1e8-a70d6a8c54c5.png)

[2022-07-14 13:12] tokcum opened #6657 "Export results on Query tab only exports one host"
**Fleet version**: 4.16 and 4.17 (I updated recently to 4.17 to check if this is already fixed)

**Operating system**: Linux

**Web browser**: Edge 103.0.1264.49, Chrome 103.0.5060.114, Firefox 102.0.1

<hr/>

### 🧑‍💻  Expected behavior

I ran a query targeting multiple hosts. In Web UI I get multiple records per host for a couple of hosts addressed by the query.

My expectation is that all record

[2022-07-14 15:35] RachelElysia opened #6658 "Live Query UI: Export csv only showing one line of results"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

I run a live query, it has multiple lines of results. I click Export results, I expect to see all lines of the results in my CSV file.

### 💥  Actual behavior

The exported resul

[2022-07-14 15:53] #5642 closed

[2022-07-14 16:00] xpkoala commented on #6600
@noahtalerman After a bit more poking the `fleetctl preview` command does appear to be working. The fleetctl version I was running was behind current and I believe that is where my troubles were cropping up. I'm not sure if @lukeheath had the same issue or not.

For now I think we can close this as a non-issue, but I'm happy to reassess if there is new information surrounding it. I reset and start

[2022-07-14 16:08] RachelElysia commented on #6657
Accidentally opened a second issue on this #6658 , we found the frontend fix and will let you know when we have it released. Our apologies.

[2022-07-14 16:13] RachelElysia commented on #6654
Hi @everping, is the software table still not showing up?

[2022-07-14 16:26] everping commented on #6654
@RachelElysia the software tab is shown up nớ but the Vulnerability software still didn't appear. So I think the Vuln Processing does not work

[2022-07-14 16:42] mpdeimos opened #6662 "Cannot access host details: "host with empty platform""
**Fleet version**: 4.17.0

**Operating system**: Ubuntu 20.04

**Web browser**: Chrome (latest)

<hr/>

### 🧑‍💻  Expected behavior

Access the host details page after update from 4.15 to 4.17

### 💥  Actual behavior

A loading spinner

![image](https://user-images.githubusercontent.com/644735/179033258-fa5e798e-05d9-4754-b619-befd187b6a6f.png)

### More info

The console log is full with entries l

[2022-07-14 16:52] zhumo commented on #6441
So far, it seems like this comes up internally because we power-use. It's not clear that this would come up regularly in customers' daily use. Going to hold off on doing this for now.

[2022-07-14 19:02] RachelElysia commented on #6654
@everping So sorry to hear that. Can you try running `fleetctl get config --include-server-config` to view the vulnerabilities settings?

[2022-07-14 19:26] michalnicp commented on #6654
By default, vulnerability processing runs every hour and requires the software inventory to be populated from hosts. You can change this to something shorter by setting `FLEET_VULNERABILITIES_PERIODICITY=5m`. Also, there may be an issue with a lock not being released that is preventing vulnerability processing from running. You can check this by connecting to the db an running `select * from locks

[2022-07-14 19:29] RachelElysia commented on #4094
@noahtalerman

QAing the fix looks like this:

![Image](https://user-images.githubusercontent.com/71795832/179067451-1416775d-93f0-4dc7-b13a-7c97498f0e3a.png)

Thoughts?

[2022-07-14 20:14] RachelElysia opened #6666 "Edit User UI: Loading spinner / Saving spinner"
Related to: https://github.com/fleetdm/fleet/pull/6664#discussion_r921515531 which fixed the UI to the intended behavior, but @gillespi314 and I had a conversation about naming conventions and spinner usage that could be improved.

- While saving create or edit user, a save button spinner should be shown instead of an entire modal loading spinner
- This spinner should not be named isLoading, but s

[2022-07-14 20:16] DrewBakerfdm commented on #6526
![image](https://user-images.githubusercontent.com/89049099/179075353-5dc5764f-9fd1-45c2-b813-f16db99ce76b.png)
I was curious what pricing package we had decided to go with if any?

[2022-07-14 20:37] Desmi-Dizney commented on #6605
See https://github.com/fleetdm/fleet/pull/6669

[2022-07-14 21:15] Desmi-Dizney opened #6671 "Document "why" principles on Sales handbook page"
[Tim Kern](https://app.slack.com/team/U0332QY8VFV)
 you mentioned you wanted to know when big changes happened during the automation office hours, in case they may break automations. Lead stages were just revised to this:
New
Bad Data
Working to engage
Meeting scheduled
Working to convert
DNC
Nurture
Converted - should be automatic (not even a status, when converted Lead becomes a Contact)

[miker

[2022-07-14 21:37] lucasmrod opened #6674 "Add `pkg` signing and notarization support to `fleetdm/fleetctl` docker image"
### Goal

Add signing and notarization support to the `fleetdm/fleetctl` (beta) docker image.
No stapling will be required on this iteration.

### How?

#6229 describes the approach that we think will work on a Linux docker container.

[2022-07-14 21:41] Desmi-Dizney commented on #6581
## `This is how you create a term with [a tooltip and no link ](## "add information to a term when someone hovers")`

This is how you create a term with [a tooltip and no link ](## "add information to a term when someone hovers").

## `This is how you create a term with [a tooltip and a link ](https://fleetdm.com/handbook/brand#commonly-used-terms "add information to a term when someone hovers")`

[2022-07-14 21:44] lucasmrod opened #6675 "Fleet Desktop icon background color issue on Linux and Windows"
The library we use for the tray icon supports "template icons" on macOS, but not on Windows/Linux.

Windows:
![image](https://user-images.githubusercontent.com/2073526/179090989-5bea0cf1-3d79-4339-9e4a-669e0f693c91.png)

CentOS:
![164023997-5355c416-d6c7-44f3-93ca-72f8f50c1f41](https://user-images.githubusercontent.com/2073526/179091269-0f517463-85fe-4cb4-8eec-cb7cfd25a8ea.png)

A simple fix propo

[2022-07-14 21:46] noahtalerman commented on #6257
@mike-j-thomas can you please help me by creating a mockup of the Manage enroll secrets modal with 4 masked enroll secrets?

[2022-07-14 21:54] Desmi-Dizney commented on #6581
## `<desmi@fleetdm.com>`
## `<https://fleetdm.com>`
<desmi@fleetdm.com>
<https://fleetdm.com>

Add angle brackets to both sides of a URL or email address to turn it into a link.

[2022-07-14 21:59] Desmi-Dizney commented on #6581
`Everyone's favorite device management company is **[Fleet](https://fleetdm.com/)**.`

Everyone's favorite device management company is **[Fleet](https://fleetdm.com/)**.

`Everyone's favorite device management company is *[Fleet](https://fleetdm.com/)*.`

Everyone's favorite device management company is *[Fleet](https://fleetdm.com/)*.

[2022-07-14 22:30] eashaw commented on #6606
@Desmi-Dizney I opened a draft PR with the changes to the website at https://github.com/fleetdm/fleet/pull/6679. We just need to add the meta tag changes and adjust our Cloudflare redirects.

[2022-07-14 22:44] zwass opened #6680 "Add minimal Fleet Desktop API endpoint"
### Goal

For an customer with concerns about the information disclosed by the Fleet Desktop APIs, provide an endpoint that can be excepted from their SSO and return the minimal set of information for Fleet Desktop to function.

### How?

- [ ] Add `/api/_version_/fleet/device/{token}/desktop` API

This API returns only the minimal set of information required to render the Fleet Desktop applicatio

[2022-07-14 22:57] roperzh opened #6681 "use `fleetdm/fleetctl` new image in `tools/tuf` and workflows"
From https://github.com/fleetdm/fleet/pull/6504#pullrequestreview-1030169564

[2022-07-14 23:01] roperzh opened #6682 "fix conflicting `fleetdm/fleetctl` Docker images"
In https://github.com/fleetdm/fleet/pull/6504 we introduced a new Docker image named `fleetdm/fleetctl` that has all the necessary dependencies to build all Fleet-Orbit packages natively, however we already have an image with the same name published in Docker Hub, which gets published as part of the release process.

We decided to replace the published image with the image introduced in #6504.

[2022-07-15 04:19] everping commented on #6654
@RachelElysia I had to set the config address and log in to Fleet API to let `fleetctl get config` work. The result is as below

[code]

[2022-07-15 04:24] everping commented on #6654
@michalnicp There actually has a locks record. How should we deal with this?

![image](https://user-images.githubusercontent.com/5586195/179150132-87929483-f247-4aeb-b7e6-0010f9084456.png)

[2022-07-15 04:34] mike-j-thomas opened #6684 "Make the Fleet UI home page just a touch sexier"
From Mike M:

Do you think there are some easy wins we can do to make the logged-in home page of the Fleet UI just a touch sexier?

It's the first page people see when trying Fleet, whether that's with fleetctl preview, in Fleet Sandbox, or in one of our sales demos.

(Same for login page, though that one never comes up one demos)

From most to least impactful, in terms of first impressions:
1. lo

[2022-07-15 04:36] mike-j-thomas commented on #6638
@timmy-k, I'm going to close this while we are re-positioning.

[2022-07-15 04:36] #6638 closed

[2022-07-15 07:43] mpdeimos commented on #6662
I guess it's this line, this is the only error I get besides the other ones mentioned above.

    {"component":"http","err":"load host software: select host software: context canceled","level":"error","method":"GET","took":"44.56295051s","ts":"2022-07-15T07:42:42.657673746Z","uri":"/api/latest/fleet/hosts/171","user":"xxx"}

[2022-07-15 07:47] mpdeimos commented on #6662
In addition there is a timeout error once the browser resets the connection

     fleet_1          | {"component":"http","err":"write tcp 172.21.0.4:1337-\u003e172.21.0.3:40136: i/o timeout","level":"info","path":"/api/latest/fleet/hosts/171","ts":"2022-07-15T07:45:16.468235887Z"}

[2022-07-15 12:40] #5676 closed

[2022-07-15 14:27] noahtalerman opened #6687 "Add support for multi-tenancy in Fleet"
### Goal

As a large organization, I want to be able to serve and manage Fleet for multiple customers.

### How?

TODO

Context: [Google doc (internal)](https://docs.google.com/document/d/1lgfUM8xhBZSDMauOGa_4fx4itjdXDjSwevQP_cdILUg/edit)

[2022-07-15 15:27] RachelElysia commented on #6662
@mpdeimos sorry, I'm just going to jump in here.

Is this error happening to a single host or multiple hosts?

[2022-07-15 15:33] michalnicp commented on #6654
You shouldn't need to do anything with the lock. After it expires, fleet should resume vulnerability processing. There can be some issues releasing the lock if the pod dies, but should be resolved after the lock expires on its own.

Do you see any errors in the logs or unusual OOMKilled events in the output from

[code]

[2022-07-15 15:54] DrewBakerfdm opened #6690 "Automate the Printful API to avoid manual entry"

[2022-07-15 16:01] mpdeimos commented on #6662
I would say for most hosts. It seems only the Arch Linux ones are loading. Ubuntu, Mac, WIndows, Debian fail.

[2022-07-15 16:02] mpdeimos commented on #6662
some additional info: the online status seems to report correctly

[2022-07-15 16:21] Desmi-Dizney opened #6692 "Checking Twitter messages ritual"
[mikermcneil](https://app.slack.com/team/U01A945TEDP)
:handshake:  [11:38 PM](https://fleetdm.slack.com/archives/C01ALP02RB5/p1657859917667729)
[@Desmi Dizney](https://fleetdm.slack.com/team/U033BC9BGG4)
 can you propose a ritual in the growth handbook for regularly checking Twitter message requests on the brand account and getting back to people within 1 business day?  (Unless it's spam, or a req

[2022-07-15 16:35] Desmi-Dizney commented on #6692
Completed in: https://github.com/fleetdm/fleet/pull/6693

[2022-07-15 16:35] zhumo commented on #6332
Addressed in https://github.com/osquery/osquery/pull/7651

[2022-07-15 16:35] #6332 closed

[2022-07-15 16:39] #6262 closed

[2022-07-15 17:08] mike-j-thomas commented on #6607
@eashaw, I am assigning this to you because @Desmi-Dizney and I created the new "Getting-started" folder and a new FAQ.md, but ran into some Markdown styling issues. I have a draft PR for you to continue work on here. Thanks. https://github.com/fleetdm/fleet/pull/6695

[2022-07-15 17:10] zhumo commented on #6675
Hey @mike-j-thomas! Would you mind creating new icons for the fleet desktop?

The current icon is not playing nice with Windows and CentOS toolbars. On Mac, it does a fancy magic thing where it inverts the colors when the menubar color changes. Doesn't seem to do that for Windows or Centos: you can see in the screenshots above that the icon becomes invisible on those OSs.

Some other notes:
* We a

[2022-07-15 17:55] zhumo opened #6697 "[osquery] Multiple wildcards in LIKE do not work for `registry` table"
Copied from: https://github.com/osquery/osquery/issues/6778

### Bug report
What operating system and version are you using?
+------------+-------+----------+
| version    | build | platform |
+------------+-------+----------+
| 10.0.19042 | 19042 | windows  |
+------------+-------+----------+
What version of osquery are you using?
4.5.1

### What steps did you take to reproduce the issue?
Perform

[2022-07-15 17:58] zhumo commented on #6282
https://github.com/osquery/osquery/pull/7649

[2022-07-15 18:00] zhumo commented on #6283
Closing in order to consolidate all these changes onto issue: https://github.com/fleetdm/fleet/issues/6334

[2022-07-15 18:00] #6283 closed

[2022-07-15 18:03] zhumo commented on #6334
@DominusKelvin This is another one where it would be great to get your help updating the documentation on both osquery and our own docs.

[2022-07-15 19:07] everping commented on #6654
@michalnicp I waited until the lock expired, but it automatically updated the expiration time again as you see below. That seems to be a dead lock
![image](https://user-images.githubusercontent.com/5586195/179293913-ad5e0fac-5509-4e29-9f48-e078f5620641.png)

I have also checked the pod and no error events happened. But when checking the application logs, I got
[code]

Does this cause the locking?

[2022-07-15 19:17] lukeheath opened #6699 "`fleetctl preview` should warn users if their `fleetctl` version is out of date"
## Goal

As a User evaluating Fleet with `fleetctl preview`, I want to know that I am evaluating the latest and greatest version of Fleet so that I have access to the latest features.

## Tasks

### 1
- [ ] Modify the `fleetctl preview` command to warn user if they are not using the latest version of `fleetctl`.
- If an old version is detected, a warning message should be printed, and preview shou

[2022-07-15 19:18] lukeheath commented on #6699
@noahtalerman I'm assigning this over to you to review and prioritize. Also added a TODO for you to add the exact error message we should print. Just let me know if you have any questions. Thanks!

[2022-07-15 20:23] xpkoala commented on #6259
python script used to test

[code]

[2022-07-15 20:41] DominusKelvin opened #6700 "Change "X hosts" to "X results" in Fleet UI"
**Fleet version**: 4.17.0

**Operating system**:

**Web browser**:

### 🧑‍💻  Expected behavior
Results returned from a query would be shown as "results"

### 💥  Actual behavior

Currently, when you make a query in Fleet UI, the results are returned and counted as "X hosts" which should be "X results" where X is the number of records returned.

### Picture of the behavior

<img width="1101" alt="ms

[2022-07-15 20:42] RachelElysia opened #6701 "Fleetctl config validation"
### Goal

https://fleetdm.slack.com/archives/C02ERK77D4K/p1657145152453329?thread_ts=1657134973.466939&cid=C02ERK77D4K

A user ran into an issue 9 days ago where the config is accepted in _fleetctl apply_ command even though it was invalid, we have validation in the UI, but not in fleetctl

TODO

- Is it feasible to build in yaml validation for fleetctl?

### How?

- [ ]

[2022-07-15 20:49] noahtalerman commented on #6141
Hey @DominusKelvin I saw that this prioritized doc improvement got lost of the 🪂 Community board (now retired).

I moved this issue to the "Ready" column in the 🚀 Release board.

cc @zhumo

[2022-07-15 20:59] lukeheath opened #6703 "Add a `isSandboxMode` context variable to app context"
### Goal

As a frontend developer, I want an easy way to determine if the current instance is running in sandbox mode so that I can adjust the UI accordingly

### Notes

- We will identify sandbox instances by checking the `config.sandbox_enabled` variable. It will be set to `true` or possibly `undefined` if the instance is running in sandbox (TBD by platform implementation).
- There is currently

[2022-07-15 21:00] lukeheath commented on #6703
@gillespi314 This is ready for dev. Thanks for jumping in to help out with this!

[2022-07-15 21:47] lukeheath commented on #5757
@gillespi314 This is ready to begin development. To fully unblock, we're just waiting on [Roberto's PR](https://github.com/fleetdm/fleet/pull/6672) to merge. Really appreciate you jumping in to help with this!

[2022-07-15 22:00] zwass commented on #6654
@everping what's your MySQL version? That syntax error about the JSON syntax might mean that your version is incompatible, and that could be causing the issues with vulnerability processing.

The "lock" that you see is indicating that one of the Fleet servers has declared its intent to do the vulnerability processing. That's normal and I don't see any indication of a deadlock.

[2022-07-15 22:09] michalnicp commented on #6654
I suspect the issue with the sql query may be that `ANSI_QUOTES` is enabled in MySQL. Can you confirm by running

[code]

[2022-07-15 22:21] lukeheath commented on #6600
I also tested and confirmed it's no longer an issue on the latest version of fleetctl. I've created an issue so that fleetctl prints out a warning if `fleetctl preview` is run using an old version. #6699

[2022-07-15 22:21] #6600 closed

[2022-07-15 22:24] michalnicp opened #6706 "Fetching agent config fails if ANSI_QUOTES enabled in mysql"
**Fleet version**: main (907ffa8ff1b08c0220f44ee9af3d919a4a839efc)

**Operating system**:

**Web browser**:

### 🧑‍💻  Expected behavior

After enrolling a host with a team enroll secret, I expect the host to be enrolled and properly configured

### 💥  Actual behavior

Fleet logs the following error

[code]

A similar error is logged by osquery (--tls_dump=true)

[code]

### More info

Steps to rep

[2022-07-15 22:33] michalnicp commented on #6654
I suspect the issue may be caused by not enough memory for vulnerability processing. According to https://fleetdm.com/docs/deploying/reference-architectures, we recommend 4 GB of memory. As noted in your deployment yaml above, 128 MB is not enough. I suspect that the pod is getting OOMKilled by k8s.

[2022-07-16 00:46] stephanmiehe opened #6708 "Vulnerability count doesn't match tool tip text"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ 4.17.0

**Operating system**: _(e.g. macOS 11.2.3)_ N/A

**Web browser**: _(e.g. Chrome 88.0.4324)_ Edge 103.0.1264.51

<hr/>

### 🧑‍💻  Expected behavior

The count of vulnerabilities shown matches the number of vulnerabilities in the tool tip text

### 💥  Actual behavior

<img width="1531" alt="Screen

[2022-07-16 00:58] stephanmiehe opened #6709 "Prevent information leak via /device/{token} using env or secrets exchange"
### Goal

Ability to disable /device URL path (e.g. https://example.com/device/00000000-0000-0000-0000-000000000000) as for internet facing instances it could allow someone to enumerate the enrolled devices and gain access to sensitive information about the devices inside someone's ecosystem

The above is the "quick" fix. I think the better long term solution would be for the desktop client to use

[2022-07-16 01:07] stephanmiehe opened #6710 "Add GitHub as a ticket destination"
### Goal

Currently Zendesk and JIRA are supported as ticket destinations. We'd love for GitHub to be supported.

### How?

- [ ]

[2022-07-16 01:16] stephanmiehe opened #6711 "Filtering hosts by mac address returns no results"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ 4.17.0

**Operating system**: _(e.g. macOS 11.2.3)_ 12.4

**Web browser**: _(e.g. Chrome 88.0.4324)_ Edge 103.0.1264.51

<hr/>

### 🧑‍💻  Expected behavior

Ability to filter hosts by mac address as per hint text
<img width="577" alt="Screen Shot 2022-07-15 at 6 15 05 PM" src="https://user-images.github

[2022-07-17 04:46] everping commented on #6654
@michalnicp

Yes, `ANSI_QUOTES` is enabled. Should I disable it for fleetdm?

Yes, I have checked the pod status and got
[code]

[2022-07-17 22:12] mikermcneil opened #6716 "Make every query in Fleet a useful report"
UPDATE: Closed this issue because all of the stories included in this issue are shipped.

(noahtalerman 2024-04-12)

---

## Problem

When I run a live query in Fleet, I only see data for the hosts that are online right now. On an average Monday morning, only 20% of my hosts are online.

This makes it hard to see query results for all of my hosts.

**Please watch**: https://www.loom.com/share/9772

[2022-07-17 23:46] xpkoala opened #6717 "Vulnerability automations send duplicate webhooks"
**Fleet version**: 4.17

**Operating system**:

**Web browser**:

<hr/>

### 🧑‍💻  Expected behavior
The webhook payload doesn't have any repeated hosts.

### 💥  Actual behavior
Duplicate entries are sent.

### More info
It was thought that this issue was fixed by #5594. That does not appear to be the case based on the alerts seen in the #g-security channel.

@chiiph could you please assist on this

[2022-07-18 12:33] roperzh commented on #5757
a heads-up: the PR also adds instructions at `docs/Contributing/Testing.md` to set-up your local env for testing this feature.

[2022-07-18 14:32] RachelElysia commented on #6710
Product, added this to your product office hours notes for Thursday! @noahtalerman @zhumo

[2022-07-18 14:42] erikng commented on #6680
Do you have any plans to show _what_ policies are failing on the Fleet Desktop application in the future? That was something I built out with the current API.

If you just plan on pushing to the web ui, that's fine as well. Just curious if this hard blocks you all on new features to the application vs web-app.

Apart from that, security wise, this gets my approval.

[2022-07-18 15:09] erikng commented on #6716
I like this idea a lot. Some questions/ideas

### Doesn't this also get rid of the need for `additional_queries` that you currently offer?
Now that you'll have these queries immediately stored and accessible for all queries by default, it doesn't make as much sense to keep that functionality still. Perhaps you can port these additional queries upon upgrade to this new methodology and then keep the

[2022-07-18 15:26] michalnicp commented on #6654
This issue has come up a few times. We have generally tried to make fleet work with `ANSI_QUOTES` enabled, but sometimes we miss things. I have already opened a pr to fix this one #6707. You should disable it for now as a workaround.

Can you increase the pod memory limit and see if vulnerability processing starts working?

[2022-07-18 15:50] gillespi314 opened #6722 "Add end-to-end tests for Fleet Sandbox UX"
This ticket tracks work required to build e2e tests for Fleet Sandbox. It should be updated with additional tasks should be added as needed.

Update Cypress test fixtures:

- [ ] Mock `/config` endpoint to set `config.sandbox_enabled`
- [ ] Investigate ways to include installer downloads in `make e2e` commands

Add Cypress tests:

- [ ] "Add hosts" button
- Appears on manage hosts page [and team d

[2022-07-18 16:16] RachelElysia commented on #6709
Product, added this to your product office hours notes for Thursday! @noahtalerman @zhumo

[2022-07-18 16:19] zhumo commented on #6709
Hello, we are working on rotating and rate limiting that URL endpoint.
- https://github.com/fleetdm/fleet/issues/6064
- https://github.com/fleetdm/fleet/issues/6259

Do these address your concerns?

[2022-07-18 19:44] zwass commented on #6680
@erikng I think it's likely we will include further details in the desktop application in the future. This could include notification content for the user, failing policy information, etc. The security of this approach would then come partly from the fact that an attacker with a device token would not know which device that content refers to (and the token will then expire shortly).

[2022-07-18 20:57] ksatter opened #6727 "Merge agent options for teams rather than override."
### Goal

As a Fleet developer, I would like my teams to use the current global agent options set for my organization in addition to any team-specific options I set.

Currently, when a new team is created, the current global agent options are applied. If I create team-specific agent options and want the global agent options as well, I have to include those in my team configuration.

If changes are

[2022-07-18 22:21] lukeheath opened #6732 "Update `/macadmins` endpoints to include MDM name and aggregate count"
## Goal

For MacOS hosts, add ability to know which host is enrolled in an undesired Mobile Device Management (MDM) solution.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=7652%3A275866

## Related
- #6433  (epic)
- #6928 (frontend)

## Tasks

### 1
- [x] Update `GET /api/v1/fleet/hosts/{id}/macadmins` endpoint to provide MDM s

[2022-07-18 23:15] mike-j-thomas commented on #6581
@Desmi-Dizney this also exists. Let's consolidate it with the Markdown guide that you're creating. https://fleetdm.com/handbook/community#markdown

[2022-07-19 01:02] mike-j-thomas commented on #6447
Hey @DominusKelvin, @noahtalerman, please can you let me know the status of this task?

[2022-07-19 03:02] mike-j-thomas opened #6734 "Consistent naming of deployment guides and how-to guides"
## Goal

Guides on fleetdm.com follow a consistent naming convention.

## How

After the successful merge of https://github.com/fleetdm/fleet/pull/6679, please consistently name the article titles under [/deploy](https://fleetdm.com/deploy).

- [x] Change "Deploying" to "Deploy" for each title.
- [x] Update Cloudflare redirects to reflect these changes

[2022-07-19 04:17] everping commented on #6654
@michalnicp I updated the deployment as below

[code]

No `OOMKilled` appears but Vulnerable software list is still empty

[2022-07-19 05:02] mike-j-thomas commented on #6684
Example of current home page:

![Image](https://user-images.githubusercontent.com/78363703/179668710-923fcda4-b62e-42ca-b25f-815fe62c317e.png)

[2022-07-19 05:04] mike-j-thomas commented on #6684
Example of current login:

![Image](https://user-images.githubusercontent.com/78363703/179668971-dded523e-0e39-402f-a46f-0c6591fc2786.png)

[2022-07-19 06:55] mikermcneil commented on #6716
More feedback:

- https://twitter.com/gnawshark/status/1547378744360402945?s=21

- ![E69753C7-B869-489B-B9B7-F9F6D46CCD4F](https://user-images.githubusercontent.com/618009/179685596-3bdb8e04-4006-4fb1-b9ed-5d1de0af8ba3.jpeg)

-
![1F0AAC77-4F9F-46E6-83D9-50C81FCB4CA6](https://user-images.githubusercontent.com/618009/179685759-013d6a7b-4b24-421e-ab83-e3e844823f6a.jpeg)

[2022-07-19 07:38] mike-j-thomas opened #6736 "Website - Markdown styling - checklists"
## Goal

Update the website styling to render checkboxes correctly throughout the site.

## Current behaviour

![Image](https://user-images.githubusercontent.com/78363703/179693995-73df936e-72d6-4c93-bd95-dfbbb392d37b.png)

[2022-07-19 13:50] noahtalerman commented on #6257
@mike-j-thomas the **Manage enroll secrets modal** exists in the DEPRECATED Fleet EE current here: https://www.figma.com/file/qpdty1e2n22uZntKUZKEJl/DEPRECATED---Archived-for-reference---see-dogfood.fleetdm.com-instead----%E2%9C%85-Fleet-EE-(current)?node-id=6959%3A119375

[2022-07-19 14:44] Desmi-Dizney opened #6739 "Ritual of updating the "Release" field in the #g-growth board"
# Goal
Create a ritual for updating the "Release" field in the #g-growth" board.

# How
Add to [Growth in the handbook](https://fleetdm.com/handbook/growth#rituals).

[2022-07-19 15:30] chris-mcgillicuddy opened #6740 "Test ads with new positioning"
### Goal

Create new Google and LinkedIn ads to test new messaging.

### How?

- [x] Write new headlines and descriptions for display and search ads
- [x] Identify which links (if any) should be used for site extensions
- [x] Work with @mike-j-thomas to add new imagery to display ads
- [x] Get approval from @mike-j-thomas on messaging
- [x] Work with @timmy-k to implement and measure test ads

[2022-07-19 16:36] Desmi-Dizney commented on #6739
Created PR:
- https://github.com/fleetdm/fleet/pull/6743

It is awaiting @timmy-k review.

[2022-07-19 16:55] michalnicp commented on #6654
Do you see any errors in the logs from fleet? Have you waited at least 1 hour? Now that the pod is not getting killed by k8s, we should have a better chance of tracking down the issue.

[2022-07-19 17:35] lukeheath commented on #6732
Sarah: Can a host have more than one MDM solution?
Sarah: Who created `ManagedInstallReport.plist`? Does it always contain Munki info? Could it contain more XML nodes than are currently in the file? For example, could there be a `jamf_version` node like there is `munki_version`? Or does it always assume the host is running Munki as the MDM solution?

[2022-07-19 17:38] xpkoala opened #6744 "4.17.1 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-07-19 17:42] lukeheath commented on #6732
Sarah: If we want to expand on this extension, or add a new extension, should we bring in the agent team?

[2022-07-19 17:59] xpkoala commented on #6744
@lukeheath @zwass @noahtalerman 4.17.1 QA complete. Everything is looking good on this end. The four tickets that are being actioned are included in the Notes section.

[2022-07-19 18:15] noahtalerman commented on #5036
cc @zhumo ^

[2022-07-19 18:17] noahtalerman commented on #5036
@eashaw heads up, I assigned you this issue. This is because it looks like your following PR address this issue: #6380

[2022-07-19 18:29] noahtalerman opened #6745 "Some way to be notified when a Fleet Sandbox instance fails to have packages available for download (ex. Slack message sent to an internal channel)."
### Problem
Sometimes Fleet Sandbox might fail to generate an installer or the user might request the installer before it is generated. We think this is an edge case, but there is a potential for it to be a large problem, impacting the UX of Sandbox. We want to measure whether it is a problem so that we can address it.

### Solution
- Each time a user clicks the "download installer" button but the

[2022-07-19 18:33] zhumo commented on #5757
@gillespi314 Noah and I were discussing the generators and we were concerned that the user might request the generator sooner than it gets generated, esp. if the flow tells them to go download the generator immediately. When this UI is built out, would you mind trying it a few times to see if reasonably, you would beat the generator? I made that #7 above.

cc: @lukeheath

[2022-07-19 18:39] gillespi314 commented on #5757
@zhumo, sure thing. My understanding of the prepackaging is that we're pulling installers from a preexisting queue that is not specific to any one instance of Fleet Sandbox. @roperzh @zwinnerman-fleetdm, is my understanding correct? Any concerns with the question Mo raises above?

[2022-07-19 18:53] zwinnerman-fleetdm commented on #5757
Its my understanding that its implemented by each instance generating and signing its own installers. Isn't this needed since we need to embed the enroll secret inside the installer so we can't just pull from a queue? This is the issue that I have for including the feature in sandbox, but the main design wasn't done by me so I'm not the best person to ask about it TBH.

https://github.com/fleetdm/

[2022-07-19 18:55] lucasmrod opened #6747 "Test an Orbit installer generated with `--fleet-desktop` on a Linux and Windows server"
## Goal

Currently, the `--fleet-desktop` flag is disabled by default:

![Screen Shot 2022-07-19 at 15 53 04](https://user-images.githubusercontent.com/2073526/179827058-6077a51f-f7be-471e-95bc-bbf287b0d5e9.png)

Before changing `--fleet-desktop` argument to be enabled by default, we'd like to know if such an installer that includes Fleet Desktop works without issues on such Desktop-less systems.

[2022-07-19 19:02] zwinnerman-fleetdm commented on #6548
This is added, documented in the openapi endpoint.

[2022-07-19 19:02] #6548 closed

[2022-07-19 19:03] zhumo commented on #5220
Ultimately, we have decided to delay working on this for the foreseeable future.

We spoke to the solutions engineering folks at Snowflake and found out that Snowpipe is the recommended way to get logs into Snowflake given our scenario. This means that the existing Fleet Firehose plugin is the best way to get the logs to the right place (Fleet > Firehose > S3 > Snowpipe > Snowflake).

[2022-07-19 19:06] zwinnerman-fleetdm commented on #5757
From my understanding yes, that's a good summary.

[2022-07-19 19:23] noahtalerman commented on #6747
@xpkoala heads up, I assigned you this testing issue and moved it into the "Awaiting QA" column in the Release board.

Please prioritize testing this issue as part of QA for the 4.18.0 release.

[2022-07-19 19:28] zwinnerman-fleetdm commented on #6592
@lucasmrod I'm trying to implement this by calling BuildPkg but I'm getting an import error:
[code]
Is this something we can make externally importable?

[2022-07-19 19:33] lucasmrod commented on #6592
Not easily.

Given the many dependencies/tooling required to build the four types of packages, you'll need to use the new `fleetdm/fleetctl` docker image instead (step 1).

Let me know if it makes sense.

[2022-07-19 19:51] chiiph commented on #6717
It seems to have been a side effect of where the webhook ends up given that the payloads look correct and we don't retry webhooks.

[2022-07-19 19:56] gillespi314 opened #6749 "Add testing utilities for usage statistics"
Goal:
As we continue to add to the usage statistics that Fleet instances report to fleetdm.com, we want to expand our automated tests and manual QA for stats reporting.

Proposal:
- Add new configs to Fleet to use instead of the defaults:
FLEET_STATS_FREQUENCY
FLEET_STATS_URL
- Use a dummy Go HTTP server to listen those stats requests and prints them to stdout
- Set a default value for dev so we a

[2022-07-19 20:02] zwinnerman-fleetdm commented on #6592
I would need to provision basically a new ECS servive for the docker image and then use container overrides to start ECS taks, then wait on the ECS task and get errors that are returned after exit.

https://docs.aws.amazon.com/sdk-for-go/api/service/ecs/#ECS.WaitUntilTasksStopped
https://docs.aws.amazon.com/sdk-for-go/api/service/ecs/#ECS.StartTask
https://docs.aws.amazon.com/sdk-for-go/api/servic

[2022-07-19 20:03] #6243 closed

[2022-07-19 21:29] Desmi-Dizney commented on #6605
@mike-j-thomas, I corrected my edits in:
- https://github.com/fleetdm/fleet/pull/6669

[2022-07-19 21:52] zhumo commented on #5757
@roperzh @zwinnerman-fleetdm Yes, that summary is my understanding as well, but my understanding is also that it can take around 2 min for an installer to be generated. So if a user sets up an instance and they immediately go to download the installer, then it will not be there. I think the UI kinda does that: you set up Fleet sandbox and then your next call-to-action is to download the installer.

[2022-07-19 22:00] roperzh commented on #5757
@zhumo in my previous message, by a "pool" of instances and installers I mean a set of already running instances and pre-generated installers "waiting" to be assigned to an user, as such by the time the user is assigned an instance the installer will already be available.

[2022-07-19 22:00] lukeheath commented on #5757
@zhumo

Not quite. It sounds like the installers will be pre-generated, before the user sets up the Fleet instance. That means the 2 minute wait time occurs well in advance of when the user sets up a given sandbox instance. When they sign up for Fleet sandbox, we'll just assign them a pre-generated enrollment key + installers, so there is no wait time. That being said, it's worth confirming with @

[2022-07-19 22:06] zhumo commented on #5757
@roperzh @zwinnerman-fleetdm @lukeheath Thanks gents! Sounds like the pooling thing does resolve my concern here. Yeah, let's see if we need to do some robustness check around refilling the installers as Luke is suggesting. The 10/100 figure seems reasonable imo.

[2022-07-19 23:18] mike-j-thomas opened #6754 "LinkedIn ad graphic"
Resize GoogleAd graphic for linkedIn

[2022-07-19 23:36] lukeheath commented on #5723
@ghernandez345 I have updated the specs above to reflect the design of the sandbox /expiry endpoint. This should be ready for a full implementation locally. Just let me know if you have any questions.

[2022-07-20 00:21] mikermcneil opened #6756 "Get every engineer on the team reading and writing in the docs"

[2022-07-20 00:22] #6756 closed

[2022-07-20 04:44] mike-j-thomas commented on #6754
@timmy-k, here are the LinkedIn images based on [these specs](https://business.linkedin.com/marketing-solutions/success/ads-guide/single-image-ads).

**Horizontal**
![Image](https://user-images.githubusercontent.com/78363703/179898504-9dc8c1de-da76-4f39-8eba-821a6d2abbbf.jpg)

**Square**
![Image](https://user-images.githubusercontent.com/78363703/179898462-92b8ee82-2432-4f27-9ea2-399742acd70f.jpg)

[2022-07-20 14:36] noahtalerman commented on #6282
@zhumo I'm passing you this issue.

[2022-07-20 15:33] chris-mcgillicuddy commented on #6547
Article is now live.

[2022-07-20 15:33] #6547 closed

[2022-07-20 15:59] xpkoala opened #6761 "Misaligned checkboxes"
**Fleet version**: 4.17.0

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

The text that appears next to a checkbox should be centered to the checkbox.

### 💥  Actual behavior
Checkboxes are misaligned with the text that appears next to them.

### More info
Thank you @DominusKelvin for ringing this bell!

- Add Hosts (Flee

[2022-07-20 16:03] zhumo opened #6763 "My Device page telling me to check my battery when I'm pretty sure my battery is fine."
**Fleet version**: _4.14_

**Operating system**: _(e.g. macOS 12.4)_

**Web browser**: _Chrome 103.0.5060.114_

<hr/>

My Mac is only ~2 months old and the OS is telling me that my battery is in good health (see screenshot)
![image](https://user-images.githubusercontent.com/5359586/180029019-f8f16dbe-ba50-4216-a91e-90bdbdcfd8b0.png)

### 🧑‍💻  Expected behavior

The battery value is either "Normal"

[2022-07-20 16:05] zhumo opened #6764 "Explain more what "Check Battery" means"
### Goal
On the my device page, under battery, when fleet thinks that my battery is bad, it will say "check battery." But it provides no further context or instruction. What does check battery mean? How do I check it? On what basis are you telling me to check my battery?

### How?

Maybe we can link to some content? Fleet blog post? Fleet end user FAQ?

- [ ]

[2022-07-20 17:27] zhumo opened #6766 "Fix or document gotchas for osquery tables - Windows"
## Problem
Not all osquery tables are working. This is causing customer complaints and embarrassing failures during demos.

## Goal
Identify which tables are failing. Then, make decisions about what to do with each table. Options:
- Fix it
- Fix it partially, document gotchas
- Do not fix, but document gotchas
- Do not show in Fleet
- Remove from osquery if totally unfixable

## Child Issues

- ht

[2022-07-20 18:42] zhumo commented on #6407
Is this closed because it's been addressed? If so, please remove from release board.

[2022-07-20 19:04] zhumo opened #6773 "Document which extensions are bundled with Orbit"

[2022-07-20 19:27] noahtalerman commented on #6763
@lukeheath I assigned you this issue and moved it to the release board.

This issue will be included in the upcoming 4.17.1 patch release.

[2022-07-20 19:30] ksatter opened #6774 "Existing enroll secrets removed after applying new configuration."
**Fleet version**: 4.16.0

<hr/>

### 🧑‍💻  Expected behavior

When applying an updated configuration file to a team using `fleetctl apply`, existing enroll secrets should not be removed unexpectedly.

This means that, when a `secrets` section is not defined, or incorrectly placed, a team's enroll secrets shouldn’t be modified (removed).

### 💥  Actual behavior

If a team configuration is updated w

[2022-07-20 20:33] erikng commented on #6680
Makes sense to me!

[2022-07-20 20:40] zhumo commented on #6198
declined in favor of #6680

[2022-07-20 20:40] #6198 closed

[2022-07-20 21:06] mikermcneil opened #6776 "💬 #g-interface: [public] Software detail page at ≤1217px window width has..."
## Goal

Software detail page at ≤1217px window width has a mystery funzone on the right hand side.  Expected behavior: no horizontal scrollbar.

<img width="965" alt="image" src="https://user-images.githubusercontent.com/618009/180082174-d7514424-a37a-4391-a777-662740f3c41d.png">

### Version info
dogfood @ 2022-07-20 @ 16:06 CT
<img width="343" alt="image" src="https://user-images.githubusercont

[2022-07-20 21:11] mikermcneil opened #6777 "Issue with the oval vulnerability scanning"
Fleet version: 4.17.0

## Bug

Vulnerable software not displayed 4 hours after deployment, even though software inventory is there
![image](https://user-images.githubusercontent.com/618009/180082979-1a3e00a5-e958-458a-ac14-b944b5331b05.png)

[Guillaume Ross](https://app.slack.com/team/U02U71S5PGB)
  [3 minutes ago](https://fleetdm.slack.com/archives/C03C41L5YEL/p1658351774261619?thread_ts=16583512

[2022-07-20 21:22] chris-mcgillicuddy opened #6779 "Revise sales deck copy and imagery"
### Goal

Make sure the sales deck communicates Fleet's new positioning as effectively as possible.

### How?

- [x] Simplify slide copy while following the positioning framework
- [x] Update the design to complement the messages of each slide
- [x] Incorporate input from Alex Mitchell
- [x] Replace sales deck with this version on the Fleet drive

[2022-07-20 21:25] GuillaumeRoss commented on #6777
I have one host hooked up, software inventory is coming back, but vulnerabilities are set to NULL for every package. It might very well be that there is no vulnerable software on this machine, OR that vulnerability processing is broken, but I am not quite sure how to check. If there are simply no vulns, the UI should state that instead of telling me to wait for an hour.

[2022-07-20 21:33] RachelElysia opened #6781 "Fleet UI: Inconsistent headers in loading state"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Either all header text show during loading or all header text is hidden during loading

### 💥  Actual behavior

<img width="1792" alt="Screen Shot 2022-07-20 at 5 31 56 PM" src="

[2022-07-20 21:55] noahtalerman commented on #6684
@mikermcneil would an image/graphic on the Home page achieve the goal?

cc @mike-j-thomas

[2022-07-20 22:16] michalnicp commented on #6777
I found a potential issue with the oval vulnerability scanning. In https://github.com/fleetdm/fleet/blob/907ffa8ff1b08c0220f44ee9af3d919a4a839efc/server/vulnerabilities/oval/oval_platform.go#L21, if an `osVersion` of `Ubuntu 20.04.2 LTS` is passed, the major minor version returned are both empty. At a minimum, this causes a problem during the oval file syncing but there are probably more issues.

[2022-07-20 22:57] michalnicp commented on #6777
It looks like the change in https://github.com/fleetdm/fleet/pull/6360 is the cause. We should adjust the version regex to correctly parse the new os version that we are returning for ubuntu https://github.com/fleetdm/fleet/blob/907ffa8ff1b08c0220f44ee9af3d919a4a839efc/server/service/osquery_utils/queries.go#L133

[2022-07-21 01:53] mikermcneil commented on #6777
Sounds like there are two parts to this issue:
A) An issue with Ubuntu vulns mentioned above.  FYI @chiiph
B) UI showing the state of “vulnerability processing still happening” in a situation where the underlying reality is either that there are no vulns or that an error has occurred.  FYI @lukeheath

[2022-07-21 02:28] lukeheath commented on #6777
I checked the related frontend code and there is a relevant TODO:

https://github.com/fleetdm/fleet/blob/0312454f4c24038f9a91232e8b9f5cdab010f886/frontend/pages/Homepage/cards/Software/Software.tsx#L101-L107

Looks like there was a point where we couldn't differentiate between "no vulnerabilities" and "vulnerabilities still processing".

@noahtalerman How would you like to handle the case of no re

[2022-07-21 04:07] everping commented on #6654
@michalnicp Until now, the vuln processing still does not work. No vulnerable software appears while the pod is not killed by k8s (its age is over 3 days)
The only error I'm getting is the SQL syntax error caused by ANSI quotes

[2022-07-21 04:10] mike-j-thomas opened #6790 "Website bug: fix docs REST API table Markdown"
- [x] Markdown for this parameters table needs fixing https://fleetdm.com/docs/using-fleet/rest-api#list-labels

![Image](https://user-images.githubusercontent.com/78363703/180128190-53ba7752-8864-462d-91e0-cf8cba710dee.png)

- [x] Anchor link https://fleetdm.com/docs/using-fleet/rest-api#get-labels-sumary is missing an "m" in summary.

[2022-07-21 04:14] mike-j-thomas opened #6791 "Website bug: Docs broken at 320px"
Bug: Docs are broken at 320px width, likely due to the announcement banner (though not verify that).

Mike T: I think these two parameters tables may be causing the break.

https://fleetdm.com/docs/using-fleet/rest-api#modify-configuration

https://fleetdm.com/docs/using-fleet/rest-api#modify-team

- [ ] @eashaw to fix in CSS.

![Image](https://user-images.githubusercontent.com/78363703/180126220-

[2022-07-21 04:18] #6173 closed

[2022-07-21 04:18] #6603 closed

[2022-07-21 04:37] #6671 closed

[2022-07-21 04:52] #6692 closed

[2022-07-21 05:00] #6606 closed

[2022-07-21 05:33] #6570 closed

[2022-07-21 05:35] mike-j-thomas commented on #6740
Good hustle, @chris-mcgillicuddy.

[2022-07-21 05:35] #6740 closed

[2022-07-21 05:35] #6584 closed

[2022-07-21 05:35] #6754 closed

[2022-07-21 06:56] mike-j-thomas commented on #5785
@noahtalerman, I added an empty state to the results table and moved the loading spinner outside the table so that it is always present, even when results have started to populate.

![Image](https://user-images.githubusercontent.com/78363703/180149531-6e1e3096-55e7-428e-ae2f-f3c85b8565d6.png)

[2022-07-21 07:29] mikermcneil commented on #6684
@noahtalerman Up to you and @mike-j-thomas

[2022-07-21 13:11] noahtalerman commented on #6774
Expected behavior for modifying (adding, editing, and deleting) a team’s enroll secrets:
1. Can be modified on the **Hosts > Manage enroll** secrets modal in the UI
If the secrets section isn’t included, enroll secrets won’t be modified at all.
2. Can be modified using the `teams` YAML document and the `fleetctl apply` command.

It looks like there are bugs with (2) and potentially (3):
- When a `

[2022-07-21 13:11] noahtalerman commented on #6774
@ksatter this is a great bug report.

[2022-07-21 13:26] noahtalerman commented on #6774
To prevent folks from using incorrect formatting for the enroll secrets section, I think we should make sure that the docs present the correct format. @ksatter can you please confirm if this is the case?

@ksatter this behavior is expected. This behavior can be improved however, we ultimately decided that this bug report, and associated fix, to focus on the unexpected removal of enroll secrets. Be

[2022-07-21 13:28] noahtalerman commented on #6774
This is likely something that would benefit from YAML validation #5222

Potential solutions:

- Add a warning and/or prompt before overwriting enroll secrets.
- Exit with error and do not update configuration if it would remove enroll secrets.
- This may be part of a larger conversation, but this might be something that would benefit from the ability to apply configurations with a `--differential`

[2022-07-21 13:39] noahtalerman commented on #6774
@ksatter when you get the chance, can you please verify if, when running `fleetctl apply` with a `teams` YAML document with the correct `secrets` section, the secrets are correctly applied?

If yes, we may not have to cut a patch release for this bug. Instead, the bug will be addressed in the upcoming 4.18.0 release.

[2022-07-21 13:54] ksatter commented on #6774
@noahtalerman Yes, if secrets are defined and placed properly there are no errors and the enrollment secrets are updated correctly.

[2022-07-21 14:23] noahtalerman commented on #6777
@RachelElysia is this still the case? We can't differentiate between "no vulnerabilities" and "vulnerabilities still processing" ?

[2022-07-21 14:26] noahtalerman opened #6799 "On Home and Software pages, improve empty state"
### Problem

UI showing the state of “vulnerability processing still happening” in a situation where the underlying reality is either that there are no vulnerable software or that an error has occurred.

### Goal

As a user, I want to know when there is no software or if software inventory is disabled.

### Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2

[2022-07-21 14:28] noahtalerman commented on #6777
Heads up folks, I updated this issue title to "Issue with the oval vulnerability scanning" so that it's focus is the scanning fix that @juan-fdz-hawa is working on.

I opened a separate "On Home and Software pages, improve empty state" issue here: #6799. This issue's focus is the no software an/or no vulnerable software state in the UI.

cc @RachelElysia @lukeheath @mikermcneil @GuillaumeRoss

[2022-07-21 14:35] juan-fdz-hawa commented on #6654
Hi @everping - Do you mind running this and posting back the resutls?
[code]
Thanks

[2022-07-21 14:51] gillespi314 commented on #6777
I don't recall offhand if there's any value being returned from the backend that makes it explicit whether the case is "no vulnerabilities detected" or "still processing". Assuming not, one potential approach would be to use the time since `counts_updated_at` as a proxy. Perhaps we could display "no vulnerabilities detected" if vulnerabilities are empty and it has more than 2x the vulnerabilities

[2022-07-21 14:59] Desmi-Dizney commented on #6790
@mike-j-thomas, I'm looking at the table and it seems to be rendering properly. Could you be more specific about what's wrong with it?
I fixed the link to read "summary" instead of "sumary."

[2022-07-21 15:01] gillespi314 commented on #6799
@noahtalerman
I don't recall offhand if there's any value being returned from the backend that makes it explicit whether the case is "no vulnerabilities detected" or "still processing". Assuming not, one potential approach would be to use the time since counts_updated_at as a proxy. Perhaps we could display "no vulnerabilities detected" if vulnerabilities are empty and it has been more than 2x the

[2022-07-21 15:03] Desmi-Dizney commented on #6790
For the typo fix see:
- https://github.com/fleetdm/fleet/pull/6801

[2022-07-21 15:30] RachelElysia commented on #6777
Vulnerabilities table only has 1 empty state (Vulnerabilities.tsx):
[code]

[2022-07-21 15:33] RachelElysia commented on #6777
Empty state (Screenshot is with 0 hosts) for vulnerabilities differ between Homepage and Software page as well:

<img width="1213" alt="Screen Shot 2022-07-21 at 11 32 17 AM" src="https://user-images.githubusercontent.com/71795832/180253866-e923737d-b363-4bf4-8333-a97902147f33.png">
<img width="594" alt="Screen Shot 2022-07-21 at 11 32 08 AM" src="https://user-images.githubusercontent.com/71795832

[2022-07-21 15:39] timmy-k opened #6802 "Prepare materials for Cybersecurity Summit Boston"

[2022-07-21 15:52] zhumo opened #6803 "Intermittent delay in loading dogfood"
**Fleet version**: _4.14.0_

**Operating system**: _macos 12.4_

**Web browser**: _Chrome 103.0.5060.114_

<hr/>

### 🧑‍💻  Expected behavior
When I go to dogfood, it should load pretty near-instantly

### 💥  Actual behavior
When I visit dogfood, it intermittently requires 3-4 seconds to load. I've been able to get this to happen by switching browsers. The first time I load dogfood on a new browser

[2022-07-21 16:31] ksatter commented on #6774
Yes, I copy/pasted the example directly from the docs when testing and it is formatted correctly.

[2022-07-21 16:32] everping commented on #6654
@juan-fdz-hawa I'm attaching the screenshot here

![image](https://user-images.githubusercontent.com/5586195/180266526-ac42555e-58d0-4a7d-855f-e650341d5b3c.jpeg)

[2022-07-21 16:53] juan-fdz-hawa commented on #6654
Thanks @everping we found a bug with vulnerability processing for LTS versions of Ubuntu - this should be fixed in the next patch release.

[2022-07-21 17:13] zwass commented on #6709
@stephanmiehe do you have some idea about how a secret could be generated that doesn't have the same properties of making the information available to someone with the URL? While the current approach is not "cryptographic", the key space for UUIDs is massively large and not tractably guessable (see note in https://pkg.go.dev/github.com/google/UUID#NewRandom). The point of the key rotation is mostl

[2022-07-21 17:42] mikermcneil commented on #6791
FYI it's happening on other pages too, to various degrees, lending to Mike T’s theory about wide tables being the culprit.  I'd suggest playing with css a touch first, but remember that table css is always a little weird due to legacy history of tables in the DOM.

So you might find yourself injecting something in the build script that wraps tables in a div, then you can style that div so it alway

[2022-07-21 18:00] mikermcneil commented on #6777
@RachelElysia would you link up your comments in the other issue?  Want to make sure we don’t lose track once this one gets closed

[2022-07-21 18:12] roperzh opened #6807 "export Go functions used to build packages"
### Goal

Allow the infra group to build packages without having to do system calls to a pre-built `fleetctl` binary.

### How?

Export all necessary `func`s and `type`s related to packaging so they can be consumed by third-party code.

[2022-07-21 18:23] zhumo commented on #6441
We discussed in the agent team today. We are going to prioritize this. Our understanding is that this might happen to end users if they use something like munki/chef, etc. for updating fleet desktop (with Orbit auto-updates off). As much as I hate it, I know that at least some of our users are doing it for various reasons.

[2022-07-21 18:23] noahtalerman commented on #6654
Thanks @juan-fdz-hawa! Opening this issue because the patch has not been released yet.

I'm also adding this issue to the release board so that it's tracked.

[2022-07-21 18:29] zhumo opened #6808 "Enable configuration to turn off `GET /device/{token}` url path"
Derived from https://github.com/fleetdm/fleet/issues/6709

### Problem
Internet facing instances could allow someone to enumerate the enrolled devices and gain access to sensitive information about the devices inside a fleet ecosystem. Specifically, some users don't want to expose vulnerabilities, OS versions, etc. They are okay with only showing number of failed policies.

For those users who do

[2022-07-21 18:39] noahtalerman commented on #6799
@gillespi314 got it. I don't think there is...

I like this idea a lot. For now, I think we can make an improvement by telling the user "No vulnerable software detected" in both cases.

In both cases, we can also provide a "This report is updated every hour to protect the performance of your devices." explanation so that users expecting to see a list of software/vulnerable software know how often

[2022-07-21 18:41] RachelElysia commented on #6711
This looks like the keys it searches is built on the backend with the _targetsAPI.search_ function _services/entities/targets.ts_ and might require a backend fix.

_API-for-contributors.md_ line 751
| query             | string  | body | The query used to identify hosts to target. Searchable items include a host's hostname or IPv4

@gillespi314 is this in your scope?

[2022-07-21 18:58] RachelElysia commented on #6776
Identified the issue (it's the tooltip going off the page), working on a fix now.

[2022-07-21 19:02] noahtalerman commented on #5222
Decision:

Make the goal "As a user, I want to be able to check if my YAML file contains only valid, recognized agent options, so that I'm confident Fleet will accept this file."

How? Improve the documentation.

Reasoning:
- There's a large list of settings for the `config.agent_options` and `teams.agent_options` section. Some settings don't have a defined set of values (very customizable).
- The

[2022-07-21 20:11] zwass commented on #6774
Can someone double-check that? A host should remain enrolled even if it no longer has a valid secret.

[2022-07-21 20:21] ksatter commented on #6774
@zwass Updated the language. The issue was with new hosts failing to enroll rather than existing hosts

[2022-07-21 20:25] zhumo commented on #6709
I've created an issue for the config option to turn off the url: https://github.com/fleetdm/fleet/issues/6808.

Going to reserve this issue to discuss the cryptogaphic approach.

[2022-07-21 20:29] zhumo commented on #6697
@sharvilshah to investigate and estimate

[2022-07-21 20:37] Desmi-Dizney commented on #6581
| Markdown | Rendered output |
|:-----------|------------------|
|```` `` Sometimes we need to talk about `code` in your Markdown `` ````| <code>Sometimes we need to talk about `code` in your Markdown</code> |

[2022-07-21 20:40] #3610 closed

[2022-07-21 20:47] Desmi-Dizney commented on #6581
I've started to add all of this to:
- https://github.com/fleetdm/fleet/pull/6813

It's a work in progress.

[2022-07-21 20:52] ksatter commented on #6727
@noahtalerman I've updated this a bit to reflect some changes in my understanding on how those options are applied when a team is created.

[2022-07-21 21:01] ksatter commented on #6727
@zhumo Is this something we can prioritize?

[2022-07-21 21:18] gillespi314 commented on #6711
I'll take a look

[2022-07-21 21:23] mikermcneil commented on #6690
see also https://github.com/fleetdm/fleet/issues/891

[2022-07-21 21:48] n8felton commented on #2013
Not 100% sure what this means for the future yet, but I wanted to make sure it was documented.

From https://www.mothersruin.com/software/SuspiciousPackage/faq.html?utm_source=help-search&utm_medium=suspicious-package-app#package-archive-format:

From `man xar` on macOS 12.4:

       xar is no longer under active development by Apple. Clients of xar should pursue alternative archive formats.

[2022-07-21 21:59] Desmi-Dizney commented on #6790
I found the table you were talking about. It looks much happier now. I'm awaiting @chiiph's review.

[2022-07-21 22:43] ksatter opened #6816 "Improve documentation for transferring hosts"
### Goal

Update documentation to clearly indicate that if a host is already enrolled in Fleet and you would like to transfer it to a team, changing the host's osquery enroll secret will not cause the host to be transferred to the appropriate team. The host will only be transferred if you delete `/var/osquery/osquery.db` (forcing it to re-enroll) or manually transfer the host to the new team using

[2022-07-21 23:13] mike-j-thomas commented on #6447
PR here: https://github.com/fleetdm/fleet/pull/6797

[2022-07-22 07:13] #6739 closed

[2022-07-22 13:26] roperzh commented on #6807
I submitted a PR with a PoC at #6810 , but we decided to directly use the functions in `orbit/pkg/packaging` instead, making this a noop.

Closing.

[2022-07-22 13:26] #6807 closed

[2022-07-22 13:36] noahtalerman commented on #6492
@mike-j-thomas it looks like this was fixed in your following PR: #6737 Thank you!

[2022-07-22 13:36] #6492 closed

[2022-07-22 13:37] noahtalerman opened #6820 "Blogpost: Fleet 4.18.0"
Fleet 4.18.0 is scheduled for release on 2022-07-28

### Goal

Prepare and publish the release blogpost for Fleet 4.18.0 so that anyone in the Fleet/osquery community can understand the latest improvements.

### Primary improvements

TODO

### Additional improvements

One sentence (bullet) for the issues included in the "In review," "Quality assurance," and "Ready for release" columns: https://git

[2022-07-22 13:39] noahtalerman commented on #6820
Hey @ksatter I assigned you this release blog post issue.

I moved the issue to the g-customer-engineering board. I'm not sure if this is the best board to add this issue to is.

[2022-07-22 13:43] noahtalerman commented on #6816
@zhumo is this iterative doc improvement something that Kelvin has the capacity to take on as part of this release? If yes, can you please assign this issue to Kelvin and move the issue to the release board? Thanks :)

[2022-07-22 13:50] noahtalerman commented on #6610
This issue was discussed during ⚗️🗣 Product office hours on 2022-07-14.

A decision was made to prioritize the following goal: As a user, I want to know when agent options are changes so that I can perform an investigation if I see unexpected changes in agent options.

A proposed solution for this, is to add an “Edited agent options” event to GET /activities. File a separate issue and link it to t

[2022-07-22 13:57] roperzh opened #6822 "function arguments too large for new goroutine when starting the Fleet server"
**Fleet version**: 546543c36193ba98b7bc3adb684ae746a92fd2b0 (current `main`)

**Operating system**:  macOS 12.5

<hr/>

### 🧑‍💻  Expected behavior

I can start the Fleet server without problems

### 💥  Actual behavior

[code]

### More info

A similar issue has happened to me in the past, but in the vulnerabilites go routine (https://github.com/fleetdm/fleet/pull/6650)

As suggested by @michalnicp

[2022-07-22 14:01] noahtalerman commented on #5785
Thanks @mike-j-thomas! Looks good. I remove this issue from the g-digital-experience board.

[2022-07-22 14:26] RachelElysia commented on #6021
Just a heads up, these are two different banners. The first one shows up if some of the policies have not responded. The second one shows up if some of the policies fail. My PR will 1) hide the first banner for device users and 2) Update the copy for Device Users to include Click "Refetch" to confirm.

[2022-07-22 14:34] noahtalerman commented on #4166
Heads up, @tgauda we're prioritizing using `computer_name` as the display name by default in the Fleet UI: #4931

Ultimately we decided to prioritize the ability to override a hostname. I'm closing this issue to prevent confusion that we're adding this ability.

[2022-07-22 14:34] #4166 closed

[2022-07-22 15:27] zhumo commented on #6816
@noahtalerman I'm not sure about as part of this release... But definitely something that should be done. Is there a time requirement here? I've put it in the release board into Kelvin's to do. It'll prob sit somewhere near the middle-bottom and rise. If there's some reason it needs to be done ASAP, please let me know.

[2022-07-22 15:49] RachelElysia opened #6827 "UI Alignment adjustments"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

- Text/images on buttons/dropdowns are properly aligned

### 💥  Actual behavior

- Manage host page: Edit columns button slightly higher than rest of header because it's not vert

[2022-07-22 15:56] RachelElysia commented on #6827
@xpkoala tagged ya so you can reproduce and prioritize-- TIA!

[2022-07-22 16:01] RachelElysia commented on #6761
I think this is a global issue with all checkboxes by default.
Another example:

![Image](https://user-images.githubusercontent.com/71795832/180478585-4bbd94dd-47c3-423f-95be-d3c8f98e719a.png)

[2022-07-22 16:29] lukeheath commented on #6761
@xpkoala Just a reminder to add the `#interface` label to any interface bugs. Otherwise the ticket won't appear on our interface board and might get missed. Thanks!

[2022-07-22 16:45] noahtalerman commented on #6430
@lukeheath I passed this issue to you for UI review and specification.

I'm linking to a Loom video in which I demo the UI changes here: https://www.loom.com/share/8080d2743f0c45a5a583e9ea0ae7737e

If you have any questions or feedback while I'm out (July 22 - 31), please don't hesitate to reach out to Mike McNeil. I've asked Mike to be ready to receive these questions.

[2022-07-22 16:50] xpkoala commented on #6761
Ahh, sorry about that, thank you for the reminder!

[2022-07-22 16:52] noahtalerman commented on #4931
@lukeheath I assigned you this issue for UI review and specification.

Here's a Loom video in which I demo the feature: https://www.loom.com/share/4ad17ce84e6a43d5845b14937280606f

[2022-07-22 16:57] noahtalerman commented on #6799
@lukeheath I assigned you this issue for UI review and specs.

[2022-07-22 17:57] Desmi-Dizney commented on #6581
Ask @eashaw about:
- Relative links
- Code and syntax highlighting
    - Inline code
    - Code block
    - Code block with syntax highlighting
- Tables
- Notes & Tips (we use blockquote ">" syntax for this)
    - An actual blockquote (ask @eashaw if we support this)
    - Horizontal rule (---)
- YouTube videos
- Podcast (Check our podcast posts. It's just a code snippet in an iframe, copy/pasted

[2022-07-22 18:32] eashaw commented on #6581
Relative links:
Link from a handbook page to another handbook page: `[Product DRI](./product.md#product-dris)`
Link to a docs page from a handbook page: `[Contributing FAQ](../docs/Contributing/FAQ.md)`
link from a docs page to a handbook page: [Community](../../handbook/community.md)` « Eric TODO:  make sure this is correct

[code]

[code]

codeblock with syntax highlighting:
[code]

Tables:
| ta

[2022-07-22 18:37] xpkoala commented on #5879
Tested using the example provided, 4.16.0 >> 4.17.0 and got the OK!

[2022-07-22 18:55] lukeheath commented on #6348
@lucasmrod @zwass Just checking in on the status of this ticket. It's blocking an interface ticket, so I wanted to determine if we'll be including it in this release.

cc @zhumo

[2022-07-22 18:58] lukeheath commented on #6349
I'm self-assigning this ticket until it is unblocked.

[2022-07-22 19:11] zwass commented on #6348
Can #6349 go ahead without this? IIRC we decided the same error should be rendered regardless of whether the token is invalid or expired, so wouldn't it just be rendered anytime the API returns a non-2XX response?

[2022-07-22 19:28] xpkoala commented on #6261
@zhumo @sharvilshah Would this fix be testable on Fleet `main`?

I have been running `SELECT * FROM pci_devices` queries numerous times on my m1 Mac and have not run into the bad_alloc, but I wanted to double check that the fix has been introduced rather than me randomly not triggering the issue.

[2022-07-22 19:52] xpkoala opened #6831 "Packs frequency column is larger on Safari browser"
**Fleet version**: `main`

**Operating system**:

**Web browser**: Safari Version 15.5 (17613.2.7.1.8)

<hr/>

### 🧑‍💻  Expected behavior
The frequency column shown when editing a pack would be consistent across all browsers.

### 💥  Actual behavior
Safari displays a much larger column which causes the frequency ellipses to present incorrectly.

### More info
Discovered when testing #4094

<img wi

[2022-07-22 20:05] zhumo commented on #6745
The first iteration will monitor when/if an installer fails at the moment of generation. Installed generation occurs at the pre-provisioned step. Therefore, if pre-provisioning succeeds, we will always have an installer for an instance. If it does fail, we will catch it at the pre-provisioning step. Therefore, we don't need to specifically make this.

[2022-07-22 20:05] #6745 closed

[2022-07-22 20:50] RachelElysia opened #6833 "Close side panel button: Weird active/focus state for Safari"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_
Safari

<hr/>

### 🧑‍💻  Expected behavior

Clicking the x to close the side panel doesn't have a weird active/focus state

### 💥  Actual behavior

This outline shows up for a split second as you click:
<img width="

[2022-07-22 20:55] zhumo opened #6834 "Docs for Automated/Just-in-time (JIT) SAML user provisioning"
### Parent Epic
- https://github.com/fleetdm/fleet/issues/2008

[2022-07-22 20:56] RachelElysia commented on #6833
@xpkoala tagged ya so you can reproduce and prioritize-- TIA!

[2022-07-22 20:58] Desmi-Dizney commented on #6581
### Constructing a table [](url)

You'll want to begin by creating a header. Separate each column with a pipe "|" and separate rows by beginning a new line in markdown. Your header should look something like this:

[code]

The next line in Markdown contains no text. In between the pipes, add three or more dashes "---" to form a break. On either the left, right, or both sides you can add a colon ":

[2022-07-22 21:02] lukeheath opened #6835 "Help cursor appears on hover for all disabled buttons"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

Help cursor only appears on hover for disabled buttons when a tooltip is available.

### 💥  Actual behavior

Help cursor appears on hover for all disabled but

[2022-07-22 21:20] zhumo opened #6838 "Feature flags: Controlled rollout of Fleet features by team"
### Goal
We want to allow users to do canary rollouts for their features so that they can test it out for their install base before committing to a full rollout. This allows our users to validate scalability, usability, and impact of various features.

### Requirements
Implement the controlled rollout as described in:
- https://github.com/fleetdm/fleet/pull/6221
- except exclude platform- and team

[2022-07-22 21:20] Desmi-Dizney opened #6839 "Edit Juan's article"
- [x] Des: This needs copy editing.
- [x] Des: Due by Thursday 06/28

[2022-07-22 21:31] Desmi-Dizney commented on #6839
https://docs.google.com/document/d/13RizkBunyjozzL_JmrHIDusAi4MhFORL2NNacsbEJLA/edit

[2022-07-22 21:31] zhumo opened #6840 "Fix or document gotchas for osquery tables - Linux"
## Problem
Not all osquery tables are working. This is causing customer complaints and embarrassing failures during demos.

## Goal
Identify which tables are failing. Then, make decisions about what to do with each table. Options:
- Fix it
- Fix it partially, document gotchas
- Do not fix, but document gotchas
- Do not show in Fleet
- Remove from osquery if totally unfixable

## Child Issues

Rela

[2022-07-22 22:13] lukeheath commented on #6037
@RachelElysia We received a separate report that the same issue is happening on the "Name" column for the hosts table, as seen here:

<img width="1020" alt="image" src="https://user-images.githubusercontent.com/2495927/180575300-097607e0-2e4b-452c-bd58-8548f30759eb.png">

I am editing this bug ticket to include the "Name" column.

[2022-07-22 22:19] lukeheath commented on #6037
Also on pack names:

<img width="1374" alt="image" src="https://user-images.githubusercontent.com/2495927/180575854-9dc0dde1-d490-432c-8209-bc09c6083f3d.png">

[2022-07-22 22:41] lukeheath commented on #6349
@RachelElysia This ticket is unblocked and ready for development on Monday. Just let me know if you have any questions. Thanks!

[2022-07-22 22:42] lukeheath commented on #6348
Ah, right, that does unblock the frontend. I've updated the frontend ticket to reflect the refined specs.

[2022-07-22 22:50] lukeheath commented on #6831
@ghernandez345 Would you place take a look at this once your sandbox work is done? This can be merged after the freeze since it's a bug.

[2022-07-23 02:42] sharvilshah commented on #6261
Hey @xpkoala yep, this has been fixed by osquery PR @zhumo referred above

[2022-07-25 10:04] mike-j-thomas commented on #6675
Sorry @zhumo, this slipped my net and got lost in the DX backlog. Unless you guys can already direct me somewhere, I will have to do a little research into menubar icon creation for each OS. Let's discuss it when we meet for our call and get this scheduled.

[2022-07-25 15:28] RachelElysia opened #6844 "Sentence case user facing error"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Sentence casing

### 💥  Actual behavior

<img width="1361" alt="Screen Shot 2022-07-25 at 11 20 04 AM" src="https://user-images.githubusercontent.com/71795832/180816517-b4fd084b-

[2022-07-25 16:07] mikermcneil commented on #6716
@BradMacd hi!

[2022-07-25 16:18] #6505 closed

[2022-07-25 16:39] xpkoala commented on #6833
@RachelElysia I'm not able to reproduce this one. Could you by chance make a quick video of the behavior? Are you just closing and opening the schema on the edit query page?

[2022-07-25 18:08] zhumo opened #6849 "Converge output between M1 and Intel for tables w/ discrepancy"
### Problem

Some tables work on intel macs but do not work on M1 macs. The following tables return content for Intel macs but no content for M1 macs:
- acpi_tables
- SMBIOS tables (community: https://github.com/osquery/osquery/issues/7588)
  - memory_array_mapped_addresses
  - memory_arrays
  - memory_devices
  - memory_device_mapped_addresses
  - memory_error_info
  - oem_strings
  - smbios_tabl

[2022-07-25 18:35] RachelElysia commented on #6844
@xpkoala Just a heads up I filed this and put it on the release board

[2022-07-25 18:48] mikermcneil commented on #5042
This has evolved into https://github.com/fleetdm/confidential/issues/1530

[2022-07-25 19:05] zhumo opened #6851 "Manage flags for osquery remotely via Orbit"
### Problem
Currently, whenever admins want to change the flags on osquery, they have to deploy the new flag to the end user via MDM or a Munki-equivalent. This results in a lot of effort and time and risk.

We want to make this deployment step unnecessary. Instead, the admin should be able to specify new osquery flags to Fleet, and the Orbit instances installed should re-start osquery with the ap

[2022-07-25 19:25] zhumo opened #6852 "test all tables on MacOS 13"
### Problem

Before MacOS 13 comes out in September, we want to test osquery tables on it to see whether any need adjustment.

### Goal
- For each table, run `SELECT * FROM #{table_name}`
- Except where tables have constraints (include WHERE clause for the constraint)
- Except where tables have user-specific requirements. Then include `WHERE user=#{current_uid}`, where `current_uid` is the `uid` v

[2022-07-25 19:26] zhumo commented on #6852
@mikermcneil proposed manual testing flow above.

[2022-07-25 20:16] zhumo opened #6854 "Error statement should state which column failed `required=true` constraint in both Fleet UI and fleetctl"
### Problem
When a column is `required=True` but I do not specify it in my query, the error that I receive in both Fleet UI and fleetctl is non-specific: "constraint failed".

Example query:
[code]

This requires the user to
1. go hunting for what that means and
2. identify which column was required

This should be easier, the error should be more explicit.

### Requirements
In both fleetctl and F

[2022-07-25 21:27] zhumo opened #6859 "Document that in `curl_certificate` table, hostname should not include protocol"
### Problem
The `curl_certificate` table has a `hostname` column, which, to a newcomer, you would think you would query with: `https://dogfood.fleetdm.com`. However, the `https://` piece of that is the protocol, not the hostname. So this table would not include the right information.

### Requirements
- Document this in the `curl_certificate` table

### Parent Epic
- https://github.com/fleetdm/fle

[2022-07-25 21:29] zhumo opened #6861 "`osquery_extension` table, `type` column does not document possibility of `core` value being returned"
### Problem
The `osquery_extension` table, `type` column does not document possibility of `core` value being returned. It only says "extension" or "module."

### Requirements
- Update the schema docs to reflect the truth

### PR
https://github.com/osquery/osquery/pull/7716

### Parent Epic
- #6766

[2022-07-25 22:35] zhumo commented on #6675
@mike-j-thomas TESTING

[2022-07-26 00:26] #6790 closed

[2022-07-26 02:14] mikermcneil commented on #4981
@mike-j-thomas Since this is a bug to fix, can you prioritize it ASAP?

Context: https://github.com/fleetdm/confidential/issues/1556

[2022-07-26 02:15] mikermcneil commented on #6791
@mike-j-thomas Since this is a bug to fix, can you prioritize it ASAP?

Context: https://github.com/fleetdm/confidential/issues/1556

[2022-07-26 02:39] mikermcneil opened #6866 "💬 #g-digital-experience: [public] One button is shorter than the rest: To reprodu..."
## Goal
[code]

## How?
- [x] TODO

[2022-07-26 02:53] mike-j-thomas opened #6867 "Website bug - overflowing video and slide deck at 320px"
Overflowing video and slide deck at 320px on https://fleetdm.com/securing/ebpf-the-future-of-osquery-on-linux

![Image](https://user-images.githubusercontent.com/78363703/180912873-f3271fcf-ecbd-4e41-ae16-5569a2cd3558.PNG)

## Relates to

https://fleetdm.slack.com/archives/C01GQUZ91TN/p1658803464655829?thread_ts=1658803075.372639&cid=C01GQUZ91TN

[2022-07-26 03:08] mikermcneil commented on #6852
@zhumo Looks smart to me!  This should satisfy the most basic "does it continue to work the same under basic usage" question, which is a sensible thing to prioritize and a [good tradeoff between quality and moving quickly](https://fleetdm.com/handbook/company#balance).

[2022-07-26 07:06] mike-j-thomas commented on #6257
@noahtalerman,

![Image](https://user-images.githubusercontent.com/78363703/180944816-d0e59844-52a1-49e2-9f16-a8098dea40e3.png)

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=8199%3A281255

[2022-07-26 07:14] mikermcneil opened #6870 "Refactor 4 layouts into a single layout to minimize duplicate stuff we have to maintain (grab 30m with mikermcneil to explain why first and make sure it's actually a good idea)"

[2022-07-26 07:22] mike-j-thomas commented on #6634
@mikermcneil, how about this?
![Image](https://user-images.githubusercontent.com/78363703/180947544-97e4b0ca-7a52-4d9b-b209-b0fda36474f7.png)

[2022-07-26 07:37] mike-j-thomas commented on #6675
@zhumo, @lucasmrod here's the Fleet icon made to standard Windows icon sizes:
[fleet-windows-icons.zip](https://github.com/fleetdm/fleet/files/9187595/fleet-windows-icons.zip)

Looking into Linux versions now.

[2022-07-26 07:57] mikermcneil commented on #6634
LGTM, let her rip!  FYI we just moved this deployment diagram southward down the page to make room for a video @tgauda is putting up top, but the diagram is still there- you'l just have to scroll down to see it and replace it.

[2022-07-26 07:57] mikermcneil commented on #6634
@mike-j-thomas LGTM, let her rip! FYI we just moved this deployment diagram southward down the page to make room for a video @tgauda is putting up top, but the diagram is still there- you'l just have to scroll down to see it and replace it.

[2022-07-26 07:59] mikermcneil commented on #6634
@mike-j-thomas That said, I'm not sure "optional" is loud enough here to help all that much- so you might consider finding a way to put "Optional" on the line?  Up to you.  If you can find a way to make it clearer still that it's optional, that's great.

The goal is to help people understand they don't _have_ to configure a log destination.  This makes Fleet appear easier to set up, because it ref

[2022-07-26 08:00] mikermcneil commented on #6634
@mike-j-thomas Feel free to go ahead and edit the docs using the standard review process when you have your best crack at it, given that goal, no need to wait for me to review.  Thanks!

[2022-07-26 08:13] mike-j-thomas commented on #6634
Updated.

PR here: https://github.com/fleetdm/fleet/pull/6871

[2022-07-26 08:51] mike-j-thomas commented on #6675
@zhumo, as you predicted, I couldn't find any specific information about icons for Linux. I think the color or background versions from the Windows icons linked in the comment above will be ok to use - assuming that the sizes I gave are compatible.

[2022-07-26 11:51] RachelElysia opened #6874 "Fleet UI: Action dropdown "jumpy" when selected"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
Main branch

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_
Chrome

<hr/>

### 🧑‍💻  Expected behavior

The arrow and text not to move when selected

### 💥  Actual behavior

Slightly moves when selected

### More info

<img width="227" alt="Screen Shot 2022-07-26

[2022-07-26 12:07] RachelElysia commented on #6781
Note: This loading state issue is more noticeable with the new Fleet Banner for sandbox expiration and premium expiration merged from #6830

Be sure to QA sandbox mode

Video:

https://user-images.githubusercontent.com/71795832/181002098-21779921-aae3-437d-978c-cb52ae4c95c4.mov

[2022-07-26 12:20] RachelElysia commented on #6591
Fixed between last time I downloaded Fleet desktop and my most recent download.

[2022-07-26 12:20] #6591 closed

[2022-07-26 13:41] RachelElysia opened #6876 "Fleet UI: Consistent alignment of UI items (button/copy message)"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

- The Done button is justified to the right of the modal like all other CTA buttons
- The copy message is inline with the secret like all other "Copied!" messages
- The last sent

[2022-07-26 13:43] RachelElysia commented on #6876
Related to #5405

[2022-07-26 15:33] zhumo commented on #6645
Hey @zwass, will this be picked up sometime this week? I think this blocks Fleet Sandbox?

[2022-07-26 15:48] zhumo commented on #6852
ok thanks! I think our next step is to discuss staffing to do this. I will raise this at our 1/1

[2022-07-26 16:01] xpkoala commented on #6781
I am able to reproduce the issues. I do think having consistency in the headers is something we should work towards. As mentioned in [slack](https://fleetdm.slack.com/archives/C02MP2CTQUE/p1658837308853369) this might be more involved than what can be done for 4.18. I would suggest we prioritize the work for 4.19.

[2022-07-26 16:20] Desmi-Dizney commented on #6581
New PR:
- https://github.com/fleetdm/fleet/pull/6864

[2022-07-26 16:22] zhumo commented on #6675
@lucasmrod Would you try these icons?

[2022-07-26 16:48] zhumo opened #6882 "Setup, test and write a guide for setting up `_events` table"
### Goal

When we tested the windows tables: https://docs.google.com/spreadsheets/d/1i1tY4bMpBHCQQQ75SgfBtP9lu52pdGdS_39PiLDc-j4/edit?usp=sharing

We found that the following tables need events to be set up:
- yara_events
- ntfs_journal_events
- powershell_events
- windows_events

as per: https://osquery.readthedocs.io/en/latest/development/pubsub-framework/ and https://osquery.readthedocs.io/en/l

[2022-07-26 17:01] zhumo opened #6883 "Mark when a column is only available in certain OSs"
### Problem

As part of our windows [osquery tables testing](https://docs.google.com/spreadsheets/d/1i1tY4bMpBHCQQQ75SgfBtP9lu52pdGdS_39PiLDc-j4/edit?usp=sharing), we discovered that the tables
- groups
- users

Have columns that only apply to Windows, Linux, or Mac. Those columns return blank. But the osquery schema does not document this fact. The tables already document this via: `EXTENDED_SCHE

[2022-07-26 17:02] lukeheath commented on #6624
Removing the `#interface` tag so we can consolidate these tickets on the "Guides" project tab.

[2022-07-26 17:03] lukeheath commented on #6143
Removed `#interface` label and added `:improve documentation` to consolidate this ticket onto the "Guides" project tab.

[2022-07-26 17:13] zwass commented on #6645
I believe @zwinnerman-fleetdm will be implementing this as part of the provisioning process. Zach, can you please make sure to tackle this after the packaging work? Or if you are blocked at some point?

[2022-07-26 17:14] zwinnerman-fleetdm commented on #6645
Yep, its on the todo list.

[2022-07-26 17:16] zhumo opened #6885 "`firefox_addons` native column is missing values"
### Problem
From our windows testing: https://docs.google.com/spreadsheets/d/1i1tY4bMpBHCQQQ75SgfBtP9lu52pdGdS_39PiLDc-j4/edit?usp=sharing

The `native` column is advertised in the schema to have the value of 1 If the addon includes binary components else 0. The output we get from running `.all firefox_addons` doesn't have either or those values or null. It's just empty.

One hypothesis that we ha

[2022-07-26 17:36] mna commented on #3947
I ran another load test with the async saving of scheduled query stats. I used the following configuration:

[code]

The behaviour is roughly the same - can navigate to hosts/queries/packs without issue during the run, hosts go offline and new ones start enrolling (that's because the `osquery-perf` instances unexpectedly stop so ECS starts new one to keep it at 12 running). That's the peculiarity

[2022-07-26 17:53] zhumo commented on #6851
@zwass @sharvilshah @lucasmrod

Notes:
1. what if someone puts in an incorrect flag and generates a crash loop? Storing last known good configs?
2. Apply the new settings via the Agent Options setting page
3. How do we want the workflow to be when something breaks? Mo to work with Sharvil on understanding the full scope of errors to help design the workflow.

[2022-07-26 17:59] zhumo commented on #6034
1. Make the TUF server know about the extensions
2. YAML file still goes into fleet that specifies which extensions to apply

Proposed YAML
<img width="780" alt="image" src="https://user-images.githubusercontent.com/5359586/181078177-50481010-dfd5-4f57-afa5-8aa67f230582.png">

[2022-07-26 18:03] mna commented on #6774
@noahtalerman What is the (3) you refer to in the comment above? There are only 2 items in the list.

To make sure I come up with the expected fix for this ticket - the only thing we want to fix for this at the moment is to prevent existing secrets from being removed when they are missing (either completely missing, or not set at the proper place, which for the endpoint's purpose is the same as mi

[2022-07-26 18:54] lukeheath opened #6889 "Styling on setup and login pages is broken"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When setting up a new Fleet instance, I expect the setup screens to have a purple gradient background:

<img width="1388" alt="image" src="https://user-images

[2022-07-26 18:55] RachelElysia commented on #6876
@xpkoala assigned you to reproduce and prioritize

I already built out the fixes because they were bothering me

[2022-07-26 18:56] xpkoala commented on #6876
Taking a look now!

[2022-07-26 18:57] RachelElysia commented on #5631
@xpkoala tagged you to reproduce and prioritize

[2022-07-26 18:59] RachelElysia commented on #5631
Closed with #6185

[2022-07-26 18:59] #5631 closed

[2022-07-26 19:01] xpkoala commented on #6876
@RachelElysia I was able to reproduce. If this is a quick fix I think it would be nice to include before the freeze. The overlapping `copy` experience has been something of a bother to me for some time now.

[2022-07-26 19:12] lukeheath commented on #6371
@tgauda This will be included in the next release. Note that the implementation was a little different than spec'd, but I've updated to reflect that. The problem was our dropdown options for osquery version had gotten out of date. We've updated with all current versions of osquery, and I'm working with @xpkoala to ensure we check that this is up-to-date for every release moving forward.

[2022-07-26 19:24] lukeheath commented on #6384
@mna This is for the next release, but I brought into the release board in case you have availability. This is a lower priority than the https://github.com/fleetdm/fleet/issues/6064 epic Zach pointed you towards.

[2022-07-26 19:31] zhumo opened #6892 "A non-responding policy is reported as a fail in Fleet Desktop"
**Fleet version**: _4.14.0_

**Operating system**: _macOS 12.5_

**Web browser**: _Chrome 103.0.5060.134 _

<hr/>

### 🧑‍💻  Expected behavior
Fleet Desktop should not mark a non-responsive policy as a fail in the dropdown menu.

### 💥  Actual behavior
![image](https://user-images.githubusercontent.com/5359586/181095479-e46173b6-6ca6-45e6-b49b-50940722f977.png)
![image](https://user-images.githubus

[2022-07-26 19:31] RachelElysia opened #6893 "Fleet UI: Open new tab when changing gravatar photo"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Not to be taken away from Fleet UI and open Gravatar link in a new tab

### 💥  Actual behavior

Taken away from Fleet UI

<img width="285" alt="Screen Shot 2022-07-26 at 3 29 56

[2022-07-26 19:31] RachelElysia commented on #6893
@xpkoala reproduce and prioritize

[2022-07-26 19:37] RachelElysia commented on #6876
@xpkoala Got a quick fix in already!

[2022-07-26 20:17] lukeheath opened #6894 "FLEET_DEMO=1 is not setting `config.sandbox_enabled`"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When running the latest version of `main` locally, setting the environment variable `FLEET_DEMO=1` should set the `config.sandbox_enabled` property to true.

[2022-07-26 20:19] lukeheath commented on #6894
Heads up @zhumo @xpkoala.

This is a hotfix bug because we cannot properly QA the frontend until this value is set. We've confirmed it is not being set locally, so we did a workaround for local dev. Confirming in sandbox is a TODO, but either way we should get this fixed ASAP.

[2022-07-26 20:24] lukeheath commented on #6894
I have confirmed this is also happening in sandbox environments.

[2022-07-26 20:27] lukeheath commented on #6889
Looks like this is also happening on the login page on sandbox:

![Image](https://user-images.githubusercontent.com/2495927/181105666-6a6bdaf1-cd5f-49d1-af43-e9f61e49cf7b.png)

Would be worth checking all of the public facing pages (forgot password, any others)

[2022-07-26 20:37] xpkoala commented on #6894
Thanks for the heads up @lukeheath!

[2022-07-26 21:05] lukeheath opened #6898 "Enable CORS for the sandbox `GET /expiry` endpoint"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When I visit a sandbox URL, the request to `GET /expiry` should receive a 200 response.

### 💥  Actual behavior

The request fails with a CORS error. The pref

[2022-07-26 21:06] lukeheath commented on #6898
@xpkoala Heads up.

[2022-07-26 21:44] mikermcneil commented on #6716
### 6:48 AM Contributor from F1000 organization

ok yeah, I understand a bit better, but then what differentiates a scheduled  query vs adhoc? sounds like theyre both scheduled. As an aside, larger fleets running this would probably need larger cache clusters.

### 2:02 PM mikermcneil:fleet:

Basically every query would be scheduled by default, in terms of collecting data automatically (only the m

[2022-07-26 21:56] zhumo commented on #1845
Hello, given our current capacity, we will de-prioritize this in favor of other work. We will reconsider later in the quarter once we've met our other commitments or if this becomes a customer commitment.

[2022-07-26 21:58] zhumo commented on #5579
de-prioritizing this in favor of our commitments for this quarter. We will revisit further into the quarter.

[2022-07-26 22:16] lukeheath commented on #6898
@ghernandez345 After refreshing on CORS, this ended up being a fully backend fix so no longer assigned to you. I found this good primer if you'd like to refresh:

--

The server is responsible for reporting the allowed origins. The web browser is responsible for enforcing that requests are only sent from allowed domains.

[CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) is applied to

[2022-07-26 22:34] lukeheath commented on #6803
It's expected that the initial page load takes longer than subsequent loads because that's when the browser has to download our payload (all our javascript and css). That being said, I ran a google lighthouse audit on our page load and there's definitely some things we can do to improve that load time by probably a couple of seconds. The biggest thing is it doesn't look like we're gzipping our fro

[2022-07-26 22:38] lukeheath commented on #6893
@RachelElysia Confirmed. Low priority but should be a quick fix.

[2022-07-26 23:32] mike-j-thomas opened #6904 "Letterhead for Charlie"
## Goal

Create a Fleet letterhead Google Doc template.

[2022-07-27 06:28] mike-j-thomas commented on #6867
@eashaw can we do something like this with the build script for video content? https://www.ankursheel.com/blog/full-width-you-tube-video-embed

[2022-07-27 13:07] RachelElysia opened #6910 "Fleet UI: Hit enter closes API token modal"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Like all other modals without a CTA button, hitting enter closes modal

### 💥  Actual behavior

Nothing happens when hitting enter

<img width="1236" alt="Screen Shot 2022-07-27

[2022-07-27 13:15] RachelElysia opened #6912 "Fleet UI: Labels side panel won't close"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Click the x should close it

### 💥  Actual behavior

Doesn't close

### More info

QA Query side panel and that one properly closes, but this one doesn't

<img width="1341" alt="

[2022-07-27 13:24] RachelElysia commented on #6910
@xpkoala tagged to reproduce and prioritize

[2022-07-27 13:24] RachelElysia commented on #6912
@xpkoala tagged to reproduce and prioritize

[2022-07-27 14:05] RachelElysia opened #6913 "Fleet UI: Create Operating System policy pre-selects operating system"
### Goal

TODO

- From the host details page, I click on an operating system and am prompted to create a policy around that operating system.
- I would want the operating system to be pre-selected when creating the policy, instead all operating systems are pre-selected.

<img width="1342" alt="Screen Shot 2022-07-27 at 10 03 20 AM" src="https://user-images.githubusercontent.com/71795832/181267414-

[2022-07-27 14:10] GuillaumeRoss opened #6914 "Write blog post about spam targeting Google Groups"
### Goal

We recently had a great example of a technique used to bypass antispam by using Google Groups, and this has been noticed by others in the community, such as by our friend @clong over at Material Security: https://material.security/blog/identify-google-groups-vulnerable-to-spam-and-spoofing.

- [x] Write blog post, including mermaid diagram of the specific scenario
- [ ] Have @Desmi-Dizne

[2022-07-27 14:11] RachelElysia opened #6915 "Fleet UI: Consistent on-hover effects"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Hovering over a "Cancel" button will have the same on-hover styling

### 💥  Actual behavior

Save query and save policy modal both have underline styling for on-hover of the canc

[2022-07-27 14:19] zhumo opened #6916 "`platform_info` table on windows has columns which are empty"
### Problem
While testing windows tables, we found that the `platform_info` table was returning blank values for some columns such as:
- address
- size
- volume_size

### Requirements
- Determine why this is happening
  - One theory we had while discussing was that these columns are not relevant to Windows. If so, we should update the spec file to show that it is an extended schema

### Related
-

[2022-07-27 14:39] RachelElysia opened #6918 "Fleet UI: Back to packs button"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Create a new query has a "Back to queries" button, I would expect Create a new pack would have a "Back to packs" button

### 💥  Actual behavior

<img width="1347" alt="Screen Sho

[2022-07-27 14:45] ghernandez345 commented on #6831
@xpkoala i've tried to reproduce but cant locally. This is what I see running safari 15.6

![Image](https://user-images.githubusercontent.com/1153709/181276896-33912545-ab80-4ac8-9430-54a0bcbd1b06.png)

Do yo know know if we have a cross browser testing tool (e.g. browser stack) I can use to look at an older version of safari. Doesn't seem like apple allows you to downgrade safari versions locally

[2022-07-27 15:07] RachelElysia opened #6919 "Documentation: Update team policy automation permissions on doc"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

https://fleetdm.com/docs/using-fleet/permissions
- Include team permission to create, edit, delete team policy automations

### 💥  Actual behavior

### More info

[2022-07-27 15:20] chris-mcgillicuddy commented on #6779
Hi, @alexmitchelliii. Thanks for taking the time to go over the updated sales deck. Can you please provide any additional comments on the slides we didn't cover? We'd like to have this ready for you by the end of the week if not sooner.

[2022-07-27 15:25] xpkoala commented on #6910
Reproduced. This is fairly minor and I not breaking anything major. If it can be fixed during the code freeze lets add it, but it can also wait until 4.19.

[2022-07-27 15:30] xpkoala commented on #6912
@RachelElysia Thanks! Reproduced. Would like to see this one make it in to 4.18 if possible.

[2022-07-27 15:31] mna commented on #6348
After discussion on Slack with Zach, the goal is to have the token server-generated instead of orbit (as was discussed here in https://github.com/fleetdm/fleet/issues/6348#issuecomment-1169905926, and unlike the current ticket description). I'll update the description once the various parts are a bit clearer for me (I'm not super familiar with orbit). I did see where the `orbit_info` table was imp

[2022-07-27 15:48] xpkoala commented on #6876
No more overlapping!!

[2022-07-27 16:01] xpkoala commented on #6827
@RachelElysia Every fix looks fantastic except for one. The add user to team drop down is still showing the elevated text on Firefox and Safari but the fix does look good on Chrome..

Safari
![Screen Shot 2022-07-27 at 11 00 20 AM](https://user-images.githubusercontent.com/11012743/181294429-6f75b4e2-3be7-484b-bace-2a72791972c4.png)

Firefox
<img width="1186" alt="Screen Shot 2022-07-27 at 10 59 4

[2022-07-27 16:06] xpkoala commented on #6827
A similar fix appears to not have made it to the Schedule editor on Firefox either.. I'm confused as to some of the randomness here. I just double checked everything and I believe this is the only one I missed on the first pass.

<img width="1148" alt="Screen Shot 2022-07-27 at 11 05 26 AM" src="https://user-images.githubusercontent.com/11012743/181295597-f16ec512-389c-48b4-b9c8-bde1302bbce5.png">

[2022-07-27 16:20] zhumo commented on #5732
FWIW I tried Lucas's suggestion and just ran it again. Worked the second time.

[2022-07-27 16:33] zhumo opened #6923 "Add Google Analytics tag to Fleet Sandbox"
### Goal

We want to include a google analytics tag in Fleet Sandbox so that we can track users' behavior in Sandbox

### How?
Potential proposed code. The primary requirement is that it only applies if the instance is a fleet sandbox instance.
[code]

### Parent Epic
- https://github.com/fleetdm/fleet/issues/4970

[2022-07-27 17:47] zhumo opened #6924 "Windows Fleet Desktop "My Device" icon is not red"
**Fleet version**: 4.17.0
**Operating system**: _Windows 10 Pro 20H2_

**Web browser**: _Chrome 103.0.5060.134_

<hr/>

### 🧑‍💻  Expected behavior
When there are failing policies, the icon next to "My Device" should be a red dot.

### 💥  Actual behavior
![image](https://user-images.githubusercontent.com/5359586/181316656-10f7277b-8fa2-488f-92c9-618bd25c0d52.png)

On Windows, it was actually a grey

[2022-07-27 17:49] xpkoala commented on #6831
@ghernandez345 Interesting. I just attempted to reproduce (on a fresher version of `main`) and it is no longer truncating improperly. Safari hasn't had any sort of update in the interim either. I'll keep my eye on this moving forward but I'll close this out for now.

Apologies for the runaround.

[2022-07-27 17:49] #6831 closed

[2022-07-27 18:01] RachelElysia commented on #6827
@xpkoala nice catches! On it.

[2022-07-27 22:26] lukeheath opened #6928 "Retrieve and aggregate available MDM solutions for MacOS hosts"
## Goal

For MacOS hosts, add ability to know which host is enrolled in an undesired Mobile Device Management (MDM) solution.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=7652%3A275866

## Related
- #6433 (epic)
- #6732 (backend)

## Tasks

- This card is available to all user roles.
- This card is only visible if the "macOS"

[2022-07-28 00:24] lukeheath opened #6931 "Add new Munki issues card for MacOS hosts"
## Goal

As a Munki administrator, add ability to see the most common Munki issues so that I can prioritize resolving the issues that impact the most hosts.

I also want to be able to see which macOS hosts have these issues so that I know which hosts need issues resolved.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=7647%3A273

[2022-07-28 08:03] mike-j-thomas opened #6934 "Handbook: Update article editing process"
## Goal

Update our instructions for editing articles. Current instructions are referring to our old process for Medium

## How

Update https://fleetdm.com/handbook/digital-experience#how-to-edit-articles-release-posts-and-press-releases

[2022-07-28 08:16] polak785 opened #6935 "Cannot run the osqueryi shell on Windows (works only after a reboot following installation)"
**Orbit version**:
[code]

**Operating system**:
[code]

<hr/>

### 🧑‍💻  Expected behavior
I want to have prompt from osqueryi shell

### 💥  Actual behavior
An unexpected exit happened.

[code]
[code]

### More info
Fresh install of Windows 10, I didn't test on Windows 11 yet
Terminal is run as Administrator
Orbit/osquery runs successfully as application

[2022-07-28 08:21] polak785 commented on #6935
Ok, It works after a reboot.

[code]

I let you decide if there is something to fix or not ;)

[2022-07-28 12:26] lucasmrod commented on #6924
I can reproduce on my Windows 10 VM too.

We are currently using text: https://github.com/fleetdm/fleet/blob/52e22014a9396ba5477d6e2cec2521c5fca1d948/orbit/cmd/desktop/desktop.go#L136-L140

I tried to use the Fleet icon instead and the same happens. So it may be an issue with the underlying library we are using (https://github.com/getlantern/systray).
![Screen Shot 2022-07-28 at 09 25 20](https://

[2022-07-28 12:44] lucasmrod commented on #6348
Hi @mna!

Sorry for all the back and forth in this issue.

I originally envisioned the server to do the rotation, but then after some thought and considering the fact that we must do this in a non-breaking fashion (because Fleet Desktop has been released as stable), I decided to use a simpler approach of rotating the token from Orbit (which matches the current issue description).

In a nutshell, h

[2022-07-28 14:13] RachelElysia commented on #6831
I fixed truncating in a different PR. https://github.com/fleetdm/fleet/pull/6829

[2022-07-28 14:32] lucasmrod commented on #6935
@polak785 Thanks for reporting this issue!

I was able to reproduce. It's sporadic.

Theory: The running orbit Windows Service might be using the same pipe as the `orbit osqueryi` invocation.
It seems we might need to set a different pipe on Windows (that uses `r.dataPath`, similar to what we already do for Unix):
https://github.com/fleetdm/fleet/blob/52e22014a9396ba5477d6e2cec2521c5fca1d948/orbit

[2022-07-28 14:41] RachelElysia opened #6938 "Fleet UI: Import query from Standard Query Library"
### Goal

TODO

When clicking _Add a policy_, a modal opens up with a list of common policies and an option to create a policy:
<img width="1577" alt="Screen Shot 2022-07-28 at 10 36 19 AM" src="https://user-images.githubusercontent.com/71795832/181556474-a617cfe8-757a-44bb-a1bd-27e6e5a25b70.png">

When clicking Create new query, user is automatically directed to create a query instead of a list o

[2022-07-28 14:42] ghernandez345 commented on #6923
@zhumo im not a google analytics expert but I think we will need a new google analytics property or account (im not sure which one) that is different from the current one we have. As that one is used for the website data and I assume the data we want to track is specific to sandbox instance usage. If I use the same GA property we have now the data for the website and the sandbox instances will be

[2022-07-28 14:59] timmy-k commented on #6923
@ghernandez345 I think we want the data to live together, and we should be able to view this activity separately if we take the right actions. I'm assuming you guys have a metrics plan for sandbox usage on your end, and GA typically serves to inform marketing decisions.

cc: @zhumo

[2022-07-28 15:00] ghernandez345 commented on #6923
sounds good will use the same GA property

[2022-07-28 15:13] mikermcneil opened #6940 "Normalize capitalization: Empty state for dropdowns on host status webhook settings page"
## Goal

On host status webhook settings page, the empty state for the "Percentage of hosts" and "Number of days" dropdowns is "Select One", but it should be "Select one".  Page:`/settings/organization/host-status-webhook` Tested on dogfood 2022-07-28 @ 10:12am CT, `Fleet 0.0.0-SNAPSHOT-f78fa3c`.

![image](https://user-images.githubusercontent.com/618009/181573778-f11e71a2-d893-41dc-b0e0-e8cb794de

[2022-07-28 15:51] RachelElysia commented on #6781
@lukeheath This might be a good ticket for next release cycle

[2022-07-28 15:51] RachelElysia commented on #6666
@lukeheath This might be a good ticket for next release cycle

[2022-07-28 15:53] zhumo opened #6944 "Document that atom has been sunsetted"
The atom table has been sunsetted. Should document this. https://github.blog/2022-06-08-sunsetting-atom/

### Related
- Parent: https://github.com/fleetdm/fleet/issues/6766
- https://github.com/osquery/osquery/pull/7731

[2022-07-28 15:56] zhumo opened #6945 "Investigate relevance of `appcompat_shims`"
### Problem
In our osquery table testing, we found that `.all appcompat_shims` returned nothing. In our discussion, we weren't sure whether this is still relevant. There was some thought that this is only windows vista.

### Requirements
- Investigate what appcompat_shims is doing
- Determine whether it is still relevant and document

### Parent Epic
- https://github.com/fleetdm/fleet/issues/6766

[2022-07-28 16:41] zhumo commented on #3850
https://github.com/fleetdm/fleet/pull/6723

[2022-07-28 16:42] zhumo commented on #3922
De-prioritizing #5579 from this. It's limited by our library.

[2022-07-28 16:48] zhumo opened #6946 "Fleet Desktop should use minimal API endpoint for data"
### Background
There will be an API that provides minimal data for Fleet Desktop in order to reduce the surface area. Fleet Desktop should use that API endpoint to populate itself.

The API is specified in: https://github.com/fleetdm/fleet/issues/6680

### Parent Epics
- https://github.com/fleetdm/fleet/issues/6680

[2022-07-28 17:06] zhumo opened #6947 "Blog post - How to do carves"
### background

As part of testing osquery tables, we ran into an opportunity to create some how-to content around carves.

- What are carves?
- When would I use it?
- How can I run one?
  - `select * from carves where carve = 1 and path = "C:\Users\KOO\.ssh\id_rsa" FIRST, then SELECT * FROM carves.`
  - This query initiates a carve using osquery
- How do I react to a carve?

Some related content:

[2022-07-28 17:10] zhumo opened #6948 "Document `yara` vs `yara_events` difference"
### Background
It is not clear what is the difference between `yara` table and `yara_events` table in the documentation. We should make it clearer.

The yara table returns the current yara status of the host, according to some rule. For example:
`SELECT * FROM yara WHERE path LIKE "C:\tmp\%" AND sigrule = "rule always_true { condition: true }";`

Meanwhile, yara_events returns the history of event

[2022-07-28 17:16] zhumo opened #6949 "Blog post - Yara basics"
### Background
As part of our windows testing, it was not clear what is Yara, why/when to use it, and how. We could do a blog post about it.

Relevant blog post featuring YARA but only for log4j: https://fleetdm.com/securing/detect-log4j-with-osquery-and-fleet

osquery has Yara docs, but it jumps right in assuming familiarity. We could give the basics and then link users to this. https://osquery.r