[2022-07-28 17:21] lukeheath commented on #6781
@RachelElysia Agreed, thanks for calling this out!

@noahtalerman Would you please let us know the intended behavior here? Thanks!

[2022-07-28 17:24] lukeheath commented on #6666
@RachelElysia Agreed, thanks for spec'ing this out. I would add we should also look at created a loading button component, whereas right now we're assembling the loading spinner inside the button each time.

[2022-07-28 17:35] zhumo opened #6950 "MacOS `safari_extensions` table returned nothing"
### Problem
I installed DDG and 1Password extensions on my Mac's Safari.

<img width="222" alt="image" src="https://user-images.githubusercontent.com/5359586/181602027-4ff2e38e-6cea-40b4-94b4-72751648d948.png">

I then ran the following query:
`SELECT * FROM users JOIN safari_extensions USING(uid)`
It returned blank.

When I ran that same query again for both `chrome_extensions` and `firefox_addon

[2022-07-28 17:39] ksatter commented on #6820
@zhumo, What are the Primary Improvements this cycle? The things that pop out to me are the CTA in Fleet Desktop for failing policies and either overall improvements to the Fleet UI or Improvements to Host Details.

[2022-07-28 17:40] ksatter commented on #6820
@mike-j-thomas I should have this ready to go shortly after getting confirmation on the Primary Improvements.

[2022-07-28 17:52] zhumo commented on #6820
@ksatter I am thinking:

1. https://github.com/fleetdm/fleet/issues/5879
2. https://github.com/fleetdm/fleet/issues/6259
3. Fleet Desktop CTA
4. Fleet Sandbox?

[2022-07-28 18:04] DrewBakerfdm commented on #6526
I've created the account and added it to 1password.
-Added profile picture, description, and Title to the podcast

We can start the process of importing the podcast

[2022-07-28 19:04] GuillaumeRoss commented on #6950
Wondering if this is due to changes to Safari extensions in the last couple macOS releases...

[2022-07-28 19:06] GuillaumeRoss commented on #6945
Have you tried loading a custom appcompat shim and querying again? Atomic red has a test that does it - https://github.com/redcanaryco/atomic-red-team/blob/master/atomics/T1546.011/T1546.011.md - it is a technique that is used by malware/attackers, and monitoring this is quite valuable for threat hunting on Windows.

[2022-07-28 19:08] GuillaumeRoss opened #6954 "Remove known outdated installation documentation"
**Problem**

Installation documentation for Ubuntu and Docker is incomplete and/or outdated, and does not allow someone to get a working Fleet instance.

Until we redo these instructions, in a Slack conversation with @noahtalerman - it was decided we should start by removing it so at least people don't try to use them.

This issue is for removing those two sections.

[2022-07-28 19:15] RachelElysia opened #6956 "Dashboard UI: Welcome to Fleet bug"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Bug 1: I have 21 hosts, 0 on team Apples. When I'm on team Apples, I don't see welcome to fleet message since I have 21 hosts elsewhere.
Bug 2: Observer can see both cards
### 💥

[2022-07-28 19:44] lucasmrod commented on #6675
![Screen Shot 2022-07-28 at 14 58 53](https://user-images.githubusercontent.com/2073526/181623970-756d0a6c-0b19-45d9-ac3c-51cec01d982f.png)
![Screen Shot 2022-07-28 at 16 30 03](https://user-images.githubusercontent.com/2073526/181623978-01c466a5-ae8b-4a0a-bc2d-59820e962d9b.png)
![Screen Shot 2022-07-28 at 16 30 22](https://user-images.githubusercontent.com/2073526/181623980-eaac0bdf-6ffd-4db8-838

[2022-07-28 20:48] chris-mcgillicuddy opened #6959 "Write Sandbox article"
### Goal

Write an article that promotes the features of Sandbox.

### How?

- [x] Chris: Meet with Mo Zhu to review Sandbox features
- [x] Chris: Write a draft of the article
- [x] Chris: Request review to ensure accuracy
- [x] Chris: Make any necessary revisions
- [ ] Create a PR for the article

[2022-07-28 21:59] lukeheath opened #6961 "Provide Munki issues for MacOS hosts"
- ## Goal

As a Munki administrator, add ability to see the most common Munki issues so that I can prioritize resolving the issues that impact the most hosts.

I also want to be able to see which macOS hosts have these issues so that I know which hosts need issues resolved.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=7647%3A2

[2022-07-28 22:01] GuillaumeRoss commented on #6914
I posted the draft. @eashaw the mermaid looks a bit bland - is there a way I could perhaps make a custom CSS for it with Fleet colors?

@mike-j-thomas Would you have time to make an image for this say before August 5?

[2022-07-28 22:10] lukeheath commented on #6666
@noahtalerman What do you think of updating loading states to make wider use the loading spinner instead of hiding all the content?

[2022-07-28 22:16] xpkoala commented on #6747
Tested on Windows Server 2019 and Ubuntu 20.04. Both systems, running headless, encountered no issues installing Fleet Desktop.

[2022-07-28 22:21] lukeheath opened #6962 "Attempting to load a host details page for a host that has just been added displays 500 error page"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When I add a new host to Fleet, it appears on the manage hosts page within a few seconds. If I click on that host to view its details page and we have not fin

[2022-07-28 22:22] lukeheath commented on #6962
@noahtalerman How do you think we should handle this? We can just display a loading spinner with no message until the host is ready (5-10 seconds) or we can include a message with the spinner.

[2022-07-28 23:28] xpkoala opened #6965 "Multiple requests to /hosts/1 on dashboard page cause long loading times"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
Only one GET request to  /fleet/hosts/1 would be made to determine which card should be presented to the user.

### 💥  Actual behavior
Four requests are made which increases the time before a card is populated.

### More info

<img width="860" alt="S

[2022-07-28 23:36] xpkoala opened #6966 "Dashboard shows incorrect card information to Team maintainer and admin"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
When a Team has at least one host the dashboard should show the user policy information under the "Welcome to Fleet" card.

### 💥  Actual behavior
The "Welcome to Fleet" card shows the user the "Add hosts" card information.

### More info

This issue

[2022-07-29 00:56] lukeheath commented on #6944
@zhumo Are you cool with using the `:improve documentation` label doc improvements? That'll put it on the "Guides" tab. Noah and I experimented with adding the `#interface` label so they'd show up on the interface board, but now that we have a "Guides" tab we don't need to use the interface tab (and it'll free up space for dev items). Thanks!

[2022-07-29 00:58] lukeheath commented on #6803
@ghernandez345 Handing this off to you.

Would you please run a Google Lighthouse audit on dogfood.fleetdm.com to look for opportunities to improve? One big opportunity I see is that we're not gzipping the frontend payload. Just doing that would improve payload by a second or so. Would also be worthwhile to see if they have any other suggestions. Thanks!

[2022-07-29 01:00] lukeheath commented on #5778
@ghernandez345 Assigning this back to you and bringing to the release board in case you have bandwidth tomorrow before I'm online.

[2022-07-29 01:19] chris-mcgillicuddy commented on #6779
@mike-j-thomas, slide copy is good to go. I think this deck can be improved upon as we gather statistics and write case studies, but it currently conveys the positioning simply and clearly.

[2022-07-29 04:08] mike-j-thomas commented on #6914
@GuillaumeRoss, roger that. I assigned this ticket to myself. I'll hand it back when I have the image for you.

[2022-07-29 04:24] mike-j-thomas commented on #6675
Thanks, @lucasmrod. As a long-time macOS user, the screenshots above give me much better context. I think we can safely discard the version with the circular background.

This looks good:
![Screen Shot 2022-07-28 at 16 42 32](https://user-images.githubusercontent.com/2073526/181623985-25a82097-108a-47f2-bde9-d1b7d4968c5d.png)

This one looks a little too big in the space. Is this Linux? Do you hav

[2022-07-29 04:29] mike-j-thomas commented on #6820
Thanks, @ksatter, and @zhumo. Please can you assign this to me once you have it prepared?

I've looked at the GitHub issues above but am unsure what suitable imagery for those would include. I could do with more context, or reading your draft, Kathy.

[2022-07-29 05:53] mike-j-thomas commented on #6779
@alexmitchelliii, @chris-mcgillicuddy, I have added [Intro to Fleet, Q3 2022](https://docs.google.com/presentation/d/1ewFgImE9FQp9lgr95PcoMBNuJ1HK9lY2LIFAmM0qGM8/edit?usp=sharing) to Collartoral in Sales on Google Drive, and moved [Intro to Fleet, Q2 2022](https://docs.google.com/presentation/d/1sMCld6OPPG-LzJojmoSPxnOt17H-KYYfl5QFbBO29Fk/edit?usp=sharing) into _historical

Thanks, guys, I'm going

[2022-07-29 05:53] #6779 closed

[2022-07-29 05:57] mike-j-thomas commented on #4223
@eashaw, this is designed and ready to build. Let's schedule some time to spec out what's required for implementation. https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?node-id=4741%3A14519

[2022-07-29 05:58] #6634 closed

[2022-07-29 06:06] mike-j-thomas commented on #6904
@CharlotteChance, letterhead can be found here: https://docs.google.com/document/d/1NuOd_X9hCewqGslTxeeHfnqwz0wuHPsSAO4dxAGOdzQ/edit?usp=sharing

The header for the first page is set to include the company address. The following pages will only include the Fleet logo.

[2022-07-29 06:06] #6904 closed

[2022-07-29 12:53] ghernandez345 commented on #6803
@lukeheath I took quick look at this and gzipping the assets is a quick easy improvement and would need some help from infrastructure team to set that in our servers that are sending the assets. We also need to consider how to decrease our bundle size for css and js assets.

This is the timeline chart for an uncached js asset on dogfooding.
![Image](https://user-images.githubusercontent.com/115370

[2022-07-29 14:02] zhumo commented on #6034
- Only golang and C++ extensions?
- Can python be compiled?
- Arm vs. x86

- TBD what happens when watchdog kills the extension? How is this communicated to the user in the UI?
- TBD what other error conditions happen? extension fails, but osquery goes on.

[2022-07-29 14:02] zhumo commented on #6851
Failure handling
- Could do select * from osquery_flags
- But if you had failed, then you can't query osquery because it has not started up
- Store in persistent db the state of the osquery config

[2022-07-29 15:37] zhumo commented on #6945
@GuillaumeRoss Thanks! Is it all windows or old windows, do you know?

[2022-07-29 15:40] GuillaumeRoss commented on #6945
All of them since a long time ago, it's part of the feature set of Windows to have such good backwards compatibility.

Simple shim example: you want to run an old game. That game checks if your screen is set to 256 colors instead of checking if it's 256 OR MORE.

Game fails to run, gives you an error saying you need a 256 color display.

You can create a shim to "lie" to the app by telling it "yea

[2022-07-29 15:44] zhumo commented on #6945
Sounds useful and dangerous!

[2022-07-29 16:17] ghernandez345 commented on #5138
looking into this and this is a good opportunity to fix this issue also #6912. When this issue is done, the other should be fixed too.

[2022-07-29 16:21] ghernandez345 commented on #6912
going to be fixed with this work [#5138](https://github.com/fleetdm/fleet/issues/5138)

[2022-07-29 16:22] RachelElysia commented on #6965
@lukeheath @xpkoala I'm closing this because it's a non-issue. All failed request are retried 4 times by default.

[2022-07-29 16:37] RachelElysia opened #6970 "API Bugs: Team view (fleet/teams/1)"
### Goal

Update the `/teams/{id}` API routes so that the `user_counts` and `host_counts` are correct.

Update the API docs to remove the `host_ids` and `user_ids` properties that are not included in the response.

### More info

When retrieving https://localhost:8080/api/latest/fleet/teams/1, the following needs to be fixed...
Missing keys:
- `user_ids`
- `host_ids` (blocking #6966)
Incorrect cou

[2022-07-29 16:48] chris-mcgillicuddy opened #6971 "Update homepage content to own the problem"
### Goal

Follow Adam Frankl's suggestions to focus homepage content on selling the problem Fleet addresses.

### How

- [x] Identify and name the problem Fleet owns
- [x] Write new homepage copy to focus on the problem
- [x] Get input from Mike T. and Tim about copy
- [x] Make any necessary revisions
- [x] Collaborate with Mike T. on any design changes to the homepage
- [x] Present proposed homep

[2022-07-29 17:13] chris-mcgillicuddy opened #6973 "Write video script for homepage"
### Goal

Write a short video script that introduces Fleet to prospective users.

### How

- [ ] Identify the topics the script will cover with input from Tim and Drew
- [ ] Write a script that runs no longer than two minutes
- [ ] Get feedback from Tim and Drew
- [ ] Make any necessary revisions
- [ ] Do a table read with Zach
- [ ] Make any necessary revisions to make sure Zack sounds natural
-

[2022-07-29 17:21] RachelElysia commented on #6928
@lukeheath : Maybe update the host details page to include solutions

Current:
![Image](https://user-images.githubusercontent.com/71795832/181811489-cea979af-6275-49aa-a920-65653f1990a1.png)

[2022-07-29 17:22] RachelElysia commented on #6928
@lukeheath : Maybe update the host details page to include solutions

Current:
<img width="185" alt="Screen Shot 2022-07-29 at 1 21 13 PM" src="https://user-images.githubusercontent.com/71795832/181811632-07231ecc-606d-4bbe-b4fd-451a5791ab5c.png">

[2022-07-29 17:26] lukeheath commented on #6928
- TODO: Luke create new issue to backfill dashboard E2E tests.

[2022-07-29 17:32] RachelElysia commented on #6961
IC: Determine best data structure for this

[2022-07-29 17:35] RachelElysia commented on #6961
Gabe: Because there's no account for timezones, we can have times be an issue (being in the future, etc)
Sarah: Confirm if it's the server time (likely to standardize pretty easily) or the local time

[2022-07-29 17:45] lukeheath commented on #6931
TODO: Luke add spec to item to 1 to make table interactive.

[2022-07-29 17:52] RachelElysia commented on #6931
e2e test: dashboard.spec.ts

Rachel: This is on dashboard, manage host, and host details, might want a e2e flow for just macos hosts
Luke: Probably want a flow for windows in the future

[2022-07-29 18:02] zhumo opened #6975 "Populate `vendor` column in software inventory"
### Problem
Currently, our software inventory has a `vendor` column, which does not seem to be populated except with CentOS. It is known that, at least for Windows machines, we should be able to get that information using `programs.publisher`. We should populate that column, wherever we have the data.

### Requirements
- For windows, populate the `vendor` column with `programs.publisher`

[2022-07-29 18:06] zhumo commented on #6975
Hey @chiiph when you're back would you mind taking a look at this? We would like to have this as part of the next release.

In addition to anything you might find, I have the following questions:
1. Is it appropriate to put that information into the vendor column? My initial read is that for Windows, "vendor" and "publisher" mean the same thing, essentially.
2. What is populating the linux column

[2022-07-29 20:02] CharlotteChance commented on #6904
Looks great! Love it.

[2022-07-29 20:36] RachelElysia opened #6979 "Fleet UI: Consistent naming"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Remove scheduled queries opens Remove scheduled queries modal
OR
Delete scheduled queries opens Delete scheduled queries modal

### 💥  Actual behavior

Delete scheduled queries o

[2022-07-29 20:43] #6744 closed

[2022-07-29 21:22] ksatter opened #6981 "Know how many hosts and which hosts, on a team, are failing a global policy"
### Goal

As a Fleet user, I want to know how many hosts and which hosts, on a specific team, are failing a global policy.

### Tasks
- [ ] On the **Hosts** page, do not clear any filters when selecting a team.
- Currently, when "All teams" is selected, the filters like `policy` or `software` will clear when a team is selected.
- Instead, we always want any selected filters to stay applied after s

[2022-07-29 21:25] ksatter commented on #6981
@gillespi314 please add any additional context that you think would be useful here. Thanks!

[2022-07-30 13:13] Hanaffi commented on #4615
@lukeheath Sorry been busy with exams and other stuff.
Is it still needed? I see it in Legacy project.

[2022-07-31 23:09] #6605 closed

[2022-07-31 23:10] mike-j-thomas commented on #6581
@Desmi-Dizney, I moved this back to "Ready." There's a review comment to action in the PR https://github.com/fleetdm/fleet/pull/6864#pullrequestreview-1053545929

[2022-07-31 23:29] mike-j-thomas commented on #6308
https://github.com/fleetdm/fleet/pull/6482 closes this issue. Live glossary of terms here: https://fleetdm.com/handbook/digital-experience/commonly-used-terms

[2022-07-31 23:29] #6308 closed

[2022-07-31 23:43] mike-j-thomas commented on #6736
@eashaw, we had a case a couple of weeks ago where @GuillaumeRoss needed to add checklists to his article https://fleetdm.com/securing/tales-from-fleet-security-securing-bank-accounts-from-business-email-compromise.

I'm marking this as a bug to fix the styling and assigning it to you. Thanks.

[2022-08-01 00:40] mike-j-thomas commented on #6736
@eashaw, this is a bit of an edge case IMO, but worth fixing up. I can't think of many reasons we would need to add Markdown checkboxes in articles or handbook and docs pages, but I guess that @GuillaumeRoss thought that readers could check off items as they read the article(?).

In the meantime, because the only quick fix I know is to use the unsupported `:has()` selector, I have updated the arti

[2022-08-01 02:30] mike-j-thomas commented on #6914
@GuillaumeRoss, I created a mermaid diagram for a post last week and updated the background color so that it, at least, renders on a white background. I'll look into styling them with Fleet colors in a future PR.

@eashaw, we've hit a snag using blockquotes for tip/alert boxes. This article requires us to render a true blockquote. Please can you help me get that styled by EOW for this post?

![Ima

[2022-08-01 06:06] ololdach opened #6989 "Bug: Helm Chart fleet.tls.secretName not usable"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
4.17.0
**Operating system**: _(e.g. macOS 11.2.3)_
k3s v1.21.11+k3s1
**Web browser**: _(e.g. Chrome 88.0.4324)_
n/a
<hr/>

### 🧑‍💻  Expected behavior
I expected to be able to set secretName: in the tls section of fleet in values.yaml to point to an existing secret like this:
fleet:
  tls:
    secretNam

[2022-08-01 06:41] ololdach opened #6990 "Helm Chart: /tmp is read only"
**Fleet version**: 4.17.0 Chart 4.17.0
**Operating system**: k3s v1.21.11+k3s1
**Web browser**: n/a
<hr/>

### 🧑‍💻  Expected behavior
I expected the default installation to work out of the box.

### 💥  Actual behavior
I found that the vulnerabilities won't fetch the CPE mappings and that getting the CVEs doesnt't work either. Neither for windows, linux nor macOS.

### More info
Investigation revea

[2022-08-01 11:00] ghernandez345 commented on #5778
@noahtalerman Had a look into this one. There is a product questions here that need addressing before dev.

If a user runs the same query in **fleetctl** the response comes back in the same order as we see in **fleet UI**.

[code]

The columns don't have any specified order as it is in an object and defaults to being alphabetical so that is how they are displayed in the table. Do we want to have d

[2022-08-01 11:42] ghernandez345 commented on #5138
I've looked over what it would take to implement this and I've bumped up the estimate. In addition to implementing this functionality, this is also a great opportunity to clean up the manage host page to make it more maintainable and allow us to make changes to it easier in the future. This page is one of the messiest and most unmaintainable we have in the fleet UI atm and a clean up here will def

[2022-08-01 11:49] lucasmrod commented on #6747
Hi Reed!

Not just installing, we should check that osquery/orbit suffer no crashes/restarts (i.e. pids are stable) and perform some smoke testing of functionality (like refetching, live querying, etc.).

[2022-08-01 12:48] mna commented on #6348
@lucasmrod Gotcha, so the current issue description correctly describes the target approach. Yeah the compatibility points make sense to me, thanks for chiming in and clarifying! Please ignore my request for commenting on the draft PR (https://github.com/fleetdm/fleet/pull/6927) as it was done with server-side rotation in mind, I'll switch this to orbit-based rotation.

[2022-08-01 13:00] roperzh commented on #5463
with the changes in https://github.com/fleetdm/fleet/pull/6432 (made by @lucasmrod) you can run:

[code]

if we add this to the docs, would that  be enough to consider this issue as resolved? cc: @xpkoala

[2022-08-01 13:04] lucasmrod commented on #6348
Cool.

One more thing.

Am not sure about how this part. Here's what I think we need to do on the ingestion function:

Say we have `host_id=A`, `token=X`
- If the token for `A` does not change, then we don't want to change `updated_at` field.
- If the token for `A` changes from `X` to `Y` (rotation) then we want to update the `updated_at` field.

Let me know if that makes sense
Am all ears here.

[2022-08-01 14:37] noahtalerman commented on #5138
Sweet! @ghernandez345 I just added #6912 to the "Ready" column in the 🚀 Release board so that we can track its progress.

Also, I just added the edit and delete label buttons (pencil and trash icons) to Figma wireframes for this issues:

![Screen Shot 2022-08-01 at 10 37 04 AM](https://user-images.githubusercontent.com/47070608/182174371-242f28d9-76f5-4084-ba59-e7f48a469b47.png)

FYI I updated the

[2022-08-01 14:40] noahtalerman commented on #5138
@ghernandez345 correct. This issue's goal is to improve the Hosts page UX down to 768px (minimum width).

We will come back to mobile width UX in the future.

[2022-08-01 14:42] GuillaumeRoss commented on #6914
@mike-j-thomas do I need to do anything in the article for the Mermaid portion, or for now it's OK and I should just tell Drew to wait until the blockquotes are fixed before posting? Thanks!

[2022-08-01 15:06] zhumo commented on #6624
https://github.com/fleetdm/fleet/pull/6875

[2022-08-01 15:28] zhumo opened #6993 "Document my device URL rotation"
### Goal

In the docs, we should document the fact that the My Device url rotates for security purposes and any other ifs and buts.

### Parent Epic
- https://github.com/fleetdm/fleet/issues/6064

[2022-08-01 15:49] lucasmrod opened #6994 "Publish Fleet Go module"
### Goal

Some users would like to use use Go packages of Fleet's source code.
Thus we should start publishing Fleet as a Go module.

### How?

See https://go.dev/doc/modules/publishing
Apart from the usual `fleet-vX.Y.Z` `git tag`, we will need to also `git tag` with semantic versioning (`vX.Y.Z`) as part of the release process.

It could well be a separate action (`.github/workflow/gomodule.yml`

[2022-08-01 17:25] chiiph commented on #3947
This sounds good to me!

[2022-08-01 17:46] mna commented on #6970
AFAICT those two fields are never filled in any condition on the backend, even though the fields do exist in the Team struct and the doc mentions them. `user_count` should be easy to fill given that the endpoint loads the list of users. The `hosts` field is never filled though (at least in that endpoint), nor is the `host_count`. The doc mentions that the endpoint returns `host_ids` and `user_ids`

[2022-08-01 17:49] Hanaffi commented on #6956
@RachelElysia @lukeheath Can you assign me some task?
I think Emoji task is not needed anymore.

[2022-08-01 17:58] noahtalerman commented on #5911
The following requirements were added to this issue:
- If a team is selected in the teams dropdown, the "Welcome to Fleet" and "Learn how to use Fleet" cards are never displayed.
- If a user has the observer role, the "Welcome to Fleet" and "Learn how to use Fleet" cards are never displayed.

These requirements were addressed in the following PR: https://github.com/fleetdm/fleet/pull/6972

[2022-08-01 18:06] lukeheath commented on #5778
@ghernandez345 My two cents: We want the same functionality across all interfaces (API, fleetctl, UI). Fleetctl uses the API response, so it sounds like we just need to fix this on the API side.

@noahtalerman If that sounds right to you, please assign to me and I'll re-spec this as a backend ticket. Thanks!

[2022-08-01 18:08] lukeheath commented on #4507
@noahtalerman Should this be assigned to Kelvin?

[2022-08-01 18:13] lukeheath commented on #6944
Ah, I see this issue will require some code-level changes so makes sense to leave it on the interface board.

[2022-08-01 18:23] lukeheath commented on #6912
Closing this out as I've updated #5138 to include this bug fix.

[2022-08-01 18:23] #6912 closed

[2022-08-01 18:24] lukeheath commented on #6944
@noahtalerman Do you think this is something else Kelvin can tackle, or should we address on the interface team?

[2022-08-01 18:28] lukeheath commented on #6803
@ghernandez345 Thanks for looking into this. Agreed, a performance improvement epic makes sense as it will span across several dev groups. I'm taking assignment of this bug back so that I can drive putting that together.

[2022-08-01 18:34] noahtalerman commented on #6966
@RachelElysia @xpkoala heads up, a decision was made to update the expected behavior so that the "Welcome to Fleet" and "Learn how to use Fleet" cards aren't displayed if a team is selected in the teams dropdown. More context on this decision is here: https://github.com/fleetdm/fleet/issues/5911#issuecomment-1201529243

This means that a Team maintainer and Team admin will never see these cards. B

[2022-08-01 18:34] #6966 closed

[2022-08-01 18:42] lukeheath commented on #6475
@gillespi314 Now that we're in a new release just wanted to check in on the status of this and get a ballpark ETA. Hoping to get the frontend portion of this into the current release. Thanks!

[2022-08-01 18:53] roperzh commented on #5795
I'm having a hard time trying to reproduce this. I tried two different things:

1. Using osquery-perf as the main issue suggests:

[code]

and in a separate terminal:

[code]

2. I went all in with:

[code]

and, in a separate terminal:

[code]

I wonder if maybe the cached data was corrupted somehow? Probably irrelevant, but I noticed that I can send invalid JSON with trailing characters in the `

[2022-08-01 18:59] noahtalerman commented on #6781
I don't think we have a defined intended behavior.

@mike-j-thomas can you help us decide what the intended behavior for headers in the loading states should be? What do you think is the best experience?

A couple potential options discussed above:
- Header title (or teams dropdown) and description is displayed during loading. Button in headers are hidden.
- Header title and description is hidden

[2022-08-01 19:02] noahtalerman commented on #6781
@lukeheath heads up, I moved this issue to the "Prioritized" column in the Roadmap board for priority drafting.

This is because the UI issue is missing crucial information that prevents the engineering team from continuing the development task.

More info on priority drafting is in the handbook here: https://fleetdm.com/handbook/product#priority-drafting

[2022-08-01 19:18] zhumo commented on #3850
@zwass @noahtalerman @timmy-k Is this done? Since we are announcing Fleet Desktop v1, seems like this is a bit old news?

[2022-08-01 19:24] zhumo opened #7000 "Remove claim for supporting FreeBSD in query builder table documentation"
### Problem

Osquery is no longer supporting FreeBSD (https://github.com/osquery/osquery/issues/7299#issuecomment-912758453). We should also stop advertising it.

### Requirements
- Remove "freeBSD" from the osquery tables documentation in the Fleet UI
![Screen Shot 2022-03-07 at 3 59 45 PM](https://user-images.githubusercontent.com/47070608/157116965-16152910-25d0-4e69-83ae-3e42e98926ff.png)

###

[2022-08-01 19:27] zhumo opened #7001 "Remove FreeBSD from platform selector dropdown in fleetdm.com/queries"
### Problem

Osquery is no longer supporting FreeBSD (https://github.com/osquery/osquery/issues/7299#issuecomment-912758453). We should also stop advertising it.

### Requirements
- Remove "FreeBSD" from the "platforms" dropdown on the fleetdm.com/queries page
![Screen Shot 2022-03-07 at 4 00 05 PM](https://user-images.githubusercontent.com/47070608/157117017-67653978-fb76-4ac5-89c0-77e18c6eadaf.p

[2022-08-01 19:29] zhumo opened #7002 "Remove FreeBSD support from osquery schema"
### Problem

Osquery is no longer supporting FreeBSD (https://github.com/osquery/osquery/issues/7299#issuecomment-912758453). We should also stop advertising it.

### Requirements
- Remove "FreeBSD" from the the osquery.io/schema page - This can be done by making a PR in the [osquery GitHub repo](https://github.com/osquery/osquery).
![Screen Shot 2022-03-15 at 2 41 56 PM](https://user-images.githu

[2022-08-01 19:38] RachelElysia opened #7003 "Number of MDM hosts is greater than number of hosts"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
main

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

I wouldn't have more hosts enrolled to MDM than I have hosts.

### 💥  Actual behavior

Pardon my interim state as I'm building out the MDM card component, but you can see it

[2022-08-01 20:07] noahtalerman commented on #4507
@zhumo I removed the "Interface" and "Agent" labels so that they don't add tickets to the "Interface" and "Agents" tab.

[2022-08-01 20:44] lukeheath commented on #6918
@Hanaffi Would you like to take this one on? Just let me know if you have any questions.

[2022-08-01 21:13] lukeheath commented on #6732
@RachelElysia Thanks! Fixed. It was also wrong in the API docs (where I copied it from), so I've put in a [PR to fix that](https://github.com/fleetdm/fleet/pull/7005/files) as, well.

[2022-08-01 22:16] lukeheath commented on #5778
Moving this issue back to the roadmap to re-spec as a backend change.

[2022-08-01 22:17] lukeheath commented on #4615
@Hanaffi Yes, this is still needed. Would be happy to review a PR addressing this.

[2022-08-01 22:45] michalnicp commented on #6227
Tested in loadtesting environment with
Using [vegeta](https://github.com/tsenart/vegeta) and a loadtesting environment with 20K hosts

[code]

[code]

Looking at AWS console metrics for the fleet service, the cpu usage reaches 100% and the memory usage reaches 17%. The logs show a lot of errors containing "context canceled" which suggests that requests are timing out, probably due db queries takin

[2022-08-01 22:57] xpkoala commented on #4050
Closing as there hasn't been an update on this issue. Please feel free to make a new bug ticket if the problem persists.

[2022-08-01 22:57] #4050 closed

[2022-08-01 22:59] xpkoala commented on #3852
This looks to have been completed at some point since the ticket was filed. Closing as such.

[2022-08-01 22:59] #3852 closed

[2022-08-01 23:10] zhumo opened #7007 "Overlay over small screen widths"
### Problem

When a Fleet user visits their instance, they will see a broken mobile experience:

![image](https://user-images.githubusercontent.com/5359586/182259859-a34a6f44-cfdb-4699-862b-2c1aec523888.png)
(the live queries and other views are even more broken!)

this wasn't a huge deal before we had Fleet Sandbox. But with Fleet Sandbox, about 20% of visitors to our website are on mobile.

![im

[2022-08-01 23:10] zhumo commented on #7007
cc: @noahtalerman FYI

[2022-08-01 23:11] zhumo commented on #7007
@mike-j-thomas would you mind filling in the "X" in the first requirement above?

[2022-08-01 23:26] xpkoala commented on #6979
I agree we should be using consistent language here. +1 on the suggestion to have the wordage be "Remove".

[2022-08-02 00:48] eashaw opened #7008 "Update Markdown blockquote styles on fleetdm.com"
Add styles for blockquotes on fleetdm.com

Currently, all blockquotes in Markdown content are being rendered as:
![Image](https://user-images.githubusercontent.com/7445991/182267668-82def4a0-e1ae-4a8b-829d-8a6384fe4780.png)

We need to add a way to add normal blockquotes to our Markdown content.

How?
- [ ] Update the custom blockquote renderer to support multiple types of blockquotes.
- [ ] Updat

[2022-08-02 00:50] eashaw commented on #7008
from @mike-j-thomas:

Is there a way to include a class in Markdown, so that authors can specify whether it's the default blockquote or an extended version? So it would look like this?

[2022-08-02 01:24] mike-j-thomas commented on #6866
Fixed with https://github.com/fleetdm/fleet/pull/6988

[2022-08-02 01:24] #6866 closed

[2022-08-02 01:39] mike-j-thomas commented on #4706
@ezioruan, thanks for bringing this to our attention. The PR was merged today https://github.com/fleetdm/fleet/pull/6583

[2022-08-02 01:39] #4706 closed

[2022-08-02 01:47] ezioruan commented on #4706
@mike-j-thomas  awesome.

[2022-08-02 01:59] mike-j-thomas commented on #7007
I'm not sure. We have designs in Figma that support a minimum of 768px, but I don't know if that has been fully released. I'm not seeing it reflected in Chrome inspector.

<img width="656" alt="image" src="https://user-images.githubusercontent.com/78363703/182275534-56984b09-cd31-40ea-ac14-1c144120c785.png">

[2022-08-02 02:06] mike-j-thomas commented on #7007
@zhumo, scratch my comment above. Maybe it's the way it's set up because Chrome inspector is giving me all kinds of wacky results when checking break points.

[2022-08-02 02:11] mike-j-thomas commented on #7007
768px seems like the safest minimum. The tables start to break as early as 800px (see image below), and the navigation becomes unusable at 700px.

I don't know what was previously agreed for minimum support. @noahtalerman can you help out here?

<img width="790" alt="image" src="https://user-images.githubusercontent.com/78363703/182276697-161950d9-1b18-4be2-8c74-c6a10a7dd5db.png">

[2022-08-02 03:27] #5472 closed

[2022-08-02 09:30] mike-j-thomas commented on #7007
@zhumo, @lukeheath, overlay design here:
https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=8419%3A285545

[2022-08-02 13:41] lucasmrod commented on #6441
To develop/test this (assuming you are on a macOS host and running Fleet in https://localhost:8080) you can use the following script:
[code]

[2022-08-02 14:09] mna commented on #6384
I'll update the heroku DB (fleetdb.com Sails app, checkbox no. 6 in the ticket) once the PR is approved, before merging.

[2022-08-02 14:12] GuillaumeRoss commented on #6736
I honestly didn't "think" about it much, it was a checklist that looked better as a checklist and I simply assumed that it worked. Empty checkboxes would've worked even if they were not clickable.

[2022-08-02 15:02] chiiph commented on #6975
Interesting, have we seen any other RPM distros other than CentOS? It might be about what's available based on the package manager.

1. I would say, yeah. I do wonder why osquery doesn't use that as vendor, though.
2. Might be a package manager thing.
3. That's a great question! And I don't think there's an answer to that, given that it's a piece of information that we are missing in other context

[2022-08-02 15:03] chiiph commented on #6975
For cases like deb packages, we are hardcoding the vendor as empty:

[code]

[2022-08-02 15:23] gillespi314 commented on #6475
@lukeheath I think we'll be able to make this release. Hoping to get the backend portion landed this week. As far as frontend blockers, I think the API specs are not going to change and should be pretty straightforward to mock if folks are ready to get started on the frontend in parallel (and of course I'm available to answer any questions that come up there).

[2022-08-02 15:28] timmy-k commented on #6526
I let Brett know about this, so we're ready for the transfer and waiting for his action

[2022-08-02 15:30] timmy-k commented on #6526
Actually, now that we're pausing with FLM we're going to receive their account, so we may not need this

[2022-08-02 15:41] juan-fdz-hawa commented on #6975
The problem here is that different package managers have different ways of 'representing' software details - similar to what @zhumo pointed out for Windows, for Debian based systems we don't have a `vendor` but a `maintainer` (which probably means the same thing, see https://osquery.io/schema/5.4.0/#deb_packages).

@chiiph For MacOS we could do it based on what @michalnicp is currently [working on

[2022-08-02 16:20] zwinnerman-fleetdm commented on #6898
Completed, right now its just allowing everything to everything but it does work with a curl like:

curl -v -XOPTIONS -H "Access-Control-Request-Method: GET" -H "Access-Control-Request-Headers: content-type" -H 'Origin: https://123.sandbox.fleetdm.com/' 'https://sandbox.fleetdm.com/expires'

[2022-08-02 16:20] #6898 closed

[2022-08-02 16:27] noahtalerman commented on #7007
768px is the current minimum screen width.

@mike-j-thomas thanks for jumping on this quickly. I removed your assignment from this issue.

This issue is now in the 🚀 Release board and ready to implement.

[2022-08-02 16:32] noahtalerman opened #7016 "Fleet Sandbox organization name should be "Fleet Sandbox""
**Fleet version**: Latest code on `main`

<hr/>

### 🧑‍💻  Expected behavior

As a Fleet Sandbox user, I expect to see "Fleet Sandbox" in the top left corner of the Fleet UI.

### 💥  Actual behavior

Instead I see the instance id:
![image](https://user-images.githubusercontent.com/5359586/182259859-a34a6f44-cfdb-4699-862b-2c1aec523888.png)

### Parent Epic
- https://github.com/fleetdm/fleet/issues/

[2022-08-02 16:39] noahtalerman opened #7017 "At 768px width, issues with Home > macOS page"
**Fleet version**: Latest code on `main`

<hr/>

### 🧑‍💻  Expected behavior

I expect the Operating system card to take up the full width of the screen. I expect the Munki versions card to take up the full width of the screen and be displayed below the Operating system card.

### 💥  Actual behavior

![Screen Shot 2022-08-02 at 12 37 33 PM](https://user-images.githubusercontent.com/47070608/1824275

[2022-08-02 16:51] zhumo commented on #6975
@chiiph @juan-fdz-hawa Great discussion. If it's helpful, I would favor doing what we know works now.

The immediate goal is to get windows `programs.publisher` recorded as `vendor`. If we're agreed that that makes sense, we should move forward with Windows.

For either mac or linux, if we have a solution that in your judgment is "pretty good but not perfect" (say 80/20), let's include it and fix

[2022-08-02 17:14] zwinnerman-fleetdm commented on #6592
#7020

[2022-08-02 18:14] mna commented on #6732
@lukeheath Do we have the generic server URL for all mdm solutions? I.e. in the aggregated data, we are expected to return a server URL along with the counts and the name:

[code]

Do you have such URL for each MDM, I'd store it in the new MDM table along with the name. Presumably it's something like `jamfcloud.com` and `kandji.io`. Looks like that simpleMDM url is not correct either (404), maybe

[2022-08-02 19:45] #6624 closed

[2022-08-02 19:55] roperzh commented on #3563
After a quick look: the uninstaller effectively removes some of the contents, specifically it removes the files/folders listed as part of the installer in `orbit/pkg/packaging/windows_templates.go`. The files that remain after uninstalling are:

[code]

There are many solutions:

1. We could stop writing those files in `Program Files` and use `%LOCALAPPDATA% instead (at least for the logs?)
2. We

[2022-08-02 21:04] chiiph commented on #6975
@zhumo is this only intended for display purposes? Or does it have any other functionality that we'll want with it?

Regardless, starting by adding windows sounds reasonable to me.

[2022-08-02 21:17] RachelElysia commented on #3191
@lukeheath I built this out going through my old issues that are lost in the abyss

[2022-08-02 22:23] michalnicp opened #7028 "Loadtesting elasticstack is not working"
After creating a loadtesting environment using `infrastructure/loadtesting/terraform`, the url `https://<workspace>.loadtest.fleetdm.com:5601/app/apm` fails to load. `https://loadtest.fleetdm.com:5601/app/apm` also doesn't seem to be working.

[2022-08-02 23:21] chris-mcgillicuddy opened #7030 "Write Premium CTA for docs"
### Goal

Write CTA copy to promote Fleet Premium.

### How

- [x] Write CTA copy options based on word count for Fleet swag CTA
- [x] Get input on which option works best
- [x] Send Mike T. approved copy to mock up the design

[2022-08-03 02:55] #6867 closed

[2022-08-03 11:59] mike-j-thomas commented on #5045
@zhumo, I'm sorry for keeping you waiting on this. I aim to have the designs complete by EOW.

[2022-08-03 13:22] zhumo commented on #6975
@chiiph The request came from a user who wanted to have this data point in the software inventory for analysis purposes. So I think just storing it is the desire. What other functionality could it have?

I've updated the requirements to remove mac and linux

[2022-08-03 13:42] chiiph commented on #6975
Maybe if we wanted to aggregate them later on, or use them as input to some other process. If we do that, we might be carrying bad vendor data if/when we find issues as to how we are deriving it.

[2022-08-03 13:50] mna commented on #6732
@lukeheath Given that the MDM solution ID can be used to filter host, it could be useful to return it along with a host's MDM information as part of the `GET /api/v1/fleet/hosts/{id}/macadmins` response, what do you think? I.e. the payload would look like this:

[code]

[2022-08-03 14:37] RachelElysia opened #7032 "Dashboard UI for macOS: OS and Munki cards not responsive"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

I'd expect the two cards to stack on smaller viewports because there is not enough screen width.

### 💥  Actual behavior

This is 877px width which we support...
<img width="700"

[2022-08-03 15:04] RachelElysia commented on #7032
@xpkoala I also cleaned up all that dead white space. Can you confirm it's not intended to be there?

[2022-08-03 15:12] xpkoala commented on #7032
@RachelElysia The white space should not be there based on the mock ups [here](https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=2673%3A61795) even though it doesn't look like it was specifically called out.

[2022-08-03 15:38] #6791 closed

[2022-08-03 15:49] RachelElysia commented on #7017
Duplicate #7032

[2022-08-03 15:49] #7017 closed

[2022-08-03 15:53] noahtalerman commented on #6396
@GuillaumeRoss is this something that you'll be able to tackle before we release de-anonymized usage stats, for Fleet Premium users only, on August 18?

If not, can you please pass this issue's assignment to me? Thanks :)

[2022-08-03 16:58] chris-mcgillicuddy commented on #7030
@mike-j-thomas here are some Premium CTA options for your review. They range from direct and task-oriented to more benefit-driven. Which do you prefer?

https://docs.google.com/document/d/1p0wVrWWlVTUHxUaB7xhZVNA1Q4kVx_KCmpnIDX8wQQI/edit?usp=sharing

[2022-08-03 17:04] #6736 closed

[2022-08-03 17:11] roperzh opened #7036 "problems generating msi installers on Windows"
**Fleet version**: 4.18

**Operating system**: Windows

<hr/>

### 🧑‍💻  Expected behavior

I am able to generate `.msi` installers on Windows

### 💥  Actual behavior

@GuillaumeRoss reported having issues building `msi` packages. in Windows, failing with an error on the lines of `docker: Error response from daemon: invalid mode: \Users\username\AppData……\orbit-package389408047`

### More info

I t

[2022-08-03 17:22] michalnicp commented on #6227
The `GET /api/latest/fleet/hosts/{id}` endpoint makes multiple queries to the database and returns a lot of data. If only the passing/failing policies are needed, then it may make sense to add a separate endpoint `GET /api/latest/fleet/hosts/{id}/policies` that would be faster.

Policies are updated based on `FLEET_OSQUERY_POLICY_UPDATE_INTERVAL` which defaults to `1hr`. Decreasing this value may

[2022-08-03 17:44] noahtalerman commented on #6496
Closing this issue because it is a duplicate of the following issue: #6838

[2022-08-03 17:54] noahtalerman commented on #6838
Hey @zhumo heads up, I scheduled a call to discuss the config interface specified in the proposal.

I'd like to make sure we take the time to think through how this functionality behaves when compared to the `agent_options` part of configuration.

For example, in order to set different agent options for a team (override global options set in `config` YAML document), a user must specify `agent_opti

[2022-08-03 18:42] noahtalerman commented on #7007
Hey @xpkoala heads up, this issue is a new requirement for the Fleet Sandbox release.

[2022-08-03 18:45] noahtalerman commented on #7016
@xpkoala heads up, this is a new requirement for releasing Fleet Sandbox.

[2022-08-03 19:26] timmy-k commented on #4223
FYI, Tinybird, another company marketing to a similar audience, has this on their homepage:
![image](https://user-images.githubusercontent.com/7229110/182692520-2f75f9d7-95ae-4e88-96f3-4bbde5d3911e.png)

V2 should likely include tips and other similar content, and should likely include a prominent prompt on the website (but I like the approach of putting it lower in the page to allow us to soft co

[2022-08-03 19:45] eashaw commented on #5036
Background for creating Salesforce leads from Sandbox signups: https://docs.google.com/document/d/1gkxi2_2W_GcZCG0rph_Jtc66UQRaxsaEOr7TMI4DPRo/edit#

[2022-08-03 21:59] xpkoala opened #7044 "Make sure all customer facing documentation is updated for Sandbox"
Parent epic: #4970

### 🧑‍💻  Expected behavior
The page a user is redirected to in order to learn how to use fleet is updated with current information on how to succeed.

### 💥  Actual behavior
The page is potentially out of date and could use a look before Sandbox launches.
- As an example, removing or updating copy that mentions fleetctl preview.

### More info

Pages:

- https://fleetdm.com/doc

[2022-08-03 22:10] noahtalerman commented on #4970
@zhumo FYI I added a new "Make sure Learn how to Use Fleet doc page is updated for Sandbox" issue to this epic. Linking to this issue here: #7044

I assigned myself and added this issue to the "Guides" section of the 🚀 Release board.

[2022-08-03 22:43] eashaw opened #7045 "Revert changes to canonical GitHub links in Fleet docs"

[2022-08-03 23:18] mike-j-thomas commented on #6959
https://docs.google.com/document/d/1nE4aoMDvjduXtJsctGf1SpPHznRIfGX_ZKpMaBycn04/edit?usp=sharing

[2022-08-04 02:08] mikermcneil commented on #6215
@mike-j-thomas I think we can repurpose what Eric built for Sandbox here as well, and prioritize this to get it done quickly.

@eashaw You'll need a way to pass in the lead source in the HTTP request to Zapier.

[2022-08-04 02:09] mikermcneil commented on #6213
@mike-j-thomas This is worth investigating.  I'm not sure the best way to do it, but Eric might be able to figure it out.

[2022-08-04 02:45] #6581 closed

[2022-08-04 03:07] mike-j-thomas opened #7047 "Website: Build script rendering Markdown guide H2 example in page navigation"
## Expected behavior

The h2 example in the Markdown guide does not render as a navigation item

## Actual behavior

![Image](https://user-images.githubusercontent.com/78363703/182754294-a6c66648-b083-4be6-aa51-b3d44829f65c.png)

[2022-08-04 04:24] lukeheath commented on #6384
@mna Would you also please update the [usage statistics docs](https://fleetdm.com/docs/using-fleet/usage-statistics) payload example to include the new identifying property?

cc @noahtalerman @DominusKelvin

[2022-08-04 04:27] lukeheath commented on #6475
@ghernandez345 This is the backend ticket for #6499 assigned to you. Please sync up with Sarah as necessary to complete this work. We have a mock API client that you can use to develop the frontend against before the API is ready if needed. Thanks!

[2022-08-04 04:28] lukeheath commented on #3191
@noahtalerman Rachel built out this functionality. Are you okay with this getting merged in, or would you like the chance to do a product pass on it?

[2022-08-04 08:21] mike-j-thomas commented on #7030
@eashaw, over to you. This CTA will link to the Calendly demo. @timmy-k to supply a UTM.

Figma files here: https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?node-id=1694%3A5979

For reference:
![Image](https://user-images.githubusercontent.com/78363703/182798944-cecc1b2e-c2c2-4f66-ae0d-8159539bee98.png)

[2022-08-04 10:12] lucasmrod opened #7051 "Proposal to apply `standard-query-library.yml` to database directly"
### Goal/Idea

See #6645.

Applying a [standard-query-library.yml](https://github.com/fleetdm/fleet/commits/main/docs/01-Using-Fleet/standard-query-library/standard-query-library.yml) requires a running+setup'd Fleet.

To ease/improve the deployment of sandbox instances it would be nice to have a way to apply such a [standard-query-library.yml](https://github.com/fleetdm/fleet/commits/main/docs/01

[2022-08-04 13:08] DominusKelvin commented on #6284
Related issue which should be resolved when this issue is

https://github.com/osquery/osquery-site/issues/189

[2022-08-04 13:17] roperzh opened #7052 "Create and publish a Docker image with rcodesign + transporter"
### Goal

To sign and notarize `pkg` files, we introduced a dependency that has to be compiled, this has been problematic because:

1. Compilation fails on M1 macs, so the `fleetdm/fleetctl` image can't be build locally on them
2. Compilation is slow, adding additional, unnecessary time to CI
3. Code duplication between the `fleetdm/fleetctl` and the infra Dockerfiles

It would be good if we we co

[2022-08-04 13:17] roperzh commented on #7052
cc: @lucasmrod @zwinnerman-fleetdm does this makes sense to you folks?

[2022-08-04 13:35] lucasmrod commented on #7052
The optimization does make sense.

I haven't been involved in the development/testing so I don't know how urgent this is. If devs using M1 cannot develop+build the image locally then it does make sense to solve this for that one reason.

Maybe next person using M1 to develop changes to `fleetctl package` can tackle this? :)

[2022-08-04 14:07] roperzh opened #7053 "Back-end changes to support JIT SAML user provisioning"
### Goal

- https://github.com/fleetdm/fleet/issues/2008

### Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%252C-scratchpad)

## Related

- Epic: https://github.com/fleetdm/fleet/issues/2008

### How?

#### Backend

- [ ] Create a new SSO config that can only be modified by premium users
- [ ] Create new service methods to deal with not found SSO users d

[2022-08-04 14:17] roperzh opened #7054 "Front-end changes to support JIT SAML user provisioning"
### Goal

- https://github.com/fleetdm/fleet/issues/2008

### Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%252C-scratchpad)

## Related

- Epic: https://github.com/fleetdm/fleet/issues/2008
- Back-end changes: https://github.com/fleetdm/fleet/issues/7053
- Blocker: https://github.com/fleetdm/fleet/issues/6834

### How?

#### Front-end

- [ ] Add a new c

[2022-08-04 14:48] DominusKelvin commented on #6284
A Wayback machine snapshot of how the schema tables looks

https://web.archive.org/web/20170809185932/https://osquery.io/docs/tables/

[2022-08-04 15:35] noahtalerman commented on #5725
@tgauda @ksatter heads up, the customer requested this addition to the **Packs** page in the UI.

Instead, we've prioritized adding this to the **Schedule** page in the UI. This is because the plan is for scheduled queries to become the best practices for targeting groups of computers in Fleet.

[2022-08-04 15:38] noahtalerman commented on #5725
@lukeheath I assigned you this issue for spec'ing :)

[2022-08-04 15:39] noahtalerman commented on #5778
@ghernandez345 this is great feedback. I agree.

@lukeheath re-spec'ing this issue as a backend ticket makes sense to me! I assigned you the issue.

[2022-08-04 15:41] noahtalerman commented on #3829
@RachelElysia thank you for putting together these wireframes!

Ultimately, we decided to not prioritize this work because we'd like scheduled queries, instead of packs, to become the best practice for targeting groups of computers in Fleet.

[2022-08-04 16:08] zhumo commented on #6675
@mike-j-thomas -- @sharvilshah will be taking the lead on this. He'll get back to you on your questions!

[2022-08-04 16:23] xpkoala opened #7057 "Add Triage process to Quality handbook"
Add info on the more_info | reproduce tags, how they operate, and how tickets move forward on the issues board.

https://fleetdm.com/handbook/product#product-quality

[2022-08-04 16:42] xpkoala commented on #1489
@pbssubhash We haven't heard from you on this issue in some time. In order to keep our backlog tidy we're going to close this ticket for now. If you are still having issues and are able to provide more context to the issue please feel free to re-open this ticket.

[2022-08-04 16:42] #1489 closed

[2022-08-04 16:45] chris-mcgillicuddy commented on #6973
Mike M decided the video should be a straightforward demo. No need for a script.

[2022-08-04 16:45] #6973 closed

[2022-08-04 16:48] xpkoala commented on #3563
@chiiph Could you give any insight on this being fixed in the 4.19 release.

[2022-08-04 16:50] xpkoala commented on #3702
Closing as fixed.

[2022-08-04 16:50] #3702 closed

[2022-08-04 16:53] BradMacd opened #7058 "SalesForce Chrome Plugin Error"
Need permissions to connect.

![image](https://user-images.githubusercontent.com/109307074/182906952-d62bfb73-1b36-43b4-b828-c5ee32fe44ac.png)

[2022-08-04 16:53] chiiph commented on #3563
As in, whether it'll be prioritized for that release? I'll add it to today's prioritization call.

[2022-08-04 16:55] lukeheath commented on #3191
Since the fix for this seems pretty straight-forward I'm going to spec as a bug and bring onto the board.

[2022-08-04 16:58] GuillaumeRoss commented on #7058
@BradMacd I don't see it in the screenshot but maybe there was a "Client ID" in the advanced error? If there is can you paste it in text please?

[2022-08-04 17:00] BradMacd commented on #7058
@GuillaumeRoss Yes! client_id: 260882971407-dj7u7rkeisej3nc01rkb0nb88hf22cl4.apps.googleusercontent.com

[2022-08-04 17:03] xpkoala commented on #4327
@FreddieOliveira, I'm going to close this issue for now. If you are still having trouble and are able to provide more information regarding your SSO setup please feel free to re-open the ticket. Thank you!

[2022-08-04 17:03] #4327 closed

[2022-08-04 17:17] GuillaumeRoss opened #7060 "Ability to test automation/integration from the UI"
### Goal

When setting up integrations, either to ticketing systems or webhooks, a preview payload is shown in the UI.

<img width="568" alt="image" src="https://user-images.githubusercontent.com/73836008/182911395-e36cda4f-67f4-484f-925d-7d4636ed4035.png">

Testing the integration with this requires knowledge of `curl`, takes more time, etc.

It would be great to be able to click a "test integrat

[2022-08-04 17:22] GuillaumeRoss commented on #7058
@BradMacd Thanks! Try now?

[2022-08-04 17:42] BradMacd commented on #7058
@GuillaumeRoss All set! Thank you!

[2022-08-04 17:42] #7058 closed

[2022-08-04 18:16] xpkoala opened #7062 "In Fleet UI, update "machine serial" and "IPv4""
Currently, "serial number" is used in the placeholder text in the search bar on the **Hosts** page and "machine serial" is used in the tooltip copy that appears over the same search bar.

"Machine serial" and "serial number" are the same piece of data.

Currently, "IPv4" is used in the placeholder text in the search bar on the **Hosts** page and "private IP address" is used in the tooltip copy tha

[2022-08-04 18:18] timmy-k commented on #7030
UTM link for this— https://calendly.com/fleetdm/demo?utm_source=docs+demo

[2022-08-04 18:29] edwardsb commented on #3596
It would be nice to add an arbitrary number of key value pairs to include as HTTP request headers.

for example:

[code]

the value of HEADERS is a Stringified JSON object, where each Key is the Header Name and each value is the Header Value.

[2022-08-04 18:45] lucasmrod commented on #3563
IMO "simplest"/least-risky solution to try out seems to be (3). (Solution (1) would require some refactor/migration.)

[2022-08-04 19:24] xpkoala commented on #4248
This is confirmed as still occurring in 4.18 and can be seen on the Dogfood instance.

Hosts page:
<img width="798" alt="Screen Shot 2022-08-04 at 1 39 34 PM" src="https://user-images.githubusercontent.com/11012743/182929124-1c93c345-4446-415e-a512-e79a123d7c0b.png">

Hosts with label selected:
<img width="983" alt="Screen Shot 2022-08-04 at 1 39 17 PM" src="https://user-images.githubusercontent.c

[2022-08-04 20:02] RachelElysia opened #7065 "On Host details page indicate hoverable text"
### Goal

Provide user indication that the "Used by" value is hoverable if there are more than one device users.

### Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9187%3A302398

## Task

### 1

- [ ] On the host details page, grey out User text using `$ui-fleet-black-50` when more than one user to indicate that there is a tooltip

[2022-08-04 20:54] xpkoala opened #7066 "Sandbox installers connecting to incorrect domain"
**Fleet version**: Sandbox

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
Downloading and installing an installer would connect the host to the Fleet instance the installer was generated from.

### 💥  Actual behavior
The installer contains an incorrectly passed domain.

### More info
Downloading an installer from https://

[2022-08-04 21:05] noahtalerman commented on #6970
@lukeheath I updated the description, assigned you, and moved the issue to the release board.

[2022-08-04 21:45] lukeheath commented on #4248
@ghernandez345 Assigning to you as you're currently working in this area. Would you please take a look? Thanks!

[2022-08-04 21:59] michalnicp opened #7067 "CPE title match fails if app name contains only non ascii characters"
**Fleet version**: main (1f479f5cddb7feaea8e4c43a2050f5134fd91ae1)

**Operating system**:

**Web browser**:

<hr/>

### 🧑‍💻  Expected behavior

CPE matching during vulnerability scanning should work for app names containing other character sets eg Cyrillic.

### 💥  Actual behavior

CPE matching fails with the following error

[code]

### More info

This seems to be caused by the following regex in

[2022-08-04 22:08] lukeheath opened #7068 "Add a `display_name` property to the `GET /hosts` and `GET /hosts/{id}` API endpoints"
## Goal

As a Fleet UI user, I want to see a default display name for hosts that makes the Fleet UI and Fleet product easy to understand and use.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=5930%3A255765

## Related

- #4931 (epic)

## Tasks

### 1
- [ ] Add a `display_name` to the `GET /hosts` and `GET /hosts/{id}` API.
- This value is determined by the `computer_name` a

[2022-08-04 22:25] lukeheath commented on #4931
@noahtalerman @xpkoala Currently the `GET /hosts` and `GET /hosts/{id}` endpoints returns `hostname`, `computer_name`, and `display_text`.

Regarding this item:

I'm not seeing how adding a `display_name` property would affect endpoints that rely on `hostname`, because we are not removing `hostname`. Maybe I'm missing something?

Is it necessary for us to have both `display_text` and `display_name

[2022-08-04 23:13] xpkoala commented on #7016
@zwinnerman-fleetdm With the instance I am currently poking https://t3f4b986b.sandbox.fleetdm.com/dashboard the org name is still appearing as the randomly generated string. Should this be fixed in the above instance?

[2022-08-04 23:14] zwinnerman-fleetdm commented on #7016
no, this hasn't been deployed because its on a separate branch

[2022-08-04 23:46] xpkoala opened #7070 "Can navigate to the Teams page on a Sandbox instance"
**Fleet version**: Sandbox

### 🧑‍💻  Expected behavior
A user is not able to hit the /settings/teams page.

### 💥  Actual behavior
A user can hit this page and interact with the Teams area before they are shown the "Access Denied" page.

### More info
The user can hit the Teams page by manually supplying the url. The video below will show some of the behavior.

https://t3f4b986b.sandbox.fleetdm.co

[2022-08-05 00:10] xpkoala opened #7071 "Add hosts modal has misaligned Fleet Desktop text"
**Fleet version**: Sandbox

**Browser**: Version 15.5 (17613.2.7.1.8)

### 💥  Actual behavior
<img width="703" alt="Screen Shot 2022-08-04 at 6 56 39 PM" src="https://user-images.githubusercontent.com/11012743/182975512-2b2b5145-eed9-4a19-a755-6abd15acabf5.png">

### Notes

[2022-08-05 03:19] edwardsb commented on #6568
Can we leverage https://www.cloudflare.com/always-online/ ?

[2022-08-05 04:50] mike-j-thomas commented on #4223
@timmy-k, @eashaw. I updated the designs in Figma.
![newlsetter](https://user-images.githubusercontent.com/78363703/183003704-d923a7d3-a496-4df0-91df-6e0146ac2b67.jpg)

[2022-08-05 06:35] mike-j-thomas commented on #5045
@zhumo, the website version (including mobile) is ready for review. Can we grab some time early next week to go over it? Your availability is a little unclear on the Calendar. Would you mind grabbing some time from me (any time before my DigEx huddle is fine)?

I'd also like to discuss how we can get that information into the Query Console side panel and what we might be able to omit from that vie

[2022-08-05 13:21] #5529 closed

[2022-08-05 13:55] RachelElysia commented on #7071
Was not able to reproduce this issue except on safari. Can you specify which browser if it's not reproducing on all browsers?

[2022-08-05 14:09] RachelElysia commented on #7070
@ghernandez345 is this up your alley?

[2022-08-05 14:30] zwinnerman-fleetdm commented on #7066
fixed

[2022-08-05 14:30] #7066 closed

[2022-08-05 14:41] juan-fdz-hawa opened #7073 "Bug when listing software without an CPE"
There is a subtle bug in https://github.com/fleetdm/fleet/blob/1f479f5cddb7feaea8e4c43a2050f5134fd91ae1/server/datastore/mysql/software.go#L643  The problem is that if a software exists on multiple hosts from the same source (say deb packages), and one of the hosts is in the list of excluded platforms, then it will be skipped. However, it’s possible that software might match an entry in the cpe di

[2022-08-05 14:49] xpkoala opened #7074 "Incorrect expiration banner on Sandbox"
**Fleet version**: Sandbox

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
The banner present in the Sandbox environment would show the "learn how to deploy Fleet" text. Outlined in Figma [here](https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/🚧-Fleet-EE-(dev-ready%2C-scratchpad))

### 💥  Actual behavior
The banner presen

[2022-08-05 14:58] juan-fdz-hawa commented on #7073
One way to fix this would be add OVAL support for Debian (and other Debian based distros) - then we can refactor the query to filter based on `source` column alone.

[2022-08-05 15:02] juan-fdz-hawa opened #7075 "Add OVAL support for Debian and Debian based distros"
### Goal

OVAL definitions are here: https://www.debian.org/security/oval/ - Will need to inspect the definitions and make sure all tests are supported.

[2022-08-05 15:10] juan-fdz-hawa opened #7076 "Store Windows update history"
### Goal

Osquery 5.4 introduced a new table for installed Windows updates - https://osquery.io/schema/5.4.0/#windows_update_history - As discussed in https://github.com/fleetdm/fleet/pull/6742 we will need to query and store the results of that table if we want to perform patch vulnerability detection for Windows OS.

[2022-08-05 15:15] juan-fdz-hawa opened #7077 "Parse MSRC security feed for Windows OS patches"
As discussed in https://github.com/fleetdm/fleet/pull/6742 we will need to parse the MSRC feed.

To be determine:
- What format should we use for storing the parsed feed?
- How far back should we go?

[2022-08-05 15:21] noahtalerman opened #7078 "Advertise Fleet Premium in Fleet product"
## Goal

Add one (or more) tactful CTA in the Fleet product that presents the option for Fleet Free users to consider Fleet Premium.

## Sub issues

- #7125

[2022-08-05 15:23] noahtalerman opened #7079 "Make Teams the best practice for targeting groups of computers"
UPDATE: #7765 replaces #6716 (now deprioritized) in the definition of done (sub issues).

(noahtalerman 2022-10-10)

### Goals

Add more value to Fleet Premium by making "Teams" the best practice for targeting groups of computers in Fleet.

### Sub issues

This objective will be marked as done when the following key results are met.

Interface
- #5725
- #7765 (deprioritized)

Guides
- #7175
- #621

[2022-08-05 15:23] timmy-k commented on #4223
@mike-j-thomas Tinybird has it on the homepage and blog pages it appears

I think there's an argument for adding it anywhere where people are in a learning process about Fleet, but we can launch this first and then talk next locations

[2022-08-05 15:27] noahtalerman opened #7080 "In Fleet product, update query console right side panel"
### Goal

Update query console right side panel to improve first-time experiences with Fleet and make it more approachable to new users.

[2022-08-05 15:29] #7047 closed

[2022-08-05 15:39] #6914 closed

[2022-08-05 15:41] #6592 closed

[2022-08-05 15:45] noahtalerman commented on #3906
@GuillaumeRoss heads up, this is the issue I'm using the track the addition of disk encryption status to the **Host details** page.

[2022-08-05 15:54] noahtalerman commented on #6024
@mikermcneil heads up, I think tackling this will be one the ways we ship value for the "Add more value to Fleet Premium" OKR.

Notifying you because this is something that was prioritized during Product office hours. Looks like this issue slipped through the cracks.

[2022-08-05 16:43] lukeheath commented on #7071
@xpkoala Please use the `:frontend` label rather than the `:frontend dev (core platform)` label. Confusing, I know, and hoping to get the labels cleaned up soon.

Also, please make sure to indicate the browser you are experiencing bugs on as that's important information for us when fixing the issue.

[2022-08-05 16:46] xpkoala commented on #7071
Updated the comment @lukeheath, apologies!

[2022-08-05 16:59] lukeheath opened #7084 "Add new `/api/_version_/fleet/device/{token}/desktop` endpoint"
## Goal

For a customer with concerns about the information disclosed by the Fleet Desktop APIs, provide an endpoint that can be excepted from their SSO and return the minimal set of information for Fleet Desktop to function.

## Related
- #6680 (epic)
- #6946 (agent)

## Tasks

### 1
- [ ] Add new GET /api/_version_/fleet/device/{token}/desktop API endpoint

This API returns only the minimal set

[2022-08-05 17:51] lukeheath commented on #5778
Gabe: A frontend change will be required, and the object structure needs to change on the backend. Currently it's an object that does not guarantee column order, instead it should be an array which does guarantee order. Backend ticket needs to change to provide array, need frontend ticket to handle array instead of object.

[2022-08-05 17:56] lukeheath commented on #7084
@mna When you are online would you please take a look at the specs on this ticket and let me know if you have any questions or concerns. If all looks good, please add a point estimate to the ticket. Thanks!

[2022-08-05 18:57] michalnicp commented on #5795
I also failed to reproduce. Perhaps a change was made since I opened this issue that fixed it. Let's close this issue.

[2022-08-05 18:57] #5795 closed

[2022-08-05 20:08] noahtalerman commented on #5222
Mo: Validation might prevent errors that we're starting to render in the UI @noahtalerman

[2022-08-05 20:59] mike-j-thomas commented on #4223
@timmy-k i'm happy to add this anywhere you think it will be valuable. I said only on homepage in my previous comment based off this:

[2022-08-05 22:09] timmy-k commented on #4223
@mike-j-thomas we could put it at the bottom of posts, removing the CTA to schedule a demo, since we haven't gotten a sub there yet. I haven't fully dug into the numbers to justify this, I might need to make a custom report because we don't have a single url path to quickly search in analytics for all blog posts.

If we do that we could still use the CTA in text and have this at the bottom of the

[2022-08-05 22:18] DominusKelvin commented on #6861
@zhumo here is a PR attempting to fix this issue

https://github.com/osquery/osquery/pull/7716

[2022-08-05 23:23] mikermcneil commented on #4643
fyi @michalnicp this is solved now (there's a new option for `sails run build-static-content`):
https://github.com/fleetdm/fleet/blob/8acbbc6c7bb866775099b977c50903fa21f07b68/website/scripts/build-static-content.js#L12

`--skipGithubRequests`

cc @eashaw who can answer any questions.  Otherwise I this this can be cloed?

[2022-08-06 01:08] eashaw opened #7092 "Website: Add support for `reddiss` protocol"
Related: https://github.com/fleetdm/confidential/issues/1597

[2022-08-08 11:31] ghernandez345 commented on #7070
@noahtalerman Is it right that you should only have access to the teams page if you are on premium? so both free and sandbox instances should not be able to go to the teams settings page?

[2022-08-08 12:06] ghernandez345 commented on #7070
@noahtalerman we may want to consider changing the UX for users trying to go to teams settings page when they are not on premium tier. Currently they are directed to the Access Denied permissions page. I'll keep the functionality has it is now, but it would be better if we improve the messaging for this case and maybe try to put something up about upgrading to premium tier.

[2022-08-08 12:23] DominusKelvin commented on #6284
@zhumo, the [PR](https://github.com/osquery/osquery-site/pull/257) addressing this issue on https://osquery.io has been merged. Is it okay to close now?

Here is an example.

https://osquery.io/schema/5.4.0/#hash

[2022-08-08 12:40] DominusKelvin commented on #7002
@zhumo, any idea what will happen to this freebsd table?
<img width="840" alt="Screenshot 2022-08-08 at 13 35 48" src="https://user-images.githubusercontent.com/24433274/183420133-a19b21e8-2387-4c69-8f16-679a6ca85791.png">

[2022-08-08 13:17] noahtalerman opened #7095 "Add ability to track operating system versions over time"
### Goal

As a user, I want to be able to track operating system versions over time so that I can quickly understand how effective my initiative was at getting hosts upgraded.

### How?

This could look similar to the visual below:
![image (4)](https://user-images.githubusercontent.com/47070608/183426565-aa8ab50d-f229-4159-84b8-59df700036f2.png)

[2022-08-08 14:37] erikng commented on #7095
Tools like Kibana/Grafana/Tableau/ServiceNow could all visualize this data, but I do also think it's beneficial for non-technical users and managers to be able to quickly see this data.

This could also be useful for other types of custom queries where it's easy to visualize the success/failure of any initiative.

[2022-08-08 14:55] zhumo commented on #6861
Great! I moved it to in review, since it has not yet been merged. But looks good!

[2022-08-08 14:56] zhumo commented on #6284
@DominusKelvin maybe you can show this to me, but I am wondering how do I know what the pin means? Is there a legend somewhere?

[2022-08-08 15:00] zhumo commented on #7002
@DominusKelvin I think we should delete this table file too since it's freebsd-specific.

Thanks for pointing this out. There are probably lots of other ways in which freebsd is built into the system. Let's be sure to be thorough and remove them all from the system. Let's talk about this in the time you have scheduled!

cc: @sharvilshah. Just confirming here... we should remove it all, right?

[2022-08-08 15:55] xpkoala commented on #5053
I have not been able to reproduce this after further attempts. @lsmith77 if you are continuing to have troubleplease re-open this ticket with any new information regarding the problem.

[2022-08-08 15:55] #5053 closed

[2022-08-08 15:58] xpkoala commented on #4406
@mna It looks like this ticket was lost in a legacy board. Is it safe to close it out?

[2022-08-08 16:06] sharvilshah commented on #7002
Yep! We should remove it

[2022-08-08 16:07] xpkoala commented on #4430
Please use #1845 ticket for future input on this topic. Closing this for housekeeping.

[2022-08-08 16:07] #4430 closed

[2022-08-08 16:09] xpkoala commented on #4753
@noahtalerman It looks like we decided to not move forward with this change in the #4166 ticket. Could you double check the status of this issue?

[2022-08-08 16:09] zhumo commented on #4753
Hey @noahtalerman, this has been sitting in the backlog for a bit... wondering if we have any resolution here?

[2022-08-08 16:13] xpkoala commented on #4871
Closing this issue since the recommendation is to use the Teams feature. If there is more discussion to be had on this issue please feel free to re-open it. Thank you!

[2022-08-08 16:13] #4871 closed

[2022-08-08 16:16] chris-mcgillicuddy opened #7097 "Write case studies with data"
### Goal

Write case studies that prove the effectiveness of Fleet with hard numbers to inspire confidence among prospective users. I'd like to publish two first and then one at a time going forward.

### How?

- [ ] Identify clients to feature in case studies
- [ ] Write a set of questions to get the data we need
- [ ] Find the appropriate point of contact to get permission
- [ ] Get background i

[2022-08-08 16:17] xpkoala commented on #4923
@sigitkusuma If you are still experiencing issues with your hosts can you please re-open this ticket with any new information. The ticket is going to be closed for housekeeping reasons at this time. Thank you!

[2022-08-08 16:17] #4923 closed

[2022-08-08 16:19] xpkoala commented on #5285
I believe this was fixed with some other session improvements that came out in 4.16(?). I will verify the changes and move this ticket around as needed.

[2022-08-08 16:22] zhumo commented on #5065
Hey @lucasmrod, so what's the summary here? Is there something to be addressed?

[2022-08-08 16:25] xpkoala commented on #5163
@Ayoub-Benzahra Apologies for the delay. I have still been unable to reproduce this issue. Is this something that you are still encountering? If so could you please upgrade to the latest version of Fleet and let us know if the same issue is still occurring? Thank you.

[2022-08-08 16:28] xpkoala commented on #5288
@davidschoefberger Is this still a problem that you are encountering?
@chiiph Is there any more action that is needed on this issue?

[2022-08-08 17:56] xpkoala commented on #6674
@lucasmrod @roperzh Could I get clarification on this notarization work? Currently, after downloading a Mac package, I am required to allow the package to be installed via the Security Center. Is this the expected flow?

The package will install and work as expected after allowing it through the Security Center.

![Screen Shot 2022-08-08 at 12 13 12 PM](https://user-images.githubusercontent.com/11

[2022-08-08 17:59] xpkoala opened #7098 "Expired Sandbox instance not redirecting to correct page"
**Fleet version**: Sandbox `main`

**Operating system**:

**Web browser**: All

<hr/>

### 🧑‍💻  Expected behavior
When a Sandbox instance has expired the user would be redirect to `fleetdm.com/try-fleet/sandbox-expired`

### 💥  Actual behavior
Users are shown a 404 page.

### More info

Expected page:
<img width="1269" alt="Screen Shot 2022-08-08 at 12 37 58 PM" src="https://user-images.githubuser

[2022-08-08 18:01] zhumo commented on #6851
@noahtalerman WDYT of the config structure as listed above in the "Design" section?

[2022-08-08 18:09] xpkoala opened #7099 "Settings components misaligned on Sandbox"
**Fleet version**: Sandbox `main`

**Operating system**:

**Web browser**: All

<hr/>

### 🧑‍💻  Expected behavior
The UI would have a consistent layout across similar areas of the application.

### 💥  Actual behavior
There are next text areas on the organization settings and user settings tabs that are not aligned with the integration tab text area. This is easy to see in the video below.

### Mor

[2022-08-08 18:12] roperzh commented on #6674
@xpkoala seems like the package is signed but not notarized/stapled. I think this is not related to this specific issue but to the sandbox config tough, let me take a look.

[2022-08-08 18:21] xpkoala commented on #7099
@mike-j-thomas Could you provide insight on how we might want to fix this?

[2022-08-08 18:22] DominusKelvin commented on #6859
@zhumo the associated PR for this has been merged

https://github.com/osquery/osquery/pull/7706

[2022-08-08 18:23] #6859 closed

[2022-08-08 18:28] DominusKelvin commented on #6284
@zhumo good point. I thought about that myself.

What can happen is we need to see if we can implement a sort of legend based on the current design of the osquery.io/schema page. I see a redesign was done to the website perhaps we can have eyes on the intended design so I can implement it on the website, which should be another issue/PR altogether.

What do you think @zhumo?

[2022-08-08 18:37] DominusKelvin commented on #6861
@zhumo, this should be resolved as https://github.com/osquery/osquery/pull/7716 has been merged.

[2022-08-08 18:38] #6861 closed

[2022-08-08 18:52] noahtalerman commented on #4753
Hey @zhumo @xpkoala ultimately we decided not to address the ability to change hostname (goal of this issue).

Instead we prioritized address the following related issue: #4931

[2022-08-08 18:59] #4094 closed

[2022-08-08 18:59] #5166 closed

[2022-08-08 18:59] #5723 closed

[2022-08-08 18:59] #5757 closed

[2022-08-08 18:59] #5879 closed

[2022-08-08 18:59] #5902 closed

[2022-08-08 18:59] #6021 closed

[2022-08-08 18:59] #6037 closed

[2022-08-08 18:59] #6261 closed

[2022-08-08 18:59] #6349 closed

[2022-08-08 18:59] #6363 closed

[2022-08-08 18:59] #6364 closed

[2022-08-08 18:59] #6365 closed

[2022-08-08 18:59] #6371 closed

[2022-08-08 18:59] #6508 closed

[2022-08-08 18:59] #6521 closed

[2022-08-08 18:59] #6544 closed

[2022-08-08 18:59] #6550 closed

[2022-08-08 18:59] #6551 closed

[2022-08-08 18:59] #6594 closed

[2022-08-08 18:59] #6595 closed

[2022-08-08 18:59] #6617 closed

[2022-08-08 18:59] #6649 closed

[2022-08-08 18:59] #6654 closed

[2022-08-08 18:59] #6658 closed

[2022-08-08 18:59] #6700 closed

[2022-08-08 18:59] #6703 closed

[2022-08-08 18:59] #6706 closed

[2022-08-08 18:59] #6708 closed

[2022-08-08 18:59] #6711 closed

[2022-08-08 18:59] #6761 closed

[2022-08-08 18:59] #6763 closed

[2022-08-08 18:59] #6776 closed

[2022-08-08 18:59] #6777 closed

[2022-08-08 18:59] #6822 closed

[2022-08-08 18:59] #6827 closed

[2022-08-08 18:59] #6835 closed

[2022-08-08 18:59] #6844 closed

[2022-08-08 18:59] #6874 closed

[2022-08-08 18:59] #6876 closed

[2022-08-08 18:59] #6889 closed

[2022-08-08 18:59] #6893 closed

[2022-08-08 18:59] #6923 closed

[2022-08-08 18:59] #6940 closed

[2022-08-08 18:59] #6956 closed

[2022-08-08 18:59] #7016 closed

[2022-08-08 18:59] #7071 closed

[2022-08-08 18:59] #7074 closed

[2022-08-08 19:10] noahtalerman commented on #5691
@xpkoala thank you for taking this one! When you get the chance, can you please route the false negatives (bug issues in this issue's description), and anymore false negatives you came across during testing, to the platform team?

Even if you haven't been able to test all applications in this issue's list, I think we can set aside this issue for now.

If you agree, can you please update the issue

[2022-08-08 19:38] zhumo commented on #4753
ah ok thanks. So instead of changing it to be computer_name, we will make it configurable.

@ducna96 I'm going to close this for now in favor of #4931, which I think should address your issue. Please feel free to re-open it if you have further comments.

[2022-08-08 19:38] #4753 closed

[2022-08-08 19:41] zhumo commented on #6284
Hey Kelvin, that seems fine, but let's keep the same issue open to represent that work. We can do multiple PRs on the osquery-site side if necessary.

Luke -- I'm re-opening this one. This is more osquery-oriented work, not in fleet, so to keep it from screwing up your milestone label, I'm gonna remove it from the milestone.

[2022-08-08 20:04] xpkoala opened #7104 "Benign console errors on Sandbox"
**Fleet version**: Sandbox `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: Safari 15.5 (17613.2.7.1.8), Chrome 103.0.5060.134, Firefox 103.0.1

<hr/>

### 🧑‍💻  Expected behavior
No console errors generating.

### 💥  Actual behavior
A handful of errors generate when visiting any page on a Sandbox instance.

### More info

![Screen Shot 2022-08-08 at 3 02 05 PM](https://user-im

[2022-08-08 20:35] noahtalerman commented on #7099
@mike-j-thomas please ignore the above. The interface team will determine what the best approach is here. Sorry for the false alarm.

[2022-08-08 20:36] lukeheath commented on #7099
@ghernandez345 Minor fix. Looks like the sandbox gate needs a width of `350px` (not 300px), and a `margin-top: 5rem` in order to match the empty states on the other tabs (see Reed's Loom)

[2022-08-08 20:42] lukeheath commented on #6284
Sounds good. Thanks for the heads up.

[2022-08-08 20:44] zhumo commented on #6852
Hey @xpkoala! MacOS 13 comes out in mid-September. I'm hoping to get test coverage done as per the steps listed above, in order to give our users any warnings about compatibility. I spoke to Noah, and understand current priorities is fleet sandbox, followed by the next release testing. We think this fits after that.

cc: @zwass @noahtalerman

[2022-08-08 20:55] xpkoala commented on #6852
@zhumo Absolutely agree!

[2022-08-08 21:06] noahtalerman commented on #6680
@zhumo heads up, I passed you this epic.

The [interface issue that Luke filed](https://github.com/fleetdm/fleet/issues/7084) will be estimated (ready to bring into the next release) this week.

[2022-08-08 21:07] zwinnerman-fleetdm commented on #6645
ready for testing, I tested it myself and it appeared to work

[2022-08-08 21:10] noahtalerman commented on #5778
Hey @ksatter @ghernandez345 heads up, we decided to de-prioritize this work.

This is because we want to focus the interface team's backend capacity on issues that address customer request and OKRs.

cc @lukeheath

[2022-08-08 21:14] xpkoala commented on #6645
Yes! Confirmed as well.

[2022-08-08 21:19] noahtalerman commented on #6774
@mna this is correct! My number 3 in the above comment is a typo. Sorry for the delayed response

[2022-08-08 21:23] xpkoala opened #7106 "Fleet Sandbox banner incorrect on hosts/# page"
**Fleet version**: Sandbox `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: Safari, Firefox, Chrome

<hr/>

### 🧑‍💻  Expected behavior
The banner shown on the /hosts/<#> page would be similar to the banner seen across all other Sandbox pages.

### 💥  Actual behavior
The banner appears to have bolded and hyperlinked text.

### More info

The figma for the banner text is [here](

[2022-08-08 21:24] mikermcneil commented on #6568
@edwardsb @eashaw Not for the dynamic functionality like buying licenses or signing up for the sandbox.  But might help and be a quick win?  I wonder if we could customize or omit the header.

as far as zero downtime with Heroku, totally not expecting us to do that for migrations (still maintenance mode there).  But there may be something we can do to make sure the old app is up and running until

[2022-08-08 21:29] noahtalerman commented on #6962
@lukeheath great catch! Up to you on how to address.

If you take the "message with the spinner" approach, can you please loop me on on the message's copy? I may have context on how we're messaging users about these issues elsewhere in the UI.

[2022-08-08 21:45] DominusKelvin commented on #7002
Just to be certain @sharvilshah you mean:

- The .table file
- The .cpp file of the FreeBSD table
- as well as every other mention or use of FreeBSD

Is this assumption correct?

[2022-08-09 00:08] mike-j-thomas opened #7108 "Link to fleetdm.com/trust from the site footer"
### Goal
Build trust and authority with our audience

###  How
- [ ] Add "Trust" to the footer nav, pointing to http://fleetdm.com/trust
- Mike T: Consider how adding a new link will affect the layout of the footer on mobile devices. I suggest removing "Hall of fame" for the time being to keep an even number of links.
- [ ] Mike T to re-order existing footer links to find a suitable position to in

[2022-08-09 02:58] mike-j-thomas commented on #5045
@zhumo I've updated the screens. Let me know if we've covered everything, and we can loop in @mikermcneil for review and @eashaw to scope out the technicalities https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?node-id=4528%3A13076

[2022-08-09 03:25] mike-j-thomas commented on #5045
@zhumo, would you mind checking my dev notes and correcting or adding anything that I have missed?

[2022-08-09 05:39] timmy-k commented on #5334
Unsuccessful so far (and currently paused), but finished. Closing

[2022-08-09 05:39] #5334 closed

[2022-08-09 05:40] timmy-k commented on #5422
Unsuccessful so far, and currently paused, but completed. Closing

[2022-08-09 05:40] #5422 closed

[2022-08-09 05:49] timmy-k commented on #5728
Completed, so closing

[2022-08-09 05:49] #5728 closed

[2022-08-09 05:56] timmy-k commented on #5006
Completed, so closing

[2022-08-09 05:56] #5006 closed

[2022-08-09 06:07] timmy-k commented on #6169
Completed V1, so closing

[2022-08-09 06:07] #6169 closed

[2022-08-09 07:50] DominusKelvin commented on #6284
@zhumo do you think a tool tip for such icons which will activate on hover or when clicked on mobile will be ideal to show what they represent?

[2022-08-09 10:24] sharvilshah commented on #7002
@DominusKelvin

* The `.table` file should be removed
* The source code (`.cpp,.h`) etc files should be kept, so that in the future when someone wants to bring back the support it's easier
* FreeBSD mentions should be removed from the documentation

[2022-08-09 11:11] lucasmrod commented on #6747
@xpkoala Please double check my last comment.

[2022-08-09 11:37] sharvilshah opened #7109 "Orbit authentication with Fleet"
### Goal

In order to us to remotely manage osquery flags (CLI flags in osquery which requires restarting osquery on the host), orbit should "enroll" and authenticate with Fleet

### Parent Epic

- https://github.com/fleetdm/fleet/issues/6851

### How?

- Create a new `/orbit` endpoint on Fleet
    - This new endpoint will be used for all subsequent orbit related API calls (`/orbit/enroll`, `/orbi

[2022-08-09 11:42] DominusKelvin commented on #7002
Got you @sharvilshah

[2022-08-09 12:01] lucasmrod commented on #5065
The fix look like this:
https://github.com/fleetdm/fleet/compare/5065-fleetctl-windows-use-group-sid?expand=1

We would need to do some testing on a Windows 10 computer with:
- Configured with German language.
- Docker installed (it's a `fleetctl package` dependency).

@xpkoala could help with this.

From a macOS/Linux host:
[code]

Copy `build/fleetctl` as `fleetctl.exe` to the Windows VM/compute

[2022-08-09 12:07] #2896 closed

[2022-08-09 12:10] lucasmrod commented on #2526
Moving forward we've decided to stick to the new [fleetdm/fleetctl](https://hub.docker.com/r/fleetdm/fleetctl) docker image for package generation. Such Docker image will have all the tooling necessary and will (should) work reliably in all OSs.

[2022-08-09 12:10] #2526 closed

[2022-08-09 12:40] roperzh opened #7112 "upgrade rcodesign to 0.17.0"
### Goal

This [new version](https://github.com/indygreg/PyOxidizer/blob/main/apple-codesign/CHANGELOG.rst) that has just been released uses the Apple Notary API instead of the [Transporter](https://help.apple.com/itc/transporteruserguide/en.lproj/static.html) binary, this has several advantages:

1. Native notarization input arguments are reduced from three to only one
2. We can remove the depend

[2022-08-09 12:45] DominusKelvin commented on #7002
@zhumo 1 of 2 PRs has been opened to fix this issue https://github.com/osquery/osquery-site/pull/258

[2022-08-09 12:45] mna commented on #7084
@lukeheath The description says "from their SSO", but this is an endpoint authenticated with the Fleet Desktop device token, right? The same one that can access the `GET /api/_version_/fleet/device/{token}` endpoint that returns the whole host information?

If so, this is not a big change, as long as we're ok with a leak of the token making it possible to view the whole host information by using i

[2022-08-09 13:03] mna commented on #4406
@xpkoala It hasn't been addressed yet - it is low-ish priority but something we should get to eventually, as our status codes are sometimes inconsistent, sometimes wrong (500 for what is a 4xx issue).

[2022-08-09 13:45] zhumo commented on #6284
@DominusKelvin that sounds good to me.

[2022-08-09 14:04] zhumo commented on #5045
Hey Mike! Some notes:

1. re: the windows-only icon. There are also Linux- and Mac-only columns as well. We ought to accommodate those. I wonder if it makes sense to collapse those into one: have the three OS icons and call it "OS-specific"
2. re: the legend in general, I think we could clarify in a dev note whether the legend always appears or is it dynamic (as in, only certain icons appear if th

[2022-08-09 14:13] zhumo commented on #5065
OK sounds good. I assigned it to @xpkoala and set it to awaiting QA.

[2022-08-09 14:14] zhumo commented on #6282
Merged by osquery. Closing.

[2022-08-09 14:14] #6282 closed

[2022-08-09 14:23] noahtalerman commented on #6257
The "Manage enroll secrets" modal could use some attention.  Some of these pieces are bugs, some are more like non-intuitive behavior and small improvements, but lumping them together here to hopefully make this something easier to knock out all at once with as little pain as possible:

1. There is no indication of when a given secret was generated, making it hard to tell which one is which (espec

[2022-08-09 14:54] zwinnerman-fleetdm commented on #6894
As a note, the new environment variable is `FLEET_SERVER_SANDBOX_ENABLED`  not `FLEET_DEMO`

[2022-08-09 15:00] zwinnerman-fleetdm opened #7116 "JITProvisioner needs to return proper errors"
### Goal
This is not a blocker for golive, use "github.com/juju/errors" to return more descriptive errors instead of returning 5xx all the time. This mostly impacts monitoring so we get fewer false positives.

TODO

### Figma

TODO

### API wireframes

TODO

### How?

#### Frontend

TODO

- [ ]

#### Backend

TODO

- [ ]

[2022-08-09 15:01] zwinnerman-fleetdm commented on #7116
https://github.com/wI2L/fizz/blob/master/examples/market/handlers.go#L46

[2022-08-09 15:03] zwinnerman-fleetdm opened #7117 "Create and use a different kms key for installers S3 bucket"
### Goal
Small security thing, its so that fleet instances can't call decrypt on data that they already can't access due to IAM permissions.

TODO

### Figma

TODO

### API wireframes

TODO

### How?

#### Frontend

TODO

- [ ]

#### Backend

TODO

- [ ]

[2022-08-09 15:05] zwinnerman-fleetdm opened #7118 "Allow for parallel spinup of sandbox instances (preprovisioner)"
### Goal

As an infrastructure engineer, I want to be able to spin up sandbox instances in parallel so that I can respond to surges of high traffic without any sandbox provisioning delays

Notes:

Basically move the check for how many instances to spin up inside the for loop instead of doing the check once at the beginning.

#11779

[2022-08-09 15:07] zwinnerman-fleetdm opened #7119 "https://redis.io/commands/flushdb/ during the deprovision process"
### Goal
This ensures that if a redis database gets reused (low probability), there is no way for another customer's data to somehow show up

TODO

### Figma

TODO

### API wireframes

TODO

### How?

#### Frontend

TODO

- [ ]

#### Backend

TODO

- [ ]

[2022-08-09 15:09] zwinnerman-fleetdm opened #7120 "name state machines something random and track the new name in dynamodb"
### Goal
This requires a new column in dynamodb (no indexes needed) and tracks which state machine controls the deprovisioning process. This allows us to make adjustments to the expiry timer without breaking the /expires endpoint.

TODO

### Figma

TODO

### API wireframes

TODO

### How?

#### Frontend

TODO

- [ ]

#### Backend

TODO

- [ ]

[2022-08-09 15:10] zwinnerman-fleetdm opened #7121 "Get ALB logs into a logging bucket and athena tables setup"
### Goal

TODO

### Figma

TODO

### API wireframes

TODO

### How?

#### Frontend

TODO

- [ ]

#### Backend

TODO

- [ ]

[2022-08-09 15:24] #6645 closed

[2022-08-09 15:39] xpkoala opened #7122 "Sandbox Software page not updating with data"
**Fleet version**: Sandbox `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior
The /software/manage page would display the software of the hosts connected.

### 💥  Actual behavior
The page is not updating with any information after numerous hours -- Software aggregation should run every 60min.

### More info

Individual hosts are showing sof

[2022-08-09 15:49] xpkoala commented on #7122
It sounds like this was an issue with the `FLEET_VULNERABILITIES_DATABASES_PATH` not being set for Sandbox instances. @zwinnerman-fleetdm is assisting in testing this theory.

[2022-08-09 15:51] lukeheath commented on #7084
@mna Thanks for the call outs!

@noahtalerman Regarding this line:

We're not 100% sure what this means. Does it mean the endpoint should not require password or SSO authentication? Per Martin's message above, the `/device/{token}` endpoint is authenticated by the provided token only and does not require password or SSO.

Also to echo Martin's concern, if we create a `/device/{token}/desktop` endp

[2022-08-09 16:10] noahtalerman commented on #7062
@lukeheath I assigned you this issue for spec'ing :)

[2022-08-09 16:11] noahtalerman commented on #6079
@lukeheath heads up, I assigned you this issue for spec'ing.

[2022-08-09 16:39] noahtalerman commented on #6257
Hey @zwass we'd like the Fleet to only support the best practice for rotating enroll secrets. That is, adding a new secret, using the new secret, and deleting the old secret.

To do this, we'd like to remove the ability to edit existing enroll secrets in the Fleet UI now. In the next major version release, we'd like to do the same in fleetctl and the API. Do you have any concerns with this? Gotcha

[2022-08-09 16:41] noahtalerman opened #7125 "Add CTA to Fleet Premium on Organization Settings > Agent options page"
## Goals

As a free user, I want to know how I can leverage teams to apply different agent options to some of my hosts.

As a new Premium user, I want to know how the agent options on the /settings/organization/agents interact with agent options for my teams.

## Related
- #7078 (epic)

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node

[2022-08-09 16:51] lukeheath commented on #7122
Removing the `#interface` label since this is being tracked on the platform board.

[2022-08-09 17:01] zwass commented on #6257
So users can add as many new secrets as they want, they just can't edit secrets once they are added?

[2022-08-09 17:09] mikermcneil commented on #6851
In Fleet, agent options are configured globally or at a team-by-team level.

This issue is about adding support for osquery flags amongst those agent options.  I think it makes sense to focus on shipping this iterative change quickly, within the existing framework of how configuration works.

[2022-08-09 17:10] mikermcneil commented on #6851
@zhumo In Fleet, agent options are configured globally or at a team-by-team level.

This issue is about adding support for osquery flags amongst those agent options.  I think it makes sense to focus on shipping this iterative change quickly, within the existing framework of how configuration works.

[2022-08-09 17:27] noahtalerman commented on #6629
This issue was prioritized during product office hours.

Folks to notify if this issue makes it into a release or is de-prioritized:
- @GuillaumeRoss

[2022-08-09 17:29] noahtalerman commented on #6629
@zhumo I assigned you this issue and added the "#platform" label.

This is because I think the platform team is best equipped to figure out how we would achieve this and how much effort it would take. The platform team implemented a similar feature for Sandbox here: #6645

Up to you on whether the platform team can prioritize thinking about this. If you'd like to deprioritize this, I think removin

[2022-08-09 17:32] noahtalerman commented on #7060
@GuillaumeRoss heads up, we decided to deprioritize this issue for now. There are several OKRs and customer requests that will take up the Interface team's capacity over the next 6 weeks.

[2022-08-09 17:36] noahtalerman commented on #3596
@tgauda heads up, we decided to deprioritize this issue. There are several OKRs that will take up the Interface team's capacity over the next 6 weeks.

I think it makes sense to notify the customer who requested this that we set this aside for now. Your call.

[2022-08-09 17:38] #7121 closed

[2022-08-09 17:46] noahtalerman commented on #3850
@zhumo this is not done. This issue is about releasing a blog post that describes what Orbit (agent autoupdater) is, what it will do in the future, and why we built it.

I updated this issue's title and goal to make this more clear.

I think this is a good opportunity to talk about the remote control osquery flags feature that is coming.

[2022-08-09 17:55] zhumo commented on #5384
@sharvilshah can we close this or move this forward? It's done right?

[2022-08-09 17:57] zhumo commented on #3563
@chiiph @lucasmrod @xpkoala Is this an agent issue or a platform issue? Please update the labels accordingly.

[2022-08-09 17:59] mna commented on #6732
@lukeheath @noahtalerman I'll document that the new `mdm_id` and `mdm_enrollment_status` query string filters are also available in the `GET /api/_version_/fleet/hosts/count` endpoint, which supports the same arguments as the list hosts endpoint, except that it just returns the count.

Another thing I wanted to point out is that typically, when adding information to hosts we're careful with the mi

[2022-08-09 18:00] lucasmrod commented on #3563
I'd say #agent, so label should be ok.

[2022-08-09 18:06] roperzh opened #7130 "Add retry logic for notarization"
### Goal

Have `fleetctl package --type=pkg --notarize` be as reliable as possible

### How?

Add retry logic, seems like notarization via `applecodesign` already has some retry logic backed in, we need to do the same for `--native-tooling`

[2022-08-09 18:07] zhumo commented on #6441
@artemist-work is this awaiting QA or release? Would you move it to the appropriate column in the release board?

[2022-08-09 18:09] noahtalerman commented on #3191
Sounds good! @xpkoala can you please make sure that the "back to hosts" behavior makes sense when the user doesn't come from the Hosts page?

For example, if a user receives a link to a Host details page, and they select "view all hosts" I think they should navigate to the Hosts page with no filters.

[2022-08-09 18:09] artemist-work commented on #6441
Oh, oops. I'm not sure if anyone else has tested it so I put it in "Awaiting QA"

[2022-08-09 18:13] noahtalerman commented on #7070
👍

@ghernandez345 I agree. We have an OKR about advertising premium in the free product: #5454. I think the teams page would be a good place.

This is right.

Correct. All Sandbox instances run Fleet free. No Sandbox instance have a Fleet Premium license.

[2022-08-09 18:15] noahtalerman commented on #4753
@zhumo not quite. We won't make it configurable. We will use `computer_name` as the default display name in the UI.

[2022-08-09 18:22] xpkoala commented on #7122
Should be fixed with https://github.com/fleetdm/fleet/pull/7126

[2022-08-09 18:26] noahtalerman commented on #7084
@zhumo can you please help address the above questions and concerns. Because you're the DRI for the parent epic, I think you might have more context here...

[2022-08-09 18:29] noahtalerman commented on #6732
@mna makes sense to me!

Can you please make sure that this explanation is included in the /changes file for this feature? This way, we'll remember to explain the behavior to users in the release notes.

[2022-08-09 18:35] zhumo commented on #7084
Hey @lukeheath @mna. Thanks for pointing that out. Definitely this word "excepted" is not clear what it means.

Basically, even though our system does not require SSO authentication (and as of right now, fleet desktop does not accommodate SSO), some of our users want to put all of the API behind their SSO, so that they can protect all the device info in `/device/{token}`. The solution we came up w

[2022-08-09 18:38] mna commented on #6732
Sure thing, will do. Thanks!

[2022-08-09 18:42] xpkoala opened #7131 "Desktop tray interaction breaks if new install does not include desktop"
**Fleet version**: `main`

**Operating system**: macOS 12.4

**Web browser**:

<hr/>

### 🧑‍💻  Expected behavior
If the Fleet desktop tray icons exist they would work as expected.

### 💥  Actual behavior
If a new version of fleet that does not include `--desktop` is installed over an instance that included `--desktop`, the tray icon buttons become non responsive.

### Reproduce

- Install Fleet de

[2022-08-09 18:48] zhumo commented on #6629
@noahtalerman looking at this, I don't think we should force policies by default without more data to support our choice.

I would prefer the route of prompting users to select policies from our menu if they have none and also tracking which built-in policies they select to see if there are any common ones. I would imagine that's a box on the dashboard with some CTA which opens up the add policies

[2022-08-09 18:48] artemist-work commented on #6697
Were you able to reproduce this? I can't on osquery 5.4.0 or the main branch. Note that your final command is incorrect because the path is supposed to be something like `HKEY_LOCAL_MACHINE\SYSTEM\ControlSet002\Services\ws2ifsl\Parameters`. Something like `HKEY_LOCAL_MACHINE\SYSTEM\ControlSet%\Services%\%\Parameters` works for me.

Note that we can't do wildcards in the hive names (The `HKEY_LOCAL

[2022-08-09 18:50] zhumo commented on #6697
@artemist-work Good point on the version. According to the original post, they had this issue on osquery 4.5. If you're unable to reproduce this on both 5.3 and 5.4, then let's leave this alone.

[2022-08-09 18:52] zhumo commented on #7131
@xpkoala The expected behavior is that if you do not have the `--desktop` flag in an installer, there should be no fleet desktop app (and associated menu bar icon) installed at all.

[2022-08-09 18:53] zhumo commented on #7131
@xpkoala what do you mean by "becomes nonresponsive"?

[2022-08-09 18:54] xpkoala commented on #7131
@zhumo After getting into this state the buttons are still clickable but will no longer redirected the user to the device or transparency page.

[2022-08-09 19:07] artemist-work commented on #6697
Okay, just tested this with 5.3.0 and didn't have any issues so I'll close this out

[2022-08-09 19:07] #6697 closed

[2022-08-09 19:21] noahtalerman commented on #6629
Thanks Mo!

Taking this approach makes sense to me. We would achieve a separate goal of learning which policies folks are using.

@GuillaumeRoss heads up, we'd like to deprioritize this issue. Your suggestion is an improvement over the current **Policies > Add a policy** experience. However, new users today can be successful adding policies by following this **Policies > Add a policy** path.

[2022-08-09 19:41] lukeheath commented on #6610
@noahtalerman I see this issue in the "Designed" column but it's still assigned to you. Should I hold off on adding specs until you've assigned to me?

[2022-08-09 19:44] lukeheath opened #7135 "Add a `display_name` to the `GET /hosts` and `GET /hosts/{id}` API endpoint responses"
## Goal

As a Fleet UI user, I want to see a default display name for hosts that makes the Fleet UI and Fleet product easy to understand and use.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=5930%3A255765

## Related

- #4931 (epic)
- #7136 (blocked)

## Notes

- Search and sort by `display_name` are product requirements.
- Search and sort by `display_name` applies on top

[2022-08-09 19:45] lukeheath opened #7136 "Use new `display_name` property provided by `GET /hosts` and `GET /hosts/{id}` endpoints"
## Goal

As a Fleet UI user, I want to see a default display name for hosts that makes the Fleet UI and Fleet product easy to understand and use.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=5930%3A255765

## Related
- #4931 (epic)
- #7135 (backend)

## Tasks

### 1
- [x] On the **Hosts** page, update the "Hostname" column title to "Host" and update the value displayed in

[2022-08-09 19:51] zhumo commented on #6228
@sharvilshah would you link any relevant PRs and issues to this issue in the main description?

[2022-08-09 20:02] zhumo commented on #6675
Meeting notes with @zwass

- Ubuntu consistently is dark menu bar, so white icon would work
- Windows can dynamically change white icon and dark icon

We can just move forward with that on Ubuntu and Windows.

In the meanwhile, we can also do the red dot, but we need icons for that.

[2022-08-09 20:04] zhumo commented on #5579
Hey @mike-j-thomas When you have a moment, would you make and share the icon here? (The red dot showing that "something's wrong" as shown in the screenshot in the main description)

[2022-08-09 20:11] noahtalerman commented on #6610
@lukeheath thanks for the ping! I assigned the issue to you. It's ready for specs.

I took to take a stab at drafting API changes. Please feel free to provide any feedback or concerns.

[2022-08-09 20:27] noahtalerman commented on #6808
@zhumo will this config option also turn off the `/device/{uuid}/desktop` API route that we're working on in this issue? https://github.com/fleetdm/fleet/issues/6680

[2022-08-09 20:30] noahtalerman commented on #6257
@zwass that's right.

[2022-08-09 20:39] lukeheath commented on #7068
Closing in favor of #7135

[2022-08-09 20:39] #7068 closed

[2022-08-09 20:43] zwass commented on #6257
Yeah I think this is fine. Essentially if they want to "update" they can just create a new one and delete an old one. If you've got a plan for how that will be a more intuitive UX then sgtm.

[2022-08-09 20:46] noahtalerman commented on #5222
@lukeheath heads up, I added the following documentation task to the the issue's description:

[2022-08-09 20:55] lukeheath commented on #6610
@noahtalerman Thanks for drafting the API specs! I noticed the `type` is `created_team`, and the `details` object seems to reflect a new team rather than editing the agent options. Is this intentional? I wanted to check before making changes.

[2022-08-09 21:33] noahtalerman commented on #6610
@lukeheath this is a mistake! Good catch. I think the type could be `edited_agent_options`

I included `global`, `team_name` properties to indicate to the frontend (or user) that either the global agent options were edited or a team's agent options were edited. We can use the `team_name` to display what team had its options changed.

I added the `team_id` because we may, in the future, want to all

[2022-08-09 21:35] lukeheath commented on #6610
@noahtalerman Got it! Thanks for the clarification. I've updated the API specs.

[2022-08-09 22:09] zwass opened #7139 "Tooltip over dropdown in software table"
**Fleet version**: 4.18.0

**Operating system**: macOS 12.5

**Web browser**: Chrome

<hr/>

### 🧑‍💻  Expected behavior

See dropdown explaining EPSS score.

### 💥  Actual behavior

Tooltip comes up over dropdown.
<img width="310" alt="Screen Shot 2022-08-09 at 3 07 25 PM" src="https://user-images.githubusercontent.com/575602/183770560-5fffb87d-66a3-4012-83a1-ae8dbf4603b1.png">

This tooltip seems

[2022-08-10 00:11] mike-j-thomas commented on #5579
@zhumo, do you just need the dot itself (to lay over the Fleet icon), or do you need the whole Fleet icon with the dot connected to it?

[2022-08-10 03:23] #6447 closed

[2022-08-10 05:13] mike-j-thomas commented on #6684
@noahtalerman, @mikermcneil. I have made the Fleet UI home page just a touch sexier. As this concept is labeled "Spiffier" in Figma, I have included (and annotated) features that probably won't make it into v1. Please let me know your thoughts.
https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=8489%3A285565

![fleet-ui-home](https://user-imag

[2022-08-10 13:19] noahtalerman commented on #6610
@lukeheath thanks! I added the frontend and backend labels. It looks like this issue will require UI and API changes.

[2022-08-10 13:33] mna opened #7141 "Ensure async tasks are kept up-to-date with the sync implementation"
Fleet supports a number of asynchronous processing tasks for host-related data, which were implemented as a configurable, optional approach for deployments with many hosts when performance suffered: https://fleetdm.com/docs/deploying/configuration#osquery-enable-async-host-processing

Most of those tasks now have two implementations - one for the sync processing, which typically selects/inserts/up

[2022-08-10 13:35] noahtalerman commented on #6981
### Goal

As a Fleet user, when checking policy compliance for hosts assigned to a team, I would like to check the hosts' compliance with inherited policies as well as any team-specific policies. This would allow me to quickly and easily check on my team's compliance without also needing to switch between global/team views.

Current UI:

<img width="855" alt="Screen Shot 2022-07-29 at 5 35 05 PM"

[2022-08-10 13:46] noahtalerman commented on #6981
@ksatter this is an amazing customer request issue!

I moved your initial description into the above comment here: https://github.com/fleetdm/fleet/issues/6981#issuecomment-1210682981

I updated the issue description with an iterative improvement to the UI to allow the user to achieve their goal.

[2022-08-10 13:53] roperzh commented on #6674
Yes, I think the issue never was related to this but to sandbox.

@xpkoala it might be difficult for you to test this, since you'll need Apple credentials, for what is worth @zwass and myself tested this a couple of times already

[2022-08-10 14:14] lucasmrod commented on #6674
@roperzh

I think that by testing the packages downloaded from a Fleet Sandbox is the proof this is working as expected. (No need for Reed to setup credentials.) What do you think?

[2022-08-10 14:24] zhumo commented on #5579
@mike-j-thomas The whole icon with the dot connected to it, please.

[2022-08-10 14:33] zhumo commented on #6808
Thanks for pointing this out.

Talking through this, the original goal of disabling `/device/{uuid}` is to prevent host data from being sniffed. The drawback, however, is that it would break Fleet Desktop, which we accept. However, we are now making a `/device/{uuid}/desktop` to populate fleet desktop without exposing host-identifying information. This means that in theory, you could shut off the

[2022-08-10 14:49] roperzh commented on #6674
@lucasmrod 👍 I agree, it's not 100% the same as Sandbox is using the Go API, (so not using this image at all) but I'd consider it good enough given the context.

[2022-08-10 14:51] lucasmrod commented on #6674
Ah good point. It does make sense for someone other than you (@roperzh) to test this.

[2022-08-10 14:53] lukeheath opened #7143 "On Home page, update activity feed card to include new activity feed types"
## Goal

As a user, I want to know when agent options are changed so that I can perform an investigation if I see unexpected changes in agent options.

## Requirements

- User can see when, and by who, global agent options were edited.
- User can see when, and by who, a team's agent options were edited.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2

[2022-08-10 15:10] zhumo commented on #7054
Hey @roperzh! When you write the docs describing what this does, “learn more” should link to that section of the docs with the attached utm params: `utm_medium=fleetui&utm_source=sso-settings`. For example, `www.fleetdm.com/docs/article-name#paragraph-name?utm_medium...etc.etc.`. This will help us track usage of the docs.

I also updated the requirements in the main description to match that.

[2022-08-10 15:16] RachelElysia opened #7144 "Fleet UI: Pagination defaults to 20 instead of 100"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

I have 42 queries and 24 policies. I expect pagination on the query page and policies page, maybe to match software page at 20 items.

### 💥  Actual behavior

Default query page

[2022-08-10 15:17] RachelElysia commented on #7144
@xpkoala tagged ya for expected behavior!

[2022-08-10 15:21] roperzh commented on #6674
@zwass also successfully notarized packages using the Docker the image (twice I think)

[2022-08-10 15:22] zhumo opened #7145 "Docs - Configuration Files page does not have TOC as others do"
**Fleet version**: N/A

**Operating system**: N/A

**Web browser**: Chrome

<hr/>

### 🧑‍💻  Expected behavior
When I visit the configuration files page of the docs (https://fleetdm.com/docs/using-fleet/configuration-files), I expect to see on the right hand side a table of contents that helps me navigate the document.

### 💥  Actual behavior
All I see is the top header in the TOC ("Using YAML file

[2022-08-10 15:24] zhumo commented on #7145
@eashaw would this be for you? (@mikermcneil or @mike-j-thomas...?)

[2022-08-10 15:31] RachelElysia opened #7147 "Standard query library import using FleetCTL instructions"
### Goal

TODO

As a user who doesn't use FleetCTL, the standard query library importing using FleetCTL isn't as helpful without instructions linked to how to use Fleet CTL.

### How?
Add a link to Fleet CTL instructions:
<img width="1576" alt="Screen Shot 2022-08-10 at 11 30 02 AM" src="https://user-images.githubusercontent.com/71795832/183945215-a01bb3c3-b49d-4adc-8b69-035f5ba13f5a.png">

- [ ]

[2022-08-10 15:47] zhumo commented on #6227
@michalnicp Is the endpoint we are using as minimal as possible? If we made a new endpoint that just returns a true/false, would that improve things?

Also, good point about the second piece there. I think we can rely on users to click the "refetch" button, so that could be ok. My intent in that point was to make sure that the API is updating rapidly after the user clicks refetch. I've updated the

[2022-08-10 16:07] noahtalerman commented on #5222
Noah: How often are the options within agent_options removed/updated?

We are wondering if there are concerns with using the latest osquery version for validating agent_options in the teams and config YAML.

Potential scenario: user has old version of osquery on a host and the new validation prevents them from applying agent_options (edited).

Zach: The options are not removed often. New ones are

[2022-08-10 16:11] michalnicp commented on #6227
Yes, adding a new endpoint that only returns policy results would probably improve performance.

The API will return the new policy results as soon as the host/endpoint runs the policy queries again and posts new results to fleet. Again, this is based on `FLEET_OSQUERY_POLICY_UPDATE_INTERVAL` https://fleetdm.com/docs/deploying/configuration#osquery-policy-update-interval. There is no caching as fa

[2022-08-10 16:16] lukeheath commented on #5222
@noahtalerman

Sounds like this will modify the requirements for this ticket (add `--force` flag), and likely spawn a new frontend ticket to add a checkbox to enable `--force` with the API request. Would you like to mock up on the frontend change?

[2022-08-10 16:16] eashaw commented on #7145
@zhumo @mikermcneil This is happening because this page only has one h2 heading (`## Using YAML files in Fleet`).
To fix this we need to change the levels of the headings in the Markdown.

[2022-08-10 16:17] lukeheath commented on #5222
@noahtalerman I've added item 7 above to include the `--force` flag.

[2022-08-10 16:25] noahtalerman commented on #5222
@lukeheath correct

More discussion in [Slack (internal)](https://fleetdm.slack.com/archives/C03B7K2MSNS/p1660147971981439?thread_ts=1660146609.170179&cid=C03B7K2MSNS)...

Noah: I think we can get away without a  `--force` equivalent in the UI in the first pass. What do you think? My thinking is that most folks who know what they’re doing will be using fleetctl.

Zach: Yeah fair enough, as long as

[2022-08-10 16:28] mikermcneil commented on #7145
@chris-mcgillicuddy could you take this one?

[2022-08-10 16:46] lukeheath commented on #5222
Makes sense!

[2022-08-10 17:05] xpkoala commented on #6674
Thanks for the assistance on this!

[2022-08-10 17:14] noahtalerman commented on #5222
@lukeheath thanks for adding `--force` to specs!

Heads up, now that we have a plan, I removed this from the issue description:

[2022-08-10 17:22] zhumo commented on #6227
@michalnicp just to confirm, even when the user clicks "refetch" in their "my device" page, it will not be updated in the API near-immediately. Instead it will still update as per `FLEET_OSQUERY_POLICY_UPDATE_INTERVAL`?

[2022-08-10 17:45] noahtalerman commented on #3906
The following is from the [Base Resource Spec Proposal: LinuxUserComputer: FleetDM (internal)](https://docs.google.com/document/d/1THQPrZH5BLMr8d-5CKyUsYsWEIkvaWd3o_a_xd2LpQY/edit#) shared by the prospective customer:

![Image](https://user-images.githubusercontent.com/47070608/183980165-7fc08e05-9a7a-4244-af1e-b807e6c28a15.png)

In this pass, I'd like to only surface the `encrypted` true/false as

[2022-08-10 17:46] noahtalerman commented on #3906
@GuillaumeRoss to determine the `encrypted` true/false, do you think Fleet can use (with slight modifications if needed) the queries for the Full disk encryption enabled policies?

macOS: `SELECT 1 FROM gatekeeper WHERE assessments_enabled = 1;`

Windows: `SELECT 1 FROM bitlocker_info where protection_status = 1;`

Linux: `SELECT 1 FROM disk_encryption WHERE encrypted=1 AND name LIKE '/dev/dm-1';`

[2022-08-10 17:48] mna commented on #6732
I ran a load test for the backend data ingestion part (making sure the ingestion could properly handle the new `mobile_device_management_solutions` table and `mdm_id` in `host_mdm`, etc.), with 60K hosts all look good, no obvious impact on usage. Here are the screenshots of the metrics (the `update host_mdm`  statement does show up as last in "Top SQL" but its impact is still very small).

![MDM-6

[2022-08-10 18:40] lukeheath opened #7149 "Evaluate current usage of `cy.wait()` in our E2E test suite"
### Goal

Determine if our current usage of `cy.wait()` is necessary, and if not, what is a better alternative?

The concern we have is that `cy.wait()` is arbitrary and can cause flakiness with our E2E test suite. We previously worked to remove all `cy.wait()` instances, but recently they have started showing up in our tests again. Is this acceptable?

We should determine in what cases `cy.wait()

[2022-08-10 19:25] michalnicp commented on #6227
correct

[2022-08-10 19:26] DominusKelvin commented on #6284
@zhumo does this tooltip work for you?
![Image](https://user-images.githubusercontent.com/24433274/184003085-235dd8b8-357b-4e6f-9b20-c5162a369e97.png)

[2022-08-10 19:26] zhumo commented on #6284
@DominusKelvin Looks great!

[2022-08-10 19:27] xpkoala commented on #7144
I can't seem to find an old ticket or Figma page that mentions the pagination limit on the query and policy page. I would agree that keeping them consistent with the software page at 20 is the best solution.

cc @noahtalerman in case this was already specced and missed.

[2022-08-10 19:29] mikermcneil opened #7151 "Hide double-tooltip when hovering over When hovering over columns throughout UI"
**Fleet version**: Fleet 4.18.0

**Operating system**: Any

**Web browser**: Any

<hr/>

### 🧑‍💻  Expected behavior
When hovering over any column header that has a custom tooltip, I expect to see that tooltip only.

### 💥  Actual behavior
Instead, the `title="foo"` attribute causes an additional popup to appear.

Easiest solution: remove `title` from the column header HTML.

[2022-08-10 19:30] xpkoala commented on #7144
If this wasn't specified previously it would technically not be considered a bug, but I think it's worth prioritizing to improve the user experience and keep pagination consistent between similar screens.

[2022-08-10 19:30] chris-mcgillicuddy commented on #7145
@mikermcneil Sure thing!

[2022-08-10 19:30] DominusKelvin commented on #6284
Great. PR opened @zhumo

https://github.com/osquery/osquery-site/pull/259

[2022-08-10 19:41] noahtalerman commented on #7079
Noah's musing:

There's a couple problems hidden within the goal of "targeting groups of computers":
1. There's no way for me to see a report that includes the latest results my computers returned for a query in the UI. This alienates users that just want the results without having to write or run a query. This also alienates users that can't follow today's best practice on their own.
- Today, the

[2022-08-10 19:49] zhumo commented on #6227
ok thanks. I think this is gonna be a UX problem in order for us to enable zero trust. A user should be able to fix their policies and then get going with their work ASAP. Shouldn't have to wait. The wait makes this not make sense, I think. Thank you for raising this. It's good that we surfaced this before going in on it.

cc: @zwass

[2022-08-10 20:09] juan-fdz-hawa opened #7153 "The build instructions are not working as expected on Windows"
**Fleet version**:  Any

**Operating system**: Windows

<hr/>

### 🧑‍💻  Expected behavior
Running `make generate` and `make` should work as expected.

### 💥  Actual behavior
The filepath separator used in the `prefix` target is not compatible with Windows so it throws an error. Also, the `prefix` target is not idempotent (running `make generate` again throws an error because the directories alread

[2022-08-10 20:14] noahtalerman commented on #6684
Thanks @mike-j-thomas. This looks great.

Feedback/comments:
- Does this video exist already? If so, what is the link for the video? I think we can update the dev note with this link. Also, I really like the idea of showing the YouTube video in a modal. What do you think about cutting this for now and instead opening a new tab with the Youtube video so that we can ship this quicker?
![Screen Shot

[2022-08-10 20:25] zwass commented on #6227
My understanding of refetches differs from @michalnicp. Policies are checked on refetch.

Check out this demo: https://www.loom.com/share/9ae338f41e8e4e7d89cfdfb1b848adfc

[2022-08-10 20:50] michalnicp opened #7155 "Add ability to configure urls when downloading using fleetctl vulnerability-data-stream"
### Goal

When downloading feeds using `fleet` with `FLEET_VULNERABILITIES_DISABLE_DATA_SYNC=false`, you can customize where the CPE database, CPE translations, and NVD CVE feeds are downloaded from by setting additional configuration options. `fleetctl vulnerability-data-stream` should expose the same configuration options via flags, as it is meant as a replacement when using `FLEET_VULNERABILITI

[2022-08-10 21:08] RachelElysia opened #7156 "Fleet UI: Queries table column widths"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Platform column to not have a bunch of dead space while Query name is truncated

### 💥  Actual behavior

Query name column is small relative to platform column causing truncated

[2022-08-10 22:22] juan-fdz-hawa commented on #6588
No QA needed for this issue.

[2022-08-10 22:36] mike-j-thomas commented on #6684
@noahtalerman,

I'm ok with that. Working on the video now. It will be ready this week.

Yes. Sorry, I meant to add a note. I'm ok with waiting on this too.

and

Ok! 👍🏻

[2022-08-10 23:25] chris-mcgillicuddy commented on #7145
PR has been created https://github.com/fleetdm/fleet/pull/7158.

[2022-08-11 02:37] edwardsb commented on #6568
@mikermcneil @eashaw enabled Preboot and we kicked a website deploy, never noticed any downtime and we were both spamming the refresh button. Seems like it might have been the winning ticket.

[2022-08-11 02:57] mikermcneil commented on #6568
🙌 Nice!

@eashaw @zwass @mna @edwardsb I wrote a thorough comment with a caveat about what this means for Postgresql migrations on fleetdm.com... and then my phone battery died.  And unfortunately, looks like GitHub's magic localstorage stuff doesn't work on mobile web in that situation 😭 .

So instead, I'll just summarize to say that, everything is probably just fine as far as migrations most of

[2022-08-11 03:25] mikermcneil commented on #6568
Tested one more time when merging https://github.com/fleetdm/fleet/pull/7157/files and verified there was no more noticeable downtime.  🙌

Logs from the build: https://github.com/fleetdm/fleet/runs/7779780730?check_suite_focus=true

fyi @edwardsb @erikng I am noticing that it seems to take a bit longer for changes to go live now.  (≈7 minutes).  I think this is a worthwhile trade-off to completely

[2022-08-11 04:20] mikermcneil opened #7162 "Bug: extra scrollbars on left and right side navs"
## Goal

[public] [bug] Weird extra scrollbars on left and right side navs appearing on http://fleetdm.comfleetdm.com> doc pages, likely related to sticky/unsticky header logic.  To recreate, scroll around on https://fleetdm.com/docs/using-fleet/rest-api and you'll see it.

<img width="1516" alt="image" src="https://user-images.githubusercontent.com/618009/184064239-55064ca3-9ea9-479d-920f-5626523

[2022-08-11 04:23] #6568 closed

[2022-08-11 04:48] erikng commented on #6568
Guessing you didn't mean to ping me but good job everyone :)

[2022-08-11 05:06] mikermcneil commented on #6568
My bad.  Thanks for the heads up!

@eashaw I mentioned the wrong Erik above 😆

[2022-08-11 15:02] noahtalerman commented on #7079
Customer 1:  Hosts are tagged and we instruct Osquery to read these tags to create labels such as hosts in certain datacenters, hosts part of certain services, cloud, on-prem, osquery verison

Customer 1: I would love to see the feature in which a label is automatically created as the result of query. Example query:

[code]

Problem 1: It takes too much work to only run certain queries on hosts ba

[2022-08-11 15:02] noahtalerman commented on #7079
[code]

[code]

[2022-08-11 15:03] noahtalerman commented on #7079
Customer 1:  Hosts are tagged and we instruct Osquery to read these tags to create labels such as hosts in certain datacenters, hosts part of certain services, cloud, on-prem, osquery verison

Customer 1: I would love to see the feature in which a label is automatically created as the result of query. Example query:

[code]

Problem 1: It takes too much work to only run certain queries on hosts ba

[2022-08-11 15:48] #4316 closed

[2022-08-11 15:51] xpkoala commented on #5400
@asterisk800 I'm going to close this ticket for house keeping purposes. If you are still encountering this issue please feel free to re-open this ticket with any new information you think would be relevant. Thank you!

[2022-08-11 15:51] #5400 closed

[2022-08-11 16:02] xpkoala opened #7164 "Improve QA template"
### Goal Improve per release QA testing template

TODO

- Add testing new setup flow locally (not fleet preview) (has been done for 4.14, but need to update the QA template)
- Make db-reset (is the command to reset the db needed to test setup)
- Add invalid auth testing, submit window.localStorage.setItem('FLEET::auth_token', 'fake');
- @ DRI in #g-sales to confirm it’s OK to push to Dogfood at th

[2022-08-11 16:35] zwass commented on #6950
I manually installed an extension just to be sure, and it's definitely not working on macOS 12.5. Tested with osquery running as both user and root (with join to users table).

@sharvilshah any ideas about what changed?

[2022-08-11 16:40] noahtalerman commented on #7155
@michalnicp it looks like a user is able to customize these settings today using existing configuration options. Is my understanding, correct?

Do we know if there's anyone who is unable to customize these settings without the adding the flags?

@lukeheath if a user is already able to customize these settings today, I think it makes sense to de-prioritize this issue (adding the flags).

[2022-08-11 16:43] xpkoala commented on #5542
@chiiph I'm going to attempt reproduction of this today, if this issue is still occurring we would like to get this issue prioritized for release.

[2022-08-11 16:47] xpkoala commented on #5633
@RachelElysia Will this be fixed with the spinner refactor work you have been working on or is this a separate issue? If this will be fixed can this be moved over to QA column?

[2022-08-11 16:51] RachelElysia opened #7166 "Fleet UI: Order policies by number of failing hosts/failing"
### Goal

TODO

As a Fleet user on the Manage Policies Page, I might want to order my policies based on number of failing hosts so I can better tend to those hosts failing those policies.

As a device user on My Device Page, I might want to order my policies with the failing policies on top so I can better tend to those policies I'm failing.

### How?

<img width="1527" alt="Screen Shot 2022-08-11

[2022-08-11 16:54] xpkoala commented on #5082
@chris-mcgillicuddy Would you be able to take a look at this one? Thank you!

[2022-08-11 16:55] xpkoala commented on #5082
Apologies, this is fixed!

[2022-08-11 16:58] xpkoala commented on #5999
@eashaw Is this a bug discovered using a physical iPhone or using dev tools on the Chrome browser to simulate an iPhone? I am not able to reproduce the issue with the latter method (Chrome browser + iPhone emulation).

[2022-08-11 17:24] noahtalerman commented on #4805
@GuillaumeRoss we decided to deprioritize this improvement.

Reasoning:
- While it's risky to expose our enroll secret in demos and blog posts, we don't want to sacrifice the user's experience to lessen this risk.
- Soon we'll introduce the ability to download installers. We don't want to invest more time in thinking through how we can lessen the risk and maintain a good experience.

In the curren

[2022-08-11 17:25] michalnicp commented on #6227
Yes, I wasn't aware of the refetch requested flag on hosts. The update would still depend on the `distributed_interval` interval which defaults to 10s. Therefore, we would expected the policies to be updated around that time as well.

[2022-08-11 17:57] noahtalerman commented on #4512
Moving the following research out the issue's description:

## Notes

There seem to be a _software/vulnerability-first_ and a _device-first_ approach to achieving the above.

In Q2 2022, Fleet will focus on improvements that address the software/vulnerability-first approach.

### Software/vulnerability-first

Organizations with the resources for a robust process of managing vulnerabilities seem th

[2022-08-11 17:57] zwass commented on #6885
This was deprecated in 2015? https://blog.mozilla.org/addons/2015/05/04/dropping-support-for-binary-components/

If so, I think we can remove it.

[2022-08-11 17:59] lukeheath commented on #7155
@noahtalerman Agreed if this can be set via other configuration options I think we can de-prioritize for now. I'll add the `:engineering` label so we can find it later.

@michalnicp If you feel that it's important this is prioritized let us know and we'll be happy to re-evaluate.

[2022-08-11 18:03] RachelElysia opened #7171 "Fleet UI: Switching teams should reset manage host page's page number to 1"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

I am on Team Rocket page 6 of manage host page. I go to Team Instinct which only has 2 pages of hosts. I expect to see my Team Instinct hosts.

### 💥  Actual behavior

I see an e

[2022-08-11 18:03] RachelElysia commented on #7171
@xpkoala tagged ya to reproduce and prioritize!

[2022-08-11 18:19] michalnicp commented on #7155
You can customize it in `fleet`, but not in `fleetctl`.

[2022-08-11 18:44] zwass commented on #6916
There is no attempt made to get this info on Windows. See code: https://github.com/osquery/osquery/blob/master/osquery/tables/system/windows/smbios_tables.cpp#L160-L195

I took a look at what WMI makes available and don't see any corresponding values. Makes sense to me to change it to extended schema. Who can take that on?

[2022-08-11 19:51] lucasmrod commented on #7109
Hi @sharvilshah.

We've discussed a way in which Fleet could match an Orbit instance and its child osqueryd instance (basically to determine if both instances are coming from the same host).

Osquery enroll API is of the following form:
[code]
Fleet stores the `host_identifier` as `hosts.osquery_host_id` in MySQL. (And that's how Fleet identifies the host in case of e.g. re-enroll.)

Orbit always

[2022-08-11 20:11] noahtalerman commented on #5627
@RachelElysia thanks for catching this! This issue is prioritized. I added this issue to the Roadmap board for mocks.

[2022-08-11 20:51] chris-mcgillicuddy commented on #6971
@mike-j-thomas, my pass at new homepage content is ready for your review. I'd love to hear you thoughts about the "solve endpoint mysteries" concept, as well as the new content (stats, quotes, CTAs, etc.).

https://docs.google.com/document/d/1CPKopkLjiFGcYylN0lkjGIT1NqKmhu8Ut2MENJZgTUI/edit?usp=sharing

[2022-08-11 21:14] chris-mcgillicuddy opened #7173 "Update Platform page"
### Goal

Update the title and content of the Platform page to better educate prospect who visit fleetdm.com. The current content seems to be a mix of use cases and a product page. Let's make Platform a true product page focused on Fleet's features.

### How?

- [ ] Identify the features to explain
- [ ] Write content that fits the current layout as much as possible
- [ ] Ask stakeholders to revie

[2022-08-11 21:44] noahtalerman opened #7175 "In docs, update query packs references to Teams + Schedule"
UPDATE: The "Combine schedule and query features" issue was deprioritized: #7765

I moved these documentation items that are blocked by this feature to the following issue: #7765

(noahtalerman 2022-11-03)

### Goal

In the Fleet documentation and articles, replace references to query packs with references to Teams and Schedule features so that anyone visiting the docs sees that "Teams" are best p

[2022-08-12 01:37] mike-j-thomas commented on #5045
@zhumo,

Unless it significantly impacts dev time, I think the legend should be dynamic. It's confusing to see, for example, "Defaults to root" if does not relate to a column in the table with the icon. Without proper context, or if a user is unaware that these icons appear in the columns of certain tables, they may infer that the whole table defaults to root. Especially a beginner.

I agree, base

[2022-08-12 03:14] mike-j-thomas opened #7180 "Website: Side nav positions in docs (relates to sticky masthead)"
Since we added the top banner CTA, the logic for the side-nav position needs to take the height of the banner into account as the page scrolls.

https://user-images.githubusercontent.com/78363703/184278373-54f5c0c9-1519-4d1c-8555-c73bfdfb1245.mp4

[2022-08-12 06:21] mike-j-thomas commented on #6839
I'm closing this as Juan's article has already been published. https://fleetdm.com/engineering/linux-vulnerability-detection-with-oval-and-fleet .

[2022-08-12 06:21] #6839 closed

[2022-08-12 12:38] #7122 closed

[2022-08-12 13:41] noahtalerman commented on #6429
@lukeheath I don't see (5) and (6) above in #6499. Are these requirements covered in a separate issue? Or, should I add these to #6499 and let Gabe (assigned to #6499) know?

[2022-08-12 14:04] noahtalerman commented on #7144
@lukeheath agreed. I think this is worthwhile.

Great find @RachelElysia. I love how you're always looking out for our users ✨

[2022-08-12 14:29] xpkoala commented on #7098
It looks like the redirect is working, but the page itself is not what I was expecting. @lukeheath

![Image](https://user-images.githubusercontent.com/11012743/184375444-1a42fadf-f8bb-4be6-b9c1-626005a7a9b2.png)

[2022-08-12 15:06] zhumo opened #7183 "Create script which runs basic SQL query on all mac tables and stores results"
### Goal

We want a script that runs the bare minimum `SELECT * FROM table` query for all tables on Mac,
so that we can run it for new versions of different software and then compare the outputs to run validations.

### Requirements
- run `SELECT * FROM table` for all tables EXCEPT
  - where tables have constraints (include WHERE clause for the constraint)
  - where tables have user-specific requi

[2022-08-12 15:17] zhumo opened #7184 "Identify differences between osquery results on MacOS 13 and MacOS12"
### Goal
We want to identify differences between osquery behavior on MacOS 13 and MacOS 12 (if any) so that we can inform our users of ifs and buts. We do not have to have fixed it, but we should have answers as to any caveats. For reference, MacOS 13 comes out Mid-Sept.

### Requirements
- Run the script written in https://github.com/fleetdm/fleet/issues/7183 on both macos 13 and macos 12
- Take

[2022-08-12 15:41] CharlotteChance commented on #6571
@mike-j-thomas Is this ready to close?

[2022-08-12 15:41] CharlotteChance commented on #6684
@mike-j-thomas is this ready to close?

[2022-08-12 15:42] zhumo opened #7186 "Low latency API endpoint to check a user's policy compliance to enable Zero Trust"
### Goal

Customers need a low-latency, scalable, and rapidly-updated API route that that tells them which policies are passing and failing for a particular host. This enables Zero Trust use cases. Under a Zero Trust regime, the customer's identity provider will be pinging this API frequently to ask it whether the user is in compliance. Thus, the endpoint must be:
* low-latency so that this ping w

[2022-08-12 15:44] gillespi314 opened #7187 "Refactor host software filter to use inner join"
@juan-fdz-hawa, good eye! The inner join seems much cleaner according to EXPLAIN. It looks like the software filter above may have a similar issue?

_Originally posted by @gillespi314 in https://github.com/fleetdm/fleet/pull/7154#discussion_r943662658_

[2022-08-12 15:53] chris-mcgillicuddy commented on #7145
PR has been merged. The Configuration files doc now has a table of contents like other docs.

[2022-08-12 16:25] lukeheath commented on #6429
@noahtalerman Thanks for calling this out! Those items got missed in the spec. I've added them in. No need to let Gabe know because he has not started on this yet.

[2022-08-12 16:25] lukeheath commented on #7098
Per our conversation on Zoom, this page will be added by Eric's website PR.

[2022-08-12 16:28] #6571 closed

[2022-08-12 16:29] mike-j-thomas commented on #6684
@noahtalerman, are we good to close this? Are you tracking this on your board?

[2022-08-12 16:33] lukeheath commented on #6732
@mna During implementation on the frontend, @RachelElysia pointed out that we have one additional requirement on the backend to fully implement this issue. I've added the new spec as item 6 in the description above.

On Monday, would you please prioritize adding this spec, and ask that the review process be expedited on the backend? We need to get that in so Rachel can finish the frontend and get

[2022-08-12 17:58] noahtalerman commented on #6434
@erikng if I recall correctly, you said that this would be the most valuable MDM issue to start with:
- Know if/when a user deletes an MDM certificate.

Do you know of any osquery queries that could help us grab this information? This way Fleet could add this info to the Fleet API/UI.

[2022-08-12 18:02] noahtalerman commented on #6530
Nice!

@zwass can you tell if there's a piece of info that would let us know this is the 1 MDM solution that the Windows device is currently enrolled to?

In your screenshot, it looks like there's several MDM solutions under `Enrollments`.

@defensivedepth tagging you here. I think you might be able to give us some leads to help answer my question.

[2022-08-12 18:04] zwass commented on #6530
When I looked, the other "Enrollments" seemed to be empty. I think we probably just pick the first 1 that has data for `ProviderID`.

[2022-08-12 19:50] xpkoala commented on #6423
@lucasmrod The PR mentioned this would be looked re-prioritized soon but it was not included on any boards. Do you have any insights if this can be addressed in v4.20?

[2022-08-12 19:56] xpkoala commented on #6553
@roperzh Do you have a reliable way to reproduce this issue? I have not been able to reproduce it locally. Is this something that needs more investigation before fixing?

[2022-08-12 20:06] roperzh commented on #6553
@xpkoala I just tried again a couple of times and I can consistently reproduce in my machine by going to `https://dogfood.fleetdm.com/device/<token_redacted>` and clicking on "Refetch"

![image](https://user-images.githubusercontent.com/4419992/184434493-826ebe4f-42d7-4587-84b9-4bd505792e71.png)

After a while the tray icon just disappears for a bit (while Fleet desktop restarts). Here are the det

[2022-08-12 20:14] zhumo commented on #5045
@mike-j-thomas

Makes sense to me. Let's go with that.

That search functionality makes a lot more intuitive sense now, even with one-glance. Awesome!

[2022-08-12 20:23] erikng commented on #6434
It's probably going to take a few things.

Check the mdm profile plist settings to get the certificate name.

Check the user and system keychains for the presence of that cert.

[2022-08-12 20:24] xpkoala commented on #6915
@mike-j-thomas Do you have a preference on the cancel buttons having the underline when being hovered over?

[2022-08-12 20:26] xpkoala commented on #6085
@benatsb I'm going to close this issue for now. If you are still encountering issues please feel free to re-open this ticket with any new information about the problem. Thank you!

[2022-08-12 20:30] xpkoala commented on #7003
I have seen similar issues when the only Mac host on Fleet is removed and the MDM card still shows 1 enrollment. This sounds like it's potentially a backend issue? @lukeheath Do you have any guidance on this?

![Screen Shot 2022-08-12 at 3 29 42 PM](https://user-images.githubusercontent.com/11012743/184439309-2d1fc4d9-b733-49cd-8d86-512a39680e79.png)

[2022-08-12 20:54] noahtalerman commented on #7065
Thanks @RachelElysia! This was something missed during design.

We updated the issue title and added to the [Product office hours doc](https://docs.google.com/document/d/1mwu5WfdWBWwJ2C3zFDOMSUC9QCyYuKP4LssO_sIHDd0/edit#) to see if we can prioritize this improvement.

[2022-08-12 21:39] lukeheath commented on #7003
@xpkoala @RachelElysia Yep, this is because of the one hour delay between cron jobs which is when the worker process builds out all our aggregate counts. This is a unknown process and expected behavior. I'm assigning this over to @noahtalerman so that he can determine if any product adjustments are needed to communicate this process more clearly.

[2022-08-12 21:43] #7098 closed

[2022-08-12 23:40] KanchiMoe opened #7196 "Labels truncated silently rather than showing an error message"
**Fleet version**: main

**Operating system**: main/sandbox

**Web browser**: Firefox 103.0.2 (64-bit)

<hr/>

### 🧑‍💻  Expected behavior

When adding/editing a label that is more than 256 characters, an error message should show saying that it isn't accepted or truncated.

### 💥  Actual behavior

The sandbox says

but because there are over 256 characters, it silently errors and truncates and thi

[2022-08-13 00:33] eashaw commented on #6632
This issue was for updating a vulnerable package in our database adapter `sails-postgresql`

This has been completed with the release of `sails-postgresql@5.0.0` and this PR(https://github.com/fleetdm/fleet/pull/6780) that updates the version we're use on fleetdm.com.

[2022-08-13 00:33] #6632 closed

[2022-08-13 00:33] eashaw commented on #6607
closed by #6695

[2022-08-13 00:33] #6607 closed

[2022-08-13 00:34] eashaw commented on #6213
Closed by https://github.com/fleetdm/fleet/pull/7177

[2022-08-13 00:34] #6213 closed

[2022-08-13 00:35] eashaw commented on #7030
closed by https://github.com/fleetdm/fleet/pull/7063

[2022-08-13 00:35] #7030 closed

[2022-08-13 00:37] eashaw commented on #7008
closed by https://github.com/fleetdm/fleet/pull/7046

[2022-08-13 00:37] #7008 closed

[2022-08-13 00:38] #7180 closed

[2022-08-13 18:21] defensivedepth commented on #6530
Yes, I think something like this would work:

`select key,data from registry where path like 'HKEY_LOCAL_MACHINE\Software\Microsoft\Enrollments\%\ProviderID';`

![image](https://user-images.githubusercontent.com/954732/184506126-734f615a-966b-4572-b72c-bb3b70781dee.png)

[2022-08-13 21:33] xpkoala opened #7197 "Navigating to newly enrolled host too quickly causes 500 error"
**Fleet version**: 4.18+

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
Clicking on a newly enrolled host would take the user to the host details page (/hosts/<#>)

### 💥  Actual behavior
If the host details page is accessed too quickly the user is shown a 500 error.

### More info
This was found by @zwass on Sandbox but is reproducing with fl

[2022-08-14 16:27] xpkoala commented on #5285
This has been fixed.

[2022-08-14 16:27] #5285 closed

[2022-08-14 17:52] xpkoala commented on #5984
Hi @Piyush1786, are you still having difficulty with fleetctl preview or with the ability to download certificates from the Fleet UI? If so are there any other logs or images you can provide to help with debugging the issue?

I am currently not able to reproduce either of the issues you have mentioned. Thanks!

[2022-08-15 06:07] mike-j-thomas commented on #6915
@xpkoala We don't need the underline, thanks.

[2022-08-15 13:39] noahtalerman commented on #6962
@lukeheath it looks like the following, new issue is a related: #7197

From the new issue:

If Zach's guess is correct, I think it's worth asking the following questions before updating the UI (adding a loading spinner or adding a message):
- What `updated_at` value is the frontend trying to display? Is this the right `updated_at` value? If no, then using a different value might resolve the issue.

[2022-08-15 13:46] noahtalerman commented on #6684
Hey @mike-j-thomas I think we can leave this issue open. I assigned myself to this issue and removed it form the digital experience board.

[2022-08-15 14:25] roperzh opened #7199 "Validate email addresses when creating users"
**Fleet version**: fleet-v4.18.0-123-gb784cd471

<hr/>

### 🧑‍💻  Expected behavior

Emails are validated in the server-side.

### 💥  Actual behavior

I was able to create an account through the API using an invalid email address:

[code]

### More info

https://github.com/fleetdm/fleet/pull/7182 introduced email validation for the SSO JIT flow, we can use the same function to validate other flows.

[2022-08-15 14:37] zwinnerman-fleetdm commented on #7028
also assignin @rfairburn since I know he was working on this issue.

[2022-08-15 14:39] mna commented on #6732
@lukeheath @chiiph Allright so I implemented the last (6th) bullet, one thing to keep in mind is that for now I haven't implemented any cleanup logic of the new `mobile_device_management_solutions` table (we probably expect a low number of rows, as it will only create one per different mdm `server_url` value, I'm guessing a few dozen at most per organization but I may be wrong?).

AFAICS, there is

[2022-08-15 14:41] rfairburn commented on #7028
Does `aws ec2 describe-instances --region=us-east-2 | jq -r '.Reservations[].Instances[] | select(.State.Name == "running") | select(.Tags[] | select(.Key == "ansible_playbook_file") | .Value == "elasticsearch.yml") | "http://" + .PrivateIpAddress + ":5601/app/apm"'` work over the VPN?  `https://<workspace>.loadtest.fleetdm.com:5601/app/apm` or `https://loadtest.fleetdm.com:5601/app/apm` would req

[2022-08-15 14:45] rfairburn commented on #7028
The one-liner also exists at https://github.com/fleetdm/fleet/tree/main/infrastructure/loadtesting/terraform#monitoring-the-infrastructure for ease of finding

[2022-08-15 15:26] mna commented on #6961
@lukeheath

I presume that - as for mdm_id in #6732  - when this filter is provided we will add a `munki_issue` top-level key for the corresponding issue id, right? The response would look something like:

[code]

[2022-08-15 15:37] #7145 closed

[2022-08-15 15:43] lukeheath commented on #6961
@mna Yes, thanks for calling that out. I've updated the specs to reflect adding the `munki_issue` object to the hosts response.

[2022-08-15 15:47] sharvilshah commented on #6950
Looks like the what we know as Safari Extensions are deprecated, and there is now "Safari App Extension"

https://developer.apple.com/documentation/safariservices/safari_app_extensions/converting_a_legacy_safari_extension_to_a_safari_app_extension?language=objc

These seem to live within the .app bundle itself: for me the 1Password one is located at `/Applications/1Password 7.app/Contents/PlugIns/

[2022-08-15 15:51] gillespi314 opened #7202 "Improve Cypress tests for macOS and Windows hosts"
This ticket tracks pages/features where Cypress tests need to be improved/backfilled with more robust test data for macOS and Windows hosts. The list below can be supplemented as additional items are identified.

Dashboard operating systems card (see #6499):
- Tables display expected row values depending on team and platform selected
- "View all hosts" links to the manage hosts page with the appro

[2022-08-15 15:54] zhumo opened #7203 "Feature flags: Controlled rollout of Fleet features by host"
### Goal
We want to allow users to do canary rollouts for their features so that they can test it out for their install base before committing to a full rollout. This allows our users to validate scalability, usability, and impact of various features.

### Requirements
Implement the controlled rollout as described in:
- https://github.com/fleetdm/fleet/pull/6221
- except exclude platform- and team

[2022-08-15 16:02] zhumo opened #7204 "Feature flags: Controlled rollout of Fleet features by platform"
### Goal

We want to allow users to do canary rollouts for their features so that they can test it out for their install base before committing to a full rollout. This allows our users to validate scalability, usability, and impact of various features.

### Requirements
Implement the controlled rollout as described in:
- https://github.com/fleetdm/fleet/pull/6221
- except exclude platform- and tea

[2022-08-15 16:03] noahtalerman commented on #6838
@zhumo I propose updating `host_settings` to `features` in the `config` (global) and `teams` YAML documents.

This way, the YAML document clearly communicates that this is location for turning on/off features at the global and team level.

I also propose that the interaction between `features` specified at the team level, and `features` at the global level matches this interaction for `agent_optio

[2022-08-15 16:05] xpkoala opened #7206 "Slow download of installers on Sandbox instances"
**Fleet version**: Sandbox

**Operating system**:

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior
Host installers start downloading in <5 seconds.

### 💥  Actual behavior
Installer downloads hanging for >30 seconds.

### More info
https://fleetdm.slack.com/archives/C03AZLN3C79/p1660578503291829

@roperzh: Packages are signed and notarized as part of the sandbox provisioning phase, so by t

[2022-08-15 16:16] zhumo commented on #6838
@noahtalerman

Makes sense to me, but to clarify, we want to still support `host_settings` as an undocumented alias, so as to support backwards compatibility?

I know what you mean here, but I would rephrase it as:
* When a new team is created, the new team takes a snapshot of the global config
* The team ignores the global config and only applies the team config
* This means that if a change is m

[2022-08-15 16:34] zhumo opened #7208 "Enable JIT user provisioning option via `fleetctl serve -c path/to/config.yml`"
### Background

As part of testing for JIT user provisioning, we found that `fleetctl serve -c /path/to/config.yml` does not respect the JIT user provisioning option, but `fleetctl apply path/to/config.yml` does.

### Requirement
You should be able to apply JIT user provisioning settings as part of `fleetctl serve -c`.

### Parent
- https://github.com/fleetdm/fleet/issues/2008

[2022-08-15 16:37] zhumo commented on #7203
We de-prioritized this in favor of just doing controlled rollout by teams. Teams is the recommended way to conduct a controlled rollout. Specifically, we recommend you have a canary team and a sandbox team.

[2022-08-15 16:38] zhumo commented on #7204
De-prioritized this in favor of controlled rollout in favor of teams only.

[2022-08-15 16:39] zhumo commented on #6838
@chiiph Please take a look at the description above. We did decide to cut platform and host for now. We want teams to be the primary method of targeting groups of hosts.

[2022-08-15 16:39] gillespi314 opened #7209 "Error state for policies filter if policy does not exist"
Currently if a user tries to navigate to the hosts page using a URL with a non-existent `policy_id` query param, the policies filter button appears without a name.

hosts/manage/?order_key=hostname&order_direction=asc&team_id=2&policy_id=999999&policy_response=passing:

<img width="1529" alt="Screen Shot 2022-08-15 at 11 29 02 AM" src="https://user-images.githubusercontent.com/73313222/184676905-3

[2022-08-15 17:04] zhumo commented on #6284
has been merged and deployed
<img width="829" alt="image" src="https://user-images.githubusercontent.com/5359586/184681381-2a63451c-c3e0-4e26-a12b-4755b346838a.png">

[2022-08-15 17:04] #6284 closed

[2022-08-15 17:04] mikermcneil commented on #7206
[Reed Haynes](https://app.slack.com/team/U02T8MRDMGD)
  [1 hour ago](https://fleetdm.slack.com/archives/C03AZLN3C79/p1660578834739669?thread_ts=1660578503.291829&cid=C03AZLN3C79)
Did the download eventually go through? If this is specific to the mac installer I believe this is caused by the notarization or signing process.  @lucasmrod  does that sound correct?

[roberto](https://app.slack.com/team

[2022-08-15 17:11] mikermcneil commented on #7206
fyi @timmy-k @zhumo @noahtalerman This is a blocker for the public launch of Fleet Sandbox planned for early this week.

Why?  If downloading an installer takes this long, users will probably:
- try refreshing and downloading again before it finishes (I did)
- it will probably take just as long the second time (it did)
- if they don't wait (I didn't at first), they will assume Fleet is broken
- if

[2022-08-15 17:22] mikermcneil commented on #7206
Correct.

The user gets appropriate feedback that it is downloading

@zhumo I don't know the answer to this one.

[2022-08-15 17:23] zhumo commented on #7206
@xpkoala @roperzh How big is this file?

[2022-08-15 17:24] mikermcneil commented on #7206
@zhumo To test, you can download an installer using Fleet Sandbox (it is live and available on fleetdm.com, the link just isn't pointed to from anywhere else on the site yet: https://fleetdm.com/try-fleet/register)

<img width="268" alt="image" src="https://user-images.githubusercontent.com/618009/184684563-63bc2cea-adc2-4445-bafa-4184fc39e3cb.png">

[2022-08-15 17:28] xpkoala opened #7210 "Logging out of Sandbox puts user in strange state"
**Fleet version**: Sandbox

**Operating system**:

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior
When a user logs out of Fleet Sandbox, the user is also logged out of the Fleet website (fleetdm.com).

### 💥  Actual behavior
The user stays logged into the Fleet website.

This means that when navigating to their Fleet Sandbox instance, the user is already signed in.

### More info

Video o

[2022-08-15 17:35] xpkoala opened #7211 "After logging out of Fleet Sandbox, user should not be able to reach /login page in the Fleet UI"
**Fleet version**: Sandbox

**Operating system**:

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior
If a user attempts to navigate to a specific Sandbox instance and they do not have an active session with that instance, they will be taken to https://fleetdm.com/.

### 💥  Actual behavior
The user is taken to a login screen for the specific Sandbox instance /xxyyzz.sandbox.fleetdm.com/login.

[2022-08-15 17:37] roperzh commented on #7206
@mikermcneil we're streaming the file, but via AJAX, so the download starts immediately, but this delay you noticed is the file being downloaded (as Mo suggested, we're not using the browser's native functionality)

this is correct.

as I suggested above I can see two ways to fix this:

1. Generate download URLs with short-lived tokens (akin to S3 pre-signed URLs)
2. Adjust the UI to let the user

[2022-08-15 17:39] noahtalerman commented on #6838
@zhumo correct.

Your bullets make sense to me.

[2022-08-15 18:10] zwass commented on #7211
@noahtalerman wasn't this the expected behavior? I thought we wanted to only allow logins from FleetDM.com?

[2022-08-15 18:18] zhumo commented on #7206
@roperzh I would prefer option 1 above. What are the implications of it vs. option 2?

[2022-08-15 18:24] roperzh commented on #7206
@zhumo mainly the amount of work involved, this needs:

- Infra work to make sure we can get the S3 pre-signed URLs
- Work in the back-end to account for this

This will solve the "UX" problem of getting a better sense of what's happening as the browser will display the progress of the download.

---

Separately, and since this was also mentioned above: If we want to reduce the time a package take

[2022-08-15 18:28] zhumo commented on #7208
Closing because we determined that fleet serve can and should have different behavior from fleet apply: https://github.com/fleetdm/fleet/pull/7189#discussion_r945999282

[2022-08-15 18:28] #7208 closed

[2022-08-15 18:35] chris-mcgillicuddy opened #7212 "Write Sales one-pager PDF"
### Goal

Create a one-pager PDF that Sales can refer prospects to after calls. It should be easy to share, provide more detail about Fleet's features than the Sales deck, and make a pitch for Premium.

### How?

- [x] Identify which content to include from the [Overview page](https://fleetdm.com/overview)
- [x] Write content for PDF
- [x] Request review from Alex
- [x] Make any necessary revision

[2022-08-15 18:38] noahtalerman commented on #7206
@zhumo @roperzh I agree that option 1 is preferred. My understanding is that, with this change, the user will be able to see that the download has started in their browser with 5 seconds of clicking "Download."

If this is the case, I think this alleviate all concerns, except the download speed, raised in @mikermcneil's comment here: https://github.com/fleetdm/fleet/issues/7206#issuecomment-121540

[2022-08-15 18:44] roperzh commented on #7206
that makes sense to me, I'm checking with the team to see if there any major blockers I'm not seeing with option `1`, I'll let you know shortly.

[2022-08-15 18:52] zhumo opened #7214 "Mark which column(s) require user context in relevant table in osquery tables specs"
### Requirements
- Currently, each table has a `userData=True` attribute. This information should be made granular to the column level.
- Each column should accommodate a `userData=True` attribute
- Then, when the json is generated for the schema, have a `requires_user_context: true` field when it is true.

[2022-08-15 18:52] zhumo opened #7215 "Show "requires user context" icon for relevant table column in osquery-site"

[2022-08-15 19:27] noahtalerman commented on #7211
This is correct.

On the current version of Fleet Sandbox, a logged out user is taken to `x.sandbox.fleetdm.com/login` instead of being redirected to `fleetdm.com`.

Reed's Loom video does a great job demonstrating the current and expected behavior: https://www.loom.com/share/1912766f9e2b46bf82be9cccf5404069

cc @RachelElysia

[2022-08-15 19:33] RachelElysia commented on #7211
@lukeheath  @noahtalerman

I'm redirecting the user to fleetdm.com/try-fleet/login that I saw momentarily flash after @xpkoala was directed to fleetdm.com/test-fleet-sandbox

[2022-08-15 19:34] xpkoala commented on #7211
Could you clarify @noahtalerman, the user should be taken to:
- https://fleetdm.com/try-fleet/login
or
- https://fleetdm.com

If they A) do not have an active session and B) attempt to navigate to `x.sandbox.fleetdm.com/login`

[2022-08-15 19:35] mna commented on #6961
@lukeheath @noahtalerman Couple non-blocking questions about this ticket:

* Currently, when we receive results from the `munki_info` query and the `version == ""` (empty string), we delete (well, "soft-delete") the host's munki version information. I'm not sure if it's actually possible, but in the off chance where we receive `version == ""` along with some errors or warnings, should we a) delete

[2022-08-15 19:42] noahtalerman commented on #7211
@xpkoala @RachelElysia anytime the user attempts to access a logged out Fleet Sandbox, we'd like to redirect them to https://fleetdm.com/try-fleet/login

Can you please navigate the user to https://fleetdm.com/try-fleet/login in both cases (A and B)? Thank you for jumping on this!

[2022-08-15 20:00] zhumo commented on #6916
@zwass https://github.com/osquery/osquery/pull/7732

[2022-08-15 20:14] lukeheath opened #7221 "Create interface for `titleData` prop and apply throughout the app"
### Goal

As a frontend developer, I want to ensure the `titleData` prop, which is used throughout the app, is associated with an interface and not defined as `any` so that type checking can help prevent bugs.

### How?

- [ ] Create an interface for `titleData`.
- [ ] Apply the interface wherever `titleData` is used as a prop.

[2022-08-15 20:17] mikermcneil opened #7222 "💬 #g-platform: All builtin features on by default in recommended deployment docs"
## Goal

[mikermcneil](https://app.slack.com/team/U01A945TEDP)
:walking:  [38 minutes ago](https://fleetdm.slack.com/archives/C03AZLN3C79/p1660592360229689)
TODO: Turn on vulnerability processing and software inventory by default in all reference architectures and recommended deployment instructions, including Kubernetes, and include infra requirements we believe in and recommend for a fully adopt

[2022-08-15 20:24] lukeheath opened #7223 "Evaluate how we're handling and validating dates throughout the frontend"
### Goal

As a frontend developer, I want the user interface to still render and gracefully handle cases where the expected timestamp is incorrect, invalid, or not present at all.

### Problem

As identified by @gillespi314 in https://github.com/fleetdm/fleet/pull/7217:

"Invalid Date objects are causing date-fns to throw unhandled errors so we should consider wrapping all calls in try/catch. I ca

[2022-08-15 20:26] noahtalerman commented on #6961
@mna hmm, good question. I prefer option (b). This way, if there's an unknown issue with receiving the version, the errors/warnings will still display.

My guess is we delete the host's Munki version information because we assume that Munki is not installed if version is an empty string. Martin, do you know if this is the case?

Error/warnings should replace the previous set.

My understanding is

[2022-08-15 20:29] mna commented on #6961
@noahtalerman

Yes that's my understanding.

:+1: That's what I expected but just wanted to make sure. Makes sense.

[2022-08-15 21:06] lukeheath commented on #6732
@mna Thanks for checking! I agree, I don't foresee too many rows in the `mobile_device_management_solutions` table, but I'll defer to @chiiph on any DB performance questions.

[2022-08-15 22:12] xpkoala commented on #7211
After testing this on a Sandbox instance that has been updated with this fix I'm still being redirected to `https://t569b49ec.sandbox.fleetdm.com/login` in both of the above cases.

[2022-08-15 23:27] lukeheath commented on #7211
@xpkoala A fix for your latest issue has been merged.

[2022-08-15 23:27] xpkoala commented on #7211
Thank you, thank you!

[2022-08-15 23:53] xpkoala commented on #7211
@lukeheath It appears that we are still not redirecting correctly.

<img width="1278" alt="Screen Shot 2022-08-15 at 6 50 00 PM" src="https://user-images.githubusercontent.com/11012743/184755410-a87d96a2-b305-4929-b0d4-c7a8e02928b4.png">

[2022-08-15 23:58] mikermcneil commented on #5684
@zhumo Can this be closed?

[2022-08-16 00:03] lukeheath commented on #7211
@xpkoala PR is up with a fix: https://github.com/fleetdm/fleet/pull/7228. Will be tomorrow before we can merge and deploy.

[2022-08-16 01:48] edwardsb commented on #7222
1. https://fleetdm.com/docs/deploying/configuration#vulnerabilities

2. Fleet will create the necessary parent directories if needed, for example vuln db path is set to `/tmp/vuln` but only `/tmp` exists, then the `vuln` directory will be created.
3. https://github.com/fleetdm/fleet/pull/7229

[2022-08-16 12:13] chiiph commented on #6732
Deferring the cleanup makes sense to me, yeah.

[2022-08-16 13:07] mna commented on #6961
I have some concerns about performance, especially around ensuring the errors/warnings messages have been created and loading their ids when receiving a host's munki info with multiple errors/warnings. I'll add a load testing step to the ticket.

[2022-08-16 13:32] mna commented on #6961
@lukeheath @noahtalerman Couple more non-blocking questions:

* If we did receive the same message once as an "error" and once as a "warning", do we want to consider it a single munki issue (same ID, stored with whatever issue type was reported first) or different ones?
* Do we have an idea of how long the messages can be? I couldn't find this information in the macadmins `munki_info` table implem

[2022-08-16 13:34] xpkoala opened #7230 "4.19.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-08-16 13:49] xpkoala commented on #6384
@mna I have confirmed most of the copy changes. Is it possible to see a statistics payload that has been sent to confirm the `organization` property is correctly being passed? Looking at the `statistics` table of the database doesn't appear to have any information just yet, I imagine statistics are sent at a set time daily or weekly?

[2022-08-16 13:50] noahtalerman commented on #6961
I prefer to consider 1 error and 1 warning with same message as 2 different Munki issues in Fleet (different IDs). This is because we'd like to prioritize data accuracy. This means Fleet reports what is reported by Munki.

This is an interesting case. Are you running into this while developing the feature?

I'm not sure. I think taking a deeper look into the Munki implementation would be very help

[2022-08-16 13:51] noahtalerman commented on #6961
@mna, I forgot to @ mention you in the above message^

[2022-08-16 14:06] xpkoala commented on #6747
@lucasmrod Apologies on the delay for this one, I've been sidetracked with Sandbox and 4.19 testing. I just moved this to the QA column so I'll be able to jump on it once the release(s) go out.

[2022-08-16 14:08] mna commented on #6961
@noahtalerman Thanks for the clarifications!

:+1: sounds good.

No, this is a theoretical case (that we still have to consider) as I have not seen "real" munki data yet (this will likely be a challenge too as I'm on linux and this is mac-only, will likely need some assistance closer to the end of the ticket to get some real data for further testing - `fleetctl preview` enrolls linux hosts only to

[2022-08-16 14:39] zhumo commented on #5684
Yes!

[2022-08-16 14:39] #5684 closed

[2022-08-16 14:45] mna commented on #6961
@noahtalerman Took a quick peek at the Munki source code. Looks like everything that calls `display_warning` or `display_error` ends up in the Warnings and Errors fields: https://github.com/munki/munki/blob/main/code/client/munkilib/display.py#L206-L237

And this gets called from a number of places in the source code, but this is one example that isn't very encouraging with regards to message size

[2022-08-16 14:55] mna commented on #6384
@xpkoala Statistics are sent on a weekly basis, I'm not sure there's a way to test the actual send (beyond the automated tests that mock parts of the infra) as it involves the one-and-only postgres prod db? @eashaw may know more about this? If that helps, it's the same kind of change that was done for those issues: https://github.com/fleetdm/fleet/issues/5378 and https://github.com/fleetdm/fleet/i

[2022-08-16 15:02] zhumo commented on #5384
@noahtalerman @sharvilshah ?

[2022-08-16 15:06] sharvilshah commented on #5384
@zhumo `password_policy` is shipped with osquery 5.4.0.
screenlock will require an extension (even the "runas" hack is broken on M1), I will capture that in a new issue.

[2022-08-16 15:06] #5384 closed

[2022-08-16 15:13] #6916 closed

[2022-08-16 15:14] zhumo commented on #6885
Do you mean remove the table or the column?

[2022-08-16 15:21] xpkoala commented on #6384
@mna Thank you! In both those cases I believe we trusted the automated tests and followed up after the fact. I'll make a note to do that.

[2022-08-16 15:24] GuillaumeRoss commented on #6028
Creating an issue for macOS and one for Windows. Will link here. We have defined the first 20+ queries we want to make for both OSes.

[2022-08-16 15:27] GuillaumeRoss opened #7231 "Query policies for CIS Benchmarks: macOS"
### Goal

CIS Benchmarks contain hundreds if not thousands of security recommendations for almost every operating system as well as a ton of enterprise software out there (databases, browsers, office suites).

Companies often have to prove they harden their devices in a managed way, and often use CIS for this.

We'd like to support them into this goal by providing more built-in policies for CIS.

[2022-08-16 15:28] GuillaumeRoss opened #7232 "Query policies for CIS Benchmarks: Windows (client)"
### Goal

CIS Benchmarks contain hundreds if not thousands of security recommendations for almost every operating system as well as a ton of enterprise software out there (databases, browsers, office suites).

Companies often have to prove they harden their devices in a managed way, and often use CIS for this.

We'd like to support them into this goal by providing more built-in policies for CIS.

[2022-08-16 15:29] GuillaumeRoss commented on #6028
macOS: https://github.com/fleetdm/fleet/issues/7231
Windows client: https://github.com/fleetdm/fleet/issues/7232

[2022-08-16 15:41] lukeheath commented on #7211
@xpkoala This has been merged into `main`.

[2022-08-16 15:53] zwass commented on #6885
Remove just the column.

[2022-08-16 16:23] roperzh commented on #7206
heads-up #7226 has been merged into `main` and contains a fix for this, I'm not sure what is our procedure to get this running in the sandbox instances. Did I read somewhere that we want to cherry-pick the commit into a branch?

[2022-08-16 16:36] ghernandez345 opened #7233 "Define and document interface testing strategy"
### Goal

We want to have a clear understanding and documentation on our testing practices and tooling when writting tests for our features.

The outcome is a shared public document of our testing strategy

### Related
- #7254 (epic)

#### Frontend

- Document testing philosophy of how we approach testing
- Document tooling
- Define and document the our use of e2e, integration, and unit testing an

[2022-08-16 16:41] ghernandez345 opened #7235 "Document testing coverage of current product features"
### Goal

We'd like to know where we stand when it comes to testing coverage so we'd like to take stock of what tests we have, what we don't, and where we think we need to prioritise increase coverage. We want this to be visible and clear to the team.

The outcome of this issue to have a clear documentation on our current state of testing for the product (i.e. what we have, what we dont, what we n

[2022-08-16 16:46] noahtalerman commented on #3906
Guillaume: On macOS, if one partition has FileVault enabled then disk encryption is enabled. We can tell users, "The FileVault feature is enabled on at least on partition."

Guillaume: Maybe filter on C drive (system drive) for Windows. Would this still pass if they use an unencrypted?  Guillaume will update query to do this. What does protection status mean? If percent_encrypted is 100? The BitLo

[2022-08-16 16:46] zhumo opened #7236 "osquery schema gen script output marks when a column is platform-specific [extended_schema]"
the osquery schema json generation script should use the `extended_schema` designation to mark whether a column is os-specific. This output can then be given to the osquery-site to be consumed.

### Requirements
- In the output JSON, each column should have a `platforms` key, which has an array `["windows", "linux"]` etc.
- If it is compatible with all platforms, then there is no `platforms` key.

[2022-08-16 16:46] zhumo opened #7237 "osquery-site displays icon to mark platform-specific columns"
the osquery schema json generation script will use the extended_schema designation to mark whether a column is os-specific. osquery-site should then expose this information by attaching an icon to the appropriate column.

### Related
- Parent https://github.com/fleetdm/fleet/issues/6883
- https://github.com/fleetdm/fleet/issues/7236

[2022-08-16 16:52] zhumo commented on #6944
atom gets deprecated in late 2022. We probably won't actually deprecate in osquery until later than that. Don't need to do this now.

[2022-08-16 16:52] #6944 closed

[2022-08-16 16:53] ghernandez345 opened #7238 "Spike solution for easily adding mac and windows hosts for local dev and testing"
### Goal

We have a problem when we need to develop with or test platforms other than linux (i.e. mac and windows). We'd like to spike out some solutions that will enable us to easily work with these platforms when we are building new functionality.

We'd like to create actionable issues when we have figured out the way forward.

### Related
- #7254 (epic)

### Tasks
- spike Database dumps and imp

[2022-08-16 16:56] mikermcneil opened #7239 "💬 #g-interface: [public] I don't see `POST /api/v1/setup` documented in t..."
## Goal
[code]

## How?
- [ ] TODO

[2022-08-16 17:08] #6954 closed

[2022-08-16 17:17] zhumo opened #7241 "osquery table spec file should allow for notes section generated into json"
### Problem
In general, we want to have a `notes` section in the osquery documentation so that we can share qualitative information with osquery users.

The immediate problem which drives this need is that we want a notes section so that we can describe discrepancies between M1 and intel macs

### Requirements
- Create a convention to allow adding a `notes` section to the `.table` files
- The note

[2022-08-16 17:18] zhumo opened #7242 "osquery-site renders markdown-friendly "notes" section"
### Problem
In general, we want to have a `notes` section in the osquery documentation so that we can share qualitative information with osquery users.

The immediate problem which drives this need is that we want a notes section so that we can describe discrepancies between M1 and intel macs.

The osquery schema site should display the notes for each table that the osquery repo generates.

### Re

[2022-08-16 17:18] zhumo opened #7243 "Identify and document differences between M1 and intel mac table outputs"

[2022-08-16 17:23] xpkoala commented on #4406
@lukeheath no rush on this, but it could use some prioritization on your end when you have a moment. Thanks!

[2022-08-16 17:27] RachelElysia opened #7244 "Fleet Invite: Check invite token prior to submit"
### Goal

TODO

Super low priority:

If an invite token doesn't exist, the user shouldn't be able to see the create user page.

Currently, they can try to create a user, but see an error when they hit submit.

<img width="1334" alt="Screen Shot 2022-08-16 at 1 25 21 PM" src="https://user-images.githubusercontent.com/71795832/184941441-2cf734b5-142c-4cf0-8b7d-e3fd33e2cf5b.png">
<img width="1331" al

[2022-08-16 17:28] RachelElysia commented on #5633
This was already fixed-- I just tested it, closing this out.

[2022-08-16 17:28] #5633 closed

[2022-08-16 17:35] roperzh opened #7245 "improve messaging when POST /api/v1/setup fails"
**Fleet version**: 4.18.0

### 🧑‍💻  Expected behavior

If something goes wrong during the Fleet setup, I get a helpful message.

### 💥  Actual behavior

The setup wizard silently goes back to the first step if `POST /api/v1/setup` fails for any reason.

This might happen in environments where there's a proxy between the UI and the server API, but the easiest way to reproduce is to block the URL fr

[2022-08-16 17:38] RachelElysia commented on #4248
@lukeheath
I looked into this, it looks like a backend issue because the API is returning 0 for issues with a label set. I reassigned to @mna

Screenshot is my personal device with 1 failing policy that is showing with no label selected, but not showing with a label selected:

![Image](https://user-images.githubusercontent.com/71795832/184943554-61c87c60-8320-4ee9-b029-9fbade53bc44.png)
![Image](h

[2022-08-16 17:52] zhumo opened #7247 "Each osquery table has a real-world use case example query w/ explanation"
### Problem
When a new user comes to osquery, they are overwhelmed with all the options out there and do not have background knowledge on many osquery tables. We should make the new user experience friendlier by providing examples and explanations of the example so that new users are onboarded into osquery quickly.

### Requirements
- [ ] Propose and gain acceptance for an example query and explan

[2022-08-16 17:52] lukeheath commented on #4406
@xpkoala I'm removing this from the release board. We're very limited on backend resources this month, so can only take on high priority items right now.

[2022-08-16 17:53] zhumo opened #7248 "Propose and gain acceptance for an example query and explanation for each table"
### Problem
When a new user comes to osquery, they are overwhelmed with all the options out there and do not have background knowledge on many osquery tables. We should make the new user experience friendlier by providing examples and explanations of the example so that new users are onboarded into osquery quickly.

### Requirements
- In a spreadsheet, for each osquery table, propose an example qu

[2022-08-16 17:53] zhumo opened #7249 "Schema json generator script should include examples for each table"
### Problem
When a new user comes to osquery, they are overwhelmed with all the options out there and do not have background knowledge on many osquery tables. We should make the new user experience friendlier by providing examples and explanations of the example so that new users are onboarded into osquery quickly.

Currently, the generator script that creates the json file that populates the sche

[2022-08-16 17:54] zhumo opened #7250 "osquery-site should expose examples"
### Problem
When a new user comes to osquery, they are overwhelmed with all the options out there and do not have background knowledge on many osquery tables. We should make the new user experience friendlier by providing examples and explanations of the example so that new users are onboarded into osquery quickly.

Currently, the osquery-site does not show examples, even though some tables have e

[2022-08-16 18:21] noahtalerman commented on #6530
Great. Thank you for testing this.

@defensivedepth does the MDM's server URL (ex. https://miradore.test.com) exist in the registry ? If so, what would the osquery query look like to get this information.

We'd Fleet to create a report of all the hosts talking to a specific MDM server. This way, an organization migrating from one MiradoreMDM server A to to MiradoreMDM server B can see how many hos

[2022-08-16 18:29] GuillaumeRoss opened #7252 "Windows disk encryption policy is too permissive"
The Windows policy to check if the disk is encrypted with BitLocker could pass even if the disk is not protected. The disk might be encrypted but with keys in clear text.

### 🧑‍💻  Expected behavior
Expect to see a fail

### 💥  Actual behavior
Saw a pass

### More info
I will make the query more precise by forcing it to apply to the `C:` drive AND checking protection status.

[2022-08-16 18:53] RachelElysia commented on #7151
Repeat of #7139

[2022-08-16 18:58] lukeheath commented on #7206
@xpkoala I noticed this wasn't tagged with `#platform` so wasn't showing up on the board. I thought it might have slipped through QA, so I added the `#platform` label and moved to "Awaiting QA".

[2022-08-16 19:04] lukeheath commented on #7235
@RachelElysia We'll be estimating this tomorrow, but this will end up on your plate next release. You, Gabe and I are each taking one issue to move the testing initiative in the next release cycle for our 20% tech debt work allocation.

[2022-08-16 19:08] lukeheath opened #7254 "Standardize interface testing suite and best practices"
### Goal

As a frontend engineering team, we want to feel confident in our automated testing suite across unit, integration and e2e tests, so that we know the code we write is working as expected.

### Child Issues
- #7233
- #7235
- #7238
- #7947

[2022-08-16 19:29] defensivedepth commented on #6530
I think the `DiscoveryServiceFullURL` is what you would be looking for:

`select key,data from registry where path like 'HKEY_LOCAL_MACHINE\Software\Microsoft\Enrollments\%\DiscoveryServiceFullURL';`

![image](https://user-images.githubusercontent.com/954732/184965730-db4adaf9-57d4-4c16-9ff0-6989b9e406d0.png)

Here is what else is available to query:

![image](https://user-images.githubusercontent

[2022-08-16 19:34] noahtalerman commented on #3906
@GuillaumeRoss when you get the chance, can you please help verify that the latest queries and messages we'd like to add to the **Host details** page in Fleet UI are accurate?

You can find the queries and messages in this issue's [description](https://github.com/fleetdm/fleet/issues/3906#issue-1116836166)?

[2022-08-16 19:41] zhumo commented on #6945
hey @xpkoala could you use the instructions in Guillaume's link there to test this table and let us know the results?

[2022-08-16 20:06] mna commented on #3947
@lucasmrod The experimental async option for this is going out with this week's release, do we know who's the user/customer in question, and can we ask them to give this a try once they upgrade? I can prepare the exact settings to use as either fleet serve flags or env vars.

[2022-08-16 20:25] zhumo opened #7256 "Link to useful content for unknown words in osquery schema"
### Problem
The osquery schema has descriptions of each table that includes name-dropped terms. For example, `account_policy_data` description is: `Additional macOS user account data from the AccountPolicy section of OpenDirectory.`

We want to enable linking to words like "AccountPolicy" and "OpenDirectory" in order to help new users understand the table.

### Requirements
- Each word in table de

[2022-08-16 20:29] zhumo opened #7257 "Determine which table descriptions need to be updated to have link(s) to unknown words in markdown"

[2022-08-16 20:29] zhumo opened #7258 "The osquery-site should respect markdown in the `description` attribute"

[2022-08-16 20:56] lukeheath commented on #6981
@lukeheath TODO: Re-spec as "Don't clear pill filters when selecting a team on manage hosts page"

[2022-08-16 21:14] xpkoala opened #7259 "Syntax error on some pre-loaded queries and policies"
**Fleet version**: fleetctl preview --tag=main

**Operating system**: macOS

**Web browser**: Safari 15.5 (17613.2.7.1.8)

<hr/>

### 🧑‍💻  Expected behavior
All pre-loaded queries and policies would work as expected.

### 💥  Actual behavior
Some queries and policies contain syntax errors

### More info

Policies:
- `Capable of running macOS Ventura, version 13 (macOS)`

![Screen Shot 2022-08-16 at

[2022-08-16 21:39] lukeheath commented on #7259
@noahtalerman I noticed you added the "Capable of running macOS Ventura, version 13 (macOS)" query about a month ago. The problem is this line: `and key = 'model'`

[Key is a reserved word in MySQL](https://dev.mysql.com/doc/refman/5.7/en/keywords.html#keywords-5-7-detailed-K), which is throwing this error. Do you recall where you got this query? Can we modify it to not use a reserved word?

[2022-08-17 00:24] zwass commented on #6885
https://github.com/osquery/osquery/pull/7735

[2022-08-17 02:32] zwass commented on #7183
https://github.com/fleetdm/fleet/pull/7264

[2022-08-17 02:37] zwass commented on #7183
@zhumo This output doesn't completely match up with your specification above, but it's a bit simpler to generate and I think should be pretty easy to look at visually. Does this work?

[code]

[2022-08-17 02:41] zwass commented on #6348
Unassigning myself and Martin. This will likely go to Roberto for the upcoming release.

[2022-08-17 07:32] xpkoala commented on #6852
@xpkoala Tools for this located in fleet/tools/osquery-testing

[2022-08-17 11:35] mike-j-thomas commented on #5045
@zhumo updated designs. Please let me know when you have the JSON data ready, and I'll get the (website) build scheduled.

https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?node-id=4528%3A13076

[2022-08-17 12:33] mna commented on #6348
Note to anybody picking this up: feel free to ping me in Slack, I have a branch (`mna-6348-rotate-desktop-token`) that started implementing this, it could be a good starting point: https://github.com/fleetdm/fleet/compare/main...fleetdm:fleet:mna-6348-rotate-desktop-token?expand=1

Anything under `cmd/orbit` is more of a draft and may implement an older approach where we considered having the flee

[2022-08-17 12:58] mna commented on #6961
@lukeheath @noahtalerman In any case for now I'll implement it with a 255 chars limit and load-test the feature - I'm worried that even with smaller messages, we could run into some issues at scale and may need some fine-tuning/caching/etc. Hopefully that's not the case, but there's definitely a risk - this potentially adds significant more data to ingest coming from hosts. On that front, do we ha

[2022-08-17 13:39] chris-mcgillicuddy opened #7267 "Update docs CTA to schedule Premium demo"
### Goal

Increase the CTR of the Premium CTA on docs pages. We're seeing some interaction, but not as much as we would like.

### How?

- [x] Update the CTA to be more contextually relevant and direct
- [x] Review language proposed by Sales (ask Tim for copy)
- [x] Write content that fits the current layout as much as possible
- [x] Collaborate with Mike T. on possible design updates

[2022-08-17 13:52] RachelElysia opened #7268 "Fleet UI: Add host button missing when host count is 0"
**Fleet version**: `main`

<hr/>

### 🧑‍💻  Expected behavior

As a maintainer or admin (global or team), when applying filters, and there is no matching hosts, I always see the "Add hosts" button in the top right corner.

As a maintainer or admin (global or team), when only the team filter is applied, and there are no matching hosts, I always see the "Add hosts" button in the center.

As an observ

[2022-08-17 14:19] noahtalerman commented on #6396
@eashaw @mikermcneil are there any concerns with revoking the generic Fleet email account's access? If no, can you please help me revoke this account's access? Thanks :)

[2022-08-17 14:52] noahtalerman commented on #6396
I updated the following dataclips so that "Sharable Links" are disabled:
- recent historical usage snapshots (data from Fleet product)
- recently created users (data from fleetdm.com)

The remaining dataclip with "Sharable Links" enabled is **Usage statistics ordered by deployment size**.

I believe this is the dataclip used to populate the Fleet usage (as reported by anonymous analytics) Google S

[2022-08-17 15:43] lukeheath commented on #7238
🐈 🐈 🐈

[2022-08-17 16:55] lukeheath commented on #6803
@zwinnerman-fleetdm We've been asked to improve the initial page load time of dogfood, and by extension, improve the initial load time for anyone running Fleet.

@ghernandez345 looked into this and found some low hanging fruit:

Because Fleet is self-hosted, is gzipping assets and caching TTL something we can affect through code or configs, or is it purely infrastructure? Ideally we could improve

[2022-08-17 16:59] zwinnerman-fleetdm commented on #6803
Technically either one could do caching ttl or gzipping of assets. We can do it by putting a cdn such as cloudfront in front of it or fleet itself could support this. Fleet itself doing it would be the cheapest but its not a big price difference.

[2022-08-17 17:32] mikermcneil commented on #6396
@noahtalerman Yes.  Two reasons: (1)  This bot account is used by GitHub actions to make deploys work.  Deleting it would make deploys not work.  (2)  This is how I log in.  I don't have a mike@fleetdm.com login to Heroku.

@eashaw Everything else above up to you- let me know if you have any concerns.  At a glance, all seems like it'll work well and there won't be issues.  If anything comes up whe

[2022-08-17 17:50] noahtalerman commented on #6961
@mna thank you for digging into the Munki code.

Sounds good 👍

I'm not sure. I'll ask the customer that is requesting this feature and follow up in this issue with the answer.

Thank you for checking this. This is great to be aware of.

I agree that this is a minor issue because I don't think semicolons are common characters in Munki errors/warning.

I think it makes sense to come back to this la

[2022-08-17 17:57] noahtalerman opened #7275 "Blogpost: Fleet 4.19.0"
Fleet 4.19.0 is scheduled for release on 2022-08-22

### Goal

Prepare and publish the release blogpost for Fleet 4.19.0 so that folks in the Fleet/osquery community can understand the latest improvements.

### How?
- [ ] @mike-j-thomas: Hand images for cover and primary improvements to @noahtalerman
- [ ] @noahtalerman: Write and publish blog post
- [ ] @noahtalerman: Complete CHANGELOG for 4.19.

[2022-08-17 18:14] noahtalerman commented on #7275
@mike-j-thomas when you get the chance, can you please pass me the images for this release blog post? Thanks :)

[2022-08-17 18:36] #7183 closed

[2022-08-17 18:38] zwass commented on #6396
This seems like important information to make available to the team. Is there a specific reason why we need to restrict it?

[2022-08-17 18:51] lukeheath commented on #6803
@chiiph @zhumo What do you think of enabling asset gzipping and looking at cache TTL as a platform ticket? That will be the best way to improve initial page load time.

[2022-08-17 19:05] RachelElysia commented on #5725
@noahtalerman

Do we want to change table header "Query" to "Name" on the host details page > schedule table as well?

@product in general, do we want to be able to show query on host details page as well? Also, are we not changing the header for pack tables?

[2022-08-17 20:18] lukeheath commented on #7259
@noahtalerman The query "Capable of running macOS Ventura, version 13 (macOS)" requires a table from the Kolide osquery extension. Do we want to include queries with that dependency in our standard query library?

If so, we just need to add the table to our osquery schema json. But I'm having trouble finding _where_ the Kolide osquery extension is. Googling didn't help me track it down. Do you hav

[2022-08-17 20:23] lukeheath commented on #6970
@gillespi314 Here is another API bug that could use some attention. No features are using this property so it's not as pressing, but of course we don't want the API to return incorrect data.

[2022-08-17 20:37] lukeheath commented on #7001
@zhumo I'm going to grab this one because I completed it as part of the other issue without realizing this existed. Have a PR in momentarily.

[2022-08-17 21:32] noahtalerman commented on #6396
@GuillaumeRoss I'll defer to you on the response/questions from Mike and Zach below.

Can you please let me know if you're ok with leaving the generic account and giving the Fleet team access to all data?

If you have concerns with the above, can you please follow up with Mike and Zach? Thanks :)

Response from Mike:

Response from Zach:

[2022-08-17 22:48] eashaw opened #7282 "Website: Remove clickable category titles from article cards on fleetdm.com"

[2022-08-17 23:28] eashaw commented on #7162
closed by https://github.com/fleetdm/fleet/pull/7179

[2022-08-17 23:28] #7162 closed

[2022-08-17 23:52] zhumo commented on #3850
https://docs.google.com/document/d/1TFVmh_oIWZHBWP0VieoK3y90nNY8t9dZ5-WvNr6iUUg/edit?usp=sharing

@zwass @lucasmrod @noahtalerman @sharvilshah @artemist-work would you take a look at the content above and see if it's correct or if I'm missing anything key about Orbit?

[2022-08-17 23:59] xpkoala opened #7284 "MDM Enrollment table default sorting incorrect"
**Fleet version**: `main`

**Operating system**: N/A

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior
MDM Enrollment table sorted to “Status” descending by default.

### 💥  Actual behavior
Enrollment table is sorted by "Hosts" descending by default.

### More info
https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/🚧-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=7729%3A278281

![Screen Shot 202

[2022-08-18 00:04] xpkoala opened #7285 "Unknown MDM solution shows as undefined"
**Fleet version**: `main`

**Operating system**: N/A

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior
After clicking to view hosts associated with an "Unknown" MDM solution the tooltip would display _something_, I don't believe this was specced so I'm not sure what the desired behavior is.

### 💥  Actual behavior
The tooltip reports that the current view is "undefined" and no hover tooltip

[2022-08-18 00:39] zhumo commented on #6803
Thanks @lukeheath . I will add this to our platform prioritization meeting

[2022-08-18 06:34] xpkoala commented on #5163
Closing this issue for house cleaning purposes. If you are still having troubles please feel free to re-open this ticket.

[2022-08-18 06:34] #5163 closed

[2022-08-18 12:07] lukeheath commented on #6803
@zhumo Sounds good. For the time being, I'm going to assign over to you and place this ticket on the platform board. Feel free to assign back to me if anything is needed from interface.

[2022-08-18 13:50] noahtalerman opened #7288 "On Home > macOS page, multiple rows for the same macOS (operating system) version"
**Fleet version**: commit `e2022c6` (`main` branch as of end of day 2022-08-18)
<hr/>

This was observed on Fleet's dogfood (internal) instance.

### 🧑‍💻  Expected behavior

In the **Operating systems** card on the **Home > macOS** page, I expect to see 1 row for macOS 12.5.0 that includes the total count for all hosts with macOS 12.5.0 installed (12).

### 💥  Actual behavior

There are 2 rows for

[2022-08-18 14:06] noahtalerman opened #7289 "Parse "Microsoft" out of operating system when displayed in the UI"
**Fleet version**: commit `e2022c6` (`main` branch as of end of day 2022-08-18)
<hr/>

This was observed on Fleet's dogfood (internal) instance.

<hr/>

Loom video (internal) walking through the expected behavior: https://www.loom.com/share/18600de8ac1b4627b24ebf35a694acc6

Figma that includes dev notes for the feature: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-r

[2022-08-18 14:14] GuillaumeRoss commented on #6396
The generic account for deploys is fine, but Mike should have his own account to connect. The generic account should have its credentials in github secrets and not have them used by humans.

As for restricting access to data, that discussion had always been around "if some of the data is not anonymized". If it is anonymized I have no issue with it at all!

[2022-08-18 14:15] noahtalerman commented on #6396
@mikermcneil tagging you so you see Guillaume's follow up.

[2022-08-18 14:18] noahtalerman commented on #6396
@GuillaumeRoss if understand @zwass's comment correctly, Zach wants to know why we need to restrict the team from viewing de-anonymized data.

Zach, I think the goal is to have a separate Google sheet with the de-anonymized data. Folks that need access to the data can request access instead of allowing access to the entire Fleet team by default.

The proposed first step to achieve this goal to to

[2022-08-18 14:22] zwass commented on #6396
The thing I'm not understanding is why we need to restrict access for our
team members who have all signed confidentiality agreements and see tons of
customer specific data constantly. It just seems like extra friction when
this is potentially important information to know. I can only think of a
few positions in the company that would not benefit from having access to
this information.

On Thu, Au