[2022-01-28 19:03] noahtalerman commented on #3409
Totally. The following issue includes the improvement of removing the --fleet-certificate argument from the DEB and RPM tabs: #3881

@lucasmrod as a first step, I propose adding an "Advanced" tab that provides the certificate with the `--fleet-certificate` argument. This way, users that are running a Fleet that is not exposed to the internet, with a publicly valid certificate, can be pointed to th

[2022-01-28 19:15] zwass commented on #474
This was shipped in #3712

[2022-01-28 19:15] #474 closed

[2022-01-28 19:26] xpkoala opened #3921 "Logout page sizing issues"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.9.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: Safari 15.2

<hr/>

### 🧑‍💻  Expected behavior
The `/logout` route is removed and accessing it will automati

[2022-01-28 19:26] noahtalerman opened #3922 "Deploy Fleet Desktop on all platforms"
## Objective

Deliver a simple, trustworthy, actively-used product that works every time.

## Key result

Customers have Fleet Desktop successfully deployed and working on the majority of their production workstations (including multiple macOS, Windows, and Linux devices) and Fleet Desktop is available in all 3 platforms by default in the product.

## Measured by

At least one customer has Fleet D

[2022-01-28 19:41] lucasmrod commented on #3409
Yes, this is a good first step in the right direction!

(Not sure if feasible, but some deployments may have valid certificates and not exposed to the public internet?)

Alternative tooltip texts:
- "A certificate option is required if fleet's certificate is not a publicly valid certificate"
- "A certificate option is required if fleet's certificate is not issued/signed by a well known public Cert

[2022-01-28 19:42] lucasmrod commented on #3409
The third case in this issue where we suggest `--insecure`:

Could be added at a later iteration.

[2022-01-28 19:45] lucasmrod commented on #3409
Also, I'm guessing you will update the screen capture https://user-images.githubusercontent.com/2495927/151430473-299eb70c-3e44-484b-82d9-36d5f5974046.png in  #3881 with the capture from this issue? (Where advanced has the fleetctl package, and plain osquery below)

[2022-01-28 20:27] zwass commented on #3081
Agreed. I'd prefer to see us using a single database file as much as possible until we find it gets to a size that becomes intractable.

The strategy of going through "after" CVEs have been identified and unmarking packages that have been resolved makes sense to me. Would we need to run this check on all past detected CVEs on each run of the workflow? If not, I think we need to find a way to run i

[2022-01-28 22:11] Hanaffi commented on #2971
@noahtalerman @mikermcneil @lukeheath  Sorry, I got urgent conditions and didn't have anytime.
I don't find any documentation/mdfile on how to start the project locally. Can you help?

[2022-01-29 00:18] zwass opened #3927 "Remove expiration for API-only user tokens"
### Goal

Users expect to be able to use the "API-only" user with automations and scripting. Currently, the expiration for these tokens is the same as with all normal users -- meaning that automations and scripts are likely to need manual intervention to refresh the tokens.

Let's make this behave more like users would expect, with API-only user tokens acting as long lived API tokens.

### How?

R

[2022-01-29 00:20] zwass opened #3928 "Increase default expiration for standard user sessions"
### Goal

In early times, Fleet had 90 day sessions. This was widely agreed to be too long, and dropped to 24 hours as of 2021.

There's a balance to make between UX and security, and we think 5 days (the length of a standard work week) could be a reasonable choice of default.

### How?

Change the default expiration to 5 days.

[2022-01-29 01:28] zwass commented on #907
Even though Orbit is still in beta, this feature is now available in `fleetctl>=4.7.0`.

[2022-01-29 01:28] #907 closed

[2022-01-29 01:28] zwass commented on #3441
I don't think this is still an issue. @lucasmrod please reopen if I've missed something.

[2022-01-29 01:28] #3441 closed

[2022-01-29 02:50] tharun208 commented on #3904
@lukeheath, I see that the `/teams` endpoint to retrieve all the teams is present. But, no handler for returning a piece of team information based on the team id is not present ( `/settings/teams/2000`). I am interested in raising a PR for this. Can you assign this to me?

[2022-01-31 08:31] mike-j-thomas opened #3931 "fleetdm.com/docs reorg"
## Goal ##

- Look at how people are using the docs
- Understand how they feel and what is "progress" to them at the moments they're reading each page/section
- Reduce the number of words in the docs by simplifying ideas
- Document the principles for the reorg vision in handbook and then handoff to Kelvin for long-term ownership

## TODO ##
- [x]  Why do people come to the docs? https://github.com

[2022-01-31 14:29] noahtalerman opened #3932 "Improve permissions documentation"
### Goal

Improve the permissions documentation so that all users and contributors can be confident that the document is the source of truth for how Fleet behaves for each user role.

### How?

- [ ] Expand the matrices in [docs/01-Using-Fleet/09-Permissions.md](https://github.com/fleetdm/fleet/blob/main/docs/01-Using-Fleet/09-Permissions.md) so that it includes all read/write abilities in Fleet
-

[2022-01-31 15:11] GuillaumeRoss opened #3934 "Ability to create a policy to track that macOS is "up to date" rather than specifying a version"
### Goal
_This feature would be great on all OSes, but creating a ticket for macOS to keep it focused until the right UX around the feature is understood_

Configuring policies to check for macOS versions currently requires specifying a version number to check. This means that every time a new version of macOS comes out, the policy needs to be edited.

It would be preferable to be able to set poli

[2022-01-31 15:14] Cherlynn commented on #3885
Hi @lucasmrod!
- macOS version - Catalina version 10.15.6
- Command: `sudo npm -g install fleetctl` (`sudo npm install fleetctl` did not seem to install fleetctl successfully)

[2022-01-31 15:43] noahtalerman commented on #3880
@lukeheath heads up, I added one additional modification to the "About this host" section:

The additional modification is included in the issue's description as task 3.

[2022-01-31 15:52] lucasmrod commented on #3885
Hi!

`sudo npm -g install fleetctl` should only install the `fleetctl` command (which is used to interact with the fleet server, generate fleet-osquery packages among other things). Running `sudo npm -g install fleetctl` should not install osquery on the host.

Can you share the error output when running `sudo npm install fleetctl`.

[2022-01-31 16:11] noahtalerman commented on #3409
@lucasmrod I updated the tooltip text to the following:

"A certificate is required if Fleet is running with a self signed or otherwise untrusted certificate"

This makes a lot of sense.

However, we'd like to reduce the amount of text present in the modal. This way, users can see only the information they need to successfully generate the installer.

If we discover that users need the "why" text

[2022-01-31 16:18] mna commented on #3050
This is probably good enough for now - like Noah, I'm all for reduced complexity too! - but it's likely that in the future, users will expect a more resilient webhook offering, as that feature is often associated with retries (if the target URL is down or does not reply with 200 within a reasonable time) and some way to assert that the payload is legitimate (e.g. signed or just a random token in a

[2022-01-31 16:38] xpkoala commented on #3854
@RachelElysia I believe the fix you implemented needs one more small addition. When navigating to the Schedules page `/api/v1/fleet/global/schedule` is called. This is causing issues on two fronts:
- As a Global Admin: Navigating to the Schedules page with a team pre-chosen (<team1> instead of All Teams) will return the results for All Teams.
- As a <team1> member user: Navigating to the Schedules

[2022-01-31 16:41] mna commented on #3050
@chiiph can you point me where we have that published date information? Looking at `server/vulnerabilities/cve.go` (`TranslateCPEToCVE` and `checkCVEs`) it seems we only have access to the `cvefeed.Vuln` interface (https://pkg.go.dev/github.com/facebookincubator/nvdtools/cvefeed@v0.1.4#Vuln), and scanning the godoc of that repository, I can only seem to find the published date in the call to `nvd.

[2022-01-31 17:04] RachelElysia opened #3935 "Manage Host Page only: Team dropdown not displaying correct team from URL"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Tested on Global Admin,  and Team maintainer/team observe

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.

[2022-01-31 18:31] noahtalerman opened #3938 "Refine standard query library"
### Goal

Refine the standard query library (fleetdm.com/queries) so that it only includes 5-10 policies that are valuable for any organization.

### How?

- [ ] Remove all queries from the standard query library
- [ ] If possible, update the [7 standard policy templates](https://github.com/fleetdm/fleet/blob/main/frontend/utilities/constants.ts#L17-L88) so that their queries cover all platforms (

[2022-01-31 18:39] noahtalerman commented on #3928
Heads up, this issue is now ready for engineering estimation.

[2022-01-31 18:39] noahtalerman commented on #3938
Heads up, this issue is now ready for engineering estimation.

[2022-01-31 18:41] noahtalerman commented on #3927
Heads up, this issue has been moved to the "Estimate" column in the "Product" board. This queues the changes up for engineering estimation.

[2022-01-31 19:15] lucasmrod opened #3940 "Policy creation for a specific team are created under "All teams""
**Fleet version**: v4.9.0.

**Fleet tier**: Premium.

<hr/>

User wants to create a custom policy (not from a template) for a specific team ("create your own policy" option).
![Screen Shot 2022-01-31 at 15 45 23](https://user-images.githubusercontent.com/2073526/151856771-5c42fe49-c91f-4583-911e-0967652c7790.png)

### 🧑‍💻  Expected behavior

The policy is created under the team.

### 💥  Actual beh

[2022-01-31 19:37] RachelElysia opened #3942 "Tech debt: Frontend alignment of Manage Schedule and Manage Policy pages"
### Goal

Make similar code consistent across components

TODO

Align Manage Schedule Page and Manage Policy Page `handleTeamSelect` functions
- [ ] Decide on router.replace with using a router location query or router.push which doesn't replace the URL
- [ ] Decide if choosing a new team will reset showInheritedQueries / showInheritedPolicies to false
- [ ] Add isStale to globalScheduleQueries to

[2022-01-31 19:53] lucasmrod opened #3944 "Add comma-separated list option to fleet to disable detail queries"
### Goal

Add a comma-separated list option to fleet to disable detail queries.
This option could help rule out problematic queries while troubleshooting with customers/users.

### How?

New `FLEET_DISABLED_DETAIL_QUERIES` option with a comma-separated list of query names, e.g.:
`FLEET_DISABLED_DETAIL_QUERIES=scheduled_query_stats,software_linux,users,google_chrome_profiles`
The result of setting

[2022-01-31 20:01] xpkoala opened #3945 "4.9.1: Smoke tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-01-31 20:04] chiiph commented on #3050
@mna my understanding from when I looked at the code for nvd is that the contents of the `Dictionary` are `*nvd.Vuln`, so we can just cast to that and get the date.

[2022-01-31 20:23] GuillaumeRoss opened #3946 "Query to show the status of common AV and alert on outdated definitions"
### Goal

As someone using osquery and Fleet to track the status of other security controls, I would like a policy to track systems and to see if they are running antivirus that is up to date.

### How?

#### Windows
- [ ] On Windows, by using _windows_security_center_ to check the health of _antivirus_ = _Good_ and _windows_security_products_ to check if _signatures_up_to_date_ is = 1 for type =

[2022-01-31 20:30] lucasmrod opened #3947 "Test and Support ~540 Schedule Queries distributed among ~7 packs (~60k hosts)"
**Fleet version**: v4.9.0

**Fleet tier**: Premium.

<hr/>

A customer/user has:
- ~540 scheduled queries (distributed in 7 packs).
- ~60k hosts.

### 🧑‍💻  Expected behavior

The system can handle the ingestion of stats for that number of scheduled queries when hosts check in.

### 💥  Actual behavior

The following symptoms were seen:
- Several `context canceled` errors in database operations (the

[2022-01-31 20:50] gillespi314 opened #3948 "react-query optimization"
This issue tracks ongoing ideas for further optimization of react-query within the Fleet UI app.

- Is our implementation of keepPreviousData and loading states causing bad UX and giving up advantages of the react-query cache?
- Are we displaying data from cache for the current or prior query while refetching?
- Special considerations when using debounce and refetch from the query cache?
- Can we

[2022-01-31 20:56] gillespi314 opened #3949 "Refactor page headers to global component"
This issue tracks ongoing ideas for refactoring the page header section of the main tabs of the Fleet UI app: Hosts, Software, Queries, Schedule, Policies.

See `PageHeader` implementation with the `ManageSoftwarePage` as a possible approach to be rolled out to other pages.

[2022-01-31 20:57] mna opened #3950 "Authorization issue for `queries/{run,run_by_names}` endpoints"
The distributed campaign creation endpoints don't seem to be properly validated regarding authorization:

* `POST /api/_version_/fleet/queries/run`
* `POST /api/_version_/fleet/queries/run_by_names`

The `rego` file mentions that team admin/maintainer, when running a "non-observers-can-run" query, *must* have the targets filtered to only teams that they maintain. Similarly, it mentions that team o

[2022-01-31 21:05] gillespi314 opened #3951 "Refactor `DataTable` and `TableContainer`"
This issue tracks  ongoing ideas for refactoring the `DataTable` and `TableContainer`

 Goals:
- Simplify the interfaces/props used by each component
- Interfaces for functionality like sort, filter/search, pagination should be generic and flexible enough to accommodate server-side vs. client-side
- Favor use of callbacks to render elements of the UI within designated containers.

Additional notes

[2022-01-31 21:09] mna opened #3953 "Authorization issue for `POST fleet/spec/queries` endpoint (ApplyQuerySpecs)"
The `ApplyQuerySpecs` endpoint does not apply the proper authorization when the spec ends up in an update, allowing changes where the otherwise equivalent `ModifyQuery` endpoint would not.

The rego file indicates that team maintainers and admins can edit only their own queries, and this is properly enforced in the `ModifyQuery` endpoint, as it loads the query prior to updating it:

[code]
This is

[2022-01-31 21:32] gillespi314 opened #3954 "Add E2E test coverage to the software list and software details pages"
### Related
#6245

### Tasks

When the software list and software details page was created, we did not have fixture data for software and were unable to write e2e tests. When we are #6245 is done, we will have the necessary fixture data to fully test these pages.

### 1
- [ ] Uncomment any commented e2e tests referencing the software list page.
- `free/admin.spec.ts`
- `premium/admin.spec.ts`

###

[2022-02-01 09:49] rubenrodr-versia commented on #3869
It seems an issue related to curl/openssl version.
We are planning an os upgrade to check if it resolves the certificate problem and will update this issue.

Thanks.
Best regards.

[2022-02-01 15:13] noahtalerman commented on #3938
I think there’s a tradeoff. Simple, bite sized policies maybe make it easier to say, for example, “This policy is failing because My AV is not up to date on a Windows machine, so I need to fix this Windows machine.”

While the complex policy may make it harder to reason about why the policy is failing and how to fix.

However, I think we want to prioritize keeping the number of standard policies l

[2022-02-01 15:29] noahtalerman commented on #2322
@gavinelder I'm adding your comment from the separate "[[FR] Separate internal / external endpoints](https://github.com/fleetdm/fleet/issues/3614)" issue here:

Maybe the first step is to add basic auth for both `/metrics` and `/version`? This way, all Fleet endpoints are kept behind basic auth.

Later, Fleet might want to make it easier to allow more granular control over which endpoints are publ

[2022-02-01 16:31] #3277 closed

[2022-02-01 19:18] mna commented on #3050
@lucasmrod @chiiph AFAICT there's no other comment on the ticket that addresses this point raised by Lucas (https://github.com/fleetdm/fleet/issues/3050#issuecomment-1018487787). Unless something is done, the recent vulnerabilities will get triggered everytime the vulnerability processing runs until that vulnerability is over 2 days old. I think the simplest approach is what Lucas mentioned, to tr

[2022-02-01 19:22] zwinnerman-fleetdm opened #3966 "OSVersion does not display properly when Linux distribution does not follow symver"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Fleet 4.9.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Free

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): Admin

**Operating system** _(e.g. macOS 11.2.3)_: Linux

**Web browser** _(e.g. Chrome 88.0.4324)_: qutebrowser v2.

[2022-02-01 19:22] zwinnerman-fleetdm commented on #3966
See #3965

[2022-02-01 19:22] chiiph commented on #3050
Sounds good!

[2022-02-01 20:04] xpkoala commented on #3882
I'm going to try and reproduce this in 4.9.1. If it continues to fail it will get moved over to the release board.

[2022-02-01 20:41] noahtalerman commented on #967
The "Software" table, which displays all installed software across my devices, is included in the latest release of Fleet (4.9.0).

[2022-02-01 20:41] #967 closed

[2022-02-01 20:43] noahtalerman commented on #1889
In the latest release of Fleet (4.9.0), after triggering a refetch on the "Host details" page, the data is automatically updated.

[2022-02-01 20:43] #1889 closed

[2022-02-01 20:44] noahtalerman commented on #1858
The "Read more about..." links are not included on the Host details page in the latest release of Fleet (4.9.0). These links have been moved to the Hosts page when a software version filter is applied.

[2022-02-01 20:44] #1858 closed

[2022-02-01 20:46] noahtalerman commented on #1433
The ability to move pending invited users between teams is included in the latest release of Fleet (4.9.0).

[2022-02-01 20:46] #1433 closed

[2022-02-01 20:57] noahtalerman commented on #3052
@mike-j-thomas looks good to me! Thank you for updating scratchpad.

[2022-02-01 22:12] DrewBakerfdm commented on #3645
I created a recording for installing Fleet for the Fleet Preview on Mac:
https://drive.google.com/file/d/1vBcz2HIKbECmfa_7Jkw0brAVkIpV_bEv/view?usp=sharing

This shows how to install node and docker, and how to open the terminal/run the command.

This process is seemingly automatic and easy.

I still need to edit the video and narrate.

[2022-02-01 22:29] tgauda opened #3971 "Expand monitoring / stats"
Today if endpoints take more time to complete than normal we don't have a way to easily detect that drift or monitor the skew over time.

TODO
If we added a simple timer to endpoint JSON responses we can then recommend customers monitor common queries / API requests over time. This can be used to detect if the system is performing as expected.

We could also expose avg, max, min timings via anothe

[2022-02-02 02:10] mike-j-thomas commented on #3618
@mikermcneil, am I still DRI for the license dispenser? Did you mention recently about Ben looking after something related to it?

[2022-02-02 02:24] mikermcneil commented on #3618
@mike-j-thomas Right, you're still DRI of license dispenser.

[2022-02-02 09:00] xpkoala commented on #3882
This doesn't appear to have been fixed with the 4.9.1 changes. Moving back to waiting.

[2022-02-02 09:09] xpkoala commented on #3879
@chiiph Could you confirm that this has been tested? I don't have an environment set up to poke this at the moment.

[2022-02-02 10:36] rubenrodr-versia commented on #3869
We have upgraded from SLES12 SP2 to SLES12 SP5 and now the connection to nvd.nist.gov works fine.
And the vulnerable software feature is working as expected:
![imagen](https://user-images.githubusercontent.com/24841626/152137086-ed70122f-0cc6-42f5-a83c-3764bb857eb8.png)

It would be nice to see CVSS score on vulnerable software and be able to order it by score.

Thanks.
Best regards.

[2022-02-02 10:36] #3869 closed

[2022-02-02 12:04] chiiph commented on #3879
Well, I tested it, but either we should work together to get you setup, or enlist another developer to run fleetctl preview from source to double check me.

[2022-02-02 14:04] RachelElysia opened #3976 "Manage packs page: Deleting a pack does not refresh table"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

 Admin
**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected be

[2022-02-02 14:37] RachelElysia opened #3977 "Bug: Software API call broken when software data table is empty"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected beh

[2022-02-02 15:20] lucasmrod commented on #3879
Sure!, testing right away.

[2022-02-02 15:25] lucasmrod commented on #3879
Done.

1. Pulled latest `main` as of today.
2. Run `make fleetctl`.
3. Run `./build/fleetctl preview`.
4. Checked the policies tab and they now show up:
![Screen Shot 2022-02-02 at 12 23 10](https://user-images.githubusercontent.com/2073526/152183545-768cdfe7-c4ee-4681-9f7c-021b14473a61.png)

[2022-02-02 15:32] chiiph opened #3979 "Searching for a host by hostname doesn't return the expected host"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.10.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): N/A

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): Global Admin

**Operating system** _(e.g. macOS 11.2.3)_:  N/A

**Web browser** _(e.g. Chrome 88.0.4324)_:  N/A

<hr/>

##

[2022-02-02 16:07] lukeheath opened #3980 "Optimize frontend making multiple requests to same API endpoint on window reload"
### Goal

On window reload, the frontend makes multiple requests to the same API endpoints. The requests vary depending on the frontend route.

### How?

Audit pages to determine the following:

1. Why multiple requests are firing on window reload but not route load.

2. How global API calls are working in conjunction with page-level calls.

If a fix can be implemented within half a day, we will i

[2022-02-02 16:34] zwass commented on #3879
Lucas, thank you for the step by step instructions.

@xpkoala are you able to follow Lucas' instructions and check this yourself as well?

[2022-02-02 16:53] xpkoala commented on #3879
@zwass @lucasmrod Thank you! I'll give this a go in a few moments.

[2022-02-02 17:02] RachelElysia commented on #3977
This issue was fixed with updating go to 1.17. Software math.MaxInt is not compatible with Go 1.16.

[2022-02-02 17:02] #3977 closed

[2022-02-02 17:11] xpkoala opened #3984 "Vulnerable software callout not dismissed correctly"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.9.1

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: Safari 15.2

<hr/>

### 🧑‍💻  Expected behavior
Vulnerable Software callout should be dismissed when returnin

[2022-02-02 17:36] xpkoala commented on #3879
Tested and confirmed the fix. Thanks!

[2022-02-02 18:03] GuillaumeRoss commented on #3938
I will:

- [ ] Make a query to check if Mac AV seems to work
- [ ] Try to merge that query with the Windows one with an OR to see if I can have a single query that checks both
- [ ] Make a google sheets with proposed 5-10 policies and what they would check on Windows so we can agree on the wording of what each item will be called (ie: Full disk encryption vs specifically saying Filevault or bitloc

[2022-02-02 18:15] lukeheath commented on #3078
After digging into GitHub Projects 2.0, we found a configuration that will work for our needs and should be able to scale successfully.

We have now switched back to GitHub projects for 100% of project boards. ZenHub is no longer being used at all, even the extension. We decided it wasn't worth the added layer for the small feature add.

The only ongoing pain point is no ability to total point est

[2022-02-02 18:19] lukeheath commented on #3640
Sorry for the verb confusion! @lucasmrod Yes, it should be `GET`. Updated the specs.

[2022-02-02 18:23] lukeheath commented on #2971
@Hanaffi No worries! The [Contributing](https://fleetdm.com/docs/contributing/building-fleet) section of the docs detail how to get up and running locally. Just let me know if you have any questions.

[2022-02-02 18:26] RachelElysia commented on #3976
@chiiph could you look into this and see if this is a backend issue? On refetch it's still returning the deleted pack

[2022-02-02 18:44] lukeheath commented on #3976
If you watch the network logs when deleting a pack, you should see the DELETE request complete before the GET requests goes out, but the GET requests still returns the deleted pack.

[2022-02-02 19:00] noahtalerman opened #3987 "Software page revisions"
### Goals

Inform new users that Fleet is working to collect software when the aggregate software list is empty.

Inform users, that have software inventory disabled, why they're current not seeing the aggregate list of software.

Update vulnerability (CVE) tooltip so that it does not present a large list of CVEs.

### Figma

Software page revisions: https://www.figma.com/file/hdALBDsrti77QuDNSzLd

[2022-02-02 19:32] xpkoala opened #3988 "Issue with save Query and Policy flow on name collision"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.9.1

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: 15.2

<hr/>

### 🧑‍

[2022-02-02 19:36] xpkoala opened #3989 "Change label text for Save Query and Policy on error"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.9.1

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: 15.2

<hr/>

### 🧑‍

[2022-02-02 19:58] chiiph commented on #3976
@RachelElysia @lukeheath So we are triggering a GET before the DELETE, but it returns after? I just checked the code, not sure what we can do to prevent this kind of timing issues. Could we fire the GET after the DELETE completes?

[2022-02-02 20:07] xpkoala commented on #3979
From @lucasmrod "The issue seems to be on the live query target search, not the main hosts page." Will confirm this momentarily.

[2022-02-02 20:09] mikermcneil opened #3990 "Get architecture diagram image into deployment docs"
### Goal

Get the architecture diagram prominently featured in the Fleet deployment docs, uploaded like the other images in the Fleet docs work today.

### How?

- [x] This image: https://drive.google.com/file/d/1jlxsyO-05BgwfZ3Q27H2dsBajXbbu6Q0/view?usp=sharing
- [x] Leave "public/" folder in google drive public (to preserve any lingering links to this folder), but rename it and move it outside o

[2022-02-02 20:19] xpkoala commented on #3984
@gillespi314 Hopefully this clarifies the issue, please poke me if not! https://www.loom.com/share/341f8dd7d4974dc1980a4031f6ec3961

[2022-02-02 20:20] RachelElysia opened #3991 "Manage Policies Page: Policy automation not loading on initial load"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected beh

[2022-02-02 20:28] chiiph commented on #3882
The last screenshot+comment makes it sound like it, yeah. Because it seems to be triggering the rename somehow.

As for the error, I ran fleet serve locally from main, created team1 and team2, deleted team2, renamed team1 to team2, and it worked.

Here's the list of requests as seen from the browser:

<img width="1436" alt="Screen Shot 2022-02-02 at 17 26 43" src="https://user-images.githubusercon

[2022-02-02 20:52] chiiph commented on #3882
After talking to @xpkoala it seems there's more to this to reproduce it, we couldn't narrow it down yet. He's looking into it in more detail.

[2022-02-02 20:57] zwinnerman-fleetdm opened #3993 "Overall short-mid term plan for Fleet loadtesting work"
# Short term
- [x] Clean up current loadtesting environment, bring in line with existing terraform code
- [x] "Fork" terraform code so that edits can be made independantly from existing loadtesting code
- [x] Get remote state for terraform loadtesting code
- [x] Get images pushed to ECR
- [x] Remove static IDs from terraform
- [x] Provide methodology and documentation for developers to deploy thei

[2022-02-02 21:10] RachelElysia commented on #3976
ManagePacksPage.tsx Line 96-122

[code]

The refetch isn't being called until the finally(), which makes the call _after_ the delete calls. It's still returning the deleted one. I tried putting a 1 second wait around refetchPacks(); and it corrected the bug but discussing with frontend we're wondering if the backend is returning a response prior to the delete actually finishing.

@gillespi314 said

[2022-02-02 21:26] xpkoala commented on #3882
Narrowing this down a bit.. it appears to be reproducible if both teams being manipulated have had a schedule attached to them at some point. I'm going to poke around a bit more and see if any other attached information to a team will cause similar behavior (users, policies, packs, etc). @chiiph

### Reproduce
- Fresh install of preview
- Create two teams: team1 & team2
- Add a schedule to both te

[2022-02-02 21:38] n8felton opened #3995 "Update launchctl to use modern subcommands"
### Goal

The `launchctl load` and `launchctl unload` subcommands are considered legacy subcommands since around OS X 10.11. As I find them in various projects I work with, I attempt to replace them before they are fully deprecated and stop working.

Reference: `man launchctl`

https://github.com/fleetdm/fleet/blob/b90e2e2e3d25ab1114773ec0579c2f382a4290d4/orbit/pkg/packaging/macos_templates.go#L40

[2022-02-02 21:40] chiiph commented on #3882
@xpkoala that clarifies things! I think I know where the issue is. Thank you!

[2022-02-02 22:39] #3618 closed

[2022-02-03 00:00] RachelElysia commented on #3991
@xpkoala or @lukeheath , can you reproduce and put this on this sprint's board

@lukeheath I just fixed it, will tag you and @gillespi314  on the PR once it passes tests.

[2022-02-03 00:19] xpkoala commented on #3991
I'll give it a test later tonight and move it over. Thanks @RachelElysia!

[2022-02-03 04:13] #2978 closed

[2022-02-03 15:59] xpkoala commented on #3991
Apologies for the late reply on this one, I just poked this on 4.9.1 and I'm not able to reproduce the issue. @RachelElysia

After assigning an automation, and refreshing the page, the automation does appear as "on" and viewing the manage automations modal shows the correct policy automation information.

Here's a quick video of the behavior on 4.9.1 https://www.loom.com/share/a7498711e33c41c8bfd0

[2022-02-03 16:14] RachelElysia commented on #3991
@xpkoala good to know, thank you for testing!

[2022-02-03 17:32] xpkoala commented on #2814
@lukeheath Wireframes for this one are currently up. I updated a few items to reflect that this csv does not need the CVE information. Is there anything else I can help clarify on this?

[2022-02-03 17:59] xpkoala commented on #3979
@chiiph @lucasmrod Video with some search behavior on display. Please let me know if I can provide any more info. I would assume that search functionality is similar between the Hosts and Query pages, but that doesn't appear to be the case.

https://www.loom.com/share/7a9423733312499cb7bd21f259610f91

[2022-02-03 18:27] lukeheath commented on #3155
@mike-j-thomas Should we add any hover states for text links? There are some cases we use normal text links instead of secondary buttons. For example:

![image](https://user-images.githubusercontent.com/2495927/152405611-dc41ce3e-06ad-439e-acbf-9eefd4479cc4.png)

Currently there is no hover state for text links.

[2022-02-03 18:58] lukeheath commented on #400
@mna Should the [response example](https://fleetdm.com/docs/using-fleet/rest-api#default-response11) in the REST API docs be updated to reflect this?

[2022-02-03 19:16] lukeheath commented on #3155
@mike-j-thomas Will there be any changes to the dropdown popup menu styling? If so, would you please provide a design comp showing the changes?

[2022-02-03 19:20] RachelElysia opened #4012 "Document expected behavior for "enter/return" key for forms in the Fleet UI"
### Goals

Document the expected behavior for hitting the "enter/return" key when interacting with a form in the Fleet UI.

Uncover all forms in the Fleet UI that don't allow submit when hitting the "enter/return" key so that the engineering team can estimate the work to update these forms.

### How?
- [x] In the product handbook, document that the expected behavior for all forms when hitting the

[2022-02-03 19:35] lukeheath commented on #3980
@lukeheath Review the app in dogfood so we can test on production. Testing locally means React dev mode, which sends multiple requests in some cases.

[2022-02-03 21:35] lukeheath commented on #3904
Reviewed with @michalnicp and we both confirmed this is no longer reproducible. We're clear to go ahead and close this out!

[2022-02-03 21:39] michalnicp commented on #3904
We also discovered that there is no `/teams/{id}` endpoint. The UI currently works around this by fetching all teams from `/teams` and iterating over it to find the team with the given id. We should consider adding a `GET /teams/{id}` endpoint.

[2022-02-03 21:45] noahtalerman commented on #3300
TODO Noah: Think about tradeoffs for displaying "---" if both counts are 0.

[2022-02-03 21:49] #1486 closed

[2022-02-03 22:00] tharun208 commented on #3904
@michalnicp, I like to add the `GET /teams/{id}` endpoint

[2022-02-03 22:23] luciusbono commented on #3878
Seeing this on macOS as well.
orbit 0.0.6 on macOS Big Sur 11.5.2

[code]

[2022-02-03 22:46] noahtalerman commented on #3397
@lukeheath below are the improvements to the **Software** page.

The Figma link included in this issue's description should now reflect these changes.

1. Inform new users that Fleet is working to collect software when the aggregate software list is empty.
  - Update the empty state on the Software page to display a "Fleet is collecting software." message.
  - This state is displayed when there is

[2022-02-03 22:51] lukeheath commented on #3397
@noahtalerman Thanks for adding details!

@gillespi314 Per our discussion, there was a screen I missed in the spec'ing process that needs to be added. Since you will be back in there, we're taking the opportunity to make a couple of usability improvements to the page. We appreciate your willingness to take that on!

[2022-02-03 23:01] noahtalerman commented on #3987
These revisions are now covered by the original "Add software page" issue: #3397

[2022-02-03 23:01] #3987 closed

[2022-02-03 23:05] DrewBakerfdm commented on #3645
Recorded First Audio, need to do some time warping and possible scene description images like in the "Intro to Fleet" video

https://youtu.be/_smRXJnxxdo

[2022-02-03 23:06] DrewBakerfdm commented on #3645
https://docs.google.com/document/d/1MP4tx9HT33gqMB24RPXD4p_-55dngN33jjaQ3MTSSK4/edit?usp=sharing

This is what I read aloud. Might add some other notes after some light editing.

[2022-02-03 23:07] xpkoala opened #4019 "Change All hosts button to clear active filters on screen"
### Goal

Clicking the All hosts button should clear filters present on the active page. As an example, If the user is filtering hosts by the “macOS” platform or “Label X”, selecting “All hosts” will nullify this (remove the filter).

This button is found in the top right corner of the `/hosts/manage` page.

[2022-02-03 23:07] eashaw commented on #3613
https://github.com/fleetdm/confidential/commit/913df1709ebadcbebffebf76d66f3a00d8ad6757

[2022-02-03 23:07] #3613 closed

[2022-02-03 23:09] DominusKelvin commented on #3907
@noahtalerman could you please file a separate issue for this?

[2022-02-03 23:11] #3313 closed

[2022-02-03 23:30] xpkoala opened #4020 "Update Policies API documentation"
### Goal

It appears that the API documentation present on our website is missing some fields, specifically:
- "team_id"
- "created_at"
- "updated_at"

Sample data (https://fleetdm.com/docs/using-fleet/rest-api#policies)
[code]

Example of returned data (4.9.1):
[code]

[2022-02-03 23:55] RachelElysia opened #4022 "4.10 release: Add Automations to Marketing site"
Blocked by: #3762

### Goal

Goal: To ensure our marketing site reflects our app

TODO

- Add all automations permissions to https://fleetdm.com/docs/using-fleet/permissions
- Add software vulnerabilities automations to https://fleetdm.com/docs/using-fleet/automations

### How?

- [ ]

[2022-02-04 00:15] mike-j-thomas commented on #3155
Yes, we should have a hover state. It's on my mind but I haven't had a chance to action anything for it yet.

Yes, I think we should improve them, but I haven't got anything for it just yet. I'll have a think about this.

Added both to my list.

[2022-02-04 00:16] mike-j-thomas opened #4023 "Improve text link hover states and dropdown menu styling."
See this conversation for reference:

https://github.com/fleetdm/fleet/issues/3155#issuecomment-1029521411

[2022-02-04 11:35] lucasmrod commented on #3878
@luciusbono Thanks! I've updated the issue title and description. We are working on a fix.

[2022-02-04 11:58] chiiph commented on #3446
@noahtalerman So this covers only the situation where the result is no targeted hosts. If the user specifies a label that is correct and a host that is incorrect, and the result is that it'll target the hosts in the labels, then no error would be displayed.

Similarly if the user does something like `--hosts host1,host2`, host1 exists, but host2 does not. It will target host1 and ignore host2.

Is

[2022-02-04 12:19] lucasmrod commented on #3927
API only users have the `api_only` property.
API only users can be created via `fleetctl user create --api-only ...`.

[2022-02-04 14:15] tgauda opened #4025 "Custom extension not working reliably"
**4.9.1**

**Premium**

**All**

**Linux** (Python OSQuery extension)

<hr/>

### 🧑‍💻  Expected behavior
A custom extension loads and continues to function.

### 💥  Actual behavior
When the agent initially enrolls, these extensions are loaded properly but after a while they de-register. We see that the extension process is running in the background but not returning any data.

### More info

Slack

[2022-02-04 14:34] noahtalerman commented on #2804
From a discussion with a prospective customer:

Linux laptops
- Remote lock and remote wipe on linux are super important to us
- Remote patch for apps/packages on Linux
  - Being able to lock an application to a version would be really nice
  - Currently we send them a couple of commands
- Remote patch for OS is slightly less important

AFAIK there is nothing standardized on Linux for this. We wou

[2022-02-04 14:37] noahtalerman opened #4026 "Move the "Configuration files" section into the fleetctl docs"
### Goal

Trim down and move [the "Configuration files" section of the docs](https://fleetdm.com/docs/using-fleet/configuration-files) into the fleetctl docs.

This is because many fleetctl use cases center around applying these configuration files with `fleetctl apply -f`.

[2022-02-04 14:37] noahtalerman commented on #3907
@DominusKelvin yes! The separate issue is here: https://github.com/fleetdm/fleet/issues/4026

[2022-02-04 14:39] DominusKelvin commented on #3907
Thanks @noahtalerman

[2022-02-04 14:43] noahtalerman commented on #3446
Got it. I think, as a user, I would like to receive the results for the hosts that exist and see an error for the targeted hosts that do not exist.

@chiiph what do you think about this^ UX?

[2022-02-04 14:51] chiiph commented on #3258
Closing for lack of more information, we can reopen when we learn more.

[2022-02-04 14:51] #3258 closed

[2022-02-04 15:41] gillespi314 opened #4028 "Add an empty state if the user has disabled software inventory."

[2022-02-04 15:42] gillespi314 commented on #4028
This was opened by mistake

[2022-02-04 15:51] RickyGrassmuck opened #4029 "Orbits CA bundle is significantly out of date"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):
4.9.1

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Fleet Free

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Admin

**Operating system** _(e.g. macOS 11.2.3)_:
Ubuntu 20.04

**Web browser** _(e.g. Chrome 88.0.4324)_:
N/A
<hr/

[2022-02-04 15:58] chiiph commented on #3446
Could be. If there are a ton of results, it won't be very clear. I would guess that's why we are explicitly ignoring targets that are wrong, unless the result is zero hosts are targeted.

[2022-02-04 16:47] xpkoala commented on #3913
@lucasmrod I have not been able to reproduce this locally using the steps provided. Could you give it an attempt and let me know if you are also encountering the issue?

[2022-02-04 16:52] zwinnerman-fleetdm opened #4031 "Change index type of idx_host_unique_nodekey from btree to adaptive hash index"
Based on the results from a loadtest, there were 2 bottlenecks on mysql's side: CPU and commits. On the CPU side, most of it was taken up doing a query like this: ```SELECT * FROM HOSTS WHERE `node_key` = ?```

Since this is a simple select, we can mostly rule out spinning for a lock. It still needs to acquire a shared lock but that's a shared lock. This means that what its probably doing is desce

[2022-02-04 17:47] zwass opened #4032 "Document high level descriptions/motivations for roles"
This issue corresponds to the following Product goal in the Q2 OKRs:

### Goal

Update the "Permissions" documentation page so that it helps both users and developers get a higher level understanding of what the various roles are.

Such as "observers have read only access to most resources..." Who in the organization they might be? etc.

[2022-02-04 17:54] tharun208 commented on #3921
@xpkoala I like to work on this

[2022-02-04 18:49] noahtalerman commented on #4022
@RachelElysia thank you for filing this! I forgot about updating the necessary documentation.

For future permissions issues like this, can you please also add them to the "Product team (weekly)" project?

This project is where the product team currently looks for issues that report bugs/missing information in the permissions docs.

[2022-02-04 18:58] noahtalerman opened #4033 "Blog post: Fleet 4.10.0"
Fleet 4.10.0 is scheduled for release on 2022-02-10 (afternoon PST)

### Goal

Prepare and publish the release blogpost for Fleet 4.10.0.

### How?

- Improvements to vulnerability processing that reduce the number of false positives for Linux machines: #3081
- A new Software page in the Fleet UI to see the number of hosts with a specific software installed and if the software has any vulnerabilit

[2022-02-04 18:59] noahtalerman commented on #4033
@mike-j-thomas I'm passing this issue's assignment to you and moving the issue into the "Ready" column on the growth board.

Can you please prepare the release blog post or assign this issue to another individual on the growth team? Thanks :)

[2022-02-04 19:07] noahtalerman commented on #3469
This issue is now covered by the following "Fleet Desktop MVP" issue: #3922

[2022-02-04 19:07] #3469 closed

[2022-02-04 19:16] noahtalerman commented on #3922
The following is a potential breakdown of the feature set for the 1st iteration (prototype) and the 2nd iteration (MVP) of Fleet Desktop.

This breakdown is only a suggestion and may be adapted during actual implementation.

#### Prototype

1. Packaging the desktop app
2. End user auth (knowing which device and user they are, getting them into Fleet)
    - Link end user to the Fleet UI
    - Butto

[2022-02-04 19:20] xpkoala commented on #3921
Hi @tharun208! Thank you for your interest in wanting to contribute!

This issue is currently being worked on by @RachelElysia but I believe @lukeheath could find something of similar complexity for you to tackle if that would work for you.

[2022-02-04 19:22] tharun208 commented on #3921
yes @xpkoala I am interested in other issues also

[2022-02-04 19:36] lukeheath commented on #3921
@tharun208 Great! I'm assigning this bug over to you: https://github.com/fleetdm/fleet/issues/3889

If you are interested in contributing to feature work on the frontend just let me know and I'll be happy to spec a feature ticket for you!

[2022-02-04 19:39] lukeheath commented on #3889
@tharun208 This would be a great issue for you to tackle first. I'm having trouble assigning the issue to you but I will get that fixed.

[2022-02-04 19:41] lukeheath commented on #3889
@tharun208 Looks like you need to [comment on this issue before I can assign it to you](https://github.blog/2019-06-25-assign-issues-to-issue-commenters/).

[2022-02-04 19:45] noahtalerman commented on #3640
I want to double check that this issue now covers the ability to download a list of hosts in CSV format _no matter which filters are applied_ on the **Hosts** page.

@chiiph can you please confirm if this is the case?

The screenshot of the Fleet UI below shows the updated behavior:

![Screen Shot 2022-02-04 at 2 39 18 PM](https://user-images.githubusercontent.com/47070608/152592577-6d3abd78-300f-

[2022-02-04 19:47] chiiph commented on #3640
@noahtalerman it might be slow, but it should be possible to export in any case.

[2022-02-04 19:52] tharun208 commented on #3889
@lukeheath i like to work on this

[2022-02-04 20:14] #3945 closed

[2022-02-04 20:22] noahtalerman commented on #2444
This issue is now covered by the following issue: #3658

[2022-02-04 20:22] #2444 closed

[2022-02-04 20:40] tharun208 commented on #3921
@lukeheath yes, I am interested in working on feature's also

[2022-02-04 23:12] mikermcneil commented on #3078
@lukeheath If someone can link me to two pages in the GitHub REST API docs:
- for "Find one issue", verifying that the point estimate is available there in the responded data
- for "List cards in column within a GH projects 2.0 board"

…then I will write a script this weekend that can be run to add this up automatically.

Deal?

[2022-02-04 23:13] mikermcneil commented on #3078
(it's unfortunately not in Zapier)

[2022-02-04 23:22] mikermcneil opened #4036 "Slack channels owned by teams"
## Updated easier to understankd notes

1. Check this out: https://about.gitlab.com/handbook/marketing/#marketing-slack-channels
2. Lets add a section like it on each of our handbook pages (probably at the bottom).  Let's name them the same thing for each page, so that you can go to like `fleetdm.com/handbook/brand#slack-channels` AND `fleetdm.com/handbook/product#slack-channels`
3. The section li

[2022-02-04 23:46] lukeheath commented on #3078
Deal! A simple google sheet would be helpful. Let me know if I can help.

- [Get an issue](https://docs.github.com/en/rest/reference/issues#get-an-issue)
`issue.labels`

- [List org projects](https://docs.github.com/en/rest/reference/projects#list-organization-projects)

- [List project columns](https://docs.github.com/en/rest/reference/projects#list-project-columns)

- [List project cards](https:

[2022-02-04 23:50] lukeheath commented on #3078
Big assumption there is that "List project cards" returns issue ids and not note ids.

Note: It's helpful when API docs list the entity type being returned.

[2022-02-07 11:00] #3617 closed

[2022-02-07 12:04] macEar opened #4046 "Export/import policies by fleetctl"
### Goal

Idk, but it looks like there is no option to manage policies by `fleetctl` utility. It'd be great if we could export policies by `fleetctl get policies --yaml` command. And vice versa to import policies back.

For now fleetctl offers the following options:

[code]

[2022-02-07 12:07] macEar opened #4047 "Add ability to disable policies"
### Goal

There is no option to disable policy for the latest version of Fleet  (v4.9.0). Currently we can only delete a policy:

![image](https://user-images.githubusercontent.com/47277788/152784391-0c971109-da6d-452d-9043-7a64d1b97333.png)

It'd be perfect to add such functionality.

[2022-02-07 12:18] macEar opened #4048 "Add functionality to splay policy queries"
### Goal

Idk if all policy queries currently run at the same time or not. If they do, it'd be cool to add functionality to splay queries within some interval specified in percentages. The same as `--schedule_splay_percent` osquery flag does (https://osquery.readthedocs.io/en/3.4.0/installation/cli-flags/).

The main purpose of this feature is to lower total osquery cpu/memory utilization.

Also i

[2022-02-07 13:19] mna commented on #400
@lukeheath the docs have been updated, I think you may have looked at the wrong endpoint, this is the new google chrome profiles endpoint with the host_id: https://fleetdm.com/docs/using-fleet/rest-api#get-hosts-google-chrome-profiles

[2022-02-07 13:58] AshnaSabu123 opened #4050 "fleetctl preview Issue"
While trying to execute the command sudo fleetctl preview we are getting the below error.

![image](https://user-images.githubusercontent.com/97601313/152801426-1407b583-bc47-4b49-bc18-b052c9d43f63.png)

And also while trying to execute docker-compose up below error is throwing.

**

### - [ ] root@master:/opt/fleetdm/fleet# docker-compose up -d fleet
- [ ] Creating network "fleet_cluster_network"

[2022-02-07 14:02] mna commented on #3950
Copying the comment I made on the PR here: https://github.com/fleetdm/fleet/pull/3992#pullrequestreview-871085435

---

In this PR, I only remove the pending TODOs and replace them with explanations of how this gets validated - the rego comments were slightly misleading as the rest of the validation is done quite a bit deeper in the datastore layer.

So basically - it does already validate that th

[2022-02-07 15:15] lukeheath commented on #400
@lukeheath Got it, thank you!

[2022-02-07 16:06] noahtalerman commented on #3640
Got it.

@chiiph I think this means that the "Parameters" section in this issue's description is outdated because only `software_id` is specified. Am I understanding correctly?

[2022-02-07 16:27] noahtalerman commented on #3446
Good point.

@chiiph I think it makes sense for this issue to only cover the situation where the results is no targeted hosts.

In a later iteration we might want to improve error messaging for the situations in which there's a mix of valid and invalid targets.

[2022-02-07 18:12] gillespi314 opened #4056 "Surface "Resource already exists" error in UI when attempting to recreate a saved policy"
### 🧑‍💻  Expected behavior
Error message in UI when attempting to recreate a policy that already exists

### 💥  Actual behavior
1. Go to manage policies page
2. Click add a policy
3. Select a new policy template from the modal and save
4. Go back to manage policies page
5. Click add a policy again
6. Select the same policy template from the modal and save
7. Network request error 409 in dev consol

[2022-02-07 18:26] michalnicp commented on #3904
Nothing to do, closing issue

[2022-02-07 18:26] #3904 closed

[2022-02-07 18:29] mna commented on #3950
Yes, the rego itself only checks that the user is a maintainer (or admin) of at least one team, and if so grants them the `run` action on the `query` type, regardless of the query "team_id" targets at that point.

Sounds good, wanted to check with y'all first before investing the time to figure this out in rego. I'll give that a shot.

[2022-02-07 18:31] RachelElysia commented on #4056
I think I fixed this in #4052 I just pushed to main a few minutes ago

[2022-02-07 18:33] lukeheath commented on #3706
@noahtalerman @xpkoala

Instead of showing an error message, what do you think of simply blocking input when the user reached the character limit? That seems to be the standard way it's handled on the web.

If we would like error messages, we'll need to consider the edit query and policy pages. They do not have input labels, which is where we typically show validation errors.

[2022-02-07 18:36] lukeheath opened #4058 "`GET /software` returning one less result that specified"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

<hr/>

### 🧑‍💻  Expected behavior

When I make a GET request to `/api/v1/fleet/software?page=0&per_page=20&order_key=hosts_count&order_direction=desc` I expect to receive 20 results.

### 💥  Actual behavior

I receive 19 results.

### More info

The endpoint always returns one less than the value s

[2022-02-07 18:36] RachelElysia commented on #4056
Confirmed on my main. @gillespi314 or @xpkoala, can you try to reproduce on main and confirm this is fixed and close this issue?
<img width="1790" alt="Screen Shot 2022-02-07 at 12 34 35 PM" src="https://user-images.githubusercontent.com/71795832/152850406-9e15b06a-c339-4842-8cc4-ede6b1847942.png">

[2022-02-07 18:37] noahtalerman commented on #3706
@lukeheath this sounds great! I think this is the superior solution.

[2022-02-07 18:38] mna commented on #4058
For completeness' sake, quoting Sarah on Slack:

(even if there should be more records, I believe).

[2022-02-07 18:40] gillespi314 commented on #4056
@RachelElysia @xpkoala, confirmed this is fixed by #4502!

[2022-02-07 18:40] #4056 closed

[2022-02-07 18:58] xpkoala opened #4059 "4.10.0: Smoke tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-02-07 19:04] xpkoala commented on #3706
+1 on your solution @lukeheath

[2022-02-07 19:12] noahtalerman opened #4060 "The future of device management is bigger MDM"
EDIT: This discussion was pulled into a private issue here: https://github.com/fleetdm/confidential/issues/888

[2022-02-07 19:26] xpkoala commented on #4050
Hi @AshnaSabu123, sorry to hear about your troubles running preview. I am not able to reproduce the issue on my end.

Just so I can get a little bit more context were you following the steps outlined on https://fleetdm.com/get-started? Information on how you setup your environment for running preview will help us in figuring out what is going wrong.

[2022-02-07 19:38] noahtalerman commented on #4060
cc @sharvilshah @GuillaumeRoss @groob

[2022-02-07 20:19] noahtalerman opened #4062 "Add battery health to host vitals"
## Goal

As an IT administrator looking a device's Host details page or device user page, I want to know the battery health of the device so that I can determine whether it's time to replace the battery.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4897%3A181350

## Related
- Backend (blocker): #4904

## Tasks

### 1
- [x] Update "Host Details" and "Device User" pages to i

[2022-02-07 20:43] zwinnerman-fleetdm opened #4064 "Repeated sql queries cause increased load on Fleet"
Fleet duplicates queries when POST /api/v1/osquery/distributed/read is called. Once for the auther middleware and once for the actual handler. This duplicated query represents ~20% of the total load on Fleet by my estimations. Here is a stack trace for the auther middleware:
[code]

And here is a screenshot showing the representative sample:
![2022-02-07-150404_1639x763_scrot](https://user-images.

[2022-02-07 21:11] noahtalerman commented on #3979
The expected behavior of this issue is now the following:

@chiiph do you think this improvement, as specified, can be completed during the code freeze?

If not, I'll move this issue to the top of the "Estimate" column in the product board so that it makes it into the next release.

[2022-02-07 21:28] mikermcneil opened #4067 "Unexpected behavior of ENTER keypress in delete policy modal"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.9.0

Chrome on macOS
<img width="685" alt="image" src="https://user-images.githubusercontent.com/618009/153095345-77d6b656-1d84-434f-ae7f-b3886d3f9ef3.png">

<hr/>

### 🧑‍💻  Expected behavior

Delete 3 policies, then hit ENTER when modal opens.  I expected it to submit.
![image](https://user-images.githu

[2022-02-07 21:55] lukeheath commented on #4058
We've confirmed the bug is being caused by this row appearing in the `aggregated_stats` table of the db:

`0	software_hosts_count	76	2022-02-07 21:19:59	2022-02-07 21:20:58`

[2022-02-07 22:57] cjwalton commented on #3913
I have now tried this on both an M1 Mac and a system running Rocky Linux - same issues. Is there any way to flag the command for additional logging? Seems very weird.

I've tried this as well without modifying the yaml at all - and the issue persists.

Is it possible that the export of the yaml file is not usable by the apply command ?

[2022-02-08 00:18] DominusKelvin commented on #3907
I submitted a [PR](https://github.com/fleetdm/fleet/pull/3974) adding an introductory section to the Fleetctl docs. This PR has been merged.

[2022-02-08 00:18] #3907 closed

[2022-02-08 01:04] zwass commented on #3995
Thank you for filling us in on this! I found more details in https://babodee.wordpress.com/2016/04/09/launchctl-2-0-syntax/.

[2022-02-08 01:06] zwass commented on #3911
This would be an easy fix, but compatibility needs to be confirmed with the customers that use this logger. I can reach out.

[2022-02-08 01:21] zwass commented on #3855
I think this could be achieved two ways:

1) Hit the `/version` endpoint (adds a new request on each operation).

2) Add version information to the `/api/v1/fleet/me` endpoint (which is already hit on each `fleetctl` operation`.

@michalnicp please have a go at this task and feel free to check in with the team about your preferred approach.

[2022-02-08 01:23] zwass commented on #3813
@michalnicp this could also be a good one for you to take on. You can follow the existing example in `cached_mysql` for implementing this.

[2022-02-08 01:24] zwass commented on #3750
@chiiph possibly a good one for Michal to take on so that he can have a good look through `serve.go`?

[2022-02-08 01:30] zwass commented on #3541
This is available in fleetctl 4.9.0 with `fleetctl preview --no-hosts`.

[2022-02-08 01:30] #3541 closed

[2022-02-08 01:32] zwass commented on #111
I'm going to close this as S3 (and now Minio) are supported destinations. We are open to PRs implementing support for other destinations.

[2022-02-08 01:32] #111 closed

[2022-02-08 01:33] zwass commented on #118
Closing this as we don't have any information to proceed.

[2022-02-08 01:33] #118 closed

[2022-02-08 01:49] mike-j-thomas opened #4074 "Fix up capitalization issues in deploying/configuration"
## Goal

Consistent capitalization of words and headings on
https://fleetdm.com/docs/deploying/configuration

## How
Please go through the text with a fine-toothed comb and route out any mistakes.

I skimmed the docs and found the following issues (there may be more)

- Inconsistent capitalization. Should be "identity provider" not "Identity Provider." I think there are 10 or so instances.

- Corr

[2022-02-08 01:52] zwass commented on #125
Closing this issue as stale.

[2022-02-08 01:52] #125 closed

[2022-02-08 01:54] zwass commented on #393
Closing in favor of https://github.com/fleetdm/fleet/issues/177 which has more details.

[2022-02-08 01:59] zwass commented on #526
This was no longer needed by the requesting customer and was removed from the Fleet roadmap.

[2022-02-08 01:59] #526 closed

[2022-02-08 02:01] zwass commented on #752
This has been in the Fleet UI now since at least a few versions back.

[2022-02-08 02:01] #752 closed

[2022-02-08 02:04] zwass commented on #937
A fix to https://github.com/reactjs/react-tabs/issues/329 would also help resolve this.

[2022-02-08 02:05] zwass commented on #424
Closing in favor of #937.

[2022-02-08 02:05] #424 closed

[2022-02-08 02:05] zwass commented on #946
This has been shipped on a per-host basis for at least a few Fleet versions. Let's open up a new issue if we want to do aggregation.

[2022-02-08 02:05] #946 closed

[2022-02-08 02:07] zwass commented on #971
I think this has all been shipped. Is there anything else to be done here?

[2022-02-08 02:07] #971 closed

[2022-02-08 02:07] zwass commented on #1046
Closing due to no followup.

[2022-02-08 02:07] #1046 closed

[2022-02-08 02:09] zwass commented on #1077
Looks like most of these route as expected and otherwise they route back to the homepage. I think we're good for now.

[2022-02-08 02:09] #1077 closed

[2022-02-08 02:14] #1234 closed

[2022-02-08 02:18] zwass commented on #1394
This is now documented in https://fleetdm.com/docs/deploying/configuration#redis-cluster-follow-redirections.

[2022-02-08 02:18] #1394 closed

[2022-02-08 03:09] macEar commented on #4047
In my case I found that some of my policy queries caused performance impact on hosts and I want to disable the most
heavy queries to see if something changes. For now I can only delete a policy and there is no comfortable way to get it back.

[2022-02-08 03:14] macEar commented on #4046
Thanks for your hint about importing policies, that's very handy.

If I could export policies, I'd be able to store them in a version control system (GitLab or GitHub), right. It'd be also very useful to migrate policies from one Fleet environment to another.

[2022-02-08 03:31] macEar commented on #4048
Policies are very useful, and all performance impact is caused by queries. So, I'll continue using the policy feature for sure.

It definetly makes sense to follow your suggestion and 1st reveal the impact and then configure.

But nevertheless we have no tool to monitor policy queries performance like with regular queries and `osquery_schedule` osquery table. Policy queries are ran in ad-hoc mode

[2022-02-08 04:52] cjwalton commented on #3913
Looks like this was a strange bug that @zwass uncovered. Our IDP Name was set to "SSO" but there was some internal validation in Fleet requiring that name to be 4 characters or more. This all worked fine -- but it caused our yaml file to fail when uploading via fleetctl. Renaming our IDP to "Okta" resolved the issue.

[2022-02-08 06:20] xpkoala commented on #3708
This appears to all be fixed. I'll just quickly bring up that in all cases but one the user stays on the current page and is shown the 404. The outlying case is an invalid query.

### Examples
- Navigating to /policies/10000 (if policy # 10,000 doesn't exist) would keep the user on the page /policies/10000 and show the 404 page.
- Navigating to /queries/10000 (if query # 10,000 doesn't exist) will

[2022-02-08 07:11] DominusKelvin commented on #4074
On it!

[2022-02-08 11:26] chiiph commented on #3640
Not necessarily, we can limit what we allow to filter by when we export csv. Even if everything is possible, we can make it so certain filters are only allowed.

[2022-02-08 11:31] chiiph commented on #3979
It could. I wouldn't, but time-wise, we could prioritize this over other things.

[2022-02-08 12:02] chiiph commented on #4048
The are sent to osquery at the same time. How they get executed on the host varies, I believe.

[2022-02-08 13:04] lucasmrod commented on #3913
OK. Good to know it was resolved!

I was also worried about the unhelpful error message:
[code]

But I've verified this on `main` (without Zach's fix) and the error message in the logs is now more clear now:
[code]
(there was some recent refactoring done by @mna that fixed this: #3796).

[2022-02-08 13:17] lucasmrod commented on #3446
I suggest we implement this with a "fail fast" mindset:

Have `fleetctl` first check if all hosts provided via `--hosts` exist.
If any of them does not exist, then show an error and not run the live query.
If all of them exist, then proceed to run live query.

[2022-02-08 14:50] noahtalerman commented on #4060
@mikermcneil, @GuillaumeRoss, @sharvilshah, @groob, @erikng, which strategies stand out to you, if any (positively or negatively)? What other strategies deserve consideration?

[2022-02-08 15:11] chiiph commented on #3750
Looks good, yeah, we seem to have a bunch of `context.Background()` and others there that might make sense to consolidate. And at the very least, it would be good to go through that part of the code.

[2022-02-08 15:28] noahtalerman commented on #3640
This makes sense.

@chiiph does this issue currently cover the ability to export a list of hosts in any filter scenario on the **Hosts** page?

I think this would mean that the export should support all current filters on the Home page (could be missing some):
- Software
- Software + team
- Policy
- Policy + team
- Team
- Team + label
- Team + status
- Team + status + label

[2022-02-08 16:03] zwinnerman-fleetdm commented on #4064
It appears to be happening in `server/service/handler.go`, more specifically in the interaction between `makeKitHandlers` and `newServer`.

[2022-02-08 16:08] mna opened #4082 "Investigate why we sometimes get a `host_software` row with `software_id = 0`"
As a follow-up to #4058 , which got fixed by ignoring the `host_software` entries with `software_id = 0` in this PR: #4080 , we should still understand how that row got there in the first place. It is possible that this is due to a development tool (maybe osquery-perf?) but it would be good to investigate further as it could uncover other issues.

**Fleet version** (Head to the "My account" page i

[2022-02-08 16:12] noahtalerman commented on #2814
@lukeheath heads up, it may be difficult to update the spec for this issue until a decision is made on the spec'd/estimated functionality in the backend ticket.

The discussion is in the backend ticket is here: https://github.com/fleetdm/fleet/issues/3640#issuecomment-1032782610

[2022-02-08 16:26] xpkoala opened #4083 "Team name edit not applied on current screen"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: Safari 15.

[2022-02-08 16:59] zwinnerman-fleetdm commented on #4064
Nevermind, misread the code. This is actually what's happening https://github.com/DataDog/dd-trace-go/issues/270#issuecomment-401060561.

[2022-02-08 18:22] #4060 closed

[2022-02-08 18:37] martavis commented on #3708
@xpkoala Yes, unfortunately I could not implement the "overlay" for queries because there is a lot of legacy code to remove and refactor, which was out of scope for this task. Tagging @lukeheath for visibility.

[2022-02-08 18:56] xpkoala opened #4085 "Vulnerable software views not showing correct data"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): Fleet 0.0.0-SNAPSHOT-578a978 `main` tag

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.

[2022-02-08 18:57] xpkoala commented on #4085
Tagging @chiiph

[2022-02-08 19:19] xpkoala commented on #3932
TODO : Talk to engineering about how the current documentation falls short.

[2022-02-08 19:25] michalnicp commented on #3855
I would lean towards using the `/version` endpoint. Adding version information to `/api/v1/fleet/me` feels like we would be mixing concerns because it would now return both user and version information.

Since `fleetctl` interacts with the fleet server using the API, should we enforce that the versions of `fleetctl` and `fleet` match exactly? In general, they should be compatible unless the API in

[2022-02-08 19:30] lukeheath commented on #4058
I've confirmed this fix in `main`. Moving the fix to QA for release in 4.10.

[2022-02-08 19:33] xpkoala opened #4086 "Account recovery UX for SSO"
### Goal

TODO
Similar to #3227 look into how we are currently showing recovery when a user encounters a login issue with SSO enabled. If improvements are needed they can be discussed here.

[2022-02-08 19:36] lucasmrod opened #4087 "Allow testing URL on Metadata URL for SAML configuration"
**Fleet version**: `main`, tag 578a9780.

**User role**: Admin

**Operating system** _(e.g. macOS 11.2.3)_: macOS Big Sur 11.6.3

**Web browser** _(e.g. Chrome 88.0.4324)_: Chrome

<hr/>

I was following the instructions to test SSO SAML in:
https://github.com/fleetdm/fleet/blob/578a9780f2bf495a0b41f0103063cb04bc6430c2/docs/03-Contributing/02-Testing.md?plain=1#L269-L282

### 🧑‍💻  Expected behavio

[2022-02-08 19:54] xpkoala commented on #4067
@noahtalerman Should pressing <Enter> on any similar modal advance the user through the action?
@mikermcneil What browser was this attempted in? I'm not reproducing this on the `main` branch using Safari.

[2022-02-08 19:56] lucasmrod opened #4088 "Send a Slack notification message when the NVD workflow fails"
### Goal

We would like to get notified when https://github.com/fleetdm/nvd/actions/workflows/generate.yml ran with failures.

Otherwise we may miss:
- updates of vulnerabilities for new applications.
- CentOS updates around patched CVEs (after the work for #3081 gets merged).

### How?

- Add a new job to https://github.com/fleetdm/nvd/actions/workflows/generate.yml that uses https://github.com/m

[2022-02-08 20:03] noahtalerman commented on #4067
@xpkoala yes. All modals/forms that ask a user to confirm or submit an action should be submitted when pressing the "enter" key.

[2022-02-08 20:15] chiiph commented on #3855
I think so, 4.9.2 might patch a bug in both places that if you use 4.9.1 in one and 4.9.2 won't really help.

[2022-02-08 20:22] lucasmrod commented on #3855
Probably ok if it's just a warning? (versus enforcing matching versions)

+1 to using `/version`.

And actually... the only reason we execute a `/me` request on every operation is to perform an authentication check (due to invalid, missing or expired auth tokens, see #2353 for context). So, we can just replace `/me` with `/version` and feed two birds with one scone.

[2022-02-08 20:28] zwinnerman-fleetdm opened #4089 "Fleet Terraform Code and Modules for Customer Deployment"
### Goal

To ease customer deployments, we should have terraform code and modules that at least allow customers to easily deploy the recomended architectures on https://fleetdm.com/docs/deploying/reference-architectures#example-configuration-breakpoints.

[2022-02-08 20:40] lukeheath opened #4091 "Add E2E tests for homepage platform picker"
## Goal

As a frontend engineer, I want the homepage platform picker to be covered by E2E tests so that I know the correct content is displayed for each platform.

## Tasks

- [ ] Add E2E tests to confirm correct content is displayed for all platforms.
- [ ] Add E2E tests to confirm that clicking "View all hosts" correctly applies the platform filter.

[2022-02-08 20:45] zwass commented on #3855
I agree, would prefer to see this as a warning. Maaaybe I could see refusing to run if the major versions don't match. But I think going ahead with a warning makes sense.

The `/version` endpoint is actually _not_ authenticated (maybe it should be?). I think it's fine to use the `/version` endpoint in addition to `/me`. Not necessarily ideal, but not a big deal.

[2022-02-08 20:48] lucasmrod commented on #3855
Just checked:
[code]
See:
https://github.com/fleetdm/fleet/blob/578a9780f2bf495a0b41f0103063cb04bc6430c2/server/service/handler.go#L363-L375

[2022-02-08 20:49] noahtalerman opened #4092 "Add ability to see what information my organization has access to"
## Goal

As a user of a company owned device (end user), I want to be able to see what information about my device my organization has access to.

## Figma

Add ability to see what information my organization has access to: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4803%3A178386

## Related

- Epic: #3922
- Backend (done): #4416

## Tasks

### 2
- [x] Create new `DeviceUserPage` c

[2022-02-08 20:51] noahtalerman opened #4093 "Add ability to generate a Fleet installer that includes Fleet Desktop"
This issue outlines one goal included in the larger "Fleet Desktop" issue: #3922

## Goal

As an IT administrator, I want to be able to generate a Fleet installer that includes Fleet Desktop.

## Figma

Add ability to generate an installer that includes Fleet Desktop: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4803%3A178244

### Backend Ticket:

## Tasks

### 1
- [x] Update generat

[2022-02-08 20:56] lucasmrod opened #4094 "Frequency column in scheduled queries on packs should use consistent copy"
**Fleet version**: 4.16.0

<hr/>

The `Frequency` column for scheduled queries (that do not belong to packs) correctly shows the unit of time in "seconds," "minutes," "hours," "weeks," "days" copy:

![Screen Shot 2022-02-08 at 17 50 34](https://user-images.githubusercontent.com/2073526/153073576-ef1ba2e1-c68a-4829-a624-2d0e52c97314.png)

### 🧑‍💻  Expected behavior

I expect the same copy("seconds,

[2022-02-08 20:59] lukeheath commented on #3489
Update frontend documentation to define conventions. CSS conventions. Where should styling be applied.  Home page would be a good example of how/where to handle styling. 

[2022-02-08 21:00] mikermcneil opened #4095 "As observer: Query detail page doesn't match Figma"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

<hr/>

### 🧑‍💻  Expected behavior
<img width="728" alt="image" src="https://user-images.githubusercontent.com/618009/153074835-1e131c4a-6c8f-47ca-8a8b-ca90a80827bc.png">

### 💥  Actual behavior

<img width="801" alt="im

[2022-02-08 21:17] tgauda opened #4096 "Host vitals 'Device user' tooltip lists chrome profiles"
**4.9.1** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**All** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**All** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

### 🧑‍💻  Expected behavior
Device users in host vitals should either list the users for the device or consider naming it as web browser/chrome profiles

[2022-02-08 21:27] michalnicp commented on #3855
Why do we have both endpoints, and why do they behave differently? Should we have a separate discussion on this and create an issue to remove/modify these endpoints?

I'll use `/api/vi/fleet/version` for reasons noted above and start work on this.

[2022-02-08 21:53] lukeheath opened #4097 "Improve settings page"
## Goal

Improve settings page UX and validation logic.

## Tasks

- [ ] The left side text menu should highlight items as they scroll down.
- [ ] Update settings [form validation to useReducer](https://www.codingdeft.com/posts/react-form-validation/).

[2022-02-08 21:54] lukeheath opened #4098 "Improve Postman collection"
## Goal

Increase the number of API endpoints covered in the Postman collection

[2022-02-08 22:40] #3242 closed

[2022-02-08 22:51] mike-j-thomas opened #4100 "Tags from the Query details page should be clickable..."
... and navigate users to the filtered results page for that tag.

[2022-02-08 23:46] mikermcneil commented on #4067
As a user, if I press enter and nothing happens, it's not a huge deal.  But if I press enter and the modal dismisses as if I'd pressed ESC, then that's pretty confusing.  Pressing the "ENTER" key should not dismiss the modal as if you pressed ESC.

@lukeheath if it helps, an easy pattern to implement this that I've seen work well before is to autofocus the submit button (because then you can just

[2022-02-08 23:51] mikermcneil commented on #4067
@xpkoala Chrome on macOS
<img width="685" alt="image" src="https://user-images.githubusercontent.com/618009/153095345-77d6b656-1d84-434f-ae7f-b3886d3f9ef3.png">

[2022-02-08 23:53] mikermcneil commented on #4067
If unable to reproduce, try fiddling with the checkboxes first (multiselect, delete, dismiss).  This is just an off the cuff crazy idea, but it could be that the modal leaked focus, and so my ENTER keypresses were triggering checkboxes behind the modal, thus changing the selection, which is maybe triggering some code that dismisses the modal

[2022-02-09 00:42] xpkoala commented on #4067
Thanks! I'll poke it some more.

[2022-02-09 01:24] xpkoala commented on #3173
@chiiph @mna Was this ever added to the debug functionality? I'm not seeing a merge on this ticket or the one linked (#3169).

After pulling down `main`, running make on fleetctl and then executing `fleetctl debug archive` I am getting an error `Failed db-locks: get dblocks received status 404`.

The sub command is still called `db-locks` which is leading me to believe I either built incorrectly o

[2022-02-09 01:43] erikng commented on #3934
I get this request commonly for Nudge as well and one way to potentially tackle it is https://github.com/macadmins/nudge/issues/190

[2022-02-09 01:53] erikng commented on #3995
This syntax is so foreign to me but I'd love some PRs @n8felton :)

[2022-02-09 02:05] xpkoala opened #4101 "Organization settings categories take two clicks to access"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): `main a311abc`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: Sa

[2022-02-09 02:20] xpkoala opened #4102 "Team host count reflects total number of active Teams"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): `main a311abc`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: Sa

[2022-02-09 04:01] mikermcneil commented on #3078
Shoot I totally forgot about this, sorry @lukeheath .  Thank you so much for the links!  I'm on it next weekend.  Calendared.

(Reminder to self: Toast's Slack app does not notify about GitHub comments unless the person is mentioned)

[2022-02-09 10:23] lucasmrod commented on #3855
+1 to have a separate issue for the double version endpoint discussion. You can create such issue with the `idea` label on it.

[2022-02-09 11:15] chiiph commented on #3173
@xpkoala when you run fleetctl, are you running `./build/fleetctl` or just `fleetctl`? Ping me when you are around to sort this out.

[2022-02-09 14:23] noahtalerman commented on #4096
The current plan is to update "Device user" to "Used by."

This way, the IT administrator knows that this information informs them which human is using the device.

@tgauda do you think the above change is still unclear?

[2022-02-09 14:44] noahtalerman commented on #3918
@lucasmrod do you think we do this for the user instead of asking them to disable the queries themselves?

Two potential solutions:

1. Only run the queries with `mdm`, `munki_info` tables on macOS. Only run the queries with `google_chrome_profiles` on macOS and Windows.

2. Only run the same queries if the user has Fleet's installers (orbit) deployed.

I think (1) is a better solution because the

[2022-02-09 14:51] GuillaumeRoss opened #4105 "Support for "meta" policies - groups of policies"
### Goal

TODO
Fleet currently supports policies, which are essentially saved queries that return output if successful, or nothing. Fleet considers it a success if there is output, a failure otherwise. This is useful for implementing policies like "Are all of my laptops encrypted?".

However, it becomes limiting in scenarios where multiple queries are required to answer a question. For example, an

[2022-02-09 14:51] GuillaumeRoss commented on #4105
@noahtalerman as discussed yesterday!

[2022-02-09 15:10] GuillaumeRoss opened #4106 "Policy content updates separate from product"
### Goal

TODO
Fleet includes suggested policy queries. These queries are part of the product itself. Fleet might one day include other similar "content".

Having them built into the product is great, however, it does not allow for rapid updates.

This content should have an online update mechanism, on by default but clearly mentioned during setup. This would allow for the distribution of new quer

[2022-02-09 15:10] GuillaumeRoss commented on #4106
@noahtalerman as discussed yesterday 😄

[2022-02-09 15:17] GuillaumeRoss opened #4107 "Live policy updates"
### Goal

TODO
This issue depends on https://github.com/fleetdm/fleet/issues/4106 - and should not be started before.

Fleet includes pre-written policy queries. The workflow works as such:

1. User creates new policy.
2. Picks a pre-written query.
3. Is shown the query (in the regular query UI)
4. Saves the query, with or without edits
5. A policy is now active with this query

For policy queries

[2022-02-09 15:17] GuillaumeRoss commented on #4107
@noahtalerman Another one from our list!

[2022-02-09 15:27] GuillaumeRoss opened #4108 "Default policies should be created on brand new installs"
### Goal

TODO

Fleet is a great tool, and policies are super useful. Creating a small set of standard policies by default would allow users trying it out to see value faster, and to learn about the policy feature more easily.

### How?

- [ ] We should highlight 2-3 policies that should be created by default.
- [ ] Target different operating systems so no matter what gets enrolled at least one of

[2022-02-09 15:27] GuillaumeRoss commented on #4108
@noahtalerman !

[2022-02-09 15:29] RachelElysia opened #4109 "External doc needed: Software inventory external link leads to nothing"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

In the

[2022-02-09 15:32] GuillaumeRoss opened #4110 "Non-policy query library"
### Goal

TODO
Fleet includes a small library of queries to create policies from.
The Fleet website also includes a library of queries, which includes queries that are not policy queries.

It would be nice to have access to such a library within the Fleet product itself.

This should probably only be considered after https://github.com/fleetdm/fleet/issues/4106

### How?

- [ ] When creating a new

[2022-02-09 15:35] mna commented on #4085
@xpkoala With PR #4104 merged, I tested it again with `fleetctl preview` and it looks good to me, I'll let you try it out (you may want to run `fleetctl preview reset` just to be sure, and then `--tag main` should be fine as it is merged to main) see if that looks good to you to.

![Screenshot from 2022-02-09 10-34-40](https://user-images.githubusercontent.com/692384/153234516-be532241-4910-4835-a

[2022-02-09 17:01] lukeheath commented on #3078
@mikermcneil No worries. I'll try to remember to tag you in the future.

[2022-02-09 17:19] mikermcneil opened #4113 "Software page: Add bundle identifier tooltips"
## Goal

On the **Software** page, add the "Type" column and bundle identifier information.

## Figma

 Software page: Add "Type" column and bundle identifiers: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4918%3A232549

 ## Tasks

### 1
- [x] Add tooltip when software item has a `bundle_identifier` value.
- New tooltip underline indicator is used if the software item has a bundle id

[2022-02-09 17:25] mikermcneil opened #4114 "Better preview when differential logging selected"
### Goal

Add/edit scheduled query modal: "Preview data": If differential logging is enabled, then display example JSON of what differential logging looks like (instead of the snapshot example)

### How?

- [ ]

[2022-02-09 17:35] xpkoala opened #4116 "Double chevron appears for advanced schedule dropdown"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): main

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: Safari 15.2

[2022-02-09 17:51] xpkoala opened #4117 "Extend Munki data that will be displayed"
### Goal

TODO
Add surfacing munki jobs and their status (hosts successfully that have had job run).

[2022-02-09 17:56] xpkoala opened #4118 "Missing information on software manage modal"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): `main cc1cf69`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): premium

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_:

[2022-02-09 18:24] tgauda commented on #4096
The verbiage change is helpful and I completely understand the use case. I'm thinking of making the source of the data clear so people can understand how appropriate this information would be for their use case. When I see either device user or used by I'm thinking this is the user account in the os vs the profile in the web browser.

[2022-02-09 18:35] RachelElysia opened #4120 "UI Improvement: Fix inconsistent units for measuring a scheduled query's frequency"
### Goal
The following two screens do not consistently display time. We should show the time consistently using the smarter method so that it's more intuitive. (How many days is 168 hrs?)

<img width="719" alt="Screen Shot 2022-02-09 at 12 33 48 PM" src="https://user-images.githubusercontent.com/71795832/153267086-a491de00-290c-4515-ad61-dad683c7d833.png">
<img width="721" alt="Screen Shot 2022-02

[2022-02-09 19:22] noahtalerman opened #4123 "`mdm` and `munki_info` queries run on incompatible hosts"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): 4.9.1

<hr/>

### 🧑‍💻  Expected behavior

Host vitals queries that include the `mdm` and `munki_info` tables only run on macOS hosts.

This is because these tables are only compatible with macOS. Check out the macadmins/osquery-extension docs for each tables' compatibility here: https://github.com/macadm

[2022-02-09 19:24] noahtalerman commented on #4123
@xpkoala heads up, I added this new backend bug to the 🚀 Release board. Please let me know if it needs additional information.

[2022-02-09 19:25] noahtalerman commented on #3918
The following bug report issue covers the above: #4123

[2022-02-09 21:41] RachelElysia opened #4132 "Improve software inventory messaging"
## Goal

As a user, I want to see a user-friendly notice if software information is missing.

## Figma

Home and Software: Make users aware of why stuff isn't showing up: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4454%3A173568

## Tasks

### 1
- [x] Update homepage software card to reflect new process messaging.

**When software inventory is being collected:**
- “Last updated...”

[2022-02-09 23:43] DominusKelvin opened #4137 "Edit Page link should open on a new tab"
### Goal

Currently, the "Edit Page" link replaces the current browser window when clicked. I think it will be a better experience if it opens on a separate window and I can pick off from where I left on the docs after I'm done editing(or I abandon the edit altogether for some reason)

### How?

- [x] Add a `target="_blank" to the "Edit Page" link

[2022-02-10 00:01] RachelElysia commented on #4094
Another related UI issue about measuring Frequency #4120

[2022-02-10 04:25] zwass opened #4145 "Use `change` argument in go-tuf getPassphrase"
This argument was recently added in go-tuf and we can probably make use of it to improve the key rotation experience.

See https://github.com/fleetdm/fleet/pull/3837/files#r795664583 where we updated the library to the version that has this argument available.

[2022-02-10 11:11] lucasmrod commented on #3918
Hi @noahtalerman, sorry for the delay.

This sounds good to me.

Just for reference: #4144 is also disabling `google_chrome_profiles` for Windows users too.
Thus, once we merge that change, the data from the three extensions tables will only be available on `macOS`.

This is a better solution IMO. But we need to discuss how can fleet properly identify which hosts have fleet-osquery vs. non-fleet-o

[2022-02-10 13:52] sharvilshah commented on #3918
Hey @lucasmrod, I believe there is a way to set a custom user agent in osquery via an environment variable if i recall correctly -- there was a PR for it, but I am not sure of it's status. Let me take a look and I will update here.

The other way to distinguish between fleet/orbit osquery and vanilla osquery, perhaps by path? Not sure how feasible it will be?

[2022-02-10 13:54] sharvilshah commented on #3918
@lucasmrod Here's the community PR from osquery, it's still a work-in-progress by the looks of it
https://github.com/osquery/osquery/pull/7347

[2022-02-10 14:02] lucasmrod opened #4146 "Fleet-osquery doesn't handle `filesystem` value in `logger_plugin`"
Fleet-osquery installer v0.0.5

**Operating system** _(e.g. macOS 11.2.3)_: macOS and Windows

<hr/>

As a user I would like to change the default `logger_plugin` agent setting from `tls` to `tls,filesystem`.

### 🧑‍💻  Expected behavior

`osquery` starts logging results and status to a (documented) file system path (which depends on the platform, Windows, macOS, etc.).

### 💥  Actual behavior

`os

[2022-02-10 14:33] chiiph opened #4147 "Log URLs fleetctl vulnerability-data-stream downloads from"
### Goal

In some infrastructure setups, it's important to be aware of what URLs `fleetctl vulnerability-data-stream` downloads. We should log them when debug is enabled.

[2022-02-10 15:25] noahtalerman commented on #3850
More on the reasoning for calling the packages “Fleet installers” instead of “Orbit”…

The thinking is that we’d like users to have a good picture of all the parts they need to be successful with Fleet.

To do this we think it’s important to use consistent naming for all these parts (Fleet installer, Fleet server) in the product, documentation, and marketing.

Another benefit of calling them “Flee

[2022-02-10 15:52] noahtalerman commented on #4132
I’m pulling it into the “Product” board because there’s some wireframing needed to depict the desired empty state for both the Software page and Software card.

[2022-02-10 16:20] GuillaumeRoss opened #4149 "Bundle augeas lenses with osquery installer"
### Goal

TODO
The standard osquery package includes Augeas lenses (https://augeas.net/). These lenses can be thought of as sets of regular expressions for parsing common configurations.

For example, there is an augeas lens for `/etc/hosts`. This allows the querying of the hosts file as if it was a SQL table.

[code]

With this data, we can then create great policies! For example, we could:

* Ch

[2022-02-10 16:43] RachelElysia commented on #4067
@xpkoala This is a part of a bigger issue I filed regarding hitting ENTER app wide:
https://github.com/fleetdm/fleet/issues/4012

[2022-02-10 16:43] noahtalerman opened #4150 ""Unenrolled" counts are not accurately on the Home page"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): Commit hash `26bc2a3`

<hr/>

### 🧑‍💻  Expected behavior

When filtering by "macOS" on the **Home** page, I expected to see a value of at least `1` next to "Unenrolled" on the **Home** page.
- This is because there are several other macOS hosts that return `false` when running `SELECT enrolled FROM mdm`

[2022-02-10 16:52] lukeheath commented on #3849
@chiiph No API changes so assigning over to you. Looks like this could maybe be brought straight into estimation?

[2022-02-10 16:54] lukeheath commented on #2422
@chiiph Assigning over to you. Maybe ready for spec/estimation based on your last comment?

[2022-02-10 16:55] lukeheath commented on #1980
@noahtalerman Should this be assigned to anyone?

[2022-02-10 16:57] lukeheath commented on #1514
Missing estimate?

[2022-02-10 16:57] noahtalerman commented on #1980
@lukeheath yes this issue needs estimation.

The intent was that this issue is treated like a normal engineering ticket i.e. estimated, prioritized in the release, and assigned.

[2022-02-10 16:58] lukeheath commented on #3914
@chiiph Assigning to you for estimation.

[2022-02-10 17:00] RachelElysia commented on #4067
@xpkoala Actually, I filed this on #3797 as well.

[2022-02-10 17:03] noahtalerman commented on #4093
@lukeheath heads up, after moving this issue into the "Architect" column, I pulled it near the top of the "Priorities" view: https://github.com/orgs/fleetdm/projects/27/views/9

This is because product would like to kickoff the implementation of Fleet Desktop during the next release cycle.

[2022-02-10 17:04] noahtalerman commented on #4092
@lukeheath heads up I pulled this issue near the top of the "Priorities" view: https://github.com/orgs/fleetdm/projects/27/views/9

[2022-02-10 17:10] #3222 closed

[2022-02-10 17:44] RachelElysia commented on #2856
Closed by #3883

[2022-02-10 17:44] #2856 closed

[2022-02-10 17:46] RachelElysia commented on #1080
@lukeheath officially closing this

[2022-02-10 17:48] GuillaumeRoss commented on #3946
Queries all work with different levels of precision depending on the OS.

Windows: uses Windows API, queries don't need editing over time, great.
macOS: Uses plist to read the version numbers, version numbers will need to be edited over time, good
Linux: Only checks that clamd and freshclam are running. Not awesome. Once we have augeas in our default package, will make those queries better on macO

[2022-02-10 17:57] RachelElysia commented on #1134
Fixed by #2477

[2022-02-10 17:57] #1134 closed

[2022-02-10 17:59] RachelElysia commented on #1480
@noahtalerman Addingn this to product team weekly.

[2022-02-10 18:04] RachelElysia commented on #2821
Closed with #3029 and @lukeheath 's work on Team Dropdown

[2022-02-10 18:07] RachelElysia commented on #1547
Closed out by @lukeheath 's work on Teams Dropdown (easy access to team schedule from manage teams page)

[2022-02-10 18:07] #1547 closed

[2022-02-10 18:14] zwass commented on #2422
Maybe we just need to do macOS? There's not a standardized way to uninstall a `.pkg` (see https://superuser.com/questions/36567/how-do-i-uninstall-any-apple-pkg-package-file).

I see that DEB and RPM both have uninstall options, along with Windows MSI. Maybe the uninstall command can just provide instructions?

[2022-02-10 18:18] lucasmrod commented on #2422
#3563

[2022-02-10 18:18] gillespi314 commented on #3523
@RachelElysia I think so. I haven't seen it lately either.

[2022-02-10 18:19] #3523 closed

[2022-02-10 18:22] #2198 closed

[2022-02-10 18:23] RachelElysia commented on #1308
@noahtalerman can I move this to product-weekly?

I think all issues on Fleet core roadmap should be reassessed because it seems like a lot of them are 4+ months old and are not being addressed.

[2022-02-10 18:31] chiiph commented on #2422
If we package orbit as .app, then uninstall is just removing it. I think we can do launchd and all that through this packaging/installation method.

[2022-02-10 19:00] martavis commented on #3800
@xpkoala I fixed the host count issue in [this PR](https://github.com/fleetdm/fleet/pull/4155). Unfortunately, I am not sure how to reproduce the issue where Munki count isn't correct. I have 31 simulated Mac hosts and not all of them have Munki installed.

@chiiph Can you confirm the behavior of [possible] Munki randomization?

[2022-02-10 19:12] lukeheath commented on #344
@noahtalerman

Rachel: How should we treat the vulnerabilities popup? Should we also remove the arrow? Does the icon indicator change at all?

![image](https://user-images.githubusercontent.com/2495927/153479780-4cc66adb-1126-46f0-8dc7-b0dffb6b0073.png)

[2022-02-10 19:17] noahtalerman commented on #4150
@chiiph I updated this issue to only cover the "Unenrolled" counts on the Home page.

Additional info I just came across:

The hosts that return `false` to the `SELECT enrolled FROM mdm;` query respond with `macadmins: null` instead of the following expected response:
[code]

[2022-02-10 19:18] noahtalerman opened #4156 "MDM information is not updated on the Host details page"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

On my

[2022-02-10 19:39] lukeheath commented on #3300
@noahtalerman Assigning back to you for clarity on the above.

[2022-02-10 19:47] lukeheath commented on #4093
@noahtalerman

Fleet Desktop will be for all platforms? We were thinking Mac only to start.

[2022-02-10 20:01] lukeheath commented on #3492
How should we approach this initiative?

Martavis:

Categorize areas of the app and approach them one at a time.
1. Pages
2. Global Component
3. Page-level components
4. Remove redux from auth
5. Remove redux from middleware / routing

[2022-02-10 20:12] martavis commented on #3800
Note for question above:

We confirmed during stand-up that we are randomizing Munki and MDM counts while testing.

[2022-02-10 21:34] noahtalerman commented on #3849
@lucasmrod thanks! I updated this issue's description.

[2022-02-10 21:47] lucasmrod commented on #3849
So, we want a new `fleetctl package type=app ...`?

[2022-02-10 22:10] eashaw opened #4162 "Update links pointing to documentation pages on github.com"
TODO: Eric find all places (except in the docs/ folder itself, where relative repo URLs are fine) in repo that point to  doc pages via github.com URLs or relative repo URLs (i.e. ../../)  and instead have them point to fleetdm.com/docs/*.  (Watch out to see if it's locked to a commit hash, and if so, decide whether or not that's intentional or matters-- should only matter if the context is talking

[2022-02-10 22:24] lukeheath opened #4164 "Resolve all open dependabot alerts"
### Goal

As a Frontend Engineer, I want to ensure that all known vulnerabilities in my application dependencies have been patched so that my application interface is as secure as possible.

### How?

- [ ] Patch all dependencies listed in [Dependabot alerts](https://github.com/fleetdm/fleet/security/dependabot?q=is%3Aopen).
- Bump each dependency to the latest and test affected functionality.
- I

[2022-02-10 22:24] lucasmrod opened #4165 "Invalid text on `Munki versions`' tooltip"
**Fleet version**: `main`, 9c24c7d9.

<hr/>

### 🧑‍💻  Expected behavior

`Munki versions`' tooltip should say something about Munki.

### 💥  Actual behavior

![Screen Shot 2022-02-10 at 19 20 27](https://user-images.githubusercontent.com/2073526/153506649-dbbacc1f-2cbd-42cc-a6d8-1f5a3efd7ed3.png)

[2022-02-10 22:28] RachelElysia commented on #3087
Repeat of #3573

[2022-02-10 22:31] RachelElysia commented on #1509
@DominusKelvin I assigned you to this since you were interested in updating our docs to be helpful to users. Can you check if these questions are answered somewhere in our docs? Feel free to add a PR or close this out if needed!

[2022-02-10 22:35] tgauda opened #4166 "Add ability to modify a host's display name in UI, API, and fleetctl"
### Goal

Sometimes it's useful to rename the system configured hostname to something else. For instance, when working from home the hostname of the device can be whatever the ISP assigns to the device. This makes corporate management more difficult.

Currently it will return hosts like `aianas-mbp.cable.rcn.com` when what I really want is `computer_name` from the `system_info` table

### How?

Ad

[2022-02-10 22:36] lukeheath commented on #2814
@xpkoala I'm not seeing the Figma link in the issue description. Would you please point me in the right direction? Thanks!

[2022-02-10 22:38] xpkoala commented on #2814
@lukeheath I've updated the description to include the link (at the very bottom).

[2022-02-10 23:31] mikermcneil opened #4168 "write a script to sum up estimations"
write a script to do this: https://github.com/fleetdm/fleet/issues/3078#issuecomment-1030440888

---------------------
- for "Find one issue", verifying that the point estimate is available there in the responded data
- for "List cards in column within a GH projects 2.0 board"

---------------------
- [Get an issue](https://docs.github.com/en/rest/reference/issues#get-an-issue)
`issue.labels`

- [

[2022-02-10 23:35] lukeheath commented on #4168
@mikermcneil Heads up, @zwass found [an existing chrome extension](https://github.com/oviohub/github-story-points) that may do what we need. I'll give it a try tomorrow and update here with results.

[2022-02-11 00:03] DominusKelvin commented on #1509
Thanks, @RachelElysia. I'll get on it ASAP!

[2022-02-11 00:07] mikermcneil opened #4169 "100% of customer/prospect/community questions get documented answers"
all (100%) of questions and problems from customers, prospective customers, and the community, get folded neatly, empathetically, in as few words as possible, deduped with existing content, into:
- documentation
- doc FAQs
- public handbook
- or pricing FAQ on fleetdm.com/pricing

If a question comes up that is already answered, then an update is probably still needed if the answer to the person a

[2022-02-11 00:17] mikermcneil commented on #4169
@tgauda @DominusKelvin Hey y'all FYI I fleshed this out a bit more.  @tgauda since there's an SLA for customer support response times anyway, I put you as the assignee here to see this through, but I think this will be a collaborative effort.

Up to you to do this in the way you think makes the most sense.

🙇 Holler if you need me!

[2022-02-11 00:47] RachelElysia commented on #1509
I'm glad we have someone so excited to fix up our docs!

[2022-02-11 00:51] RachelElysia commented on #4162
@xpkoala was just bringing this up to me in a 1:1 we had! There's several places in the App itself that still point to a github link, or one even to a google doc!

[2022-02-11 01:00] RachelElysia commented on #1511
This has been fixed since August.

[2022-02-11 01:00] #1511 closed

[2022-02-11 01:09] RachelElysia commented on #1295
@lukeheath This is super old, but react-select is now on version 5.x.

https://react-select.com/upgrade

I know @martavis looked into more depth what this would take back in June which was a lot. Might be good to re-evaluate our use and upgrade react-select since it's only being used in 3 places.

[2022-02-11 01:11] RachelElysia commented on #1823
We did a great job aggregating this data. I think we should revisit allowing the user to export this data!

@noahtalerman adding this to product weekly

[2022-02-11 01:13] RachelElysia commented on #1639
I feel like this is partially done. I assigned myself to look into making sure this is completely done. Probably sometime next week.

[2022-02-11 01:14] RachelElysia commented on #3160
Here's another old doc update from a user's question! @DominusKelvin feel free to update the docs, reassign, or close this as you see fit!

[2022-02-11 01:15] RachelElysia commented on #3160
Related to #4169

[2022-02-11 01:20] #3991 closed

[2022-02-11 01:25] RachelElysia commented on #1617
@RachelElysia revisit and decide if we can close this

[2022-02-11 01:26] #4162 closed

[2022-02-11 01:30] zwass commented on #3849
The way that osquery is handling this is that it installs a .app inside the regular install prefix (`/opt/osquery/osquery.app`) and then `/usr/local/bin/osqueryd` is symlinked to `/opt/osquery/osquery.app/Contents/MacOS/osqueryd'.

My preference would be that we do similar for our updater. It should be able to download a .app bundle (maybe as `.app.tar.gz` or `.app.zip`), extract it into the insta

[2022-02-11 01:31] RachelElysia commented on #4012
@xpkoala

As a springboard, here's 4 examples on main I found that enter do not work.

<img width="1171" alt="Screen Shot 2022-02-10 at 7 29 18 PM" src="https://user-images.githubusercontent.com/71795832/153524548-d735353e-9ebd-45b6-9824-2cada184ce49.png">
<img width="1168" alt="Screen Shot 2022-02-10 at 7 28 10 PM" src="https://user-images.githubusercontent.com/71795832/153524551-972d5632-c580-41

[2022-02-11 01:34] RachelElysia commented on #2295
We now have a graphic on policies! Don't know which PR but it's in.

[2022-02-11 01:34] #2295 closed

[2022-02-11 01:50] RachelElysia commented on #3760
@DominusKelvin  Here's another great doc improvement issue! The screenshots are over 6 months old and don't match the current UI at all!

[2022-02-11 01:53] RachelElysia commented on #1551
@zwass I feel like this will get put on the wayside unless you have some idea what this was referring to?

[2022-02-11 08:28] macEar commented on #4048
May we add functionality to specify a cron schedule for each policy we have. If we have lots of policies and as @chiiph said they are sent at the same time, we may face performance issues as when osquery reports:

[code]

I've profiled each policy query and they are really light, not heavy. So, there osquery watcher probably killed osquery because of the policy queries' simultaneousness. May we in

[2022-02-11 12:48] lucasmrod commented on #3849
Ah, makes sense, answering myself:

No, it's still `--type=pkg` but it bundles an `.app` within instead of the plain files.

[2022-02-11 13:18] lucasmrod commented on #3849
Do we still want to keep Orbit updates separate from osqueryd updates? (my guess is yes, some users may want to stick to a osqueryd version, but keep upgrading Orbit)

If so, then we may need to package and offer two `.app`s in the TUF repository (one for Orbit, one for Osquery).

As far as I can see we need to update:
- `fleetctl package` to download not just `orbit`/`osqueryd` executables from T

[2022-02-11 13:58] lucasmrod commented on #3914
A couple of questions:

1. Double checking what you mean here:

Do you mean Fleet Desktop will read the config file written by Orbit, right? (not actual localhost/socket requests from Fleet Desktop to Orbit). If so, not sure if I'd describe it as "ask".

2. This part of the description:

This key is separate from the key used for the osquery to Fleet auth.
This node key is stored as JSON in a loca

[2022-02-11 14:39] GuillaumeRoss commented on #3946
Adding the policies in this [PR](https://github.com/fleetdm/fleet/pull/4171). Also re-ordered the policies in alphabetical order in the UI + in the file itself, so future updates are easier.

<img width="786" alt="image" src="https://user-images.githubusercontent.com/73836008/153608571-65fd54c8-7880-4cf2-a933-1ad7b21775b1.png">

[2022-02-11 15:50] lukeheath opened #4173 "Update `GET /activities` endpoint to return a separate result for each modified record"
## Goal

As a Frontend Engineer, I want the `GET /activities` endpoint to return a separate result for each modified record so that I can easily display a list of activities without requiring additional API calls or data marshaling

## API wireframes

Currently the endpoint returns an array of ids for an activity that deletes multiple items:

[code]

Instead, we would like each delete activity to

[2022-02-11 16:11] lukeheath commented on #4173
@gillespi314 Assigning over to you for engineering specification. Once you've added appropriate details, please bring into the "Estimate" column. Thanks!

[2022-02-11 16:51] zwass commented on #3849
You're definitely making sense! We won't need to build .app for osquery... That's already published by the osquery project. But we will need a way to build .app for Orbit (or maybe just Fleet Desktop?). This doesn't necessarily need to be during the package step, it could be a pre-built app.

[2022-02-11 17:29] gillespi314 commented on #1560
@RachelElysia I think all you recent work on the settings page probably addresses this one. Whaddya think?

[2022-02-11 17:30] gillespi314 commented on #3874
@RachelElysia do you think we can close this one out too?

[2022-02-11 18:20] GuillaumeRoss commented on #3938
We will stay away from multi-OS queries for now, to keep things cleaner and simpler. I've submitted a PR with some new ones, but keeping the issue open here until I've applied all of those mentioned in the Google Sheet. (Will list in this ticket once done)

[2022-02-11 19:38] xpkoala commented on #4156
@chiiph Was a fix introduced for this? I am still seeing a mismatch between what the dashboard is displaying and the results from the query. Does this have to do with how often the dashboard is updated?

[2022-02-11 19:47] chiiph commented on #4156
Yes.

Dashboard takes time to update, the host details page is what gets updated immediately.

Probably.

[2022-02-11 19:50] lucasmrod opened #4176 "Fleet-osquery not working on systems with SELinux enabled"
**Fleet version**: Orbit v0.0.6

**Operating system**:
- Customers hitting the issue in Fedora.
- CentOS 7 & 8 VM: I (@lucasmrod) had to disable SELinux to be able to run Fleet-osquery.
- @edwardsb reproduced this when installing Fleet-osquery on a CentOS box droplet on DigitalOcean.

<hr/>

### 🧑‍💻  Expected behavior

Fleet-osquery runs on systems with SELinux enabled.

### 💥  Actual behavior

Fl

[2022-02-11 20:22] lucasmrod commented on #3901
Steps to reproduce:

1. Install `node` on a host.
2. Install some packages on a host:
  - `npm i -g oracledb`
  - `npm i -g increase-memory-limit`
(those two are the ones mentioned on the txt).
3. Make sure to "refetch" that host on Fleet (for Fleet to reload the software of the host).
3. Wait for vulnerability processing to run.
4. Check fleet logs:
  a. error logs with `fts5: syntax error near \

[2022-02-11 20:30] edwardsb commented on #4176
Thanks @lucasmrod for filing!

Yes I believe this happens because of where we place the orbit binaries see https://github.com/fleetdm/fleet/blob/4926e6406f055d07c6645bb545fd6cc5300b866f/orbit/pkg/packaging/linux_shared.go#L105

I think a better place would be `/usr/bin`.

[2022-02-11 21:24] lukeheath commented on #3155
@noahtalerman I added the `:blocked` label, moved this back to Architect, and assigned to you to indicate that we are blocked on this ticket until we receive direction from #4023.

[2022-02-11 21:44] mikermcneil commented on #3160
Perfect, thank you @RachelElysia!

@DominusKelvin Added "Growth" board for you

[2022-02-12 08:32] DominusKelvin commented on #3160
Thanks @RachelElysia and thanks @mikermcneil. I will get on it.

[2022-02-13 19:32] DominusKelvin commented on #4169
Got it @mikermcneil

[2022-02-13 19:51] DominusKelvin commented on #1509
@RachelElysia I think this covers some of the questions asked by users.

https://fleetdm.com/docs/using-fleet/usage-statistics#disable-usage-statistics

[2022-02-14 05:07] mike-j-thomas commented on #4023
Hey @noahtalerman and @lukeheath, sorry for the delay in getting this to you. I added a couple more examples to the button style guide here https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3717%3A126303

Plain text links already look good, i.e. `text-decoration: underline;` I don't think we need to do anything super fancy with these types of buttons. There are instances of these througho

[2022-02-14 05:13] mike-j-thomas commented on #4023
Or this example (I'm undecided). Let's make a decision together during UX office hours.

https://user-images.githubusercontent.com/78363703/153804078-53562d11-9f38-4b48-a9fe-bfaaeb73773b.mov

.

[2022-02-14 13:17] mike-j-thomas opened #4186 "New swag for contributors and fans: Fleet hot beverage mug on Printful."

[2022-02-14 13:33] mike-j-thomas commented on #4186
What do you think @lukeheath? I added a simple logo mug to the product templates on [Printful](https://www.printful.com/).
<img width="315" alt="image" src="https://user-images.githubusercontent.com/78363703/153873432-7dc1c1c7-426e-424a-a0ce-d93b95030147.png">
<img width="270" alt="image" src="https://user-images.githubusercontent.com/78363703/153873490-a6b77813-b421-45a0-81d5-42318fd7acea.png">

[2022-02-14 14:05] #3424 closed

[2022-02-14 14:54] noahtalerman commented on #344
@mike-j-thomas when you get the chance, can you please address the UI questions from Luke (latest 3 comments above)?

I'm passing this issue's assignment to you.

[2022-02-14 14:56] noahtalerman commented on #344
@mike-j-thomas when you get the chance, can you please address the UI questions from Luke (latest 3 comments above)?

@lukeheath please tag Mike Thomas if anymore questions come up about the behavior of tooltip UI. Thanks ✨

[2022-02-14 15:02] noahtalerman commented on #4093
@lukeheath correct. As of now, Fleet will include/promote Fleet Desktop in the UI, documentation, and marketing materials once it's available on all platforms.

I think this means that Fleet won't ship the "Include Fleet Desktop" checkbox UI until Fleet Desktop works on all platforms.

[2022-02-14 15:09] noahtalerman commented on #3155
Thanks :)

@lukeheath I think the latest comments from Mike Thomas in #4023 provide the necessary direction: https://github.com/fleetdm/fleet/issues/4023#issuecomment-1038651837

Please tag and reassign me to this issue if this is not the case.

[2022-02-14 16:00] RachelElysia opened #4187 "Render error for wrong SMTP port"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected b

[2022-02-14 16:26] zwinnerman-fleetdm commented on #4064
Closed by #4128

[2022-02-14 16:27] zwinnerman-fleetdm commented on #4031
Did not produce results.

[2022-02-14 16:27] #4031 closed

[2022-02-14 17:05] #3879 closed

[2022-02-14 17:05] #3940 closed

[2022-02-14 17:08] #3890 closed

[2022-02-14 17:08] #3899 closed

[2022-02-14 17:08] #3921 closed

[2022-02-14 17:08] #3953 closed

[2022-02-14 17:08] #3976 closed

[2022-02-14 17:08] #3984 closed

[2022-02-14 17:08] #3988 closed

[2022-02-14 17:08] #3989 closed

[2022-02-14 17:08] #4058 closed

[2022-02-14 17:08] #4059 closed

[2022-02-14 17:08] #4083 closed

[2022-02-14 17:08] #4085 closed

[2022-02-14 17:08] #4101 closed

[2022-02-14 17:08] #4116 closed

[2022-02-14 17:08] #4123 closed

[2022-02-14 17:08] #4150 closed

[2022-02-14 17:09] #3208 closed

[2022-02-14 17:09] #3397 closed

[2022-02-14 17:09] #3473 closed

[2022-02-14 17:09] #3487 closed

[2022-02-14 17:09] #3516 closed

[2022-02-14 17:09] #3518 closed

[2022-02-14 17:09] #3584 closed

[2022-02-14 17:09] #3704 closed

[2022-02-14 17:09] #3706 closed

[2022-02-14 17:09] #3708 closed

[2022-02-14 17:09] #3762 closed

[2022-02-14 17:09] #3782 closed

[2022-02-14 17:09] #3800 closed

[2022-02-14 17:09] #3872 closed

[2022-02-14 17:09] #3889 closed

[2022-02-14 17:09] #2477 closed

[2022-02-14 17:09] #2557 closed

[2022-02-14 17:09] #2998 closed

[2022-02-14 17:09] #3029 closed

[2022-02-14 17:09] #3044 closed

[2022-02-14 17:09] #3050 closed

[2022-02-14 17:09] #3054 closed

[2022-02-14 17:09] #3086 closed

[2022-02-14 17:11] xpkoala opened #4188 "is_active returning incorrect results from a live query"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): `a7d5cea`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_: macOS

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  E

[2022-02-14 17:13] lukeheath commented on #4186
@mike-j-thomas Looks great! I'll handle getting it shipped out from Printful for the contributor. Thank you!

[2022-02-14 17:35] lukeheath commented on #2971
@Hanaffi We have some updates that require this change, so I'll need to re-assign this ticket to someone on the Fleet frontend team.

If you'd like to contribute in the future, just let me know and I'll be happy to find a good issue for you.

[2022-02-14 17:36] xpkoala commented on #4187
Reproduced. Strange that if the settings are unchecked the update will go through just fine.

[2022-02-14 18:12] gillespi314 opened #4191 "Use SQL transactions for activities"
Goal:
Tracing user actions in Fleet via an activity log

Issue:
Various actions by users of Fleet (e.g., create, modify, delete, and apply policies) are also recorded as activities. However, if an action successfully completes in the datastore but there is an error writing the associated activity to the datastore, there will be no record in activity log for that action. Additionally, the UI may di

[2022-02-14 18:13] chiiph opened #4192 "Uninstalling munki is reflected as an empty version in Fleet"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): main

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): N/A

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): N/A
**Operating system** _(e.g. macOS 11.2.3)_:  N/A

**Web browser** _(e.g. Chrome 88.0.4324)_: N/A

<hr/>

### 🧑‍💻  Expe

[2022-02-14 18:15] lucasmrod commented on #4064
I believe that once merged, we only move it to "Quality Assurance", and then the QA takes care of testing the changes and closing the issue.

[2022-02-14 18:20] zwinnerman-fleetdm commented on #4064
ok, reopened, what else do I need to do to get this ready for QA? @lucasmrod

[2022-02-14 18:22] xpkoala commented on #1646
Needs updated Figma designs.

[2022-02-14 19:53] lukeheath commented on #2750
@noahtalerman Currently this ticket is spec'd to apply to "Manage Queries" and "Host Details" only. @RachelElysia pointed out the "Performance impact" column also appears on the "Schedule" and "Packs" tables.

Should we include the same updates to those tables? If so, should the tooltip be the same on all of them?

[2022-02-14 20:12] noahtalerman commented on #2750
@lukeheath yes! The "Schedule" and "Packs" table should display tooltips on the "Performance impact" column title and the "Undetermined" entries.

The "Performance impact" column title should use the same text as on the "Queries" table:

The "Undetermined" tooltips should use the same text as on the "Queries" table:

@RachelElysia great catch.

[2022-02-14 20:14] GuillaumeRoss opened #4196 "Document vulnerability management at Fleet"
### Goal

TODO
We should document how we handle vulnerabilities in Fleet, including dependencies. This should go in the handbook.

### How?

- [ ] Agree to remediation timelines for different severities
- [ ] Document the process in the handbook

[2022-02-14 20:21] lukeheath commented on #2750
@RachelElysia I have updated the specs to reflect this change. If you feel this is now a `2` feel free to re-label.

[2022-02-14 20:43] mna commented on #4176
As mentioned by @edwardsb , this is probably because orbit is installed in `/var/lib/orbit/bin/orbit/orbit`, where it is assigned this selinux user/role/type: `system_u:object_r:var_lib_t`.

A simple fix to immediately allow it to run is to use `[sudo] chcon -t bin_t /var/lib/orbit/bin/orbit/orbit`:

[code]

The long-term fix is probably to change where we install it, though. Should I go ahead and

[2022-02-14 20:48] zwass commented on #1376
I added a new "how" ("Expose which host was the last to enroll with that secret") based on discussion with a customer today. The reason this is useful is that they may not know which team within their organization is deploying hosts with the old secret. Giving information at least about the most recently enrolled host with that secret will help them track this down.

[2022-02-14 21:12] noahtalerman commented on #3790
**Current UI when trying to create a duplicate of each:**
<img width="1268" alt="Screen Shot 2022-01-19 at 12 29 28 PM" src="https://user-images.githubusercontent.com/71795832/150183396-8bc2e863-7f94-4013-a6cc-b0ef5b8c24fe.png">
<img width="1265" alt="Screen Shot 2022-01-19 at 12 28 47 PM" src="https://user-images.githubusercontent.com/71795832/150183398-1d7b31d6-6691-4722-b83a-6b54673ebcaf.png">

[2022-02-14 21:20] noahtalerman commented on #3790
@RachelElysia heads up, in order to make quick, iterative improvement to the Fleet UI, I shaved this issue down so that it addresses only the error states for duplicate entries in the label and user forms. This way, we can reduce the amount of time for drafting/wireframing these changes and quickly prepare them for engineering estimation.

Unlike #3988, this issue is not a bug because the improved

[2022-02-14 21:26] noahtalerman commented on #3019
@RachelElysia heads up, there are plans to update the Home page so that it includes only the "Online" and "Offline" counts: #3285

Reasoning:
We'd like to update the "Offline" count to include hosts that are currently tagged as Offline and hosts that are tagged as MIA. This way, users only have to understand that their host is in one of two possible states...
1. Likely to respond to queries (onlin

[2022-02-14 21:26] #3019 closed

[2022-02-14 21:27] noahtalerman commented on #2960
@RachelElysia heads up, I'm closing this issue because the following issue now covers this improvement to the docs: #3760

[2022-02-14 21:27] #2960 closed

[2022-02-14 21:31] noahtalerman commented on #1823
Agreed!

@RachelElysia heads up, I'm closing this issue because the following issue tracks improvements to aggregate host data (disk space, host check in time, etc.): #397

[2022-02-14 21:31] #1823 closed

[2022-02-14 21:40] noahtalerman commented on #2926
@RachelElysia I believe this is currently possible by selecting the checkmarks at the top of the UI you captured in a screenshot above. When you get the chance can you please verify this?

If this is the case, maybe we should make this issue about making the "go back" functionality more obvious. What do you think?

[2022-02-14 21:42] noahtalerman commented on #2926
This is something we might want to come back to in the future. I'm removing this issue from the product team (weekly) board.

[2022-02-14 21:44] noahtalerman commented on #2281
This is an improvement we might want to come back to in the future. I'm removing this issue from the product design (weekly) board.

[2022-02-14 21:46] noahtalerman commented on #2683
@RachelElysia heads up, I'm adding your proposed improvement to #1682 and closing this issue.

[2022-02-14 21:46] #2683 closed

[2022-02-14 21:46] noahtalerman commented on #1682
Proposed solution from Rachel:

[2022-02-14 21:49] noahtalerman commented on #2280
This could be a good iterative first step to presenting the standard query library in the Fleet UI.

This improvement is not something Fleet will prioritize now because the standard query library is currently undergoing changes (tracked in the following issue: #3938). This improvement might be addressed in the future.

[2022-02-14 21:51] #3946 closed

[2022-02-14 22:07] GuillaumeRoss opened #4198 "Configure dependabot with an explicit config file"
### Goal

TODO
Dependabot is enabled on the repository, but that was done through the Github UI. That is only visible to repository administrators.
We need to create a dependabot config file to:

1) Make it obvious to everyone (including OSSF Scorecard) that dependabot is in use
2) Configure default reviewers for the PRs it creates
3) See if we can better configure it to address everything we use

[2022-02-14 22:18] RickyGrassmuck opened #4200 "Add LDAP Authentication"
### Goal

It would be extremely useful for those of us in environments rely on LDAP authentication to be able to use that system for authentication into the fleet dashboard.

LDAP plus the ability to restrict logins to only members from a specific LDAP group would be perfect!

I would be willing to put together a PR for the back-end portion of this and could take a stab at the frontend (though, I'

[2022-02-14 23:15] lukeheath commented on #4023
@mike-j-thomas Thanks! A couple questions:

1. It looks like the plain text links only underline on hover inside the table. Outside the table there is no hover effect. Should we apply the same hover underline for plain text links in the body of the page? For example, the `all your hosts` link:

![image](https://user-images.githubusercontent.com/2495927/153962400-5e9de3a6-afef-4752-8f2f-a094af2d73b

[2022-02-15 00:01] RickyGrassmuck opened #4203 "Allow changing a Hosts stored IP address after registration"
### Goal
To ensure the proper IP address for connecting to a Host is shown in the Manage Hosts/Host Details page, allow the user to edit the host and select which of the available network interfaces Fleet should use to determine the hosts IP address

### How?
Some background:

We are running Fleet on Hashicorp Nomad (container orchestration) and are also installing Orbit on the Nomad Client nodes

[2022-02-15 01:02] mike-j-thomas commented on #3850
@noahtalerman, thanks for creating this. I updated the description because we missed the boat on getting a post prepared in time for the announcement.

[2022-02-15 14:18] noahtalerman commented on #3052
@lukeheath it would be sweet to be able to kickoff these improvements towards the end of this sprint (4.11.0) if there's frontend capacity.

I'm pulling this issue to the top of the ["Priorities" view](https://github.com/orgs/fleetdm/projects/27/views/9) in the 🛸 Product board. This is because I'd like to prioritize these UI improvements during the next release cycle (4.12.0).

[2022-02-15 14:24] noahtalerman commented on #3850
@mike-j-thomas I'm not sure I understand. The first stable release of Fleet's osquery installers has not happened yet. The installers are currently in beta.

The estimated, stable release of Fleet's osquery installers is 03-03-2022.

[2022-02-15 15:52] noahtalerman commented on #4022
The Fleet documentation includes a "Vulnerability automations" section here: https://fleetdm.com/docs/using-fleet/automations#vulnerability-automations

The following issue covers the "update the permissions documentation" portion of this issue: #3932

Closing this issue.

[2022-02-15 15:55] lukeheath commented on #4023
@mike-j-thomas Great, thanks! In case you missed it under the big screenshot, there is a question #2:

(https://user-images.githubusercontent.com/2495927/153962801-a42e54f8-90c9-4e41-aada-7b45345a7aa8.png)

[2022-02-15 15:59] noahtalerman commented on #3041
@chiiph heads up, there are plans to expose some or all (undetermined) of this information in the UI in the near future.

Does this issue cover exposing this info in the API?

[2022-02-15 16:01] noahtalerman commented on #3922
Think about the word “application” for Fleet Desktop. Disarm the fear of Fleet Desktop being heavy/large.

[2022-02-15 16:18] gillespi314 commented on #3874
Resolved by #3936

[2022-02-15 16:18] #3874 closed

[2022-02-15 16:20] RachelElysia commented on #4187
@product @noahtalerman What would you like rendered in the UI when we receive this error from the backend?

[2022-02-15 16:23] xpkoala opened #4206 "Add ability to query hosts from the manage page"
### Goal

TODO
As a user I would like to run queries against selected hosts from the /hosts/manage page.

### How?

Add a button to the /hosts/manage page that would allow queries to be run against all selected hosts.

[2022-02-15 17:25] chiiph commented on #3041
cc @gillespi314 @zwass that are working on this ^. We could potentially add generic stats per job?

[2022-02-15 17:36] noahtalerman commented on #4187
@RachelElysia I propose we render a flash message error with the following text:

"Could not connect to SMTP server. Please try again."

[2022-02-15 17:51] noahtalerman commented on #3052
@lukeheath heads up, I'm pulling this issue back to the drafting/wireframing phase.

The goal of this issue is to quickly ship changes that make the UI compatible with 768px widths.

Thus, for the first pass, I'd like to remove the UI improvements that don't necessarily contribute to this goal. The horizontal scroll and sticky actions dropdown on tables are some of these improvements.

I unassigne

[2022-02-15 17:51] chiiph commented on #3055
I don't disagree that that's less vague, but we do let people refer to a team by name. We have a translation API to go from name to IDs: http://github.com/fleetdm/fleet/blob/08d175f745bb0ca55c47a1b9eaab2872d91c48c2/server/service/handler.go#L378-L378. We could use that and then use that id to get the team.

[2022-02-15 18:13] michalnicp commented on #3055
Ideally, I think that if we do want to use the `--name`, it should do an exact match. That is, we should only return a single team or not found. We may need to use a different endpoint, or add support to the existing `GET /api/v1/fleet/teams` endpoint to support getting a team with a specific name eg `GET /api/v1/fleet/teams?name=<team name>` that doesn't do partial matches.

[2022-02-15 18:30] GuillaumeRoss opened #4208 "Add disk encryption policy for Linux"
### Goal

TODO
We already have standard policies for macOS (Filevault) and Windows (Bitlocker). We should add a standard policy for Linux workstations. To begin with, this policy should work with the default encryption setup of Ubuntu on laptops with TPM. As the possibilities for encryption configuration on Linux are infinite, we will start with this and take requests to expand it.

### How?

- [

[2022-02-15 18:34] michalnicp opened #4209 "Create team does not error when team name is already taken"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

`fleet-v4.10.0-23-g1997859a`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

paid

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

Linux

**Web browser** _(e.g. Chrome 88.0.

[2022-02-15 19:35] #4208 closed

[2022-02-15 19:42] GuillaumeRoss opened #4212 "Clean-up standard query library"
### Goal

TODO
There are now queries in the library that are redundant, or that have been replaced by more complex and valuable one. As time goes on, we should clean them up.

### How?

- [ ] If the queries does not spark joy, remove it.

[2022-02-15 19:50] noahtalerman opened #4213 "For automations, expose "Last run" and "Next scheduled run" information in the UI"
### Goal
Provide users with some way of checking "Last run" or "Next scheduled run" or something like that for automations to understand when they last ran

[2022-02-15 19:51] noahtalerman commented on #4213
Backend issue that beings to expose this info: fleetdm/fleet#3041

[2022-02-15 19:52] sharvilshah commented on #4188
Dug a little bit more into this -- I don’t think that this table implementation was ever completely correct, from Apple’s documentation on NS API:

Still investigating a best way to fix this -- we can't just add a run loop to non-evented tables. Some newer NS APIs use KVO (key value observer), might need to look into that.

[2022-02-15 19:55] noahtalerman commented on #3041
@zwass @gillespi314 FYI there are plans to expose some or all of this info in the UI.

There's currently no drafts of the UI to expose this information.

Linking the the new issue here: #4213

[2022-02-15 20:10] RachelElysia commented on #4209
This was a part of a bigger ticket regarding duplicate names: https://github.com/fleetdm/fleet/issues/3790

[2022-02-15 20:11] mikermcneil opened #4214 "Host details page: Add "Vulnerabilities" column"
## Goal

As a vulnerability analyst I want to be able to see and filter by vulnerabilities (CVEs) on the **Host details** page so that I can quickly determine whether or not a host has software installed with a specific vulnerability.

## Figma

Host details page: Add "Vulnerabilities" column: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4918%3A232550

## Tasks

On the Host Details:

[2022-02-15 20:22] GuillaumeRoss commented on #4212
First clean-up PR has been submitted. Once that is done we will do a second pass to really pick the most valuable ones to keep.

[2022-02-15 20:22] mikermcneil opened #4216 "Query console: If I search "linux","macOS","windows", I want to see those supported tables"
### Goal

Query console: If I search "linux","macOS", or "windows" (entire word, capitalization-agnostic) in the sidebar, I want to see the osquery tables that support that OS

### How?

- [ ]

[2022-02-15 20:24] mna commented on #3728
This is now completed, I guess I'll close the ticket as it's all internal refactoring work and not associated with a release AFAICS. Feel free to reopen if that was out of line!

[2022-02-15 20:24] #3728 closed

[2022-02-15 20:46] RachelElysia commented on #3790
@noahtalerman -- Duplicate name for query and policy were addressed last sprint. Would it be quick to just do the exact same "in-line" (as opposed to flash message) error handling behavior for duplicate label name, user email, team name, etc? I prefer we knock it all out in one PR so we stop circling back filing the same issues.

I think we circled around duplicate error handling once already #311

[2022-02-15 21:12] lucasmrod opened #4218 "Vulnerability Processing: Deb packages are not being matched to a CPE"
[code]
Of those, only one has a CPE associated to it:
[code]

This seems to happen due to specific versioning scheme used by Debian/Ubuntu systems, e.g.:
[code]

References:
- https://www.ducea.com/2006/06/17/ubuntu-package-version-naming-explanation/
- https://wiki.ubuntu.com/AutoStatic/PackagingVersioningScheme

[2022-02-15 21:24] lucasmrod opened #4219 "Vulnerability Post Processing for Deb Packages on Ubuntu Software"
# Goal

#4218 fixed some logic around CPE matching for Ubuntu software.
We now need to add post-processing on Fleet to reduce vulnerability false positives for `deb` packages in Fleet (for Ubuntu software).

The branch for this issue should be based off the branch for #4218 (#4266)

# How?

First, let's show an example of a false positive vulnerability on Ubuntu software introduced by the changes

[2022-02-15 21:28] noahtalerman commented on #3790
@RachelElysia please feel free to bring this issue into the 🚀  Release board :) (I think @xpkoala was planning on doing this: https://fleetdm.slack.com/archives/C02A8BRABB5/p1644956402420519)

The copy for the in-line error messages is below:

Users:
"A user with this email already exists"

Labels:
"A label with this name already exists"

Teams:
"A team with this name already exists"

Knocking out

[2022-02-15 21:29] noahtalerman commented on #4218
Great catch.

[2022-02-15 21:38] mna commented on #3220
@chiiph @lucasmrod

Reading through this ticket and looking at the code, my understanding for this is as follows:

* Update `PATCH /api/_version_/fleet/global/policies/{policy_id}` (and `PATCH /api/_version_/fleet/teams/{team_id}/policies/{policy_id}`) to allow updating the platforms field
* Presumably, also update `POST /api/_version_/fleet/spec/policies` so that policies that get updated also su

[2022-02-15 21:38] noahtalerman commented on #3124
Luke: The "Fleet is not collecting software" doesn't indicate that something was supposed to happen and went wrong.

TODO Noah: Workshop copy on the above^

[2022-02-15 21:40] noahtalerman commented on #3124
Luke: There is now no state in which we hide software and users entirely?

Noah: Yes, correct.

[2022-02-15 21:42] noahtalerman commented on #3124
Reed: What is displayed when the host first checks in and has not collected any software yet?

[2022-02-15 21:43] noahtalerman commented on #4132
Noah: The "Type" information is not included in GET /software yet.

[2022-02-15 21:44] noahtalerman commented on #4132
Luke: No examples of no vulns in the Host details page screen.

[2022-02-15 21:47] edwardsb opened #4220 "Navigation improvments"
### Goal

Clicking on the policy under host details should navigate you to the policy on the policies tab.

### How?

![image](https://user-images.githubusercontent.com/1945008/154154880-2dcbaf7f-39e6-486a-924f-03630cd47f7c.png)

[2022-02-15 22:43] michalnicp commented on #3031
Should we add support for hosts while we are here? This would bring it to parity with using `POST /api/v1/fleet/packs`.

[2022-02-15 22:50] tgauda opened #4223 "Website: Add newsletter banner and NewsletterSubscription model"
## Goal

Customers have asked if we have a mailing list for sending security vulnerability reports and release updates. Add newsletter subscription to fleetdm.com

## How?

- [x] Draft and implement a newsletter banner for the website
- [x] Create newsletter subscription model. V1 focuses on newsletters for releases and patches.

## Related
- Parent epic: https://github.com/fleetdm/fleet/issues/73

[2022-02-15 23:17] DominusKelvin commented on #3990
@mikermcneil is the second checklist for you to do?

[2022-02-15 23:19] mikermcneil commented on #3990
@DominusKelvin go for it, you can move it, just leave its access permissions set to public and dump it somewhere in your Google drive and we should be good

[2022-02-15 23:20] DominusKelvin commented on #3990
Got you!

[2022-02-15 23:23] DominusKelvin commented on #3990
Done @mikermcneil. Should I go ahead and close out this issue at this point?

[2022-02-15 23:29] #3990 closed

[2022-02-16 02:21] lukeheath commented on #2781
Removing the carets will bring all of our dependencies back to the listed version. This may introduce new bugs and/or security vulnerabilities. The default caret behavior has not caused any issues, so there is no immediate benefit. For that reason, I am closing this issue without making the change.

[2022-02-16 02:21] #2781 closed

[2022-02-16 04:56] mike-j-thomas commented on #3850
Oh... my mistake. For some reason, I thought that this had already shipped. Please ignore the above.

[2022-02-16 09:30] macEar commented on #1203
@martavis no progress yet?

[2022-02-16 11:31] #3995 closed

[2022-02-16 12:01] lucasmrod commented on #3220
Yes, I think Tomas was referring to the policy query name, e.g.
currently the name of a policy query is: `fleet_policy_query_$POLICY_ID`, maybe we can turn that into `fleet_policy_query_$POLICY_ID_$POLICY_UPDATED_AT`.

[2022-02-16 13:25] lucasmrod commented on #4176
Putting SELinux & specifics distributions (Ubuntu vs. CentOS) aside, `/var/lib` is not the proper place for executables, right?
(Do we know why we chose that in the first place, maybe there's a reason.)

IMO we should consider the long-term fix, and given how the code is shared between Ubuntu and CentOS packaging, "fix the issue" in both places.

[2022-02-16 13:29] mna commented on #4176
Right, `/usr/bin` seemed to be the consensus here: https://fleetdm.slack.com/archives/C019WG4GH0A/p1644518338545029 .

[2022-02-16 14:49] noahtalerman commented on #3979
Adding the "customer request" label because this issue was also reported by a Fleet customer.

[2022-02-16 15:43] noahtalerman commented on #3300
@lukeheath the three dashes is consistent with the "yet to respond" and "not updating response" state on the **Host details** page:
![Screen Shot 2022-02-16 at 10 36 42 AM](https://user-images.githubusercontent.com/47070608/154299570-4fe07d53-f2c4-43c7-b69b-596c43652e1e.png)

On the **Policies** page, we'd like to show the same three dashes to cover the "not updating response" case.

This case wou

[2022-02-16 15:53] chiiph commented on #3031
IMO, we should keep this issue to the scope it has. If it's fast to implement and you have wiggle room, adding it is not bad, but it's purely a plus.

[2022-02-16 16:15] noahtalerman commented on #4113
Noah: I think the "Type" and "Bundle identifier" info is not included in `GET /software` API route yet.

[2022-02-16 16:22] noahtalerman commented on #4214
I updated this issue's goals and moved into the "Ready" column on the product team (weekly) board because wireframes with UI changes that we think achieve these goals were already drafted.

[2022-02-16 16:32] noahtalerman commented on #3155
@lukeheath heads up, I'm pulling this issue back to the drafting/wireframing phase for priority drafting.

I unable to argue that the current goal of this issue aligns with quickly shipping valuable changes.

Thus, I plan to update the goal and reduce the number of UI changes to allow us to quickly ship valuable changes.

I unassigned you from the issue, removed the ":architect" label, and moved t

[2022-02-16 18:33] edwardsb commented on #1817
`{"mysql":"could not connect to db: x509: certificate signed by unknown authority, sleeping 3s","ts":"2022-02-16T13:56:07.203299221Z"}`

[2022-02-16 19:07] mna opened #4240 "Make the mocking generated code thread-safe"
This is more a tech debt issue that was raised by this PR/comment: https://github.com/fleetdm/fleet/pull/4230#issue-1140068620 and discussed in the backend team meeting.

Currently, we use https://github.com/groob/mockimpl and it works well enough, but when used in a multi-threaded scenario, the code it generates is not thread-safe (it assigns a boolean flag indicating that the mocked method was c

[2022-02-16 19:32] noahtalerman commented on #1203
@macEar this looks like a bug in Fleet. If it still exists, this is something the Fleet team will likely address in the upcoming release.

In Fleet v4.10.0 (latest release), does the Linux hosts number still show the incorrect count? I'd like to include this information in the bug report issue.

[2022-02-16 19:34] noahtalerman commented on #1203
@macEar adding more built in labels in Fleet is something the Fleet team can't commit to addressing now. This is something we might come back to in the future.

Why would you like to have these labels as built-in labels in Fleet? As opposed to creating a custom label.

[2022-02-16 19:36] noahtalerman commented on #1203
@xpkoala I added the "bug" and ":reproduce" label to this issue so that it's added to the list of unassigned bugs.

When macEar is able to reproduce in Fleet 4.10.0 can you please file a separate bug report issue? Then, please remove the "bug" and "reproduce" labels from this issue here.

[2022-02-16 19:41] noahtalerman commented on #4096
@tgauda this makes a lot of sense to me. I added this to the issue description.

I'm removing the "bug" and ":reproduce" label because the "Device user" text, while not clear, is the current expected behavior.

[2022-02-16 19:44] noahtalerman commented on #4094
@lucasmrod great catch and thank you for adding this issue to the "Waiting on..." column in the product team (weekly) board.

I'm removing the "bug" and ":reproduce" label because the lack of units, while unclear, is the current expected behavior.

[2022-02-16 19:48] noahtalerman commented on #3913
@lucasmrod do you know if this issue was resolved? If yes, can you please close this issue. Thanks!

[2022-02-16 19:49] lucasmrod commented on #3913
Yes, it is. Closing.

[2022-02-16 19:49] #3913 closed

[2022-02-16 19:59] noahtalerman commented on #3979
Below is the request and response payload for the user that originally reported this issue:

Request:
[code]

Response:
[code]

Request:
[code]

Response:
I get a response that contains lots of hosts (400-odd lines of JSON).

[2022-02-16 20:13] DominusKelvin commented on #3760
@RachelElysia I opened a PR to resolve this issue :)

https://github.com/fleetdm/fleet/pull/4241

[2022-02-16 20:27] noahtalerman commented on #3979
@chiiph and @lukeheath the expected behavior for the "Select targets" picker is to return hosts that match the search input.

I think this mean that we can use the `GET /hosts` API route (returns only hosts), with a `per_page=5`,  instead of the `GET /targets` API route (returns labels, teams, hosts).

One benefit of using this approach is that the user sees the same hosts when searching with the

[2022-02-16 21:24] lukeheath commented on #3028
Closing this issue as we discovered that Gabe already setup RTL and wrote some example tests. 🎉

[2022-02-16 21:24] #3028 closed

[2022-02-16 21:27] mike-j-thomas commented on #4023
Sorry @lukeheath, no change needed for the dropdown pop up at this point. I haven't had chance to look at it properly. I'm sure it could be improved, but what we currently have is fine.

[2022-02-16 22:17] mikermcneil opened #4246 "Allow DRIs of areas of the repo to merge their own PRs"
Finish this this weekend: https://github.com/fleetdm/fleet/pull/4245

[2022-02-16 22:22] lukeheath commented on #4092
@noahtalerman The above text is a dev note in Figma. Will there be a separate ticket for the host details page or should I capture them from this Figma?

[2022-02-16 23:08] lukeheath commented on #4092
@noahtalerman @zwass We have spec'd this ticket as much as we can with the information available. We need a little more information before we can accurately estimate.

**Backend:**
1. Will the auth token be passed to the frontend via a URL parameter?
2. Once we have the token, what endpoint should we send it to for auth?
3. Will the auth endpoint return a single object with all required device det

[2022-02-16 23:21] mikermcneil commented on #4168
[mikermcneil](https://app.slack.com/team/U01A945TEDP)  [15 minutes ago](https://fleetdm.slack.com/archives/C01M8GZ7NR4/p1645052723863169)
Anybody have any ideas why this only works for GitHub 1.0 projects?  (GitHub 2.0 projects don't seem to be listed- looks like maybe a separate API endpoint?  Possibly has to be GraphQL for some reason?)
https://github.com/fleetdm/fleet/blob/d536aad63e3b2b78ec388

[2022-02-17 02:46] mike-j-thomas opened #4247 "Handbook - Growth planning and project management process"
## Goal
Document how to run the Growth team planning process and assign weekly iterations (tasks).
- [ ] Record a screencast
- [ ] Document the process in the handbook

• Add tasks/ideas/initiatives to Growth Planning.
• Once a week, filter tasks into "Waiting on next week" on the Growth WIP board
• Add tasks for the week to Ready.
• Goal at the end of each week is for teammates to have an empty s

[2022-02-17 03:15] macEar commented on #1203
@noahtalerman It looks like I've disinformed you. In 4.10.0 there is no issue with total host number. So this question has been addressed.

Within this case I requested adding new built-in labels for operating systems only to cover as many OS as we can out of the box. Nothing critical, just a little enhancement. For now I've added custom labels in my Fleet instance.

[2022-02-17 03:34] macEar opened #4248 "Failed policy count is not displayed at /hosts/manage/labels/"
**Fleet version**: v4.9.0

**Fleet tier**: Fleet Free

**User role**: Admin

**Operating system**: docker container `fleetdm/fleet:v4.9.0`

**Web browser**: Chrome 96.0.4664.110) & Microsoft Edge 98.0.1108.50

<hr/>

### 🧑‍💻  Expected behavior

I can see the number of failed policies for each host in Label Hosts (`/hosts/manage/labels/1/?order_direction=asc&order_key=hostname`) as it's displayed i

[2022-02-17 06:06] #4168 closed

[2022-02-17 06:20] mikermcneil commented on #4168
Next steps, to make it post somewhere better than #_from-prospective-customers :

1. Set up a Slack webhook in your Slack settings (ask Eric Shaw if it won't let you do it for permission reasons) -- have it post to a channel of your choice (e.g. #__estimations  )
2. Then copy the URL into a new heroku config var, following the existing, very-explicit naming convention:  https://dashboard.heroku.co

[2022-02-17 10:45] mikermcneil commented on #4246
closed by https://github.com/fleetdm/fleet/pull/4245 and https://github.com/fleetdm/fleet/pull/4255

fyi @GuillaumeRoss this is live

[2022-02-17 10:45] #4246 closed

[2022-02-17 14:19] noahtalerman commented on #1203
Thanks for the following up! I'm glad the issue is resolved.

@macEar thanks for expanding on your use case. When you have the chance to answer, I have two additional questions:

When you filed this issue were you adding Linux servers (Azure, EC2 instances) or workstations (laptops, desktops) to Fleet?

When you originally filed this issue, were you just starting to use Fleet? I'm wondering if the

[2022-02-17 14:48] noahtalerman commented on #3797
The goal of uncovering all forms in the Fleet UI that don't allow submit when hitting the "enter/return" key is now covered in the following issue: #4012

The current plan is to continue to prioritize individual issues like #4067 because they allow us to take small bite-sized steps towards achieving the "app wide" goal in #4012.

#4012 will be prioritized so that we create one list of all the form

[2022-02-17 14:48] #3797 closed

[2022-02-17 14:49] noahtalerman commented on #4067
The current plan is to continue to prioritize individual issues like this one because they allow us to take small bite-sized steps towards achieving the "app wide" goal in #4012.

#4012 is prioritized so that we create one list of all the forms that need updating. Then, later, the Fleet team can choose to address these all at once or in similar bite sized chunks.

[2022-02-17 14:51] noahtalerman commented on #4067
@xpkoala heads up, I added this issue to the 🚀 Release board.

For the reasoning on why we're prioritizing addressing this issue now check out the above comment: https://github.com/fleetdm/fleet/issues/4067#issuecomment-1043030499

[2022-02-17 15:55] noahtalerman commented on #2971
@martavis heads up, I updated this issue's description by removing the following bullet. This is because I noticed there was some overlapping work with this other issue: #3880

The above tooltip would have been removed in #3880. This issue includes the task of updating the "Uptime" text to "Last restarted" without a tooltip.

[2022-02-17 16:22] RachelElysia opened #4259 "Software tab permissions not mentioned in Docs"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

Permis

[2022-02-17 16:24] RachelElysia opened #4260 "Manage Team Policies: Global maintainer ability to Add a team policy"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

GLOBAL MAINTAINER

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻

[2022-02-17 16:48] lukeheath commented on #4092
@zwass @chiiph I am assigning this ticket to both of you to indicate that we are blocked on estimating this ticket until we receive clarity from the backend on the questions above.

Once the questions are answered, please assign the ticket back to me and I will spec and bring to frontend estimation.

[2022-02-17 16:57] xpkoala opened #4261 "Figure out how to reasonably handle a large number of windows users"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_: Windows Server 2019

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>
This ticket is

[2022-02-17 17:08] lukeheath commented on #2825
@noahtalerman From reading through the comment thread, it appears that the first iteration of this endpoint will only filter for `darwin`. I've added this note to the ticket description. Please correct if I'm wrong:

[2022-02-17 17:09] lukeheath commented on #2825
@chiiph Assigning to you for any additional specs before you bring to estimation. Once the ticket is ready, please bring into the "Estimate" column for backend estimation.

[2022-02-17 17:10] lukeheath opened #4262 "Add macOS versions to the Home page"
## Goal

As a Fleet user managing macOS workstations, I want to see the number of hosts that have specific operating system versions installed so that I see if the number of hosts with the latest macOS security update is trending in the right direction.

## Figma

macOS aggregate information on Home page: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratch

[2022-02-17 17:22] noahtalerman commented on #3124
TODO Reed: Update wireframes to point to a link in the docs for failed state.

[2022-02-17 17:33] lukeheath opened #4265 "As a global admin, I want to change anyone's password from /settings/users"
## Goal

As a global admin, I want to change anyone's password from /settings/users so that I I can manually set a user's password when needed.

## Figma

Change anyone's password from /settings/users: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4140%3A171166

### Backend (blocker): #3059

## Tasks

### 1
- [x] Update `EditUserModal` to include new password field.
- Password field a

[2022-02-17 17:41] lukeheath commented on #4092
**NOTE:** Based on the answers provided, I will create a separate backend ticket to implement necessary API changes.

[2022-02-17 18:19] gillespi314 opened #4267 "Add "back to top" button to docs pages on fleetdm.com"
Goal:
As a user checking out Fleet docs on pages like this [one](https://fleetdm.com/docs/using-fleet/rest-api#sessions), I want a quick way to jump back to the top of the page.

How:
Add a "back to top" button!

More info:
While we're at it, let's add one to the handbook pages too!

[2022-02-17 18:27] RachelElysia opened #4268 "GET /software API is not filtered by team"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium
**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Tested on
Premium Global Admin AND Premium Team Admin
**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. C

[2022-02-17 18:54] michalnicp opened #4270 "Fix flaky tests"
Currently, there are a couple tests that are flaky and need to be fixed.

[code]

[2022-02-17 19:05] michalnicp opened #4271 "Improve validation error from specs endpoint"
### Goal

When an invalid team (does not exist) is provided in the request to `POST /api/v1/fleet/spec/packs`, the validation error should be more informative. Currently, it returns

[code]

### How?

Reference the invalid team in the reason message.

[2022-02-17 19:09] lukeheath commented on #3300
Sarah: If whoever this is assigned to has issues implementing, I have some ideas on implementing with react query.

[2022-02-17 19:13] xpkoala opened #4273 "Investigate setting changes when upgrading"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): 4.10

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

This behavior was reported by

[2022-02-17 19:17] lukeheath commented on #3245
@noahtalerman Some questions on this one:

1) Currently when a user runs a live query and clicks "Done", it takes them back to the query edit page. Do you want to maintain this behavior?
- OR -
Do you want "Done" to take the user back to "Select Targets"?

In both cases, we assume selected targets should be maintained as long as they stay in the selected query. That means the "Edit Query", "Select

[2022-02-17 19:18] lukeheath commented on #3245
@lukeheath Note to self: We need to look at `QueryPage` to determine when data should be passed to each view through the options object, and when it should be stored in the query context.

[2022-02-17 19:39] lucasmrod opened #4275 "Vulnerability processing: software_cve has entries with `cpe_id=NULL`"
**Fleet version**: `main` (`689de418`)

<hr/>

[code]

### 🧑‍💻  Expected behavior

[code]

### 💥  Actual behavior

[code]

### More info

In case it helps to reproduce, I enrolled the simulated hosts:
[code]
and also enrolled my macOS workstation and an Ubuntu 20.04 VM.

[2022-02-17 19:57] RachelElysia commented on #3932
@xpkoala

I know @noahtalerman didn't want us to double up the work, but I kinda had to make this revamp of the permissions doc to make sure my e2e tests were comprehensive. Feel free to use this to springboard your documentation work!

https://docs.google.com/spreadsheets/d/1nl4EtwJmjB5O9jBZsaTzJXpaD0fvgoO3CteCht7Ut2c/edit?usp=sharing

[2022-02-17 19:58] xpkoala commented on #3932
Thanks @RachelElysia! I just request access to the doc.

[2022-02-17 20:04] xpkoala commented on #4268
I was able to reproduce this in preview.

[2022-02-17 20:22] gillespi314 commented on #4268
@lukeheath @chiiph, I believe this is a backend issue. The API request appears to be formulated correctly and the hosts counts being displayed match what is being returned in the response. I can start looking into the backend code unless Tomas would prefer to handle differently.

[2022-02-17 20:26] noahtalerman commented on #2825
@lukeheath this is correct. The operating system table will only appear when the "macOS" filter is active on the **Home** page.

[2022-02-17 20:29] noahtalerman commented on #3245
@lukeheath we'd like to maintain the current "Done" behavior.

This sounds right to me!

[2022-02-17 20:38] noahtalerman commented on #4260
@xpkoala heads up, I added the above expected behavior to this issue's description.

Looks like a backend issue if you're able to reproduce.

[2022-02-17 21:06] noahtalerman commented on #3155
@mike-j-thomas these UI changes are an awesome improvement.

FYI I'm moving this issue into the "🤩 Inspire me" column in the Fleet core roadmap project. Currently, the Fleet team doesn't have the capacity to implement these changes.

I'm excited to be able to implement these new styles when we have the capacity to take them on 🦾

[2022-02-17 21:48] noahtalerman opened #4282 "Expose policies via the `GET /device/{device_id}` response"
## Goal

As an IT administrator, I want to be able to configure self service in Fleet so that the end user can resolve a failing issue on their company owned device.

As an end user, I want to be notified when my device isn't up to company standards so that I can resolve the issue and continue to get my job done without interruption/distraction.

## Figma

Add ability to configure self service in

[2022-02-17 22:02] gillespi314 commented on #3543
@chiiph @lucasmrod  just wanted to double-check my read of this [PR](https://github.com/fleetdm/fleet/pull/3217/files) and confirm that the frontend can now rely solely on the `/host_summary` endpoint to derive the combined linux count displayed on the homepage (so we can finally kill the API calls to `/labels` and `/count` from the homepage).

[2022-02-17 22:17] lukeheath commented on #4067
Do we still need reproduction steps in order to move this into the backlog?

[2022-02-17 22:20] lukeheath commented on #4268
@gillespi314 Sounds good, thanks for the clarification!

[2022-02-17 23:19] gillespi314 commented on #4268
@lukeheath @chiiph, as far as I can tell the API specifications never contemplated that host counts for software items would be filtered by team. https://github.com/fleetdm/fleet/issues/3086
In fact, the way counts are currently processed and stored, I don't believe we have the ability to do this without some changes as the `software_hosts_count` table does not differentiate counts by team.

[2022-02-17 23:40] gillespi314 commented on #4209
Fixed by #3703

[2022-02-17 23:40] #4209 closed

[2022-02-17 23:47] michalnicp opened #4284 "Add staticcheck to linters"
### Goal

Enable staticcheck linter in golangci-lint (currently disabled). Performs static analysis on code to find bugs, integrates with gopls and many IDEs.

### How?

- [ ] enable staticcheck in `.golangci.yml`. May require some tuning so that we are not overwhelmed with new linting errors

[2022-02-18 02:18] mike-j-thomas opened #4287 "Handbook: Fleet docs - guidelines for adding images on docs"
### Goal

Consistently sized UI screenshots in the Fleet docs. Aspect ratio should be optimized for maximum clarity within the constraints of the container links in the doc.

### How

- Add guidelines to the "Fleet docs" section of the handbook.
- UI screenshots should be 4:3 aspect ratio (1280x960). This is an optimal size for the container width of the docs and ensures that content in screenshot

[2022-02-18 02:42] mike-j-thomas opened #4289 "✨ Improve Fleetdm.com /get-started"
### Goal

/get-started is confusing. A user isn't really getting started with Fleet (in the sense that to truly get started they require a more in-depth deployment.) The function of this page is for users to "Try Fleet" via fleetctl-preview.

### How

- Simple instructions to get users to "Try Fleet"
- Update language /get-started to "Try Fleet"
- Make it clear what exactly is being installed - e.

[2022-02-18 02:51] mike-j-thomas commented on #3094
@mikermcneil, @noahtalerman I found this on the growth board. Is this an active UX request or documentation request?

[2022-02-18 02:53] mikermcneil commented on #3094
Good question.  This should be a product feature, but I think Noah is sending it your way first because we need a good place to link to in the docs for agent options.

Some inspiration: https://sailsjs.com/documentation/reference/configuration/sails-config-sockets

[2022-02-18 02:57] mike-j-thomas commented on #2943
Hey @lukeheath, please may you add more details to the description for this when you get a chance. What specifically is the customer expecting to see? Thanks.

[2022-02-18 02:59] mikermcneil commented on #3094
^fyi @DominusKelvin

[2022-02-18 03:10] mike-j-thomas opened #4290 "Blog: Deploying Fleet on Windows Server"
TODO: Define goals and an outline for this article.

[2022-02-18 04:05] mike-j-thomas commented on #3668
Thanks for tracking this, it's been on my list. These cards should switch to 2 columns between 1200px and 992px. https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=1479%3A5151

[2022-02-18 05:16] DominusKelvin commented on #3094
This is great @mikermcneil. I'll get on it!

[2022-02-18 05:18] mike-j-thomas commented on #4023
@noahtalerman, I believe this issue is related to https://github.com/fleetdm/fleet/issues/3155. Which board would you like me to move it to?

[2022-02-18 05:52] mike-j-thomas commented on #3000
The beginnings of our guidelines for communicating as Fleet: https://fleetdm.com/handbook/brand#communicating-as-fleet

[2022-02-18 05:52] #3000 closed

[2022-02-18 06:58] mike-j-thomas opened #4291 "Handbook our process for sponsoring conferences"
### Goal

Define our process for how we sponsor conferences and document under Community in the handbook.

There's some info in this thread that can be distilled into as part of the process https://fleetdm.slack.com/archives/C01ALP02RB5/p1644618853974929

[2022-02-18 07:00] mike-j-thomas opened #4292 "Update screenshot in website hero"
The current screenshot in our hero is outdated and needs to be changed.

[2022-02-18 10:21] Rylon commented on #4273
We had this same issue, and had to re-apply the spec to enable software inventory. We also had to restart the Fleet service after applying the spec before we saw results coming in.

I'd also like to make a feature request that this flag be made available in the standard `fleet.yml` config file, as it makes automated rollouts much easier. 🙂

[2022-02-18 12:28] chiiph commented on #4268
Ah, yes, we would need to count per team as well for this to work, on top of extending the API.

[2022-02-18 12:56] chiiph commented on #3979
I just realized we can't use `/hosts` because that endpoint doesn't have the `selected` option for discarding things from the search as the user is selecting things. So we'll need to update `/targets`. Moving this to the backlog, the frontend shouldn't change.

[2022-02-18 13:44] chiiph commented on #4261
@zwass when we look for host users, among the few things we filter, we only get `type <> 'special'`, should we use the same filtering for `cached_users`?

Not sure why we need to join the users for certain table, do we expect a chrome extension or an atom package that is not owned by any users?

[2022-02-18 15:51] chiiph commented on #3563
Apparently, it might be a wix thing, here's some useful information: https://stackoverflow.com/questions/7532863/wix-not-removing-files-on-uninstall

[2022-02-18 15:52] RachelElysia opened #4299 "Team admin: Update team name does not refresh team name on update"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

TEAM ADMIN
**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expect

[2022-02-18 19:56] xpkoala commented on #4273
Thank you for the information @Rylon! Would you mind filing a new Issue using the "Feature Request" template for your request?

[2022-02-18 19:57] #2943 closed

[2022-02-18 20:19] xpkoala opened #4304 "500 error when viewing advanced add host tab"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): `f5376de`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: Safari

[2022-02-18 20:29] gillespi314 commented on #4304
@xpkoala I can't reproduce in my dev instance. You are in Fleet preview, I presume?

[2022-02-18 20:32] xpkoala commented on #4304
I am @gillespi314. Let me blow up my instance and try it again.

[2022-02-18 20:37] gillespi314 commented on #4304
I know there's some differences in the preview server is configured so wonder if it could be a result of how the `/certificate` endpoint works in the preview environment.

[2022-02-18 20:45] RachelElysia commented on #3432
@myself for later: if 2 needs a lot more time to take the API post request out of each click, make a new ticket.

[2022-02-18 21:28] gillespi314 commented on #1463
Sounds good, if y'all want to keep a running list of the gnarly ones, especially as related to react-query or react-table or other third-party stuff, I'm happy to tackle those.

[2022-02-18 21:29] gillespi314 commented on #1463
Or however we three want to approach it is cool with me :)

[2022-02-18 21:31] mike-j-thomas opened #4308 "Query library - show the query's purpose ("informational" or "policy")"
On /queries and /queries/abc, display a tag to show a query's purpose ("Informational" or "Policy")

[2022-02-18 21:33] gillespi314 commented on #4304
@xpkoala, maybe we can just hide/disable this tab for Fleet preview (I don't think it is a feature that is really intended for the preview audience anyway).

[2022-02-18 21:46] xpkoala commented on #4304
@noahtalerman Would love to have your input on this one.

[2022-02-18 22:13] lukeheath commented on #4268
@noahtalerman This was moved out of the current sprint because the API does not yet support this behavior. @gillespi314 is going to handle architecting this so that it is ready for the next sprint.

[2022-02-19 01:01] #3568 closed

[2022-02-21 14:59] noahtalerman commented on #3300
@lukeheath heads up, the product team would like to expand the scope of these improvements to include backend/API changes. Can you please update this issue with API wireframes?

Instead of checking if both counts are 0, we'd like the API to provide the indication that a user's policy has not yet finished initially running.

This way, the consumers of the API (both users and the frontend) can use t

[2022-02-21 15:46] noahtalerman commented on #4023
@mike-j-thomas I just moved this issue to the "🤩Inspire me" column in the Fleet core roadmap board. I also removed your assignment from the issue.

[2022-02-21 15:51] chiiph commented on #3059
@noahtalerman @zwass should we make it so the user has to update their password when they use this new password?

[2022-02-21 16:02] noahtalerman commented on #4304
@xpkoala @gillespi314 @RachelElysia the expected behavior is that an error state is displayed if Fleet fails to load the certificate:

![Screen Shot 2022-02-21 at 11 00 21 AM](https://user-images.githubusercontent.com/47070608/154989880-e9d47d25-55ab-41e6-ab09-f3add90f544b.png)

In addition, the expected behavior is that a loading state is displayed while Fleet is attempting to retrieve the certif

[2022-02-21 16:16] noahtalerman commented on #4268
Because the ability to filter software by team does not work as advertised, I'd argue that this issue is release blocking bug.

@lukeheath @chiiph I propose prioritizing this fix over other planned feature work in 4.11.0. What do you think?

[2022-02-21 16:22] noahtalerman commented on #3059
@chiiph for now, I think no. I think it's ok to rely on the user to manage the security risks of updating and sending along new passwords.

We might want to add this in the future.

[2022-02-21 16:48] noahtalerman commented on #3911
@xpkoala can you please move this issue to the 🚀 Release board? This way, the engineering team can make the call if they'd like to follow up in the Slack thread linked above. Thanks!

[2022-02-21 16:53] noahtalerman commented on #4308
Maybe we should remove "informational" from fleetdm.com/queries so there's just "queries" and "policies?"

Then, we could make "queries" and "policies" mutually exclusive so that when the use filters the standard query library by "queries" they only see queries and when the user filters by "policies" they only see policies.

[2022-02-21 16:55] xpkoala opened #4310 "Software still shows as installed after uninstall and refetch"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): 4.10

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: 15.2

<hr/>

### 🧑

[2022-02-21 16:55] GuillaumeRoss commented on #4308
I like the idea. I guess the only minor issue is that policy queries are queries too... so maybe informational vs policy makes more sense?

[2022-02-21 17:00] noahtalerman commented on #4308
Right. I think I'm getting ahead of myself by trying to marry fleetdm.com with what a user currently sees in the Fleet UI (separate "Queries" and "Policies" tab).

I think exposing the type (informational v. policy) is a good iterative solution for "Get built-in antivirus status on macOS" and "Antivirus healthy (macOS)" appearing as duplicates on first glance.

[2022-02-21 17:44] xpkoala commented on #2750
We appear to be using different time increments in different places of the app. Is there a standard we have set for these types of items? @noahtalerman @RachelElysia

168 hrs : 1 week
1 hr : 1 hour

![Screen Shot 2022-02-21 at 11 42 11 AM](https://user-images.githubusercontent.com/11012743/155004587-e117617d-d2ea-47ec-b24d-a9a91099ce20.png)

[2022-02-21 17:51] zwass commented on #4261
The reason for the JOIN with users is that `chrome_extensions` (and `atom_packages) is one of those tables that needs a "user context" to search in. Otherwise it will just use the current user, which is typically root. If you want to pick up extensions for all users on the machine you need to do that JOIN to tell osquery which users you want.

Based on the discussion on Slack, we may be able to us

[2022-02-21 17:56] chiiph commented on #4261
Oh! So it's not filtering that's happening, it's the opposite... TIL.

[2022-02-21 18:11] xpkoala commented on #4088
@lucasmrod Moving this over to engineering for speccing out.

[2022-02-21 18:14] xpkoala commented on #4086
This ticket is encompassed in #3227.

[2022-02-21 18:14] #4086 closed

[2022-02-21 18:23] xpkoala commented on #3947
@zwinnerman-fleetdm This was in the Product board instead of the Release board. Pinging so you can have some visibility on it.

[2022-02-21 18:53] mna commented on #3220
I have the first three bullets in my comment above implemented, however regarding the recording of policy results there are a few issues worth considering - maybe the proposed approach to use the policy timestamp in the query's name works, but I want to make sure we are aware of some shortcomings.

* We'd have to add a query to `SubmitDistributedQueryResults` to load the latest updated_at timestam

[2022-02-21 18:59] chiiph commented on #3220
What if we update the policy result and we add a `WHERE policy.platform contains <platform for the host>` (excuse my bad sql)? That would result in 0 rows updated when a policy changes platform to allow for a result that is not valid anymore.

Alternatively, we could do something similar, always update, but only `where policy.updated_at < <policy result from name updated_at>`.

I might be missing

[2022-02-21 19:06] mna commented on #3220
That is indeed the straightforward option, but it seemed to me like it was considered, and discarded after discussion, based on the earlier comments on this ticket - i.e. this sounds like scenario 2 [here](https://github.com/fleetdm/fleet/issues/3220#issuecomment-987939249):

I assume it was discarded because the next comment is:

and it doesn't mention that approach anymore, only the cron job or

[2022-02-21 19:19] zwinnerman-fleetdm commented on #3947
Just to make sure, that query looks like it would be run once per endpoint per scheduled_query right? This could very easily cause a ton of load. Even surpassing the theoretical limit that MySQL can handle.

[2022-02-21 19:29] mna commented on #3220
I created a PR for the first part of the ticket (allowing updates, cleaning up membership on update of the policy) so that it can unblock the frontend until we figure out how we want to tackle the second part (preventing hosts from saving results for a policy that doesn't apply to them anymore): https://github.com/fleetdm/fleet/pull/4311

[2022-02-21 19:57] xpkoala commented on #4067
The steps Mike provided will surface the issue on Firefox 97 and Chrome 98 but not on Safari 15.2.

[2022-02-21 20:48] lucasmrod commented on #3220
Good catches... It seems even the timestamp approach could miss some cases...

Considering all this... I'm now thinking how does the "cron cleanup approach" complexity compares to the complexity of the "timestamp on query"...

[2022-02-21 20:55] noahtalerman commented on #3850
@zwass what are your thoughts on the versioning for Fleet's osquery installers?

One option is to align the versioning of Fleet's osquery installers with Fleet (server) and fleetctl. Orbit could keep its own versioning (1.0.0) while the osquery installers would follow the rest of Fleet (4.11.0).

This way users understand that each release of Fleet coincides with improvements to the Fleet server,

[2022-02-21 21:04] lucasmrod commented on #3220
Alternatively, we could do something similar, always update, but only where policy.updated_at < <policy result from name updated_at>.
I might be missing something obvious here, though.

`RecordPolicyQueryExecutions` doesn't load `policies`. It just updates all the policies on the `policy_membership` table. It's possible, but it's about making the "submit" of policy results more expensive.

[2022-02-21 21:08] lucasmrod commented on #3220
I'm starting to think cleanup is the way to go now... (to reduce complexity). Will such clean up job be prohibitively expensive?...

PS: re UX: We could indicate to users that when changing platforms they will have to wait for the system to cleanup the old result entries, etc.

[2022-02-21 21:24] mna commented on #3220
If we're ok with this product-wise (as you mention, there could be some kind of UX clue as to what is going on), I think I agree that the cleanup could be simpler, assuming we can make it fast and not too processing-intensive (we would only care about cleaning up results for policies that were modified "recently", so right from the start the impact is limited).

[2022-02-22 01:58] zwass commented on #3059
If the admin wants the user to reset afterwards, they can use the "require password reset" button after they do this.

[2022-02-22 02:09] zwass commented on #3911
Reached back out for confirmation on whether this change will work for our customer.

[2022-02-22 08:31] gstorme opened #4316 "Unable to disable SMTP after configured state"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):
4.10.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Fleet Free

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Admin

**Operating system** _(e.g. macOS 11.2.3)_:
Debian 11

**Web browser** _(e.g. Chrome 88.0.4324)_:
Chrome 9

[2022-02-22 14:08] mna commented on #3220
I'm currently blocked on this ticket regarding the cleanup part of `policy_membership`. We need to decide between:

1. Impact the performance of reporting policy results by making the check each time we update the policy membership that the host matches the policy's platforms criteria (and presumably, in the future, team and possibly other criteria)
2. Introduce a cleanup cron job to remove hosts

[2022-02-22 14:22] chiiph commented on #3220
+1 for 2, we are moving in the direction of eventual consistency in many parts of the application, we can transpose the language for this as well, and it's the only way things will scale.

[2022-02-22 14:26] noahtalerman commented on #3220
@mna @chiiph can the API inform the UI that a policy may take time to see accurate results? This way, the consumers of the API (both users and the frontend) can use the API to determine that it will take time to see accurate results.

There's a similar "Indicate that a policy has not run" issue that requires adding similar info to the policy API here: https://github.com/fleetdm/fleet/issues/3300#i

[2022-02-22 14:39] mna commented on #3220
@noahtalerman I think we could definitely add an "updated recently" flag based on some agreed-upon duration (e.g. 1 hour?). I guess there could still be edge cases where hosts have issues and would send outdated results after that, but that'd be more unlikely. In any case, regardless of the actual duration that we can easily change if needed, we could add that flag to the policy payload.

Somethin

[2022-02-22 17:22] xpkoala commented on #3519
@RachelElysia Could you or another engineer move this to the Ready pile once satisfied with the addition. This isn't something I will be poking. Thank you!

[2022-02-22 17:41] lucasmrod commented on #3878
@sharvilshah see https://github.com/fleetdm/fleet/pull/3836#issuecomment-1047763497.

[2022-02-22 18:34] noahtalerman commented on #4260
@xpkoala now that this issue includes the expected behavior^, can you please queue this issue up in the engineering board? Thanks!

[2022-02-22 18:48] noahtalerman commented on #2936
Link to internal discussion on method for Fleet authenticating with ticketing tools: [User/customer is storing the credentials on prem.](https://docs.google.com/document/d/1dyGNIRci9WYR77qg7EVxUHmzuTHg-ervM-v-0rPSnj4/edit)

A video of this discussion is here: https://drive.google.com/file/d/1uUBI7GoM6oJaBWaDP9VnSJK6sWF-bmKC/view?usp=sharing

[2022-02-22 19:02] zwass opened #4318 "Improvements to "simple query" API"
### Goal

Add the following as parameters to the ["Simple query" API](https://fleetdm.com/docs/using-fleet/rest-api#run-live-query):

- [ ] `label_ids` - targeting labels like in the full query API
- [ ] `team_ids` - targeting teams like in the full query API
- [ ] `wait_time` - Allow each request to override the `FLEET_LIVE_QUERY_REST_PERIOD` default so that the API user can determine how long to

[2022-02-22 19:32] xpkoala commented on #4316
@gstorme Thank you for reporting this issue! I was able to reproduce this in my local environment and I'll make sure the engineering team sees it today.

[2022-02-22 20:27] mna commented on #4260
Ok, looks like this is not related to my recent rego changes as those were for queries, not policies - seems like creating team policies by a global maintainer has always be denied by the rego rules (there's even a test that checks that it fails). I think the change should be simple enough, I'll try to get the PR ready today.

[2022-02-22 22:51] mike-j-thomas opened #4323 "Migrate existing Medium articles to fleetdm.com"
- [x] Establish new site map https://github.com/fleetdm/fleet/issues/3616
- [x] Design for the blog (https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=3618%3A12571)
   - [x] Some sort of land page (category page)
   - [x] Article page
- [x] Mobile layouts
- [x] Handover to Eric for implementation

## Article categories

For the most part, we want to break out blog posts from the 'typical'

[2022-02-23 01:57] mike-j-thomas opened #4325 "Profile picture not displaying as expected in Fleet UI masthead"
### 🧑‍💻  Expected behavior

I expect to see my avatar in the masthead (navigation bar) rather than the placeholder profile pic.

### 💥  Actual behavior

<img width="352" alt="image" src="https://user-images.githubusercontent.com/78363703/155249897-308c4ff6-d78d-4ec0-aa51-f97968eff52e.png">

### More info

[2022-02-23 03:11] martavis commented on #344
As discussed, tooltips that are displayed in any fashion other than the question mark icons were not included in the changes for the PR.

Also, related to point 5 in the description, we **should not** continue using the `ReactTooltip` and `IconToolTip` components as they add a lot of complexity. Removal of these have begun in the [PR](https://github.com/fleetdm/fleet/pull/4326).

[2022-02-23 06:54] FreddieOliveira opened #4327 "Redirection not working after SSO login"
**Fleet version**
This behavior occurs on fleet versions `4.9.0` and `v4.10.0-98-g57697e4c-dirty` at least.

**Fleet tier**
Fleet Free

**Operating system**
The server running fleet is CentOS based.

### 🧑‍💻  Expected behavior

After logging using SSO, the browser should correctly be redirected to /dashboard or whatever other URL the user was trying to access.

### 💥  Actual behavior

The browser

[2022-02-23 13:46] mna commented on #4284
Could be interesting to make the linting work with the latest golangci-lint version too if it's simple enough (it introduces a few new failures).

[2022-02-23 13:51] mna commented on #4270
Another one I've noticed (also in CI failed runs):

[code]

[2022-02-23 14:09] mna commented on #3059
I wonder if that should be a new policy action, much like we have `write_role` instead of just `write` when we want to update the role. Otherwise if we just reuse the `write` action to allow changing the password, the current rego file would let team admins change the password of their team's users, and it would become tricky to allow editing (but not the password) without a new action.

[2022-02-23 14:45] GuillaumeRoss opened #4329 "DisableGuestAccount default policy does not work"
Using Fleet 4.10, creating a policy with the default query policy provided for macOS does not return the expected results.

The current query is:

`SELECT 1 FROM managed_policies WHERE domain = 'com.apple.MCX' AND name = 'DisableGuestAccount' AND value = 1 LIMIT 1;`

The domain should be `'com.apple.loginwindow'`.

I will test that that is accurate, and if it is, submit a PR for https://github.com

[2022-02-23 14:48] noahtalerman commented on #3612
Roadmap (Q1 2022 product objectives) can now be found in the product handbook here: https://fleetdm.com/handbook/product#q-1-2022-product-objectives

[2022-02-23 14:48] #3612 closed

[2022-02-23 16:36] tokcum opened #4332 "Querying chrome_extensions does not work"
**Fleet version**: 4.10.0

**Fleet tier**: Fleet Free

**User role**: Admin

**Operating system**: Fleet runs on Linux, Agents run on Windows 10

**Web browser**: Microsoft Edge 98.0.1108.55

<hr/>

### 🧑‍💻  Expected behavior

When querying chrome_extensions via fleet Web UI there is no result. Specifically, I run this statement against my Windows 10 endpoints:

`SELECT * FROM chrome_extensions;`

[2022-02-23 17:30] lucasmrod opened #4333 "500 on Host Details Software tab right after host is enrolled"
**Fleet version**: `main` 0ac0c9de.

See Loom video:
https://www.loom.com/share/a97165e770b34a2cbb45d92cc51b8594

As the video shows, this only happens if the user is real quick :)

<hr/>

### More info

Guess: The issue seems to be on the frontend, I didn't see any request errors or fleet server error logs.

[2022-02-23 18:17] #3274 closed

[2022-02-23 18:24] macEar commented on #1203
Linux servers

No, for that moment we'd been using Fleet for several years (previously known as Kolide Fleet).

[2022-02-23 20:03] #3993 closed

[2022-02-23 20:22] lucasmrod opened #4337 "Orbit should retry extension registry in case of failure"
### Goal

The issue with #3678 was that occasionally extension registry took more than `3s`, so, Orbit, after timing out, was bringing both itself and osquery down (due to our use of `oklog.Execute`).

We fixed this in #3836 by increasing the timeout for Orbit's extension registry from `3s` to `5m`.

Zach also proposed retrying extension registering in `Runner.Execute` (see https://github.com/flee

[2022-02-23 20:36] noahtalerman commented on #2936
TODOs Noah:
- Add Jira logo to table
- Use Jira project key as placeholder but accept project ID. Make this required.
- Show some sort of error message if user attempt to delete an integration that is in use.
  - This could come in a later iteration.
  - Maybe easiest is to switch everything hooked up to this integration back to webhook and then turn off.
- Show password in the add integrations mo

[2022-02-23 20:55] #1025 closed

[2022-02-23 20:57] RachelElysia commented on #4333
Any change we can record the :reproduce with the Network tab open so we can see what data might not be retrieved and give us a hint as to what error state/case to grab. <3

[2022-02-23 21:02] RachelElysia commented on #4316
Just a heads up that there are two keys, `enable_smtp` and `configured`.

When the frontend is unchecked in the UI, `enable_smtp` is turned to false, but `configured` stays true.

If the intended behavior is for the checkbox to turn both to false on the frontend, this can be a quick frontend fix. If the intended behavior is to leave `configured` true but the the backend `enable_smtp` as false shou

[2022-02-23 22:44] zwass commented on #4327
Do you have Javascript disabled in this browser or anything like that? Does any information appear in the dev tools console?

[2022-02-24 00:18] mikermcneil opened #4339 "Easier way to view/edit team membership."
### Goal
As a user looking at team policies who has permission to do this, I want an easy way to jump into where I can view/edit the team membership.

<img width="1588" alt="image" src="https://user-images.githubusercontent.com/618009/155432731-68ae077c-9262-45bd-8498-57df72019ffa.png">

### How?

- [ ]

[2022-02-24 06:12] FreddieOliveira commented on #4327
Hey zwass. Yes the browser works fine, I'm using Firefox, but also tested on Chrome and got the same behavior. The dev tools console says there's no source code to show. The cookies also are all empty.

[2022-02-24 12:50] lucasmrod commented on #4284
We should define scope.

See output of:
- [staticcheck ./...](https://github.com/fleetdm/fleet/files/8132488/staticcheck_output.txt).
- [staticcheck -tests=false ./...](https://github.com/fleetdm/fleet/files/8132556/staticcheck_output_tests_false.txt)

Some are easy fixes, and others, e.g. "unused" when running staticcheck with `-tests=false` require refactoring of packaging (some testing function

[2022-02-24 14:48] GuillaumeRoss opened #4342 "Add a policy query to check MDM enrollment status"
### Goal

TODO
Checking if computers are enrolled to MDM is a common check that has to be performed by IT and security teams. It would be nice to have a policy query on the website and in the product to achieve this.

### How?

- [x] Write query - using the mdm table from the MacAdmins extensions (this is what is used to show MDM status on the host page)
- [x] Implement on Dogfood
- [x] Add policy

[2022-02-24 15:02] GuillaumeRoss commented on #4342
`SELECT 1 from mdm WHERE enrolled='true' AND identity_certificate_uuid='optional';`

[2022-02-24 15:20] GuillaumeRoss opened #4344 "Ability to edit on which platforms a policy applies after it has been created"
### Goal

TODO
When creating a policy, you have to pick what operating system it should apply to. If you want to change that down the road, it is not possible, you have to delete the policy and re-recreate it. It would be nice if we could edit the policy's platforms instead, since we can already edit everything else about the policy such as its name, the query, etc.

[2022-02-24 15:26] GuillaumeRoss opened #4345 "Surface macOS and Windows OS vulnerabilities"
## Goal

| User story  |
|:---------------------------------------------------------------------------|
| As a vulnerability management engineer integrating w/ the Fleet,
| I want to see macOS and Windows versions installed and which of those are vulnerable across my hosts
| so that I can know which versions of macOS and Windows have vulns.

## Changes

### Product
- [ ] Vulnerability changes: Det

[2022-02-24 15:34] chiiph commented on #4344
I believe this is a duplicate of https://github.com/fleetdm/fleet/issues/3220

[2022-02-24 15:58] lucasmrod commented on #3849
Folks, to simplify this iteration, I will only make the changes to package the `.app` bundle for `osquery` only. We can do the same with the `orbit` executable later on a separate issue, AFAICS we don't need to package orbit as an .app to solve the "Goal" of the issue.

[2022-02-24 16:37] DominusKelvin opened #4347 "Update fleetctl to suggest how to set fleet server address when fleetctl login --help is invoked"
### Goal

TODO

### How?

- [ ]

[2022-02-24 16:43] DominusKelvin commented on #4347
@michalnicp can we both run point on this since you are working on a somewhat related [issue](https://github.com/fleetdm/fleet/issues/3598)?

[2022-02-24 18:27] lucasmrod commented on #4284
Ah, good, maybe golangci-lint runs only some of staticcheck checks.

[2022-02-24 19:09] GuillaumeRoss opened #4351 "Add known exploits for vulnerable software"
### Goal

Most environments of a certain size have many vulnerabilities. IT teams everywhere struggled to fix vulnerabilities as fast as they are discovered. While some data can help prioritize what to fix or not to fix, such as CVSS scores and other context, knowing if a vulnerability is currently being exploited in the wild can be a critical piece of information when deciding what to fix NOW.

T

[2022-02-24 19:29] GuillaumeRoss commented on #4329
Waiting for https://github.com/fleetdm/fleet/pull/4343 to get closed then will get on this one.

[2022-02-24 20:09] michalnicp commented on #3598
I am not sure if this has been considered, but having to manually open a web browser, log in, and copy a token is not a pleasant experience. Is there a way we can can add support for automating some of this? Similar to https://devcenter.heroku.com/articles/using-single-sign-on-sso-services-with-heroku-for-end-users#authenticating-to-the-heroku-cli-under-sso.

[2022-02-24 20:37] tokcum commented on #4332
I configured the Agent to start as a normal user, not NT AUTHORITY\SYSTEM. With this, I'm able to query the Chrome Extensions of the user the service runs with.

So, I think this is "works as designed" and not a bug. However, how can we inventory all installed Chrome Extensions? I found a query which works even when service runs under SYSTEM.

`SELECT u.username, extensions.name, extensions.identi

[2022-02-24 21:27] gillespi314 opened #4355 "Improve UX for async filtering in select targets component"
Issue:
Significant delays and overall poor UX was observed when attempting to use the select targets functionality on a large number of hosts in the load test environment.

Proposed solution:
- API calls for text searches are debounced 0.5 seconds and API results are cached for 60 seconds.
- The drawback of this approach is that the aggregate counts and online percentages will be slightly stale. F

[2022-02-25 00:49] DominusKelvin opened #4357 "Why do duplicate queries appear on the host details page?"
### Goal

Clarify why it's possible for the same query to to appear more than once in the "Schedule" tab on the **Host details** page.

<img width="1629" alt="image" src="https://user-images.githubusercontent.com/618009/155634742-b73c656e-ec4d-4ab4-9ca4-34ee0f90c2f0.png">

### How?

One potential solution from @mikermcneil  (that may actually be totally wrong, since it's unclear why more than one

[2022-02-25 02:30] #3668 closed

[2022-02-25 07:43] tokcum commented on #4332
I've tested today different approaches to query Chrome Extensions. Surprisingly to me, I found that the order of the tables in the SELECT statement is of importance.

So, this statement has no results:

`SELECT * FROM chrome_extensions INNER JOIN users ON chrome_extensions.uid = users.uid`

While this statement finds the installed extensions:

`SELECT * FROM users INNER JOIN chrome_extensions ON u

[2022-02-25 08:49] mike-j-thomas commented on #3616
@eashaw, I'm assigning this to you for implementation. Everything you need should be in Figma https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=1479%3A5151

I've also whipped up a couple of prototypes that detail dropdowns and mobile nav interactions. You can change between "flows" (prototypes) from the left side-menu. https://www.figma.com/proto/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.c

[2022-02-25 13:55] lucasmrod commented on #3849
I performed some early tests with an `.app` packaged osquery (as downloaded from the osquery site).

First I tried the following with a `osqueryd` packaged the usual way, no `.app`:
(See the `EndpointSecurity client lacks entitlement`.)
[code]

Then I tried the same with an `.app` packaged `osqueryd` (assembled with some code changes to `fleetctl package` and a local TUF server):
[code]

@sharvils

[2022-02-25 14:33] lucasmrod commented on #3849
Announcing some changes I'm planning on this iteration:

Currently we have the following platforms for the `osqueryd` target in our TUF system: `linux`, `macos` and `windows`.

To not break existing Orbit deployments in macOS hosts (*), I propose we introduce a new "platform" `macos-app` to our TUF system (`fleetctl package --type=pkg` would default to `macos-app` from now on).

We also have to de

[2022-02-25 14:46] GuillaumeRoss commented on #4344
Correct, closing! I had searched for it but could not find. Thanks!

[2022-02-25 14:46] #4344 closed

[2022-02-25 14:46] lucasmrod commented on #3849
Also, @sharvilshah: ` --disable_events=false --disable_endpointsecurity=false`,
these two options must be set at start-up, right?

If so, users that wish to have this feature enabled will need instructions to run `fleetctl package` with `--osquery-flagfile` with those two options added.