[2022-09-14 17:41] CharlotteChance commented on #7727
@zwass thanks, "sign on with Google" works.

[2022-09-14 17:43] zwass commented on #7727
Great! I reassigned this to Guillaume for when he returns to get the correct package pushed out. If that works, then I don't think there is a bug here.

If there is any issue, please reassign to Reed.

[2022-09-14 17:43] xpkoala commented on #7762
Safari 16.1 (18614.2.1.1.1)

Picture is from Dogfood. :<

<img width="1266" alt="Screenshot 2022-09-14 at 12 42 58 PM" src="https://user-images.githubusercontent.com/11012743/190225449-74b42f73-6239-4d90-b3f9-8027053d0133.png">

[2022-09-14 17:43] lukeheath commented on #7762
@xpkoala I am able to reproduce the bug in dogfood in both Chrome and Safari.

Testing locally on `main` I cannot reproduce in either.

We recently upgraded the dogfood DB, which makes me wonder if it's a data issue. Looking into that now.

Can you repro in `main`?

[2022-09-14 17:49] xpkoala commented on #7762
I just reproduced in `main`. @lukeheath

[2022-09-14 17:54] eastbook opened #7763 "which table is storing all the hosts in mgn"
which table is storing all the hosts in mgn
we are trying to migrate them to a new fleet host and we would like to migrate all the hosts from current cluster to new one.

[2022-09-14 17:55] lukeheath commented on #7762
@RachelElysia Would you please try to reproduce on `main`? Currently, Reed can repro on dogfood and `main`. I can only repro on dogfood.

[2022-09-14 18:23] roperzh commented on #6681
This hasn't been implemented due to cross compilation issues for Fleet Desktop (we can't compile Fleet Desktop for macOS from Linux)

More info and an initial implementation in this PR: https://github.com/fleetdm/fleet/pull/7747

[2022-09-14 18:23] #6681 closed

[2022-09-14 18:25] noahtalerman commented on #7762
Heads up, it looks like dogfood is on commit `9eafecd `. Not the latest release (4.20.0).

[2022-09-14 18:29] noahtalerman commented on #6716
@mikermcneil heads up, I've moving your "How?" section below for safekeeping (removed from issue description). This is because I'd like the issue description to reflect the latest plan.

### How?

Rather than adding custom widgets on the logged-in homepage, or adding more surface area / sprawl to the product through additional custom reporting, there's another way to approach this that we've discu

[2022-09-14 18:43] noahtalerman opened #7765 "Combine query and schedule features"
### Goal

Combine the query and schedule features to provide a single interface for creating, scheduling, and tweaking queries at the global and team level.

This way, as a team level user, I can create, schedule, and tweak queries that run on my teams' hosts without having to ask my global admin or other members of my team for assistance.
__
Final PR – https://github.com/fleetdm/fleet/pull/13037

[2022-09-14 18:45] noahtalerman opened #7766 "Cache latest query results on per-query basis"
## Goal

| User story  |
|:---------------------------------------------------------------------------|
| As a Fleet user,
| I want to see the most recent set of query outcomes,
| So that I can have some information during periods when hosts are offline.

## Parent epic
- #6716

## Requirements
- Store the latest query results as a report on a per-query basis.
- Available to both free and premium

[2022-09-14 18:52] noahtalerman commented on #6530
@lukeheath I assigned you this issue and moved it to the designed column.

[2022-09-14 18:56] noahtalerman commented on #6684
@mike-j-thomas I'd like to deprioritize this issue for now. I removed your assignment and removed the issue from the digital experience board.

Heads up @mikermcneil.

[2022-09-14 19:06] #6430 closed

[2022-09-14 19:06] #7078 closed

[2022-09-14 19:08] mna commented on #7592
@noahtalerman Can you confirm that the "lazy" migration process mentioned in the above 2 comments is acceptable from your point of view? Basically, it would be as if the `gigs_disk_space_available` field was a new host info that we just added, and we would only see it as we receive that information from the hosts. As Tomas mentions, this could take up to 12h for some users, depending on their conf

[2022-09-14 19:59] defensivedepth commented on #6530
@noahtalerman Need anything else from my side of things?

[2022-09-14 20:50] noahtalerman commented on #7765
@lukeheath I assigned you this issue.

This is a large update. It introduces a difficult API problem: How will Fleet support the new UI and YAML while maintaining backwards compatibility with the current query and schedule API routes?

If it's helpful, I'm happy to hop on a call to discuss synchronously.

[2022-09-14 20:56] lukeheath commented on #7762
When testing locally on `main` I've confirmed the bug reproduces if `make generate` is used to generate the frontend assets. However, it does **not** reproduce if `make generate-dev` is used.

[2022-09-14 21:46] noahtalerman commented on #7766
@mike-j-thomas can you please help me with wireframes for the below user stories?

As a user, I want to be able to modify frequency and platforms when I save a query.

As a user, I want to understand the frequency and platform concepts.

As a user, I want to be able to tell Fleet to not run the query when I save the query.

As a user, I want to be able to modify frequency and platforms for an exis

[2022-09-15 01:07] lukeheath commented on #7762
I just went back to commit hash f61a17bd9b852e3626c59f5d942ebcd84eab0425 (Gabe's) on 8/1. Confirmed that `make generate` does not produce the bug at this commit, so it's something that's happened between then and now.

Next steps is to start stepping through the commits and doing the following:

1. `rm -rf node_modules`
2. `make deps`
3. `make generate`
4. `make`
5. `build/fleet serve ...`
6. Is b

[2022-09-15 03:58] mikermcneil opened #7778 "Try enrolling a real world server to dogfood"
## Goal

Get a real world server into the dogfood environment so that sales team can use this in demos.

## Context
mikermcneil
  [1 day ago](https://fleetdm.slack.com/archives/C01GQUZ91TN/p1663125560137769?thread_ts=1663125496.186079&cid=C01GQUZ91TN)
Here is a canonical example of how you might structure teams in Fleet for an organization without knowing much more about their setup:

- :cloud: CI

[2022-09-15 13:14] noahtalerman commented on #7589
@RachelElysia I think the loading spinner should now be centered across the platforms card, disk space card, and missing hosts card.

For Fleet Free, because there is no disk space card or missing hosts card, I would expect the loading spinner to be centered on the platforms card.

I attached a sketch below to depict this idea. Loading spinner is the white ring.

![IMG-9860](https://user-images.gi

[2022-09-15 13:30] noahtalerman commented on #5222
@mna how difficult would it be to translate `[]string` to `array of strings`? This way, we can guide the user to figuring out the correct syntax.

I just Google'd "YAML array of strings" and got a helpful first result: https://www.w3schools.io/file/yaml-arrays/

[2022-09-15 13:32] noahtalerman commented on #7592
@mna this sounds good to me 👍

[2022-09-15 13:38] noahtalerman commented on #6530
@defensivedepth curious to get your feedback when you get the chance!

The current plan is the include both Windows and macOS hosts in the following table:

![Screen Shot 2022-09-15 at 9 36 15 AM](https://user-images.githubusercontent.com/47070608/190418000-afd308f9-d702-498a-a873-c570f4f776e1.png)

![Screen Shot 2022-09-15 at 9 37 20 AM](https://user-images.githubusercontent.com/47070608/19041825

[2022-09-15 13:56] defensivedepth commented on #6530
@noahtalerman Looks really good to me!

[2022-09-15 15:41] noahtalerman opened #7780 "Add ability to send automations to multiple destinations"
### Goal

As a user, I want to tell Fleet to send failing policy automations to 1 webhook destination and 2 ticket destinations so that I can...
- store the data in a data lake (webhook)
- create 1 ticket for the individual responsible for resolving the issue
- create 1 ticket for the individual responsible for tracking compliance.

[2022-09-15 16:33] noahtalerman commented on #7671
@lukeheath I assigned you this issue and moved it to the designed column.

[2022-09-15 17:58] marcosd4h opened #7784 "No operating system information is shown for a Windows 10 LTSC 2019 host"
**Fleet version**:  main

**Operating system**:  Windows 10 LTSC 2019

**Web browser**:  None

<hr/>

### 🧑‍💻  Expected behavior
Operating system information should be displayed for a `Windows 10 LTSC 2019` host.

### 💥  Actual behavior
No operating system information is displayed for a `Windows 10 LTSC 2019` host. This happens even when osquery returns the expected OS codename details as part of

[2022-09-15 18:36] zhumo commented on #6808
Yes agreed!

On Thu, Sep 15, 2022 at 6:57 AM Luke Heath ***@***.***> wrote:

--

*Mo Zhu*

Product Manager

fleetdm.com <http://www.fleetdm.com> | @fleetctl
<https://twitter.com/fleetctl>

[2022-09-15 20:00] eashaw commented on #5999
Closing this issue, we were not able to reproduce this error.

@xpkoala This was a bug that @timmy-k encountered while viewing the site on an actual device. After this bug was reported, we set up client-side error tracking with Rollbar so we could diagnose these errors in the future.

[2022-09-15 20:00] #5999 closed

[2022-09-15 20:29] lucasmrod commented on #5713
@xpkoala Could you re-test this? We implemented the workaround https://github.com/fleetdm/fleet/issues/5732.

[2022-09-15 20:30] zhumo commented on #5713
@xpkoala We implemented a retry loop which eventually works. Could you test it again? I think we can accept that solution if the experience doesn't seem broken from an end user perspective (even if failures are occurring in the background).

[2022-09-15 22:02] FreddieOliveira opened #7788 "Constant redirection to login page"
**Fleet version**: 4.20.0

**Operating system**: Ubuntu 20.04/Windows 10/Windows 11/macOS

**Web browser**: Chrome/Firefox/Edge

---

### Description

After upgrading fleet binary from version 4.9.0 to 4.20.0 in the server, many links in the Fleet dashboard causes the logged user to unexpectedly log out and not be able to access the desired page.

### 🧑‍💻  Expected behavior
After logged in, the us

[2022-09-15 22:07] RachelElysia commented on #6079
Adding and editing a pack as well

[2022-09-15 22:19] eashaw opened #7790 "Add the following instructions to the meta tags section of Article formatting guidelines in the handbook"

[2022-09-15 22:20] eashaw commented on #7790
Closing this, I had accidentally hit the "convert to issue" button on this item in https://github.com/fleetdm/fleet/issues/6604

[2022-09-15 22:20] #7790 closed

[2022-09-15 22:39] FreddieOliveira commented on #7788
Just tested with older versions of fleet and before logging the user out, this 500 error page shows up:

![fleetdm_error500](https://user-images.githubusercontent.com/9597536/190520368-ee83dad5-f2d8-4942-9438-0c83d4916335.png)

I believe this is a database migration problem from versions too old to latest one

[2022-09-16 00:37] FreddieOliveira commented on #7788
Just tested rolling back the fleet binary and the database back to v4.9.0 and upgrading one version by one version instead of the big jump to v4.20.0. By doing this, I noticed that this problem was introduced in v4.14.0. Until v4.13.2 everything was working fine.

[2022-09-16 13:25] RachelElysia opened #7794 "Frontend Tech Debt: Refactor handling clearing a filter on Manage Host Page"
### Goal

TODO

- Refactor to reduce lines of code on the manage host page

### How?

- [x] Use a clear filter handler function for all filters
- [x] Use switch case for which filter pill is shown

[2022-09-16 13:34] RachelElysia opened #7795 "Green buttons do not have a hover or focus state"
### Goal

- All buttons (e.g. Fleet blue buttons like Save, Schedule, red like cancel/delete) have a hover or focus state (usually a darker color)
- Green buttons (e.g. Run on queries or Run on policies) do not have a hover or focus state

TODO

- Create a hover and focus color for green buttons

### How?

- [ ]

[2022-09-16 14:01] chiiph commented on #6285
Before we action this we need to define how fleet will maintain (or not) compatibility with different versions of osquery.

[2022-09-16 14:36] fx5 commented on #7135
How exactly is the API call meant for point 2 (Support searching hosts by display_name. This will map to computer_name if it exists, or hostname if it does not exist.)

Is that about endpoint "/hosts/"?

[2022-09-16 14:44] RachelElysia opened #7796 "Frontend Tech Debt: Move new/ online/ offline/ manage host filters to query params"
### Goal
Frontend use only query params to apply filters of hosts

TODO

- Move new/ online/ offline/ manage host filters to query params

<img width="751" alt="Screen Shot 2022-09-16 at 10 43 56 AM" src="https://user-images.githubusercontent.com/71795832/190666151-595ecdfc-543c-4584-afde-6e6f90ace170.png">

### How?

- [ ]

[2022-09-16 14:44] RachelElysia commented on #7796
@lukeheath I assigned you to prioritize

[2022-09-16 15:34] chiiph commented on #6717
I believe this was solved by the PR that @juan-fdz-hawa worked on. Right @xpkoala ?

[2022-09-16 15:55] roperzh commented on #6142
I'm thinking if a requirement for this to work properly is that we add a requirement for the PR branch to be updated with the base branch, otherwise we could get situations like this:

1. PR1 is green and approved during merge freeze
2. "Emergency" PR2 with migrations is added and merged into `main`
3. After the release, PR1 is merged with older migration timestamps

[2022-09-16 16:16] noahtalerman commented on #6610
Hey @lukeheath I told @ghernandez345 that I prefer to not expose the `applied_team_spec` activity entry in the UI. I also think it makes sense to remove this from the API for now.

This is because the `applied_team_spec` activity captures all the following possible activities:
- create team
- edit team
- create team enroll secret
- delete team enroll secret
- edit agent options

We'd like the UI t

[2022-09-16 17:09] lukeheath commented on #6610
@noahtalerman Is this a change from the previous specs, or were the initial specs incorrect? I'd like to understand how we arrived here since it's not effective for us to add features in one release and remove them in the next. This understanding will help us avoid rework in the future.

[2022-09-16 17:27] lukeheath commented on #7588
@mna After discussing with @RachelElysia, it looks like we can't use `status=missing` because the `status` query param is also used to filter by host online/offline/new status. We want to be able to filter by both (all new hosts missing for the last 10 days).

Would you please update the specs on this ticket to reflect this requirement? I think this likely means going back to something like `missi

[2022-09-16 18:07] zwass opened #7800 ""Advanced" tab on add host dialog may have incorrect components"
**Fleet version**: `Fleet 0.0.0-SNAPSHOT-ecba812`

<hr/>

### 🧑‍💻  Expected behavior

In the Add hosts > Advanced tab, I expect to see a `YOUR_TYPE` placeholder for the `--type` flag in the `fleetctl package` command.

### 💥  Actual behavior

I see `rpm` for the `--type` flag:

<img width="720" alt="Screen Shot 2022-09-16 at 11 05 01 AM" src="https://user-images.githubusercontent.com/575602/190704

[2022-09-16 18:13] noahtalerman opened #7801 "Extend the time for a specific Fleet sandbox instance"
This issue is currently not prioritized.

### Goal

As a Fleet team member, I want to be able to extend the time for a specific Fleet sandbox instance so that a prospective Fleet customer can spend more time poking Fleet.

### How?

To extend the time for an existing Fleet sandbox instance we need to know the instance ID and how long we'd like to extend the time.

Currently, the provisioner API wi

[2022-09-16 19:07] noahtalerman commented on #7801
This issue is a duplicate of the following issue: #7120

[2022-09-16 19:07] #7801 closed

[2022-09-16 19:17] noahtalerman commented on #7778
This request from @mikermcneil was prioritized during product office hours on 2022-09-15.

[2022-09-16 19:17] noahtalerman commented on #7778
@zhumo I assigned you this issue. Is this something the agent team has the capacity to look into?

[2022-09-16 20:35] noahtalerman commented on #7795
@RachelElysia this is a great catch. As a heads up, we're removing the green color from the "Run" button soon.

In [this ticker on the roadmap board](https://github.com/fleetdm/fleet/issues/7765), the plan is to update the styles to use secondary button styles (purple text) and update the copy to "Live query":

<img width="146" alt="Screen Shot 2022-09-16 at 4 32 06 PM" src="https://user-images.gi

[2022-09-16 20:43] noahtalerman opened #7804 "Uninstalled software appears on Software page in Fleet"
**Fleet version**: 4.19.1

<hr/>

### 🧑‍💻  Expected behavior

When viewing the Software page or the `GET /software` API response I expect to see the software that is installed on my hosts.

### 💥  Actual behavior

It appears that, in some cases, when software is uninstalled with `apt remove` I still see this software in Fleet.

### More info

It appears that when software is removed with `apt remo

[2022-09-16 20:52] noahtalerman opened #7805 "Add ability to mark a policy as critical"
### Goal

As a Fleet user, I want to be able to mark a policy as critical (high impact) so that I can route the failing policy webhook for critical policies to my VPN. This way, if a workstation is failing a critical policy, I can block its access to my VPN.

### Requirements

- This feature applies to **premium** instances of Fleet only.
- A user can mark a policy as **Critical**
- `critical` pro

[2022-09-16 20:52] noahtalerman commented on #7805
@ksatter this ability was requested by a Fleet customer.

[2022-09-16 20:55] chiiph commented on #7804
If osquery still reports it, we can't do much about it on the fleet side. This falls more on the agent side of things, so sending to @zwass

[2022-09-16 20:58] noahtalerman opened #7808 "Fire policy automations if they haven't been fired for some hosts"
Today, [policy automations](https://fleetdm.com/docs/using-fleet/automations#policy-automations) (webhook or ticket) are triggered if a policy is newly failing on at least one host.

Today, if a user turns on automations for a policy, and several hosts are already failing, these hosts will not be included in a webhook requests (or ticket).

### Problem

Several Fleet users have the following workf

[2022-09-16 20:58] noahtalerman commented on #7808
@ksatter this ability was requested by a Fleet customer. This issue was prioritized during product office hours on 09-16-2022.

[2022-09-16 21:01] noahtalerman opened #7809 "Warn users that `GROUP BY` may not behave as expected"
### Goal

As a Fleet user, I want to know that using `GROUP BY` in my query may not behave as expected. I want to know what will happen when I use `GROUP BY`.

[2022-09-16 21:04] noahtalerman commented on #7809
@ksatter I assigned you this issue and added it to the customer engineering board. I prefer starting with an FAQ answer in the docs so that we can add value quickly.

Are you able to take on adding this FAQ entry? If not, please assign me this issue and @ mention me so I get a notification :)

[2022-09-16 21:12] noahtalerman opened #7810 "Prevent Fleet server from starting if vulnerability processing won't work"
To use vulnerability processing the [`vulnerabilities.databases_path` configuration option](https://fleetdm.com/docs/deploying/configuration#databases-path) is required. The default value is `/tmp/vuln`. This value might not work on all cloud providers: https://github.com/fleetdm/fleet/pull/7229/files#diff-31465aeb52b7f491cba2b26186530eafa58cb220969aaba9b99a11f8b81e9852R50

### Goal

Prevent the F

[2022-09-16 21:13] noahtalerman commented on #7810
@zhumo I assigned you this issue. This issue was prioritized during product office hours on 2022-09-16.

[2022-09-16 23:16] eashaw commented on #6636
@timmy-k I have a few questions about this issue:
- Can you give me the URL of the page you want to change?
- What UTM parameter would we want to use for this value?

- Could you go into more detail about what you mean by this?

[2022-09-16 23:19] zhumo opened #7812 "Create example query which finds files of a certain type being transmitted over the wire"
As a security engineer,
I want to know whether files of a certain type are being transmitted,
so that I can respond to them during special situations

[2022-09-16 23:34] eashaw commented on #6604
@mike-j-thomas I don't think this is a process we could reliably automate. The layout of our Markdown articles doesn't follow a consistent format. Not all articles have opening paragraphs we could grab a snippet from, some have images and multiple headings before the text we would want to grab.

How would you feel about adding support for this meta tag, but updating our current default meta descri

[2022-09-17 02:54] zhumo opened #7813 "Document how to install and upgrade `fleetctl`"
This is not documented anywhere.

To grab the latest:
sudo npm install -g fleetctl

Then:
fleetctl login

[2022-09-17 04:03] zhumo opened #7815 "Document best practice how to write a policy"
There is no policy article in the docs which tell you how to write a policy.
* The fact that when there is no result, that is a fail
* Use the SELECT 1 format
* What are remediation steps
* How this flows through to Fleet Desktop

[2022-09-17 04:30] mikermcneil opened #7816 "es_process_file_events, password_policy, windows_update_history tables are missing from docs sidebar in query console"
**Fleet version**: dogfood as of 2022-09-16 @ 23:29 CT, Fleet 0.0.0-SNAPSHOT-ecba812

<hr/>

Updated from 1 missing table to all 3 missing tables re: [conversation](https://github.com/fleetdm/fleet/pull/7831#issuecomment-1251337941) 9/19

### 🧑‍💻  Expected behavior
The es_process_file_events, password_policy, windows_update_history table in the docs, and properly syntax highlighted and compatibili

[2022-09-17 04:35] mikermcneil opened #7817 "Query console compatibility tooltip gets jank at ≤1058px width"
**Fleet version**: dogfood as of 2022-09-16 @ 23:29 CT, Fleet 0.0.0-SNAPSHOT-ecba812

<hr/>

### 🧑‍💻  Expected behavior
Intentional, clean UI at every screen width ~~≥320px~~ ≥768px.

~~(Or whatever the latest minimum width we've worked down to is lately, I know it's a work in progress.  I remember us talking about shooting for getting ≥768px looking great next.)~~  Confirmed, ≥768px is the expect

[2022-09-17 04:55] mikermcneil commented on #7812
Tried Mo's query:

[code]

This last line causes an error, but changing it like so fixes the error:

[code]

That runs successfully.

Caveat:

## Bugs discovered

Along the way, this led to discovering:
- https://github.com/fleetdm/fleet/issues/7816
- https://github.com/fleetdm/fleet/issues/7817

## Questions that aren't covered by table documentation
As a user of this query, I ran into these ques

[2022-09-17 05:12] mikermcneil opened #7818 "Query console: Unexpected horizontal scrollbar"
**Fleet version**: dogfood as of ≈ 2022-09-16 @ 23:29 CT, Fleet 0.0.0-SNAPSHOT-ecba812

**Operating system**: _(e.g. macOS 11.2.3)_ macOS 12.6

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome 105.0.5195.125

<hr/>

### 🧑‍💻  Expected behavior
Intentional, clean UI at every screen width ≥768px.

No horizontal scrollbar.

### 💥  Actual behavior
https://www.loom.com/share/50fb4751af3f4a2492a12e440ee

[2022-09-17 05:19] mikermcneil opened #7819 "Query console: Save query modal: Consistent padding in fields"
**Fleet version**: dogfood as of ≈ 2022-09-16 @ 23:29 CT, Fleet 0.0.0-SNAPSHOT-ecba812

<hr/>

### 🧑‍💻  Expected behavior
Intentional, clean UI at every screen width ≥768px.

Padding inside field should be consistent on each side, whether the only contents of the field are placeholder text, or if characters have been entered.

### 💥  Actual behavior
The top padding inside the field is too small re

[2022-09-19 13:30] GuillaumeRoss commented on #7727
I did a "push apps" action on your laptop @CharlotteChance  - if 20m or so after you get online it's still not showing up in Dogfood let me know, we might have to do something a bit more manual.

Thanks!

[2022-09-19 13:35] chiiph opened #7823 "`GET /queries/run` and `POST /queries/run` returns 500 if any empty payload is provided"
**Fleet version**: 4.19.0

**Operating system**: N/A

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior

If I fail to include a payload in my request to `GET /queries/run` or `POST /queries/run`, I expect to receive a 400 (Bad Request) server response.

### 💥  Actual behavior

I receive a 500 response, which causes the frontend to redirect to a 500 page and error out the app.

### More info

[2022-09-19 14:07] noahtalerman commented on #6610
@lukeheath I think the initial specs were incorrect. These specs included an `applied_team_spec` activity type. This activity type does not match the requirements:

Instead, the `applied_team_spec` activity type captures when someone applies the `team` YAML file.

Also, the `applied_team_spec` activity type didn't have accompanying copy in the Figma wireframes: https://www.figma.com/file/hdALBDsrt

[2022-09-19 14:08] xpkoala commented on #6717
That is correct, @chiiph

[2022-09-19 14:14] mna commented on #6610
@noahtalerman @lukeheath I raised the missing `applied_team_spec` in Slack after the initial spec, this was discussed here: https://fleetdm.slack.com/archives/C03C41L5YEL/p1661196513239549

Correct.

:+1: SGTM!

[2022-09-19 14:24] noahtalerman commented on #5222
@mna breaking out "fully validate team's unknown keys" into a separate ticket makes sense. When you get the chance, can you please file an issue for this and @ mention me?

What are these legacy config settings?

It makes sense that this introduces complexity however I disagree that the translation provides little benefit. While many users are technical, Fleet can provide a great experience by pro

[2022-09-19 14:24] mna commented on #7588
@lukeheath I may be missing something, but that looks like an impossible combination? New hosts are those created in the last day, so they can't at the same time have been missing for at least 10 days?

[2022-09-19 14:41] noahtalerman commented on #7765
Notes from product design review 2022-09-16

Noah: Let's cut "Shard," “Logging” (snapshot, removed), and “osquery version” settings from the UI and fleetctl. This lets us later decide how to address these later if at all.
- We’ve heard that users/customers are confused about snapshot v. differential from many users. Thought snapshot was the defailt
- mikermcneil: Keeping settings in the API is nec

[2022-09-19 14:49] noahtalerman commented on #7765
Decision: Schedule and query API routes will still work.

[2022-09-19 14:51] mna commented on #5222
@noahtalerman

Currently it's just `host_settings` that is now `features`: https://fleetdm.com/docs/using-fleet/configuration-files#features

What would the translated message look like for invalid key and missing required key? I believe we only discussed the invalid value type message when mentioning translating to something more user-friendly up to now.

They were already documented as required

[2022-09-19 15:09] RachelElysia commented on #7818
@mikermcneil It's the "compatible with" component in the background, sometimes it's rendering one line and sometimes 2 and its shivering

[2022-09-19 15:10] xpkoala commented on #7700
I understand your reasoning. And I see the following two paths:

We include migration tests
 - mariaDB breaks on a test
 - we fix the issue (maybe, it's a decision for the platform team)
 - we announce mariaDB will break with the next version and we do not recommend upgrading.

We do not include migration tests
 - mariaDB breaks after a user upgrades to a new version.
 - we say, "sorry, but as you

[2022-09-19 15:14] RachelElysia commented on #7818
@mikermcneil The tooltips go off the page, I'm going to max-width the tooltips in the side panel

[2022-09-19 15:19] RachelElysia commented on #7818
Same bug as: https://github.com/fleetdm/fleet/pull/6811

@fleetdm/frontend When working with tooltips, ensure they do not scroll off the bottom or right side of page

[2022-09-19 15:25] RachelElysia commented on #7819
@lukeheath I _think_ I fixed the issue in PR #7828 . If not, can you clarify exactly what the issue is?

[2022-09-19 15:30] mna opened #7830 "Fully validate the team's unknown keys"
### Goal

Extracted from #5222 (see https://github.com/fleetdm/fleet/issues/5222#issuecomment-1251096271).

When applying teams' spec, currently only the AgentOptions portion of the payload is validated for unknown keys (it returns an error if unknown keys are provided in the agent options, but unknown keys in the rest of the payload are silently ignored).

The payload should be fully validated so

[2022-09-19 15:31] mna commented on #7830
@noahtalerman as discussed in https://github.com/fleetdm/fleet/issues/5222#issuecomment-1251096271

[2022-09-19 15:44] noahtalerman commented on #5627
This improvement is now included in the following issue: #6799 (noahtalerman)

[2022-09-19 15:44] #5627 closed

[2022-09-19 15:46] mna opened #7832 "Document advanced agent options formats and validations."
### Goal

Extracted from #5222 (see https://github.com/fleetdm/fleet/issues/5222#issuecomment-1251096271).

The various Agent Options settings are now validated based on their data type, but reading the osquery documentation about those settings indicates that there are a number of settings that have restrictions that go beyond their data type. That is, a value may be correct for the required data

[2022-09-19 15:46] mna commented on #7832
@noahtalerman as discussed in https://github.com/fleetdm/fleet/issues/5222#issuecomment-1251096271

[2022-09-19 16:32] #7237 closed

[2022-09-19 16:32] zhumo commented on #7237
Closing since we are de-prioritizing this. It will appear in Fleet's schema.

[2022-09-19 16:43] zhumo commented on #4883
@noahtalerman We found that there is very low vuln turned on numbers. Can you double check what are we defining as "vuln enabled"?

[2022-09-19 16:49] #5713 closed

[2022-09-19 16:53] zhumo opened #7834 "create guide documenting flow for this as recommended approach."

[2022-09-19 17:43] mna opened #7835 "Translate the AppConfig and Team validation messages to be more user-friendly"
### Goal

Extracted from #5222 (see https://github.com/fleetdm/fleet/issues/5222#issuecomment-1251096271).

Currently, we return the default Go error messages when encountering an unknown key or a key with a value of an invalid type during JSON unmarshaling. It may look something like:

for the unknown key, and:

for invalid value type. Another message improvement could be done when we report usag

[2022-09-19 17:43] mna commented on #7835
@noahtalerman as discussed in https://github.com/fleetdm/fleet/issues/5222#issuecomment-1251096271 .

[2022-09-19 17:54] mna commented on #6285
As discussed on Slack, I removed the `logger_plugin` setting from the default Agent Options used for new installs (merged as part of this PR: https://github.com/fleetdm/fleet/pull/7731).

[2022-09-19 18:06] chiiph commented on #7823
The one thing we need to do, though, is not 500 with decoder errors. But we might want to capture that in a separate issue?

[2022-09-19 18:22] noahtalerman commented on #6610
Ah, now I remember. Thanks!

[2022-09-19 18:25] noahtalerman commented on #4883
@chiiph for usage stats, do you know what we are using to determine whether or not vuln processing is turned on? Is it the presence of a `vulnerabilities.database_path`? Something else?

[2022-09-19 18:49] chiiph commented on #4883
That and software inventory.

[2022-09-19 18:54] noahtalerman commented on #7780
The following diagram depicts an example flow for 2 policies: "Battery" and "macOS Ventura"

![Image](https://user-images.githubusercontent.com/47070608/191093778-de847a62-2736-4c20-a2d5-0f64bdc9ae89.jpg)

[2022-09-19 19:05] CharlotteChance commented on #7727
Hey, @GuillaumeRoss we may need to take a second look here. Thanks for your help!

[2022-09-19 19:06] GuillaumeRoss commented on #7727
I see that the right app was installed about 30m ago. Is this your device? https://dogfood.fleetdm.com/hosts/141

[2022-09-19 19:11] sharvilshah opened #7836 "Handle orbit re-enroll on authentication failure"
From: #7246 (part of #6851 epic)

While we already have retry logic on enroll failure, we should cover the case when there is an authentication error, and orbit should re-enroll with Fleet

[2022-09-19 19:27] RachelElysia opened #7837 "Fleet frontend osquery_tables are always up-to-date with osquery when released"
### Goal

TODO

Fleet frontend osquery_tables are always up-to-date when released
App will always be released with access to latest/corresponding data tables

Issue filed from conversation from https://github.com/fleetdm/fleet/pull/7831#issuecomment-1251223639

### How?
- Osquery schema versions live here: https://github.com/osquery/osquery-site/tree/source/src/data/osquery_schema_versions)
- http

[2022-09-19 19:54] RachelElysia commented on #6257
I don't think that enroll secrets belong to specific teams is intuitive to the user. However,  the new design removes all breadcrumbs that these enroll secrets belong to a specific team or no team.Is this intended? @noahtalerman

[2022-09-19 20:00] noahtalerman commented on #4883
@zhumo we are defining "vuln enabled" as instances that have the [`vulnerabilities.database_path` setting](https://fleetdm.com/docs/deploying/configuration#databases-path) set to a non-empty string: vulnerabilities.database_path

If the value is set to a non empty string, we expect the user to have vulnerable software enabled.

[2022-09-19 20:03] zhumo commented on #4883
@noahtalerman I think when we were reviewing the stats, you were concerned about whether the vuln enabled is being counted properly. With that definition, do you think the figure is accurate?

[2022-09-19 20:17] mna commented on #7592
A bit surprised that it's not already there, but `osquery-perf` does not return this disk space information, I'll have to add it.

[2022-09-19 20:29] mna commented on #7592
Tested with data (1000 hosts) that it does use the new index on `host_disks.gigs_disk_space_available` when searching hosts with less than 35 GB:

[code]

[2022-09-19 20:46] RachelElysia commented on #7837
Closing this out since this is a duplicated issue

[2022-09-19 20:46] #7837 closed

[2022-09-19 20:52] xpkoala commented on #7130
@roperzh Is there anything I can poke on my end for this improvement? It looks like it's related to sandbox, I haven't encountered any issues when downloading Mac packages on Sandbox instances in the past.

If I try this locally I see the following, but I'm not sure if this is expected or not.

[code]

[2022-09-19 21:04] roperzh commented on #7130
@xpkoala argh, I think that without credentials to use the notarization API there's nothing you can do :(, as you said this is related to Sandbox, so maybe a good way to test it would be once it's deployed.

[2022-09-19 21:06] noahtalerman commented on #4883
@zhumo yes

[2022-09-19 21:10] #4883 closed

[2022-09-19 21:12] xpkoala commented on #7752
@RachelElysia There is a weird little UX issue still occurring that I tried to show in the video below. If you set all the fields correctly you are required to return to the destination URL box _and then_ click out of it in order for the form to recognize the required parameters have been filled out.

https://www.loom.com/share/8ff884c101484ab383a3bfe886e4ad56

[2022-09-19 21:13] xpkoala commented on #7130
Thanks! I'll ask someone to upgrade my sandbox instance to main so I can poke this.

[2022-09-19 21:23] noahtalerman commented on #7377
@zhumo this is the issue I brought up during 🎯 Key review. Do we no longer need these frontend changes?

[2022-09-19 21:38] zwass commented on #7804
I read the "more info" section and tried it myself. Looks like the `status` column reports `deinstall ok config-files` after the package has been uninstalled.

I think the platform team should do a slight bit more testing and then update the software inventory query to account for this case.

[2022-09-19 21:39] noahtalerman commented on #4970
Sweet!

@chiiph when you get the chance, can you please add the plan to the handbook?

[2022-09-19 21:42] zhumo commented on #7377
@sharvilshah is it the case that the requirements above will "just work" based on work you've done on the agent side? Or do we still need some interface work to meet the requirements above?

[2022-09-19 21:51] lukeheath commented on #7135
@fx5 Correct, this involves the `GET /hosts` endpoint. It accepts a query parameter called `query` as [documented here](https://fleetdm.com/docs/using-fleet/rest-api#example30). The query param searches a predefined set of properties. We'd like to ensure that `display_name` is one of the properties that is searched with the provided `query` value.

[2022-09-19 21:59] lukeheath commented on #7588
@mna

Good point. that combination isn't possible. @noahtalerman What do you think?

The issue we're having is that a host's status is listed in this dropdown:

![image](https://user-images.githubusercontent.com/2495927/191126610-4fb36527-eea1-4827-a6a3-6d5379a6a312.png)

But the new "missing" status is currently designed as a filter. All filters can be combined with status, so we wanted to extend

[2022-09-19 22:18] michalnicp opened #7843 "Don't clear fields on add integration modal"
**Fleet version**: _f98e9885ef1f2b6d607295e247c40de14599f64a_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(Safari)_

<hr/>

### 🧑‍💻  Expected behavior

When invalid credentials/Jira URL are entered on the "Add Integration" modal and clicking "Save", input fields should not be cleared. This is annoying because you have to enter all the fields again.

### 💥  Actual behavior

<img

[2022-09-19 22:27] chiiph commented on #4970
Yup, it's already for review https://github.com/fleetdm/fleet/pull/7704

[2022-09-19 22:35] mike-j-thomas opened #7844 "Add Segment logo to site and link to Prima's article"
Prima wrote a good article about hosting Fleet on AWS EKS. Let's show their support by adding Segment's logo to the homepage and linking to Prima's article in a new tab.

Figma: https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?node-id=4808%3A19360

Link: https://segment.com/blog/hosting-fleetdm-on-aws-eks/

[2022-09-19 23:00] #7092 closed

[2022-09-20 03:02] mikermcneil opened #7845 "Replace hack for tracking unfrozen PRs"
### Goal

See https://github.com/fleetdm/fleet/blob/c2cba7af7c6c457c2ba6a25382ce102387ea772c/website/api/controllers/webhooks/receive-from-github.js#L29-L37

<img width="802" alt="image" src="https://user-images.githubusercontent.com/618009/191157875-b8e36f32-450c-4336-87b5-b528e33a801f.png">

### How?

- [ ]

[2022-09-20 05:51] mike-j-thomas commented on #7462
@chris-mcgillicuddy, I think we're good to close this.

[2022-09-20 05:57] mike-j-thomas commented on #7462
https://github.com/fleetdm/fleet/pull/7708 resolves this issue.

[2022-09-20 05:57] #7462 closed

[2022-09-20 06:27] mike-j-thomas commented on #7336
Summary of tests to date.

- 9/1 we tested messaging that emphasized how to setup Sandbox https://github.com/fleetdm/fleet/pull/7512
- 9/16 Since we also link to Sandbox via the Fleet Free CTA on [/pricing](https://fleetdm.com/pricing), we reverted back to the original messaging because we realized that the link to deploying Fleet is more important for users who wish to skip the Sandbox. https://g

[2022-09-20 07:11] mike-j-thomas commented on #7336
After workshopping this with @chris-mcgillicuddy, we see an opportunity to optimize the CTA and Sandbox messaging further to:
    1. Remove potential confusion in the Fleet Free CTA on pricing where users could infer that Fleet Free and Sandbox are one and the same.
    2. Emphasize that testing the sandbox environment is quick and easy.

TODO: @chris-mcgillicuddy, can you review what I added to F

[2022-09-20 07:21] mike-j-thomas commented on #7725
@chris-mcgillicuddy, Once you've added this to the docs (my guess would be under https://fleetdm.com/docs/contributing/releasing-fleet 🤷‍♂️), it might also be worth adding an FAQ question in the [deployment FAQ](https://fleetdm.com/docs/deploying/faq#deployment-faq) that asks about version support and links to the section in the docs.

[2022-09-20 11:00] sharvilshah commented on #7377
@zhumo yep, it just works, there are no interface changes required...

[2022-09-20 13:46] noahtalerman commented on #6257
@RachelElysia great point. I think we can clarify this.

I updated the copy and dev note in [the Figma page](https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=8199%3A281255)to address this:
![Screen Shot 2022-09-20 at 9 46 13 AM](https://user-images.githubusercontent.com/47070608/191274651-a887ce6d-c103-40fa-90a0-c3564b206eb6.png)

[2022-09-20 14:00] GuillaumeRoss opened #7848 "Tables `secureboot` and `intel_me_info` show as Mac compatible in Fleet but are not according to osquery"
**Fleet version**:  4.20

<hr/>

### 🧑‍💻  Expected behavior
I was creating queries for `secureboot` and `intel_me_info` and getting errors from Macs. I would expect Fleet to tell me a query/table won't work on Mac before I run it.

### 💥  Actual behavior
Fleet shows those tables as Mac compatible. I checked the osquery schema, and osquery says they are not Mac compatible.
<img width="326" alt="ima

[2022-09-20 14:11] noahtalerman commented on #7588
@lukeheath this makes sense to me. I updated the Figma page to include "Missing hosts" in the status dropdown:

![Screen Shot 2022-09-20 at 10 09 35 AM](https://user-images.githubusercontent.com/47070608/191280271-aba269f0-0e44-4bfd-baa9-c5ddcafd15c3.png)

This introduces some inconsistency between the experience of selecting the "Low disk space" (displays a filter pill on Hosts page) and "Missing

[2022-09-20 14:18] mna commented on #7592
@noahtalerman @lukeheath Two things I'd like to clarify:

1. The `low_disk_space=true` criteria is a boolean, but do we want to return only hosts that are **not** low on disk space when/if it is set to `false`? Or is it just a meaningful criteria when it is set to `true`?
2. The requirements clearly state that this is for Fleet Premium users, so for free uses, this criteria would be ignored (as if

[2022-09-20 14:38] noahtalerman commented on #7209
@lukeheath I think we want to apply this same behavior for all query parameters in which the entity (software id, policy id, etc.) no longer exists. What do you think? Is this normal behavior for a web application?

[2022-09-20 15:16] lukeheath commented on #7589
@RachelElysia Based on feedback from @mna on the backend card, @noahtalerman has redesigned the Figma for this task so that "Missing Hosts" is now a status in the status dropdown and not applied as a filter. This means we can keep using the `status=missing` query param. Would you please review the Figma and update the specs on this ticket accordingly? Thank you!

[2022-09-20 15:17] lukeheath commented on #7588
@noahtalerman Sounds good. FWIW it doesn't feel inconsistent to me. In both cases, I want to see a list of hosts that reflect the number I clicked on. In both cases, that occurs. It's not particularly important to me as a user if it's applied as a filter pill or a status dropdown. Just my two cents.

[2022-09-20 15:21] lukeheath commented on #7592
@mna

1. I believe this only matters if set to `true`. As of now, there is not a way in the UI to set the filter to `false`.
2. Correct, for free users it would be ignored.

One item worth considering is that in the future it's likely there will be additional ranges, for example "show all hosts with less than 64 GB". Is it better for us to have separate boolean query params for this, or should we

[2022-09-20 15:23] noahtalerman commented on #7766
@mike-j-thomas I assigned myself and removed the issue from the digital experience board.

[2022-09-20 15:25] lukeheath commented on #7209
@noahtalerman I'm not sure a 404 page is the way to go here. That would make sense if the user was trying to load a policy details screen for a policy that no longer exists, because that page no longer exists (404). However, in this case we're attempting to pass the policy id as a query param on a page that does exist, hence not a 404. Instead, if an entity is passed as a query param that no longe

[2022-09-20 15:27] mna commented on #7592
@lukeheath This is an interesting point - I think a number would better convey that it only works for filtering hosts with low disk space (otherwise it could be expected for API users that `low_disk_space=false` returns those with sufficient disk space only, even though this wouldn't be used in the frontend).

Of course we'd have to validate that number so we don't accept extreme values that could

[2022-09-20 15:52] xpkoala commented on #7184
The vast majority of queries appear to work on MacOS 13. Outlined below are a few that need a small amount of investigation. For all queries below I will be talking about the results from the MacOS 13 instance.

docker_containers : The config_entrypoint value appears empty and the finished_at value does not make much sense.

<img width="1227" alt="Screenshot 2022-09-20 at 10 39 23 AM" src="https:/

[2022-09-20 15:55] RachelElysia commented on #7589
SGTM, I'll leave a dev note for other developers who might question why the spinners are different for free and premium since it's not intuitive unless actually looking at the ui

[2022-09-20 15:56] RachelElysia commented on #7589
Love this idea, will update now.

[2022-09-20 16:34] zhumo commented on #7184
This is great. and to clarify, the red is the macOS 13 and the green is the macOS 12 results?

[2022-09-20 16:35] michalnicp opened #7852 "Investigate Orbit package warnings using Suspicious Package"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

There should not be any warnings shown by [Suspicious Package](https://mothersruin.com/software/SuspiciousPackage/) except for the package not being signed, because that step is

[2022-09-20 17:05] mna commented on #7593
@RachelElysia heads-up, after some discussion on the backend ticket, we'll go with `low_disk_count=<number of gigs>` as parameter, to support some flexibility for future requirements (https://github.com/fleetdm/fleet/issues/7592#issuecomment-1252545275). So for now, the frontend query would use `low_disk_count=32` when filtering for hosts with low disk space.

[2022-09-20 17:42] zwass commented on #6892
@juan-fdz-hawa will the new endpoint in https://github.com/fleetdm/fleet/pull/7530/files count "undetermined" policies (those where the query generated an error) as failing for the purposes of rendering in Fleet Desktop?

[2022-09-20 18:03] juan-fdz-hawa commented on #6892
It will not.

[2022-09-20 18:04] zwass commented on #6892
Great! Thank you! Moving this to "awaiting QA".

@xpkoala this is not going to be testable until we push the new version of Orbit/Desktop to `edge`.

[2022-09-20 18:10] mna opened #7855 "Remove deprecated `hosts` table columns (`gigs_disk_space_available` and `percent_disk_space_available`)"
### Goal

With the work done on #7592 , the host's disk space information has been moved from the `hosts` table to the `host_disks` table, and a lazy migration approach was used to make migrating fast (i.e. the information from the `hosts` table was not copied to the new table, instead we waited for the hosts to report their disk space data again, and inserted it in the new table at that moment -

[2022-09-20 18:12] mna commented on #7855
@lukeheath as a follow-up to #7592 , we should plan this in a not-too-distance future release, to prevent keeping obsolete columns around.

[2022-09-20 18:15] zwass commented on #4188
@sharvilshah will the result be correct for scheduled queries? If so, maybe we should add a note to the column documentation like "(only works in scheduled queries)". If not, maybe we should remove the column from osquery?

[2022-09-20 18:15] mna commented on #7591
@lukeheath this ticket, adding `low_disk_space_count` to the `host_summary` payload, doesn't really play well with our flexible `low_disk_space=N` query parameter as we don't know what the threshold should be to count as "low disk space". Should this endpoint also accept the `low_disk_space=N` query parameter to indicate what is considered low by the caller? And maybe the `low_disk_space_count` fi

[2022-09-20 18:28] sharvilshah commented on #4188
@zwass No, it won't work on scheduled queries either -- has to be on the main run loop. I agree and I can advocate for it's removal..

Previous discussion on osquery regarding this `NSWorkspace` API https://github.com/osquery/osquery/issues/1943#issuecomment-198477910

[2022-09-20 18:31] smaddock opened #7856 "Missing XML tag in macOS Orbit packaging template"
**Fleet version**: 4.20.1

**Operating system**:  macOS 12.6

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior

When importing the macOS Orbit installer package to the Munki package manager, the PackageInfo file embedded in the installer package should be able to be parsed as a standard macOS package.

### 💥  Actual behavior

[code]
The effect of this warning is Munki does not track the `co

[2022-09-20 18:38] zwass commented on #6553
@roperzh can you please retest when you have a chance? Thank you!

[2022-09-20 18:41] zhumo commented on #6945
Hey @marcosd4h would you mind checking out this issue? Basically, we found that `.all appcompat_shims` return nothing. Wondering if you could set up a way that would trigger it to show something and then not, to demonstrate the table still works.

[2022-09-20 18:44] #7236 closed

[2022-09-20 18:59] zhumo commented on #7184
@xpkoala can you retest these failing tables after upgrading your osquery to 5.4.0?

cc: @zwass

[2022-09-20 19:00] xpkoala commented on #7184
@zhumo Yeah, let me work on that now.

[2022-09-20 19:20] xpkoala commented on #7184
@zhumo Thank you for catching my outdated version. I have updated the comment above. PCIE, Python packages, and XProtect are returning expected data. I'll include the osquery 5.4 file to the google doc folder. I'll continue exploring the lingering items in the above comment.

[2022-09-20 19:43] roperzh commented on #6553
so sorry for the delay folks, so: I ran the cleanup script, generated a new installer, and double checked I have the right version:

[code]

Unfortunately, I can't reproduce anymore. Wild guess: did any of the policy queries we use in dogfood change? I will keep the new version running for a few hours and try again.

[2022-09-20 19:49] zwass commented on #7184
I tested `managed_policies` on a macOS 13 machine that is enrolled with MDM and it does seem to return the expected results.

[2022-09-20 19:56] zwass commented on #7184
I tested `usb_devices` with a Yubikey attached and it does seem to show up as expected. It seems that in macOS 13, the "built-in" devices (touchbar, camera, etc.) no longer show up.

[2022-09-20 19:59] lukeheath commented on #6530
@noahtalerman After some thought, a better API design approach will be separate smaller endpoints instead of moving towards large `/host_summary` and `/host/{id}` endpoints. This is because we can provide a better user experience by loading data as soon as it is available.

Some data operations take longer to return than others. If we go the single big response route, we can't load any data on the

[2022-09-20 20:02] zhumo commented on #7184
OK great. So it just sounds like the two remaining discrepancies are the docker ones.

[2022-09-20 20:08] rfairburn commented on #7130
Building packages for sandbox is done during Preprovision.  This could be coordinated and tested in sandbox-dev, but in sandbox-prod would immediately affect any new unclaimed sandboxes.  Let's try this in dev to validate.

CC: @chiiph, @zwinnerman-fleetdm

[2022-09-20 20:09] zwinnerman-fleetdm commented on #7130
So you currently can't log into sandbox-dev instances because it redirects to prod's UI.

[2022-09-20 20:13] lukeheath opened #7860 "Detect MDMs on windows via osquery and add new `GET /hosts/summary/mdm` endpoint"
UPDATE:

Noah: Excluding servers from the Windows MDM data is a requirement for releasing the feature.

Frank: We can handle the "server exclusion" as another feature. Or as a bug. I marked [the pr](https://github.com/fleetdm/fleet/pull/8479) as ready for review and we can merge it once it is successfully reviewed. This will unblock the frontend and we can work on the server thing in a new ticket.

[2022-09-20 20:19] lukeheath opened #7861 "Extend the dashboard MDM card to "Windows" and "All" hosts"
## Problem

As an engineer managing thousands of hosts and I'm overwhelmed with tracking these goals:

- Know which Windows hosts are enrolled to mobile device management (MDM).
- Know which Windows hosts are enrolled to which MDM solution.

This makes is hard to understand how my organization is doing in our effort to enroll all Windows hosts to MDM.

This also makes is hard to understand how my

[2022-09-20 20:23] lukeheath commented on #7860
@fx5 I am assigning this ticket to you to complete the specification process and bring to the estimation column. Our goal is to bring this ticket into the next release cycle.

We will discuss this ticket on the estimation call tomorrow. After that, there will be another week to complete the specs before we estimate again next Wednesday.

[2022-09-20 20:23] lukeheath commented on #7861
@ghernandez345 I am assigning this ticket to you to complete the specification process and bring to the estimation column. Our goal is to bring this ticket into the next release cycle.

We will discuss this ticket on the estimation call tomorrow. After that, there will be another week to complete the specs before we estimate again next Wednesday.

[2022-09-20 20:23] noahtalerman commented on #7676
@mike-j-thomas I assigned myself this issue and removed it from the digital experience board.

[2022-09-20 20:30] lukeheath commented on #7835
@mna Thanks for putting this together and tagging me. Assigning to you to bring to an estimation session. Feel free to edit or modify the specs as needed.

[2022-09-20 21:04] #4643 closed

[2022-09-20 21:14] lukeheath commented on #7855
@mna Great point, thanks for creating this card. I've brought it into the "Specified" column so we can estimate in and get it prioritized.

[2022-09-20 21:19] lukeheath commented on #7591
@mna Those both sound like good adjustments. Would you please update the specs to reflect the change and let @RachelElysia know when the specs are updated?

[2022-09-20 21:51] lukeheath commented on #7671
@ghernandez345 passing this to you for specification. Please add any additional specs you'll need for implementation, and move to the "Specified" column when you're done.

I believe the API already provides everything you will need for this ticket, but if not please let me know.

[2022-09-20 22:32] mike-j-thomas commented on #6604
@eashaw, good thinking, but let's leave the current default meta description as is.

[2022-09-20 22:41] #7856 closed

[2022-09-21 00:13] zhumo opened #7864 "Collect osquery and orbit version numbers in anonymous usage statistics"
### Problem
We want to understand the current version of osquery that our users are using in their deployments. This will help us to understand which versions we need to support and see whether we need to do more to push upgrading osquery.

### Requirements
- In the anonymous usage statistics, include the count of osquery versions by version for each fleet instance.
- Orbit version as well. Leave

[2022-09-21 00:40] zwass commented on #5065
@xpkoala this is actually ready for QA after the PR merges. When QAing, I think it's sufficient to check that you can still build and install a Windows package on a regular English Windows install. I've already checked that it works in German and it's a lot of effort to get everything set up.

[2022-09-21 00:44] zwass commented on #7823
@lukeheath can you (or someone on the team) have a look for whether it's possible for the frontend to send a request to that `/queries/run` endpoint without a JSON body?

[2022-09-21 07:49] mike-j-thomas commented on #5581
@timmy-k, some updated screenshots for you here:
[Screenshots.zip](https://github.com/fleetdm/fleet/files/9614218/Screenshots.zip)

[2022-09-21 08:14] #5046 closed

[2022-09-21 08:14] #5034 closed

[2022-09-21 09:48] mike-j-thomas commented on #6934
https://github.com/fleetdm/fleet/pull/7868 closes this issue.

[2022-09-21 09:48] #6934 closed

[2022-09-21 11:13] ghernandez345 commented on #7656
@noahtalerman looking at the figma this work also includes responsiveness work to place the search and dropdown filters at smaller widths right? So this issue is really two bits of work; we should add that to the requirements for this ticket too.

[2022-09-21 11:39] lucasmrod commented on #6450
Dupe of #7864.

[2022-09-21 11:39] #6450 closed

[2022-09-21 12:22] mna commented on #7593
@RachelElysia another recent adjustment similar to the previous point, the `GET /host_summary` endpoint will also accept a new `low_disk_space=N` query parameter (which for now should be set to 32 in the frontend). When this parameter is provided in Fleet Premium, it will return the new `low_disk_space_count` field with a count of hosts that have less than this number of GB. The `low_disk_space_co

[2022-09-21 12:39] mna opened #7871 "[recurring] Update the Agent Options validations to match the latest osquery version"
### Goal

Introduced with the work on #5222 , Fleet now applies validations to the Agent Options part of the organization config (and the team's config). Those validations are based on the latest osquery version at the team of the Fleet release.

This means that on each release cycle, we must update those validations if there was a new osquery version released. This ticket should thus be a recurri

[2022-09-21 12:40] mna commented on #7871
@noahtalerman @lukeheath I created this to track ongoing work required to keep #5222 validations up to date, feel free to close if you prefer a different tracking solution.

[2022-09-21 13:10] mna commented on #7591
The feature is implemented, but I'll run a load test with the changes to make sure everything runs smooth with multiple hosts.

[2022-09-21 13:24] mna commented on #6808
@lukeheath @zhumo

Question about this statement that is still present in the Requirements:

Is this is a left-over from before the discussions you two had in the above comments? Should we still say something like that in the documentation? I thought the goal was to have Fleet Desktop still work even when turning this off, although with limited features (i.e. it would still turn the icon red if th

[2022-09-21 13:31] noahtalerman commented on #7676
@lucasmrod is it possible to reuse the same `.crt` and `.key` for SCEP that Fleet uses for AWS (Fleet server)? We'd like there to be just a "set of keys" for Fleet.

This way, we can simplify the setup by removing the concept of SCEP.

[2022-09-21 13:55] noahtalerman commented on #7209
Makes sense.

@lukeheath what do you think about showing the user the grey information banner instead of error message?
![Screen Shot 2022-09-21 at 9 54 05 AM](https://user-images.githubusercontent.com/47070608/191523036-0607e935-dbdd-47e8-907d-681a62509ff0.png)

This way, the user is informed "something no longer exists" instead of "something went wrong (red error)."

[2022-09-21 14:00] noahtalerman commented on #6530
Got it. Makes sense.

@lukeheath what do you think about naming the API route `/host_summary/mdm`?

This way, we can add future API routes behind the `/host_summary` namespace. This communicates to the user that the information returned by these API routes will be summary data (aggregate data, host counts, etc.).

In addition, we'll soon design API routes for MDM features in Fleet.`/hosts/mdm` has

[2022-09-21 14:01] noahtalerman commented on #7656
@ghernandez345 ah, yes. Great catch. I thought this was already implemented.

[2022-09-21 14:03] mna commented on #7835
@noahtalerman It would be important to have the message formats that we want to translate to:

We have 3 main error categories:
* Unknown key (default message is `unknown field "blah"`)
* Invalid value type for a known key (default message looks like `cannot unmarshal bool into Go struct field .events.disable_subscribers of type []string`, with variable parts for the actual type (here, `bool`), ex

[2022-09-21 14:13] noahtalerman commented on #7766
I added several states to the **Query** page here (vertically stacked): https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9655%3A332302
- No response
- No data
- Only errors
- No frequency
- Too much data

@chris-mcgillicuddy can you please review and help me with copy for all of the above states?

@mike-j-thomas can you please help me an ill

[2022-09-21 14:30] lukeheath commented on #7823
@zwass @chiiph A `GET` or `POST` request to `/queries/run` without a JSON body returns a 500 and this error:

[code]

I just created a new sandbox instance so it appears this is working with the Fleet UI. I'm wondering if we saw this in the logs because someone was experimenting with hitting their sandbox instance via API?

That aside, should we change how we're handling requests with no payload?

[2022-09-21 14:31] marcosd4h opened #7874 "Orbit should implement the Windows's Service Control Manager (SCM) APIs"
### Goal

TODO
As the Orbit.exe binary runs as a system service on Windows, it should be able to receive SCM requests, and it should be able to inform the SCM about its execution status. Typically, a windows service should do two things to achieve this:

1) It should register a callback table through [RegisterServiceCtrlHandlerExW()](https://learn.microsoft.com/en-us/windows/win32/api/winsvc/nf-wi

[2022-09-21 14:46] marcosd4h opened #7875 "Update process fails to complete on Windows machines with slow internet connection causing the Fleet service to get killed"
**Orbit version**: 0.0.13

**Operating system**: Windows 10 (any patchlevel and version)

<hr/>

### 🧑‍💻  Expected behavior
The update process should complete during initialization

### 💥  Actual behavior
The Update process does not complete during initialization

### More info

I recently encountered a field issue where the orbit service failed to start on more than 500 windows machines. The orbi

[2022-09-21 15:13] GuillaumeRoss opened #7876 "Deprecated `smart_drive_info` table is shown in Fleet"
**Fleet version**: 4.20

<hr/>

### 🧑‍💻  Expected behavior
This table has been deprecated for a while as it was not maintainable, so I would expect it to not show up in Fleet.

https://github.com/osquery/osquery/issues/7464

### 💥  Actual behavior

<img width="328" alt="image" src="https://user-images.githubusercontent.com/73836008/191542389-6c80f94c-9f6f-4956-b790-faac1e6390a8.png">

[2022-09-21 15:19] noahtalerman opened #7878 "When creating a new enroll secret, `created_at` is reset for old enroll secret(s)"
**Fleet version**: `v4.20.1`

This was discovered during interface estimation on 2022-09-21.

<hr/>

### 🧑‍💻  Expected behavior

When creating a new enroll secret, I expect the `created_at` for my old enroll secret to reflect the time is was created.

### 💥  Actual behavior

When creating a new enroll secret, I the `created_at` for my old enroll secret is updated to reflect the current time.

###

[2022-09-21 15:34] noahtalerman commented on #6808
TODO @noahtalerman: File a documentation issue and pass to Mo.

TODO @lukeheath: Chat to Mo about updating the naming of `/device/{token}/desktop`

TODO @lukeheath: Feedback on UX for user getting into a broken state.

[2022-09-21 15:57] ghernandez345 commented on #7233
@xpkoala not sure this needs much testing as it it just docs but didn't want to skip the Awaiting QA column

[2022-09-21 15:59] chiiph commented on #7823
We need to not 500 if there are decoding errors, yeah. The user might've been trying the API, it's unclear at the moment. Given that we haven't been able to reproduce any other way, I say we assume that's what happened and use this issue to track this improvement. @lukeheath this is an API one, let me know if you want platform to take it. Either way works for me.

[2022-09-21 16:09] lukeheath commented on #7823
@chiiph Happy to take it on. I've re-spec'd and brought it back to Ready.

[2022-09-21 16:16] lukeheath opened #7879 "Update the `GET fleet/teams/{team_id}/policies` endpoint to return global policies with pass/fail count filtered to provided team id"
### Goal

As a User, i want to see how many hosts in my team are passing and failing global policies so that I can resolve failures.

### Figma

[TODO
](https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9544%3A317544)

### API wireframes

[code]

### Tasks

#### 1
- [ ] Update the `GET fleet/teams/{team_id}/policies` endpoint to return global

[2022-09-21 16:17] lukeheath commented on #7879
@mna I'm assigning this ticket to you to complete the specification process and bring to the "Specified" column.

[2022-09-21 16:31] zhumo commented on #6808
@mna the "My Device" page is the core use case of Fleet Desktop. Sure, you can see the red dot, but then what? You need to click through to "My Device" to see what policies you're failing and get remediation steps. Exposing a button that goes nowhere and prevents a core use case qualifies as broken to me and I think we should make clear and discourage this configuration.

[2022-09-21 16:33] xpkoala commented on #7233
@ghernandez345 Thanks!

[2022-09-21 16:51] lukeheath commented on #6808
@zhumo The confusion is coming from the ticket where we implemented the new `GET /device/{token}/desktop` issue: https://github.com/fleetdm/fleet/issues/7084

When we received this ticket the goal stated:

"For a customer with concerns about the information disclosed by the Fleet Desktop APIs, provide an endpoint that can be excepted from their SSO and return the minimal set of information **for F

[2022-09-21 17:01] lukeheath commented on #7209
@noahtalerman Good point, that UI element does make more sense. The only concern I have is that we don't know if the policy ever existed or not. We just know it doesn't exist now. Should we change the copy to "The requested policy does not exist. Head to the Policies page to see a list of policies."?

[2022-09-21 17:02] lukeheath commented on #6530
@noahtalerman Good point re: conflicting with future endpoints. I think the endpoint `/hosts/summary/` would accomplish the same goal and be more RESTy. I'll update the specs.

[2022-09-21 17:31] zhumo commented on #6808
@noahtalerman @lukeheath has work started on this? I just looked back at the original request (https://github.com/fleetdm/fleet/issues/6709 and the requester recently responded. Doesn't seem to need it anymore. He's fine with just the minimal endpoint. If we haven't started working on it, let's drop it for now.

[2022-09-21 17:40] lukeheath commented on #6808
@zhumo

Thanks for your clarification. I think the confusion came from these two tickets coming into engineering at the same time, and us mixing the use cases. All clear now.

Yes, and it should be easy to hide.

We have not started dev on it yet, so I'm closing this out and removing from the roadmap board. Heads up @noahtalerman and @mna.

[2022-09-21 17:40] #6808 closed

[2022-09-21 17:41] #7876 closed

[2022-09-21 17:52] GuillaumeRoss commented on #7848
Re-opening because `yum_sources` has the same issue.

[2022-09-21 17:58] marcosd4h commented on #6945
Hey @zhumo, I've just exercised this technique to perform DLL injection into an arbitrary process and verified that osquery was able to retrieve the newly added app shim through `appcompat_shims`.

![image](https://user-images.githubusercontent.com/17311749/191575824-6e977ed2-66d7-427b-abd6-cb6969f292f5.png)

I've used [this](https://www.ired.team/offensive-security/persistence/t1138-application-s

[2022-09-21 17:58] noahtalerman commented on #3156
I'm closing this issue. Docs were updated on the website when the following PR was merged: #7706

[2022-09-21 17:58] #3156 closed

[2022-09-21 18:15] #7222 closed

[2022-09-21 18:39] CharlotteChance commented on #7727
<img width="237" alt="Screen Shot 2022-09-21 at 12 38 11 PM" src="https://user-images.githubusercontent.com/100798688/191584413-434541b8-0da0-4a5c-b385-de70a9538bbd.png">

I can get logged in, I'm just not seeing the Fleet info on the Fleet logo. @GuillaumeRoss

[2022-09-21 18:47] chris-mcgillicuddy opened #7882 "Article: osquery@scale"
## Goal

Post an article with Zach's slides from osquery@scale and embed video of presentation when available.

## How

- [x] Draft article
- [x] Create PR
- [x] Ask Mike T. to create image
- [x] Merge PR

[2022-09-21 19:06] #7848 closed

[2022-09-21 19:27] xpkoala commented on #7065
@RachelElysia Sorry for the silly question. Could you remind me the api that is returning data for the **users** field? I thought this was chrome_profiles, which I have and don't seem to be reporting, but want to double check. I've spent a little bit of time poking around the handbook and Figma and I can't seem to find the answer.

[2022-09-21 19:28] zhumo commented on #7871
Meeting w/ Noah:
1. Osquery does not drop config options too often, so risk of mismatch between config and osquery is low. Users also have the `--force` option in case of some issue here.

[2022-09-21 19:32] RachelElysia opened #7884 "Fleet UI: Add public IP address column to the Manage Host Page"
### Goal

TODO

Currently the Manage Host Page only shows "IP address" column. A customer was confused if this was private or public IP. Finding out it was only private, they requested a column for public IP address as well.

<img width="1291" alt="Screen Shot 2022-09-21 at 3 29 08 PM" src="https://user-images.githubusercontent.com/71795832/191593573-49d904df-dfb9-47a6-9968-8f14aa69afcc.png">

htt

[2022-09-21 20:07] noahtalerman commented on #7884
Hey @RachelElysia this piece is covered by the following estimated issue: #7062

I added this piece to the product office hours google doc: https://docs.google.com/document/d/1mwu5WfdWBWwJ2C3zFDOMSUC9QCyYuKP4LssO_sIHDd0/edit#

For future customer requests, can you please add an item to the product office hours Google doc?

This way, all customer requests come through product office hours and can b

[2022-09-21 20:11] noahtalerman commented on #7871
@mna if step 3 automatically generates the new struct, do we need step 2? I might be missing something.

[2022-09-21 20:11] noahtalerman commented on #7871
cc @zhumo ^^

[2022-09-21 20:13] noahtalerman commented on #7209
Ah, good point.

@lukeheath I like your suggested copy. I prefer removing "requested" to shorten the message:

_The policy does not exist. Head to the **Policies** page to see a list of policies._

[2022-09-21 20:16] noahtalerman commented on #6530
@lukeheath `/hosts/summary` shares a similar but slightly different name/path from existing `/host_summary` route. Calling this out to double check that you're aware.

[2022-09-21 20:20] noahtalerman commented on #7377
@sharvilshah just double checking here. Did your work cover number (3) and (4) under the "Tasks" section? (in this issue's description)

[2022-09-21 20:24] sharvilshah commented on #7377
@noahtalerman, no my work does not cover the (3) and (4) UI changes --

To clarify: If you add `command_line_flags` and populate it to the YAML (either global/team agent options one), it will pick up those things, but there is not default `When there are no configs for command_line_flags, then there is a blank command_line_flags: {} # requires Orbit setting in second position after the config sett

[2022-09-21 20:29] mna commented on #7871
@noahtalerman Yes, that's because the automatically-generated part covered by 3) is just for CLI flags that can be used in the "options" key of the Agent Options (it's the "options" section documented here: https://osquery.readthedocs.io/en/stable/deployment/configuration/#options), but the rest of the validations need to be manually verified in the rest of that documentation page, e.g. the "sched

[2022-09-21 20:32] noahtalerman commented on #7377
Got it. Thanks!

@sharvilshah your changes didn't cover the validation specified by (5) right?

[2022-09-21 20:35] sharvilshah commented on #7377
@noahtalerman, no it doesn't cover (5) -- we didn't spec it out when outlined the changes to orbit and Fleet

[2022-09-21 20:38] noahtalerman commented on #7871
@mna ah ok, so Fleet's validation covers everything under the "Configuration" section?

I thought the current `config` and `teams` YAML document in Fleet only passes "options" (soon CLI flags). These YAML documents don't pass "schedule" "packs" so validation isn't needed for these. Am I misunderstanding?

[2022-09-21 20:39] noahtalerman commented on #7377
Got it! I'm trying to figure out what's left.

@zhumo FYI the UI changes and validation specified in this ticket are not finished.

Currently, it's unlikely the interface team will get these changes in this release. Should we loop in an engineer on the platform team?

Also, it may make sense to only prioritize the UI changes. I think we can push the validation to the next release.

[2022-09-21 20:48] noahtalerman commented on #7871
Ah, it looks like Fleet might support everything...

For example, I'm guessing I can pass `agent_options.config.schedule` in the Fleet `config` YAML: https://fleetdm.com/docs/using-fleet/configuration-files#organization-settings

[2022-09-21 20:48] mna commented on #7871
@noahtalerman It's a bit hard to discuss this without confusion with all the use of config/setting/option referring to different things :D

But basically, under the `agent_options.config` key, we accept whatever osquery accepts in its configuration. The same goes under `agent_options.overrides.platforms.<platform_name>`. And under those keys, there is the "options" key which corresponds to the CLI

[2022-09-21 20:49] mna commented on #7871
Yes, that's correct!

[2022-09-21 20:52] noahtalerman commented on #7871
Got it. Now we can think through whether it makes sense to, later, trim down what Fleet supports.

Ok, thanks!

[2022-09-21 21:14] noahtalerman commented on #7871
@mna I updated the steps in this issues description based on my understand of our comments.

When you get the chance, can you please check to make sure I got the steps right? Thanks :)

[2022-09-21 21:25] noahtalerman commented on #4585
@edwardsb do you know if we have this turned on in dogfood? If no, can you please turn it on when you get the chance?

[2022-09-21 21:34] noahtalerman commented on #7871
@zhumo heads up, when I said that Fleet only validates settings under `agent_options.config.option` I was wrong.

Instead, Fleet validates these settings^ PLUS all other settings under `agent_options`. This includes settings under `agent_options.schedule`, agent_options.packs`, `agent_options.file_paths`, `agent_options.yara`, `agent_options.prometheus`, `agent_options.view`, `agent_options.ec2`,

[2022-09-21 21:52] zwass opened #7888 "Login logs do not contain username"
**Fleet version**: Fleet fleet-v4.20.0-92-g34688f531

<hr/>

### 🧑‍💻  Expected behavior

Login logs include the username of the user who logged in.

### 💥  Actual behavior

The log does not contain any username:

[code]

### More info

[2022-09-21 22:14] #6604 closed

[2022-09-21 22:16] mikermcneil commented on #6604
@eashaw Could do it with AI though.

Sounds crazy, but...  https://www.loom.com/share/0181a9c2e9b2468389212f635f103653

[2022-09-21 23:04] eastbook opened #7890 "fleet running in abnormal state"
fleet : 4.20.0
![image](https://user-images.githubusercontent.com/16090676/191624977-a4560bc2-1ee5-4131-8d7b-f22a167e8a80.png)

fleet running in bad state, you can see from the above screenshot the traffic our lb for fleet is pretty high.

and fleet server cpu usage
<img width="646" alt="image" src="https://user-images.githubusercontent.com/16090676/191625091-663dd31d-c33a-4865-9640-738e59822e23.p

[2022-09-21 23:05] eastbook commented on #7890
got some suggestion from fleet slack channel saying the vulnerabilities database is not setup caused this err, but it is still like this after i set it up.

[2022-09-21 23:31] mike-j-thomas opened #7891 "Update handbook - How to use our name"
## Goal
Avoid inconsistent use of our name. More context [in this comment.](https://github.com/fleetdm/fleet/pull/7181#issuecomment-1213472543). This change was motivated by our recent changes in our Brandfronts Blurbs doc.

## How
PR a change to remove this line. Feel free to improve that paragraph if you see an opportunity to do so.

![Image](https://user-images.githubusercontent.com/78363703/19

[2022-09-22 06:28] mike-j-thomas opened #7892 "Handbook - Turnaround time for deck revisions"
## Goal

Document our internal policy for ≤1 week turnaround time for deck revisions.

## How

-  Add a new row to the [content types table](https://fleetdm.com/handbook/digital-experience#content-types) for Decks.
- **To publish** = Instant. These Decks are typically created by Sales, so I don't want reviews from Digital Experience to be a blocker for them.
- **To revise** = Feedback
- **Timefram

[2022-09-22 09:35] nfrederickx opened #7893 "fleet API not working"
I'm trying to use fleetctl with our fleetdm, unfortunately it keeps saying Error: Login failed: POST /api/latest/fleet/login: do request: Post "https://fleet.domain.com/api/latest/fleet/login": dial tcp ip:443: connect: connection refused

I'm using the same user that I use to log in to the WebUI.

I can't seem to find any more detailed logs on what exactly is going wrong.

All firewalls are turne

[2022-09-22 10:04] nfrederickx commented on #7893
I got a little further, seems it is working via https://fleet.domain.com:8080/api/v1/kolide/login
But fleetctl doesn't use the kolide part, only /api/v1/login

[2022-09-22 11:50] RachelElysia commented on #7884
Sure thing, this should be documented in the oncall handbook.

Would you want me to file a ticket everytime or just leave the request details in the office hours doc?

[2022-09-22 13:17] lucasmrod commented on #7676
What do you mean by "that Fleet uses for AWS (Fleet server)"?

Assuming you mean the TLS certificate used in the Fleet server: No, because the SCEP certificate is used for a different purpose: for **signing** client certificates for apple devices as part of the MDM enroll process.

[2022-09-22 13:42] zwinnerman-fleetdm opened #7894 "2022-09-22 - Sandbox Incident - Underlying EC2 Instance Failure"
From `2022-09-22T12:00:33.412410Z` to `2022-09-22T12:01:46.687840Z`, there was an incident in sandbox caused by Amazon cycling out an instance we were using.
![2022-09-22-083836_1588x378_scrot](https://user-images.githubusercontent.com/98712682/191760270-dba1813e-086a-42a9-8bae-8ba211b3e56e.png)
@mikermcneil Asked for the following information to be gathered:

I didn't do this during the intial re

[2022-09-22 13:49] noahtalerman opened #7895 "Munki issues do not display the package/app name if using SimpleMDM's Munki"
**Fleet version**: 4.20.1

This was observed in Fleet's internal dogfood instance.

At Fleet, we use the Munki included in SimpleMDM to manage applications on our macOS workstations.

<hr/>

### 🧑‍💻  Expected behavior

On the **Home > macOS > Munki > Issues** card I expect to see the package/app name in the issue's message. For example "Figma."

This way, I know which package is causing issues.

#

[2022-09-22 13:52] zwinnerman-fleetdm commented on #7894
Just for completeness sake, this is all the errors per sandbox instance, note that **these were all deprovisioned at the time**.

We see these errors because previous sandbox instances setup hardware to talk to Fleet, and even after it goes away customers don't always remove their instances, so they continue calling in to a now gone instance until the customer takes action.
[d9ea53ac-379f-41e4-a8f

[2022-09-22 14:05] lucasmrod commented on #7875
Hi @marcosd4h, thanks for the great analysis.

Now am wondering how does SCM know when Orbit is "initialized"? I cannot find any code in Orbit related to SCM.

[2022-09-22 14:46] noahtalerman commented on #7676
Ah, shoot. @lucasmrod I meant APNS instead of AWS.

Let me rephrase my question:

Is it possible to reuse the same `.crt` and `.key` for SCEP and APNS?

Again, this way we can simplify the setup by removing the concept of SCEP.

[2022-09-22 14:47] lucasmrod commented on #7676
Gotcha.

This way we can simplify the setup by removing the concept of SCEP.

No. Because SCEP certs are generated/managed by the Fleet operator, whereas APNS certificates are issued by Apple.

[2022-09-22 14:52] noahtalerman commented on #7676
Makes sense.

@lucasmrod to achieve this, can we abstract SCEP away from the user?

Meaning, instead of...
1. user gets APNS certs from Apple
2. user uploads APNS certs to Fleet
3. user gets SCEP certs from Fleet
4. user uploads SCEP certs to Fleet

we do...
1. user gets APNS certs from Apple
2. user uploads APNS certs to Fleet
3. behind the scenes Fleet generates and uploads SCEP certs to Fleet

[2022-09-22 15:05] mikermcneil commented on #7894
@zwinnerman-fleetdm Thanks for the summary.  There were 500 errors, which mean someone was sending the requests causing them.

If the instances were deprovisioned, why were requests still aiming for them?  A 5xx response means there was an unexpected error.  What was the error?

Last, what are the plans to change the product so that this doesn’t happen again for future requests?

[2022-09-22 15:26] noahtalerman commented on #7765
Decision:

Add "Never" to Frequency options.

Then when we address "See cached query results" #7766, remove "Never" in such a way we can message why it's being removed.

Instead canary teams are used to test queries. Or, you can just run query as a live query and not save.
- Requisites:
  - Improvement for Fleet Premium users: Transfer query between teams (e.g a checkbox in the list view)
  - Impr

[2022-09-22 15:26] lucasmrod commented on #7676
Yes, could be behind the scenes. Unlike APNS or DEP, SCEP cert+key generation does not need User+Apple interaction.

PS: This is assuming we solve the issue of how to store sensitive credentials in Fleet. So I will start discussions with the team.

[2022-09-22 15:34] noahtalerman commented on #7895
Nice! Great suggestions/work. Awesome that we can move quickly.

After Lucas's PR is merged, it looks like we’ll need to adjust Fleet’s query to address this issue in Fleet.

Or, we can move quickly and decode the string (only requires Fleet changes): https://github.com/fleetdm/fleet/issues/7895#issuecomment-1255116870

[2022-09-22 15:35] noahtalerman commented on #7895
Lucas: Sounds hacky, because the base64 thing is a SimpleMDM specific thing

[2022-09-22 15:40] CharlotteChance commented on #7727
@GuillaumeRoss that worked, it's working as expected now. Thank you!

[2022-09-22 15:40] lucasmrod commented on #7895
Sounds hacky, because the base64 encoding of the Munki package `name` is a specific to SimpleMDM integration with Munki.

Once (if) https://github.com/macadmins/osquery-extension/pull/22 is approved and merged, then the user can `munki_installs` table to know which is the application having issues shown in the logs.

[2022-09-22 15:47] zwass commented on #7875
I asked the same question and Marcos guessed that SCM considers it initialized when it execs the osquery process. This seems plausible, but we did not confirm.

[2022-09-22 15:51] edwardsb commented on #4585
@noahtalerman we report public IP, but not location. In order to report location you need to supply a MaxMind database. Does Fleet have a MaxMind account?

[2022-09-22 15:51] mikermcneil commented on #7894
Since this screen recording contains some IP addresses, making a separate confidential issue: https://github.com/fleetdm/confidential/issues/1712

[2022-09-22 15:54] lukeheath commented on #6530
@noahtalerman Thanks for the call out. Yes, I've noted that we want to move `/host_summary` to `/hosts/summary` and `/os_versions` to `/hosts/os_versions` as we move towards v5.

[2022-09-22 15:59] mikermcneil commented on #7894
## Next steps
1. TODO: Zach Winnerman: Investigate what we think is an underlying hardware in our EKS cluster that was not reported to us by Amazon and is not listed on their status page: https://health.aws.amazon.com/health/status
2. TODO: Zach Winnerman: Figure out what happens in the user experience when a failed `GET /api/v1/device/:uuid/policies` call happens behind the scenes.  (Tomas: Rober

[2022-09-22 16:14] zwinnerman-fleetdm commented on #7894
@mikermcneil As a followup for the first TODO, as I suspected AWS won't answer a question like this under our current support plan.
![2022-09-22-120209_987x414_scrot](https://user-images.githubusercontent.com/98712682/191796502-0608cb6b-7587-4849-b76e-77297d38d728.png)

I believe that the minimum support tier we would need is the Business tier support which costs around $100/mo. We can use credits

[2022-09-22 16:19] zwass commented on #7784
@gillespi314 Lucas mentioned that you might be working on related issues currently?

[2022-09-22 16:31] gillespi314 commented on #7784
@zwass, not currently, but I did last sprint so I can take a closer look if that makes sense for folks

[2022-09-22 16:35] gillespi314 commented on #7784
@marcosd4h, would you please let me know your results when running the following live query:
[code]

[2022-09-22 16:38] noahtalerman commented on #7895
@lucasmrod can Fleet do this for the user? We'd like the Fleet UI/API to just show the name of the package/application.

[2022-09-22 16:45] zwinnerman-fleetdm commented on #7894
Per roberto:
for the 2nd TODO:

So this issue was invisible to users entirely it seems.

For the 3rd TODO:

So this also seems like good behavior, as long as we fix the 4th TODO.

[2022-09-22 16:48] noahtalerman commented on #4717
Yes. For Fleet Premium users, vulnerable scores (CVSS, EPSS, known exploit) were added the webhook payload.

These scores are not included in the tickets (Jira and Zendesk) yet. This is tracked in a separate issue here: #7675

cc @GuillaumeRoss

[2022-09-22 16:48] #4717 closed

[2022-09-22 16:48] marcosd4h commented on #7784
The query returns empty.  It seems that the `DisplayVersion` is not present on the registry. I've manually checked that on the test VM I'm using. Screenshot below

![image](https://user-images.githubusercontent.com/17311749/191805548-8be15604-f185-4cf1-b542-28d3752904bd.png)

[2022-09-22 16:49] noahtalerman commented on #7559
Closing this issue because the improvement is included in the latest Fleet release.

[2022-09-22 16:49] #7559 closed

[2022-09-22 16:50] zwinnerman-fleetdm commented on #7894
Hey @mikermcneil, I also just noticed some less than ideal behavior. Currently when the user is redirected to the `sandbox-expired` page, there's a button that says "Request more time". The issue is that by the time they see that page, we have already deleted all of the instance's data. It would be a bit jarring if the customer requests more time, and then we don't have their data anymore.

[2022-09-22 16:53] zwinnerman-fleetdm commented on #7894
My suggestion would be one of two things:

1. Change the wording to better reflect what the system does now
2. Preserve some data for a while just in case a customer requests more time

[2022-09-22 16:57] gillespi314 commented on #7784
Thanks! It seems like we'll need product to take a closer look at this and see how they'd like to handle this case.

@noahtalerman, @lukeheath it seems like the windows query that was specified for #6475 does not work for all windows versions.

[2022-09-22 17:00] zwass commented on #7784
Maybe we should just use `codename` if the other values we would have used are blank?

[2022-09-22 17:01] lucasmrod commented on #7895
Show where? (maybe am missing some recently added functionality).

Typo here sorry.
What I meant is that for this particular issue, the user can run a live query `SELECT * FROM munki_installs` to know which application is the one with `name == RmlnbWEaa` (once https://github.com/macadmins/osquery-extension/pull/22 is merged and updated in Orbit).

[2022-09-22 18:30] juan-fdz-hawa commented on #7465
@zhumo - This was released with v4.20 - closing this, feel free to open it again if you have any questions.

[2022-09-22 18:30] #7465 closed

[2022-09-22 18:44] RachelElysia commented on #6032
This was completed with #6381
Confirmed this documentation is referenced in the Fleet UI, API Token modal as an external link.

[2022-09-22 18:44] #6032 closed

[2022-09-22 19:01] RachelElysia commented on #2002
Should "or revoke the host's enroll secret" be removed from this modal on the host details page? This copy is different from the manage host page delete modal below:

<img width="630" alt="Screen Shot 2022-09-22 at 2 50 30 PM" src="https://user-images.githubusercontent.com/71795832/191829634-2ad22f34-e9a1-4d11-abf2-abefd0093ab3.png">

I think there was a discussion that we do not keep track of wha

[2022-09-22 19:23] mikermcneil commented on #7894
@zwinnerman-fleetdm Have we verified this is what actually happens?

@zwinnerman-fleetdm Thanks for the feedback!  Great ideas too.  I'd lean towards `#2`, since the goal is to extend the length of the trial when as we feel confident in the infra.  Up to @zhumo.

[2022-09-22 20:35] noahtalerman commented on #7895
@lucasmrod we'd like to show the package name here the **Home > macOS > Munki > Issues** card (released in 4.20):

![Screen Shot 2022-09-21 at 4 00 49 PM](https://user-images.githubusercontent.com/47070608/191764619-005af61e-8efc-46de-a8d6-0c16a8cb91c7.png)

[2022-09-22 20:36] noahtalerman commented on #7893
Hey @nfrederickx sorry you're running into this issue. What version of Fleet are you using?

[2022-09-22 20:45] noahtalerman opened #7901 "In Fleet Sandbox, warn user that they can't see scheduled query data"
### Goal

As a Fleet Sandbox user, I want to know that I won't be able to see scheduled query data.

[2022-09-22 20:46] noahtalerman opened #7902 "In Fleet UI, improve warning for "Disk space available""
### Problem

The current warnings (yellow and red color with tooltips) for **Disk space available** in the UI don't make sense for Linux servers.

This is because the OS can be updated without any problems if a Linux server has less than 32 GB (or 16 GB) of remaining disk space.

See more discussion on this in the public Fleet Slack: https://osquery.slack.com/archives/C01DXJL16D8/p1663410841224229

[2022-09-22 20:50] noahtalerman opened #7903 "Query > Results and Query > Select targets pages display "1 hosts targeted" (plural)"
**Fleet version**: 4.20.1

<hr/>

### 🧑‍💻  Expected behavior

On the the **Query > Results** and **Query > Select targets** pages, I expect to see the text "1 host targeted" (singular "host").

### 💥  Actual behavior

I see "1 hosts targeted" (plural "hosts"):
![Screen Shot 2022-09-22 at 4 50 18 PM](https://user-images.githubusercontent.com/47070608/191848392-d049ae41-0956-4dea-8856-15aca580676b.p

[2022-09-22 20:54] noahtalerman opened #7905 "Add a "Public IP address" column to the Hosts page"
### Goal

As a Fleet user, I want to see a **Public IP address** column so that I can quickly find a specific public IP.

### More info

It looks like a `public_ip` property exists in the `GET /hosts` API route.

Specced by @RachelElysia

### Task

- Hidden by default, it should appear in the "edit" columns modal. Up to engineer on where in the list it appears.
- Rename **IP address** column to ei

[2022-09-22 20:56] noahtalerman opened #7906 "Document permissions for file carving"
Carves can be initiated by global maintainers and team maintainer/admins, but only global admins can actually retrieve the carve contents.

### Goal

Update the permissions documentation page with file carving permissions: https://fleetdm.com/docs/using-fleet/permissions

[2022-09-22 20:56] lucasmrod commented on #7895
The Issue is an error log read from `/Library/Managed\ Installs/ManagedInstallReport.plist` read by munki's [osquery-extension](https://github.com/macadmins/osquery-extension), here's an excerpt from mine:
[code]

From Fleet, we really shouldn't process such warning logs, as it depends on how the Munki app [logs](https://github.com/munki/munki/blob/78db0cc5be25255acc6d1e6b01a5f29b6fb81e0a/code/cli

[2022-09-22 20:57] noahtalerman commented on #7906
@RachelElysia during your on-call rotation, do you have the time to take on this documentation issue? Please let me know if not.

[2022-09-22 21:01] noahtalerman opened #7907 "Document using a password manager during set up is the best practice"
### Goals

Test that using a password manager (ex. 1Password) works when setting up Fleet and logging into Fleet. This means that, on Chrome, Firefox, and Safari, I should be able to select the 1Password button, that appears on the Fleet UI **Password** field) when creating my credentials in Fleet and save my new Fleet password.

In the "Running the Fleet server" docs: Document that using a passwo

[2022-09-22 21:01] noahtalerman commented on #7907
@RachelElysia do you have the time to take this on during your on-call rotation? Please let me know if not.

[2022-09-22 21:04] zhumo commented on #7778
@noahtalerman I'm not sure what we're trying to do here... Are we trying to support Heroku or PaaS in general?

[2022-09-22 21:29] lukeheath commented on #7784
@noahtalerman Assigning this bug to you for product direction on how we should handle this case. Just let me know if I can help!

[2022-09-22 21:52] zhumo opened #7908 "Extending Fleet Sandbox on demand"
### Problem
Currently, Fleet Sandbox is available to a user for 1 day. When a user runs out of time with Sandbox, they may want more time with it since they have already installed the agent on their hosts. If they have to start over, there is some fixed cost to getting set up with the new Sandbox again. Currently, there is a way to do it in the back end, but it takes time and is error-prone.

###

[2022-09-22 21:54] zhumo commented on #7894
data preservation issue here: https://github.com/fleetdm/fleet/issues/7908

[2022-09-22 22:01] mikermcneil opened #7910 "Integrate with Snipe IT"
### Goal

As a user, I want to use my own inventory and software management system.

Such as Oomnitza, or Jamf Inventory, or ServiceNow.  Or, the best imo: Snipe IT - https://snipeitapp.com/

### How?

- [ ]

[2022-09-22 22:04] marcosd4h commented on #7875
@zwass @lucasmrod I further investigated this and found that it was indeed because of the osqueryd.exe that SCM considers `Fleet service` to be initialized.

So to determine this, I first use ETW to trace the behavior of the SCM. On this ETW trace [here](https://gist.github.com/marcosd4h/a4cadedcbd0debaf254823d227ec6a39), it can be seen that the SCM process (PID 644 - services.exe) is being asked

[2022-09-22 22:35] juan-fdz-hawa commented on #5386
@zhumo @chiiph two things (this only applies to the NVD vuln processing pipeline):
1. There's a bug in `main` with the way the software version is processed and matched (only tested it on Windows) that is preventing Zoom 5.7.4 to resolve to a CPE (without a CPE there's no way to match CVEs).
2. Even with the aforementioned bug resolved there's another problem, this is more a limitation with the li

[2022-09-22 22:35] lukeheath opened #7911 "Configure Cypress parallelization in GitHub Actions"
### Goal

As an Engineer, I want the end-to-end tests to run in parallel so that I spend less time waiting for the CI pipeline to complete

### How?

https://docs.cypress.io/guides/continuous-integration/github-actions#Parallelization

[2022-09-22 22:37] zwass commented on #7875
Great research! I think we can probably tackle #7874 first and then work on getting the patch into osquery? We will still need to account for older osquery versions that don't yet have the ability to disable the service controls.

[2022-09-22 22:59] michalnicp opened #7912 "Vulnerabilities not detected if nvd cve feed is unavailable or rate limited"
**Fleet version**: 15ac7ac18977715c1a86b2849abd45f3e1d5b16b

**Operating system**:

**Web browser**:

<hr/>

### 🧑‍💻  Expected behavior

I expected vulnerabilities to be detected

### 💥  Actual behavior

When the NVD CVE feed cannot be synced, I expect fleet to use feeds from the last sync. The following error is logged when rate limited

[code]

The NVD CVE feed is also sometimes down for short p

[2022-09-22 23:07] zhumo commented on #7871
@noahtalerman @mna two questions:

1. Is the validation going deep? As in it recursively checks layers inside each option?
2. Re: #4 above, if I find that the non-cli flags options have changed, where do I go/what do I do to get that updated?

[2022-09-22 23:13] mike-j-thomas commented on #7891
Closing this issue based on [this comment](https://github.com/fleetdm/fleet/pull/7772#issuecomment-1255454889).

[2022-09-22 23:13] #7891 closed

[2022-09-22 23:22] mike-j-thomas commented on #7844
@eashaw, I updated Figma to show how the logos will stack as low as 320px.

[2022-09-23 00:13] roperzh commented on #7894
I have in the past, but to double check this is what I did (please feel free to shout if you see any problems with my simulation)

1. Completely shut down the Fleet server
2. Started a local server on port `8080` with this:

[code]
This is the recording (note that the device token is a token in my local server) :

https://user-images.githubusercontent.com/4419992/191872003-46f75097-264e-44d3-81c7-

[2022-09-23 00:20] michalnicp opened #7913 "Pip vulnerability not detected"
**Fleet version**: 15ac7ac18977715c1a86b2849abd45f3e1d5b16b

**Operating system**:

**Web browser**:

<hr/>

### 🧑‍💻  Expected behavior

When pip 19.0.3 is installed on hosts, fleet should detect vulnerabilities CVE-2019-20916 and CVE-2021-3572.

### 💥  Actual behavior

No vulnerabilities are detected. This could be caused when pip is installed on multiple hosts with different operating systems eg

[2022-09-23 01:35] zwass opened #7914 "macOS `file_events` table does not work with Orbit"
**Fleet version**: ecba812

**Operating system**: Orbit on macOS

<hr/>

### 🧑‍💻  Expected behavior

`file_events` table shows file events as expected.

### 💥  Actual behavior

No events are recorded at all (confirmed by querying `osquery_events` table).

Fleet agent options:

[code]

What osquery actually sees:

[code]

### More info

I suspected this was a Full Disk Access issue, but the problem

[2022-09-23 01:45] zhumo commented on #7810
Hey @edwardsb, I saw that you were the one who recorded this note in the config files. Can you provide more background on this?

1. What do cloud providers do that make `tmp/vuln/` not work?
2. How can I tell if my cloud provider is doing something which would make this not work?
3. On which cloud providers does it not work?
4. What do you do on those cloud providers to make it work?

[2022-09-23 03:15] sharvilshah commented on #7377
@zhumo yes, exactly

[2022-09-23 07:21] nfrederickx commented on #7893
Hi, thanks for answering my question.

I'm happy to report I was able to find the solution just now.
My version was 3.2 and the fleetctl was 4.2
So they weren't compatible, after upgrading the fleet and ctl to the latest version everything was working like a charm.
Thanks for the support, maybe my mistake can help someone else in the future. :)

[2022-09-23 07:21] #7893 closed

[2022-09-23 13:22] chiiph commented on #5386
So we would need to fork nvdtools and add this functionality? Hrm...

[2022-09-23 13:24] roperzh commented on #7894
a note on this:

@zwinnerman-fleetdm you mentioned above that:

is this something you can do solely on the infra side? (add a redirect for old instances) or do we need to add special behavior to Fleet Desktop? E.g.: add a build flag to let Desktop know it's running off a Sandbox instance

[2022-09-23 13:42] noahtalerman commented on #7377
Sounds good 👍

[2022-09-23 13:45] noahtalerman commented on #7377
Ah, I might have overlooked 1 and 2 in this ticket as well. That is, the ability to set flags using the `config` and `teams` YAML files and `fleetctl apply`

@sharvilshah a user won't be able to do this yet, correct?

[2022-09-23 13:45] noahtalerman commented on #7377
cc @zhumo ^^

[2022-09-23 13:47] noahtalerman commented on #7778
No. Goal here is to get a real world server into the dogfood environment so that sales team can use this in demos.

[2022-09-23 13:47] noahtalerman commented on #7778
@zhumo no. Goal here is to get a real world server into the dogfood environment so that sales team can use this in demos.

[2022-09-23 13:53] sharvilshah commented on #7377
@noahtalerman they will, the way it's implemented means it is transparent and it should not matter whether Fleet UI is used or `fleetctl apply` with YAML files is used

Unless of course there is a bug :)

[2022-09-23 13:56] noahtalerman commented on #7377
Got it! @sharvilshah I marked 1 and 2 under tasks as done. Please let me know if this doesn't make sense.

cc @mna

[2022-09-23 14:20] xpkoala opened #7917 "Hosts filter drop down behind selection bar"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: Safari 16.1 (18614.2.1.1.1)

<hr/>

### 🧑‍💻  Expected behavior
Drop down bar would appear **over** the multi selection bar for hosts

### 💥  Actual behavior
Drop down bar appears behind the multi selection bar obscuring some items.

### More info
<img width="1515" alt="Screenshot 2022-09-23 at 9 17 14 AM" src=

[2022-09-23 14:20] noahtalerman commented on #7784
Thanks for looping me in!

@gillespi314 for the operating system **Version** in Fleet, let's fall back to using the `ReleaseID` (from the `CurrentVersion` section of the Windows registry) if the `DisplayName` doesn't exist.

The goal is to inform the user which Windows operating systems are currently supported by Microsoft as reported by https://endoflife.date/windows.

endoflife.date reports `Win

[2022-09-23 14:22] xpkoala commented on #6662
Thank you for the update @mpdeimos. I haven't been able to reproduce your issue using a handful of different OS's. When you return from vacation could you please update to the latest release of Fleet and then report back if you are still encountering then broken manage hosts page?

[2022-09-23 14:41] xpkoala commented on #7084
@juan-fdz-hawa I'm still not able to access the transparency page using `api/latest/fleet/device/<key>/desktop/transparency`. Is this expected to be returning output at the moment?

[2022-09-23 15:21] juan-fdz-hawa commented on #7084
Hi, that endpoint returns a redirect and no output at all. There's a small typo in the URL you are using, it should be `api/latest/fleet/device/<token>/transparency`

[2022-09-23 15:26] juan-fdz-hawa commented on #6946
FYI @xpkoala - this change was reverted in https://github.com/fleetdm/fleet/pull/7919#pullrequestreview-1118652365 - don't know if we should move it back to `In Progress` or leave it in this lane.

[2022-09-23 15:40] zwinnerman-fleetdm commented on #7894
We already redirect all traffic to non-active instances to that page. This is in reference to that target page's behavior which would be controled by @eashaw iirc.

[2022-09-23 15:44] juan-fdz-hawa commented on #5386
Probably ... when mapping from CPE to CVE we should be querying for more 'patterns' - currently we only look at exact matches, but if we have a software with the following CPE `cpe:2.3:a:zoom:meetings:5.6.1:*:*:*:*:*:windows:*` then all the following CPEs should match that `cpe:2.3:a:zoom:meetings:*:*:*:*:*:*:windows:*`, `cpe:2.3:a:zoom:meetings:*:*:*:*:*:*:*:*`, `cpe:2.3:a:zoom:*:*:*:*:*:*:*:*:*`

[2022-09-23 15:52] xpkoala commented on #7763
@lucasmrod Would you be able to assist with this question?

[2022-09-23 16:00] xpkoala commented on #6946
@juan-fdz-hawa lets move it back to `in progress` until it is available for me to poke. Thanks!

[2022-09-23 16:04] xpkoala commented on #7084
Thank you for the clarification!

[2022-09-23 16:20] noahtalerman opened #7920 "Create script that generates the final schema"
### Goal

Turn [Eric’s code](https://github.com/fleetdm/fleet/blob/0ba534b356f8cb51024939ff4d3f5658b9a9a906/website/scripts/build-static-content.js#L521-L612) into a script that generates a final schema (osquery + Fleet). This way, fleetdm.com and the Fleet UI can use the same final schema to render the osquery tables.

[2022-09-23 16:20] noahtalerman commented on #7920
@eashaw I assigned you this issue and added it to the release board.

[2022-09-23 16:28] noahtalerman commented on #7676
👍

@zhumo I created user journeys for set up (new Fleet users) and turn on (existing Fleet users):
- “Set up Fleet with MDM features” drawing: https://docs.google.com/drawings/d/1Cg0MY_IjSt5q4TZwRg9SFj3NEG44M7ChnK38LOcDP-I/edit
- “Turn on MDM features” drawing: https://docs.google.com/drawings/d/1X6Y3g74dp1B-ln3vjumcHkkf93DrWE_KYZzK4rWBQnM/edit

What do you think? Please feel free to edit / leave

[2022-09-23 17:06] roperzh commented on #7894
understood, thanks! seems like we're good

[2022-09-23 17:20] zhumo commented on #7184
@xpkoala https://fleetdm.slack.com/archives/C02MP2CTQUE/p1663768800320469 Link to list of tables to re-test

[2022-09-23 18:34] zhumo commented on #6945
awesome. Thanks Marcos!

[2022-09-23 18:34] #6945 closed

[2022-09-23 18:46] GuillaumeRoss opened #7923 "Add query to check default mail/http/ftp apps to the query library"
### Goal

Inspired by this post: https://www.linkedin.com/posts/brock-walters-247a2990_determining-url-scheme-handlers-in-macos-activity-6979125783004880896-d4tL?utm_source=share&utm_medium=member_ios

### How?

- [ ] Add a query that returns _mailto, http_ and _ftp_ handlers that are enabled.

[2022-09-23 18:57] zhumo commented on #6950
Reed, when testing MacOS 13, ran into safari returning inaccurate information. Slack thread here: https://fleetdm.slack.com/archives/C02MP2CTQUE/p1663957171288589?thread_ts=1663768800.320469&cid=C02MP2CTQUE

[2022-09-23 19:01] zhumo opened #7925 "Opera extensions being included in chrome_extensions table"
osquery: 5.4.0

<hr/>

### 🧑‍💻  Expected behavior
Opera extensions don't show up in chrome extensions table

### 💥  Actual behavior
Opera extensions did show up.

### More info
When Reed did testing for MacOS 13, he found this. Slack thread w/ context and link to query and data: https://fleetdm.slack.com/archives/C02MP2CTQUE/p1663957171288589?thread_ts=1663768800.320469&cid=C02MP2CTQUE

### Requir

[2022-09-23 19:10] zhumo commented on #7479
@noahtalerman please let requesting customer know about this when it goes out.

[2022-09-23 19:15] zhumo opened #7926 "Config validation for the `command_line_flags` option"
Addressed by the following PR: #7979

### Goal

This issue should only have to add validation for flags that could not be passed as options (flags that require a restart of osqueryd). The previous ticket and PR should make clear where that validation should live.

#5222 will have added validations for `agent_options`, including some flags that can be passed as osquery options.

### Notes

Note all

[2022-09-23 19:18] zhumo commented on #7535
Closing as it has been published. https://fleetdm.com/guides/osquery-evented-tables-overview

[2022-09-23 19:18] #7535 closed

[2022-09-23 19:18] zhumo commented on #6882
https://fleetdm.com/guides/osquery-evented-tables-overview Done!

[2022-09-23 19:18] #6882 closed

[2022-09-23 19:25] #7184 closed

[2022-09-23 19:32] xpkoala commented on #7763
Apologies @eastbook I should have pointed you to the Osquery Slack which is better suited to give a fast response to these types of questions, osquery.slack.com

@ksatter I would like to rope you into this conversation as well in case this is already documented.

[2022-09-23 19:39] #4970 closed

[2022-09-23 19:47] roperzh opened #7929 "Add capabilities headers to aid with backwards compat between Fleet, Orbit and Fleet Desktop"
### Goal

This solution is trying to solve the following problems:

- We have three independent processes communicating with each other (Fleet Desktop, Orbit and Fleet Server). Each process can be updated independently, and therefore we need a way for each process to know what features are supported by its peers.
- We originally implemented a dedicated API endpoint in the server that returned a li

[2022-09-23 19:48] michalnicp commented on #7888
Are we concerned about logging sensitive information? I would consider emails to be sensitive.

[2022-09-23 19:50] roperzh opened #7930 "Make the managing flags for Orbit backwards compatible"
### Goal

The work as defined in https://github.com/fleetdm/fleet/issues/6851 is not backwards compatible with older Fleet Server versions, we should adjust to make it so.

### How?

Use the new capabilities headers to detect older Fleet server versions

[2022-09-23 20:33] roperzh opened #7931 "SSO fails if "metadata URL" has a leading whitespace"
**Fleet version**:  4.20.1

### 🧑‍💻  Expected behavior

If I configure fleet SSO "Metadata URL" with a leading whitespace either:

- Fleet automatically trims whitespace
- I get a validation error
- I get a helpful error in the UI

### 💥  Actual behavior

The server fails with:

[code]

And I don't see anything in the UI:

<img width="1440" alt="image" src="https://user-images.githubusercontent.co

[2022-09-23 21:17] sharvilshah commented on #7925
Opera is based on chromium since 2014, so I think it makes sense that it would show up in `chrome_extensions`

[2022-09-23 22:31] lukeheath commented on #7931
Thanks @roperzh! I'll take it from here.

[2022-09-26 10:55] lucasmrod commented on #7875
Thanks for the analysis (bis), am learning a lot!

What would happen if we implement (1) (https://github.com/fleetdm/fleet/issues/7874), but not (2)?

[2022-09-26 12:40] mna commented on #7871
@noahtalerman yes, those steps look fine to me!

@zhumo Yes it does.

Good point, it's the `osqueryAgentOptions` struct here: https://github.com/fleetdm/fleet/blob/main/server/fleet/agent_options.go#L66 . I'll update the ticket accordingly.

[2022-09-26 13:48] marcosd4h commented on #7875
Hey guys, I've just pushed a PR to address this issue. See #7934.

@zwass I agree that it is better to handle this change on Orbit first and then tackle osqueryd.
@lucasmrod If we don't implement (2) we will have duplicated SetServiceStatus calls to signal the service initialization status (one coming from Orbit and one coming from osqueryd). As the one from Orbit came first, the second call made

[2022-09-26 14:05] GuillaumeRoss opened #7936 "Add troubleshooting section for FDA"
### Goal

In https://fleetdm.com/docs/using-fleet/adding-hosts#grant-full-disk-access-to-osquery-on-mac-os we explain how to give FDA rights to osquery/orbit, but we do not explain what logs can help determine there's an issue with those permissions.

### How?

- [ ] I'll add a section on logs to watch for this

[2022-09-26 14:48] mna commented on #7591
@lukeheath @noahtalerman @RachelElysia

Results from load testing (with 80K hosts) are looking good. Did some `curl`ing to check the API endpoints with the new `low_disk_space` query param, the `GET /host_summary` endpoint has no noticeable slowdown with or without the new parameter from my machine:

[code]

And I'm getting similar results for `GET /hosts` with/without the new `low_disk_space` par

[2022-09-26 14:50] lukeheath opened #7941 "Hide the mobile screen overlay when page is printing"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `4.20.1`

**Operating system**: _(e.g. macOS 11.2.3)_ Mac

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When I visit the manage hosts page, I can print the list to a PDF.

### 💥  Actual behavior

When I attempt to print the list, the small screen overlay is trig

[2022-09-26 14:55] #7836 closed

[2022-09-26 14:58] lukeheath commented on #7591
@mna Thanks for the update. Great to see the minimal impact on response times!

[2022-09-26 15:12] mna commented on #7591
@lukeheath @noahtalerman @RachelElysia The impact on data ingestion/DB load is also basically unnoticeable at 80K hosts. Screenshots below. But I noticed an issue on the total count displayed on the dashboard, not sure if this is working as intended or not, the macOS counts show ~39K and the other OSs show 0, but there are 80K hosts, and looking at the counts returned by `GET /host_summary`, it ap

[2022-09-26 15:22] xpkoala commented on #7591
I added "The `low_disk_space_count` field should then only be present in the response if it was requested as query parameter." to the requirements section, this threw me off for a quick second. :)

[2022-09-26 15:24] mna commented on #7591
@xpkoala Thanks, and sorry about that, I only added it to the tasks section, didn't think about updating the requirements!

[2022-09-26 15:24] lukeheath commented on #7591
@mna

It looks like that's a new platform @zwass added recently: https://github.com/fleetdm/fleet/pull/6863. I don't see it included anywhere in osquery-perf, so seems like they must be getting set somewhere else?

Great! Is there any measurable difference? I'm just wondering what the cumulative effect might be if we were to add several more filters and indexes. It looks like the impact on respons

[2022-09-26 15:36] mna commented on #7591
@lukeheath no, nothing stands out compared to previous load tests.

It's much too changing from one request to another to be able to measure the difference (in fact in the case you computed, it's the version _without_ the new query parameter that is slower!), the only thing we can really say is that the effect is negligible, there are no performance concerns that could be detected with those tests

[2022-09-26 15:46] noahtalerman commented on #7902
@ksatter heads up, this issue is associated with the "Improve disk space alerting for Linux systems" request you brought to product office hours on 2022-09-22.

[2022-09-26 15:49] mna commented on #7591
@lukeheath

Ha! Indeed that is some strange behaviour going on - it's actually because of the way osquery-perf returns data when it doesn't explicitly handle a query (in this case, `kubequery_info`), by always returning a single row with "foo-bar" style values. The data ingestion part in Fleet automatically sets the platform to "kubequery" when it receives any results for that query :)

I'll push

[2022-09-26 15:50] noahtalerman commented on #7903
@mikermcneil heads up, this was the "1 host targeted" request you brought to product office hours on 2022-09-25.

[2022-09-26 15:52] artemist-work commented on #7131
I suspect the best option is going to be to kill the desktop agent in the installer even if the new installer doesn't have desktop enabled. It could be possible to keep the old desktop agent but if the user hasn't specified that they want desktop then killing it is probably the correct way to go.

[2022-09-26 15:53] noahtalerman commented on #7907
@edwardsb heads up, this is the issue associated with the "User created their account but then forgot their password..." request you brought to product office hours on 2022-09-22: https://docs.google.com/document/d/1fKUvDOGLhGgeZ9DLBEAJ5HIHOB7sLa6WZTrlPQSxH6Y/edit

We decided to make sure password managers work as expected during set up and document this as best practice. This way, during set up w

[2022-09-26 15:55] xpkoala commented on #7130
Are there any more thoughts on how I might be able to accomplish testing `main` in a Sandbox environment that would have these changes (not via an upgrade if I'm understanding correctly)? I know @zwinnerman-fleetdm might be out for a bit due to weather. Please let me know if I can assist or if I should check access to something that is already provisioned.

[2022-09-26 15:57] zwinnerman-fleetdm commented on #7130
For now, make a prod instance and hand me the ID so I can get it upgraded. I will need to talk to a frontend developer about how to get logins to dev sandbox working.

[2022-09-26 15:57] lukeheath commented on #7591
@mna Good find! Thanks for fixing that.

[2022-09-26 16:05] noahtalerman commented on #7780
This issue is being de-prioritized. For now, the best practice is to use a separate tool (ex. Tines) or code that receives a webhook from Fleet and directs the webhook to multiple destinations (noahtalerman 2022-09-26).

[2022-09-26 16:11] sharvilshah opened #7943 "Orbit should include the manifest file necessary to use `windows_event_log` as a `logger_plugin`"
### Goal

In order to enable [Windows Event Log support](https://osquery.readthedocs.io/en/latest/installation/install-windows/#enabling-windows-event-log-support) in osquery via orbit -- it seems like orbit should include the necessary manifest file, with correct paths, which the built-in Windows `wevtutil` command can consume

Reference: https://osquery.slack.com/archives/C01DXJL16D8/p1664206251

[2022-09-26 16:17] chronicpulsesupplier commented on #7943
If you start with https://raw.githubusercontent.com/osquery/osquery/master/tools/wel/osquery.man and replace `Program Files\osquery.*` with `Program Files\Orbit\bin\osqueryd\windows\stable\osqueryd.exe` then it seems to work.

[2022-09-26 16:24] noahtalerman opened #7945 "Blogpost: Fleet 4.21.0"
Fleet 4.21.0 is scheduled for release on 2022-09-29

### Goal

Prepare and publish the release blogpost for Fleet 4.21.0 so that folks in the Fleet/osquery community can understand the latest improvements.

### How?

- [x] @mike-j-thomas: Hand images for cover and primary improvements to @noahtalerman
- [x] @noahtalerman: Write and publish blog post
- [ ] @noahtalerman: Complete CHANGELOG for 4.21

[2022-09-26 16:29] zwass commented on #7131
Sounds good to me! I could see doing it from the Orbit process as well. Please go with whatever option seems more reliable.

[2022-09-26 16:34] lukeheath opened #7946 "Fill unit testing gaps in high value functions and components"
### Goal

Determine where the gaps are in our unit testing strategy by identifying high value components and functions that do not have [unit tests](https://fleetdm.com/docs/contributing/fleet-ui-testing#unit-testing).

### How?

- [ ] Identify high value functions and components that do not have any unit, integration or e2e tests.

- [ ] Write unit tests for the identified functions or components

[2022-09-26 16:37] lukeheath opened #7947 "Implement Mock Service Worker (MSW) and DeviceUserPage integration tests as an example"
### Goal

Evaluate Mock Service Worker (MSW) as a library to mock API requests for use at the integration test layer.

### How?

- [x] Install MSW and use it to create integration tests for `DeviceUserPage`.
- [x] Based on this process, determine if MSW is a good long term solution for mocking API requests.
- [x] Create pattern for implementing dummy data.
- [x] Create data fixtures for dummy data

[2022-09-26 16:46] xpkoala commented on #7130
@zwinnerman-fleetdm https://t0929c566.sandbox.fleetdm.com Thank you!

I can add something to the platform call so this can be discussed a bit further. Ideally I would not have to bother the engineering team to assist with the setup of testing Sandbox as I'm sure this will get tedious / annoying after some time.

[2022-09-26 17:31] noahtalerman commented on #7945
@mike-j-thomas I assigned you this issue and added it to the digital experience board.  Can you create and upload the images for this release blog post? Thanks :)

[2022-09-26 17:46] zwinnerman-fleetdm commented on #7423
This has been tested and deployed to prod

[2022-09-26 17:46] zwinnerman-fleetdm commented on #7423
@zhumo would you like to verify before closing this?

[2022-09-26 17:49] noahtalerman opened #7951 "Store latest query results"
### Problem

When I run a live query in Fleet, I only see data for the hosts that are online right now. On an average Monday morning, only 20% of my hosts are online.

This makes it hard to ask questions and obtain insights for all of my hosts.

### Goal

Store latest query results so that users can see this information in the Fleet UI/API.

### Parent epic

- #7766

### Requirements

- For all sa

[2022-09-26 17:50] noahtalerman commented on #7951
@zhumo I assigned you this issue and added it to the platform section of the roadmap board.

This is the platform issue for the "See cached query results" epic: #7766

[2022-09-26 17:58] zhumo commented on #7676
@noahtalerman

* what is the first diagram for? Is this for people who are setting up fleet from scratch whereas the second one is if they are already have fleet?
* I wonder if enabling MDM would be on by default always. We just have to find a tasteful way to show hosts in non-MDM state that would gesture towards what's possible while simultaneously not being too much of an ad.
* Even if we end up

[2022-09-26 18:06] noahtalerman commented on #7676
@zhumo let's discuss during our call today @1:30p PST.

[2022-09-26 19:14] GuillaumeRoss opened #7954 "Going back/forward from the query page should not lose my query"
### Goal

When I am working on a query, I accidentally hit back (via gestures or anything else) in the browser. Then, I hit forward, and I am presented with the default query `SELECT domain FROM ad_config;`.

This is especially annoying when working on a long query, and I keep copying queries to my clipboard or even a notes document as I am afraid of losing them to browser shenanigans.

It would b

[2022-09-26 19:20] roperzh opened #7955 "make our test mock structures safe for concurrency"
### Goal

We have found tests failing because the library we use to generate mocks doesn't support the ability to output concurrent-safe structures, see https://github.com/fleetdm/fleet/actions/runs/3125104507/jobs/5069136977 and  https://github.com/fleetdm/fleet/pull/7952 for more details

### How?

Probably the lowest effort would be to fork the library and modify the template that generates the

[2022-09-26 19:21] roperzh commented on #7955
@chiiph assigning to you for prioritization, but I have the hunch that if we don't see any more tests failing after https://github.com/fleetdm/fleet/pull/7952 this is not very urgent.

[2022-09-26 19:26] mna commented on #7955
@roperzh actually it was ringing a bell, and looking back at old issues I found this one: https://github.com/fleetdm/fleet/issues/4240 .

[2022-09-26 19:27] noahtalerman opened #7957 "Add ability to turn on MDM for a host (manual enrollment)"
### Goal

As a device user, I want to be able to turn on MDM for my device so that I can let my organization keep my device up to date.

As a Fleet admin, maintainer, and observer, I want to be able to know when a host turns on MDM.

Note: Apple requires that the device user turns on MDM. The Fleet admin/maintainer can't do this remotely

### Related

- Parent epic: #7726
- #8175
- #8609

**UI**

[2022-09-26 19:28] roperzh commented on #7955
damn, you rock! that issue is great. Closing in favor of #4240

[2022-09-26 19:29] roperzh commented on #4240
adding another case where this bite us to the list: https://github.com/fleetdm/fleet/pull/7952

[2022-09-26 19:29] noahtalerman opened #7958 "List hosts that are pending automatic enrollment"
### Goal

As a user, in the Fleet UI, I want to be able to see macOS hosts that are waiting to be automatically enrolled a macOS host to Fleet so that I can change this host's team before the device user unboxes the host.

### Child Issues

- #8876
- #8879
- #8878
- #9219

### Requirements
- On Hosts page, see hosts MDM status and filter by that status
- Fleet admin sees the pending hosts, able to

[2022-09-26 19:29] mna commented on #7955
Sorry I didn't realize that sooner when we discussed it on the PR :D It's only when I saw the issue that it clicked...

[2022-09-26 19:49] noahtalerman commented on #7860
@fx5 @lukeheath to achieve the above (taken from this issue's description), I think Fleet will need to run several osquery queries.

In Fleet, a Windows host that is "enrolled (automatic)" is a host that was enrolled using the Windows Autopilot feature. To detect whether or a host was enrolled using Autopilot, I think we need to check (via osquery query) if the following key exists in the Windows

[2022-09-26 20:19] chiiph commented on #7359
Assigning to @GuillaumeRoss for review on what we have live.

[2022-09-26 21:23] noahtalerman commented on #7810
@chiiph tagging you here with the hope that you know some of the answers^^ 🤞

[2022-09-26 21:54] zhumo commented on #7778
We'll de-prioritize the heroku piece of this work unless we make a concerted push on getting heroku supported. Alex M is gonna reach out to Ben about getting servers working.

[2022-09-26 21:54] #7778 closed

[2022-09-26 21:57] noahtalerman commented on #7676
Heads up, I think these user journeys are missing steps to set up automatic enrollment (DEP). @lucasmrod is this correct?

I'm linking to the user journeys here:
- “Set up Fleet with MDM features” drawing (internal): https://docs.google.com/drawings/d/1Cg0MY_IjSt5q4TZwRg9SFj3NEG44M7ChnK38LOcDP-I/edit
- “Turn on MDM features” drawing (internal): https://docs.google.com/drawings/d/1X6Y3g74dp1B-ln3vj

[2022-09-27 00:10] noahtalerman commented on #7957
Canvas with user flow (internal): https://docs.google.com/drawings/d/1qWaioOPKA2JusIAwqHO1MnIzwe49WjvYxlV9jpDhfRE/edit

[2022-09-27 01:30] zwass commented on #6441
I am seeing the issue after updating Orbit and Desktop:

<img width="204" alt="Screen Shot 2022-09-26 at 6 29 23 PM" src="https://user-images.githubusercontent.com/575602/192410417-53f151ca-29f6-4183-9ede-8e44b5e16372.png">
<img width="199" alt="Screen Shot 2022-09-26 at 6 29 17 PM" src="https://user-images.githubusercontent.com/575602/192410420-8b390dee-1724-4f31-b69f-96d1d6a9245e.png">

[2022-09-27 01:31] zwass commented on #7131
Based on the continued issue of https://github.com/fleetdm/fleet/issues/6441#issuecomment-1258851683, maybe it's best to always kill any other Fleet Desktop processes when starting Orbit/Desktop? Then we can either start a new Desktop process (if enabled), or not.

[2022-09-27 05:56] xpkoala opened #7965 "4.21.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/fleetctl-preview)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium te

[2022-09-27 10:49] fx5 commented on #7823
What is `/queries/run` with no body meant to do? The documentation also says the fields are required, so I think I don't understand the ticket.

https://fleetdm.com/docs/using-fleet/rest-api#parameters62

[2022-09-27 13:17] lucasmrod commented on #6441
I was able to reproduce by changing the Orbit and Desktop channel in `/Library/LaunchDaemons/com.fleetdm.orbit.plist` from `stable` to `edge` and then running `sudo launchctl unload /Library/LaunchDaemons/com.fleetdm.orbit.plist` followed by `sudo launchctl load /Library/LaunchDaemons/com.fleetdm.orbit.plist`.

AFAICS the fleet icon duplication happens because Orbit doesn't handle the SIGTERM sign

[2022-09-27 14:00] chiiph commented on #7810
@edwardsb or @zwinnerman-fleetdm would know the answers to those.

I'm not sure we can truly come up with a default value that will work anywhere, hopefully somebody will tell me how wrong I am, but this feels like the kind of config we need to let infra folks deploying fleet decide. The directory needs to be read/writable by the user that fleet is running as, and it has to have enough space for t

[2022-09-27 14:08] zwinnerman-fleetdm opened #7969 "MDM Deployment to Dogfood"
Follow https://github.com/fleetdm/fleet/blob/6778363dccec6c72c63321a501ffd3bc26de790a/tools/mdm/apple/dogfood.md to deploy mdm to dogfood. https://github.com/fleetdm/fleet/pull/7940 is PR for mdm.

[2022-09-27 14:22] zwinnerman-fleetdm commented on #7810
Correct @chiiph, we can choose values that work in some common environments and publish guidance for these common environments (eg on-prem linux, PAAS linux, eks, gke, etc), but there will always be some edge case that will require a different path.

to answer @zhumo

Many kubernetes deployments are moving towards a completely read only container filesystem. This includes /tmp directories.

We can

[2022-09-27 14:33] zwinnerman-fleetdm commented on #7810
As a wider answer to questions like this, we should review with developers to make sure we are following container best practices. Here are two links that list and explain how to implement these best practices:

https://cloud.google.com/architecture/best-practices-for-building-containers
https://cloud.google.com/architecture/best-practices-for-operating-containers

[2022-09-27 14:41] chronicpulsesupplier opened #7970 "Enable packaging with files for mutual TLS support"
### Problem

Right now we can manually drop the client keypair on disk and use the packaged flagfile to provide the path, but ideally we would like to include the keypair in the .msi package so we can use a single clean package install for the entire agent. Right now I just don't see a way to bake the certificate and key files into the .msi using the fleetctl package command.

### Requirements
- C

[2022-09-27 14:56] marcosd4h commented on #7874
This was implemented through PR #7934

[2022-09-27 14:56] #7874 closed

[2022-09-27 15:40] noahtalerman commented on #6820
This blog post is available here: https://fleetdm.com/releases/fleet-4.18.0

[2022-09-27 15:40] #6820 closed

[2022-09-27 16:49] DrewBakerfdm opened #7974 "Create a background for an 8ft backdrop to be used at in-person events"
We will need to design a background that will be used at multiple in-person events.

This design will be printed on a fabric backdrop:

![Image](https://user-images.githubusercontent.com/89049099/192586961-6f05b3a5-425e-46fc-978f-1d6a95b9d323.png)

I will be linking the pdf guidelines as a google drive link.
https://drive.google.com/drive/folders/1tTd7qyTpMZ6K8CBj-jZcdhyAspqmc8V1?usp=sharing

Most

[2022-09-27 16:50] DrewBakerfdm commented on #7974
Please let me know if you have any other questions @mike-j-thomas

[2022-09-27 16:57] lukeheath opened #7975 "Remove usage of `dangerouslySetInnerHTML`"
### Goal

As frontend engineers, we want to make sure that the frontend code is up-to-date with best security practices so that our user interface is safe and secure.

### Child issues

- TODO: Remove usage of `dangerouslySetInnerHTML`
Story: As an Engineer, I want to ensure the User Interface implements best security practices to protect against cross-site scripting (XSS) attack.
- TODO: Audit fr

[2022-09-27 17:02] lukeheath commented on #7975
@ghernandez345 Thanks for calling this out. I created an epic to track progress. I'm assigning over to you for further specification and to spin out any child issues necessary. Feel free to edit as you see fit. Please include @RachelElysia in the process as an opportunity to gain frontend security experience.

Once we have a game plan and child issues outlined we can bring the epic onto the roadma

[2022-09-27 17:07] roperzh commented on #3563
note: I just faced an issue in a Windows VM related to this, I had Orbit with Osquery 5.4.0 installed, ran the uninstaller and installed Orbit with Osquery 5.5.1, afterwards Orbit failed to start with:

[code]

After removing `C:\Program Files\Orbit` and trying again the problem was gone

[2022-09-27 17:36] noahtalerman commented on #7676
Decision: De-prioritize the "Set up Fleet with MDM features" journey for now (noahtalerman 2022-09-26).

Reasoning:
- Upgrading existing Fleet users is a priority over new users.
- The "Turn on MDM features" journey can also be used by new users.

[2022-09-27 18:11] zwass commented on #7888
@michalnicp thank you for bringing this up.

I think that logging emails is not particularly sensitive in this case. My reasoning:

1) Anyone with access to the Fleet server logs also likely has access to the Fleet UI where they can see emails of other users (or other internal systems that would have these emails)
2) An email is not a secret that could be used to elevate access or privileges.

Use

[2022-09-27 19:21] mna commented on #7377
@lukeheath I have a PR out for the backend validation of the new flags section (#7979 ), and I will take a shot at the frontend changes in a separate PR, but note that this is not just static text changes - it requires some code to remove the `overrides` key from the yaml if empty, and to add the comment next to the `command_line_flags` if empty. Should not be crazy-hard, but it's more that I'm no

[2022-09-27 19:29] xpkoala commented on #7945
@chris-mcgillicuddy poking for visibility!

[2022-09-27 20:09] artemist-work commented on #7131
I haven't been able to reproduce this on macOS 12.6, though I am manually running the installer from desktop. Since #7015 was merged on August 2 it should kill the previous fleet instance if autostart is enabled, which is the default option even if desktop is disabled.

[2022-09-27 20:15] michalnicp commented on #7888
Instead of logging the email address, why don't we log the user id instead. An administrator could always look up the email address for the user if they need to.

In addition, users that deploy fleet may have concerns about compliance with certain laws and regulations, eg GDPR, when it comes to personally identifiable information (PII) being logged.

Not necessarily. An attacker may gain access to

[2022-09-27 20:21] chiiph commented on #7888
We don't have that unless the login attempt succeeds.

GDPR only applies to third party users. Company employees, which would be the ones deploying Fleet and/or having access to it don't apply.

Plus, I don't think we have heard this concern from customers, while we have been asked to have this in the logs.

We are defending against brute force attacks with rate limiting, though. I have a faint me

[2022-09-27 20:27] lukeheath commented on #7954
@noahtalerman What do you think of implementing this feature? Any UX implications you can think of? It's straight-forward from a dev perspective to save the draft query and auto-fill it if they return to the page.

[2022-09-27 20:29] mike-j-thomas opened #7987 "Syntax error when copy/pasting osquery table title from website into osquery editor in Fleet UI"
**Fleet version**: Dogfood @ 2022.09.27 15:22 CT

<hr/>

### 🧑‍💻  Expected behavior

Copy / pasted table name from [fleetdm.com/tables](https://fleetdm.com/tables/account_policy_data) into query editor. Expected to see the correctly formatted syntax.

### 💥  Actual behavior

Syntax error.

<img width="598" alt="image" src="https://user-images.githubusercontent.com/78363703/192628361-052b1e2a-cf47-

[2022-09-27 20:32] lukeheath commented on #7860
@fx5 Please reference the queries above in @noahtalerman's comment for the registry keys we'll be using to determine manual vs. automatic MDM enrollment. The `GET /os_versions?platform=window` endpoint can be referenced as an example of using osquery to query a windows registry. Please edit the description above to include any details that you will need during implementation. Just let me or @noaht

[2022-09-27 20:35] mike-j-thomas opened #7989 "BUG: Tooltip obstructing save and run controls on the query editor."
**Fleet version**: Dogfood @ 2022.09.27 15:30 CT

<hr/>

### 🧑‍💻  Expected behavior

When navigating from the query editor to the "run/save" controls, I expected the "compatible with" tooltip not to obstruct this action.

### 💥  Actual behavior
<img width="494" alt="image" src="https://user-images.githubusercontent.com/78363703/192629130-ae2c0c33-97f2-4fe2-9983-f40ff07dad26.png">

### More info
I'

[2022-09-27 20:42] lukeheath commented on #7823
@fx5 Sorry about that, the specs were unclear. Currently, no body returns a 500. Instead, we'd like to return a 400 (Bad Request) so that the frontend will simply display an error message. Otherwise, in this case, the frontend is redirecting to a 500 page and erroring out of the app. If there's another 4xx code (like 422) you think is more appropriate feel free to update the specs and use that.

[2022-09-27 20:42] lukeheath commented on #7823
And I've updated the specs to hopefully be more clear. Let me know if you have any questions. Thanks!

[2022-09-27 20:42] fx5 commented on #7860
@lukeheath I don't understand why/how this is relevant for the ticket. As I understand it, this ticket is about providing information that is already in the database. The registry keys seem to me like an ingestion thing, to determine whether or not manual or automatic enrolment happened, but at the moment we write the correct data into the database. What am I missing?

[2022-09-27 20:46] lukeheath commented on #7377
@mna Sounds good! Thanks for handling the frontend aspect and feel free to ping @frontend with any questions :)

[2022-09-27 20:49] lukeheath commented on #7860
@noahtalerman Would you please provide some context based on your research? It may make sense for the two of y'all to have a call to knowledge transfer.

[2022-09-27 20:51] zhumo commented on #7242
Closed by https://github.com/osquery/osquery/pull/7747

[2022-09-27 20:51] #7242 closed

[2022-09-27 20:52] zhumo commented on #7241
Duplicate of #7242

[2022-09-27 20:52] #7241 closed

[2022-09-27 20:52] #7249 closed

[2022-09-27 21:28] eashaw commented on #7920
@noahtalerman I have a PR to move the schema merging code from `build-static-content.js` into a separate file that can be called from other scripts. Once that is merged, we can use it for this script.

I have a few questions about the requirements for this script:
- Will this script need to do anything other than merging the schema and saving it to a file in the repo?
- Where will the merged schem

[2022-09-27 22:34] michalnicp opened #7992 "Login page should redirect to dashboard if already authenticated"
### Goal

When going to the login page, we should redirect to the dashboard if the user is already authenticated ie the `FLEET::auth_token` is already set in LocalStorage and is valid. This would match the behaviour of other websites.

Currently, this is a poor UX because users may be unnecessarily entering their credentials even though they are already authenticated. For example, if you bookmarke

[2022-09-27 23:17] zhumo commented on #7908
In a slack conversation, I learned that the "request more time" button is intended to kick off a sales demo call. It is not actually intended to get you more time for now. You do it through sales. As such, we don't need to preserve sandbox data past the 24 hour limit.

[2022-09-27 23:38] noahtalerman commented on #7954
@lukeheath bringing this to estimation makes sense to me.

I would expect the behavior of creating/editing a query Fleet to mirror that of creating/editing an issue in GitHub.

I didn't do a full test but here's some things I caught when using GitHub:
- If I'm creating/editing a query and I head to a new URL, then hit the back button, my edits are still present.
- If I'm creating/editing a queryan

[2022-09-27 23:48] noahtalerman commented on #7860
@lukeheath my understanding is that this ticket covers both the ingestion (query writing) and providing information via API. Is this right?

@fx5 this is correct. However, we don't have this information for Windows hosts. I think obtaining the information for Windows host is part of this issue.

We only have this information for macOS hosts.

[2022-09-27 23:53] noahtalerman commented on #7920
I think the script only needs to merge the schema. For now, we can manually save the schema to the repo. Later, we can address saving it to the repo automatically.

I think the `schema/` folder: https://github.com/fleetdm/fleet/tree/main/schema

@lukeheath does the above make sense to you?

[2022-09-27 23:53] noahtalerman commented on #7920
cc @eashaw I forgot to tag you ^^

[2022-09-28 00:11] juan-fdz-hawa opened #7993 "Figure out the limits of our current search approach"
### Goal

By adding new `hosts` tables with columns of different types, figure what are the limits in terms of I/O of our current search/sorting approach.

[2022-09-28 00:15] noahtalerman commented on #7945
@chris-mcgillicuddy heads up, I won't get to this list today. I'll make sure to get this to you tomorrow.

[2022-09-28 01:50] zwass opened #7995 "Styling on My Device page info modal"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: macOS 12.6

**Web browser**: Firefox 104.0.2

<hr/>

### 💥  Actual behavior

Click on "My device" in Fleet Desktop. Click on "info". The link icon seems a bit big, pushing the rest of the text around.

<img width="707" alt="Screen Shot 2022-09-27 at 6 48 54 PM" src="https://user-

[2022-09-28 05:25] sharvilshah commented on #4188
We have removed (deprecated) `is_active` column from this table in osquery, this will be in osquery 5.6.

Should I close the issue?

[2022-09-28 06:45] fx5 commented on #7860
@noahtalerman Thanks for the clarification, I updated the issue to include the ingestion.

[2022-09-28 12:40] mna opened #7997 "Team agent options validations don't show helpful error message"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
4.21 RC (i.e. `main` during the freeze for this release)

**Operating system**: _(e.g. macOS 11.2.3)_
Linux (Fedora)

**Web browser**: _(e.g. Chrome 88.0.4324)_
Firefox 105.0.1 (64-bit)

<hr/>

### 🧑‍💻  Expected behavior

When attempting to save Agent options with an invalid key in Team's settings, see

[2022-09-28 13:06] mna commented on #7835
We're still missing what we want to translate the messages to, but we can take a shot at estimating this anyway.

[2022-09-28 13:42] mna commented on #7879
@lukeheath Something to keep in mind is the size of the response payload, but I think we're talking about a hundred or so policies at most so that should still be fine (though there's no enforced limitation to that).

[2022-09-28 15:13] noahtalerman commented on #7860
@fx5 here's a link to Miradore which provides a free MDM solution for Windows: https://www.miradore.com/

[2022-09-28 15:56] roperzh commented on #7354
@lucasmrod did this happen to you using `tools/tuf/test`? or using a remote server? I tried to repro but it seems to work for me using both `main` (7356378d0fd762d7c6fe390da9664b4e849f2a37) and the commit you pointed out.

[code]

[2022-09-28 16:01] noahtalerman opened #8002 "In Fleet UI, inform the user how to override validation for agent options"
UPDATE: I'll address the documentation portion of the issue as part of the 4.21 release. The frontend changes will be included in the next release (4.22). (noahtalerman 2022-09-28)

As of Fleet 4.21 (release date 2022-09-29), agent options are validated based on the latest osquery: #5222

### Goal

As a user with older versions of osquery installed on my hosts, I want to know how to override the v

[2022-09-28 16:17] lucasmrod commented on #7354
I reproduced this when trying to release a new version of our Orbit components to our TUF server.

[2022-09-28 17:18] zhumo opened #8004 "AWS Marketplace w/ native pricing option"
### Problem

AWS requires us to offer a pricing option native to AWS Marketplace ~90 days after launch. To achieve this, we need to go through various technical reviews and build an integration to their pricing system.

### Requirements
- Use the contract-based pricing w/ our current pricing ($1/host/month)
- Pass the AWS foundational technical review (FTR) as listed in step 3 and 4 here: https://

[2022-09-28 18:21] zhumo opened #8006 "MacOS 13 `docker_containers.config_entrypoint` is blank"
MacOS 13 beta, Osquery 5.4.0

<hr/>

### 🧑‍💻  Expected behavior
Should return data that matches what appears on MacOS 12

### 💥  Actual behavior
`docker_containers.config_entrypoint` is blank

### More info
https://drive.google.com/drive/folders/1dZZOV2uUyUU4nDOM2INXtltKnsyNuC29?usp=sharing
^ Data from testing of tables on MacOS 12 and MacOS 13.

[2022-09-28 18:23] zhumo opened #8007 "MacOS 13 `docker_containers.finished_at` is a timestamp at January 1st, 1 CE."
MacOS 13, Osquery 5.4.0

<hr/>

### 🧑‍💻  Expected behavior
finished_at should show a plausible time

### 💥  Actual behavior
Finished_at reported Jan 1, 1 CE, which didn't have docker at the time.

### More info
https://drive.google.com/drive/folders/1dZZOV2uUyUU4nDOM2INXtltKnsyNuC29?usp=sharing
^ Testing data to help compare outputs of MacOS 12 and MacOS 13

[2022-09-28 18:25] zhumo opened #8008 "MacOS 13. `docker_volumes.name` is no longer a human-friendly name"
MacOS 13, Osquery 5.4.0

<hr/>

### 🧑‍💻  Expected behavior
previously, on MacOS 12, this attribute had a human readable name

### 💥  Actual behavior
On MacOS 13, it is just a jumble of letters

### More info
https://drive.google.com/drive/folders/1dZZOV2uUyUU4nDOM2INXtltKnsyNuC29?usp=sharing
^ Testing data to compare MacOS 12 outputs and MacOS 13 outputs.

[2022-09-28 18:26] noahtalerman commented on #7884
@RachelElysia great call. I prefer if the request details are just left in the product office hours Google Doc.

[2022-09-28 18:40] marcosd4h opened #8009 "Icon duplication is observed after terminating the fleet-desktop app"
Fleet desktop app tray icon is getting duplicated after the app is terminated and restarted

**Operating system**:  Windows

<hr/>

### 🧑‍💻  Expected behavior
No icon duplication should happen after app restart

### 💥  Actual behavior
Icon duplication is happening

### More info
In order to reproduce the issue, manually kill the desktop app and wait for Orbit to restart it

[2022-09-28 18:45] noahtalerman opened #8010 "Recently deleted macOS application appears on My device page"
**Fleet version**: I observed this behavior on Fleet's internal dogfood instance (running commit `ecba812 `)

<hr/>

### 🧑‍💻  Expected behavior

1. I visited the **My device** page and saw that I had a vulnerable version of GarageBand installed.
2. I deleted GarageBand, emptied **Trash**, and hit the **Refetch** button on the **My device** page
3. I expect GarageBand to not appear in the My device

[2022-09-28 19:00] noahtalerman commented on #8010
@chiiph @xpkoala heads up, I think this bug is a release blocker.

Please let me know how I can help make sure this issue makes it into the upcoming 4.21 release.

[2022-09-28 19:12] noahtalerman commented on #7945
@chris-mcgillicuddy I assigned you to this issue. Can you please drive the writing of the blogpost? Please let me know how I can be helpful :)

FYI I added the "List of other improvements."

[2022-09-28 19:12] noahtalerman commented on #7945
@mike-j-thomas pinging you an extra time. In case you missed the first notification :)

[2022-09-28 19:14] chiiph commented on #8010
@noahtalerman what's the output of the following osquery query:

[code]
?

[2022-09-28 19:15] chiiph commented on #8010
I don't think this is a regression since nothing was changed in this area.

[2022-09-28 19:28] noahtalerman commented on #8010
@chiiph here's my raw output:

[code]

[2022-09-28 19:39] wclithero opened #8013 "Software Last Used"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

During dogfood demo, drilled into my individual machine and looked at software (sorted by last run). Expected to see chrome and Zoom as most recent but instead saw latest softwar

[2022-09-28 19:55] wclithero opened #8015 "Performance Impact of Scheduled Queries"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Drilled down on my machine (Williams-MacBook-Pro.local) during demo and expected to see the performance impact of all 4 scheduled queries.

### 💥  Actual behavior

Undetermined f

[2022-09-28 19:59] GuillaumeRoss opened #8016 "Add all example queries in spreadsheet to the website"
### Goal

I've written a lot of example queries in an internal spreadsheet. We need to make that content public!

### How?

- [ ] Add all example queries from spreadsheet to https://github.com/fleetdm/fleet/blob/main/schema/fleet_schema.json

[2022-09-28 20:45] #7780 closed

[2022-09-28 20:49] #7258 closed

[2022-09-28 20:49] xpkoala opened #8018 "Back to packs button inaccurate"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
Centered back chevron

### 💥  Actual behavior
Squished back chevron

### More info

<img width="204" alt="image (3)" src="https://user-images.githubusercontent.com/11012743/192885863-792f4a29-4e4b-4d2e-a2e9-7ac713ef5e7b.png">

[2022-09-28 20:50] #7250 closed

[2022-09-28 20:50] #7248 closed

[2022-09-28 20:55] #6766 closed

[2022-09-28 21:04] #6060 closed

[2022-09-28 21:05] #4973 closed

[2022-09-28 21:06] #4855 closed

[2022-09-28 21:07] zhumo commented on #4337
What's the status of this?

[2022-09-28 21:32] mike-j-thomas commented on #7945
Thanks, @noahtalerman.

[2022-09-28 21:36] lucasmrod commented on #4337
Extension registering in Windows seems to be more stable in recent releases. There have been changes like [this one](https://github.com/macadmins/osquery-extension/pull/15) that could have possibly help with this issue.

We haven't received reports of this issue for a while now. Let's close and re-open if need be.

[2022-09-28 21:36] #4337 closed

[2022-09-28 22:06] eashaw commented on #5730
Closing this issue, this content is in our handbook at https://fleetdm.com/handbook/digital-experience/how-to-submit-and-publish-an-article

[2022-09-28 22:06] #5730 closed

[2022-09-28 22:12] eashaw commented on #7389
Closed by https://github.com/fleetdm/fleet/pull/7679

[2022-09-28 22:12] #7389 closed

[2022-09-28 22:14] eashaw commented on #7844
closed by https://github.com/fleetdm/fleet/pull/7932

[2022-09-28 22:14] #7844 closed

[2022-09-28 22:35] zwass commented on #6514
@sharvilshah can you please expand on what the conversation was? Is this perhaps intended to refer to `logger_tls_endpoint`?

[2022-09-29 11:59] lucasmrod opened #8021 "Orbit to support deployments with hosts with duplicated hardware UUIDs"
# Goal

We've heard reports from users that some of their osquery hosts have duplicate hardware UUIDs (probably VMs? or containers?). If using vanilla osquery, they can workaround by setting something like `--host_identifier=instance`.
We need a reasonable workaround for Orbit users. If there are devices with duplicate UUIDs, those instances of Orbit and osquery will re-enroll indefinitely because

[2022-09-29 12:42] roperzh commented on #7354
gotcha, thanks. And just to make sure I understand the extent of the situation: are you currently using an old fleet binary to push the targets? do you remember what version?

[2022-09-29 14:46] xpkoala commented on #8010
@chiiph Any more thoughts on this or what @noahtalerman is experiencing. This is currently labeled as a release_blocker.

[2022-09-29 15:23] noahtalerman commented on #8010
@xpkoala are you able to reproduce the same (or similar) behavior?

This is a release blocker because a previously stable workflow seems to be broken.

[2022-09-29 15:23] xpkoala commented on #8010
@noahtalerman In the process of reproducing.

[2022-09-29 15:33] xpkoala commented on #8010
@noahtalerman I am not able to reproduce.
- Garageband was uninstalled and showed as much on my fleet instance.
- Installed Garageband
- refetched host
- Garageband shows as installed
- Remove Garageband from host
- refetched host
- Garageband shows as not installed

[2022-09-29 15:39] xpkoala commented on #8010
@chiiph Removed this as a release blocker. I'm going to dig into it more with @noahtalerman after this release.

[2022-09-29 16:15] gillespi314 commented on #3717
To fix the root cause of the issue, it look like we would need a change to osquery [itself](https://github.com/fleetdm/fleet/issues/3717#issuecomment-1014841844).

From a Fleet server perspective, we still need some product direction on the API and the UX.
Do we reject all requests where a pack name or schedued query name includes the delimiter? What reason/status code do we want to give? How will

[2022-09-29 17:37] noahtalerman commented on #7676
@lucasmrod we'd like Fleet to be able to determine if the APNs certificate or DEP server token is invalid. How difficult is this?

Check out the UI wireframes for the desired behavior:

![Image](https://user-images.githubusercontent.com/47070608/193103238-6a69326e-9e9d-49e2-b3eb-fd45030c58e5.png)

[2022-09-29 18:23] juan-fdz-hawa commented on #7993
@chiiph @mna

### The Approach

The idea is to start with a single feature (using the schema below), test the performance of the listed queries and then add more features (using the same schema), test the performance of doing multiple joins and keep doing this until the system ‘breaks’.

Each feature will be heavily indexed, since I’m guessing we also want to measure the impact of having a schema

[2022-09-29 18:52] zhumo commented on #7676
To add more color here, does Apple provide various APIs to check on the status of a cert?

[2022-09-29 19:19] noahtalerman commented on #6226
Duplicate of #7805

[2022-09-29 19:19] #6226 closed

[2022-09-29 20:34] eashaw commented on #7045
closed by https://github.com/fleetdm/fleet/pull/7360

[2022-09-29 20:34] #7045 closed

[2022-09-29 21:17] xpkoala commented on #8018
@RachelElysia The fix looks good on Safari and Chrome but is still slightly off on Firefox. It also seems like a similar issue is happening on the <back> button when viewed from the edit pack page. The first screenshot below is from the 'new pack creation' page. The second image shows the <back> area when viewed from the 'edit pack' page.

From left to right: Safari, Firefox, Chrome

New pack

![S

[2022-09-29 21:38] #7920 closed

[2022-09-29 21:39] RachelElysia commented on #8018
@xpkoala How important is this for the release? It seems like we just want to overhaul all back links to use the same component and styling since they're inconsistent, which will take ~2 hours tomorrow.

[2022-09-29 22:03] mike-j-thomas commented on #7945
@chris-mcgillicuddy, @noahtalerman. Release post images can be downloaded from here:

![fleet-4 21 0-800x450@2x](https://user-images.githubusercontent.com/78363703/193149816-2b71c1a3-1b19-453a-aaee-15423c06e5ed.jpg)

![failing-global-policies-800x450@2x](https://user-images.githubusercontent.com/78363703/193149824-4eccd891-6a59-45b4-9b99-3fcf7d9adc9a.jpg)

![configure-flags_800x450@2x](https://use

[2022-09-29 22:17] zwass commented on #7895
I'm asking in macadmins slack #munki channel about whether this is some kind of standard with the base64: https://macadmins.slack.com/archives/C04QVPFGU/p1664489640209459

I also wonder whether we could change Munki to output the `display_name` rather than the name? But I guess it all depends on what is standard for Munki.

[2022-09-29 22:55] chris-mcgillicuddy commented on #7945
@noahtalerman Could you please review my draft of the 4.21.0 release article?

https://docs.google.com/document/d/1b2JzgoBU03H6e3qYIcvxXnW86TZ6z9mS7gwIBWDsCTQ/edit?usp=sharing

[2022-09-29 23:02] gillespi314 commented on #7784
@marcosd4h, I've opened a [PR](https://github.com/fleetdm/fleet/pull/8030) that I believe should resolve this issue. Would you mind trying it out in your environment? Thanks!

[2022-09-30 00:27] zwass commented on #8007
I tested on macOS 12 and osquery 5.5.1. This isn't an issue with macOS 13, it's a problem with the data the Docker API returns.

For example, a container started with `docker run -it bash`:

[code]

Docker API:
[code]

Containers started with `docker-compose` seem to show a `finished_at` time (that doesn't make sense) even if they are still running:

[code]

[code]

My recommendation would be that

[2022-09-30 00:30] zwass commented on #8008
This is not likely to have anything to do with macOS 13. Docker volumes can be named with a human-friendly name, but they'll get a random identifier if they are not.

On my system:

[code]

@zhumo please close out this issue if the answer seems satisfying.

[2022-09-30 00:43] zwass commented on #8006
This is also not a macOS 13 issue.

It seems like Docker sometimes has an empty entrypoint and instead the `command` column includes the command:

[code]

I also verified that this is consistent with what the API returns (`null` for `Entrypoint`, and the values we see here for `Cmd`).

@zhumo please close this out if the explanation is satisfying.

[2022-09-30 11:51] ghernandez345 commented on #8018
@RachelElysia, it's definitely the right approach to make sure we're consistent

[2022-09-30 11:59] roperzh opened #8031 "add security headers to endpoints serving the UI"
We can enhance Fleet's security by adding a couple of headers to all content served for the purpose of rendering the UI.

Currently we're only sending the following:

[code]

The following headers are very easy to add:

- `Strict-Transport-Security: max-age=31536000; includeSubDomains;`, from [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security):

- `X-Frame-Op

[2022-09-30 11:59] roperzh commented on #8031
@chiiph assigning for you for triage/prioritization

[2022-09-30 12:18] lucasmrod commented on #7676
Hi @noahtalerman. I believe the wireframes are assuming some automation (via a Fleet DM hosted service).

For reference, here are the steps if we were to implement "full manual" UI wireframes:

1. Fleet server generates a push `.key` and push `.csr`. Push key is stored internally (user doesn't need to know of it). User downloads the push `.csr` file.
2. User sends push `.csr` to a Fleet representa

[2022-09-30 12:29] lucasmrod commented on #7676
Yes. When the user uploads the final PEM to Fleet, I believe there will be a way to connect via TLS to verify the uploaded  PEM certificate (via making a test TLS connection to api.push.apple.com:443).

[2022-09-30 12:46] roperzh opened #8032 "`/orbit/*` endpoints shouldn't use `osqueryError` as the return value for errors"
See https://github.com/fleetdm/fleet/pull/7779#discussion_r983708175 for more details.

[2022-09-30 13:19] roperzh opened #8033 "reset password tokens are not expired"
**Fleet version**:  main 963297a

<hr/>

### 🧑‍💻  Expected behavior

Reset password tokens expire after a reasonable time

### 💥  Actual behavior

I was able to reset an account password with an `password_reset_requests.expires_at` set to `NOW() - INTERVAL 1 YEAR`

### More info

There are two problems going on here simultaneously, on the surface, it looks like we're setting an expiration time:

h

[2022-09-30 13:20] roperzh commented on #8033
@chiiph assigning to you for triaging/prioritization

[2022-09-30 13:40] lukeheath commented on #7954
That sounds like a good reference point, thanks!

[2022-09-30 15:21] noahtalerman commented on #7945
Thanks!

@chris-mcgillicuddy heads up, the following image is not a feature included in this release (4.21). So, I think we should leave it out of this blogpost.

![failing-global-policies-800x450@2x](https://user-images.githubusercontent.com/78363703/193149824-4eccd891-6a59-45b4-9b99-3fcf7d9adc9a.jpg)

This^ "Add ability to know how many hosts and which hosts, assigned to a team, pass/fail global

[2022-09-30 15:30] noahtalerman commented on #6514
@sharvilshah @zwass FYI I added the following ticket to the issue description because it seems related: #6513

This issue will be addressed as part of the following issue (included in 4.21 release): #5222

[2022-09-30 15:39] mike-j-thomas commented on #7945
Thanks @noahtalerman, I misinterpretted the change. Please can you advise me on a suitable image from Fleet UI, if there is one?

[2022-09-30 15:42] noahtalerman commented on #7945
@mike-j-thomas I think we can accomplish this by showing the user switching from "All teams" to a specific team on the **Hosts** page with a policy filter applied.

I included 2 static screens below to showcase this idea:
![Screen Shot 2022-09-30 at 8 39 54 AM](https://user-images.githubusercontent.com/47070608/193306790-3aed1d20-72a4-40f6-861f-97f1a61b2038.png)
![Screen Shot 2022-09-30 at 8 40 17

[2022-09-30 15:49] mike-j-thomas commented on #7945
@noahtalerman,

No problem.

Ok, good. I was looking at that filter, but I wasn't sure if dogfood was running 4.21.

[2022-09-30 15:54] noahtalerman commented on #7945
@chris-mcgillicuddy I reviewed your blogpost draft and left some comments/suggestions: https://docs.google.com/document/d/1b2JzgoBU03H6e3qYIcvxXnW86TZ6z9mS7gwIBWDsCTQ/edit#

[2022-09-30 16:16] eashaw opened #8036 "Move the Fleet swag CTA on documentation pages to the right sidebar"

[2022-09-30 16:18] lukeheath commented on #7589
@RachelElysia I've updated the specs on the related backend tickets. When you have a moment would you please review those to make sure they are aligned with your frontend implementation? Thanks!

[2022-09-30 16:23] noahtalerman commented on #7676
Makes sense. I think we want this automation as part of the production release.

I'm not sure I understand. The user could take a single action (click) correct? I click "Download" and behind the scenes Fleet takes care of the steps to generated a signed `.req` and the download begins automatically in my browser.

cc @zhumo

[2022-09-30 16:30] noahtalerman commented on #7957
@lucasmrod is it possible to include the MDM enrollment profile (`.mobileconfig`) in the `fleet-osquery.pkg`?

I'm trying to understand if this is possible: Fleet administrator distributes a `.pkg` that both installs Orbit/Fleet Desktop and the MDM enrollment profile. During `fleet-osquery.pkg` installation steps, the end user is led through the steps to enable the enrollment profile.

[2022-09-30 16:35] noahtalerman commented on #7676
Decision: Punt on adding the ability to renew APNs certificate or DEP server token for now.

Reasoning: We can come back to this because the certificate and server token are valid for 1 year.

(noahtalerman 2022-09-20)

[2022-09-30 16:55] lucasmrod commented on #7676
Say, I click Download. Then, behind the scenes Fleet takes care of the steps to generated a signed .req. Last, the download begins automatically in my browser.

Yes, from user standpoint it's one action "Download".
On Fleet, this would involve multiple steps, one of them being a request to a Fleet DM hosted service and the last one being the download of the `.csr`

[2022-09-30 17:01] lucasmrod commented on #7957
Good question.

Enrolling to an MDM server as part of the installation adds complexity to the installer process. What if there was a temporary network error during enrollment? Should the installer fail/revert? And the user can try again later? I'll take a look at what's possible.

PS: One other alternative is to add a "enroll to MDM" option to the Fleet Desktop button?

[2022-09-30 17:05] juan-fdz-hawa commented on #7993
That's the schema for a single feature, all other features will use the same schema (you can think of the table shown as a 'template'), so we will have `feature_a`, `feature_b`, ..., `feature_n` and all will have the same schema

[2022-09-30 17:10] lukeheath opened #8040 "Standardize implementation of back link"
## Goal

As an Engineer, I want the standardize our implementation of the back link so that it is not re-implemented on every page, so that I can maintain a single implementation and ensure it consistently displays across all pages

## Requirements

- Create new `BackLink` component to replace all individual implementations throughout application.
- Ensure consistent spacing and placement across a

[2022-09-30 17:23] xpkoala commented on #7749
@eastbook Did either of the two comments Lucas made help with narrowing down the cause of your issues? If not I would recommend joining the osquery slack channel. This doesn't appear to be a bug at this time.

[2022-09-30 17:28] xpkoala commented on #7852
@michalnicp Was this a fleet-osquery.pkg downloaded from a Sandbox instance? I can't reproduce this one currently.

[2022-09-30 17:34] michalnicp commented on #7852
Generated package locally using

[code]

[2022-09-30 17:37] xpkoala commented on #8013
@chiiph It appears that some subset of devices on Dogfood are not having their software last used by information updated. Looking at a few random devices (Kathy, Charlie, Noah) the earliest "last used" software is all 9 days ago.

[2022-09-30 18:00] hollidayn opened #8042 "Fleet icon not showing in status bar on laptop, laptop showing offline in Fleet dashboard."
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
Fleet 0.0.0-SNAPSHOT-5d001c9 • Go go1.19.1

**Operating system**: _(e.g. macOS 11.2.3)_
macOS Monterey 12.6.0

**Web browser**: _(e.g. Chrome 88.0.4324)_
Version 105.0.5195.125

<hr/>

### 🧑‍💻  Expected behavior

Fleet logo at top of screen on status bar
Laptop showing as online in Fleet dashboard

###

[2022-09-30 18:05] xpkoala commented on #7987
To reproduce grab a table from this page and paste it into the query field. https://fleetdm.com/tables/atom_packages

[2022-09-30 18:11] smaddock commented on #7852
Generating under root produces a few less warnings, but still a lot.

Apple’s native tool, `pkgbuild` has a flag `—ownership recommended` that addresses this, but not sure what the equivalent is in the cross-platform Go library Fleet is using.

[2022-09-30 18:14] noahtalerman commented on #8042
Here's my taskbar:
<img width="1493" alt="Screen Shot 2022-09-30 at 11 13 35 AM" src="https://user-images.githubusercontent.com/47070608/193331730-b183fb63-e7a5-47d8-b476-c84b92e9b2ac.png">

[2022-09-30 18:14] xpkoala commented on #8042
My guess is this was introduced with the push of new orbit to the edge channel. @noahtalerman is also experiencing this issue with his host enrolled in dogfood.

[2022-09-30 18:15] lucasmrod commented on #8042
Hi folks, can you attach (or DM) Orbit logs `/var/log/orbit/orbit.stderr.log`?

[2022-09-30 18:35] #8036 closed

[2022-09-30 19:03] lukeheath opened #8045 "Create GitHub Action that runs osquery/Fleet JSON schema file creation"
### Goal

As an Engineer, I want a GitHub Action that I can manually run that will generate a JSON file representing the unified schema between osquery and Fleet so that I do not have to manually maintain it.

### Requirements

- @eashaw created a script to combine the osquery schema and Fleet schema. This script currently lives in Sails, the website framework.
- We need to abstract the script fro

[2022-09-30 19:05] lukeheath commented on #8045
@ghernandez345 @noahtalerman Heads up this is the ticket to create a GitHub Action to generate the JSON schema. I've brought to the roadmap for estimation next week.

[2022-09-30 19:05] zhumo opened #8046 "Windows - Prevent msi installation from being treated like malware"
### Problem

When I tried to install Orbit on my windows machine, the OS acted like it was malware. See video:

https://www.loom.com/share/4269b0bacbe84b748270c0fcc9676eba

<img width="322" alt="image" src="https://user-images.githubusercontent.com/5359586/193339582-b632166d-e880-417d-a0bd-c75537a095c7.png">

### Requirements
1. Eliminate the windows warning as seen above.
2. Include the version i

[2022-09-30 19:11] zhumo commented on #7479
@noahtalerman

![Image](https://user-images.githubusercontent.com/5359586/193340435-b62f2b44-ddfc-421c-b6e6-210ea2151b1d.png)

[2022-09-30 19:15] zhumo commented on #7455
@lucasmrod has the dogfood MDM been released for Guillaume to start working?

[2022-09-30 19:16] lukeheath commented on #7987
It looks like this is happening because the website is including a unicode string:

![Image](https://user-images.githubusercontent.com/2495927/193340878-6d3fd51f-c6ec-4ed0-acae-a0f88115afb4.png)

@eashaw is it possible to exclude the `&ZeroWidthSpace;` string from the table titles?

[2022-09-30 19:17] lucasmrod commented on #7455
The PR is up for review, and we are tackling the last remaining bits, should be merged (ready for deploy) by ~ Tuesday (Oct 4).

[2022-09-30 19:17] zhumo commented on #7423
Confirmed. Done!

[2022-09-30 19:17] #7423 closed

[2022-09-30 19:20] zhumo commented on #6852
Thanks for your hard work, Reed!

[2022-09-30 19:20] #6852 closed

[2022-09-30 19:21] zhumo commented on #5045
Looks like this was done... closing!

[2022-09-30 19:21] #5045 closed

[2022-09-30 19:39] lukeheath commented on #7860
@fx5 This will be your next top priority after your current feature work is merged in. I've brought into the "Release" board for you to start when you are ready next week.

[2022-09-30 19:40] lukeheath commented on #7879
@mna I've brought this into the "Release" board for you to start work on next week. Thanks!

[2022-09-30 19:49] mike-j-thomas commented on #7945
@chris-mcgillicuddy and @noahtalerman, here's the updated image for "Know how many hosts and which hosts, on a team, are failing a global policy".

![team-hosts-failing-global-policy-790x450@2x](https://user-images.githubusercontent.com/78363703/193345684-e0cc9598-8bc8-47e1-abd8-943289e68ad5.gif)

[2022-09-30 19:50] lukeheath commented on #7947
@ghernandez345 Since you may be temporarily blocked next week on the schema issue for the query side panel, I've brought this in so you have something high priority to work on when/if you get blocked.

[2022-09-30 20:01] gillespi314 commented on #6027
@zhumo, if the same policy exists at both the team-level and global-level, would that be counted as two violations? For example, what if a host is in violation of both policies below:
<img width="298" alt="Screen Shot 2022-09-30 at 3 01 13 PM" src="https://user-images.githubusercontent.com/73313222/193347588-cc0c3691-396e-4ac0-a9e7-f78279567c43.png">

[2022-09-30 20:04] marcosd4h commented on #7784
PR is working fine!

![image](https://user-images.githubusercontent.com/17311749/193348078-bb372cc8-9f50-4457-9d27-b127ba6e75f3.png)

[2022-09-30 20:05] RachelElysia opened #8049 "Fleet UI: Delete an enroll secret can still click Add host button"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

When I click on Add hosts and I have 0 enroll secrets, in the Add hosts modal I see "Something went wrong. You have no enroll secrets... [same copy that appears in the no enroll

[2022-09-30 20:10] zhumo commented on #6027
Hmm good question.

In general, the screen shot you shared shouldn’t happen right? You wouldn’t
clone the exact same policy and run it twice?

But I think if someone insists on doing that, then I think we would count
it as two separate policies.

On Fri, Sep 30, 2022 at 1:01 PM gillespi314 ***@***.***>
wrote:

--

*Mo Zhu*

Product Manager

fleetdm.com <http://www.fleetdm.com> | @fleetctl
<https:/

[2022-09-30 22:41] eashaw commented on #7987
@lukeheath Yes, we can do that! I'll make a PR to update these headings.

[2022-09-30 23:03] #7987 closed

[2022-10-03 12:38] marcosd4h opened #8057 "Osqueryd and Fleet-Desktop execute's runner functions don't immediately return when interrupted"
**Operating system**: Windows 10

<hr/>

### 🧑‍💻  Expected behavior
Osqueryd and Fleet-Desktop execute's runner functions should interrupt immediately

### 💥  Actual behavior
Osqueryd and Fleet-Desktop execute's runner functions takes between 5-15 secs to interrupt

### More info
We probably need to add an extra channel that can be signalled externally from interrupt methods(). Also, interrupt met

[2022-10-03 12:51] marcosd4h opened #8058 "Add VERSIONINFO and signing information to windows binaries"
### Problem
When I try to install Fleetd via .msi, I get a warning that says the package I'm trying to install is untrusted and may be malicious. This is quite alarming and reduces uptake of Fleet.

### Solution
The Fleet MSI installer for windows and the Orbit windows binaries (orbit.exe and fleet-desktop) should have VERSIONINFO information and should be code-signed with FleetDM code signing cer

[2022-10-03 12:52] mna commented on #7993
I really like the approach, I think it does cover pretty much all types of feature filtering/ordering that we use (and are likely to use). Just one comment - this seems to target testing the reads, but the writes will also be (perhaps significantly) impacted, so at some point the ingestion part might need to be tested with those same feature tables too (maybe that was your plan anyway, but just wa

[2022-10-03 13:06] chiiph commented on #8031
Let's leave CSP out of the scope of this issue for now, as it might be a bigger effort than the rest.

[2022-10-03 13:43] marcosd4h opened #8059 "Better troubleshooting of field issues through data collection flow"
### Goal

The process of identifying the cause of a field issue usually involves a lot of time spent on reproducing the issue itself first, before jumping into the code to understand what happens. The issue reproduction phase is problematic, error-prone and usually involves a lot of interaction with the customer that reported the issue.

To minimize the issue reproduction time, it will be good to

[2022-10-03 13:54] marcosd4h commented on #8059
@zhumo Mo this is something to consider adding to help with the support effort. Having a troubleshoot tool/functionality to collect statistics is a common practice in the industry (see [support statistics flow in zoom](https://support.zoom.us/hc/en-us/articles/360037195152-Sending-meeting-or-webinar-problem-report-and-client-logs), or [support data collection in Github Enterprise](https://docs.git

[2022-10-03 13:59] noahtalerman commented on #7649
@mike-j-thomas pinging you again :)

[2022-10-03 14:00] noahtalerman commented on #7649
@lukeheath I assigned you this issue and moved it to in progress on the release board. I noticed that your PR addresses this issue: #7677

[2022-10-03 14:18] mna commented on #7878
@noahtalerman @lukeheath We should enforce a limit on the number of enroll secrets we can set (the same would apply either globally or for a team). Think of this more like a sanity check, e.g. it could be set to 1000, just to prevent accidents (or attacks). Both the backend and the frontend make implicit assumptions that this number should be quite small (e.g. the frontend is not paginated and sho

[2022-10-03 14:28] noahtalerman commented on #7871
@mna heads up, we decided to not invest anymore time for validating the `schedule` and `packs` keys under `agent_options`. Fleet will not document these keys when we address the documentation issue: #7832

This is because the best practice for getting retrieving query data from your host is by creating queries in the Fleet UI and using the `queries` YAML document.

This was discussed during produc

[2022-10-03 14:33] noahtalerman opened #8060 "See a host's agent options on the Host details page"
### Goal

As someone who can edit agent options, I want to see the actual agent options on the Host details page. This way, if my host is assigned to a team, I can understand that my host is receiving the team's agent options.

[2022-10-03 14:35] noahtalerman commented on #8060
@zwass FYI this issue tracks the request you brought to product office hours on 2022-09-29.

[2022-10-03 14:36] noahtalerman commented on #4805
@RachelElysia @fx5 FYI this issue tracks the request you brought to product office hours on 2022-09-29.

[2022-10-03 14:37] noahtalerman commented on #2002
@RachelElysia FYI this issue tracks the request you brought to product office hours on 2022-09-29.

[2022-10-03 14:40] noahtalerman commented on #7926
@mna was this issue addressed by your PR?
- #7979

[2022-10-03 14:40] mna commented on #7871
@noahtalerman gotcha. Currently, it does validate those keys so that means that for the next update, we must either:

* Fail if the `agent_options.schedule` or `agent_options.packs` keys are present, or
* Accept anything under those keys.

Let me know which option it should be.

[2022-10-03 14:42] mna commented on #7926
@noahtalerman good catch, yes it was!

[2022-10-03 14:47] noahtalerman commented on #7926
Ok!

@mna I assigned you this issue and moved it to the QA column on the release board. Please feel free to move the issue if it's in the wrong place.

[2022-10-03 15:17] lukeheath commented on #7136
@cjwalton Yes, this feature is in development and will be included in version 4.22.0 targeted for release on 10/20/22. The [backend portion](https://github.com/fleetdm/fleet/issues/7135) of the feature is currently in review. Once that merges, this frontend piece will follow shortly after.

[2022-10-03 15:32] #8016 closed

[2022-10-03 18:00] noahtalerman commented on #7951
DISCUSS Noah:
- Store results per host? Yes
- Sort and filter? Yes. Sort and filter on each column (same as live query results)
- Many rows per host? No. Less than 5 results per host. Trying to answer: For a specific attribute, what do all my hosts look like? See example queries in issue description above.
  - We're ok with users having to craft a specific query. We're encouraging users to head to

[2022-10-03 18:46] michalnicp commented on #7878
What kind of attack are you trying to prevent? If they have the ability to create enroll secrets, then limiting the number they can create doesn't seem like it would add much benefit.

Perhaps we should reevaluate this assumption. Most api endpoints are paginated, it would not be hard to add it here.

[2022-10-03 18:56] lukeheath commented on #7878
From a usability standpoint, the UI would break down at some point, probably around 50. I'm not sure if there's any use case for an API user wanting to generate more than that. @noahtalerman, what do you think?

[2022-10-03 18:56] mna commented on #7878
Overwhelming the DB, the API response times, breaking the UI. But really, it's more about being explicit (e.g. much like enforcing a maximum size limit on request bodies).

It's not _hard_, but changing all those assumptions would be a lot of work. If you look at the figma in the related issue, you'll see what I mean, there's a small modal window used to display just a handful of secrets, no pagin

[2022-10-03 18:57] lukeheath commented on #2002
@RachelElysia, I'm assigning this ticket to you for specifications.

[2022-10-03 19:37] lukeheath commented on #7878
Agreed, it would take some UI work to support unlimited tokens. Unless there's a value-add for the user, it's likely not worth the effort.

[2022-10-03 19:44] noahtalerman commented on #7951
@chiiph (Tomas): Amount of queries and amount of data. Worst case scenario will help us place the limits.
Tomas: Top 10 use cases. What do we let the user do?
Tomas: Tradeoff between quick turn around and something that we can build upon.
Tomas: Where does this fit in next to the other priorities? This matters if it's a big project.

[2022-10-03 20:03] noahtalerman commented on #7878
@mna would we need the limit if the API only sent 1 enroll secret? (The enroll secret that's being created)

I'm guessing the answer to the above is no.

How much work would be required to make this change? I think this is the way I would expect the API to behave. cc @lukeheath

I realize this will change the scope of the ticket. I just want to make sure that we've considering this option.

I thin

[2022-10-03 20:16] mna commented on #7878
@noahtalerman

Yes, because we still return them as a whole and the UI displays them in a small modal. But also, it would be a breaking change in the API.

To send only 1 secret when adding a new one? (not sure if you've cited the correct text, you seem to have quoted your own paragraph). It would need to be a new endpoint (well, more likely two - one for global, one for team), and the old ones wo

[2022-10-03 20:19] mna commented on #7878
@noahtalerman

re-reading your questions, I want to make something clear - there's nothing in this ticket that makes things worse than before if we don't add a limit. That might not have been clear from my previous comments.

[2022-10-03 20:28] #8042 closed

[2022-10-03 20:34] lukeheath commented on #7835
@mna Heads up; this has been brought into the release board.

We discussed during estimation that you would take a pass at translating the error messages, then tag Noah during code review to review the translations. Please let me know if that process doesn't work.

[2022-10-03 20:35] lukeheath commented on #7987
@eashaw Great, thanks!

[2022-10-03 20:36] lukeheath commented on #7830
@mna Heads up; this has been brought into the release board. Please let me know if you need any additional information to get started.

[2022-10-03 20:43] lukeheath commented on #7062
@RachelElysia This is one Gabe spec'd, but we are assigning it to you on the release board because Gabe is at capacity. There may be some others in this release that Gabe spec'd but are assigned to you. Just let me, Gabe, or Noah know if you have any questions on those.

[2022-10-03 22:36] lukeheath opened #8067 "Create process to manually run Sails script that combines the latest osquery and Fleet schemas"
### Goal

As a User, I want the schema referenced on the Fleet website, and by application logic, to reflect the latest, up-to-date unified schema between osquery and Fleet.

As an Engineer, I want the schema I use to power schema suggestions and hints to reflect the latest, up-to-date unified schema between osquery and Fleet.

### How?

1. Update the script from [website helper function](https://

[2022-10-04 12:13] mna commented on #7878
I went ahead and changed the limit to 50 in the PR as that seems to be the consensus as a reasonable upper-limit.

[2022-10-04 12:25] nunesvn commented on #6717
Hello, in my case here the problem is not solved with 4.20.1. I keep receiving multiple CVE webhook calls every hour. My original issue number was #7688.

The only difference is, before 4.20.1 I was receiving 158 calls each hour, and now I'm getting 17 webhook calls each hour. So, something is changed, but still not solved.

[2022-10-04 13:20] RachelElysia commented on #7533
@chris-mcgillicuddy could I get a confirmation of comma and period locations for this?
https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)

[2022-10-04 13:21] juan-fdz-hawa commented on #6717
@nunesvn Sorry to hear that :( - we have a fix on queue for the next release for another bug we found related to duplicated vulnerabilities (here's the [PR](https://github.com/fleetdm/fleet/pull/7963))

Just to clarify something, when you receive the duplicated webhook calls, are you receiving at least one new vulnerability in the payload? Or is everything duplicated (i.e. old vulnerabilities)?

[2022-10-04 13:49] noahtalerman commented on #8010
@chiiph I assigned this issue to you and added it to the release board. @xpkoala, Tomas is able to reproduce the issue on other Macs in dogfood.

Tomas: Hey when you uninstalled garageband... did you empty the trash can? I can't find the issue

Tomás: gah, nvm, I thought it was showing still until you cleared it, but I can't get that to happen

Noah: I did empty the trash. Here’s the issue: https:

[2022-10-04 13:52] chiiph commented on #7804
I'm digging into this further, it seems like osquery returns whatever libdpkg returns for status. I've seen some status being 2 letters with a certain meaning, `ii`, `rc`, etc.

We might be able to get away with checking that `status='install ok installed'` but it's not entirely clear to me how often this will work.

This is how this column is being parsed: https://github.com/osquery/osquery/blob/

[2022-10-04 13:56] noahtalerman commented on #7878
Sounds good. @mna if you haven't already, can you please document this limit (either in the code itself or the contributor docs)? This way, if someone does run into issues with the limit (low probability) we can either point them to why they're running into the issue or we can decide to bump the limit.

Thank you for the explanation above.

[2022-10-04 13:56] nunesvn commented on #6717
@juan-fdz-hawa they're all the same 17 payloads. Thank you, I can't wait for the next release :)

[2022-10-04 14:35] noahtalerman commented on #7951
Use cases:
- Computer age for macOS workstations (example query `SELECT hardware_model FROM system_info;)`
- Conference rooms with `specific-brand` audio device (example query `SELECT vendor FROM usb_devices`;)
- Number of failed login attempts for macOS workstations (example query `SELECT failed_login_count FROM account_policy_data;`)

Amount of queries:
- The user to be able to write as many of

[2022-10-04 14:48] noahtalerman commented on #7958
Decision: Use a default automatic (DEP) enrollment profile.

[2022-10-04 15:03] mike-j-thomas commented on #7649
@noahtalerman, @lukeheath's proposal looks great 🔥 Apologies for missing this.

[2022-10-04 15:20] chiiph commented on #7951
@noahtalerman @zhumo Without any constraints, from what I gather from Noah's comment, this is a pretty massive endeavor if we want to solve it within Fleet. We should hop on a call and discuss further.

[2022-10-04 15:24] artemist-work commented on #7804
I haven't managed to get anything other than "install ok installed" or "deinstall ok config-files" though [the dpkg documentation](https://man7.org/linux/man-pages/man1/dpkg-query.1.html) suggests there are quite a few other options. Personally I'm fine with relegating the weird status to people who manually query the `deb_packages` table

[2022-10-04 15:38] mike-j-thomas opened #8072 "Modify GitHub actions config so editors of the /schema folder can see the build run to check their edits"
## Goal
Make it so that when someone edits the schema folder, they can see the build run to check their edits.

## How
I think this can be achieved by modifying the GitHub actions configuration. Eric to confirm.

[2022-10-04 16:20] lukeheath commented on #7992
@noahtalerman

Agreed. I'll tag it as such and bring it to the release board.

[2022-10-04 16:24] lukeheath commented on #7878
Thanks, y'all. @mna, to be clear, we are going to move forward with your recommendation of applying a limit. Let's start with 50.

[2022-10-04 16:27] zhumo commented on #8008
https://github.com/fleetdm/fleet/pull/8075 Updated the docs

[2022-10-04 16:48] #6636 closed

[2022-10-04 16:48] noahtalerman commented on #7951
Sounds good.

FYI @zhumo if this helps with prioritization, the plan is for "Store latest query results" results (this issue) to be shipped after the ["Combine query and schedule features" epic](https://github.com/fleetdm/fleet/issues/7765). I think the earliest the interface team will complete this epic is Nov 10.

[2022-10-04 16:51] noahtalerman commented on #7951
@mikermcneil here's the proposed requirements for "See latest query results" (phase 2): https://github.com/fleetdm/fleet/issues/7951#issuecomment-1267105278

Can you please let me know if you disagree?

[2022-10-04 16:59] #4566 closed

[2022-10-04 17:49] zhumo opened #8077 "Add containerd events table"
- `customer-rocher` Gong snippet: https://us-65885.app.gong.io/call?id=4418591452826712111&highlights=%5B%7B%22type%22%3A%22SHARE%22%2C%22from%22%3A911%2C%22to%22%3A1240%7D%5D
- @noahtalerman: _User requested this because_ they rely on Fleet as their single source of truth for container vulnerability management. Without support for `containerd`, they're missing visibility into container activity i

[2022-10-04 17:51] michalnicp commented on #7879
I don't think an API change was required here. We can differentiate between team and global policies using the `team_id` field. If it's `null`, then it's a global policy.

[2022-10-04 17:52] #8072 closed

[2022-10-04 17:58] mna commented on #7879
@michalnicp

While that's true, I think there are pros to using different fields in the payload for those two sets of policies, as it would be a breaking change to mix global and team policies in the same array, and IMO it's a bit error-prone to manipulate as you have to remember this when you consume the payload (i.e. in our case, the frontend uses the two sets in different ways and presents them

[2022-10-04 18:17] GuillaumeRoss commented on #7359
Osquery and Fleet worked - Active Directory worked. Splunk worked.

I think the main issue is:

* What happens when Windows license expiration is hit? Do we have a way to easily kill and rebuild?
* We should add a VPN profile for this instead of having to allow list home IPs (absolutely no actual Internet exposure makes sense since it is vulnerable by design)

[2022-10-04 18:29] lukeheath commented on #7951
I think this is a bit aggressive. The MDM ticket just came out of design and has not yet been spec'd or estimated by engineering. Until we do that, we have no accurate way of estimating a delivery date.

[2022-10-04 18:43] RachelElysia commented on #7656
Once at the software details page, there's no breadcrumb to go back to host details > software, only back to software which brings you to the software page. Ideally that link could bring you back to either? No?

@noahtalerman

[2022-10-04 19:17] lukeheath commented on #7879
@michalnicp The primary reason this is necessary is that we want the global policies' hosts count to be filtered to only the selected team. If we used the general `GET /policies` endpoint, the hosts' count would reflect all hosts.

[2022-10-04 19:19] mike-j-thomas opened #8081 "Slack channel topics"
## Goal
Reduce confusion about which Slack channel to use for particular discussions

## How
Add a short description for each Slack group channel in the **Topic** field. Since the Description field is hidden away in Slack's UI, the Topic is a good place to clearly display a short description for the channel.

![Image](https://user-images.githubusercontent.com/78363703/193906778-4fdc9fa8-64e9-458f-

[2022-10-04 19:23] noahtalerman commented on #7902
@lukeheath how tricky will it be to add this logic to the **Hosts** table? Relative to the other options below:

I'm also considering the options..
- Update the GB thresholds for the yellow and red colors for Linux hosts only. This requires more research for a small amount of value.
- Remove yellow and red colors for all hosts. This is likley the easiest to implement/maintain and takes away a smal

[2022-10-04 19:25] #6971 closed

[2022-10-04 19:26] lukeheath commented on #7902
@noahtalerman I do not see the reported behavior on dogfood:

![image](https://user-images.githubusercontent.com/2495927/193908024-42365967-4f15-4f86-9658-50a8f04d0a35.png)

![image](https://user-images.githubusercontent.com/2495927/193908220-fcf914f1-4ca1-4feb-aec7-cbd9a800ae8d.png)

Has this been reproduced anywhere on dogfood?

[2022-10-04 19:26] mike-j-thomas commented on #7709
https://fleetdm.com/securing/osquery-as-a-threat-hunting-platform closes this issue.

[2022-10-04 19:26] #7709 closed

[2022-10-04 19:28] lukeheath commented on #7902
It may be this was reproduced locally using Linux VMs:

![image](https://user-images.githubusercontent.com/2495927/193908480-a816d7c9-b21d-463c-ac3a-8fcc78bab13b.png)

This happens because all the VMs have the same amount of memory, which is always green.

[2022-10-04 19:50] #8008 closed

[2022-10-04 20:06] noahtalerman commented on #7902
@lukeheath ah, I think you misinterpreted the problem. This is a whoops from me.

I updated the "problem" in the issue description. I hope this adds clarity.

[2022-10-04 20:11] lukeheath commented on #7902
@noahtalerman  Ah, got it. Thanks for the clarification. Implementing as spec'd would not be difficult.

[2022-10-04 20:46] zhumo commented on #3717
De-prioritizing because we are de-prioritizing packs.

[2022-10-04 20:46] #3717 closed

[2022-10-04 23:33] lukeheath commented on #8067
Luke TODO: Re-spec this issue for Eric that reflects a ritual process run manually instead of a GitHub Actions.

- This new ritual should also be documented in the handbook.

[2022-10-05 11:58] roperzh opened #8085 "/device/:token page shows a 500 error message when clicking on Software tab"
**Fleet version**: main [8c18446](https://github.com/fleetdm/fleet/commit/8c1844676236041a8ee4f890eb9e6c816674baf4)

**Operating system**:  macOS 12.6

**Web browser**: Firefox

<hr/>

### 🧑‍💻  Expected behavior

I have a host that doesn't have any software collected yet, when I go to `https://dogfood.fleetdm.com/hosts/:id`, and click on the software page, I see this:

<img width="1414" alt="image

[2022-10-05 11:58] roperzh commented on #8085
@lukeheath assigning to you to triage/prioritization

[2022-10-05 13:35] roperzh commented on #8010
This seems to be related to hosts belonging to the "workstations" team, using a freshly enrolled host:

1. Host was enrolled in workstations, I hit refresh many times and the software tab was empty
1. I transferred the host to the global team, hit refresh, software instantly showed up

[2022-10-05 13:56] noahtalerman commented on #7951
Makes sense.

@chiiph I updated the "Amount of data" requirement to "1,000 results max for each query." Can you please remind me how this changes the level of effort?

From what I remember during our conversation, a max # of results of 1,000 doesn't place us in the "Snowflake/Splunk problem territory." An undetermined amount of results does.

Is this correct?

I also remember that the level of eff

[2022-10-05 14:01] noahtalerman commented on #7951
TODO Noah:
- Get feedback. Frame this as a tradeoff. 1,000 results or log destination. Depending on the size of the results you're going to miss a lot of data. You can use a log destination to get all the data.
  - If the answer is 1,000 results isn't better. Then maybe we can address the problem is a different way.

[2022-10-05 14:21] noahtalerman commented on #7676
@lucasmrod can Fleet handle renewing SCEP certificates for the user?

[2022-10-05 14:41] lucasmrod commented on #7676
We still need to support this scenario for rotating SCEP CA certificates. We've discussed some ideas. AFAICS, all of them require some administrator/manual interaction.

/cc @GuillaumeRoss

[2022-10-05 14:48] RachelElysia commented on #8040
And across browsers

[2022-10-05 14:52] ghernandez345 commented on #5785
@noahtalerman currently the percent responding UI looks like this

![image](https://user-images.githubusercontent.com/1153709/194091654-6e9c94ad-317d-48d0-929b-003c675a4d07.png)

Do we want to change it so all the text is underlined, or is the wireframe incorrect?

[2022-10-05 15:10] lukeheath commented on #7954
@noahtalerman I'm assigning back to you to think through the UX implications.

Looking at GitHub, they save the issue draft if you use the browser back/forward buttons. If you click "New Issue" again in the interface it creates a new issue and does not save the draft.

[2022-10-05 15:45] gillespi314 commented on #8015
@wclithero, would you be able to provide some additional info from your browser's dev tools to help in debugging this issue? If you're not familiar with those tools, let me know and we can jump on a quick call to go through it together.

[2022-10-05 15:55] lukeheath commented on #7911
We're not sure how long this will take, so the estimate reflects a time box for research and any progress that can be made. If additional work is required after the time box a new ticket will be created for that work that can be estimated separately.

[2022-10-05 16:10] zwass commented on #7951
@noahtalerman I was speaking with Mike about the new queries work and he told me that while we discussed the storage of query results, we are focusing on changing the UX for scheduling queries/packs without tackling the data storage problem. Is this understanding incorrect? If so, let's please hop on a call ASAP to try to resolve the mismatched expectations.

[2022-10-05 17:25] zwinnerman-fleetdm commented on #7969
Currently on the DEP step, need someone to help me with doing the apple side of DEP stuff so I can get the token.

[2022-10-05 17:26] zwinnerman-fleetdm commented on #7969
https://fleetdm.slack.com/archives/C019WG4GH0A/p1664990639689039

[2022-10-05 18:04] lukeheath commented on #8067
@eashaw This is the ticket Mike messaged you about yesterday. This is currently blocking #7080 from shipping.

Please let me know if you have any questions or concerns about how this is spec'd.

[2022-10-05 18:55] noahtalerman commented on #7808
@cjwalton great idea.

I think can be achieved with the current plan (this issue's description).

Here's how I would do it at Fleet:

Prerequisite: I have a team for testing new policies called **💻🐣 Workstations (canary)**. My host is on this team.

1. Add the policy I'm testing to **💻🐣 Workstations (canary)** team. Wait for my host to fail this policy.
2. Add the webhook destination I'm testing (

[2022-10-05 19:06] lukeheath opened #8094 "Deploy Storybook to Fleet website"
## Goal

As an Engineer, I want to deploy [Storybook](https://storybook.js.org/) to the website so I can easily share and review available UI components.

As a Designer, I want to have access to components used in the UI so that I can make sure my designs match the components.

For more context, see the notes from Luke and Mike T's conversation https://docs.google.com/document/d/1U1JGhDfBzjjZZNI8C

[2022-10-05 19:09] RachelElysia commented on #7656
@noahtalerman also, this removes the bundle identifier tooltip, just making sure, is this the intended behavior?

[2022-10-05 19:14] lukeheath commented on #8094
@eashaw This is a requested feature for the website. It came out of a conversation I had yesterday with @mike-j-thomas about the need for everyone to have access to the UI components we use in the Fleet app. Please let me know if you have any questions. Thanks!

cc @RachelElysia @ghernandez345

[2022-10-05 19:17] roperzh opened #8095 "Agent options issues in Fleet UI"
**Fleet version**: c23a15394e3a1a09b1364e8739bac80fa123ff0a

Related bug: #8336

<hr/>

### 🧑‍💻  Expected behavior

1. On the **Team details > Agent options** and **Organization settings > Agent options**, if I don't specify anything in the YAML input field, I successfully remove all agent options.

2. On the **Team details > Agent options** and **Organization settings > Agent options**, if I don'

[2022-10-05 19:28] ghernandez345 commented on #8094
@lukeheath I like the idea of using our storybook to help reference what UI components we have! Nice one!

[2022-10-05 19:33] lukeheath opened #8096 "Expand Storybook to include all global components"
## Goal

As an Engineer, I want a centralized location for all global components so that I know what is available for me to build with.

As a Designer, I want to be able to access a UI component library that I can reference during the design and QA process.

## Requirements

Expand Storybook to cover all global components. Global components are components used across multiple pages. They _should_