[2022-04-20 15:33] tokcum commented on #5244
Ok, great. Thanks.

Not sure, but maybe this issue is related: https://github.com/fleetdm/fleet/issues/5236. In the screenshots, the /api/latest URL also shows up.

[2022-04-20 16:18] michalnicp opened #5249 "Orbit mirror structure of tuf repository"
### Goal

Orbit currently stores some files from the tuf repository locally, which are used for validation. However, these files are combined into a single file named `tuf-metadata.json` that looks like

[code]

It's not immediately obvious that these directly map to the files in the tuf repository, and takes some extra effort to compare/diff when there is an issue in orbit. This is especially tru

[2022-04-20 16:37] gstorme commented on #4261
Still experiencing problem with high cpu load on domain controllers, after upgrading to 4.13 and re-enabling the software inventory.
When I run the optimized query as a live query on a domain controller with 2100 users, the lsass + orbit/osqueryd process take up 100% cpu load, and this remains like this until stopping the orbit service.
Same problem occurs on a domain controller with 360 users.

T

[2022-04-20 17:08] xpkoala opened #5253 "Using enter key to submit form on new label bypass validity checks"
**Fleet version**: `main` 13.x

**Operating system**: macOS 12.2

**Web browser**: Chrome 100.0.4896.88

<hr/>

### 🧑‍💻  Expected behavior
When using the enter key to submit a new label form the required parameters are still required.

### 💥  Actual behavior
User is able to submit a label with no valid parameters if they use the `enter` key to submit the form.

### More info
Video of the behavior

[2022-04-20 17:19] xpkoala opened #5255 "Incorrect padding on delete label button"
**Fleet version**: `main`

**Operating system**: macOS 12.2

**Web browser**: Chrome 100.0.4896.88

<hr/>

### 💥  Actual behavior
Button size or padding is too large.

### More info
Picture of the issue and a picture from the delete query screen that shows desired padding.

I'll create a separate ticket discussing the ordering on cancel / delete on all screens.

Incorrect
![Screen Shot 2022-04-20

[2022-04-20 17:28] n8felton commented on #4098
As a user of Fleet and Postman, I am looking forward to this. Following this as well as #2591.

[2022-04-20 18:27] eashaw opened #5257 "Add to handbook: Weekly update"

[2022-04-20 18:43] n8felton opened #5260 "Output license details with `fleetctl get config` command"
### Goal

When running the `fleetctl get config` command, display the license details that is available via the `GET /api/v1/fleet/config` API endpoint.

### How?

Update the `fleetctl get config` command to output the license details available with the `GET /api/v1/fleet/config` API endpoint.

At a minimum, these details should include

* Tier [always]
* Organization [if premium]
* Device Count [

[2022-04-20 19:00] xpkoala commented on #5235
@RachelElysia is this related to https://github.com/fleetdm/fleet/issues/5195 ?

[2022-04-20 19:07] xpkoala commented on #5236
I'm not reproducing this on my side with Safari / Firefox. Is there any more setup needed to trigger this issue?

[2022-04-20 19:33] n8felton opened #5262 "`license` information exists twice in example output for `GET /api/v1/fleet/config`"
Checking to verify if it is possible to have 2 `license` keys, or if this duplicated key is just an oversight.

https://github.com/fleetdm/fleet/blob/c29cd0acd1816380dba5c4b3ce122482086581b7/docs/Using-Fleet/REST-API.md?plain=1#L4690-L4721

[2022-04-20 20:06] lukeheath opened #5264 "`PATCH /config` rejects Jira URL if it does not end with a `/` forward slash"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

When I try to add a new JIra integration with the url `https://fleetdm.atlassian.net` I expect it to accept the URL as invalid.

### 💥  Actual behavior

It rejects the Jira integ

[2022-04-20 20:06] lukeheath commented on #5264
@xpkoala We found this bug on frontend sync.

[2022-04-20 20:08] RachelElysia commented on #5264
Maybe something like:

<img width="644" alt="Screen Shot 2022-04-20 at 4 08 28 PM" src="https://user-images.githubusercontent.com/71795832/164314258-d63a3610-57fc-45f9-bd6f-99f7eca9e990.png">

[2022-04-20 20:11] RachelElysia commented on #5124
@noahtalerman @xpkoala

@lukeheath and the front end team just set up a Jira integration, but Luke misspoke thinking the software integration with it was automatically enabled.. which it isn't.

This is a bad UX to create an integration and not have an indicator where to go next.

[2022-04-20 20:19] xpkoala commented on #5264
I was just successful using Safari. Let me try elsewhere.
![Screen Shot 2022-04-20 at 3 19 25 PM](https://user-images.githubusercontent.com/11012743/164315838-1fd64a77-5110-49a8-bf8a-18d8ade4efff.png)

[2022-04-20 20:21] RachelElysia commented on #5264
Related to #5124

[2022-04-20 20:48] mna opened #5268 "Running `fleet serve --debug` panics"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
4.13

**Operating system**: _(e.g. macOS 11.2.3)_
N/A

**Web browser**: _(e.g. Chrome 88.0.4324)_
N/A

<hr/>

### 🧑‍💻  Expected behavior

Running `fleet serve --debug` should start the fleet instance with debugging endpoints mounted on `/debug/`, as per the command's help text:

[code]

### 💥  Actual b

[2022-04-20 20:55] timmy-k opened #5269 "Launch Linkedin Ads by 4/21"
### Goal
Advertise for MQOs on Linkedin

### How
- [ ] Research competitor ads and, if possible, targeting. Save these to a folder in drive for reference
- [x] Setup campaigns to target job titles, departments, companies, audiences, etc. with proper settings
- [x] Setup Linkedin ads insights tag and close this issue— https://github.com/fleetdm/confidential/issues/1172
- [x] Configure conversion tr

[2022-04-20 20:57] timmy-k commented on #4993
Divided Linkedin out into it's own issue— https://github.com/fleetdm/fleet/issues/5269

[2022-04-20 21:45] ksatter commented on #4540
@noahtalerman Since that release is so new, I'm adding a note for now that this is only required for versions prior to 4.13.

[2022-04-20 21:46] xpkoala commented on #5235
Ahh, I'm understanding now and I totally agree with this needing improvement.

[2022-04-20 21:47] timmy-k opened #5272 "Launch Google Ads by 4/21"
### Goal
Advertise for MQOs on Linkedin

### How
- [x] Research competitor ads and, if possible, targeting. Save these to a folder in drive for reference
- [x] Setup campaigns to target job titles, departments, companies, industries, demograpics, audiences, etc.
- [x] Setup GA4 conversion tracking and pipe it into Ads— schedule demo
- [x] Setup GA4 conversion tracking and pipe it into Ads— self se

[2022-04-20 21:51] timmy-k commented on #4993
Put Google Ads in it's own issue— https://github.com/fleetdm/fleet/issues/5272

[2022-04-20 21:58] DominusKelvin opened #5275 "Make the REST API docs list entities in alphabetical order"
### Goal

TODO

[This](https://fleetdm.com/docs/using-fleet/rest-api)  is the page in question

Currently, we don't have a specific predefined order for adding entities to the REST API docs(entities in this context means Authentication, Hosts, etc)

### How?

- [ ] Re-order the entities to be sorted alphabetically

[2022-04-20 23:25] timmy-k commented on #4997
Reopened this issue because we need to either make a page for each advertising platform or have a manual process to track true lead source vs. page

Half automated and half manual method we'll use for this will be:
1. Someone submits a calendly link from the landing page, or from the website. Calendly link will add what page they submitted from under "lead source"
2. We'll manually look at Google

[2022-04-21 03:13] mikermcneil opened #5285 "When your session expires, things get weird"
**Fleet version**: dogfood environment as of 2022-04-20 @ 22:03 CT

<hr/>

### 🧑‍💻  Expected behavior

##### Chapter I
I visited the home page of my Fleet instance and expected to either see the dashboard, or the login page.

##### Chapter II
When it didn't work at first, I did some debugging and saw a 401 response in the JavaScript console.  I realized there was probably either:
- a bug that had

[2022-04-21 06:54] mike-j-thomas commented on #5138
@noahtalerman, I forgot to tag you in the comment above.

[2022-04-21 06:56] mike-j-thomas commented on #4247
@timmy-k, sorry for the late reply. I think this can be closed.

[2022-04-21 06:56] #4247 closed

[2022-04-21 06:59] mike-j-thomas commented on #4911
Thanks for raising this issue, @CharlotteChance. It would be a nice addition considering the number of times the index is forgotten. I'm not sure how much time is required to achieve this, so I'll check in with @eashaw and prioritize accordingly.

[2022-04-21 09:46] davidschoefberger commented on #5065
Hi @lucasmrod,

thanks! We finally were able to create it on an Windows notebook with English OS. Building it on macOS was not working at all, but the solution now is ok.

[2022-04-21 11:15] mike-j-thomas commented on #5138
@noahtalerman, please disregard the version above. It's been a minute since I've worked on the host page, but I think I'm up to speed now with the functionality. So I've made another pass in Figma. I'm still in favor of a dropdown filter rather than a sidebar overlay. It feels like a smoother experience to me.

Let me know if you want to get on a call to discuss any of this.

<img width="1600" alt

[2022-04-21 11:47] davidschoefberger opened #5288 "Load issues on Fleet"
**Fleet version**: 4.13.1

<hr/>

### 🧑‍💻  Expected behavior
Fleet can handle multiple new devices enrolling (around 5 devices a minute) and a few hundred devices reporting to it.

### 💥  Actual behavior
Fleet responds super slow, after enrolling multiple new devices to currently 500. Multiple errors in the logs.
[code]

The Fleet is running on an Ubuntu 20.04 VM, Redis and MySQL are on the same V

[2022-04-21 13:12] RachelElysia commented on #5285
@mikermcneil

Is this the same issue? https://github.com/fleetdm/fleet/issues/5236

[2022-04-21 13:13] RachelElysia commented on #5285
We talked about this at the engineering standup yesterday, @martavis fixed/is fixing

[2022-04-21 13:20] chiiph commented on #5288
A quick thing you should try is setting `ulimit -n unlimited` and see if that helps.

Could you share some logs from Redis and MySQL? That might shed some light as to what might be happening.

On a different note, could you share the output of `df -h`?

[2022-04-21 13:54] noahtalerman opened #5291 "Support failing policies ticket automation workflow for Jira and Zendesk integrations"
Part of the following epic: #4523

## Goals

As a Fleet user, I want to be able to configure Fleet to create a ticket with a list of hosts that are failing a policy so that I automate tracking my progress on keeping my hosts complaint.

## Figma

Tickets for policy automations: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6284%3A270348

## Related

- Frontend: #5441

## Notes

This t

[2022-04-21 13:56] davidschoefberger commented on #5288
The command did not work:
[code]

Output from `df -h`:
[code]

Error logs from MySQL:
[code]

And the Redis logs:
[code]

[2022-04-21 14:12] noahtalerman commented on #4512
@juan-fdz-hawa thank you for putting together that doc!

We'd like Fleet to help the user determine what software is the most vulnerable.

This way, a Fleet user can patch the most vulnerable software first to achieve the goal of maintaining secure and compliant devices.

I think this means that determining a helpful way to surface the EPSS score will be more valuable than surfacing the CVSS score

[2022-04-21 14:17] juan-fdz-hawa commented on #4518
I think OVAL is a viable option for vulnerability detection.

One can think of an OVAL file as a bunch of propositions about security, if a proposition is true then the system is susceptible to a given vulnerability (referenced by a CVE) - the way we know if a given proposition is true is by using one or more tests. [Here](https://docs.google.com/spreadsheets/d/1CxWvs0hWZlEn-c3ma5rBGTo5UUuMtzG_oKi

[2022-04-21 14:27] chiiph commented on #5288
Could you try `sudo ulimit -n unlimited`??

[2022-04-21 15:05] lukeheath opened #5293 "User should be redirected to the `/login` page as soon as we determine their session token is no longer valid"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When an endpoint returns 401 Unauthorized, I should immediately be redirected to the login page.

### 💥  Actual behavior

The UI displays loading spinners. I

[2022-04-21 15:14] juan-fdz-hawa commented on #4518
Depends on the OS. Ubuntu, Redhat, Debian and Suse all publish 'official' OVAL files maintained by their security teams - for those systems we can just use the OVAL approach because that's as good as it gets IMHO. For Windows, I couldn't find any 'official' OVAL repo, so I'm not sure how accurate/up to date the community provided files are - so we might need to do some additional checks on Windows

[2022-04-21 15:17] xpkoala commented on #5293
Thanks for filing this @lukeheath

Question: It doesn't look like every page makes a call to the /me endpoint? Below are a few places I found where it didn't appear to be making that call.
- /dashboard
- /queries/manage
- /software/manage

[2022-04-21 15:25] davidschoefberger commented on #5288
I already tried that before:
[code]

[2022-04-21 15:37] chiiph commented on #4518
All right, let's focus on Linux for now, in particular CentOS and Ubuntu.

This is something to think about. Semver can be verified with simple string comparison a lot of the times, eg: 1.2.3 > 1.2.2 in string terms. But we should think about when that won't be enough.

We can afford much more CPU/memory intensive preprocessing (so when we generate the sqlite) than we can afford when using the dat

[2022-04-21 15:37] mikermcneil commented on #4512
Data point:
<img width="1346" alt="image" src="https://user-images.githubusercontent.com/618009/164497830-5282c470-7ce6-4a2d-9cf7-6d28ba0952c2.png">

[2022-04-21 15:54] michalnicp opened #5295 "Orbit: uninstalling deb package attempts to remove directories that it shouldn't"
**Fleet version**: latest main (060d638fdd43a24ad308c4f063ecf469ff1b635a)

**Operating system**: Ubuntu

<hr/>

### 🧑‍💻  Expected behavior

When running the following to uninstall orbit (fleet-osquery)

[code]

No warnings should be generated

### 💥  Actual behavior

The following warnings are printed, suggesting that some directories are attempted to be removed

[code]

### More info

These warni

[2022-04-21 16:09] timmy-k opened #5296 "Add aspirational features and positioning section in positioning doc"
Will specifically list soon-to-be-released features so we can consider our positioning relative to them

[2022-04-21 16:15] michalnicp opened #5297 "Orbit: still running after uninstalling on Linux"
**Fleet version**: latest main (060d638fdd43a24ad308c4f063ecf469ff1b635a)

**Operating system**: Linux

<hr/>

### 🧑‍💻  Expected behavior

After uninstalling orbit, I expect it to no longer be running

### 💥  Actual behavior

[code]

### More info

Stop and remove service with `systemctl stop orbit && systemctl disable orbit && systemctl daemon-reload`.

[2022-04-21 17:03] #4695 closed

[2022-04-21 17:09] lucasmrod commented on #5297
This was fixed by the recently merged #5150, please double check and let me know if the issue is still there.

[2022-04-21 17:29] noahtalerman commented on #5138
@mike-j-thomas thank you for putting so much thought into this. Your second pass looks great 🔥

The goal of this change is to be able to reduce the Hosts page width while still allowing the user to filter and search for labels.

In an effort to achieve this goal without introducing a new UI element (dropdown with multiple sections and a search bar), what do you think about moving the elements in t

[2022-04-21 18:10] juan-fdz-hawa opened #5306 "Improve vulnerability detection for Ubuntu, Debian, Suse and RedHat based systems"
### Goal

Improve the way vulnerabilities are detected for Linux based systems in Fleet.

### How?

1. Create a parser that given an OVAL file outputs a list of CVE/tests pairs that can be used to detect vulnerabilities.
2. Use the artifacts generated by the OVAL parser to detect host's vulnerabilities.
3. Auto-generate the OVAL artifacts for all supported OS via Github actions.
4. Add the capabil

[2022-04-21 18:27] lucasmrod commented on #5295
This should be fixed by the recently merged #5150. Let me know if the issue is still there.

[2022-04-21 18:28] juan-fdz-hawa opened #5307 "Create an OVAL file parser"
### Goal
We want to have a parser that given an OVAL file outputs a list of CVE/tests pairs that can be used to efficiently detect vulnerabilities.

### How?
See [here](https://docs.google.com/spreadsheets/d/1CxWvs0hWZlEn-c3ma5rBGTo5UUuMtzG_oKicW1gznK4/edit?usp=sharing) for a list of tests we want to support (the ones highlighted in yellow). The output of the parser should support efficient search

[2022-04-21 18:38] juan-fdz-hawa opened #5308 "Use the artifacts generated by the OVAL parser to detect host's vulnerabilities."
### Goal
Use the artifacts produced by the oval parser (#5307) to detect vulnerable software.

[2022-04-21 18:39] noahtalerman commented on #4512
Several takeaways following a conversation with the customer:
- Being able to sort software by exploitability (EPSS score) and drill down to see the severity (CVSS score) of the vulnerabilities (CVEs) associated with the software will allow the customer to be 80% successful when prioritizing vulnerable software.
    - First, Fleet will add the ability to sort software by exploitability (EPSS score

[2022-04-21 18:43] juan-fdz-hawa opened #5311 "Auto-generate the OVAL artifacts for all supported OS via GitHub actions"
### Goal

Asynchronously download and process the OVAL files from the [official repos](https://oval.cisecurity.org/repository/registry) for all supported Linux distros/versions and produce the OVAL artifacts that will be used during the vulnerability detection.

[2022-04-21 18:45] juan-fdz-hawa opened #5313 "Add the capability to fleet/fleetctl to fetch the auto-generated OVAL artifacts."
### Goals

- User should be able to 'refresh' the OVAL artifacts via `fleetctl`
- The fleet server should be able to auto-update the OVAL artifacts.

[2022-04-21 18:56] noahtalerman commented on #4512
@zwass @chiiph @juan-fdz-hawa @michalnicp distilling the above feedback into a list of priorities here:
1. Add EPSS scores to Fleet's vulnerability database
  - Unanswered question: Will all vulnerabilities (CVEs) have an EPSS score?
2. Add CVSS scores to Fleet's vulnerability database

Can a member from the Platform team please file issues to track the above items? I'm happy to answer any questio

[2022-04-21 19:00] juan-fdz-hawa commented on #4512
No, if I remember correctly the EPSS dataset contains around 173k scores, and there are currently around 185k CVEs

[2022-04-21 19:12] noahtalerman commented on #5291
For now, Fleet will not commit to addressing the ability to configure vulnerability automations for each team.

This is because we'd like to see customers/users use and provide feedback on ticketing for vulnerability automations at the global ("All teams") level before making improvements that add this ability at the team level.

@tgauda heads up on the above reprioritization. I think `customer-sc

[2022-04-21 19:30] RachelElysia opened #5315 "Inconsistent empty states: Queries link styling, Policies CTA button location"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

1. Query external link styling matches all other external links in the app.
2. Policies CTA buttons are moved to the center of the page when there are no policies (similar to emp

[2022-04-21 20:31] ksatter commented on #5040
@mike-j-thomas These are the notes from my meeting with @noahtalerman  and @xpkoala . I'll get the preliminary process written up now and we'll refine it as/when the overall bug process gets fleshed out.

https://docs.google.com/document/d/1DHRdeA5On1m8G-QOHC2iefum1DQPkWE91VSIHYAjb5Y/edit

[2022-04-21 20:48] michalnicp opened #5319 "JSON_ARRAYAGG not supported on aurora serverless v1"
Aurora serverless v1 is currently uses Aurora version 2.07.1, which does not have `JSON_ARRAYAGG`. We should replace with `GROUP_CONCAT` as in #1752.

We should also update our ci tests so that it uses a version of MySQL < 5.7.22, so that we can catch issues like these in the future.

[2022-04-21 20:57] lukeheath opened #5320 "Formatting: "Cancel" and "Save" buttons are too close together in select columns modal"
**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

Spacing between buttons in "Edit columns" modal matches other modals and be right-aligned:

![image](https://user-images.githubusercontent.com/2495927/164551657-5f10278c-2f0a-4264-8d51-7a1d1d6f8933.png)

### 💥  Actual behavior

The buttons are too close together and left-aligned:

![image](https://user-images.git

[2022-04-21 21:15] lukeheath commented on #5320
Same issue is happening on the "Delete Label" modal:

![image](https://user-images.githubusercontent.com/2495927/164553489-09998670-e26f-4f9e-a846-698484416855.png)

[2022-04-21 21:46] tokcum commented on #4261
@gstorme

to count the number of users in scope of the software inventory query, could you please run

`SELECT COUNT(*) FROM users WHERE directory <> '';`

From my experience, osquery runs only on one CPU. So, on a DC with 2 CPUs, I experienced maximum 50% CPU load by osquery. On a DC with 4 CPUs, CPU usage was never higher than 25%.

How many CPUs has the DC on which you experience osquery taking

[2022-04-21 22:20] Desmi-Dizney opened #5324 "Editor pass - Docs"
Edit for content and copy in docs.

- [ ] Fix platform field in policies in standard query library
- [ ] Files
- [ ] Images
- [ ] Read me

[2022-04-21 22:29] Desmi-Dizney opened #5326 "Editor pass - Docs - Contributing"
Edit for content and copy in docs.

- [ ] API versioning (Add_Link_To_PR_When_Completed)
- [ ]  PI for contributors (Add_Link_To_PR_When_Completed)
- [ ]  Building Fleet (Add_Link_To_PR_When_Completed)
- [ ]  Committing changes (Add_Link_To_PR_When_Completed)
- [ ]  FAQ (Add_Link_To_PR_When_Completed)
- [ ] Migrations (Add_Link_To_PR_When_Completed)
- [ ] README (Add_Link_To_PR_When_Completed)
- [

[2022-04-21 22:38] Desmi-Dizney opened #5327 "Editor pass - Docs - Deploying"
Edit for content and copy in docs.

- [ ]  Configuration (Add_Link_To_PR_When_Completed)
- [ ]  FAQ (Add_Link_To_PR_When_Completed)
- [ ]  Introduction (Add_Link_To_PR_When_Completed)
- [ ]  Load testing (Add_Link_To_PR_When_Completed)
- [ ] README (Add_Link_To_PR_When_Completed)
- [ ] Reference architectures (Add_Link_To_PR_When_Completed)
- [ ] Server Installation (Add_Link_To_PR_When_Completed)

[2022-04-21 22:46] Desmi-Dizney opened #5328 "Editor pass - Docs - Using-Fleet"
Edit for content and copy in docs.

- [ ]  Configuration files (Add_Link_To_PR_When_Completed)
- [ ]  Adding hosts (Add_Link_To_PR_When_Completed)
- [ ]  Automations (Add_Link_To_PR_When_Completed)
- [ ]  FAQ (Add_Link_To_PR_When_Completed)
- [ ]  Fleet UI (Add_Link_To_PR_When_Completed)
- [ ]  Learn how to use Fleet (Add_Link_To_PR_When_Completed)
- [ ]  Montioring Fleet (Add_Link_To_PR_When_Comp

[2022-04-21 23:23] Desmi-Dizney commented on #4813
https://github.com/fleetdm/fleet/pull/5228 : Awaiting review from @tgauda
https://github.com/fleetdm/fleet/pull/5155 : Awaiting review from @timmy-k

[2022-04-21 23:43] eashaw commented on #5080
My meetings are scheduled for next week. I will close this issue once they have been completed.

[2022-04-22 00:04] #5223 closed

[2022-04-22 00:09] CharlotteChance commented on #4672
Scheduled for May 2

[2022-04-22 05:38] mike-j-thomas commented on #5036
@mikermcneil, I've updated Figma based on our conversation today. Let's do a final review during our 1:1 next week. I also set up a time to get Noah's eyes on it. https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=794%3A373

[2022-04-22 05:38] mike-j-thomas commented on #5035
Closing this issue. Thanks guys.

[2022-04-22 05:38] #5035 closed

[2022-04-22 05:59] xpkoala opened #5330 "Improve Get API token page"
### Goal

The current API token modal could be improved to give users more information about how the API token works and the active sessions for the user. Items to consider for these improvements.

Potential copy changes:
- Educate users that API tokens will be invalidated if the user logs out of the current session (from the web app).
- Educate users that API tokens are valid as long as it has be

[2022-04-22 06:01] xpkoala commented on #5320
@lukeheath I believe @martavis is fixing the second issue in #5255

[2022-04-22 08:21] gstorme commented on #4261
These domain controllers have only 1 CPU (2.6 GHz Intel Xeon 6142; 2.5 GHz Intel Xeon 6248)
Result from the users count query, ran on 2 DC's:

10  (out of 2143)
17  (out of 358)

On the one with 10 users in scope, the software inventory query ran for 3min43 during which the CPU load was 100%, so I'd presume the problem would remain the same with 2 CPUs, with the default watchdog settings.

Though

[2022-04-22 08:43] gstorme commented on #4261
And it's only these tables that cause the high load by the lsass process, and high query times.
The other tables are executed almost instantly.

chrome_extensions
firefox_addons
atom_packages

[2022-04-22 08:53] gstorme commented on #4261
After setting `disable_tables: 'chrome_extensions,firefox_addons,atom_packages'` in the Fleet global agent options, the full query runs quickly and without high load.

[2022-04-22 13:42] noahtalerman commented on #4512
Correct.

This was a first stab at seeing if the Fleet product can enhance a common “service-level agreement (SLA)” practice we saw users/customers applying to vuln management.

Example of this practice: An organization wants to know generally how successful it was at updating/patching vulnerable software over the course of the year. Sometimes folks call this “time to remediation.” Often, this tim

[2022-04-22 15:09] noahtalerman commented on #5291
Drafting still TODO:
- Add image for Zendesk and Jira tickets. Make this a narrow screenshot.
- See if it makes sense to add visual indication that the policies in the modal are a separate setting/toggle from the integration. Currently, they look like they're part of the same setting/toggle.

[2022-04-22 15:40] timmy-k opened #5334 "Optimize Google Ads to ~6 MQOs by 6/30"
### Goal
Hit our overall ads OKR by getting ≈ 6 MQOs from Google Ads

### How
- [x] Get impressions
- [x] Drive traffic to budget
- [x] Monitor for quality— placements, search terms, etc.
- [x] Monitor for conversion— schedule demo, signup, self service purchase, join osquery Fleet channel in Slack
- [x] Optimization experiments— new targeting, new settings, new ads, new LPs
- [x] Confirm leads be

[2022-04-22 16:22] lukeheath commented on #5320
Cool I'll assign this one over to @martavis as well since they are related.

@martavis - @RachelElysia suggested fixing this by applying the styling in the general `Modal` component so we don't have to reapply it in each individual modal.

[2022-04-22 18:45] lukeheath commented on #4113
@noahtalerman It looks like we already have a "Type" column in the software table on the software page:

![image](https://user-images.githubusercontent.com/2495927/164775449-d0951aba-4355-4600-8a7e-adc96fe79ee7.png)

Should that be removed from the ticket so that "Bundle Identifier" is the only new column?

@martavis has some bandwidth this release and is interested in tackling bot the frontend an

[2022-04-22 19:01] xpkoala opened #5337 "Waiting spinner does not appear on some screens"
**Fleet version**: `main`

**Operating system**: macOS 12.2

**Web browser**: chrome version 100.0.4896.127

<hr/>

### 🧑‍💻  Expected behavior
Transitions between screens on would display a waiting spinner to signify that an action has yet to complete.

### 💥  Actual behavior
The loading spinner is absent from the following locations:

/schedule
- [x] After creating a new schedule.
- [x] After rem

[2022-04-22 19:21] xpkoala opened #5338 "Jira tickets created through integrations should not be labeled as type Bug"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
The expected behavior is that tickets created by Fleet will have a type of `task`.

### 💥  Actual behavior
Tickets created in Jira through Fleet integration are currently tagged as a "Bug" ticket.

### More info
Link to discussion
https://fleetdm.sla

[2022-04-22 20:27] lukeheath commented on #3320
@martavis - Assigning this to you because @RachelElysia is a bit overloaded this sprint. Just let me know if you have any questions or concerns.

[2022-04-25 07:52] tokcum commented on #4261
This is because only these three tables refer to the users table. I've up to 11 local users on my DCs with 2 CPUs and software inventory is maintained by fleet with the improved query.

It's still not perfect as I still experience a high CPU load for a longer period of time and as you, @gstorme, report, that it still might fail.

However, I'm afraid there is not an easy fix to this on fleet side a

[2022-04-25 14:10] mna commented on #2316
`last_opened_time` in the `apps` osquery table is a `DOUBLE`, confirmed by looking at the implementation that it is a UTC epoch in seconds (it uses [ObjectiveC's `timeIntervalSince1970`](https://developer.apple.com/documentation/foundation/nsdate/1407504-timeintervalsince1970) which [returns a `TimeInterval`](https://developer.apple.com/documentation/foundation/timeinterval) - described as a
"numb

[2022-04-25 15:01] edwardsb opened #5349 "Document Enrollment Secret Rotation process"
### Goal

As a Fleet admin I want the ability to rotate my enrollment secrets across my Fleet configuration (possibly by team).

Today the only way to rotate enrollment secrets is to generate a new secret, bundle that into an installer, push the installers out to the hosts, and finally decommission the old enrollment secret, effectively rendering previous installers useless (note this is useful wh

[2022-04-25 15:02] DominusKelvin commented on #4098
@lukeheath did the first pass on all the endpoints on the docs. Let me know if you need any specific fine-tuning to be done in there.

[2022-04-25 15:21] timmy-k commented on #5272
Completed. Now on to optimization

[2022-04-25 15:21] #5272 closed

[2022-04-25 18:46] xpkoala commented on #5338
@noahtalerman I'm going to move this back to product for thinking through. I don't believe it's possible to create a ticket w/o a "type". The next best change I think we could make is having tickets created as a "task" instead of a "bug", at least for JIRA.

[2022-04-25 19:18] Desmi-Dizney commented on #5038
Set up PRs:
https://github.com/fleetdm/fleet/issues/5328
https://github.com/fleetdm/fleet/issues/5327
https://github.com/fleetdm/fleet/issues/5326
https://github.com/fleetdm/fleet/issues/5324

[2022-04-25 22:23] lukeheath commented on #4098
@DominusKelvin Looks great! The only inconsistency I see is that sometimes we use {{$randomInt}} to create an integer for the endpoint, and sometimes we hard code a value. It may make sense to have both, just something to think about.

[2022-04-26 00:49] DominusKelvin commented on #4098
I think there is an opportunity to document what the path params are. In my little research, I found Postman supports documenting them with even descriptions which can come in handy(in my opinion rather than just having a random int which you'd definitely change later on)

[2022-04-26 00:53] DominusKelvin commented on #4098
@lukeheath for an example, check out the 'Get team' endpoint in the Postman collection.

[2022-04-26 01:15] lukeheath opened #5364 "Standardize label usage across all issues"
## Goal

As a Fleet contributor, I want issues to have meaningful and consistent labels so that I can easily understand what the scope of the issue is.

[2022-04-26 01:15] lukeheath commented on #5364
@noahtalerman I'll fill this issue out once we define a process for updating the labels. First, I'm going to put in a PR to the handbook outlining the convention from your label doc.

[2022-04-26 01:25] DominusKelvin commented on #4098
Yeah I actually did see it in the collection and it bothered me. So I'll be hard coding the numbers in there as well as using Postman's path park documentation

[2022-04-26 01:32] lukeheath commented on #4098
Cool, sounds like a plan! Once those changes are made I think we can go ahead and close this issue out. Of course we'll continue improving the Postman collection over time, but we'll open subsequent issues for that work.

[2022-04-26 01:47] DominusKelvin commented on #4098
That make sense @lukeheath I will run it by you once I'm done.

[2022-04-26 05:59] ojaschauhan44 opened #5365 "Software tab in fleet UI showing wrong results"
The software tab in fleet UI shows a software that software is installed on X number of hosts but if you click view all hosts then it shows 0.

To test it out I installed a unique software on my host and see if fleet shows it correctly. But when checked fleet showed that it was installed on 3 hosts and when clicked on view all hosts it just showed my machine.

Same goes for vulnerability software.

[2022-04-26 08:05] theterribletrivium commented on #5110
Appears my configuration management software may not be restarting osqueryd as expected, at any rate hopping on some test hosts and restarting seems to have resolved the error.

[2022-04-26 08:05] #5110 closed

[2022-04-26 11:55] lucasmrod opened #5367 "Orbit v0.0.9 does not support previous versions of Fleet"
#4731 updated Orbit osquery remote paths to use the `v1`-less paths (see the change in [orbit/pkg/osquery/flags.go](https://github.com/fleetdm/fleet/pull/4731/files#diff-50e7740177218b7c2e08948848c6058b12154af1259c2dc49c51ddd3f379a0da)). This is a breaking change.

We will have to revert such change and release a new version of Orbit.

[2022-04-26 13:13] DominusKelvin commented on #4098
@lukeheath. I've done another iteration on the collection. Let me know what you think.

[2022-04-26 13:13] #4098 closed

[2022-04-26 13:16] lucasmrod opened #5370 "Add Orbit automation to test Orbit running against latest released Fleet version"
### Goal

To prevent breaking changes like #5367, we need to run automation of latest version of Orbit against the latest released version of Fleet.

### How?

- The existing [fleet-and-orbit.yml](https://github.com/fleetdm/fleet/blob/main/.github/workflows/fleet-and-orbit.yml) tests latest version of Orbit with latest **unreleased** version of Fleet.
- We would like to *also* run the same test bu

[2022-04-26 13:45] RachelElysia opened #5371 "Delete Jira integration bug: Can no longer delete"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

Main branch

### 🧑‍💻  Expected behavior

I go to delete a Jira integration, I am able to delete it

### 💥  Actual behavior

I am getting an error from Atlassian:

[code]

<img width="1674" alt="Screen Shot

[2022-04-26 13:51] xpkoala commented on #5371
I'm not reproducing this on my end. I was just able to delete the integration on both Chrome and Safari. I'm on `main` currently.

[2022-04-26 14:41] lukeheath commented on #4098
@DominusKelvin Looks great, thanks!

[2022-04-26 15:14] michalnicp opened #5377 "Use MySQL < v5.7.22 in tests"
We have had multiple issues with using features in MySQL that are not supported in all deployments (See #5350). Changing the MySQL version in tests caused the following test failure, and prevented making the change to tests. We should resolve this.

[code]

[2022-04-26 15:20] noahtalerman opened #5378 "Anonymous usage stats: number of hosts enrolled per operating system version"
This issue is part of the following epic:
#4883

## Goal

As a member of the Fleet organization, I want to be able to say what the number of hosts enrolled per operating system version is (including the distinction between e.g. centos 6 and debian 5) for Fleet deployments with anonymous usage statistics turned on.

This way, the Fleet team can prioritize product improvements that matter most to us

[2022-04-26 15:23] noahtalerman opened #5379 "Anonymous usage stats: user retention"
This issue is part of the following epic: #4883

### Goal

As a member of the Fleet organization, I want to be able to say how "active" users are (retention) in the Fleet UI. (monthly active, weekly active, etc.) for Fleet deployments with anonymous usage statistics turned on.

This way, the Fleet team can prioritize product improvements that matter most to users.

### How?

Gather anonymized/aggr

[2022-04-26 15:29] noahtalerman opened #5380 "Add probability of exploit (EPSS score) column to Software page table"
## Goal

As a Fleet user, I want to know the exploitability (EPSS score) and severity (CVSS scores) for vulnerable software installed on my devices so that I can prioritize updating/patching the software that is most vulnerable to attack across my fleet.

## Figma

Add probability of exploit (EPSS score) for vulnerable software: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6454%3A262

[2022-04-26 15:32] ksatter opened #5381 "Docs: Draft rework of fleetctl docs"
- [ ] Remove references to tutorial
- [ ] Bring important information "Above the fold"
- [ ] Make wording more cohesive and friendly
- [ ] Submit draft PR for @mikermcneil , @noahtalerman and @DominusKelvin
- [ ] Discuss whether changes add value and should be applied across the docs

[2022-04-26 15:44] noahtalerman opened #5384 "Expose screen lock and password policy information"
This issue is part of the "Provide obvious value out of the box with Fleet" epic: #4969

### Goals

As a Fleet user, I want to know whether or not screen lock is enabled for all my macOS, Windows, and Linux workstations so that I know which devices need to enable this feature to keep them secure and compliant.

As a Fleet user, I want to know if the password to unlock a device (macOS, Windows, and

[2022-04-26 15:49] noahtalerman commented on #5384
Sharvil: Retrieving screen lock information via osquery may not be very reliable on the latest macOS versions. There is a screen_lock table (macOS). Only works on currently logged in users.

[2022-04-26 15:50] noahtalerman commented on #5384
Sharvil: For password policy information, there's a command line utility that we can add as a table to macadmins extension.

[2022-04-26 15:55] gillespi314 commented on #5371
cc @mna

[2022-04-26 16:18] noahtalerman commented on #5124
Both really awesome findings. @RachelElysia and @gillespi314 I added both of these items to today's product office hours.

This way, if we get to these, we can decide whether or not these improvements will be prioritized and released in the next 6 weeks.

FYI this is part of a new intake process for feature requests. Docs on this process is currently in an open PR here: https://github.com/fleetdm/

[2022-04-26 16:19] ksatter opened #5385 "Idea: Config setup wizard"
### fleetctl config setup wizard

When setting up a Fleet server for the first time, allow the user to run a command like `fleetctl init` to set up an initial YAML config file.

### How?

Offer three primary options for setup:

1. Creation of a YAML with all default values applied, much like `npm init -y`.
    - Creates a YAML config file with default values entered.
2. Creation of a YAML with the

[2022-04-26 16:20] ksatter commented on #5385
@mikermcneil @DominusKelvin Here's a more fleshed-out version of the feature idea we discussed this morning. Let me know what you think!

[2022-04-26 16:23] GuillaumeRoss opened #5386 "Vulnerability processing: False negative for Zoom Desktop app"
Links to NVD for 2 vulnerabilities (CVEs) associated with Zoom 5.7.4:
- https://nvd.nist.gov/vuln/detail/CVE-2021-34423
- https://nvd.nist.gov/vuln/detail/CVE-2021-34424

### 🧑‍💻  Expected behavior
Checking the Zoom version on a laptop, I saw that it was running 5.7.4. I expected to see the above CVEs in **Software** page in the Fleet UI.

### 💥  Actual behavior
Here is what I saw:

<img width="15

[2022-04-26 16:26] noahtalerman commented on #4540
@ksatter what do you think about this rule for the docs? _Always document the product available in the latest release and link to docs for the older versions._

So, in this case, if we applied the above rule, we'd remove the "Reset password" section and then add a note like "If you're using an older version of Fleet..." and link to the markdown file (old commit) that includes the password reset in

[2022-04-26 16:29] ksatter commented on #4540
@noahtalerman makes complete sense.

[2022-04-26 17:10] GuillaumeRoss commented on #5039
@eashaw @mike-j-thomas What should the format be for the tags in the file? And can I add them right now without causing issues?

Something like this?

`---
apiVersion: v1
kind: query
spec:
  name: Get antivirus status from the Windows Security Center
  platforms: Windows
  query: SELECT antivirus, signatures_up_to_date from windows_security_center CROSS JOIN windows_security_products WHERE type =

[2022-04-26 17:14] mna commented on #5338
@gillespi314 Yes, I just tested it without a type and the request fails. It's not super obvious what exactly is required from their documentation, and I think a lot of the payload can be customized in Jira, but I can confirm that the issue type is required.

[2022-04-26 17:26] GuillaumeRoss opened #5389 "Vulnerability processing: False negative for Firefox Desktop app"
Link to NVD for 1 vulnerability (CVE) associated with Firefox 93. Note that there are [about 10 more CVEs](https://www.mozilla.org/en-US/security/advisories/mfsa2021-48/) associated with this version.
- https://nvd.nist.gov/vuln/detail/CVE-2021-38505

### 🧑‍💻  Expected behavior
I checked Firefox on a laptop. I expected to see the CVEs associated with version 93.

### 💥  Actual behavior

Firefox 93

[2022-04-26 17:27] mna commented on #5371
There are probably a few things coming into play here. I see that there were 3 integrations, including 2 for the same project (JIR), could it be that one of those uses invalid credentials and was created before the proper validation was in place? That could explain what happens, because let's say an invalid integration got saved, and then the proper Jira connection validation was added and new (va

[2022-04-26 17:37] #5241 closed

[2022-04-26 18:27] mna commented on #2316
For the frontend development (@lukeheath ):

* The `"last_opened_at"` field has been added to the payload of the `GET /hosts/{id}` endpoint **only**, as per the description of this ticket. You can see an example payload here: https://github.com/fleetdm/fleet/blob/main/docs/Using-Fleet/REST-API.md#get-host (in the Software array), or the relevant excerpt in the description of this ticket.
* That fi

[2022-04-26 18:29] mikermcneil opened #5391 "Better error message for unsupported MySQL or Redis"
### Goal

As a user of Fleet deploying on an unsupported version of MySQL and Redis, I want to see a clear developer-friendly error message telling me what's wrong, and suggesting how I can fix it (switching to a supported version of MySQL and Redis).

[2022-04-26 18:37] zwass commented on #4261
https://github.com/osquery/osquery/pull/7516 has been merged for osquery 5.3.0, which will hopefully resolve the issue.

[2022-04-26 18:45] eashaw commented on #5039
@GuillaumeRoss That is the correct format! Adding tags shouldn't cause any issues.

[2022-04-26 19:15] GuillaumeRoss commented on #5039
Can tags have spaces or not? Ex: Active Directory

[2022-04-26 19:31] noahtalerman commented on #5386
Links to NVD for both of the above vulns:
- https://nvd.nist.gov/vuln/detail/CVE-2021-34423
- https://nvd.nist.gov/vuln/detail/CVE-2021-34424

[2022-04-26 19:48] noahtalerman commented on #5389
@GuillaumeRoss thank you for filing this issue and the Zoom issue (#5389)!

These issues confirm two instances of false negatives in Fleet's ability to detect vulnerable software today.

Please continue to file these false negative issues so that you, I, or someone else can add them to the list of the 20 common software items: https://github.com/fleetdm/fleet/issues/4992#issuecomment-1096703968

T

[2022-04-26 21:41] noahtalerman commented on #4113
@lukeheath this makes sense to me.

Just to make sure we're on the same page, we'd like to add the "Bundle identifier" information as a tooltip instead of a column:
![Screen Shot 2022-04-26 at 5 40 54 PM](https://user-images.githubusercontent.com/47070608/165397101-82664895-aba6-4db7-afb0-87e2677f2945.png)

[2022-04-26 21:41] #5367 closed

[2022-04-26 21:41] lucasmrod commented on #5367
Orbit 0.0.10 has been released to the `stable` channel.

[2022-04-26 21:55] lukeheath commented on #4113
@noahtalerman Thanks for the clarification. Description updated.

[2022-04-26 22:11] ksatter opened #5396 "Idea: Change "Ask for help on Slack" to "Join us on Slack""
The Slack button on the [Get Started](https://fleetdm.com/get-started) currently reads "Ask for help on Slack". Changing this to "Join us on Slack" or something similarly community-oriented would be a great way to encourage engagement.

@timmy-k

[2022-04-26 22:17] lukeheath opened #5397 "Data table row checkbox misaligned"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

Each row's checkbox is vertically centered.

### 💥  Actual behavior

Each row's checkbox is vertically uncentered.

![image](https://user-images.githubusercon

[2022-04-26 22:32] lukeheath commented on #3399
@martavis This ticket is no longer blocked. Please see [Martin's comment in the backend issue](https://github.com/fleetdm/fleet/issues/2316#issuecomment-1110118729).

[2022-04-26 22:33] lukeheath commented on #2316
@mna Thanks for the update! I've removed the `:blocker` label for this issue and updated the related frontend issue.

[2022-04-26 23:04] timmy-k opened #5399 "Make images for Growth's ads V1"
### Goal
To increase CTRs on Google & Linkedin ads by making custom images

Specs:
- Google— https://support.google.com/google-ads/answer/7005917?hl=en#zippy=%2Cimage-and-logo-size-requirements
- Linkedin— https://business.linkedin.com/marketing-solutions/success/ads-guide/single-image-ads

Current ad samples:
- Google— https://ads.google.com/aw_cm/ExternalPreview?hl=en_US&ad=593841588926&adGroup=

[2022-04-26 23:14] hollidayn commented on #4671
This is done.  Need to clarify and add some DRIs to a couple of places (will have and add tomorrow), but we are basically 99% there.

[2022-04-27 00:31] asterisk800 opened #5400 "Live query on fleet 4.13.2 is not working"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
fleetctl - version 4.13.2
  branch:       HEAD
  revision:     466028426bc7bb473ed76ab4493f34c81c487ce5
  build date:   2022-04-25
  build user:   runner
  go version:   go1.17.8
**Operating system**: _(e.g. macOS 11.2.3)_
macOS 12.3.1
**Web browser**: _(e.g. Chrome 88.0.4324)_
Version 100.0.4896.127 (

[2022-04-27 01:25] mike-j-thomas opened #5401 "Update language on /customers/login"
"Sign in to manage your Fleet Premium subscription"

![Image](https://user-images.githubusercontent.com/78363703/169919734-dae7f5df-7f3b-4e08-9ff5-559842905b0e.png)

[2022-04-27 07:37] mike-j-thomas commented on #5138
@noahtalerman, I cleaned up the layouts based on our conversation and moved the filter drop-down (and multi-filters) to `🧼 Host filters`. I'm assigning this over to you.

[2022-04-27 07:53] mike-j-thomas commented on #4267
Thanks, @gillespi314 and @DominusKelvin.

[2022-04-27 07:57] DominusKelvin commented on #4267
I think we will need a design from you @mike-j-thomas. Both mobile and web

[2022-04-27 08:10] mike-j-thomas commented on #4267
@gillespi314, @DominusKelvin. I've just been looking into this and don't think that we should do it. The reason is that the logical place to put it is in the bottom corner of the page, but I don't want any other buttons interfering with the PaperCups contact CTA.

We have sticky nav scheduled, and I suspect we don't need both interactions. I'd like to do that first, then re-asses whether a "top" b

[2022-04-27 13:55] mna commented on #2316
Given that there's a separate ticket (#3399 ) for frontend work that repeats the (frontend-related) last checkbox in this ticket's description, I'll consider this ticket the "backend" one and change update its status to reflect the backend state.

[2022-04-27 14:06] noahtalerman opened #5405 "In Fleet UI, provide instructions on how to integrate with Fleet"
### Goal

As a user on the **My Account** page that wants to integrate with Fleet, instead of surfacing API token that won't work for me (expiring token), I want to see a link with information on how to generate a proper token (non-expiring token).

### Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6847%3A270119

### Tasks

**API-only user instructions**
- [x] add purple callou

[2022-04-27 14:08] noahtalerman commented on #5405
Notify these folks when this issue makes into into a planned release:
- @mikermcneil

[2022-04-27 14:20] noahtalerman opened #5406 "On Host details page, add total disk space, processor, and model information"
This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-04-26.

### Goal

As a Fleet user, I want to know the total available disk space and processor information so that I can communicate to end users which hardware (ex. RAM) and products (ex. external keyboards and cases) are compatible with their device.

[2022-04-27 14:24] noahtalerman commented on #4351
Notify these folks when this issue makes into into a planned release:
- @alphabrevity

[2022-04-27 14:28] chiiph commented on #498
This was solved on https://github.com/fleetdm/fleet/pull/5119

[2022-04-27 14:28] #498 closed

[2022-04-27 14:30] noahtalerman commented on #4351
@chiiph adding research for the [CISA Known Exploited Vulnerabilities](https://www.cisa.gov/known-exploited-vulnerabilities-catalog) feed to the [Quantifying vulnerabilities Google doc](https://docs.google.com/document/d/1beWaMYOi-KZn4qhYW3iMLot8GHSoMjA3FM7xZ4bFd9g/edit) that Juan created would be extremely helpful.

This way, we can know the feasibility of surfacing this data before spending time

[2022-04-27 14:32] noahtalerman commented on #5220
Notify these folks when this issue makes into into a planned release:
- @timmy-k

[2022-04-27 14:33] noahtalerman commented on #5188
Notify these folks when this issue makes into into a planned release:
- @timmy-k

[2022-04-27 14:35] chiiph commented on #4351
cc @michalnicp ^

[2022-04-27 14:36] chiiph commented on #918
Duplicate of https://github.com/fleetdm/fleet/issues/447

[2022-04-27 14:38] chiiph commented on #895
@noahtalerman with the addition of last used software, we can probably do this in the UI based on the results of this data.

[2022-04-27 14:41] noahtalerman opened #5408 "Add new `fleet_desktop` property to global config object"
## Problem
In Fleet Desktop, the current "Transparency" link opens the contributor's (end user's) browser and sends them to fleetdm.com/transparency:
![Screen Shot 2022-04-27 at 10 42 30 AM](https://user-images.githubusercontent.com/47070608/165544798-5f7e4bb7-27d4-40c9-b60c-53983f1be9c3.png)

Customers want to direct their end users to their own transparency-related resource.

## Goal

As a fleet

[2022-04-27 14:43] noahtalerman commented on #5408
Notify these folks when this issue makes into into a planned release:
- @tgauda

This improvement was prioritized (committed to drafting in the next 5 business days) during 🗣 Product office hours on 2022-04-26.

[2022-04-27 14:58] chiiph commented on #1524
We've introduced https://fleetdm.com/docs/deploying/configuration#app-enable-scheduled-query-stats to solve this.

[2022-04-27 15:08] lukeheath commented on #3320
@martavis Note that per [this thread](https://github.com/fleetdm/fleet/pull/5383#discussion_r859900617) on the backend PR, they are adding a new parameter that we will have to add to our `GET /hosts` request in order to receive the google chrome profiles back.

They're doing this because that process slows down the response, and we want to allow API users to hit that API endpoint with the option o

[2022-04-27 15:22] eashaw commented on #5039
@GuillaumeRoss Yes, tags can have spaces.

[2022-04-27 15:30] lukeheath commented on #2316
@mna Thanks for the heads up. The frontend portion should not have been in this ticket since it has its own, so I went ahead and removed it from this ticket.

[2022-04-27 16:03] noahtalerman commented on #5338
Thanks Martin and Sarah!

@xpkoala this change makes sense to me. Can you please update this issue to call out this change? Heads up, I believe this will be a ":backend" change.

[2022-04-27 16:30] RachelElysia commented on #3087
Section removed in release 4.13.

[2022-04-27 16:30] #3087 closed

[2022-04-27 16:49] RachelElysia commented on #5371
@mna - Yup, removed the invalid integration directly through Sequel Pro and now all my functionality works again. Apparently, I made that integration before there were validation checks. 😅

Thank you @mna ! Closing out this issue!

[2022-04-27 16:49] #5371 closed

[2022-04-27 17:18] xpkoala opened #5415 "Small layout fixes to new settings overhaul"
**Fleet version**: `main`

**Operating system**: macOS 12.2

**Web browser**:

<hr/>

### 💥  Actual behavior
A few small fixes to address with the overhaul to the /settings page.

/settings/organization/smtp
- SMTP Port box is not labeled. (This is not due to the overhaul)
- SMTP Port box not aligned with SMTP server box.
- SMTP Port box (on 768x width screen) does not show the full port number.

[2022-04-27 19:00] timmy-k opened #5422 "Optimize Linkedin Ads to ~6 MQOs by 6/30"
### Goal
Hit our overall ads OKR by getting ≈ 6 MQOs from Linkedin ads

### How
- [x] Get impressions
- [x] Drive traffic to budget
- [x] Write more ads
- [x] Monitor for quality— simple enrichment on likes, etc.
- [x] Monitor for conversion— schedule demo, signup, self service purchase, join osquery Fleet channel in Slack
- [x] Optimization experiments— new targeting, new settings, new ads, new L

[2022-04-27 19:03] timmy-k commented on #5269
Completed so closing

[2022-04-27 19:03] #5269 closed

[2022-04-27 19:08] zwass commented on #3555
Related: Users may have other tables that they add by extensions that they would like to show up as valid in the Fleet UI (eg. https://osquery.slack.com/archives/C01DXJL16D8/p1651037781267399?thread_ts=1651023730.553769&cid=C01DXJL16D8)

We might need some sort of UX for defining and making these available throughout the UI.

[2022-04-27 19:17] noahtalerman commented on #3931
@mikermcneil heads up, I'm going to go ahead and review Kelvin's proposal. This way, Kelvin can get started on the improvements.

[2022-04-27 19:20] #4993 closed

[2022-04-27 19:30] timmy-k opened #5423 "Add enrichment process to doc for slack community conversion path for MQOs"
### Goal
Make a documented process for MQOs who convert by initially joining the slack community

### How
- [x] Write process in gdoc
- [x] Add to rituals
- [ ] Drew to test drive this process once we see conversions on this goal

[2022-04-27 20:15] noahtalerman commented on #3931
@DominusKelvin your brief looks good to me!

Please feel free to open a separate issue that outlines the improvements to the "Add hosts" docs page. Can you please bring this separate issue into the community board and add it to the current release (4.14) ? Thanks :)

After the separate issue is open please feel free to close this issue (mark as delivered).

[2022-04-27 20:23] chiiph commented on #4351
@noahtalerman Michal updated the doc.

[2022-04-27 20:31] mna commented on #5338
@noahtalerman @xpkoala Hope I didn't move prematurely on this, but since this was a very simple change (based on the previous comment) I went ahead and prepared the PR for it: https://github.com/fleetdm/fleet/pull/5426

[2022-04-27 20:36] lukeheath commented on #5338
@mna This was labeled frontend so I was taking a look. Looks like it's actually backend. Updated ticket and assigned to you. Thanks for the PR!

[2022-04-27 20:47] #4385 closed

[2022-04-27 21:10] lukeheath commented on #5220
@chiiph We're going through a tagging tickets for the appropriate teams. We _think_ this is platform, but feel free to re-label as `#agent` if not.

[2022-04-27 22:54] mike-j-thomas commented on #5036
@noahtalerman assigned over to you to take the UX flow to the platform team.
Latest Figma here: https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=794%3A373

[2022-04-27 23:50] mike-j-thomas commented on #5257
@eashaw, please can you add some more details to the description when you get a chance, and I will assign it to @hollidayn. No immediate rush. Thanks.

[2022-04-28 02:25] mike-j-thomas commented on #4671
Hey @hollidayn, I'm resurrecting this ticket. Please update each section of [README.md](https://fleetdm.com/handbook) with a link to the Rituals sections.

- Use the link under Brands as an example to pattern match if you're unsure how to do the Markdown.
- The order of Rituals and Workiversaries needs swapping for the People group.

Thanks.

[2022-04-28 02:33] #4398 closed

[2022-04-28 02:44] mike-j-thomas commented on #4267
Fyi: The first version of the sticky "On this page" nav is now live. I hope to iterate on this to highlight the current section. We also plan to make the left-side nav follow suit—a step in the right direction.

[2022-04-28 13:36] xpkoala commented on #5400
Hi @asterisk800. I'm sorry to hear about the trouble you are having with Fleet.

I have done some local poking and I'm not able to reproduce the behavior you are experiencing. Did you recently upgrade to this version of Fleet or was this installed from scratch on v4.13.2?

The mention of `redisc` has me thinking there is something going on with the Redis service.

@ksatter have you seen any simila

[2022-04-28 14:28] xpkoala commented on #4946
@noahtalerman PR added for review.

[2022-04-28 14:50] GuillaumeRoss commented on #3420
Oooh actually - we turned it into a doc - https://fleetdm.com/docs/using-fleet/adding-hosts#grant-full-disk-access-to-osquery-on-mac-os

Think it's still worth a blog post?

[2022-04-28 15:11] noahtalerman commented on #3227
TODO Reed: Add entire screen around the cards to indicate that the page changes (new URL)

[2022-04-28 15:13] noahtalerman commented on #636
TODO Reed: Bring in "Export hosts" and "Show query" button.

[2022-04-28 15:13] Desmi-Dizney commented on #5328
This will now be tracked via spreadsheet: https://docs.google.com/spreadsheets/d/1W7qvTPtlN-SMffReJFywP5AhoTMPEvbjRz9UkhEUKfg/edit#gid=0  Closing issue.

[2022-04-28 15:13] #5328 closed

[2022-04-28 15:13] #5327 closed

[2022-04-28 15:15] Desmi-Dizney commented on #5326
This will now be tracked via spreadsheet: [https://docs.google.com/spreadsheets/d/1W7qvTPtlN-SMffReJFywP5AhoTMPEvbjRz9UkhEUKfg/edit#gid=0  ](https://docs.google.com/spreadsheets/d/1W7qvTPtlN-SMffReJFywP5AhoTMPEvbjRz9UkhEUKfg/edit#gid=0%E2%80%A8%E2%80%A8)
Closing issue.

[2022-04-28 16:33] xpkoala commented on #3420
The doc is perfect! I'll close this one out. Thank you!

[2022-04-28 17:02] lukeheath opened #5437 "Attempting to submit Jira integration with no https:// fails with no error message"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

If I attempt to enter `fleetdm.atlassian.net` into the Jira integration URL field, I expect to be notified that it is invalid when the input loses focus and t

[2022-04-28 17:10] DominusKelvin commented on #3931
On it!

[2022-04-28 17:12] timmy-k commented on #5220
cc: @DrewBakerfdm

[2022-04-28 17:17] DominusKelvin opened #5438 "Improve the adding hosts section of the docs"
### Goal

TODO

Based on the research, studies, and learning from #3931, this improvement is an initial project to apply those learnings on a tangible page(in this case, the adding hosts 'page)

### How?

- [ ] Deduplicate the page as much as possible by cutting back on words and linking to other sections of the docs when necessary.
- [ ] Clearly showing that Fleet both support plain osquery as we

[2022-04-28 17:17] DominusKelvin commented on #5438
cc: @noahtalerman

[2022-04-28 17:39] chiiph commented on #2761
This is done already.

[2022-04-28 17:39] #2761 closed

[2022-04-28 17:43] chiiph commented on #2607
This was done throughout the code, we might've missed a few places, but overall the expected behavior is 404 now.

[2022-04-28 17:43] #2607 closed

[2022-04-28 17:45] DominusKelvin commented on #3160
Note to self: Add to FAQ

[2022-04-28 17:53] #2868 closed

[2022-04-28 17:53] #2832 closed

[2022-04-28 17:53] #2830 closed

[2022-04-28 17:54] chiiph commented on #2794
This is done.

[2022-04-28 17:54] #2794 closed

[2022-04-28 17:55] #2776 closed

[2022-04-28 18:44] lukeheath opened #5439 "Attempting to enable Jira ticket flow for software automations returns 401 error"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When I attempt to enable a Jira integration on the Software page's "Automations" modal, I expect it to successfully enable the integration and begin sending n

[2022-04-28 18:44] lukeheath commented on #5439
@xpkoala Wanted to get this on your radar. Assigning over to you to verify.

[2022-04-28 19:14] lukeheath commented on #5291
@noahtalerman Assigning over to you to define the ticket template.

[2022-04-28 19:22] lukeheath opened #5441 "Enable ticket workflow for failing policies automation"
Part of the following epic: https://github.com/fleetdm/fleet/issues/4523

## Goal

As a user, I want to enable ticket workflow automations for failing policies so that tickets are created in my ticketing system (Jira or Zendesk) when a failing policy occurs.

## Figma

Tickets for policy automations: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6284%3A270348

## Related

- Backend: #

[2022-04-28 19:29] Hanaffi commented on #4615
Hi @lukeheath Can you assign this ?

[2022-04-28 20:01] xpkoala commented on #5439
@lukeheath Thank you. I have verified this as an issue on both `main` and Dogfood.

[2022-04-28 20:08] xpkoala commented on #5415
@RachelElysia Lets leave it as is for now. I'll create a ticket to make that improvement.

[2022-04-28 22:46] zwass commented on #5439
From my discussion with @gillespi314 it sounds like the integration would work after the initial configuration, but then the credentials are cleared after edits and that's causing the 401s.

Can we confirm that it still works on the initial configuration?

[2022-04-28 22:56] lukeheath commented on #4282
@noahtalerman API is spec'd. Assigning back to you because the issue still has a `:wireframe` label.

[2022-04-28 22:59] lukeheath opened #5445 "Expose policies on My device page"
## Goal

As an IT administrator, I want to be able to configure self service in Fleet so that the end user can resolve a failing issue on their company owned device.

As an end user, I want to be notified when my device isn't up to company standards so that I can resolve the issue and continue to get my job done without interruption/distraction.

## Figma

Add ability to configure self service in

[2022-04-28 23:03] #5080 closed

[2022-04-28 23:11] lukeheath commented on #5445
@noahtalerman Assigning over to you to finalize specs / wireframes.

[2022-04-28 23:14] lukeheath commented on #5439
@zwass From my testing it can add an integration in the settings, but it cannot be enabled via the software page because that requires an edit.

[2022-04-28 23:26] gillespi314 commented on #5439
@zwass I believe on creation the integration defaults to disabled so a second step is required to enable the automation, which is where it is failing.

[2022-04-29 06:48] timmy-k commented on #5006
This could be one strategy— https://github.com/fleetdm/confidential/issues/1126

[2022-04-29 12:31] #5377 closed

[2022-04-29 13:16] mike-j-thomas commented on #5038
Thanks, @Desmi-Dizney. I'm marking this complete and closing the issue.

Contrary to what I said earlier, other than adding this to our rituals table, I don't think we need to document the details of the process in the handbook. Once we've caught up and gone over the whole of the docs, our existing process of reviewing PRs as they come in should be sufficient. Also, having both processes will be p

[2022-04-29 13:16] #5038 closed

[2022-04-29 13:22] mike-j-thomas commented on #5099
Thanks, @Desmi-Dizney. In a Google Doc, please can you have a crack at drafting the different types of bullets we'll likely come across and how you think we should style them for consistency. Once you've got it, please drop it in this thread for review. Thanks.

[2022-04-29 13:49] mike-j-thomas opened #5452 "Labels section in Company group of the handbook"
Thanks for bringing this up, @Desmi-Dizney.

## Goal
Document how we use GitHub labels to help with our project management

## How
This section needs a clearer description to give readers (existing and new) employees more context about what these are referring to.

- [ ] Reach out to @lukeheath to add more details to the description of this section. E.g.:

- [ ] Move this section above Slack chann

[2022-04-29 14:36] noahtalerman opened #5454 "Advertise Fleet's osquery installers (Orbit) as stable"
### Goal

As a member of the Fleet community, I want to know why Fleet's osquery installers are currently advertised as "beta" and what improvements are required before advertising this feature as "stable" so that I can track the progress towards a stable release.

### Reasoning

Fleet's osquery installers are currently called "beta" because Orbit doesn't support systems with SELinux and the steps

[2022-04-29 14:48] noahtalerman commented on #5438
@DominusKelvin looks great!

[2022-04-29 15:23] noahtalerman commented on #5291
The issue's description is now updated with ticket templates for Jira and Zendesk.

@lukeheath assigning over to you to review the ticket template and specs.

[2022-04-29 15:29] noahtalerman commented on #4282
@lukeheath got it. The wireframing work for this iteration is complete.

I removed the :wireframe label and moved this issue into the "Specified" column.

[2022-04-29 15:45] GuillaumeRoss opened #5457 "Add manual and automated test cases for authorization"
### Goal

TODO
To prevent future issues like https://github.com/fleetdm/fleet/security/advisories/GHSA-pr2g-j78h-84cr - we should add more testing cases around authorization, manual and automated.

For example:

**Manual**

- [ ] As a team admin, can I add myself to another team? I should not.
- [ ] As a team observer, can I view data from APIs that should only be available to full instance users?

[2022-04-29 15:46] GuillaumeRoss commented on #5457
The manual tests should be added first, automated ones are less of a priority but still important.

[2022-04-29 16:06] noahtalerman opened #5458 "Expose probability of exploit (EPSS score) via the `GET /software` response"
## Goal

As a Fleet user, I want to know the exploitability (EPSS score) and severity (CVSS scores) for vulnerable software installed on my devices so that I can prioritize updating/patching the software that is most vulnerable to attack across my fleet.

## Figma

Add probability of exploit (EPSS score) for vulnerable software: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6454%3A262

[2022-04-29 16:28] zwass commented on #5384
Sharvil and I discussed yesterday -- he's taking a look into research and we're going to plan for implementation during the 4.14 sprint.

[2022-04-29 16:35] noahtalerman commented on #5086
@luke heads up I moved this issue and the following issues to the "Designed" (awaiting architecture) in the new planning board:
- #3359
- #5103
- #4904
- #4410

[2022-04-29 16:44] noahtalerman commented on #5380
@lukeheath passing this issue to you to review/complete specs.

[2022-04-29 16:48] sharvilshah commented on #5384
@noahtalerman yep, as Zach mentioned, I am going to research what needs to be done, and what approach would work best -- whether an osquery extension, or in core or via an MDM API.

Note that this will be initially for macOS only.

[2022-04-29 17:07] xpkoala opened #5459 "Third state for why stuff isn't showing up"
### Goal

This is related to #3124.

As per discussion that happened in the following slack thread, we need to design a third state for the case of: "If user collection is enabled and the osquery query returns an error when run on the host, show “No users collected from this host.” error message."

https://fleetdm.slack.com/archives/C02MP2CTQUE/p1650647424783859?thread_ts=1650636528.698269&cid=C02

[2022-04-29 17:52] GuillaumeRoss opened #5460 "Evaluate feasability or current escaping of exports to CSV"
### Goal

TODO
During the latest penetration testing engagement on Fleet (which will be posted to https://fleetdm.com/docs/using-fleet/security-audits in the next week or so), the testers identified that CSV exports might contain commands that could be used to exploit the software used to open the CSVs, such as Excel

For example, you could rename a team to  `=cmd|' /C calc'!A0` - which would caus

[2022-04-29 19:06] xpkoala opened #5463 "MySQL server error on start"
**Fleet version**: `main`

**Operating system**:

**Web browser**:

<hr/>

### 🧑‍💻  Expected behavior
After running `docker-compose up` the MySQL service would be running.

### 💥  Actual behavior
The MySQL service exits immediately with: `Exited(2)`
[code]

### More info
After a bit of poking around I'm guessing this has something to do with the change here https://github.com/fleetdm/fleet/commit/

[2022-04-29 19:43] michalnicp commented on #5458
I think we should also include the epss percentile, which is also readily available. From https://www.first.org/epss/articles/prob_percentile_bins

Also, to indicate that these values come from epss and to differentiate them from cvss scores, I would suggest we prefix them with `epss_*`. The `probability_of_exploit` is a value that changes daily and reflects the probability of exploit in the next

[2022-04-29 19:56] GuillaumeRoss opened #5464 "Increase length of login throttling delay from 4 to 10 seconds"
To make brute-force attacks harder, without impacting user experience negatively, we have to pick a speed at which we slow down login attempts.

This currently works as a "leaky bucket" which imposes a 4 second delay for the next request once 10 requests are contained.

We should increase this to 10. Anything beyond that would have negative UX potential for little security benefit.

[2022-04-29 20:02] hollidayn commented on #5257
@eashaw do we include the links to the internal docs in this? I assume no but want to double check.

[2022-04-29 21:52] xpkoala commented on #5463
Related https://github.com/docker/for-mac/issues/6137

For now I have modified my docker-compose.yml file to target MySQL 5.7 instead of 5.7.21.

[2022-04-29 23:22] zwass commented on #5308
One good test case for this I identified:

[Ubuntu curl vulnerabilities](https://ubuntu.com/security/notices/USN-5397-1) are not detected by 4.13.2 for a Ubuntu host on dogfood

<img width="1095" alt="Screen Shot 2022-04-29 at 4 21 30 PM" src="https://user-images.githubusercontent.com/575602/166080075-150223e0-bf14-4900-93a2-4adbacb98112.png">

It would be great to verify that our OVAL implementat

[2022-04-29 23:27] zwass opened #5469 "Software tooltip clipped on host page"
**Fleet version**: 4.13.2

**Operating system**: macOS

**Web browser**: Firefox stable

<hr/>

### 💥  Actual behavior
Looks like probably a z-index or overflow issue? This only effects the last entry on the page.

<img width="455" alt="Screen Shot 2022-04-29 at 4 26 03 PM" src="https://user-images.githubusercontent.com/575602/166080377-968b9328-2cef-42c2-97f6-ac21a184c1bc.png">

### More info

[2022-04-29 23:52] zwass opened #5470 "Improperly mapped CPEs"
Listing CPEs that are not properly mapped from software inventory by Fleet:

https://docs.google.com/spreadsheets/d/1Q-ZM3Y1j_fB583jKOrqKNKWDvreCHljhHOHwjkg22xo/edit?usp=sharing

[2022-04-30 23:12] mikermcneil opened #5472 "Set up a way for handbook-only PRs to get auto-labeled on submission on or before May 6"
see https://github.com/fleetdm/fleet/pull/5462#issuecomment-1114069467

[2022-04-30 23:18] mikermcneil opened #5473 "Tool: Finish sails run prepare-sprint"
See https://github.com/fleetdm/fleet/pull/5064#discussion_r862404416

[2022-05-01 10:11] GuillaumeRoss commented on #5039
PR filed with tags for all. I need to do further clean-up but this should allow you to make the change once it is merged. Thanks!

[2022-05-02 03:29] mike-j-thomas opened #5475 "Get process tree on Linux, macOS, and Windows"
• for search result page: "Linux process tree."
• title: "Get process tree on Linux, macOS, and Windows."
(show how to get it on all three)

[2022-05-02 03:32] mike-j-thomas commented on #5475
@mikermcneil, I converted this from a memo that you created on the original Growth plan board. If you can remember the context around this, please can you add more details to the description? Thanks.

[2022-05-02 03:59] mike-j-thomas commented on #5046
@timmy-k, @tgauda, @noahtalerman, @mikermcneil, @zwass. I'm putting this on everyone's radar as an action item. Please check the box next to your boards above if and when they are ready to be archived. Thanks.

[2022-05-02 04:00] mike-j-thomas commented on #4761
Closing. I have migrated all Digital Experience-related tasks from the old https://github.com/orgs/fleetdm/projects/21.

FYI: @timmy-k, @DrewBakerfdm, The remaining issues on the old Growth plan board belong to [g-growth](https://github.com/orgs/fleetdm/projects/38), under blog content calendar and social media. Relates to https://github.com/fleetdm/fleet/issues/5046

[2022-05-02 04:00] #4761 closed

[2022-05-02 04:22] mike-j-thomas commented on #5039
Thanks, @GuillaumeRoss. @eashaw, you're clear to work your magic on the site once https://github.com/fleetdm/fleet/pull/5474#pullrequestreview-958701503 has been approved and merged.

[2022-05-02 07:02] GuillaumeRoss opened #5476 "Set session duration to total session length"
The implementation of `session_duration` at the moment is an _idle_ session timeout.

### 🧑‍💻  Expected behavior

The Fleet documentation describes the above (expected) behavior: https://fleetdm.com/docs/deploying/configuration#session-duration

### 💥  Actual behavior

Fleet documentation defines session duration as

[2022-05-02 07:08] GuillaumeRoss opened #5477 "Increase default minimum password length to 12"
### Goal

The current password policy in Fleet requires passwords that are 7 characters long. We should increase this to 12.

We should not change any other setting in the policy, simply increase the minimum length. SSO is recommended for use with complex password policies.

### How?

- [ ] Increase default minimum password length to 12.
- [ ] Enforce on backend and frontend.
- [ ] On **Set up** a

[2022-05-02 07:12] GuillaumeRoss opened #5478 "Two-factor authentication for admins logging into Fleet w/o SSO"
- `customer-rosner`: WONT: Gong snippet
  - @noahtalerman: This request has been met for `customer-rosner`
- `customer-stazzema`: Gong snippet TODO
- `customer-numa`: Gong snippet TODO
- `customer-seidel`: https://us-65885.app.gong.io/call?id=7137028313068298352&highlights=%5B%7B%22type%22%3A%22SHARE%22%2C%22from%22%3A603%2C%22to%22%3A675%7D%5D
- @allenhouchins: This is a valid concern that could

[2022-05-02 09:50] DominusKelvin commented on #3931
Okay on it.

[2022-05-02 09:50] #3931 closed

[2022-05-02 09:51] DominusKelvin commented on #5438
Thanks @noahtalerman

[2022-05-02 10:55] lucasmrod commented on #5377
@michalnicp Was [this](https://github.com/fleetdm/fleet/commit/2c23cb5f243c0cc9bc2a0c9b2d8f399d28fa09c3) the only issue? Maybe we could try adding it again and see what else fails?

[2022-05-02 13:24] chiiph opened #5486 "Review error reporting code and plan for what we need to do next"
As part of https://github.com/fleetdm/fleet/pull/3168 and https://github.com/fleetdm/fleet/pull/2786 we added the capability for fleet to collect and output errors. This is the first step of a few to better generate error reports when there are issues to make it easier to identify what's wrong without playing 1000 questions with the customers/community members.

We need to review the work that was

[2022-05-02 13:25] mna commented on #4793
After discussing with Lucas, considering we could not reproduce on a fresh install and some cleanup was implemented for policies, we think we should close for now as "cannot reproduce" and revisit if we have reports of similar issues.

[2022-05-02 13:55] #5275 closed

[2022-05-02 15:00] #5326 closed

[2022-05-02 15:36] noahtalerman commented on #3227
TODO Noah:
- Add specs to issue
- Break out a separate issue for FAQ

[2022-05-02 15:37] noahtalerman commented on #3227
@xpkoala heads up, I'm removing you as an assignee from this issue.

I'm adding myself to file a separate issue and complete specs for this issue.

[2022-05-02 15:41] michalnicp commented on #5377
This was the only issue I was aware of at the time.

[2022-05-02 15:43] noahtalerman commented on #636
@xpkoala heads up, I completed the above TODO. I'm assigning this issue to myself to complete specs.

[2022-05-02 16:33] xpkoala opened #5493 "Selected entry checkbox for query is cut off on Safari"
**Fleet version**: `main`

**Operating system**: macOS 12.2.1

**Web browser**: Safari 15.3

<hr/>

### 🧑‍💻  Expected behavior
The "check all" box would retain it's shape and can be interacted with once it appears.

### 💥  Actual behavior
The "check all" box on the Query page is cut in half once it appears.

### More info
This is only happening on the Safari browser.

<img width="632" alt="Screen

[2022-05-02 16:41] #4793 closed

[2022-05-02 16:50] hollidayn commented on #4671
@mike-j-thomas finished this on Friday.

[2022-05-02 16:50] #4671 closed

[2022-05-02 17:13] sharvilshah commented on #5384
For password policy on macOS:

Researched a bit today -- `pwpolicy` apple's CLI tool enumerates policies available for OpenDirectory, but it's a bit difficult to attribute which policies apply to which users. OpenDirectory also has been deprecated.

Chatted with Guillaume: MDM can push out a profile to enforce password policies. It's not very granular, but it has minLength, alphanumeric, and compl

[2022-05-02 17:16] xpkoala opened #5497 "Layout of tables on Safari inconsistent with other browsers"
**Fleet version**: `main`

**Operating system**: macOS 12.2

**Web browser**: Safari, Chrome, Firefox (latest)
<hr/>

### 🧑‍💻  Expected behavior
Tables for the /queries /schedule and /policies pages would be consistent in spacing across all browsers.

### 💥  Actual behavior
The pages when viewed on Safari do not seem to conform to the same properties as Chrome or Firefox.

### More info

<img widt

[2022-05-02 17:34] roperzh commented on #5377
@lucasmrod AFAIK, we already added it again in #5421 , and we did the quick-n-dirty regex fix to unblock PRs from being merged.

https://github.com/fleetdm/fleet/blob/5922594ca36fcf25220a6be7ca9c7d78b6ad4e54/.github/workflows/test-go.yaml#L26

[2022-05-02 17:36] xpkoala opened #5498 "Fix padding on warning banner for policies"
**Fleet version**: `main`

**Operating system**: macOS 12.2

**Web browser**: All browsers

<hr/>

### 🧑‍💻  Expected behavior
There would be padding between the warning banner and the Save / Run buttons below the banner.

### 💥  Actual behavior
No padding between the banner and buttons

### More info
To reproduce, turn of the ability to run live queries in the settings page and then create a new p

[2022-05-02 18:06] roperzh opened #5504 "Improve the messaging of fleetctl debug errors"
### Goal

Improve the clarity of the output of `fleetctl debug errors`. The current output of the command is:

[code]

### How?

- [x] Add a warning prompting the user to clean up any sensitive data from the file before sharing
- [x] Make the output more visible
- [x] add a flag to print the output to stdout
- [x] (optional) add the `json` extension to the generated file

[2022-05-02 18:09] roperzh opened #5505 "Add documentation about the fleetctl debug errors command"
### Goal

Document the existence and usage of `fleetctl debug errors`.

### How?

This command is currently documented as part of the cli app via `fleetctl debug errors --help` but it would be good to add documentation in the website and usage examples.

[2022-05-02 18:18] lucasmrod commented on #4176
@xpkoala Instructions on how to test this before the `v4.14.0` release:
https://github.com/fleetdm/fleet/pull/5335#issuecomment-1111132981

[2022-05-02 18:19] roperzh opened #5507 "Add E2E tests ensuring fleetctl debug errors produces the expected output"
### Goal

Ensure `fleetctl debug errors` works as expected in different scenarios.

### How?

Explore the feasibility of:

- Spinning up the server
- Hitting different endpoints intentionally producing errors
- Running `fleetctl debug errors`
- Checking if the output is correct

[2022-05-02 18:26] RachelElysia commented on #4966
Moved this into the release board since I worked on it Friday/Monday of this release

[2022-05-02 18:33] roperzh opened #5508 "Investigate handling of errors returned from handler functions"
### Goal

Ensure we're handling and logging all relevant errors.

### How?

go-kit provides two patterns for error handling:

1. via an error field in the response struct
1. via error return value of the handler function

The vast majority of the code uses `1`, but there are a few instances of `2`.

Based on my tests, when pattern `2` is used the error is not processed by our error encoder, and as

[2022-05-02 18:34] #5073 closed

[2022-05-02 18:34] #5202 closed

[2022-05-02 18:42] roperzh commented on #5486
I have been exploring the code an testing `fleetctl debug errors`. Good news is it works very well, I was able to do an E2E test and also explore the data in the redis instance.

I have found a few gotchas / improvements and created issues for them (along with your suggestion to add documentation):

- https://github.com/fleetdm/fleet/issues/5504
- https://github.com/fleetdm/fleet/issues/5505
- htt

[2022-05-02 18:45] roperzh commented on #5508
I think I was just confused about this one, we're indeed using `1` consistently. Closing for now.

[2022-05-02 18:45] #5508 closed

[2022-05-02 18:48] roperzh commented on #5504
we should consider adding the warning about sensitive data to the `fleetctl debug archive` command too.

[2022-05-02 19:12] roperzh opened #5509 "Research if we can include timestamps on all errors in `fleetctl debug errors`"
Some of the errors (eg: authentication errors) don't contain a timestamp. I think this is because they don't have a trace and are treated differently.

Investigate if we can add timestamps and other useful metadata to those.

[2022-05-02 19:32] noahtalerman commented on #5439
Below is the copy for the 2 new error messages:

first on the “Integrations” page when they’re editing an existing integration

“Could not edit <URL> - <PROJECT_KEY> .  Please delete the duplicate <URL> - <PROJECT_KEY> integration before editing.”

second on the “Software” page when they’re enabling an integration.

“Could not update vulnerability automations. Please head to Settings > Integration

[2022-05-02 19:38] noahtalerman commented on #5014
Fleet 4.13.0 was released!

[2022-05-02 19:38] #5014 closed

[2022-05-02 19:53] noahtalerman opened #5511 "Blog post: 4.14.0"
Fleet 4.14.0 is scheduled for release on 2022-05-05

### Goal

Prepare and publish the release blogpost for Fleet 4.14.0 so that anyone in the Fleet/osquery community can understand the latest improvements.

### Primary improvements

Fleet Premium and Fleet Free: Add beta support for Jira and Zendesk integrations. This allows users to tell Fleet to create a ticket if a new vulnerability is detecte

[2022-05-02 19:56] roperzh opened #5513 "Ensure `fleetctl debug errors` handles high loads"
### Goal

Ensure `fleetctl debug errors` handles high loads

### How?

We need to define exact steps, to truly test the capabilities of our system, the errors _need_ to be different between each other (errors are hashed)

[2022-05-02 19:59] michalnicp opened #5514 "Software count is incorrect"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

main (fe48533918910738a7225b2101f2dea450886bd7)

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

The count returned from the `GET /api/v1/fleet/software/count` should match the number of software returned from `GET /api/v1/fle

[2022-05-02 20:02] roperzh opened #5515 "Allow to attach additional metadata to errors"
### Goal

- Improve efficiency detecting errors / issues in Fleet servers.
- Reduce the amount of back-and-forth between Fleet support/engineers and customers.
- Enhance the output of `fleetctl debug errors` to aid debugging.

### How?

For certain errors we always ask the same questions to users, often related to querying additional information from the database. The idea is to enhance `ctxterr`

[2022-05-02 20:20] roperzh opened #5516 "Improve metadata that's automatically added to errors"
We should be able to automatically infer and attach additional metadata from `ctx` as specified in this TODO:

https://github.com/fleetdm/fleet/blob/a4a831fc92ed65d520064bb675a7ac0ac755b03b/server/contexts/ctxerr/ctxerr.go#L109-L113

[2022-05-02 20:25] roperzh opened #5517 "Investigate if we can add go stack information to errors"
Things like parameter values, local variables, etc.

[2022-05-02 20:25] roperzh commented on #5486
Discussing with Tomas we decided to add the following issues as well:

- https://github.com/fleetdm/fleet/issues/5513
- https://github.com/fleetdm/fleet/issues/5515
- https://github.com/fleetdm/fleet/issues/5516
- https://github.com/fleetdm/fleet/issues/5517

[2022-05-02 20:39] roperzh commented on #5486
I think the issues can be grouped in:

#### Documentation

1. https://github.com/fleetdm/fleet/issues/5504
2. https://github.com/fleetdm/fleet/issues/5505

#### Testing

1. https://github.com/fleetdm/fleet/issues/5507
2. https://github.com/fleetdm/fleet/issues/5513

#### Metadata augmentation

1. https://github.com/fleetdm/fleet/issues/5509
2. https://github.com/fleetdm/fleet/issues/5515
    a. Ph

[2022-05-02 20:52] chiiph commented on #5486
@roperzh sounds like a reasonable compromise, let's do it!

[2022-05-02 21:03] noahtalerman commented on #5384
@sharvilshah do both of these options require that a policy is enforced via MDM?

If I'm understanding correctly, this means that the user would have to (1) enroll their device to MDM, (2) push out a profile to enforce password policies, and then (3) add a policy in Fleet to see if passwords meet the minimum length.

Fleet could provide a large amount of value if only part (3) is necessary. I want

[2022-05-02 21:04] chiiph opened #5520 "Enforce hard limits on host count based on license"
As part of Fleet Cloud Demo, we want to doing some hard enforcement of host count based on the data available in the license.

In order to do this, we should keep a somewhat up to date count of hosts: it doesn't have to be exact, but at the same time, it should be good enough to prevent a lot of hosts from enrolling in the window where we update the counts.

[2022-05-02 21:26] ksatter commented on #5014
@noahtalerman first rough draft. https://medium.com/@ksatter/fleet-4-14-0-194192c7ebe4

[2022-05-02 21:39] michalnicp opened #5522 "Add CVSS base score (severity) and known exploits for vulnerable software"
## Goal

Add CVSS base scores for vulnerable software so that IT teams can prioritize vulnerabilities. The scores are available from the [NVD CVE feed](https://nvd.nist.gov/vuln/data-feeds#JSON_FEED)

## Figma

Add known exploits and severity (CVSS scores) for vulnerable software: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6454%3A264563

## Tasks

### 1

- [ ] Add a new `GET /softw

[2022-05-02 22:21] eashaw commented on #4758
Closed by https://github.com/fleetdm/fleet/pull/5474

[2022-05-02 22:21] #4758 closed

[2022-05-02 22:22] CharlotteChance commented on #4672
Added to ritual table here: https://github.com/fleetdm/fleet/pull/5524

@hollidayn  to document the process in a new section of the handbook.

Notes: https://docs.google.com/document/d/1sjg2KibLhet4-gNvfIaywnjtvp2IFd872Oo3HW7HcYU/edit?usp=sharing

[2022-05-02 22:59] timmy-k commented on #4995
Can be found in the growth handbook— https://fleetdm.com/handbook/growth.

Completed, so closing

[2022-05-02 22:59] #4995 closed

[2022-05-02 23:20] #4705 closed

[2022-05-03 13:15] kswagler-rh opened #5528 "Create tickets in ServiceNow"
* `customer-nuptel`: Gong snippet: https://us-65885.app.gong.io/call?id=7777568050377009593&highlights=%5B%7B%22type%22%3A%22SHARE%22%2C%22from%22%3A1265%2C%22to%22%3A1322%7D%5D
* @noahtalerman: *User requested this because* they want to automate the creation of ServiceNow tickets when Fleet detects a new vulnerability or policy violation. ServiceNow is widely used for IT ticketing, incident respo

[2022-05-03 13:35] noahtalerman commented on #5511
@ksatter heads up, I updated the list of "Primary improvements" above.

- Struck out the ability to see Google Chrome profiles on the Hosts page because this improvement will not be included in 4.14.0.
- Added "Add Postman collection for the Fleet REST API"
- Added "Add ability to see what query you ran when viewing live query results"

[2022-05-03 13:52] RachelElysia opened #5529 "Add e2e testing for the ZenDesk integration"
### Goal

TODO

Related to #5188

- Cypress tests jira integration only
- Create E2e tests that test zendesk flow

### How?

- Frontend team decide on how much testing needs to be done (create? edit? delete? set software vulnerability automation?
- Decide on the level that this needs mimick jira e2e testing on _settingsflow.spec.ts_, _free/admin.spec.ts_, _premium/admin.spec.ts_ (in other words, i

[2022-05-03 14:42] mna commented on #5520
@chiiph  Do we have an idea of how many hosts we may accept for that scenario? What do you mean by "based on the data available in the license"?

[2022-05-03 14:45] chiiph commented on #5520
Not a lot, like less than 100, but I don't know if we have a specific maximum already defined.

When we call this http://github.com/fleetdm/fleet/blob/3ba104e8ddef30f31530c0cb8c052d3041ef4fc1/ee/server/licensing/licensing.go#L67-L67, we get this type that has device count: http://github.com/fleetdm/fleet/blob/3ba104e8ddef30f31530c0cb8c052d3041ef4fc1/server/fleet/app.go#L366-L366

[2022-05-03 15:43] xpkoala commented on #4746
@gillespi314 This appears to be returning `null` for me via the /latest/fleet/hosts/1 response.
[code]

whereas the call to /latest/fleet/hosts/1/device_mapping is returning

[code]

[2022-05-03 15:56] lukeheath commented on #5458
@michalnicp Those changes make sense to me. In addition, let's call it `details_url` instead of `details_link`.

[2022-05-03 15:57] michalnicp commented on #5458
`details_link` is already returned as part of the API. Changing it would be breaking.

[2022-05-03 16:07] michalnicp commented on #5522
I would suggest changing `severity` to `cvss_score` to make it clearer where this data is coming from and to different it from cpss and cisa data which we are also adding to cves.

Note that the scores are cvss v3 scores. They are available for any recent cves that are published, but may not be available for older ones which may only have cvss v2 scores. I think this is okay, since we are mostly f

[2022-05-03 16:29] lukeheath commented on #5522
Great idea! I agree.

I think it depends on whether or not this is a problem. Is it necessary to differentiate between v3 and v2 scores? Could we use a `cvss_score` prop for both of them?

[2022-05-03 16:49] noahtalerman commented on #5458
Thanks for pointing us to the excerpt Michal. While this makes sense, this doesn't align with [what we've heard from users/customers](https://github.com/fleetdm/fleet/issues/4512#issuecomment-1105623200).

We'd like to help this customer and others achieve the use case linked above by making the minimal amount of change to the Fleet product (iterate).

I think this means that we can start with the

[2022-05-03 17:28] noahtalerman commented on #5458
Luke: Be as explicit as possible when showing a score (ex. `epss_probability`, `cvss_base_score`, `cisa_known_exploit`).

Noah: For now we're just going to include the `epss_probability` and punt on the the `epss_percentile`

[2022-05-03 17:36] lukeheath commented on #5458
@michalnicp I have updated the issue description with the latest API spec. Please let me know if you have any questions or concerns.

[2022-05-03 17:37] lukeheath commented on #4351
@michalnicp I have updated the issue description with the latest API spec. Please let me know if you have any questions or concerns.

[2022-05-03 17:38] lukeheath commented on #5522
@michalnicp The issue description has been updated with the latest API sec.

[2022-05-03 18:04] noahtalerman commented on #5391
Folks to notify when this makes it into a release:
- @mikermcneil

[2022-05-03 18:05] ksatter commented on #5400
@asterisk800 Are you still seeing this error?

[2022-05-03 18:53] mna opened #5536 "Scaling: support async saving of `host_seen_times`"
During load testing, it was identified that the major blocker to scale to more hosts is the saving of the host's last seen timestamp (https://docs.google.com/document/d/13jh8CKIj9k3-MiccQqUjYKwsEDjdj30YAhLVUcJPPts/edit#heading=h.mkwn8pwp9sut).

This happens in `Datastore.MarkHostsSeen` (itself called from `Service.FlushSeenHosts`, called every 1-10s in a goroutine started from `fleet serve`), whic

[2022-05-03 18:57] lukeheath commented on #5452
Just let me know what additional details would be helpful! For example, what questions come to mind when you read this that would benefit from additional explanation?

[2022-05-03 19:01] lukeheath commented on #5291
Looks good to me. Unassigning myself and moving to estimation.

[2022-05-03 19:04] noahtalerman commented on #5477
Folks to notify when this issue makes it into a release or is set to the side (deprioritized):
- @GuillaumeRoss

[2022-05-03 19:09] noahtalerman commented on #5391
@chiiph is this improvement something that the platform team has capacity to draft and implement in the next 6 weeks?

If so, I'll add this issue to the ⚗️ Product board (previously "Planning"). If not, I'll let Mike know that we're setting this improvement aside for now.

[2022-05-03 19:10] noahtalerman commented on #5391
@zwass heads up, I meant to tag you in the above comment^

[2022-05-03 19:21] noahtalerman commented on #5220
_The below discussion is from 🗣 Product office hours 05-03-2022_

@zwass: TODO: @ mention Tim Kern and Drew Baker in this issue when we hear back from the prospective customer.

Zach: My impression so far is that the S3 -> Snowflake may be the best way to do this.

Noah: Can we make the goal this week to get an answer for is S3 -> Snowflake the best way?

Zach: We can commit to getting an answer,

[2022-05-03 19:35] noahtalerman opened #5537 "FedRAMP compliant Fleet deployment"
As a Fleet user, I want to know how to make my Fleet and osquery deployment [FedRAMP compliant](https://aws.amazon.com/compliance/fedramp/#:~:text=FedRAMP%20uses%20the%20NIST%20Special,Security%20Management%20Act%20(FISMA).) so that I can maintain secure servers that must meet FedRAMP standards.

### Goal

Gain more clarity on what our options are when we discuss a FedRAMP compliant Fleet and osqu

[2022-05-03 19:36] noahtalerman commented on #5537
Folks to notify when updates are made to this issue:
- @mikermcneil

[2022-05-03 19:43] chiiph commented on #5391
We would have to define first what versions/flavors we'll officially support. I'll add it to the platform planning agenda to discuss this week.

What OKR would this be tied to?

[2022-05-03 19:54] noahtalerman opened #5539 "Enable software features for a specific team"
### Goal

As a Fleet Premium user, I want to be able to only enable software features (inventory and vulnerable software) for a specific team so that I can provide the members of my organizations that are managing workstations with software data without running the software collection queries on my production servers.

This way I can quickly provide value to the workstations team without having to

[2022-05-03 19:54] noahtalerman commented on #5539
Folks to notify when there are updates made to this issue:
- @zwass

[2022-05-03 19:58] noahtalerman opened #5540 "Live query results page: Clarify where to go to edit the query"
### Goal

As a Fleet user that is viewing live query results, I want to know how to head back to edit the query so that I can quickly tweak the query and run it against the same hosts.

[2022-05-03 19:58] noahtalerman commented on #5540
Folks to notify when this issue's status is updated:
- @roperzh

[2022-05-03 20:05] timmy-k commented on #4642
Completed all tasks and closing

[2022-05-03 20:05] #4642 closed

[2022-05-03 20:06] lukeheath commented on #5458
@noahtalerman This ticket appears ready for estimation, so I've removed your assignment and move to the "Specified" column.

[2022-05-03 20:14] DrewBakerfdm commented on #5229
Will also need to start branching out with multiple landing pages with ad groups that represent different demographics, jobs, industries, etc.
For example, we'll need a landing page for ads that are targeted toward the education sector.

[2022-05-03 20:27] lukeheath commented on #5528
@kswagler-rh Thank you for the suggestion!

@noahtalerman I am assigning to you for product roadmap consideration.

[2022-05-03 20:48] noahtalerman commented on #5391
@chiiph makes sense 👍

Sweet! Can you please tag Mike McNeil when you add this discussion to the issue?

Deliver a simple, trustworthy, actively-used product that works every time.

cc @mikermcneil

[2022-05-03 20:50] noahtalerman commented on #5458
Makes sense! Thanks :)

[2022-05-03 20:53] noahtalerman commented on #5528
Thanks Luke!

I think this is a great issue to bring to the next Product office hours. This way, it can be weighed (prioritized or set aside).

@ksatter I'm assigning you for bringing the issue to the next Product office hours.

[2022-05-03 20:59] ksatter commented on #5528
@noahtalerman Thanks,  Added to the agenda!

[2022-05-03 21:25] ksatter opened #5542 "Add Google SMTP support"
**Fleet version**:  4.13.2

**Operating system**: Ubuntu 20.4.0

**Web browser**:  Chrome 101.0.4951.41

<hr/>

### 🧑‍💻  Expected behavior
After adding Google SMTP settings and receiving a confirmation email confirming that SMTP was configured, I should be able to invite new users to my Fleet instance.

### 💥  Actual behavior
When adding a new user with the "Invite user" option, I receive the foll

[2022-05-03 22:26] zwass commented on #5537
I did some cursory research on FedRAMP and it looks like (similar to SOC2) there's not a specific set of controls, but rather a number of areas that need to be covered and the organization can work with their auditor to define the controls used.

Am I correct to assume that this customer wants to use Fleet as part of the controls (or just the general security program) for their FedRAMP environment

[2022-05-03 23:42] Desmi-Dizney commented on #5452
https://fleetdm.com/handbook/company#labels
This section doesn't explain what these are used for or that it's for GitHub. Maybe explain why this is why we do it, how it's done, or by what means.

Thanks for your help @lukeheath. Let me know how I can be useful. See the section below "Labels."

## Labels

We use special characters to define label types.

| Special character | Label type  | Rules

[2022-05-04 00:39] #5039 closed

[2022-05-04 04:03] hollidayn commented on #4672
Added description here: https://github.com/fleetdm/fleet/pull/5551

@mikermcneil tagged you as the approver

[2022-05-04 13:44] RachelElysia opened #5552 "E2e testing: Fix tests flaking on GitHub"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

All E2e tests to pass consistently on GitHub

### 💥  Actual behavior

4 tests are intermittently failing on recent merges when they shouldn't be:
- app/queryflow.spec.ts (https:/

[2022-05-04 13:45] noahtalerman commented on #5511
@ksatter heads up, the Digital Experience team is now hosting release blog posts on fleetdm.com using the steps outlined in Slack here: https://fleetdm.slack.com/archives/C01GQUZ91TN/p1651527874888229?thread_ts=1651521870.150429&cid=C01GQUZ91TN

It looks like you're already on top of this :)

[2022-05-04 14:01] ksatter commented on #5511
@noahtalerman Thanks for looking out! I’ve shared the update version with you on Google drive.

[2022-05-04 14:34] mna commented on #2316
Confirmed in load-testing that things look good - there is an impact (as was expected), but it is not critical or major.

[2022-05-04 14:50] gillespi314 commented on #3643
@lukeheath were there any decisions/changes made with respect to @lucasmrod's comments above?

[2022-05-04 14:52] gillespi314 commented on #3643
Also are only the backend changes covered in this ticket or should I also handle the frontend changes (which I'm happy to do)

[2022-05-04 14:58] roperzh commented on #5515
@mna @lucasmrod would you folks mind sharing your opinions / ideas on this? (no rush) once we iron out some details I will reach out more broadly to the team.

[2022-05-04 16:05] ksatter commented on #5511
@noahtalerman changes made and "more new features" section added:

https://docs.google.com/document/d/1lN7Mm-_U9_ARpHpup0ARBXIR8Qd2BhjK1fkFJapl09c/edit#

[2022-05-04 16:42] xpkoala commented on #5469
This is also occurring on Safari.

[2022-05-04 16:56] noahtalerman commented on #5458
@lukeheath heads up, we'd like to make EPSS probability only available to paid users. More context on this decision is here: https://fleetdm.slack.com/archives/C02A8BRABB5/p1651681804596209

I think this means that the new `epss_probability` property will be set to `null` for Fleet Free users. I updated the issue to reflect this.

Note that this is the behavior we use for the `team_id` property in

[2022-05-04 17:00] lukeheath commented on #3643
@gillespi314

🤦  I forgot to separate out the frontend portion. I'll create a separate ticket for that and assign to you for estimation.

[2022-05-04 17:19] xpkoala opened #5561 "4.14.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-05-04 17:40] tgauda commented on #3895
This was noticed by a customer here: https://fleetdm.slack.com/archives/C03AE5T2EQ0/p1651681930771619

[2022-05-04 17:54] xpkoala opened #5563 "Refresh integrations page after delete action"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: Safari, Firefox

<hr/>

### 🧑‍💻  Expected behavior
If there is only one integration configured and I delete the integration, it would be removed from the page.

### 💥  Actual behavior
The configured integration stays on the screen until a refresh takes place.

### More info
This does not occur if there is more

[2022-05-04 17:56] lukeheath commented on #5458
@noahtalerman Looks good to me! Moving back to specified.

[2022-05-04 18:03] xpkoala opened #5565 "Unable to edit Jira integration"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
I would be able to edit parameters and save the integration I am modifying.

### 💥  Actual behavior
An error banner generates that does not inform the user of the failure cause.

### More info
To reproduce, setup JIRA integrations with a valid projec

[2022-05-04 18:08] sharvilshah commented on #5384
@noahtalerman Doing a bit more research on this, I think it would be possible to cover both MDM and non-MDM cases by combining data from `pwpolicy` and `profiles`. There will be edge cases that will be missed, but this should ideally cover the majority of use cases for macOS.

Also: for screenlock on macOS, we already have a table in osquery that shows this data -- Both Zach and I confirmed today

[2022-05-04 18:08] timmy-k commented on #5023
Duplicate of this issue (**https://github.com/fleetdm/confidential/issues/1191**), so closing

[2022-05-04 18:08] #5023 closed

[2022-05-04 18:11] noahtalerman commented on #4282
Sarah: Does the "refetch" button update policies on the **Host details** page?

Noah: Yes^

TODO @lukeheath: Break out a separate issue for the second "Add red dot..." task because it will be addressed by an engineer on the Agent team.

[2022-05-04 18:15] lukeheath commented on #5445
Sarah: change "callout" to "InfoBanner".

Rachel: We do not have e2e tests in place for device user page yet. Blocker is not having a sample device user in the testing database (#5166)

[2022-05-04 18:25] mna commented on #5515
Great write-up! Couple things come to mind:

* I like the idea of adding arbitrary metadata, though we must be careful that it doesn't multiply the number of error instances that fill redis - e.g. if we add a metadata value that changes often and there's a condition that means the error is triggered consistently, we should make sure we still store only one of those instances, even if the metadata

[2022-05-04 18:39] noahtalerman commented on #5291
@noahtalerman TODO: Add new "Policies" icon the **Policies** page.

@noahtalerman TODO: Add screenshots for example tickets.

[2022-05-04 18:41] RachelElysia commented on #5565
@xpkoala

Re: conversation with @noahtalerman

We are removing edit jira integration altogether
I'll find it and link it here

[2022-05-04 18:53] noahtalerman commented on #5291
@lukeheath TODO: Add specs for an `integrations` object in the `/teams/{id}` endpoint.

Currently the `/teams/{id}` endpoint includes a `webhook_settings` object.

[2022-05-04 19:10] roperzh opened #5572 "Consider not flushing errors from Redis when debug commands are invoked"
### Goal

Ensure `fleetclt debug errors` is reliable

### How?

From @mna

Since the errors have a TTL in the Redis store (specified by `FLEET_LOGGING_ERROR_RETENTION_PERIOD`) we should consider not flushing the errors when the command is invoked.

[2022-05-04 19:11] roperzh commented on #5515
This is a great point, I added a note in the description

I agree with this, it will also allows us to roll out `1` quickly and iterate if we find it's necessary.

That's a good point, the errors will be removed after their TTL expires anyway. I created https://github.com/fleetdm/fleet/issues/5572 to track this specifically and make sure it doesn't get lost.

[2022-05-04 19:44] michalnicp commented on #5458
We don't have a separate issue at the moment. I was planning on doing it as part of this issue, though I may split it up into multiple PRs.

[2022-05-04 21:57] noahtalerman commented on #5458
Ah got it.

@michalnicp when you get the chance can you please file a separate issue? This way the Interface team can track the progress of this issue when working on the API and UI updates.

[2022-05-04 22:06] noahtalerman opened #5579 "Notify end user when device is failing one or more policies via badge"
UPDATE: @noahtalerman: We updated this request from "via menu bar icon" to "via badge". We think shipping the Fleet Desktop app w/ a red badge will fulfill this request:
- https://github.com/fleetdm/fleet/issues/39015

---

- `customer-numa`: No call recordings. Slack: https://fleetdm.slack.com/archives/C075T40SYB1/p1751045420295939
  - Quote from `numa`: "add a red/yellow exclamation mark with Fl

[2022-05-04 22:08] noahtalerman commented on #5579
@chiiph do you know what data Fleet desktop needs to update the taskbar icon? Is this something Fleet desktop already has access to?

[2022-05-04 22:16] #5047 closed

[2022-05-05 01:14] timmy-k opened #5581 "Improve Fleet's G2 presence V1"
### Goal
Use reviews to improve our G2 presence as quickly as possible

### How
- [x] Work with Mike T to get creatives made
- [ ] Work with Mike M to get initial reviews
- [ ] Come up with review cultivation strategy
- [ ] Work with Tony to get reviews

[2022-05-05 01:27] timmy-k opened #5582 "Directory/Review site marketing strategy"
### Goal
Build awareness, WOM, links, & referral traffic just by posting Fleet on these sites

### How
- [ ] Make a list of websites
- [ ] Submit
- [ ] Confirm submission

[2022-05-05 01:31] timmy-k commented on #5582
This issue is part of the larger strategy— #5581

Could do this bottom up (search for sites on Google) or top down (work with Mike to talk to other enterprise software companies to find more sites like G2)

Quick Google found this— https://opensourcesoftwaredirectory.com/

[2022-05-05 01:34] timmy-k commented on #5233
You can't do this without losing the data, so I just added (old) to the property names

We don't want to lose the data, though, so closing this issue

[2022-05-05 01:34] #5233 closed

[2022-05-05 01:36] timmy-k commented on #4994
Mike approved these for brand, now we just have to see how they perform. Consider removing mention of "you guys"

Now write SLs and 2 more LI messages

[2022-05-05 05:18] mikermcneil commented on #5537
@zwass Good news, potentially!

To summarize: We're hearing two different customer goals:

1. Get a Fleet deployment to be FedRAMP compatible
2. Try to have only one, unified Fleet environment which spans data from hosts both inside _and_ outside FedRAMP.

- Option 1 is a goal for at least two enterprise customers today.
- Option 2 is harder, but maybe possible?  The customer that is further along

[2022-05-05 06:41] timmy-k commented on #5423
Process
1. Track conversion (Slack invite click from ads/organic traffic)
2. Look at who joined that day and infer
3. Add as a lead in salesforce manually with source and comments that they took the community membership process
4. Andrew sells if manager or above?

[2022-05-05 13:19] chiiph commented on #5579
There might be a hacky way to get the red dot without changing the Fleet side of things. However, the right way to do this is to expose a new set of APIs that Fleet Desktop has access to to provide this information and will be the foundation to later on show other data.

[2022-05-05 14:35] michalnicp opened #5585 "Sync EPSS scores to database"
### Goal

Periodically sync EPSS scores from first.org to the database. Should be disabled if `vulnerabilities.disable_data_sync` is `true`.

### How?

[2022-05-05 15:00] noahtalerman commented on #3643
@lukeheath this is correct! I would prefer to go with #1. This way, when the publicly announce the new versioning, there is only one new dated version the user has the think about.

If we go with #2, I can envision a scenario in which there are several dated versions exists when we first publicly announce the change to versioning.

What do you think?

[2022-05-05 15:14] noahtalerman commented on #4780
@roperzh Thanks for tackling this! Heads up, I'm reopening this issue because it has yet to be included in a release.

This way, we're communicating to the greater community that the bug fix has not been included in an official release.

[2022-05-05 15:15] roperzh commented on #4780
@noahtalerman ah, thank you very much and sorry about closing the issue prematurely! Will be more careful from now on.

[2022-05-05 16:23] zwass commented on #5579
If the current library doesn't support icons for submenus, we'll just use text (eg. `My Device (failing policies)`) for the first iteration.

The device API does include policy information. If the request fails, show some text to indicate that it was not updated (no need to get fancy with changing states).

[2022-05-05 16:37] zwinnerman-fleetdm commented on #5111
completed

Reference PRs
#5534
#5530
#5526
#4947

[2022-05-05 17:01] chiiph commented on #5579
I assume you've considered this, but please bare with me just for the sake of making sure we are on the same page:

So far we've had the UI talking to the device API. Fleet Desktop only links to the UI. The vaguely discussed plan was to create a new API for notifications for Fleet Desktop to talk directly to Fleet server. That's also where we would get remediation steps and so on.

We can reuse th

[2022-05-05 17:02] RachelElysia commented on #5469
@xpkoala so weird, I see the tooltip in the frontend code, but it's not showing up in my UI
<img width="1325" alt="Screen Shot 2022-05-05 at 12 59 31 PM" src="https://user-images.githubusercontent.com/71795832/166975236-1d0ab49a-10bf-42a4-a3ab-50109ccff7d4.png">

[2022-05-05 17:34] chiiph opened #5594 "HostsByCPEs is not filtering repeated hosts"
**Fleet version**:  main

**Operating system**: N/A

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior

The webhook payload doesn't have any repeated hosts in hosts_affect.

### 💥  Actual behavior

There are repeated hosts. Here's a slightly modified version of the original payload:

[code]

I see that `HostsByCPEs` is not doing a `DISTINCT` so that this doesn't happen.

[2022-05-05 17:50] lukeheath commented on #5542
Unfortunately gsuite admin access is required to set this up:

"Your current account, luke@fleetdm.com, doesn't have permission to do these steps. To continue, switch to an administrator account. This will open the Google Admin console."

So to validate that this works we'll need to involve someone with admin access.

[2022-05-05 17:53] ksatter commented on #5542
@lukeheath I did try that route. And waited 24 hours after enabling it to make sure it trickled down to my user (I used my personal Google workspace)

[2022-05-05 18:09] lukeheath opened #5595 "Unable to save SMTP configuration with authentication set to none"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When I set SMTP authentication to none, I expect to save the form without having to provide an SMTP username/password.

### 💥  Actual behavior

![image](https

[2022-05-05 18:10] lukeheath commented on #5595
@xpkoala Heads up, I just ran across this bug when attempting to test SMTP.

@RachelElysia Assigning over to you since you recently worked on this. Looks like the form is still expected UN/PW to be present when "None" is selected for authentication type.

[2022-05-05 18:14] xpkoala commented on #5595
@lukeheath Very nice catch.

[2022-05-05 18:21] lukeheath commented on #5542
Digging into this more and I feel confident it is not a frontend issue. I configured SMTP using mailhog and confirmed that inviting a user returned successful and properly sent the email.

@chiiph I think involving one of the infrastructure engineers may be helpful to dig into Gmail configuration further and look for potential issues. I'm assigning this over to you to determine who you'd like to i

[2022-05-05 18:45] DrewBakerfdm commented on #1032
Algolia is currently powering our DocSearch. Closing

[2022-05-05 18:45] #1032 closed

[2022-05-05 18:47] DrewBakerfdm commented on #987
![image](https://user-images.githubusercontent.com/89049099/167002485-7055e1d3-095e-47db-ae18-1ca3eac92fda.png)
The "On this page" section has been added to our documentation. Closing this issue.

[2022-05-05 18:47] #987 closed

[2022-05-05 18:50] timmy-k commented on #4997
Completed, so closing

[2022-05-05 18:50] #4997 closed

[2022-05-05 18:56] DrewBakerfdm commented on #5029
The steps outlined for reaching out to content creators has been outlined here:
https://docs.google.com/spreadsheets/d/107AwHKqFjt7TWItnf8pFknSwwxb_gsp6awB66t7YE_w/edit#gid=0 (Under Dashboard tab)

Closing.

[2022-05-05 19:22] timmy-k opened #5600 "Add outbound templates as handbook entry"

[2022-05-05 19:22] noahtalerman commented on #5036
Updates to the specifications of the first iteration are below:

- Amount of time the instance will be up: 24 hrs
- Happy path flow:
  1. User submits "Sign up" form. This sends an API request with the email to the cloud provisioner.
  2.  The cloud provisioner creates a URL (ex. billybob.fleetdm.com) and spins up a Fleet instance.
  3. The cloud provisioner sends the URL to the user's email.

[2022-05-05 20:15] noahtalerman commented on #5036
Hey @chiiph heads up, the above time and flows are not finalized yet. I haven't gotten approval from Mike McNeil.

[2022-05-05 22:08] noahtalerman commented on #5138
@mike-j-thomas I assigned you this issue to complete the following items:
- Replace existing label description with the pill (includes “X” to dismiss)
- Use full width button for “Filter by…”
- At 990px and 768px width, use the full width for search input and the filters

_Discussed during 🎨UI/UX huddle 2022-05-05 (video available in Google Drive)_

[2022-05-05 22:09] noahtalerman commented on #5441
@mike-j-thomas I assigned you this issue to complete the following items:
- Add screenshots of Jira and Zendesk tickets to Figma (link in this issue's description):
  - Example Zendesk ticket: https://fleetdm.zendesk.com/agent/tickets/35
  - Example Jira ticket: https://fleetdm.atlassian.net/browse/VR-4

_Discussed during 🎨UI/UX huddle 2022-05-05 (video available in Google Drive)_

[2022-05-05 22:10] noahtalerman commented on #5124
@mike-j-thomas I assigned you to this issue to create wireframes that address this problem in a new Figma page.

_Discussed during 🎨UI/UX huddle 2022-05-05 (video available in Google Drive)_

[2022-05-05 23:40] zwass commented on #5408
Hey @noahtalerman sorry I'm a bit late to the game here.

I think we can fit this into the upcoming release if we are okay with making it an option in `fleetctl package` (eg. it's not configurable via UI/API). We could follow up later with making it configurable remotely.

If we only want to do it with the remote configuration, we need to do wireframes and API drafting for how it's configured.

[2022-05-06 03:02] mike-j-thomas opened #5606 "Add "Tools we use" section to the handbook"
## Goal

Provide new team members (and existing ones) with clear documentation about the primary tools we use at Fleet.

## How

- [ ] We'll start minimally by listing our core tools in the handbook (probably the Company page for now) with a brief description of what it is and why we use them. This section will grow as we continue to expand each.

[2022-05-06 03:05] mike-j-thomas commented on #5606
@CharlotteChance, I've assigned this to you because I believe you have already worked on a spreadsheet of our existing tools. Give me a shout when you are ready to tackle this and we can go over what to include 👍🏻

[2022-05-06 04:04] mike-j-thomas opened #5608 "Improvements to the Customers handbook page"
## Goal

Give the Customer handbook page the ole Digital Experience once over.

## How

As a first step, let's clean up the first section of the page, using the following content

- Customer success calls
    - Scheduling customer meeting
    - Documenting customer meeting
    - Before a customer meeting
        1. Check the calendar invite to determine if the customer has accepted the invitation.

[2022-05-06 04:33] mike-j-thomas opened #5609 "Correct error log messages (Editor)"
## Goal

Correct grammar on error messages from Fleet UI

## How

- [ ] @Desmi-Dizney to create a PR to fix the error that he spotted on Fleet's error log messaging. Please request a review from @noahtalerman.

[2022-05-06 04:46] mike-j-thomas commented on #5045
@noahtalerman, I created it when this OKR fell under Digital Experience. Please let me know if this is of any use to you. Otherwise, I think we can just close it.

[2022-05-06 04:54] mike-j-thomas commented on #5045
@noahtalerman, edit to the above. It looks like it still is listed under Digital Experience. Before we transitioned devrel, my intention was for Kathy and Kelvin to work on this documentation. Is that still possible?
<img width="720" alt="image" src="https://user-images.githubusercontent.com/78363703/167069475-8e10b245-0dae-423a-ae44-2fbb02cb5ae8.png">

[2022-05-06 08:26] kevinpmmck opened #5614 "Increase accuracy of the host status automation"
**Fleet version**: 4.9.1

**Operating system**: macOS 11.2.3

**Web browser**: Chrome 88.0.4324

<hr/>

### 🧑‍💻  Expected behavior
The host status webhook message returns the actual number of hosts that have not been online for more than 1 day (i.e. 24 hours) (that's my threshold set).

### 💥  Actual behavior
The webhook message over-reports the number of hosts that have not been online for more t

[2022-05-06 14:03] tgauda opened #5617 "Fleet REST API documentation includes invalid examples of JSON"
Some examples in our REST API documentation include invalid JSON. For instance: https://fleetdm.com/docs/using-fleet/rest-api#example78 includes a spurious comma at the end. If a user were to follow the instructions and copy/paste the example Fleet would reject the payload.

We should take a lint pass against our REST API examples to make sure we have valid JSON.

[2022-05-06 15:12] lucasmrod commented on #5579
+1 to all the above.

We should define a separate endpoint for Fleet Desktop only, for fetching the policies.

Why?
1. What Tomas said above regarding API compatibility and not breaking Fleet Desktop with new Fleet Server releases.
2. Scale: Keeping "UI" and "Fleet Desktop" APIs separate, former is used by N = number of admins, latter is used by M = number of hosts, so the scale/performance-consid

[2022-05-06 15:22] noahtalerman opened #5619 "Using Fleet FAQ: Add "How do I reset my password?" section"
## Goal

As a user, I want to know that I can have my password reset (by a Fleet administrator) or by receiving an email.

As a user I want to know that I will only receive a password reset email if SMTP is configured properly. The FAQ should mention this and either provide steps to configure SMTP or link out to the proper existing documentation.

## Related

Frontend changes: #3227

## Tasks

###

[2022-05-06 15:29] DominusKelvin commented on #5617
Thanks @tgauda for catching this.

[2022-05-06 15:41] lucasmrod opened #5622 "Fleet Desktop "My Device" Page Showing Software Inventory Disabled (even if enabled)"
**Fleet version**: `main` as of today.

<hr/>

Fleet deployment has software inventory enabled.
Fleet Desktop user visits "My device".

### 🧑‍💻  Expected behavior

User can see installed software.

### 💥  Actual behavior

User sees the following:
![Screen Shot 2022-05-05 at 14 07 06](https://user-images.githubusercontent.com/2073526/167166198-a2eba084-5a3f-49b4-9702-f701d192b661.png)

### More inf

[2022-05-06 15:44] michalnicp opened #5624 "Missing validation on query interval"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

main (974d1fed427f437922c73889119184410cd180fc)

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

On the **Packs** page, when adding a query to a pack, I should see an error message when setting an interval > 604800 (7 days).

[2022-05-06 15:44] RachelElysia opened #5625 "Bug: Cannot create new user/password"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

I create a new user. I go to log in as the new user. I am prompted to create a new password. I can log in with the new password.

### 💥  Actual behavior

I am prompted to create

[2022-05-06 15:53] DominusKelvin commented on #5617
@tgauda I just opened PR #5626 to fix this.

[2022-05-06 15:58] noahtalerman commented on #5103
@lukeheath is this issue ready for estimation?

[2022-05-06 16:26] RachelElysia opened #5627 "UI Improvement: Remove steps to configure software inventory for those without access to configure"
### Goal

As a user, I want to see an empty state on the **Home > Software** card and **Software** page that is consistent with my understand of how Fleet works.

Because software inventory is enabled by default, as a user, I don't know how or why software inventory was disabled by my admin. This creates a confusing experience.

### How?

To accomplish the goal, we'll remove the "Configure softwar

[2022-05-06 17:33] noahtalerman commented on #5384
@sharvilshah awesome. It makes sense that there will be edge cases we'll iron out later.

I do think it's worth thinking through what, as a user running a query to collect password policy info, you'd expect to see returned...
- when there is no password policy information available
- incomplete password policy information

It's definitely worth thinking through what data to return

Got it. Is dete

[2022-05-06 17:37] noahtalerman commented on #4780
No worries!

I know GitHub automatically closes issues when using words like "closes," "fixes," and "addresses" in a PR. To me, using these words in a PR feels natural :)

We haven't found a way to turn this GitHub behavior off.

[2022-05-06 17:40] noahtalerman commented on #5045
@mike-j-thomas yes, this makes sense to me. Can you please make sure that this documentation task is added as a "Product" OKR in the OKRs Google sheet? https://docs.google.com/spreadsheets/d/1tFsVzX3aqfTdtnuQfYkODdkX8nDEZQ4IHxNNOIayrE0/edit#gid=0

[2022-05-06 17:42] noahtalerman commented on #5045
@xpkoala heads up, this is a public issue tracking the same goal (first checkbox in this issue's description) as fleetdm/confidential#940.

I linked fleetdm/confidential#940 to this issue.

[2022-05-06 17:52] RachelElysia opened #5631 "UI /login/forgot: Fix font size"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Font size off

### 💥  Actual behavior

Large font

<img width="1336" alt="Screen Shot 2022-05-06 at 1 06 21 PM" src="https://user-images.githubusercontent.com/71795832/167188856-

[2022-05-06 17:55] RachelElysia opened #5632 "Email button links to join fleet do not work without https://"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

I invite a user to Fleet, I can click on the buttons in my email to continue my registration

### 💥  Actual behavior

The linked buttons to accept invitation/reset password from

[2022-05-06 17:58] michalnicp commented on #5458
@noahtalerman @lukeheath Can this be handled on the frontend? Changing the default order based on the license may result in a confusing API.

[2022-05-06 18:02] michalnicp commented on #5522
Based on the figma diagrams, should we allow ordering by `cvss_score` as well?

[2022-05-06 18:06] RachelElysia opened #5633 "Flash renders in wrong place when creating a new user"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Steps:
1. Create a new user based on invite and open invite link in email
2. Fill out form on App from email link to create password
3. Redirects to login page to enter email and

[2022-05-06 18:55] juan-fdz-hawa commented on #5311
Closing this as is no longer needed.

[2022-05-06 18:55] #5311 closed

[2022-05-06 19:14] Desmi-Dizney commented on #5452
I'm closing this. See @lukeheath's great work in:
- https://github.com/fleetdm/fleet/pull/5556

[2022-05-06 19:15] #5452 closed

[2022-05-06 19:21] michalnicp commented on #5458
MySQL treats NULL values as lower than any non-NULL value. If there is no epss data for a cve, we would currently return NULL, which would appear first when sorting by `epss_probability` ascending, or last when sorting by descending. Is this behaviour ok?

[2022-05-06 19:56] Desmi-Dizney commented on #5099
This is still a work-in-progress but is coming along.
See: https://docs.google.com/document/d/1OoqaRrc0JgZKrMvFd1LtRnyIcFQvnHRuU-MZKgbKS44/edit

[2022-05-06 20:17] lukeheath commented on #5458
@michalnicp

Good point! I've moved this functionality to the frontend ticket.

Thanks for calling this out. This should be fine because default sort is descending, which means the null values will always be after the rows that contain values.

[2022-05-06 20:25] xpkoala commented on #5625
Thanks for catching and making this. In case my comment was lost it looks as if one instance of this triggering is when a user's `admin_forced_password_reset` value is set to 1. Setting this manually to 0 in the DB will allow the user to proceed with their correct credentials.

[2022-05-09 02:06] mike-j-thomas commented on #5399
@timmy-k, the link to Google ad samples has expired. Please can you resend it? Also, what ad sizes do you need? All of them?

[2022-05-09 06:16] timmy-k commented on #5021
Process:
1. Hold brainstorming sessions in the following events:
- Product Office Hours
- Growth Office Hours
- Sales & Growth Huddle
- Weekly Customer Meetings Debrief?
- Mike 1:1
- Growth huddle— Weds of every week
- Reaching out to Guillaume (does he have office hours)?

2. Make lists/issues of article ideas

[2022-05-09 12:03] mike-j-thomas commented on #5021
@timmy-k, no doubt you're already well aware, but we've got tons (like a year's worth or more 😄) of pending article ideas [here](https://github.com/orgs/fleetdm/projects/21). [JTBD](https://github.com/fleetdm/confidential/issues/914) would be super helpful for website and land page content creation - not to mention deepening the knowledge about Fleet's features for us less technical folks. [Deploy

[2022-05-09 12:53] #4545 closed

[2022-05-09 12:55] DominusKelvin commented on #4267
@gillespi314 based on @mike-j-thomas explanation of why we should not have a "back to top" button on the docs and also the sticky "On this page" section. Do you think we can close this issue now?

[2022-05-09 15:06] noahtalerman commented on #4282
Update:
- Policy information is already included in the `GET /device/device_id}` response.
- TODO: Does hiding this information for Fleet Free users make sense?

[2022-05-09 16:09] timmy-k commented on #5021
@mike-j-thomas very helpful, thanks. It looks like engineering typically writes deployment guides? Have y'all nudged them to write those or do they typically do it on their own without prompting

[2022-05-09 16:53] lukeheath commented on #5625
@xpkoala Great, thank you! We're all good, I reviewed the auth issue Martavis mentioned and we're good to go on that.

[2022-05-09 17:08] #5617 closed

[2022-05-09 17:23] lukeheath commented on #5103
@mna This ticket has been prioritized for you in the upcoming sprint. When you have a moment, would you please add a point estimate? Just let me know if you have any questions or concerns. Thanks!

[2022-05-09 17:23] lukeheath commented on #4904
@gillespi314 This ticket has been prioritized for you in the upcoming sprint. When you have a moment, would you please add a point estimate? Just let me know if you have any questions or concerns. Thanks!

[2022-05-09 18:13] noahtalerman opened #5642 "Add missing error states to Fleet UI"
Continuation of: https://github.com/fleetdm/fleet/issues/4966

### Goal

Update this issue with the places in the Fleet UI that don't have error states yet.

[2022-05-09 18:42] Desmi-Dizney commented on #5099
I wanted to discuss whether we should or shouldn't capitalize the beginning of partial sentences after a colon. At first, I thought it would make it easier if we capitalized everything, but it makes every spell check angry, which may confuse some people. Thoughts @mike-j-thomas?

[2022-05-09 19:15] timmy-k opened #5645 "Revise positioning doc with Ashley's suggestions"
### Goal
To polish the positioning doc by adding Ashley's suggestions

[2022-05-09 19:29] noahtalerman commented on #5036
Following discussion from the platform team, the following is the proposed solution for supporting the UX flow:
- When a user completes the "Sign up" form on the website (fleetdm.com), fleetdm.com will call an API that sets up the demo environment and returns the demo URL
  - The same API call is used when an existing user (signed up for license key) selects "Try it out"
- Using the demo URL, flee

[2022-05-09 19:37] lukeheath commented on #3643
@noahtalerman

I agree, that will make it much simpler for our users, which is paramount. That way, we can announce a single dated version, rather than announcing dated versions AND several as-yet-unpublished dated versions.

The only risk to option 1 is that we are not making iterative improvements to the API (like this example of keeping `mia_count` in the API). Because we have been avoiding bre

[2022-05-09 20:04] lukeheath commented on #4351
@michalnicp

Good catch! Yes, we should allowing ordering by this field as well.

[2022-05-09 20:05] lukeheath commented on #5522
@michalnicp

Yep! I've updated the spec to include this.

[2022-05-09 20:24] lukeheath commented on #3643
@gillespi314 Since the UI change was so minor I went ahead and rolled it into this ticket as item 3 in the specs.

[2022-05-09 20:56] noahtalerman commented on #3643
Makes sense.

I think we can create an issue that tracks the improvements we'd like to make _before_ we do switch to date versioning. This way, we can include these improvements (breaking changes) when we release Fleet 5.

I think, by including these improvements in Fleet 5, we'll reduce the number of dated versions that we'll have to maintain during the first months/years when using the new dated

[2022-05-09 21:01] #3160 closed

[2022-05-09 21:36] juan-fdz-hawa opened #5648 "Update `software_cve` shema"
### Goal

~~Under the current schema, if we want to get from `software_cve` to `software` we need to join in the `software_cpe` table - which is not ideal~~:
- ~~Most of the time we don't care about the info contained inside `software_cpe` so joining that extra table is wasteful.~~
- ~~We don't use CPEs when detecting vulnerabilities using OVAL, furthermore not all software rows have a matching so

[2022-05-09 21:39] lukeheath commented on #5477
@gillespi314 I went ahead a pointed this at a 2 since it has both a frontend and backend component, but we're not introducing any complexity checks, just string length. Feel free to update the estimate if this is inaccurate.

[2022-05-09 22:10] gillespi314 commented on #3643
@lukeheath, just want to confirm that I am tracking the decision here:

Do not create a new API version at this time
Leave `mia_count` in the API response for `/host_summary`
Change the method of calculating the `offline_count` so that it will now include the mia hosts as well.
Change the server-side filtering for `/hosts` and `/hosts/count` endpoints so that the query param `status=offline` will

[2022-05-09 22:41] eashaw opened #5650 "Website: Make navigation on fleetdm.com/docs sticky"
How?:
- [x] Change the left sidebar navigation to be sticky.
- [ ] Change the breadcrumbs and search bar to be sticky.

[2022-05-09 23:10] hollidayn commented on #5257
I think we closed this in another update, let me check though.

[2022-05-09 23:16] Desmi-Dizney commented on #4813
Closing.

[2022-05-09 23:16] #4813 closed

[2022-05-09 23:32] mike-j-thomas opened #5651 "Update handbook index to map correct page sections"
## Goal

[/handbook](https://fleetdm.com/handbook) index matches the order of individual page sections

## How

- [ ] Go through each group of the handbook and make sure that the sections are mapped correctly on the [/handbook](https://fleetdm.com/handbook).

[2022-05-10 01:01] mikermcneil commented on #5021
Hey guys, jumping in to help clarify here

- **Content calendar:** @timmy-k Up to you to fill in the content calendar.
  - **Content by the community team:** Kelvin and Kathy can be excellent contributors who can write content, especially guides about using or deploying Fleet.  @ksatter and @DominusKelvin are prepared to write content (maybe 1 post per month each, max?)
  - **Content by the growth

[2022-05-10 01:06] timmy-k commented on #5021
That's roughly what I expected. I don't know if we've ever covered this.

Will proceed according to this plan

[2022-05-10 01:34] #4267 closed

[2022-05-10 01:42] mike-j-thomas opened #5653 "Set up redirects for articles"
As part of migrating Medium articles to fleetdm.com we need to set up redirects for the existing blog.fleetdm.com/slug

## How

- [ ] Upgrade Cloudflare subscription to support more page rules
- [ ] **_Show Nate how to do this, then assign this issue to him to complete._** Redirect Medium articles to point to fleetdm.com (e.g., _blog.fleetdm.com/:slug_ to _fleetdm.com/:category/:slug_)

A list of

[2022-05-10 01:59] mike-j-thomas commented on #5651
@Desmi-Dizney fyi, I couldn't find an existing PR that swapped the position of Labels. Please can you include that switch as part of this PR?

[2022-05-10 05:03] timmy-k opened #5654 "Blog post: Deep dive on the options in the flags file and the conf file"

[2022-05-10 06:21] #4787 closed

[2022-05-10 10:49] DominusKelvin commented on #5036
Nice 😊

[2022-05-10 10:54] mike-j-thomas commented on #5046
Thanks, @timmy-k https://github.com/fleetdm/fleet/issues/4787#event-6578993985

[2022-05-10 13:13] GuillaumeRoss opened #5657 "Ensure only team admins can list other users"
### Goal

TODO
In the April 2022 pentest of Fleet, it was discovered that it is possible to enumerate users with `api/v1/fleet/users/<USERNUMBER>`. Due to error messages that differ between valid and invalid emails and the lack of throttling, an authenticated users could enumerate valid email addresses.

This is a minor privacy issue, and we should address it by:

1. Making enumeration possible on

[2022-05-10 14:43] GuillaumeRoss commented on #4880
The report has been published, and a PR is in progress to post a blog about it.

[2022-05-10 14:44] #1308 closed

[2022-05-10 14:44] #3124 closed

[2022-05-10 14:44] #3446 closed

[2022-05-10 14:44] #3912 closed

[2022-05-10 14:44] #4574 closed

[2022-05-10 14:44] #4746 closed

[2022-05-10 14:44] #4780 closed

[2022-05-10 14:44] #4852 closed

[2022-05-10 14:44] #4880 closed

[2022-05-10 14:44] #4966 closed

[2022-05-10 14:44] #5005 closed

[2022-05-10 14:44] #5057 closed

[2022-05-10 14:44] #5143 closed

[2022-05-10 14:44] #5145 closed

[2022-05-10 14:44] #5195 closed

[2022-05-10 14:44] #5236 closed

[2022-05-10 14:44] #5255 closed

[2022-05-10 14:44] #5268 closed

[2022-05-10 14:44] #5293 closed

[2022-05-10 14:44] #5315 closed

[2022-05-10 14:44] #5319 closed

[2022-05-10 14:44] #5320 closed

[2022-05-10 14:44] #5338 closed

[2022-05-10 14:44] #5397 closed

[2022-05-10 14:44] #5415 closed

[2022-05-10 14:44] #5437 closed

[2022-05-10 14:44] #5439 closed

[2022-05-10 14:44] #5498 closed

[2022-05-10 14:44] #5561 closed

[2022-05-10 14:44] #5563 closed

[2022-05-10 14:44] #5595 closed

[2022-05-10 14:44] #5622 closed

[2022-05-10 14:44] #5625 closed

[2022-05-10 15:31] mna commented on #4514
This was completed, closing.

[2022-05-10 15:31] #4514 closed

[2022-05-10 16:23] Desmi-Dizney commented on #5651
See: https://github.com/fleetdm/fleet/pull/5662

[2022-05-10 16:26] noahtalerman commented on #5477
@GuillaumeRoss heads up, this improvement will likely make it into the 4.15.0 release (2022-05-26).

[2022-05-10 16:35] lucasmrod opened #5663 "In Fleet UI, add ability to generate a Fleet installer that includes Fleet Desktop"
## Goal

As a Fleet administrator, I want to be able to generate a Fleet installer that includes Fleet Desktop.

## Related

Epic: #3922

## Figma

Add ability to generate an installer that includes Fleet Desktop: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4803%3A178244

## Tasks

### 1
- [ ] Update generate installer modal to include a new "Include Fleet Desktop" checkbox.
- Check

[2022-05-10 16:50] gillespi314 commented on #4904
@noahtalerman @lukeheath, would y'all please check if you get a value for `condition` in the osquery `battery` table by running `SELECT * FROM battery` as a live query? I'm on an intel macbook pro and I'm getting an empty value for `condition` (both as a live query and in the backend detail query that I wrote for the ticket).

@chiiph noted that this was an issue on M1s but I'm concerned that this

[2022-05-10 17:13] Desmi-Dizney commented on #5651
Completed in:
- https://github.com/fleetdm/fleet/pull/5666

[2022-05-10 17:43] zwass commented on #5579
Just discussed with @sharvilshah. We will go ahead and implement using the existing API for the Beta version. Let's make sure we get a separate endpoint implemented as part of getting Fleet Desktop out of Beta.

[2022-05-10 17:43] noahtalerman commented on #5663
@lucasmrod this is correct! I will bring these screens in. Thank you for filing this issue.

[2022-05-10 18:43] #3271 closed

[2022-05-10 18:46] chiiph commented on #2054
This is done: https://fleetdm.com/docs/contributing/releasing-fleet#patch-releases

[2022-05-10 18:46] #2054 closed

[2022-05-10 19:08] noahtalerman commented on #5036
Stuff related to expiry will live on the website side:
- When you start using you want to know how much time is left
  - Something like a banner. TODO Noah
- When you come back you want to know how much time is left
- When you come back and it's expired, you want to know what to do next
  - Redirect from billybob.fleetdm.com to fleetdm.com.
  - Something in the website that leads you along to the

[2022-05-10 19:58] chiiph commented on #4219
@michalnicp should we close this?

[2022-05-10 19:59] chiiph commented on #4218
@michalnicp @juan-fdz-hawa  should we close this?

[2022-05-10 20:38] michalnicp commented on #4219
Closing in favor of #5306

[2022-05-10 20:38] #4219 closed

[2022-05-10 21:10] noahtalerman commented on #5522
@michalnicp heads up, it looks like we brought this issue into a release before the specs were finished. This is a whoops from me for not catching this.

Below are the following updates that we'll need to make:
- Because we're surfacing CVSS scores on a new **Software details** page in the UI, we'll likely need a new `GET /software/{id}` API route. I'm working on updating this issue's description

[2022-05-10 21:18] juan-fdz-hawa opened #5676 "Document where the OVAL sources come from."
As discussed on the Slack channel, let's document which new external hosts does Fleet need to connect to.

We could start a new section "external hosts" or something like that on:
https://github.com/fleetdm/fleet/blob/main/docs/Using-Fleet/Vulnerability-Processing.md

_Originally posted by @lucasmrod in https://github.com/fleetdm/fleet/pull/5603#discussion_r869670804_

[2022-05-10 21:45] noahtalerman commented on #5522
@michalnicp and @lukeheath I updated the above specs to include a new `GET /software/{id}` API route.

I added specs for updating the `GET /software` API routes to indicate that the  `epss_probability`, `cvss_score`, and `cisa_known_exploit` will be set to `null` for free users. For now, we won't be surfacing this information on the main **Software** page.

We don't need server side sort for `cvss

[2022-05-10 22:01] michalnicp commented on #5522
Are we okay with returning `nulls` for the `cvss_score`, `epss_probability`, and `cisa_known_exploit` from the API, or do we want to omit them entirely?

[2022-05-10 22:06] noahtalerman commented on #5522
@michalnicp it makes sense to omit `cvss_score`, `cisa_known_exploit`, and `epss_probability`. This way, we're not communicating to free users that a vulnerability doesn't have a score at all when in fact we're just hiding them.

@lukeheath what do you think?

[2022-05-10 22:39] roperzh opened #5679 "stack traces and information about errors is lost in ctxerr"
**Fleet version**: fleet-v4.14.0
**Operating system**:  macOS 12.3.1

<hr/>

### 🧑‍💻  Expected behavior

If I simulate an error, for example by modifying this query with a non-existent table name:

https://github.com/fleetdm/fleet/blob/d40df25e0446be3151ab2f12fd572a47e31f1122/server/datastore/mysql/software.go#L342

Then I hit an endpoint that makes use of it:

[code]

I would expect the error ret

[2022-05-10 23:14] CharlotteChance commented on #5606
@mike-j-thomas for your review: https://docs.google.com/spreadsheets/d/170qjzvyGjmbFhwS4Mucotxnw_JvyAjYv4qpwBrS6Gl8/edit#gid=0

[2022-05-10 23:44] eashaw opened #5682 "Add to handbook: Suggesting changes to fleetdm.com"

[2022-05-10 23:45] mike-j-thomas opened #5683 "Handbook: Content guidelines table"

[2022-05-11 00:25] mikermcneil commented on #5046
@zwass @noahtalerman No action needed from y'all.

@timmy-k, @tgauda Can you migrate any cards from these legacy boards that are still relevant?  You can exclude the "Release" in your new board and they will be automatically backlogged.  (That way you keep the current 3 week cycle nice and clean).

I will take care of the founders board.

[2022-05-11 00:58] zwass opened #5684 "Fleet Desktop out of Beta"
Tasks to be completed before bringing Desktop out of Beta:

Next release (Agent):
- [x] #5689
- [x] #5696
- [x] #5716
- [x] #4733
- [x] #6063
- [x] https://github.com/fleetdm/fleet/pull/6312

Next release (Platform):
- [x] #5685
- [x] #5697
- [x] #5806
---
Before stable:
- [x] #5017 (Product)
- [x] #5698 (In-progress)

---
Maybe not required for stable:
- [ ] #5686 (quit UX is maybe not necessary

[2022-05-11 00:58] zwass opened #5685 "Implement separate "device policies" API for checking Desktop notifications"
As discussed in https://github.com/fleetdm/fleet/issues/5579#issuecomment-1122689181, this should be completed before bringing Desktop out of beta.

Currently defined `/device` endpoints:
https://github.com/fleetdm/fleet/blob/d84d6008c32c9b6f3d7488eb894c989b79e16fa9/server/service/handler.go#L391-L396

We need to add one to fetch the host's policies (+ their results, similar to how they are return

[2022-05-11 00:59] zwass opened #5686 "Add option (+configuration) for device user to exit Fleet Desktop"

[2022-05-11 01:04] zwass commented on #5685
@chiiph can you please take this over for planning as discussed in #5579? Feel free to edit the top comment description.

I've moved it into the "Prioritized" column to indicate we should try to get it ready for scheduling in the upcoming release (4.16.0).

[2022-05-11 01:06] zwass commented on #5686
@noahtalerman do you have opinions on how this should be handled? Otherwise I'll work with @sharvilshah to make a plan.

[2022-05-11 02:34] lukeheath commented on #5188
@xpkoala This is merged and ready for QA ✅

[2022-05-11 02:35] lukeheath commented on #5188
@xpkoala Worth noting that I was able to setup and enable the zendesk integration, but I haven't seen any tickets come in. I see generated tickets were added previously, so it may just be an issue on my end.

[2022-05-11 02:38] lukeheath commented on #5522
Agreed. Let's omit them for free users. I've updated the specs.

@michalnicp @noahtalerman

[2022-05-11 06:51] mike-j-thomas commented on #5099
Thanks, @Desmi-Dizney, this is much better. I've been through your draft with my carving knife and chopped out even more fat. With important instructions like these, we want readers to get to the information as quickly as possible.

[2022-05-11 07:03] xpkoala commented on #5188
@lukeheath thank you!

[2022-05-11 07:35] mike-j-thomas commented on #5099
@Desmi-Dizney. I felt the same, and agree. Consistency is the most important thing. Capitalizing is optional depending on the type of list, so as long as we have those rules defined, we can refer back to them and keep everything consistent. I updated some of the rules in your draft to reflect this.

[2022-05-11 07:48] mike-j-thomas commented on #5099
@Desmi-Dizney, to reiterate. Even though I cut most of it out, I really liked the conversational tone you used throughout your draft. This tone would be great for an article or guide. However, these instructions need to be direct and easy to scan to be most effective.

[2022-05-11 08:15] mike-j-thomas commented on #5138
@noahtalerman This is done 👍

[2022-05-11 08:41] mike-j-thomas commented on #5441
@noahtalerman this is done 👍

[2022-05-11 08:55] mike-j-thomas opened #5687 "Setup articles to display thumbnails on Twitter"
## Goal
Post thumbnail is displayed when shared to social media.

## How

Wizardry from Eric.

[2022-05-11 11:51] lucasmrod commented on #5686
By turn off which one do you mean:
1. Remove icon from the tray (but leave Orbit+osquery+fleet-desktop running)
2. Kill fleet-desktop application/process, which will also remove the tray icon (and leave Orbit+osquery running).

[2022-05-11 11:52] lucasmrod commented on #5684
Cool! I will be creating issues and linking them here.

[2022-05-11 12:08] juan-fdz-hawa commented on #4218
Yeah, we won't be using cpes for vulnerability detection on Debian systems.

[2022-05-11 12:08] #4218 closed

[2022-05-11 12:26] mna commented on #5679
That's a great catch - I don't remember exactly the details, but I know I felt `eris` seemed overly complex internally. It seems like part of the issue is that it provides its own custom formatting but doesn't handle the `w` verb which should be to wrap the error itself (I'm not sure how this is supposed to be handled when you provide custom formatting).

Unless there's a simple quick fix, I think

[2022-05-11 13:27] noahtalerman commented on #5528
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @ksatter

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-10.

[2022-05-11 13:28] noahtalerman commented on #5391
@chiiph following up on this. Is this improvement something that the platform team has capacity to draft and implement in the next 6 weeks?

If so, I'll add this issue to the ⚗️ Roadmap board. If not, I'll let Mike know that we're setting this improvement aside for now.

[2022-05-11 13:31] noahtalerman commented on #3895
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @tguada

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-10.

[2022-05-11 13:43] sharvilshah commented on #5686
Can't speak for @zwass, but I think it should be this, based on what other menu bar items do. I think it can initially just be a separate launchd in postinstall (i think this might require us to use the other bundle id) for macOS.

[2022-05-11 13:45] noahtalerman commented on #5470
@zwass heads up, I moved this issue to the  ✨ In review column in the 🚀 Release (new) board because I noticed that it has an associated PR.

Please @ mention @xpkoala in this issue if you move the issue off the board.

[2022-05-11 13:47] sharvilshah opened #5689 "Decouple orbit and Fleet Desktop's logging"
The Fleet Desktop process is started by the Orbit process.
Orbit runs as root and uses+owns its `/opt/orbit` directory, whereas Fleet Desktop runs as the login user.

Fleet Desktop should log to a file instead on a directory owned by the login user.

- macOS:  `~/Library/Log`
- Linux (Ubuntu and CentOS): `$XDG_STATE_HOME`, fallback to `$HOME/.local/state`
- Windows: `%LocalAppData%`

Re-use simila

[2022-05-11 13:49] noahtalerman commented on #5614
Hey @kevinpmmck sorry that you're experiencing this issue. Thanks for digging into the code/query. This is super helpful for reproducing and investigating the bug.

[2022-05-11 13:49] noahtalerman commented on #5624
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @tguada

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-10.

[2022-05-11 13:59] noahtalerman commented on #5624
@tgauda heads up, it looks like the maximum interval for scheduled queries (7 days) is an osquery limitation.

Can you please follow up with the customer on if 7 days is sufficient for their use case?

If they'd like to see an interval greater than 7 days, can you please bring this request to next week's 🗣 Product office hours? Thanks :)

[2022-05-11 13:59] noahtalerman commented on #5624
@sharvilshah am I correct here?

[2022-05-11 14:01] noahtalerman commented on #4345
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @tguada

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-10.

[2022-05-11 14:01] noahtalerman commented on #5222
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @tguada

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-10.

[2022-05-11 14:02] sharvilshah commented on #5624
@noahtalerman yep! it's hard coded to seven days (604800) in osquery.

[2022-05-11 14:04] tgauda commented on #5624
@sharvilshah Is it an arbitrary length or is there some other limitation?

[2022-05-11 14:06] noahtalerman opened #5690 "Add ability to disable Gravitar"
### Goal

As a Fleet user, I want to be able to disable Gravitar so that the Fleet UI (browser) does not make any requests to external resources.

[2022-05-11 14:07] noahtalerman commented on #5690
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @tguada

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-10.

[2022-05-11 14:08] sharvilshah commented on #5624
@tgauda AFAIK and from taking a quick look, it's just an arbitrary length that got defined 6 years ago in osquery

[2022-05-11 14:17] tgauda commented on #5624
@sharvilshah thanks!

[2022-05-11 14:25] noahtalerman opened #5691 "Measure false negatives"
This issue corresponds to the following Product goal in the Q2 OKRs:

### Goal

Using the list of the ~20 software linked to below, determine whether the latest release of Fleet correctly flags vulnerable versions of these software items.

* Note which applications are coming from primary vs third party hosting services.

List of ~20 software items:
- Google Chrome (Application) _Has not been test

[2022-05-11 14:37] noahtalerman opened #5692 "Improve the "Deploying" section of the docs"
This issue corresponds to the following Product goal in the Q2 OKRs:

## Goal

As a Fleet user landing on the [Introduction page in the Deployment docs](https://fleetdm.com/docs/deploying/introduction), I want instructions and code samples on how to deploy Fleet to be the first thing I see.

## Tasks

- [ ] On, the Introduction page, bring AWS Terraform instructions to the top fold
  - The top fol

[2022-05-11 14:48] noahtalerman opened #5693 "Add an approachable, novice-friendly list of log destinations"
## Goal

As a user that is new to Fleet, I want to see a novice-friendly list of log destinations that point me to directions to dive deeper into how to configure Fleet to send osquery logs to each destination.

## Tasks

- [ ] Move the list of log destination from the [Osquery logs documentation page](https://fleetdm.com/docs/using-fleet/osquery-logs) to the [Learn how to use Fleet documentation

[2022-05-11 14:48] lucasmrod opened #5694 "Document Fleet minimum server version that supports Fleet Desktop"
### Goal

Currently, if a user installs Orbit with "Fleet Desktop" on a deployment with Fleet Server version `< 4.12` the tray icon will show "Initializing..." forever (unless the user upgrades the Fleet Server version).

Let's add something like the above to our docs.

[2022-05-11 14:53] RachelElysia opened #5695 "Spiffier UI Styling: Consider updating color scheme (Use HSL, refine HSL values)"
### Goal

Consider as a part of a frontend CSS cleanup: #3489

TODO

1. Consider converting all Hex Codes to HSLA on _styles/var/colors.scss_
- Current Hex codes cannot be intuitively adjusted
- HSLA gives design more control over the color scheme by managing: color hue, saturation, lightness, and opacity
- Figma default's colors as Hex but there's a dropdown to view as HSLA instead. So from the d

[2022-05-11 15:08] lucasmrod commented on #5684
# To discuss

## Multi-sessions

Currently Fleet Desktop will show a tray icon on the current logon session. It hasn't been tested on hosts with multi-sessions. We need to define if we want this for the non-beta release. It involves:
  -. Do some research around multi-session support on the three OSs (Windows, Linux and macOS are basically three different worlds).
  -. Define what we really want,

[2022-05-11 15:14] lukeheath commented on #4904
@gillespi314 I get values for everything except `condition` and `manufacture_date`.

[2022-05-11 15:48] Desmi-Dizney commented on #5099
Thanks for all of the feedback. It's helpful.

[2022-05-11 15:58] lucasmrod opened #5697 "Fleet Desktop to poll "device policies" endpoint (instead of `/api/_version_/fleet/device/{token}`)"
### Goal

Fleet Desktop should use the device policies endpoint added in #5685 to fetch for policies status.
(Instead of using the full host endpoint which can be expensive `/api/_version_/fleet/device/{token}`.)

[2022-05-11 16:10] lucasmrod opened #5698 "Add `orbit_info` extension table support to osquery-perf"
### Goal

We need to load test the ingestion of the `orbit_info` extension table used by Orbit for Fleet Desktop.
To that end, let's add support for the `SELECT * from orbit_info;` query to [osquery-perf](https://github.com/fleetdm/fleet/tree/main/cmd/osquery-perf).

Some configurable percentage of the hosts should reply to such query with the expected columns (`device_auth_token` and `version`),

[2022-05-11 17:58] lukeheath commented on #4188
Moving this to the new release board.

[2022-05-11 18:25] #4850 closed

[2022-05-11 19:02] noahtalerman commented on #4904
When running `SELECT * FROM battery` I get an empty `condition` for all macs in dogfood.

@gillespi314 great find. For now, I think it makes sense to omit the value in the UI and API. If we can't get the information to render consistently, we'll omit the feature from the release notes for now.

@sharvilshah is fixing the `condition` field something that we can get into the next osquery release?

[2022-05-11 19:05] ksatter opened #5704 "Feature Request: Add "Fleet Desktop only option" for creating Orbit package."
### Goal

TODO
As a Fleet admin, I'd like the ability to install Fleet Desktop using Orbit without also installing osquery. This would allow me to take full advantage of Fleet Desktop without changing my workflow for installing osquery and continue using my custom osquery extensions.

### How?

- [ ] Create a `--desktop-only` flag to be included with `fleetctl package` that would create an install

[2022-05-11 19:06] xpkoala commented on #5295
No more warnings generating.

[2022-05-11 19:06] #5295 closed

[2022-05-11 19:08] xpkoala commented on #5297
Now shows as`inactive` after uninstall.

[2022-05-11 19:08] #5297 closed

[2022-05-11 19:35] xpkoala commented on #4925
There are a few issues still related to Fleet Desktop on Linux, but the core is working.

[2022-05-11 19:35] #4925 closed

[2022-05-11 20:10] noahtalerman commented on #5686
@zwass thanks for the ping! Adding a "Quit" option makes sense.

I think the user of the device should be able to easily "re-open" Fleet Desktop on all platforms.

This way, if a Fleet admin asks the user to resolve an issue or the user needs to resolve an issue to secure access to an internal tool, the user of the device can easily enter Fleet Desktop.

For example, on macOS, I can "re-open" the

[2022-05-11 20:27] michalnicp commented on #5522
The cve scores should also be returned from the `GET /api/v1/fleet/hosts/{id}` endpoint right?
@noahtalerman @lukeheath

[2022-05-11 20:38] lucasmrod commented on #5686
This might need some changes in packaging and how Orbit manages the "Fleet Desktop" app (it's currently an app bundle, but not installed, just managed/run by Orbit). Currently, Orbit makes sure "Fleet Desktop" is up and running (e.g. if you kill the fleet-desktop executable, then Orbit will bring it back to life). This was made like that to support keeping "Fleet Desktop" running after log-off ->

[2022-05-11 21:36] noahtalerman commented on #5188
@mike-j-thomas can you please photoshop my name and avatar out of the screenshots? Thanks!

[2022-05-11 21:50] mike-j-thomas opened #5711 "External link Figma component"
![Image](https://user-images.githubusercontent.com/78363703/167953577-6d9ff623-5dda-475f-b2f7-b9ff76228014.png)

[2022-05-11 21:58] michalnicp commented on #5458
The `GET /api/v1/fleet/hosts/{id}` endpoint also returns software. I assume the same api changes should be made there? @lukeheath

[2022-05-11 22:46] timmy-k commented on #5029
Reopening so we can add as a ritual

[2022-05-11 22:48] xpkoala opened #5713 "Building msi on M1 Mac is not consistently successful"
**Fleet version**: 4.14.0

**Operating system**: macOS 12.2.1 (M1)

<hr/>

### 🧑‍💻  Expected behavior
When building an .msi the file would successfully be generated.

### 💥  Actual behavior
The command is successful only ~40% of the time.

### Workaround
- https://github.com/fleetdm/fleet/issues/5732

### More info

I have not been able to find any sort of difference between the times I tried runn

[2022-05-11 22:50] #4694 closed

[2022-05-11 22:52] timmy-k commented on #5029
In rituals sheet so closing

[2022-05-11 22:52] #5029 closed

[2022-05-11 22:54] timmy-k commented on #4994
Done, so closing

[2022-05-11 22:54] #4994 closed

[2022-05-11 23:24] mike-j-thomas commented on #5653
@eashaw Let's update this thread as we migrate articles over so Nate can keep track.

[2022-05-12 04:27] zwass commented on #4176
Confirmed this is working with `fleetctl 4.14.0` and `orbit 0.0.11` (which is now the default Orbit) on Fedora 36 Workstation.

[2022-05-12 04:27] #4176 closed

[2022-05-12 04:45] mike-j-thomas commented on #5711
@noahtalerman, Done and done.
<img width="403" alt="image" src="https://user-images.githubusercontent.com/78363703/167993138-a520dc0b-c26a-49ba-8ff8-f5207c0884ee.png">
<img width="308" alt="image" src="https://user-images.githubusercontent.com/78363703/167993866-60faeb5b-56db-4af6-be7a-099454e780fd.png">

[2022-05-12 04:58] timmy-k opened #5714 "Add outreach deck to handbook"

[2022-05-12 05:03] #5714 closed

[2022-05-12 05:14] timmy-k commented on #4996
Completed, so closing

[2022-05-12 05:14] #4996 closed

[2022-05-12 06:42] sharvilshah commented on #5686
Just clarifying slightly here for macOS, the Fleet Desktop is a proper app, and is registered as such, so the user can double click and launch it. It's just that with Spotlight/Launchbar/Alfred (the CMD + Space), they just have limited search paths by default (they should be using app schemes like osquery to discover them):

[code]

 That said @lucasmrod is right, we will need to have some changes

[2022-05-12 06:54] sharvilshah commented on #4816
Hey @lukeheath I am also not sure on it.

I had brought this up at osquery office hours a while back. The discussion on it was that osquery correctly uses the API/spec for grabbing `os_version` info, and that it's unfortunate that Ubuntu's interpretation of it doesn't include `patch` number for their point releases, and that the suggestion for osquery to "cleanup/parse/normalize" that data, wasn't

[2022-05-12 07:06] sharvilshah commented on #4904
@noahtalerman I have been chasing this since late last year since since the m1 port began -- here's the osquery issue for it https://github.com/osquery/osquery/issues/6800

Not only apple has changed things again in Monterey, but with the move to arm, all the power management has moved away from SMC/SMBIOS to proprietary stuff. Sometimes apple release of their xnu code can help to provide the next

[2022-05-12 07:20] sharvilshah commented on #4188
This will have to be moved to backlog/blocked.

Not only NSWorkspace (Apple API) needs to be run from the main thread (that's why this works on `osqueryi` but not via others), osquery table code (which calls the Apple APIs), cannot currently determine which thread it's running in, that information is in core, but isolated from table implementation (for good reason)

[code]

Is this something we ca

[2022-05-12 09:36] sharvilshah commented on #5384
@noahtalerman, this is the first pass:

[code]

Regarding the two points -- if there is no password policy available, like with other things there will be no data returned.
I am not sure about incomplete password policy information -- thinking about this and how it would be possible to have "incomplete" information.

[2022-05-12 12:34] lucasmrod opened #5716 "Fleet Desktop: "My device" does not open default browser on Ubuntu 21.0X/22.0X"
**Fleet version**: `main`

1. Generate `deb` package with `fleetctl package ... --fleet-desktop`.
2. Install package on Ubuntu 21.0X or 22.0X.
3. Fleet Desktop icon shows up in the tray.
4. Click on "My device".

### 🧑‍💻  Expected behavior

Opens the device's URL on the default browser.

### 💥  Actual behavior

Opens the URL with a text editor (the text editor makes the URL request and renders the

[2022-05-12 13:48] noahtalerman commented on #5391
Makes sense. FYI @mikermcneil

[2022-05-12 14:47] noahtalerman commented on #5441
@mike-j-thomas looking good! Can you please remove my avatar and name from the example screenshots? Thanks :)

Heads up, I moved this issue back to "Ready" in the g-digital-experience board.

[2022-05-12 14:52] lukeheath commented on #4816
@sharvilshah Thanks for the info. It sounds like we may have to close this ticket if it's not something we can fix on the Fleet side, and osquery and ubuntu don't want to address it.

@ksatter @xpkoala Would y'all please take a look and determine if this is an issue we'd like to keep pushing for, or if it's okay to close it without fixing?

[2022-05-12 16:08] lukeheath commented on #4188
Good question! I think this is something @chiiph would need to look into to determine if the Fleet platform can provide this data.

[2022-05-12 17:34] xpkoala commented on #5716
I was reproducing this on my Ubuntu environment 22.x. After implementing the fix @lucasmrod mentioned I was correctly sent to the desired pages.

[2022-05-12 17:40] xpkoala commented on #2210
@xpkoala TODO: take a look at these processes and document behavior.

[2022-05-12 18:45] noahtalerman commented on #5036
@mike-j-thomas I'm assigning this issue to you to complete wireframes for the two scenarios:
- [ ] When I head to a new device, and I'm already logged in on fleetdm.com, but I've never visited my Fleet Cloud Sandbox, I need a way to get into the sandbox environment.
- [ ] When you come back to Fleet sandbox and it's expired, you want to know what to do next.
- Redirect from sandbox URL to a page o

[2022-05-12 19:22] noahtalerman opened #5723 "In the Fleet Sandbox, inform user how much time is left"
## Goals

As a user of Fleet Sandbox, I want to know how much time I have left to demo Fleet so that I know to prioritize showing Fleet to other people at my organization.

## Figma

In the Fleet Sandbox, inform user how much time is left: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6737%3A267212

## Related
- #4970 (epic)
- #6548

## Tasks

### 1
- [ ] Make HTTP request to sandbox

[2022-05-12 19:26] noahtalerman commented on #5036
Making the Fleet Sandbox expiry configurable in terms of what the API sends to the cloud spawner would allow us to easily change it later without migrating things.
- Mike, I want to make sure we can change the length of new instances easily.
- Every time we send an API request to obtain a new toddling-turtle.fleetdm.com instance, that API request would include the expiry.

[2022-05-12 19:28] noahtalerman commented on #5036
Are we going to have a mail server for Fleet Cloud?
- For now, no.
- This means we should disable "Invite user" and make sure forgot password is disabled (99% sure it already won't be seen)
- Are we going to allow "Create user" at all?
- For now, no.
  - Prominently tell users why they can't create so that we don't let folks down.
  - Don't just hide the button.  Disable with tooltip, or some othe

[2022-05-12 19:31] GuillaumeRoss opened #5724 "Sample issue for security awareness"
Just a sample issue to show how to delete comments and issues. Disregard.

[2022-05-12 19:32] GuillaumeRoss commented on #5724
Test comment

[2022-05-12 20:13] noahtalerman commented on #5522
@michalnicp adding both cvss score data and known exploit data to the `GET /hosts/{id}` makes sense to me.

I think it's likely we prioritize surfacing this data on the **Host details** page (consumer of `GET /hosts/{id}`) soon.

[2022-05-12 20:13] noahtalerman commented on #5522
cc @lukeheath ^

[2022-05-12 20:17] noahtalerman commented on #5458
@michalnicp adding epss probability data to the `GET /hosts/{id}` makes sense to me.

I think it's likely we prioritize surfacing this data on the **Host details** page (consumer of `GET /hosts/{id}`) soon.

I think, as a rule, it makes sense to always make updates to both the `GET /hosts/{id}` and `GET /hosts/identifier/{identifier}` API routes. This way, the information returned is consistent. @

[2022-05-12 20:17] noahtalerman commented on #5711
Rockin!

cc @xpkoala

[2022-05-12 20:17] #5711 closed

[2022-05-12 20:20] timmy-k commented on #2022
Closing because this lives under a more specific issue— https://github.com/fleetdm/confidential/issues/1169

[2022-05-12 20:20] #2022 closed

[2022-05-12 20:21] noahtalerman commented on #4904
Rats. @sharvilshah knowing that this issue exists, do you think it's possible to achieve this goal...
- As a user of the Fleet UI and API, I want to know the battery health of my Intel and M1 macs so that I can determine whether it's time to replace their batteries.

[2022-05-12 20:35] noahtalerman commented on #5384
This is sweet! ✨

I think I understand. By "password policy" here do you mean a policy enforced by an MDM (Apple MDM protocol) ?

If so, does this mean that the `select * from password_policy` query above will return no results if the device is not enrolled in MDM ?

I'm asking these questions to understand if this^ goal is looking possible.

[2022-05-12 20:35] noahtalerman commented on #5384
cc @sharvilshah ^

[2022-05-12 20:46] lucasmrod opened #5725 "Update "Schedule" page to include modal to view SQL used by scheduled query"
## Goal

As user I want to see the SQL of a scheduled query so that I don't have to head to the **Query** page and find the query.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=8572%3A285662

## Parent epic
- #7079

## Tasks

### 1
- [ ] Change table header "Query" to "Name".

<img width="562" alt="image" src="https://user-imag

[2022-05-12 21:31] lukeheath commented on #5522
I've added item 3 to the specs to include the `GET /hosts/{id}` endpoint.

[2022-05-12 21:37] lukeheath commented on #5458
@noahtalerman I think this will depend on product strategy. Because the `/host/{id}` endpoint is used by administrators, while `GET /hosts/identifier/{identifer}` is used by host users, it may be the case that we want to surface data to the administrator that we don't want to surface to the host user. Because of that I'd hesitate to say "as a rule", although most of the time it will be the case th

[2022-05-12 21:37] timmy-k opened #5728 "Track clicks to Slack community invite link as conversions in Google Analytics"
### Goal
Track people clicking on slack community invite link so we can optimize campaigns to grow community and drive MQOs here

### How
- [x] Setup to track external clicks to slack invite link as conversions in GA

[2022-05-12 23:20] eashaw opened #5730 "Add README to `articles/` folder"
How?
- [ ] Create a new file in `articles/` that lists the guidelines for creating markdown articles for fleetdm.com
- [ ] Document article image naming conventions, and where images should live
- [ ] Document the required meta tags that articles need
- [ ] Update build script to ignore the README

[2022-05-13 01:05] Desmi-Dizney commented on #5651
This was merged in PR #5666.
Closing.

[2022-05-13 01:05] #5651 closed

[2022-05-13 11:42] lucasmrod opened #5732 "Workaround for generating MSI from M1 Apple computers"
Until a proper fix for #5713 is found, let's have the fleetctl command retry the MSI generation until it succeeds.

<hr/>

Details:
- It should retry up to 9 extra times (this is a first guess).
- It should only retry if:
  - platform is Apple M1.
  - it's generating the MSI.
  - it failed with the exact error described in #5713.

[2022-05-13 13:40] noahtalerman commented on #4282
I'm closing this issue because there will be no changes to the `GET /device/{device_id}` API route for now. This route will contain policy information for free and paid users.

This is because the "Self-service" paid feature provides value by surfacing policy results and steps to resolve failing policies in the Fleet Desktop UI.

For free users, this information will not displayed in the Fleet Des

[2022-05-13 13:40] #4282 closed

[2022-05-13 14:16] noahtalerman commented on #5458
@lukeheath is this API route used by the user of a device?

I could totally be wrong, but I thought the `/identifier/{identifier}` is another endpoint used by the admin. The admin might use this endpoint to retrieve host vitals and they know the `hostname` or some identifier other than `id`?

It looks like the `GET /device/{identifier} endpoint is used to surface information to the device user on

[2022-05-13 14:59] lukeheath commented on #5458
@noahtalerman Thanks for the clarification. You are correct, the endpoint is `GET /device/{identifier}`. I will update the specs.

[2022-05-13 15:08] lucasmrod opened #5734 "Orbit: v0.0.11 `shell` command doesn't work (after code changes to use `/opt/orbit`)"
`sudo orbit shell` command stopped working after the upgrade to `v0.0.11` (on new installations of Orbit).
The failure is related to the changes to support the new `/opt/orbit` install path (#5335).

<hr/>

[code]
Does work if we set the root directory:
[code]

[2022-05-13 15:36] timmy-k commented on #5582
Keeping a list of sites here— https://docs.google.com/spreadsheets/d/1Uc_WmRUgSLLwsCOf84JAkvgnQIyzA85fYLp6P20HOhA/edit?usp=sharing

[2022-05-13 15:45] noahtalerman opened #5735 "Add a Software details page"
## Goal

As a Fleet user, I want to see a list of vulnerabilities for a specific software version so that I can determine how urgent updating/patching the software is.

## Related

Epic: #4928
Backend: #5522

## Figma

Add a Software details page: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6454%3A264563

## Tasks

### 1
- [x] Add a **Software details** page.
- The URL for this page

[2022-05-13 17:31] sharvilshah commented on #4904
@noahtalerman

Perhaps we can determine using the battery cycles? Percentage of battery cycles? Looking at apple's support doc here (https://support.apple.com/en-in/HT201585), most portables now have a max battery cycles of 1000.

[2022-05-13 17:42] sharvilshah commented on #5384
@noahtalerman

Yes, this will work for both locally defined policies on the system (no MDM), as well as the ones pushed by MDM profiles.
In the example above, `com.apple.defaultpasswordpolicy.fde` is the default one that Apple has set, when FIleVault is enabled. The other two starting with `ProfilePayload` are the ones pushed by MDM.

So we can get at both types of data. I believe this currently i

[2022-05-13 17:45] sharvilshah commented on #5384
@noahtalerman and screenlock while related is different from these APIs, and as mentioned above, it's a per user setting.

Not 100% sure on above, I will need to test. But that is something that I want to look at after finishing up password policies.

[2022-05-13 18:19] Desmi-Dizney commented on #5099
Completed in:
- https://github.com/fleetdm/fleet/pull/5738

[2022-05-13 18:25] sharvilshah commented on #4188
I was thinking more along the lines that knowing live queries won't run on the main thread, and hence `is_active` would be inaccurate, fleet could hide that column or return an -1/error?

[2022-05-13 18:39] timmy-k opened #5739 "NorthSec Conference"
Event: May 15-22, 2022 (Montreal, Canada)

Website:
https://nsec.io/

Proposal submitted by Guillaume
(Same as DEF CON proposal)

[2022-05-13 19:51] mikermcneil opened #5741 "Check if `thrift_verbose` works as intended in osquery"
This link will expire in 90 days: https://fleetdm.slack.com/archives/C01EMLSSB42/p1652466152451579?thread_ts=1652278233.714979&cid=C01EMLSSB42

[2022-05-13 19:53] mikermcneil commented on #5741
Hey @sharvilshah, Tony and I were checking in on customer issues and just wanted to get this tracked for you.

[2022-05-13 20:48] noahtalerman commented on #5036
Discussion on authentication when the user signs up on fleetdm.com
- Zach: For MVP, let's drop the user in the Fleet UI and ask the user to log in with the same credentials.
- Zach: Later, we prioritize coming back to the automatic log in, to the Fleet instance, when a user signs up fleetdm.com.
We need to figure out wireframes for SSO

[2022-05-13 22:12] timmy-k commented on #5046
@mikermcneil this is done!

[2022-05-16 11:34] roperzh commented on #5517
deleting from project as we decided to tackle this in a future iteration.

[2022-05-16 14:38] mna commented on #5291
@noahtalerman @lukeheath For webhooks, a failing policy triggers a request only for specifically selected policies (in the `Manage Automations` screen, the user must select the policies that will trigger a webhook). I see in Figma that for Jira/Zendesk there will also be this selection of policies, but is that saved separately for each integration (i.e. the user can select different policies for J

[2022-05-16 14:40] chiiph opened #5746 "fleetctl preview not working with the latest Docker on Ubuntu"
**Fleet version**: N/A

**Operating system**: Ubuntu

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior

`fleetctl preview` launches a preview environment.

### 💥  Actual behavior

`fleetctl preview` returns the following error: `Error: Docker Compose is required for the fleetctl preview experience`

This happened with Docker Compose version v2.5.0

We use `docker-compose` instead of `docker

[2022-05-16 15:15] noahtalerman commented on #5477
@xpkoala heads up, this issue will need significant testing because the changes touch all forms of authentication:
- Log in via fleetctl CLI, API, and UI
- Set up via fleetctl CLI, API, and UI
- Create and edit user via CLI, API, and UI
- Log in via SSO

Calling this out because this issue's description doesn't capture all the areas of the product that the change may impact.

cc @gillespi314

[2022-05-16 15:44] noahtalerman commented on #5438
@DominusKelvin heads up, I'm re-opening this issue and adding it to the "In progress column" in the #g-community board.

It looks like the PR associated with this issue hasn't been merged: https://github.com/fleetdm/fleet/pull/5615

[2022-05-16 16:00] xpkoala commented on #4816
I think from my point of view this is OK to close, but it will probably be prudent to document this behavior somewhere in the docs. @noahtalerman Thoughts?

[2022-05-16 16:11] xpkoala opened #5750 "Improve error state for Team admins after downgrade"
**Fleet version**: 4.14.0

**Operating system**:

**Web browser**:

<hr/>

### 🧑‍💻  Expected behavior
Interacting with error pages should educate or assist the user in meeting their goals.

### 💥  Actual behavior
Error page encountered when interacting with the /settings/teams/#/members after downgrading to a non premium account is unhelpful.

### More info
I don't believe this behavior has been s

[2022-05-16 18:24] lukeheath commented on #5291
@mna

That is correct. The policies selected will be the same for both webhook and Jira/Zendesk integrations.

[2022-05-16 18:27] mna commented on #5291
@noahtalerman A few minor changes to the jira/zendesk templates for consistency with the existing vulnerabilities integrations (let me know if you'd rather change it the other way around):

* `<Policy name> policy failed on <Number of failing hosts> hosts` --> `... host(s)`
* Instead of `<Hostname1>: <Link to Host details page>`, the `<Hostname>` itself is clickable and links to that host's detail

[2022-05-16 18:40] noahtalerman opened #5754 "API docs always reflect the latest released version"
Today, the API docs can reflect an unreleased version of the API (`main` branch). This is because made to the docs on the `main` branch are automatically deployed to [fleetdm.com](https://fleetdm.com/docs/using-fleet/rest-api).

### Goal

As a user, I want the API docs to always reflect the latest released version of Fleet so that I know the integration I'm building will work with my Fleet instanc

[2022-05-16 19:18] noahtalerman opened #5757 "In Fleet Sandbox, add ability to download a pre-generated installer"
## Goal

As a user, I want to be able to download a Fleet-osquery installer in the Fleet UI so that I can add hosts to Fleet without having to know how to successfully generate an installer with the `fleetctl package` command.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6740%3A267448

## Related

- #6555 (epic)
- #6365 (platform)
- #6592 (platform)

## Package Download AP

[2022-05-16 19:19] zhumo opened #5759 "Testing ticket creation process - IGNORE"
### Goal

TODO
Mo is supposed to know how to use Fleet issue tracker, as per onboarding.

### How?

First, I will make a new ticket. Then get it into the appropriate queue.

- [ ]

[2022-05-16 19:22] #5759 closed

[2022-05-16 19:29] CharlotteChance commented on #5606
tracked here: https://github.com/fleetdm/fleet/pull/5760

[2022-05-16 19:29] #5606 closed

[2022-05-16 19:43] xpkoala commented on #3543
@gillespi314 Just to double check, the only labels we expect to see from the `/host_summary` response are those listed as `builtin_labels`. User created labels should not appear in this response?

[2022-05-16 20:35] noahtalerman commented on #4904
Aha! Thank you for sharing [Apple's support doc](https://support.apple.com/en-in/HT201585). A pulled the recommendation from Apple out of this doc:

@sharvilshah using the above recommendation from Apple, this makes sense.

What do you think about telling a Fleet user the "Battery condition" is either "Normal" or "Replacement recommended" ?
- Normal: `cycle_count` is less than `1000`
- Replacement

[2022-05-16 20:37] noahtalerman commented on #5384
Rockin!

Sweet 👍

[2022-05-16 20:52] noahtalerman commented on #5291
@mna great catch. These changes make sense to me.

This is a really good point.

Martin, can you please use the `team_id` URL parameter in the link to Fleet's Hosts page?

I think this means, that if "Ticket" is enabled for a team's policies (`team_id=1`) in Fleet, and a ticket is created, the URL for the `on the Hosts page in Fleet` would look something like: https://instance.fleetdm.com/hosts/ma

[2022-05-16 23:06] #4672 closed

[2022-05-17 16:20] xpkoala opened #5776 "Nonexistent host in Policy count"
**Fleet version**: 4.14.0

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 💥  Actual behavior
There appears to be a phantom host that is part of the "Operating System Up To Date (osx)" policy. The policy is showing 10 passing hosts and 1 failing host, but there are currently only 10 hosts in the team this policy is targeting.

### More info

This

[2022-05-17 16:21] xpkoala commented on #5776
@lukeheath I'm not entirely sure if this is a platform or interface ticket. Could you please take a quick peak and add the appropriate label? Thank you in advance!

[2022-05-17 16:23] #1509 closed

[2022-05-17 16:31] xpkoala opened #5777 "Brainstorm and implement license downgrade experience"
This ticket is related to https://github.com/fleetdm/fleet/issues/2210

### Goal

Define what the expected outcome for a Fleet instance is if a user downgrades from a premium to a free tier license.

### How?

We should discuss what actions should be taken and then design those items in Figma for implementation into the app (error states, new screens, api calls, etc).

- Should we disassociate use

[2022-05-17 16:34] lukeheath commented on #5337
There are still some areas that would benefit from spinners, but we want to iterate to catch all instances. This should be a big improvement.

[2022-05-17 16:37] lukeheath commented on #5776
@xpkoala Good question! It _could_ be an API issue, but more likely is a data integrity issue, which is best investigated by platform. I'm adding the `#platform` label.

[2022-05-17 17:03] lukeheath commented on #5445
@noahtalerman Regarding the "Issue" item in the host summary card:

![image](https://user-images.githubusercontent.com/2495927/168870313-91e7db1e-1d20-4f15-ac7a-e04503279334.png)

Currently on host details, this only appears if the host has issues. If there are no failing policies, it does not display. Do you want the same behavior here, or do you want it to always show, even if the value is `0`?

[2022-05-17 17:46] noahtalerman commented on #4816
@ksatter great catch and awesome bug report.

@xpkoala this data accuracy bug is something we'd like to prioritize and address.

This is because, today, a Fleet user will see the incorrect version reported for Ubuntu hosts. This means that this user has the potential to loose trust in Fleet.

It was awesome that first we looped in Sharvil to see if this issue can be resolved in osquery core. If I'

[2022-05-17 17:48] noahtalerman commented on #5445
@lukeheath let's only display "Issues" item if the value is greater than `0` (same behavior as on host details).

[2022-05-17 17:50] mna commented on #5291
@noahtalerman Can a different integration be enabled for global vs teams? It looks like it could from the description, and different teams could enable different integration types (team A could be Jira, team B Zendesk, team C Webhook)? And each would have different lists of policy IDs to allow creating the ticket/sending the webhook (this is basically by design, as policies belong to one team or g

[2022-05-17 17:58] lukeheath commented on #5445
@noahtalerman One other question regarding the issue summary.  Spec item 1 says the "Issues" summary is only available for premium users. However, on the host details page, it's available to everyone. Is this intended?

[2022-05-17 18:01] ksatter opened #5778 "Maintain column order in live query response"
## Goal

When looking at the live query results in the Fleet UI, I want the columns in the "Results" table to appear in the order in which they appear in my query.

Example:
<img width="1095" alt="Screen Shot 2022-05-17 at 12 52 54 PM" src="https://user-images.githubusercontent.com/29607202/168878513-e3e50bb4-1cae-49a1-a18c-ee2505dcad42.png">

In the above scenario, we'd like the order to be "Host

[2022-05-17 19:07] chiiph commented on #5542
We haven't been able to devote time to this just yet. The hunch is that it's a Google thing, though, yes.

[2022-05-17 19:21] Desmi-Dizney commented on #5609
See:
- https://github.com/fleetdm/fleet/pull/5781

[2022-05-17 19:21] Desmi-Dizney commented on #5609
This is complete.

[2022-05-17 20:18] mna commented on #5291
@lukeheath @chiiph Realistically, this won't make it into this release. I have one day left to get this out for the frontend team and I still have all the team-specific integrations config to add with the endpoints to update, and the triggering of integrations is still missing a lot of tests, there's no way I get all this done and the (big) PR reviewed and comments addressed by EOD tomorrow.

[2022-05-17 20:28] noahtalerman opened #5784 "Add probability of exploit and impact to vulnerability automations"
### Goal

As a Fleet user, I want to see the probability of exploit (`epss_probability`) and severity (`cvss_score`) in the webhook payload and ticket (Jira or Zendesk) so that I only post a message to Slack if the vulnerable software is above a probability of exploit threshhold.

[2022-05-17 20:37] noahtalerman opened #5785 "Update live query results page"
Currently, on the live query results page in, the Fleet UI displays a loading spinner until...
- At least one result. Then a results table is displayed.
- Fleet concludes the live query. Then a "no results" state is displayed.

This makes for a confusing experience when no hosts return results and Fleet doesn't conclude the live query. It looks like Fleet is stuck/broken.

## Goal

As a user runni

[2022-05-17 20:37] noahtalerman commented on #5785
Proposed solution: Show an empty table when we get no results back from at least one host.

[2022-05-17 20:39] noahtalerman opened #5786 "On Host details > Query, only display queries compatible with the host"
### Goal

As a user on the **Host details** page, when I select the "Query" button, I only want to see queries that are compatible with the host. This way, if I find a query I'd like to run on the host, I know that I'll get results.

[2022-05-17 20:40] noahtalerman commented on #5778
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @ksatter

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-17.

[2022-05-17 20:40] noahtalerman commented on #5784
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @GuillaumeRoss

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-17.

[2022-05-17 20:41] noahtalerman commented on #5725
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @tgauda

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-17.

[2022-05-17 20:41] noahtalerman commented on #5785
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @mikermcneil

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-17.

[2022-05-17 20:41] noahtalerman commented on #5786
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @tgauda

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-17.

[2022-05-17 20:47] noahtalerman commented on #5291
Yes. These are all correct.

[2022-05-17 20:50] noahtalerman commented on #5445
@lukeheath yes this is intended. Thanks for checking to make sure :)

This choice was made because the "Self-service" feature is only available to premium users.

The "Issues" item only includes failing policies (eventually will include vulnerable software). This means that this item would potentially confuse a device user on the free plan because they don't have access to the "Policies" tab.

[2022-05-17 21:26] lukeheath commented on #5291
@mna Thanks for the heads up. I know this is a big effort. No problem pushing to next release. We have not brought in the frontend portion for development yet because we knew it was unlikely to finish both this release cycle.

[2022-05-17 21:33] CharlotteChance commented on #4673
tracked here: https://github.com/fleetdm/confidential/issues/1200

[2022-05-17 23:14] mike-j-thomas opened #5788 "Style guide, how Fleet uses commas."

[2022-05-17 23:39] mike-j-thomas commented on #5098
Closing because it is redunt. Please refer to this issue instead https://github.com/fleetdm/fleet/issues/5045

[2022-05-17 23:39] #5098 closed

[2022-05-17 23:46] mike-j-thomas commented on #5045
@noahtalerman, I'm just checking in about where you are with testing osquery tables? I want to start adding them to the Fleet docs as soon as possible. Thanks.

[2022-05-18 12:07] mna commented on #5291
@lukeheath cool, I'll try to have it done during the freeze next week.

[2022-05-18 14:55] gillespi314 opened #5790 "```go"
[code]

Ah found it, we should swap the `ValidatePassword` calls 👆 . But we don't need to do this now. I'll create a separate issue/PR.

_Originally posted by @lucasmrod in https://github.com/fleetdm/fleet/pull/5712#discussion_r874051258_

[2022-05-18 15:48] michalnicp commented on #5624
We should probably also add the same validation on the backend, for anyone that uses the API directly.

[2022-05-18 16:20] noahtalerman commented on #5539
One of the underlying problems is that the software inventory query doesn’t work as desired on all systems.

This could be because the query uses a lot of resources on the system.
- One example of this is when the system has a lot of users. This means that a `SELECT * FROM users` has the potential to consume a lot of resources and potentially trigger the osquery watchdog.

[2022-05-18 16:41] sharvilshah commented on #5741
Confirmed that `thrift_verbose` flag indeed works as expected (it also requires `verbose` flag to be present), and it made it in osquery in version 4.7.

[2022-05-18 16:52] sharvilshah commented on #5384
@noahtalerman https://github.com/osquery/osquery/pull/7594

[2022-05-18 17:36] noahtalerman commented on #5522
@michalnicp heads up, I'm assigning you this issue.

Looks like I forgot to assign it back to you!

[2022-05-18 17:52] Desmi-Dizney commented on #5788
@mike-j-thomas I shared the google doc with you, but here it is as well.
https://docs.google.com/document/d/1rpDK-EDC7ey39gZYo4M5-ZwUPV-9wpiFmBeCcTdLju8/edit

[2022-05-18 18:29] michalnicp opened #5795 "Possible race condition with app config"
**Fleet version**: main(c52604cfb75e6e84c73a6e1fd6bfc87269fc4c88)
main

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

When osquery fetches config, no errors should occur.

### 💥  Actual behavior

osquery periodically fetches config using `GET /api/v1/osquery/config`. If there was a request to modify the app config using

[2022-05-18 18:31] zwass commented on #4733
@noahtalerman @zhumo We also discussed you two taking a look at how we should be messaging during the initialization phase.

[2022-05-18 18:47] tgauda commented on #5408
Hi @noahtalerman, following up here. Is this making it into the upcoming release?

[2022-05-18 19:24] juan-fdz-hawa opened #5796 "Vuln OVAL results third party integraiton."
### Goal

If the 'vulnerabilities automation' option is enabled, as part of the vulnerability detection process, 'recent' vulnerabilities are sent to third party integrations. The criteria used for determining if a vulnerability is 'recent' is based on the date it was issued, that information is currently missing from the OVAL artifacts we produce, we need to update the OVAL parser to include that

[2022-05-18 19:32] #4674 closed

[2022-05-18 19:55] DrewBakerfdm commented on #5024
Closing this issue, it's under reference materials here:
https://github.com/fleetdm/confidential/issues/1192

[2022-05-18 19:55] #5024 closed

[2022-05-18 19:57] DominusKelvin opened #5798 "Document the port that the health endpoint is on"

[2022-05-18 19:58] DominusKelvin opened #5799 "Document how to configure Fleet with a load balancer."
### Goal

TODO

### How?

- [ ] Provide an example config for Nginx
- [ ] Link to the AWS ELB configuration in the dogfood configs

[2022-05-19 03:43] mike-j-thomas commented on #5441
@noahtalerman, done.

[2022-05-19 09:00] gstorme opened #5805 "Error executing distributed query: fleet_detail_query_software_windows: no such table: atom_packages"
**Fleet version**:
4.14.0

**Operating system**:
Windows Server 2019

### 🧑‍💻  Expected behavior

Software inventory is enabled, I'd expect a software inventory for all hosts

### 💥  Actual behavior

Some hosts show "No installed software detected on this host."

### More info
The logfile contains
[code]

Running osquery (5.2.2) shell shows me this table does exist:
[code]

Because this table caus

[2022-05-19 12:28] lucasmrod opened #5806 "Handle Fleet Desktop `/api/_version_/fleet/device/{token}...` API Premium Endpoints"
### What

Some Fleet Desktop features are only available for premiums installs:
- #5445
- #5579

### Goal

This issue has two sides:
- Fleet Server: Make sure to return license errors when requesting premium data on non-premium deployments on `/api/_version_/fleet/device/{token}...` API endpoints.
- Fleet Desktop: Have the Fleet Desktop application support parsing those errors (and retry) accordin

[2022-05-19 13:56] noahtalerman commented on #4883
@chiiph great question. Deciding what "successfully" means is part of the task.

Note that this definition could change over time.

[2022-05-19 14:01] noahtalerman commented on #5384
Sweet!

@sharvilshah am I understanding the results correctly?

When I run `select * from password_policy` the presence of `com.apple.defaultpasswordpolicy.fde` means that the user's password is at least 4 characters long.

[2022-05-19 15:08] xpkoala opened #5808 "My device page goes to 500 error on device refetch"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
The user would stay on the 'My Device' page through a refetch.

### 💥  Actual behavior
The user is taken to the 500 error page.

### More info

Video of the behavior: https://www.loom.com/share/919c3bf8690946b7a1954d718d477ca4