[2022-10-05 19:43] lukeheath commented on #8096
@ghernandez345 @RachelElysia This is the other portion of the Storybook work in #8094.

During our chat, @mike-j-thomas and I agreed that we want to start taking steps to mature our design <-> frontend workflow to include tools like Storybook. We saw that [Figma has a plugin](https://help.figma.com/hc/en-us/articles/360045003494-Storybook-and-Figma) for Storybook that allows us to import Storybook

[2022-10-05 20:02] noahtalerman commented on #7951
@zwass I'm not sure this understanding is correct.

Yes, now we are focusing on the UX for queries (#7765) without data storage. However, after we ship the UX for queries, we'll focus on the data storage (this issue).

My intention was to discuss data storage now so that, when we ship the UX for queries, we have a good idea on how we'll approach data storage.

Does this match your understanding? I

[2022-10-05 20:10] #8067 closed

[2022-10-05 20:16] noahtalerman commented on #7957
Two potential paths…
- Create package with enrollment profile
  - Default enrollment profile is used. User cannot update this in the UI
  - Mo: Still need to handhold user through profile installation. This could be on My device page.
    - TODO Noah
  - Mo: Fleet Desktop is required for MDM. If you don’t have Fleet Desktop, you need to distribute a package with it to use MDM.
    - TODO Noah
- Ad

[2022-10-05 20:24] artemist-work commented on #7804
This doesn't seem to be an issue with rpm_packages so we should only need this change with deb_packages

[2022-10-05 22:58] chris-mcgillicuddy commented on #7882
Article has been published https://fleetdm.com/securing/osquery-vulnerability-management-at-scale

[2022-10-06 00:03] zwass commented on #7951
(Call is scheduled to discuss this tomorrow. We'll update this thread when we have some clarification.)

[2022-10-06 00:46] eashaw commented on #5219
@noahtalerman would changing the value of `platform` to be `macOS`, `Windows` and `Linux` require changes to the Fleet product?
We can use `darwin`, `windows`, and `linux` and display the filter options as “macOS”, “Windows” and “Linux” like we are currently doing on the osquery schema table pages. https://github.com/fleetdm/fleet/blob/582772fbee219ec2febc357602acdb0beb7e2088/website/views/pages/o

[2022-10-06 12:03] lucasmrod opened #8099 "Add Orbit auto-update manual testing guide for developers"
We need documentation on how to setup and test Orbit auto-updates during development/testing of new Orbit features (before release).

At a high level the steps involved are:
1. Setup last released version of Server.
2. Setup last released versions of Orbit, Desktop, osqueryd (on the three main OSs, most likely via VMs), via local TUF (using `tools/tuf/test`).
3. Publish new version of Orbit compon

[2022-10-06 13:45] noahtalerman commented on #7656
@RachelElysia correct. I agree this is not ideal. However, this is out of the scope of the ticket.

Please feel free to add this to product office hours: https://docs.google.com/document/d/1mwu5WfdWBWwJ2C3zFDOMSUC9QCyYuKP4LssO_sIHDd0/edit#heading=h.zahrflvvks7q

No. We want to keep the bundle identifier tooltip. Currently, on the **Software** page, the software names are clickable and the bundle i

[2022-10-06 14:08] RachelElysia commented on #7992
@michalnicp nice catch, this was always the intended behavior, and looking at the code it was a frontend bug!

[2022-10-06 15:43] lukeheath opened #8105 "Manage hosts page: Filters select dropdown menu down chevron icon is too large"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

Down chevron size matches the down chevron size in the "All hosts" dropdown.

The down chevron icon should also highlight with the hover color when hovering o

[2022-10-06 16:57] RachelElysia opened #8106 "Fleet UI: New header tooltip pushing edge of table (non-released)"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
main

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_
Chrome
<hr/>

### 🧑‍💻  Expected behavior

The table to not look wonky on scroll.

### 💥  Actual behavior

When the table scrolls horizontally and a header with a tooltip is the last column of the table, the to

[2022-10-06 17:09] DrewBakerfdm commented on #5582
Outdated issue. Closing

[2022-10-06 17:09] #5582 closed

[2022-10-06 17:18] DrewBakerfdm commented on #5296
Outdated issue. Closing.

[2022-10-06 17:24] DrewBakerfdm commented on #6426
Event is currently happening. Closing issue.

[2022-10-06 17:24] #6426 closed

[2022-10-06 18:17] #5645 closed

[2022-10-06 18:20] DrewBakerfdm commented on #3825
All of these are tracked in the content calendar, closing issue:

https://docs.google.com/spreadsheets/d/1IzpoIfTc7cqc9g8w20fQfap3GFcrqgOaiPrpCkowcvA/edit#gid=1685561213

[2022-10-06 18:20] #3825 closed

[2022-10-06 18:29] DrewBakerfdm commented on #1107
https://youtu.be/1VNvg3_drow

[2022-10-06 18:29] #1107 closed

[2022-10-06 18:30] #5739 closed

[2022-10-06 18:37] juan-fdz-hawa opened #8109 "Document the signals that osqueryd sends to child processes"
### Goal

Document what signals the osqueryd watcher process sends to terminate their children and under what circumstances.

[2022-10-06 18:47] #5025 closed

[2022-10-06 18:48] DrewBakerfdm commented on #5027
![Image](https://user-images.githubusercontent.com/89049099/194394269-8237dc4e-e4bc-4320-a428-be1400ddffbb.png)

Stats from the last boosted post about the state of device management report.

[2022-10-06 18:49] DrewBakerfdm commented on #5027
![Image](https://user-images.githubusercontent.com/89049099/194394397-1fcead01-b1e5-463d-b3ff-a98f33016f5e.png)

[2022-10-06 18:49] #5027 closed

[2022-10-06 18:51] roperzh opened #8110 "improve the logs of `/device/*` requests during Fleet Desktop checks"
When Fleet Desktop starts, it pings the server in a loop to check if the device is already recognized by the server:

https://github.com/fleetdm/fleet/blob/34088aaab996b6d0175f55317a46f372716d6088/orbit/cmd/desktop/desktop.go#L97-L122

This works well, but the server logs are a bit misleading and scary, as it might seem like something is wrong:

[code]

We should find a way to avoid logging someth

[2022-10-06 19:14] rfairburn commented on #7359
The subnets and VPC are actually already allowed over VPN, but I am not sure what anything looks like to integrate the private IPs into detectionlab itself (or if it "just works" if you have the private addresses).

[2022-10-06 19:16] zwinnerman-fleetdm commented on #7359
I (or anyone with terraform) can taint the instances to refresh them, that should refresh the license expiration

@rfairburn answered the VPN question I think, but I agree with the overall statement.

[2022-10-06 19:23] #5028 closed

[2022-10-06 19:23] zhumo opened #8111 "Unable to clear host table selection under certain conditions"
In dogfood

<hr/>

### 🧑‍💻  Expected behavior
Clicking clear all consistently clears all.

### 💥  Actual behavior
Clear selection should clear selection and remove checkboxes (including here even though it's a bug so that we can reproduce together.  To reproduce, get creative about combining filters + "select all across pages", then try clearing selection)

<img width="618" alt="image" src="https:

[2022-10-06 19:24] DrewBakerfdm commented on #4290
https://fleetdm.com/guides/how-to-install-osquery-and-enroll-windows-devices-into-fleet

[2022-10-06 19:24] #4290 closed

[2022-10-06 19:32] #5423 closed

[2022-10-06 19:54] lukeheath commented on #7805
Note: Moved to "Designed" column since it was assigned to me.

[2022-10-06 19:56] RachelElysia opened #8113 "On Hosts page, replace the ! icon in the column header"
### Goal

On the **Hosts** page, in the **Hosts** table, replace the **!** icon in the column header with "Issues."

The below screenshot shows the Hosts table with the ! icon in the column header:
<img width="1401" alt="Screen Shot 2022-10-06 at 3 52 58 PM" src="https://user-images.githubusercontent.com/71795832/194406385-54ed4eba-74b2-4bda-8063-1ba82f33de0b.png">

[2022-10-06 20:09] #5065 closed

[2022-10-06 20:09] #5222 closed

[2022-10-06 20:09] #6285 closed

[2022-10-06 20:09] #6479 closed

[2022-10-06 20:10] #6892 closed

[2022-10-06 20:10] #6919 closed

[2022-10-06 20:10] #6981 closed

[2022-10-06 20:10] #7065 closed

[2022-10-06 20:10] #7077 closed

[2022-10-06 20:10] #7084 closed

[2022-10-06 20:10] #7130 closed

[2022-10-06 20:10] #7143 closed

[2022-10-06 20:10] #7233 closed

[2022-10-06 20:10] #7307 closed

[2022-10-06 20:10] #7394 closed

[2022-10-06 20:10] #7493 closed

[2022-10-06 20:10] #7591 closed

[2022-10-06 20:10] #7592 closed

[2022-10-06 20:10] #7624 closed

[2022-10-06 20:10] #7682 closed

[2022-10-06 20:10] #7711 closed

[2022-10-06 20:10] #7752 closed

[2022-10-06 20:10] #7757 closed

[2022-10-06 20:10] #7762 closed

[2022-10-06 20:10] #7794 closed

[2022-10-06 20:10] #7816 closed

[2022-10-06 20:10] #7817 closed

[2022-10-06 20:10] #7818 closed

[2022-10-06 20:10] #7819 closed

[2022-10-06 20:10] #7843 closed

[2022-10-06 20:10] #7875 closed

[2022-10-06 20:10] #7888 closed

[2022-10-06 20:10] #7903 closed

[2022-10-06 20:10] #7930 closed

[2022-10-06 20:10] #7931 closed

[2022-10-06 20:10] #7941 closed

[2022-10-06 20:10] #7965 closed

[2022-10-06 20:10] #7995 closed

[2022-10-06 20:10] #7997 closed

[2022-10-06 20:10] #8018 closed

[2022-10-06 20:20] noahtalerman commented on #7588
@lukeheath how difficult would it be to update the requirements to 30 days instead of 10 days? Is it more difficult than adding 30 days as a separate feature?

The customer requesting this feature said 30 days is more useful than 10.

I see this ticket is currently in flight. I want to know how difficult/painful changing this ticket is. This way, we can decide if it makes sense to update the ticke

[2022-10-06 20:30] fx5 commented on #7588
It would be easy to change the duration to 30 day, but I believe that the feature is then equivalent with the `mia` status.

[2022-10-06 20:39] CharlotteChance opened #8114 "Bug: Clear selection should clear selection and remove checkboxes"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

### 💥  Actual behavior

### More info
PRIORITIZED: Bug: Clear selection should clear selection and remove checkboxes (including here even though it's a bug so that we can reprodu

[2022-10-06 21:05] noahtalerman commented on #6851
@roperzh is this true? Specifically "all existing features will work as expected." Does For these hosts, does Fleet Desktop not break?

[2022-10-06 21:08] zhumo opened #8117 "File carves are not accurately reporting errors"
**Fleet version**: 4.16

**Operating system**: N/A

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior
When a file carve fails, Fleet should accurately report a failure. It should confirm that the file exists in the storage destination.

### 💥  Actual behavior

A file carve was set up with incorrect settings. When a file carve runs, however, the query still reports success.

This may only occ

[2022-10-06 21:38] lukeheath commented on #7588
@noahtalerman I don't think it would be difficult to change. As @fx5 pointed out, it is functionally identical to the `mia` status. However, I understand we're removing `mia` at Fleet v5, so it's not an unreasonable duplication. Also, the `mia` status was removed from the UI, so there's no way for the customer to use it easily.

@fx5 - I do want to acknowledge this is the second time the specs hav

[2022-10-06 21:39] zwass commented on #8117
@zhumo thank you for filing the issue. I updated with further details on how to reproduce. It's actually an issue on the Fleet server, so I changed up the tags an assigned to @chiiph.

Whoever works on this issue can reach out to me if you need help getting things set up properly to reproduce.

[2022-10-06 21:50] zwass commented on #7135
Am I understanding correctly that we will use `display_name` in most places where we currently use `hostname`? Asking because we have a customer who has devices that have the name they want to see in the osquery `local_hostname` and `computer_name` columns, while the `hostname` column has a less friendly name.

https://fleetdm.slack.com/archives/C03V0QG5610/p1665092414695309

[2022-10-06 22:26] roperzh commented on #6851
@noahtalerman it should be, at least that's how we intended to implement it, are you seeing issues?

[2022-10-06 23:04] noahtalerman commented on #7951
Decision: We're going to de-prioritize this (noahtalerman 2022-10-06).

[2022-10-06 23:04] noahtalerman commented on #7951
cc @zhumo ^^

[2022-10-06 23:07] noahtalerman commented on #7766
@lukeheath we are de-prioritizing this. I removed your assignment. I removed the issue from the roadmap board.

[2022-10-06 23:49] #6527 closed

[2022-10-07 00:36] zhumo opened #8119 "Triplicate responses in `keychain_items` table"
**Fleet version**: 4.21

**Operating system**: MacOS 12.6

**Web browser**: Chrome 105.0.5195.125

<hr/>

### 🧑‍💻  Expected behavior
I should see one row for each profile in my settings.

### 💥  Actual behavior
I see 3 of each row.

![image](https://user-images.githubusercontent.com/5359586/194442207-44d7e725-45de-4e98-9cc6-4ae8b2729bd6.png)

The query I ran was `SELECT * FROM keychain_items`

###

[2022-10-07 02:36] roperzh commented on #7354
@chiiph I tried really hard to reproduce this but I couldn't, my guess at this point is that this is a problem with a corrupt or invalid `json` file, but honestly it's just a guess. Are you OK if I remove my assignment?

[2022-10-07 03:18] roperzh commented on #8010
This is fixed now in dogfood, but it was caused by a bug that disabled `featrues.enabled_software_inventory` for the "workstations" team.

I have a solution drafted to fix the underlying bug and a PR is incoming.

[2022-10-07 03:19] roperzh commented on #8013
This is the same as #8010, it's fixed now in dogfood, but it was caused by a bug that disabled `features.enabled_software_inventory` for the "workstations" team.

I have a solution drafted to fix the underlying bug and a PR is incoming.

[2022-10-07 05:28] roperzh commented on #8117
@zwass I was able to repro using minio, so fortunately no need to deal with AWS.

It seems like the server is doing all it can to let osquery know the request failed, from the logs, we return a `400` error on the last carve block:

[code]

By looking at osquery's [source code](https://github.com/osquery/osquery/blob/61ebbb1360f851bc432c9d0f5adcfdf0d7881143/osquery/carver/carver.cpp#L352-L362) seem

[2022-10-07 09:35] fx5 commented on #7588
I updated this issue and #7915 and their PRs to reflect the 30 days. @noahtalerman please review the spec-changes and fix them if something is wrong. Please also let me know if you are happy with them as is.

[2022-10-07 13:24] noahtalerman commented on #6851
Got it! Thanks.

Yes, in our internal dogfood environment, we ran into an issue with Fleet Desktop/Orbit yesterday. Linking to the Slack thread here (internal): https://fleetdm.slack.com/archives/C03B7K2MSNS/p1665088354133069

We're confident this issue was caused by SimpleMDM, Fleet's internal MDM, pushing the incorrect package. We're confident this issue is not caused by this feature.

[2022-10-07 13:32] noahtalerman commented on #7589
I updated the specs so that the help text on the **Home** and **Hosts** page reads "Hosts that have been offline for 30 days or more."

[2022-10-07 13:33] noahtalerman commented on #7588
@fx5 the spec changes look good! Thank you.

FYI @RachelElysia @lukeheath I updated the specs of the frontend issue because the copy in the UI will need to indicate 30 days instead of 10 days: https://github.com/fleetdm/fleet/issues/7589#issuecomment-1271599204

I want to reiterate Luke's above comment. Thank you Frank and Rachel for helping us respond quickly to customer feedback ⚡ 💯

[2022-10-07 13:37] noahtalerman commented on #6435
@erikng heads up, we updated the requirements to "see how many hosts have been offline for 30 days or more" (originally 10 days or more).

[2022-10-07 13:39] chiiph commented on #7354
@lucasmrod assigning to you to see if there's anything else that you can think to reproduce this, if not, we should close this.

[2022-10-07 13:45] roperzh commented on #8117
gotcha! I didn't think of that (I need to familiarize myself more with this), seems like it should be possible with minor adjustments, as we're not relying on osquery to tell us the completion state:

https://github.com/fleetdm/fleet/blob/b14c7af6451f4899cbb88e30b2133899cea985b4/cmd/fleetctl/get.go#L725-L728

[2022-10-07 14:14] noahtalerman commented on #7895
@zhumo I passed this issue to you. Zach's proposed solution is above.

@zwass FYI I did this as per the **Reproduced** step in the new bug process: https://fleetdm.com/handbook/quality#reproduced

[2022-10-07 14:17] lukeheath commented on #7589
@fx5 May be helpful: https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/

[2022-10-07 14:58] xpkoala commented on #8015
@gillespi314 Is there any specific information I can grab that would help explore this issue more? I set both of these scheduled queries up locally and they are reporting as I would expect.

<img width="949" alt="Screenshot 2022-10-07 at 9 56 36 AM" src="https://user-images.githubusercontent.com/11012743/194583944-3f437e8e-36ad-4c44-a5d7-4b833727c6dd.png">

[2022-10-07 15:35] xpkoala commented on #8119
@zhumo Was this run on Dogfood? I can't run the query on your machine since it is currently offline. I am not able to reproduce when checking another device on dogfood or my personal device on a local instance.

[2022-10-07 15:51] xpkoala commented on #8114
Video of the behavior. https://www.loom.com/share/9cc9d3e418ef4db89cf5727431c2fd96

@noahtalerman Does the below sound correct?

If any items have been selected, clicking the top box should clear all selected items.
If no items are selected, clicking the top box should select all items on the current page.

[2022-10-07 15:53] xpkoala commented on #8114
https://github.com/fleetdm/fleet/issues/8111 duplicate

[2022-10-07 15:53] xpkoala commented on #8111
Closing as duplicate of #8114

[2022-10-07 15:53] #8111 closed

[2022-10-07 16:28] wclithero commented on #8015
Looks like the bugs have been fixed!

On Fri, Oct 7, 2022 at 7:58 AM Reed Haynes ***@***.***> wrote:

--

*Will Clithero*

Enterprise Account Executive

fleetdm.com <http://www.fleetdm.com> | @fleetctl
<https://twitter.com/fleetctl>

[2022-10-07 16:36] zhumo commented on #7895
Zach -- let's discuss at our Agent EM/PM meeting.

[2022-10-07 16:37] zhumo commented on #7895
Per the handbook, I reassigned Zach and put the release board on. We'll keep it labeled as reproduced, until we have some resolution.

[2022-10-07 16:52] lucasmrod commented on #7354
Tried this again and cannot reproduce. Sorry for the noise folks. It was most likely a corrupted repository...

[2022-10-07 16:52] #7354 closed

[2022-10-07 17:03] lucasmrod commented on #7676
For on-premise this is the responsibility of the Fleet administrator. (On a cloud solution this would be solved automatically by the cloud provider.)

CA certificate rotation is a pretty manual and involved process. They are not performed often (given how long CA certs live). It is also necessary whenever the CA is suspected to be compromised.

Maybe @GuillaumeRoss can provide more insight.

[2022-10-07 17:10] #5219 closed

[2022-10-07 17:14] zhumo commented on #8059
Was there a recent incident which caused you to think of this, or is this a general suggestion to avoid future pain?

[2022-10-07 17:23] xpkoala commented on #7788
@FreddieOliveira I'm terribly sorry for the lack of a response the past few weeks.

I have been successful in upgrading Fleet from v4.9.0 >> 4.20.0 locally and did not encounter any errors when running migration tests with those versions of Fleet either. After upgrading I did not run into the 500 redirects that you are seeing.

@lucasmrod would you have any ideas on what might be occurring here?

[2022-10-07 17:37] xpkoala commented on #8049
In this situation does it make sense to open the enroll secret modal instead? @noahtalerman

[2022-10-07 17:44] xpkoala commented on #4273
Closing as fixed.

[2022-10-07 17:44] #4273 closed

[2022-10-07 17:46] lucasmrod commented on #7788
Hi @FreddieOliveira

Couple of questions/comments:
1. What MySQL server are you using?
2. Are users authenticated via SSO?
3. Can you check `curl https://<your-fleet-instance-address>/healthz`? (to rule out database issues, we've seen some users being redirected to the login page when the database is down or there are connection issues).
4. I can see a `Fixed a bug in which logging in with single

[2022-10-07 17:55] xpkoala commented on #7890
Hi @eastbook I'm sorry for the delay in getting you a response.

@michalnicp @roperzh Have either of you encountered any such issue when running load test instances?
`Accept error: accept tcp [::]:8080: accept4: too many open files; retrying in 5ms` this stands out too me, but I don't have a good means of attempting to reproduce this issue.

[2022-10-07 17:56] GuillaumeRoss commented on #7676
A scenario where it is compromised is the most likely, and you could also have companies that are quite security conscious and have a lot of automation use expirations that aren't long in decades for example.

[2022-10-07 18:11] lucasmrod commented on #7957
Looping @michalnicp

[2022-10-07 18:17] #4725 closed

[2022-10-07 18:18] zwinnerman-fleetdm opened #8128 "2022-10-06 Intermittent connectivity issue with sandbox (client endpoint)"
On 2022-10-06, we noticed that a client endpoint was erroring out repeatadly in sandbox. We believe at this time that it is an issue with the client's internet connectivity due to the errors we noticed and that its isolated to this instance of sandbox only.

`level=info ts=2022-10-06T20:48:21.755037713Z component=http path=/api/v1/osquery/distributed/write err="read tcp 10.11.38.239:8080->10.11.40

[2022-10-07 18:23] zhumo commented on #6883
Not closing yet because the json generation script has not been run yet by the osquery team. Will close after we confirm that.

[2022-10-07 18:24] zhumo commented on #7109
@zwass

[2022-10-07 18:25] zhumo commented on #6946
@juan-fdz-hawa has this been re-merged? What's the status of getting it back in?

[2022-10-07 18:27] noahtalerman commented on #8067
@lukeheath heads up, looks like this is done!

[2022-10-07 18:28] mikermcneil commented on #8128
Good write-up!

[2022-10-07 18:47] DmitryTchersak opened #8129 "Verbose error message from osquery-manager /api/v1/fleet/sso"
### Goal

TODO
When submitting a request to path  '/api/v1/fleet/sso'  `curl 'https://[hostname]/api/v1/fleet/sso' -H 'Content-Type:application/json' -d '""'` the response is verbose and leaks the error message generated. Would it be possible to make it more generic?

The response is:

[code]

Would it be possible to respond with a more generic message like:

[code]

### How?

- []

[2022-10-07 18:49] juan-fdz-hawa commented on #6946
@zhumo not yet - waiting for this https://github.com/fleetdm/fleet/pull/7779 to be merged in yet before I re-merge the changes.

[2022-10-07 20:33] gillespi314 commented on #6027
@zhumo, It seems like the easiest way to implement this would be to take a snapshot of violations once every 24 hours (which is an approach that I think we've taken for other statistics).

Under that approach, if a violation occurs and is resolved prior to the snapshot time, the counter is not incremented. Is that what you expect?

[2022-10-07 20:52] gillespi314 commented on #7864
@lucasmrod, I couldn't find where orbit version info is being ingested from hosts currently. Am I missing something?

[2022-10-07 20:53] zwass commented on #7109
Yes, this was done as part of #7246.

[2022-10-07 20:53] #7109 closed

[2022-10-07 21:15] zwass commented on #8119
@zhumo to verify this is an agent issue (and not some problem with the Fleet server or UI), can you please run the query locally via `sudo osqueryi 'SELECT * FROM managed_policies'`?

This would be a great step to take any time we see a similar issue to help isolate which component it's coming from.

[2022-10-07 21:22] zwass commented on #8119
I wonder if your device's MDM (which seems to be different from other Fleet devices, perhaps due to some testing you were doing?) actually applied policies in triplicate? On Fleet's SimpleMDM managed devices, I didn't see duplication in the results from that table via live query.

[2022-10-07 21:27] zwass commented on #7895
I think we should reclassify this from "bug" to "feature request". The request being to do translation of SimpleMDM's application names in Munki error logs.

I would advise low priority because I don't think any of our customers use SimpleMDM.

I'll leave the labels as-is, but I think we should remove the bug label and take it off the release board.

[2022-10-07 21:56] lukeheath commented on #8067
Great, thanks for the heads up!

@eashaw Thank you!

[2022-10-07 22:02] chris-mcgillicuddy commented on #7892
PR is ready for page owner review: https://github.com/fleetdm/fleet/pull/8133.

[2022-10-07 22:10] lukeheath commented on #7080
@ghernandez345 Heads up; you are now unblocked on this. @eashaw hooked us up with a file at https://github.com/fleetdm/fleet/blob/main/schema/osquery_fleet_schema.json that he will be updating every three weeks as part of the [digital experience rituals](https://fleetdm.com/handbook/digital-experience#rituals). Let us know if you run into any blockers. Thanks!

[2022-10-08 01:25] zhumo commented on #8119
We also saw this on Charlie Chance’s Mac today. Though hers had duplicates
not triplicates.

On Fri, Oct 7, 2022 at 2:22 PM Zach Wasserman ***@***.***>
wrote:

--

*Mo Zhu*

Product Manager

fleetdm.com <http://www.fleetdm.com> | @fleetctl
<https://twitter.com/fleetctl>

[2022-10-09 00:20] #7925 closed

[2022-10-09 00:37] zhumo commented on #6027
Hey @gillespi314, Yes the one-off snapshots would be just fine. It's ok if it misses instances of this happening. The point is to see trend over time. In that same spirit, we're looking for weekly and not daily points.

I also added new requirement above... reproduced here:

I had this written a long while ago and never saved it. Sorry! Is that something we can add here?

[2022-10-09 01:20] zhumo commented on #6851
@sharvilshah @zwass has how to use this been documented? I would expect it to be here: https://fleetdm.com/docs/using-fleet/configuration-files#agent-options.

[2022-10-09 01:21] zhumo commented on #6851
Also, looks like someone added some instructions at the top of this issue about how to migrate. Should include that as well...

[2022-10-09 03:54] zhumo commented on #8119
@zwass I ran this just now against everyone's macbooks. 5 responded... Saw duplicates...

<img width="1214" alt="image" src="https://user-images.githubusercontent.com/5359586/194737118-5b05ee3d-4cd0-4b86-8f0e-7a4e8d69eb42.png">

[2022-10-09 20:49] zhumo opened #8135 "Kafka integration"
### Goal

Enable an integration to allow osquery data to be stored in Kafka.

### Requirements
TODO

### Figma

TODO

### API wireframes

TODO

[2022-10-09 21:11] zhumo opened #8136 "Okta integration (per-team) for device attestation from select policies"
### Goal

Okta integration (per-team) for device attestation from select policies

### Figma

TODO

### API wireframes

TODO

[2022-10-09 21:16] zhumo commented on #8119
@zwass i don't have `osqueryi` immediately available on my machine. I think it's hidden behind a bunch of namespaces. How do I access it?

[2022-10-09 21:55] zhumo opened #8137 "Fleet schema requires user context is not being displayed"
### 🧑‍💻  Expected behavior
On the `user_ssh_keys` table, there should be a "default to root user" text for the `uid` column, which does not currently appear.

### 💥  Actual behavior
There was no "Defaults to root user" text.

### More info
<img width="1175" alt="image" src="https://user-images.githubusercontent.com/5359586/194781209-c6bfecc3-604b-46eb-9670-ba2269f2f328.png">

<img width="907" alt=

[2022-10-09 22:46] zhumo opened #8138 "MacOS level 2 table testing"
### Problem

Osquery has many tables and as the underlying infrastructure changes, it is not always clear that osquery's tables continue to maintain expected behavior.

For Mac, we have previously tested all the tables using "level 1" testing, meaning we did a very simple `SELECT * FROM table` query on each table. We were able to cover ~70% of tables (see https://github.com/fleetdm/fleet/issues/68

[2022-10-09 22:49] zhumo opened #8139 "Windows level 2 table testing"
### Problem

Osquery has many tables and as the underlying infrastructure changes, it is not always clear that osquery's tables continue to maintain expected behavior.

For Windows, we have previously tested all the tables using "level 1" testing, meaning we did a very simple `SELECT * FROM table` query on each table. We were able to cover ~80% of tables. Many of these tables returned blank becaus

[2022-10-09 23:13] zhumo opened #8140 "LInux Level 1 table testing"
### Problem

Osquery has many tables and as the underlying infrastructure changes, it is not always clear that osquery's tables continue to maintain expected behavior. We want to run a basic query across all linux tables to verify that they are working.

As an osquery user,
I want to confirm that the tables are working as documented,
So that I have confidence that osquery will accomplish its job.

[2022-10-10 01:00] zwass opened #8141 "Cannot modify team agent options after creation"
**Fleet version**: Near 4.21.0 (Fleet 0.0.0-SNAPSHOT-9715523)

<hr/>

### 🧑‍💻  Expected behavior

Create a team. Edit the agent options.

### 💥  Actual behavior

Error when editing the options:

<img width="721" alt="Screen Shot 2022-10-09 at 5 59 30 PM" src="https://user-images.githubusercontent.com/575602/194787662-31577d6b-ad59-46ee-86cd-36d096af7053.png">

I also see "duplicate" options that w

[2022-10-10 01:01] zwass commented on #8141
@sharvilshah can you please look at whether we missed something during the process of merging these changes that is causing this?

[2022-10-10 07:52] mike-j-thomas commented on #7892
https://github.com/fleetdm/fleet/pull/8133 closes this issue.

[2022-10-10 07:52] #7892 closed

[2022-10-10 08:12] mike-j-thomas commented on #8094
Thanks, @lukeheath. I'm looking forward to the design and frontend becoming more in sync. To confirm, I believe that the plan is to initially deploy with the existing stories.

[2022-10-10 08:15] mike-j-thomas commented on #7882
Thanks, @chris-mcgillicuddy.

[2022-10-10 08:15] #7882 closed

[2022-10-10 12:54] ghernandez345 opened #8142 "Improve Spinner Component props API and update in application"
### Goal

Simplify and refactor the Spinner component to have an API that enables consistent and reliable UI. Be able to use this spinner component throughout the application for a variety of UIs.

Currently, our implementation and use of the spinner component leads to one of two things:

1. one-off styling solutions from the parent to override the spinner styles
2. use of the current unintuitive

[2022-10-10 14:02] lucasmrod commented on #7864
That would be in column `SELECT version from orbit_info`.
https://github.com/fleetdm/fleet/blob/1eacecf6371c8399744491ccccec9fc5d6f65bf6/orbit/cmd/orbit/orbit_info.go#L29

https://github.com/fleetdm/fleet/blob/1eacecf6371c8399744491ccccec9fc5d6f65bf6/server/service/osquery_utils/queries.go#L526-L531

Unlike the osquery version (`hosts.osquery_version`) we are not storing such data currently in Fle

[2022-10-10 14:22] lucasmrod commented on #8141
When creating a team, the current global agent settings are copied:
https://github.com/fleetdm/fleet/blob/91f02f31ca41fcdca48cda734c0ebf687ec29d1b/ee/server/service/teams.go#L19-L34

Seems that the current global settings in dogfood have an invalid/unknown key `osquery_startup_flags: {}`, maybe set by someone during development/testing?

[2022-10-10 14:30] noahtalerman commented on #7676
Does this have to be the case?

@GuillaumeRoss @lucasmrod let's say Fleet renews SCEP certs for the user when the user renews APNs. Wouldn't this handle the use case in which the user believes certificates are compromised?

cc @zhumo

[2022-10-10 14:50] juan-fdz-hawa opened #8145 "UTM.app, 3.2.4 has the wrong CPE"
**Fleet version**: Latest

### 🧑‍💻  Expected behavior
CPE identifier for utm.app should match to the correct value.

### 💥  Actual behavior
The CPE for UTM.app is mapping to `cpe:2.3:a:sophos:unified_threat_management:*:*:*:*:*:*:*:*`

[2022-10-10 15:11] gillespi314 opened #8146 "Missing padding between rows in "Manage enroll secret" modal"
### 🧑‍💻  Expected behavior

Padding between rows in "Manage enroll secret" modal

### 💥  Actual behavior

No padding between rows in "Manage enroll secret" modal

### More info

<img width="572" alt="Screen Shot 2022-10-10 at 10 07 44 AM" src="https://user-images.githubusercontent.com/73313222/194898352-68125900-d7ec-4fd4-87a4-8ac45727b177.png">

[2022-10-10 15:33] noahtalerman commented on #7957
DECISION: For now, there will be no way for the user to only turn on MDM for a specific team. May come back to this before launch.
  - Potential value: Fleet Premium is the way to only prompt some users for MDM enrollment (via teams).

DECISION: Fleet Desktop checkbox removed for macOS. Why? Fleet Desktop is required for manual enrollment to MDM.

DECISION: Assume that every Mac will show the “Giv

[2022-10-10 16:02] lukeheath commented on #8094
@mike-j-thomas Same here!

Correct, we just want to deploy what's already in place and we will separately start adding more stories.

[2022-10-10 16:07] lukeheath commented on #7309
I'm unassigning these tickets so they are available to anyone who has bandwidth.

[2022-10-10 16:07] lukeheath commented on #7308
I'm unassigning these tickets so they are available to anyone who has bandwidth.

[2022-10-10 16:38] marcosd4h commented on #7425
I've the changes ready on a local branch [here](https://github.com/osquery/osquery/commit/42e89213eaab4568b654d6c3eb3d3187de51441a). I've created two tables to expose the data that secedit exports. There is the[ system_security_policies](https://github.com/marcosd4h/osquery/blob/feature/windows_security_policies/specs/windows/system_security_policies.table) table to expose the account and audit po

[2022-10-10 16:48] lucasmrod commented on #7957
Hi folks!, some questions:

I don't follow. Do you mean that when MDM is ON, then it's ON for all teams?

Can you elaborate? I don't follow.

As opposed to…Fleet Desktop reaches out to Fleet to download the profile.

@GuillaumeRoss do you have any security concerns around the MDM enroll profile being linked "within Fleet"? (Fleet Desktop tray -> My device -> on browser's My device page you can dow

[2022-10-10 17:26] zwass commented on #8141
Ah, that makes sense. Sounds like there is not a bug here. Thank you!

[2022-10-10 17:26] #8141 closed

[2022-10-10 17:28] lukeheath opened #8150 "Create proof of concept of new interactive API documentation"
### Goal

As an Engineer, I want API docs that allow me to interact with elements and objects on the page so that I can better understand nested objects and how they relate.

### Notes

Two options have been selected for evaluation:

1. https://stoplight.io/
2. https://redocly.com/

### Requirements

1. Evaluate API documentation platforms above and choose a platform for the proof of concept.
2. C

[2022-10-10 17:34] noahtalerman commented on #6716
I removed this issue from the roadmap board because it will just sit on the board until #7766 and see query results on the **Host details** page are prioritized.

[2022-10-10 17:34] lukeheath opened #8151 "Address Cypress flaky tests (medium)"
### Goal

As an Engineer, I want to minimize e2e flake so that tests only fail when there is an actual bug.

### Tasks

#### 1
- [ ] Fix 'Medium" level flaky tests: https://dashboard.cypress.io/projects/oteb8z/analytics/flaky-tests

![image](https://user-images.githubusercontent.com/2495927/194923108-af9531e9-beaa-4c0c-b13c-decea9dee67e.png)

[2022-10-10 17:38] noahtalerman commented on #7079
@mikermcneil heads up, I updated the definition of done for this OKR.

Please let me know if you have any questions/concerns.

[2022-10-10 17:44] lukeheath commented on #6781
@RachelElysia I noticed there is inconsistency in the padding/margin of the header area between all of the primary pages. For example, on the software page the spacing looks like this:

![Image](https://user-images.githubusercontent.com/2495927/194924328-d05cd40b-d9bb-4d9a-bdfe-d4081a099dd8.png)

But on the query page, there is much more space between the header text and the table count:

![Image]

[2022-10-10 17:50] lukeheath commented on #7238
After digging into this more, we have determined that the best approach to achieve Mac and Windows results in your database is to connect a Mac or Windows device to a local Fleet instance and dump the data for use as [seed data as documented](https://fleetdm.com/docs/contributing/seeding-data) on the Fleet website.

[2022-10-10 17:50] #7238 closed

[2022-10-10 17:53] RachelElysia opened #8152 "Host API: Invalid filter response"
### Goal

- In an ideal world, the host API will return an error message if one of the filters is invalid (e.g. policy_id=23948023 is invalid, mdm_id=21304983450 is invalid).
- Currently this is happening for the software_id being invalid(see screenshot), but not other filters.
- Other filters that are not erroring out just respond with an empty host array `hosts: []`
- We would want to have a sim

[2022-10-10 18:08] noahtalerman opened #8153 "Migrate between MDM solutions"
### Goal

As a user, I want to be able to migrate macOS hosts from my old MDM solution to Fleet so that I can use Fleet to remotely update macOS and enforce macOS settings.

### Related

- Parent epic: #7726
- #7957

Child issues:
- #9009
- https://github.com/fleetdm/fleet/issues/9277
- https://github.com/fleetdm/fleet/issues/9278
- #9365

### Requirements
1. IT admins do not have to perform any a

[2022-10-10 18:45] marcosd4h commented on #8059
yes, there was a customer incident during which I spent most of the time doing issue reproduction. On this issue, we initially thought that the problem was caused by an external process (AV). We later found out by guessing that the problem was produced by slow internet connectivity. Having a diagnostic package with relevant information would have helped to speed up the issue reproduction process (

[2022-10-10 20:46] RachelElysia commented on #7589
@lukeheath @noahtalerman Should this be on teams pages as well?

[2022-10-10 21:05] noahtalerman commented on #7589
Yes! Missing and Low disk space should be displayed if a team is selected. Great catch.

When you get the chance, can you please update the specs for this issue and the Low disk space issue? Thanks :)

This way, Reed will test applying the teams dropdown during testing.

[2022-10-10 21:16] lukeheath commented on #7765
@mna I'm co-assigning this ticket to you to begin assisting with research and specifications for the epic. This is going to be a pretty substantial change. Before we take it into active development, I'd like to make sure we fully understand the steps we need to take and the order of operations to implement this change.

Spec'ing this epic will be a group effort, so I'm also leaving myself assigned

[2022-10-10 22:19] mike-j-thomas commented on #8094
@RachelElysia, @ghernandez345, I added the notes from my conversation with @lukeheath to the issue description above.

[2022-10-10 23:14] mike-j-thomas commented on #7945
Hey @noahtalerman, can this be closed? Is the Changelog complete?

[2022-10-11 04:30] rhuddleston opened #8161 "Error in ingestKubequeryInfo after 4.21.0 upgrade"
**Fleet version**: 4.21.0

**Operating system**: Ubuntu 20.04.5

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior

tried to upgrade to fleet 4.21.0 and have it run without error

### 💥  Actual behavior

got a panic:

{"component":"service","method":"ingestKubequeryInfo","ts":"2022-10-11T04:08:40.487593434Z","warn":"kubernetes_info expected single result got 0"}
panic: runtime error: index o

[2022-10-11 08:24] fx5 commented on #7804
The dpkg status consists of three parts:

install (package selection, this package is selected to be/stay installed) ok (flag) installed (state).

Theoretically I believe we are interested in the third part only here, if the package is currently installed or not. But I don't know if it is easy to check for that. A package marked "deinstall ok installed" is in currently as installed as a package wi

[2022-10-11 13:13] #7945 closed

[2022-10-11 13:44] noahtalerman commented on #8060
@zwass, we're going to deprioritize this.
- We want to prioritize and focus on #7765 and #7726 because these OKRs are important to the success of the business. They add more value to the paid product and expand our addressable market respectively.

[2022-10-11 13:45] noahtalerman commented on #7532
We're going to deprioritize this.
- We want to prioritize and focus on #7765 and #7726 because these OKRs are important to the success of the business.

[2022-10-11 13:45] noahtalerman commented on #7901
@zwass @mikermcneil we're going to deprioritize this.
- We want to prioritize and focus on #7765 and #7726.

[2022-10-11 13:47] noahtalerman commented on #7532
cc @mikermcneil. I'm notifying you because this has been deprioritized.

[2022-10-11 13:47] noahtalerman commented on #4805
cc @mikermcneil. I'm notifying you because this has been deprioritized.

[2022-10-11 14:04] ghernandez345 commented on #7080
@zhumo @eashaw i'm looking through the schema here https://github.com/fleetdm/fleet/blob/main/schema/osquery_fleet_schema.json and do not see any instances of `requires_user_context` on any of the columns. Is this correct? If so can we safely assume columns will never have that property?

Also if this is the case, In the UI you will never see the `Defaults to root` messaging in the updated sidebar

[2022-10-11 14:13] ghernandez345 commented on #7080
@erikng I also notice we use different values for platform names for a table and its columns

e.g

[code]

is it possible that we only use `darwin`, `windows`, and `linux` for consistency? It also leads to less checking on the frontend for additional values.

[2022-10-11 14:19] ghernandez345 commented on #7080
@noahtalerman there seems to be a new platform type named "freebsd". Do we have an icon we want to use to display this in the UI?

![Image](https://user-images.githubusercontent.com/1153709/195116634-a5912895-4600-41c3-a355-1eb9c059af1d.png)

[2022-10-11 14:29] noahtalerman commented on #8153
@GuillaumeRoss @lucasmrod @michalnicp do you know the permissions around removing an enrollment profile (DEP and manual)?

My current understanding is that there these scenarios for permissions can occur:
- Anyone (e.g. script) can remove the enrollment profile.
- Only the MDM solution (e.g. clicking **Unenroll** in Jamf) can remove the enrollment profile.
- Only the user (e.g. clicking **Uninstal

[2022-10-11 14:29] noahtalerman commented on #8153
cc @zhumo ^^

[2022-10-11 14:33] noahtalerman commented on #7080
Hmm, we don't want to display FreeBSD because osquery no longer supports it. Context is here: #4507

@ghernandez345 where did you see `freebsd` appear?

[2022-10-11 14:34] noahtalerman commented on #4507
@zhumo FYI I added the agent label. Looks like we lost track of this epic. We can close/discuss during this week's confirm and celebrate call.

[2022-10-11 14:35] ghernandez345 commented on #7080
In our new osquery_fleet_schema.json. This is the data that will power the website and new sidebar. https://github.com/fleetdm/fleet/blob/main/schema/osquery_fleet_schema.json.

[2022-10-11 14:48] noahtalerman commented on #8153
I answered my own question using this Apple doc: https://support.apple.com/guide/deployment/reenroll-devices-in-mdm-dep26505df5d/web

Scenario (1) occurs when the device appears in Apple Business Manager (ABM).

(2) occurs when the profile is nonremovable.

(3) occurs when the profile is removable.

[2022-10-11 15:11] chiiph commented on #7359
This is ready for anybody to use, closing since it's an internal thing.

[2022-10-11 15:11] #7359 closed

[2022-10-11 16:02] ghernandez345 commented on #7080
@zhumo @eashaw I noticed that the strings for the examples do not match the proposed schema. They seem to add **```\n** characters around the bit that is supposed to be the query.

e.g.

[code]

This differs from the schema requirements in this issue https://github.com/fleetdm/confidential/issues/1619

[code]

Is it possible to remove the **```\n** characters as the web UI has been built with that

[2022-10-11 16:39] marcosd4h commented on #7425
Update regarding the potential LPE I mentioned on the launcher extension: After some further analysis, I found that the usage of `ioutil.TempDir` is safe here as the logic returns a randomly generated temporary directory, which makes the exploitation not practical. So the abuse of privileged file operations is mitigated here.

[2022-10-11 16:55] michalnicp opened #8167 "MDM Apple enrollment fails with NSOSStatusErrorDomain on 1st attempt"
**Fleet version**: 4c0456be731dafcf0fff05585668230ca3457d4b

### 🧑‍💻  Expected behavior

Installing an enrollment profile should succeed.

### 💥  Actual behavior

Installing the profile files with an "NSOSStatusErrorDomain". Retrying is successful, but it shouldn't fail on the 1st attempt.

![screenshot](https://user-images.githubusercontent.com/39177923/195190072-12c81afc-ccd0-4009-895c-1c2388ba5

[2022-10-11 18:25] zwinnerman-fleetdm commented on #6020
I investigated this and guard duty is complicated since we need it in all regions for all accounts, this makes it take tons of providers. The way I think I can do it is by using a workspace per region and a backend config per account. This is probably cleaner than how AWS does it themselves. https://github.com/aws-samples/amazon-guardduty-for-aws-organizations-with-terraform

[2022-10-11 18:41] #6142 closed

[2022-10-11 19:02] eashaw commented on #7080
@ghernandez345 This is correct "defaults to root" is `requires_user_context`.

@ghernandez345 Yes! The column platform names are changed to the other values in `get-extended-osquery-schema.js` to add "Only available on _____ " to column descriptions. I can make a PR to update the behavior to only do this when merging the schema to build Markdown pages.

@ghernandez345  I think your suggested forma

[2022-10-11 19:08] juan-fdz-hawa commented on #7804
Thanks @fx5 TIL - Do you know if all installed pkgs will eventually converge to the "install ok installed" state?

[2022-10-11 19:26] roperzh opened #8173 "Improve the migration order CI check to look for renames"
In https://github.com/fleetdm/fleet/pull/7803 we introduced a CI to check for the order of added migrations, the logic in the CI check was problematic for file renames, and only works for file additions (check https://github.com/fleetdm/fleet/pull/8172 for details)

We can enhance the script with some modifications (or write a smarter script altogether) to also check for modified files.

[2022-10-11 19:39] fx5 commented on #7804
In most cases you will only see such status for all installed packages. But you can do

[code]

Now the `gnome-terminal` has status `deinstall ok installed` and `dpkg -l` shows the package as `ri` instead of `ii`. This will not change as long as you don't do something like `aptitude install` which would then deinstall the package.

[2022-10-11 19:40] mna commented on #7835
@noahtalerman The PR is up for this ticket, the heart of the text translation is here: https://github.com/fleetdm/fleet/pull/8171/files#diff-db1c84c0a64348ea4d83b4b8b22a455b828d8fab3afb30e7aa55a01cbfcd2313R295 but for more direct examples and less code noise:

* The use of unknown keys translates the error from `unknown field "no_such_key"` to `unsupported key provided: "no_such_key"` (I don't kno

[2022-10-11 19:50] #7895 closed

[2022-10-11 19:54] michalnicp opened #8175 "Apple MDM client certificate missing subject"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

The client certificate that gets issued to a device during MDM enrollment should have a proper subject name when viewed in the Keychain Access app. It should also get removed whe

[2022-10-11 21:57] michalnicp commented on #8167
The NSOSStatusErrorDomain -67688 is "errSecInvalidSignature". I noticed that there is a certificate created on the device "MDM SCEP SIGNER <unique uuid>". I suspect this is an intermediate certificate that is generated when requesting a certificate from SCEP.

[2022-10-11 22:12] lucasmrod commented on #8161
@thorduri

Thanks for the detailed report!

As you point out, the fix should be simple. We'll be fixing this on next release.

We just have a couple of questions to help us understand why your host is reporting results for `kubernetes_info`...
- What osquery version is this host running?
- Is your host running a osquery as downloaded from the osquery site? (aka "vanilla osquery", as opposed to oth

[2022-10-11 22:20] #7002 closed

[2022-10-11 22:51] zhumo commented on #7080
@ghernandez345

Sharp eye! `requires_user_context` is not a column attribute that is native to osquery. Instead, osquery specifies it by table. the `requires_user_context` is manually added in by us in the fleet schema to be column-specific. This way, we can tell the user which column is the relevant one.

[2022-10-11 22:53] zhumo commented on #7080
@ghernandez345 I would be supportive of always having the platform name be lowercase as you're suggesting, but do you know which source is generating the capitalized one and which source is generating the downcased one?

[2022-10-11 22:56] zhumo commented on #7080
@ghernandez345 freebsd has been removed from the schema after the next osquery version. When we get a new schema generated, that will naturally disappear from the schema. Up to you guys whether you want to remove it or will just ignore it.

[2022-10-11 22:59] zhumo commented on #7080
@ghernandez345 @eashaw It has been a huge pain putting in that ```\n\n stuff. However, I would like to try to maintain some amount of flexibility for markdown rather than get locked into the strict "description/example" approach you've proposed. Maybe one step back could be that the examples became an array of strings and the system will auto-join them with \n. So:

[code]

This both preserves fle

[2022-10-11 23:22] zwass commented on #8161
@rhuddleston (@lucasmrod did you accidentally tag the wrong user above?), we would be keen to understand how your system ended up in this state, so that we can determine (1) how we missed this in our testing and (2) whether the fix needs to go out in a patch release. Thank you.

[2022-10-11 23:24] lucasmrod commented on #8161
(Oops!, comment updated.)

[2022-10-11 23:34] rhuddleston commented on #8161
This should be N/A for this host where I saw the panic since the host having issues is the fleet server? All the linux nodes ~500 reporting in are running vanilla osquery 5.2.2 and none of them kubernetes. There is also ~100 MacOS nodes much of them using orbit and the rest still using launcher. It's possible one of the Mac nodes may be kubectl or something running locally if that's what your look

[2022-10-11 23:42] rhuddleston commented on #8161
I'm now running fleet 4.20.0 after reverting this upgrade BTW, please let me know if there is something else I can check on. I went ahead and ran "SELECT * from kubernetes_info" on all linux nodes and all errored with "no such table: kubernetes_info", I did the same on all MacOS nodes and got the same so at least nothing online is reporting in on this...

[2022-10-12 00:51] roperzh opened #8181 "Remove inline script from React script tag"
- `customer-domon`: Slack thread: https://fleetdm.slack.com/archives/C02ERK77D4K/p1754592042978179
- "I’m from `domon` security team and asked for this.
When deploying locally, we apply by default a fairly restrictive CSP policy and don’t generally allow unsafe-inline  scripts. Because the front end is a react app, it has an inline script tag

[code]

- Which there isn’t really a super great way t

[2022-10-12 01:59] mikermcneil opened #8182 "Bug retros"
## Goal

Bug retros

(batched in some way, and short enough to not be lame. Doesn’t even have to be a meeting)

## How?
- [ ] TODO

[2022-10-12 11:25] roperzh opened #8183 "data race in `RunServerForTestsWithDS` makes scheduled tests fail"
There's a data race when setting up the test server as it can be seen in https://github.com/fleetdm/fleet/actions/runs/3232024610/jobs/5292178717

[2022-10-12 12:01] roperzh commented on #6553
following up, I tried again today and still couldn't repro

[2022-10-12 12:15] lucasmrod commented on #6553
IMO we should close, and reopen if we managed to reproduce again.

[2022-10-12 12:37] davidschoefberger opened #8185 "MS Teams Webhook Integration"
### Goal

We would love to see an MS Teams integration/webhook in Fleet for sending alerts and reports directly out of Fleet to MS Teams.

[2022-10-12 13:51] noahtalerman commented on #4931
@davidschoefberger sorry you're running into this issue.

This feature is in development and will be included in Fleet version 4.22.0 targeted for release on 10/20/22.

[2022-10-12 14:03] noahtalerman opened #8186 "Vulnerable software false positive: Docker"
**Fleet version**: Observed in Fleet's internal dogfood environment (running commit `9715523`)

<hr/>

Expected behavior and actual behavior are demonstrated in the following Loom video:

https://www.loom.com/share/6a4a27ce52df4f6a90fc41655b2bad22

[2022-10-12 14:29] davidschoefberger commented on #4931
@noahtalerman thanks for that quick reply! Really looking forward to the release.

[2022-10-12 14:39] mna commented on #7765
@noahtalerman @lukeheath It seems like we assume a relatively small number of queries (in the Figma, the `Manage automations` page reserves a small space to manually select by checkboxes which queries will send data to the log destination, no pagination). If this is the case, we should think about enforcing a limit on the number of queries that can be created by team or globally.

[2022-10-12 14:52] lukeheath opened #8188 "Create REST endpoints for integrations and automations"
## Goal

As an Engineer, I want integrations and automations to be created, modified, and deleted using REST endpoints so that the API uses consistent patterns and I don't have to parse a large JSON object to modify integrations and automations

## Related Issues

## Requirements

- Create new GET, POST, PATCH, and DELETE endpoints for `/integrations` and `/automations` that supports existing inte

[2022-10-12 14:55] roperzh opened #8189 "Investigate using Colima as the container runtime for macOS runners in CI"
**Motivation:**

- _All_ of the macOS tests that involve installing Docker are flaky because the installation step is fragile
- Due to a known Docker issue we have to lock the version to 4.10.0 to be able to use it in CI
- We have spent several man-hours debugging and patching the two points above

**How:**

[Colima](https://github.com/abiosoft/colima) is a container runtime for macOS, it's an alt

[2022-10-12 15:23] lukeheath commented on #8151
Gabe: I think we should try enabling the video again. Maybe it was something else taking it long. Worth enabling and seeing if it still takes 30 minutes.

[2022-10-12 15:26] lukeheath commented on #8188
Martin: Will need more investigation to estimate more accurately, but it is an 8-ish.

[2022-10-12 15:58] lukeheath commented on #8188
Martin: This may be a good candidate for v5 so that we don't have to keep backward support for config API endpoint.

[2022-10-12 16:15] lukeheath commented on #7765
@mna Thanks for your feedback! Based on your feedback, as well as the team's conversation during estimation, we are all in agreement that the best path forward is to include this change as part of Fleet v5 and not support backward compatibility. @noahtalerman and I will start moving that conversation forward so we can spec this epic around the assumption of v5 and no backward compatibility. I'll f

[2022-10-12 16:20] ghernandez345 commented on #7080
@zhumo @eashaw  , I had a discussion with @lukeheath about some of our options on implementing this UI and since we want to get this out in this release I'm going to change my code to match the current osquery_fleet_schema.json. So no need to make any changes on your side atm.

@eashaw I do think we need to correct the example string for the `keychain_acls`. It is missing the `\n```\n` characters

[2022-10-12 17:52] mikermcneil commented on #7516
Deprioritizing (updated issue to reflect the reason why in user story)

[2022-10-12 19:43] xpkoala opened #8197 "Munki issue expanded text falls off side of page and two prompts are shown"
**Fleet version**: `main`

**Operating system**: macOS 13

**Web browser**: Firefox 105 / Chrome 106 / Safari 16.1

<hr/>

### 🧑‍💻  Expected behavior
When hovering over a Munki issue on a hosts dashboard page the full text would appear on screen and be readable.

### 💥  Actual behavior
- A portion of the shown message falls off the side of the screen.
- Two message boxes are generated to display t

[2022-10-12 20:04] ghernandez345 commented on #7080
@noahtalerman @zhumo @eashaw Ok so I've tried to update my UI from the new data query and I noticed inconsistent data for the `examples` attribute that will need to be fixed on the schema generation side. I need the data to be consistent to correctly parse and display this data in the UI. here are a couple of examples.

**how most examples are**

[code]

**missing first set of separation character

[2022-10-12 20:12] lukeheath commented on #7765
Martin: For implementation, it would be best to leave the current `packs` and `schedules` endpoints in place and focus on adding functionality to the queries endpoints. Then, once we have queries in a good place, we can go back and remove the unnecessary endpoints.

[2022-10-12 21:18] noahtalerman commented on #7080
@zhumo heads up, this likely won't make it into the next release (4.22). Code freeze starts EOD Friday (2022-10-14).

My current understanding on what's left:

To wrap up the UI, we need the updates to the schema that @ghernandez345 called out in this comment: https://github.com/fleetdm/fleet/issues/7080#issuecomment-1276674479

[2022-10-12 21:48] zhumo commented on #7425
@marcosd4h @GuillaumeRoss meeting notes:
1. Match the `system_security_registry` table columns w/ pre-existing `registry` table

[2022-10-12 21:54] sharvilshah opened #8200 "Orbit extensions autoupdate -- potential gotchas"
### Goal

Given the complexity around Orbit now that it has a channel to Fleet to authenticate and enroll, we would like to list/document potential gotchas with the extensions autoupdate work. The main goal is to try and be aware, and mitigate potential issues as best as possible.

#### Scenario

Due to a bad config or a bad extension, osquery tries to load an extension, and fails. Orbit restarts

[2022-10-12 21:55] sharvilshah commented on #8200
@zwass @lucasmrod @roperzh would love your inputs whenever you get a chance

[2022-10-12 22:28] zhumo commented on #7080
@ghernandez345 why do these formatting issues block your work? They are still valid Markdown right? They should still render as long as you feed it into the markdown parser.

[2022-10-13 03:50] zwinnerman-fleetdm commented on #8128
no response, closing issue

[2022-10-13 03:50] #8128 closed

[2022-10-13 03:50] zwinnerman-fleetdm commented on #6020
Initial work on branch https://github.com/fleetdm/fleet/tree/guardduty

[2022-10-13 03:51] zwinnerman-fleetdm commented on #6020
Should be good to apply this tomorrow, would do it now but it will send out a ton of emails with guardduty invites.

[2022-10-13 09:46] xpkoala commented on #7649
@lukeheath When testing this it appears that drop down menu (Online/Offline/New hosts) does not highlight when hovered over on Firefox 105+. The hover effect is working correctly in all other circumstances across all browsers.

[2022-10-13 11:53] marcosd4h commented on #8057
Here is how Orbit and its child processes look on Windows

![image](https://user-images.githubusercontent.com/17311749/195586705-e9bdf346-273b-4d8e-b3b6-8fbfa5b5cbb5.png)

When Orbit service is asked to shutdown, the SCM handling logic will interrupt Orbit runners, causing them to finish their Execute() functions. Osquery runner will finish, too, causing the [WaitOrKill()](https://github.com/fleet

[2022-10-13 14:52] noahtalerman commented on #7456
@zhumo in the above text, what do you think about replacing "enable MDM for Apple devices" with "change settings and install software on your macOS hosts" ?

Currently, the Fleet UI wireframes use the latter:
![Screen Shot 2022-10-13 at 10 52 25 AM](https://user-images.githubusercontent.com/47070608/195631206-669d232b-0790-4613-b0c6-602ae5952144.png)

[2022-10-13 15:00] noahtalerman opened #8206 "Remove host: Turn off MDM as IT admin"
### Goal

As an IT admin, I want to unenroll a host from mobile device management (MDM) so that I can re-enroll the host to a new MDM.

### Related

- Parent epic: #7726

### Requirements

- Only admins and maintainers can perform this action
  - Team admis and team maintainers can perform this action on hosts assigned to their team(s)
- Button is only show if the host has MDM on and is connected

[2022-10-13 15:13] youest opened #8207 "Helm chart is not working if you use a TLS connection to mysql but with only the CA"
Hello there

### 💥  Actual behavior
I am trying to setup **fleet** using the helm chart. I want to use the TLS to connect to the AuroraDB.
I passed the CA pem file, but the migration script fails due to the fact it tries to find the FLEET_MYSQL_TLS_KEY and FLEET_MYSQL_TLS_CERT.

In this case, these files are optional. Checking the code in the [Config](https://github.com/fleetdm/fleet/blob/908bc17a

[2022-10-13 15:21] xpkoala opened #8208 "Hosts Manage page refreshes after input is supplied to search filter"
**Fleet version**: `main`

**Operating system**: n/a

**Web browser**: Safari 16.1, Chrome, Firefox

<hr/>

### 🧑‍💻  Expected behavior
When supplying input to the host search field, the page would show hosts that match the search filter

### 💥  Actual behavior
Upon any input being added to the field the page is refreshed.

### More info
Video of the behavior
https://www.loom.com/share/4184fe76cacb

[2022-10-13 15:24] CharlotteChance opened #8209 "On Hosts page, only 20 hosts are shown per page"
**Fleet version**: 4.21

<hr/>

### 🧑‍💻  Expected behavior
On the **Hosts** page, I expect to see 100 hosts per page.

### 💥  Actual behavior
Only 20 hosts are shown per page.

[2022-10-13 15:32] CharlotteChance opened #8210 "Incorrect hosts generated in results"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

### 💥  Actual behavior
I've seen a bug where sometimes, on the "Manage hosts" page when reviewing results from a "yes" or "no" policy filter, and combining with team filter, I wo

[2022-10-13 15:42] CharlotteChance opened #8211 "Flapping during live query run"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
Chandra: Upgraded to 4.21

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

### 💥  Actual behavior
Started seeing some flapping
Tried to save agent options via the UI, which didn't work
=>McNeil: Have we reproduced / acknowledge

[2022-10-13 16:23] roperzh opened #8212 "update osquery-perf to simulate pings from Orbit and Fleet Desktop"
### Goal

Orbit and Fleet Desktop perform a number of calls that might affect the behavior of the server under load, some of those calls are long polling, which can compound with each other.

We should simulate the following in osquery-perf:

**Fleet Desktop**

- 1 request to `/device/:token/desktop` every 5 seconds until we get a valid token when:
  - Fleet Desktop starts
  - A token is rotated
-

[2022-10-13 17:13] noahtalerman commented on #7958
TODO @noahtalerman: What does the Host details page look like for hosts that are awaiting enrollment.

[2022-10-13 17:13] zwass commented on #6024
Does this new format mean that if I want to run the same query on 3/4 of my teams, I need to copy the query SQL 3 times?

[2022-10-13 17:17] gillespi314 commented on #7864
@lucasmrod, the `OrbitInfoDetailQuery` was recently removed from `main`. Any concerns with me creating a new detail query to gather only the version info (subject to the `Discovery` limitation for `orbit_info`)? IIRC there were some ingestion errors with this table in the past and I'm not up to speed on what the underlying issue was.

[2022-10-13 17:27] #7749 closed

[2022-10-13 17:28] #8015 closed

[2022-10-13 17:36] xpkoala commented on #7135
I'm having a bit of trouble crafting an appropriate call for #2 / #4. Search doesn't appear to be a parameter listed on the [api doc ](https://fleetdm.com/docs/using-fleet/rest-api#example30)linked in those tasks.

Should the call look something like: `GET /api/latest/fleet/hosts/search?display_name=<$display_name>` and the returned data should be a list of hosts that meet the display_name input?

[2022-10-13 17:55] noahtalerman commented on #8153
TODO Noah:
- Test unenrolling a manually enrolled host. We think you have to click minus on the user side.

Mo: Apple has to send down the DEP profile. Flow would work if we gave the user a script to run.

[2022-10-13 18:28] zwass commented on #7131
Based on Artemis' most recent comment, sounds like this is fixed.

[2022-10-13 18:28] #7131 closed

[2022-10-13 18:28] zwass commented on #7073
@juan-fdz-hawa Should this be closed since #7963 shipped?

[2022-10-13 18:30] zwass commented on #6514
Sounds like this was shipped in 4.21.

[2022-10-13 18:30] #6514 closed

[2022-10-13 18:32] zwass commented on #4188
Yeah, I think we should close this issue now that the osquery 5.6 beta is out.

[2022-10-13 18:32] #4188 closed

[2022-10-13 18:35] zwass commented on #6441
Sounds like this latest fix was shipped in Orbit 1.2.0.

[2022-10-13 18:35] #6441 closed

[2022-10-13 18:39] lucasmrod commented on #7864
Go ahead.

Feel free to ignore. It's an issue in osquery itself.
Your ingestion routine has to deal with this bug by returning an error if `len(rows) == 0`.

[2022-10-13 19:07] zwass commented on #7852
This makes sense to fall under #agent. I have seen these warnings before, but never observed any evidence of them introducing problems for the packages. Has anyone seen problems that resulted from it? Understanding the impact would help us prioritize addressing this.

[2022-10-13 19:58] lucasmrod commented on #8200
Just like [with flags](https://github.com/fleetdm/fleet/blob/9e343dff864af966b95f784deca579bfc3e39a45/orbit/cmd/orbit/orbit.go#L508-L509), we'd do a "initial check of extensions"

Yes, Orbit should do the obvious sanity checks. E.g. when auto-updating targets in Orbit we perform a check by running them with `--help` to know if they run successfully on the host (see [here](https://github.com/fleetd

[2022-10-13 20:05] mikermcneil commented on #7671
FYI
<img width="613" alt="image" src="https://user-images.githubusercontent.com/618009/195698460-9eddc0b7-342b-4faf-a5ed-ba2b91fc54c4.png">

[2022-10-13 20:13] xpkoala commented on #7664
@roperzh Would you have any insight into how I can validate this fix locally? Bonus points if it doesn't involve needing to install any operating systems. :)

[2022-10-13 20:22] noahtalerman commented on #7671
The following is the bug that Mike is referencing in the[ above Slack thread](https://github.com/fleetdm/fleet/issues/7671#issuecomment-1278120895): #8209

[2022-10-13 20:25] lucasmrod commented on #8200
From https://osquery.readthedocs.io/en/stable/development/osquery-sdk/

Do we want to stick with auto-loaded extensions? Or can we consider the non-auto-loaded ([like the way Orbit registers its extension tables](https://github.com/fleetdm/fleet/blob/main/orbit/pkg/table/extension.go))?
One advantage of the latter is that if the extension fail it might not bring osquery down (to be confirmed).

[2022-10-13 20:32] noahtalerman commented on #7671
@lukeheath I removed the "blocked" label because the API changes are merged: #7879

I moved this to the ready column in the release board because this is a priority above any new feature work.

Can you please make sure this issue is prioritized above any new feature work? Thanks :)

[2022-10-13 20:35] noahtalerman commented on #7671
@ksatter @zayhanlon heads up, I added a second `customer-<codename>` label because this came up the customer's call today (2022-10-13).

[2022-10-13 20:39] chiiph commented on #8186
Discussed with Mo, this is not a bug but a feature request. The CPE in NVD should be different between the two parts of Docker. Given that it's not the case and our translation is technically correct, we consider this an enhancement on the detection technique.

[2022-10-13 21:07] RachelElysia opened #8215 "Fleet UI: Mdm enrollment status filter broken"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
Dogfood, main

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Filter by mdm enrollment status

### 💥  Actual behavior

Does not filter despite filter pill and query params correct

### More info

Broken 1 month ago, released b

[2022-10-13 21:10] artemist-work opened #8216 "Document software field in `/api/v1/fleet/hosts/identifier/{identifier}`"
### 🧑‍💻  Expected behavior

Documentation [on the fleet website](https://fleetdm.com/docs/using-fleet/rest-api#get-host-by-identifier) should show a "software" field in the example response, as appears in practice and is used by the fleet web application

### 💥  Actual behavior

There is no software field in the documentation and users are confused when they try to figure out how to list software

[2022-10-13 21:27] noahtalerman commented on #8206
TODOs from product design review on 2022-10-13:
- Decide if we make breaking change v. non breaking change
- Add copy that mentions the host won’t re-enroll.
- Punt on uninstall Fleet Desktop
- Delete becomes “block.”
- Loop in Zach to make sure the solution covers any other known use cases
- Host expiry stays “forget.” Update the host expiry tooltip to explain this behavior

[2022-10-13 21:28] zhumo commented on #7456
Works for me

[2022-10-13 21:31] noahtalerman commented on #6716
I pulled the following feedback on "See query results on the Host details page" (phase 3) out of the product design review doc (noahtalerman 2022-10-13):

![Screen Shot 2022-10-13 at 5 29 43 PM](https://user-images.githubusercontent.com/47070608/195714567-9b8732cb-9668-4fef-aa33-ff774602643c.png)

[2022-10-13 21:37] noahtalerman commented on #7676
@zhumo I assigned you this issue and the following issue: #7957

My understanding is that these issues are ready for engineering review, specification, and implementation.

[2022-10-13 22:24] lucasmrod commented on #7664
At the time I was able to test this scenario the following way (using two VMWare VMs, one Windows, one with Ubuntu):

1. Install Orbit in the Windows VM. Check that the host enrolls to Fleet.
2. Get Hardware UUID of the Windows VM (see video below)
3. Turn off Windows VM.
4. Turn off Ubuntu VM.
4. Set Hardware UUID of Ubuntu VM to be the same as the one fetched in step (2) (see video below)
5. Tur

[2022-10-13 23:28] CharlotteChance opened #8221 "Target picker and inaccurate search results"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

### 💥  Actual behavior
As a user in the target picker, the search doesn't always work when we start typing the name
I think it's an issue with Redis keeping up

### More info
Ref

[2022-10-13 23:32] CharlotteChance opened #8222 "Flakiness"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

### 💥  Actual behavior
Fleet Prod UI has been a bit flakey/slow since enabling Software Inventory. Not able to pull up the UI atm
=>McNeil: Not just slow, sounds like flakiness i

[2022-10-14 00:24] zwass opened #8223 "Add support for signing APNS certs in fleetdm.com"
### Goal

Build an API endpoint that signs the APNS certificates users need for running MDM with Fleet.

The technical specification for what needs to be done is in https://developer.apple.com/documentation/devicemanagement/implementing_device_management/setting_up_push_notifications_for_your_mdm_customers.

It's likely easier to shell out to MicroMDM's `mdmctl` to do this. See https://github.com/

[2022-10-14 01:57] mike-j-thomas commented on #8223
Thanks, @zwass. @eashaw, can you estimate this with Zach and possibly ship it early next week?

[2022-10-14 06:48] zhumo commented on #7754
@lukeheath @fx5 should this one be on the release board, not the roadmap board?

[2022-10-14 07:49] zhumo commented on #397
Can we remove this from the roadmap board, and then put the child epics on the roadmap board when they're in the appropriate state? Otherwise, this is gonna sit here for a long time.

[2022-10-14 07:51] zhumo commented on #6333
Closing in favor of #7243

[2022-10-14 07:51] #6333 closed

[2022-10-14 13:56] noahtalerman opened #8225 "On Hosts page, search and pagination not working"
**Fleet version**: Observed in Fleet's internal dogfood environment (commit `675ff9e`)

<hr/>

The expected and actual behavior are demonstrated in the following Loom video: https://www.loom.com/share/a98a0009c1f844018b97b3f52add11f7

[2022-10-14 13:59] noahtalerman opened #8226 "Show all info on the My device page"
### Goal

Update the **My device** page to show all details that now appear in the top card and the **About** card on the **Host details** page:
![Screen Shot 2022-10-14 at 9 59 36 AM](https://user-images.githubusercontent.com/47070608/195865323-88f25f15-23db-48b0-baf8-bd08573dc486.png)

This way, the device user can see whether or not their device is enrolled to an MDM solution.

The **Operating

[2022-10-14 15:00] #8183 closed

[2022-10-14 15:48] noahtalerman commented on #7456
@zhumo does the markdown in this issue's description reflect your latest designs?

If not, can you please send me your latest markdown file in Slack?

[2022-10-14 16:01] zhumo commented on #7456
@noahtalerman it is the latest!

[2022-10-14 17:51] xpkoala commented on #8211
@CharlotteChance I haven't been able to reproduce the flapping issue when saving settings on the agent options page. Do you have any more information on this one that I might be able to dive into?

[2022-10-14 17:59] xpkoala opened #8232 "Lower outline of manage host page broken by team filter"
**Fleet version**: `main`

**Operating system**: n/a

**Web browser**: Safari 16.1

<hr/>

### 🧑‍💻  Expected behavior
The Team filter drop down would not be broken by other assets.

### 💥  Actual behavior
The lower border of the host area sits on top of the Team filter drop down.

### More info
Picture of the issue
![Screenshot 2022-10-14 at 12 30 43 PM](https://user-images.githubusercontent.com/1

[2022-10-14 18:13] xpkoala commented on #8222
@chiiph I believe you are looking into this issue currently and there is a question on whether or not this is a bug or a need for the user to assign more computing power. Once that determination is made could you please update this ticket.

[2022-10-14 18:14] CharlotteChance commented on #8211
Hey @xpkoala, This topic is discussed at the 9-minute mark in this call: https://us-65885.app.gong.io/call?id=5131926919765234551

[2022-10-14 18:20] xpkoala commented on #8211
@CharlotteChance Thanks! I'll take a look.

[2022-10-14 18:26] chiiph commented on #8222
@xpkoala with the information we've got so far, this is not a bug. It's probably an underprovisioned deployment.

[2022-10-14 19:32] lukeheath commented on #7135
@xpkoala The parameter you're looking for is `query`. You can pass any string in that field, and it will search any searchable fields on the hosts table. So you don't have to name the field, it would look like this: https://dogfood.fleetdm.com/hosts/manage/?query=reed&order_key=hostname&order_direction=asc

[2022-10-14 19:41] lukeheath opened #8233 "`display_name` not included in websocket response"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When I submit a live query, I expect the websocket response to include `host_display_name` for each result.

### 💥  Actual behavior

I see the old `host_hostn

[2022-10-14 19:43] lukeheath commented on #7135
@fx5 The specs on this ticket missed one area that needs to be updated to include `display_name`, the live query results page. I've put together a bug to track (#8233) and assigned to you. Would you please tackle this first thing on Monday? The frontend will also have a resulting change to make before we ship. Thanks!

[2022-10-14 19:44] noahtalerman opened #8234 "Add Panther to log destinations docs"
### Goal

I want to know how to send query results from Fleet -> [Panther](https://panther.com/).

### How?

- [ ] Add a **Panther** section to the log destinations docs: https://fleetdm.com/docs/using-fleet/osquery-logs
  - This section explains how to use Fleet to send query data to Panther

[2022-10-14 19:46] lukeheath opened #8235 "Update live query results to handle `display_name` instead of `hostname`"
The backend needs to make a change to include `display_name` in the websocket response. Once that happens, there's a small reference to `hostname` during the CSV export of that will need to change to `display_name`: https://github.com/lukeheath/fleet/blob/c64f9ff21cbb86837f8e84e79d456ed2d8bcdcec/frontend/pages/queries/QueryPage/components/QueryResults/QueryResults.tsx#L41-L46

That exists in both

[2022-10-14 19:46] noahtalerman commented on #8234
@chris-mcgillicuddy do you have the capacity to take on writing this guide?

For technical questions, I think @edwardsb is a great resource. Ben authored the **Snowflake** and **Splunk** sections.

[2022-10-14 20:12] zhumo opened #8237 "Documentation for command line flags management by Orbit"
- What flags are available (link to osquery readthedocs)
- Clairfy that `overrides` does not accommodate `command_line_flags`
- How to verify deploy (`osquery_flags` table)
- Document the below blurb

This feature requires Orbit, the Fleet agent manager: https://fleetdm.com/announcements/introducing-orbit-your-fleet-agent-manager

If, at some point, you revoked an old enroll secret, this feature w

[2022-10-14 20:12] lukeheath opened #8238 "User interface polish pass (v1)"
### Goal

@mike-j-thomas will start regularly going through the user interface for a "polish pass" so that we can continue to improve and tighten up the UI. He will produce a checklist of fixes we can address during the merge freeze as time allows.

Because this first pass is much larger than subsequent ones will be tackling this as a dedicated epic. Our goal is twofold:

1. Address the checklist

[2022-10-14 20:17] zhumo commented on #7455
@zwass Is this done? I think if it has been deployed and Guillaume is ready to start using it, then we can consider it done. Please move to the confirm and celebrate column if so.

[2022-10-14 20:18] lukeheath commented on #8238
@ghernandez345 I've labeled this as an epic. Feel free to spin out new issues from this, just make sure to link them up under "Related issues" so we can track them together.

[2022-10-14 20:20] zhumo commented on #6883
@zwass @sharvilshah is there some way we can run the script to generate the json? I would like to confirm this is out before fully closing this.

[2022-10-14 20:32] lukeheath commented on #8225
@noahtalerman I believe this was a dogfood only issue related to MDM testing. A new dogfood instance has been deployed. I am unable to reproduce it. Would you please attempt to reproduce this? If you can, please assign it back to me. If you can't, please close the issue and remove it from the release board. Thanks!

[2022-10-14 20:35] lukeheath commented on #8209
@noahtalerman How many hosts should be shown per page?

[2022-10-14 20:35] zwass commented on #7455
It is indeed!

[2022-10-14 20:35] #7455 closed

[2022-10-14 20:35] GuillaumeRoss opened #8241 "Trivy ignore file + process"
### Goal

TODO
Some Fleet users use [Trivy](https://github.com/aquasecurity/trivy) to scan containers they deploy in their environments.

Right now, Trivy finds "vulnerabilities" when run against our dockerfiles, but most of them are not applicable to Fleet.

For example, currently, it detects a vulnerability on `aws-sdk` - but that vulnerability does not apply to Fleet as we do not use the S3 cry

[2022-10-14 20:41] zwass commented on #6883
@artemist-work can you please give Mo the command to run to generate the schema?

[2022-10-14 20:50] lukeheath commented on #8208
@xpkoala I'm unable to reproduce on current `main`:

![Image](https://user-images.githubusercontent.com/2495927/195941389-69d9b1f8-1868-44bc-a26d-df7166ce52d2.png)

Would you please try again and let me know if it's still happening for you? Maybe on a fresh db?

[2022-10-14 20:55] chronicpulsesupplier opened #8243 "fleet_detail_query_software_windows never finishes on 5% of windows hosts due to python_packages"
**Fleet version**:  4.18.0

**Operating system**: Windows 10 *

**Web browser**: not relevant (I don't think)

<hr/>

### 🧑‍💻  Expected behavior
New install of osquery should gather initial host information

### 💥  Actual behavior
About 5% of Windows hosts had high cpu usage for extended periods of time which persisted after service and system restart. Operating system and hardware information was

[2022-10-14 21:01] artemist-work commented on #6883
In the root of the osquery repo you can run `python3 tools/codegen/genwebsitejson.py --specs specs` and should get a big JSON blob on your output

[2022-10-14 21:02] chris-mcgillicuddy commented on #8234
Sure thing, @noahtalerman!

[2022-10-14 21:06] xpkoala commented on #8208
@lukeheath Not seeing this issue any more after a pull from `main`. Closing.

[2022-10-14 21:06] #8208 closed

[2022-10-14 21:35] lukeheath commented on #7754
@zhumo This has not been prioritized for the current release. I expect it will be brought to the release board when we kick off the next release cycle, which is Monday after next.

[2022-10-14 21:56] xpkoala opened #8245 "Unable to sign in as new user"
**Fleet version**: `main`

**Operating system**: n/a

**Web browser**: Safari 16.1 / Chrome 106.x

<hr/>

### 🧑‍💻  Expected behavior
After a new user has been created, the user should be able to successfully login to the application after being required to reset their password.

### 💥  Actual behavior
The password reset screen appears to flash and the user is returned to the login page.

### More

[2022-10-14 23:27] ksatter opened #8248 "Inconsistent results in `/hosts` API endpoint"
**Fleet version**: 4.21.0

<hr/>

### 🧑‍💻  Expected behavior

When retrieving Host information using the REST API, I expect to see the same results returned when using `/fleet/hosts/:id` or `/fleet/hosts/identifier/:identifier.

### 💥  Actual behavior

Different values are returned for `issues`, `team_name`, and `users`:

|Key                                                 | Response by UUID

[2022-10-15 00:02] zhumo commented on #8243
@xpkoala I think this might require some investigation from the platform team before we understand the nature of the bug, so I assigned directly to @chiiph.

[2022-10-17 00:21] mike-j-thomas commented on #8216
Thanks, @ksatter.

[2022-10-17 00:21] #8216 closed

[2022-10-17 13:10] noahtalerman opened #8252 "Blogpost: Fleet 4.22.0"
Fleet 4.22.0 is scheduled for release on 2022-10-20 (afternoon PST)

### Goal

Prepare and publish the release blogpost for Fleet 4.22.0 so that folks in the Fleet/osquery community can understand the latest improvements.

### How?

- [ ] @mike-j-thomas: Hand images for cover and primary improvements to @chris-mcgillicuddy
- [ ] @chris-mcgillicuddy: Write and publish blogpost
- [ ] @noahtalerman:

[2022-10-17 13:31] noahtalerman commented on #8252
@mike-j-thomas I assigned you this issue and added it to the digital experience board.

Can you please create and upload the images for this release blog post? Thanks :)

[2022-10-17 13:36] noahtalerman commented on #8225
After performing human QA, search and pagination appear to work in dogfood :)

[2022-10-17 13:36] #8225 closed

[2022-10-17 14:07] noahtalerman commented on #7726
From product design review on 2022-10-21 (or whenever, feel free to move out): - DISCUSS McNeil: (if time allows) Product marketing terms:
- MDM
- Manually enroll
- MDM enroll profile
- Automatically enroll / zero touch
- Warehouse / awaiting enrollment
- Orbit
  - For workstations: it's Fleet Desktop, with or without the icon enabled
  - For non-workstations: it's _____________________
(See also

[2022-10-17 15:00] clawoflight opened #8256 "MacOS pkg installation fails"
**Fleet version**:
v4.21

**Operating system**:
MacOS 12.6 Monterey

<hr/>

The OSX package installation fails with a very perplexing error message:

[code]

The package was generated using

[code]

This does not appear to be a code signing error, and I don't know enough about Mac to investigate further on my own.
Is this a known issue?

[2022-10-17 15:46] noahtalerman commented on #7456
@zhumo I assigned you. Can you please review the CLI commands?

FYI the plan, as specified by this issue, is for Fleet to provide a signed, decrypted CSR to the user. This way, the user uploads the CSR to Apple Developer without having to see or use a key.

This seems to be how Jamf Pro works: https://www.youtube.com/watch?v=2t9BIxBO50c

In dogfood, we currently provide the user with a CSR and key

[2022-10-17 15:47] noahtalerman commented on #7456
@lucasmrod how difficult will it be to achieve the above?

@GuillaumeRoss do you have any thoughts on the above?

[2022-10-17 15:53] michalnicp opened #8257 "Loadtesting doesn't work on M1 macs"
When running terraform apply from `infrastructure/loadtesting/terraform`, the following error occurs

[code]

We should consider forking this provider and creating a `darwin_arm64` release for use in loadtesting. Alternatively, we could look for an alternative provider.

Another issue is that that the loadtest image specified in `infrastructure/loadtesting/terraform/ecr.tf` does not specify a plat

[2022-10-17 15:53] noahtalerman commented on #7515
@zhumo I assigned you. Can you please review the CLI experience?

FYI the plan, as specified by this issue, is for Fleet to decrypted the server token for the user. This way, the user sets the server token in Fleet without having to see or use a key.

In dogfood, we currently provide the user with a key. We ask the user to decrypt using key: https://github.com/fleetdm/fleet/blob/apple-mdm-proposal

[2022-10-17 15:54] chris-mcgillicuddy commented on #8252
@noahtalerman, when is this release scheduled to go live?

[2022-10-17 15:55] noahtalerman commented on #7515
The above plan is similar to the Apple Developer plan: https://github.com/fleetdm/fleet/issues/7456#issuecomment-1281084665

@lucasmrod how difficult will it be to achieve the above?

@GuillaumeRoss do you have any thoughts on the above?

[2022-10-17 15:55] michalnicp commented on #8257
The following is a workaround

[code]

[2022-10-17 15:56] noahtalerman commented on #7676
@zhumo I assigned you this issue.

The Fleet UI now points the customer to use `fleet serve` with appropriate flags instead of uploading the certificates.

[2022-10-17 15:59] noahtalerman commented on #8252
@chris-mcgillicuddy afternoon PST on Thursday, October 10th.

[2022-10-17 16:46] GuillaumeRoss commented on #7456
As long as it is not retained at all on our sides I'm fine with this!

[2022-10-17 17:26] zhumo opened #8259 "Evaluate Fleet & osquery scalability for few-host/many-user situation"
### Problem

OpenSOC is a security incident simulation exercise held at DEFCON every year. They would like to use Fleet as part of the toolchain they introduce to the wider security community. However, in previous years, they used Fleet but found that it did not perform as needed to support their use case. In particular, they have a somewhat unique case where there are only a few hosts but many (~

[2022-10-17 17:27] zhumo commented on #8259
@zwass This is the opensoc issue based on my best understanding. Anything to add or adjust?

[2022-10-17 17:30] lukeheath commented on #8245
It looks like this bug was introduced in https://github.com/fleetdm/fleet/pull/8102/files

[2022-10-17 17:30] zhumo commented on #7456
LGTM!

[2022-10-17 17:45] zwass commented on #8259
Notes from the call with OpenSOC team: https://docs.google.com/document/d/1u-wknbUbvtPiKqJWfUuBbsL_Yukapj20yxHDhwzi8hA/edit

Based on what they said, I think 800 queries at once is much higher than necessary. We should test more on the scale of "maybe 60 over a few minutes". Let's call that 60 live queries in a minute?

When doing this testing, ideally we will test with osquery clients on macOS, L

[2022-10-17 17:52] zhumo commented on #8259
thanks I updated the requirements to reflect 60 / min and 4 of each mac windows and linux.

[2022-10-17 17:52] zhumo commented on #8259
Thanks I updated the issue to reflect 60 queries / min

*Mo Zhu*

Product Manager

fleetdm.com <http://www.fleetdm.com> | @fleetctl
<https://twitter.com/fleetctl>

On Mon, Oct 17, 2022 at 10:45 AM Zach Wasserman ***@***.***>
wrote:

[2022-10-17 18:05] noahtalerman commented on #8234
@chris-mcgillicuddy sweet!

FYI I added this issue to the 📖 Guides tab on the release board so that we can track it's progress: https://github.com/orgs/fleetdm/projects/40/views/10

Please feel free to add this issue to another board.

[2022-10-17 18:21] noahtalerman commented on #8206
Decision: Update the delete host functionality to delete _and block_ host.
- This means, to the user, delete in the UI/API becomes "This host will be deleted and won't appear again in Fleet unless you add it again (install osquery)."

Reasoning:
- Most users expect that the current delete functionality means the host won't show up again.
- There is no known, strong use case for just _block host_ f

[2022-10-17 18:32] noahtalerman commented on #8153
Working to confirm that an IT admin can remotely unenroll hosts that were manually enrolled.

[2022-10-17 18:52] zwass commented on #8206
My biggest concern is figuring out when a host should be "unblocked."

It seems like the expected behavior would be that when the host receives a new enroll secret it becomes unblocked. The problem with this is that we won't know which enroll secret the host had when it was blocked, so we can't detect whether the enroll secret has been rotated.

Related, deploying a new package does not trigger a

[2022-10-17 19:02] lukeheath commented on #7649
@xpkoala Okay should work on Firefox now. I also added the hover border color change to the input elements on the login page.

[2022-10-17 19:07] lukeheath commented on #7649
As part of this PR I also corrected the size of the external link icon on the forgot password confirmation screen (it was too large):

![Image](https://user-images.githubusercontent.com/2495927/196261576-c63c2144-b9da-4859-997e-9170cf1f5093.png)

[2022-10-17 19:09] lucasmrod commented on #8256
Hi @clawoflight! Thanks for reporting the issue.

This is not a known issue.

A guess: Can you double check you have enough disk space on the host you are trying to install Orbit?

On my macOS workstation it takes 262 MB of space:
[code]

(Double click installer? Via console command? MDM?)

[2022-10-17 19:09] lukeheath commented on #8235
Looks like the fix for this has merged: https://github.com/fleetdm/fleet/pull/8251

[2022-10-17 19:56] lukeheath opened #8266 "Update integrations and automation user interface to use new dedicated endpoints"
### Goal

As an Engineer, I want to manage integrations and automations using REST endpoints so that I can interact with the API using established patterns.

### Requirements

1. Stop relying on global configuration object for integrations and automations.
2. Instead, use new REST endpoints created as part of #8188

### Related issues
- #8188

### Tasks

Specced by @RachelElysia assuming we are ma

[2022-10-17 19:57] lukeheath commented on #8266
@RachelElysia I am assigning you this ticket to complete the implementation specs. The backend portion will go into the next release, then we'll bring this ticket into the following release after the backend is implemented.

[2022-10-17 19:59] noahtalerman commented on #8153
@lucasmrod @michalnicp do you know if it's possible for a user to download/install an automatic (DEP) enrollment profile?

Context:

I'm thinking through the migration journey for hosts that were automatically enrolled (DEP).

If a user of a DEP host is able to download a DEP profile, we may be able to make the migration experience the same for manual and DEP (a user can download/install a manual

[2022-10-17 20:00] lucasmrod commented on #8243
Hi @chronicpulsesupplier!

The duplicate `python_packages` in query has been fixed in [v4.19.1](https://github.com/fleetdm/fleet/releases/tag/fleet-v4.19.1).

What osquery version are the Windows hosts running?

For reference, there's an open osquery issue related to this: https://github.com/osquery/osquery/issues/6679

[2022-10-17 20:44] lukeheath commented on #8238
@ghernandez345 The plan is to bring this into the next release cycle. Will you please work with @RachelElysia to get this spec'd and estimated this week so it can be included in planning on Friday? Thanks!

[2022-10-17 20:56] noahtalerman commented on #7957
@zwass can you please break out child issues for this epic?

[2022-10-17 20:57] noahtalerman commented on #7676
@zwass can you please break out child issues for this epic?

[2022-10-17 20:57] noahtalerman commented on #8206
@zwass can you please break out child issues for this epic?

[2022-10-17 21:00] noahtalerman commented on #7958
@zwass can you please break out child issues for this epic?

[2022-10-17 21:04] zwass commented on #8206
I don't think this issue is ready to move forward to estimation until we have clear answers as to all of the desired behaviors. I'm moving back to "prioritized" column while we work on that.

[2022-10-17 22:12] lukeheath commented on #8235
@RachelElysia I had some time today so I knocked this one out.

[2022-10-17 22:14] michalnicp opened #8269 "Connect end users to Wi-Fi: dynamic SCEP challenge with Smallstep"
- `customer-reedtimmer`: Gong snippets:
  - https://us-65885.app.gong.io/call?id=3274063432520612661&highlights=%5B%7B%22type%22%3A%22SHARE%22%2C%22from%22%3A1278%2C%22to%22%3A1390%7D%5D
  - https://us-65885.app.gong.io/call?id=3274063432520612661&highlights=%5B%7B%22type%22%3A%22SHARE%22%2C%22from%22%3A1342%2C%22to%22%3A1369%7D%5D
---

[2022-10-17 22:25] zhumo opened #8270 "Misaligned evented table icon"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
The icons are aligned.

### 💥  Actual behavior

<img width="221" alt="image" src="https://user-images.githubusercontent.com/5359586/196294428-9720e7ef-7955-4007-9172-0a0c485401b8.

[2022-10-17 23:16] eashaw opened #8274 "Improve contributor experience on fleetdm.com/tables"
Improve contributor experience on fletdm.com/tables by breaking up the Fleet override schema into multiple files.

How?
- [ ] Create YAML files for each table in `schema/fleet_schema.json`
   - [ ] Test created YAML files to make sure that the information is correct and that it matches the content of the JSON schema
- [ ] Update get-extended-osquery-schema.js to use the new YAML schema files inste

[2022-10-17 23:35] mike-j-thomas commented on #8270
@eashaw, it might be something to do with the icon export from Figma. I've seen a few cases throughout the product where icons sit off-center in the actual png. Sometime Figma doesn't hand exports correctly if an image is sitting on a half pixel on the grid. I'll check and re-export.

[2022-10-18 00:22] zwass commented on #7456
@zhumo @noahtalerman some requests

1) Can you please provide a list of emails domains that we want to prohibit?

2) `fleet serve md_apple_bm_server_token --token=path/to/token` seems like it is left over from when there was an upload step and/or is mixed up with some other part of setup. Is my understanding correct that the certificate and private key will be provided to the Fleet server via a no

[2022-10-18 01:11] zhumo commented on #7456
Hey Zach,

1. https://docs.google.com/spreadsheets/d/1bLrVdh3_LNHU3jKBA2zWrF7zDxW9Yp2pmNTp44vXVTU/edit?usp=sharing See here for list of common email domains to block. it's about ~100.
2. I do recall that we are ok with providing they keys via yml config or env vars. But isn't using `fleet serve` one of the valid ways of passing configuration (https://fleetdm.com/docs/deploying/configuration#using-

[2022-10-18 01:22] zhumo commented on #7456
regarding #2, Noah, should we offer the `fleet serve` option but then link to that doc for the other options? Or maybe just link to that doc only?

[2022-10-18 02:27] zwass commented on #8223
@eashaw I've PRed the code for the command that the website will shell out to generate the needed files in #8282.

[2022-10-18 02:28] mike-j-thomas commented on #8270
@zhumo, https://github.com/fleetdm/fleet/pull/8283 fixes the badge and label.

**Before:**
<img width="684" alt="Screen Shot 2022-10-18 at 11 25 19" src="https://user-images.githubusercontent.com/78363703/196321197-df39be3e-4ef7-406f-9470-48248c26966a.png">

**After:**
<img width="648" alt="Screen Shot 2022-10-18 at 11 25 34" src="https://user-images.githubusercontent.com/78363703/196321219-8ec775

[2022-10-18 06:28] mike-j-thomas opened #8286 "Change all relative links to fixed links in the docs"
Context:
https://fleetdm.slack.com/archives/C02A8BRABB5/p1664978691243829

![Image](https://user-images.githubusercontent.com/78363703/196352552-cea684b8-3e41-4c3c-9185-84cc9c9b270d.png)

[2022-10-18 06:54] xpkoala commented on #8207
Thank you for the update @youest! I'm getting some assistance from one of engineers to look at this issue and I'll hopefully have an update for you later today.

[2022-10-18 07:07] clawoflight commented on #8256
Hi @lucasmrod, thank you for the quick reply!

The host has ~70G free, so it shouldn't be an issue. The GUI shows installed size 0, so maybe the package is missing some metadata?

[code]

Simply through double click. The logs came from `/var/log/install.log`

[2022-10-18 07:43] xpkoala commented on #7080
A few small items I've found that could use some help.
1) The ordering of the operating systems is out of spec with Figma. The ordering should be macOS, Windows, Linux.
2) Some keys can overrun the space provided and push the data type.
3) When the notes section shows syntax there is an extra line added that should be omitted

Pics:
1.
<img width="168" alt="Screenshot 2022-10-18 at 2 39 37 AM" src

[2022-10-18 11:23] ghernandez345 commented on #7080
@noahtalerman @mike-j-thomas For this issue I was thinking we can truncate these long column names. What do you think?

[2022-10-18 11:57] lucasmrod commented on #3918
Closing. Fleet now uses the distributed "discovery" queries for this purpose (see `Discovery` field below):
https://github.com/fleetdm/fleet/blob/60e06c087fef990c0839e65057499eb836b12f5b/server/service/osquery_utils/queries.go#L429-L433

[2022-10-18 11:57] #3918 closed

[2022-10-18 12:24] clawoflight commented on #8256
We successfully got it to install using the `installer` command, so this bug appears to only affect the GUI.
This is good enough for us, but maybe we can leave the issue open for you to investigate further :)

[2022-10-18 12:27] ShayMusachanov-dev opened #8289 "Failed to start LSP server in WSL"
**Fleet version**: Fleet 447

**Operating system**: Windows 10 Enterprise 20H2

<hr/>

### 🧑‍💻  Expected behavior
I opened a Rust project inside WSL. I expected to have the same rust development experience I got working in windows.

### 💥  Actual behavior
I get the following error message "Failed to start LSP server process", no hover tooltips, code completion or keyword highlighting.

### More in

[2022-10-18 12:44] lucasmrod commented on #8256
OK, glad to hear we at least found a workaround.

Current guess:
`installer` command succeeded because we are telling it to install in `/`.
GUI installer (running as user) is trying to install on another location, and failing to do so.

Last question, does GUI user `jba` have administrative permissions?

[2022-10-18 13:22] GuillaumeRoss opened #8291 "Add as many policy queries as possible from Fleet's internal use of Fleet policies"
### Goal

TODO
At Fleet, we use policies quite a bit to monitor our laptops, and some of those policies can be useful to others!

### How?

- [ ] Review our internal policies and select all of those that can be generally useful to others
- [ ] Add them to the standard query library + constants.ts so they're available in the product UI!

[2022-10-18 13:25] lucasmrod commented on #398
It would. But IMO a better way to have chromeOS support in Fleet is for osquery itself to support chromeOS.

[2022-10-18 13:55] noahtalerman commented on #7456
@zwass no. My understanding is that only the APNs certificate (supplied) by Apple will be provided to the Fleet server via CLI flag, env variable, or YAML configuration file. A private key will not be provided.

@zhumo I think a link to the docs makes sense.

[2022-10-18 13:59] noahtalerman commented on #7080
@ghernandez345 did you mean "truncate" instead of "line break" in your message above?

Line breaking the long column names makes sense! I think this is a great solution. Prioritizing the ability to copy makes sense.

The tooltip indicator is a bit awkward for the two line column names. It hangs past the 2nd line. We can address this in a later pass.

cc @mike-j-thomas

[2022-10-18 14:00] GuillaumeRoss commented on #8291
After analysis, there are 3 queries that are not consistently in the product and on the query library: checking for 1Password recovery kits, unencrypted SSH keys, and checking for workstations containing Apple signing or notarization secrets.

Will add them in one PR.

[2022-10-18 14:00] ghernandez345 commented on #7080
@noahtalerman yep, my bad. I tried it truncated but the UX seemed not as good as a linebreak

[2022-10-18 14:22] xpkoala opened #8295 "4.22.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/fleetctl-preview)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium te

[2022-10-18 14:48] xpkoala commented on #7823
👍

[2022-10-18 14:54] roperzh opened #8296 "UI is using the global settings instead of the team settings to show software inventory messages"
**Fleet version**: 4.21.0

<hr/>

### 🧑‍💻  Expected behavior

If I enable `features.enable_software_inventory` for a team, I can see it enabled in the UI even if the feature is disabled in the global settings.

### 💥  Actual behavior

In the manage software page, with a team selected (and probably in other places too) I see a message based on the global settings instead of the team settings.

###

[2022-10-18 15:03] noahtalerman commented on #8153
It seems like Fleet will have to handle this for the IT admin.

In the following Jamf video the narrator claims "A bootstrap token does not need to be actively managed by IT admins" (8:00): https://www.youtube.com/watch?v=5zQEQwoRoDA

[2022-10-18 15:07] #8270 closed

[2022-10-18 15:39] xpkoala commented on #7696
@michalnicp Is there any documentation or QA steps available for me to read through for this one? I don't see a linked PR to this ticket for the work but maybe it was included there?

I don't have a local MDM infrastructure setup if that is needed for testing. I do think this would be OK to move to 'ready' if you and another engineer are feeling confident about the improvements and were able to va

[2022-10-18 15:44] lukeheath opened #8299 "Software page is not checking team-level config to determine if software inventory is enabled"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When I visit the software page and select a team, it should determine if software inventory is available based on the team-level config.

### 💥  Actual behavi

[2022-10-18 15:45] xpkoala commented on #8289
@ShayMusachanov-dev Was this potentially meant for https://github.com/dimensionhq/fleet ?

[2022-10-18 15:45] #8299 closed

[2022-10-18 16:09] lucasmrod commented on #8153
@zhumo you performed a few DEP migrations, IIRC some required device wipe but you managed to migrate a DEP device without wiping, right?

If you enroll a device manually (via following a link and installing profiles manually) then the device won't be "DEP-managed".

[2022-10-18 16:17] ksatter commented on #8248
@lukeheath I discovered this inconsistency while updating documentation for the `/:identifier` endpoint. There have been no outside reports that I am aware of.

[2022-10-18 16:20] lukeheath opened #8301 "Remove `host_hostname` from websocket response"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When I submit a live query, I expect the websocket response to not include `host_hostname` for each result in the `row` array.

### 💥  Actual behavior

`host_

[2022-10-18 16:20] noahtalerman opened #8302 "Record successful and failed login attempts as audit activity"
### Goal

As a Fleet operator, I want to record successful login attempts in Fleet, so that I can determine whether a login was suspicious.

As a Fleet operator, I want to record failed login attempts in Fleet, so that I can identify an attempted breach when I observe repeated failed attempts.

This way, I can alert on login attempts and, in the event of account compromise, see when the account fi

[2022-10-18 16:24] michalnicp commented on #8153
As far as I know, an MDM server can only get information about DEP enrolled devices that have already been assigned to it. It can't get any details for devices that are assigned to another MDM server.

DEP profiles tell a device how to get an enrollment profile during activation (setup). How would this help with the migration experience? It's not likely that a device actually has access to the raw

[2022-10-18 16:24] lukeheath commented on #8248
@xpkoala Because this is only a documentation issue, I am removed the `released_blocker` label.

@noahtalerman Are you aware of anywhere we're using the `hosts/identifier/:identifier` endpoint? I'm wondering if it should be flagged for deprecation at Fleet v5.

[2022-10-18 16:32] noahtalerman commented on #722
A Fleet customer described an investigation workflow that reminded me of this issue.

My understanding of the investigation workflow is the following:
1. Analyst defines several osquery queries in a Jupyter Notebooks. When an alert in Panther fires, these queries will be used to answer "Is this a valid alert or is the alert a false positive or false negative?"
2. Alert fires in Panther
3. Analyst

[2022-10-18 16:56] noahtalerman commented on #8302
@zhumo is this something the platform team can prioritize? If yes, can you please add it to the roadmap board?

[2022-10-18 17:56] lukeheath opened #8306 "Ensure API errors are surfaced to the user on the accept invite and reset password forms"
Once https://github.com/fleetdm/fleet/pull/8246 merges, we need to test an expired invite token and figure out why the HTTP response isn't surfacing to the UI.

--

**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected beh

[2022-10-18 18:10] RachelElysia opened #8307 "Frontend Tech Debt: Change all instances of the word Homepage directory/components/code to Dashboard"
### Goal
Have our code match the naming convention of our App

TODO

- [x] Change all instances of the word Homepage directory/components/code to Dashboard

### How?

[2022-10-18 18:21] zwinnerman-fleetdm opened #8309 "2022-10-18 - 500 request on /api/latest/fleet/download_installer/msi"
We received a notification that there was a 500 request on a user visible route corresponding to an active sandbox instance. The route requested was `/api/latest/fleet/download_installer/msi`. There are quite a few auth failed messages in the log. It could be a user struggling with something, or it could be a user trying to break sandbox. Either way, it would probably be helpful to reach out to th

[2022-10-18 18:22] zwinnerman-fleetdm commented on #8309
The affected sandbox instance id is `tcab20560`.

[2022-10-18 18:26] lukeheath commented on #7431
@mna I tested with @xpkoala, and we confirmed that the API supports filtering by both `os_id` and `software_id` at the same time. Are you aware of any filers that exclude other filters from working together? Would you please look at the code to confirm and let us know if there are any special conditions around combining filters that we need to include in the documentation? Thanks!

@noahtalerman T

[2022-10-18 18:44] zhumo commented on #7970
Hey @chronicpulsesupplier I was wondering, if you're going to generate a unique TLS cert/key for each package and then use some tool (such as a puppet or chef equivalent), then why package it at all? Could you just use puppet/chef/etc. to install the certs and the orbit package separately?

[2022-10-18 18:57] zwinnerman-fleetdm commented on #8309
Got the email and sent a email to the customer to reach out to them and identify what happened.

[2022-10-18 18:59] anelshaer commented on #722
Thanks Noah for reminding me 😅 i actually mentioned this to Mike McNeil.

I’m glad that my feature request years ago are still valid and coming to
you from other customers.

A made something specifically for that:
https://github.com/anelshaer/Remote-Linux-Triage-Collection-using-OSquery

On Tue 18. Oct 2022 at 6:32 PM Noah Talerman ***@***.***>
wrote:

[2022-10-18 19:09] noahtalerman commented on #722
https://github.com/anelshaer/Remote-Linux-Triage-Collection-using-OSquery

Awesome! Thank you for sharing. Very cool that Ansible and osquery are the only dependencies.

[2022-10-18 19:13] #8274 closed

[2022-10-18 19:24] zwass commented on #7456
The Fleet server needs the APNS certificate and associated private key. These would be configured like the TLS cert and key are currently https://fleetdm.com/docs/deploying/configuration#server-cert (so a path in env var, CLI flag, or config file).

[2022-10-18 19:25] #6553 closed

[2022-10-18 19:26] zwass commented on #6675
This was shipped with Desktop 1.2.0

[2022-10-18 19:26] #6675 closed

[2022-10-18 19:59] RachelElysia commented on #8232
@xpkoala upgrading my OS to get safari 16.1 since I'm on 14.4 and can't see the bug until my OS updates with the new safari included >.< Will have this in by AM.

[2022-10-18 20:31] mna commented on #7431
@lukeheath I can confirm that all filters are supported in any combinations, although of course abusing this might lead to performance issues (in the sense that not all combinations will have efficient indices - "execution plans" in the DB). But there's no technical constraints to any combination. I created a small PR to fix some inaccuracies and a missing parameter in the endpoint's doc (https://

[2022-10-18 20:39] zhumo commented on #3906
Removing from roadmap board until we commit to doing Vanta integration for Q4. @noahtalerman

[2022-10-18 20:40] zhumo commented on #7440
Removing from roadmap board until we commit to doing it for Q4. @noahtalerman

[2022-10-18 20:42] zhumo commented on #2002
Removing this in favor of https://github.com/fleetdm/fleet/issues/8206

[2022-10-18 20:42] zhumo commented on #2002
Removing this from the roadmap board in favor of https://github.com/fleetdm/fleet/issues/8206. @noahtalerman

[2022-10-18 20:47] lukeheath commented on #7431
@mna Thanks for looking into that! Yes, if you would please look at `GET /hosts/count` and `GET /labels/{id}/hosts` to see how they're behaving, we can clear up any confusion. Thanks!

[2022-10-18 20:55] zhumo commented on #5537
Mo to investigate can we close this

[2022-10-18 20:55] lukeheath opened #8320 "Improve frontend performance of live query results pages"
While working on #8268, I noticed the frontend performance of the live query results pages needs to be improved. Once results start coming in, my CPU spikes to 100% until the results stop. For many hosts, this can even result in an unresponsive UI.

[2022-10-18 20:56] zhumo commented on #2659
@eashaw has this been made defunct because of the work you've done?

[2022-10-18 20:56] zhumo commented on #2430
Made defunct by https://github.com/fleetdm/fleet/issues/8206

[2022-10-18 20:56] #2430 closed

[2022-10-18 20:57] zhumo commented on #7729
Waiting on this first: https://github.com/fleetdm/fleet/issues/7993

[2022-10-18 20:58] zhumo commented on #7871
@zwass I think this needs to be some kind of ritual on the agent team side whenever we release another osquery version?

[2022-10-18 20:59] zhumo commented on #7871
Removing from roadmap board since it's more of a ritual than a piece of work.

[2022-10-18 21:49] zhumo commented on #5537
Closing because we are recommending cloud.gov: https://fleetdm.com/docs/deploying/cloudgov

[2022-10-18 21:49] #5537 closed

[2022-10-18 22:20] lukeheath commented on #2659
@zhumo Yes, this is defunct. Closing.

[2022-10-18 22:20] #2659 closed

[2022-10-19 01:02] mike-j-thomas commented on #7080
@ghernandez345, the truncated text interfering with the chevron in the dropdown also needs addressing, albeit a different issue.

[2022-10-19 13:41] noahtalerman commented on #3906
@lukeheath heads up, Mo and I went through the Roadmap board and removed several issues from the estimated column (deprioritized):
- This issue
- #7440
- #2002
- #6257
- #6781

This way, the interface team prioritizes bugs, query automations (#7765), and MDM issues.

I left the assignments and estimation tags on the above issues so that we can bring them back in to fill capacity if needed.

[2022-10-19 13:55] noahtalerman opened #8336 "Agent options issues in fleetctl"
**Fleet version**: 4.21

Related bug: #8095

<hr/>

### 🧑‍💻  Expected behavior

If I don't specify `agent_options` in the `team` or `config` YAML document, the agent options are not modified.
  - If I do specify `agent_options` with no sub keys, this team's agent options are set to empty.

### 💥  Actual behavior

If I don't specify `agent_options`, Fleet silently empties the agent options.

[2022-10-19 14:05] noahtalerman commented on #8252
@chris-mcgillicuddy @mike-j-thomas just checking in, how is the release blogpost coming along?

[2022-10-19 14:13] noahtalerman commented on #7765
@mna I think we'll have to update the **Queries > Manage automations** modal to support a large number of queries.

I prefer to not enforce a limit on the number of queries.

[2022-10-19 14:25] noahtalerman commented on #5476
@GuillaumeRoss heads up, I updated this issue to update docs to reflect the current behavior.

Here's the PR to the docs: #8339

[2022-10-19 14:26] noahtalerman commented on #7175
Removing this from the release board because it cannot be addressed until #7765 and #6024 are addressed.

[2022-10-19 14:52] chris-mcgillicuddy commented on #8252
@noahtalerman, I've had to shift focus to address handbook issues. There's another blog post that we'd also like to post this week. Would it be possible to delay publishing this post until Monday, 10/24?

[2022-10-19 14:52] noahtalerman commented on #8206
@zwass a host should be "unblocked" when a user wants the host to appear in Fleet.

The expected behavior is that when the hosts _receives a new package_, it becomes unblocked. I'm not sure if this is technically the same as receiving a new enroll secret.

How difficult would it be to make this happen?

I think it's ok that plain osquery clients don't have an easy way to permanently change a host'

[2022-10-19 15:22] lukeheath commented on #8238
@xpkoala Will you please add a link to the 2nd document of polish fixes that you showed me yesterday? You can just add the link to the issue description.

@ghernandez345 Should we create a new document to compile both of these documents (and any future ones) into?

[2022-10-19 15:26] lukeheath commented on #8188
I'm moving this back to specified so we can finalize the specifications with the assumption of v5.

[2022-10-19 15:32] lukeheath commented on #8301
This is a breaking change. Defer to v5.

[2022-10-19 16:35] lukeheath commented on #7765
@mna After speaking with Mike and Zach, we have the 👍 on including this in v5 with breaking changes.

[2022-10-19 17:04] noahtalerman commented on #8153
@michalnicp when you test migration can you please help me answer the following questions:
- When you use the `profile renew` command, do you get the non-removable feature?
- Can a device user download and install a DEP profile? This way, the IT admin doesn't have to run the `profile renew` command or wipe the device.

[2022-10-19 17:43] RachelElysia commented on #8232
@xpkoala Ok-- my mac is up-to-date, and so is my safari. However, I'm on 16.0 since 16.1 is a beta download? https://developer.apple.com/documentation/safari-release-notes/safari-16_1-release-notes

This is not a bug that I can't reproduce on Safari 16.0. Thoughts on not trying to fix it since it's a beta release?

cc: @lukeheath

![Image](https://user-images.githubusercontent.com/71795832/1967653

[2022-10-19 17:45] xpkoala commented on #8232
@RachelElysia 👍I think that's a good call for now. This isn't reproducing on Chrome or Firefox either. Should we close the ticket for now and re-assess when 16.1 becomes stable?

[2022-10-19 17:50] lukeheath commented on #8232
Agreed, let's not worry about beta releases of browsers.

[2022-10-19 17:53] lucasmrod commented on #6352
https://github.com/osquery/osquery/issues/7658 has been merged and released in osquery [5.5.1](https://github.com/osquery/osquery/releases/tag/5.5.1).

[2022-10-19 17:53] #6352 closed

[2022-10-19 17:56] #8099 closed

[2022-10-19 18:42] noahtalerman commented on #8252
@chris-mcgillicuddy I think both blog posts should be prioritized above the handbook issues. That being said, it's your and @mike-j-thomas's call.

What's the other blog post? And, just for my understanding, what's the reason for prioritizing the other blogpost?

[2022-10-19 18:49] mna commented on #7675
@noahtalerman The backend work is pretty much done and ready for the PR, I'd just like to validate some things with you:

* For the "FIRST.org/epss" clickable link, I used the address `https://www.first.org/epss/`
* For "CVSS score reported by NVD": `https://nvd.nist.gov/`
* For "reported by CISA": `https://www.cisa.gov/`

Let me know if that's good or should be changed to something else.

Regardi

[2022-10-19 19:13] RachelElysia opened #8344 "Frontend Tech Debt: Create reusable back link, view all hosts, external link components"
### Goal
- Make more consistent, reusable components on the frontend

TODO

### 1 <BackLink />
- [x] Create back link component
- [x] Use new SVG patterns for back link
- [x] Allow for back to host page filtered correctly on the manage host page using browser history for backlink
- [x] Remove all "one-off" styling and replace with styling on back link component
- [ ] Unit test link, image...

###

[2022-10-19 19:52] chris-mcgillicuddy commented on #8252
@noahtalerman, the other blog post addresses [BOD 23-01](https://www.cisa.gov/binding-operational-directive-23-01). As I'm working on it though, I think it might take more time. I'll prioritize the release post for this week. My thinking was that releases can get delayed, which may result in no blogs going out this week. I wanted to have one blog ready just in case, but, again, the BOD 23-01 artic

[2022-10-19 20:00] zhumo opened #8347 "Hook detectionlab windows instances into Dogfood rather than detectionlab-specific fleet instance."
### Problem
Currently, the separate detectionlab fleet instance will deter us from using detectionlab in our day to day. We would like to have the detectionlab instances in dogfood so that we can experience windows machines in Fleet. Furthermore the detectionlab machines will be "interesting" machines rather than ones that are mostly compliant and being used day-to-day. This will expose us to more

[2022-10-19 20:04] xpkoala commented on #7696
This has not been fully tested by QA but I was able to see some of this in action during a call with @michalnicp. This work is not very customer facing at the moment and will be more thoroughly tested after I have an MDM test environment setup. Moving this to Ready for Release.

[2022-10-19 20:14] lukeheath opened #8348 "GET `labels/13/hosts` endpoint returning 422 when `order_key=display_name` query param included"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When I send an HTTP request to `https://localhost:8080/api/latest/fleet/labels/13/hosts?page=0&per_page=100&device_mapping=true&order_key=display_name&order_d

[2022-10-19 21:26] noahtalerman commented on #7515
@zwass can you check if we need to configure a token and a key for ABM? The current specs only specify a token.

[2022-10-19 21:43] noahtalerman commented on #8206
@noahtalerman how important is seeing the host in an "MDM off" state? Or, do we just totally remove these hosts?

These hosts have to be online to execute these commands. Fleet will queue these up.

[2022-10-19 22:13] noahtalerman commented on #8153
For reference here's an outdated user journey for migration:

https://docs.google.com/drawings/d/1bUa4FQSxYm3fWg4bWvi07nfWGiHEl4BMsAKsSIOU5ww/edit

This issue's description holds the latest docs.

[2022-10-19 22:54] chris-mcgillicuddy opened #8354 "Article: BOD 23-01 regulation"
### Goal

Write an article that shows how Fleet can help federal agencies comply with the new regulation.

### How?

- [x] Meet with Guillaume for insight into regulation
- [x] Write article
- [x] Gather feedback from Guillaume
- [x] Ask Mike T. for imagery
- [x] Create and merge PR

[2022-10-19 22:56] lukeheath commented on #7431
@noahtalerman Sounds good. Since this is a bug, I am closing it out with this comment as expected behavior.

[2022-10-19 22:56] #7431 closed

[2022-10-20 04:35] mike-j-thomas commented on #8252
@chris-mcgillicuddy, I added the images to a draft pull request for the release post. You can add your write-up directly to this draft PR https://github.com/fleetdm/fleet/pull/8357

[2022-10-20 04:44] mike-j-thomas commented on #7974
Hey @DrewBakerfdm, did you source a different event backdrop (as our visual identity is likely to change shortly) or are you still running with this one?

[2022-10-20 04:55] mike-j-thomas commented on #8137
Hey @zhumo, sorry I only just saw this bug. When you add issues to the Digital Experience board, please can you also add the current release to the project? This makes sure that I see it on my immediate list. Otherwise, the issue will get lost in the backlog. Thanks!
<img width="346" alt="Screen Shot 2022-10-20 at 13 51 16" src="https://user-images.githubusercontent.com/78363703/196859221-2ce3a323

[2022-10-20 04:57] mike-j-thomas commented on #8137
@eashaw, I'm assigning this to you. As it's a bug, please jump on it as soon as you've wrapped up the APNS certs.

[2022-10-20 05:01] mike-j-thomas commented on #2576
https://fleetdm.com/deploy/deploying-fleet-on-aws-with-terraform

[2022-10-20 05:26] #5396 closed

[2022-10-20 05:29] #6291 closed

[2022-10-20 05:29] #6637 closed

[2022-10-20 07:26] xpkoala commented on #8105
I believe this fix might have caused an issue with the team and user dropdown components. This behavior is not seen on Dogfood, which is running `main` from Tuesday at ~6pm CST. If this is not related I can spin the issue out into a new ticket. @lukeheath @ghernandez345

<img width="160" alt="Screenshot 2022-10-20 at 2 21 54 AM" src="https://user-images.githubusercontent.com/11012743/196883061-bb8

[2022-10-20 07:35] xpkoala commented on #6662
Hi @mpdeimos. I wanted to check in and see if there was any update to this issue you encountered.

[2022-10-20 07:39] xpkoala commented on #7680
@daweizhang123 Were you able to update to the latest version of Fleet and if so are you still encountering the issue you originally described?

[2022-10-20 08:26] xpkoala commented on #8235
@lukeheath I believe this fix has caused hosts to no longer show on the /hosts/manage page. If the url param `display_name` is changed to `hostname`  the expected hosts become visible. The video below shows the behavior.

https://www.loom.com/share/f18f6d44f9d14ef981081cfac0e29f21

[2022-10-20 12:11] ghernandez345 commented on #8105
@xpkoala I looked into this and it looks unrelated. I removed the changes done recently in #8337 and still see the issue. Can we get a new issue. I will start looking at it

[2022-10-20 12:36] ghernandez345 commented on #8105
@xpkoala gonna move this issue back to ready for QA and remove release blocker tag while I look at the other issue you raised. I found that it was related this this PR. https://github.com/fleetdm/fleet/pull/8264

[2022-10-20 13:53] xpkoala opened #8359 "User and Team drop down boxes broken by chevron changes"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 💥  Actual behavior
<img width="160" alt="Screenshot 2022-10-20 at 2 21 54 AM" src="https://user-images.githubusercontent.com/11012743/196967680-4e410890-0184-4613-8ecd-cb5c523eaf5b.png">

### More info
Break was introduced [here](https://github.com/fleetdm/fleet/pull/8264)

[2022-10-20 14:02] xpkoala commented on #8235
After further prodding I'm not able to reproduce this on a `preview` instance. So this might actually be glitch in my local build.

[2022-10-20 14:09] noahtalerman commented on #7675
@mna for CISA can you please this address instead? https://www.cisa.gov/known-exploited-vulnerabilities-catalog

Otherwise, the addresses you link to make sense to me!

The screenshots should be available to export from Figma: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=9617%3A316775

I'm not sure what the sizing and naming conventions

[2022-10-20 14:41] noahtalerman commented on #7456
@zwass I assigned you this issue. I updated the specs to...
- tell the user to head to their email to retrieve their CSR
- configure Apple Developer certificate and private key

The current specs still assume that Fleet will generate SCEP certs without user interaction. SCEP certificates are renewed automatically when the Apple Developer cert is updated.

Also, does `fleet serve` currently show an

[2022-10-20 14:59] noahtalerman commented on #7515
@michalnicp does a Fleet user need to configure a key for Apple Business Manager? The current specs only specify configuring a token.

[2022-10-20 15:46] noahtalerman opened #8360 "Profiles: Manage profiles"
## User story

As an IT admin, I want to be able to add/remove configuration profiles to my macOS hosts so that I can enforce settings for my end users.

## Requirements

- In UI and CLI, add/delete a profile. Automatically applied to all hosts (Fleet Free) or hosts on no team (Fleet Premium)
- In UI and CLI, add/delete a profile for a team (Fleet Premium)
- In CLI, edit a profile. Edit a profile

[2022-10-20 15:52] xpkoala opened #8361 "Link out icons on settings page shifted out of place"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: chrome / firefox / safari

<hr/>

### 🧑‍💻  Expected behavior
Link-out icons should appear to the right of the clickable text.

### 💥  Actual behavior
It looks like a handful of the link-out icons on different settings tabs have been shifted or given a new line break after the link-out text.

- Agent Options
-

[2022-10-20 16:09] #8046 closed

[2022-10-20 16:52] chris-mcgillicuddy commented on #8252
@noahtalerman, Fleet 4.22.0 article is ready for your review:

https://docs.google.com/document/d/1Y87Q4mBMme73XA7rECAAsvJh7kA42mZskD5jYe05-_U/edit?usp=sharing

I included a couple comments for specific feedback.

[2022-10-20 16:58] DrewBakerfdm commented on #7974
Hey @mike-j-thomas

Sorry about the delay on this. I thought I had already submitted this!

Looking to just go through VistaPrint so that we can guarantee shipping dates (They're more reliable when needing things sooner than later)

I was looking at ordering two of these stands with the fabric prints so that we can just order the updated prints later.

https://www.vistaprint.com/signs-posters/retr

[2022-10-20 17:00] zhumo commented on #7456
@zwass @noahtalerman if we need something special with SCEP because it is not an automatic behind-the-scenes thing, then let's make a separate issue for it so that we aren't blocked here.

[2022-10-20 17:06] RachelElysia commented on #8361
This got pushed to main too..
<img width="1172" alt="Screen Shot 2022-10-20 at 1 06 01 PM" src="https://user-images.githubusercontent.com/71795832/197013582-d88c3e00-a18d-473f-a7b1-eb1252e4d07a.png">

[2022-10-20 17:10] chiiph commented on #8222
After some back and forth, what we'll cover with this issue is the improvement in documentation about how to rollout features when just enabling it at once doesn't prove to be a good strategy.

[2022-10-20 17:13] #4654 closed

[2022-10-20 17:21] gillespi314 opened #8369 "Refresh policy success/fail counts on-demand"
Related to Issue #7534

PR #8297 implemented automatic refetching of host details following a team transfer, which updates the policy statuses for the transferred host; however, the aggregated counts reported of passing and failing host are still only only refreshed during the hourly cron jobs.

Currently, there is not a means to trigger an ad hoc refresh of counts mid-interval. There is a [propos

[2022-10-20 17:27] lukeheath opened #8370 "The fix for the Firefox dropdown highlighting bug caused a placement bug on the dropdown"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

The dropdown appears directly below the purple border.

### 💥  Actual behavior

The dropdown is a couple of pixels too high and covers the bottom border:

![i

[2022-10-20 17:51] noahtalerman commented on #8252
@chris-mcgillicuddy looks good! I responded to your comment and left a couple suggestions in the Google doc: https://docs.google.com/document/d/1Y87Q4mBMme73XA7rECAAsvJh7kA42mZskD5jYe05-_U/edit#

[2022-10-20 17:53] michalnicp commented on #7456
Currently if the TLS cert is provided, but the key is missing it the following message is logged and the server exits

[code]

The error seems to be logged from the internal `net/http` library rather than during configuration validation. The configuration should be validated before we start the http server and provide a better error message.

[2022-10-20 18:13] noahtalerman commented on #7456
I agree. I think we can address this separately. @michalnicp I added this to product office hours: https://docs.google.com/document/d/1mwu5WfdWBWwJ2C3zFDOMSUC9QCyYuKP4LssO_sIHDd0/edit#heading=h.zahrflvvks7q

[2022-10-20 18:23] xpkoala opened #8371 "Inaccurate host count and phantom hosts"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
Total host count is accurately reflected on the dashboard and all hosts appear in the /hosts/manage page when no filters are applied.

### 💥  Actual behavior
Host count is inaccurate and a host might not appear in the /hosts/manage page.

### More info

This is a weird on

[2022-10-20 18:29] noahtalerman opened #8372 "Create API endpoint that receives CSR data from Fleet server and sends email to user"
### Goal

Add ability for the Fleet product to to tell fleetdm.com to send an email with a CSR for Apple Push Certificates Portal

### Related
- Parent epic: #7726
- API to create signed CSRs: #8223

### How?

Yo @eashaw, this is from @mikermcneil:
- `POST /api/v1/deliver-apple-dev-csr`
  - Send the parameters however you want, it'll work.
- `sails generate action deliver-apple-dev-csr`
  - inputs

[2022-10-20 18:33] noahtalerman commented on #8372
cc @zhumo ^^

[2022-10-20 18:37] xpkoala commented on #8371
There is a loom video showing another instance of this in the comments of this ticket. https://github.com/fleetdm/fleet/issues/8235

[2022-10-20 19:18] ksatter opened #8373 "Fleet desktop causes errors for Fleet free instances"
**Fleet version**: 4.20.0
**Fleet Desktop version:**  1.3

### 🧑‍💻  Expected behavior

Fleet Desktop should not throw errors on non-premium Fleet instances.

### 💥  Actual behavior

After updating Fleet Desktop to v1.3, Fleet is experiencing performance issues and errors related to the device `policies` endpoint:

[code]

### More info

This endpoint retrieves data about a device's policies for Fl

[2022-10-20 20:01] lukeheath commented on #8306
@RachelElysia This is a low-priority edge case bug not intended for the upcoming release.

[2022-10-20 20:55] noahtalerman commented on #7676
@zwass I assigned you this issue. This epic is unblocked.

[2022-10-20 21:11] noahtalerman opened #8378 "Hosts table does not indicate default sort"
**Fleet version**: Observed in Fleet's dogfood environment

<hr/>

### 🧑‍💻  Expected behavior

Default sort should now be **Host** column ascending. I expect to see the ascending arrow highlighted, next to **Hosts**, when I navigate to the **Hosts** page.

If a user adds the **Hostname** column, the table should stay sorted by Hosts ascending and the Hosts table should indicate this.

### 💥  Actua

[2022-10-20 21:30] lukeheath commented on #8378
cc @mike-j-thomas since he first reported this behavior.

[2022-10-20 22:50] xpkoala commented on #8095
@RachelElysia I used the steps @roperzh had outlined to validate this fix and after the last step, applying the cfg.yml file a second time, I am met with this in the Fleet UI.

![image](https://user-images.githubusercontent.com/11012743/197073511-af39ec2c-536f-4aa4-94d4-499bbe230c80.png)

Should the first line read as follows?
`config: {}`

[2022-10-21 01:03] eashaw opened #8381 "Add links to table pages generated from schema files"
Add links to the Markdown partials generated from schema files

Update `build-static-content.js` to:
- [x] Add link to Evented tables label: https://fleetdm.com/guides/osquery-evented-tables-overview
- [x] Add link to "defaults to root" for columns that have `require_user_context`:  https://fleetdm.com/guides/osquery-consider-joining-against-the-users-table
- [x] Add UTM parameters:  `utm_source=f

[2022-10-21 02:18] mike-j-thomas commented on #8378
@lukeheath, @noahtalerman. Strange, I'm also no longer able to reproduce this. I initially came across it via Dogfood on the latest version of Chrome, macOS 12.6.

[2022-10-21 02:30] mikermcneil opened #8383 "Selecting a team, then deleting it, breaks the UI"
**Fleet version**: dogfood as of 2022-10-20 @ 19:30 PT

**Operating system**: Any

**Web browser**: Any
<hr/>

### 🧑‍💻  Expected behavior
I expected the UI to change back to "All teams" and work properly.

### 💥  Actual behavior
Instead, it appears to change back to "All teams" (though I suspect under the hood it hasn't actually), and then the UI breaks.
<img width="1789" alt="image" src="https://

[2022-10-21 03:46] mike-j-thomas commented on #7974
Thanks, @DrewBakerfdm. Here's a mockup of the banners. I have asked for Alex and Zay's opinions on the content in Slack. The QR codes are dummies, so we would need to activate those if you think we should include them.

![fleet-event-banner-mocks](https://user-images.githubusercontent.com/78363703/197107033-d4c1a01f-980a-4544-a708-387c543e950a.jpg)

[2022-10-21 04:24] DrewBakerfdm commented on #7974
![rounded qr code with UTM parameters](https://user-images.githubusercontent.com/89049099/197111641-b6f2d3a2-50b5-46ad-8410-3ab72a143e99.png)
![rounded qr code with UTM parameters black](https://user-images.githubusercontent.com/89049099/197111642-57c62427-ab6d-4481-b7d4-ae3801c337dc.png)
![rounded qr code with UTM parameters w blue](https://user-images.githubusercontent.com/89049099/197111643-a28

[2022-10-21 10:57] ghernandez345 opened #8384 "UI style polish for Auth pages"
A UI style polish pass for the auth pages including:

### Login

- change spacing button controls (xs)

### Reset Password

- change padding controls (xs)
- change "Send email" button text (xs)

**Fix values found here:**

https://docs.google.com/document/d/1x9E6fSzVSYwuMy0TQoRQUA8eMhZO09y4LakjCRZSHjo/edit#

[2022-10-21 11:04] ghernandez345 opened #8385 "UI style polish for Dashboard"
A UI style polish pass for the dashboard page including:

- vertically align team dropdown chevron (s)
- vertically align platform dropdown chevron (xs)
- smaller spacing between activity blocks. (xs)
- smaller spacing between details and timestamp (xs)

**Fix values found here:**

https://docs.google.com/document/d/1x9E6fSzVSYwuMy0TQoRQUA8eMhZO09y4LakjCRZSHjo/edit#

[2022-10-21 11:11] ghernandez345 opened #8386 "UI Style polish for Host and software pages"
A UI style polish pass for the dashboard page including:

### Hosts

- increase "edit column" button right margin (xs)
- remove hover styling  on disabled pagination buttons (xs)
-
### Software

- Change colour on the page text description in the page header (xs)

**Fix values found here:**

https://docs.google.com/document/d/1x9E6fSzVSYwuMy0TQoRQUA8eMhZO09y4LakjCRZSHjo/edit#

[2022-10-21 11:52] ghernandez345 opened #8387 "UI style polish for Query pages"
A UI style polish pass for the Query pages including:

### Query Page

- [x] center align empty state text (xs)
- [x] position matches schedule and policies empty state (xs)

# New Query Page
- [x] change the height of the gutter active line on the ace editor. also done on the show query modal. (xs)
- [x] shorter width for long table names, avoid collision with dropdown chevron (xs)
- [x] decrease

[2022-10-21 12:02] ghernandez345 opened #8388 "UI style polish for App Settings page"
A UI style polish pass for the App Settings page including:

- [x] fix metadata tooltip popup styling. Too much padding at end of the lines. (xs)
- [x] remove arrows on port input. occurs in firefox (xs)
- [ ] ~~remove setting title section divide line (xs)~~ mike t doesn't know what this is reffering to https://github.com/fleetdm/fleet/issues/8388#issuecomment-1292732888
- [ ] ~~shorten the agent

[2022-10-21 12:24] ghernandez345 opened #8389 "Add ability for whole table row to be clickable"
### Goal

On tables such as the software table, we want the whole row to be clickable and allow navigation to list of hosts, instead of a small clickable area on the right of the table.

#### Frontend

- [x] add the ability for the entire row to be clickable
- [x] handle interactions when there is already a clickable area inside of the table.
- [x] add that functionality to the software table so a

[2022-10-21 12:32] ghernandez345 opened #8390 "Remove additional whitespace in a table when Last Fetched column is the last column in the table"
When the last column of a table is the Last Fetched column, the Tooltip Wrapper component causes the table to have extra whitespace to the right. We want to fix this issue so there is no extra whitespace.

![image](https://user-images.githubusercontent.com/1153709/197196363-0a8c0d62-998f-4b9e-be04-edb1fbfda48e.png)

--

TODO: When working on this ticket, take the opportunity to consider whether we

[2022-10-21 12:38] ghernandez345 opened #8391 "Add table row hover highlighting for all tables"
We want to have hover styles for the rows on all tables. This is done on tables like software table and we want to emulate that hover styling on all table rows.

**A slightly darker row background colour shows when hovered over**

![image](https://user-images.githubusercontent.com/1153709/197197213-144af556-53ce-48d1-8e3c-1477e1ed9044.png)

#### Frontend

- [ ] add hover styling for rows.
- [ ] ma

[2022-10-21 12:43] ghernandez345 opened #8392 "Improve pagination styling across all tables"
We want to ensure consistancy of the pagination component across all tables. this includes:

- bolding all text on the buttons
- removing the hover styles when the buttons are disabled
- ensuring this is consistent for all instances of pagination

[2022-10-21 12:59] ghernandez345 opened #8393 "Keep consistent layout when error appears for inputs with TooltipWrapper labels."
We want to keep layout consistency when inputs that use TooltipWrapper labels show an error value. Currently, they jump slightly as the overall height of the label and the error message are not the same.

**These two states should not move the vertical layout of the inputs, which it currently does**

![image](https://user-images.githubusercontent.com/1153709/197201228-744cdd4e-0bff-46e7-9c7c-01cc3

[2022-10-21 13:08] ghernandez345 opened #8394 "UI style polish for tooltip and modals."
A UI style polish pass for the tooltips and modal components:

### Tooltip

- remove question mark cursor. (xs)

### Modals

- consistent width of all modals (s)

**Fix values found here:**

https://docs.google.com/document/d/1x9E6fSzVSYwuMy0TQoRQUA8eMhZO09y4LakjCRZSHjo/edit#

[2022-10-21 13:52] noahtalerman commented on #8378
Looks like the bug is no longer present! I also cannot reproduce. Closing this issue.

[2022-10-21 13:52] #8378 closed

[2022-10-21 14:17] RachelElysia commented on #8095
@xpkoala was able to reproduce the bug. One line fix ready for review, thank you for your patience! 🌻

[2022-10-21 14:43] chiiph commented on #8189
Here's a test Lucas did: https://github.com/fleetdm/fleet/pull/8313

[2022-10-21 15:15] marcosd4h commented on #8243
This bug might indeed be caused by [osquery/osquery#6679](https://github.com/osquery/osquery/issues/6679). I'm assigning the bug to me to further investigation. I'm also labeling this as an agent issue for the time being.

[2022-10-21 15:57] noahtalerman commented on #8153
@zhumo can you please review the first draft of the migration instructions (included in this issue's description) ?

[2022-10-21 16:07] xpkoala commented on #8383
To reproduce:
- Create a new team.
- Navigate to the hosts page and filter to that newly created team.
- Navigate back to the Team settings page and delete the team.
- Return to the hosts page and see that the banner mentions the deleted team.

[2022-10-21 16:14] #8095 closed

[2022-10-21 17:08] roperzh opened #8399 "Fleet fails to set-up if the domain contains the string "sandbox" but it's not a sandbox instance"
**Fleet version**: 4.21.0

<hr/>

### 🧑‍💻  Expected behavior

I'm able to set-up a Fleet instance even if the domain contains the word "sandbox" in it.

### 💥  Actual behavior

As reported by @rfairburn, he wasn't able to get past the set-up screen and afterwards he was constantly redirected to "/try-fleet/login"

### More info

After a quick scan we found this check:

https://github.com/fleetdm/f

[2022-10-21 17:09] roperzh commented on #8399
@lukeheath this doesn't strike me as super important, but I wanted to report what we saw. Assigning to you for triaging

[2022-10-21 17:40] xpkoala commented on #5805
@gstorme I'm sorry that this ticket has languished for so long. This is mostly a result of me losing track of it after assigning it to myself for investigation. While I haven't been able to reproduce your issue locally, after re-reading through the related thread, #4261, it seems like this warrants a bit more investigation from the engineering side of house.

If there have been any updates on your

[2022-10-21 17:42] noahtalerman commented on #8113
@RachelElysia FYI this issue was prioritized at product office hours on 2022-10-20.

[2022-10-21 17:47] noahtalerman opened #8401 "`GET /labels/{id}/hosts` endpoint does not support the `low_disk_space` filter"
### Current behavior

On the **Dashboard** page with macOS selected, when I click on **Low disk space**, I see a list of all hosts (all platforms) with low disk space.

### Expected behavior

As a user on the **Dashboard** page with the **macOS** platform selected, when I click on **Low disk space**, I want to see a list of macOS hosts with low disk space.

### Related
- #8546

### Design

https:/

[2022-10-21 17:47] noahtalerman commented on #8401
@RachelElysia FYI this was prioritized at product office hours on 2022-10-20.

[2022-10-21 17:49] noahtalerman commented on #7511
@RachelElysia do you think we can close this issue as a duplicate of the following issue? #8401

[2022-10-21 17:51] noahtalerman opened #8402 "Add ability to go back to filter list of Hosts"
### Goal

As a user on the **Hosts** page who adds filters, navigates to the 2nd page, and selects a host, I want to be able to select the **Back to all hosts** button and be taken back to the 2nd page of hosts with the same filters applied.

[2022-10-21 17:52] noahtalerman commented on #8402
cc @CharlotteChance

[2022-10-21 18:01] marcosd4h commented on #5805
I've assigned the bug to me. I'll try to reproduce the issue on different windows environments (desktop + server)

[2022-10-21 18:06] DrewBakerfdm commented on #5021
All of the future content pieces are living on https://docs.google.com/spreadsheets/d/1IzpoIfTc7cqc9g8w20fQfap3GFcrqgOaiPrpCkowcvA/edit#gid=1685561213

[2022-10-21 18:06] #5021 closed

[2022-10-21 18:06] DrewBakerfdm commented on #5581
Continue on https://github.com/orgs/fleetdm/projects/38/views/2

[2022-10-21 18:06] #5581 closed

[2022-10-21 18:19] DrewBakerfdm commented on #6378
Closed due to deprecation

[2022-10-21 18:19] #6378 closed

[2022-10-21 18:21] DrewBakerfdm commented on #4982
Old issue. Closing.

[2022-10-21 18:21] #4982 closed

[2022-10-21 18:28] DrewBakerfdm commented on #5011
Closing, it's no longer a priority.

[2022-10-21 18:28] #5011 closed

[2022-10-21 18:49] zhumo opened #8404 "Apple MDM Profile generation and pushing to hosts"
STUB ticket.

One thing to remember though is that we need to contemplate encrypted profiles.
- see page 39 of https://drive.google.com/file/d/1-gyrvegNPAHoFZGvBIHuo8H9anKz89pn/view

### Related
- Parent epic: https://github.com/fleetdm/fleet/issues/7726

[2022-10-21 18:50] chronicpulsesupplier opened #8405 "Direct link to host page with search parameter gets redirected to All Hosts"
### Goal

This has to do with the Hosts page on the Fleet UI. We are looking to do a little micro-automation of the analyst workflow on investigating suspicious activity on an endpoint. In our EDR tool we can pop open the host details page in a new browser tab, but on Fleet we get bounced back to "All Hosts". Here is where we are trying to link (<> are parameters):

`https://<our_fleet_server>/hos

[2022-10-21 19:13] michalnicp commented on #4754
Thanks for all your work taking a look at this. I made some minor tweaks and tested on MacOS. I was a little unsure about using the `broadcast` to select the right address. Instead, I changed it so that it tries to select the ipv4 address by checking if there are any `.` in the string. This isn't an overly robust approach, but I think it's safe enough if we know we are dealing with either ipv4 or

[2022-10-21 19:19] zhumo opened #8406 "Unroll jsonb data in usage statistics for host os & os version"
### Problem
When I want to do analysis on what hosts and host versions our customers have to better understand our customers, I am unable to get to the data because it is stored in JSON format in a CSV. I have to write jsonb query in special SQL, which I couldn't figure out how to do, or I have to install a JSON unwrapping plugin in google sheets, which makes our security team uncomfortable. Meanw

[2022-10-21 20:09] zhumo commented on #6680
Hey @zwass, was this released already? And has this endpoint been documented?

[2022-10-21 20:11] zhumo commented on #6064
Hey @roperzh, I see this is about to be released. Has there been documentation written for it? i.e. how often it rotates, how the rotation works etc.? I think the documnetation is important here because it helps to address security concerns.

[2022-10-21 20:21] zwass commented on #6680
Yes, this was released in 4.21 and is documented in https://fleetdm.com/docs/contributing/api-for-contributors#get-fleet-desktop-information. The new endpoint is now used in Desktop 1.3.0.

[2022-10-21 20:22] #6680 closed

[2022-10-21 21:03] noahtalerman commented on #8153
@noahtalerman ask for the script that runs the `sudo profiles renew --type enrollment` command.

[2022-10-21 22:59] zhumo opened #8409 "Link to help guides for evented tables and defaults-to-root-user tables query builder"
## Problem
The tables should link to useful resources for common questions about tables. In particular, evented tables and columns that default to root user require more information in order to be used successfully.

## Business Case

This will help our users get the most out of Fleet sooner, leading to greater satisfaction and retention. In particular, it will reduce the time it takes to write a

[2022-10-22 00:05] zhumo opened #8411 "Allow user role to be set at creation for JIT user provisioning"
### Problem
When different groups start using Fleet, a fleet administrator might use just-in-time user provisioning to remove the need to manually create accounts. Currently, by default, all JIT users are observers. However, frequently, members of different groups in the administrator's organization might require different permission levels. In this situation, the fleet administrator will need to

[2022-10-22 02:44] zhumo opened #8413 "Create report dashboard for high-level fleet metrics"
## Problem

A user who is a director or higher in a security organization needs to regularly report the company's security posture to the C-suite and the board. Currently that information is not readily available, requires manual calculation, or has poor data quality.  Fleet contains a lot of aggregated data that is authoritative and complete, but while it is accessible at the individual host leve

[2022-10-22 16:08] zhumo opened #8416 "Ship audit activity to external destinations"
## Problem

As a Fleet admin who is expanding my Fleet user base to other teams/groups/departments in my organization, I want to aggregate users' Fleet activity in an external destination built for storage and analytics purposes, so that I can analyze user activity in case of issues or set up monitoring to detect non-standard usage.

## Business Case
This enables Fleet to be used by a more diverse

[2022-10-24 11:40] roperzh opened #8419 "Reduce the time that Fleet Desktop takes to get policy information for premium installs"
### Goal

Show policy information in Fleet Desktop's system tray as soon as possible, currently premium installs have to wait up to 5 minutes to get compliance info.

### How?

We currently span a goroutine to check for policies every 5 minutes, and we wait for the tick at the start of the loop:

https://github.com/fleetdm/fleet/blob/f6965c5dcee988bc7a3e4097e142eddce0575c50/orbit/cmd/desktop/deskt

[2022-10-24 12:45] #8291 closed

[2022-10-24 12:53] mna commented on #7675
@noahtalerman sounds good, thanks! Didn't realize I could export from figma.

Will do, but just to be clear - this section of the tickets was already like that, so it will be a change from what was already released.

[2022-10-24 13:14] mna commented on #7675
Updated Zendesk ticket with bold (Jira was already bold):

![Zendesk-Vuln-Bold-Buttons](https://user-images.githubusercontent.com/692384/197534061-56d055be-e1ab-4c5e-a1ea-50bf9996026b.png)

[2022-10-24 13:19] noahtalerman commented on #7675
I think this is ok. Thanks for the heads up 👍

@mna your [latest Zendesk ticket](https://github.com/fleetdm/fleet/issues/7675#issuecomment-1289016696) looks great!

[2022-10-24 13:34] mna opened #8421 "Support Redis 7"
## Goal

| User story  |
|:---------------------------------------------------------------------------|
| As a Fleet contributor,
| I want Fleet to support Redis 7
| so that I can remove deprecated Redis features and ship stable Fleet releases.

## Context
- Requestor(s): _________________________
- Product designer: _________________________

1. Redis 7 has been released recently and deprecates a

[2022-10-24 14:10] noahtalerman commented on #8360
Where do you go to create profiles for settings?

Where do you go to check which settings you have configured?

Do you ever check for hosts that have not updated settings?

Why don't we check all MDM settings in dogfood?

[2022-10-24 14:15] RachelElysia commented on #8402
@noahtalerman SGTM I already pushed a PR that should work for most filters already. Probably going to wrap this into another open PR I have #8352

[2022-10-24 14:17] noahtalerman commented on #8402
@RachelElysia great! Does your PR address the following goal? Does it address more? (different pages or different behavior)

[2022-10-24 14:19] noahtalerman commented on #8402
@lukeheath heads up, it sounds like Rachel is working on a PR that addresses this issue.

[2022-10-24 14:39] noahtalerman commented on #8401
@lukeheath does the current `GET /hosts` API allow filtering by platform + low disk space?

[2022-10-24 14:48] mna commented on #7675
@noahtalerman Heads-up, when I export the Zendesk screenshot from Figma, I get your name in the ticket instead of Anna Walsh, and no picture. Not sure what's up with that, but I tried different layer selections, clicking on export always gets me the screenshot with your name in the ticket. My guess is that the Anna Walsh mock-up was added after the fact and is not part of the screenshot? Or I'm do

[2022-10-24 14:49] mna commented on #7675
@noahtalerman Nevermind! I figured it out by using the whole block instead of the image. Sorry about the noise!

[2022-10-24 15:25] lukeheath commented on #8402
@RachelElysia If you decide to wrap this into your existing PR please go ahead and put a point estimate on this ticket and bring onto the release board. Thanks!

[2022-10-24 15:31] lukeheath commented on #8248
@mna Thanks for the research!

[2022-10-24 16:18] #5386 closed

[2022-10-24 16:18] #5389 closed

[2022-10-24 16:18] #5470 closed

[2022-10-24 16:18] #5785 closed

[2022-10-24 16:18] #6001 closed

[2022-10-24 16:18] #6027 closed

[2022-10-24 16:18] #6348 closed

[2022-10-24 16:18] #6423 closed

[2022-10-24 16:18] #6946 closed

[2022-10-24 16:18] #6970 closed

[2022-10-24 16:18] #7057 closed

[2022-10-24 16:18] #7062 closed

[2022-10-24 16:18] #7073 closed

[2022-10-24 16:18] #7135 closed

[2022-10-24 16:18] #7136 closed

[2022-10-24 16:18] #7199 closed

[2022-10-24 16:18] #7310 closed

[2022-10-24 16:18] #7377 closed

[2022-10-24 16:18] #7420 closed

[2022-10-24 16:18] #7533 closed

[2022-10-24 16:18] #7587 closed

[2022-10-24 16:18] #7588 closed

[2022-10-24 16:18] #7589 closed

[2022-10-24 16:18] #7593 closed

[2022-10-24 16:18] #7649 closed

[2022-10-24 16:18] #7656 closed

[2022-10-24 16:18] #7664 closed

[2022-10-24 16:18] #7696 closed

[2022-10-24 16:18] #7784 closed

[2022-10-24 16:18] #7800 closed

[2022-10-24 16:18] #7804 closed

[2022-10-24 16:18] #7823 closed

[2022-10-24 16:18] #7835 closed

[2022-10-24 16:18] #7878 closed

[2022-10-24 16:18] #7906 closed

[2022-10-24 16:18] #7912 closed

[2022-10-24 16:18] #7913 closed

[2022-10-24 16:18] #7926 closed

[2022-10-24 16:18] #7989 closed

[2022-10-24 16:18] #7992 closed

[2022-10-24 16:18] #8009 closed

[2022-10-24 16:18] #8010 closed

[2022-10-24 16:19] #8013 closed

[2022-10-24 16:19] #8031 closed

[2022-10-24 16:19] #8085 closed

[2022-10-24 16:19] #8105 closed

[2022-10-24 16:19] #8106 closed

[2022-10-24 16:19] #8109 closed

[2022-10-24 16:19] #8146 closed

[2022-10-24 16:19] #8161 closed

[2022-10-24 16:19] #8197 closed

[2022-10-24 16:19] #8209 closed

[2022-10-24 16:19] #8215 closed

[2022-10-24 16:19] #8233 closed

[2022-10-24 16:19] #8235 closed

[2022-10-24 16:19] #8295 closed

[2022-10-24 16:19] #8296 closed

[2022-10-24 16:19] #8348 closed

[2022-10-24 16:19] #8359 closed

[2022-10-24 16:19] #8361 closed

[2022-10-24 16:19] #8370 closed

[2022-10-24 16:19] #8371 closed

[2022-10-24 16:51] RachelElysia commented on #8402
@lukeheath @noahtalerman just linked the PR and added a point value

@noahtalerman -- any thoughts on having hosts/{id}/software route param for host details page? I could roll that into this so back to software button also goes back to the appropriate page, probably only an extra hour of work.

[2022-10-24 16:58] RachelElysia commented on #8391
@lukeheath pulling this into release too since it's [somewhat] related to my view all hosts link

[2022-10-24 17:09] noahtalerman commented on #8402
@RachelElysia I think this is a great idea. That being said, I prefer to address this later.

This way, we can spend more time thinking about the experience. For example, we can decide if the button say `Back to host`, `Back to {hostname}`, or something else.

If you get the chance, can you please add your idea to the product office hours doc? https://docs.google.com/document/d/1mwu5WfdWBWwJ2C3zFD

[2022-10-24 17:48] RachelElysia commented on #8402
@noahtalerman done

[2022-10-24 18:49] gstorme commented on #5805
Hey, meanwhile the Fleet version is 4.21.0 and osquery version ranges from 5.0.1 - 5.5.1.
Unfortunately I don't remember nor can't seem to find any hosts that still have this issue...
If there's a query I can run on the mysql fleet db to find any hosts that don't have any software, please share, otherwise I don't think this issue is still relevant (at least not for me)

[2022-10-24 19:51] RachelElysia opened #8429 "Host Details > Munki issue table does not link to all hosts with issue"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

dogfood and main

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Correct me if I'm wrong, I'd expect to filter all hosts with the munki issue from the host details page because I am able to filter all hosts with the same munk

[2022-10-24 20:33] lukeheath commented on #8409
@zhumo Questions on this one:

1) Is the URL you provided for "defaults to root user" for this white "Defaults to root user." text in this tooltip?

![Image](https://user-images.githubusercontent.com/2495927/197622838-a5d687d1-5612-49bb-a06a-9b5e7f3388c6.png)

If so:
- It looks like the link treatment is white bolded text, but there are other cases where we have white bolded text that is not a lin

[2022-10-24 20:33] lukeheath commented on #8113
@RachelElysia I'm assigning this ticket to you for specs.

[2022-10-24 20:34] lukeheath commented on #7902
@ghernandez345 I'm assigning this ticket to you for specs.

[2022-10-24 20:34] lukeheath commented on #6799
@ghexp I'm assigning this ticket to you for specs.

[2022-10-24 20:35] lukeheath commented on #8226
@RachelElysia, I'm assigning this ticket to you for specs. I _think_ the existing endpoint already returns all of this data. Would you please check the endpoint response directly and confirm?

[2022-10-24 20:41] ghexp commented on #6799
@lukeheath I think the assignment was intended for someone else.  Maybe @ghernandez345 ?

[2022-10-24 20:49] lukeheath commented on #7805
@fx5 I am assigning this ticket to you for specs. Please let me know if you have any questions. Thanks!

[2022-10-24 20:52] lukeheath opened #8430 "Add checkboxes to mark a policy as critical"
### Goal
As a Fleet user, I want to be able to mark a policy as critical (high impact) so that I can route the failing policy webhook for critical policies to my VPN. This way, if a workstation is failing a critical policy, I can block its access to my VPN.

### Requirements
- **Premium only feature**
- A user can mark a policy as Critical
- critical property is included in webhook payload and exa

[2022-10-24 20:53] lukeheath commented on #8430
@ghernandez345 I'm assigning this ticket to you for specs (if any additional are needed.)

[2022-10-24 21:10] lukeheath commented on #7808
@fx5 I am assigning this ticket to you for specs. Please let me know if you have any questions.

[2022-10-24 21:10] lukeheath commented on #6024
@mna I am assigning this ticket to you for specs. This goes along with combining schedules and queries.

[2022-10-24 21:20] RachelElysia commented on #7440
@noahtalerman @mike-j-thomas

The tooltips on this page still use the arrow and old styling. do we want all the styling to be like the new tooltips (e.g. no arrow, this color, underline as an indication something has a tooltip)?

[2022-10-24 21:22] eashaw commented on #8406
@zhumo We can update the website to change the `hostsEnrolledByOperatingSystem` before we send it to the Heroku database.

Can you give me an example of how you would want that data to look?

[2022-10-24 22:06] noahtalerman commented on #8409
@lukeheath I just chatted with @zhumo.

Yes. Links in the tooltips should get underlined to indicate that they're clickable.

I think this is accidental. However, I think it's ok for now. cc @mike-j-thomas

[2022-10-24 22:07] lukeheath commented on #8409
@noahtalerman

Great, thanks.

No worries, as long as we know not to change the tooltips that are currently implemented.

[2022-10-24 22:08] lukeheath commented on #8409
@ghernandez345 This is the ticket for links in the query side panel. Assigning you to review the specs and update as needed for implementation.

[2022-10-24 22:14] michalnicp opened #8431 "Improve error message on T_C_NOT_SIGNED"
### Goal

When there is a `T_C_NOT_SIGNED` error returned by Apple's device management servers ie when making MDM requests, we should print a more helpful error message that includes instructions on how to resolve it. Currently, we print an error like

[code]

Consider linking to https://support.apple.com/en-us/HT203063

### How?

- [ ]

[2022-10-24 22:15] lukeheath commented on #8401
@noahtalerman

Yes, the `GET /hosts` endpoint supports combining any number of filters. This may have performance implications depending on the filters and number of hosts. The UI does not currently allow multiple filters, but we could quickly change that.

The `/hosts/manage/labels` endpoint can also be quickly updated to support the `low_disk_space` filter. It is not currently implemented, but t

[2022-10-24 22:17] michalnicp commented on #8167
#8267 seems to fix the issue for manual enrollment. However, for DEP automatic enrollment, it still fails the 1st time and succeeds on the second.

[2022-10-24 22:21] chris-mcgillicuddy commented on #8252
PR [#8357](url) was merged on Friday, 10/21.

[2022-10-24 22:21] #8252 closed

[2022-10-24 22:24] lukeheath commented on #6799
@ghexp My apologies, and thanks for letting me know! You're correct; I meant to tag @ghernandez345.

[2022-10-24 22:32] lukeheath commented on #7440
@RachelElysia Second time this question has come up today! The answer on the other Figma was that it was not intentional to change the tooltips; the Figma had outdated elements. Unless there is a dev note indicating the tooltips are changing, it is likely the same case here.

@mike-j-thomas @noahtalerman Because we are spec'ing directly against Figma, it's important that the screens we receive ref

[2022-10-25 09:55] fx5 commented on #7860
I believe point 4 "Add new GET /hosts/summary/{id}/mdm endpoint to return MDM information about a specific host." should be "hosts/{id}/mdm", right?

[2022-10-25 13:24] clawoflight opened #8433 "Enable correct display of more linux distros"
This is a follow-up to the bug in #6760: many linux distros are not correctly displayed, even though the queries themselves work just fine.

I would kindly ask you to add these 2 `host.platform` values to the whitelist:

- arch
- linuxmint

Also note that there is a `host.platform_like` column. Maybe checking for matches there in addition to host.platform will make it easier to get correct output

[2022-10-25 13:49] noahtalerman commented on #7440
@RachelElysia this is a great call out. For now, no. We can leave the other tooltips (tooltips that already exist) as is.

@lukeheath totally agree. Thanks for calling this out.

@mike-j-thomas FYI the first time this tooltip question came up is in a separate query console issue: https://github.com/fleetdm/fleet/issues/8409#issuecomment-1289579181

For this issue (display disk encryption) specific

[2022-10-25 14:10] noahtalerman commented on #8401
Got it.

Right.

To achieve the goal I think the UI will have to support either low disk space + labels or low disk space + platform. For both, it will take some effort to design this UI.

I deprioritized this issue and removed it from the roadmap board. Reasoning:
- There is relatively significant engineering or design effort to achieve the goal.
- We haven't heard about this request from custome

[2022-10-25 15:04] lukeheath opened #8434 "Add automated testing coverage for sandbox functionality"
## Problem

There are no automated tests for Fleet sandbox functionality, so we rely 100% on manual testing to find bugs or issues.

## Business Case

Sandbox is one of the primary ways new users trial Fleet. If it has bugs, it creates a poor experience that is less likely to convert to long-term users. A testing spec dedicated to the sandbox will help ensure that bugs do not make it to production

[2022-10-25 15:52] RachelElysia commented on #7440
@noahtalerman are we surfacing this information on the Fleet desktop device user page as well?

[2022-10-25 16:15] noahtalerman commented on #7440
@RachelElysia yep!

As a heads up, the near future plan is for the top card and About card to show all info on the **Host details** and **My device** pages. Here's the issue for this: #8226

cc @lukeheath

[2022-10-25 16:52] noahtalerman commented on #8153
@michalnicp can you please help us answer these questions?
- Can we run the profiles renew command for the user?
- Do we need to upgrade a standard user to admin to run the command? Can the standard user accept the new profile?
- Can we open Profiles for the user?

[2022-10-25 17:02] RachelElysia commented on #7440
@noahtalerman thanks for all the info, literally! I'll go ahead and update the spec and my PR.

[2022-10-25 17:31] zhumo opened #8438 "Include host IDs in /software API endpoint"
## Problem

Fleet admins who want to incorporate Fleet's software, host, and vulnerability data into their asset tracking system regularly ping the /software endpoint to get the latest set of software. However, currently the /software endpoint only returns the count of hosts. So the Fleet admin has to issue another API call to `/hosts?software_id=X` to get the list of hosts.

The /hosts endpoint i

[2022-10-25 17:43] xpkoala opened #8439 "Fleet Desktop fails to connect to Sandbox instance"
**Fleet version**: 4.22

**Operating system**: macOS 13.0

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
After installing Fleet Desktop on a host from a Sandbox instance Fleet Desktop would work as intended.

### 💥  Actual behavior
All Fleet Desktop options stay grayed out and an error is present in the Desktop logs.

### More info

`ERR get device URL error="decode GET /api/latest/fleet

[2022-10-25 17:50] chiiph commented on #8438
@zhumo

We should make this not the default case, because that would slow down the UI and we won't use it. But we can conditionally enrich the data with this if requested.

[2022-10-25 17:53] xpkoala commented on #8429
@RachelElysia I just found the Figma page and it doesn't look like it was specced to include a 'view all hosts' button on this specific card. Could you double check me? https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/🚧-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=7647%3A273670

[2022-10-25 17:58] zhumo commented on #8153
@noahtalerman I reviewed them in a word doc: https://docs.google.com/document/d/1Lzx35dYFWFPTUYWGWYXfvGCLHcy2QX1Uuy64izBPa78/edit?usp=sharing

[2022-10-25 18:05] zhumo commented on #8406
Hey @eashaw, sure! For now, let's keep the column with the jsonb, but add 3 more columns: Mac count, Windows count, Linux count. In the future, I think we will want to look at OS version counts but for now, the high level OS count is already great information. Does that answer your question?

[2022-10-25 18:19] RachelElysia commented on #8429
Nice find! Yeah, it looks like it wasn't specced to include a view all host button.

On the host details page, there is a view all host button for the software table and for the policy table. I wonder if there was a rationale for not including a view all host button for the munki issue table? Even though we have one on the dashboard?

@noahtalerman

[2022-10-25 18:45] zhumo opened #8440 "Apple MDM client certificate not removed when unenrolled"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

The client certificate that gets issued to a device during MDM enrollment should have a proper subject name when viewed in the Keychain Access app. It should also get removed whe

[2022-10-25 18:47] zhumo commented on #8175
Hey @michalnicp, Tomas and I broke this up into two issues (other one here: https://github.com/fleetdm/fleet/issues/8440) and linked them to the MDM epics.

[2022-10-25 19:31] noahtalerman commented on #7440
Ha!

[2022-10-25 19:41] ksatter opened #8443 "Hosts API returns an error for some columns when using the `after` key"
**Fleet version**: 4.22.0

<hr/>

### 🧑‍💻  Expected behavior
When including the `order_by` and `after` keys in a request to the `/hosts` API endpoint, I should receive a list of hosts that match that criteria:

Request:

[code]

Response:

[code]

### 💥  Actual behavior

When using the `created_at` and `updated_at` columns, I receive an error.

Request

[code]

Response

[code]

I can get around t

[2022-10-25 19:54] RachelElysia opened #8444 "Fleet UI: Activity feed apply_spec_team not showing in UI causing pagination to load more not to render"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
main

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_
chrome

<hr/>

### 🧑‍💻  Expected behavior

I see 8 activities at the activity feed with the ability to load more if I have more than 8 activities on my fleet.

### 💥  Actual behavior

I only see 7 activities a

[2022-10-25 20:22] RachelElysia commented on #8444
I can build a frontend work around... or we can have product decide on the intended activity text to render in UI...

[2022-10-25 20:45] noahtalerman commented on #8429
@RachelElysia @xpkoala not including the View all hosts link was intentional. I removed the bug label.

However, I can't remember the reason for not including it. I also think it's a great idea to add it. I added this issue to product office hours: https://docs.google.com/document/d/1mwu5WfdWBWwJ2C3zFDOMSUC9QCyYuKP4LssO_sIHDd0/edit#heading=h.zahrflvvks7q

[2022-10-25 20:47] xpkoala commented on #8429
Thanks all, I'm going to close this out.

[2022-10-25 20:47] #8429 closed

[2022-10-25 21:31] mikermcneil commented on #7808
ETA: in stable release, Dec 1

[2022-10-25 21:34] mikermcneil commented on #7808
fyi @erikng

[2022-10-26 04:57] mike-j-thomas commented on #7974
Here you go, @DrewBakerfdm.

Please confirm, but it should be good to go.

[fleet-event-banner-33x81-1.pdf](https://github.com/fleetdm/fleet/files/9866312/fleet-event-banner-33x81-1.pdf)

[fleet-event-banner-33x81-2.pdf](https://github.com/fleetdm/fleet/files/9866314/fleet-event-banner-33x81-2.pdf)

[2022-10-26 13:32] mna commented on #7765
@lukeheath @noahtalerman

This is not true anymore, now that we're doing this as a v5 breaking change, right?

[2022-10-26 13:32] RachelElysia opened #8449 "Minor styling fixes: Wrong x icon, wrong plus icon"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
Dogfood, released

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

The + icons look normal, the x icon matches the color scheme

### 💥  Actual behavior

<img width="1425" alt="Screen Shot 2022-10-26 at 9 31 26 AM" src="https://

[2022-10-26 13:34] mna commented on #7765
@lukeheath @noahtalerman

As discussed on the v5 queries google doc, we won't support snapshot, removed, platform, shard, and version properties anymore (just to confirm, and I'll remove them from the ticket).

[2022-10-26 14:12] juan-fdz-hawa commented on #7993
Hey all, I think I'm done with the load testing. I ran 7 trials, for each I varied the rate, the number of features, the number of rows generated per feature and the probability of generating new feature data on each query. I'll go through each run one by one but first, let me explain how the test data was generated and how the parameters can be varied.

## Test data generation

After deploying ht

[2022-10-26 14:21] mna opened #8450 "v5 queries: DB migrations and migrate existing queries/packs/schedules"
### Goal

Combine the query and schedule features to provide a single interface for creating, scheduling, and tweaking queries at the global and team level.

This ticket is for the implementation of the DB migrations (new and modified tables) and the migration of existing queries (aka "v4 queries") to the new structure, also based on packs and scheduled queries.

### Requirements

TODO(mna): fill

[2022-10-26 14:25] mna opened #8451 "v5 queries: API endpoints to support the UI"
### Goal

Combine the query and schedule features to provide a single interface for creating, scheduling, and tweaking queries at the global and team level.

This ticket is for the implementation of the API endpoints that support the frontend (list, get, create, update, delete queries, manage automations, live queries).

### Requirements

TODO(mna): fill from ticket 2 in https://docs.google.com/do

[2022-10-26 14:27] mna opened #8452 "v5 queries: API endpoints to support the CLI"
### Goal

Combine the query and schedule features to provide a single interface for creating, scheduling, and tweaking queries at the global and team level.

This ticket is for the implementation and changes required to the API endpoints to support the CLI (`fleetctl`) and the changes to the CLI itself.

### Requirements

TODO(mna): to be filled from ticket 3 in https://docs.google.com/document/d/

[2022-10-26 14:30] mna opened #8453 "v5 queries: remove/cleanup unnecessary query/pack/schedule-related code from v4"
### Goal

Combine the query and schedule features to provide a single interface for creating, scheduling, and tweaking queries at the global and team level.

This ticket is about the removal of dead code following migration to the v5 queries.

### Requirements

TODO(mna): to be filled from ticket 4 in https://docs.google.com/document/d/1o0rMSnjg_oFLmW-8ggzjZxQCy7UePYB1dsuol_3iSB4/edit#heading=h.fx

[2022-10-26 14:36] lukeheath commented on #7765
@mna Correct. The API will not be backward compatible. Migrations only need to migrate queries. How we're going to handle packs is still TBD.

[2022-10-26 14:40] mna opened #8454 "Store the license in the context to avoid having to pass it around everywhere"
The fleet license is something that needs to be accessed in multiple places in the code, usually to verify its tier for premium features. While it is good practice to have explicit dependencies, the license feels like a good candidate to have stored in the context as it is a static value set at program startup and something that needs to be accessed in various layers of the code.

The only concern

[2022-10-26 15:31] mikermcneil commented on #7894
What's left on this issue?

[2022-10-26 17:23] zwass opened #8456 "Add mechanism to get memory/CPU profiles from Orbit"
### Goal

Improve visibility into debugging Orbit memory/CPU issues by adding a mechanism to get Go's standard pprof profiles from a running Orbit process.

### How?

Attach a signal handler on `SIGUSR1` (Let's ignore Windows for now) that will output profiles in a `.tar.gz` archive.

The output archive should be written to a `profiles` directory inside the Orbit root directory. The archive name s

[2022-10-26 17:24] eashaw commented on #8223
@zwass There is a draft PR to add the API here: https://github.com/fleetdm/fleet/pull/8408
There are a couple of things to note:
- The request method for the new API is `GET`.
- The API will accept `orgName` as a parameter. This was changed because `org_name` does not match the website's naming conventions.

[2022-10-26 17:45] zwass commented on #8223
@eashaw Thank you. We are going to need to make some changes to the input parameters of the binary, but the general concept should remain similar. I'll reach back out when we have that ready to go.

[2022-10-26 17:49] roperzh commented on #8439
I updated the issue description to note that this bug is not present in 4.22, only in current unreleased `main`

[2022-10-26 18:23] RachelElysia commented on #7209
@lukeheath do we want to a) prioritize #8152 to this release which is the backend portion of this (measure twice cut once) or b) remove this from the release?

[2022-10-26 18:40] DrewBakerfdm commented on #7974
Thank you for putting these together! I've reviewed/submitted the order and should receive them with plenty of time before the New York event.

[2022-10-26 18:40] #7974 closed

[2022-10-26 18:41] DrewBakerfdm commented on #7974
![image](https://user-images.githubusercontent.com/89049099/198109566-90d3f483-40d1-4dac-820b-5a1deb2ce0c3.png)

[2022-10-26 18:59] RachelElysia commented on #8388
it's hard to build out UI that is verbally asked for (like removing the title section divide line) without a source of truth.

This is a prime example of the figma mocks not being finalized before asked to code and having to go back with design/product/engineering to address the issues but ALSO not having any figma to refer to while addressing...

This is the best I could find:

https://www.figma.

[2022-10-26 19:46] noahtalerman commented on #8206
@zwass I assigned you this issue and moved the issue to the designed column. This issue is ready for spec'ing and estimation.

[2022-10-26 19:59] zhumo opened #8460 "Include Kolide Launcher tables in fleetd"
## Problem

Kolide's launcher plugin includes many useful tables including ioreg, airdrop, touchid_system_darwin, mdfind, and crowdstrike. These are useful tables for almost all IT and security practitioners. However, launcher need to be installed manually alongside Fleet Desktop's set of pre-installed extensions.

## Business Case

Providing more powerful default tables out of the box, esp. for t

[2022-10-26 20:02] noahtalerman commented on #8206
@zwass @michalnicp do you know how long it takes to remove all profiles from the host?

I'm wondering because we'd like the UI to behave as if this happens in under 5 seconds. To illustrate this, check out the Figma wireframes here: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=10140%3A317654

You can imagine the user clicks **Turn off**,

[2022-10-26 20:05] mikermcneil commented on #8460
fyi @erikng

[2022-10-26 20:12] artemist-work commented on #8456
Is this happening in the desktop version or the CLI Version? The CLI version (in https://github.com/fleetdm/fleet/tree/main/orbit/cmd/orbit) already has a signal handler that I could expand, or I could add this to some core orbit function which IMO would be uglier.
In any case, do we have documentation about developing orbit? I'm having trouble figuring out how to get it to build.

[2022-10-26 20:38] zhumo opened #8461 "Track usage of queries in Fleet in weekly usage stats"
## Problem
Currently, we have low visibility into usage on Fleet. One of these is the usage of the various flavors of queries: live, saved, scheduled, and packs. We currently have policies. Knowing how popularly used these are will allow us to identify gaps in usage and  direct our product attention to the right area.

## Business Case
Knowing this information reduces the risk of sending our team

[2022-10-26 20:45] noahtalerman commented on #8153
@zhumo I responded to your comments and made changes in the word doc: https://docs.google.com/document/d/1Lzx35dYFWFPTUYWGWYXfvGCLHcy2QX1Uuy64izBPa78/edit?usp=sharing

These instructions are still in "skeleton" form. This means that they include the least amount of steps/verbiage necessary (I think) and no images.

Can you please review the instructions for structure and information (are steps in

[2022-10-26 20:52] noahtalerman commented on #8404
@zhumo is this a duplicate of the following issue? #8360

If yes, can you please close one? Thanks :)

[2022-10-26 21:34] michalnicp commented on #8206
I am assuming the question is "how long it takes to unenroll from MDM?".

There are several ways to unenroll a host from MDM.

1. MDM server sends an MDM RemoveProfile command to remove the MDM configuration profile. A message is sent to APNs to wake-up the device. The device then checks in with the MDM server to fetch the queued command and execute it. This happens within a few seconds if the dev

[2022-10-26 21:47] gillespi314 opened #8463 "Implement proposal for schedule trigger"
See related proposal #8127

[2022-10-26 22:12] gillespi314 commented on #8369
@zhumo, I changed the title back to the original title since this PR itself does not enable on-demand refresh. Let's track the on-demand piece in a separate issue. Thanks!

[2022-10-26 22:28] michalnicp commented on #8206
From the requirements

Afaik, this happens automatically on the device when it's unenrolled from MDM. There is no additional action necessary to make this happen.

[2022-10-26 22:29] mike-j-thomas commented on #8388
Hey @RachelElysia,

I don't know what item this is referring to. It doesn't appear to be in the linked doc.

I'm currently working on a style guide that will become the source of truth for the layout and components. I know it's not ideal having this polish pass punch list handed to you without having that to refer to yet, but please bear with me in the meantime 🙏🏻

[2022-10-26 22:43] zhumo commented on #8404
Thanks for pointing this out.

The one piece of this that is not included is the encrypted profiles. Recently, we decided not to go forward with encrypted profiles for MDM launch. So I'll close this. Let's dig this back up when that comes back up.

[2022-10-26 22:43] #8404 closed

[2022-10-26 23:15] michalnicp commented on #8153
Yes. We should evaluate whether there are any security concerns with orbit running the `profiles` command. Also, the user still needs to accept the profile in order to complete enrollment. For security reasons, I think Apple requires someone to actually click on the allow button.

<img width="612" alt="Screen Shot 2022-10-26 at 4 56 13 PM" src="https://user-images.githubusercontent.com/39177923/19

[2022-10-26 23:21] zhumo commented on #8153
@noahtalerman I put in some more comments.

Before gussying it up via Chris and Mike, I'd like to validate these instructions. Once you and I feel good about them, can we get eng's and Guillaume's feedback on it? Once we have alignment there, we can close this issue.

After that, once we have the full add-remove loop in dogfood, I'd like to have some of our employees use these instructions blind,

[2022-10-26 23:26] #8286 closed

[2022-10-27 13:39] noahtalerman commented on #7765
@RachelElysia: @noahtalerman @mike-j-thomas  don't forget empty state and error state <3

Thanks! I think the error state for the Queries page will be the same as the current error state.

@mike-j-thomas can you please help us with a new empty state for the Queries page? Linking to the current empty state in the deprecated Fleet EE current Figma here: https://www.figma.com/file/qpdty1e2n22uZntKUZK

[2022-10-27 13:42] noahtalerman commented on #8206
Michal: I don't think it's a good idea to disable the button if the host is offline. There is no requirement that the device be online to unenroll it. Having to wait for the device to be online (according to osquery) in order to unenroll it may be a poor user experience. The only negative if the device is online is that it will not immediately respond. Also, if osquery stops working on a host for

[2022-10-27 13:47] noahtalerman commented on #8206
That's right.

Agreed that this is not the ideal experience.

@michalnicp does disabling the button when the host is offline now prevent us from improving the experience later? I don't think so but I could be missing something.

This issue's goal is to give the Fleet team and early MDM adopters a way to complete the full turn on MDM + turn off MDM loop in the UI. We're ok with sacrificing the abil

[2022-10-27 13:53] noahtalerman commented on #8206
@michalnicp yes.

Great. Can Fleet error loudly if Apple doesn't respond within 5 seconds? This way, we can come back to the experience around queued commands. For now, to the user, the "Turn off MDM" action has the illusion of being successful or not within 5 seconds.

[2022-10-27 13:55] noahtalerman commented on #8153
@zhumo got it! Makes sense.

👍

[2022-10-27 14:48] noahtalerman commented on #8248
Noah and Luke: This could come after Fleet 5.0

[2022-10-27 14:49] noahtalerman commented on #7347
Noah and Luke: The API changes could come after Fleet 5.0.

Noah: We could make the change on frontend only.

[2022-10-27 14:49] noahtalerman commented on #3916
@mikermcneil heads up, I deprioritized this issue. I don't think this is something we'll take on in the next 6 months.

[2022-10-27 14:49] #3916 closed

[2022-10-27 14:51] noahtalerman commented on #2949
@mikermcneil heads up, I deprioritized this issue. I don't think we want to turn on vulnerable software for folks that still have this off.

Vulnerable software is on by default for new Fleet instances.

[2022-10-27 14:51] #2949 closed

[2022-10-27 14:53] noahtalerman commented on #2148
It looks like the desired behavior, using the plural `teams`, is what's implemented.

[2022-10-27 14:53] #2148 closed

[2022-10-27 14:54] zwass commented on #8206
I think the biggest issue with the error after 5 seconds is that the command might then succeed after 6 seconds but we've just told the user it failed. I'm not sure we can reliably remove a command from the queue on that short a timeframe.

[2022-10-27 14:55] noahtalerman commented on #1903
Noah and Luke: This can wait until after Fleet 5.0.

[2022-10-27 14:58] noahtalerman commented on #265
@zwass how important is this change? Is this something that needs to make it into the next major version (Fleet 5)?

[2022-10-27 15:05] zwass commented on #265
I don't think this is super important, though it also may not be very hard to achieve. It's only a breaking change in the Go libraries which are not very widely used directly except within Fleet itself. Because of that, we might be able to justify doing it outside of a major version release.

[2022-10-27 16:17] michalnicp commented on #8206
Sorry, this should have been "if the device is offline".

No, you can always change it later.

[2022-10-27 16:21] noahtalerman commented on #8206
@michalnicp @zwass I don't think we have to remove the command from the queue. I could be missing something.

We want to error loudly if the command doesn't succeed within 5 seconds. If we show an error and the command succeeds after 6 seconds that's ok. We want to experience this unideal experience as users of the Fleet UI.

Prior to launching the product ready MDM features in Fleet we will addre

[2022-10-27 16:33] chris-mcgillicuddy commented on #8354
Draft of the BOD 23-01 article is ready for review:

https://docs.google.com/document/d/1blhLdI7RLaBTFR4Dk66XahVZEdAEUHQK2pG6VdZe8m0/edit?usp=sharing

@zhumo, could you please review it to make sure any claims about what Fleet can do are accurate?

[2022-10-27 16:34] xpkoala opened #8467 "4.22.1 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/fleetctl-preview)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium te

[2022-10-27 17:56] xpkoala commented on #8444
Nice catch! @noahtalerman once there is a determination for this could you please make sure it is tagged to the correct place? For now I'll move it to the roadmap board for prioritization.

[2022-10-27 18:15] noahtalerman commented on #8444
Here's the issue for this: #7825. It's currently on the release board.

@xpkoala I passed this issue to you. When #7825 is addressed, can you please confirm whether or not this is still a bug?

[2022-10-27 18:41] roperzh commented on #7700
@chiiph @xpkoala hey folks, did we arrive a final decision on this? any updated thoughts after the docs updates made by Zach ☝ ?

[2022-10-27 18:59] xpkoala commented on #7700
I think with the updates to the docs we make it pretty clear that we are not supporting / testing mariaDB, or other mySQL variants. I would guess it's safe to close this out as "won't do". I'll leave the closing or keeping open of the ticket to @chiiph 's discretion.

[2022-10-27 19:10] chiiph commented on #7700
Closing!

[2022-10-27 19:10] #7700 closed

[2022-10-27 19:41] xpkoala opened #8472 "Fleet Desktop token is not rotated if a new Fleet Desktop executable is installed over a previous version"
**Fleet version**: `main`

**Operating system**: macOS 13.0

**Web browser**: n/a

<hr/>

### 🧑‍💻  Expected behavior
If Fleet Desktop is installed over a currently running Fleet Desktop instance, Fleet Desktop would correctly rotate a token and allow Fleet Desktop to run as intended.

### 💥  Actual behavior
An error generates mentioning an incorrect token is being used and Fleet Desktop stays stuc

[2022-10-27 19:51] xpkoala opened #8473 "Shorten the back button clickable area on some pages"
**Fleet version**: `main`

**Operating system**: macOS 13.0

**Web browser**: Safari 16.1

<hr/>

### 💥  Actual behavior
The 'back' button extends past the visible text area and spans across the page.

### More info

Image of the behavior:
![image](https://user-images.githubusercontent.com/11012743/198384315-82e43637-61fd-407a-b395-778232c7c1ca.png)

This is occurring:
- /software/\<#>
- /queries/

[2022-10-27 22:07] michalnicp opened #8476 "Consider adding bootstrap token to MDM server capabilities"
### Goal

Currently, the MDM enrollment profile only contains the `com.apple.mdm.per-user-connections` capability. We should consider adding `com.apple.mdm.bootstraptoken` which lets the MDM server do some extra things. See "Bootstrap Token" in https://support.apple.com/en-ca/guide/deployment/dep24dbdcf9e/web

### How?

- [ ]

[2022-10-27 22:26] michalnicp opened #8477 "Use dynamic SCEP challenges in MDM enrollment profile"
### Goal

As a IT admin, I want to know that Fleet secures their MDM enrollment profiles so that I can provide this as argument to the security team when pitching Fleet.

### Problem

SCEP challenges should be considered sensitive. If compromised, the SCEP challenge can be used to get a valid certificate from the SCEP server and used to enroll with MDM.

See https://github.com/micromdm/micromdm/pu

[2022-10-28 01:07] mikermcneil commented on #2949
👍

[2022-10-28 01:07] mikermcneil commented on #3916
@noahtalerman Agreed.

[2022-10-28 01:11] mikermcneil commented on #8401
@noahtalerman is the current behavior that the user clicks the link and sees an unexpected filter?  (Ie macos no longer selected)

If so, then this is a bug.  We either need to remove the link, or fix the filter.

[2022-10-28 03:35] zhumo commented on #8401
Hey Mike,

We brought this back in today during product office hours. Noah look at it
again.

Mo

On Thu, Oct 27, 2022 at 6:11 PM Mike McNeil ***@***.***>
wrote:

--

*Mo Zhu*

Product Manager

fleetdm.com <http://www.fleetdm.com> | @fleetctl
<https://twitter.com/fleetctl>

[2022-10-28 05:44] mpdeimos commented on #6662
I cannot reproduce atm. Will close for now.

[2022-10-28 05:44] #6662 closed

[2022-10-28 14:38] zwass commented on #8456
This is for the `orbit` binary as you linked in https://github.com/fleetdm/fleet/tree/main/orbit/cmd/orbit. Note that the signal handler code you linked is using the [`run.SignalHandler`](https://github.com/fleetdm/fleet/tree/main/orbit/cmd/orbit) which is designed specifically for exiting on signals. You'll probably need to add a separate handler for the `SIGUSR1` since we aren't intending on exi

[2022-10-28 14:48] artemist-work commented on #8456
That makes sense, I've been trying to use it and it always exits when I run...

[2022-10-28 15:45] polak785 opened #8482 "High CPU load during vulnerabilities process"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
[code]

**Operating system**: _(e.g. macOS 11.2.3)_
[code]

<hr/>

### 🧑‍💻  Expected behavior

A controled cpu usage during vulnerabilities process.

### 💥  Actual behavior

Between version `4.20.0` and `4.22.0` (not tested on `4.21.0`), the process for cve check takes more cpu ressources and this is n

[2022-10-28 16:18] artemist-work commented on #8456
I have a prototype that creates the archive but when I run it it exits because I was using the same handler. I'm just using `go build . && ./orbit --root-dir=/tmp/orbit-root` to test. It doesn't communicate with a fleet server but I can still send it signals.

[2022-10-28 16:29] xpkoala commented on #8256
@clawoflight Apologies for the delay here. I haven't been able to reproduce the install issue you have encountered. A couple of extra questions if you have a chance.
- Could you create a new mac installer using the same command you provided and see if you encounter the same issue?
- Was the installer located on the machine it was being installed to? Or was it maybe part of a shared drive on anothe

[2022-10-28 16:41] xpkoala commented on #8210
I believe this issue was fixed by https://github.com/fleetdm/fleet/issues/8371.

I haven't been able to reproduce inaccurate host counts on Dogfood after a handful of times poking at it since the fix went in. @mikermcneil If you are still seeing the behavior could you please let me know? Thank you!

[2022-10-28 16:58] DrewBakerfdm commented on #7974
Just a note, these have been scheduled for delivery tomorrow afternoon (Saturday, Oct. 29th)

It's one of the reasons I went with VistaPrint. For turnover times within the states, they have consistently beat their printing and delivery targets for the past five years I've used them.

[2022-10-28 18:18] zwass commented on #8456
Sounds like good progress! I think you'd probably just move the code you've got into a new goroutine that has a `for` loop reading from the channel as shown in the example for https://pkg.go.dev/os/signal#Notify. That should make it so that you can separate it from the exiting signals.

[2022-10-28 18:28] lukeheath commented on #7860
@fx5

Correct. I have updated the specs. Thanks for catching that.

[2022-10-28 18:33] chiiph commented on #8482
Hi @polak785, it looks like you're running mysql and redis in the same instance as you're running fleet on, is this correct? Could you tell me more about your setup?

The vulnerability process is indeed CPU intensive, although I don't believe we changed anything between those two versions that would drastically increase its resource usage. Alongside vulnerabilities, we also run a few other backgro

[2022-10-28 18:41] MChorfa opened #8486 "Integrate and Allow to fill the certs keys for an S3 provider"
### Goal

If the Server Certs are enabled or an S3 provider Fleet to present the client certs in order to establish communication with the server.

### How?
on the provider side :
[code]
And fleet side we would have
[code]
Ref : <https://min.io/docs/minio/linux/operations/network-encryption.html>
Thank you

[2022-10-28 19:16] lukeheath commented on #8473
@RachelElysia Assigning this to you since it has overlap with #8344

[2022-10-28 19:37] mikermcneil commented on #8309
Hey @zwinnerman-fleetdm what was the root cause and resolution?

[2022-10-28 19:39] zwinnerman-fleetdm commented on #8309
I got no response from the customer and the instance has since expired. I'm going forward with the theory that they were running tests against the instance.

[2022-10-28 19:39] #8309 closed

[2022-10-28 20:07] mikermcneil commented on #8210
Thanks @xpkoala. Could you share a Loom video of what you tried?  That'll help jog my memory.

[2022-10-28 20:11] zhumo commented on #6883
Hey @zwass @artemist-work, it doesn't look like this got into the schema: https://github.com/osquery/osquery-site/blob/source/src/data/osquery_schema_versions/5.5.1.json