[2021-11-24 18:54] lucasmrod opened #3111 "Bug in Team Policy creation"
Version: main, 964f85b1.

When creating a policy for a team the UI is hitting global policy creation endpoint (`/api/v1/fleet/global/policies`), it should instead use the team creation endpoint (`/api/v1/fleet/teams/{team_id}/policies).

[2021-11-24 18:55] noahtalerman commented on #2756
If the user unselects all checkboxes, and they've entered a valid destination URL, let's allow the user to submit successfully.

This way, as a user that has previously configured policy automations to a now retired destination URL, I can turn off automations for all policies so that Fleet doesn't send any webhook requests while I determine what my new destination URL should be.

[2021-11-24 18:57] noahtalerman commented on #2756
@lukeheath if the user unselects all checkboxes, and they've entered a valid destination URL, let's allow the user to submit successfully (no error state).

This way, as a user that has previously configured policy automations to a now retired destination URL, I can turn off automations for all policies so that Fleet doesn't send any webhook requests while I determine what my new destination URL s

[2021-11-24 18:59] lucasmrod opened #3112 "Update frontend interfaces for "Policies" table and Policy modal (Host details page) and Policies card (Home page)"
Version: main, 964f85b1.

"Policies" table (Host details page)
<img width="987" alt="Screen Shot 2021-11-24 at 15 56 58" src="https://user-images.githubusercontent.com/2073526/143298361-49a22ee7-3f2c-4596-833e-957c253e9973.png">

Policy modal (Host details page)
![Screen Shot 2021-11-29 at 9 26 49 AM](https://user-images.githubusercontent.com/47070608/143885479-6814b891-a6b4-4f7f-9666-1a29b36edb13

[2021-11-24 19:04] lucasmrod commented on #3111
Sorry, this is a duplicate of #3111.

[2021-11-24 19:05] lucasmrod commented on #3110
When creating a policy for a team the UI is hitting global policy creation endpoint (`/api/v1/fleet/global/policies`), it should instead use the team creation endpoint (`/api/v1/fleet/teams/{team_id}/policies`).

[2021-11-24 19:05] #3111 closed

[2021-11-24 19:11] lukeheath commented on #430
@noahtalerman -

@gillespi314 brought up a good point in estimation. When the user has multiple tabs open and makes a change in one tab, it will not update the other tab until the user refreshes (reloads window or changes pages). Is that okay for this initial ticket?

[2021-11-24 19:17] lucasmrod opened #3113 "Return proper error when creating a policy with an existing name"
Policy with proprietary queries will have unique names (mimicking "queries").

Version: main, 964f85b1.

When the user clicks on "Save policy" and there's already a policy with the same name:

<img width="617" alt="Screen Shot 2021-11-24 at 16 09 55" src="https://user-images.githubusercontent.com/2073526/143299715-4cbc6036-d5ac-4146-b3f0-60745b45e419.png">

Then the following error is displayed:

[2021-11-24 19:33] lukeheath commented on #2756
Sarah: What's the retry logic? Is that something that should be configured or will all configuration happen server-side? Also frequency, etc.

[2021-11-24 19:40] noahtalerman commented on #430
@lukeheath yes! This is ok for this ticket.

The goal is for a Fleet user to be able to middle-click/apple-click on the navbar links in Fleet so that they can open the **Hosts** page in new tab while viewing a specific host's **Host details** page. This would allow them to quickly switch back and forth between viewing a specific host and a list of filtered hosts.

I updated this issue's descriptio

[2021-11-24 19:56] noahtalerman opened #3114 "Website: "Back to top" link in the docs"
### Goal

As a user that has scrolled down the [Fleet API documentation page on fleetdm.com](https://fleetdm.com/docs/using-fleet/rest-api), I want to be able to quickly get to another location in the docs without having to manually scroll back to the top of the page.

### How?

- Proposed solutions from a customer:
  - Update "On this page:" section so that it follows you as you scroll down
  - A

[2021-11-24 20:58] mna commented on #2613
As for the SAML ticket, AFAICT this was not part of the release board, so closing it manually now that the PR is merged.

[2021-11-24 20:58] #2613 closed

[2021-11-28 17:06] gillespi314 commented on #3112
@RachelElysia @lukeheath I took a look at this because I was curious. This issue is the frontend is still using the model of the old API here.  The frontend interface for `IHostPolicy` needs to be updated for the new policy model and changes for what is now being returned by the API (e.g., `query_name` -> `name`). So this issue extends to other places where that interface is being used (e.g., `Pol

[2021-11-29 12:05] mike-j-thomas commented on #3029
@noahtalerman . I've had a tinker with these menu items at smaller breakpoints. https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3558%3A93696

Let me know what you think about hiding them in a drop-down as the page size is reduced. I'm currently unsure what we should label that dropdown. I labeled it "more options" for now.

[2021-11-29 13:59] mna commented on #2027
I'd be ready to implement that, and I have a _hunch_ of what we want, but I think it'd be good to get a bit more design details here before jumping in the code.

What should the subcommand be? There are currently the following `debug` subcommands:

* `profile` Record a CPU profile from the Fleet server.
* `cmdline` Get the command line used to invoke the Fleet server.
* `heap` Report the allocated

[2021-11-29 14:22] noahtalerman commented on #3112
This makes sense to me.

@RachelElysia are you ok with extending this issue to include fixes in the areas that Sarah has listed? I've updated the issue's title to reflect this. If not, I'm happy to open a separate issue.

Great catch Sarah!

[2021-11-29 14:39] RachelElysia opened #3118 "Query Creator/Policy Creator BUG: Hitting enter cancels the modal"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

W

[2021-11-29 14:39] noahtalerman commented on #3029
@mike-j-thomas looks great. The "more options" text makes sense to me.

I added the dropdown menu to your wireframes. Is there where you imagined the dropdown appearing on the smaller width screens? If not, can you please update the dropdown's placement in the Figma page you've linked to.
![Screen Shot 2021-11-29 at 9 38 49 AM](https://user-images.githubusercontent.com/47070608/143887455-cb0af38c-

[2021-11-29 14:41] RachelElysia opened #3119 "Query Creator/Team Creator: More helpful error when creating identical query names or team names"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

Similar to the bug filed by L

[2021-11-29 15:05] noahtalerman commented on #907
This issue will be closed after the 1.0 release of Fleet's osquery installers (Orbit).

[2021-11-29 17:09] mikermcneil opened #3122 "Move blurbs into fleetdm.com/handbook"
## Why?
The current "Blurbs" google doc is not publicly accessible and discoverable, despite being potentially useful for all contributors, such as folks writing tutorials, etc.

## How?
- [ ] Review the existing content in the google doc, decide what's worth bringing over.  (Brevity == better)
- [ ] Come up with where this could go in the handbook
- [ ] Write up select content from [the "Blurbs"

[2021-11-29 18:03] mikermcneil commented on #2612
fyi @mike-j-thomas I pulled this into the queue for this week, since @edwardsb and @lukeheath have been working on getting the Postman collection for the Fleet API finished, public, and with a plan to keep it up to date

[2021-11-29 19:12] mikermcneil opened #3124 "Host details page: Make user aware of why stuff isn't showing up (disabled feature)"
## Goal

As a user, I want to see a user-friendly notice if users or software information is missing so that I can get more help to determine why (disabled feature, denylisted query, some other error).

## Figma

Host details: Make users aware of why stuff isn't showing up: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4808%3A179711

## Related

The third, the query didn't run success

[2021-11-29 19:25] mikermcneil opened #3126 "Host vitals: What queries are running?"
As a user, I want some way of knowing what queries host vitals are running behind the scenes for debugging purposes.

- Initial pass could be documentation (easy, but will have to be kept up to date)
- Or alternatively could build a full-fledged feed of recent queries run (maybe all live queries and scheduled queries, including vitals).  (Would be a great start for audit transparency.  More work t

[2021-11-29 19:28] RachelElysia opened #3127 "E2e testing: Policies flow"
### Goal

TODO

- Currently, the entire Policy flow e2e test is commented out meaning that the policies page has 0% unit, integration, and e2e testing
-  https://github.com/fleetdm/fleet/blob/main/cypress/integration/all/app/policiesflow.spec.ts

**E2e Testing additions:**

_commands.ts_
- [x] Add a seedPolicies command that seeds 2 policies (one Mac, one Linux) with an optional parameter to seed

[2021-11-29 20:40] RachelElysia opened #3130 "Policies User Flow Bug: Back to policies should return to same policies page you were on"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

I

[2021-11-29 20:53] noahtalerman commented on #407
_From Noah + Zach discussion 2021-11-29_

Zach: Need some level of definition for what the API looks like. There will have to be a Fleet API endpoint to send updated flags to Orbit.

Zach: How does the host authenticate with Fleet to get these flags? This will likely be part of Fleet desktop work.
- Big challenge is the node key used to get the configs. Node key isn't available until osquery start

[2021-11-29 21:18] mpdeimos commented on #3095
As mentioned on Slack, we're facing the same issue for new clients (Win/Mac). We also have some scheduled queries, but these should be safe or in other words, "worked before".

What I am suspecting is that the new Policies are causing these errors for new clients. Contrary to packs I cannot select the OS that a policy is run against. In other words, if I want to check whether Windows UAC is enable

[2021-11-29 21:49] noahtalerman opened #3131 "4.6.2 Smoke tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.6.2

**Web browser** _(e.g. Chrome 88.0.4324)_: Version 96.0.4664.55 (Official Build) (x86_64)

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm

[2021-11-30 00:50] wmsant opened #3132 "[Windows Hosts] List 'status' and 'member of' of users account."
Goal

List 'status' and 'member of' of users account (infos in compmgmt - computer management).

How?

![image](https://user-images.githubusercontent.com/89652288/143962297-c90dd471-0d50-4242-9eb1-cef2c657b768.png)

[2021-11-30 02:36] mikermcneil opened #3133 "Risk scores"
### Goal

- As a user of Fleet, I want to see a single, aggregated risk score for every device in my organization.
- I want the risk score to be calculated with sensible defaults, without any extra setup necessary.
- But I also want to be able to customize the relative weights of various factors in how the score is calculated, including emphasizing/deemphasizing the importance of particular CVEs,

[2021-11-30 02:45] mikermcneil opened #3134 "Handbook: Concisely document how Fleet keeps track of customer promises and customer requests"
## Goal

As a Fleet team member or other reader of the public handbook, I want to know how Fleet keeps track of customer promises and requests.  I especially want to know what the "customer request" label means.

Some key points:
- the meaning of "customer request" label
- the key dates doc

Remember it is ok to link to confidential google drive files from our public handbook.  If someone w/o acce

[2021-11-30 05:41] lukeheath opened #3136 "Users on a single team should not see the teams dropdown"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Fleet Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): All

<hr/>

### 🧑‍💻  Expected behavior

If a user is a member of a single team, they should not see a teams drop

[2021-11-30 11:53] mike-j-thomas commented on #3029
Glad you like the dropdown treatment. I have spiffied them up. Let me know if the proposed hover state is out of scope, and I will move to the spiffiness section. (I'd like to add that hover interaction to all of our dropdowns actually. I should drop a ticket in the product planning board.)

![image](https://user-images.githubusercontent.com/78363703/144042544-562e1166-6905-494c-946c-2824796be426.

[2021-11-30 12:43] mike-j-thomas opened #3139 "Update Twitter social proof section on the fleetdm.com homepage."
- [ ] Add tweet from Tom Larkin
- [ ] Re-introduce Ruben Rodrigues' tweet
- [ ] Re-order the tweets as per Figma (please check the included dev note.)

https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=1479%3A5151

[2021-11-30 15:46] RachelElysia opened #3141 "Policy/Query creation: SQL errors don't auto refresh"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

W

[2021-11-30 15:47] noahtalerman opened #3142 "Add ability to send a live query to an individual "offline" host"
Currently, if a host is marked "offline," the Host details page prevents a user from entering the live query flow because the host is unlikely to respond to Fleet.

Some users may still want to attempt to run a live query against the "offline" host, in cases where they expect the host to check in.

### Goal

On the **Host details** page, add the ability to send a live query to an individual host t

[2021-11-30 15:50] noahtalerman opened #3143 "Add ability to extend the live query response time indefinitely"
The below goal requires the ability to log live query results as a first step. This improvement is specified in the following issue: #366

### Goal

Add ability to extend the live query response time indefinitely so that I can initiate a LQ, come back tomorrow and check a my final result log destination (google spreadsheet or something else).

[2021-11-30 16:05] noahtalerman commented on #3075
This issue was used as an example during a ZenHub information session.

[2021-11-30 16:05] noahtalerman commented on #3073
This issue was used as an example during a ZenHub information session.

[2021-11-30 16:05] #3073 closed

[2021-11-30 16:08] RachelElysia commented on #3112
@gillespi314 @noahtalerman On it!

[2021-11-30 16:42] noahtalerman commented on #3131
Smoke tests are complete for 4.6.2. No issues found that should block the release. No issues found that are new to this version.

The following are changes included in 4.6.2 that were not explicitly tested:
- #3071
- #3120
- #3128

[2021-11-30 17:16] noahtalerman commented on #3029
The proposed hover state looks good to me!

Great idea. @mike-j-thomas can you please file this issue and then assign me to both the new issue and this issue (#3029)? Thanks :)

[2021-11-30 19:40] noahtalerman commented on #3141
@RachelElysia fire issue. Adding this issue to the current release board.

[2021-11-30 19:41] lukeheath opened #3150 "Inconsistent spacing in the header area of the app"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Both

<hr/>

### 🧑‍💻  Expected behavior

The page title, team dropdown and description should be consistently placed across all pages.

### 💥  Actual behavior

Slight difference in spacing/padding/margins on all pag

[2021-11-30 19:41] noahtalerman commented on #3130
@RachelElysia thank! I added this issue to the current release board.

You're on fire with these bug reports.

[2021-11-30 19:44] noahtalerman commented on #2198
The following "Add client-side pagination to live query results" issue (#2714) specifies a solution for this bug. This issue will be closed when the changes in #2714 are tested and released.

[2021-11-30 19:55] noahtalerman opened #3152 "Add ability to dismiss a detected vulnerability"
### Goal

As a user of the vulnerability processing feature in Fleet, I want to be able to dismiss a vulnerability detected by Fleet because I do not plan on resolving/patching the vulnerability. This way, I can have an easier time using Fleet to surface vulnerabilities I do care about.

### How?

- [ ] Potential solution: Allow for users to dismiss specific vulnerabilities in the Fleet UI

[2021-11-30 20:05] mikermcneil opened #3153 "migrate fleetdm.com database for Sarah's PR https://github.com/fleetdm/fleet/pull/3056"
https://github.com/fleetdm/fleet/pull/3056

[2021-11-30 20:34] noahtalerman commented on #3081
@defensivedepth thank you for reporting these false positives and including screenshots. This was helpful to reference when discussing a potential solution. Notes from this discussion:

- Osquery allows Fleet to capture the `release` column for RPM packages. Fleet can use the information in this column when mapping to CPEs to reduce false positives.

- This above fix would only address false posit

[2021-11-30 20:39] noahtalerman commented on #3081
@Rylon thank you for following up in this issue.

Are you also receiving false positives for RPM packages? Or are you seeing false positives for types of package/installed software?

[2021-11-30 22:44] Rylon commented on #3081
Hi @noahtalerman yeah we saw it for sure with RPM packages where the version number was the same, but the revision changes, and it shows up as "vulnerable" still. I haven't check with DEB packages yet.

[2021-11-30 23:26] lukeheath opened #3154 "Homepage software card should filter results by selected team"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Premium

<hr/>

### 🧑‍💻  Expected behavior

Selecting a team from the teams dropdown should filter the software card to only software in that team.

### 💥  Actual behavior

All software across all hosts is displayed

[2021-12-01 01:47] zwass commented on #2027
@mna it makes sense to me to go ahead with your proposed `fleetctl debug errors` command -- please ensure it is also included in the `fleetctl debug archive`.

As for the DB locks, maybe a separate `fleetctl debug db-locks` command? Also add to debug archive.

In general, I think we want any new command to be included in the debug archive.

[2021-12-01 02:46] mike-j-thomas opened #3155 "Improve hover state interaction for dropdowns and buttons"
We don't have a hover state for secondary buttons, and dropdowns in the Fleet UI.

## Goal

Add a consistent hover state interaction for all dropdowns and secondary buttons in the Fleet UI.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3717%3A126303

### Notes:

1) All interaction elements outlined in this ticket have the following states. All screenshots below show state i

[2021-12-01 14:04] noahtalerman commented on #3078
Noah: Can someone without a ZenHub account access a link to a ZenHub board?

Amy (Customer onboarding specialist at ZenHub): To view ZenHub, folks will need GitHub access. If your customers have GitHub access, you can add them as a collaborator on the repo.

Noah: If the repo is public, will customers still need to be added as a collaborator on the repo to view ZenHub?

Amy: You've got it! If the

[2021-12-01 14:53] noahtalerman commented on #3081
@Rylon thanks for the follow up!

Got it. Please feel free to let us know, in this issue, if you encounter similar false positives with DEB packages.

The Fleet team wants to continuously improve the vulnerability processing feature. Any false positives, or other issues, reported by Fleet users are very helpful in the effort towards a better and more accurate vulnerability processing solution.

[2021-12-01 14:57] noahtalerman opened #3156 "Document how Fleet determines online/offline"
Soon, the Fleet UI will define online hosts as hosts that will respond to a live query. The Fleet UI will define offline hosts as hosts that will not respond to a live query because they may be turned off or not connected to the internet.

### Goal

Add documentation that explains how Fleet determines online and offline status.

### How?

- [ ] Proposed solution is to add a section to the [01-Usin

[2021-12-01 15:19] noahtalerman commented on #3155
Thanks for filing this issue! @mike-j-thomas can you please add a UI element, for each dropdown and secondary button, to the Figma page linked in this issue's description?

I'm passing this issue to you.

This way, developers will know exactly which UI elements need to be updated. Currently the Figma page only includes an example for the "More options" UI element.

[2021-12-01 15:54] lukeheath opened #3157 "/queries should redirect to /queries/manage"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Both

<hr/>

### 🧑‍💻  Expected behavior

When manually navigating to `/queries` I expect to be redirected to `/queries/manage`.

### 💥  Actual behavior

The `/queries` route loads with the nav bar and an empty body.

[2021-12-01 15:59] noahtalerman commented on #3081
@defensivedepth I think this is correct. What are your immediate thoughts/reaction to this?

To clarify, the proposed solution will involve both crowdsourcing the flagging of FP and research conducted by the Fleet team.

### Crowdsourcing the flagging of false positives (FP)

Currently, it's difficult for the Fleet team to uncover many FP because the team's production deployment of Fleet is limite

[2021-12-01 16:01] lukeheath commented on #3078
Agreed, sounds like sticking with GitHub projects and using the ZenHub extension for added features is the way to go.

I can still assign tickets to sprints, releases, epics, etc. all within GitHub, then view the reporting in ZenHub.

That will leave one pretty major pain point: No totaling of points on the board. If we're okay with continuing to add the `:release` label to tickets that have been

[2021-12-01 16:23] noahtalerman commented on #3051
@lukeheath I'm passing this issue's assignment to you and moving it into the "Architect" column on ZenHub.

I've updated this issue's description with a "Confirm if data comes back at separate times or if the data comes back in similar times" task.

[2021-12-01 16:51] defensivedepth commented on #3081
Couple thoughts:

The one prod server that I was using this with generated 1763 vulnerability findings. I am positive that the vast majority of those are FP. It's not feasible for me to research & confirm each of these findings and flag them as a `True | False` Positive.

There is also the issue of backports:

https://access.redhat.com/security/updates/backporting

The OVAL project might be helpfu

[2021-12-01 17:05] RachelElysia opened #3160 "Docs: Clarify fleetctl preview runs latest version"
### Goal
User asked if fleetctl preview is ever updated and how to update without losing data. Smoke tested with @lucasmrod with 4.5.0 > 4.6.1

TODO

- Write up in documents that running `fleetctl preview` automatically updates to the latest version of fleetctl without resetting any data (they would have to run `fleetctl preview --tag v#.#.#` if they wanted to run preview on a previous version.

#

[2021-12-01 17:27] noahtalerman commented on #2958
The "Policies" and "Schedule" table render as expected at the current minimum width (1200px).

[2021-12-01 17:48] lukeheath commented on #2713
Comments from Martavis:

After pulling the branch "fleetdm:issue-2595-...", you will need to copy the QueryResults component locally into frontend/pages/policies/PolicyPage. The main goal is to bring in the TableContainer to display the data. Currently, there is a custom table displaying the data, which is only used for queries. I don't suspect this will take more than 2 more hours. The query is g

[2021-12-01 18:00] lukeheath opened #3163 "Queries page takes a very long time to load with very many queries"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): both

<hr/>

### 🧑‍💻  Expected behavior

When I click on "Queries" in the navigation, I expect the queries page to load within a couple of seconds.

### 💥  Actual behavior

The queries page takes 15 seconds to load

[2021-12-01 19:10] noahtalerman commented on #3081
Ah, understood that this task wouldn't be feasible. I think I may not have worded the below solution in a confusing way:

@defensivedepth by "make it easy for users to report false positives" what I meant was "make it easy for users to file issues like Josh's when they come across a false positive in Fleet."
- This issue is a great example of future issues we'd like to see filed when a user encoun

[2021-12-01 19:23] mna opened #3169 "Improve debugging tooling: get count of every DB table"
### Goal

To improve debugging, add a `fleetctl debug` sub-command to get the COUNT(*) of every DB table. Add this output as part of the `fleetctl debug archive` file.

[2021-12-01 19:26] mna opened #3170 "Improve debugging tooling: enable debug_host_ids from the host details page"
### Goal

To improve debugging, add an option in the host details page to add/remove that host's ID in the `debug_host_ids` server settings configuration. This enables verbose logging of data returned from that host.

[2021-12-01 19:31] mna opened #3171 "Improve debugging tooling: add optional database middleware to log queries and run times"
### Goal

To improve debugging, add a middleware to requests that intercepts SQL queries, logs them and records their execution time.

### How?

Maybe using https://github.com/ngrok/sqlmw? The toggling of that option should be possible at runtime, and care should be taken regarding possible overload of output data, or possible sensitive data in queries. The configuration option should probably be

[2021-12-01 19:37] mna opened #3172 "Add support for obervability/tracing platforms"
### Goal

Add support for observability platforms (e.g. DataDog, Honeycomb, etc.) with detailed tracing, e.g. not only for request execution times but also spans within that request such as for SQL execution (see #3171 ).

### How?

Maybe via OpenTelemetry? https://opentelemetry.io/, it is open source, vendor-neutral and supported by many vendors: https://opentelemetry.io/vendors/

[2021-12-01 19:40] mna opened #3173 "Improve debugging tooling: add output of SHOW ENGINE INNODB STATUS"
### Goal

To improve debugging, add the output of `SHOW ENGINE INNODB STATUS`, maybe as part of the output of the new `fleetctl debug` sub-commands to get the count of DB tables (mentioned in #3169 )? This output should be added to the `fleetctl debug archive` file.

[2021-12-01 19:43] mna opened #3174 "Improve testing tooling: scripts to populate mysql DB"
### Goal

To allow frontend/backend to use and test the app with significant/representative amount of data, create scripts to generate hosts, queries, users, teams, policies, etc.

### How?

This could start as just scripts to run, and could be iterated upon to create a frontend to select the number of each entity to create and spin-up a working, consistent database.

[2021-12-01 19:58] noahtalerman commented on #3031
@chiiph I'm passing this issue's assignment to you.

Can you please move this issue into the appropriate column in the ZenHub board so that it's prepared for a future backend estimation?

[2021-12-01 19:58] noahtalerman commented on #3055
@chiiph the below request is the same as in #3031.

I'm passing this issue's assignment to you.

Can you please move this issue into the appropriate column in the ZenHub board so that it's prepared for a future backend estimation?

[2021-12-01 20:22] lukeheath opened #3175 "Improve queries page load time, especially with large data set"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Both

<hr/>

### 🧑‍💻  Expected behavior

Expect the page and table to render within a couple of seconds.

### 💥  Actual behavior

If the queries table is very long (more than 50) it starts to load very slowly. With

[2021-12-02 02:52] edwardsb opened #3176 "Error migrating if MySQL server uses sql_mode ANSI_QUOTES"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): any version since [this migration](https://github.com/fleetdm/fleet/blob/main/server/datastore/mysql/migrations/tables/20171116163618_CreateTableOsqueryOptions.go)

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): N/A

**User role** (Which role are you assigned in Fleet?

[2021-12-02 02:53] edwardsb commented on #3176
This should be reproducable by setting `--sql_mode="ANSI_QUOTES"` on the command line for mysql.

[2021-12-02 06:58] macEar opened #3177 "aggregating scheduled query stats: syntax error"
**Fleet version**: v4.6.2

**MySQL version**: v8.0.22

**Fleet tier**: Fleet Free

**Operating system**:  docker image fleetdm/fleet:v4.6.2

<hr/>

After upgrading Fleet from v4.3.0 up to v.4.6.2, we see errors in Fleet and MySQL logs:

__fleet__ log:

[code]

__mysql__ log:

[code]

What are these errors about? For now, we cannot realize if there is any affect or no related to these errors.

[2021-12-02 12:13] chiiph commented on #3177
Hi there! The errors aggregating stats will result in the UI not displaying performance of queries in the few places where we aggregate that data.

Those two errors are different though. The mysql log one looks like you still have the event for host expiration. You can fix that by running:

[code]

It seems we forgot to add this to the migrations.

The other error is related to the version of mysq

[2021-12-02 12:18] #3080 closed

[2021-12-02 12:36] chiiph commented on #3095
Reopening since the issue seems to have remained.

[2021-12-02 14:52] RachelElysia commented on #3175
Is this the same as #3163 ?

[2021-12-02 15:02] noahtalerman commented on #2316
@lukeheath I'm passing this issue's assignment to you. Can you please review the UI changes and specification above before breaking out a separate backend issue?

This issue is already specified and estimated (backend) because the changes were moved out of a previous release.

This issue is a low product priority so I added it to the bottom of the "Architect" column.

[2021-12-02 15:39] noahtalerman commented on #3081
@chiiph I'm passing this issue to you. Can you please update the "How?" section in this issue's description by modifying/replacing the proposed solution? Thank you :)

This way, the improvements specified in this issue can be estimated and prioritized in an upcoming release of Fleet.

[2021-12-02 16:03] lucasmrod commented on #3095
With the help of @mpdeimos we've narrowed down the issue:

Martin found the following fleet logs:
[code]

This is the problematic line:
https://github.com/fleetdm/fleet/blob/12530206780b72ba349f2240ca78647cdc34385a/server/datastore/mysql/hosts.go#L306

On MySQL 5.7, `timestamp(0)` returns the zero date, on MySQL 8 it returns `NULL`.

[2021-12-02 18:06] noahtalerman commented on #3050
### Additional goals

- As a user of vulnerability automations, I want to be able to only receive a webhook request for the vulnerabilities I care about.
  - I don't care about old vulnerabilities that my team previously filtered out as unimportant.
    - Potential solution: Use a "Start year" to only send vulnerabilities from a certain year onward. The problem with this solution is that there may

[2021-12-02 18:29] mikermcneil commented on #3050
@noahtalerman Might consider using a 3-choice dropdown instead of checkboxes for the severity filter  (fewer permutations to deal with in situations when they get changed, i.e. consider logic of changing a "low, medium, high" dropdown versus changing low/medium/high checkboxes)

[2021-12-02 19:43] noahtalerman commented on #3163
Pagination was added to the **Queries** page in the Fleet 4.6.2 release. This resolves the issue in which, if Fleet has 500+ queries, it took 15 seconds to load the page.

[2021-12-02 19:43] #3163 closed

[2021-12-02 19:59] defensivedepth commented on #3081
@noahtalerman Thanks for the clarification.

Looking forward to using this feature in the future!

[2021-12-02 20:09] mikermcneil opened #3182 "Let's https://github.com/fleetdm/fleet/pull/2903 merged soon before there are more merge conflicts"
https://github.com/fleetdm/fleet/pull/2903

[2021-12-02 21:03] lukeheath commented on #3175
Yes it is! Not sure why I opened two 😆

[2021-12-02 21:03] #3175 closed

[2021-12-02 21:06] lukeheath opened #3183 "Global policies: Add policy webhook modal"
## Goal

As a user, I want to specify a webhook URL where alerts about policies can be sent so that I'm able to easily create a ticket that includes what host is failing which policy.

#### Backend ticket: #2756

## Figma

Global policies: Add ability to configure alerts for policies: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3124%3A81417

**Notes:**
- Webhooks are called "automat

[2021-12-02 21:09] chiiph opened #3184 "Drop event host_expiry as it's not needed in the latest versions"
As part of the host_expiry replacement work, we missed removing the event itself from MySQL.

[2021-12-02 21:15] chiiph commented on #3184
Here's the PR for this https://github.com/fleetdm/fleet/pull/3185

[2021-12-02 21:16] chiiph commented on #3177
The issue for the host_expiry portion of this ticket is https://github.com/fleetdm/fleet/issues/3184.

[2021-12-02 21:31] mikermcneil opened #3186 "Dynamic or parameterized labels"
### Goal

As a user, I want paremeterized labels that provide a picklist.

OR-

As a user, I want to dynamically manage/sync a subset of my labels based on data from my fleet (e.g. from the result of queries)

### How?

- [ ]

[2021-12-02 23:17] lukeheath commented on #3183
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3183?planning-poker) with ZenHub @RachelElysia

[2021-12-03 04:45] macEar commented on #3177
Ok, thank you

The problem with `Unknown column 'seen_time' in 'where clause'` is solved after `DROP EVENT host_expiry;`. I will close this issue then and follow #3184 one.

[2021-12-03 04:45] #3177 closed

[2021-12-03 14:04] RachelElysia opened #3191 "Manage Host User Flow Bug: Back to hosts from Host Details Page should return to same filters"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

O

[2021-12-03 15:07] noahtalerman opened #3193 ""All teams" option in teams dropdown does not appear for Global user (admin, maintainer, observer)"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): Global admin

<hr/>

### 🧑‍💻  Expected behavior

As a global admin, I navigated to the Home page in the

[2021-12-03 15:30] noahtalerman opened #3195 "Edit query and edit policy page fixes"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

1. When

[2021-12-03 15:33] noahtalerman commented on #3099
@lukeheath I filed an issue with additional fixes on the Edit query and Edit policy pages here: https://github.com/fleetdm/fleet/issues/3195

Happy to hop on a call to discuss the expected behavior in the above linked issue.

[2021-12-03 15:42] noahtalerman opened #3196 "After deleting a query, checkboxes remain active"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main`

<hr/>

### 🧑‍💻  Expected behavior

After deleting a query on the **Queries** page, I expected the selected checkboxes to disappear.

### 💥  Actual behavior

After deleting a query on the **Queries** page, the selected checkboxes to remain selected on a different query:
https://www.lo

[2021-12-03 15:48] noahtalerman opened #3197 "Loading state is not displayed when running a live query"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main` branch.

### 🧑‍💻  Expected behavior

When running a live query, I expected to see a loading state as the query's results were coming in:
https://www.figma.com/file/qpdty1e2n22uZntKUZKEJl/%E2%9C%85-Fleet-EE-(current)?node-id=3930%3A82672
<img width="1238" alt="Screen Shot 2021-12-03 at

[2021-12-03 16:16] noahtalerman opened #3198 "Osquery configuration: Managing in Fleet vs. managing on disk"
Fleet allows users to manage osquery configuration (agent options and scheduled queries) remotely across all hosts or groups of hosts (teams). The user can choose to manage osquery configuration in Fleet by...
- Using the Fleet UI to schedule queries and modify agent options
- Using the fleetctl CLI tool and yaml configuration files to schedule queries and modify agent options (Infrastructure as c

[2021-12-03 16:22] lukeheath commented on #3193
@noahtalerman I think this might be an issue with your local build. When I check `main` I am seeing the "All Teams" dropdown on all the pages you listed as Global Admin:

![image.png](https://images.zenhubusercontent.com/57e551a495e42b6c5ba95c88/7d62ddce-8565-4169-a0f8-2aad84f4590b)

![image.png](https://images.zenhubusercontent.com/57e551a495e42b6c5ba95c88/9d83e396-feec-42bc-bd48-4ca98958d8a7)

!

[2021-12-03 16:26] noahtalerman commented on #2936
Set up Figma prototype such that we can show vulnerability automations (± policy automations) and share link ahead of demo on the 17th
- e.g. like this https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3531%3A87643
- But also include the Zendesk+ServiceNow+JIRA

[2021-12-03 17:12] noahtalerman commented on #3193
This could definitely be the case. However, I'm seeing this issue both when running `fleetctl preview --tag main` (with the dev license key) and when running my local dev environment of Fleet after removing the old build and generated assets.

[2021-12-03 17:18] lucasmrod commented on #3193
In my case it happens when team count was `1`, after creating a second team the issue was gone.

[2021-12-03 17:26] noahtalerman commented on #3079
The removal of host counts is was released in Fleet 4.6.2.

[2021-12-03 17:26] #3079 closed

[2021-12-03 17:30] chiiph commented on #3041
This should also include a way to debug this in fleetctl.

[2021-12-03 17:33] RachelElysia commented on #3193
Reproduced this with global admin, maintainer, and observer with team count of 1.

[2021-12-03 17:58] lukeheath opened #3199 "`webhook_settings` is missing from `PATCH /api/v1/fleet/config` documented parameters"
Docs: https://fleetdm.com/docs/using-fleet/rest-api#modify-configuration

[2021-12-03 18:35] zwass opened #3200 "Query result filtering does not work as expected"

[2021-12-03 18:35] #3200 closed

[2021-12-03 18:37] zwass opened #3201 "Using fleetctl preview, the live query result filtering does not work as expected"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.6.2 (`fleetctl preview`)

<hr/>

### 🧑‍💻  Expected behavior

Filtering query results applies the filter on the expected column.

### 💥  Actual behavior

1. Filtering does not seem to filter on the column value.
2. After clearing filter, results are duplicated.

https://www.loom.com/share/ac48140b844d4e34

[2021-12-03 18:43] RachelElysia commented on #3196
Looking into this now.

[2021-12-03 19:14] RachelElysia opened #3202 "Query UI: Save as new confusing with name and description being filled out twice"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

C

[2021-12-03 20:25] #3153 closed

[2021-12-03 21:24] mikermcneil opened #3205 "Improve "Updating fleet" docs"
## Goal

Improve the ["Updating Fleet" documentation page](https://fleetdm.com/docs/using-fleet/updating-fleet) so that a new Fleet user feels confident about upgrading to receive the latest improvements/features/fixes.

## Tasks
- [x] Rename to "Upgrading Fleet" or something like that, but using the word stem "Upgrade", not "update" or "migrate".
  - Why? This is about deploying the latest versio

[2021-12-03 21:54] mikermcneil commented on #3098
@Zaulao I love this feature.  Some thoughts:
1. We need to take into consideration how the search will perform for deployments with large numbers of hosts (100k+), in terms of the MySQL database (I think this is "whose" kind of subquery)
2. Which system user from the host details page (e.g. `/hosts/4`) would you ideally want to show up as a match when searching?  (Thoughts on how to write an osque

[2021-12-03 22:00] mikermcneil commented on #3069
3 things here:

1. Get browser extensions working in software ivnentory
2. Add permissions as special extra data (e.g. a column in the software table) for browser extension software items
3. Explore and add integration for risk score, maybe duo's crxcavator

Start with (1)

[2021-12-04 17:49] mikermcneil opened #3208 "Host details page: "Software" tab"
## Goal

As a user, I want a quick visual of what information is available to me about a particular computer without having to scroll.

## Figma

Software tab on Host details page: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4140%3A171520

## Tasks

### 1
- [x] Move Software card on Host Details to its own tab.
- The “Software” table is removed from the “Details” tab.

![image](http

[2021-12-04 17:51] mikermcneil opened #3209 ""Select a query" modal: Auto-focus search field"
### Goal

As a user, I want to run a saved query for a particular computer as effortlessly as possible.

![image](https://user-images.githubusercontent.com/618009/144719454-9a95108f-620d-4610-a167-957b3a7e52c3.png)

### How?

- [ ] Update `SelectQueryModal` so that when the modal is summoned, auto-focus the search field.

[2021-12-05 01:33] gillespi314 commented on #3010
@lukeheath I think there has been some inconsistency in the various tickets with `platform` vs. `platforms`.

@chiiph, IIRC there was some discussion about going with `platform` because that corresponded with how labels are modeled?

AFAICT Lucas' [PR](https://github.com/fleetdm/fleet/pull/3181/files) implemented this as `platforms` and I implemented this as `platform` per the ticket above. It is

[2021-12-05 19:18] zwass opened #3211 "Software inventory missing for Debian hosts"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.6.2

<hr/>

### 🧑‍💻  Expected behavior

Software inventory is available for all host platforms.

### 💥  Actual behavior

It's populated for Ubuntu and CentOS but not Debian

### More info

It looks like this is due to `debian` missing in the list of supported platforms for the query: https://github.com/f

[2021-12-06 07:13] macEar opened #3214 "unsupported Scan, storing driver.Value type <nil> into type *time.Time"
**Fleet version**: v4.6.2

**MySQL version**: docker image mysql:8.0.26

**Fleet tier**: Fleet Free

**User role**: Admin

**Operating system**: docker image fleetdm/fleet:v4.6.2

<hr/>

### 💥  Actual behavior

When open a host details page, the error shows up "Unable to load host. Please try again" and no information is loaded. The GET request to `https://kolidefleet-test/api/v1/fleet/hosts/1` re

[2021-12-06 07:17] macEar commented on #3214
Possibly it may have happened to be because of I disabled `software inventory` which was enabled by default. If Im no mistaken, this issue showed after that.

[2021-12-06 07:19] macEar commented on #3211
Also you may as well include platforms like `sles` and `kali`.

[2021-12-06 14:37] chiiph opened #3218 "Throttle queries sent to a host when it misbehaves"
We saw a case where the amount of labels, policies, and detail queries was too much for osquery. The watchdog was killing them, and so Fleet kept sending them all with every call to `distributed/read`.

We should see if there's a way we can detect this case and let the user know, and we should also detect the case where we send all queries constantly to a host. While this won't solve the watchdog

[2021-12-06 14:39] chiiph opened #3219 "Add support for Percona Server"
Some of our customers are using Percona Server. It sounds like the issues they are having are similar to the ones we've seen in mysql 8:

[code]

[2021-12-06 15:40] lukeheath commented on #3010
@gillespi314 Thanks for the heads up! I'm happy to go with `platform` or `platforms` at @chiiph's discretion.

[2021-12-06 15:52] noahtalerman opened #3220 "Add ability to update an existing policy's platforms"
The changes that added the ability to specify `platforms` for a new policy are included in the following PR: #3181

### Goal

Add ability to update an existing policy's platforms so that a user who discovers that their policy is compatible with, and running on, multiple platforms, can update their policy so that it only runs on the one desired platform.

Ex. The following “Is Filevault enabled on

[2021-12-06 16:08] chiiph commented on #3010
Well, the difference is that labels accept one platform and policies accept one or more. But scheduled_queries is platform (singular) and it also takes one or more. @lucasmrod what do you think about making them all `platform` ?

[2021-12-06 16:12] lucasmrod commented on #3010
I'm good with reverting to `platform` to keep all consistent. I'll do it now.

PS: At the time while reading the code for scheduled queries I was not expecting the "platform" field to contain multiple platforms. Hence my idea to name the policy platforms in plural.

[2021-12-06 16:22] noahtalerman commented on #400
@chiiph I'm passing this issue over to you for feedback/revisions.

We'd like to release the first iteration of this feature in Fleet 4.8.0. This feature comes from a customer request which was promised by the end of H2 2021.

I will break out a separate frontend ticket after review.

cc @lukeheath

[2021-12-06 17:30] #3139 closed

[2021-12-06 17:34] lucasmrod commented on #3010
It's `platform` now, the change has been merged to `main` :)

PS: Also, I added docs everywhere stating that `platform` is a comma separated string.

[2021-12-06 17:43] RachelElysia opened #3222 "Team Details Page: Fix spacing"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

M

[2021-12-06 17:47] noahtalerman commented on #1017
The improvements in this issue are now covered by the following "Surface aggregate Munki and MDM data in the Fleet UI" issue: #1895

[2021-12-06 17:47] #1017 closed

[2021-12-06 18:34] mikermcneil commented on #3202
Rachel Perkins Today at 11:45 AM
I think the user flow for "Save as new query" needs to be polished and built into the 4.7 release.

Rachel Perkins  1 hour ago
Painpoints: 1) You can edit name and description in the editor, and then be prompted for a new name and description 2) You are prompted that you created a new query but you're still on the old query's edit page

[2021-12-06 18:46] gillespi314 opened #3223 "Title missing on schedules page and policies page when no teams have been created"
### 🧑‍💻  Expected behavior

Expected to see either teams dropdown or page title (i.e. "Schedule" or "Policies")

### 💥  Actual behavior

<img width="1648" alt="Screen Shot 2021-12-06 at 12 43 12 PM" src="https://user-images.githubusercontent.com/73313222/144903998-81d57343-1eed-4158-87f2-4f36dda9c7b5.png">
<img width="1648" alt="Screen Shot 2021-12-06 at 12 40 37 PM" src="https://user-images.githu

[2021-12-06 19:06] mikermcneil commented on #3202
The "Save as new" modal comes up to allow for renaming-- agreed it's confusing.

Maybe we take a leaf out of Google Docs' book here and just decide to save as new automatically decide a title (e.g. "Foo bar" is copied as "Copy of Foo bar")?  That would obviate the need for the modal.

[2021-12-06 20:20] noahtalerman commented on #2713
@lukeheath, below are the queries for 3 policies that I would expect to pass, fail, and neither for the simulated Linux hosts in your dev environment:
- pass - "Is osquery version 4.6.0 installed?" `SELECT 1 FROM osquery_info WHERE version = '4.6.0';`
- fail - "Is osquery version 3.2.0 installed?"`SELECT 1 FROM osquery_info WHERE version = '3.2.0';`
- neither - "Policy with no such table in query"

[2021-12-06 20:32] mikermcneil opened #3225 "Tune Redis alarms for dogfood.fleetdm.com in #g-operations so that they don't show up unless something is actually wrong"

[2021-12-06 21:08] chiiph commented on #400
Here are some thoughts:

We shouldn't keep adding to the host data in this way, as we are increasing the cost of getting host data and that has side effects in other APIs such as list hosts. While filtering by profile email could still be an option for the list hosts API, we should try to expose the profiles for a host as a separate API to prevent more performance issues in the host listing API.

[2021-12-06 21:16] lucasmrod commented on #3214
Hi @macEar, thanks for the detailed report!

This is likely hitting an issue with MySQL 8, could you try with MySQL 5.7? If that's not an option, you may have to wait for a new release that will fix the issue.

[2021-12-06 21:23] mikermcneil commented on #3053
@noahtalerman A way we could ship this right now would be to add them as `kind: query` -- if so, then come back and nab this one after the next release: https://github.com/orgs/fleetdm/projects/17#card-74303880

[2021-12-06 21:35] mikermcneil opened #3227 "Improve password recovery UX"
Two parts:
- As a user, I want to see a consistent, better-looking user experience when going through the password recovery flow.
- As a user using an instance of Fleet without SMTP set up, I want a better password recovery experience that makes it clear that I will need help from an admin to reset my password.  (This is related to https://github.com/fleetdm/fleet/issues/3059)

[2021-12-06 22:07] lucasmrod opened #3229 "Have `scheduled_query_stats.last_executed` be `null` or omitted"
In the host details page we are currently showing query stats even if the scheduled queries didn't run:

<img width="993" alt="Screen Shot 2021-12-06 at 19 05 12" src="https://user-images.githubusercontent.com/2073526/144930316-427322a7-1900-4693-bac9-24802be1b951.png">

MySQL has some issues with zero date (see #3095 and #3214), hence my proposal to use `*time.Time` for  the `ScheduledQueryStats.

[2021-12-07 02:15] lukeheath commented on #2719
Update from @gillespi314

"I asked Eric to wrap up the PR for usage stats since it needed a few tweaks to the sails app to incorporate Mike M’s comments. There was a go test that needed to be updated too because of the new policy model and I’ve got that handled now. For QA on that one, it might require some coordination with Lucas/Tomas and you/Eric to develop the right test plan to check that a t

[2021-12-07 13:44] lucasmrod commented on #3220
One issue to solve as part of this ticket (and the reason it was postponed to after 4.7.0) is the updating of the `policy_membership` table.
After updating a policy's `team` or `platform` (which prectically means changing the target hosts of the policy), then `policy_membership` should be updated too.

There's the following scenario to take into account:
1. Policy A targets all hosts.
2. Host "dar

[2021-12-07 14:16] chiiph commented on #3055
@noahtalerman what kind of data would you expect to get with this command? Here's what you get with `fleetctl get teams --yaml` as taken from my local env:

[code]

[2021-12-07 14:33] lucasmrod commented on #3095
We may have a fix for this coming soon, @benatsb could you confirm you were using MySQL 8? (that was the case for @mpdeimos).

[2021-12-07 14:40] noahtalerman commented on #3055
@chiiph I would expect to be able receive the data only for one team. Maybe there's a command that allows me to retrieve only one team's yaml document?
  - Something like a  `fleetctl get teams --name=team1` command

Thanks for sending along the current output of `fleetctl get teams`

[2021-12-07 14:42] chiiph commented on #3055
Ah, now I see what I misunderstood from the original description. Makes sense, thanks for expanding!

[2021-12-07 14:54] noahtalerman commented on #400
@chiiph would this API retrieve the chrome profiles for one or multiple hosts? I'm asking because I think, please correct me if I'm wrong, the frontend would need to retrieve the chrome profiles for multiple hosts to support the following UI:

![Screen Shot 2021-12-07 at 9 52 11 AM](https://user-images.githubusercontent.com/47070608/145051585-7f81826c-b72f-4d65-9dac-638c746feba6.png)

[2021-12-07 14:58] chiiph commented on #400
If we want to display it there, then we would need to go with the other approach, the one that adds extra data to the list hosts but it doesn't by default: `GET /api/v1/fleet/hosts?include_extras=chrome_profiles`

[2021-12-07 15:09] noahtalerman commented on #400
Got it. The primary goal of this issue is for a user (mostly a user of the Fleet UI) to be able to search for a chrome profile on the **Hosts** page and see the chrome profile appear alongside the matching host(s). I updated the goal in the issue's description to match this.

Thus, the extra data approach that you specify might make the most sense.

@lukeheath I'm passing this issue to you. Can yo

[2021-12-07 17:02] noahtalerman commented on #3214
@lucasmrod can you please perform the human QA to confirm that the fix for this issue is ready for release?

Once you've confirmed the fix, or if you already have, please move this issue into the "Ready for release" column on ZenHub. Thanks :)

[2021-12-07 17:04] noahtalerman commented on #3057
@chiiph can you please perform the human QA/testing for this issue?

Once you've tested these changes, can you please move this issue into the "Ready for release" column in the ZenHub board? Thanks :)

[2021-12-07 17:05] noahtalerman commented on #3184
@chiiph, like in #3057, can you please perform the human QA/testing for this issue?

Once you've tested these changes, can you please move this issue into the "Ready for release" column in the ZenHub board? Thanks :)

[2021-12-07 17:25] lucasmrod commented on #3214
Done! I've verified it manually using MySQL 8.

[2021-12-07 17:44] noahtalerman commented on #2099
@chiiph after testing the changes to support turning on vuln detection for new installs, I think the vulnerability settings are not configured in my development instance of Fleet.

If I'm understanding the changes correctly, I would expect the `database_path` to be set so that I can see vulnerabilities in the Fleet API, fleetctl, UI, right?

After setting up a fresh dev environment, the `databases

[2021-12-07 18:25] chiiph commented on #2099
@noahtalerman how are you getting that config? Try `fleetctl get config --include-server-config`

[2021-12-07 18:36] noahtalerman opened #3237 "On "Queries" page, no search results state is not displayed"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main` branch.

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Fleet Premium

<hr/>

### 🧑‍💻  Expected behavior

When I entered a search value on the Queries page that doesn't match any of my queries, I expected to see the following no search results stat

[2021-12-07 19:04] noahtalerman opened #3238 "Fixes for #2595 - Create and edit detailed policies and associated proprietary queries."
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main` branch.

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Fleet Premium

<hr/>

### 🧑‍💻  Expected behavior

1. On the **Policies** page, I expect the first column to display "Name" instead of "Query."
2. As team maintainer or team admin user, when I

[2021-12-07 19:13] noahtalerman opened #3239 "When updating an existing policy's resolution, the resolution is not saved."
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on the `main` branch.

<hr/>

### 🧑‍💻  Expected behavior

I expected to be able to update the resolution for an existing policy.

### 💥  Actual behavior

After selecting "Save" and refreshing the page, the old resolution is displayed.

### More info
https://www.loom.com/share/b23319033e8e4799bf

[2021-12-07 19:17] noahtalerman opened #3240 "When refreshing the "New policy" page the "Query" field is empty"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on the `main` branch

<hr/>

### 🧑‍💻  Expected behavior

When navigating to the New policy page and refreshing the page, I expected to see the current default query included in the "Query" field:

![Screen Shot 2021-12-07 at 2 16 31 PM](https://user-images.githubusercontent.com/47070608/1450919

[2021-12-07 19:25] mikermcneil opened #3242 "Weekly hours sign-off"
Set up a process for Eric to give all managers regular reports of hours.  Use Fleeties sheet as source of truth for reporting structure.  If a manager is out of office, then please send the report to @mikermcneil instead

Note this is not an approval/gate -- it's purely advisory.  It's up to the manager to follow up on anything that looks off

TODO:
 - [ ] Document out approach to this to the hand

[2021-12-07 19:26] noahtalerman commented on #2099
@chiiph aha, below is the partial output from `fleetctl get config --include-server-config:
[code]

Vulnerabilities are now appearing in the Fleet UI / fleetctl.

My config from the above screenshot is taken from a GUI that shows me Fleet's MySQL database. The screenshot includes only the value for `app_confg_json`

Below

[2021-12-07 19:27] chiiph commented on #2099
We support both for legacy reasons, but the one you posted looks good to me.

[2021-12-07 19:34] lukeheath commented on #3223
I'm having trouble reproducing this bug. With no teams, I'm getting an "All Teams" dropdown:

![image.png](https://images.zenhubusercontent.com/57e551a495e42b6c5ba95c88/86fe16bc-2f75-46bb-a71c-1c92e0443615)

If a user is a team admin and the team is deleted, they no longer have access to the app and should receive an error message on login. That's what I'm seeing on my local.

@gillespi314 Would y

[2021-12-07 19:39] noahtalerman commented on #3191
@RachelElysia I agree that this should be behavior.

Since the current, unideal behavior is the expected behavior, I'm adding the ":product" and ":estimate" label so that this issue can be brought to a future estimation session.

[2021-12-07 19:45] noahtalerman commented on #3239
This issue is resolved by the changes in the following PR from @RachelElysia: #3234

[2021-12-07 20:24] RachelElysia commented on #3201
Zach and I tried to reproduce in main on my server and we couldn't.

[2021-12-07 20:56] zwass commented on #3201
I am able to reproduce this on `main` but I *must have my macbook in the result set*. If I query only the Dockerized Linux hosts, things seem to work fine.

https://www.loom.com/share/089bcb53efb94fdd84097736ce54c6c8

This probably explains why it reproduces in `fleetctl preview`? (Because the local host is also enrolled besides the docker hosts.

[2021-12-07 20:58] lukeheath commented on #3201
@noahtalerman Taking assignment back now that we have repro steps.

[2021-12-07 20:59] RachelElysia commented on #3201
Godspeed @lukeheath

[2021-12-07 22:34] lukeheath commented on #3223
I am reproducing this bug now. Must not have had it re-built properly earlier. Taking it back to in progress.

[2021-12-07 23:30] lukeheath commented on #3223
@noahtalerman I'm back to not being able to reproduce this again. I was briefly able to reproduce on the live policy branch, but then I rebased on `main` and it went away. Are you able to reproduce this?

[2021-12-07 23:36] noahtalerman opened #3245 "Improve live query experience by saving selected targets"
## Goal

As a user in query console, running a query again, I want my selected targets not to be cleared.

![image](https://user-images.githubusercontent.com/618009/145645529-6f0148cc-8f80-4bd9-8383-0b2d2e740518.png)

## Figma

Improve live query experience by saving selected targets: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4043%3A172895

## Tasks

### 1
- [x] Save selected targ

[2021-12-07 23:46] noahtalerman commented on #3223
@lukeheath I cannot reproduce this issue on `main`. I think this issue is possible a duplicate of the following issue: #3193

I'm closing this issue and marking this issue as a duplicate.

The changes that included a fix for #3193 were not merged in until late yesterday I believe (EST). This may explain why Sarah was still seeing the issue.

[2021-12-07 23:46] #3223 closed

[2021-12-08 03:18] zwass opened #3247 "Hosts page blocks rendering until labels request completes"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

<hr/>

### 🧑‍💻  Expected behavior

Hosts page renders relatively quickly.

### 💥  Actual behavior

Hosts page takes a long time to render as it waits for the labels request: https://www.loom.com/share/29f4904b8ba14f249f832700c9544a04

### More info

A lot of this page could be rendered before the l

[2021-12-08 05:33] edwardsb commented on #3225
tuned alarm to be max given 2 instances of Fleet running rather than anomaly tracking, when running low numbers of things small changes in autoscaling can set off alarms and we don't want to get alarm fatigue.

[2021-12-08 05:33] #3225 closed

[2021-12-08 13:58] noahtalerman opened #3251 "Blog post: Fleet 4.7.0 release"
Fleet 4.7.0 is scheduled for release on 2021-12-09 (afternoon PST)

### Goal

Prepare and publish the release blogpost for Fleet 4.7.0.

### How?

The primary features included in Fleet 4.7.0 are the following:
- Policies in Fleet are now separate and distinct from queries so that a user can focus on crafting a specific yes or no question to ask about their hosts.
  - Reasoning for the separation

[2021-12-08 15:23] noahtalerman commented on #400
@chiiph this makes sense to me. I went ahead and updated this issue's description to specify the `include_extras` approach.

This also makes sense. I updated this issue's description to include a new `GET /api/v1/fleet/hosts/{id}/macadmins` API route that returns the Google Chrome profiles for a host.

This API route could also include the additions to host details specified in the following "Surf

[2021-12-08 15:27] Rylon commented on #3081
Sorry for the delay in my response, but I wanted to echo @defensivedepth's comment here (https://github.com/fleetdm/fleet/issues/3081#issuecomment-983832009) is something we've seen too, even after applying all available security updates via `unattended-upgrades`, which did seem alarmingly high, perhaps we have the same issue?

[2021-12-08 16:08] noahtalerman opened #3256 "Smoke tests: Fleet 4.7.0"
# Goal

Easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.7.0

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium t

[2021-12-08 16:16] noahtalerman commented on #3247
Great catch. I think the improvement specified in this issue is encompassed in the following "Improve loading states on the "Home" page and "Hosts" page" issue: #3051

@zwass I think we can close this issue if I'm correct about the above.

[2021-12-08 16:17] zwass commented on #3247
Yes, thank you!

[2021-12-08 16:17] #3247 closed

[2021-12-08 16:38] noahtalerman opened #3258 "Improve error message about "EOF: invalid json""
From a Fleet customer:

### Goal

Improve the error message (EOF: invalid JSON) -- ie. so it briefly includes more user-friendly troubleshooting info about the reasons this could be happening.

Why? Because it will help users understand what's happening more quickly when glancing at their logs, thus making folks less likely to assume there just a problem with Fleet, or that something outside of th

[2021-12-08 16:39] chiiph opened #3259 "Review pack creation requests to the server"
As part of the pack creation flow, we do a lot of different requests. We need to review them all and try to optimize.

Particularly, there's a listing of 30k hosts without any of the optimizations. Is this needed at all? If it is, what is the bare minimum we need from it?

[2021-12-08 16:42] noahtalerman commented on #3258
@chiiph I'm passing this issue's assignment to you and moved it into the "Architect" column in the Product board on ZenHub.

When you have the time, can you please update this issue's description with a solution and bring the issue to a future estimation? Thanks :)

[2021-12-08 17:06] lukeheath commented on #3201
@zwass This issue is being caused by duplicate `uuid` properties in the host responses. For that reason, it shouldn't be affecting production users, but it will show up for preview users.

When filtering this table, we're indexing on `uuid` and expecting it to be unique. When running virtual hosts, they all have the same uuid. I changed that to `hostname` with my local machine present and filterin

[2021-12-08 17:17] lukeheath commented on #3259
@RachelElysia I'm assigning to you as I saw you worked in this function recently.

On the "New Pack" page, when the user clicks "Save", everything works as intended except there is a random request to:

`https://localhost:8080/api/v1/fleet/hosts?page=0&per_page=30000`

Since `per_page` is set to 30000, this is a very expensive and unnecessary request for someone with a lot of hosts.

The `handleSu

[2021-12-08 17:33] RachelElysia commented on #2935
I don't see a Figma mock for loading state or a manage count loading state for any other counts to work off of.

@noahtalerman is it okay if we push that to next release?

[2021-12-08 17:53] noahtalerman opened #3263 "Surface aggregate Munki and MDM data in the Fleet UI"
## Goals

As an IT administrator (macOS workstations), I want to see the number of hosts with a specific version of Munki installed so that I can track my effort to upgrade the Munki versions across all my workstations.

As an IT administrator (macOS workstations), I want to know the status of MDM enrollment across all my devices so that I can remediate hosts that are not enrolled.
- Later, this w

[2021-12-08 17:57] noahtalerman commented on #1895
@chiiph I'm passing this is issue to you. Can you please update the API wireframes in this issue's description? Thank you!

[2021-12-08 17:59] noahtalerman commented on #1895
The goals in this issue are now limited to revealing Munki and MDM information on the individual host level.

The goals in this issue will be addressed prior to the goals related to revealing Munki and MDM information at the aggregate level.

The following "Surface aggregate Munki and MDM data in the Fleet UI" issue includes goals related to revealing Munki and MDM information at the aggregate, ac

[2021-12-08 18:02] noahtalerman commented on #400
@chiiph I'm also passing this issue to you. Can you please adjust the API wireframes in this issue's description? Thank you :)

[2021-12-08 18:03] noahtalerman commented on #400
From the conversation with Tomas and Zach...the email search will be limited in that search is only perform if the search query looks like an email. This way, performance concerns can be limited for users that would like to search across hosts but do not care about being able to search by chrome profile.

This will be a limitation of the first iteration that can be improved later.

[2021-12-08 18:14] noahtalerman commented on #2935
@RachelElysia yes! We are into the freeze period for this release cycle so all improvements, excluding bugs, that are still waiting on a merge will likely be pushed to the next release.

[2021-12-08 18:44] RachelElysia commented on #3259
This is calling this because of the select packs target picker. It also is called on edit pack as well.

[2021-12-08 18:47] gillespi314 commented on #3223
FWIW I'm now not reproducing this on `main` either

[2021-12-08 19:27] lucasmrod opened #3264 "Identify Datastore APIs that load unnecessary data for osquery hosts"
Both UI/API and osquery agents use same datastore interface, we believe we are loading data that is not necessary for osquery agents (considering that number of agents is always many magnitudes larger than number of users of UI/API).

One example is the Datastore.Host API, both agents and UI/API use it. Such API always calculates the pack stats or failing policy count, etc., this data is needed fo

[2021-12-08 19:34] chiiph commented on #3055
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3055?planning-poker) with ZenHub @lucasmrod @mna @zwass

[2021-12-08 19:42] chiiph commented on #3173
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3173?planning-poker) with ZenHub @lucasmrod @mna @zwass

[2021-12-08 19:43] noahtalerman commented on #3211
@lucasmrod do you know if the osquery-perf tool will allow me to test software inventory for the additional Linux OSs?

If not, and you were you able to test software inventory for the additional Linux OSs locally, I will move this issue over to the "Ready for release" column.

[2021-12-08 19:50] chiiph commented on #3031
There's no need for this, it's already possible with Targets.

[2021-12-08 19:58] chiiph commented on #2756
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2756?planning-poker) with ZenHub @lucasmrod @mna @zwass

[2021-12-08 20:32] lucasmrod commented on #3211
No, it currently simulates macOS hosts.

Sure, I'll do it!

[2021-12-08 20:36] lucasmrod commented on #3031
@chiiph Now I remember, take a look at `PackSpecTargets` definition in the description, it only has "Labels".

[2021-12-08 20:51] noahtalerman commented on #3211
@lucasmrod thanks!

[2021-12-08 21:01] lucasmrod commented on #3211
Done. I've verified by running the simulated hosts in `tools/osquery` and enrolling them on a `preview --tag main` instance.

Screenshots:

<img width="246" alt="Screen Shot 2021-12-08 at 17 58 47" src="https://user-images.githubusercontent.com/2073526/145283658-a11cccc9-4ede-4715-9a28-8538c212039d.png">

<img width="997" alt="Screen Shot 2021-12-08 at 17 58 33" src="https://user-images.githubuser

[2021-12-08 21:30] lucasmrod commented on #3184
Verified by running the following steps:

1. Run `./build/fleetctl preview --tag v4.4.1` (fleet v4.4.1 had the host expiration event creation code).

2. Enable host expiration set to 1 day in the UI.

3. Run the following on mysql client:
[code]

4. Run `./build/fleetctl preview --tag main`.

5. Run the following on mysql client:
[code]

[2021-12-08 21:38] RachelElysia opened #3265 "Policy Flow: Select all hosts also highlights a team"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

I

[2021-12-08 21:53] DrewBakerfdm commented on #2612
Unsure whether or not either of these will fit, but admin access is required to add to the "About your team" box on the profile. If you could help with this @lukeheath that would be greatly appreciated.

"Keep track of servers and containers wherever they live: on your own hardware, in Amazon/Azure/Google clouds, or a little bit of each. Write scripts with fleetctl and design scheduled queries to

[2021-12-08 22:08] lukeheath commented on #3201
@noahtalerman Moving this to you for QA sign off on the above.

[2021-12-08 22:24] noahtalerman commented on #3201
I confirmed that I'm unable to reproduce the issue in the dogfood environment.

I'm updating the title and description of this issue to match Luke's below proposal to improve the fleetctl preview environment:

At the time of testing, the dogfood environment is running Fleet 4.6.1 and this issue was reported using Fleet 4.6.2 however, there were no changes to the sort functionality for live queries

[2021-12-08 23:20] zwass commented on #2481
Previously this issue included logging plugins, but that already seems to be covered by #1443

[2021-12-08 23:26] DrewBakerfdm commented on #2612
1598 x 213 was the previous header dimension (Just an FYI)

[2021-12-08 23:27] noahtalerman opened #3267 "Team policies: Add ability to configure automations for policies"
## Goal

As a user, I want to specify a webhook URL where alerts about policies can be sent so that I'm able to easily create a ticket that includes what host is failing which policy.

### Frontend (Blocked): #3269

## Figma

Team policies: Add ability to configure automations for team policies: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3923%3A208793

## Tasks

### 1
- [ ] Update

[2021-12-08 23:33] noahtalerman commented on #2756
@chiiph in an effort to ship iterative changes quickly, I would like to prioritize shipping the ability to configure automations for _global_ policies and push the ability to configure automations for _team_ policies to a later release.

I updated this issue to cover the specification for automations for global policies only.

The following issue includes specification for automations for team pol

[2021-12-08 23:54] noahtalerman opened #3269 "Team policies: Add policy webhook modal"
## Goal

As a user, I want to specify a webhook URL where alerts about policies can be sent so that I'm able to easily create a ticket that includes what host is failing which policy.

### Backend (done): #3267

## Figma

Team policies: Add ability to configure alerts for policies: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3923%3A208793

**Notes:**
- Webhooks are called "automatio

[2021-12-09 00:02] noahtalerman commented on #1895
To retrieve and display the Munki and MDM data, the Fleet team would like to prioritize using the `munki_info` and `mdm_info` tables available in the macadmins osquery extensions. This way, the Fleet product can take a first step towards retrieving information from this extension.

cc @chiiph

[2021-12-09 01:28] zwass opened #3271 "Mitigate thundering herd when Fleet server comes back online"
### Goal

Improve the resilience of Fleet to

(a) The Fleet server coming back online due to downtime.
(b) A large number of hosts coming back online (or enrolling for the first time).

In these scenarios, many hosts will have details, policies, and labels that need updating. This results in a huge spike of DB activity. Furthermore, even with jitter, there will continue to be a peak at every inter

[2021-12-09 04:08] mikermcneil opened #3273 "Handbook: what's up with the double h2s?"
See https://github.com/fleetdm/fleet/commit/c7203b44be82568afd058f27fbc34f43f3bfc751#commitcomment-61603514 for context

[2021-12-09 04:17] mikermcneil opened #3274 "Get rid of numbers in filenames of docs"
How?
- mikermcneil + eric pair on this before writing code to plan it out briefly (see how we did it for sailsjs.com -- I think we can improve/simplify a bit here)
- eric implements
- mikermcneil reviews PR

[2021-12-09 05:12] zwass commented on #3271
I came up with an idea for mitigating this that I PoCed this evening. It takes advantage of @mna's Throttled library, attempting to spread the host checkins out over the interval.

Draft PR #3276.

Check out https://www.loom.com/share/809f2990ee7f4571830cf664c629d9fb for a video demonstrating the smoothing.

[2021-12-09 05:17] mikermcneil opened #3277 "Lightweight handbook reorg (dec 2021)"
### Goal

As a reader of [the handbook](https://fleetdm.com/handbook), I want it to make sense and be excellent, valuable, easy to read content with simple language.

As a Fleetie editing the handbook, I want to know who the maintainer is so I can request a review from the right person.  (And I want that page maintainer to match up with the  single person who owns the implementation and consequenc

[2021-12-09 05:29] mikermcneil opened #3279 "Handbook: Hide "on this page" functionality (only when viewing intro page)"
### Goal

As a user on [the landing page of the Fleet company handbook](https://fleetdm.com/handbook), I don't want to click a nav link in the "on this page" section and have it scroll me down a little bit where I then have to click again on a more specific section (it feels disorienting, especially since this is a short page)

![image](https://user-images.githubusercontent.com/618009/145339716-09

[2021-12-09 05:44] mikermcneil opened #3281 "MIssing loading state when loading "Packs" page (/packs/manage)"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` (as of Dec 8, 2021)

**Operating system** _(e.g. macOS 11.2.3)_: All

**Web browser** _(e.g. Chrome 88.0.4324)_: All

<hr/>

### 🧑‍💻  Expected behavior
When visiting `/packs/manage`, I expected to see a loading spinner / loading state (consistent with how the other pages of the Fleet UI behave when

[2021-12-09 05:48] mikermcneil opened #3282 "Packs page: Leftmost column (with the checkboxes) is soooooooo wide"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` (as of Dec 8, 2021)

**Operating system** _(e.g. macOS 11.2.3)_: macOS (via screenshare of Zach's laptop)

**Web browser** _(e.g. Chrome 88.0.4324)_: Firefox (via screenshare of Zach's laptop)

<hr/>

### 🧑‍💻  Expected behavior
When visiting `/packs/manage`, I expected to see a leftmost column of ch

[2021-12-09 05:51] mikermcneil commented on #3282
@lukeheath fyi I can't reproduce this in Google Chrome for Fleet v4.6.1

_But_, I did see this firsthand on Zach's computer today using the latest from the `main` branch.  So either this is a Firefox-only bug, or it is a browser-agnostic bug that was introduced in 4.6.2 or more recently on `main`

[2021-12-09 06:16] mikermcneil opened #3283 "@100k+ hosts: High response latency for /api/v1/fleet/software"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Load testing env as of Dec 9 at 0600 UTC

<hr/>

### 🧑‍💻  Expected behavior
Getting to ≤5s latency for this API response would be a huge improvement.

At the same time, while 15+ seconds response time is def not ideal, it's also not the end of the world.  So another short term solution could be to add some

[2021-12-09 06:39] mikermcneil commented on #3283
Reason for rename: "15 seconds" can be inconsistent (between requests, depending on what else is up on your network, or on the Fleet server).  Left the 15s datapoint inside the issue though.

[2021-12-09 06:41] mikermcneil opened #3284 "@100k+ hosts: High response latency for /api/v1/fleet/labels"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Load testing env as of Dec 9 at 0600 UTC

<hr/>

### 🧑‍💻  Expected behavior
Getting to ≤5s latency for this API response would be a huge improvement.

### 💥  Actual behavior
To reproduce, navigate to /hosts/manage:
##### Latency
![image](https://user-images.githubusercontent.com/618009/145345923-e02fb3da-4

[2021-12-09 06:44] RachelElysia commented on #3237
The display count is also incorrect on this ticket.

Working on both of these bugs rn.

[2021-12-09 06:56] mikermcneil opened #3285 "Improve host status summary card on Home page"
## Goal

Update the host status summary card on the **Home** page so that combined count for "Online" and "Offline" hosts is consistent with the total host count.

## Figma

Improve host status summary card on Home page: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4140%3A170360

### Related Ticket: #3543 (Needs to be architected)

## Tasks

### 1
- [x] On homepage, update the `Hosts

[2021-12-09 07:04] mikermcneil opened #3287 "@100k+ hosts: High response latency for /api/v1/fleet/host_summary"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Load testing env as of Dec 9 at 0600 UTC

<hr/>

### 🧑‍💻  Expected behavior
Getting to ≤5s latency for this API response would be a huge improvement.

### 💥  Actual behavior
To reproduce, navigate to /hosts/manage:
##### Latency
![image](https://user-images.githubusercontent.com/618009/145349250-3f3a6421-d

[2021-12-09 07:17] mikermcneil opened #3288 "@100k+ hosts: High response latency for /api/v1/fleet/hosts"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Load testing env as of Dec 9 at 0600 UTC

<hr/>

### 🧑‍💻  Expected behavior
Getting to ≤5s latency for this API response would be a huge improvement.

### 💥  Actual behavior
To reproduce, navigate to /hosts/manage:
##### Latency
![image](https://user-images.githubusercontent.com/618009/145351130-f374bdae-7

[2021-12-09 07:20] mikermcneil opened #3289 "@100k+ hosts: High response latency for /api/v1/fleet/hosts/count"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Load testing env as of Dec 9 at 0600 UTC

<hr/>

### 🧑‍💻  Expected behavior
Getting to ≤5s latency for this API response would be a huge improvement.

### 💥  Actual behavior
To reproduce, navigate to /hosts/manage:

##### Latency
![image](https://user-images.githubusercontent.com/618009/145351525-95babe3e-

[2021-12-09 07:27] macEar commented on #3214
Hi there, tested MySQL v5.7.36, no errors - everything works as expected. But in our production environment MySQL 8 is used so we're waiting for fleet v4.7.0 then

[2021-12-09 07:32] mikermcneil opened #3290 "Very specific edge case: "Surprise" loading state when going back from "Online hosts" to "All hosts" in filter dropdown on /hosts/manage"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of Dec 9 at 0600 UTC

<hr/>

### 🧑‍💻  Expected behavior

As a user on the /hosts/manage page, after:
1. choosing "Online hosts" from the filter dropdown, waiting for it to load, and everything working as expected
2. then choosing "All hosts" from the dropdown again

I would expect the loading sta

[2021-12-09 07:38] mikermcneil opened #3291 "Manage hosts page: Display accurate "No matching hosts" message"
As a user on the /hosts/manage page:

### Expected behavior
A message that tells me that my selected filters / the search query I typed into the search box don't match any results.

### Actual behavior
Instead, I see a more generic message that may make me question the reliability of my tools, or that I did something wrong.

![image](https://user-images.githubusercontent.com/618009/145353947-ef525

[2021-12-09 07:48] mikermcneil opened #3292 "Manage hosts page > "Edit columns" modal: Capitalization"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of Dec 9 at 1:43a CT

<hr/>

### 🧑‍💻  Expected behavior
[Sentence case capitalization](https://fleetdm.com/handbook/growth#grammar-guidelines):

![image](https://user-images.githubusercontent.com/618009/145354777-a796d174-4a3f-4c25-97ab-fc4c6368ce2c.png)

The "Choose which column you see" text sh

[2021-12-09 07:52] mikermcneil commented on #3292
Aside @mike-j-thomas, @lukeheath, and @noahtalerman:
I double-checked and looks like [Figma is correct on this one]((https://www.figma.com/file/qpdty1e2n22uZntKUZKEJl/%E2%9C%85-Fleet-EE-(current)?node-id=692%3A45)), though I noticed that there is no punctuation after "Choose which columns you see", which looks funny to me.

This is an example of the kind of thing we've discussed≈ standardizing in

[2021-12-09 07:58] mikermcneil opened #3293 "On /settings/teams page: z-index issue"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of Dec 9 at 1:55a CT

**Fleet tier**: Fleet Premium

**Operating system** _(e.g. macOS 11.2.3)_: macOS

**Web browser** _(e.g. Chrome 88.0.4324)_: Chrome

<hr/>

### 🧑‍💻  Expected behavior
I expected to see the toast message ("Successfully created Swans") from my previous successful interaction u

[2021-12-09 08:08] mikermcneil opened #3294 "/settings/teams: "Back to teams" button is a bit crowded/leaky"
Version: `main` as of Dec 9 at 2:02a CT

### Two parts to this
- (A) apply padding conventions- see figma
- (B) reel in the clickable area for "back to teams" button

### Expected behavior

1. Padding (see figma)
2. Clickable area extends to a reasonable area buffer area around the button/link, with a generous nod towards folks who might be on touch-driven form factors rather than using a mouse cu

[2021-12-09 08:13] mikermcneil opened #3295 "/settings/organization: Align subnav"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of dec 9 2021 at 2:12a CT

<hr/>

### 🧑‍💻  Expected behavior

"O" in "Organization" lines up with the "S" in "Settings"

##### Figma
![image](https://user-images.githubusercontent.com/618009/145358630-2af43ba1-5451-47af-9c7f-8451a717a2f2.png)

### 💥  Actual behavior
![image](https://user-images.g

[2021-12-09 08:20] mikermcneil opened #3296 "Teams dropdown doesn't "feel premium" yet"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of Dec 9 2021 at 2:16a CT

<hr/>

### 🧑‍💻  Expected behavior
1. Able to scroll all the way to the bottom and see the full height of the last item in the dropdown  (and see the bottom of the scrollbar without it being clipped)
2. No extra whitespace to east of scrollbar

Anything else that feels "

[2021-12-09 08:26] mikermcneil opened #3297 "/hosts/manage: Team dropdown: Missing loading state when switching from empty selection back to non-empty selection"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of dec 9, 2021 at 2:22a CT

<hr/>

### 🧑‍💻  Expected behavior
A consistent loading experience no matter which filter is being switched which way.

1. Throttle your browser (i.e. google chrome, network tab, slow 3g)
2. Navigate to /hosts/manage
3. Switch to team "Geese" which has no hosts in it ye

[2021-12-09 08:32] mikermcneil opened #3298 "/hosts/manage: Teams dropdown: Timing issues"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of 2021-12-09 at 2:28a CT

<hr/>

### 🧑‍💻  Expected behavior
I expected the team dropdown on the /hosts/manage page to be resilient and to continue displaying accurate data, even if I accidentally switch filters/search while my previous selection is still loading.

### 💥  Actual behavior
It is po

[2021-12-09 08:36] mikermcneil commented on #3298
@lukeheath @RachelElysia @zwass Y'all there's gonna be more issues like this throughout the app. Moreso on pages w/ lots of filters/ways of interacting while stuff is still loading.  (We're only noticing this now because we're now doing QA against a load testing environment with enough latency to actually see the edge cases/timing issues.  i.e. when QAing locally, it's too fast, the spinners don't

[2021-12-09 08:54] mikermcneil opened #3299 "/queries/:id · "Select targets" loading state only works the first time"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of 2021-12-09 at 2:50a CT

<hr/>

### 🧑‍💻  Expected behavior
- Navigate to the query console
- Choose "Run query"
- See the loading spinner/loading state
- Hit "Cancel"
- Hit "Run query again"
- Should see the same loading spinner / loading state again

### 💥  Actual behavior
Instead, no loading

[2021-12-09 09:13] mikermcneil opened #3300 "Indicate that a policy's data is not yet accurate"
## Goal

As a user who just created or edited a policy, I want to see some indication that my policy's data is not yet accurate so that I know when to check back in for accurate results.

## Figma

Some indication or messaging that a new policy's host counts aren't yet accurate: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4223%3A176307

## Tasks

### 1
- [ ] Update policies table to

[2021-12-09 09:19] mikermcneil opened #3301 "Masthead navigation is a little too modest about its clickable areas"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of 2021-12-09 at 3:18a CT

<hr/>

### 🧑‍💻  Expected behavior
Clicking masthead navigation links works.

### 💥  Actual behavior
Clicking masthead navigation links works... almost always, except when you click where the little ribbon thing will be.

Loom video that demonstrates this: https://www.lo

[2021-12-09 09:26] mikermcneil opened #3302 "Query console: Select targets: Padding between pills"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of Dec 9 2021 at 3:32a CT

### 🧑‍💻  Expected behavior
More padding between pills in situations when there are enough pills to cause wrap

(vertical padding in this situation generally matches horizontal padding - see figma for specifics-- if not specced there with wrap, or if unsure, mention @mik

[2021-12-09 09:28] mikermcneil opened #3303 "@100k+ hosts: High response latency for /api/v1/fleet/targets"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Load testing env as of Dec 9 at 3:22a CT

<hr/>

### 🧑‍💻  Expected behavior
Getting to ≤5s latency for this API response would be a huge improvement.

### 💥  Actual behavior
To reproduce, navigate to the query console (i.e. either a policy or a misc query).  Then choose "Run query"

##### Latency
![image](

[2021-12-09 09:30] mikermcneil opened #3304 "/hosts/manage#new_label : Capitalization"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of Dec 9 2021, at 3:29a CT

<hr/>

### 🧑‍💻  Expected behavior
Sentence case
https://fleetdm.com/handbook/growth#grammar-guidelines

### 💥  Actual behavior
![image](https://user-images.githubusercontent.com/618009/145370190-f3027371-7a13-4670-8dc5-74658b7464a7.png)

[2021-12-09 09:40] mikermcneil opened #3305 "QA load test env"
Try to break things in load test env and track bugs:

- loading labels on manage hosts page «« already tracked
- packs is slow
- try navigating directly to pages (or doing hard refresh)
- try creating one of everything
- poke around

[2021-12-09 09:42] mikermcneil commented on #3305
Template for filing the most basic of these (the ones that are pure latency, and not related frontend bugs):

## Subject
[code]

## Body
[code]

## Examples of pure latency issues:
[code]

## Examples of other related frontend issues
[code]

[2021-12-09 09:42] #3305 closed

[2021-12-09 09:46] mikermcneil opened #3306 "/schedule/manage: Missing loading state, displays empty state instead (sorta)"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of 3:44a CT on Dec 9 2021

<hr/>

### 🧑‍💻  Expected behavior
Loading state

### 💥  Actual behavior
Loom video: https://www.loom.com/share/ce99aefbb4a14546842f092b111928ad

[2021-12-09 09:57] mikermcneil opened #3307 "Query console: "Compatible with" is briefly incorrect while loading"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main` as of dec 9 2021 at 3:50a CT

<hr/>

### 🧑‍💻  Expected behavior
No flicker, no incorrect compatibility info

### 💥  Actual behavior
Loom video: https://www.loom.com/share/1a8798785adb4daabf015a9ef936c3f2

### How I would fix it
So this doesn't seem to be caused by lack of a loading state.  Why would

[2021-12-09 15:47] noahtalerman opened #3309 "Add ability to specify which hosts are checked for a new policy"
### Goal

As a Fleet admin or maintainer, I want to specify the platform (macOS, Windows, Linux) for a new policy so that I can answer a specific yes or no question about only my macOS devices.

## Figma
Add ability to specify which hosts are checked for a new policy: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3933%3A207182

## API Specs:

#### #3010

## Tasks

### 1

- [ ] Add a n

[2021-12-09 15:55] noahtalerman commented on #3309
@lukeheath this issue specifies the ability to set platforms at policy creation time by selecting checkboxes.

This issue was broken out of the existing "Add ability to update which hosts are checked for an existing policy" (#2716) issue so that Fleet can ship the ability to select platforms for a policy first without automatic compatibility detection.

The Figma page for this issue includes the f

[2021-12-09 16:14] noahtalerman commented on #3282
I'm able to reproduce this using the latest code on `main` (commit hash b397b3a).

[2021-12-09 16:17] noahtalerman commented on #3292
The "Choose which column you see" text should have a colon `:` following it. The Hosts page in Figma current is now updated with this colon.

[2021-12-09 17:46] noahtalerman commented on #3240
@RachelElysia I'm seeing the following error when running the `make generate` command after pulling down `main` locally. Do you think this error is related to the changes in #3243?
[code]

[2021-12-09 17:53] mikermcneil opened #3313 "Onboarding: Contributor experience training (provided by ops team)"
Add to onboarding issue template:  A special 30m call with Eric using his calendly link (for the first couple, Eric you can have it add mikermcneil as well) where the new team member screen shares and shows Eric their Toast setup in Slack and Eric asks questions to make sure they understand which notifications show up in slack and which don't

Same thing for company email

Goal:
- make sure emails

[2021-12-09 17:54] RachelElysia commented on #3240
@noahtalerman Should be a quick fix. I know @lukeheath removed a lot of unused PolicyContext. My branch and his might have conflicted in that mine still needed it. Can fix within an hour.

[2021-12-09 17:57] noahtalerman commented on #3240
@RachelElysia sweet! Ty for the update :)

[2021-12-09 18:27] chiiph commented on #3220
We discussed this in the backend call, @lucasmrod could you explain the cleanup approach we'll take?

[2021-12-09 19:12] lucasmrod commented on #3220
Apart from cleaning up the `policy_membership` as part of the policy update (when either `team` or `platform` are changed), we've decided to also run a cron job for cleaning `policy_membership`. Such cron job will only cleanup `policy_membership` entries that have `updated_at` close to (less than `5m`) `policies.updated_at`.

Q: I'm defining 5m as the worst case latency for a host receiving distri

[2021-12-09 19:16] chiiph commented on #3031
Ah yes, we need to add teams there. Thank you for checking!

[2021-12-09 19:20] chiiph commented on #3220
Hm, probably, but depends how often the hosts are configured to check in. We can also store the last timestamp we saw running cleanups, and only do the ones that have `updated_at > last_timestamp`

[2021-12-09 19:26] zwass commented on #2488
I filtered out a couple more uninteresting accounts to end up with this query:

[code]

[2021-12-09 19:50] lucasmrod commented on #3220
Good idea, but it doesn't solve the fact that a host could send a delayed distributed write (after the cleanup), and such invalid policy result would be recorded.

Maybe I'm worrying about a really improbable edge case here...

[2021-12-09 19:51] RachelElysia commented on #3294
This is a repeat of https://github.com/fleetdm/fleet/issues/3222

[2021-12-09 19:52] noahtalerman opened #3317 "Add ability to see a specific hosts's Google chrome profiles"
## Goal

As an IT administrator (macOS, Windows, and Linux workstations), I want to be able to see a users work email on the Host details page.

#### Backend ticket: #400

**Note:**
- Martavis merged in a static version of this here: https://github.com/fleetdm/fleet/pull/2145/files

## Figma

Add ability to search hosts by Google Chrome profiles: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?

[2021-12-09 19:55] RachelElysia commented on #3301
Looking at this, there is a 3 px border at the bottom of every button. Borders are not clickable. When it's active, it changes color.

A front end dev would need to change the height of non-active nav tabs to 3 px taller, and remove the bottom border.

[2021-12-09 20:02] lukeheath commented on #3265
For reference, it's happening because the platform and labels arrays are being combined, then the id property is being used to index the array in React. So, if any platforms and labels happen to have the same id, you'll end up with the behavior you saw.

[2021-12-09 21:56] noahtalerman opened #3320 "Add ability to see Google Chrome profiles on the Hosts page"
Request from a customer with close to 100,000 devices. This feature will rely on the Google Chrome profiles information exposed by the `google_chrome_profiles` table included in the [macadmins osquery extension](https://github.com/macadmins/osquery-extension).

The following issue specifies the ability to search hosts by Google Chrome profiles: #400

## Goal

As an IT admin searching for a specifi

[2021-12-09 23:10] lucasmrod commented on #3264
Another API to take a look at is `SaveHost` (fleet sometimes saves/loads users even if they didn't change/are-needed).

[2021-12-09 23:44] RachelElysia opened #3321 "Policy flow: Hover over policy name bug"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
FREE

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

OBSERVER

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

<img width="773" alt=

[2021-12-10 00:12] zwass commented on #3259
This page should definitely get some refactoring attention as I also notice the targets API is hit multiple times in a row, and all the expensive requests are fetched again when the window loses and receives focus.

I'm looking at what it would take to eliminate the labels and hosts calls.

[2021-12-10 00:33] RachelElysia opened #3325 "Policies flow: Team observer makes request to global policies"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Observer

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected

[2021-12-10 01:25] mikermcneil opened #3326 "Clipped circles on home page"
![image](https://user-images.githubusercontent.com/618009/145501506-1a7ff1fe-226f-4742-9e77-452860baf330.png)

[2021-12-10 14:48] noahtalerman commented on #3325
@RachelElysia great catch! I'm also not sure how the data is retrieved.

For team observers on an individual **Policy** page, it looks like the request needs to be updated to use the `GET /teams/{team_id}/policies/policy_id}` API route instead of the `GET /global/policies/{policy_id}` API route.

I'm moving this issue into the "Release backlog" column of the current release board because the bug a

[2021-12-10 14:52] noahtalerman commented on #3326
@mike-j-thomas can you please look into why this clipping issue occurs when exporting assets as PNGs from Figma? This clipping issue seems to be common.

[2021-12-10 15:27] noahtalerman commented on #3201
Because this issue effects `fleetctl preview` users (first time Fleet users), I brought this issue back into the current 4.7.0 release board.

[2021-12-10 16:25] mike-j-thomas commented on #3326
Looks like the alignments in Figma forced them onto a half pixel position on the artboard. Must be a bug in Figma.
<img width="48" alt="hosts-macOS@2x" src="https://user-images.githubusercontent.com/78363703/145607354-4d57e313-6dac-49f6-b1be-5303ec0f2b04.png">
<img width="48" alt="hosts-windows@2x" src="https://user-images.githubusercontent.com/78363703/145607365-f166847f-57fa-46fb-8909-5aa2e21064

[2021-12-10 16:26] mike-j-thomas commented on #3326
If you see that happen again, look out for a half-pixel increment on the x position
![image](https://user-images.githubusercontent.com/78363703/145607521-8db3570d-0606-4b33-8c0f-8bfa98f40e44.png)

[2021-12-10 16:30] lukeheath opened #3333 "Packs table selection column too width"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

<hr/>

### 🧑‍💻  Expected behavior

Packs table selection column to be wide enough for checkbox and a little bit of padding.

### 💥  Actual behavior

Packs table selection column very wide:

![image](https://user-images.githubusercontent.com/2495927/145608041-8673b9c3-b64f-4a2a-8714-ba69556e38e4.png

[2021-12-10 17:08] noahtalerman opened #3335 "🔭 Fleet v.4.8.0 goals"
### 🔭 v.4.8.0

#### Dates

- 🦶 Kickoff: Tues, Dec 14
- 🧊 Freeze begins: Mon, Dec 27 (End of day)
- 🚢 Release date: Thurs, Dec 30, 2021

#### Goals

Fulfill remaining customer requests for H2 2021 so that Fleet's customers know that Fleet prioritizes taking iterative steps to reach the best solutions for their use cases.

Add support for applying a `policy` yaml document so that users who want to a

[2021-12-10 19:22] lukeheath commented on #3325
This bug may no longer exist after my QA fixes on the policy page. Worth re-checking before working on it.

[2021-12-10 20:19] RachelElysia commented on #3302
Will check if this is an issue on policies as well!

[2021-12-10 20:25] Zaulao commented on #3098
Hello @mikermcneil

First, I agree with your concern about the performance of such feature in large deployments. The main objective of this feature, at least for me, is to be able to make the link between logged in users and machines. Therefore, the query I use to perform this link is as follows:

`SELECT user FROM logged_in_users where user like '...'`

I run this query on all machines with the h

[2021-12-10 20:48] noahtalerman commented on #3309
@lukeheath the following "Add `platform` to policy templates in the Fleet UI" PR is now merged into `main`: #3311

[2021-12-10 20:51] mikermcneil commented on #3098
Thanks for the info @Zaulao!  Fleet is already storing system users as part of host vitals (i.e. what you see on the host details page), so, at a glance, this seems doable to me.

@noahtalerman Shall we look into this next week?

[2021-12-10 20:52] noahtalerman commented on #3325
This issue was resolved in #3238

[2021-12-10 20:56] noahtalerman commented on #3326
@mike-j-thomas thanks! Un-assigning you from this issue.

[2021-12-10 21:15] mikermcneil commented on #3098
This search should probably be skipped right?

![image](https://user-images.githubusercontent.com/618009/145642186-5528cd26-f10f-4af7-a91f-79ac1d948845.png)

[2021-12-10 21:16] Zaulao commented on #3098
Yeah, I agree

[2021-12-10 22:22] #396 closed

[2021-12-10 22:22] mikermcneil commented on #396
Shipped!

[2021-12-13 13:16] lucasmrod commented on #3271
We deployed #3318 to the load test environment.

The checking of online hosts (to calculate spread) was actually generating more read rows. Also we saw it generated a lot of load to Redis (Redis started rate limiting).

[2021-12-13 14:20] lucasmrod opened #3345 "Run tests with mysql8 on CI"
# Goal

We know `mysql8` should work but we aren't making sure all unit tests pass and are unaware if we are breaking compatibility with each release (see https://github.com/fleetdm/fleet/issues/3095#issuecomment-984766595).

# How

1. Make sure unit tests pass with the `mysql:8` docker image.
2. Add a new Github action to test with `mysql:8` on each PR.

[2021-12-13 14:23] lucasmrod opened #3346 "Fleet serve to exit if MySQL database/version is not supported"
# Goal

Discourage users to run Fleet with unsupported MySQL databases/versions.

# How

Fleet serve will exit if the MySQL database or version is not supported.
Also provide an option `FLEET_ALLOW_UNSUPPORTED_MYSQL` to allow running `fleet serve` even if the added start up check fails.

TBD: How exactly to get the server and its version (e.g. in the case of Percona `SELECT VERSION()` only shows v

[2021-12-13 15:35] noahtalerman commented on #3256
@zwass I'm wrapping up this round of testing. The following issues outline release blocking and performance improvement changes. These issues, and their associated PRs, are waiting on review and before they're merged into main:
- #3309 - decided to be release blocking, waiting on the associated PR (#3338) to be merged into `main`
- #3259 - not release blocking however the changes include performan

[2021-12-13 16:28] sevickson commented on #1937
Docs updated in  #2836

[2021-12-13 16:28] #1937 closed

[2021-12-13 17:15] sevickson commented on #2488
Query looks good, we get the expected results.

[2021-12-13 17:34] RachelElysia opened #3349 "Manage host page: Transfer host does not reset checkboxes"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

I

[2021-12-13 17:49] lukeheath opened #3350 "On the Host details page, surface Munki and MDM data"
## Goals

As an IT administrator (macOS workstations), the Munki version installed for a specific host.

As an IT administrator (macOS workstations), I want to see the MDM enrollment status and MDM server URL for a specific host.

- Later, this will expand to Windows and Linux workstations.

### Backend Issue: #1895

## Figma

On the Host details page, surface Munki and MDM data: https://www.figma

[2021-12-13 17:55] lukeheath commented on #3350
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3350?planning-poker) with ZenHub @RachelElysia

[2021-12-13 18:57] RachelElysia opened #3351 "Manage Host Page: Global and Team observers should not have access to Generate installer"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

From @no

[2021-12-13 19:16] chiiph commented on #1895
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/1895?planning-poker) with ZenHub @lucasmrod @mna @zwass

[2021-12-13 19:19] lukeheath commented on #3317
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3317?planning-poker) with ZenHub @RachelElysia

[2021-12-13 19:26] chiiph commented on #400
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/400?planning-poker) with ZenHub @lucasmrod @mna @zwass

[2021-12-13 19:33] lukeheath commented on #2756
@chiiph When the frontend wants to retrieve a list of all configured webhooks for policies, will that data be included in the `GET policy` response, or the `GET config`?

[2021-12-13 19:45] chiiph commented on #2756
In the response for GET config for global, and in each team for teams in the future.

[2021-12-13 19:51] lucasmrod opened #3353 "Fix bugs in rego policy with multi-team users"
**Fleet version**: `main` (4.7.0)

**Fleet tier**: Fleet Premium.

<hr/>

If a user belongs to more than one team, then some bugs in the `policy.rego` allow e.g. team observers to view/edit entities that they shouldn't be allowed to.

Following are the problematic rules I found that should be fixed:

[code]

[2021-12-13 22:36] RachelElysia opened #3357 "Manage Queries Page: Global and team observer should not have access to Create new query button"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Global Observer
**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected be

[2021-12-13 23:02] noahtalerman commented on #3357
The following is a Figma link that walks through the expected behavior for observers: https://www.figma.com/file/qpdty1e2n22uZntKUZKEJl/%E2%9C%85-Fleet-EE-(current)?node-id=4388%3A88829

[2021-12-13 23:30] mikermcneil opened #3359 "SSO mystery: Make behavior more intuitive, save users from themselves"
This is part of the following Q2 OKR: "Deliver a simple, trustworthy, actively-used product that works every time."

## Goal

As a Fleet user who does not have SSO enabled for my account, I want to see a clear error message when I attempt to login with SSO.

## Related
- #6098

## Figma

Make SSO behavior more intuitive, save users from themselves: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx

[2021-12-14 12:26] lucasmrod commented on #3220
Two more options:
1. Consider the scenario I'm describing above as very low probability and do nothing about it on the first release of this functionality. Just clean up the `policy_membership` upon policy platform/team update. If there are any unlucky users, we can provide a manual query.
2. This one is the best solution IMO but may be over-engineered: Have fleet send for each policy that the hos

[2021-12-14 16:03] noahtalerman commented on #3256
@zwass I'm wrapping up the round of testing following Monday's (12/13) late day merges. There are no remaining release blocking issues.

The following issues outline performance improvement changes. I'm not clear on whether these changes were merged into `main` prior to this round of testing:
- #3283 - performance improvements
- #3065 - performance improvements
- #3271 - performance improvements

[2021-12-14 16:23] lucasmrod commented on #2756
@chiiph IIRC during estimation you mentioned the payload, do you know what it should be?

[2021-12-14 16:24] chiiph commented on #2756
@lucasmrod yes! here it is:

[code]

[2021-12-14 16:27] lucasmrod commented on #2756
- By host "name": is that supposed to be the value of `hosts.hostname`?
- Timestamp, the send time of the webhook or the time in which the policy failed?

[2021-12-14 16:42] chiiph commented on #2756
^ @noahtalerman

[2021-12-14 16:48] chiiph commented on #3031
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3031?planning-poker) with ZenHub @lucasmrod @mna @zwass

[2021-12-14 16:48] chiiph commented on #3267
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3267?planning-poker) with ZenHub @lucasmrod @mna @zwass

[2021-12-14 16:49] chiiph commented on #3267
When estimating, note that this is the continuation of the global version of webhooks. So assume that's working flawlessly.

[2021-12-14 16:50] lucasmrod commented on #3267
First `1` should be removed from the description.

[2021-12-14 16:52] chiiph commented on #3081
I've estimated this at a 5 for timeboxed research. We need to know more in order to properly break it down / estimate.

[2021-12-14 17:07] noahtalerman commented on #2756
Yes, this value corresponds to the host's hostname.

I propose changing `name` to `hostname` in the webhook payload. This way, the naming is consistent with the payload of the `GET /hosts` API route. @lucasmrod @chiiph what do you guys think?

The `timestamp` is the send time of the webhook.

[2021-12-14 18:11] RachelElysia opened #3364 "Policy Flow bug: Observer who refreshes policy details can Run policy"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):
Main branch

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Team observer

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

#

[2021-12-14 18:22] RachelElysia opened #3365 "Policy Flow: Unneeded UI tooltip"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Team maintainer
**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Exp

[2021-12-14 18:56] #3283 closed

[2021-12-14 18:56] #3057 closed

[2021-12-14 18:56] #2136 closed

[2021-12-14 18:56] #3070 closed

[2021-12-14 18:56] #3256 closed

[2021-12-14 18:56] #3259 closed

[2021-12-14 18:56] #3353 closed

[2021-12-14 18:56] #3010 closed

[2021-12-14 18:56] #3309 closed

[2021-12-14 18:56] #3294 closed

[2021-12-14 18:56] #3351 closed

[2021-12-14 18:56] #3295 closed

[2021-12-14 18:57] #3302 closed

[2021-12-14 18:57] #2027 closed

[2021-12-14 18:57] #2099 closed

[2021-12-14 18:57] #2227 closed

[2021-12-14 18:57] #2368 closed

[2021-12-14 18:57] #2463 closed

[2021-12-14 18:57] #2488 closed

[2021-12-14 18:57] #2594 closed

[2021-12-14 18:57] #2595 closed

[2021-12-14 18:57] #2596 closed

[2021-12-14 18:57] #2713 closed

[2021-12-14 18:57] #2858 closed

[2021-12-14 18:57] #2935 closed

[2021-12-14 18:57] #2958 closed

[2021-12-14 18:57] #2996 closed

[2021-12-14 18:57] #3003 closed

[2021-12-14 18:57] #3011 closed

[2021-12-14 18:57] #3030 closed

[2021-12-14 18:57] #3032 closed

[2021-12-14 18:57] #3046 closed

[2021-12-14 18:57] #3049 closed

[2021-12-14 18:57] #3061 closed

[2021-12-14 18:57] #3064 closed

[2021-12-14 18:57] #3110 closed

[2021-12-14 18:57] #3112 closed

[2021-12-14 18:57] #3113 closed

[2021-12-14 18:57] #3118 closed

[2021-12-14 18:57] #3119 closed

[2021-12-14 18:57] #3130 closed

[2021-12-14 18:57] #3136 closed

[2021-12-14 18:57] #3141 closed

[2021-12-14 18:57] #3150 closed

[2021-12-14 18:57] #3154 closed

[2021-12-14 18:57] #3157 closed

[2021-12-14 18:57] #3184 closed

[2021-12-14 18:57] #3193 closed

[2021-12-14 18:57] #3196 closed

[2021-12-14 18:57] #3197 closed

[2021-12-14 18:57] #3211 closed

[2021-12-14 18:57] #3214 closed

[2021-12-14 18:57] #3237 closed

[2021-12-14 18:57] #3238 closed

[2021-12-14 18:57] #3239 closed

[2021-12-14 18:57] #3240 closed

[2021-12-14 18:57] #3282 closed

[2021-12-14 18:57] #3292 closed

[2021-12-14 18:57] #3296 closed

[2021-12-14 18:57] #3304 closed

[2021-12-14 18:57] #3325 closed

[2021-12-14 18:57] #3333 closed

[2021-12-14 19:02] lucasmrod commented on #2756
+1 to using "hostname". I'll update the description.

[2021-12-14 19:12] lucasmrod commented on #2756
@noahtalerman

Question about granularity:
1. Once you enable webhook for global policies, will then all global policies have the `Automations "On"`? (or do we want a per policy automation-on/automation-off setting?)
2. Same question but for team-level policy webhooks.

[2021-12-14 19:20] lucasmrod commented on #2756
It could happen (webhook interval 24h being the default).
One way to mitigate this is:
If the policy changes from `---/no` -> `yes` for a host then we could try removing such host id from the redis set (`SREM`).

[2021-12-14 19:20] lucasmrod commented on #2756
What do you mean here?

[2021-12-14 19:40] noahtalerman commented on #2756
@lucasmrod for both global and team policies, we want a per policy automation-on/automation-off setting. This way, a user can enable webhooks for global and team policies (saving the form with a valid destination URL) without turning on automations for any policies.

Also, with webhooks still enabled, we would like the user to be able to turn off automations for all policies so that they can tell

[2021-12-14 19:41] noahtalerman commented on #3199
The parameters for `webhook_settings` were added in the following PR: #3348

[2021-12-14 19:41] #3199 closed

[2021-12-14 19:46] noahtalerman commented on #3357
The following PR includes changes that remove the "Create new query" button for observers (global and team).

[2021-12-14 19:46] #3357 closed

[2021-12-14 19:58] lucasmrod commented on #2756
OK, makes sense, but where is that list of policies configured?
[code]

- Maybe we need a `policy_ids` field there? Or have the policy editing API allow setting an automation on/off (new column in `policies`)?

/cc @chiiph

[2021-12-14 20:01] chiiph commented on #2756
The list of policies would be implicit, it's all the policies that are setup for the global set of hosts. That way, if you add a new one, you don't have to update the webhook.

[2021-12-14 21:10] mna commented on #400
Couple questions (probably mostly for @chiiph ) to make sure I understand correctly before diving in:

* We want to add a new table to associate email addresses with a host, but it will not mimic the macadmins' extension "google_chrome_profiles" table, instead we will create a table with `host_id`, `email`, `source` and "source" will be "google-chrome-profiles" in that case?
* The `GET /api/v1/fle

[2021-12-14 21:44] lukeheath commented on #3364
@RachelElysia After looking at the [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions) it's unclear to me if observers are supposed to be able to run live queries. They _do_ have permissions to run live queries, but I'm not sure if that applies to policy queries.

@noahtalerman Will you please clarify the expected permissions for global and team observers running live pol

[2021-12-14 22:01] noahtalerman commented on #3364
@lukeheath currently, observers (global and team) are not able to run a policy's query as a live query. This applies to all policies.

Observers (global and team) are able to run a saved query as a live query only if that query has `observer_can_run` set to `true`.

It looks like there needs to be a separate backend bug filed to prevent observers from successfully running a policy's query as a liv

[2021-12-14 22:04] lukeheath commented on #3364
Thanks for the info! I'll update the frontend accordingly.

[2021-12-14 22:20] noahtalerman commented on #3263
@chiiph I'm passing this issue's assignment to you. Can you please take a look at the API wireframes? Please add any questions, thoughts or concerns here in the comment section and then pass the issue's assignment back to me. Thanks :)

[2021-12-14 22:27] lucasmrod commented on #2756
Yes, now it makes sense, though I'm not sure "caching of last policy run" will be simple to implement.

[2021-12-14 22:56] DrewBakerfdm commented on #2612
I believe we still need to create a custom header for this. Should we keep it simple with just the Fleet Logo?
![Frame 490 (1)](https://user-images.githubusercontent.com/89049099/146092517-d3fd2cf0-1f82-479c-a2d2-751975452759.png)

[2021-12-14 23:08] mike-j-thomas commented on #2612
Yes, I think that will be fine until we trick out the graphic.

[2021-12-14 23:56] mikermcneil opened #3369 "Add osquery (agent) compatibility chart to fleetdm.com/docs"
### Goal

As a user of Fleet/osquery, I want to know what devices, operating systems, and versions are supported.

[code]

### How?

- [x] new markdown page in docs with relevant words/headings to allow for this to be easily found by the people who are searching for it (either on google or in Fleet's doc search)
- [x] include compatibility table in said markdown
- [x] for now focus on which OS ver

[2021-12-15 02:04] mikermcneil commented on #474
@lukeheath @noahtalerman Looks like the status isn't accessible from GitHub anymore.  Could you guys let me know where this issue sits in terms of shipping recommended reference architectures for different levels of scale on fleetdm.com/docs?

Short term, I'm adding it back to the product design board temporarily to make sure it doesn't fall through the cracks.  Thank you!

[2021-12-15 05:52] macEar opened #3371 "Your Fleet database has unrecognized migrations"
**Fleet version**:

fleetctl - version 4.7.0
  branch:       HEAD
  revision:     8957f00d86055cab919ff996cdef50d64390bf5b
  build date:   2021-12-14
  build user:   runner
  go version:   go1.17.2

**MySQL version**: mysql:8.0.22

**Fleet tier**: Fleet Free

**Operating system**: docker image fleetdm/fleet:v4.7.0

<hr/>

### 💥  Actual behavior

We've updated Fleet from v4.6.2 up to v4.7.0 and whe

[2021-12-15 12:34] chiiph commented on #2756
Fair, we shall see how it behaves under load :)

[2021-12-15 12:38] lucasmrod commented on #3371
Hi @macEar, thanks for the detailed report!

We'll get rid of the `WARNING` message for that particular (old) data migration on next release. You can ignore it for now.

Just to confirm: you can run Fleet without any issues, right?

[2021-12-15 13:37] lucasmrod commented on #3201
The workaround was merged to [osquery-in-a-box](https://github.com/fleetdm/osquery-in-a-box)'s `develop` branch:

To test run the following:
[code]

[2021-12-15 14:35] noahtalerman commented on #3205
@ksatter I'm passing this issue's assignment to you and adding this issue to the "Ready to resume" column in the growth board.

[2021-12-15 15:17] noahtalerman commented on #474
@mikermcneil this issue is currently tracked in the "Waiting" column in the 🚀 Release board on ZenHub.

This issue will be moved into "In Progress" when Zach has the time to tackle 🦾

[2021-12-15 15:29] lucasmrod opened #3374 "Generate installer screen may be returning an `undefined` certificate"
**Fleet version**: 4.6.2.

**Fleet tier**: Fleet Free.

**Operating system**: Issue manifests when trying to install deb/rpm generated by `fleetctl`.

<hr/>

### 🧑‍💻  Expected behavior

`fleetctl` generates RPM and MSI packages that install successfully.

### 💥  Actual behavior

`fleetctl` user generates RPM and MSI packages that fail to install on both platforms.

![3c5cdd1e69e081463dc2d79ea45a81

[2021-12-15 16:06] mikermcneil commented on #474
@zwass Can we estimate and/or ship this alongside 4.8.0?

[2021-12-15 16:31] mna commented on #400
Tiny change, I'll go with `device_mapping` instead of `device-mapping` (underscore vs dash) in `GET /api/v1/fleet/hosts/{id}/device_mapping` for consistency with the rest of our routes (we use underscores in the few places where a path segment uses two words, like `forgot_password` or `live_query`).

[2021-12-15 17:53] mikermcneil opened #3377 "Document how to enroll in dogfood.fleetdm.com and in MDM enrollment in fleetdm.com/handbook/people"
Screenshots mentioned below are in DMs between Ben and Mike

Benjamin Edwards  3:04 PM
https://a.simplemdm.com/enroll/?c=CENSORED

mikermcneil:house:  4:08 PM
Here's what my experience looked like (in case you see an opportunity to share these screenshots in our docs for others going through the process)
3 files
image.png

image.png

image.png

:ty:
1

4:08
Continued  (this next step wasn't obviou

[2021-12-15 18:43] lucasmrod commented on #3264
From a backend call: Also consider `Login`.

[2021-12-15 19:21] lucasmrod commented on #3264
From a backend call: Keep an eye on expensive `counts`.

[2021-12-15 19:50] noahtalerman commented on #3374
I see the following "Failed to load certificate. Is Fleet app URL configured properly?" message if the `GET /api/v1/fleet/config/certificate` API route returns a 500 error:
![Screen Shot 2021-12-15 at 2 43 40 PM](https://user-images.githubusercontent.com/47070608/146254385-fcaa9aa5-8be5-47c4-a3a8-936db70a89ef.png)

If the `GET /api/v1/fleet/config/certificate` request is successful and return `und

[2021-12-15 19:59] noahtalerman commented on #3359
I'm able to reproduce. It looks like my user also has `sso_enabled` set to `false`.

@mikermcneil when you get the chance, can you please head to the Users page on dogfood.fleetdm.com and edit the "Noah Talerman" user by checking the checkbox next to "Enable single sign on" and selecting "Save?" Thanks :)

[2021-12-15 20:29] mikermcneil opened #3380 "Handbook: Document 3 principles for how we communicate as a brand + update "Grammar guidelines" to something like "Voice and grammar guidelines""
- [ ] Document 3 principles for how we communicate as a brand.
  - What principles?  (see screenshot below)
  - Where?  (Here: https://fleetdm.com/handbook/growth#grammar-guidelines)
- [ ] update "Grammar guidelines" heading to something like "Voice and grammar guidelines"

![image](https://user-images.githubusercontent.com/618009/146260441-19f91b61-3b23-4f9d-9e45-f65f85ca0c16.png)

[2021-12-15 20:38] mikermcneil opened #3381 "Website: On individual handbook pages such as https://fleetdm.com/handbook/growth, currently it looks like the subheading is the real heading. Instead, lets display the heading of the page up top (e.g. "Growth")."
Website: On individual handbook pages such as https://fleetdm.com/handbook/growth, currently it looks like the subheading is the real heading.  Instead, lets display the heading of the page up top (e.g. "Growth").

## Current way
![image](https://user-images.githubusercontent.com/618009/146261478-148d9d64-e226-4055-b11e-25f286431f2b.png)

## New way
Instead, the page's title is the top heading.

#

[2021-12-15 20:44] mikermcneil opened #3382 "Handbook: Document our approach to maintaining permanent, backwards-compatible URLs on fleetdm.com"
# Handbook: Document our approach to maintaining permanent, backwards-compatible URLs on fleetdm.com

Please read the thread below for what that approach is, and why.

Where to put it?  Here: https://fleetdm.com/handbook/growth#fleet-website

## Thread to read

Zach Wasserman:bento:  19 hours ago
nvm, seems unrelated. My change seems to have deployed successfully

Zach Wasserman:bento:  19 hours a

[2021-12-15 20:54] mikermcneil commented on #3359
@noahtalerman Thanks for reproducing!  And done, your account is updated.

For future reference, @edwardsb is your [go-to guy](https://fleetdm.com/handbook/product#product-dris) for all things dogfood:
![image](https://user-images.githubusercontent.com/618009/146262870-8b3ebd8f-d6c8-4bf7-845e-c1cdd1b3bbd1.png)

In terms of a fix for this:
- just because someone signs on with SSO doesn't mean they

[2021-12-15 20:58] mikermcneil opened #3383 "Handbook: Document whats up with "+"-prefixed labels under "Support process" in handbook"
## Where?
Under "support process" section in handbook

## What's up with them?
![image](https://user-images.githubusercontent.com/618009/146264041-da6e7159-06e8-4580-b858-bad30b8c9ff1.png)
mikermcneil  2:47 PM
fyi, the "+"-prefixed labels indicate we are waiting on an answer from an external community member who does not work at Fleet -- or otherwise that no further action is needed from the Fleet

[2021-12-15 22:38] DrewBakerfdm commented on #2612
I tried to see if I would be able to update the header but I don't have the permissions. If you'd be able to update the header @eashaw that would be awesome

[2021-12-15 23:05] #3251 closed

[2021-12-16 01:15] mikermcneil opened #3389 "Use updated query name when writing scheduled query results to log destination"
### Update

Ok so it looks like the query name change did in fact ingest, I just wasn’t patient enough or my code was bad, just a FYI @mikermcneil it does change. I do think it would be a good discussion around this though on the changing of the query names if we are storing historical snapshots.  Customers could rename the same query a dozen times and that would be chaos lol

### Original goal

A

[2021-12-16 01:32] mikermcneil commented on #2235
This is achievable via the REST API today.

We're working with the customer on coming up with a more specific solution for their use case.  I'm excited to say that this discussion is what led to the vulnerability automation features coming to Fleet early next year.  See #3050 for more on that.

[2021-12-16 05:14] macEar opened #3392 "Running visitFunc for queries/scheduled_queries: error in your SQL syntax"
**Fleet version**:

fleetctl - version 4.7.0
  branch:       HEAD
  revision:     8957f00d86055cab919ff996cdef50d64390bf5b
  build date:   2021-12-14
  build user:   runner
  go version:   go1.17.2

**MySQL version**: mysql:8.0.22

**Fleet tier**: Fleet Free

**Operating system**: docker image fleetdm/fleet:v4.7.0

<hr/>

### 💥  Actual behavior

If I'm not mistaken, starting from fleet v4.6.2 we c

[2021-12-16 05:19] macEar commented on #3371
@lucasmrod
Our Fleet server is functioning correctly as we can see, but we have some MySQL-related errors in fleet logs. These errors showed up in Fleet v4.6.2 if I'm not mistaken or probably even earlier but they were present in v4.6.2 for sure. I've created the separate report for these errors https://github.com/fleetdm/fleet/issues/3392

[2021-12-16 05:21] macEar commented on #3371
These `WARNING` messages in our case should be ignored? There isn't any negative consequences related to it? If so, I can close this issue.

[2021-12-16 11:18] lucasmrod commented on #3371
Also, please don't close the issue,  we'll close it as soon as we release a new fleet version with the fix to remove the warning.

[2021-12-16 11:19] lucasmrod commented on #3219
@chiiph See #3392, we should close one of the two as duplicate.

[2021-12-16 13:41] lucasmrod commented on #3264
From @chiiph:

you'll have to play around with the dashboards to see different things, there are a ton of metrics we can look at.

[2021-12-16 14:54] mike-j-thomas commented on #3052
Over to you @noahtalerman

Here's a link to an Interactive prototype detailing the actions dropdown for widescreen and tablet breakpoints: https://www.figma.com/file/bdl76K7p0NaRv2rKXoBVfO/Prototypes-(clickable-mockups%2C-diagrams)?node-id=948%3A348249

[2021-12-16 15:08] mike-j-thomas commented on #3052
The caveat with the proposed treatment is that tablet users would need to tap on a row to see the actions dropdown - hover doesn't work. I don't know the use case as to whether or not people are actually using Fleet on handheld devices, or if the 990px breakpoints are for users who need multiple browser windows open side by side(?)

[2021-12-16 15:25] noahtalerman commented on #3052
@mike-j-thomas the primary goal of this improvement is to make the experience of using tables in the Fleet UI at smaller widths consistent for _desktop/laptop_ users (minimum 768ps for now). The current wireframes accomplish this 🦾

Later, we may make improvements with the goal of improving the experience for _mobile device/touch screen_ users (tablet, smart phone, etc.)

[2021-12-16 15:58] lucasmrod commented on #2756
@noahtalerman From one of your comments in this issue ^:

I'm always batching all failing hosts in 1 POST request (will make sure it can scale to thousands of hosts - so that the request body isn't "large"), sounds good?

[2021-12-16 16:14] noahtalerman opened #3394 ""Are guest users not activated...?" policy template incorrectly returns "No""
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main`

<hr/>

### 🧑‍💻  Expected behavior

I added the "Are guest users not activated on macOS devices?" policy template in Fleet.

I then assigned an MDM profile to my device that disabled guest users.

I expected my host to answer "Yes" when I refetched my device's host vitals.

### 💥  Act

[2021-12-16 16:51] noahtalerman commented on #2756
@lucasmrod yes your approach is correct! The above comment is outdated (applies to a different approach to delivering policy automations that we elected not to move forward with).

Thank you for clarifying. Is the above comment hidden in this thread? If not, I'd like to hide it to prevent future confusion.

[2021-12-16 16:52] noahtalerman commented on #2756
@lucasmrod what do you mean by this? What would the request body look like in the scenario you describe here?

[2021-12-16 16:52] lucasmrod commented on #2756
Ah yes, it was probably already hidden and I clicked on show comment :)

[2021-12-16 17:02] lukeheath commented on #2603
@chiiph Assigning over to you for review. Please add any concerns, question or comments to this ticket. If all looks good, please add the `:engineering` label and move into the "Estimation" column.

[2021-12-16 17:02] lukeheath opened #3395 "Update API services to deprecate use of /global/ routes"

[2021-12-16 17:10] lucasmrod opened #3396 "Prepare db failed from 4.6.2 to 4.7.0 (MariaDB)"
**Fleet version**: v4.7.0 (user is upgrading from v4.6.2 to v4.7.0)

**MySQL server and version**: `10.3.31-MariaDB-0+deb10u1`

**Fleet tier** : Fleet Free.

**Operating system**: Fleet running on docker container.

### 🧑‍💻  Expected behavior

`fleet prepare db` executes successfully.

### 💥  Actual behavior

`fleet prepare db` fails with the following error:
[code]

[2021-12-16 17:18] lukeheath commented on #3086
@chiiph Assigning over to you for review. Please add any comments, questions, or concerns to this ticket. When ready, please move to the "Estimation" column and add the `:engineering` label.

[2021-12-16 17:19] lukeheath opened #3397 "Add "Software" page and hosts count"
## Goals

As a vulnerability analyst, I want to be able to see all the vulnerabilities (CVEs) across my organization so that I can start to track the status of resolving/patching these CVEs.

As a vulnerability analyst with a lot of hosts, I want a count of hosts for each software item to be included so I understand how many hosts are impacted by a vulnerability (CVE).

### Backend Issue #3086 (Bl

[2021-12-16 17:32] lukeheath opened #3398 "Update homepage activity card to include new policy activities"
## Goal

Add creating, editing, and deleting policy notifications to the activity feed.

### Backend Issue #3083

## Figma

Add policy activities to the activity feed: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3888%3A210134

## Tasks

### 1

- [ ] **Update homepage activity card to include new policy activity types**

**New activity types:**
- `created_policy`: <full_name> created

[2021-12-16 17:36] lukeheath commented on #3083
@chiiph Assigning to you for review. When ready, please move to the "Estimation" column and add the `:engineering` label.

[2021-12-16 19:08] lukeheath commented on #3029
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3029?planning-poker) with ZenHub @RachelElysia

[2021-12-16 19:20] lukeheath commented on #3269
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3269?planning-poker) with ZenHub @RachelElysia

[2021-12-16 19:22] RachelElysia commented on #3398
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3398?planning-poker) with ZenHub @lukeheath

[2021-12-16 19:31] lukeheath commented on #3051
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3051?planning-poker) with ZenHub @RachelElysia

[2021-12-16 19:33] lukeheath commented on #2971
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2971?planning-poker) with ZenHub @RachelElysia

[2021-12-16 19:34] RachelElysia commented on #3397
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3397?planning-poker) with ZenHub @lukeheath

[2021-12-16 19:36] RachelElysia commented on #3077
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3077?planning-poker) with ZenHub @lukeheath

[2021-12-16 19:38] lukeheath commented on #3395
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3395?planning-poker) with ZenHub @RachelElysia

[2021-12-16 19:38] RachelElysia commented on #3395
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3395?planning-poker) with ZenHub @gillespi314 @lukeheath @martavis

[2021-12-16 19:38] noahtalerman commented on #3374
The following screenshot displays a proposed solution to update the error message and display the same error message if the certificate successfully loads but its contents are undefined:

![Screen Shot 2021-12-16 at 2 37 06 PM](https://user-images.githubusercontent.com/47070608/146437193-8b553e16-c252-4e5d-8d88-274541b42de6.png)

[2021-12-16 19:50] lucasmrod commented on #2756
@noahtalerman

We need to decide what to do on the following scenario:

(`t` is short for timestamp)
[code]
(Could happen if policies are configured to run every 1h, and webhooks are configured to run every 24h.)

Should host X be present on the POST sent on t3 for Policy A?

[2021-12-16 19:53] noahtalerman commented on #3219
@macEar I transferred your report from #3392 below and closed #3392. The Fleet team believes that the errors you reported will be resolved by the changes outlined in this issue.

From @macEar in #3392:

**Fleet version**:

fleetctl - version 4.7.0
  branch:       HEAD
  revision:     8957f00d86055cab919ff996cdef50d64390bf5b
  build date:   2021-12-14
  build user:   runner
  go version:   go1.17.2

[2021-12-16 19:53] lukeheath opened #3399 "Enable "Last used" column in software table"
## Goal

As a user managing macOS workstations, I want to see when applications on a particular macOS device were last opened so that I can know which applications are frequently used by end users. Using this information, I can assess whether it makes sense to cancel or continue a subscription to a specific paid application.

## Figma

Exposed "Last used" information in "Software" table on Host de

[2021-12-16 19:54] noahtalerman commented on #3392
The errors reported in this issue will be resolved by the changes outlined in the following open issue: #3219

[2021-12-16 19:54] #3392 closed

[2021-12-16 20:21] mikermcneil opened #3400 "Add troubleshooting tips for osquery on Windows in docs"
- original title of this issue: Put Windows troubleshooting tips re getting logs into our "Using Fleet" FAQ (or another appropriate place)
- Running direct command from Powershell console helped the user where this came up
- Why?  (root cause)  Windows services don't have logs
- Where in docs?   "Using Fleet" FAQ (or another appropriate place)
- [x] Loop in @DominusKelvin in a new comment to ask f

[2021-12-16 20:33] noahtalerman commented on #2756
No, in this scenario host X should not be present in the POST sent at t3.

This is because we predict that the user wants help from Fleet (automation) to build a list of hosts  that require resolution/action (create support tickets) while receiving the least number of webhook requests (reduce noise).

[2021-12-16 20:41] mikermcneil opened #3401 "Set up Percona for monitoring MySQL in internal load test environment, then PR it into Terraform"
In Terraform  section of docs

and wherever else needs updated

[2021-12-16 20:48] noahtalerman commented on #3050
@mike-j-thomas I'm passing this issue's assignment to you and moving the issue into the Growth board.

Can you please add a new icon for the new "Software" item in the top navigation? (I'm currently using the gear icon as a placeholder)
![Screen Shot 2021-12-16 at 3 47 48 PM](https://user-images.githubusercontent.com/47070608/146446785-0705b21e-4d78-491c-8339-3bb0791bca76.png)

[2021-12-16 23:03] lukeheath opened #3403 "UI error when team is deleted while team user is logged in"

[2021-12-16 23:25] #2612 closed

[2021-12-17 10:16] bb2k commented on #3396
Same here, i had to remove the table indexes

[2021-12-17 15:14] lucasmrod commented on #2756
@noahtalerman

We are thinking on batching requests:

Say you have ~100k hosts failing for policy A. Instead of one single ~20 MB POST request, we are thinking on batching, say, up to 1k hosts per request. Then you would end up with ~100 POST requests for the failing policy A.

This is to reduce issues when sending (timeout) or on the receiving side (maybe some limits/filters).

Let us know what y

[2021-12-17 19:15] lukeheath opened #3407 "Policy and Query select targets: Selecting "All hosts", then cancel, then "Run" again makes "All hosts" option disappear"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): `both`

<hr/>

### 🧑‍💻  Expected behavior

On both the "Policies" and "Queries" select target pickers, I expected the "All hosts" option to be there after selecting it, then cancel, then run again.

### 💥  Actual be

[2021-12-17 19:41] zwass opened #3409 "UI should provide correct information about certificates"
## Goal

In the "Advanced" tab of the "Add hosts" modal, add instructions to download a certificate so that users running Fleet with a self signed certificate can successfully generate an installer that adds their hosts to Fleet.

## Figma

UI should provide correct information about certificates: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4509%3A174774

## Tasks

### 1
- [x] Updat

[2021-12-17 19:41] lukeheath commented on #3306
@RachelElysia This issue is addressed in my open PR here: https://github.com/fleetdm/fleet/pull/3402/files#diff-818edc7a13a24b5e418db366ad56b9d9f21eda7d7f2f11a3afbc48109514ee99R453-R465

Gonna snag this issue from you and move to in review. Didn't realize there was a separate ticket for this!

[2021-12-18 00:06] #2872 closed

[2021-12-19 13:20] Catscrash commented on #3396
same with new installation

fleet prepare db
2021/12/19 14:17:39 FAIL 20211202092042_RemovePolicyHistory.go (create policy membership table: Error 1005: Can't create table `fleet`.`policy_membership` (errno: 121 "Duplicate key on write or update")), quitting migration.

Is there a way to get the installation to go through anyway?

[2021-12-20 01:46] zwass commented on #3396
@bb2k @Catscrash are you both using MariaDB as well? Can you please provide the MariaDB version?

With `fleetctl preview` (using MySQL 5.7) I'm able to create a new install and upgrade from 4.6.2 to 4.7.0.

I still need to check with MariaDB.

[2021-12-20 04:47] mike-j-thomas commented on #3050
Over to you, @noahtalerman

[2021-12-20 12:23] qwerty1q2w commented on #3396
Hi! I have same problem with upgrade from 4.6.2 to 4.7.0.
Ubuntu 20.04.2
mysql  Ver 15.1 Distrib 10.5.12-MariaDB

[2021-12-20 12:53] mike-j-thomas commented on #3155
Assigning this back to you, @noahtalerman. I have created a sticker sheet with the core UI controls, and have included a description for each.

This will be the beginnings of a more robust (and up-to-date) design system. Please let me know when you are ready to reify as I will need to migrate these local components to the style sheet doc, and make sure that there are no Fleet EE (current).

![imag

[2021-12-20 16:04] #3012 closed

[2021-12-20 16:29] noahtalerman commented on #3155
@mike-j-thomas can you please clarify what do you mean by this?

I interpret this as...you'd like to make sure that all buttons, dropdowns, btn-hotdogs, btn-actions, and tab navigation in Fleet EE (current) are replaced by the new elements in [this stickersheet](https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3717%3A126303). Is that correct?

Will do.

I will let you know when these ite

[2021-12-20 16:47] lucasmrod commented on #2756
@RachelElysia

A few things to consider when implementing the frontend changes:
- `webhook_settings.failing_policies_webhook.policy_ids` could return an ID of a policy that was deleted (in case of bad luck timing between a user deleting a policy and another user reading the config). The frontend should account for deleted policies and ignore them.
- For MVP we don't need to allow setting `host_bat

[2021-12-20 16:58] mikermcneil opened #3420 "Generate installer > macOS :: support es_process_events on macOS"
### Goal

In order to use the new table

See Sharvil's blog post for more info: https://blog.trailofbits.com/2021/11/10/announcing-osquery-5-now-with-endpointsecurity-on-macos/

![image](https://user-images.githubusercontent.com/618009/146803914-6039debb-3e0c-44d5-aa25-639d2dd9ef24.png)

### How?

- [ ]

[2021-12-20 17:36] noahtalerman commented on #2756
@lucasmrod I think this makes sense to me. I have several questions to help me understand...

The above scenario would only occur if the user creates a policy and first enables automations for this policy before the 100k hosts respond to Fleet as "failing," correct? If all 100k hosts respond to Fleet as "failing" first, and then the user enables automations for this policy, these 100k hosts will n

[2021-12-20 17:55] lucasmrod commented on #2756
Correct, I meant ~100k "new" failing hosts (either their first run failed or "yes => no" transition).
This could happen if, say:
- you have ~100k servers all passing a policy and then some network issue prevents all servers to update some software/data (which is checked via a policy query).
- you have 100k hosts passing the policy, and the user mistakenly updates a policy query with a SQL typo. Th

[2021-12-20 19:43] chiiph opened #3421 "Audit db relationships and remove as many cleanups as possible"
For performance reasons, we've stopped using foreign keys in some places, mostly with host ids. This means that we don't have cascading deletes anymore, and we are not removing the entities related to a host when the host is removed either.

We need to audit all tables, collect the references that are not foreign keys but reference other tables, understand when they would become orphans and instea

[2021-12-20 19:44] chiiph commented on #3421
Estimating at 8 since this issue needs research.

[2021-12-20 19:49] chiiph opened #3422 "Make async labels/policies not use SCAN"
As SCAN is poorly performant, we want to reevaluate the implementation for async labels and policies in a way that doesn't use this primitive.

[2021-12-20 20:29] mna commented on #400
@noahtalerman @chiiph I see that the comments on this issue mention adding a (new, AFAICT) `include_extras` parameter on the list hosts endpoint : `GET /api/v1/fleet/hosts?include_extras=chrome_profiles`, so that the emails are returned in the hosts payload (and omitted otherwise). However this is not mentioned in the ticket's description, so I'm not sure if the decision has changed since the comm

[2021-12-20 20:42] mikermcneil opened #3424 "Fleetie onboarding: Document what to do when you want to take time off"
Onboarding feedback from Lucas:

![image](https://user-images.githubusercontent.com/618009/146830198-25c11fb6-b35e-4969-a7fc-c1444e0b91ac.png)

## How?
- [x] update onboarding template with a checklist item about this (should be trained some time in our first two weeks)
- [ ] if time allows, link to handbook and extrapolate content to there instead.  e.g. onboarding template says "You know the [st

[2021-12-20 20:44] chiiph commented on #400
@mna for this iteration, only what's in the description matters. We might add the rest in a future iteration.

[2021-12-20 20:52] noahtalerman opened #3425 "Unable to enroll a macOS device using the instructions in "Generate installer" modal"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main` branch.

<hr/>

### 🧑‍💻  Expected behavior

First, on the **Hosts** page, I selected "Generate installer" and copied the `fleetctl package` command.

Then, I ran the copied command in my terminal window to generate an osquery installer.

Then, I double clicked to open the installer an

[2021-12-20 21:51] mike-j-thomas commented on #3155
@noahtalerman that's correct. My original comment was supposed to read "make sure that there are no conflicts inn Fleet EE (currennt)"

[2021-12-20 22:02] noahtalerman commented on #3425
I was able to successfully reproduce this issue in Fleet's dogfood environment.

[2021-12-20 22:31] zwass opened #3427 "Unnecessary warning about data migrations"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.7.0

<hr/>

### 🧑‍💻  Expected behavior

No warnings on startup.

### 💥  Actual behavior

[code]

### More info

Some of these migrations were removed in https://github.com/fleetdm/fleet/commit/fd61dcab67f341c9e47fb6cb968171650c19a681. This means that anyone upgrading from a Fleet version prior to 4.1.0 w

[2021-12-20 22:49] zwass opened #3428 "Finer grained policies targeting"
### Goal

User story:

### How?

[2021-12-20 22:53] noahtalerman commented on #2756
@lucasmrod I don't think so! Thank you for calling this out. If a host fails to execute a policy's query, this host should not be included in the webhook request.

Only hosts that are reported as failing should be included in the webhook request.

Hosts that fail to execute a policy's query are currently not reported as failing in Fleet.

Reasoning for not marking hosts that fail to execute a poli

[2021-12-20 22:56] zwass commented on #105
Just heard another request for this while speaking with a customer today.

[2021-12-20 23:15] lucasmrod commented on #2756
This all makes sense, I will change the current implementation (shouldn't be hard).

+1, eventually we should add a way for the user to realize somethin's off, currently the UI is "silent" about policy queries that failed to execute, users will only see the failures in their osquery agent logs.

[2021-12-20 23:27] zwass opened #3429 "User story: I want teams to inherit agent options"
### Goal

User story:

### How?

- [ ]

[2021-12-21 00:12] anelshaer commented on #105
Hhhh, this was a year ago, glad its useful. I can certainly speak to that
and tell you it’s very useful and going to save a ton of queries being run
on machines and noisy logging etc.

On Mon 20. Dec 2021 at 11:56 PM, Zach Wasserman ***@***.***>
wrote:

[2021-12-21 00:51] noahtalerman commented on #3052
@mike-j-thomas heads up, I moved the wireframes for the **Hosts** page into the following separate Figma page: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4128%3A169187

I plan to file a separate "Add ability to reduce the screen width of the Hosts page to 768px" issue and call out this issue to this week's UI/UX office hours.

[2021-12-21 01:19] noahtalerman commented on #2825
@lukeheath I'm passing this issue's assignment to you. When you get the chance, can you please review the proposed UI and API changes?

Preparing this issue for estimation is not a high priority. I attempted to communicate this by placing this issue at the bottom of the "Architect" column in ZenHub.

Please feel free to update the API wireframes as you are the DRI for the REST API interface design

[2021-12-21 01:33] noahtalerman commented on #3263
@lukeheath and @chiiph, heads up, the improvements outlined in this issue have been de-prioritized and will likely not be included in a release until after Fleet 4.9.0.

Thus, I'm un-assigning Tomás and assigning Luke. This way, Luke can get one more rep drafting API wireframes prior to passing the issue to Tomás for backend specification.

[2021-12-21 01:33] noahtalerman commented on #3263
Note that the API wireframes included in the issue's description were drafted prior to Luke becoming the DRI for REST API interface design. Luke, please feel free to update the API wireframes.

[2021-12-21 01:33] noahtalerman commented on #3263
Sometime last week, when it seemed probable to have this issue estimated prior to kicking off 4.8.0, I skipped assigning this issue to Luke. I chose to do this in an attempt to prepare this issue for engineering estimation.

[2021-12-21 02:18] zwass opened #3432 "Make it easier to tell which hosts responded to the query"
### Goal

In this situation, for example:

<img width="387" alt="Screen Shot 2021-12-20 at 6 15 27 PM" src="https://user-images.githubusercontent.com/575602/146859505-fe5401fe-35c8-4d78-966b-c07020fbf4d3.png">

4 online hosts
1 result
2 hosts errored
what happened to the other host?

I think what happened is that the last host ran the query successfully but had no rows. The UI makes this hard to t

[2021-12-21 02:31] zwass opened #3433 "Errors tab disappears on live query page"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.7.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): Admin

**Operating system** _(e.g. macOS 11.2.3)_:  macOS

**Web browser** _(e.g. Chrome 88.0.4324)_: Firefox

<hr/>

#

[2021-12-21 06:15] DominusKelvin opened #3436 "Improving the Fleet UI docs"
### Goal

Currently the docs for the Fleet UI goes straight to schedules and I think this could be a bit jarring for a first time user of Fleet.

I propose the user should be eased into the features Fleet UI provides

### How?

- [ ]  A summary of what's possible in the Fleet UI

- [ ] Links to specific features like schedules, policies etc.

I think the above should be able to ease the reader int

[2021-12-21 14:16] chiiph commented on #3258
@noahtalerman not sure I understand where this is happening, do you know how I can reproduce this error?

[2021-12-21 14:25] #1149 closed

[2021-12-21 15:09] lucasmrod commented on #400
Q: Is the new API `GET /api/v1/fleet/hosts/{id}/device-mapping` to be used by `fleetctl` in the near future?

[2021-12-21 16:08] lucasmrod commented on #400
This will require a new `Fleet Osquery` (Orbit) release, right? (that includes the new extension tables), will that change be tracked here or on a different issue?

[2021-12-21 16:12] noahtalerman commented on #3258
@chiiph I'm linking to the customer Slack thread that describes the scenario in which these error messages were reported here: https://fleetdm.slack.com/archives/C01QH02FV1N/p1638284367267600?thread_ts=1638284238.265700&cid=C01QH02FV1N

Does the above thread provide enough information to reproduce this error?

[2021-12-21 16:26] mna commented on #400
Small tweak on the response payload, I added the `host_id` field on the top-level object, to make it clear what entity the payload is associated with:

[code]

[2021-12-21 16:42] chiiph commented on #3258
I don't think so. Next time we should request for full logs. We try to log context with the error messages, as otherwise they can be very generic. After this long, without any context, it's hard to really pin point what was happening.

Plus, it looks like they were in the middle of some kind of outage, which can add a lot of noise.

[2021-12-21 18:46] mna opened #3439 "Create a lightweight host loading Datastore method for authorization"
### Goal

For hosts, we often first authorize a List on any host, then load the host, and then authorize the read of that specific host (so that we now have the team IDs of the host). We reuse the existing `Datastore.Host()` method to load the host, but this is overkill in some cases as we don't need the full host information.

This ticket is to suggest implementing a lightweight host-loading func

[2021-12-21 18:51] noahtalerman commented on #3258
Ah, makes sense.

@chiiph can the this ticket move into engineering estimation with a "research" task? I just updated the "Task" section in this issue's description to reflect this.

[2021-12-21 18:59] chiiph commented on #3258
This needs more information as to what the goal is. Without knowing more, there's not a lot of research we can do as the error is pretty generic. We would need to define what situation we want fleet to be better at detecting first, so that we can see how to improve it.

There's a big chance that the error had more useful information, as there were other errors with the context I expected this one

[2021-12-21 20:08] lucasmrod commented on #3427
If those IDs can be ignored, then they can be added to: https://github.com/fleetdm/fleet/blob/93f4577c7dd301d58364c50b7fd42f48dce22e3f/server/datastore/mysql/mysql.go#L404-L410

[2021-12-21 20:19] mikermcneil opened #3440 "Consider helping users more clearly understand that fleetctl preview isn't designed for production use. Maybe in CLI output?"
![image](https://user-images.githubusercontent.com/618009/146992554-0a345ed9-0572-49fc-acd7-952c4de3629e.png)

[2021-12-21 20:27] lucasmrod opened #3441 "Fleetctl package fails to generate MSI when running on Windows"
**Fleet version**: N/A (user hasn't responded yet)

**Fleet tier**: Fleet Free

**Operating system**: Windows (version N/A).

<hr/>

### 🧑‍💻  Expected behavior

Fleetctl generates the MSI successfully.

### 💥  Actual behavior

Fleectl package fails with the following error:
[code]

[2021-12-21 20:38] mna commented on #400
PR that introduces the support for searching by email, ingesting the osquery extension's results, and adding the new endpoint to list device mapping for a host is merged. As mentioned on the PR, the only thing missing would be to actually test this with real results from the `google_chrome_profiles` osquery extension, and then as Lucas mentions above, it probably requires the new orbit release to

[2021-12-21 20:43] lucasmrod commented on #400
UPDATE: @zwass mentioned on today's daily that Fleet osquery 0.0.4 will include the `google_chrome_profiles` extension tables.

[2021-12-21 20:57] mike-j-thomas commented on #3277
@eashaw, I've assigned this to you. It looks like there is a to-do here for you. If you don't need a new section just yet, we may be able to close this issue.

[2021-12-21 21:01] mikermcneil opened #3445 "fleetctl query --query-name='foo' doesn't work if "foo" is the name of the query in the UI"
[code]

<hr/>

### 🧑‍💻  Expected behavior

### 💥  Actual behavior
![image](https://user-images.githubusercontent.com/618009/146997055-21907670-8a67-4f06-9312-6d6fa960619e.png)

I expected the query to work, but instead got an error:

[2021-12-21 21:04] mikermcneil opened #3446 "Improve the error message when a user runs a live query against a host that does not exist"
When running a query against a host that does not exist...
[code]

The user receives the following error message...
[code]

### Goal

If the user does not enter any hostname, the proposed error message copy is the following:
[code]

If the user enters a hostname that does not exist, the proposed error message copy is the following:
[code]

The error messages only cover the above scenarios in this

[2021-12-21 21:05] mikermcneil commented on #3445
I was confused about what environment I was talking to

[2021-12-21 21:05] #3445 closed

[2021-12-21 21:41] mna commented on #2656
Looks like this wasn't part of any board, I'll just close the issue as this was merged.

[2021-12-21 21:41] #2656 closed

[2021-12-21 21:41] tgauda opened #3447 "Redis connection errors don't show up in logs"
**Fleet version** 4.6.2

**Fleet tier** Fleet Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior
We found that our FleetDM instance is unable to connect to our Redis instance this morning.  Here's what we saw when a distributed qu

[2021-12-21 21:47] zwass commented on #3427
Ah perfect thank you @lucasmrod!

[2021-12-21 21:54] #3273 closed

[2021-12-21 22:54] mikermcneil commented on #3242
@eashaw fyi I updated this for clarity, and to document the discussion you and I had about this:
![image](https://user-images.githubusercontent.com/618009/147008005-8c4395a5-7371-4b32-aa68-c0dd69335747.png)

[2021-12-21 22:55] mikermcneil opened #3450 "Handbook: Rename "Manual QA" to "Human-oriented QA""

[2021-12-21 22:59] lukeheath opened #3451 "Config does not support same property names in nested objects"

[2021-12-21 23:03] lukeheath commented on #2918
Looked into this a bit and the issue is being caused by the `useDeepEffect()` hook on line 456 of `ManageHostsPage`. Within that hook, a call to `retrieveHosts()` is made. Something happens inside `retrieveHosts()` that trigger the `useDeepEffect()` again, which then makes another call to `retrieveHosts()`. That results in two calls to the API.

Ideal approach would be to rethink our pattern here

[2021-12-21 23:37] #3451 closed

[2021-12-22 00:00] gillespi314 commented on #3433
@zwass would you mind sharing the query you ran in the loom video when you have a moment? Were there any other queries that you had in mind in terms a query that errors on some hosts while returning empty results on other hosts?

[2021-12-22 01:03] zwass commented on #3433
This query can do assuming you have at least one macOS hosts and multiple Linux hosts enrolled:

[code]

The table does not exist on Linux so should return an error, and it should always return an empty result set on macOS because of the `WHERE 1 = 2`.|

Actually, I just tested with

[code]

and found that it doesn't seem to matter whether the non-erroring hosts return rows or not. In this screens

[2021-12-22 01:49] #3450 closed

[2021-12-22 01:58] zwass opened #3456 "Orbit can fail to update when process starts up after shutdown"
### 🧑‍💻  Expected behavior

Publish a new version of Orbit to the update repository. Orbit clients update.

### 💥  Actual behavior

Some clients update. Specifically, clients where the Orbit process is already running when it receives the new metadata successfully update.

When Orbit pulls the new metadata at startup, it fails to update and ends up in a stuck state where it does not pick up a furt

[2021-12-22 01:59] zwass commented on #3456
Perhaps this can be handled by initializing the hash cache with the actual on-disk hashes at startup?

[2021-12-22 02:01] zwass commented on #3456
It seems that each "stuck" client would have another chance to get "unstuck" each time a new update is published. This may be useful as a mitigation once we've fixed the underlying problem to address remaining agents that were shut down during that initial update.

[2021-12-22 04:13] #3381 closed

[2021-12-22 11:09] #3103 closed

[2021-12-22 16:52] lukeheath opened #3461 "Hosts search not behaving as expected"
### 🧑‍💻  Expected behavior

I should be able to type anything I want into the search box, with the results updating accordingly.

### 💥  Actual behavior

If I type several random characters quickly, the entire table briefly disappears, then reappears with my search input cleared.

[2021-12-22 17:04] lukeheath opened #3463 "Too much padding at bottom of team select"
### 🧑‍💻  Expected behavior

Consistent padding at the bottom of the teams dropdown whether a scrollbar is present or not.

### 💥  Actual behavior

More padding when there is no scrollbar present:

![image](https://user-images.githubusercontent.com/2495927/147128913-b0686c0d-663e-43a4-9d2e-d9198e5cc870.png)

### More info

The additional padding is likely needed so the scrollbar as room to scroll p

[2021-12-22 17:40] noahtalerman opened #3465 "Blog post: Fleet 4.8.0"
Fleet 4.8.0 is scheduled for release on 2021-12-30 (afternoon PST)

### Goal

Prepare and publish the release blogpost for Fleet 4.8.0.

### How?

The primary features included in Fleet 4.8.0 are the following:
- Policy automations: #3183
  - Add the ability to receive a webhook request which includes all hosts that answered "No" to a policy so that a user can easily create a support ticket to res

[2021-12-22 17:43] noahtalerman commented on #3465
@DrewBakerfdm I'm passing this issue's assignment to you because Mike Thomas is OOO now and through the week of Dec 27. I moved this issue into the growth board.

Please let me know if you have any questions about the 4.8.0 release, writing a release blog post, or anything else! Thanks :)

[2021-12-22 20:24] edwardsb commented on #3401
closes https://github.com/fleetdm/fleet/pull/3468

[2021-12-22 20:30] mikermcneil commented on #3377
@edwardsb Will add progress so far to this issue so we can pick back up on it soon.

[2021-12-22 20:35] mikermcneil commented on #3076
@edwardsb Ben will document everything we have so far in this issue and we'll pick back up on this later

[2021-12-22 21:11] mikermcneil opened #3469 "Fleet Desktop prototype"
### Goals

1. Packaging the desktop app
2. End user auth (knowing which device and user they are, getting them into Fleet)
    - Link end user to the Fleet UI
    - Button on the menu bar and a link to the end user's host details page.

### Figma

Fleet Desktop prototype: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4357%3A170693

[2021-12-22 21:23] chiiph opened #3470 "Detect issue with osquery by comparing timestamps"
By comparing seen time with detail updated at we can detect when an osquery's watcher might be killing the label/policy queries or other issues.

If a host is online, and the detail updated at < seen time - 2hrs, then there's an issue with the host and we should show a warning.

This came up in the backend meeting based on issues we've seen with some customers.

[2021-12-22 21:30] chiiph opened #3471 "Reduce transaction size and usage"
We are using transactions a lot. This is not a problem, but it can be problematic. For instance, metrics show "COMMIT" being the query we spend the most time on. While technically correct, it's not useful to improve Fleet.

If the change in the data is all done in one query, and the main value we get from `withRetryTx` is the retries, we should remove the tx and have the retries only. So a new `wi

[2021-12-22 21:35] chiiph opened #3472 "Evaluate insert ... on duplicate vs update + insert strategies"
There are cases where most of the times a row exists, and we update it. In most of these cases, we use `insert ... on duplicate key update`. This is not wrong, but it involves a key/constraint check and then either insert or update.

If we instead assume that the row will likely be there, we can do the update and if that fails do the insert. This means that once we will do the insert, which overal

[2021-12-22 21:38] chiiph opened #3473 "Add the ability to configure Sentry with Fleet"
While we can't have one Sentry configured by default in Fleet, we can allow users to configure this in their deployments.

We care particularly about the load test environment and being able to pinpoint issues and solve them rapidly.

This issue should be timeboxed to ~2 days. There's a lot that can be done with Sentry, but we should start small and add to it over time as we see fit. So the scope

[2021-12-22 21:44] chiiph opened #3474 "Improve testing for Orbit"
We have a lot of gaps in testing with Orbit. For instance, we broke enrollment of new hosts, and no tests failed.

We should evaluate what tests, whether integration or e2e, to add to orbit to close these gaps and be able to iterate orbit fast and with less risk.

[2021-12-22 22:10] noahtalerman commented on #2756
@lucasmrod definitely. This is a great idea. Can you please file an issue for this so that we have the idea tracked? The issue doesn't have to include a ton of detail.

[2021-12-22 22:22] noahtalerman commented on #2998
This issue is being moved from the 🛸Ready for Sprint column in the ZenHub 🛸 Product board to the ⏳Waiting column in the GitHub Product board.

This is because the vulnerability automations solution is now the prioritized improvement for starting to solve the problem of making it easier to create support tickets for all the hosts affected by a specific vulnerability (CVE).

Exporting a list of host

[2021-12-22 22:25] noahtalerman commented on #2998
Backend estimation: 5

[2021-12-22 22:31] noahtalerman commented on #2814
This issue is being broken up into separate issues:
- "Add ability to support CVE search"
- "Add ability to download a list of hosts that are affected by a specific CVE"

Both of the above issues are being de-prioritized and moved back to the start of the product design process.

This is because the vulnerability automations improvement is now the prioritized improvement for starting to solve the

[2021-12-22 22:43] noahtalerman commented on #2716
@gillespi314 heads up, I'm unassigning you from this issue because this issue is being moved back to the start of the product design process.

This is because the UI changes specified in this issue need to be updated after the ability to specify a policy's platform (for new policy's) was included in the Fleet 4.7.0 release.

[2021-12-22 22:45] noahtalerman commented on #2716
Frontend estimation prior to moving the issue back to the start of the product design process: 5

[2021-12-22 22:57] noahtalerman commented on #3303
@chiiph I assigned you to this issue and several other "latency" issues. Can you please prepare these issues for engineering estimation? Thank you :)

I would like to advocate for including these issues in the upcoming 4.9.0 release cycle.

You can find all "latency" issues in the "Architect" column on the Product board in ZenHub: https://app.zenhub.com/workspaces/--product-6192dd66ea2562000faea25

[2021-12-22 23:00] noahtalerman commented on #407
The first pass at remote control agent options has the following goals…
- Determining which flags+keys Fleet will support
- Document all flags+config keys Fleet will support
  - SEO considerations for the docs. Example: https://sailsjs.com/documentation/reference/configuration/sails-config-http
- Add support for settings all flags+config keys of interest remotely from Fleet

In later improvements.

[2021-12-22 23:20] noahtalerman commented on #3425
@zwass after generating a new installer, I'm unable to add my device to Fleet's dogfood environment and I receive the following new error:
`Failed enrollment request to https://dogfood.fleetdm.com/api/v1/osquery/enroll (No node key returned from TLS enroll plugin) retrying...`

[2021-12-22 23:28] chiiph commented on #3303
@noahtalerman 4.9.0 is pretty settled at this point. The problem with this issue and most other latency issues is counters, basically. We are in the process of evaluating them all, and deciding how we'll address them. None are backend only fixes.

So this can't be estimated at this point.

[2021-12-22 23:33] noahtalerman commented on #3195
@lukeheath can you please prepare this issue for engineering estimation next week? I would like to be able to advocate for prioritizing these improvements in the 4.9.0 release.

Please feel free to break up the issue if you think it's necessary.

I removed the "bug" label and moved the issue into the product board on ZenHub so that this issue is brought to engineering estimation.

[2021-12-22 23:37] noahtalerman commented on #2918
@lukeheath this is an issue I'd like to advocate for including in the upcoming 4.9.0 release cycle.

I moved this issue out of the "Waiting" column in the release board and into the "Architect" column in the product board so that it can be included in engineering estimation next week.

[2021-12-22 23:39] DominusKelvin opened #3476 "Too little space between checkbox and text in Safari browser"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Fleet 4.7.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Fleet Free

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): Admin

**Operating system** _(e.g. macOS 11.2.3)_: macOS 13.0

**Web browser** _(e.g. Chrome 88.0.4324)_: Safa

[2021-12-22 23:40] noahtalerman commented on #3028
I'm moving this issue out of the "Waiting" column in the release board and into the "Ready for sprint column" of the product board.

[2021-12-22 23:47] noahtalerman commented on #3303
Got it. @chiiph is there somewhere I can see the issues that will be included in 4.9.0?

[2021-12-22 23:49] chiiph commented on #3303
Just shared a doc with the tentative list.

[2021-12-23 00:43] noahtalerman commented on #3425
@zwass success! In Fleet's dogfood environment, I selected the "Generate installer" button and ran the `fleetctl package` command. My device now appears in the dogfood environment.

[2021-12-23 00:43] zwass commented on #3425
I just pushed 0.0.5 which fixed this issue.

[2021-12-23 00:43] #3425 closed

[2021-12-23 00:50] mikermcneil commented on #3303
Thanks for the list, Tomas!

@noahtalerman lmk if I can be of help getting those into issues next week so that it’s in our kanban board for when we kick off 4.9.0.

Re: latency issues: Sounds like a good next step is to definitively verify that all latency issues are resolved if the counts of concerned are removed.  @zwass @chiiph I’m happy to repeat my tests against our load test environment with

[2021-12-23 01:01] chiiph commented on #3303
@mikermcneil there are definitely other factors. We did a test without the counters and it was at least an order of magnitude faster. Improving the counters won't be the end of it, we can still do better. But that's the main offender.

[2021-12-23 01:16] mikermcneil commented on #3303
Gotcha.  @chiiph When you or the team have time (holiday schedule permitting), could you make the results of those tests public in the respective issues for each of the high-latency API requests?

That’ll let anyone from the community jump in, and help us weigh case-by-case whether the counts are worth it (an order of magnitude better latency might be good enough for some of the API routes, so dep

[2021-12-23 03:03] lukeheath commented on #1895
@mna @chiiph While @gillespi314 was implementing the frontend she noticed that the response for non-darwin devices looks like this:

[code]

We'll only be making the request for darwin devices so it's not a blocker for us, but wanted to mention it to get y'alls thoughts. Is there a clearer way we can indicate that the host does not have this data?

[2021-12-23 03:08] lukeheath commented on #3127
@RachelElysia With the merge of https://github.com/fleetdm/fleet/pull/3322 this ticket is good to close out, correct?

I've added it to the Release board's "Ready for Release" column. Would you please add pointing to this ticket so we can include it in our sprint totals? Thanks!

[2021-12-23 03:19] lukeheath opened #3480 "Add E2E tests for Host Details page"
## Goal

As a Developer, I want to know that the Host Details page is functioning as intended and displaying the appropriate content to the user based on team and role so that I am confident when adding new features.

## Tasks

### 1
- [ ] Create data fixtures for Host Details

---

### 2
- [ ] Add dedicated Host Details testing spec.

---

### 3
- [ ] Ensure tests include various platforms, roles

[2021-12-23 11:06] chiiph commented on #1895
@lukeheath @gillespi314 having to do this request after getting the host info instead of in parallel is unideal. Here are some alternatives that come to mind for the cases where there's no mdm/munki data:

[code]

or

[code]

If both are not present. And null either if either is not present but the other is.

Note that technically you can have a munki version but no mdm, and vice versa.

Do either

[2021-12-23 11:15] chiiph commented on #3303
After a mini back and forth with @zwass, I understood that this state is indeed wrong. We've been discussing the *potential* priorities for the *backend only* for a few weeks. It all sounded like we got to an agreement as to what would be the best to focus on, so my mind went straight to "it's settled" while the reality is that this needs at least one last step where what finally goes in it is dec

[2021-12-23 16:19] lucasmrod commented on #2756
I was wrong, we do have some indication that something may be off (see message above policies)

![Screen Shot 2021-12-23 at 13 18 09](https://user-images.githubusercontent.com/2073526/147266727-48286769-e003-4e66-8fd5-0158a080d1a2.png)

Let me know if we would still like an issue to improve upon that.

[2021-12-23 17:11] lukeheath opened #3485 "Opening the homepage software modal makes a request for all software"
### 🧑‍💻  Expected behavior

When clicking "View all software" from the homepage software card, I expect a single request to the software endpoint requesting the first page of results.

### 💥  Actual behavior

The expected request goes out, but so does a request for ALL software, which takes >2 minutes to return on loadtest.

[2021-12-23 17:14] lukeheath opened #3486 "Add E2E tests for Team Admin user role"
### Goal

Add an E2E test spec for the Team Admin role.

[2021-12-23 17:21] lukeheath commented on #1895
@chiiph Thanks, these both look good to me. If both are always null on non-darwn devices, I'd prefer the single `macadmins: null` object. if it's possible that some will not return null, then the first option with `munki` and `mobile_device_management` works.

Question: For later implementation, would it be possible t oreturn the `macadmins` object with the host details response? That would save u

[2021-12-23 17:25] lukeheath commented on #2789
Closing in favor of #3028

[2021-12-23 17:25] #2789 closed

[2021-12-23 17:30] lukeheath commented on #3350
I removed the e2e test update portion of this ticket in favor of #3480.

[2021-12-23 17:31] chiiph commented on #1895
Awesome, I'll PR this shortly.

It is possible. However, it would be interesting to see how we can break apart the host details API into different ones, as otherwise the speed of the host details page is only as fast as the slowest part we are getting from the database. For instance, if a host has a lot of software, it'll currently make the whole page slow rather than just the software table.

Mun

[2021-12-23 17:35] lukeheath commented on #2782
Closing in favor of #3486

[2021-12-23 17:35] #2782 closed

[2021-12-23 17:39] lukeheath commented on #3480
Closing in favor of #2557

[2021-12-23 17:39] #3480 closed

[2021-12-23 17:44] lukeheath commented on #2061
I came across this issue and wanted to add that @chiiph has already made quite a bit of progress towards this.

[2021-12-23 17:52] lukeheath commented on #1111
@gillespi314 Do you know if this ticket is still relevant?

[2021-12-23 17:56] lukeheath opened #3487 "Remove config flattening process"
### Goal

As a developer, I want to remove the config flattening process so that I can work with a more robust config object and not have to flatten and reassemble before sending back to the API.

- [ ] Remove config flattening process.
- [ ] Update all references in the app to the config object to target the nested objects version.
- [ ] Remove any code for this process that is no longer needed.

[2021-12-23 18:00] lukeheath opened #3488 "Evaluate all pages to determine if initializing logic still makes sense"
Previously we fixed a bug where App.tsx was applying the config object _after_ the page loaded. That meant on page load, user permissions were reset to the config defaults instead of the page defaults.

Some logic was added to page components to address this at the page-level. Now that it's been corrected globally, we need to evaluate each of the page components and remove any page-level fixes.

-

[2021-12-23 18:01] lukeheath opened #3489 "Create CSS conventions and associated README"
**We need to create CSS conventions that:**
- Define how to use class names (underscores, dashes, etc.) to ensure consistency.
- How to use base-class. Sometimes they have wrapper, sometimes they don't.
- Consider E2E implications to make selecting elements easier.
- Create a README for CSS conventions.
- In what cases should styling be at the component-level, page-level, and global-level.
- Defin

[2021-12-23 18:08] lukeheath opened #3491 "Create strategy for completing JavaScript to TypeScript conversion"
There's still quite a lot of JavaScript components that need to be converted to TypeScript. We need to define a process by which we can accomplish this.

Options:

1) Any time anyone on the team touches a JavaScript file, they should update it to TypeScript.
or
2) Create a series of tickets dedicated to conversion specific portions of the codebase.
or
3) Create one really large ticket to complete

[2021-12-23 18:10] lukeheath opened #3492 "Create strategy for completing migration from Redux to Context for all components"
We need a strategy to complete the conversion from Redux to Context.

Options:

1) Any time an engineer comes across Redux states, they refactor to Context.
or
2) We create a series of tickets to complete the conversion in batches.
or
3) We create one really large ticket to complete it all at once.

[2021-12-23 18:10] chiiph commented on #1895
Here's the PR https://github.com/fleetdm/fleet/pull/3490

[2021-12-23 18:12] lukeheath commented on #3492
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3492?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-23 18:14] gillespi314 commented on #1111
@lukeheath I think this is more or less covered by the general "focus on manual QA processes" initiative

[2021-12-23 18:18] chiiph opened #3493 "Latency issues around counters"
Here's the PR that disables the counts: https://github.com/fleetdm/fleet/pull/3481

I found an easy win in this change that I'll PR separately potentially for 4.8.0: https://github.com/fleetdm/fleet/pull/3481/files#diff-ec797a071df046dfb849880d689b5dc274601d19626e17e2f61e6ce663adaea9L819-L820, this is the kind of thing I expect we'll find that's making things slow as well. It's just hard to spot w

[2021-12-23 19:09] lukeheath opened #3494 "Frontend E2E Testing"

[2021-12-23 19:13] lukeheath opened #3495 "Add E2E tests for ManageSchedulePage"
- E2E flow should test Create, edit, and delete of a *global* scheduled query.
- E2E flow should test Create, edit, and delete of a *team* scheduled query.

[2021-12-23 19:13] lukeheath opened #3496 "Add E2E tests for TeamManagementPage"

[2021-12-23 19:13] #1464 closed

[2021-12-23 19:13] lukeheath commented on #1464
Closing in favor of #3495 and #3496.

[2021-12-23 19:20] lukeheath commented on #3496
This E2E test was added in `teamflow.spec.ts`.

[2021-12-23 19:20] #3496 closed

[2021-12-23 19:56] #3495 closed

[2021-12-23 20:04] #1111 closed

[2021-12-23 20:05] lukeheath commented on #2284
This was being caused by the global config re-applying, which has been fixed.

[2021-12-23 20:05] #2284 closed

[2021-12-23 20:20] lukeheath commented on #1895
| we are trying to break apart the "Host monolith" because it's causing a lot of scaling pains, and this is one grain of salt thrown in that direction.

Totally agree and good point. We do want to async load host details rather than a huge monolith, so keeping separate endpoints makes sense.

[2021-12-23 23:54] mikermcneil commented on #3303
Continued here: https://github.com/fleetdm/fleet/issues/3493

[2021-12-23 23:55] mikermcneil commented on #3289
See also: #3493

[2021-12-23 23:55] mikermcneil commented on #3288
See also: #3493

[2021-12-23 23:55] mikermcneil commented on #3287
See also: #3493

[2021-12-23 23:55] mikermcneil commented on #3284
See also: #3493

[2021-12-24 23:17] gillespi314 commented on #3485
@lukeheath, I've done an initial pass at this and found that the modal is doing search and count client-side which is why it pulls down the entire software list on modal open. I think this might be a holdover of when the approach to server-side counts was still in flux.  I've got a draft PR going but I'll need some input on how to handle the loading and error states for the count since those were

[2021-12-27 15:08] lucasmrod commented on #3447
I ran the following local test:
- Run fleet version `fleet-v4.6.2`
- Bring Redis down

Run the `/healthz` endpoint:
[code]
The fleet instance logs the following:
[code]

So, it seems that `v4.6.2` does log Redis errors on the `/healthz` endpoint...

[2021-12-27 16:09] RachelElysia opened #3502 "App Context not always updated"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Team Maintainer

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Ex

[2021-12-27 17:38] lucasmrod opened #3503 "If Redis is down then hosts won't be able to check in"
**Fleet version**: Confirmed in `v4.6.2` and later (the issue probably exists before `v4.6.2`).

<hr/>

### 🧑‍💻  Expected behavior

If Redis is down, only live queries and policy automation shouldn't work, the rest of the system should continue to work (labels, policies, host details, etc.).

### 💥  Actual behavior

When Redis is down, hosts cannot check in due Fleet failing to get live queries fo

[2021-12-27 18:06] lucasmrod opened #3504 "Improve Fleet redis connection checks"
**Fleet version**: Confirmed in v4.6.2 and later (the issue probably exists before v4.6.2).

<hr/>

### 🧑‍💻  Expected behavior

If Fleet can connect via TCP to the configured Redis port, but Redis is unresponsive/not-processing-commands then Fleet should fail Redis related requests and the `/healthz` endpoint should report the issue.

### 💥  Actual behavior

If Fleet can connect via TCP to the con

[2021-12-27 18:30] lucasmrod opened #3505 "Document how to run Redis in Cluster mode (for development)"
As a developer I would like to run a local fleet instance but using the Redis Cluster mode (`localhost:7001-7006` as defined by the development `docker-compose.yml`) instead of the default standalone instance (`localhost:6379`).

How do I do that? I tried running `--redis_address=localhost:7001` but it's not working, live queries fail with:
[code]

If there are docs already, sorry I missed them :)

[2021-12-27 20:23] gillespi314 commented on #3502
@RachelElysia, thank you for filing this issue! It jogged my memory about concerns I had about the patterns we are using initializing app context and page state for direct navigation via URL. I think these sorts of issues can crop up anytime we are using url params and not parsing them to set context. It was one of the reasons I remember that was shying away from the global teams dropdown context.

[2021-12-27 20:36] RachelElysia opened #3507 "Frontend Dev: More properly validate URLs/email addresses in forms"
Several forms ask for URLs and email addresses that are not properly being validated.

### Goal

Add frontend validation to all URL/URI/Email fields in the Fleet UI.

### How?

Identify all URL/URI/Email fields in the Fleet UI and add validation on the frontend if not already present.

[2021-12-27 20:49] RachelElysia opened #3508 "Frontend cleanup: Remove negations in ternaries and look into linting/code stylesheets"
### Goal

TODO

Fix
- ManagePacksPage !isLoadingPacks ternary
- ManageSchedulesPage !isLoadingTeams ternary

Look into:
Creating a linter or updating a coding stylesheet so code and code reviews are consistent in styling

### How?

- [ ]

[2021-12-27 20:52] gillespi314 commented on #3507
@RachelElysia, there is an old validator for email but I am totally in favor of revamping and expanding these validators (and possibly relocating them to a different directory so they are easier to find).

frontend/components/forms/validators/valid_email/valid_email.ts

[2021-12-27 21:44] lucasmrod commented on #3447
We've found a _possible_ cause for this issue (to be confirmed): #3504

In a nutshell, Fleet doesn't behave well if:
- it can make a successful TCP connection to the configured Redis address, but,
- the Redis process (for some reason) is not responding to commands.

[2021-12-27 23:29] lukeheath commented on #3507
@chiiph Do you see any reason we wouldn't want to validate URLs on the frontend? I'm thinking a user may be running Fleet inside of a private network and be using aliases for hosts that don't match normal URL patterns. What do you think?

[2021-12-28 16:50] lucasmrod opened #3512 "Add link to live query websocket API docs to the main API docs"
A user commented the following:

The live query websocket documentation lives in: https://github.com/fleetdm/fleet/blob/main/docs/03-Contributing/07-API-for-contributors.md#retrieve-live-query-results-standard-websocket-api

We should add a link (to not duplicate) on the main API docs: https://github.com/fleetdm/fleet/blob/main/docs/01-Using-Fleet/03-REST-API.md#run-live-query.

(This is so that r

[2021-12-28 17:31] RachelElysia commented on #3127
100%

[2021-12-28 18:05] RachelElysia commented on #430
#3514 PR ready for next sprint :)

[2021-12-28 19:28] lucasmrod commented on #3095
The issue was fixed in [fleet v4.7.0](https://github.com/fleetdm/fleet/releases/tag/fleet-v4.7.0).

[2021-12-28 19:28] #3095 closed

[2021-12-28 19:33] zwass commented on #3100
Windows drops all of the stdout/stderr logs from Services.

This task should probably achieve the following:

- Make Orbit logging (including the osquery logs) pluggable -- add a configuration option to allow writing logs to a file instead of stderr. Logging should still go to stderr by default.
- Ensure there is appropriate log rotation for any logs that are written directly to the filesystem. Pe

[2021-12-28 19:53] zwass commented on #3100
Looks like we already have a `--log-file` option: https://github.com/fleetdm/fleet/blob/d37792375019e6ef811f1279380a88fd2dd10918/orbit/cmd/orbit/orbit.go#L116

So maybe what's left is:

1. Ensure that osquery logs are also included in this log file.
2. Add rotation.
3. @lucasmrod says this logging should go to `%LOCALAPPDATA%\Orbit` (not on Program Files).

[2021-12-28 20:48] lukeheath opened #3516 "Refactor all E2E tests in integration/all"
- [x] Update all existing tests with new Cypress patterns.
- Replace any `get()` calls with `getAttached()`
- Remove all `wait()` calls.
- Uncomment out all existing tests and address any issues.

### integration/all

Updated in #3785 unless otherwise stated with another PR

**/app**
- [x] hosts.spec.ts
- [x] labelflow.spec.ts
- [x] manageUsers.spec.ts
- [x] packflow.spec.ts
- [x] policiesflow.spe

[2021-12-28 20:48] lukeheath opened #3517 "Refactor all E2E tests in integration/free"

[2021-12-28 20:48] lukeheath opened #3518 "Refactor all E2E tests in integration/premium"
- [x] Update all existing tests with new Cypress patterns.
- Replace any `get()` calls with `getAttached()`
- Remove all `wait()` calls.
- Uncomment out all existing tests and address any issues.
- Separate code into more `it()` assertions. Should have separate assertion for every primary action (create, edit, delete). This will require changing `beforeEach()` and `afterEach()` to `beforeAll()` an

[2021-12-28 20:50] lukeheath opened #3519 "Add E2E tests for Team Admin flow"

[2021-12-28 20:50] lukeheath opened #3520 "Research, identify and document where new E2E tests are needed"
What new E2E tests would provide the most value?

**Bonus question:** How should the tests be organized so that they are easy to maintain and extend? Is the current organizational structure sufficient, or should we consider something else?

[2021-12-28 20:51] lukeheath commented on #3516
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3516?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 20:52] lukeheath commented on #3516
@gillespi314 @RachelElysia After looking through the E2E tests, having a separate ticket for each test seems like overkill. I decided to separate them into three tickets for the three primary folders (all, free, and premium). I think it will be best for one person to tackle each of the directories, anyway, so less tickets is easier to manage.

[2021-12-28 20:59] lukeheath commented on #3517
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3517?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 21:00] lukeheath commented on #3518
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3518?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 21:02] lukeheath commented on #3127
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3127?planning-poker) with ZenHub @RachelElysia

[2021-12-28 21:05] lukeheath commented on #1996
Closing in favor of #3494

[2021-12-28 21:05] #1996 closed

[2021-12-28 21:11] lukeheath commented on #1463
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/1463?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 21:27] lukeheath commented on #3488
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3488?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 21:29] lukeheath commented on #3492
This one isn't ready for estimation. Moving back to "Architect" until a strategy is developed with the frontend team.

[2021-12-28 21:36] lukeheath commented on #3399
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3399?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 21:37] lukeheath commented on #3486
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3486?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 21:38] lukeheath commented on #3487
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3487?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 21:40] lukeheath commented on #3170
Sounds like a helpful debugging tool. Assigning over to @noahtalerman to get his perspective.

[2021-12-28 21:41] lukeheath commented on #2674
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2674?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 21:43] lukeheath commented on #1080
@gillespi314 @RachelElysia Do y'all think there's anything in this ticket we need to carry over to #3494 before closing?

[2021-12-28 21:55] lukeheath commented on #1615
I've used [date-fns](https://date-fns.org/) in the past and it's great. It has functions for almost everything and outputs human-readable language, which is really nice. Also, you can import on a per-function basis so no need to initialize any entire library.

[2021-12-28 21:55] lukeheath commented on #1615
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/1615?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 21:58] lukeheath commented on #1469
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/1469?planning-poker) with ZenHub @gillespi314 @RachelElysia