[2022-02-25 16:00] RachelElysia opened #4361 "Bug: Editing a user/invitee to an email that already exists should throw backend error"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

As intended: When I

[2022-02-25 16:08] RachelElysia opened #4362 "Host details page Refetch makes multiple of the same API calls"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected b

[2022-02-25 16:43] RachelElysia commented on #3790
Related bug found: #4361

[2022-02-25 16:49] chiiph commented on #4310
I followed the steps, uninstalled Opera by moving the app to the trash and then clearing the trash. And the app doesn't appear anymore as expected.

[2022-02-25 19:09] RachelElysia opened #4365 "SQL editing should render errors onChange prior to trying to onSave Label or Policy"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected b

[2022-02-25 21:41] GuillaumeRoss commented on #3831
@mikermcneil This is well in progress but tracked in different tasks per topic, safe to say we can close this one here?

[2022-02-25 22:00] mike-j-thomas opened #4368 "Handbook styling improvements"
### Goal
Further steps to make Fleet handbook visitors say "wow".

### How

There's plenty to be done to improve the styling for the handbook.

- Main content width (I think the current size is migrated from docs, but there's no left sidebar in handbook so it could be wider).
- Spacing between sections, more padding on the top/bottom of tables.
- Line heights and padding on ordered/unordered lists

[2022-02-25 22:08] mikermcneil commented on #3831
Let's make this issue be about adapting the above content to document (in the handbook) our overall principles for security at Fleet.  (Rather than any particular security goal)

as in like https://fleetdm.com/handbook/security#goals-for-the-security-handbook or something like that

[2022-02-25 22:08] mikermcneil commented on #3831
@GuillaumeRoss Let's make this issue be about adapting the above content to document (in the handbook) our overall principles for security at Fleet. (Rather than any particular security goal)

as in like https://fleetdm.com/handbook/security#goals-for-the-security-handbook or something like that

[2022-02-26 00:08] RickyGrassmuck opened #4370 "Allow setting `fleetctl` connection details via Environment Variables"
### Goal
The ability to set the `fleetctl` utilities connection details through environment variables would significantly increase the ease of use in automated environments.

My current use case is part of our deployment of fleet which we are including the preloading of custom queries as a post-deployment task.

### How?
Ideally, the tool would check for the connection details in environment varia

[2022-02-26 00:54] #4292 closed

[2022-02-26 03:25] mikermcneil opened #4372 "Add step to onboarding template: "Sightseeing""
### Goal

Contextualize the 7 main attractions in our all-remote company over here at Fleet Device Management by giving new team members a tour of all the tools, and what the human experience is like and when/why we use them at Fleet:
- github issues: the living bloodstream of the company
- WIP boards: the bulletin board of quests you can get, and how you update status and let folks know things ar

[2022-02-28 01:50] martavis commented on #2603
Looking for clarification on this. Is this task going out for 4.11.0?

[2022-02-28 03:04] mikermcneil opened #4385 "Make Calendly more mature at Fleet"
## Tips
- This one is more involved than it sounds.  Remember that some calendly links are referenced from places like the website, Breezy HR email templates, etc.
- Propose your plan to change it all to CEO first, before you actually do it.

## Steps
1. Overhaul calendly (set up teams that match our actual teams, b/c it's getting overwhelming)
2. Then set up calendly training sessions with differ

[2022-02-28 13:09] sharvilshah commented on #3849
Hey @lucasmrod, this is great! So excited to see this

(See the EndpointSecurity client lacks entitlement.)

Yes, sadly there is no work around on this, and an `.app` bundle is needed

these two options must be set at start-up, right?

Yup, those flags are correct. Perhaps we should also document giving Orbit/osquery.app full disk access (FDA) permissions? Those are needed when those tables are qu

[2022-02-28 13:22] Catscrash opened #4387 "status.log and result.log stay empty"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):
Fleet 4.10.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Fleet Free

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Admin

**Operating system** _(e.g. macOS 11.2.3)_:
Debian 11

**Web browser** _(e.g. Chrome 88.0.4324)_:
Fi

[2022-02-28 14:22] DominusKelvin commented on #4332
@tokcum thanks for the clarity and superb detail on this issue. I'll take a look on how we can improve the docs base on this feedback!

[2022-02-28 16:06] MScottBlake commented on #3507
I am not able to enter a valid URL into the Webhook Destination URL. I am trying to enter [https://webhook.site/#!/4eb58e96-c586-4339-aea7-c4ace0f77ba9](https://webhook.site/#!/4eb58e96-c586-4339-aea7-c4ace0f77ba9).

<img width="1031" alt="Screen Shot 2022-02-28 at 4 54 53 PM" src="https://user-images.githubusercontent.com/945258/156015555-4ec54778-a607-42c4-8f83-ed75b22fe601.png">

[2022-02-28 16:30] chiiph commented on #4316
I looked at the code, and the backend is returning the expected values: `enable_smtp: false` and `configured: true`. But the frontend is showing SMTP as enabled _and_ configured.

I agree this is a confusing config to have, we should think about how we're communicating this to the user (plus fixing this display issue).

[2022-02-28 17:08] RachelElysia commented on #3492
Refactored UserForm.tsx to functional in issue #3790 (PR #4352)

Noticed UserSettingsPage.jsx and UserSettingsForm.jsx are big ones to refactor away from redux, old form patterns, class component, etc.

[2022-02-28 17:16] RachelElysia opened #4391 "Refactor UserSettingsPage and UserSettingsForm"
### Goal

TODO

**Refactor old patterns to new patterns:**
- [ ] Class component to functional component
- [ ] JSX files to Typescript
- [ ] Redux to context
- [ ] Form patterns (...fields to tracking state using useState hook)
- [ ] Validators (frontend empty fields, backend returned duplicate fields) Mimick inline validation work in #3790

### How?

Files to refactor:

- [ ] UserSettingsPage.jsx

[2022-02-28 17:20] RachelElysia commented on #4361
@xpkoala I QAed this to ensure #3790 worked.

@chiiph Thanks for getting to this so quickly! <3 Can you tag this Issue on the two related merged PRs?

[2022-02-28 17:46] chiiph commented on #4361
These are the PRs:

https://github.com/fleetdm/fleet/pull/4390
https://github.com/fleetdm/fleet/pull/4363

[2022-02-28 17:48] RachelElysia commented on #4316
@chiiph @xpkoala

Correct me if I'm wrong, the bug Reed pointed out is that `enable_smtp: false` and `configured: true` "still receive an e-mail every time I edit any setting in Fleet".

So is the intended behavior to not send any emails if `enable_smtp` is false?

[2022-02-28 17:51] chiiph commented on #4316
Ah, yes, forgot about that bit. So this is two bugs in one:

- Only send email when enable_smtp: true. (I'll check on this now)
- When enable_smtp: false, and configured: true, the UI still shows smtp as enabled.

[2022-02-28 19:04] GuillaumeRoss opened #4392 "Update Security Best Practices"
### Goal

This file https://fleetdm.com/docs/using-fleet/security-best-practices includes some slightly outdated information. For example we do use security testing tools.

### How?

- [x] Update the page :)

[2022-02-28 19:59] chiiph commented on #4316
Here's the PR for the backend part of it: https://github.com/fleetdm/fleet/pull/4394

[2022-02-28 21:02] RachelElysia commented on #2673
TeamDetailsWrapper.tsx still uses old teams redux calls

[2022-02-28 21:52] lukeheath opened #4398 "Make API docs navigation sticky"
### Goal

As a developer, I want to be able to navigate the Fleet API docs quickly and easily so that I can build integrations with the Fleet API.

### How?

The [Fleet Rest API page](https://fleetdm.com/docs/using-fleet/rest-api) is a very long single page. There is navigation to specific sections, but it is quickly lost when scrolling the docs. The result is a lot of page text searches to naviga

[2022-02-28 21:55] lukeheath commented on #4398
@eashaw @noahtalerman What do y'all think of this?

[2022-02-28 21:59] lucasmrod commented on #3849
#4393 is the PR that adds `.app` packaging of osquery to Fleet-osquery (aka Orbit).

Sounds like it, even with osquery `.app` packaged I get:
[code]

This is where we generate the launchctl commands as postinstall steps:
https://github.com/fleetdm/fleet/blob/6cffd5438f1d08d418640465a719d415b06e698e/orbit/pkg/packaging/macos_templates.go#L33-L52

To generate a pkg you can do:
[code]
(Above command

[2022-02-28 23:13] lukeheath opened #4399 "New policy from template is not setting correct platforms"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): `main`

<hr/>

### 🧑‍💻  Expected behavior

When creating a new policy from a policy template, I expect the platforms in the `DEFAULT_POLICIES` constant to auto-select platforms on the new policy page.

### 💥  Actual behavior

Regardless of what `platform` is set in the constants template, all platforms a

[2022-02-28 23:55] DominusKelvin opened #4400 "Update language when showing the migrations that needs to be run when prepare db is run"
### Goal

TODO

When running prepare db, a user will get a message of this form

`Missing migrations: tables=[20211216131203 20211221110132], data=[].`

Which is meant to be a hint to the migrations on the DB that needs to be run. However, this can be seen as an error
### How?

- [ ] Update the language in giving feedback on the migrations that need to be run when preparing db

[2022-03-01 01:43] zwass commented on #3849
I haven't looked at your code yet, but the explanations make sense! Thank you for all of the detailed explanations.

[2022-03-01 07:19] sharvilshah commented on #3849
TCC error means that osquery does not have Full Disk Access (FDA) permissions, which is required for EndpointSecurity. Depending on how osquery is launched, it's parent process also needs those FDA permissions (because TCC goes up the attribution chain), so in this case if you are launching osquery from your Terminal/iTerm, it would need those permissions.

I have tried to document this behavior h

[2022-03-01 12:00] lucasmrod commented on #3849
It worked. After providing FDA to `orbit`:

![Screen Shot 2022-03-01 at 08 53 02](https://user-images.githubusercontent.com/2073526/156164812-84be3a7a-9737-45a8-b3a7-be664b4b5ddc.png)

and restarting the service via `sudo launchctl kickstart -k system/com.fleetdm.orbit`, querying `SELECT * FROM es_process_events;` from Fleet returned results.

I'm assuming providing the necessary flags via `tls` c

[2022-03-01 13:17] sharvilshah commented on #3849
Glad to hear that!

Sorry if I missed it, but is orbit also moving to `.app` bundle, like `orbit.app`? Then we might need a provisioning profile  to be embedded inside that app bundle (like https://github.com/osquery/osquery/blob/master/tools/deployment/macos_packaging/embedded.provisionprofile) . This provisioning profile is different from the PPPC profile I talked about in the osquery docs, and

[2022-03-01 13:17] lucasmrod commented on #3849
The docs mention amending `CodeRequirement` and `PayloadOrganization` from the configuration profile (plist file).

Codesign output matches:
[code]

Should we, as part of packaging Fleet-osquery, just replace the default `osquery.app/Contents/Info.plist` with the plist shown in the article? (And amend `PayloadOrganization` to `Fleet Device Management Inc.`?)

[2022-03-01 13:19] lucasmrod commented on #3849
No, on this iteration only `osqueryd` is packaged as an `.app` bundle.

[2022-03-01 13:21] lucasmrod commented on #3849
Changes in #4393 currently package the `.pkg` the following way:
![Screen Shot 2022-03-01 at 10 20 47](https://user-images.githubusercontent.com/2073526/156176636-1c9a7586-f459-433e-b502-322b0ea9f872.png)

[2022-03-01 13:30] sharvilshah commented on #3849
Yes, we should change that for our test PPPC profile. But to reiterate, that while that PPPC profile is kinda like a plist file, it is not something that we can distribute with orbit packages like `com.fleetdm.orbit.plist` and `Info.plist`, which are different from PPPC profile. The PPPC profile can only be pushed remotely by the MDM server to the enrolled mac.
Most orgs do have MDM in place to ma

[2022-03-01 13:47] sharvilshah commented on #3849
We don't need the first one for "silent install", we just need `osquery.app` and the remote MDM server to push PPPC profile.

I believe so. Because `osqueryd` is actually the process that's registering the `es_client` and making API calls, and with endpointsecurity having an `.app` bundle is a hard requirement.

Though In this scenario, are we redoing the codesigning for osquery with our own certi

[2022-03-01 14:07] lucasmrod commented on #3849
Gotcha. So, we are ready to test such config push with an MDM server.

[2022-03-01 14:10] sharvilshah commented on #3849
Yes! We can use something like https://github.com/jamf/PPPC-Utility to create the profile. Perhaps @GuillaumeRoss can help us out with MDM, or for testing/documenting purposes, we can start a trial somewhere (SimpleMDM? just because that's the one I have used in the past and I am familiar with it)

[2022-03-01 15:03] GuillaumeRoss commented on #3849
Will do @sharvilshah!

[2022-03-01 15:40] zwass opened #4404 "Fleet Desktop epic"
# Fleet Desktop

## Overview

Fleet Desktop is a tool for enabling 2-way IT within organizations adopting Fleet. 2-way IT provides
opportunities for IT and security teams to engage directly with their users in the maintenance and
security of the organization's computing powers.

Fleet Desktop focuses specifically on the "desktop" (desktop/laptop/workstation) devices. Beta
support for Fleet Desktop

[2022-03-01 15:54] lucasmrod opened #4405 "CentOS vulnerability processing is missing some false positives (CentOS 7)"
**Fleet version**: `main`, dev for 4.11.0, docker image `fleetdm/fleet:468b67c`.

<hr/>

Vulnerability processing runs on Fleet with some CentOS 7 hosts enrolled.

False positives in this context are vulnerabilities found by Fleet that are known to be fixed by the current or previous version of the software.

### 🧑‍💻  Expected behavior

No false positive CVE findings are detected in RPM packages i

[2022-03-01 16:06] mna opened #4406 "Some HTTP status codes are not correct in the API"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

4.10

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

N/A

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

N/A

### 🧑‍💻  Expected behavior

Status codes are not always correct or consistent. The most common case is that we ret

[2022-03-01 16:40] RachelElysia commented on #4316
@xpkoala

This is what I see and correct me if I'm wrong, but I believe this is the intended behavior:
enable_smtp: true or false is shown by the toggled checkbox only

![Screen Shot 2022-03-01 at 11 38 36 AM](https://user-images.githubusercontent.com/71795832/156210450-2d772e59-cb20-40b4-9b5c-665b4727e0b8.png)
![Screen Shot 2022-03-01 at 11 38 10 AM](https://user-images.githubusercontent.com/7179

[2022-03-01 18:03] xpkoala commented on #4304
@RachelElysia This doesn't appear to be fixed in the latest main branch. I do see the "Loading your certificate" line, but after a few moments the user will be redirected to the 500 page. This is using `fleetctl preview`.

To reproduce:
- Launch a `fleetctl preview` instance.
- Navigate to the /hosts/manage page.
- Click on "Add hosts".
- Move to the Advanced tab of the Add hosts modal and wait a

[2022-03-01 18:22] mna commented on #4176
Following discussion on Slack with @chiiph , and based on the discussion linked on previous comment, the fix for this issue would be to change the install location for Linux to a proper place for a binary (it should then automatically inherit the correct, executable label for SELinux so the `chcon` quickfix mentioned above will not be necessary). Moving the ticket back to backlog for estimation/as

[2022-03-01 19:03] xpkoala commented on #4316
@RachelElysia It doesn't appear that this behavior was very direct in the Figma pages I'm looking at. I believe currently that this is the behavior that we want, but we can maybe get some feedback from @noahtalerman when he returns.

[2022-03-01 19:07] lucasmrod commented on #4387
Hi @Catscrash!

Please attach the output of (with any sensitive information redacted):
[code]

The `logging` section and `agent_options.options` would help us troubleshoot.

[2022-03-01 19:21] xpkoala commented on #344
@martavis I found a handful of instances where the hover state is triggered a ways out from the text that is underlined. Here is a short video showing some of the behavior as well. I don't see a specification on the Figma page on this, but I would imagine we want to only show the hover state when the mouse is over the actual text and not a ways out.

If this is outside of this tickets scope I can

[2022-03-01 19:33] martavis commented on #344
@xpkoala Can you create a bug ticket?

[2022-03-01 19:42] xpkoala opened #4408 "Tooltip icons trigger outside of text area"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): df08b40

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_: 12.2.1

**Web browser** _(e.g. Chrome 88.0.4324)_: 15.3

<hr/>

### 🧑‍

[2022-03-01 19:47] #3616 closed

[2022-03-01 20:02] xpkoala commented on #4310
This looks like a misunderstanding on my part. Opera had been moved to the trash but trash had not been cleaned. After emptying the trash and refetching the host the software tab showed that Opera was no longer present.

[2022-03-01 20:02] #4310 closed

[2022-03-01 20:28] zwass commented on #4357
I see this is reproducing live on https://dogfood.fleetdm.com/hosts/1 (click "Schedule" tab)

[2022-03-01 20:45] mikermcneil opened #4410 "iptables returns no results on Linux hosts enrolled in dogfood.fleetdm.com"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): 4.10.0

<hr/>

### 🧑‍💻  Expected behavior

When running `SELECT * FROM iptables` and targeting linux hosts, I expected it to return results.

### 💥  Actual behavior

Instead, there were no results.

### More info

Reproduced on dogfood.fleetdm.com with both enrolled linux devices on Mar 1, 2022 at 14:45

[2022-03-01 21:41] lukeheath opened #4411 "Reset policy passing and failing counts when a policy is edited"
This is an iterative improvement to the problem of informing the user when policy results in Fleet are accurate.

## Goal

As a consumer of the `/GET policies` and `/GET policies/{id}` API route, when I edit or create a policy, I want to know when I see accurate results so that I can confidently take action on the list of failing hosts.

## Tasks

- [ ] Determine what we want to tell the users bec

[2022-03-01 21:42] lukeheath commented on #4411
@chiiph Assigning to you for backend specs. Feel free to change the `has_run` property name if you have something better in mind.

[2022-03-01 22:06] lucasmrod opened #4412 "Configure TCC profiles for osqueryd in FleetDM's SimpleMDM"
### Goal

We need FDA (full disk access) "silently" provided to the osqueryd executable in Fleet-osquery so that a user can perform YARA scans in the /Downloads folder.

### How?

For more information, see Sharvil's [comments](https://github.com/fleetdm/fleet/issues/3849) and [article](https://osquery.readthedocs.io/en/latest/deployment/process-auditing/#full-disk-access).

Here's the `CodeRequire

[2022-03-01 22:07] lucasmrod commented on #3849
I've just created #4412 and assigned @GuillaumeRoss.

I've enrolled my device to our SimpleMDM deployment, so I'm available for testing/troubleshooting.

[2022-03-01 22:14] lukeheath commented on #4404
I have moved the contents of this ticket to a new "Engineering" section of the existing "Fleet Desktop Epic" #3922

[2022-03-01 22:14] #4404 closed

[2022-03-01 22:25] RachelElysia opened #4415 "Inherited Queries dropdown bouncing and missing arrow"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected b

[2022-03-01 23:21] lukeheath opened #4416 "Add new endpoints to retrieve device information by orbit identifier"
## Goal

As a user of Fleet Desktop, I want the ability to load a page that provides device details so that I can see what information is being collected.

## Figma

Add ability to see what information my organization has access to: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4803%3A178386

## Related

- Epic: #3922
- Blocked by: #3914
- Blocking: #4092

## Endpoints to add

- `GET

[2022-03-01 23:43] lukeheath commented on #4416
@chiiph I have added API specs for this. Please let me know if you have any concerns or revisions. Assigning over to you for backend specs. Once ready, please move this ticket into the "Estimate" column.

[2022-03-02 11:50] Rylon opened #4418 "Allow enabling software inventory via `fleet.yml`"
### Goal

This request pertains to #4273.

The goal is that every setting should be configurable via environment variable or configuration flag in `fleet.yml`, not just by applying a YML spec with `fleetctl`. This makes it easier for people to configure the desired settings, no matter which deployment mechanism they are using.

Thanks 🙂

### How?

Make sure every flag that gets introduced can be c

[2022-03-02 15:21] xpkoala commented on #3790
@RachelElysia Almost all the error states mentioned at the top of the ticket are working except in two cases. Going to send this one back in lieu of opening up another ticket, though if you would prefer I can break it out.
 - Includes editing an existing team name on the Team Management page
 - Includes editing an existing team name on the Team Details page

https://www.loom.com/share/373d04fee8ea

[2022-03-02 15:38] chiiph opened #4419 "Migrate API usage in the frontend to deprecate `global` and use `latest` instead of `v1`"
## Goal

As a Frontend Developer, I want to have simple API routes and know that I am receiving the latest features of the API.

## Why

We are going to start iterating the API and deprecating some APIs. The frontend will always be in sync with the backend, so to prevent having to update the API version every time we iterate it, we created an alias `latest` that will always use the latest version.

[2022-03-02 15:47] xpkoala commented on #4327
Hi @FreddieOliveira! I'm sorry to hear about the troubles you are encountering with SSO. I haven't been able to reproduce this locally and I do believe there are a handful of users who are also successfully using SSO with Fleet.

Could you share any details about the SSO system you are using and as much of the config you can share (with sensitive items removed)?

[2022-03-02 15:48] xpkoala commented on #4362
Closing as expected behavior.

[2022-03-02 15:48] #4362 closed

[2022-03-02 15:53] RachelElysia commented on #3790
@xpkoala on it!

[2022-03-02 16:05] xpkoala commented on #3790
Upon double checking this all the fields are working as expected. I must have accidentally attempted this on an environment that didn't include the fix. Moving it to Release Ready!

[2022-03-02 17:44] lucasmrod commented on #3914
Some more technical details can be found in the epic's `Technical architecture` section: #4404

[2022-03-02 18:42] lukeheath opened #4421 "Migrate all page components from Redux to Context for state management"
## Goal

As a Developer, I want to use a single state management library so that I know where to set and retrieve state from

## Tasks

### 1
- [ ] Remove all Redux dependencies from all page-level components and replace with Context.
- Some references to redux may need to remain to support legacy components like `RenderFlash`.

To locate files that need to be updated, I ran a search for `redux` t

[2022-03-02 18:49] RachelElysia commented on #3507
Thanks for this great bug example @MScottBlake -- I'll notify you when the fix is released!

[2022-03-02 18:52] lukeheath opened #4422 "Redux Removal Epic"
## Goal

As a Developer, I want to use a single state management library so that I know where to set and retrieve state

## Why

Part of our ongoing effort to modernize the Fleet React app and implement best practices.

## How

This will be a large effort over several months. Our approach will be to work from the outside of the application in by migrating from Redux to Context in this order:

1. P

[2022-03-02 19:04] RachelElysia commented on #4087
Related to #3507

[2022-03-02 19:16] lukeheath commented on #4092
@noahtalerman Do we want to show MDM information from the `/macadmins` endpoint for the device details on Mac?

[2022-03-02 19:51] lukeheath commented on #4416
TBD: Do we need a `/macadmins` endpoint for the `/device` endpoint? Asked Noah in another ticket and will update here based on answer.

[2022-03-02 19:52] lukeheath commented on #4416
@chiiph Updated based on our conversation. Do you think the `users` array is okay to pass back with the device details, or would a separate endpoint be better?

[2022-03-02 19:54] xpkoala commented on #4410
I was able to reproduce this on dogfood and with preview on branch `c895bbb`.

[2022-03-02 20:03] Jimjazzz opened #4423 "Upgrade dependencies versions"
### Goal

I have run a SNYK test with fleetdm code and there are several HIGH vulnerabilities hits in the dependencies:

<html>
<body>
<google-sheets-html-origin><style type="text/css"></style>

Vulnerability CVE | Level | Caused in dependency
-- | -- | --
CVE-2020-8203 | Critical | react-entity-getter@0.0.8 › lodash@4.16.4
CVE-2018-16487 | High | react-entity-getter@0.0.8 › lodash@4.16.4
No CVE -

[2022-03-02 20:08] Jimjazzz commented on #4423
I run the scan against the 4.10.0 tag.

I have realized that https://github.com/fleetdm/fleet/pull/4148 bumped node-sass already so maybe some of the described above do not apply.

[2022-03-02 20:09] lucasmrod opened #4424 "Fleet Kinesis plugin log events without appending newline"
**Fleet version**: 4.10.0

<hr/>

Customer report:

Currently, our S3 bucket with osquery logs from fleet are huge JSON blobs with no new line delimiters.

[2022-03-02 20:24] xpkoala commented on #4325
Thank you for bringing this to our attention @mike-j-thomas!

When reproducing this locally I didn't encounter any errors. It looks like the user-menu avatar is not being set correctly.

![Screen Shot 2022-03-02 at 2 21 14 PM](https://user-images.githubusercontent.com/11012743/156443593-ff87b69c-c946-456a-957c-8c07b68a7c0e.png)

[2022-03-02 20:25] lukeheath commented on #4419
@chiiph Has the `latest` naming convention been implemented on the backend? If not, is there a ticket to track that?

[2022-03-02 20:27] lukeheath commented on #3395
Moving out of release board until the blocking backend ticket is brought into a release.

[2022-03-02 21:13] lukeheath commented on #3507
@MScottBlake Sorry to hear that! We realized there are some issues with our URL regex validator, so we're going to remove it for the next release coming out later this week.

[2022-03-02 21:22] xpkoala commented on #4410
https://github.com/osquery/osquery/issues/7323
@mikermcneil iptables was deprecated. I'm going to move this to the product board so we can discuss if we need to remove that keyword from fleet or any other action on this item.

[2022-03-02 21:28] mikermcneil commented on #4410
@xpkoala Thanks!  We'll need to remove it from the sidebar within Fleet (and ideally mark it as deprecated on the osquery.io website as well)

[2022-03-02 21:28] lukeheath commented on #2603
@martavis Apologies, the frontend ticket got brought into the sprint before the backend was ready. You're right, we need to hold off on the frontend side of this for now.

[2022-03-02 22:23] #4424 closed

[2022-03-02 22:54] lukeheath opened #4426 "Add ability to transfer policies between teams"
### Goal

As a Fleet User, I want the ability to transfer policies between teams and from and to "All Teams" so that I can move policies to suit my needs without deleting and recreating them

### How?

[2022-03-02 23:24] lukeheath opened #4428 "Abstract SQL validation logic to a custom hook"
## Goal

As a frontend developer, I want duplicate SQL validation code to be abstracted to a custom hook so that I can reuse it throughout my application

## How

PR with duplicate code that needs to be abstracted to a custom hook: https://github.com/fleetdm/fleet/pull/4413

## Tasks

### 1
- [ ] Create new custom hook for SQL processing.

### 2
- [ ] Abstract SQL validation logic throughout app i

[2022-03-03 11:27] chiiph commented on #4419
@lukeheath the backend already supports `latest`, everything should be ready for the frontend to start.

[2022-03-03 11:31] chiiph commented on #4416
Right now we have the following endpoints for host details:

[code]

If we keep the same format, but change `/api/latest/fleet/hosts/<host id>` for `/api/latest/device/<device auth token>` I think we might be able to reuse most of the backend code to serve these endpoints, and maybe even the frontend ones. What do you think about this? If you like it, I'll go ahead and update the description.

[2022-03-03 12:04] chiiph opened #4429 "Figure out packaging for Fleet Desktop"
Fleet Desktop will have a small UI (tray icon + menu). In order to support this the binary that has the tray icon needs to be part of an app bundle.

We have a few options to do this:

1. Package Fleet Desktop as a separate app. So we would have a `Fleet Desktop.app` bundle, that when opened, it will show a tray icon. This app could be started by Orbit through `open` or could be started automatica

[2022-03-03 13:47] mveplus opened #4430 "Fleetctl preview not working on Raspberry Pi 4 with `arm64` OS"
**Fleet version**:  v4.10.0
**Fleet tier**: Free
**User role**: N/A running with sudo i.e.

**Operating system** :
[code]

Raspberry Pi 4 8G Ram CPU:
[code]
**Web browser** _(e.g. Chrome 88.0.4324)_:  N/A
### 🧑‍💻  Expected behavior
[code]
To successfully start fleetctl preview and be able to connect on the management port in a browser.

### 💥  Actual behavior

[code]

### More info
May be affected

[2022-03-03 14:20] noahtalerman commented on #4357
Fleet currently allows scheduling two or more of the same query at both the global level and the team level. Thus, I'm tweaking this issue to turn it into an "idea" issue.

See the below screenshots of the "All teams" and "Real workstations" schedule. Note that there are 4 instances of the "Count Apple applications installed" query in the "All teams" schedule and 1 instance of this query in the "R

[2022-03-03 14:44] GuillaumeRoss commented on #4392
Updated the page. Will do a more comprehensive update eventually but for now this is accurate.

[2022-03-03 14:44] #4392 closed

[2022-03-03 15:40] xpkoala commented on #3220
@mna Is this testable by QA in its current state? After re-reading through the ticket it looks like I might need to wait for #2716 in order to validate these changes. If that is the case could you please move it to the Ready for Release column? Thank you!

[2022-03-03 15:50] xpkoala opened #4431 "4.11.0: Smoke tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-03-03 15:57] noahtalerman commented on #4412
Guillaume: osquery doesn't return an error when you query a table that requires full disk access.

[2022-03-03 16:12] GuillaumeRoss opened #4433 "Add gosec to build pipeline for golang"
### Goal

TODO
[Gosec](https://github.com/securego/gosec) is an open source project to perform static application security testing on go code. It is well maintained, and would be a great thing to have **blocking** merges. Managing exceptions is also quite easy, so false positives etc will be easy to deal with.

Since we already use `golangci-lint` - we could add gosec as a linter used by it

- [ ]

[2022-03-03 16:14] RachelElysia commented on #3507
Blocked: Adding email validation to registration form since RegistrationForm.jsx (along with AdminDetails.jsx) have not been refactored to the new form patterns. When frontend refactors those files to follow new patterns, add in email validator

[2022-03-03 16:37] lukeheath commented on #4416
@chiiph Agreed, let's follow the host details format. Thanks!

[2022-03-03 17:05] lucasmrod commented on #4416
`Goal` mentions `which policies my device is passing or failing`, but Figma or the shown API endpoints don't show anything related to policies.

[2022-03-03 17:48] GuillaumeRoss commented on #4433
Testing the github action. Seems to work well, and reports to github security in sarif.

[2022-03-03 18:48] noahtalerman commented on #4092
@lukeheath no, for macOS devices (and all other platforms), the **My device** page won't include MDM information from the `/macadmins` endpoint.

The current hypothesis is that the "My device" page should only show info that is relevant/valuable to the device user so that the device user can more easily find valuable information. As of now, we believe that MDM and Munki info is not valuable.

[2022-03-03 18:52] noahtalerman commented on #4398
Or...a lot of scrolling.

@lukeheath I like this idea a lot. Because this improvement is related to the fleetdm.com website, I'm passing this issue to the growth team for planning, wireframing, and prioritization.

@eashaw and @mike-j-thomas heads up, I'm moving this issue to the "Waiting" column in the Growth weekly board.

[2022-03-03 18:59] lukeheath opened #4436 "Migrate all page-level components using Redux to props or Context"
## Goal

As a developer, I want to remove redux from all page-level components and use local state or context so that I can remove redux as a page dependency

[2022-03-03 19:05] noahtalerman commented on #4316
If I'm understanding correctly, it looks like this issue is tracking two improvements.

The first "Only send email when `enable_smtp` is `true`" looks like a bug and the second "When enable_smtp: false, and configured: true, the UI shows SMTP as enabled" looks like a future improvement (idea).

@xpkoala this appears to be the "Only send email when `enable_smtp` is `true`". If we're able to verify

[2022-03-03 19:15] edwardsb commented on #3911
Confirmed that this change would break existing integrations. I suggest if we introduce the ability to provide a custom header while defaulting to exiting behavior would be preferred.

[2022-03-03 19:22] #4342 closed

[2022-03-03 19:23] lucasmrod commented on #4430
Hi @mveplus!

Fleet currently does not support ARM 32-bits. And there are no plans to support it.
We do have plans to support Linux ARM 64-bits, see #2466.

That said, I once managed to run Fleet on a Raspberry Pi 4 (with some code changes, mostly config and docker files), but you need to install the 64-bit version of the OS.

[2022-03-03 19:25] lucasmrod commented on #4416
Do we want fleet's service code to be aware about which endpoint it's being called from? (admin request or user request)

Maybe not initially, but something to think about in case we want to hide some of the information presented.

[2022-03-03 19:26] lukeheath commented on #4416
@lucasmrod Great catch! Policies will come later so I have removed from the goal.

[2022-03-03 19:27] chiiph commented on #4416
The goal of this is transparency, so it's unlikely that we will hide information about the host that fleet has access to.

[2022-03-03 19:34] lukeheath commented on #3409
@gillespi314 may have a function we can use for this.

[2022-03-03 19:42] GuillaumeRoss commented on #4423
Thanks for the report @Jimjazzz - we are currently improving how we handle dependencies and dependencies with vulnerabilities. We had a bit of a back log, but it has been improved a lot by @lukeheath in the past few weeks.

We are already working as you noticed on node-sass, and lodash is one we have also detected.

It is important to keep in mind that the vulnerabilities in dependencies are not n

[2022-03-03 19:49] RachelElysia commented on #3245
API for enable_failing_policies webhook along with policy_ids
 https://fleetdm.com/docs/using-fleet/rest-api#modify-configuration

[2022-03-03 20:10] lukeheath commented on #4423
@Jimjazzz Thanks for the report! I am currently working on this via #4164.

4.11.0 will include a lot more fixes, and we should have them all resolved by 4.12.0.

[2022-03-03 20:22] zwass commented on #3911
@mkagenius is this something you're still interested in? Could you submit a PR making the version in the header configurable?

[2022-03-03 20:29] gillespi314 commented on #3409
@lukeheath, we did add the certificate download back into the modal so my old script isn't needed anymore. So what will be changing with the download certificate functionality? I think that the two instances of the download certificate button in the screenshot below do the exact same thing?
<img width="764" alt="Screen Shot 2022-03-03 at 2 15 48 PM" src="https://user-images.githubusercontent.com/7

[2022-03-03 20:43] mkagenius commented on #3911
Yes, I am interested but I don't think I can contribute in the code (given
setting up and testing involved for a small change), I would rather someone
who is already contributing to project do it.

Someday one of your clients will upgrade to a newer kafka version and will
ask for help, then this would be helpful to support both type of clients.

Meanwhile, I will use older kafka and see if things

[2022-03-03 21:39] GuillaumeRoss commented on #4433
Have a PR ready for adding the linter but right now there's a few issues - need to add exclusions for example (the insecure mode not requiring TLS for example, etc) so not all PRs have failures.

[2022-03-03 22:42] noahtalerman opened #4445 "Retrieve live query results from a cached location"
### Goal

After running a live query, I want some sort of way to grab the results at any time so that I can later transform this data at any time. This way, I can...

### How this works today

1. Run live query
2. Store results in Elastic
3. Transform results in Elastic
4. Checks are run in CI/CD pipeline
5. Report is generated for passing/failing checks

### How this could be better

- Staging ar

[2022-03-03 22:55] #4033 closed

[2022-03-03 23:08] noahtalerman opened #4446 "Blog post: Fleet 4.11.0"
Fleet 4.11.0 is scheduled for release on 2022-03-04 (morning PST)

### Goal

Prepare and publish the release blogpost for Fleet 4.11.0.

### How?

- Improvements to vulnerability processing that reduce the number of false positives for Linux machines: #3081
  - Note that this section may have already been prepared and is ready to be moved into this blog post.
    - In the [blogpost for 4.10.0](htt

[2022-03-04 00:59] ksatter opened #4448 "Bug: API returns incorrect host count for GET request to `/software` endpoint"
**Fleet version**: 4.10.0

**User role**: Admin

**Operating system**: Ubuntu 20.4.0

**Web browser**: Postman  9.14.9

<hr/>

### 🧑‍💻  Expected behavior

When fetching the software inventory, the "hosts_count" should reflect the total number of hosts with each software item installed.

### 💥  Actual behavior

The "hosts_count" returned from `/software` may not match the "count" returned from `/ho

[2022-03-04 14:56] noahtalerman commented on #3603
@lukeheath the user must click "Save" to apply enabled/disabled status.

Let's say policy automations are enabled and the user toggles the slider to "Policy automations disabled." If the user closes the modal without clicking "Save," policy automations will remain enabled and the modal will display the enabled state when it's opened again.

The idea to apply enable/disable status immediately is a

[2022-03-04 14:59] lucasmrod commented on #4146
This issue should be verified in CentOS, Ubuntu, Windows and macOS (by installing Fleet-osquery there).

# Test instructions

## Part 1: Setup

1. Build fleetctl from `main`:
[code]
2. Generate packages for all the 4 platforms to test (`--type`s: rpm, deb, msi and pkg):
[code]
4. Install packages on hosts.
5. Go to Fleet UI, `Settings` -> `Global agent options` -> set `logger_plugin` to `filesyste

[2022-03-04 15:41] GuillaumeRoss opened #4451 "Investigate gosec linter issues in cmd/"
The following files are currently excluded in `.golangci.yml`

- cmd/osquery-perf/agent.go
- cmd/fleet/serve.go
- cmd/fleetctl/api.go
- cmd/fleetctl/get.go
- cmd/fleetctl/preview.go

If running golangci-lint with gosec and no exclusions:

[code]

- [ ] Investigate each issue
- [ ] Either fix the issue, or if this is by design (ex: insecure option allows the use of HTTP without TLS), add relevant c

[2022-03-04 15:44] GuillaumeRoss opened #4452 "Investigate gosec linter issues in orbit/"
The following files are currently excluded in .golangci.yml

- orbit/pkg/update/update.go
- orbit/pkg/packaging/wix/wix.go
- orbit/pkg/packaging/macos.go
- orbit/pkg/packaging/windows.go
- orbit/pkg/packaging/packaging.go

If running golangci-lint with gosec and no exclusions:

[code]

 Investigate each issue
 Either fix the issue, or if this is by design (ex: insecure option allows the use of HTT

[2022-03-04 15:45] RachelElysia commented on #4408
I found a bunch more cases I'm putting a PR up now.

[2022-03-04 15:47] GuillaumeRoss opened #4453 "Investigate gosec linter issues in pkg/"
The following files are currently excluded in `.golangci.yml`

- pkg/fleethttp/fleethttp_test.go
- pkg/certificate/certificate.go
- pkg/download/download.go

If running golangci-lint with gosec and no exclusions:

[code]

- [ ] Investigate each issue
- [ ] Either fix the issue, or if this is by design (ex: insecure option allows the use of HTTP without TLS), add relevant comment to https://github.

[2022-03-04 15:54] GuillaumeRoss opened #4455 "Investigate gosec linter issues in server/"
The following files are currently excluded in .golangci.yml

- server/mail/mail.go
- server/datastore/mysql/migrations/tables/20201011162341_CleanupSoftDeletedColumns.go
- server/service/redis_policy_set/redis_policy_set_test.go
- server/sso/settings.go
- server/datastore/mysql/hosts.go
- server/datastore/mysql/hosts_test.go
- server/datastore/mysql/mysql_test.go
- server/service/client_live_query

[2022-03-04 15:58] GuillaumeRoss opened #4456 "Investigate gosec linter issue in tools/"
The following file is currently excluded in .golangci.yml

- tools/dbutils/schema_generator.go

If running golangci-lint with gosec and no exclusions:

[code]

- [ ] Investigate the issue
- [ ] Either fix the issue and remove the file from `.golangci.yml`, or if this is by design (ex: insecure option allows the use of HTTP without TLS), add relevant comment to https://github.com/fleetdm/fleet/blob

[2022-03-04 16:46] RachelElysia opened #4457 "App UX: Fix any external links that point to github docs and not fleetdm.com/docs"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

I clic

[2022-03-04 16:55] mikermcneil opened #4459 "New/edit pack: Broken hover effect"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):  Fleet 0.0.0-SNAPSHOT-91474d8  ( I believe it's a 4.11 pre release, tested on dogfood morning (CT) of Mar 4, 20-22)

**Operating system** _(e.g. macOS 11.2.3)_:  macOS

**Web browser** _(e.g. Chrome 88.0.4324)_:  Chrome

<hr/>

### 🧑‍💻  Expected behavior

I expected hovering over the last team to work, a

[2022-03-04 17:03] GuillaumeRoss opened #4461 "Text issue in "Add hosts" menu"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): 4.10

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Both

<hr/>

### 🧑‍💻  Expected behavior
When going to Hosts / add hosts, I expect to see the list of OSes and package formats. I would expect DEB to be lowercase as officially that is how it is called: https://wiki.

[2022-03-04 17:09] GuillaumeRoss opened #4462 "Update go to 1.17.8"
### Goal

TODO
We are currently using go 1.17.7. 1.17.8 was released, with security improvements, fixing a vulnerability that could lead to a denial of service: https://groups.google.com/g/golang-announce/c/RP1hfrBYVuk/m/I7ouYouLAAAJ

This is a minor issue but we should still update go.

### How?

- [ ] Bump go to 1.17.8 (see this PR to see which files need that -> https://github.com/fleetdm/fleet

[2022-03-04 17:12] xpkoala opened #4463 "Change Last restarted timestamp to match First enrolled timestamp"
### Goal

TODO
Change the timestamp reporting of the 'Last restarted' field (in host details area) (hosts/#) to match the reporting of 'First enrolled'.

As an example, one would expect 'Last restarted' to display in days in the below picture.

![Screen Shot 2022-03-04 at 11 10 56 AM](https://user-images.githubusercontent.com/11012743/156809766-5e48fe7a-f092-49b2-98fa-cd8b3a6b9acb.png)

[2022-03-04 17:19] GuillaumeRoss commented on #4462
@zwass I assigned this to you since you did it last time - but if you want to let me know what the testing steps should be I can also do it myself. Or I can bump it all so it's ready to test for you. Thanks!

[2022-03-04 17:21] RachelElysia opened #4465 "App UI: Consistent use of external link icon"
### Goal

TODO

**Problem**
1. There are currently 3 different ways we are rendering an external link icon:
<img width="513" alt="Screen Shot 2022-03-04 at 12 16 56 PM" src="https://user-images.githubusercontent.com/71795832/156810915-0aad6b17-4bfc-445c-8e2e-d47fb4fed2cc.png">
<img width="517" alt="Screen Shot 2022-03-04 at 12 16 18 PM" src="https://user-images.githubusercontent.com/71795832/15681

[2022-03-04 17:38] noahtalerman commented on #2936
TODO: Noah. Spend 15 minutes thinking about paid v. free.

[2022-03-04 18:15] tgauda opened #4467 "Maintenance mode for database migrations"
Today when a customer upgrades Fleet there are occasional database migrations that must run. Customers can choose to either take the system offline and perform the upgrade or keep the system online and perform the upgrade in place. If the customer keeps the system online the database migrations can take much longer to complete due to contention. In an enterprise environment taking the system offli

[2022-03-04 19:23] noahtalerman commented on #4088
Heads up, I added the above to the "How?" section of this issue's description. With this documentation, the Fleet team can be confident that multiple team members are equipped to address a failed job.

[2022-03-04 19:24] #4423 closed

[2022-03-04 19:30] jcetina opened #4469 "Non-sso logins failing after update to 4.10 when mysql replica configured"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):
Fleet 4.10.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Free

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):
Admin

**Operating system** _(e.g. macOS 11.2.3)_:
macOS 11.6.4

**Web browser** _(e.g. Chrome 88.0.4324)_:
Chrom

[2022-03-04 19:46] GuillaumeRoss commented on #4284
I noticed the same with gosec when I added it. Golangci-lint had some rules to tune it out of the box, I could test with `--exclude-use-default=false` to disable them. In the end I kept them for gosec cause they seemed to make a lot of sense to me.

[2022-03-04 19:51] noahtalerman commented on #4088
@xpkoala heads up, I brought this issue into the 🚀 Release board because it is a blocker for releasing 4.11.0. If this means pushing the release to next week I think that’s ok.

Reasoning:

Without these notifications, it becomes more likely that Fleet does not update vulnerabilities (CVEs) once per day. Thus, the product is more likely to not behave as expected.

[2022-03-04 19:55] lucasmrod opened #4470 "Global agent options updating incorrectly"
**Fleet version**: `main`, `9a5929d0`

<hr/>

User updates global agent options.

### 🧑‍💻  Expected behavior

Global agent options are updated correctly.

### 💥  Actual behavior

Only a section of the global agent options is sent on the `/api/v1/fleet/config PATCH` request. See video below.

### More info

This bug was found by @xpkoala and was also reproduced by me here:
See https://www.loom.com/

[2022-03-04 20:00] xpkoala commented on #4459
Hrmm, I am not able to reproduce this locally on Chrome, Firefox, or Safari. I'll check with the engineering team to see if anyone else is able to reproduce this one.

[2022-03-04 20:15] RachelElysia commented on #4470
@lucasmrod thanks for the thorough video, looking into it now

[2022-03-04 20:22] xpkoala commented on #4459
Double checked this on the latest `main` and I'm not able to reproduce on Chrome, Safari, or Firefox. I'll see if anyone else can reproduce this.. but in the meantime is there any other info you can give that might help narrow down where the issue is coming from? Screen resolution / short video of the behavior?

[2022-03-04 20:38] ksatter opened #4472 "Docs: Port osquery schemas and configuration documentation to fleetdm.com documentation"
Bring key items from osquery docs into fleet docs to increase visibility and add value for those who are not already osquerious when finding fleet for the first time

[2022-03-04 20:41] tgauda commented on #4472
This also gives us an opportunity to clean up in the documentation all the broken tables. We can also link to this within the product.

[2022-03-04 20:53] lucasmrod commented on #4088
My PR is assuming #g-core-engineering channel. Should we use a different Slack channel?

[2022-03-04 21:04] lukeheath opened #4473 "Create API client to return static JSON as promises"

[2022-03-04 21:25] lucasmrod opened #4476 "NVD repository exposing invalid release as last release"
Fleet is downloading the CPE database from three days ago, when in fact the workflow generated a new one every day.

Repository: https://github.com/fleetdm/nvd
Actions: https://github.com/fleetdm/nvd/actions

Guess: Looks like the "keepalive commit" workflow on `master` may be rearranging releases.
The "keepalive commit" workflow was added because Github will disable workflows after 60 days if the

[2022-03-04 21:32] alphabrevity opened #4477 "Upload Packs via Fleet UI"
### Goal
As a fleet user I want to upload a query pack and have the queries added as policies to detect malware on my devices.

TODO
There are many public query packs for identifying malware IOCs available from multiple sources. By adding these packs through the fleet UI, I can easily create policies that would alert any time a specific malware IOC is detected on any device in my fleet.

### How?

[2022-03-04 21:49] noahtalerman commented on #4467
Making sure that this customer can easily upgrade is a high priority.

I think the proposed solution is a great one. It elegantly adapts the product to support the customer's specific environment.

One downside I see is that the solution is relatively involved (fleetctl, UI, API changes). Not only does this mean that the initial implementation (work now) will take significant effort but it also ma

[2022-03-04 22:04] RachelElysia commented on #4470
Fix is in #4479

[2022-03-04 22:07] noahtalerman commented on #4476
Wow, @lucasmrod, this is a 5-star catch. At first glance it looks like this means that the vuln webhook is broken. The webhook would never fire because vulns detected in Fleet will never be published within the last two days.

From the current "Manage automations" modal in the UI:
![Screen Shot 2022-03-04 at 5 07 32 PM](https://user-images.githubusercontent.com/47070608/156848403-1a8350c3-ec1c-466

[2022-03-04 22:09] xpkoala commented on #4476
Queued up for Monday!

[2022-03-04 22:19] edwardsb commented on #3911
@mkagenius @zwass I have a draft PR started here: https://github.com/fleetdm/fleet/pull/4441

I haven't had a chance to setup a local Kafka cluster and go through a thorough manual QA process

[2022-03-04 22:56] noahtalerman commented on #2936
@lukeheath I'm passing this issue to you. Can you please update the frontend specification and add API wireframes? I took a quick pass at writing the frontend spec. The backend issue has not been created.

[2022-03-05 14:19] aviks opened #4490 "Host that failed to upload software details causes a 500 error"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):
4.10

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:
Windows for admin, Linux for host

**Web browser** _(e.g. Chrome 88.0.4324)_:
Chrome

<hr/>

A linux host of ours has not reported in a while. It was likely re

[2022-03-06 09:10] mveplus commented on #4430
Thank you @lucasmrod

After a bit of fiddling around with OS architecture as per your suggestion x64 now and NodeJS and Go versions I've got it compiled from source ;)  and it almost works!

[code]
But it hangs in there, just waiting….
[code]

Cheers

[2022-03-06 18:27] er4z0r commented on #4046
A few quick notes for others seeking to import their policies.
- fleetctl did **not** honor the `team_id` field in the YAML. Policies were always imported as **global**
- until there is a bulk-move feature in the UI (see #4426) you will have to do it directly in the DB by changing the team_id field in the policies table from NULL (i.e. global policy ) to the desired team id (can be found from the

[2022-03-07 04:16] mikermcneil commented on #3746
Just noticed this is still a "TODO" [in the handbook](https://fleetdm.com/handbook/customers#runbook):

<img width="603" alt="image" src="https://user-images.githubusercontent.com/618009/156966972-2a6b3982-b7dd-489e-b924-f8a297e6f6d6.png">

@tgauda Could you knock this out?

[2022-03-07 11:56] lucasmrod commented on #4469
Hi @jcetina! Thanks for the detailed bug report.

Do you have access to Fleet server logs? They should provide more information around the "Authentication failed" error returned to the client.

[2022-03-07 12:06] lucasmrod commented on #4490
This might be related to #4333.

Similar scenario, and similar end result, a 500-page after clicking on a host's software tab. Which seems to happen when no software hasn't been pushed yet from the host to Fleet.

[2022-03-07 12:45] Jimjazzz commented on #4423
Thanks, @GuillaumeRoss , @lukeheath.

For sure i can run a new scan with a newer release and will let you know with whatever comes up.

[2022-03-07 13:56] mna opened #4492 "Work around the redis pub-sub size limits"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):
4.10

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Any

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

N/A

**Operating system** _(e.g. macOS 11.2.3)_:
N/A

**Web browser** _(e.g. Chrome 88.0.4324)_:
N/A
<hr/>

As discussed

[2022-03-07 13:58] DominusKelvin commented on #3847
Thanks for catching this @xpkoala. I submitted this [PR](https://github.com/fleetdm/fleet/pull/4493) to update the Getting started in lieu with your suggestions. Let me know if that works or the PR need another iteration :)

[2022-03-07 14:04] mna commented on #3220
@xpkoala indeed, this is not testable via the UI at the moment as only the backend API is implemented, sorry I should've mentioned it here! Moving to ready for release.

[2022-03-07 14:25] lucasmrod commented on #4430
Cool.

To troubleshoot, try getting logs from the Fleet server container (using `docker logs`):
[code]

[2022-03-07 16:21] michalnicp opened #4496 "Add info from cve tracker for vulnerabilities"
### Goal

Provide more information from CVE trackers for vulnerabilities such as priority so that the user can decide whether to act on it. Also, depending on the specific CVE, it may have a different priority on different OSs. Currently we link to nvd.nist.gov for all CVEs.

For example, this CVE https://nvd.nist.gov/vuln/detail/CVE-2019-18276 for bash 4.4.18-2ubuntu1.2 has a high priority, but o

[2022-03-07 16:52] chiiph commented on #1980
Timeboxing this to a 2, it'll probably be quick once @michalnicp and @zwass can get on a call and discuss.

[2022-03-07 16:55] gillespi314 opened #4498 "`GET /host/:id` endpoint should return empty array for `software`"
### 🧑‍💻  Expected behavior
When a new host first enrolls and has not yet sent software to Fleet (i.e. before the host's first check in with the software inventory), the `GET /host/:id` endpoint should return empty slice for the `software` field.

### 💥  Actual behavior
`software` field is not present in API response.

### To fix
- If there's no software, include the `software` field (empty array)

[2022-03-07 16:59] xpkoala opened #4499 "Copy and View icons misaligned on Settings page"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 💥  Actual behavior
Copy

[2022-03-07 17:25] jcetina commented on #4469
@lucasmrod - I do have access to them. Before I go looking - two questions.

1/ Do I need debug logging enabled?
2/ Is there a specific substring that will help me find what you're looking for?

Thanks.

[2022-03-07 17:31] #4463 closed

[2022-03-07 17:32] #4490 closed

[2022-03-07 17:32] #4146 closed

[2022-03-07 17:33] #4470 closed

[2022-03-07 17:33] #4457 closed

[2022-03-07 17:33] #3878 closed

[2022-03-07 17:33] #4431 closed

[2022-03-07 17:34] #4399 closed

[2022-03-07 17:34] #4415 closed

[2022-03-07 17:34] #4325 closed

[2022-03-07 17:35] #4408 closed

[2022-03-07 17:35] #3699 closed

[2022-03-07 17:36] #3456 closed

[2022-03-07 17:36] #3658 closed

[2022-03-07 17:37] #3083 closed

[2022-03-07 17:37] #3081 closed

[2022-03-07 17:37] #4064 closed

[2022-03-07 17:37] #2750 closed

[2022-03-07 17:38] #4067 closed

[2022-03-07 17:39] #3790 closed

[2022-03-07 17:39] #4304 closed

[2022-03-07 17:40] #4260 closed

[2022-03-07 17:40] #4333 closed

[2022-03-07 17:40] #3979 closed

[2022-03-07 17:40] #3398 closed

[2022-03-07 17:41] #3285 closed

[2022-03-07 17:41] #3881 closed

[2022-03-07 17:41] #4109 closed

[2022-03-07 17:41] #3055 closed

[2022-03-07 17:42] #1615 closed

[2022-03-07 17:42] #4091 closed

[2022-03-07 17:42] #2971 closed

[2022-03-07 17:42] #3880 closed

[2022-03-07 17:43] #344 closed

[2022-03-07 17:43] #4087 closed

[2022-03-07 17:43] #3507 closed

[2022-03-07 17:43] #4365 closed

[2022-03-07 17:44] #3927 closed

[2022-03-07 17:44] #4082 closed

[2022-03-07 17:44] #4275 closed

[2022-03-07 17:44] #4299 closed

[2022-03-07 17:45] #3031 closed

[2022-03-07 17:45] #4187 closed

[2022-03-07 17:45] #3220 closed

[2022-03-07 17:46] #4268 closed

[2022-03-07 17:46] #4355 closed

[2022-03-07 17:46] #4361 closed

[2022-03-07 17:47] #4461 closed

[2022-03-07 17:57] lucasmrod commented on #4469
If possible, yes, this could provide more information to us.

Lines that contain `"Authentication failed"` or `"level=error"`.
On authentication errors we return "Authentication failed" to clients, but we log a bit more information about the error on the server request log.

[2022-03-07 18:18] lukeheath commented on #4429
@chiiph if you are able to put a rough point estimate on this it will be helpful for reporting.

[2022-03-07 18:18] lukeheath commented on #2422
@chiiph If you could put a rough point estimate on this it will be helpful for reporting.

[2022-03-07 18:19] lukeheath commented on #1781
@chiiph If you could put a rough point estimate on this it will be helpful for reporting.

[2022-03-07 18:20] chiiph commented on #2422
This ticket will highly likely be closed, it's unclear what the work would be, if anything at all, so it's impossible to point at this stage.

[2022-03-07 18:24] chiiph commented on #1781
Closing this down as having walked the path we have so far hasn't created any new ideas.

[2022-03-07 18:24] #1781 closed

[2022-03-07 18:54] michalnicp opened #4501 "Handle null values for packs"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

v4.9.1

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

[2022-03-07 19:34] GuillaumeRoss commented on #4192
Tests I have performed:

1) Build macOS VM, clean
2) Enroll to Fleet and **take a VM snapshot**
3) Check that `munki_info` table returns nothing - great!
4) Manually install Munki from their latest release pkg. Wait about 10minutes, check `munki_info` - it now returns data
5) Hosts details start showing Munki version in the host's details:

<img width="394" alt="image" src="https://user-images.git

[2022-03-07 19:48] xpkoala commented on #4192
Thank you @GuillaumeRoss!

[2022-03-07 20:17] lucasmrod commented on #4476
Until we have a better solution I suggest we disable the keepalive workflow, that's the thing messing with the release ordering AFAICS. /cc @chiiph

[2022-03-07 20:48] zwinnerman-fleetdm opened #4503 "Process errors in service_campaigns from readChan channel"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

### 💥

[2022-03-07 20:48] zwinnerman-fleetdm opened #4504 "When reading from readChan in service_campaigns, we should do a 2 value receive to check if the channel is closed"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

### 💥

[2022-03-07 20:49] zwinnerman-fleetdm opened #4505 "Switch how we send values to clients during live queries to use [{}] instead of {} formed json to improve speed on higher latency connections."
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

### 💥

[2022-03-07 21:01] noahtalerman opened #4507 "Remove advertising of FreeBSD support in the Fleet UI, fleetdm.com, and osquery.io"
The official osquery stance is that osquery for FreeBSD is not officially supported.

The current hypothesis is that a very small fraction of Fleet/osquery users and customers are maintaining secure laptops and servers which FreeBSD.

### Goal

Remove advertising of FreeBSD support in the Fleet UI, fleetdm.com, and osquery.io so that Fleet users have a clear understanding on which platforms Fleet

[2022-03-07 21:03] noahtalerman commented on #4507
@sharvilshah if the above is the case, do you know why "FreeBSD" presented on the official osquery schema docs?
![Screen Shot 2022-03-07 at 4 02 47 PM](https://user-images.githubusercontent.com/47070608/157117363-4d11dbe8-9a05-4b88-8407-824332d4a28b.png)

[2022-03-07 22:29] noahtalerman commented on #4505
Hey @zwinnerman-fleetdm, it looks like this issue specifies a proposed improvement to Fleet and not a time when Fleet didn't behave as expected/documented. Is this correct?

If so, can you please remove the "bug" and ":reproduce" labels? Thanks :)

We'd like to reserve the "bug" label for issues that describe times when Fleet doesn't behave as expected or documented. This way, we can easily find a

[2022-03-07 22:57] #4446 closed

[2022-03-07 23:50] gillespi314 commented on #3245
@lukeheath, did you have a chance to consider how best to prioritize this ticket in the broader context of redesigning the select targets API?

[2022-03-08 12:53] chiiph opened #4508 "Research (and potentially implement) automatic generation of OpenAPI documentation"
With the new handler definition, we have the opportunity of parsing our own Go code and potentially comments as well to generate an OpenAPI specification for our REST API automatically.

The goal is for that to replace https://github.com/fleetdm/fleet/blob/main/docs/Using-Fleet/REST-API.md which is done by hand and can easily go out of date with this generated version.

Timeboxing this to a 5 for

[2022-03-08 13:00] DominusKelvin commented on #3760
@RachelElysia is it okay to close this issue now?

[2022-03-08 13:02] DominusKelvin commented on #3369
@ksatter are you on this?

[2022-03-08 13:14] DominusKelvin opened #4509 "fix broken internal links in the API for contributors docs"
### Goal

TODO

Some internal links(at least 3) on the API for contributors docs currently are broken

### How?

- [ ] Get the updated IDs for those links
- [ ] Update anchor tags with the updated IDs

[2022-03-08 13:30] lucasmrod commented on #4405
TL;DR: To fetch "Fixed CVEs" for all CentOS packages, Fleet processes all sqlite files present in the http://mirror.centos.org repository. Such sqlite files contain changelog entries for each package (the changelog entries mention the fixed CVEs in each version). For some reason, the sqlite files provided by the http://mirror.centos.org repository do not contain the full changelog (entries for old

[2022-03-08 13:40] sharvilshah commented on #4507
@noahtalerman I think that's just an artifact of the previous FreeBSD support that was there at some point.

At this point, I don't think there are any plans to revive it (https://github.com/osquery/osquery/issues/7299#issuecomment-912758453)

[2022-03-08 13:45] DominusKelvin commented on #4509
This [PR](https://github.com/fleetdm/fleet/pull/4510) should fix it

[2022-03-08 14:11] DominusKelvin commented on #3512
@lucasmrod is this issue still valid as to the best of my understanding Fleet's API support both a `GET` and a `POST` method on `/api/v1/fleet/queries/run` and it's the `POST` method that has the ability to establish a WebSocket connection for you to get the result via WebSocket. No?

[2022-03-08 14:17] DominusKelvin commented on #4098
@lukeheath I'm always up for documenting APIs. Do you want to collaborate on this one when you are ready?

[2022-03-08 14:36] noahtalerman commented on #4507
@sharvilshah if this is the case, I think there's an argument for also removing "FreeBSD" from the official osquery schema docs. What do you think?

[2022-03-08 14:41] #3651 closed

[2022-03-08 14:42] RachelElysia commented on #3760
I just filed the issue, I don't keep track of what gets closed when and why. @lukeheath

[2022-03-08 14:42] lucasmrod commented on #4476
Yes, we would have to manually click on re-enable every 60 days.

I suggest we disable the keepalive workflow and meanwhile think of a possible solution.
Other alternative is for Fleet to list all releases and do some processing to know which is the correct last one.

[2022-03-08 14:47] DominusKelvin commented on #3760
I asked because the PR for this issue has been merged so want to follow up on closing it.

[2022-03-08 15:12] noahtalerman commented on #4507
From Sharvil: Arguments for not removing would be (I think), that FreeBSD was officially supported in the past (old devices might need reference docs), and that some motivated person/entity could see that it was supported in the past and might work to get it working again (the goal of getting osquery on more platforms)

[2022-03-08 15:23] noahtalerman opened #4512 "Add ability to prioritize vulnerable software"
## Problem

I'm a user managing thousands of macOS, Windows, and/or Linux hosts and I'm overwhelmed with completing the following goal:
- Make sure the most important vulnerable software is updated/removed from my hosts.

It's hard to make progress on the goal because I don't know where I should start. What vulnerable software should be updated/removed first?

## Goals

1. Know which vulnerable so

[2022-03-08 16:22] noahtalerman commented on #4512
Potential way to determine risk of installed software...
- Low risk:
  - At least one vulnerability (CVE) with medium severity (CVSS score)
- Medium risk:
  - Recently used on at least one device AND
  - At least one vulnerability with medium severity (CVSS score)
- High risk:
  - Recently used on at least one device AND
  - At least one vulnerability (CVE) with a public exploit AND
  - At least o

[2022-03-08 16:36] mna opened #4514 "Figure out if we need to version the remaining "very special" endpoints"
Following work on #3729 and #3730 , there are now only 2 remaining endpoints that are not generated via the version-aware pattern: the initial fleet setup endpoint and the streaming live query results websocket endpoint:

* `/api/v1/fleet/results/*`
* `/api/v1/setup`

Those are implemented quite differently from any other and would require specific solutions.

Some thoughts based on initial look a

[2022-03-08 16:51] zwinnerman-fleetdm opened #4515 "Prepare query on distributed write"
Similar to #4064, the query `SELECT * FROM distributed_query_campaigns WHERE id = ?` is prepared and run once per endpoint per live query. This takes ~1-1.5ms per host per live query since the statement is not prepared ahead of time.

[2022-03-08 18:25] RachelElysia commented on #4398
Came to file this but glad you beat me to it!

Just to add to the conversation, all of this should be sticky:
1. the top nav (so I can quickly search docs)
2. the right nav (so I can quickly nav throughout the page) and
3. the left nav (so I can quickly switch docs)

[2022-03-08 19:04] michalnicp opened #4518 "Improve vulnerability detection"
### Goal

Reduce false positives when detecting vulnerabilities on all platforms and make it easier to add support for new platforms and new sources of vulnerability data.

### How?

Use [Oval](https://oval.cisecurity.org/) to detect software vulnerabilities.

- [ ] Evaluate available Oval repositories. A list can be found here https://oval.cisecurity.org/repository/registry. Some platforms mainta

[2022-03-08 19:18] jcetina commented on #4469
@lucasmrod Here's the relevant fields from the json logs that come back when we search for "Authentication". The fields below are from one log entry.

[code]

[2022-03-08 19:54] xpkoala commented on #4515
@zwinnerman-fleetdm I may be incorrect, but this looks more like an improvement instead of a bug. If this is a bug we can change it back over.

Could you please attach a goal to the ticket so it can be tracked?

[2022-03-08 20:05] zwinnerman-fleetdm commented on #4515
Should be updated @xpkoala

[2022-03-08 20:07] zwinnerman-fleetdm commented on #4505
@noahtalerman Ok, I was working under the idea that this is a probable cause of performance related things, and therefore is a bug. I will update tickets in the future to use idea instead.

[2022-03-08 20:15] noahtalerman commented on #4093
@lucasmrod correct to both. The current plan is to include the UI changes when Fleet Desktop is brought to macOS, Windows, and Linux.

Reasoning:
- Communicating to the user that Fleet Desktop is cross platform (macOS, Windows, Linux)
  - We'd like to communicate to most users that Fleet Desktop is available for the three common workstation operating systems.
  - Waiting to include UI changes unti

[2022-03-08 20:20] noahtalerman commented on #4505
Got it. This makes sense.

@zwinnerman-fleetdm do you think this performance related issue belongs in the [Engineering project board](https://github.com/orgs/fleetdm/projects/29) or the [Infrastructure project board](https://github.com/orgs/fleetdm/projects/34)?

Once this issue makes it on to one of these boards, it can be prioritized, architected, and pulled into a future 🚀 Release.

[2022-03-08 21:46] lukeheath opened #4521 "Add Jira integration and create Jira tickets for software vulnerabilities"
### Goal

TODO

### Figma

TODO

### API wireframes

TODO

### How?

#### Frontend

TODO

- [ ]

#### Backend

TODO

- [ ]

[2022-03-08 21:48] lukeheath opened #4523 "Built-in integrations"
## Objective

Deliver a simple, trustworthy, actively-used product that works every time.

## Key result

At least one customer has configured Fleet's built-in Jira integration, and at least one customer has configured Fleet's built-in Zendesk integration,  both with the goal of real-world continuous compliance (policies) and vulnerability management of their production infrastructure.

### Goal

[2022-03-08 23:12] mikermcneil opened #4526 "Settings screen: Strange behavior when clicking already-selected tab."
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): Fleet 0.0.0-SNAPSHOT-91474d8  (dogfood, 2022-03-08 @ 17:12 CT)

**Operating system** _(e.g. macOS 11.2.3)_: macOS, lateset

**Web browser** _(e.g. Chrome 88.0.4324)_:  Chrome, latest

<hr/>

### 🧑‍💻  Expected behavior

From a tab you already have selected, click the same tab.  I expected nothing to happe

[2022-03-08 23:17] #4036 closed

[2022-03-08 23:23] mikermcneil opened #4527 "Team picker: Inconsistent sort"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): dogfood @ 2022-03-08, 17:22 CT

**Operating system** _(e.g. macOS 11.2.3)_:  latest mac

**Web browser** _(e.g. Chrome 88.0.4324)_:  latest chrome

<hr/>

### 🧑‍💻  Expected behavior

As a user in the team picker, I expected it to use the same sort sort order (alphabetical, ascending) as on the `/settings

[2022-03-09 08:52] ducna96 opened #4529 "how to custom host details page ?"
### Goal
how do i custom hosts page to show my query results , example : i want to view my results query : sellect * from iptables ,in host page like
,
![image](https://user-images.githubusercontent.com/35019158/157405789-ecbd433e-cbe7-43b3-aea3-190dc582d403.png)
i want to view some information like iptables, ipaddress,cpu ...  = query results filter, in hosts page or  in another one page.
Thanks

[2022-03-09 11:44] Catscrash commented on #4387
Hi @lucasmrod  sorry for the late reply, I didn't see your answer.

`fleetctl get config --include-server-config
---
apiVersion: v1
kind: config
spec:
  agent_options:
    config:
      decorators:
        load:
        - SELECT uuid AS host_uuid FROM system_info;
        - SELECT hostname AS hostname FROM system_info;
      options:
        disable_distributed: false
        distributed_interval:

[2022-03-09 14:39] noahtalerman opened #4533 "Update documentation to explain how use "API-only" users to run `fleetctl` commands"
### Goal

Update documentation to explains how to use "API-only" users to run `fleetctl` commands so that users know how to use "API-only" users in automated workflows (ex. CI/CD)

### How?

- [x] Update the documentation to explain how to successfully complete the following steps with fleetctl:
  - Create api only user user
  - Login with api only user
  - Run `fleetctl` commands

[2022-03-09 14:53] mna commented on #1782
Closing this, as it's covered by other tickets now.

[2022-03-09 14:53] #1782 closed

[2022-03-09 15:07] ksatter commented on #3773
@mike-j-thomas Can I get a Fleet/Linux graphic for this?

[2022-03-09 15:24] mna commented on #4508
From a quick search, a lot of the Go tooling seems to be for v2 of the openapi spec. Found this discussion from 3 years ago but still seems to reflect the state of things for Go: https://www.reddit.com/r/golang/comments/bm6mn2/generate_openapi_v3_specification/ , i.e. tools exist to generate Go code from a spec, but not so much the other way around. I think we can figure out a simple enough list o

[2022-03-09 15:35] noahtalerman commented on #4512
Feedback from Josh Brower:
- “Risk” is context specific
- Example where this measure of "Risk" would be less valuable: Microsoft exchange cluster
  - Why? "Risk" depends on other factors such as configuration, port, level of access, etc.
  - First step for these software items is to link directly to Microsoft page which explains the "Risk" factors in more detail
- Example where this measure of "Ri

[2022-03-09 16:27] mike-j-thomas commented on #3773
You sure can, I've added it to my list.
Where is your draft located? If it's on Medium, can you submit it to Fleet publication?
Give @Desmi-Dizney a shout if you are ready for him to read through and edit your draft.

[2022-03-09 17:35] chiiph commented on #2936
Some things to consider here:

- What versions of Jira are we planning on initially supporting?
- What kind of deployments do we plan to support? On prem or cloud. Cloud updates much faster than on prem.
- What happens if a given CVE has thousands of hosts vulnerable? There's probably a limit to the issue description size, should we just link to the URL that lists all the hosts with that particula

[2022-03-09 17:37] tgauda commented on #4467
They can't easily take the system offline because of on-call procedures that are in place. If the system goes down it'll trigger a response and they'd like to avoid that. All the other points are correct.

[2022-03-09 18:01] RachelElysia commented on #3409
@gillespi314 just merged in a new `<Reveal Button/>` component for that Plain osquery button ✨

[2022-03-09 18:58] zwinnerman-fleetdm opened #4535 "Set client-output-buffer-limit-pubsub-*-limit to 0 when connecting to redis"
### Goal
Implement the equilavent of:
[code]

[2022-03-09 19:06] RachelElysia opened #4536 "Remove blockAutocomplete error in dev tools"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

I shou

[2022-03-09 19:33] RachelElysia opened #4537 "Consistent accessibility using "Tab" key"
### Goal

TODO

I should be able to "tab through" the Fleet app. When I tab through the App, I should know what button/field/etc is highlighted. Some buttons/fields highlight on focus, while others do not show any different styling. This can be confusing to a user.

Example screenshot: Top nav tabs through show selection focus
<img width="1284" alt="Screen Shot 2022-03-09 at 2 28 43 PM" src="https

[2022-03-09 20:21] zwinnerman-fleetdm commented on #4505
Definitely engineering since it requires code change and has nothing to do with infrastructure really.

@noahtalerman

[2022-03-09 20:41] mike-j-thomas commented on #4509
https://github.com/fleetdm/fleet/pull/4510 closes this issue.

[2022-03-09 20:41] #4509 closed

[2022-03-09 20:51] noahtalerman commented on #4505
Sweet! I just added this issue to the Engineering project board.

@zwinnerman-fleetdm for future performance related issues that fit this^ criteria can you please add them to the Engineering board?

This way, someone on the Engineering team will get their eyes on the issue and determine whether it will get spec'd and estimated.

[2022-03-09 21:34] MScottBlake opened #4540 "API-only users should be created with `force_password_reset` set to `false` by default"
### Goal

When an API-only user is created, the default behavior should be to not require a password change.

This way, I don't have to send a required password reset request to the Fleet API before I can use my "API-only" user.

### How?

- [x] Update the `fleetctl user create --api-only` command so that it always creates a user with `admin_forced_password_reset` set to `false`.

[2022-03-09 21:47] mna commented on #3059
I understand that from a UI point-of-view, this is besides the point of what we want to achieve, but thinking strictly in terms of the API, should we explicitly fail the request if the call is from a normal user and they try to change their own password (even though that wouldn't be possible via the UI)?

Authorization-wise, there's nothing wrong with that (any user can change their own informatio

[2022-03-10 09:54] mike-j-thomas opened #4543 "UI bug - Error tab not rendering correctly in live query results"
### 🧑‍💻  Expected behavior

Expected to see "Errors" aligned to the right of the counter

### 💥  Actual behavior

### Figma
https://www.figma.com/file/qpdty1e2n22uZntKUZKEJl/?node-id=203%3A5

<img width="347" alt="image" src="https://user-images.githubusercontent.com/78363703/157636820-5b01ffc1-3aa1-49a4-ae50-cf7a3f39db3e.png">

[2022-03-10 11:49] DominusKelvin commented on #4533
This is interesting.

[2022-03-10 12:37] lucasmrod commented on #4469
Hi @jcetina, thanks for the added logs.

Question for our team:

My guess after reading the code:
[code]

On a deployment with MySQL read-replicas:
Could (A) be loading the previous (expired) session instead of the new one created at (1)?

[2022-03-10 13:17] lucasmrod commented on #4387
Hi @Catscrash!

According to the config:
[code]
Osquery hosts send their status and result logs via TLS to the following Fleet endpoint: `/api/v1/osquery/log`.

Could you check if Apache is not allowing such traffic?

To confirm this, you could also check osquery logs in one of the agents. Location of the logs depends on how osquery was installed on the hosts. If you used Fleet's osquery generated

[2022-03-10 13:48] mike-j-thomas opened #4545 "Normalize SQL statements throughout docs"
Change this convention:
`select * from os_version`
to this:
`SELECT * FROM os_version`

[2022-03-10 14:42] timmy-k opened #4546 "Filter/Exclude Internal Traffic From Google Analytics"
## Goal
Filter traffic from employees so we can track customer behavior effectively

## How
- [ ] Decide whether it's feasible to add IP addresses from everyone/most employees
- [ ] Collect list of IPs
- [ ] Add filters to GA for those IPs

### Reference

https://support.google.com/analytics/answer/1034840?hl=en

[2022-03-10 15:58] #3760 closed

[2022-03-10 16:34] tgauda opened #4547 "Inclusions and exclusions in host targeting for queries"
Customers want to leverage existing labels to run queries against groups of hosts but sometimes they would like to exclude some hosts that are included in the label.

It would be convenient if a customer could exclude hosts in both the UI and fleetctl.

More context: https://fleetdm.slack.com/archives/C02G1BQLUUD/p1646930871157619

[2022-03-10 16:42] eashaw opened #4548 "Website bug - Button focus state"
**Operating system** _(e.g. macOS 11.2.3)_: 11.6.3

**Web browser** _(e.g. Chrome 88.0.4324)_: Chrome 99

<hr/>

### 🧑‍💻  Expected behavior

As a user who switches back to the fleetdm.com tab after scheduling a demo, I want the button I just clicked to not have a border

### 💥  Actual behavior

![image](https://user-images.githubusercontent.com/7445991/157710884-4094b5bd-ca46-468e-83e8-4cde45fd376

[2022-03-10 17:24] lukeheath commented on #2936
@chiiph @noahtalerman

I suggest we support only [Jira Cloud](https://www.atlassian.com/software/jira/pricing?tab=cloud). Atlassian has ended sales of new data center licenses and is actively working to migrate all customers to Cloud.

The API should be consistent between the various versions of Cloud.

I think we should have a limit that we display in the ticket (50?). In all cases, it sounds lik

[2022-03-10 20:04] martavis commented on #937
@joepvl Thank you for bringing this up. This is basically an oversight in our tech debt as we were getting to know the library in the early days of our code. We have other instances of React Tabs that are using it correctly, but we need to clean this up using your idea.

[2022-03-10 20:05] xpkoala commented on #4088
@lucasmrod Once this has been implemented could you please move it to the Ready for Release category, thank you!

[2022-03-10 20:06] lucasmrod commented on #4088
It's done and tested (we've successfully received a notification in #g-core-engineering).

[2022-03-10 20:06] xpkoala commented on #4543
This screen is pulled from Figma.

![Screen Shot 2022-03-10 at 2 06 04 PM](https://user-images.githubusercontent.com/11012743/157745850-3a721659-8310-4142-b2aa-d20740818e55.png)

[2022-03-10 20:20] lukeheath commented on #2936
@noahtalerman I think we can hold off on spinning out new tickets until we're a little further into architecting this. I suggest the following:

1) When the API receives a new or edited integration, it sends a test request to the Jira API to confirm the credentials are valid.
- If the request is successful, our API returns a 200 response to the Fleet UI. It saves the configuration change. The Flee

[2022-03-10 20:23] noahtalerman commented on #2936
@lukeheath both make sense to me.

[2022-03-10 21:38] mpreziuso opened #4557 "Amazon Linux 2 is not supported"
**Fleet version**: Fleet 4.11.0

**Fleet tier**: Free Tier

**User role**: Admin

**Operating system**: Amazon Linux 2

[code]

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior

- No errors.
- Policies to work as expected

### 💥  Actual behavior

- Policies are not run
- `level=error ts=2022-03-10T21:05:23.191929625Z err="host 1 with empty platform"` is thrown in the logs

### More info

1.

[2022-03-10 22:26] michalnicp opened #4559 "Hosts software page results in 500 if software has not been indexed yet"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`):

v0.0.7-1-g2ee98e1f

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

Firef

[2022-03-10 22:27] michalnicp commented on #4559
Discovered while testing changes in #4555.

[2022-03-10 22:40] mikermcneil commented on #4512
Feedback from customers:

Ryan: Hey just a follow-up from the meeting... I had a quick thought on how we might want to approach the vulnerability ranking system. Since we're essentially working with ya'll to help define heuristics, I was thinking the below might be a good place to start. This could be scaled to your other customers as they could define their own metrics, weights, etc...
1) Define

[2022-03-10 22:42] lukeheath commented on #4559
@gillespi314 This appears to be related to your PR https://github.com/fleetdm/fleet/pull/4495/files. @michalnicp is still getting a 500 error when visiting a new host's software tab. Would you please take a look at this?

[2022-03-10 22:45] michalnicp commented on #4559
To reproduce, add a new host and view the software page before the software has been indexed for the host.

[2022-03-10 22:49] lukeheath commented on #4559
I'm bringing this directly to the release board since it seems to be a previously reported bug popping back up.

[2022-03-10 22:53] mikermcneil commented on #4512
@noahtalerman One thing I _really_ like about how you're thinking about risk scoring is basing it on patching timeframes / SLAs.  Maybe this is "SLA"?

- (will not go out of our way to patch)
- (will patch within 12 months)
- (will patch within 1 month)
- (will patch within 1 week)
- (will patch within 24h)

[2022-03-10 22:56] mpreziuso commented on #4557
Fixed in #4555

[2022-03-10 22:56] #4557 closed

[2022-03-10 22:56] rymurph20 commented on #4512
I think we were having trouble creating some sort of distinction between Critical and High in the meeting. I would separate the two (briefly) like this...

Critical: Danger is imminent from remote attackers; drop everything and fix. (e.g. Log4Shell)
High: Vulnerability is trivial to exploit and should be prioritized but danger isn't necessarily imminent from remote attackers (e.g. LPE like Dirty P

[2022-03-10 23:41] mikermcneil commented on #4512
@rymurph20 Fair to say by that definition: "Critical" == ≤24h, "High" == 1 week?

Also: @cjwalton

That could work.  We could even just call it "SLA" and have there be 4 convention over configuration levels, starting out based on feedback from you and anyone else who chimes in (makes it easier to ship a working version more quickly.)  Then over time, we let people configure what those SLAs mean fo

[2022-03-10 23:47] lukeheath commented on #4559
@michalnicp It occurred to me that you may have been experiencing this issue because your frontend had not been rebuilt with the fix. Would you please give it another try with a new host now that you've rebuilt the latest? Assigning over to you to confirm you are still seeing the issue. If you are, please assign back to @gillespi314. Thanks!

[2022-03-11 00:17] mikermcneil opened #4561 "`fleetctl package` spits out irrelevant log message"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl --version`): 4.8.0

**Operating system** _(e.g. macOS 11.2.3)_:  macOS 12.2.1

<hr/>

### 🧑‍💻  Expected behavior

I ran `fleetctl package` to generate an installer, and there was some extra output that did not add value for me and made me wonder if Fleet is working properly.

I would have expected there not to be a m

[2022-03-11 00:27] mikermcneil opened #4562 "/policies/manage :: Remove automations view for observer"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_  Fleet 0.0.0-SNAPSHOT-91474d8 • Go go1.17.2 (aka Dogfood as of 3/10 6:28PM CST)

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Google Chrome

<hr/>

### 🧑‍💻  Expected behavior

As a global observer, I expected to see the green/gray automations UI accurate

[2022-03-11 07:02] mike-j-thomas opened #4566 "Live demo email template."
## Goal

Nice looking email for live demo guests to register.

## How

- [ ] Email template based on existing design
- [ ] Implementation

#### Design
https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=3609%3A12552

[2022-03-11 07:06] #3847 closed

[2022-03-11 07:58] lucasmrod commented on #4559
Yes. Seems a duplicate of #4333 & #4490, let's wait for Michal to re-test with all things re-built (`git pull origin main && make generate && make fleet fleetctl`)

[2022-03-11 08:05] mike-j-thomas commented on #4398
Thanks for filing this, @lukeheath. It's also been on our radar.

[2022-03-11 08:12] mike-j-thomas commented on #3573
@RachelElysia, agreed. @noahtalerman, feel free to assign it to me whenever it makes sense to.

[2022-03-11 08:25] mike-j-thomas opened #4567 "Consistent voice, style, and message for the brand"
1. Becoming a bottleneck to review everything.  Desmi is joining part-time to help with editing grammar, etc.  But…
    2. Instead of blocking, concisely document principles and train team
    3. Ask team to share “t-minus” warnings about outgoing blog posts, website changes, and email blasts, fundraising announcements
    4. Set up alerts for when the handbook or docs are changed, rather than blo

[2022-03-11 10:18] Jimjazzz opened #4568 "Vulnerable third party dependencies in 4.11.0"
### Goal

As we talked in https://github.com/fleetdm/fleet/issues/4423, i am attaching here a list of vulnerable dependencies coming from SNYK analysis, with 1 CRITICAL and 8 HIGH vulnerabilities:

![image](https://user-images.githubusercontent.com/73331488/157847777-d0df13ee-e8f2-413c-abb2-30fc78329d11.png)

Here is the full report:
[snyk_fleetdm_411-2022-03-11T10_11_09.202Z.csv](https://github.c

[2022-03-11 13:43] chiiph commented on #2936
Supporting JIRA Cloud only given that Atlassian is retiring the other version makes sense. The reason I posed the question is that you could very easily be running an old version of JIRA Server, and the API might be different. So defining what we support officially is key for this.

This is fine, but we need a way to answer the question "why hasn't this vulnerability been reflected in JIRA yet?".

[2022-03-11 14:15] noahtalerman commented on #2936
@chiiph I think this is sufficient for the first pass 👍

Agreed. @xpkoala when you get the chance, can you please file an issue issue that captures revealing the above information to the user.

After the issue is filed, can you please mention Tomas in the issue and ask him to point you towards these^ discussions from the community? That way, we can reference the reported use cases/discussion when

[2022-03-11 14:36] noahtalerman commented on #2936
@chiiph @lukeheath we recently learned from a customer (partner on this initiative) that they're self hosting Jira (on prem). I think Jira calls this "Jira Server platform."

What do you think about Fleet supporting version 2 of the Jira API in the first iteration? This way, users can successfully create tickets in any Jira Cloud or Jira Server platform (on prem) version that supports version 2 of

[2022-03-11 15:00] mike-j-thomas commented on #3512
Hey @DominusKelvin is this yours? I'm going to put your face on it for now.

[2022-03-11 15:51] #1776 closed

[2022-03-11 16:07] michalnicp commented on #4559
Confirmed that this is working as expected. The issue was I did not regenerate the front end code during testing. Closing issue.

[2022-03-11 16:07] #4559 closed

[2022-03-11 17:12] timmy-k commented on #4546
@ksatter found 2 browser extensions that will solve this problem without IP addresses:
- Google Chrome- https://chrome.google.com/webstore/detail/block-yourself-from-analy/fadgflmigmogfionelcpalhohefbnehm?hl=en
- Firefox- https://addons.mozilla.org/en-US/firefox/addon/google-analytics-blocker/

and also found a 3rd option to opt out of GA tracking entirely (fine for anyone who doesn't need to test

[2022-03-11 17:46] lukeheath commented on #3245
I'm bringing this out of the sprint until some additional research can be done on the select targets endpoint per @gillespi314 comment above.

[2022-03-11 18:52] DrewBakerfdm commented on #4291
Hey Des,

Would you be able to take a look and review this? @Desmi-Dizney

Thanks!

[2022-03-11 19:33] mike-j-thomas commented on #4546
A blocker that I see with this is getting everyone to do it, especially as the team grows. If you guys think that it's the cleanest solution, it could always be made part of the onboarding process when team members set up all other required tools.

[2022-03-11 19:41] timmy-k commented on #4546
Excellent idea!

My experience is with putting IP addresses in as a filter, or filtering an office IP address, so for a remote team this seems like the best option IMHO

[2022-03-11 19:58] xpkoala commented on #4562
The response from `v1/fleet/global/policies` returns the same information for both a global admin and a global observer. I'm not entirely sure what the green/grey light is triggered off of at this time.
[code]

[2022-03-11 20:07] ksatter commented on #4546
I can throw together a quick guide for setting it up before we bring someone new on to test it out.

[2022-03-11 20:17] noahtalerman commented on #4467
@tgauda follow up from today's (03-11-2022) call:

The following are immediate steps we

Question 1: Can the customer configure monitoring to not respond to the specific 5xx code that occurs when taking Fleet offline?

Question 2: Can the customer configure/change the load balancer to return a specific code that does not trigger monitoring when taking Fleet offline?

If the answer to both^ is "No,

[2022-03-11 21:13] michalnicp opened #4570 "Add success dialog/message to orbit installer"
### Goal

When using the orbit installer, show a dialog or message to indicate that it has been successfully installeds. This would reduced confusion about whether it was installed successfully and be more consistent with other installers.

### How?

Add a success dialog or message. Require user interaction to dismiss.

[2022-03-11 21:38] tgauda commented on #3746
Done

[2022-03-11 21:43] Desmi-Dizney commented on #4291
See:
https://docs.google.com/document/d/1yW-LKtTyWkkYhSzLMAThgA1rdQZlnQBPUFn8KsgvowM/edit
for edits. This was very clean.

[2022-03-12 01:48] gillespi314 opened #4571 "Update TypeScript compiler for latest ECMAScript additions"
Current settings are outdated and do not allow for use of recent ECMAScript additions such as `Object.fromEntries` (ES2019), etc.

See https://www.typescriptlang.org/tsconfig#lib

[2022-03-12 14:50] mveplus commented on #4430
Thanks @lucasmrod

I found the issue ;) the fleet-preview pulls "platform: linux/x86_64" images - it looks like is not detecting the architecture, and as you mention about the arm64 support it's not there yet. Editing the YAML manually the platform for all images did not work as expected.
But as I got to that point I decided I will skip the preview and followed [Server Installation](https://fleetd

[2022-03-14 12:06] chiiph commented on #2995
The conversation we had in December about this deemed this approach too risky, as a bug here could cause fleet to simply stop working. So this feature was put on ice for the moment.

[2022-03-14 13:36] mike-j-thomas opened #4572 "Make live query result table columns sortable"
## Goal
As a user, I have trouble easily understanding large amounts of data.

I would like to be able to sort Fleet’s live query results so that I can quickly scroll through thousands of results. This way, I can get a reasonable understanding of the most common values that exist for that particular column.

## Figma
Live result filters: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3

[2022-03-14 13:38] mike-j-thomas commented on #4572
@noahtalerman I've assigned this to you because I'm not sure which board to drop it in.

[2022-03-14 14:39] noahtalerman commented on #4572
@mike-j-thomas thanks! For future issues, please feel free to move them into the "Ready" column in the "Product team (weekly) board." This way, I'll get my eyes on the issue there.

[2022-03-14 14:51] noahtalerman opened #4574 "In Fleet UI, add ability to see what query I ran when viewing query results"
## Goal

I, as a user, am super forgetful and will frequently execute a live query and then — while waiting for results to populate — forget the exact syntax that I used when entering the query (on the previous page).

## Figma

Add ability to see what query I ran when viewing query results: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=5236%3A251691

## Tasks

**Note:** This only app

[2022-03-14 14:54] noahtalerman commented on #4574
@mike-j-thomas I'm passing this wireframing issue to you and adding it to the Growth board.

Please let me know if you have any questions :) Thanks

[2022-03-14 14:55] mike-j-thomas commented on #4572
Great stuff, will do.

[2022-03-14 15:06] noahtalerman commented on #1308
@xpkoala heads up, I'm passing this wireframing issue's assignment to you and moving it into the "Ready" column in the product weekly board.

[2022-03-14 15:30] GuillaumeRoss opened #4575 "Enable Redis in-transit encryption in GCP and AWS Terraform"
### Goal

TODO
The redis setup in https://github.com/fleetdm/fleet/blob/main/tools/terraform/gcp/redis.tf does not specify that in-transit encryption should be enabled. This means redis communications happen in clear-text when using this setup. Same is true for AWS (https://github.com/fleetdm/fleet/blob/main/tools/terraform/redis.tf)

### How?

- [ ] Set `transit_encryption_mode` to `SERVER_AUTHEN

[2022-03-14 16:18] lukeheath opened #4579 "Setup official Fleet Jira Cloud instance to develop integration against"
### Goal

We an Engineer, I want to build an integration between Fleet and Jira Cloud so that I can create Jira tickets based on events in Fleet.

### How?

- [x] Create free standard trial of Jira Cloud.
- 14 day free trial.
- https://fleetdm.atlassian.net/

- [x] Submit [open source license request ](https://www.atlassian.com/software/views/open-source-license-request).
- Enable all products we

[2022-03-14 16:22] lukeheath commented on #4521
@chiiph Assigning to you for architectural review. Please let me know if you have any questions or concerns. When all looks good, please unassign yourself and move to the "Estimate" column. Thanks!

[2022-03-14 16:40] xpkoala commented on #4561
Similar to #3699

[2022-03-14 17:06] xpkoala commented on #4562
Decision is to hide the Automations column from users with the Observer role.

[2022-03-14 17:07] xpkoala opened #4580 "Document areas where Observer can see items but not action them"
### Goal

Let's find out everywhere in the app where Observers are not able to modify settings and see if we want to display that information to the user.

[2022-03-14 17:15] chiiph commented on #4521
In here, we will have to test out the values, correct? To reflect this part https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=5036%3A239911

If I understand the flows correctly, you would first add the following to the app config in the Integrations config dialog:

[code]

and then later later on, you would set `enable_software_vulnerabilitie

[2022-03-14 17:17] xpkoala commented on #2351
When time allows lets try and get more reproducible steps on this one and then close it or bring it back into the engineering pool once we have that information.

[2022-03-14 17:18] xpkoala commented on #3176
Moving this to the engineering backlog for prioritization.

[2022-03-14 17:24] xpkoala opened #4581 "Update host expiry window based on input"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ main

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
Host expiry validation check should happen on keypress and not when clicking out of the window.

### 💥  Actual behavior
Valid entries appear invalid until the user clicks out

[2022-03-14 17:37] noahtalerman commented on #3156
@lucasmrod, when you get the chance, can you please point @DominusKelvin to the location/file in the Fleet codebase where online/offline/MIA state is determined? Thanks :)

This way, Kelvin can transform this information into a user friendly section in the docs.

[2022-03-14 17:50] mna commented on #3059
I ended up allowing setting one's own password via that API endpoint for any user, but requiring the old password if the user is not the global admin (i.e. same as for the change_password endpoint), as it makes the API more consistent IMO (the other option is to deny changing the password if you're not a global admin, but allow changing everything else, which can be surprising): https://github.com

[2022-03-14 17:52] mike-j-thomas opened #4583 "Process for getting community Q&A into the docs/FAQs"
## Goal
Create a process for getting all customer/user questions in Slack answered and documented in either the docs or FAQ.

## How
- [ ] Establish process
- [ ] Document in Handbook

[2022-03-14 18:19] mna commented on #4521
Regarding architectural notes, some comments:

+1

We're so close to implementing queues! :D I understand our desire to keep the required infra minimal, though, so that makes sense to me to store this in a table and have distinct publishers/consumers. The processing task should skip rows that have failed the maximum number of times, of course.

I think it could be useful to have a "master-details"

[2022-03-14 18:44] mna commented on #3640
@noahtalerman @chiiph I'm confused by the last few comments, should I implement only the GET by software_id as documented in the description, or should it support all filters mentioned [here](https://github.com/fleetdm/fleet/issues/3640#issuecomment-1032734009)?

Also, I see there's a query parameter named `format=csv`, I assume it's the only valid value for that parameter at the moment, and we sh

[2022-03-14 18:59] lukeheath commented on #4411
@noahtalerman After discussing with @chiiph and @zwass this ticket will need to be delayed so that we can have a larger conversation about surfacing this type of data. We will revisit when Tomas is back from vacation.

[2022-03-14 19:24] chiiph commented on #3640
Sounds like I dropped the ball here, this should've gone to re-estimation given the scope change. How does it look to support all the different filters?

415 sounds perfect for this. Yes, csv is the only valid format for now.

That's a good question. We have no way of knowing what columns are showing, so for now let's mimic what the API exposes. We can iterate later on and make this smarter and on

[2022-03-14 19:26] edwardsb opened #4585 "Geolocation via public IP address"
### Goal

As a Fleet admin I would like the ability to see what country my hosts are located in so that, in the event of an emergency or public safety concern, I can confirm whether or not these hosts are located in a dangerous location.

### Figma

Geolocation via public IP address: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=5254%3A251782

### How?

There are a couple way to solve

[2022-03-14 19:27] mna commented on #3640
I'll take a closer look, possibly not that hard. Thanks!

[2022-03-14 19:37] tgauda commented on #4585
Customer created an extension to help solve this problem: https://code.penguinzmedia.group/foss/whereami-osqext

[2022-03-14 19:39] noahtalerman commented on #3300
@lukeheath can you please move this ticket out of the release board?

In addition to moving this issue back into the "Ready" column on the 🛸Product board, can you please add this issue to the "Ready" column in the 🛰️ Product team (weekly) board? This way, product can be reminded to notify the business that, for now, this was removed from the release.

Thank you for the update in both this issue an

[2022-03-14 19:59] noahtalerman commented on #2936
@lukeheath @chiiph I propose removing the list of hosts from the Jira ticket in this iteration. I've updated this issue's description to reflect this.

This way, we can focus on accomplishing the Fleet detects vuln -> Fleet creates Jira ticket goal in the first iteration. While indicating the specific hosts that are affected is valuable, I think we can rely on the link to the Fleet UI (**Hosts** p

[2022-03-14 20:00] GuillaumeRoss commented on #4329
PR was merged, fixed!

[2022-03-14 20:00] #4329 closed

[2022-03-14 20:04] mike-j-thomas commented on #3773
Scheduled to be published on Friday 18th March.

[2022-03-14 20:04] #3773 closed

[2022-03-14 20:20] mna commented on #3640
My plan here would be to reuse `svc.ListHosts` and `svc.ListHostsInLabel`, and format the resulting `[]*fleet.Host` in a CSV, in which case it is pretty straightforward.

[2022-03-14 20:23] noahtalerman commented on #1416
This issue is now covered by the following issue "Geolocation via public IP address" #4585

[2022-03-14 20:23] #1416 closed

[2022-03-14 23:28] lukeheath commented on #2936
@noahtalerman I spent some time researching Jira today and made a bit of progress.

There are two Jira versions, Cloud and on-prem.

On-prem used to be called Jira Server. They stopped offering Jira Server licenses in 2/21, and now call the on-prem version "Jira Data Center" with an expanded feature set. Both Jira Server and Jira Data Center use the same installation files. The license is what det

[2022-03-15 08:17] xpkoala commented on #4561
This was fixed with the #3699 ticket.

[2022-03-15 08:17] #4561 closed

[2022-03-15 09:18] mike-j-thomas commented on #4291
Thanks for putting this process together @DrewBakerfdm. I made a bunch of requests and suggested changes to the Google Doc to keep the words to a minimum (people don't read). Once those are done I think it's good to add to the handbook.

The next step for this will be to create an issue template rather than a blank issue. We may even be able to consolidate this with our current [Speaking event](ht

[2022-03-15 09:49] mike-j-thomas opened #4591 "Zapier/Slack feed integration for DevRel and customer experience."
## Goal
Get all Slack thread questions into a spreadsheet for DevRel and Customer support (see https://github.com/fleetdm/fleet/issues/4583).

## How
- [x] Create a Zapier action to feed relevant Slack threads, fired from an emoji reaction, into a Google Sheet.

[2022-03-15 12:14] mna commented on #3059
The PR is merged, so for frontend folks: the docs for the endpoint with the new `new_password` field has been updated here: https://github.com/fleetdm/fleet/pull/4582/files#diff-5c79ebaa941c78102bca4606fc979cfe9c9d093364b06ccec8025a7a137ea238.

[2022-03-15 13:56] lukeheath opened #4593 "Remove Redux from FlashMessage component"
As a developer, I want to remove Redux from FlashMessage so that I can remove the Redux dependency from pages containing FlashMessage

[2022-03-15 13:59] #3492 closed

[2022-03-15 15:46] xpkoala opened #4598 "Horizontal scroll bar does not appear on query results but the spacing is present"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ main

**Operating system**: macOS 12.2.1

**Web browser**: Safari 15.3

<hr/>

### 🧑‍💻  Expected behavior
All rows would have a similar height across the results.

### 💥  Actual behavior
The last row shown during Query results is larger than other rows.

### More info
![Screen Shot 2022-03-15 at 10 41

[2022-03-15 16:10] timmy-k opened #4600 "Make Head of Growth Job Description"
Document full job description for head of growth to make sure CEO and head of growth have clear expectations for the role

[2022-03-15 16:32] timmy-k opened #4602 "Filter Fleet team actions on the website from Google Analytics with browser extensions"
## Goal

Ensure Google Analytics is reporting customer data rather than Fleet team's actions on the website by getting them to install and activate 1 of 3 browser extensions

## How

- [ ] Add installation and activation instructions to employee onboarding docs
- [ ] Ask existing team members to install and activate plugin in the general slack channel

[2022-03-15 16:36] noahtalerman commented on #3640
No. The fields you included in the above comment look good to me.

@mna let's use snake-case. This way, the column titles are displayed in the same format as the `GET /hosts` API response.

[2022-03-15 16:36] #4602 closed

[2022-03-15 16:41] noahtalerman commented on #3640
@mikermcneil FYI the first iteration of "Export hosts" button will not respect which columns are selected in the UI. Instead, all available information in the `GET /hosts` API response will be included.

Later, we can improve this experience so that "Export hosts" only shows the chosen columns in the UI.

[2022-03-15 16:51] RachelElysia commented on #4092
@noahtalerman @mike-j-thomas

Comments for clarification on here need addressing:
https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx?node-id=4803:178443#165292133

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx?node-id=4803:178443#165292536

[2022-03-15 16:52] lucasmrod commented on #3156
Hi folks!, here it is:
https://github.com/fleetdm/fleet/blob/d3019753c003604391056778ae94d7224cf17fe9/server/fleet/hosts.go#L182-L203

[2022-03-15 16:57] lucasmrod commented on #4430
Glad you managed to make the server work in the Raspberry Pi 4!

fleetctl package --type=pkg --fleet-url=https://raspberrypi.local:8080 --enroll-secret=Ps0***

Correct, we are tracking such effort in #1845.

[2022-03-15 16:58] noahtalerman commented on #4092
@RachelElysia ah, this is a Figma bug. On the **My device** page, the "Operating system" value should not be purple or clickable. Figma is now updated to reflect this.

The logo is not clickable.

Yes, if the Fleet admin has configured a different logo, the end user sees this configured logo on the **My device** page.

Rachel, thank you for the clarifying questions! I moved them into the comment s

[2022-03-15 17:24] mna commented on #3640
Updated output in snake_case:

[code]

[2022-03-15 18:00] RachelElysia commented on #4092
Grazie!

[2022-03-15 18:01] noahtalerman commented on #4507
Update following osquery office hours

Osquery official stance on FreeBSD — it is not supported
- Official support qualifications: when CI is taken into question and maintenance in future is addressed

Plan for osquery.io - remove all instances of FreeBSD mentions on website/docs

Follow up - was that originally from a customer?

[2022-03-15 18:22] GuillaumeRoss opened #4605 "Fix code scanning alert - Token-Permissions and Pinned dependencies on golangci-lint"
Golangci-lint could use more restrictive permissions, as well as being pinned to specific action versions.

Tracking issue for:
- [x] https://github.com/fleetdm/fleet/security/code-scanning/135
- [x] https://github.com/fleetdm/fleet/security/code-scanning/79
- [x] https://github.com/fleetdm/fleet/security/code-scanning/78

[2022-03-15 18:47] noahtalerman commented on #4507
@mike-j-thomas heads up, I'm adding this issue to the Growth backlog because I think this issue is well suited for a member of the devrel team at Fleet.

Can you please make sure this issue gets assigned to someone with devrel responsibilities? Thanks :)

[2022-03-15 18:56] #4605 closed

[2022-03-15 19:17] gillespi314 commented on #4527
I suppose we could write a custom sorting algorithm that filters out the unicode emojis if we really wanted to support this. But wanted to point out that the appearance of disorder is likely to increase depending on the emojis used on dogfood.

[2022-03-15 19:23] zwass commented on #4585
Related: https://github.com/fleetdm/fleet/issues/1418

[2022-03-15 19:24] mna commented on #3640
So to clarify what the endpoint returns, as requested in this comment: https://github.com/fleetdm/fleet/issues/3640#issuecomment-1032734009 , it supports a wide variety of filter/query parameters. If a `label_id` is provided, it uses the `svc.ListHostsInLabel` service method, which is what the `GET "/api/v1/fleet/labels/{id}/hosts"` endpoint would return. Otherwise it uses `svc.ListHosts`, which i

[2022-03-15 19:33] gillespi314 commented on #4598
@xpkoala, would you please check if the additional space you see corresponds to a horizontal scroll bar in your browser?

[2022-03-15 20:03] xpkoala commented on #4598
@gillespi314, nice catch! It does relate.. but the horizontal scroll bar is not present even when hovering over the area. :<

[2022-03-15 20:37] gillespi314 commented on #4598
@xpkoala hmm, I'm not able to reproduce in Chrome, Firefox or Safari

[2022-03-15 20:50] xpkoala commented on #4598
Well shucks. I can see the scroll bar on Firefox and Chrome but it still shows as invisible on Safari (15.3). Are there any avenues I can track down to try and provide more information? While invisible, I can drag and move the scroll bar to slide the area around. I'll include a video in just a moment.

[2022-03-15 21:00] mna commented on #2603
Just a heads-up that this might be a bit tight to fit in this release - I have only tomorrow (Wed) and next Monday before the freeze, and it's the first time we will use versioning/deprecation, it's quite likely that we will find a number of unexpected places to fail so it could take longer than expected and some failures may be tricky to fix.

Not to mention that that wouldn't leave much time for

[2022-03-15 21:30] lukeheath commented on #2936
@noahtalerman Sounds good! Per our conversation today, we're going to focus on Jira Cloud only for now. Because the data center trial license will expire after 30 days we are going to wait until there is bandwidth to activate it.

[2022-03-15 21:57] ksatter commented on #4591
@mike-j-thomas This is a little delayed due to Zapier having issues at the moment. I can give it another go tomorrow and if they aren't up and running we can fall back to doing things the old fashioned way with copy/paste.

[2022-03-15 22:17] gillespi314 commented on #4598
@lukeheath might have a better sense of what we can control when it comes to how different browsers render scroll bars

[2022-03-15 22:19] mikermcneil commented on #4600
:1: Let's review in 1:1

[2022-03-15 22:19] zwass commented on #4585
@edwardsb and I just discussed doing a first pass at this with the following assumptions:

1) Retrieve the host IP from the request IP (or X-forwarded-for).
2) Operator provides a path to the MaxMind DB via Fleet config.
3) Store the location info on the host row, updating when the host details are saved.

[2022-03-15 22:33] gillespi314 opened #4610 "Attempting to edit pending user invite yields HTTP 409 Conflict"
### 🧑‍💻  Expected behavior

Edit user name on a pending user invite via `PATCH /invites/:id` endpoint

### 💥  Actual behavior

HTTP 409 Conflict even though email address was not unchanged

### More info

<img width="638" alt="Screen Shot 2022-03-15 at 5 24 20 PM" src="https://user-images.githubusercontent.com/73313222/158483207-4633b1c0-e52a-49e8-9d7b-17524330c9f5.png">
<img width="638" alt="Scre

[2022-03-15 23:11] zwass commented on #4332
@tokcum this is a common point of confusion in osquery. I attempt to provide some context in https://www.youtube.com/watch?v=hcn3HIcHAAo&t=70s.

In most SQL systems, the "order" of the JOINed tables doesn't matter. In osquery, it happens to matter because of that "user context" that is provided to the generation function when users is queried "first".

[2022-03-15 23:11] #4332 closed

[2022-03-16 02:49] lukeheath commented on #4527
@gillespi314 Thanks for noticing that. Since emojis are getting so popular I think it's worthwhile fixing our sort to handle them. We'll need to update our sorting function to take them into account. But I will create a separate ticket to track that.

[2022-03-16 02:55] lukeheath opened #4615 "Add string utility function that handles emojis"
### Goal

As a User, I want to use emojis at the beginning of some strings like team names or host names, but still have a list of those strings be sorted alphabetically so that the emoji unicode does not impact the sort.

### 1

- [ ] Create utility function to sort list of strings that begin with emojis.
- Disregard emoji unicode.
- Sort alphabetically.
- Keep unicode in resulting list.
- Here i

[2022-03-16 02:56] lukeheath commented on #4527
@noahtalerman @gillespi314  I created #4615 to track improving list sorts that begin with emojis.

[2022-03-16 03:46] lukeheath commented on #4265
@gillespi314 It looks like the only field that can't be edited is email. Is that what you're referring to? I'm not sure why that's the case, but I assume there's an underlying reason. Good thing to bring up with @noahtalerman.

I see your point about the "password" field being perceived as required. I wonder how other apps handle this situation?

[2022-03-16 06:44] mike-j-thomas commented on #4092
Thanks Noah and Rachel.

[2022-03-16 14:43] gillespi314 commented on #4265
I went ahead and changed the placeholder to "••••••••" instead of "Password" in the PR. It's easy enough to revert that if folks prefer it the other way.

[2022-03-16 14:50] mna commented on #2603
We already have that endpoint, so I assume we want to change it to support global schedules in addition to what it was currently doing. It has all the same input parameters as the global endpoint, with the addition of `pack_id` - so my guess is that `pack_id` would become optional and the scheduled query would be processed as global if it is absent?

[2022-03-16 15:21] mna commented on #2603
This one also exists already, in addition to the existing `PATCH /api/v1/fleet/global/schedule/{id}` and `PATCH /api/v1/fleet/teams/{team_id}/schedule/{scheduled_query_id}`. I'm not sure I clearly understand the differences between the 3 (well, I understand between global and team, but the neither-global-nor-team confuses me). It seems the only difference is that the team calls `ds.EnsureTeamPack`

[2022-03-16 15:24] GuillaumeRoss opened #4620 "Pin dependencies on many github workflows"
### Goal
We currently have 77 issues of "unpinned dependency" on GitHub workflows.

<img width="472" alt="image" src="https://user-images.githubusercontent.com/73836008/158625586-20d3389f-1a76-453d-aa25-8055b91cd899.png">

I will not link every one of these to this issue - rather, this issue is to fix "a bunch" - then they should disappear from the Security tab. Once we have addressed the low hang

[2022-03-16 15:36] gillespi314 commented on #4615
We might want to consider adopting a regularly maintained library over rolling our own in the interest of keeping up with emojis added in future unicode versions. Here's one that I found that looked especially interesting:
https://www.npmjs.com/package/emoji-regex

Searching npm for "emoji" or "grapheme" yielded lots of other potential approaches.

[2022-03-16 15:52] noahtalerman commented on #4512
Currently, vuln processing in Fleet does not account for vulnerabilities (CVEs) that may be present in an older version of software.
- For example, Google Chrome, version 96.0.4664.110, is an old version of Chrome. We think Fleet does not detect CVEs for this version because NVD has not reported any vulns so the mapping fails. However, we can assume that this version is likely to be vulnerable bec

[2022-03-16 16:18] lukeheath commented on #3395
Closing in favor of #4419

[2022-03-16 16:47] lukeheath commented on #4615
😆

@gillespi314 Good idea! With 60M monthly downloads, `emoji-regex` looks like the way to go. I've updated the description.

[2022-03-16 16:53] lukeheath commented on #4098
@DominusKelvin That would be great! I'll let you know as this moves forward.

Right now, I'm waiting on the result of #4508. If the backend decides to implement OpenAPI docs. We can use that to generate the Postman collection. That way, our backend code, OpenAPI docs and Postman collection will all stay in sync.

[2022-03-16 17:27] RachelElysia opened #4625 "Tooltip Styling Bug"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Text fits in tooltip.

(Manage packs page)

### 💥  Actual behavior

<img width="1267" alt="Screen Shot 2022-03-16 at 1 25 58 PM" src="https://user-images.githubusercontent.com/71

[2022-03-16 17:31] mna commented on #2603
I'm curious as to why the description mentions:

but it does not mention replacing the existing `POST "/api/v1/fleet/teams/{team_id}/policies"` , unlike the GET policies/id route?

[2022-03-16 17:45] DominusKelvin commented on #4098
Awesome. I have been looking at OpenAPI for a while. This should be fun!

[2022-03-16 17:57] mna commented on #2603
@noahtalerman @lukeheath In light of the last few comments (and with a couple hours of bandwidth left this week), it's clear that it's not realistic to get this in for this release with sufficient time for the frontend work.

To summarize the main issues or blockers:

* Some policies endpoints already exist in all three forms - team, global and "neither-nor", and it's not clear what the unified ve

[2022-03-16 18:48] mna opened #4631 "Use Go1.18 Fuzzing integration to test for SQL injection"
With the release of Go 1.18 comes built-in support for fuzzing (https://go.dev/doc/fuzz/). A fuzz test looks a lot like a Go test, but what it does is that it generates various inputs from seed values and calls a function that accepts those inputs and tries to find ways to make it fail.

The suggestion from @zwinnerman-fleetdm is to use it to test for potential SQL injection vulnerabilities. The w

[2022-03-16 18:56] #4462 closed

[2022-03-16 19:04] er4z0r commented on #4149
So until the lenses are shipped with the installer, what could I do to still work with augeas?
Is it sufficient to deploy the lenses separately or do I have to fiddle with the config flags of the agent/osquery?

[2022-03-16 19:10] GuillaumeRoss commented on #4149
@er4z0r If you deployed the lenses in another way (package, or just manually copied them on a test machine)  and then configured this flag: `--augeas_lenses=/path/to/lenses`, I believe it should work.

[2022-03-16 19:42] #4620 closed

[2022-03-16 19:57] GuillaumeRoss commented on #4620
Done for all github actions - the remaining ones now are dockerfiles etc which I will tackle separately.

[2022-03-16 20:25] timmy-k opened #4640 "Mike on the Virtual CISO Podcast"
## How

- [x] Add this issue to the to the growth weekly kanban board
- [x] get a confirmed speaker- Mike
- [x] offer speaker a 30m prep call to go over topic/venue and prepare an agenda
- [x] get event scheduled on the speaker's calendar
- [x] inform other key event participants about who the speaker is
- [x] social media: share fyi about event on social media  (1+ days beforehand)
- [x] social m

[2022-03-16 20:27] timmy-k opened #4641 "Mike on the Sudo Show Podcast"
## How

- [ ] Add this issue to the growth weekly kanban board
- [ ] get a confirmed speaker- Mike
- [ ] offer speaker a 30m prep call to go over topic/venue and prepare an agenda
- [ ] get event scheduled on the speaker's calendar
- [ ] inform other key event participants about who the speaker is
- [ ] social media: share fyi about event on social media  (1+ days beforehand)
- [ ] social media: m

[2022-03-16 20:33] timmy-k opened #4642 "Zach on the SANS Institute 4/20 Webcast"
**Topic:** _SANS Protects: The Endpoint_— https://www.sans.org/webcasts/sans-protects-the-endpoint/

## How

- [x] Add this issue to the Growth Weekly kanban
- [x] get a confirmed speaker- Zach
- [x] offer speaker a 30m prep call to go over topic/venue and prepare an agenda
- [x] get event scheduled on the speaker's calendar
- [x] inform other key event participants about who the speaker is
- [x]

[2022-03-16 20:37] michalnicp opened #4643 "Rate limited when building static site"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Building static content successfully when running

[code]

### 💥  Actual behavior

Rate limited due to github API requests made during building

[code]

### More info

This makes

[2022-03-16 20:54] lukeheath commented on #4521
@chiiph

Yes, our expectation is that on any change we will send the entire config object to `PATCH /api/v1/fleet/config`. This object is already starting to get a bit unwieldy on the frontend. As we continue to add more integrations and features, at some point we'll need to start thinking about breaking up the /config endpoint into smaller more RESTful endpoints that are easier to work with (like

[2022-03-16 21:06] lukeheath commented on #2603
@mna Thanks for the heads up that this ticket won't make it in. That won't cause any issues since this is not a user-facing update. Better to take our time and make sure to catch everything!

It looks like some endpoints were missed in the specs, but basically what we want to remove anywhere `/global` is used. The resulting endpoint (without /global) will replace it. If we run into collisions let'

[2022-03-16 21:16] er4z0r commented on #4149
Indeed. I installed the augeas-lenses package on my Ubuntu server and set the augeas_lenses flag via the team options. Now it works. So I only need to make sure the package is deployed before the agent.

[2022-03-16 21:17] lukeheath commented on #2603
@mna Thank you for working through this ticket! I now realize it was not spec'd properly and should have received more scrutiny before being brought to engineering.

All existing endpoints that do not use `/global/` or `/team/` are old endpoints following an old pattern. From what I can tell that appears to be primarily packs but it may be elsewhere.

We want `POST /api/v1/fleet/schedule` to creat

[2022-03-16 21:19] lukeheath commented on #2603
@chiiph @noahtalerman Heads up, this ticket was brought of the sprint and is back in the "Product" board's architect column. @mna discovered that there are several blockers to completing this ticket that need to be addressed first. You can skip the long thread and go straight to the numbered list in my previous comment for the TLDR.

[2022-03-16 21:21] lukeheath commented on #4419
We are unable to complete this ticket right now because the backend portion #3395 had to be moved back to the product board for further architecting. Doing the same with this ticket for now.

[2022-03-16 21:21] lukeheath commented on #4419
@martavis Heads up ^

[2022-03-16 21:29] mna commented on #2603
@lukeheath  Just a quick clarification before signing off :) :

The API versioning mechanism _is_ implemented and documented, but has never been used until now.

That part we haven't discussed yet - how we will approach deprecated API docs.

I gave a quick look at your comments, I think you cover a lot of my questions, thanks for that! I'll take another look at this ticket during freeze and see ho

[2022-03-16 21:32] lukeheath commented on #2603
@mna Thanks for the info! Great to hear the versioning is implemented and ready to use. Looks like this will be our first use case.

[2022-03-16 22:35] lukeheath opened #4645 "Remove Redux from `FlashMessage` component"
As a Developer, I want to remove Redux from the `FlashMessage` component so that I can remove Redux as a dependency of pages that are using it

### Tasks

### 1
- [ ] Convert FlashMessage from Redux-based to Context-based

### 2
- [ ] Remove redux dependencies in app where no longer needed for `FlashMessage`.

[2022-03-17 02:18] mikermcneil opened #4648 "💬 #test-slack: [public] Testing updated integration"
## Goal
[code]

## How?
- [ ] TODO

[2022-03-17 02:22] mikermcneil commented on #4648
fyi @eashaw I updated the integration so Slack messages prefixed with `[public]` are created as public issues.  (To prevent any accidental sharing of confidential info)

Currently this is only set up for my Slack user, using the "Saved items" feature.  But we could add this to the zap powering the 💡  emoji response, which is available to everyone.  Up to you

Zapier's github integration doesn't le

[2022-03-17 02:22] #4648 closed

[2022-03-17 02:26] mikermcneil opened #4649 "💬 #oooh-automation: [public] Another example"
## Goal
[code]

## How?
- [ ] TODO

[2022-03-17 02:26] mikermcneil commented on #4649
Relates to https://github.com/fleetdm/fleet/issues/4648#issuecomment-1069891593

[2022-03-17 02:26] #4649 closed

[2022-03-17 02:31] mikermcneil opened #4650 "💬 #oooh-automation: A faster way to quickly stub bug reports"
## Goal

[public] We could also do the same thing as https://github.com/fleetdm/fleet/issues/4648#issuecomment-1069891593this> for bugs.  i.e. instead of :bulb: , use :bug: emoji response.  If you forgot to put `[public]` as a prefix in the message, bot replies asking you to edit and do that and try again, or retype and put your emoji response (a failsafe to prevent accidentally sharing confidenti

[2022-03-17 02:33] mikermcneil commented on #4650
link above got messed up, but it's supposed to be referencing https://github.com/fleetdm/fleet/issues/4648#issuecomment-1069891593

[2022-03-17 02:37] mikermcneil commented on #4533
@ksatter Not sure I know what "setting up a context" means here

[2022-03-17 05:17] edwardsb commented on #4585
I have a first draft that might be acceptable. Rather than storing the location data in the host table, we are only storing public IP. When we render the host(s) response we pass the last recorded public IP through the geoip service to determine location information.

Since this data can be derived, it saves us from having to make hosts table even wider, and until we have a need to search on locat

[2022-03-17 05:20] mikermcneil opened #4653 "2022-03 - 🖊️ zwass and mikermcneil offsite in Austin"
Private notes and remaining todos: https://docs.google.com/document/d/1UkfAqPxboyhVfKn5PwEck_JX7YL5_8o3vAJFtKur6Xc/edit

- [x] Meet
- [ ] Finish all the followups

[2022-03-17 05:27] mikermcneil opened #4654 "Trim margin from favicon on fleetdm.com and in core product"
## Goal
[code]

## How?
- [ ] TODO

[2022-03-17 13:41] lucasmrod commented on #4046
Hi @er4z0r, just one nitpick:

The policy spec API uses the team name, YAML key `team`, e.g.:
[code]
[code]

[2022-03-17 15:37] DominusKelvin commented on #4643
@eashaw adding you and I in here. Perhaps we can come up with a nicer development flow?

[2022-03-17 15:54] xpkoala commented on #4598
Apologies for the lateness. Here is the short video showing the behavior on Safari (broken) and Chrome (working)

https://www.loom.com/share/5cc7204863a34ade968cf7f28c3909e1

Safari : Version 15.3 (17612.4.9.1.8)
Chrome : Version 99.0.4844.74 (Official Build) (arm64)

[2022-03-17 16:03] er4z0r commented on #4046
Asha that explains a few things. Will verify on my install and correct

[2022-03-17 16:10] ksatter commented on #4533
Sorry, @mikermcneil. could have been a bit more descriptive there! I did add it to the doc, but I was referring to the ability to keep multiple profiles stored in fleetctl and switch which you were using by specifying the `--context` when running commands.

[2022-03-17 16:54] xpkoala opened #4659 "Update handbook to include rules on popup modals"
### Goal

TODO

- [ ] Include that the following type of modal is to be used on hover effects.
![Screen Shot 2022-03-17 at 11 52 40 AM](https://user-images.githubusercontent.com/11012743/158852764-93dc51f3-1187-4e25-b8bc-5a5096da6b3d.png)

- [ ] Include that the above modal should be used over browser specific modals.
![Screen Shot 2022-03-17 at 11 52 29 AM](https://user-images.githubusercontent.c

[2022-03-17 17:49] mikermcneil commented on #4533
Ah, ok- I might do it in a “note” kind of thing, focused first and foremost on _why_ someone would need the feature.  Eg

But see if adding that seems short enough, useful enough afterwards- up to you whether to include it.   Also, if you think there is complexity/issues with the feature itself, please file an idea issue about removing or improving it!

[2022-03-17 17:50] mikermcneil commented on #4533
@ksatter Ah, ok- I might do it in a “note” kind of thing, focused first and foremost on _why_ someone would need the feature.  Eg

But see if adding that seems short enough, useful enough afterwards- up to you whether to include it.   Also, if you think there is complexity/issues with the feature itself, please file an idea issue about removing or improving it!

[2022-03-17 18:13] lukeheath commented on #3543
Sarah: We still need label ids in order for the "View all hosts" link to load the manage hosts page with the correct label applied. Proposed changes to `host_summary` response:

[code]

Also add a "Linux" platform that combines debian and rhel along with the id for the "Linux" label.

[2022-03-17 18:23] noahtalerman commented on #4265
This is a great point. Thank you for calling this out.

@gillespi314 it looks like the wireframes include a "eye" icon to hide and reveal the user's existing password. However, the wireframes failed to clearly call this out in a dev note 😞

This is the intended behavior because it allows the Fleet admin to see and edit the existing user's password. This way, if the existing user can no longer logi

[2022-03-17 18:30] noahtalerman commented on #3409
@gillespi314 correct, they do the exact same thing.

@lukeheath Even though they're the same, for now, I'd prefer to keep both. This is because the "Advanced" tab currently includes two separate paths you can take to add your hosts to Fleet. The Fleet certificate is required item for both of these paths.
- Adding your hosts using the installer method requires a Fleet certificate when the Fleet ins

[2022-03-17 18:31] lucasmrod commented on #2572
@RachelElysia Shall I split this issue in four issues (basically the four checkboxes you defined).

[2022-03-17 18:36] lukeheath commented on #4113
Confirmed `GET /software` is not returning "Type" or "Bundle identifier".

[2022-03-17 18:38] lukeheath commented on #3052
@noahtalerman We noticed the "Software" table is not included in this list. Is that intentional, or was this Figma created before the Software page existed?

Also, ticket #4113 includes new columns for Software page, so we'd also need to know when those columns should display.

[2022-03-17 18:46] lukeheath commented on #3912
@noahtalerman Assigning this back to you for additional design assets. Unfortunately, the Hubspot screen will not be helpful since they use a different design language. Please provide a wireframe indicating how you would like these modals to appear in various states.

Also, our preference would be to apply these type of changes globally to ensure there is consistent behavior across all forms. If p

[2022-03-17 18:57] lukeheath commented on #4214
@lukeheath Still notes in figma that need to be added.

[2022-03-17 19:02] gillespi314 commented on #4265
@noahtalerman For security reasons, I don't believe there is a way for the admin to see the current user's password and they are stored in the db as a secure hash.

[2022-03-17 19:03] DominusKelvin opened #4663 "Update docs on deploying Fleet to Kubernetes"
### Goal

TODO

Update docs on deploying the deploying Kubernetes section of the docs.

### How?

- [ ] Overhaul the section entirely with step-by-step instructions for deploying on k8s.
- [ ]  Remove the sections about MySQL and Redis and just focus on deploying Fleet.
- [ ] Have a deploying with plain k8s section
- [ ] Have a deploying k8s with help section as well

[2022-03-17 19:21] noahtalerman commented on #4540
@zwass do you have any security concerns with this change for "API-only" users?

cc @ksatter

[2022-03-17 19:26] noahtalerman commented on #3052
@lukeheath yes, I think this was the case.

I brought this issue to the #g-product board for priority drafting so that I can add the Software page to the Figma page linked in this issue's description.

I'll @ mention you in this issue when Figma is updated :)

Thanks for pointing this out! I'll include this in the Figma page linked in this issue's description.

[2022-03-17 19:36] lukeheath commented on #4265
@noahtalerman

This is correct.

Not currently because the API does not provide us with the password. It seems like it may be a security issue for the API to provide plaintext passwords.

[2022-03-17 19:37] GuillaumeRoss opened #4664 "Document GitHub Security in Handbook"
## Goal

We have hardened our GitHub configuration and will continue to do so. Finish the configuration effort, then document it in the Handbook as we did for macOS as well as Google Workspace.

## How?

- [x] Pick settings to apply - start applying them
- [x] Write it in the handbook
- [x] Get edited by @Desmi-Dizney
- [x] Merge PR
- [x] Publicize!

[2022-03-17 19:37] lukeheath commented on #3409
Makes sense to me!

@gillespi314 Please proceed with two instances of the download certificate button.

[2022-03-17 21:02] xpkoala commented on #4093
@RachelElysia After some more discussion with Noah it was brought to my attention that we are going to hide the checkmark for Fleet Desktop until _all_ OS's have Fleet Desktop available.

Could you ping me once it has been hidden so I can verify? We can then make the components visible whenever Fleet Desktop is ready. Thanks!

[2022-03-17 21:32] noahtalerman commented on #4265
Aha, this makes a lot of sense 👍

Sarah, your "••••••" placeholder text is a great solution for indicating to the user that a password exists however, we're unable to show it.

I was about to propose updating the placeholder text to "Current password hidden". However, I'm unable to argue that this is an improvement over Sarah's solution.

[2022-03-17 22:29] michalnicp commented on #2825
What is the `id` supposed to mean in this context?

[2022-03-17 22:58] ksatter commented on #4591
@mike-j-thomas Zapier integration set up and shared. Think it's a good idea to test this out for a little bit and tweak as needed, then we can write it up for the Handbook.

[2022-03-17 22:58] #4591 closed

[2022-03-17 23:41] timmy-k opened #4667 "Make Central Document to Track Growth Inputs and Outputs"
## Goal

Make a single source of truth for growth campaigns. This document will be public-facing, and used for reference when we report to the company.

Tracks:
- Awareness metrics— press mentions, Google trends, social followers, traffic, etc
- Adoption metrics— downloads?, open jobs?, users, community memberships,  linkedin social selling index?, etc
- Lead metrics— total leads, active vs. inact

[2022-03-17 23:41] timmy-k commented on #4667
@DrewBakerfdm FYI. I think your ins and out sheets is a great start that we can build on!

[2022-03-18 03:19] mikermcneil opened #4670 "Ritual: GitHub contributor experience checkup"
1. Document the following in handbook
2. How often?  Decide, at least once per release (every 3w)
3. Schedule and make this happen forever, where each step happens as planned, every time:
- Any unrecognized new repos?  Ask CTO the purpose, then within 24h clean up, archive, and make private to reduce clutter.  If repo must stay unarchived, ensure issues and wiki are disabled.
- Any pull requests i

[2022-03-18 04:11] mikermcneil opened #4671 "Handbook: Rituals"
Add "Rituals" heading (similar to "Slack channels") in each dept's handbook page, and list out every ritual that that department is responsible for.

From the get-go, be clear with department heads that this will be up to them to keep accurate and up to date.

Help the dept heads gather all the information, schedule a call with each individually, take good notes, book an hour and spend it trying t

[2022-03-18 04:14] mikermcneil opened #4672 "Ritual: Salesforce contributor experience checkup"
Like https://github.com/fleetdm/fleet/issues/4670, but for salesforce

- [x] schedule 60m with CEO, customer success, and sales to define what this means in Salesforce.  Take good notes and also record the call, for your reference.
- [x] write up your notes in this issue as next steps
- [x] do them, same idea as fleetdm/fleet#4670

[2022-03-18 04:30] mikermcneil opened #4673 "Invest more in CEO shadowing"
Get developers into customer, prospect, & product meetings as shadows

TODO: how?

probably do a proper CEO shadow program, went really well with Kathy/Tim/Kelvin.

Shadow who?  100% of meetings on CEO, Tony Gauda, and Andrew Bare calendar (unless they say `[no shadows]`)

Maybe short though, 3-5 days.  (Fleet is small)

[2022-03-18 04:33] mikermcneil commented on #2095
superceded by @hollidayn's combo revops/legal/bizops/finance role!

[2022-03-18 04:33] #2095 closed

[2022-03-18 04:57] mikermcneil opened #4674 "Series: "Let's improve the docs""
10 Docs sessions w/  (recorded, public)

- 60m each
- attendees: mikermcneil, Kathy, Kelvin (+probably Drew)
- include CTO in the last 5 meetings
- end as early as possible
- Agenda for the first 5: "Let's read the docs and make notes"
- Kelvin brings the agenda for last 5: "Let's improve the docs"
- why not public on youtube? (Invite Drew to record, facilitate, and publish them)
- Use a single go

[2022-03-18 05:32] mikermcneil opened #4675 "Website: "Community" > "Chat""
Add "Chat" option to "Community" menu (href="/slack").  Make sure it works on wide screens and all the way down to 320px width

[2022-03-18 05:33] mikermcneil commented on #4675
@DominusKelvin Want to take this one too?

[2022-03-18 05:47] mikermcneil opened #4676 "Series: Lets improve the website"
- Almost exactly like https://github.com/fleetdm/fleet/issues/4674
- except this is about improving the actual website experience throughout the site
- and the attendees are mikermcneil and mike T
- only need two, 60m sessions.  How about 1 per week for 2 weeks?
- then the notes turn into small changes that we deliver quickly (if not during the sessions), then call this done.

[2022-03-18 06:24] mikermcneil opened #4677 "Ritual: Kanban contributor experience checkup"
TODO: merge with [other related issue](https://github.com/fleetdm/fleet/issues/4679) now that this can be done in a single board

- Like https://github.com/fleetdm/fleet/issues/4670, but for GitHub projects (kanban boards)
- [ ] cadence?  probably once per release, during freeze
- [ ] initially schedule 60m with CEO to ask questions and define exactly what this means in GitHub projects.  Take good

[2022-03-18 06:30] mikermcneil opened #4678 "Migrate relevant parts of growth backlog to the new GH 2.0 #g-digital-experience board"
Move the things that are digital experience things but that live in the "growth" plan board into new `#g-digital-experience` plan board, deduping along the way when possible.

- From: https://github.com/orgs/fleetdm/projects/21
- To: https://github.com/orgs/fleetdm/projects/37/views/4

How?
- Go to the growth planning board.
- Identify issues that belong in the digital experience board
- Open each

[2022-03-18 06:39] mikermcneil opened #4679 "Ritual: Backlog contributor experience checkup"
TODO: merge with [other related issue](https://github.com/fleetdm/fleet/issues/4677) now that this can be done in a single board

- Like https://github.com/fleetdm/fleet/issues/4677, but for backlog boards (aka plan boards aka roadmap boards), rather than for kanban boards (aka WIP boards)
- cadence: also per-release, also during freeze
- Things to check:
  - Ensure "TBD" column exists
  - Ensure

[2022-03-18 06:45] mikermcneil opened #4680 "Handbook: New page: "Growth""
Handbook: Add new page called "Growth", bring over relevant parts of "Community" page, then make Zach DRI of "Community" page, make Tim DRI of new "Growth" page.

[2022-03-18 06:46] mikermcneil commented on #4680
@ksatter Could you take care of this one sometime this week or early next?

DRI is determined by the `<meta>` tag at the bottom of the page

[2022-03-18 06:47] mikermcneil commented on #4674
@DominusKelvin Could you kick this off and get the sessions on the calendar starting next week?

[2022-03-18 06:50] mikermcneil commented on #4678
@ksatter Want to try your hand at this?  You'll probably want to talk with me quickly re: what kind of task belongs in Digital Experience vs. which belongs in Growth.

FYI when I say backlog here I mean aka roadmap board aka plan board

[2022-03-18 07:03] DominusKelvin commented on #4674
Sure @mikermcneil. I'll go with the cadence of every other Tuesday per week.

[2022-03-18 07:15] mikermcneil opened #4682 "Handbook: "Roadmap""
- Similar to https://github.com/fleetdm/fleet/issues/4671
- But for each dept handbook page, add a new section called "Roadmap", near "Slack channels" (same order in every handbook page for the sake of familiarity)
- The section has only one thing: a link to the appropriate kanban board for this group
- ask mikermcneil if unsure which to link to

## EDIT

Note that it might be possible to do it al

[2022-03-18 07:25] edthamm commented on #4469
I have the same issue. In version 4.11.0

[2022-03-18 08:10] mikermcneil commented on #4682
@timmy-k would you take a crack at this one?

[2022-03-18 08:11] mikermcneil commented on #4682
@CharlotteChance would you like to try this one out?  It'll involve editing a lot of pages.

Tip: To edit a page, visit fleetdm.com/handbook and click "edit" in the sidebar; request review from the person whose face is shown on the page

[2022-03-18 08:14] mikermcneil opened #4685 "Migrate digital experience roadmap to GH projects 2.0"
Recreate digital experience plan board as GH projects 2.0 thing.  Migrate existing issues somehow.  Use list view, group by category.
https://github.com/orgs/fleetdm/projects/22

[2022-03-18 08:15] mikermcneil commented on #4682
@CharlotteChance Actually, sorry - I take that back- let's start with a smaller change first.  (Also some of these boards are still in flux and it'll probably be kinda confusing)

[2022-03-18 08:17] DominusKelvin commented on #4674
Done @mikermcneil

[2022-03-18 09:08] mike-j-thomas commented on #4026
@noahtalerman Let's get together when you have time to chat about what's needed for this.

[2022-03-18 10:12] mikermcneil opened #4686 "Ritual: Recruiting progress checkup"
Ritual: Recruiting progress checkup

Nominate someone to play project manager for our hiring goals, who probably checks in regularly with CEO (for now) and the managers currently hiring to get an update on any new hires and facilitates getting everything set up, making sure it's happening.

[2022-03-18 10:13] mikermcneil opened #4687 "Onboarding: Values"
Onboarding: What each value means with memorable examples.

- 30m meeting w/ CEO
- Maybe call them principles
- Why values? Allows for moving more quickly, less micromanagement

[2022-03-18 10:17] mikermcneil opened #4688 "Figure out a way to get Fleet's planning boards public."
Figure out a way to get Fleet's planning boards public.

- [ ] devise plan, and write it out as google doc
- [ ] schedule 30m to coread plan with mikermcneil and eashaw, get feedback
- [ ] execute plan

[2022-03-18 10:20] mikermcneil opened #4689 "Salesforce: "Video call preference""
New Salesforce field on accounts: "Video call preference"

Picklist, either:
- "Zoom"
- "Google Meet"

Defaults to Zoom.

Add tooltip for field:

All existing accounts will be set to the default ("Zoom") automatically.

One special exception: Set "Google Meet" on customer-cabu

[2022-03-18 12:22] mikermcneil opened #4691 "Learn about how we do books and tax lawyers"
Nathan: Learn about the relationship and rituals with Formation Financial and tax lawyers so you can take over it from Eric relatively quickly, as things come up, using existing processes so the transition is seamless.

[2022-03-18 12:31] mikermcneil opened #4692 "Pay our vendors faster"
Batch up invoices to pay weekly for approval (for now approval by mikermcneil) - these come from bill.com

(i.e set up a recurring process and execute on it.  Document in "rituals")

Ask Jie at the first monthly Formation Fincancial meeting about this.

Goal: Pay our vendors as quickly as possible, so make sure we're aligned with Jie's weekly pay schedule to achieve our goal of **net 5 business da

[2022-03-18 12:35] lucasmrod commented on #4337
Some bad news:

Even with the `5m` timeout, I've hit the "i/o timeout error while registering extensions" in our CI/automation on Windows: https://github.com/fleetdm/fleet/actions/runs/1986053580/attempts/1

So, I think we should do both:
1. Implement Zach's proposal to retry extension registration instead of failing (this issue).
2. Create a separate issue to troubleshoot what's really going on.

[2022-03-18 12:49] mikermcneil opened #4693 "Make autoreview bot (fleet-release) do its magic for issue templates too"
For Eric: Turn on branch protections for confidential repo.  Set up auto-review bot for confidential repo and define who does what. (receive-from-github webhook action will need to be updated)

[2022-03-18 12:50] mikermcneil opened #4694 "Set up Tickler 2.0"
- Talk to CEO about what it means if unsure
- Goal: No annoying DMs to people with half-baked ideas
- Possibly a Slack channel
- Charlotte reviews with Mike twice daily. (that's what John Hamm suggested but it sure seems like a lot)
- _Maybe (slack is already pretty convenient)_ Set up phone button on mike's phone to support audio transcription again like the good ole days (same apple shortcut sho

[2022-03-18 12:56] mikermcneil opened #4695 "Apply new kanban/roadmap framework to rest of the company"
- Migrate remaining kanban (WIP) boards and plan boards to new GitHub projects by merging plan and WIP boards together, to work exactly like this one: https://github.com/orgs/fleetdm/projects/37/views/3
  - (It can always be tweaked later if changes are necessary for the workflow of the team.)
- Carefully make sure every board is set up the same way.  Please make emojis, capitalization, workflow s

[2022-03-18 13:02] mikermcneil commented on #4685
ok!  Done.

A special gift for you @mike-j-thomas !

Your new 2-in-1, combo WIP and plan board:
https://github.com/orgs/fleetdm/projects/37

<img width="1396" alt="image" src="https://user-images.githubusercontent.com/618009/159007291-68019ddb-53ab-48af-bc01-0390bba06180.png">

[2022-03-18 14:51] noahtalerman commented on #2825
The reasoning for including `id` was to prepare for, in a later iteration, adding the ability to filter a list of hosts by operating system version. To do this I imagine we would add an `os_version_id` parameter to the `GET /hosts` API route that behaves similarly to the current `software_id` parameter.

However, we don't plan to support filtering the list of hosts by os version in 4.12.0 (this it

[2022-03-18 14:51] noahtalerman commented on #2825
FYI @michalnicp ^

I forgot to @ mention you in the above comment :)

[2022-03-18 15:54] michalnicp commented on #2825
We don't currently store a table of `os_versions` in the db, so we don't have a stable id we can use here. Instead, I would propose using the `name` returned from `GET /os_versions` and passing it as `GET /hosts?os_version=<os version name>` to filter hosts.

[2022-03-18 15:56] michalnicp commented on #2825
Since we want to support filtering by `platform`, I would also propose that we return the platform in the response body for each os version. From a discoverability point of view, anything that you can filter by in query parameters should be returned somehow in the body imo.

[2022-03-18 15:58] RachelElysia commented on #2572
Up to you! It might be best to split into BE (update fleetctl commands), FE (update activity feed to include said activity), and product (update docs accordingly).

Also, I filed this in October so who knows if any of this has been done already? 😆

[2022-03-18 16:26] mike-j-thomas commented on #3931
fyi. @ashumz this issue is the bigger picture project for https://github.com/fleetdm/confidential/issues/908

[2022-03-18 17:22] noahtalerman commented on #2825
@michalnicp got it 👍  My current understanding is...to achieve this issue's goal, we don't need the `id`.

In addition, because we're not yet including the ability to filter hosts by operating system version, we don't need to include additional information like `platforms` for now.

I think this makes sense to me.

Michal, when you get the chance, can you please file something like a "Add ability

[2022-03-18 17:27] noahtalerman commented on #2825
@lukeheath as a representative of the frontend team, and API design DRI, can you please verify that my above understanding is correct? Thanks :)

[2022-03-18 18:09] GuillaumeRoss opened #4697 "Reduce permissions of github workflows"
### Goal

TODO
Github workflows can be compromised - for example if the dependencies used in it became malicious because they were compromised on their own side. If that happens, the data the workflow has access to could be leaked. Since our code is open-source, we are not really worried about that leaking -  however, the token used by the action might be leaked, and this token might grant more th

[2022-03-18 18:51] timmy-k commented on #4682
@mikermcneil seeing a toast message asking me to take a crack at something here but then I don't see any mention on the page. Did you delete your comment? Do you still need something from me here?

[2022-03-18 18:57] mikermcneil commented on #4682
@timmy-k sorry for the noise, I was going to give you or Charlotte a chance to do some markdown edits, but then I realized this one was still too in flux to be a good issue for either of y’all to tackle at this point.   Please disregard

[2022-03-18 19:54] RachelElysia commented on #2572
Like this went out in 4.11:
- Update the activity feed on the Home page to include add, edit, and delete policy activities.
Activity information is also available in the GET /activities API route.

[2022-03-18 19:58] lukeheath commented on #2572
@chiiph @lucasmrod I moved this to the Engineering board "Architect" column.

[2022-03-18 20:37] noahtalerman opened #4700 "Vuln processing: Account for scenario in which new versions of software is released"
I appears that sometimes software updates are released, that resolve vulnerabilities (CVEs) before these CVEs are published to the national vulnerability database.

Currently, vuln processing in Fleet does not account for this scenario.

For example, Google Chrome, version 96.0.4664.110 (old) does not report any CVEs and Chrome 98.0.4758.102 (new) has been released. We think Fleet does not detect

[2022-03-18 20:54] timmy-k commented on #4600
Completed with revisions with Mike, so closing

[2022-03-18 20:54] #4600 closed

[2022-03-18 21:04] noahtalerman commented on #4512
@rymurph20, this makes a lot of sense. It seems like the aggregate risk score is really good at bubbling up the "riskiest" software/hosts. This seems helpful for answering the "What action can I take to make the biggest impact at reducing risk now?"

However, as discussed by Mike and Jason above, the risk score on its own doesn't seem to help the questions of "Which software/hosts can we wait to u

[2022-03-18 21:07] noahtalerman commented on #4512
@cjwalton and @rymurph20 when you get the chance, please take a look at the following Figma wireframes to see how the "Urgency" categories and context could be presented in Fleet: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4764%3A179433

What are your thoughts on using the criteria defined in the above comment for "Urgency" and being presented additional context instead of an aggre

[2022-03-18 21:54] timmy-k commented on #4667
@mikermcneil realizing I never sent this to you

[2022-03-18 23:09] mikermcneil commented on #4667
@timmy-k Action needed from me?

[2022-03-18 23:09] timmy-k commented on #4667
@mikermcneil none, just wanted you to see for future discussions

[2022-03-19 01:43] mikermcneil opened #4701 "Handbook: reduce word count in PR instructions"
## Goal

Handbook: reduce word count in the community PR instructions without sacrificing meaning (to make them easier to read, and as simple as possible)

Link: https://fleetdm.com/handbook/community#community-contributions-pull-requests

[2022-03-19 01:46] mikermcneil commented on #4701
@timmy-k could you knock this out as soon as you’ve extrapolated the growth handbook content into its new “Growth” page?

[2022-03-21 06:39] mike-j-thomas opened #4704 "Write up Editor/copywriter job description"
## Goal
Write up a job description for the Editor/copywriter role at Fleet.

## How

- [x] Draft job description

- [x] Loop in Mike T for review

### Reference
See: https://docs.google.com/document/d/1wS5jFfrZtO4xMH-3U_S8pE59gNXOTR3rS1WWD8pkq9E/edit?disco=AAAAW_E4XoQ

<img width="483" alt="image" src="https://user-images.githubusercontent.com/78363703/159215419-7f52d1c8-a7fc-4540-a201-501b2b6346a

[2022-03-21 06:42] mike-j-thomas commented on #4704
@Desmi-Dizney You can probably pull some of the info from the Vision section of our 1:1 doc.

[2022-03-21 07:23] mike-j-thomas opened #4705 "Write up Operations job description"
## Goal
Write up a job description for the Operations role at Fleet. https://docs.google.com/document/d/1wS5jFfrZtO4xMH-3U_S8pE59gNXOTR3rS1WWD8pkq9E/edit?usp=sharing

## How

- [ ] **Job description**

- Responsibilities
- Monthly accounting ritual (expand, ask eric for help)
- Revenue ops
- Business intelligence
- Finance / accounting / accounts payable
- Misc operations and other tasks supportin

[2022-03-21 08:49] ezioruan opened #4706 "Increase the visibility of local development document"
### Improve the visibility of local development document

TODO
The testing document should be testing-and-local-development
The page https://fleetdm.com/docs/contributing/testing shows how to do testing and local development which is very great, but the hyperlink title only contains the word testing.  add local development  will let beginners easily find the document

### How?

- [change testing.m

[2022-03-21 09:14] interceptor-sys opened #4707 "Adding Debian to the OS list"
### Goal

Seeing how many Debian machines are enrolled and filter by OS=Debian. At the moment, we are able to filter by some major OS, but Debian is not included.
![Bildschirmfoto zu 2022-03-18 17-13-11](https://user-images.githubusercontent.com/78436244/159232117-30c0981d-e66f-43e9-9074-31f357d1f6ff.png)

[2022-03-21 09:44] mike-j-thomas commented on #4533
@ksatter I saw this in "Ready for QA". Is there an associated PR to look at?

[2022-03-21 09:46] mike-j-thomas commented on #3369
Ignore me, I can see it in the activity feed above https://github.com/fleetdm/fleet/pull/4621

[2022-03-21 09:48] mike-j-thomas commented on #4533
I see it now in the activity above, sorry. Relates to https://github.com/fleetdm/fleet/pull/4646

[2022-03-21 10:19] mike-j-thomas commented on #4583
Hey @ksatter, is the Zapier integration and spreadsheet up and running? Are you able to add the process to the handbook?

[2022-03-21 14:12] noahtalerman opened #4708 "Blog post: Fleet 4.12.0"
Fleet 4.12.0 is scheduled for release on 2022-03-24

### Goal

Prepare and publish the release blogpost for Fleet 4.12.0 so that anyone in the Fleet/osquery community can understand the latest improvements.

### How?

- Fleet Premium: Add ability to configure policy automations at the team level: #3269
  - This way, I can tell Fleet to create separate tickets for misconfigured servers and misconfi

[2022-03-21 14:14] noahtalerman commented on #4708
@mike-j-thomas heads up, I'm passing this "release blog post" issue to you and moving the issue into the growth board.

If needed, can you please pass this issue to the responsible individual on the growth team? Thanks :)

[2022-03-21 14:46] GuillaumeRoss opened #4709 "Ability to enforce SSO"
### Goal

Fleet currently allows configuring SAML, which then allows the creation of new users that will either have username and password or to log in via SSO. There is no way of *enforcing* SSO on an entire Fleet instance, or at least for a specific domain name.

This could create issues if people accidentally create an account with username and password, and can be an annoyance in general for e

[2022-03-21 15:57] #4291 closed

[2022-03-21 16:00] Desmi-Dizney commented on #4704
I've updated my section of the doc. Mike T. and I will be meeting tomorrow.

[2022-03-21 16:09] xpkoala opened #4711 "fleetctl preview no longer starting demo linux hosts"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`) 4.11.0 and main

**Operating system**: _(e.g. macOS 11.2.3)_ macOS 12.2.1

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
When running `fleetctl preview` I would be successful in starting up the demo linux hosts.

### 💥  Actual behavior
The docker image controlling the hos

[2022-03-21 16:24] lukeheath commented on #2603
@mna Great, thanks for adding the missing endpoint. Please use your best judgement for this ticket and we'll address the consistency issues in the next API version.

Agreed that `GET /api/v1/fleet/schedule/{id}` seems okay since it's for a specific record by id. We may want to do the same for other id-specific requests that can be used by both global and team users.

[2022-03-21 17:17] xpkoala commented on #3649
@lucasmrod This was just moved to the engineering backlog. Has this issue been addressed? If so can you close it out and if not could you give me a poke? Thanks!

[2022-03-21 17:18] lucasmrod commented on #3649
Not addressed yet.

[2022-03-21 17:21] lucasmrod commented on #3626
It does not :)

[2022-03-21 17:23] #3369 closed

[2022-03-21 17:24] mna commented on #2603
Yeah, for policies, we have both: `GET /api/_version_/fleet/teams/{team_id}/policies/{policy_id}` and `GET /api/_version_/fleet/policies/{policy_id}` but the team_id is required for authorization, otherwise we'd have to load the policy first by id (without team info) and do another authz after to make sure the user can access that team.

In any case, I'll leave that out for now and stick to the sc

[2022-03-21 18:00] sharvilshah commented on #4472
Yes, this is fairly common pattern in osquery. From a quick grep these tables will have platform specific columns:

[code]

It might be easier to look at `.table` spec files here https://github.com/osquery/osquery/tree/master/specs

[2022-03-21 19:00] xpkoala commented on #4448
I was able to reproduce this with slightly different numbers, but the software count is showing a higher number than the total number of hosts.

API's hit in the following order:

[code]

[2022-03-21 19:31] GuillaumeRoss opened #4717 "Extra info such as CVSS in Vulnerability Automations"
Vulnerability automation payloads contain very little information about a vulnerability at the moment.

### Goal

When creating automations, I would like to be able to have different workflows based on other criteria, such as the CVSS score.

For example, I might create a workflow that would send a CVSS 9+ to PagerDuty, a 7+ to Slack, a 4+ to email and 0-3.9 nowhere. Without this info available it

[2022-03-21 19:56] mna commented on #4448
Looking at the implementation of those endpoints, there are many SQL manipulations that support a lot of filtering options, but in the end the big difference I can see is that `hosts/count` is _live_ while `/software` is _delayed_, i.e. `hosts/count` directly joins with the `host_software` table to count the number of matching hosts when a `software_id` argument is provided, while `/software` join

[2022-03-21 20:16] mikermcneil opened #4721 "Sentence case on login page"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ dogfood as of 2022-03-21 @ 15:15 CT

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
Expected to see "Forgot password?" and "Sign on with Google".

### 💥  Actual behavior
<img width="553" alt="image" src="https://user-images.git

[2022-03-21 21:03] xpkoala commented on #4448
@mna I just reran the above commands and the counts returned as:
- /hosts/count 16
- /software 17    <-- this was pulled from the software with id2972
- /hosts/count?software_id2972 16

[2022-03-21 21:14] mna commented on #4448
Thanks! Yeah, the problem I see is that it looks like this is a changing environment - there were 14 hosts when the ticket was opened, looks like it's now at 16 and was at 17 at some point, I guess some could have come and gone in-between, it's very possible that this is just due to the live vs delayed nature of both counts. In any case, I'll try to see tomorrow if there's a way to get the DB from

[2022-03-21 23:21] gillespi314 opened #4725 "Implement new package for scheduling cron tasks/async jobs"
This ticket tracks progress toward longer-term goals to abstract away the repeated patterns we use for crons/async tasks. Initially, we want a unified way to support cron task such as cleanups, webhooks, and vulnerabilities

Context:
- Lots of work in Fleet happens in “jobs” that run on intervals
- Two audiences: Dev experience (dev) and operator experience (ops)
- Where are they configured? What

[2022-03-22 14:00] lucasmrod commented on #4711
@xpkoala could you try `fleetctl preview` with the linked PR?
[code]

[2022-03-22 14:17] gillespi314 commented on #3555
Another related issue to be considered: https://github.com/fleetdm/fleet/issues/4472#issuecomment-1074227272

[2022-03-22 17:35] xpkoala opened #4733 "Fleet Desktop initialization can take undetermined amount of time to complete"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`) `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS 12.2.1

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
Fleet Desktop would complete the initialization process quickly.

### 💥  Actual behavior
The time for the initialization process to complete seems variable and

[2022-03-22 17:52] mna commented on #2603
The PR for the backend is under review here: https://github.com/fleetdm/fleet/pull/4731

Note that there are 2 endpoints that are not versioned at the moment (and thus must still be accessed via `/v1/` and not `/latest/`):

* `/api/v1/fleet/results/*` (the websocket endpoint to get results from live queries)
* `/api/v1/setup` (the initial Fleet setup)

This is documented in the ticket #4514 .

**N

[2022-03-22 17:55] michalnicp commented on #2825
Should there be a default sort order for the results, perhaps by name?

[2022-03-22 18:38] mna commented on #4448
I haven't been able to get access to that environment's database yet, but in all likelihood, it will confirm that one returns the expected results from the pre-computed (and thus, delayed) counts, and the other returns the expected results from the live counts. By design, that's a possible outcome from querying those 2 endpoints, so I think at that point it becomes a product decision. For me, thos

[2022-03-22 18:44] michalnicp opened #4734 "UpdatedAt isn't updated if the value doesn't change for aggregated_stats"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

`counts_updated_at` field returned in the response from `GET /api/v1/fleet/macadmins` should be up to date ie when the cron job for updating the data in the `aggregated_stats` ta

[2022-03-22 18:49] noahtalerman commented on #3052
@lukeheath the **Software** page with the new "Type" column is now included in the Figma page included in this issue's description.

Linking to the Software page in Figma here: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=5430%3A256484

[2022-03-22 18:52] xpkoala commented on #4711
@lucasmrod Works! But I did test this by running `fleetctl preview --tag 4711-fleetctl-preview-osquery-socket` which I believe is the same as your instructions?

[2022-03-22 18:53] lucasmrod commented on #4711
Mhm... no, because we need to test the fleetctl changes, `--tag` is the fleet server version.

[2022-03-22 18:55] xpkoala commented on #4711
Thanks, retesting with your original instructions.

[2022-03-22 18:59] xpkoala commented on #4711
[code]
Looks good!

[2022-03-22 19:04] xpkoala opened #4735 "Hover state out of place when using Safari"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`) `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS 12.2.1

**Web browser**: _(e.g. Chrome 88.0.4324)_ Safari 15.3

<hr/>

### 🧑‍💻  Expected behavior
The underscored area for hover state is out of place on Safari. This is in the appropriate place on Chrome.

### More info
![Screen Shot 2022-03-22

[2022-03-22 19:30] lucasmrod opened #4736 "`Datastore.DeleteHosts` not deleting all host associated tables"
`Datastore.DeleteHost` removes all the hosts associated tables whereas `Datastore.DeleteHosts` does not.
The UI uses DeleteHosts when selecting multiple hosts for deletion.

- DeleteHosts: https://github.com/fleetdm/fleet/blob/main/server/datastore/mysql/hosts.go#L1020-L1057.
- DeleteHost: https://github.com/fleetdm/fleet/blob/main/server/datastore/mysql/hosts.go#L312-L355.

IMO we should just hav

[2022-03-22 19:30] RachelElysia opened #4737 "Frontend: Refactor HostDetailsPage and DeviceUsersPage into components"
### Goal
- Create reusable components across the HostDetailsPage and DeviceUsersPage
- Move modals into their own files
- Reduce reused code including CSS between both pages

TODO

### How?

- Refactor any "Cards" into a card directory
- Refactor any modals into a modal directory
- Refactor any renders into the proper card/modal file
- Pass props and correct types to each card
- Refactor reused CS

[2022-03-22 20:06] xpkoala opened #4739 "4.12.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-03-22 20:10] mikermcneil opened #4740 "Make existing Medium blog posts show up in docs search on website"
Tony Gauda:calendar: Mar 11th at 16:17
Is there any way to get our blog posts added to the search results in our documentation? Some of the posts have great howto information that I'm sure people are searching for in our documentation but coming up empty.
:eyes:
1

10 replies

Tim Kern  11 days ago
I do not know the answer to this question right now, but this is bad and something we should find on

[2022-03-22 20:22] RachelElysia commented on #4092
It's cool, I can do this now.

[2022-03-22 20:41] xpkoala commented on #4459
@RachelElysia is this issue you mentioned spun out into a new ticket? I just tried reproducing and didn't have any luck.

[2022-03-22 21:00] lucasmrod commented on #3152
Community discussion: https://osquery.slack.com/archives/C01DXJL16D8/p1647772823147719

[2022-03-22 21:08] lukeheath opened #4746 "Update `GET /hosts` response to include `device_mapping` data"
## Goal

As a user, I want to see google chrome profiles in the hosts table so that I don't have to click on each host individually to access the data

## Related

- Frontend (blocked): #3320

## Tasks

### 1
- [ ] Update `GET /hosts` response to include `device_mapping` data in each array item.
- Object structure should match what is currently provided by `GET hosts/48/device_mapping`.

#### Exam

[2022-03-22 22:21] #4678 closed

[2022-03-22 22:23] zwass opened #4750 "Strange rendering of "Used by" tooltip on "Device details" page"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS 12.3

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome & Firefox

<hr/>

### 💥  Actual behavior

Strange rendering of users box on device page (extra gray box)
<img width="478" alt="Screen Shot 2022-03-22 at 3 22 54 PM" src="https://user-images.githubusercontent.com/575602/159586174-eed952ac-5e5a-46eb-b414-566b17257561.p

[2022-03-23 03:25] ducna96 opened #4753 "allow the UI hostname to be changable from hostname to computer_name or local_hostname"
Dear Team,
I installed fleetdm and has 1k5 agent, and i have a proplem with hostname of agent
![image](https://user-images.githubusercontent.com/35019158/159617411-a22e786b-1306-40e2-932d-24b381b9a0f9.png)
I don't know why hostname value is different from computer_name  value =>> i have abount 400 agent display hostname is localhost
check in agent: type hostnamectl output >> correct hostname.
plea

[2022-03-23 03:42] ducna96 opened #4754 "Osquery get wrong primary_ip to docker interface ip"
Hi Team, Iam using osquery on fleet, but i see osquery sometime get wrong primary_ip, it not get ens33,bond0,ens160... so osquery get docker interface. how to config for osquery get right primary_ip? Thanks
![image](https://user-images.githubusercontent.com/35019158/159619514-14a5797c-db98-4fa9-a011-33d3a225dab3.png)
VM I already have docker installed and running application on it. Most of severs

[2022-03-23 05:42] xpkoala opened #4756 "Percentage of hosts reporting multiplied by number of responses"
**Fleet version**: `main`

**Operating system**: macOS 12.2.1

**Web browser**: safari 15.2

<hr/>

### 🧑‍💻  Expected behavior
When running a query, the % of hosts reporting would be accurate.

### 💥  Actual behavior
It appears that every response from a query counts incrementally for the host reporting in.

### Reproduce
- Run the following query on a single (or multiple) hosts.
- `SELECT * FROM

[2022-03-23 08:39] mike-j-thomas commented on #4708
@noahtalerman please can you check 4.12.0 release post for accuracy https://blog.fleetdm.com/fleet-4-12-0-5629208c2811

@Desmi-Dizney ready for language edit. Thanks.

[2022-03-23 08:41] mike-j-thomas commented on #4708
@noahtalerman, @Desmi-Dizney, I'm going to be out of the office from now, so please give any feedback to @ksatter to action 🙌🏻

[2022-03-23 08:51] mike-j-thomas commented on #4708
@ksatter, once you have the all-clear, please pass this issue on to @DrewBakerfdm to publish and share on socials.

[2022-03-23 10:27] mike-j-thomas commented on #4574
@noahtalerman, a couple of options here to review https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=5236%3A251691

[2022-03-23 11:24] mike-j-thomas opened #4758 "Add tags to query library"
Remove all queries that exist only for SEO or demo purposes from the standard query library, so that it only consists of policies that organizations actually want.

**Security:** Tags assigned to all built-in policies in library ("built-in")
**Digital Experience:** fleetdm.com/queries - Only show queries with "built-in" tag by default.  Figure out a way to allow for seeing all queries on fleetdm.c

[2022-03-23 11:27] gavinelder opened #4759 "S3 / Minio Logging Destination."
### Goal

Support S3/Minio logging as a direct destination for fleet.

### Background & value prop

Fleet currently supports file carving to S3 & Minio but not  osquery result / status logs,  currently `kinesis` & `firehose` as logging plugins however these have a trivial size limit and some payloads fail due to size as such a `lambda` logger was added.

The `lambda` logger added in https://github

[2022-03-23 11:31] mike-j-thomas commented on #1486
Hi @eashaw, Please can you remind me why we aren't seeing the tags rendered on https://fleetdm.com/queries. I could be going mad, but I'm sure we implemented them from https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=1082%3A3907

[2022-03-23 11:32] mike-j-thomas commented on #4758
Possibly a duplicate of https://github.com/fleetdm/fleet/issues/1486 (what do you think, @eashaw ?)

[2022-03-23 12:52] xpkoala opened #4760 "Revisit and improve flow and information when unable to sign into fleet"
### Goal

Some UX notes as I tried to troubleshoot:
- “Authentication required” but no info about what I should do (invalid credentials banner?)
- Ability to view password to see if I entered it wrong would be great.
- Sign in with Google - I tried this but nothing happened. I expected some feedback, even if it was to tell me that I couldn’t get in.
- Spacing issues between buttons.

### Pictures

[2022-03-23 12:56] er4z0r commented on #4046
Okay I have verified that importing via fleetctl using the `team` key works. I've updated my original comment. @lucasmrod is there a way to transform a json export from the API in to the YAML format accepted by `fleetctl`?

Background: I'm considering maintaining a regular snapshot of my policies as code so I have some change tracking and can integrate it into my ansible playbook.

[2022-03-23 13:20] RachelElysia commented on #4459
@xpkoala Both issues are fixed with the merge of #4592

[2022-03-23 13:25] mike-j-thomas opened #4761 "Migrate all Digital Experience (+DevRel) tasks from Growth Plan to new boards"
Move all DevRel tasks from [Growth plan](https://github.com/orgs/fleetdm/projects/21) board into new [g-community](https://github.com/orgs/fleetdm/projects/36/views/1) plan board, deduping along the way when possible.

## How

- Go to the growth planning board.
- Identify issues from the following columns of the Growth plan board
    - 🧸 Tutorials, docs
    - 🤝 Community engagement
    - 🧱 Contrib

[2022-03-23 13:36] mna commented on #4406
Would probably make sense as part of this issue to try to remove the need for the response structs to implement the `errorer` interface, so that we can just return the error as second value from the endpoint handler, as this is more intuitive and less boilerplate. Need to make sure both ways to return errors behave exactly the same (rendering, logging, status code, etc.) (this counter-intuitive ap

[2022-03-23 13:56] GuillaumeRoss opened #4762 "Add tfsec in pipeline for terraform code"
### Goal

TODO
We have SAST coverage for Fleet itself (CodeQL + gosec), but we have recently started producing terraform content and do not have such a tool in place.

### How?

- [ ] Create a github action for tfsec (https://aquasecurity.github.io/tfsec/v0.63.1/getting-started/configuration/github-actions/github-action/)
- [ ] Ensure results are going to the GitHub Security tab
- [ ] Create first

[2022-03-23 14:10] GuillaumeRoss commented on #4198
Dependabot config was added - for GitHub actions only. For now we do not need to do much more as all security related updates auto generate a PR even without this config.

[2022-03-23 14:10] #4198 closed

[2022-03-23 15:18] eashaw commented on #4758
@mike-j-thomas This is a separate issue. https://github.com/fleetdm/fleet/issues/1486 was about adding tags to the query spec

[2022-03-23 15:25] RachelElysia commented on #4756
Reproduced this bug. Need a total host responded key:
<img width="1192" alt="Screen Shot 2022-03-23 at 11 20 40 AM" src="https://user-images.githubusercontent.com/71795832/159734995-07459aa7-f59b-4bcd-8222-2d6485edb8c5.png">

[2022-03-23 17:07] zwass opened #4767 "Refetch on "my device" page doesn't work when unauthenticated"
**Fleet version**: `main`

**Operating system**: macOS (probably any)

**Web browser**: Firefox (probably any)

<hr/>

### 🧑‍💻  Expected behavior

Refetch works for both authenticated and unauthenticated users.

### 💥  Actual behavior

Refetch only works for authenticated users.

See https://www.loom.com/share/2b886d42d60d438687c5370c3a4fc41c.

### More info

Did we implement a refetch API that wo

[2022-03-23 17:08] RachelElysia commented on #4543
#4766 addresses the exact same bug but on the live policy results instead of live query results

[2022-03-23 17:49] MScottBlake opened #4769 "Cannot use orbit interactively"
**Fleet version**: 4.11.0

**Orbit Version**: 0.0.6

**Operating system**: macOS 12.2.1

**Web browser**: Chrome 99.0.4844.83

<hr/>

### 🧑‍💻  Expected behavior
I should receive an interactive prompt to run queries directly by executing `sudo orbit osqueryi` or `sudo orbit shell`.

### 💥  Actual behavior
[code]

### More info
The error seems to indicate that it is trying to load an extension that

[2022-03-23 18:16] mna commented on #4448
Ok, I have access to the dogfood db and I'm running some queries , here's what's going on:

[code]

There are 4 host IDs in `host_software` that refer to hosts that don't exist anymore:

[code]

In the specific case of software_id 3060, by joining on hosts we can see that only 12 *existing* hosts actually have that software installed:

[code]

The reason the `/software` endpoint shows the computed

[2022-03-23 18:25] noahtalerman opened #4771 "Policies page: Incorrect "Checks on" when specific platforms were not specified"
**Fleet version**: Latest code on `main`

<hr/>

### 🧑‍💻  Expected behavior
I run `fleetctl preview --tag main`.

Then, I select one of the "Anti virus health (Linux)" policy that was automatically added to my preview environment.

I expect to see only the "Linux" checkbox checked in the "Checks on" picker:
![Screen Shot 2022-03-23 at 2 19 06 PM](https://user-images.githubusercontent.com/47070608/

[2022-03-23 19:43] GuillaumeRoss opened #4774 "Drop invalid headers in load balancer terraform"
### Goal

TODO
Dropping invalid headers can help harden the web application behind the LB.

### How?

- [ ] Enable this feature in [the ecs.tf file](https://github.com/fleetdm/fleet/blob/main/tools/terraform/ecs.tf) for aws_alb.main

[2022-03-23 19:44] GuillaumeRoss commented on #4774
I made a quick pr @edwardsb - could you test that it works as intended and merge + close this if yes?

[2022-03-23 20:29] Desmi-Dizney commented on #4708
@noahtalerman, there are only two punctuation issues. I don't have access to edit your posts on Medium. Would you be able to make these two quick [edits](https://docs.google.com/document/d/1Ses8Zz-CCi2qXWfGlqB-tGfxclmJVnl7tCXuimqCVxs/edit#heading=h.z6hujqml3m2k)?

[2022-03-23 20:35] RachelElysia commented on #4753
Hi Anh @ducna96,

Talking to the team, what you're seeing is expected and how osquery outputs these values.

`hostname` column is the FQDN (fully qualified domain name, the API used for `getaddrinfo()`, most cases it will be configured as localhost and `computer_name` is what `hostnamectl` and `gethostname()` API uses.

Hope that helps!

[2022-03-23 20:42] mna commented on #4448
PR #4778  fixes this part:

What remains is if we want to do something "UX-wise" about the normal behaviour of those endpoints, i.e. this part:

So I'll leave the ticket "in-progress" for that last part, feel free to move to "in review" if you feel there is nothing more to do regarding this.

[2022-03-23 20:50] Desmi-Dizney commented on #4372
Suggested "sightseeing" or diagrams as per conversation with Mike McNeil:
-GitHub
-Slack
-Google tools

Please let me know if I can be of any further assistance with this.

[2022-03-23 20:56] noahtalerman commented on #4708
@Desmi-Dizney thanks for looping me in! As a heads up, I won't be able to make these edits tonight. However, I'll start my day tomorrow with this.

@ksatter, after I make Desmi's edits tomorrow morning EST, I'll read through the blog post and @ mention you again in this issue :)

[2022-03-23 21:24] gavinelder commented on #4759
After some consideration although this destination would be ideal it can be accomplished quite easily using the default filesystem logger and a fluentbit sidecar.

Closing this issue.

[2022-03-23 21:24] #4759 closed

[2022-03-23 21:32] lukeheath commented on #3245
We also noted that changing `POST /targets` will be a breaking change, and will also break packs. For that reason, we likely need two NEW endpoints instead of modifying `POST /targets`.

[2022-03-23 21:51] lukeheath opened #4780 "Filter out items with empty emails from `GET /device_mapping` endpoint"
As a frontend developer, I want results with an empty email address to be filtered from the response so that I don't have to filter the response after I receive it.

## Notes

Some hosts are returning results like:

[code]

Which results in two users being listed, one with an empty email address. We are filtering the results on the frontend, but it would be great to have these filtered out on the

[2022-03-23 21:55] lukeheath commented on #4750
Temporary frontend fix implemented until this can be addressed on the backend via #4780

[2022-03-23 21:58] lukeheath opened #4782 "Consolidate screen components on query and policy pages"

[2022-03-24 03:16] mikermcneil commented on #3609
This is a good thing to include @hollidayn in

[2022-03-24 03:16] mikermcneil commented on #3609
@eashaw This is a good thing to include @hollidayn in

[2022-03-24 03:24] ducna96 commented on #4753
Thank for respone,
How to change on UI hostname to correctly?
![image](https://user-images.githubusercontent.com/35019158/159835231-9952f85b-9dbb-43f0-9a52-e8a0268473a3.png)
hostname need correctly to easy to monitor,  hostname : localhost seems very inconvenient for me

[2022-03-24 04:24] mikermcneil commented on #4640
@DrewBakerfdm @timmy-k this happened already yall

[2022-03-24 05:10] mikermcneil opened #4786 "Migrate everything in [legacy growth WIP board](https://github.com/orgs/fleetdm/projects/10) into this board, then close the old board"

[2022-03-24 05:15] mikermcneil opened #4787 "Migrate all growth backlog tasks from Growth Plan to new g-growth board"
This is like https://github.com/fleetdm/fleet/issues/4786, but it's about:
- [ ] moving growth tasks (not the other ones!  See note below, and see also the categories in the [new #g-growth board](https://github.com/orgs/fleetdm/projects/38/views/2), to orient yourself) from the [legacy growth plan board](https://github.com/orgs/fleetdm/projects/10) over to the new #g-growth board
- [ ] then, when

[2022-03-24 05:32] mikermcneil opened #4788 "Migrate+ close legacy customer eng. boards"
- Old:
  - legacy customer engineering WIP board: https://github.com/orgs/fleetdm/projects/14
  - legacy customer engineering plan board: https://github.com/orgs/fleetdm/projects/23
- New:
  - the new #g-customer-engineering board: https://github.com/orgs/fleetdm/projects/39
- How? See https://github.com/fleetdm/fleet/issues/4786 for a similar example and pattern-match; or ask @mikermcneil, @ksatt

[2022-03-24 06:10] mikermcneil commented on #4674
These were scheduled at a time when others couldn't make it.  Can you reschedule?

[2022-03-24 13:14] timmy-k commented on #4640
@mikermcneil seeing that in the email now, that’s my fault. I need to work to understand scheduling around these a little better, and their dashboard will help that.

@DrewBakerfdm this was published on 3/22, do we want to share this on socials like the last task on this list?

[2022-03-24 13:18] lucasmrod commented on #4733
I've confirmed this happens due to osquery sending a `distributed/read` request too fast (right after the enroll request). It's not enough time for orbit to register the extension.

osquery logs:
[code]
See the first `distributed/read` happening within ~1s of enroll and the registering of the orbit extension happening after it.

Possible workarounds:
1. Have Fleet delay detail queries between ~30s

[2022-03-24 14:25] noahtalerman commented on #4708
I added several requested changes as comments in the Google doc you linked to above: https://docs.google.com/document/d/1Ses8Zz-CCi2qXWfGlqB-tGfxclmJVnl7tCXuimqCVxs/edit#heading=h.z6hujqml3m2k

@Desmi-Dizney can you please update the Medium article to reflect these requested changes? Thanks :)

[2022-03-24 14:43] Desmi-Dizney commented on #4708
I was able to make the edits in Medium article. @noahtalerman, let me know if I need to publish it or you.

[2022-03-24 15:19] noahtalerman commented on #4708
Awesome. Thank you :)

@Desmi-Dizney the release is scheduled for today (3/24), afternoon EST. Once the release goes out, please go ahead and publish the article.

I'll @ mention you in this issue when the release goes out :)

[2022-03-24 15:19] michalnicp opened #4792 "Download vulnerability database fails if destination dir is not in tmp"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

[code]

**Operating system**: _(e.g. macOS 11.2.3)_

[code]

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

When using `fleectl vulnerability-data-stream -dir <dest dir>`, any destination dir that is writable and has space should work.

### 💥  Actual behavior

[code]

#

[2022-03-24 15:28] noahtalerman opened #4793 ""Issues" count not updating for some hosts"
**Fleet version**: 4.11.0

<hr/>

### 🧑‍💻  Expected behavior

I expected the `issues` count to accurately reflect the number of failing policies:
![Screen Shot 2022-03-24 at 11 26 45 AM](https://user-images.githubusercontent.com/47070608/159951422-671cc0f7-f53d-4505-b334-519cf364b774.png)

### 💥  Actual behavior

The `issues` count does not reflect the number of failing policies for some hosts:
![

[2022-03-24 16:28] noahtalerman commented on #3849
@lucasmrod, I need some help testing this issue because I'm unable to.

During your testing, have you successfully added a host to Fleet using the Orbit/Fleet-osquery that includes osquery with the `.app` bundle?

If so, can you please move this issue into the "Ready for release column on the Engineering board?

[2022-03-24 16:30] noahtalerman commented on #4736
@lucasmrod, I need some help testing this issue because I'm unable to.

Once you've confirmed the changes, or if you already have, can you please move this issue into the "Ready for release" column on the release board?

[2022-03-24 16:40] lukeheath commented on #4132
@noahtalerman FYI while spec'ing this ticket I noticed that the software page does not indicate when software inventory is disabled. I've spec'd the ticket so that the same message is displayed on the software page as the homepage card.

![image](https://user-images.githubusercontent.com/2495927/159966544-8540a24f-65cc-4421-8b75-d61e31fbf932.png)

[2022-03-24 16:54] lucasmrod commented on #3849
The way to test this should be:
[code]

Yes.

Will do.

[2022-03-24 17:04] lucasmrod commented on #4736
Done.

Verified running the following steps:
1. Run fleet server locally `git pull origin main && make fleet ./build/fleet serve --dev --logging_debug 2>&1`
2. Delete two hosts hosts from the hosts page (by selecting them and clicking on "Delete").
3. Connect to the local mysql instance.
4. Check that entries for `host_device_auth` & `host_software` tables were deleted for the deleted hosts, and n

[2022-03-24 17:34] mikermcneil commented on #4641
@timmy-k I'll forward you what I have

[2022-03-24 17:35] timmy-k commented on #4641
@mikermcneil thanks. I want to make sure we’re able to give you the full process for preparation and have everything properly schedule out on the promotion side so everything goes smoothly, and we can always take our steps as needed

[2022-03-24 17:35] mikermcneil commented on #4641
@timmy-k scratch that, you already have the email thread where Sheryll discussed scheduling it.

I don't think it actually happened  - I don't see it on my calendar.

[2022-03-24 17:39] lukeheath commented on #3269
@noahtalerman Heads up that this feature will not be included in 4.12.0.

[2022-03-24 17:57] GuillaumeRoss opened #4796 "Improve security of Terraform templates"
### Goal

We now have draft terraform templates for building Fleet infra. Let's secure them some more!

### How?

- [x] @GuillaumeRoss to do a review and send suggestions to @edwardsb
- [x] Simple fixes will be applied by @GuillaumeRoss in a PR linked to this task, to be tested by @edwardsb

[2022-03-24 18:34] lukeheath commented on #4593
Closing in favor of #4645

[2022-03-24 18:34] #4593 closed

[2022-03-24 19:14] zwass commented on #4492
@zwinnerman-fleetdm is this related to the new recommendations you made for Redis? Or are these separate limits that we need to account for?

[2022-03-24 19:15] #2422 closed

[2022-03-24 19:16] zwinnerman-fleetdm commented on #4492
Yes, Based on my math its overall better to just disable the limit since either way we would need to store the data in redis, storing it in a pubsub buffer is just less overhead and error prone in that case.

[2022-03-24 19:19] timmy-k commented on #4546
Apparently this overlaps with some work that Guillaume is doing to get everyone's laptop enrolled in Dogfood, so he was going to reach out to make that happen. This would also block Google Analytics.

He mentioned he had some other tasks to complete before this today, so set a reminder to follow up with him next week. Also going to talk to @DrewBakerfdm about setting up other aspects of GA trackin

[2022-03-24 19:20] zwass commented on #4733
Is hitting the "refetch" button in Fleet a workaround for now?

I wonder if we could have an alternative which would be to use `--extensions_require` in osquery?

[2022-03-24 19:20] noahtalerman opened #4799 "On "Policies," "Queries," and "Schedule" pages table header has incorrect spacing"
**Fleet version**: Latest code on `main`

<hr/>

### 🧑‍💻  Expected behavior

The the entire table header is covered when selecting one or more checkboxes in the "Policies," "Queries," and "Schedule" tables:

![Screen Shot 2022-03-24 at 3 20 20 PM](https://user-images.githubusercontent.com/47070608/159994004-ab5b0736-f4a6-4e5c-9734-92d8c788c2e5.png)

### 💥  Actual behavior

The spacing is too sprea

[2022-03-24 19:23] zwass commented on #4492
@mna When you're back around on Monday, can you please confirm that Zach's fix documented in https://github.com/fleetdm/fleet/pull/4765/files#diff-1caee2da43f3c66c527fabccf57e894c36d56f095b9bc965f7310e827d280025R79 is sufficient here? If so, please close out the issue.

[2022-03-24 19:43] mikermcneil opened #4800 "/manage/hosts: See ChromeOS devices"
### Goal

As a user, I want to view my chromeOS devices amongst the other devices in my fleet.

### How?

- [ ]

[2022-03-24 19:44] timmy-k commented on #4641
@mikermcneil looks like Sheryll is the bottleneck on this happening, but it something that will help us grow!

I'll set a reminder to follow up for the dashboard and to make sure she schedules this on Monday

[2022-03-24 20:07] timmy-k commented on #4701
@mikermcneil absolutely, on this. Targeting today to get it done, but if the scope is bigger than I expected tomorrow

[2022-03-24 20:51] timmy-k commented on #4667
Per meeting with Drew right now, I'll add a tab for all the regular growth rituals we conduct

[2022-03-24 20:53] timmy-k commented on #4640
Drew is going to share this on socials tonight at a time when Sprout Social recommends for our audience.

Once they've shared blog posts with us by email we'll share those as well

[2022-03-24 21:39] DrewBakerfdm commented on #3645
Will revaluate YouTube content at a later date. Closing this issue for now.

[2022-03-24 21:39] #3645 closed

[2022-03-24 21:43] DrewBakerfdm commented on #2533
This has been completed a while ago:
https://www.youtube.com/watch?v=xadEtH-LuV4&t=14s