[2022-03-24 21:43] #2533 closed

[2022-03-24 23:34] eashaw commented on #3609
@mikermcneil will do! The recurring event is scheduled for every three months, on the 2nd Tuesday.

[2022-03-24 23:34] #3609 closed

[2022-03-25 00:08] zwass opened #4804 "Incorrect vulnerability mapping for Ruby"
**Fleet version**: 4.11.0

**Operating system**: Host is macOS

<hr/>

### 💥  Actual behavior

https://dogfood.fleetdm.com/hosts/manage/?order_key=hostname&order_direction=asc&team_id=2&software_id=21269

<img width="1421" alt="Screen Shot 2022-03-24 at 5 06 24 PM" src="https://user-images.githubusercontent.com/575602/160029456-e0fd38ad-cdc4-498b-af0f-7df564d0cce7.png">

The linked CVE (https://nv

[2022-03-25 13:23] noahtalerman commented on #4708
@Desmi-Dizney @ksatter the Fleet 4.12.0 release is out 🎉

I just checked the following blogpost for accuracy and it looks good to go! https://blog.fleetdm.com/fleet-4-12-0-5629208c2811

[2022-03-25 13:26] jaison080 commented on #4675
Can you assign me this issue.

[2022-03-25 13:56] GuillaumeRoss opened #4805 "Hide enroll secret by default"
### Goal

TODO
In Hosts/Manage Enroll Secret, the secret is hidden by default. The same is true in organization settings, but in Hosts/Add Hosts, the command line with the secret is shown instantly.

This can be dangerous when doing live sharing, training sessions, and also means we need to be careful about blurring things out when recording, because even on an unimportant Fleet instance used for

[2022-03-25 14:04] lucasmrod commented on #4521
What is the difference between `Description` parts (2) and (4)?

part 2:
`See all hosts affected by this vulnerability (CVE) in Fleet: <Link to Hosts page in Fleet with software filter applied>`
vs. part 4:
`View all affected hosts at <Link to manage hosts page with CVE filter applied>`

(Both show affected hosts.)

[2022-03-25 14:11] noahtalerman commented on #3300
@lukeheath heads up, I'm passing this issue's assignment back to you.

I would like to get this improvement in the next release (4.13.0). Please let me know what I can do to help prepare this issue, and the backend issue, so that it can be brought into the release.

I think the suggestion solution of the API revealing revealing the number of hosts that are expected to respond and the number of hos

[2022-03-25 14:12] 2manyvcos opened #4806 "fleetctl: "Resource Already Exists" error on concurrent live queries"
When issuing multiple queries in a short time after each other using fleetctl, an error "Resource Already Exists" occurs.
This is because the current time in seconds is used to generate the ID.

https://github.com/fleetdm/fleet/blob/290b5d90e52a2cda51c28ce49be2adbf4e786abf/server/service/campaigns.go#L70

We tried to get around this by using `--query-name` instead to avoid creating a new distribut

[2022-03-25 14:36] lucasmrod commented on #4521
I'm not following this part in the description:

[2022-03-25 14:42] noahtalerman opened #4807 "Add ability to generate a Windows Fleet-osquery installer that includes Fleet Desktop"
This issue's goal is part of the Fleet Desktop Epic: https://github.com/fleetdm/fleet/issues/3922

### Goal

Add ability to generate a Windows Fleet-osquery installer that includes Fleet Desktop, so that an end user, whose Windows device is enrolled in Fleet, can access a "My device" page in the Fleet UI.

[2022-03-25 14:50] noahtalerman commented on #4807
@lukeheath heads up, I'm passing this issue's assignment to you and moving it into the "Architect" column.

A goal for Fleet 4.13 is to introduce Beta support for Fleet Desktop on Windows.

[2022-03-25 17:23] noahtalerman opened #4809 "Automatically add a way to detect the latest threats"
### Goal

As a security analyst, I want Fleet to automatically add a way to detect the latest threats (newly publicized indicators of compromise) so that I can spend time responding to threats instead of writing the detections (osquery queries).

### How?

- Proposed solution:
  - Fleet Premium feature: The Fleet team automatically adds and maintains policies that detect the latest threads or indi

[2022-03-25 17:25] noahtalerman commented on #4809
FYI @mikermcneil and @alphabrevity this is the issue that was recently discussed with a prospective customer.

[2022-03-25 17:27] mikermcneil commented on #4809
@noahtalerman thanks!  Added a couple of bullets to clarify this is 0% false positives, guaranteed, and that it’s only the 0-1 most important IOCs per month.

[2022-03-25 17:33] DrewBakerfdm commented on #4640
This was shared on socials. Ready to close.

[2022-03-25 17:33] #4640 closed

[2022-03-25 18:01] michalnicp opened #4811 "Adopt semver for NVD releases"
### Goal

Switch to semver versioning for [fleetdm/nvd releases](https://github.com/fleetdm/nvd/releases).

The cpe sqlite database that is downloaded from the latest nvd release by fleetdm/fleet no longer contains only data from the nvd cpe dictionary. It doesn't makes sense to associate releases with the Etag returned from nvd anymore as a result. Also, GitHub sorts releases according to the rul

[2022-03-25 18:33] lucasmrod commented on #3643
Is this a must? (We could keep it to not break the API?)

[2022-03-25 18:33] GuillaumeRoss commented on #4664
It's in the handbook, been tweeted and linkededdedined out!

[2022-03-25 18:33] #4664 closed

[2022-03-25 18:34] GuillaumeRoss commented on #4697
First batch of changes went through, will look at the remaining ones next week - many of them might be needed permissions. We closed 16, and have 10 left.

[2022-03-25 18:36] DrewBakerfdm commented on #4708
I'm going to go ahead and publish this blog post / share on socials / and close this issue

[2022-03-25 18:36] #4708 closed

[2022-03-25 18:57] eashaw opened #4813 "Fleet handbook editor pass"
### Goal

Make sure Fleet's handbook is easy to read, can be understood by anyone who reads it, and that the information is accurate.

### How?

For each of the following handbook pages, read through the entire page, section-by-section, and make sure that all the information is concise.

Check for list styling etc.

- [x] Company https://github.com/fleetdm/fleet/pull/5063
- [x] People https://gith

[2022-03-25 19:08] lucasmrod commented on #4733
Yes.

PS: A workaround when running Fleet locally is to reduce detail interval.

[2022-03-25 19:23] Desmi-Dizney commented on #4708
Deleted "Policy automations for teams,"
Capitalized "Platform"

[2022-03-25 19:44] noahtalerman commented on #3912
@xpkoala can you please update this issue's description so that it only includes the goal and a link to the Figma wireframes?

After the above is done, please add back the ":architect" label and assign Luke Heath.

[2022-03-25 20:32] ksatter opened #4816 "API returns inaccurate version of Ubuntu"
**Fleet version**: 4.12

**Web browser**: Chrome Version 99.0.4844.83

<hr/>

### 🧑‍💻  Expected behavior
When fetching hosts from the API using `/api/v1/fleet/hosts/<id>` or '/api/v1/fleet/hosts`, I expect the `os_version` field for hosts running Ubuntu to reflect the currently installed version of the operating system including the change version:

Ubuntu YY.MM.C (currently Ubuntu 20.04.4)

### 💥

[2022-03-25 20:53] #4585 closed

[2022-03-25 20:54] edwardsb commented on #4725
This seems like it could be related to https://github.com/fleetdm/fleet/issues/3723

[2022-03-25 21:11] lukeheath commented on #3052
Issue description has been updated and this is ready for dev.

[2022-03-25 21:23] lukeheath opened #4817 "Refactor all forms to remove the old Form.jsx HOC pattern"

[2022-03-25 21:31] #4817 closed

[2022-03-25 21:40] lukeheath opened #4819 "Migrate authentication from Redux to Context"
## Goal

As a developer, I want to remove redux from our authentication process and replace it with context so that our application can remove redux as a dependency

[2022-03-25 22:04] lukeheath commented on #3300
@noahtalerman This issue is currently blocked awaiting backend specs. I will put it on the agenda for our Monday morning call.

[2022-03-25 22:14] mikermcneil commented on #4704
@Desmi-Dizney Anything else needed here?  If not, and you've checked that it's all the way done, would you close the issue?

[2022-03-25 22:16] Desmi-Dizney commented on #4704
It's complete.
- Closing

[2022-03-25 22:16] #4704 closed

[2022-03-25 22:31] eashaw opened #4820 "30m Meeting with Mike McNeil and Mike T to finalize blog designs on fleetdm.com"

[2022-03-25 22:46] mikermcneil opened #4821 "Add concisely to handbook and link from new team member onboarding: "Why this way?""
## How?
- [ ] Add concisely to handbook (“company” page- maybe under “culture”?  Up to you)
- [ ] link to it from new team member onboarding
- [ ] Schedule time with the people who haven't done the latest onboarding  and share these ideas with them, going through it all in the handbook with them  (we can split that up amongst the digital experience team)
  - the people from this doc: https://docs.

[2022-03-26 06:57] mikermcneil commented on #4821
@Desmi-Dizney expanded and softened some points, added clarification

[2022-03-28 08:40] tokcum commented on #4261
Hi,

I'm experiencing the same issue. I'm actually rolling out Fleet to a Windows environment for testing. All Windows endpoints integrated well with Fleet except the Domain Controllers (DCs). On DCs osquery is killed by watch dog due to CPU utilization. This is triggered by the software inventory query which includes enumerations for browser extensions. As @zwass said, this involves JOIN with use

[2022-03-28 10:11] tokcum commented on #4261
I've just updated to 4.12 and this is not yet fixed. So, looking forward to 4.13. :)

[2022-03-28 10:12] tokcum commented on #4261
Any thoughts on one of the other workarounds:

1. Disable software inventory for DCs only via Fleet configuration.
2. Disable the software inventory query for DCs.

Any help appreciated. Thank you.

[2022-03-28 12:49] #4492 closed

[2022-03-28 12:54] mna commented on #4448
Given that the PR has been merged and released, I updated the status to reflect this, we can open a distinct ticket if we want to address the potential confusion of the counts.

[2022-03-28 12:56] mna commented on #3505
Closing this as I don't think there's much we can do about it.

[2022-03-28 12:56] #3505 closed

[2022-03-28 13:52] DominusKelvin commented on #4675
On it @mikermcneil

[2022-03-28 15:16] DominusKelvin commented on #4675
@mikermcneil let me know if it's okay to close this issue.

[2022-03-28 17:09] RachelElysia opened #4837 "Tech debt: Create client-side filtering for searching multiple columns"
### Goal

Related to #4214

TODO

- Create client-side filtering for a search bar that allows for filtering on multiple columns
- Update table container and data table components as needed
- Document multiple column client side filtering for future FE use

### How?

More info:
@gillespi314 and I paired up on this for an hour, to no avail of a viable solution. @gillespi314 is going to take this tic

[2022-03-28 17:13] xpkoala commented on #1418
Completed in 4.12.

[2022-03-28 17:13] #1418 closed

[2022-03-28 17:14] #2623 closed

[2022-03-28 17:17] xpkoala opened #4838 "Add osquery config to host details page"
### Goal

Add osquery config to host details page

[2022-03-28 17:22] xpkoala commented on #3420
Double check to see if this is included in 4.12. You might need help from @lucasmrod or @sharvilshah

[2022-03-28 17:28] xpkoala commented on #4046
@er4z0r @macEar @lucasmrod This ticket is being tracked in #2572. @noahtalerman

[2022-03-28 17:31] #4739 closed

[2022-03-28 17:31] #4476 closed

[2022-03-28 17:32] #4771 closed

[2022-03-28 17:32] #4736 closed

[2022-03-28 17:33] #4750 closed

[2022-03-28 17:33] #4735 closed

[2022-03-28 17:33] #4767 closed

[2022-03-28 17:33] #3729 closed

[2022-03-28 17:35] #4756 closed

[2022-03-28 17:35] #4092 closed

[2022-03-28 17:36] #3603 closed

[2022-03-28 17:36] #4164 closed

[2022-03-28 17:36] #3409 closed

[2022-03-28 17:36] #3730 closed

[2022-03-28 17:37] #4526 closed

[2022-03-28 17:37] #4711 closed

[2022-03-28 17:37] #4416 closed

[2022-03-28 17:37] #4721 closed

[2022-03-28 17:37] #3849 closed

[2022-03-28 17:37] #3914 closed

[2022-03-28 17:38] #4265 closed

[2022-03-28 17:38] #2716 closed

[2022-03-28 17:38] #4448 closed

[2022-03-28 17:38] #4093 closed

[2022-03-28 17:39] #3059 closed

[2022-03-28 17:39] #3267 closed

[2022-03-28 17:39] #4543 closed

[2022-03-28 17:39] #4610 closed

[2022-03-28 17:40] #3911 closed

[2022-03-28 17:40] #4088 closed

[2022-03-28 17:40] #4429 closed

[2022-03-28 17:41] #4562 closed

[2022-03-28 17:41] #4527 closed

[2022-03-28 17:41] #2075 closed

[2022-03-28 17:41] #4499 closed

[2022-03-28 17:41] #1463 closed

[2022-03-28 17:41] #4459 closed

[2022-03-28 17:42] #3928 closed

[2022-03-28 17:42] #2825 closed

[2022-03-28 17:42] #4581 closed

[2022-03-28 17:42] #4536 closed

[2022-03-28 17:43] #4625 closed

[2022-03-28 17:43] #4421 closed

[2022-03-28 17:43] #3209 closed

[2022-03-28 17:43] #3640 closed

[2022-03-28 17:49] noahtalerman commented on #4046
Currently, `fleetctl` does not have a JSON -> YAML conversion tool for policies.

For now, as a workaround, you can apply a JSON file via `fleetctl apply -f policies.json`. This is because JSON files are valid YAML.

When doing this, Fleet should ignore the extra fields (those not required when applying a `policy` yaml document) returned by the `GET /policies` API route.

This sounds similar to a

[2022-03-28 17:51] noahtalerman commented on #4046
@er4z0r as Reed indicated above the addition of the `fleetctl get policies` command is being tracked in the following separate issue: #2575.

Because it's tracked elsewhere, I'm closing this issue. Please feel free to continue the above discussion in #2575 :)

[2022-03-28 17:51] #4046 closed

[2022-03-28 17:55] lukeheath commented on #4521
@chiiph Please add a point estimate to this ticket, as well as any tickets you spin out from this one. Thanks!

[2022-03-28 17:57] gstorme opened #4842 "make host public IP value searchable"
### Goal

Public IP address was added in 4.12 via [this issue](https://github.com/fleetdm/fleet/issues/1418) and is now visible on the host details page.
Could the public IP value become searchable in the hosts overview page?
When searching for an IP now, only the results matching with the "Internal IP address" are displayed.

[2022-03-28 18:31] lukeheath commented on #4598
@xpkoala @gillespi314 I believe this is a feature of Safari vs. a bug. They fade out all scrollbars unless they are active. When I scroll horizontally on the table, the scrollbar appears and it scrolls properly. The exact same behavior occurs on the page scrollbar. It disappears when not in use and appears when scrolling. Because this is standard Safari behavior across all pages, I believe Safari

[2022-03-28 18:34] timmy-k commented on #4701
@mikermcneil apologies for promising an incorrect timeline for this, I thought it was part of the growth handbook project.

This issue is ready for QA after my edits PR- **https://github.com/fleetdm/fleet/pull/4844**

[2022-03-28 18:46] lukeheath commented on #4514
@mna Thanks for spec'ing this out! Assigning over to @chiiph for review and to move along through estimation.

[2022-03-28 18:49] lukeheath commented on #4737
@RachelElysia Looks like this is complete. Is it okay for me to close it out?

[2022-03-28 18:52] lukeheath commented on #4411
@noahtalerman has requested this feature be included in 4.13.0. @chiiph is that feasible? Should we schedule a dedicated call to discuss this feature with Noah and @zwass?

[2022-03-28 18:52] lucasmrod commented on #3420
On 4.12, we released Orbit with osquery bundled as an .app for macOS. This allows for the feature requested here, but as shown by @sharvilshah blog post it requires some steps to configure properly.

This issue could be turned into a "Document and test steps required to enable `es_process_events` table for MDM-enrolled macOS hosts".

/cc @GuillaumeRoss

[2022-03-28 18:55] lukeheath commented on #4807
@noahtalerman Thank you for updating the related epic.

I'm assigning this over to @chiiph for architecting and to determine if this can be included in 4.13.0.

[2022-03-28 19:01] RachelElysia commented on #2936
@gillespi314 Yeah, let's aim for tomorrow morning?

[2022-03-28 19:20] GuillaumeRoss commented on #2161
This is done! Will merge ignore rules separately. Thanks!

[2022-03-28 19:20] #2161 closed

[2022-03-28 19:20] zwass commented on #4754
@michalnicp Here's where this is implemented: https://github.com/fleetdm/fleet/blob/e1f84436ab103f91ea0afc6301c900a288815580/server/service/osquery_utils/queries.go#L66-L107

[2022-03-28 19:21] lukeheath commented on #4419
@martavis Okay, trying this one again :) Martin has a PR in for this. There are two endpoints that have not been moved to the new format that will need special consideration. Check the "Related" section above for details. Just let me know if you have any questions on this implementation.

[2022-03-28 19:25] GuillaumeRoss commented on #4762
This is done, waiting until we see results in github security before closing.

[2022-03-28 19:58] RachelElysia commented on #2936
@noahtalerman no rush but for Part 2, are there any backend validators I should build out inline errors for (e.g. the backend will through an error on duplicates for certain keys)?

[2022-03-28 20:06] chiiph opened #4846 "Expose config API for JIRA integration"
Parent Epic for more context: #4523

Add support for a new `integrations` object in the AppConfig JSON.

Use the following structure:

[code]

[2022-03-28 20:14] chiiph opened #4847 "Insert tasks to complete in the pending tasks database"
Parent Epic for context: #4523

When a new vulnerability is found, if the JIRA integration is enabled, insert a new pending task in a new table (see Architectural notes in the parent Epic) for the cron to pick up.

Note that we'll integrate with other tools such as ZenDesk, so we might want to make this table slightly generic if possible, but we shouldn't go too much out of our way either. We can

[2022-03-28 20:14] zwinnerman-fleetdm commented on #4753
Check their `/etc/hosts` file. OSQuery determines the hostname field based off of that file. Move the hostname associated with the host to the front for the line corresponding to 127.0.0.1. For instance:

Incorrect:
[code]

Correct:
[code]

[2022-03-28 20:19] chiiph opened #4848 "Implement integrations cron for JIRA"
Parent Epic for context: #4523

Implement a cron that reads from the pending tasks table to create JIRA tickets based on the data in there.

The result of the operation should be reflected in the pending tasks table. If the creation of the ticket failed, the amount of tries should be increased and the error stored so that it's picked up in the next iteration. If the operation succeeded, it should

[2022-03-28 20:20] zwass commented on #4411
Call sgtm so that we can decide what this will entail.

[2022-03-28 20:23] chiiph opened #4849 "Implement JIRA API integration"
Parent Epic for context: #4523

This ticket involves implementing the interface mentioned here https://github.com/fleetdm/fleet/issues/4848 to communicate with JIRA. It could simply be use something like https://github.com/andygrunwald/go-jira and implement the interface.

[2022-03-28 20:26] lukeheath commented on #3245
Marking this blocked pending our meeting with @chiiph on Thursday.

[2022-03-28 20:27] noahtalerman commented on #4411
Luke, thanks for the update!

@zwass, @chiiph, and @lukeheath I just scheduled a call for tomorrow (3/28) @3:30p EST. Goal is the above.

[2022-03-28 20:43] lukeheath commented on #4579
Response from Atlassian:

We are happy to grant you the requested Open Source Cloud subscription. Your Atlassian Cloud Instance [fleetdm.atlassian.net](http://fleetdm.atlassian.net/) has been converted to Open Source.

You may [request additional Open Source Licenses](http://www.atlassian.com/software/views/opensource-community-additional-license-offer.jsp) for our available products in the future

[2022-03-28 20:51] lukeheath commented on #4579
Per the message above, we have been granted a free Open Source License. Thanks, Atlassian!

The license is managed at https://my.atlassian.com/product under my Atlassian account.

We currently have Jira Software Standard enabled. If additional products or features are necessary to build our integrations, we can upgrade our Atlassian suite as necessary.

[2022-03-28 20:51] #4579 closed

[2022-03-28 20:58] lukeheath commented on #4521
@lucasmrod

That was a mistake. Thanks for catching! I've updated the description and removed #4.

My thought was that our API doesn't respond to the frontend's request until it has completed the Jira operation. That way it can return an informative status code vs. a blanket 200 for all requests. Since we're not logging errors anywhere, I thought that would help us inform users of an error. Howeve

[2022-03-28 20:58] lukeheath commented on #4521
...and fail silently.

[2022-03-28 21:01] DrewBakerfdm commented on #4667
https://docs.google.com/spreadsheets/d/1IzpoIfTc7cqc9g8w20fQfap3GFcrqgOaiPrpCkowcvA/edit?usp=sharing

[2022-03-28 21:29] gillespi314 commented on #4725
@edwardsb Yes, I believe this is meant to be the first step in that direction. And please let me know if you have any thoughts on the working draft of PR #4732 :)

[2022-03-28 21:30] gillespi314 commented on #4725
@zwass @chiiph wanted to be sure you are looped in to this thread

[2022-03-28 21:40] RachelElysia commented on #4537
#4699 merged significant improvements to tabbing accessibility of Chrome.

Safari and Firefox are a whole new beast. Only 1 or 2 of the improvements translated to Firefox/Safari (which main really lacks accessibility through keyboard controls on Firefox/Safari to begin with).

[2022-03-28 22:00] lukeheath opened #4850 "`GET /os_versions?platform=darwin` returns 500 if no results found"
### 🧑‍💻  Expected behavior

Returns 200 with an empty array.

### 💥  Actual behavior

Returns 500 with the following body:

[code]

[2022-03-28 22:01] #4653 closed

[2022-03-28 22:58] lucasmrod commented on #4521
Indeed. Won't be possible easily, as the actual JIRA communication will happen asynchronously as part of a cron job.

[2022-03-29 01:08] mikermcneil opened #4852 "Typing in email-ish search into target picker causes 422 error response"
- Fleet version: v4.12.0  (as tested by dogfood as of 2022-03-28 @ 20:09 CT)

## Goal

Bug: Typing in email-ish search into target picker causes 422 error response

## Expected to see
Target picker to display the empty state when typing in email-ish search.

https://www.figma.com/file/qpdty1e2n22uZntKUZKEJl/✅-Fleet-EE-(current)?node-id=4034%3A80278

## Actual
Instead got a 422 response:
<img width

[2022-03-29 02:12] xpkoala opened #4855 "Orbit QA and release path"
### Goal

The goal of this ticket is to start the iterative process of setting standards for the QA and release of [Orbit](https://github.com/fleetdm/fleet/tree/main/orbit).

### How?

The initial outline for release and qa of the product will be located [here](https://docs.google.com/document/d/1VOrKt5-qYbMZolg4GF9h8z-fn-aEAlG4Na5LAUvOfyc/edit).

All stake holders will need to sign off on this th

[2022-03-29 02:26] xpkoala commented on #3420
Thank you for the helpful information @lucasmrod!

[2022-03-29 08:25] ducna96 commented on #4753
i see change value hostname to computer_name in code to fast resolve proplem :D :D what do you think ?

[2022-03-29 12:37] chiiph commented on #4514
Let's discuss in the backend weekly.

[2022-03-29 13:48] noahtalerman commented on #2936
@RachelElysia I'm not sure I understand this question.

My understanding is that Fleet will allow the user to create 2 integrations that share the same (duplicate) URL and project key.

I know currently Fleet does not allow for two policies with duplicate names to exist. Are you asking if something like this is expected for integrations?

cc @lukeheath

[2022-03-29 13:54] noahtalerman commented on #4842
@gstorme this idea makes a lot of sense.

I think the first step is to update the Fleet UI so that it indicates that the "Private IP address" field is searchable. Currently the UI uses the "IP address" wording which does not indicate whether this refers to the private or public IP:
![Screen Shot 2022-03-29 at 9 50 18 AM](https://user-images.githubusercontent.com/47070608/160626524-bb1244b4-5e85-45

[2022-03-29 13:55] noahtalerman commented on #4842
@gstorme when you were trying to search by public IP, what did you want to do next with the list of matching hosts ?

[2022-03-29 14:00] RachelElysia commented on #2936
Yes, are there any unique keys or any errors that might be thrown by the backend that I will need to build out as an error to the user?

[2022-03-29 14:27] mna commented on #4793
@noahtalerman I can't quite tell from the loom video and can't seem to find it via the handlers in the code - could you tell me what endpoint gets called to list the policies for a given host (the one with the result deemed correct, where it shows 1 failing policy)?

[2022-03-29 14:42] noahtalerman commented on #4793
@mna It looks like the `policies` array in the `GET /hosts/{id}` endpoint is used to list the policies.

It looks like the `issues.failing_issues_count` in the `GET /hosts/{id}` endpoint is used to display the result deemed incorrect (5)

[2022-03-29 15:23] xpkoala opened #4857 "Ensure host picker returns No hosts state correctly"
### Goal

There is at least one circumstance that causes the host picker, when selecting query targets, to return a "Something went wrong" error message when it should be returning "No hosts match this description".

We should make sure that the Figma docs reflect that the "No hosts match.." state is the one users will see when inputting data that would not yield results.

### Notes

This ticket i

[2022-03-29 15:24] xpkoala commented on #4857
@noahtalerman

[2022-03-29 15:33] mna commented on #4793
Waiting to get back access to the dogfood db, but I think it might be due to one (the aggregate count reporting 5 failing) not caring about the policy's platform and team, and the other (the list of policies, reporting 1 failing) filtering out policies that don't belong to the host's team or platform. Will check that out on the DB as soon as I can, but as far as I can see that's the main differenc

[2022-03-29 15:37] noahtalerman commented on #4012
@xpkoala can you please file a bug report issue with the goal of updating all the above forms to use the enter key press behavior?

[2022-03-29 16:19] noahtalerman commented on #4857
@xpkoala thank you! The following screen in the Fleet EE (current) Figma depicts the expected "No hosts" match state: https://www.figma.com/file/qpdty1e2n22uZntKUZKEJl/%E2%9C%85-Fleet-EE-(current)?node-id=4034%3A80278

Because the above is the expected behavior, can you please add this issue to the 🚀 Release board? Thanks :)

[2022-03-29 16:54] lukeheath commented on #4521
@lucasmrod Ah, gotcha. On the frontend, we have a screen that looks like this that appears right after a user adds a new integration:

![image](https://user-images.githubusercontent.com/2495927/160664716-c87ac04f-89e5-4a8b-b76e-af667e880612.png)

We'd like to test the credentials they've provided to confirm they are valid. Would it be possible to attempt to authenticate with Jira's API as soon as

[2022-03-29 16:55] lukeheath commented on #4521
I realize this isn't really communicated in the issue description. If it sounds doable to you, I'll update the description to reflect the change.

[2022-03-29 17:36] hollidayn commented on #4691
Calls scheduled for 3/29 to go through 409A and for 3/31 to run through books/tax stuff.

[2022-03-29 17:39] hollidayn commented on #4671
Did some digging to get some background on the various departments and confirm who the DRIs are.  Scheduling calls w/ everyone now.

[2022-03-29 17:44] lailtonmontenegro opened #4860 "Tag a software as disallowed."
### Goal

How we have all information about the softwares of the endpoints in the fleetdm UI, Imagine if we can tag a software as disallowed. For example: If a company doesn't allow the use of the anydesk or dropbox(its just a example) and if possible through the Fleet UI to tag these softwares as disallowed, It would be used to help identify disallowed software at environment quickly. And if this

[2022-03-29 18:20] CharlotteChance commented on #4671
@hollidayn I'm adding the "Ritual" heading for [https://github.com/fleetdm/confidential/issues/1013]
 Follow Pull Request here: [https://github.com/fleetdm/fleet/pull/4861]

[2022-03-29 18:39] xpkoala commented on #4816
For some reference material. https://osquery.io/schema/5.2.2/#os_version

I am seeing the described behavior in the above comment. Querying `/api/v1/fleet/hosts/33` on Dogfood and searching for the os_version will show `20.4.0` where it should more accurately show `20.04.3`.

Running the `SELECT * FROM os_version` query on the same host shows the issue a bit more clearly.

![Screen Shot 2022-03-29

[2022-03-29 19:06] lucasmrod commented on #4521
I'll link this to the corresponding sub-issue so that we can get @mna's and @michalnicp's input.

IMO we should have a "/test-integration" API, separate from the "/config". Am all ears.

[2022-03-29 19:06] lucasmrod commented on #4846
See https://github.com/fleetdm/fleet/issues/4521#issuecomment-1082266432

[2022-03-29 19:19] mna commented on #4521
+1 for a distinct API call to test the connection synchronously, though it should be properly rate-limited probably, to prevent misuse/abuse (e.g. make too many requests and then the actual cron job fails to call jira because it reached some limits). If we only want to test the currently-active connection, it wouldn't require any argument, but it could be useful to test any Jira integration config

[2022-03-29 20:08] xpkoala opened #4864 "Update modals to submit form after pressing enter"
**Fleet version**: 4.12.0

**Operating system**: macOS 12.2.1

**Web browser**: Safari 15.2

<hr/>

### 🧑‍💻  Expected behavior
Related to and expanded from #4012; the goal of this ticket is to bring the following modals up to spec with the [handbook](https://fleetdm.com/handbook/product#design-conventions). These modals should have the functionality of submitting the form when the user has the mod

[2022-03-29 20:45] mikermcneil commented on #4821
@Desmi-Dizney added checkboxes, additional bullet.  I’m done editing now

[2022-03-29 20:51] michalnicp commented on #4754
At least on linux, the primary ip could be defined as the ip address assigned to the network interface for the default route.

[code]

In the above, `10.0.1.1` is the default gateway, and `10.0.1.92` would be the primary ip.

For macos, you may need to get the network interface first, and then the ip using

[code]

It should be possible to get the default gateway from the routes table exposed by o

[2022-03-29 21:51] mikermcneil commented on #4574
@noahtalerman I'm removing this from the digital experience board- see wires above

[2022-03-29 22:09] Desmi-Dizney commented on #4821
@mikermcneil do you mind if I make some of these things more concise? I don't want to chop it up if you're committed. As it is right now, to me, it comes off as a wall of scary text. How would you feel about this linking to a keynote for the details?

[2022-03-29 22:16] mikermcneil commented on #4821
@Desmi-Dizney Agreed, thoughts:
- Lots to deduplicate here.  I think many words can be cut by eliminating repetitive bits without losing any of the semantics or examples
- Would it be short enough if we reduce each checkbox to:
  - heading
  - plus a short paragraph of 1-3 sentences
- For any examples and points that don't fit, I think we can link to this issue [repeatedly](https://github.com/flee

[2022-03-30 01:06] zwass commented on #4261
@tokcum Is this query that you ran? If not, can you please run that as a live query and let us know how long it takes to execute and if the watchdog kills it?

[code]

FYI there is also some ongoing work in osquery itself that will help with the performance issues on the `users` table: https://github.com/osquery/osquery/pull/7516

[2022-03-30 01:48] zwass commented on #4754
@michalnicp any idea how we can generalize that to the output of the osquery [routes table](https://osquery.io/schema/5.2.2/#routes)?

Sounds like skipping `docker0` is a good short-term solution for @ducna96's issue. Maybe we should do that as an easy win?

[2022-03-30 05:18] clong-msec commented on #4753
I think maybe this issue should be renamed to "allow the UI hostname to be changable from `hostname` to `computer_name` or `local_hostname`. I'm using Tailscales on my host which makes the hostname include the full tailnet FQDN and it looks pretty silly in the UI. Would much rather prefer `computer_name` or `local_hostname`.

[2022-03-30 05:18] clong-msec commented on #4753
Looks like there's an issue for this: https://github.com/fleetdm/fleet/issues/4166

[2022-03-30 07:04] tokcum commented on #4261
@zwass  That is exactly the query I ran. It took ~ 32s.

Yeah, I also found the corresponding issues on osquery project. There is also a more fundamental one: [osquery/7417](https://github.com/osquery/osquery/pull/7417).

[2022-03-30 07:46] tokcum opened #4871 "Antivirus Healthy (Windows) Policy does not work on Windows Server"
**Fleet version**: _4.12_

**Operating system**: _Windows Server 2016 and Windows Server 2019_

**Web browser**: _Edge_

<hr/>

### 🧑‍💻  Expected behavior

I used the policy _Antivirus healthy (Windows)_ delivered with fleet and deployed it in a heterogeneous environment of Windows endpoints comprised of Windows 10 and Windows Server 2016 and 2019. The environment is protected by Windows Defender.

[2022-03-30 08:03] tokcum commented on #4871
I tried to upload pictures but it's failing, not sure why. So, here is the ASCII art from osqueryi.

[code]

[2022-03-30 12:29] mna commented on #4793
@noahtalerman I got access to the DB and my hunch is confirmed (in fact there are now 6 failing policies for that host). I will need your help to figure out how to fix this as in some ways, both results are true, it's just that they don't agree on what policy results to consider.

Those are the "raw" results of policies for that host (I swapped real ids for A/B, name - platforms - team_id are colu

[2022-03-30 13:39] noahtalerman commented on #4793
Aha! @mna great find.

Great point. @xpkoala when you get the chance, can you please see if you're able to reproduce this bug in a fresh Fleet installation? This way, we can confirm whether or not the bug is due to missing cleanup.

[2022-03-30 14:02] mna commented on #4793
Doing some more research in the code on my side:

* I don't think updating a policy's team is possible at the moment
* Updating a policy's platforms should remove any host policy membership that doesn't have a compatible platform
* Switching a host to a new team should remove any host policy membership for a previous team (note that it doesn't look like it would remove any _global_ policy membersh

[2022-03-30 15:06] xpkoala commented on #4793
@mna I haven't been able to reproduce this on a fresh install of Fleet. I'd be happy to jump into a call for a few and do some paired exploration if you would like.

[2022-03-30 15:15] mna commented on #4793
@xpkoala thanks for trying it out! The possibilities that I've seen in code would be hard to reproduce as they are timing-sensitive. I'll check with Tomas if he has any concerns but otherwise I think updating the aggregation query to use similar filters as the detailed list would guarantee consistent results.

[2022-03-30 15:54] #4012 closed

[2022-03-30 16:33] GuillaumeRoss commented on #4860
Hi @lailtonmontenegro!

Thanks for this feature request.

One way of achieving this right now is with the use of policies. Policies "pass" if there are results to a query, so for example, to ensure that macOS is 12.3 or newer, you can create a policy with this query:

`SELECT 1 FROM os_version WHERE version >= '12.3'`

Now let's say we want to disallow Steam. I would use it's `bundle_identifier` f

[2022-03-30 17:35] Desmi-Dizney commented on #4821
@mikermcneil
This isn't quite what we had discussed but here is an example of one of the bigger sections being scaled back. Thoughts?

**Why wireframe-first?**
Wireframing is called “drafting” at Fleet and is worked on in Figma.
Anyone can make a wireframe suggestion, and wireframes are easy to contribute without being code literate.
Drafting is completed for each change.
It can be thrown away aft

[2022-03-30 17:55] timmy-k commented on #4546
Guillaume's saying he's followed up with Fleeties to request enrollment to simplemdm agent, which by default blocks GA traffic. We'll need to remember to turn this off if we're testing things in GA and need to track our traffic.

He's following up with a few people today. On Friday I may step in to follow up if he needs it

[2022-03-30 18:22] noahtalerman commented on #3300
Hey @lukeheath I updated this issue's description and the linked Figma page to reflect the current, "frontend only" solution. I'm passing this issue's assignment to you.

Can we please bring this issue into the current (4.13) release ? If one or more issues need to be moved out the current release to make room, can you please move out #3573 or #2814 (lower priority) ?

[2022-03-30 18:27] gstorme commented on #4842
Nothing in particular, just get the host results matching with the public IP in the search box

[2022-03-30 18:34] xpkoala opened #4878 "Query column titles disappear when using select all button"
**Fleet version**: 4.12

**Operating system**: macOS 12.2.1

**Web browser**: Safari 15.2, Firefox 98.x

### 🧑‍💻  Expected behavior
All column titles, except name, would stay present when the *select all* check mark is pressed.

### 💥  Actual behavior
Multiple column titles and divers are removed

### More info

/queries/manage

Before
![Screen Shot 2022-03-30 at 1 25 30 PM](https://user-images.gi

[2022-03-30 18:46] timmy-k commented on #4667
Step 1 is done for this task, which is to just get it on paper. This includes all consistent rituals, I'll confirm it has all the other ad hoc tasks documented

Step 2 involves me reviewing and cleaning things up, as well as creating the essential reporting infrastructure.

[2022-03-30 18:54] xpkoala commented on #4878
The behavior on /hosts/manage and /policies/manage are also unique and different from that shown above. I can split out tickets to remedy those actions, or it might be worth re-speccing the intention in Product before proceeding.

[2022-03-30 18:57] timmy-k commented on #4641
Sheryll says they're finishing an arc of episodes and is targeting later in April for this. I asked her to send me a date once she has one so we can prep Mike for it and make sure to promote

[2022-03-30 19:11] GuillaumeRoss opened #4879 "Update threshold for vulnerability automations"
When setting up vulnerability automation, the following text is shown:

This is great for eliminating noise, however, for many, it can be too aggressive. It might not be the right default.

### Goal

As a Fleet user, I want the default "published in the last # of days" to be larger so that I can create tickets for new vulnerabilities found on my hosts.

### How?

- [ ] Update the default # of days

[2022-03-30 19:13] xpkoala commented on #4878
Duplicate of #4799

[2022-03-30 19:13] #4878 closed

[2022-03-30 19:17] xpkoala commented on #4799
@lukeheath These are all three instances and behaviors I had found. Thanks for pointing out the duplicate!

[2022-03-30 19:21] GuillaumeRoss opened #4880 "Perform penetration testing of Fleet and publish report"
### Goal

TODO
We want to get Fleet tested by an offensive security vendor.

**Scope**
1. Fleet itself (running in an instance we will provide to the vendor)
2. Orbit out of scope
3. osquery itself is out of scope, though exploiting Fleet from data returned to the osquery TLS APIs on the Fleet side is in scope.

### How?

- [x] Identify vendor
- [x] Provide credentials + documentation to perform t

[2022-03-30 19:40] sharvilshah commented on #4816
Took a quick look to see if there is any parsing bug in osquery:

[code]

osquery use's systemd's `/etc/os-release` according to systemd man pages, correctly uses `VERSION_ID` field. However `VERSION_ID` on Ubuntu doesn't include a patch number:

[code]

[2022-03-30 19:45] sharvilshah commented on #4816
Found this bug reported for Ubuntu, where `VERSION_ID` (in `/etc/os-release`) doesn't include a point release number (https://bugs.launchpad.net/ubuntu/+source/base-files/+bug/1394469)

Their official repsonse:

And that bug in Ubuntu got marked as `invalid`

Not sure how we should proceed?

[2022-03-30 20:11] chiiph commented on #4521
What if instead of /test-integration, we do like we for SMTP and test this when it's being configured and if it fails, we can return an error?

[2022-03-30 20:13] lukeheath commented on #3489
Sarah: This ticket is becoming perfect is the enemy of the good since we keep incurring CSS tech debt while awaiting on this.
Luke: I'll work to get this prioritized and done.

[2022-03-30 20:14] Catscrash commented on #4387
thanks, that was actually it, I was having the wrong logger endpoint, /fleet was missing... Thanks for your help!

[2022-03-30 20:15] #4387 closed

[2022-03-30 20:23] chiiph commented on #4514
After some back and forth the decision is to not version the osquery and setup endpoints. This means removing the `v1` portion of it and adding an alias with the `v1` so the change is backwards compatible for the moment. In the future we'll just remove that alias.

The reasoning is that the osquery endpoints won't change given how that has happened in the past (osquery hasn't changed the way it ex

[2022-03-30 20:23] noahtalerman commented on #3124
@xpkoala Ah, yes. If I'm remembering correct, this "workshop copy" task is either complete or out of date.

The intention was to improve the "Fleet is not collecting software" copy I included in the first iteration of these wireframes.

The "Using Fleet" FAQ makes sense.

I think I asked to file a separate issue because the task of adding the FAQ entry will completed by a different individual (com

[2022-03-30 20:32] chiiph commented on #4793
I believe we handle this case.

I think we handle this for the team though, I feel like Sarah brought this up some time ago.

When would a host platform be updated?

The host details endpoint is pretty fast and we can probably add validations there. The list hosts one is the trickiest one to keep adding to. Which one are you referring to?

That kiiiiind of makes sense. However, when you look at th

[2022-03-30 21:18] tgauda opened #4881 "Authentication Required error when using correct password"
**Fleet version**: 4.12

**Operating system**:  macOS 12.3

**Web browser**: Chrome 100.0.4896.60

<hr/>

### 🧑‍💻  Expected behavior
Type in correct email and password and you log in successfully.

### 💥  Actual behavior
Logging in using correct password and email address gives Authentication Required error and an invalid login gives an Authentication Failed error.

### More info
Link to recording

[2022-03-30 21:26] lukeheath commented on #3300
@noahtalerman Updated description looks good. I have a little bandwidth so I'll go ahead and handle this issue in the 4.13 release.

[2022-03-30 22:18] zwass commented on #4469
This reproduces reliably in our Dogfood environment (see https://fleetdm.slack.com/archives/C024DGVCABZ/p1648665829116519). @lucasmrod I think your guess makes sense. I wonder if it can be reproduced in a local dev environment with a MySQL replica?

[2022-03-30 22:53] lukeheath commented on #4062
@noahtalerman Should we include battery health on the Fleet desktop device user page, or only the "Host Details" page?

[2022-03-30 23:22] michalnicp commented on #4508
Have we considered generating server code from openapi spec? There seems to be a good library https://github.com/OpenAPITools/openapi-generator for generating server stubs from an existing spec. Currently, it only supports v3.0, but v3.1 support is not too far away (See [this](https://github.com/OpenAPITools/openapi-generator/issues/9083#issuecomment-819122558) and [this](https://github.com/swagge

[2022-03-31 00:31] mikermcneil commented on #4821
@zwass  Couldn’t find the recording in a Google search, so I think no video exists, but I did find this Forbes article someone wrote about my talk at Apigee’s conference which might be helpful (it has a link to the slides from the talk):
https://www.forbes.com/sites/danwoods/2015/10/19/dont-get-ubered-apis-hold-key-to-digital-transformation/?sh=78ea5302182c

![9F8977DA-80C8-4D61-A038-E8463C117E79]

[2022-03-31 00:43] mikermcneil commented on #4821
@Desmi-Dizney Thanks!  Reads like a good start.  Want to do the same for the others, then get a PR cooking to figure out structure?

Zach and I are working through some big picture decisions for how Fleet scales, so there will be edits and clarifications, but we can go ahead and get this into the handbook bit by bit as it’s ready, since it reflects where we are at today.  Everything is in draft

[2022-03-31 00:45] zwass commented on #4871
@tokcum IIRC Windows Server doesn't have the "Windows Security Center" DLL that provides the functionality for checking these things.

@noahtalerman seems like we need to make some product decisions around how to handle such a situation. Should the policy pass, or fail in this case? Ideally it seems like it would be "neutral", but these error results are returned as the actual columns of the query

[2022-03-31 13:41] noahtalerman commented on #4411
@chiiph heads up, I updated this issue's description to reflect the latest discussion on how/when to tell users that policy pass/fail data is accurate.

[2022-03-31 15:14] tgauda opened #4883 "Better understand usage/adoption of the Fleet product with analytics"
## Objective

Deliver a simple, trustworthy, actively-used product that works every time.

## Key result

Better understand usage/adoption of the Fleet product by adding more anonymous usage statistics.

## Measured by

- Being able to say how "active" users are (retention) in the Fleet UI. (monthly active, weekly active, etc.).
- Being able to say what the number of hosts enrolled per operating s

[2022-03-31 15:15] xpkoala opened #4884 "Improve FAQ documentation by adding cases surrounding no software information retrieved"
### Goal

Related to #3124. We would like to create an entry on the [FAQ](https://fleetdm.com/docs/using-fleet/faq) page that informs users of reasons why software information may not be available.

TODO : Add copy that will be published to the website.

[2022-03-31 15:27] DominusKelvin commented on #4643
@eashaw pinging you again on this so it doesn't fall into the cracks 😀

[2022-03-31 15:38] lukeheath commented on #4521
This is my preference if possible.

[2022-03-31 16:11] lucasmrod commented on #4521
Ah, forgot about the SMTP check. It's simpler to implement on this first iteration than implementing a separate API, so am ok with this.

[2022-03-31 16:34] lukeheath commented on #3245
Sarah: Packs is still using this endpoint.
Tomas: We should create a new endpoint that does exactly what we want.
Sarah: We could load this super fast without label counts.
Sarah: Would product be okay with loading without count and then loading them in after?
Tomas: Let's start by defining an ideal endpoint(s) for the frontend/UX.

--

Takeaways:

1. We should stop using `POST /targets` for live

[2022-03-31 16:37] lukeheath commented on #3245
@gillespi314 Is going to start working on spec'ing new endpoint(s) to support an ideal UX flow.

[2022-03-31 17:10] zwinnerman-fleetdm opened #4889 "Optimize software query"
### Goal

On endpoint GET /api/v1/fleet/software, there is a query that is potentially very slow at scale:
[code]

Here is a stack trace:
[code]
![2022-03-31-131007_1613x863_scrot](https://user-images.githubusercontent.com/98712682/161111762-164c7e98-87f9-4ec6-8a61-00fd22c1ebb0.png)

[2022-03-31 17:13] zwinnerman-fleetdm opened #4890 "Optimize Label Query"
### Goal

On endpoint GET /api/v1/fleet/labels, there is a query that is potentially very slow at scale:
[code]

Here is a stack trace:
[code]
![2022-03-31-131248_1619x819_scrot](https://user-images.githubusercontent.com/98712682/161112197-c533eff1-eb50-4a9b-a632-3c72ccff2164.png)

[2022-03-31 17:36] GuillaumeRoss commented on #4883
Things that would be useful from a product point of view and could be anonymized very well (and all should be super transparent of course):

* What tables are used in queries and at what frequency - to help us understand use cases better
* Which of the policy queries from the standard library are used, and on how many machines? (do not gather custom ones here)
* Which _tables_ are used by custom p

[2022-03-31 18:35] noahtalerman commented on #4879
Hey @chiiph, @GuillaumeRoss and I would like to get this improvement in as soon as we're able to.

Can you please help us make sure that this issue is ready for engineering as soon as we have capacity? Thanks :)

[2022-03-31 19:02] xpkoala commented on #3124
The above needs to be called out for `users` as well as `software`. @xpkoala

[2022-03-31 19:09] xpkoala commented on #4881
And attempting to sign in with SSO is failing as well? @tgauda This looks like a duplicate of #4469 which is being discussed a bit more in depth today. @tgauda

[2022-03-31 19:26] zwass commented on #4769
This was shipped with Orbit 0.0.8.

[2022-03-31 20:23] tokcum commented on #4871
Hi team,

I've missed the ability to return a policy as "not applicable" (aka neutral) already several times, not only in the context of Windows Security Center.

Another example is a policy checking for a defined version of installed software. The simple query to check for the version of Adobe Acrobat Reader would be:

`SELECT 1 FROM programs WHERE name LIKE "%Acrobat DC%" AND version = '21.011.2

[2022-03-31 20:26] tgauda commented on #4769
Thanks team! I've let the customer know we've shipped this I'm closing this issue as resolved.

[2022-03-31 20:26] #4769 closed

[2022-03-31 20:33] Desmi-Dizney commented on #4821
https://github.com/fleetdm/fleet/issues/4821

Why do we wireframe first?
Wireframes, or drafts are created in Figma to create wireframes.
Anyone can make a wireframe suggestion, and wireframes are easy to contribute without being code literate.
Drafting is done per change.
wireframes can be thrown away after changes. Coding first leaves verbiage that is difficult to update, if it ever gets done at

[2022-03-31 22:03] tgauda commented on #4881
Agreed. Thanks! I'll close it.

[2022-03-31 22:03] #4881 closed

[2022-03-31 22:05] tokcum commented on #4871
On my way home I thought about this in more detail. I think the challenge is to differentiate three policy states: true (green), false (red) and "not applicable / neutral" (blue?). Today policies qualify as true per host when at least one record is returned by the query. If no record is returned, policy result is false.

To be able to differentiate three states as described we need to find a way h

[2022-04-01 13:25] GuillaumeRoss commented on #4351
Google also has a useful spreadsheet of exploited in the wild vulnerabilities https://docs.google.com/spreadsheets/d/1lkNJ0uQwbeC1ZTRrxdtuPLCIl7mlUreoKfSIgajnSyY/view#gid=0

[2022-04-01 14:25] #4796 closed

[2022-04-01 14:25] #4762 closed

[2022-04-01 14:25] #4697 closed

[2022-04-01 14:34] RachelElysia commented on #4598
Unable to reproduce on Safari 14.1.2.

Close out? @xpkoala @lukeheath @gillespi314 ?

https://user-images.githubusercontent.com/71795832/161284853-27298de0-b3c9-4f92-88a2-4082f6418ba7.mov

[2022-04-01 14:38] noahtalerman commented on #4871
tokcum:

Zach:

Ah, interesting. @zwass and @sharvilshah is it not possible to expose the Windows Security information on Windows servers?

[2022-04-01 15:17] tokcum commented on #4871
@noahtalerman I just followed the idea of @zwass about a "neutral" policy state. As I said, during implementation of some policies I already felt the urge to have a third state. The policy to check installed software & version is just an example. So yes, the bullets describe my expectation, however the SQL statement I provided is not able to fulfill it as the policy feature won't evaluate the retu

[2022-04-01 15:21] tokcum commented on #4871
@noahtalerman Windows Server does expose the state of Windows Security via WMI. Microsoft also provides Powershell command lets which show that the security state is available. However, from what I've seen in osquery, the WMI integration of osquery does not allow to access arbitrary parts of the WMI interface today.

[2022-04-01 16:09] mikermcneil opened #4898 "Update onboarding issue"
Goal: Zach and Mike and all managers at Fleet taking the same things seriously.  Believing in the onboarding template as an important source of truth and a good use of time for every single new hire, including contractors.  If managers see steps and they notice that they don't feel like they can take them seriously, they should PR the template and request Head of People as reviewer or ask Head of

[2022-04-01 16:14] CharlotteChance opened #4899 "Make it easier, faster, simpler, and less error-prone to take advantage of custom functionality on top of the osquery agent through custom extensions."
### Goal

Make it easier, faster, simpler, and less error-prone to take advantage of custom functionality on top of the osquery agent through custom extensions.

### How?

- [ ]

[2022-04-01 16:18] CharlotteChance opened #4900 "Make handbook support one more layer deep of pages"
Digital Experience: Create wireframes/layout for the new navigation.

[2022-04-01 16:23] CharlotteChance opened #4902 "Should values be sentence case?"
### Goal

List items should be capitalized and include terminal punctuation (period, question mark, exclamation mark, etc.)

<img width="860" alt="image" src="https://user-images.githubusercontent.com/78363703/161496208-8d6ccfe6-9bbc-41dd-865d-7ea808c8036f.png">

### TODO:

- [ ] Capitalize the first word and add terminal punctuation to each bullet for Fleet values section of the handbook https://

[2022-04-01 16:25] xpkoala commented on #4598
I believe so, I have seen some slightly odd behavior on my Safari browser I need to dive into a bit more.

[2022-04-01 16:25] #4598 closed

[2022-04-01 16:36] mikermcneil commented on #4898
@eashaw This is related to / a followup for https://github.com/fleetdm/confidential/issues/1028

[2022-04-01 16:40] lukeheath opened #4904 "Provide battery condition in host details response"
## Goal

As an API consumer, I want the `GET /hosts/{id}` and `GET /device/{token}` endpoint to include `battery_condition` in the response object so that I can inform the user if the battery needs to be charged.

## Figma

[TODO
](https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4897%3A181350)

## Related
- Frontend (blocked): #4062

## Tasks

### 1
- [ ] Retrieve battery condition from

[2022-04-01 16:41] lukeheath commented on #4904
@chiiph Assigning over to you to confirm/add specs.

[2022-04-01 16:46] xpkoala opened #4905 "Select Pack target field auto deleting search criteria"
**Fleet version**: 4.12

**Operating system**: 12.2.1

**Web browser**: Firefox 98.02

<hr/>

### 🧑‍💻  Expected behavior
When adding input into the pack target field the search parameter would stay visible and show results.

### 💥  Actual behavior
The search criteria is automatically being removed after being typed in.

### More info
/packs/#/edit
/packs/new

The video should demonstrate the issue

[2022-04-01 16:51] CharlotteChance opened #4906 "Train managers on the new approach to onboarding and training"
Zach: Train Luke and Tomas on the new approach to onboarding and training.
Mike: Train Tim, Mike T, Tony, and Noah on the new approach to onboarding and training.

[2022-04-01 16:52] #4906 closed

[2022-04-01 16:54] noahtalerman commented on #4871
Aha, got it. @tokcum thanks for clarifying.

The idea of a "neutral" policy state is a great one. In the future, Fleet might want to expand the policy feature to include this idea so that it is easier to write a query to handle this "neutral" state.

For now, I'd like to see if it's possible to write a query, even if long and ugly, that will satisfy your use case.

@GuillaumeRoss when you get the

[2022-04-01 16:56] noahtalerman commented on #4871
@tokcum other than the installed software policy, what are some other kinds of policies that you think would benefit from this third, "neutral" state ?

[2022-04-01 17:18] xpkoala opened #4907 "Update handbook to include distance between document and save buttons"
### Goal

Add to the handbook that save / cancel / undo buttons should reside 40px beneath the lowest part of the form.

### Example

- [ ] check this box
|
| 40px
|
`save` button

[2022-04-01 17:31] chiiph commented on #4904
We should be aware that sometimes (at least in some Apple M1s) this is what the query returns:

[code]

@lukeheath we can expose what osquery gives us directly and let the frontend define how to handle cases like this. Alternatively, we can do some mild parsing of the data and translate cases like this to `Unknown`. Any preferences?

[2022-04-01 18:14] GuillaumeRoss commented on #4871
@noahtalerman I will take a look at it. I think it should be possible with sub queries and setting a "score", then having the policy select from the "score" (it's a more complicated version of what we do to check XProtect and MRT versions on macOS).

[2022-04-01 18:47] lukeheath commented on #4904
@chiiph Thanks, good to know! If you just pass back whatever you get from osquery we'll determine how to handle it on the frontend with Noah.

[2022-04-01 18:47] GuillaumeRoss commented on #1514
This is done! https://fleetdm.com/docs/using-fleet/security-audits

[2022-04-01 18:47] #1514 closed

[2022-04-01 19:00] RachelElysia commented on #2814
@noahtalerman

I know this is about to super complicate things for myself... but do we want them to be exporting all the host data that is returned from the API for hosts/report?&..., or do we want to cut it down even more based on the filters set on the UI?

(I'm hoping for the former 🤯)

[2022-04-01 19:07] noahtalerman commented on #2814
@RachelElysia for now, we'll always export all the data returned from the API. No matter the columns present in the UI.

Later, we'll make the improvement to cut down the data based on the filters set in the UI.

[2022-04-01 19:13] tgauda commented on #4169
This is complete!

[2022-04-01 19:13] #4169 closed

[2022-04-01 19:22] CharlotteChance opened #4911 "Improve handbook landing page (fleetdm.com/handbook)"
Improve handbook landing page (fleetdm.com/handbook) so that the landing page doesn't have to be manually updated every time a subsection is renamed/added/removed/reordered

[2022-04-01 19:31] CharlotteChance opened #4912 "Add intro to OKRs to onboarding"
In the onboarding template add a section discussing OKRs
Who, what, when, where, how.

[2022-04-01 19:32] CharlotteChance opened #4913 "100% of fleeties have done OKR training"
similar goals: https://github.com/fleetdm/confidential/issues/247

[2022-04-01 19:37] CharlotteChance opened #4914 "Data on the screen is either fresh, or it's telling the user "why not" and "how stale"."
How?

- Initial pass through all screens in dogfood.fleetdm.com looking for where we aren't already doing this, then ship changes to fix
- Ask this question during drafting any time a new aggregation or datapoint is introduced into the UI or API  (probably easiest to catch during API design)
- Track 100% of these API changes in release notes  (useful for properly observing semver anyway)
- Measure

[2022-04-01 19:46] tgauda commented on #4547
Following up with customer to understand use cases and priority.

[2022-04-01 20:04] noahtalerman commented on #3124
Noah: Scope of the "why" reasoning is disabled and the query didn't run successfully.

[2022-04-01 20:09] tgauda commented on #3653
Following up with customer to clarify use case and ask

[2022-04-01 21:40] ksatter opened #4918 "Some of the doc pages read as though they are tutorial/help docs rather than reference docs. Is this something that we want to continue, or should we aim to have those separate and keep the docs to pure documentation?"
e.g., fleetCLI https://fleetdm.com/docs/using-fleet/fleetctl-cli See "Running Fleet" section

We don't have many guides right now, so I can understand why they are mixed together, but I believe it would be clearer to have separate "guides" and "reference" (exact language TBC)

Another example is "Learn how to use Fleet" https://fleetdm.com/docs/using-fleet/learn-how-to-use-fleet

and

Server insta

[2022-04-01 22:34] michalnicp commented on #4521
Couple questions about creating jira issues:

1. What should we do if a jira issue already exists for a cve? This could happen during retries. Should we attempt to get the cve using the summary as a "unique" field before trying to create an issue? afaik, there are no such things as unique fields in jira, but we can "fake" it be picking some combination of fields that should be unique and trying to

[2022-04-02 03:11] zwass commented on #4890
One possible optimization is that in the case where no team is specified we remove the JOIN to hosts in the query: https://github.com/fleetdm/fleet/blob/ad5146c4916450d79eb00e4e81767e6fd9e26518/server/datastore/mysql/labels.go#L285-L290

I think that join is needed when using `whereFilterHostsByTeams`, but that's not always going to be the case. This is only a stopgap solution though.

[2022-04-02 03:17] zwass commented on #4889
@zwinnerman-fleetdm when you get a chance can you please pull a copy of the loadtest DB and make that available via Slack or otherwise? I'd like to try some query optimizations on this locally.

[2022-04-04 05:55] sigitkusuma commented on #3095
hi, it seems this issue is still related to fleet v.4.12.0
our windows agent has failed fetched and shows that the device is "Never" Fetched

![Screenshot_316](https://user-images.githubusercontent.com/54241510/161482202-88759d9e-56ec-4bd9-a09b-f45e74cf6184.png)
![Screenshot_317](https://user-images.githubusercontent.com/54241510/161482210-d6093334-b969-47b8-9917-4c900e4ce3ab.png)
d

[2022-04-04 07:20] tokcum commented on #4871
@noahtalerman, some other examples in which a "neutral" policy state might help:

- `Ubuntu: no pending reboot`: reports all Non-Ubuntu systems as "true", i. e. no pending reboot, although this might not be the case
- `Adobe Acrobat PDF Reader: Security Baseline (compliant OR not applicable)`: checks registry keys on Windows, returns true even if PDF Reader is not installed to avoid false negative

[2022-04-04 07:41] mike-j-thomas commented on #4902
@CharlotteChance yes, thanks for spotting. I added more details to the description above.

[2022-04-04 07:47] mike-j-thomas commented on #4902
@Desmi-Dizney, assigned this over to you, my man. Please also do a sweep of the handbook for other lists that may need fixing - either as part of this ticket, or you can create a new one if you like.

[2022-04-04 08:02] sigitkusuma opened #4923 "Windows agent trouble fetching"
**Fleet version**: Fleet 4.12.0 • Go go1.17.8

**Operating system**: Windows 10 and up

**Web browser**: Chrome

<hr/>

### 🧑‍💻  Expected behavior
- windows host has successfully fetched and scanned so that it can adopt policies & running queries from the fleet dashboard.
- in the "Details-about-used by" section is a very helpful feature for us. but where did the fleet read this information from?

[2022-04-04 10:09] tokcum commented on #4754
Hi,

I can confirm that sometimes fleet shows unexpected IP addresses on host dashboard, e.g. IP address of local docker. However, this is not persistent. From time to time IP addresses in the host table change.

@zwass I use this statement to identify the primary IPv4 of a Linux system. I define the primary IPv4 address as the address on the same interface as the default gateway.

[code]

[2022-04-04 10:23] lucasmrod commented on #4923
Hi @sigitkusuma, thanks for the detailed report.

Are you using the fleet osquery installer on such hosts? Or plain osquery? If so, could you check Orbit/osquery logs on those hosts? `C:\Windows\system32\config\systemprofile\AppData\Local\FleetDM\Orbit\Logs\orbit-osquery.log`.

[2022-04-04 11:07] ducna96 commented on #4754
I think it is good solution for all people using fleet, bcs in my case i still fleet integration with another app to tunning log, wrong ip ,this causes difficulties in searching information. pleasea update for me when you update fleet

[2022-04-04 11:49] sigitkusuma commented on #4923
Hi @lucasmrod , thanks for answering.
here is the log

`2022-03-24T13:37:34+07:00 INF hash(osqueryd)=5fbcdaa19233736408ec1d15459e3bb67c8781ba35d1c45558e06da3ff8b104c55ed1ac074a9873d3ac292086104df19ba645db0e93fdf4e7025c510ef6a3e47
2022-03-24T13:37:34+07:00 INF hash(orbit)=885acbf1fd8088a4087af4a655c94069fe03ef550cfc3e04a7d2a1683b560281476bcfd432a0f2696ad4bf248b9c8c6bfa15b23069fa4e4f1afb8b0b39b9f8c9

[2022-04-04 12:09] chiiph commented on #4521
We might want to try detecting if a ticket was created or not, but certainly not in this first iteration.

It's not clear right now if it's better to create a ticket twice, or to 100% of the times do some kind of search for tickets before we try to create.

The CVE is for a piece of software, the hosts are dynamic. Could you explain a bit more what you mean?

Not before the benefit is clear, so no

[2022-04-04 12:19] chiiph commented on #3095
@sigitkusuma hi! sorry to hear you're having issues with your windows hosts. Could you upload debug logs for fleet serve?

[2022-04-04 12:22] chiiph commented on #3095
Oh, I see there's another issue: https://github.com/fleetdm/fleet/issues/4923, let's continue there.

[2022-04-04 12:25] sigitkusuma commented on #3095
Hi @chiiph , thanks for answering.
yes let's continue there

[2022-04-04 12:31] mna commented on #4521
I didn't realize we already did this for SMTP, the issue I can see with that is that a transient error can prevent you from saving the config. It could be that the config is fine, but the server/network/etc. is having issues, and that would block saving the config.  Another potential annoyance is that you have to re-save to re-test (annoying if you have to make a change to trigger a save, maybe th

[2022-04-04 12:43] lucasmrod commented on #4923
Couple of questions:
1. `dial tcp: lookup tuf.fleetctl.com: no such host`. Could you check your host can connect to `tuf.fleetctl.com` (using `ping` and `curl` commands).
2. `https://localhost:8412/api/v1/osquery/enroll (Request error: certificate verify failed) retrying... W0325`. This host is trying to access a Fleet server running on `localhost`. Did you use `--insecure` when generating the `ms

[2022-04-04 12:56] sigitkusuma commented on #4923
@lucasmrod

1. yes our host can connect to tuf.fleetctl.com
2. we are using fleetctl package --type=msi --fleet-url=url --enroll-secret="secret"
without --insecure
![Screenshot_320](https://user-images.githubusercontent.com/54241510/161548447-82232ef9-2b42-4a50-adc8-5e5909cd6a96.png)
![Screenshot_321](https://user-images.githubusercontent.com/54241510/161548458-b5f34d1b-f74a-4218-8cdc-4c06576399c3

[2022-04-04 13:00] lucasmrod commented on #4923
OK, assuming this is not a production deployment (assuming this because running on `localhost` and with a likely not valid certificate), please try generating the `msi` with `--insecure` and re-installing and let us know if that works.

Related: Is the Fleet server running on Windows? (asking because a Windows agent is trying to a Fleet running on `localhost`). We currently don't support running F

[2022-04-04 13:58] noahtalerman opened #4925 "Add ability to generate a Fleet-osquery installer for Linux that includes Fleet Desktop"
### Goal

This issue's goal is part of the Fleet Desktop Epic: https://github.com/fleetdm/fleet/issues/3922

### Goal

Add ability to generate a Fleet-osquery installer for Linux that includes Fleet Desktop, so that an end user, whose Linux device is enrolled in Fleet, can access the **My device** page in the Fleet UI and fleetdm.com/transparency.

[2022-04-04 15:52] noahtalerman opened #4928 "Improve the usability of the vulnerability management product"
Improve the usability of the vulnerability management product as measured by accuracy and user adoption.

## Goals

### Understanding
- As a Fleet user, I want to understand what installed software Fleet collects so that I know what I can rely on Fleet for in terms of coverage when comparing Fleet to other vulnerability management tools.

### Performance
- As a Fleet user with hundreds of thousand

[2022-04-04 15:53] timmy-k commented on #4641
Put this in Mike's schedule and offered to work through an agenda. Will post to social once published

[2022-04-04 16:07] lucasmrod commented on #4923
is this the right step to generate an installer?

Yes, should be ok.

OK, this may be a log error from a previous run then `https://localhost:8412/api/v1/osquery/enroll (Request error: certificate verify failed) retrying... W0325` (probably when running `fleetctl preview`).

In any case, if possible, to get fresh logs, please remove the current `C:\Windows\system32\config\systemprofile\AppData\Loc

[2022-04-04 16:14] michalnicp commented on #4521
In the Jira Ticket Template in the issue description, it lists the hosts that are affected. If we want to include the list of affected hosts in the jira issue, then we should update it if it changes. Otherwise, maybe it would be better to not include the hosts, and simply provide a link to fleet to show hosts.

[2022-04-04 19:08] #393 closed

[2022-04-04 19:09] noahtalerman commented on #177
This issue is now a duplicate. The improvement described in this issue is now covered by the following issue: #4572

[2022-04-04 19:09] #177 closed

[2022-04-04 19:16] lukeheath commented on #4925
This does not require any API changes, so I'm assigning over to @chiiph for architecting.

[2022-04-04 19:21] lukeheath commented on #4521
@michalnicp

Good point. Let's not include the list of affected hosts in the ticket in this iteration. I will update the issue description accordingly.

Is it possible to leave this field blank and let Jira apply the default value to the status field?

[2022-04-04 19:22] noahtalerman opened #4931 "Update a host's display name"
## Goal

As a Fleet UI user, I want to see a default display name for hosts that makes the Fleet UI and Fleet product easy to understand and use.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=5930%3A255765

## Notes

- When working from home the hostname of the device can be whatever the Internet service provider (ISP) assigns to the device. This makes corporate management

[2022-04-04 19:23] lukeheath commented on #4521
@noahtalerman Heads up regarding a requirement change as mentioned above. We will not include the list of affected hosts in the Jira issue in this iteration, since that list will change and we are not including editing existing Jira issues as part of this effort. We **will** include a link to the hosts page with the CVE filter applied. In a later iteration, we can include the affected hosts in the

[2022-04-04 19:42] RachelElysia opened #4932 "Creating a pack error rendering 2 separate errors"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Only to see a flash message.

### 💥  Actual behavior

There's a flash message and a banner

<img width="1343" alt="Screen Shot 2022-04-04 at 3 41 04 PM" src="https://user-images.

[2022-04-04 19:55] jcetina opened #4934 "Allow /metrics route to be enabled/disabled via config"
### Goal

TODO

The /metrics route in Fleet exposes an unauthenticated metrics page. It leaks a bit of info, and we'd prefer to make it something optional to expose via a config setting (we use environment variables)

### How?

- [ ] Create a boolean flag along the lines of ENABLE_METRICS_PAGE
- [ ] Toggle this [line](https://github.com/fleetdm/fleet/blob/779623934c3919b3e2d0a8eccd7d607df8f3b627/c

[2022-04-04 19:58] noahtalerman commented on #4521
Both of the above make sense to me 👍  Thank you for the heads up :)

[2022-04-04 20:36] #4680 closed

[2022-04-04 20:36] #4020 closed

[2022-04-04 20:37] #4533 closed

[2022-04-04 20:47] noahtalerman commented on #3359
Issue related to SSO behavior: https://github.com/fleetdm/fleet/issues/4709

[2022-04-04 21:04] chiiph commented on #4793
I thought we handle this case already, @lucasmrod wasn't it you that worked on this?

When you look at a team's policies in the UI, there's a section at the bottom of "inherited policies" that lists all the policies at the global scope.

[2022-04-04 21:44] RachelElysia commented on #4864
Add members and new pack don't work with the hitting enter because hitting enter is used for adding a team into the dropdown and adding a target into the dropdown. I couldn't figure out a work around @lukeheath

[2022-04-04 22:30] timmy-k commented on #4701
Finished, so closing

[2022-04-04 22:30] #4701 closed

[2022-04-04 23:02] ksatter commented on #4540
Thanks again for the suggestion, @MScottBlake! Closing this ticket out now.

[2022-04-05 02:21] sigitkusuma commented on #4923
@lucasmrod

- orbit version is
orbit 0.0.8

- this is the new log
`2022-04-05T09:13:53+07:00 INF hash(orbit)=a08f5041456832d8682edbba6cf37ac584a4df77c265da20c88a42395900d3f8225358aa44ed55a167d2c0680ba8bf09aaf34d9be09461b8e20464c5dfd10770
2022-04-05T09:13:53+07:00 INF hash(osqueryd)=5fbcdaa19233736408ec1d15459e3bb67c8781ba35d1c45558e06da3ff8b104c55ed1ac074a9873d3ac292086104df19ba645db0e93fdf4e7025c

[2022-04-05 03:48] zwass commented on #4469
We just pushed 4.12.1 which should fix this (verified in our Dogfood environment).

Sorry for the inconvenience folks! Please let us know if you run into further issues with 4.12.1.

[2022-04-05 03:49] #4469 closed

[2022-04-05 09:50] martavis commented on #4419
@lukeheath Double-checking on this. Is this ticket ready? I still see the "blocked" tag.

[2022-04-05 09:53] martavis commented on #3543
@lukeheath Double-checking if this ticket is ready?

[2022-04-05 10:25] lucasmrod commented on #4923
Hi @sigitkusuma. Any further `ERR` logs after those log lines? (also, still unable to enroll?)

[2022-04-05 10:45] lucasmrod commented on #2322
What about the following three options:
1. auth'd `/metrics` by default: fleet errors out if `FLEET_PROMETHEUS_METRICS_USERNAME`, `FLEET_PROMETHEUS_METRICS_PASSWORD` credentials are not set.
2. allow unauth'd `/metrics`: via explicit setting of `FLEET_PROMETHEUS_METRICS_DISABLE_AUTH`.
3. no `/metrics`: via explicit setting of `FLEET_PROMETHEUS_METRICS_ENABLE`. (see #4934)

The above is the secure

[2022-04-05 11:16] sigitkusuma commented on #4923
@lucasmrod
here are the logs after those log lines
and yes still unable to enroll

`W0405 15:16:09.129684 21920 chocolatey_packages.cpp:65] Did not find chocolatey path environment variable
W0405 15:16:13.744398 22468 watcher.cpp:391] osqueryd worker (18380) stopping: Maximum sustainable CPU utilization limit exceeded: 12
W0405 15:16:22.838613 23052 init.cpp:616] Error reading config: Request erro

[2022-04-05 13:18] mna commented on #4521
@lukeheath the description in point 5 mentions this:

It's not possible to return anything to the frontend when creating the Jira ticket, as it happens asynchronously. I think those 2 sentences were meant to describe how to respond for the _testing of the jira integration_ and not the creation of the ticket. I think a point 6. should be added for that.

Also see my comment here https://github.com/

[2022-04-05 14:35] mna commented on #4521
@lukeheath One more thing regarding testing the connection - we could also use this to validate that the project key is valid, by making an API call that e.g. fetches project info or something (currently it was just pinging the "current user" jira endpoint to validate that auth is successful and the server's url is valid, but I think we can go one step further and validate the project at the same

[2022-04-05 14:37] Desmi-Dizney commented on #4902
Updated in: https://github.com/fleetdm/fleet/pull/4941

[2022-04-05 14:49] noahtalerman opened #4946 "Improve the understanding of the vulnerability management product"
This issue corresponds to the following Product goal in the Q2 OKRs:

### Goal

As a Fleet user, I want to understand what installed software Fleet collects so that I know what I can rely on Fleet for in terms of coverage when comparing Fleet to other vulnerability management tools.

### Notes

This is important because there are many tools that offer vulnerability management products. Each tool h

[2022-04-05 15:37] mna commented on #2603
@lukeheath heads-up, the PR for this has been merged, the frontend work should be unblocked.

[2022-04-05 15:44] roelo opened #4950 "Vuln data stream not downloaded/ Software and Vul not shown on main page"
After fresh deploy of FleetDm in GCP Kubernetes using the FleetDM docker hub image

Using a persistent volume mounted to the container in a clean deploy on /fleet-cve,  once fleets starts it will not download the vulnerability files , and imho will not show any vulnerability or software information on Fleets home page
Fleet version **4.12.0** but also **4.10.0** and **4.11.0**
Directly is root own

[2022-04-05 15:53] xpkoala commented on #3420
@GuillaumeRoss is this something I could recruit your help with in the next day or two if you have a little bit of free time?

[2022-04-05 16:03] michalnicp opened #4951 "POC: OpenAPI first approach with codegen for server stubs"
#4508

Instead of generating OpenAPI specs from code as proposed in #4508, we should consider writing OpenAPI specs directly, and generating server stubs and go types from that.

- Use https://github.com/deepmap/oapi-codegen for generating server stubs from an existing OpenAPI spec
- Modify the templates to use github.com/go-kit/kit for defining endpoints/routes.
- Investigate [redocly](https://re

[2022-04-05 16:19] #4950 closed

[2022-04-05 16:19] michalnicp commented on #4950
Duplicate of #4792

[2022-04-05 16:28] GuillaumeRoss commented on #3420
I'll make the time for it!

[2022-04-05 16:48] zwass commented on #2322
What if we go with metrics are turned off by default and only enabled if the credentials are provided?

I suspect not many teams are actually using the metrics, so we'll break the fewest installations if we go that way.

[2022-04-05 17:01] lucasmrod commented on #2322
Works too, it's a good trade off between security <-> deployment-ease.

[2022-04-05 17:03] lucasmrod commented on #2322
I've updated the issue description.

[2022-04-05 17:52] noahtalerman commented on #4351
@zwass @GuillaumeRoss I added a link to this issue in the description of the following "Add ability to prioritize vulnerable software" issue: #4512

I think adding known exploit data to the list of vulnerabilities will add a lot of value (maybe the most we can add now) to the ability to prioritize vulnerable software. Thus, I think it makes sense to prioritize adding the data to the Fleet API and

[2022-04-05 18:02] #2053 closed

[2022-04-05 18:06] GuillaumeRoss commented on #4879
No worries, that's what the history is there for, just wanted everyone else to be aware we might have future plans...in the future! (duh)

[2022-04-05 18:13] zwass commented on #4512
I've been learning about [EPSS](https://www.first.org/epss/model) and I think we should strongly consider using it for prioritization of vulnerabilities.

There's some helpful discussion of how to present EPSS scores in https://www.first.org/epss/articles/prob_percentile_bins.

[2022-04-05 18:14] zwass commented on #4261
Fleet 4.13.0 will ship with this query optimization. Let's see how it goes.

[2022-04-05 18:24] zwass commented on #1980
Closed by fleetdm/fleet-infra#2.

[2022-04-05 18:39] xpkoala commented on #4799
@lukeheath On the "Queries" tab the checkbox is cut in half and a user is unable to interact with the component.

Here is a short video of the issue. https://www.loom.com/share/cdd13102ae4a431280bfeeb92df2cfae

[2022-04-05 18:49] timmy-k commented on #4247
@mike-j-thomas what should we do with this considering you're no longer leading the growth team? Should I take this?

[2022-04-05 18:51] zwass commented on #3850
Sorry I'm just catching this comment now, though I think we may have discussed separately?

A few thoughts:

- In particular for patch releases, we might like to be able to release Orbit and Fleet independently.
- Releasing both at the same time makes it more difficult to track down new issues with a deployment (eg. 5.3.7 was released last week and now there's an issue -- was it caused by changes

[2022-04-05 18:54] timmy-k commented on #4641
Mike requested "If you can listen to one of their past episodes for me, and make me a "top 5 tips and talking points" to give me a vibe and keep me on point, that would be helpful"

Working on this now

[2022-04-05 19:47] timmy-k commented on #1032
@mike-j-thomas this one is complete, right? Looks like we already have our doc search powered by Algolia

[2022-04-05 19:49] timmy-k commented on #987
@mike-j-thomas it looks like we already have this for most of the documentation, should this one be closed?

[2022-04-05 20:22] mikermcneil commented on #4547
Recommendation: modify SQL to achieve this

[2022-04-05 20:22] #4547 closed

[2022-04-05 20:24] mikermcneil commented on #4838
We are unable to tell from our notes where this request came from.

[2022-04-05 20:26] mikermcneil commented on #2181
This was a request from a community member that I excitedly tagged incorrectly.

[2022-04-05 20:26] mikermcneil commented on #905
This was a request from a community member that I excitedly tagged incorrectly.

[2022-04-05 20:56] mikermcneil opened #4956 "fleetdm.com compiler script does not properly handle markdown URLs which end in a parenthesis"
## Goal
fleetdm.com compiler script does not properly handle markdown URLs which end in a parenthesis

For example:
<img width="547" alt="image" src="https://user-images.githubusercontent.com/618009/161847733-3f925391-45a2-461e-b915-c9211e9788e6.png">

Is incorrectly compiled into:
<img width="419" alt="image" src="https://user-images.githubusercontent.com/618009/161847788-2f9ef117-e9f0-4aae-99e3-

[2022-04-05 21:20] timmy-k commented on #986
@mike-j-thomas added this to the "ready" column of digital experience, that sound about right for your process?

[2022-04-05 22:18] cjwalton commented on #4512
@zwass - I was not familiar with EPSS until I read your comment, but that is **exactly** how I think about how vulnerability management should be addressed. Thanks for surfacing this and yes - this is a super forward-thinking way that Fleet should look at this.

[2022-04-05 23:10] #4956 closed

[2022-04-05 23:45] #4372 closed

[2022-04-06 02:13] mikermcneil opened #4964 "Make it easier to copy a deep link URL for any handbook section"
<img width="460" alt="image" src="https://user-images.githubusercontent.com/618009/161882027-99b7dd16-ce4d-4f62-b8bc-c9088df5dc9d.png">

## Why?

Then we will use this more to link folks to direct headings in the handbook.  (Currently, you have to know to manually type the kebab-cased heading slug into the fragment part of the URL, i.e. `#how-to-write-headings-subheadings`, which isn't very access

[2022-04-06 03:01] mikermcneil commented on #4372
![image](https://user-images.githubusercontent.com/618009/161887421-846e727c-ac18-40fb-9438-e027e9427abe.png)

@eashaw For the sightseeing tour call

[2022-04-06 03:02] mikermcneil commented on #4372
@eashaw Could you or @CharlotteChance handbook this and link to the relevant heading from the calendly event type agenda?

[2022-04-06 13:48] mna commented on #4521
Note that a potential optimization (not for this initial release for sure) would be to use the "bulk creation of issues" Jira API: https://developer.atlassian.com/cloud/jira/platform/rest/v2/api-group-issues/#api-rest-api-2-issue-bulk-post

[2022-04-06 14:07] RachelElysia opened #4966 "Frontend Tech Debt: Create global component for reused Error states"
### Goal

TODO

- Organize directories and naming conventions to include error states
- Consolidate code that uses the same error state
~~- Consolidate code that uses the same empty state~~ (Couldn't find a good empty state reusable component)

### How?

Example:
`components/PageError/PageError.tsx `is the exact same code as `components/TableDataError/TableDataError.tsx`
<img width="1267" alt="Scr

[2022-04-06 14:10] GuillaumeRoss opened #4967 "Add an example of a policy checking for software being either up to date OR not installed"
### Goal

TODO
There are many cases when one might want to check that IF something is present, it exhibits some characteristic.

For example, I would like to set up a policy that checks that Docker is up to date, but I don't want the policy to fail on the laptops of people who don't use Docker.

I need the policy to **succeed** if Docker is installed and on version X or newer, or if it's not insta

[2022-04-06 14:11] GuillaumeRoss commented on #4871
@tokcum For the "software up to date or not installed" use case, I created #4967 - and I will be posting an example query in the next few minutes. Thanks for the suggestion!

[2022-04-06 15:45] tokcum commented on #4967
@GuillaumeRoss Thank you. Your query works and is definitely easier to read then my query which is bloated by a double negotation.

So, this was my former query.

[code]

Thanks to your advice, I switch to the following query, which is by the way more powerful as it looks for versions equal or newer.

[code]

Like!

[2022-04-06 15:45] mna commented on #4521
@lukeheath @noahtalerman Apart from the missing Jira instance (so we could test API calls against), I believe there's only one thing blocking completion of the Jira integration feature from a backend perspective, and that's the link that we want to include in the Jira ticket:

[code]

I don't know if you've heard about this already, as @michalnicp did raise the issue (with Zach, I believe) when he

[2022-04-06 15:59] xpkoala commented on #4537
@RachelElysia Could we set up a time for a short video chat to go over expectations for tab behavior on Chrome? I do see that new functionality has been added, but I'm a little lost on if some of the minor issues I'm seeing are related to changes or something that will be tackled later.

[2022-04-06 16:37] noahtalerman opened #4969 "Provide obvious value out of the box with Fleet"
## Objective

Deliver a simple, trustworthy, actively-used product that works every time.

## Key result

Provide obvious value and minimal cruft out of the box with Fleet by including only ≤10 built-in queries (all of them policies) by default in new Fleet installations, and include only those built-in policies as visible by default on fleetdm.com/queries.

### Sub OKRs

TODO

[2022-04-06 16:50] noahtalerman opened #4970 "Fleet sandbox"
## Objective

Grow revenue with a repeatable customer experience on top of a popular brand.

## Key result

Reduce time to value with a publicly available for self-service demos environment on fleetdm.com, which includes one-click-to-download agent installers for every supported OS-- no CLI, custom certificates, signing, or special right-clicking needed.

## Measured by

2 users successfully enrol

[2022-04-06 16:56] lukeheath opened #4971 "Upgrading Fleet works every time"
## Objective

Deliver a simple, trustworthy, actively-used product that works every time.

## Key result

Upgrading Fleet works, every time (none of the new releases cause failed migrations, corrupted databases, or noticeable regression in performance)

## Issues

[2022-04-06 16:57] noahtalerman opened #4972 "Get error telemetry"
## Objective

Deliver a simple, trustworthy, actively-used product that works every time.

## Key result

Get error telemetry from any deployment of Fleet reporting usage.

### Issues

TODO

[2022-04-06 16:59] lukeheath opened #4973 "Fix or document gotchas for osquery tables - Mac"
## Problem
Not all osquery tables are working. This is causing customer complaints and embarrassing failures during demos.

## Goal
Identify which tables are failing. Then, make decisions about what to do with each table. Options:
- Fix it
- Fix it partially, document gotchas
- Do not fix, but document gotchas
- Do not show in Fleet
- Remove from osquery if totally unfixable

## Child Issues
Fix
-

[2022-04-06 17:24] lucasmrod commented on #4934
Hi @jcetina, we are working on #2322 which will fix this. (The `/metrics` endpoint will be disabled if HTTP Basic Auth credentials for Prometheus are not set on Fleet.)

[2022-04-06 19:30] RachelElysia commented on #4537
Of course, I don't have a free hour until Monday if that's ok -- feel free to list it out here if it's going to be a fleeting memory until then! @xpkoala

[2022-04-06 19:31] lukeheath commented on #4521
@mna

You are correct, that is intended for when we are testing a connection. I have updated the description to include item 6.

It should test a Jira integration when it is added or when credentials change. This ensures we only save Jira integrations we have confirmed to be working. It does not matter if the integration is enabled or disabled, as we will only make this check when it is added or c

[2022-04-06 19:58] mna commented on #4521
@lukeheath  @noahtalerman @chiiph

Ok, I will change it as currently it only tests the _enabled_ integration. Agree about how that PATCH /config endpoint is starting to show its limitations.

Happy to report that it works with the project key alone.

For that part, we'll go with what was discussed with @zwass at standup - create a Jira ticket for each CVE+CPE tuple, so that each ticket has a singl

[2022-04-06 20:02] mna opened #4977 "The hosts page needs to be able to filter hosts by CVE"
### Goal

The GET /hosts endpoint can filter by CVE, showing only hosts with software affected by that CVE.

### How?

Currently, that endpoint supports a filter by `software_id`, but a software can have multiple CVEs, and a CVE can affect multiple software, making it impossible to view the full list of hosts affected by a specific CVE. This came out during the work on Jira integration, see this c

[2022-04-06 20:16] noahtalerman commented on #4521
@mna this sounds like a great solution to me.

Thank you for looping me in with @ mentions. Thank you for filing the issue!

[2022-04-06 20:24] GuillaumeRoss commented on #3420
From our call:

1) Full Disk Access is required, but this can be confusing as if it WAS enabled, the table might already have events in it. When testing let's make sure the events are fresh.
2) `disable_events` and `disable_endpointsecurity` must both be set to false. This can be done on the instance or in a specific team. Example below.
3) The best way to check if full disk access is granted is t

[2022-04-06 23:48] mikermcneil commented on #4671
@hollidayn @CharlotteChance Y'all I think the sooner we can get this stubbed out on each handbook page, the better.  (To avoid having to move more things like this: https://github.com/fleetdm/fleet/pull/4978#pullrequestreview-934281316)

[2022-04-07 00:19] mike-j-thomas commented on #4323
Schedule time with Mike M to go over how to deliver the blog technically.

[2022-04-07 01:24] mike-j-thomas commented on #4323
@eashaw. We're ready to implement articles on the site and migrate our existing articles over. Figma design is [here](https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=3618%3A12571). We will be releasing the article details page **only**for the first release. Category page, search, and filters to come later.

See the issue description above for article categories, URL structure, and links

[2022-04-07 07:47] mike-j-thomas opened #4981 "Fix alignment bug between p tags and links on /logos"
Fix alignment bug between p tags and links on [/logos](https://fleetdm.com/logos)

<img width="715" alt="Screen Shot 2022-04-07 at 16 48 20" src="https://user-images.githubusercontent.com/78363703/162147905-6dc96afb-b258-4ded-9fda-e2907e45f4e4.png">

[2022-04-07 07:51] mike-j-thomas opened #4982 "Update downloadable screenshots for /logos"
The downloadable Fleet screenshots on [/logos](https://fleetdm.com/logos) are now out-of-date.

[2022-04-07 08:22] mike-j-thomas opened #4983 ""This is Fleet" video for the homepage and YouTube."
### GOAL
Create an introductory video of Fleet to include on the website.

### HOW
- [ ] Decide who we are speaking to?
    - Is it a catch-all video for the homepage, or will we target a specific niche?
    - If Zach does it it will be geared towards pure security,
    - If Mike does it will probably be more towards macAdmin SysAdmin.

- [ ] Create a script (Maybe get Ashley to help. That way we

[2022-04-07 08:29] mike-j-thomas opened #4984 "(2023/09/01) License dispenser - feed CC transaction details into Salesforce/Quickbooks"
### GOAL
License dispenser improvements: after completing the CC transaction, details are fed into our back office system - Salesforce/Quickbooks.

### HOW
- [ ] TODO @eashaw

[2022-04-07 08:34] mike-j-thomas opened #4985 "Migrate "Why Fleet" content from the handbook to the homepage"
- [ ] Find a new home for the content from handbook/why-fleet.md

From Mike T: Much of this is now on /Platform. The main headings could be added to the homepage with a paragraph summary under each one.

https://github.com/fleetdm/fleet/blob/8c7155aba16812dc6a9f2ab1c63a44ea2fa15dcc/handbook/why-fleet.md

[2022-04-07 08:37] mike-j-thomas opened #4986 "/handbook search."
Add Algolia search to the handbook.

**EDIT**: @mikermcneil: If we can't use Algolia, let's wait on implementing handbook search.

[2022-04-07 08:37] #4986 closed

[2022-04-07 08:39] mike-j-thomas opened #4987 "/docs - sticky side navs."
### GOAL
Improve the docs UX. This would be particularly useful on the REST API page.

### HOW
- [x] Add some JS wizardry to make it so.

[2022-04-07 08:52] mike-j-thomas opened #4988 "Update Fleet YouTube ident."
### Goal
We can make our Fleet ident a little classier. The current one is a little large (see [Make My Logo Bigger Cream](https://www.youtube.com/watch?v=qgcX0y1Nzhs) 😘)

### How
We have one ready to go in our AE archives.
- [x] Export existing Fleet ident from AE.
    - Make sure to export at the correct aspect ratio for our YouTube videos, paying attention to the scale and position of the logo.

[2022-04-07 11:44] gavinelder commented on #2322
This would probably close down the linked issue in https://github.com/fleetdm/fleet/issues/3614

[2022-04-07 13:55] GuillaumeRoss opened #4990 "Add a policy query to detect unencrypted SSH keys."
### Goal

TODO
There are different policies people apply to systems. Some of them should never have SSH keys on them (private), some of them should only have encrypted ones. On workstations, the latter is usually true.

Having a default policy for checking this would be useful, but not a common enough use case to go in `constants.ts`

### How?

- [x] Create the policy
- [x] Apply it in Dogfood
- [

[2022-04-07 14:02] noahtalerman opened #4991 "Measure adoption of the vulnerability features"
### Goal

As a Fleet contributor, I want to be able to measure the adoption of vulnerability features in Fleet so that I can track the progress of the [Improve the usability of the vulnerability management product](https://github.com/fleetdm/fleet/issues/4928#) objective.

### How?

- [ ] Using the anonymous usage statistics, at the start of Q2 2022 measure the number of hosts in Fleet deployments

[2022-04-07 14:29] noahtalerman commented on #4512
@chiiph I'm passing this issue's assignment to you. Can you, or another engineering team member, please check out the feasibility for adding data like CVSS scores, known exploits, and EPSS scores to vulnerabilities in the GET /software API route ?

This way, product can then take this research and determine how we'd like to display this data.

Links to sources for this data are included in the "Da

[2022-04-07 14:29] noahtalerman commented on #4512
@chiiph I'm passing this issue's assignment to you. Can you, or another engineering team member, please check out the feasibility for adding data like CVSS scores, known exploits, and EPSS scores to vulnerabilities in the GET /software API route ?

This way, product can then take this research and determine how we'd like to display this data.

Links to sources for this data are included in the "Da

[2022-04-07 14:45] timmy-k opened #4993 "Launch Facebook, Linkedin, &/or Google Advertising by 4/21"
One of growth's OKRs for Q2 2022- https://docs.google.com/spreadsheets/d/1tFsVzX3aqfTdtnuQfYkODdkX8nDEZQ4IHxNNOIayrE0/edit?usp=sharing.

### Goal
Launch advertising that gains 12 MQOs by 4/21

### How
- [x] Launch LI ads and close this issue— https://github.com/fleetdm/fleet/issues/5269
- [x] Launch Google Ads and close this issue— https://github.com/fleetdm/fleet/issues/5272

[2022-04-07 14:50] timmy-k opened #4994 "Craft 4 sales outreach email & LinkedIn templates in a google doc by 4/28"
### Goal
To give sales outreach template they can test against their own content to effectively close companies they reach out to

### How
- [x] Review positioning doc to get in the mindset of our personas and craft an effective pitch
- [x] Write templates
- [x] Review
- [x] Send to Andrew
- [x] Write SLs for outreach emails— 2 - 3 a piece
- [x] Write 2 more LI messages— 3 sentences, middle senten

[2022-04-07 15:12] timmy-k opened #4995 "Craft generic, attractive 1-pager PDF designed for prospects to read asynchronously by 4/28"
### Goal
Give prospects sales materials that address their needs and differentiate Fleet from similar solutions before sales begins outreach

### How
- [x] Review positioning doc to get in the mindset of our personas and craft an effective pitch
- [x]  Write templates
- [x]  Review with Mike
- [x]  Review with Andrew
- [x]  Send to Andrew
- [x] Publish in handbook

[2022-04-07 15:14] timmy-k opened #4996 "Craft generic, attractive Sales Deck designed for prospects to read asynchronously by 4/28"
### Goal
Give prospects a sales deck that address their needs and differentiate Fleet from similar solutions before sales begins outreach

### How
- [x] Review positioning doc to get in the mindset of our personas and craft an effective pitch
- [x]  Write templates
- [x]  Review (with who?)
- [x]  Send to Andrew
- [x] Add outreach deck to handbook

[2022-04-07 15:23] timmy-k opened #4997 "Establish process to accurately reflect "schedule demo" subs in Salesforce opportunities with necessary source and enrichment data by 4/30"
### Goal
"Establish process that results in, by April 30, all new requests to schedule a demo being accurately reflected in Salesforce opportunities; including correct "lead source", "up to # hosts" (using, at least, an up-to-date estimate), as well as the standard enrichment fields (including "LinkedIn URL", etc)"

### How
- [x] Find a way to create submissions in SF as leads
- [x] Find a way to

[2022-04-07 15:25] Desmi-Dizney commented on #4821
@eashaw How would I edit the onboarding to add the link for this?

[2022-04-07 15:32] michalnicp opened #4998 "Filter hosts by CVE"
### Goal

Related to #4521.

A CVE can affect multiple software (and versions) on multiple hosts. When creating jira issue, it is currently not possible to provide a link to the manage hosts or manage software page to show all affected hosts/software related to the cve.

- On the `/hosts/manage/` page, you can filter by software_id, but not by cve directly.
- On the '/software/manage` page, you ca

[2022-04-07 15:41] gillespi314 opened #4999 "Document client-side search, filter, and sort for UI tables for dev team"
Add `README` to `DataTable` to document how to implement client-side search, filter, and sort for dev team

[2022-04-07 15:49] noahtalerman commented on #4521
@lukeheath @chiiph @mna @michalnicp I just became aware that this change would make the Jira issue inconsistent with the webhook request.

I didn't understand this when I read the proposed change initially. This is my mistake.

In this iteration, I'd like to include the list of hosts in the Jira ticket and to not include any links to the **Hosts** page with the software filter applied.

This is be

[2022-04-07 15:53] #4821 closed

[2022-04-07 16:04] lukeheath commented on #4819
@xpkoala Heads up, when testing this ticket here are some notes from the PR that Martavis added:

**NOTES FOR TESTING**
This PR removes redux from the authentication flow. Testing these flows is crucial:
* Logging in
  * Email/Password
  * Reset password (self)
  * Require reset password (teams)
  * SSO
* Registration
* Resetting sessions
* Updating organization settings
* Updating profile
  * Cha

[2022-04-07 16:19] xpkoala commented on #4819
I appreciate the detailed list! Thank you @lukeheath

[2022-04-07 16:21] timmy-k opened #5003 "Landing page for people clicking ads + and a way of handling the "signup for a demo" form that results in the MQO getting created into Salesforce by April 14"
### Goal
Create the best user experience by creating a page specifically for people clicking ads, while also including "signup for demo" and passing that lead to salesforce

### How
- [x] Growth to assemble some example pages from our industry
- [x] Growth to come up with copy concepts and rough wireframe
- [x] Digital experience to provide revision feedback for page
- [x] Digital experience to bu

[2022-04-07 16:23] timmy-k commented on #5003
@mike-j-thomas I'm sure you've seen this but we'll need to collaborate. I've put this on both boards so we can do that.

The first two todos we'll probably do, and then we'll come to you tomorrow (ideally) or Monday for you to begin your part of the process

[2022-04-07 16:23] Desmi-Dizney commented on #4902
closing

[2022-04-07 16:23] #4902 closed

[2022-04-07 18:16] zwass commented on #3614
@gavinelder as you mentioned, #2322 will cover the metrics endpoint.

Even if we make the `/version` endpoint authenticated, it will still be possible to get the Fleet version by looking at the cache-busting value on the css/js served by fleet (eg. Fleet 4.11.0 serves `/assets/bundle-0a20f5b7670ecfb66a81.css`, Fleet 4.12.1 serves `/assets/bundle-c54e1baaad4a18cd09b7.css`. I'd prefer to leave `/ver

[2022-04-07 18:43] DrewBakerfdm commented on #5003
@timmy-k

Any wireframing that we'll be doing, I think I found a good spot for it here:
https://www.figma.com/file/Jzo81K6E4jC0mcjD4JsWM8/?node-id=1702%3A5319

This is under the Fleet website scratchpad

[2022-04-07 18:53] xpkoala opened #5005 "Display active query instead of schedule name when editing a schedule"
**Fleet version**: `main`

**Operating system**: 12.2.1

**Web browser**: 15.3
<hr/>

### 🧑‍💻  Expected behavior
When editing a schedule the schedule name should reflect the current query it is associated with.

### 💥  Actual behavior
The schedule name is associated with the query it was first created with.

### More info

This is a frontend change only.

/schedule/manage

Attached is a loom video

[2022-04-07 19:05] timmy-k opened #5006 "Drive 12 MQOs from organic web traffic by 6/30"
### Goal
Drive 12 MQOs to help fill sales pipeline from growth. Current plan is to drive these from organic search, but another option is to get better at converting existing web traffic

### How
- [x] Consider which path to take (this includes tracking traffic on GA for a couple weeks)
- [x] Workshop content ideas
- [x] Launch 1 - 2 new top-level webpages to capture short tail organic search traf

[2022-04-07 19:12] zwass commented on #5005
@noahtalerman @xpkoala when thinking about this, we should consider how the name appears in the resulting osquery logs. Will it possibly break any log aggregation or other integrations that users have set up if the schedule name changes?

[2022-04-07 19:49] xpkoala commented on #4931
@chiiph @zwinnerman-fleetdm Are there any performance concerns to adding the <computer_name> field to the searchable criteria on the hosts, query target, etc pages?

Is there a way we could test this out in the load test environment?

[2022-04-07 19:53] noahtalerman commented on #4753
@ducna96 sorry you're experiencing this problem.

What kind of hosts (Docker containers, AWS EC2 instances, or something else) are displaying `localhost` as their hostname?

[2022-04-07 20:03] zwinnerman-fleetdm commented on #4931
We would need to add it to this index: ````FULLTEXT KEY `hosts_search` (`hostname`,`uuid`),``` But in general this is not a source of load at this time.

This can be tested in loadtesting if a branch with the change is pushed to github by following the readme in the loadtesting folder.

[2022-04-07 20:25] xpkoala opened #5008 "Assess how to sort Host detail vital boxes"
### Goal

Determine how the host vitals are displayed. Alphabetical? OS specific?

![Screen Shot 2022-04-07 at 3 24 46 PM](https://user-images.githubusercontent.com/11012743/162289896-bfc2330c-9dac-463d-98c6-22882496b626.png)

[2022-04-07 21:17] noahtalerman commented on #4883
- How many people are successfully using policies?
- How many people are successfully using vulnerability processing?
- How many people are successfully using Fleet Desktop?

[2022-04-07 23:33] zwass commented on #4934
Closing in favor of #2322 (which should ship in 4.13.0).

[2022-04-07 23:33] #4934 closed

[2022-04-08 01:10] lukeheath commented on #4864
QA: Please reference Rachel's notes on the related [PR](https://github.com/fleetdm/fleet/pull/4939). We're starting a form refactor issue and will address the remaining items as part of that effort.

[2022-04-08 01:16] lukeheath commented on #4419
@martavis Thanks for checking. Yes, this is ready to go. I've removed the blocked tag.

There are two endpoints we were not able to update to the new format that will need to be accounted for. Details at #4514.

[2022-04-08 01:24] lukeheath commented on #4436
@martavis Is there anything specific that should be QA'd for this ticket? There is a general smoke test on all components for each release that should catch anything this ticket changed. If so, we can move this straight to "Ready for Release".

[2022-04-08 05:39] timmy-k opened #5011 "Reach out to 15 conferences about sponsorship per month and sponsor at least one additional relevant conference / month"
### How
- [x] Build list of conferences— https://docs.google.com/spreadsheets/d/1IzpoIfTc7cqc9g8w20fQfap3GFcrqgOaiPrpCkowcvA/edit?usp=sharing
- [x] Reach out
- [x] Consider options
- [ ] Buy
- [ ] Send creatives/materials
- [ ] Evaluate results

[2022-04-08 08:36] mike-j-thomas commented on #5003
Hey @timmy-k. Where are the ads currently pointing to? [/platform](https://fleetdm.com/platform) is currently our strongest page content-wise. Design-wise is probably also more suitable for a land page.

- Timeframe - We're currently in the process of migrating the blog, and building out pages related to that.
- I think a higher priority might be to improve the homepage now that we have a better p

[2022-04-08 11:24] lucasmrod commented on #3400
In #3521 we fixed the "no logs" on Windows issue. (There's no need to manually execute the binary anymore.)

There's now a section in Orbit's README.md for troubleshooting with the location of Orbit+Osquery logs:
https://github.com/fleetdm/fleet/blob/main/orbit/README.md#troubleshooting

[2022-04-08 11:32] DominusKelvin commented on #3400
Thanks for clarifying this @lucasmrod I'll go ahead and close this issue.

[2022-04-08 14:08] noahtalerman opened #5014 "Blog post: Fleet 4.13.0"
Fleet 4.13.0 is scheduled for release on 2022-04-14

### Goal

Prepare and publish the release blogpost for Fleet 4.13.0 so that anyone in the Fleet/osquery community can understand the latest improvements.

### Primary improvements
Fleet Premium: Add ability to configure policy automations at the team level: #3269
  - This way, I can tell Fleet to create separate tickets for misconfigured servers

[2022-04-08 14:09] noahtalerman commented on #5014
@mike-j-thomas heads up, I'm passing this "release blog post" issue to you and moving the issue into the digital experience board.

If needed, can you please pass this issue to the responsible individual on the digital experience team? Thanks :)

[2022-04-08 14:58] lukeheath opened #5015 "Invalid query results in 500 error in Fleet UI"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`
<hr/>

### 🧑‍💻  Expected behavior

Add a query with invalid sql syntax to the database. If you aren't comfortable editing the database directly, you can also create a yaml file for new query spec and use `fleetctl apply -f <invalid-query-spec.yml>` to add the query to fleet.

Open the UI and go

[2022-04-08 15:18] mike-j-thomas commented on #5014
Roger that, thanks.

[2022-04-08 15:24] martavis commented on #4436
@lukeheath Nothing specific.

[2022-04-08 15:26] xpkoala commented on #4931
Thank you @zwinnerman-fleetdm.

Note to Reed and @noahtalerman : We need to revisit where all changing <hostname> to <computer_name> could cause a breaking change in the api. As examples, web hooks, logging, etc. A good place to start looking for these issues would be searching https://fleetdm.com/docs/using-fleet/rest-api#hosts for <hostname>.

If we are doing a breaking change, we should conside

[2022-04-08 15:26] lukeheath commented on #4436
Sounds good, moving this to ready for release.

[2022-04-08 16:14] lailtonmontenegro commented on #4860
Omg, first sorry for my delay @GuillaumeRoss. :)

got it! it worked here, tks for your answer.

[2022-04-08 16:18] timmy-k commented on #5003
@mike-j-thomas one thing I'm noticing; do we have a phone number for sales. @alphabrevity can you answer this question?

It could be a good idea to add it the page. The scuttlebutt is that it can build trust, even if people don't really call it. Not required or super important right now, but for brainstorming purposes could be good to add.

[2022-04-08 17:15] tgauda opened #5017 "Documentation for Ticket destinations and Fleet Desktop"
As a Ticket destination (Jira and Zendesk) and Fleet Desktop beta user, I would like to have documentation available that I can reference for help/questions that explain expected functionality and basic usage information. For instance, where to find the application after it launches.

[2022-04-08 17:29] GuillaumeRoss commented on #4860
No problem!

I had based that one off of more complex policies where we score things but you can do it with an even simpler type of query:

```SELECT 1 WHERE NOT EXISTS (SELECT 1 FROM apps WHERE bundle_identifier = 'com.valvesoftware.steam');```

[2022-04-08 18:43] timmy-k commented on #5003
@mike-j-thomas might be ideal if we noindex the page as well, FWIW, so we can silo where traffic goes to make sense of results. And then maybe we make the page /g or something, just so we can watch all the growth landing page traffic.

[2022-04-08 19:55] gillespi314 opened #5019 "Refactor TypeScript interfaces for API services"
Why?
We can improve the contributor experience working with `frontend/services` by relocating type definitions for requests and responses to from `/interfaces` to the `/services` file for the applicable API, which will keep the typing closer to the underlying concern.  This will also facilitate typing of the promises being returned by the service methods and will improve ease of usage of the servi

[2022-04-08 22:00] #3400 closed

[2022-04-08 22:08] lucasmrod opened #5020 "Team admin incorrectly creates user on all teams its admin of"
**Fleet version**: `main`, commit cda5246bd05acdf0c3ba724da88e77c5b8f65166

<hr/>

Logged in user is admin of team X and Y.
As a team admin of team X I create a user Alice on such team.

### 🧑‍💻  Expected behavior

Alice is member of team X.

### 💥  Actual behavior

Alice is member of team X and Y.

### More info

https://www.loom.com/share/3a16b3bc3ea14017915fca90334cdaea

[2022-04-08 22:20] timmy-k opened #5021 "Set up a process for creating articles"
One article per week target
Hand over release post
Find someone to Mr. Roger text
Tim has a spreadsheet he uses for this

• Come up with an article idea idea
• Identify goals
• Draft/skeleton article
• Review session with Mike M & Mike T to fill in gaps if needed
• Fact check with Guillaume if needed

### How
- [x] Create process to suggest ideas to devrel, security, engineering, etc
- [ ] Codify

[2022-04-08 22:22] timmy-k commented on #5021
@DrewBakerfdm or @mike-j-thomas what I've seen is just these being published on a weekly basis, do we need to document this process? If so happy to get involved. And if not I'd love to understand the process better

[2022-04-08 22:36] timmy-k opened #5022 "Make linkbuilding strategy"
### Goal
_Increase longtail content SERP rankings by building links_

We'll want some kind of regular strategy to build links to our longtail content.

Which sites like quora, forums, etc. and which social media trends present an opportunity to build links that will add value to readers and generate upvotes so search engines see value signals?

Reference: https://www.searchenginejournal.com/social

[2022-04-08 22:41] timmy-k opened #5023 "Are there any MacAdmin subreddits that we can be hitting?"
Currently we are hitting the following: r/sysadminblogs r/osquery r/netsec  TODO: Research potential MacAdmin subreddits.

[2022-04-08 22:43] timmy-k opened #5024 "Exploring Twitch and YouTube Live"
"Drew Please can you fill in this card with what you and Kelvin were proposing in Growth.  Pros of doing it, and pitfalls that you can think of (ie. bandwidth, time to setup and moderate etc.)"

[2022-04-08 22:53] timmy-k opened #5025 "Explore Twitter Newsletters"
https://techcrunch.com/2021/10/22/revue-now-lets-you-subscribe-to-newsletters-directly-on-your-twitter-timeline/

[2022-04-08 22:56] timmy-k opened #5026 "Ask top contributors to make guest blog posts"

[2022-04-08 22:56] timmy-k commented on #5026
@DrewBakerfdm have we done anything list this? Came up as a random idea

[2022-04-08 22:57] timmy-k opened #5027 "Promoting/boosting posts on Twitter"
A $50 budget for boosting a post on Twitter e.g. blog posts that we want to get eyes on - for some of our articles.
Twitter “look-a-like audiences” - could potentially follow target audiences of accounts/influencers that we look up to e.g. Whitney.
Keywords
Interested (Twitter’s pretty generic, but they have “Network security (18.5m global audience”).
Bear in mind that boosted posts (and ad words)

[2022-04-08 22:58] timmy-k commented on #5027
A $50 budget for boosting a post on Twitter e.g. blog posts that we want to get eyes on - for some of our articles.
Twitter “look-a-like audiences” - could potentially follow target audiences of accounts/influencers that we look up to e.g. Whitney.
Keywords
Interested (Twitter’s pretty generic, but they have “Network security (18.5m global audience”).
Bear in mind that boosted posts (and ad words)

[2022-04-08 23:00] timmy-k opened #5028 "Define and document clearer examples of how best to write as Fleet when promoting on social media"
Things like:
• be specific/deliberate in what you say
• Avoid vague closing statements e.g. "and more" Instead, opt for a clear call to action whenever possible, such as "for more info about X check out Y (Y being our release post, or whatever we are promoting.)
• It's always tempting to use "and more" as a means to sound more impressive. To me, it's a crutch that we shouldn't rely on. Instead, fo

[2022-04-08 23:01] timmy-k opened #5029 "Process for tracking ongoing ritual of reaching out to content creators"
blogs, videos, instagram accounts, anybody with an existing following.

HOW:
- [ ] Track via "Active partnership outreach" spreadsheet (See Drew's spreadsheet that he uses for his other clients)

[2022-04-08 23:01] timmy-k commented on #5029
@DrewBakerfdm do we have this already? I'm sure this is just the inputs and outputs sheet now right?

[2022-04-08 23:03] timmy-k opened #5030 "Codify and enact our engagement, publishing, and homesteading plans"
osquery slack, macadmins slack, linkedin, hackernews, reddit, stackexchange, twitter, quora, facebook, instagram, tiktok  (what else am I missing?)

[2022-04-08 23:08] timmy-k commented on #4787
@mike-j-thomas Ok, I've taken everything that seems appropriate to take from the legacy growth plan board for growth. I left everything that you might want to include. In cases where they seemed relevant I turned notes into issues in the backlog.

Do you want to take a look at everything else and, once you've removed what you need, close the board? I'm going to make you the new assignee but feel f

[2022-04-09 07:03] mikermcneil opened #5033 "💬 #help-mission-control: [public] Get every fleetie’s Zoom name to appear in the s..."
## Goal
[code]

## How?
- [ ] TODO

[2022-04-09 16:10] gavinelder commented on #3614
Happy to close.

[2022-04-09 16:14] #3614 closed

[2022-04-10 02:11] mike-j-thomas commented on #5003
@timmy-k, thanks for jogging my memory. I'm adding some info here that you may, or may not be aware of. The original goals for the ads were:

/handbook/company - to show that Fleet is alive and thriving. Ad targeting folks searching Kolide Fleet because at the time of forking Fleet there was talk online about the Fleet project being abandoned after Kolide stopped maintaining it.

/queries - to giv

[2022-04-10 15:45] stephanmiehe commented on #5015
Maybe it's done under a separate GitHub issue but I'd also like to see `fleetctl` throw an error if an invalid query is being pushed to fleet so that broken data doesn't make it into the ecosystem.

[2022-04-11 02:28] mike-j-thomas commented on #5003
@timmy-k, still catching up after my vacation and didn't realize that this OKR was due so soon (14th April). Let me know if you need help content-wise, and we can prioritize getting the page template above re-jigged. Chat to you more when we meet for office hours, but give me a shout on here for any a-sync requests 👍🏻

[2022-04-11 02:43] ducna96 commented on #4753
OpenStack Nova and VMware Virtual Platform :D

[2022-04-11 03:47] mike-j-thomas opened #5034 "Q2 2022 Digital Experience OKRs"
See [Q2 2022 OKRs](https://docs.google.com/spreadsheets/d/1tFsVzX3aqfTdtnuQfYkODdkX8nDEZQ4IHxNNOIayrE0/edit#gid=0&fvid=1410316692) here, and remember to update progress on that spreadsheet.

## v4.13.x
- [x] 💓 https://github.com/fleetdm/fleet/issues/5003
- [x] 💓 Content strategy and layouts for Fleet articles, including call to action of each blog post (probably to join the Slack channel), propose

[2022-04-11 03:53] mike-j-thomas opened #5035 "Partner with Sales to construct “first reply and thank you” blurbs"
## Goal:
Create "first reply" and "thank you" blurbs for Sales.

## How:
- [x] Talk with @alphabrevity (Andrew B) and figure out what content needs to be written.
- [x] Collaborate with Mike T as needed
- [x] Review the final draft with Mike T and handover to Sales.

## Reference:
Relates to [Q2 2022 Digital Experience OKRs](https://github.com/fleetdm/fleet/issues/5034)

[2022-04-11 04:01] mike-j-thomas opened #5036 "On fleetdm.com, sign up for Fleet Sandbox"
Part of the [Q2 Digital Experience OKRs](https://github.com/fleetdm/fleet/issues/5034)

## Goal
Reduce the time to value for new Fleet users by creating a Fleet sandbox.

## Related

Epic: #4970
Fleet UI: #5723, #5902
PR: https://github.com/fleetdm/fleet/pull/6380

## Figma

/get-started: https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=794%3A373

## Needs updated wireframes
- [x] @mike-

[2022-04-11 04:19] mike-j-thomas opened #5037 "Invite website chat users to join osquery/#fleet Slack"
## Goal
We want to get more people who are asking questions in the website chat to continue on to the osquery/#fleet Slack.

## How
- [x] Finish every website chat conversation with an invitation to join osquery/#fleet in slack.

## Refence
Relates to [Q2 2022 Digital Experience OKRs](https://github.com/fleetdm/fleet/issues/5034)

[2022-04-11 04:28] mike-j-thomas opened #5038 "Set up a process for reading through and suggesting edits to two documentation pages a week"
## Goal
We want the content on [/docs](https://fleetdm.com/docs) to be (a) correct, (b) minimalist, and (c) written such that anyone can read it, with the word count reduced by 20%.

## How
- [x] Set up a process for reading through and suggesting edits to two documentation pages a week.
- [x] Collaborate with @mike-j-thomas if necessary
- [x] Set up a quick meeting with @mike-j-thomas to review
-

[2022-04-11 04:41] mike-j-thomas commented on #5038
Note to self: Assign this to @Desmi-Dizney at the next release planning cycle.

[2022-04-11 05:00] mike-j-thomas opened #5039 "Change the default view of fleetdm.com/queries to only show the built-in policies"
## Goal
Change the default view of fleetdm.com/queries to only show the built-in policies (where built-in policies is likely indicated by a particular tag such as "built-in")

## How
- [x] Eric to work his magic. Wireframes for tags [here](https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=1082%3A3907)
- [x] Guillaume to add relevant tags to each query in the Standard Query Library
<img wi

[2022-04-11 05:07] mike-j-thomas opened #5040 "Define and document the process for communicating with requestors about bugs reported in public channels"
This issue corresponds to the following Product goal in the Q2 OKRs:

## Goal
Bug reports are taken seriously, verified quickly, and fixed as a top priority, as measured by all Fleet contributors being able to read what happens to a bug report once it is filed, an accurate count of bugs in the latest release is tallied once per week, and all bugs reported to engineering have adequate steps to repr

[2022-04-11 05:19] mike-j-thomas opened #5041 "Update our monthly accounting process"

[2022-04-11 05:25] mike-j-thomas opened #5042 "Submit a pull request once a week to consolidate documentation updates in partnership with Customer Engineering"

[2022-04-11 05:31] mike-j-thomas opened #5043 "QA materials and make available for customers to self serve those materials or be directed to slack channels for further support"

[2022-04-11 05:34] mike-j-thomas opened #5044 "Update the website to direct users to demo the product and join Slack channels."
## Goal
Reduce time to value with Fleet Cloud sandbox.

## How
- [x] Update the website to direct users to demo the product and join Slack channels.

## Reference
Related to [Q2 Digital Experience OKRs](https://github.com/fleetdm/fleet/issues/5034)

[2022-04-11 05:36] mike-j-thomas opened #5045 "Draft osquery schema for fleetdm.com and Fleet product"
## Related
https://github.com/fleetdm/confidential/issues/1619

## Goal
100% of osquery tables advertised inside the product work correctly and intuitively, or are clearly documented with caveats explaining where their behavior is not what someone might expect. Or if they're deprecated and should not be used, or if they should not be used sometimes.

## How
- From: https://osquery.io/schema which

[2022-04-11 05:39] mike-j-thomas commented on #5045
Note to self:  assign this to @DominusKelvin in the release planning session for v4.14.x

[2022-04-11 05:42] mike-j-thomas opened #5046 "All legacy GitHub projects have been archived and their cards/issues migrated to the new boards."
## Goal
We want a consistent, predictable way of working, planning, and intake for everyone in the company, that lets any contributor see what other teams are working on without having to ask anyone.

## How
- [ ] Make sure all cards/issues from legacy GitHub projects boards have been migrated.
- [x] Ask any team leaders yet to migrate all cards/issues to do so.
- [x] T-minus warning. All legacy G

[2022-04-11 05:51] mike-j-thomas opened #5047 "Handbook the reasons for the existence of our new project boards and their paired slack channels + handbook pages"
## Goal
Recruit, train, and equip great contributors to deliver value quickly.

## How
- [x] Handbook the 3 reasons for the existence of these boards and their paired slack channels + handbook pages (see also https://github.com/fleetdm/fleet/issues/4821):  (a) intake (where do I ask a team to do something?) (b) planning (how do I manage the work of my team and when it ships?) (c) daily kanban for

[2022-04-11 06:03] #988 closed

[2022-04-11 08:54] DominusKelvin commented on #5037
Got it @mike-j-thomas

[2022-04-11 12:38] mna opened #5048 "Detect more Redis cluster errors when cluster is disabled, to connect in standalone mode."
It looks like some hosted versions of Redis (or possibly Redis configured using ACL) returns errors we don't currently know about when trying to run cluster commands, and we should handle those to connect in standalone mode instead of erroring out.

### 🧑‍💻  Expected behavior

Connects to redis in standalone mode.

### 💥  Actual behavior

### More info

This has been known to happen with the Rende

[2022-04-11 13:22] lucasmrod opened #5049 "AV engines false positives on orbit.exe"
**Orbit version**: `0.0.8`

**Operating system**: Windows (version TBD).

Kaspersky was removing the `C:\Program Files\Orbit\bin\orbit\windows\stable\orbit.exe` executable from hosts hence bringing them offline.

User report:
[code]

<hr/>

### More info

Slack thread: https://osquery.slack.com/archives/C01DXJL16D8/p1649225363306839

[2022-04-11 14:33] mna commented on #4521
@noahtalerman Updated, here's what it looks like with more than 50 hosts (with the label indicating that remaining hosts were omitted, let me know if you have a preference for this label or if it should be there at all).

![Screenshot from 2022-04-11 10-31-01](https://user-images.githubusercontent.com/692384/162762468-f1f733bf-ed35-495e-a01f-5cf600ba22e5.png)

[2022-04-11 14:41] noahtalerman commented on #4521
Sweet!

@mna I like the omitted label idea. This starts to communicate that the list of hosts is not the most complete/up to date.

For now, I think we can rely on the "View the affected software and more affected hosts" to communicate this.

Can you please leave out the "Remaining hosts omitted ..." text for now? Thanks :)

Later, we might want to improve how we're informing the user that the lis

[2022-04-11 15:03] Desmi-Dizney opened #5051 "Company (link to issue)"
Goal
Make sure Fleet's handbook is easy to read, can be understood by anyone who reads it, and that the information is accurate.

How?
In the Company section of the handbook pages, read through the entire page, section by section, and make sure that all the information is concise.

Once complete, mark off in https://github.com/fleetdm/fleet/issues/4813 and go to the next section.

[2022-04-11 15:18] #4898 closed

[2022-04-11 15:28] xpkoala opened #5053 "Fleet preview failing to complete setup"
**Fleet version**: 4.12.1

**Operating system**: Mac (m1 chip)

<hr/>

### 🧑‍💻  Expected behavior
fleetctl preview would complete the necessary steps needed to launch fleet.

### 💥  Actual behavior
Setup is stuck on "Waiting for servers to start up".

### More info
Issue discovered by @lsmith77. If there is any more information you could provide about your setup or any other errors mentioned in do

[2022-04-11 15:58] timmy-k commented on #5003
@mike-j-thomas we can talk content on the page at the office hours, the OKR seems completed to me as long as the page is live. And certainly it'll be a living thing and will get content edits over time

[2022-04-11 16:39] mikermcneil commented on #5053
@lsmith77 I’ve seen reinstalling Docker Desktop solve similar issues in the past, as a workaround.

If you think of any tips to reproduce this, could you let us know?

[2022-04-11 17:45] xpkoala opened #5056 "Create "release-bug" label and collect metrics"
#1 Product: Create "released bug" label.
#2 Product: Improve quality metrics by measuring weekly the number of bugs reported in actually-released code (i.e. not including bugs in the `main` branch).

[2022-04-11 17:49] xpkoala opened #5057 "Add Zendesk integration and create Zendesk tickets for software vulnerabilities"
## Goal

As a Fleet user, I want to use Fleet in my vulnerability ticketing workflow so that I don't have to manually create tickets for new vulnerabilities (CVEs) or configure the webhook to create them for me.

## Related

- Epic: #4523
- Zendesk support setup: #5187
- Frontend (blocked): #5188

## Figma

Add Zendesk integration: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6022%3A

[2022-04-11 17:56] mna commented on #5048
Tested with redis v6:

[code]

So this is the expected error returned when ACL has been applied to prevent the user from calling admin/cluster commands. Will add this error to the detection list to fallback to standalone mode (cluster mode cannot work if the connection cannot make `CLUSTER` command calls).

[2022-04-11 18:05] CharlotteChance commented on #4372
PR for this request can be tracked here: https://github.com/fleetdm/fleet/pull/5059

[2022-04-11 18:06] GuillaumeRoss commented on #4412
Tracking the documentation for this in an internal ticket (https://github.com/fleetdm/confidential/issues/929) - should be able to post and close this by EOW!

[2022-04-11 19:52] zwass commented on #5049
VirusTotal for Orbit 0.0.8 - https://www.virustotal.com/gui/file/afb906512b19853c485697a2d6f3a725a3ae9fba1a0fe9a7b4ea11dd54dea6c2/detection

Surprisingly, this shows no detection from Kaspersky, but does show detections from a couple of other vendors.

[2022-04-11 20:06] zwass commented on #5049
It is detected on Kaspersky's own analysis page: https://opentip.kaspersky.com/AFB906512B19853C485697A2D6F3A725A3AE9FBA1A0FE9A7B4EA11DD54DEA6C2/

[2022-04-11 20:15] lukeheath opened #5061 "Validate SQL on queries inserted with fleetctl"
### Goal

As a `fleetctl` user, I want `fleetctl` to throw an error if an invalid query is being pushed to fleet so that broken data doesn't make it into the ecosystem.

### How?

TODO:

- [ ]

[2022-04-11 20:17] lukeheath commented on #5061
@chiiph Assigning over to you for architecting.

[2022-04-11 20:17] lukeheath commented on #5015
@stephanmiehe That's a great idea, thanks! We did not have an issue tracking that, so I've created one at #5061

[2022-04-11 20:21] mna commented on #4977
Closing as per the slack discussion w/Noah: https://fleetdm.slack.com/archives/C019WG4GH0A/p1649705240489129

[2022-04-11 20:21] #4977 closed

[2022-04-11 20:29] zwass commented on #5049
I submitted false positive reports to all of the offending vendors: Kaspersky, Cylance, MaxSecure, and Ikarus.

[2022-04-11 20:56] zwass commented on #5049
Kaspersky confirmed that it's a false positive and will be resolved on their end. I asked for a time estimate of how long this will take.

[2022-04-11 21:04] Desmi-Dizney commented on #5051
This is a duplicate. See https://github.com/fleetdm/fleet/pull/5063

[2022-04-11 21:04] #5051 closed

[2022-04-11 21:06] Desmi-Dizney commented on #4813
For the updated company section in the handbook PR, see
https://github.com/fleetdm/fleet/pull/5063

[2022-04-11 21:20] DominusKelvin commented on #3512
@lucasmrod cycling back to this again. Do you think this should still be added to the docs as is?

[2022-04-11 21:26] timmy-k commented on #4997
Confirmed with Andrew that both calendly and Zapier can do this. Looks like calendly will charge us for this, but in Mike's Zapier pro account we have more than enough tasks available to add this and still allow all of his zaps to function.

Will set that up this week

[2022-04-11 22:02] martavis commented on #3543
@lukeheath @chiiph I'm think a couple of things are missing from the API. This is what I'm seeing:

![image](https://user-images.githubusercontent.com/47053705/162840598-96b7627a-34fa-42d7-9c02-fcbb59ae96cb.png)

It looks like we're missing the combined "Linux" platform and the `label_id` from each platform entry.

[2022-04-11 22:29] mikermcneil commented on #4671
@hollidayn Would you go ahead and commit the progress you have for one of the handbook pages (e.g. growth) so that we can take a look at the formatting?

[2022-04-11 22:31] lukeheath commented on #3543
@martavis Thanks for the heads up. This is my mistake. The backend ticket did not end up coming into the sprint (I thought it was.) and I didn't link the blocking ticket properly. I've corrected and moved this ticket out of the current sprint. We'll look at it for next sprint.

[2022-04-11 22:34] mike-j-thomas commented on #4323
@eashaw, I added mobile layouts and tidied up the article template to only show styling for elements we will use on the blog. I included an "actual" blockquote, but let's ignore this for now (until we need one) as we are currently using the blockquote tag for our note element in the markdown. https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=3618%3A12571

[2022-04-11 23:18] mike-j-thomas commented on #5003
@timmy-k, can you give @eashaw and I some more context around:

Does `MQO` mean `minimum quantity order`

[2022-04-12 00:17] zwass commented on #5049
Kaspersky estimated it would be 2-3 hours for the update to take place. I've rechecked through their tool and it's now marked as "clean".

I did not receive any confirmation from Cylance, but it is no longer generating a false positive on recheck from VirusTotal.

[2022-04-12 00:38] mike-j-thomas commented on #5003
<img width="767" alt="image" src="https://user-images.githubusercontent.com/78363703/162855425-42745eca-cedd-401a-be81-b41e0602edbb.png">

@CharlotteChance, you were so close!

@cha

[2022-04-12 00:46] mike-j-thomas commented on #5003
<img width="775" alt="image" src="https://user-images.githubusercontent.com/78363703/162856176-6a7725bf-0ae9-47cf-9115-35c7faf58248.png">

[2022-04-12 01:21] mike-j-thomas commented on #5021
@timmy-k, @DrewBakerfdm, I talked with Eric about this while scoping out having articles hosted on fleetdm.com.

He's a slightly refined version of your process above based on our thoughts:

- Article idea
- Identify goals for the article
- Draft/skeleton article (as a Google Doc)*
- Review session with Mike M & Mike T to fill in gaps if needed**
- Fact check with Guillaume if needed
- Send Google

[2022-04-12 01:26] mike-j-thomas commented on #5021
@timmy-k ah... I see now that this was converted from my previous [memo](https://github.com/orgs/fleetdm/projects/21#card-77841471) 😅

[2022-04-12 01:31] mike-j-thomas commented on #4787
Thans @timmy-k. I still need to migrate `Community engagement` and `Tutorials/docs` cols, so I will close out the board when I'm done.

In the meantime, I think the items in `Publishing, blog, video, social` are all yours.

[2022-04-12 01:33] mikermcneil commented on #5017
@tgauda I noticed this is already added to [the doc](https://github.com/fleetdm/fleet/issues/5017) for product office hours tomorrow (Tue Apr 12) :+1:

I'm going to take the liberty of removing from this board -- feel free to bring it back if I'm off base!

Context: I noticed this because I wanted to give you a visual example of what we talked about earlier today at our 1:1 re: getting the whole c

[2022-04-12 02:20] mikermcneil commented on #4223
@mike-j-thomas this ties into your blog category plans and the related newsletters to follow.  i.e. this is like entering your email to subscribe to the releases category.  Since we're a little ways out from that, and release/security notifications are delivered by hand, let's deprioritize this for a few weeks and tackle it when you're done.  (Moved to the DX board.)

fyi @timmy-k @tgauda

[2022-04-12 05:19] mike-j-thomas commented on #5014
@noahtalerman, draft of the release post for you to review https://medium.com/@fleetdm/fleet-4-13-0-fe3f3240d73e

[2022-04-12 12:21] mna commented on #5048
This is going out with the next release, closing the issue.

[2022-04-12 13:04] davidschoefberger opened #5065 "Failed to generate Windows Fleet-osquery installer from Windows with German Language"
**Fleetctl version**: 4.12.1

**Operating system**: Windows 10

**Host OS Configured Language**: German

<hr/>

I want to package a Windows installer via fleetctl:
[code]

### 🧑‍💻  Expected behavior

A working installer should be the result.

### 💥  Actual behavior

Error message, it could not create the installer. System could not find the path, sorry error messages are in German ...:
[code]

###

[2022-04-12 13:22] chiiph opened #5066 "Translate nanoseconds periodicity into readable duration string"
As part of `fleetctl get config --include-server-config` we return things such as `update_interval.osquery_detail`, `update_interval.osquery_policy`,  and `vulnerability.periodicity` in nanoseconds rather than a more readable string.

We should translate these to readable strings such as `1hr`.

[2022-04-12 13:23] #4967 closed

[2022-04-12 14:37] RachelElysia opened #5069 "Live policy results: Results count are only passing results, Status does not reorder correctly"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

1. I have 13 results, I would expect to see "13 results".
2. I click to reorder by status, I would expect to see my results reorder by status.

### 💥  Actual behavior

1. I see 6

[2022-04-12 14:47] tokcum commented on #4149
Same works for me. :)

[2022-04-12 14:59] xpkoala opened #5070 "Small screen breaks"
**Fleet version**: main

**Operating system**: macOS 12.2

**Web browser**: Chrome latest

<hr/>

### 🧑‍💻  Small UI issues.
There are a few locations that could use a little bit of help with small screens. This relates to #3052

### 💥  Actual behavior
/policies/manage
The automations column has a shadowed line running through it. This issue is corrected once getting to x912 (width).

![policy auto

[2022-04-12 15:13] timmy-k commented on #5003
@mike-j-thomas sorry for the delay here.

At this point we're not sure who said MQO first, but basically an MQO is a lead that enrichment has established is fitting to talk to sales (over 100 devices and 100 employees), hence marketing qualified, and has actually joined a call with sales, hence opportunity vs. lead or prospect.

[2022-04-12 15:13] xpkoala opened #5071 "4.13.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-04-12 15:47] lucasmrod commented on #5065
Hi @davidschoefberger, thanks for the detailed report.

This is the command `fleetctl` is trying to execute:
https://github.com/fleetdm/fleet/blob/67ca6d37dd38d1d5aa85dcdccd41af762e4658ae/orbit/pkg/packaging/windows.go#L93-L101

Maybe try running such command manually (replacing `tmpDir` with a directory under %TMP%/%TEMP%).

PS: You can also generate an `msi` package (same command as in the descr

[2022-04-12 16:01] ksatter commented on #5037
Thoughts, @mike-j-thomas @DominusKelvin, @mikermcneil ?

[2022-04-12 16:11] xpkoala opened #5072 "Can not select pack in small screen size"
**Fleet version**: main

**Operating system**: Mac 12.2

**Web browser**: Chrome latest

<hr/>

### 🧑‍💻  Expected behavior
When attempting to select targets for a pack, I should be able to click on a target.

### 💥  Actual behavior
The icon for selecting a target is too small to be clickable. The **plus** icon is the only clickable area for a target.

### More info
Video of the behavior will be up

[2022-04-12 16:13] ksatter opened #5073 "Update style guide to include use of inline code vs code blocks"
I feel like we need to add something to the style guide about inline code vs code blocks. Most places we're using inline code in the text, but code blocks for standalone code snippets:

To run the preview using `fleetctl`, use the following command:

[code]

Not sure this really needs changing here, but likely something we need to nail down.

@DominusKelvin, @mike-j-thomas Thoughts?

_Originally p

[2022-04-12 16:20] xpkoala opened #5075 "Truncate policy names in host details page"
**Fleet version**: main

**Operating system**: 12.2

**Web browser**: Safari 15.3

<hr/>

### 🧑‍💻  Expected behavior
Names for policies would be truncated in the /hosts/# view.

### 💥  Actual behavior
The full name is displayed.

### More info

/hosts/#

![Screen Shot 2022-04-12 at 11 15 13 AM](https://user-images.githubusercontent.com/11012743/163008424-4962cea1-8d47-4378-8869-fe7aa9ba7394.png)

[2022-04-12 16:37] martavis commented on #5075
@gillespi314 Do you think this will affect all the tables or can it be isolated?

[2022-04-12 17:09] Desmi-Dizney opened #5080 "Spread the Fleetie way"
@hollidayn and @eashaw [Why this way] - https://github.com/fleetdm/fleet/pull/4894#issuecomment-1090690124 is complete. We just need to spread the word to the Fleeties - https://docs.google.com/spreadsheets/d/1OSLn-ZCbGSjPusHPiR5dwQhheH1K8-xqyZdsOe9y7qc/edit#gid=0 .
From the list:
- I will take 1-11.
- Nathan, you take 11-22.
- Eric, you take 23-33.
Skip the three of us and @mikermcneil. Set up 30

[2022-04-12 17:22] gillespi314 commented on #5075
@martavis I'll take a look

[2022-04-12 17:34] gillespi314 commented on #5075
@martavis, I think the issue will be making the text-overflow for the button play nicely when there is an image alongside the button text. We made some changes to the LinkCell component to standardize the truncation (although I'm not sure it would do the trick for buttons with images). In any case, it looks like this one uses its own custom cell render function so maybe a place to start would be t

[2022-04-12 17:44] #4412 closed

[2022-04-12 17:48] Desmi-Dizney commented on #5080
Title your meetings "Why this way check-in" and put the description "This meeting is to go over the ways we work at Fleet and the general culture here. These changes have been made in:
https://github.com/fleetdm/fleet/issues/5080"

[2022-04-12 17:55] zwass commented on #5049
Ikarus confirmed the fix and it's no longer showing up on VirusTotal.

We got two new ones: Tencent (`Win32.Trojan-downloader.Agent.Wsty`) and Rising (`Downloader.Agent!8.B23 (CLOUD)`).

[2022-04-12 18:43] gillespi314 opened #5082 "Missing link to "Get host OS versions" in docs"
### 🧑‍💻  Expected behavior

On fleetdm.com REST API docs, under the "[Hosts](https://fleetdm.com/docs/using-fleet/rest-api#hosts)" heading there should be a link to "[Get host OS versions](https://fleetdm.com/docs/using-fleet/rest-api#hosts)".

### 💥  Actual behavior

Missing link

### More info

It is probably worth double-checking all headers on this page to see the whether any other subheading

[2022-04-12 18:59] xpkoala opened #5084 "Missing padding between text on policies page"
**Fleet version**: main

**Operating system**: 12.2

**Web browser**: Safari 15.3

<hr/>

### 💥  Actual behavior
There is some padding missing on the /policies/manage page between the count in the upper left hand portion of the screen and the description. You can see correct behavior in the picture below and on the /schedule/mange page.

### More info
![Screen Shot 2022-04-12 at 1 55 43 PM](https:

[2022-04-12 19:17] noahtalerman commented on #5069
Hey @gillespi314, we'd like the result count to correspond to the number of rows in the table. So I think this means that "6 results" is correct.

This is not the expected behavior.

I'd expect that hosts that respond with errors are not included in the "Results" table. These hosts are neither passing or failing.

I'd expect that "passing" (hosts that respond with results) and "failing" (hosts tha

[2022-04-12 19:18] xpkoala opened #5085 "Manage automations toggle disappears on Chrome and Firefox"
**Fleet version**: main

**Operating system**: 12.2

**Web browser**: Chrome 100.x

<hr/>

### 💥  Actual behavior
The manage toggle button disappears when toggled and moving the cursor away from the toggle area. It will reappear when clicking anywhere on the screen.

### More info
This appears to be happening on Chrome and Firefox, not Safari.

![Screen Shot 2022-04-12 at 2 16 35 PM](https://user-

[2022-04-12 19:37] gillespi314 opened #5086 "Improve error states for dashboard cards"
## Goal

Improve error states for dashboard cards so that...
1. When one card ("software") returns an error, the user can view the other cards.
2. When one card returns an error, the user or contributor can easily provide a detailed bug report.

--

As a user, if there is an issue loading data for one dashboard card, I want that card to display an error but the rest of the cards to render so that

[2022-04-12 20:01] lukeheath commented on #5086
@gillespi314 Great call-out and I agree! If we only have an error in one card we should definitely not 500 the entire page. The user may be expecting to see the card, so it could be confusing if it didn't appear at all. I suggest we create standard messaging we show inside of cards when there is a problem rendering them.

One question is whether we should do a vague single message like:

"There wa

[2022-04-12 20:55] xpkoala opened #5091 "Host details card not reduced on smaller screens"
**Fleet version**: main

**Operating system**: macOS 12.2

**Web browser**: Safari 15.3

<hr/>

### 🧑‍💻  Expected behavior
Host details card would show reduced information as the screen resolution is reduced.

### 💥  Actual behavior
The host detail cards retain all information regardless of screen size.

### More info
This issue is not a release blocker. The product team missed calling out this be

[2022-04-12 23:52] mike-j-thomas commented on #4398
From @eashaw: How do we handle edge case where the "On this page" list is longer than the page height?

- [ ] @mike-j-thomas : To think up solution and wireframe. (e.g. Rest API page will be a problem)

[2022-04-13 02:19] mike-j-thomas commented on #4787
@timmy-k, apologies for flip-flopping on this. Although the articles in [Publishing, block, video, social](https://github.com/orgs/fleetdm/projects/21#column-15882952) are DevRel related, ownership of those issues and driving them to completion falls under managing the content calendar. So they should live under the Growth team.

Please can you migrate them over when you get a chance? Thanks.

[2022-04-13 03:51] mike-j-thomas opened #5097 "Improve /docs index page"
## Goal
The paths to "Get started" with Fleet are unclear (Preview (sandbox) vs Deploy Fleet). As a Fleet user, or prospective user, I want to clearly see the fastest way to try Fleet (sandbox) vs how to deploy Fleet (deploy docs)

## How

- [ ] Create a wireframe layout for the docs land page, using recommendations from Ashley.

## Reference

- [Why do people come to the docs?](https://docs.googl

[2022-04-13 03:56] mike-j-thomas commented on #5097
Very rough cut:
<img width="1132" alt="image" src="https://user-images.githubusercontent.com/78363703/163096757-1a2ce91d-2447-4227-9ed1-165c1c068afb.png">

In this example, Ashley has split the main doc calls to action into:

- New to Fleet? - Set up a preview server (< 5 mins)
- Ready to deploy Fleet? - Learn how
- Can't find what you need? - Check our FAQ

She suggests consolidating FAQs into a

[2022-04-13 04:58] mike-j-thomas opened #5098 "Document osquery tables in the Fleet docs"
## Goal
100% of osquery tables advertised inside the Fleet product work correctly and are clearly documented, with caveats explaining where their behavior is not what someone might expect.

## How

- [ ] Document all osquery tables that work as expected in Fleet (defined as part of https://github.com/fleetdm/fleet/issues/5045) in the Fleet docs.
- [ ] Get table reference on fleetdm.com website

[2022-04-13 05:32] mike-j-thomas commented on #5045
FYI: @mikermcneil I confused your request to turn the Digital Experience part of this OKR into an issue and made this issue for your OKR instead.

@noahtalerman this may be useful to you because it looks like you're up first to get this moving. You might want to follow suit with what I did in the description for the Digital Experience portion of this ticket.

Alternatively, we could archive this t

[2022-04-13 06:06] mike-j-thomas opened #5099 "Handbook - document how we format bullet points"
## Goal
To capitalize or not to capitalize? That is the question. So is whether or not we end bullet points with terminal punctuation or not.

## How
Whether or not it's correct grammatically, or just a style preference, we should document the following style rules in the [Communicating as Fleet](https://fleetdm.com/handbook/brand#communicating-as-fleet) section of the handbook":
- [ ] Bulleted li

[2022-04-13 06:16] mike-j-thomas commented on #5003
All yours @timmy-k. The page is available at https://fleetdm.com/landing.

Give @eashaw a shout and he can update the URL to whatever you need it to be. Let me know if you need my input on that at all?

[2022-04-13 06:23] #4820 closed

[2022-04-13 06:40] mikermcneil commented on #5080
This is related to:
- https://github.com/fleetdm/fleet/issues/4821
- https://github.com/fleetdm/fleet/pull/4894

[2022-04-13 12:00] davidschoefberger commented on #5065
Hi @lucasmrod,

we found the issue, `everyone` is only available on English OS. On a German OS, it would be `jeder`. We now tried it with an English OS, but docker seems not to work on Windows VMs.

I just tried it on an Intel Mac mini, with Docker installed. Following error message comes up now:
[code]
I executed the command on an admin user, also tried  it with `sudo`.

[2022-04-13 14:21] noahtalerman opened #5103 "On Hosts page, only export data that matches current filters, search, and sort. Across all pages"
## Goal

As a Fleet user, I want to be able to only export host data that is visible in the UI so I don't have to take the time to modify the CSV file before sharing a list of hosts with other individuals in my org.

## Notes

Today (04-13-2022), in an unreleased version of Fleet, the Fleet UI exposes an "Export hosts" button. Selecting this button always exports all the host data that is returned

[2022-04-13 14:29] noahtalerman commented on #2814
@lukeheath @RachelElysia heads up, I'd like to hide the "Export hosts" button in the upcoming 4.13.0 release (make this a "sleeper feature" that is only available in the API for now).

This is because I'd like to wait to expose the export functionality in the UI (and promote in blogpost/release notes) until we make the improvement to cut down the data based on the columns selected in the UI.

Afte

[2022-04-13 14:29] noahtalerman commented on #2814
cc @xpkoala ^

[2022-04-13 15:03] Desmi-Dizney commented on #5035
@alphabrevity, do you already have existing templates for us to work from?

[2022-04-13 15:14] noahtalerman commented on #5014
@mike-j-thomas thanks!

Because I coudn't edit the draft directly, I pasted the blogpost into a separate Google doc with edits as comments here: https://docs.google.com/document/d/1T533tTXy6ioYlNW4NU8jsS4Ts5W0DRbbLzISNqol5wU/edit

When you get the chance, can you please update the Medium blog post with the requested edits?

The largest request asks for the removal of the "Jira integration" section

[2022-04-13 15:47] RachelElysia opened #5106 "UI: Update vulnerabilities max age as it is configurable"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

Related to: https://github.com/fleetdm/fleet/pull/5081

### 🧑‍💻  Expected behavior

<img width="431" alt="Screen Shot 2022-04-13 at 11 46 32 AM" src="https://user-images.githubusercontent.com/71795832/16321

[2022-04-13 16:16] xpkoala commented on #5072
@noahtalerman Making sure you have visibility on this.

[2022-04-13 16:21] lukeheath commented on #5091
@RachelElysia Agreed! We hide columns in tables on smaller screen sizes because wrapping isn't an option. In cards, we can wrap and still keep the clean card look without hiding data. As a rule, I think we should avoid hiding data on smaller screens outside of tables.

[2022-04-13 16:38] theterribletrivium opened #5110 "Distributed Queries Still Failing on Majority of Hosts After Fixing Issue on Hosts"
**Fleet version**: Fleet 4.11.0

**Operating system**:  Hosts:  Debian GNU/Linux 9.13 (stretch) Browser system: OS X 12.3.1

**Web browser**: 100.0.4896.88 (Official Build) (x86_64)

<hr/>

### 🧑‍💻  Expected behavior
We had issues where two queries had been pushed into Fleet that were broken. One involved a custom extension with a bug reading a file, the other a reference to a no longer existing k

[2022-04-13 16:40] noahtalerman commented on #5091
@RachelElysia @lukeheath Figma is now updated to include screens and dev notes that describe the expected behavior. I'm linking directly to one of these screens in Figma here: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=5189%3A246191

Great point and question. I really like how you're thinking about this from a user's perspective.

TLDR

[2022-04-13 16:42] zwinnerman-fleetdm opened #5111 "Finish work so frontend devs can use frontend-loadtesting"
- [ ] update readme
- [ ] get dns sorted

[2022-04-13 16:43] zwinnerman-fleetdm opened #5113 "Write and test terraform code for pre-provisioner environment"

[2022-04-13 16:43] zwinnerman-fleetdm opened #5114 "Write and test terraform code for JIT provisioner"

[2022-04-13 16:43] zwinnerman-fleetdm opened #5115 "write pre-provisioner lambda"

[2022-04-13 16:44] zwinnerman-fleetdm opened #5116 "Write http listener lambda"

[2022-04-13 16:44] zwinnerman-fleetdm opened #5117 "write provisioner and deprovisioner lambdas"

[2022-04-13 16:44] zwinnerman-fleetdm opened #5118 "write/modify existing eks fargate helm chart for fleet"

[2022-04-13 16:46] zwinnerman-fleetdm commented on #3947
Unable to reproduce so far, this will take some significant time to look into

[2022-04-13 16:48] zwinnerman-fleetdm commented on #5116
Basic code is written, cannot finalize until product decides on requirements

[2022-04-13 16:53] zwinnerman-fleetdm opened #5120 "Add central infra aws account with terraform state bucket and assume role definitions"

[2022-04-13 16:56] zwass commented on #3563
We can come back to this if there is a more urgent need.

[2022-04-13 17:17] lukeheath commented on #5091
@noahtalerman Thanks for the context. I definitely understand the reasoning, and it does look better at smaller sizes to present less information. Let's definitely discuss with Mike Thomas, but I'd like to explain my reasoning here for others to reference.

The use case I'm concerned about is I'm away from my computer and something happens where I need to access a specific piece of information fro

[2022-04-13 17:19] michalnicp commented on #3446
This may be best achieved by adding some extra validation to `POST /api/latest/fleet/queries/run_by_names` to validate that all the hosts, teams, and labels passed in the body in the `selector` field actually exist. This endpoint is currently only used by `fleetctl`.

[2022-04-13 17:43] RachelElysia opened #5124 "UX for Jira integration feels disconnected"
### Goal
For a global admin, creating a meaningful Jira integration should feel seamless.

TODO

The Settings > Integration page has no reference or link to the Software > Manage automation modal

Consider linking these two components somehow in the UI

<img width="1250" alt="Screen Shot 2022-04-13 at 1 41 01 PM" src="https://user-images.githubusercontent.com/71795832/163239133-a6fac9ad-221b-4d3c-

[2022-04-13 18:16] zwass commented on #5110
This sounds like an issue with your extension. Keep in mind that Fleet is querying the `osqueryd` process, while if you are running `osqueryi` locally it's a completely separate process with separate extension process(es).

One thing you can try is the `.connect` command in `osqueryi` which will let you actually query within the `osqueryd` process. I discuss this in https://www.loom.com/share/0c98

[2022-04-13 19:20] xpkoala commented on #5020
@gillespi314 I just attempted this and I'm still reproducing the original behavior (user being added to multiple teams). `v4.12.0-157-g12a07aa4`

[2022-04-13 19:44] noahtalerman commented on #4166
This issue was brought to ⚗️🗣 Product office hours on 2022-04-12
- Noah: We won’t commit to making the host display name configurable, as described in this issue, in the next 6 weeks.
- Noah: In the next 6 weeks, the Fleet UI will use `computer_name` as the display name. An issue tracking this effort is here: https://github.com/fleetdm/fleet/issues/4931
- Noah: Please feel free to bring this issue

[2022-04-13 19:45] noahtalerman commented on #4166
Heads up @tgauda ^ Based on the "customer-request" label, it looks like a Fleet customer was interested in this improvement.

[2022-04-13 19:48] noahtalerman commented on #5017
This issue was brought to ⚗️🗣 Product office hours on 2022-04-12
- Noah: Problem of Fleet Desktop not being obvious when it initially is installed. This should be addressed in the next 6 weeks (whether it’s in the product or in the documentation)
- Noah: Documentation for Fleet Desktop will be addressed in the next 6 weeks.

[2022-04-13 19:49] noahtalerman commented on #5017
This issue was brought to ⚗️🗣 Product office hours on 2022-04-12
- Noah: Problem of Fleet Desktop not being obvious when it initially is installed. This should be addressed in the next 6 weeks (whether it’s in the product or in the documentation)
- Noah: Documentation for Fleet Desktop will be addressed in the next 6 weeks.

cc @tgauda

[2022-04-13 19:51] tgauda commented on #5017
Thanks @noahtalerman ./ Will this be the issue tracking this going forward or will that live somewhere else?

[2022-04-13 19:58] lukeheath commented on #3912
Feedback from frontend sync:

- Martavis: This seems like something we should be seeking user input for.
- Rachel: I often work with my browser screen slightly smaller. I may not even realize I'm missing data.
- Sarah: There are a lot of tables that hide table columns altogether. That makes the data completely inaccessible without even telling the user they're not seeing all the data.
- Sarah: I f

[2022-04-13 20:08] gillespi314 commented on #5020
@xpkoala weird. I'll see if I can figure out what's the problem.

[2022-04-13 20:27] gillespi314 commented on #5020
@xpkoala the PR above should fix the problem

[2022-04-13 20:28] xpkoala commented on #5020
Thank you! I'll give it a poke in just a moment.

[2022-04-13 20:33] lukeheath commented on #4574
@noahtalerman Does this apply to only the query results page, or does it include both the query results page and _policy_ query results page?

[2022-04-13 20:55] lukeheath commented on #1308
@xpkoala It looks like the Figma URL in the description is broken. It's linked to the Figma cover page. Would you please update with a link to the wireframes associated with this ticket? Thanks!

[2022-04-13 20:56] lukeheath commented on #5020
PR has been merged so can be confirmed on `main`.

[2022-04-13 20:58] lukeheath commented on #4473
@zwass Yes, this can be closed out. I'll close it out with the 4.13 release.

[2022-04-13 21:09] noahtalerman commented on #5017
@tgauda using this makes sense to me.

[2022-04-13 21:10] noahtalerman commented on #4574
@lukeheath only the query results page :)

[2022-04-13 21:19] xpkoala commented on #1308
@lukeheath Updated to the correct page!

[2022-04-13 22:22] lucasmrod commented on #5065
I've edited the issue with the additional information.
If possible create a separate issue for the `fleetctl package --type=msi` issue you are experiencing on macOS.

Yes. We've also hit many issues trying to use Docker for Windows in a VM.

[2022-04-13 22:28] lukeheath commented on #5091
@RachelElysia Had a great conversation with MIke T. and Noah about this, and the broader change of table columns being hidden, which is already implemented. There's agreement that hiding data is not ideal, and that some additional research and iteration is necessary to find the right balance. Specifically, we'd like to bring this issue to users of Fleet so that we can understand how they weigh les

[2022-04-13 22:31] lukeheath commented on #5091
Feedback from frontend sync:

- Martavis: This seems like something we should be seeking user input for.
- Rachel: I often work with my browser screen slightly smaller. I may not even realize I'm missing data.
- Sarah: There are a lot of tables that hide table columns altogether. That makes the data completely inaccessible without even telling the user they're not seeing all the data.
- Sarah: I f

[2022-04-13 23:06] DominusKelvin commented on #3512
@lucasmrod that does make sense and I'll add that immediately and add you as a reviewer in the PR resolving this

[2022-04-13 23:28] DominusKelvin commented on #3512
@lucasmrod

I opened a [PR](https://github.com/fleetdm/fleet/pull/5133) attempting to resolve this issue. Let me know what you think.

[2022-04-13 23:59] mike-j-thomas commented on #5036
@mikermcneil and @noahtalerman
What do I need to take into consideration when designing this?

- Is it truly a one-click Fleet sandbox. Are we currently working on an installer for doing everything currently instructed on /get-started behind the scenes?
   - I.e. the user only needs a super simple message "Try out a preview of Fleet and osquery on your laptop before deploying at scale by following

[2022-04-14 00:01] RachelElysia opened #5136 "UI: Manage Policy Page table names should not use ellipses on larger viewports"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

The ellipses will expand as the table expands

### 💥  Actual behavior
The ellipses stay in one place, cutting off the policy name no matter the screen width

https://user-images.

[2022-04-14 02:39] theterribletrivium commented on #5110
@zwass Thanks for this info, I'm still new to osquery so I didn't realize those were different contexts if I loaded the flags and config. I can see now that there is no table,but I haven't seen any errors at all like I had seen previously. How can I troubleshoot this further and try to determine why it's failing?

[2022-04-14 06:08] mike-j-thomas commented on #5036
"One-click" UX
<img width="560" alt="image" src="https://user-images.githubusercontent.com/78363703/163323911-f9e77b5c-d4cd-426a-a517-b7cca8919290.png">

or

Optimized Try Fleet page (/get-started)

<img width="1600" alt="Get Started" src="https://user-images.githubusercontent.com/78363703/163324174-adb28b57-1ec7-4d53-ad89-dc99a15424a3.png">

[2022-04-14 07:27] mike-j-thomas commented on #5014
Thanks, @noahtalerman. @DrewBakerfdm, Fleet 4.13.0 release post is cued up in Fleet Medium and ready to publish as soon as Noah T gives the all-clear.

[2022-04-14 14:15] noahtalerman opened #5138 "Hosts page at smaller screen widths"
This is part of the following Q2 OKR: "Deliver a simple, trustworthy, actively-used product that works every time."

## Goal

As a Fleet user, I want to be able to browse hosts at smaller screen widths so that I can see what laptops and servers with several other windows open on my screen.

## Figma

Hosts page at smaller screen widths: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=60

[2022-04-14 14:19] noahtalerman commented on #5138
@mike-j-thomas heads up, I passed this issue's assignment to you and moved the issue to the "Ready" column in the g-digital-experience board. Please let me know if you have any questions about the info under "Tasks" :)

Up to you on how to prioritize. If possible, I think a good goal would be to have wireframes ready to be looked at by next week's UI/UX office hours (2022-04-21).

[2022-04-14 15:00] noahtalerman commented on #5005
@zwass I totally agree that this^ deserves more research. Check out the thread below from a Fleet user that confirms changing the query name in the UI does eventually (we're not sure how long) change the query name in osquery logs.

This issue covers a related but separate problem.

We'd like all scheduled queries on the **Schedule** page to reflect the query's name always.

This is because, as a

[2022-04-14 15:19] alphabrevity commented on #5035
So we have not settled on a template for these responses yet.

The current emails are just a confirmation of the date and time followed by a calendar invite.

Any help here is greatly appreciated!

[2022-04-14 15:32] michalnicp commented on #3446
Currently, if you don't provide either `--labels` or `--hosts`, then the error message returned is

[code]

Either `--hosts` or `--labels` is required. `--hosts` is optional if `--labels` is provided.

This is currently not possible to do without making fleetctl query each hostname provided using `GET /api/latest/fleet/hosts/identifier/{hostname}`. This would be very slow if the list of hostnames

[2022-04-14 15:35] timmy-k opened #5140 "Verify Fleet with Google My Business"

[2022-04-14 15:36] xpkoala commented on #4259
#3932 is going to be the ticket that drives this to the finish line. I'm going to hold off on closing 3932 until we have finished the team permission audit.

[2022-04-14 15:58] #4951 closed

[2022-04-14 16:35] noahtalerman commented on #5086
I updated this issue's description to reflect the new goal. Sarah, I move your research (the original) issue description here:

How should dashboard behave if there is a server error that pertains only to one specific card?  Initial feedback from product is if any card on homepage fails the whole page should 500. But implementation of this behavior across dashboard cards seems to be inconsistent.

[2022-04-14 16:36] Desmi-Dizney commented on #5035
@alphabrevity
See:
- https://docs.google.com/document/d/1sGsVAhqyfsjyclYD3pA6XSytI_63uJ8umTnfl3kiSmQ/edit
- https://docs.google.com/document/d/1ZufPM9Yh_IuZWYpznn0wEKH8XKoD7gfVndRgmDpCOLo/edit

Feel free to edit and send them back to me if you have ideas. I want these to be easy to use.

@mike-j-thomas, feel free to have a look as well.

[2022-04-14 17:12] hollidayn commented on #4671
@mikermcneil Finished creating the table for the growth page update last night.

I have collected rituals from Product, Digital Experience, & People/Ops/Finance.

Customer ritual call happens today, 4/14. Engineering and Security next week on 4/19 & 4/21, respectively.

Looking at the handbook we didn't have a section for sales, but I'm guessing there are rituals there we need to document too, cor

[2022-04-14 17:52] lukeheath opened #5143 "Remove redux from all middleware and routing"
## Goal

As an Engineer, I want to remove Redux from the applications middleware and routing so that I can remove Redux as an application dependency

[2022-04-14 17:56] lukeheath opened #5145 "Remove redux as an application dependency"
## Goal

As an engineer, I want to remove Redux as an application dependency so that it can be removed from `package.json`.

## Tasks

### 1
- [ ] Ensure no remaining imports for Redux.

### 2
- [ ] Remove redux and any related redux dependencies from package.json.

### 3
- [ ] Generate new `yarn.lock` file.

[2022-04-14 18:10] lukeheath opened #5146 "Setup page is redirecting to login"
We determined this was a very specific edge case and is **not** a new bug.

1. Start Fleet as normal and log in.
2. Without logging out, stop fleet and clear your database (`docker system --prune`)
3. Start everything back up.
4. Reload your browser window (the one where you're still logged in).

The result is that you still have an `auth_token` in localStorage (that gets cleared on logout), but w

[2022-04-14 18:18] lukeheath commented on #3124
@noahtalerman Should we be putting the same Software messages on the home page software card?

[2022-04-14 18:44] DrewBakerfdm commented on #5140
We're going to have to do a roundabout way since we're not a physical business with hours, a retail location, etc.

We'll aim to create a Knowledge Graph section.

https://www.webfx.com/seo/learn/how-to-get-your-site-into-googles-knowledge-graph/

[2022-04-14 20:55] timmy-k commented on #4997
This is live— https://zapier.com/shared/1eaef1142e70ac693708b2eb66c53d71765d944b

[2022-04-14 21:19] hollidayn commented on #4671
@mikermcneil Submitted the pull request to make handbook changes adding rituals table to customers page to @tgauda and tagged him.

[2022-04-14 22:39] eashaw commented on #4691
@hollidayn can we close this issue?

[2022-04-14 22:45] mike-j-thomas opened #5156 "Video: Add Figma training to onboarding issue template as required training for engineers"
### Goal
Give new team members a tour of Figma as part of their onboarding process.

### How
- [ ] Video covering the following:
    - Intro to Figma
    - Intro to band colors, fonts, and the company style-guide.
    - Into to Figma concepts. Component library, auto-layout

[2022-04-14 22:54] #4691 closed

[2022-04-14 23:15] ksatter commented on #5037
@Desmi-Dizney Can you just give that a quick read when you have a chance?

[2022-04-14 23:31] #3512 closed

[2022-04-14 23:52] mike-j-thomas commented on #5047
@CharlotteChance some possible duplication to be mindful of.
https://github.com/fleetdm/fleet/issues/4821
https://github.com/fleetdm/fleet/issues/4247

[2022-04-15 00:15] zwass commented on #5049
MaxSecure confirmed fix and it's no longer showing up on VirusTotal. So the original set of detections are now resolved.

Will need to make reports to Tencent and Rising.

[2022-04-15 00:49] Ayoub-Benzahra opened #5163 "Internal server error on Reset password api !"
**Fleet version**: - version 4.12.0

**Operating system**: __Windows 11 pro

**Web browser**: Brave latest version

<hr/>

### 🧑‍💻  Expected behavior

I'am waiting for correct response or error with 'unexpected parameters' or something else
i encountred a response with internal server error status code : 500

### 💥  Actual behavior

Nothing to see just error

[2022-04-15 13:42] lucasmrod commented on #3446
Maybe in `NewDistributedQueryCampaignByNames` you could also add a `len(hostIDs) != len(hosts)` check and return an error that some of the hosts were not found:

https://github.com/fleetdm/fleet/blob/6db23ab1a5dcb3d30ae13cf6f69fdd59915ca79b/server/service/campaigns.go#L201-L205

[2022-04-15 14:11] Desmi-Dizney commented on #5037
"Thanks for reaching out. If anything else comes up, please don't hesitate to let us know. At Fleet, everyone is a helper. You're also more than welcome to join the conversation in the #fleet channel of the [osquery Slack workspace](https://join.slack.com/t/osquery/shared_invite/zt-h29zm0gk-s2DBtGUTW4CFel0f0IjTEw). There, you'll have access to us Fleeties as well as an active and helpful community

[2022-04-15 14:11] mike-j-thomas commented on #5037
@ksatter, I like it. My only feedback is to consider reducing this section:

to:

[2022-04-15 14:23] mike-j-thomas commented on #5037
Fwiw, @ksatter, your version is technically more correct. I'm just trying to reduce the amount of reading. Same for "At Fleet, everyone is a helper." It's a good suggestion, @Desmi-Dizney, but I'd prefer to keep the word count lean and reduce cognitive load.

[2022-04-15 14:55] noahtalerman commented on #4970
@zwinnerman-fleetdm for the first iteration of the Fleet demo environment, only an `email` parameter will be supplied by the user.

In addition, the first iteration will always use the latest Fleet version. Also, the user will be able to access the demo environment for up to 1 week (7 days).

The `email` will allow for the demo environment to automatically create, and potentially log in, the user.

[2022-04-15 14:57] zwinnerman-fleetdm commented on #4970
Thanks @noahtalerman! Will we also be doing captcha? If so then the JITProvisioner may have to receive that too alongside email.

[2022-04-15 14:59] noahtalerman commented on #4970
@zwinnerman-fleetdm also, I linked several GitHub issues, that looked related to demo environment work, to this parent issue.

This way, we can easily track which pieces of the demo environment objective (engineering, design, product, etc.) are complete or in progress.

Can you please make sure that I linked all issues? Thanks :)

[2022-04-15 15:02] mike-j-thomas commented on #5035
Thanks for drafting this, @Desmi-Dizney. I've dropped some comments and suggestions in the Google Doc. @alphabrevity Your feedback in the docs would also be valuable - cheers.

[2022-04-15 15:03] noahtalerman commented on #4970
@zwinnerman-fleetdm hmm, good question. Now I remember this being discussed. I don't have a definitive answer at this moment. I'll get back to you later today :)

[2022-04-15 15:07] #5120 closed

[2022-04-15 15:08] zwinnerman-fleetdm commented on #4970
@noahtalerman yep, you got all of them :)

[2022-04-15 15:31] michalnicp commented on #3446
A concern that @chiiph brought up was that we didn't want to return an error if 1 out of many hosts was not found. It should ignore the hosts that weren't found, unless no hosts at all were found.

[2022-04-15 16:16] RachelElysia commented on #4574
Assuming we want to have the same styling/buttons on the Errors tab as well? @noahtalerman @mike-j-thomas

[2022-04-15 16:48] RachelElysia opened #5166 "Create e2e test for the Device User Page"
### Goal
Ensure the device user page is rendering properly with an e2e test

### Related
#6245

### How?
- [ ] Build e2e test to test device user page content and functionality

[2022-04-15 16:57] lucasmrod commented on #3446
Ya, plus as I proposed we wouldn't be telling the user which one is the one that doesn't exist...

OK, let's make sure @mikermcneil agrees and let's edit the issue description (as the PR is solving the case of a misspelled host differently).

[2022-04-15 17:04] RachelElysia commented on #3912
@noahtalerman should we do the same for New label?

- Description is optional
- Current UI doesn't have placeholder text for name or description

[2022-04-15 17:44] lukeheath commented on #5103
Comment from Noah:

We'd like to hide the "Export hosts" button until the ability to export only data that is visible in the UI is complete. The reasoning for this decision is below:

The product team at Fleet made a mistake when [claiming that the button could be included in a release](https://github.com/fleetdm/fleet/issues/2814#issuecomment-1086237555) without this ability.

The current, unrele

[2022-04-15 18:00] lukeheath commented on #5103
@chiiph Assigning over to you to confirm specs and get this estimated.

[2022-04-15 18:06] lukeheath opened #5169 "Send selected columns to `GET /api/v1/fleet/hosts/report` endpoint"
## Goal

As a Fleet user, I want to be able to only export host data that is visible in the UI so don't have to take the time to modify the CSV file before sharing a list of hosts with other individuals in my org.

## Figma

On Hosts page, only export data that is visible: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6151%3A263236

## Related:
- Backend (blocker): #5103

## Tasks

-

[2022-04-15 18:59] xpkoala commented on #5163
Hi @Ayoub-Benzahra, thank you for the bug report. Did you attempt to reset a user's password via the Fleet web app? I have just attempted to reproduce this locally and I'm not encountering a 500 error.

I attempted to reproduce on Brave (1.37.116), Safari, and Chrome without encountering a break.

Is there any more information you could provide on the issue?

[2022-04-15 19:02] Ayoub-Benzahra commented on #5163
Thanks for getting back to me
Right now i encountered ah forbidden error in the api response

On Fri, Apr 15, 2022, 8:00 PM Reed Haynes ***@***.***> wrote:

[2022-04-15 19:57] Desmi-Dizney commented on #5099
Hey @mike-j-thomas. We need to be aware that bullet points after a colon that are completing a sentence should not be capitalized. Can we talk about this at our next meeting or 1:1?

[2022-04-15 20:03] Desmi-Dizney commented on #5037
@mike-j-thomas, thanks for the feedback!

[2022-04-15 20:05] Desmi-Dizney commented on #5035
Looking at it now, our customer's probably prefer custom responses.

[2022-04-15 20:33] ksatter commented on #5037
Thanks, @Desmi-Dizney and @mike-j-thomas !

[2022-04-15 20:39] xpkoala commented on #5163
@Ayoub-Benzahra Could you give me the specific api that you are getting the error on? Is it `/api/v1/fleet/reset_password`?

[2022-04-15 20:42] Ayoub-Benzahra commented on #5163
Yes it is
While sending the request include the required parameters ( password,confirm Password, token from mail) the server response was forbidden error

[2022-04-15 21:28] noahtalerman commented on #4970
@zwinnerman-fleetdm update on the parameters supplied to the provisioning API (my naming may be incorrect) for the first iteration of the demo environment:
- The user, on fleetdm.com, will pass only an `email` and `password` to the provisioning API.
- Captcha will not be passed to the provisioning API.

[2022-04-15 21:49] lukeheath commented on #3245
TODO: @gillespi314 is going to add backend specs to this ticket, and we'll track both the frontend and backend component in this ticket.

[2022-04-15 23:59] mikermcneil opened #5179 "Avoid preventing merging of markdown-only PRs during release freeze"
### 🧑‍💻  Expected behavior
As a contributor, I want to merge a PR to markdown files during the freeze.

### 💥  Actual behavior
I can't.

### Analysis
So: It is not possible, unfortunately, to unfreeze a particular PR after all using [MergeFreeze's API.](https://docs.mergefreeze.com/web-api)

i.e. this 404s
[code]

Because only protected branches are supported as the "branch" .  i.e. only  `main` .

[2022-04-16 00:20] #5179 closed

[2022-04-18 07:52] mike-j-thomas commented on #5037
@ksatter feel free to close this once you're happy.

[2022-04-18 14:55] Desmi-Dizney commented on #5080
I have completed my "Why this way?" meetings for Fleeties 1-11.

[2022-04-18 15:10] noahtalerman opened #5187 "Setup official Zendesk instance to develop integration against"
### Goal

We an Engineer, I want to build an integration between Fleet and Zendesk support so that I can create Jira tickets based on events in Fleet.

### How?
- [ ] Check with the Customer engineering at Fleet to see if they plan to use Zendesk for customer engineering tickets.
- Make sure that Customer engineering hasn't already created a Zendesk instance
- [ ] Create free standard trial of Zen

[2022-04-18 15:13] noahtalerman commented on #5187
If I recall correctly, the Customer engineering team at Fleet was interested in using Zendesk to track questions from customers.

@tgauda is the above correct? If so, is using Zendesk something that you expect to happen within the next couple months?

[2022-04-18 15:27] tgauda commented on #5187
@noahtalerman Correct. I trialed fleetdm.zendesk.com but didn't come up with any use cases compelling enough to purchase a subscription vs. just using confidential github issues that we can track on our boards. I can purchase a couple of seats on the fleetdm.zendesk.com instance if you like or- you can setup a new trial if that's easier.

[2022-04-18 15:34] lukeheath opened #5188 "Allow users to configure ZenDesk integration"
## Goal

As a Fleet user, I want to use Fleet in my vulnerability ticketing workflow so that I don't have to manually create tickets for new vulnerabilities (CVEs) or configure the webhook to create them for me.

## Related

- Epic: #4523
- Setup ZenDesk: #5187
- Backend (blocker): #5057

## Figma

Add Zendesk integration: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6022%3A255542

#

[2022-04-18 15:35] noahtalerman commented on #5187
Got it!

@tgauda when you get the chance, can you please purchase 1 seat for me on fleetdm.zendesk.com?

This way, I can hop into the Zendesk instance and be responsible for adding a seat for the engineering team member that ends up working on the Zendesk integration.

[2022-04-18 15:49] tgauda commented on #5187
@noahtalerman Done. Let me know if you need anything else.

[2022-04-18 16:14] xpkoala commented on #4537
@RachelElysia Apologies for not reaching out for that call. I've been testing this sporadically in the app and the changes are working as intended. I think it would be a good idea to maybe get future work in this space jotted down in a ticket so we can continue improving tab functionality on Chrome but also on other browsers. I'll get something on the books for later this week, and apologies again

[2022-04-18 16:15] michalnicp commented on #4176
I was unable to reproduce this issue on CentOS 7 installed using VirtualBox

[code]

[2022-04-18 16:17] hollidayn commented on #5080
I've got 3 today and my last two are tomorrow.

[2022-04-18 16:28] xpkoala commented on #5091
`Update top card on Host details to wrap elements instead of hiding elements`

This behavior is occurring at 961 pixels +, but if the width of the screen is below that threshold items are still being hidden. The items still being shown are Status, Issues, Team, Disk Space.

From the comment mentioned above in the PR I'm guessing that this behavior is inaccurate? @noahtalerman @lukeheath

![960](ht

[2022-04-18 16:32] noahtalerman commented on #4574
@RachelElysia yes! Great catch.

This will add value because the most common error is a "no such table" error. With the "Show query" button on the "Errors" tab, the user can see if they made a spelling mistake for any tables in their query.

[2022-04-18 16:33] noahtalerman commented on #3912
@RachelElysia yes, please add placeholder text and the "(optional)" tag for labels.

[2022-04-18 17:21] zwass commented on #5049
Currently clean! I'm sure we'll find new issues in the future, but closing out this ticket for now.

<img width="1158" alt="Screen Shot 2022-04-18 at 10 20 56 AM" src="https://user-images.githubusercontent.com/575602/163846798-accfd592-67a1-4359-a1b9-b98c9311b629.png">

[2022-04-18 17:21] #5049 closed

[2022-04-18 18:14] Desmi-Dizney commented on #5038
I wrote out a process for creating a queue in a Google spreadsheet and then alerting me in slack. The document and spreadsheet are in the [Editor file](https://drive.google.com/drive/folders/1tEEMYP4UhRBVqLTb8f5kAnGpziftquIY).

@mike-j-thomas, could you teach me how to set up the Slack channel and give suggestions for what I've created in the Editor file?

Thank you!

[2022-04-18 18:45] michalnicp commented on #4176
I had better luck reproducing this on fedora instead of centos. Not sure why, but perhaps the selinux policies are different.

[2022-04-18 18:53] xpkoala opened #5195 "401 error on live query"
**Fleet version**: main

**Operating system**: macOS 12.2.1

**Web browser**: Safari 15.3

<hr/>

### 💥  Actual behavior

401 error bar generates when attempting to run a Query. `/api/latest/fleet/status/live_query`

If the page is refreshed, after the error generates, it will no longer appear for the current session. If a user logs out and back into Fleet the error will occur again.

### More inf

[2022-04-18 18:55] xpkoala commented on #5163
Thanks @Ayoub-Benzahra I'll make another attempt to reproduce the issue locally. If I don't have any luck I'll bring in one of the engineers to assist.

[2022-04-18 19:49] noahtalerman commented on #4946
Goal by Friday 04-22: PR is up with a first pass at updates to docs.

[2022-04-18 20:18] #4259 closed

[2022-04-18 20:18] #3932 closed

[2022-04-18 20:27] #5037 closed

[2022-04-18 21:03] xpkoala opened #5201 "Improve software, queries, and host details page at 768px width"
This is part of the following Q2 OKR: "Deliver a simple, trustworthy, actively-used product that works every time."

## Goal

As a Fleet user, I want to be able to browse software, queries, and host details at 768px width so that, on my laptop, I can have a second browser window open alongside the Fleet UI.

Note that this goal does not include touch support.

## Acceptance criteria
**Home** page,

[2022-04-18 21:37] RachelElysia commented on #4737
Sorry, reading this just now! Yes closing out!

[2022-04-18 21:37] #4737 closed

[2022-04-18 22:00] noahtalerman commented on #5091
@xpkoala heads up, this issue is no longer a bug because the wrapping behavior is now the desired behavior.

The changes made to bring back the wrapping were included in the following PR: https://github.com/fleetdm/fleet/pull/5186

[2022-04-18 22:08] noahtalerman commented on #5201
@xpkoala thanks for filing this! I brought the issue into the product board so that I can update the Figma wireframes before we bring this into the current release.

[2022-04-18 23:12] ksatter opened #5202 "Weekly Doc Update"

[2022-04-18 23:18] hollidayn commented on #4671
@mikermcneil just have Security, Engineering & Community left to talk to for this (this week).  Have some edits to make to existing tables (adding a column for frequency so it doesn't need to be parsed from the description).  On track to close this issue this week.

[2022-04-18 23:29] eashaw commented on #2015
This happened in https://github.com/fleetdm/fleet/pull/2332

[2022-04-18 23:29] #2015 closed

[2022-04-18 23:34] eashaw commented on #3843
Here is the current description when you search "fleetctl"
<img width="766" alt="image" src="https://user-images.githubusercontent.com/7445991/163892907-f17a0edf-704a-4dfd-87d9-7f530b72975f.png">
@DominusKelvin do you think can we close this issue?

[2022-04-18 23:36] DominusKelvin commented on #3843
Sweet! Sure.

[2022-04-18 23:36] #3843 closed

[2022-04-19 13:29] #5066 closed

[2022-04-19 13:32] noahtalerman opened #5219 "Update standard query library to use a single property for platforms (macOS, Windows, Linux)"
Currently the policies in the [`standard-query-library.yml` file](https://github.com/fleetdm/fleet/blob/main/docs/01-Using-Fleet/standard-query-library/standard-query-library.yml) include both a `platform` and `platforms` key.

This is because the Fleet product needs a `platform` key (`darwin`, `windows`, and `linux` values) to determine which platforms to check the policy on while fleetdm.com/que

[2022-04-19 13:36] tokcum commented on #4261
Updated to 4.13, looks good. Works for me. :)

[2022-04-19 14:07] noahtalerman opened #5220 "Add ability to send osquery logs directly to Snowflake"
Currently, to send osquery logs to Snowflake, Fleet asks the user to first configure AWS Firehose as a log destinations in Fleet and then configure Snowflake's Snowpipe to direct logs from Amazon S3 to Snowflake.

More instructions on the above can be found here on fleetdm.com/docs: https://fleetdm.com/docs/using-fleet/osquery-logs#snowflake

### Goal

As a Fleet user, I want to be able to send os

[2022-04-19 14:53] noahtalerman opened #5222 "Add validation for `config` and `teams` YAML documents"
The `config` YAML document is where the user specifies `agent_options` configuration as well as other Fleet configuration (ex. `host_settings.enable_software_inventory`).

The `teams` YAML document is where the user specifies `agent_options` configuration as well as other Fleet configuration (`secrets`), for a specific team.

## Goal

As a user, I want validation for all keys and values in the `co

[2022-04-19 16:10] mikermcneil opened #5223 "Handbook: Document registering in new state as part of the employee onboarding process"
Handbook: Document registering in new state as part of the employee onboarding process: https://docs.google.com/document/d/1BE9QX5gZt7lZ90lpqiuMOyKiRBmsFta-4hJ0OhbWyoc/edit

[2022-04-19 16:11] #3300 closed

[2022-04-19 16:11] #5146 closed

[2022-04-19 16:11] #5136 closed

[2022-04-19 16:11] #5072 closed

[2022-04-19 16:11] #5085 closed

[2022-04-19 16:12] #2603 closed

[2022-04-19 16:12] #5020 closed

[2022-04-19 16:13] #2322 closed

[2022-04-19 16:17] #3269 closed

[2022-04-19 16:17] #4819 closed

[2022-04-19 16:17] #4905 closed

[2022-04-19 16:17] #4799 closed

[2022-04-19 16:18] #5091 closed

[2022-04-19 16:18] #5075 closed

[2022-04-19 16:18] #5084 closed

[2022-04-19 16:19] #4261 closed

[2022-04-19 16:19] #4572 closed

[2022-04-19 16:19] #4645 closed

[2022-04-19 16:19] #4792 closed

[2022-04-19 16:19] #5069 closed

[2022-04-19 16:20] #4262 closed

[2022-04-19 16:20] #4540 closed

[2022-04-19 16:20] #4537 closed

[2022-04-19 16:20] #4132 closed

[2022-04-19 16:21] #5070 closed

[2022-04-19 16:21] #4419 closed

[2022-04-19 16:21] #5015 closed

[2022-04-19 16:21] #4932 closed

[2022-04-19 16:22] #4807 closed

[2022-04-19 16:22] #4436 closed

[2022-04-19 16:22] #4214 closed

[2022-04-19 16:22] #3573 closed

[2022-04-19 16:23] #4848 closed

[2022-04-19 16:23] #5106 closed

[2022-04-19 16:23] #4847 closed

[2022-04-19 16:23] #4846 closed

[2022-04-19 16:24] #2936 closed

[2022-04-19 16:24] #4849 closed

[2022-04-19 16:24] #4879 closed

[2022-04-19 16:24] #4734 closed

[2022-04-19 16:25] #4990 closed

[2022-04-19 17:30] lucasmrod commented on #4923
Hi @sigitkusuma, any findings since last message?

[code]

A guess: Some of the queries might be expensive (when that happens, osquery's watchdog process takes action).
The configured "policy queries" or "scheduled queries" could be causing the above failure. To troubleshoot you could try disabling some of them and see if that fixes the issue.

[2022-04-19 17:45] xpkoala opened #5224 "Add ability to see a filtered "Software" table when filterting Home page by platform"
https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3216%3A83757

[2022-04-19 17:47] zwinnerman-fleetdm commented on #3947
Curiously and just to make sure, what are the intervals for the customer's scheduled queries?

[2022-04-19 17:47] xpkoala opened #5226 "Add ability to see a list of hosts filtered by Munki version or MDM enrollment status"
https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3903%3A207644

[2022-04-19 18:02] mna commented on #2316
Porting over the [comment](https://github.com/fleetdm/fleet/issues/1837#issuecomment-921182482) from @chiiph made on #1837 to clarify the concern:

I believe the concern is that with the "last_opened_at" timestamp added to the `host_software` table (to store when that software was last opened on that host), there will be many more writes to that table, whereas currently (presumably) most of the ti

[2022-04-19 18:08] lukeheath commented on #4574
@noahtalerman Should we go ahead and right-align on the "Export Hosts" button the policy live query page? I know we're not adding the "Show Query" button, but it feels a little weird now that the query page has "Export Hosts" right-aligned, but the policy live query results have it left-aligned. What do you think?

![image](https://user-images.githubusercontent.com/2495927/164068121-34455d34-bcc2-

[2022-04-19 18:50] xpkoala commented on #5195
Something I just noticed that may help in pinpointing the issue, it doesn't appear that a call to /api/latest/fleet/me occurs when navigating to the Queries tab whereas most other pages make this GET request (/hosts, /software, /schedule, /policies).

[2022-04-19 18:56] xpkoala commented on #5056
The [Google sheet doc](https://docs.google.com/spreadsheets/d/1dd4YUFaFZ1fTMaTVjhXWKAT2ikC6kpNsh_S6DGsrppQ/edit#gid=0) is linked on the Product document and will be updated at the end of every Fleet release moving forward.

[2022-04-19 18:56] #5056 closed

[2022-04-19 18:56] Desmi-Dizney commented on #5080
I have completed meetings with Fleeties one through eleven.

[2022-04-19 18:58] noahtalerman commented on #5187
Thanks Tony! Will do.

[2022-04-19 19:01] timmy-k commented on #5003
@mike-j-thomas & @eashaw merged and can see the page on /g so I think that's everything we need. Closing this issue

[2022-04-19 19:01] #5003 closed

[2022-04-19 19:04] noahtalerman commented on #4574
@lukeheath this makes sense to me! Great catch.

[2022-04-19 19:05] timmy-k opened #5229 "Alter landing page copy to match positioning"
### Goal
To create a better user experience by altering landing page copy to match positioning

### How
- [ ] Review
- [ ] Rewrite
- [ ] PR

[2022-04-19 19:06] timmy-k commented on #5003
New issue for editing page copy— https://github.com/fleetdm/fleet/issues/5229

[2022-04-19 19:10] xpkoala opened #5230 "Small resolution settings page issues"
**Fleet version**: `main`

**Operating system**: 12.2.1

**Web browser**: Safari 15.3

<hr/>

### 🧑‍💻  Expected behavior
Layout and buttons would not overlap

### 💥  Actual behavior
A few items are breaking on the /settings/organization page.

768x
- org avatar
- some settings buttons

990x
- org avatar

### More info

There are some larger settings page changes that were recently implemented, jus

[2022-04-19 19:13] lukeheath commented on #5187
@noahtalerman - @gillespi314 is ready to start on this but awaiting a ZenDesk seat. I'm going to bring this ticket onto the release board and assign to you to get Sarah setup.

[2022-04-19 19:21] noahtalerman commented on #5187
Hey @tgauda I just logged in to fleetdm.zendesk.com and sent you a request to add a seat for @gillespi314 (should have been sent to your tony@fleetdm.com email).

Tony, when you get the chance, can you please confirm Sarah's seat and then assign this issue to @gillespi314? Thanks :)

[2022-04-19 19:35] timmy-k opened #5233 "Relabel or close UA property on GA"
To prevent confusion for casual viewers

[2022-04-19 19:52] tgauda commented on #5187
Done!

[2022-04-19 20:09] RachelElysia opened #5235 "UX: Better error message for user when live query is disabled"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

Messing with my app settings, I disabled live queries and forgot.
I expect to be reminded that an admin disabled live queries.

### 💥  Actual behavior

I went to go run a query,

[2022-04-19 20:31] RachelElysia opened #5236 "Safari/Firefox not redirected to login site"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_
Firefox and Safari
<hr/>

### 🧑‍💻  Expected behavior

On main branch, I go to my app, I expect to see my app or be asked to log in.

### 💥  Actual behavior

Both are blank screens and not redirected to the login si

[2022-04-19 20:57] CharlotteChance commented on #5223
PR: https://github.com/fleetdm/fleet/pull/5237

[2022-04-19 21:08] chiiph commented on #2316
You're exactly right. Right now, in most cases, we will read the software list and realize there aren't any changes in the list so we'll do nothing.

I wonder if we should just store timestamps as a something like a JSON blob for all software... if we'll only use it for display purposes, it _might_ be enough?

[2022-04-19 22:25] lukeheath commented on #5187
Thanks, y'all!

[2022-04-19 22:57] DominusKelvin opened #5241 "Update docs to show wildcard cert should work in TLS"
### Goal

To establish clarity wildcard domain names in TLS cert should match the domain pointing to the deployed Fleet's instance.

[2022-04-19 23:31] DominusKelvin commented on #5241
The page in question 👇🏾
https://fleetdm.com/docs/deploying/introduction#tls-certificate

[2022-04-20 07:36] tokcum commented on #4754
With 4.13 the detection of the "right" primary IP improved, however there are still sometime unexpected IPs identified as primary IP.

From the source code and previous discussion, I understand that any interface whose name contains "docker" is skipped. So, why are there still unexpected IPs?

In my environment some hosts show the IP on interfaces named "br-*" as primary. This is also a docker rel

[2022-04-20 08:31] DominusKelvin commented on #3931
@mike-j-thomas and @mikermcneil here are the brief for the initial project to improve the docs.

Let me know what you think.

https://docs.google.com/document/d/1dDEZMjDBwHDhgLoXpijbj59bZfHWuh3OcVFHpNs7WJM/edit?usp=sharing

[2022-04-20 08:32] mike-j-thomas commented on #3931
Thanks, @DominusKelvin, looks good to me. cc @noahtalerman.

[2022-04-20 08:56] mike-j-thomas commented on #5036
@mikermcneil, I'm not sure what's happening behind the scenes to get credentials to the user after they have signed up? Right now I have a flow where the user receives a temporary link to log in (based on what I've seen from the example we looked at when we met). Not sure if this is the best way to go about it?

The current Figma flow is linked here: https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwpt

[2022-04-20 10:32] mike-j-thomas commented on #5138
Looking forward to chatting through this in UX office hours.

The simplest solution is to have the sidebar as a dismissible overlay:
<img width="990" alt="Hosts - 990px" src="https://user-images.githubusercontent.com/78363703/164210155-8895091f-0022-4f4d-b908-6e92a64aa299.png">

But, if we're planning to remove the aggregated hosts counts (which makes sense), it might be a good opportunity to reth

[2022-04-20 12:18] juan-fdz-hawa commented on #4512
@noahtalerman I put together a [small doc](https://docs.google.com/document/d/1beWaMYOi-KZn4qhYW3iMLot8GHSoMjA3FM7xZ4bFd9g/edit?usp=sharing) talking about CVSS and EPSS - TLDR:

- We have access to the CVSS scores via the NVD artifacts we use for mapping from CPEs to CVEs.
- The folks at www.first.org produce a daily dataset with EPSS scores, we will need to download it, process it, and maybe crea

[2022-04-20 12:39] mna commented on #2316
@chiiph

Yeah, considering that if we implement an async processing like labels/policies, we'd do the redis write anyway, we could save some DB load by not having to store it back there.

Some concerns about this approach though:

* Are we ok with losing those timestamps in case of a redis failure/restart with no persistence configured? It'd take a round of hosts reporting back to fleet to get tho

[2022-04-20 12:48] chiiph commented on #2316
It'll be a different beast from host seen time, because it will update less often than that (maybe once an hour) but it will also update a few hundred rows per host at a time.

Doing the simple implementation and load testing it wouldn't be bad if it's quick. The only reason I didn't propose to do that is because I feel the results are predictable, but I can certainly be wrong here.

I think we ne

[2022-04-20 13:07] mna commented on #2316
Agreed, I think the async approach used for labels/policies would make sense for that info too, delaying the writing a few seconds, batched and executed on a single fleet instance. I'll work on the naive implementation for now, it will help figure out the async implementation anyway and we could make it consistent with the other async jobs in that it could also be enabled/disabled based on the use

[2022-04-20 13:27] tokcum opened #5244 "Change of SAML SSO callback URL in 4.13 breaks SAML based authentication"
**Fleet version**: 4.13.0

**Operating system**: Ubuntu 20.04.4 LTS

**Web browser**: Microsoft Edge, Google Chrome

<hr/>

### 🧑‍💻  Expected behavior

With a SAML SSO enabled fleet instance a user should be redirected to the login screen of the SAML server when clicking on the "Sign on with ..." link on the fleet login screen.

### 💥  Actual behavior

When trying to log into a fleet instance inte