[2022-05-19 15:16] noahtalerman commented on #5408
@tgauda no, this improvement will not be part of the upcoming 4.15.0 release.

This improvement will likely make it into the following 4.16.0 release (2022-06-16).

For most issues, we'd like for the project they're on ("Roadmap" for this issue) to indicate the release timeframe:
- If the issues is on the 🚀 Release project, the improvement will likely make it into the upcoming release (sometime in

[2022-05-19 15:18] noahtalerman commented on #5408
@zwass if we wait to allow remote configuration, when we do add remote configuration later, will the user be required to re-deploy the package? Or, will this improvement be included in an automatic update of Fleet Desktop?

[2022-05-19 15:28] xpkoala commented on #5445
@lukeheath I'm not sure if this is mentioned in this ticket and I missed it, but it appears that the Policy tab is only visible on the 'My Device' page if the user has an active session with the Fleet web app. Is that expected?

- Log in to Fleet web
- Launch 'My Device' page for local user (see policies tab)

- Sign out of Fleet web
- Refresh 'My Device' page for local user (policies tab vanishes

[2022-05-19 16:07] lukeheath commented on #5445
@xpkoala Great find, that is not expected! Weird behavior. I forgot to clear my previous admin session when testing this. I'll pull it down and take a look today and update here.

[2022-05-19 17:18] zwass commented on #5017
@noahtalerman Can we move this out of #5684 to keep that focused more on the "end user" Fleet Desktop experience?

[2022-05-19 17:26] lukeheath commented on #5806
@lucasmrod If we add the license object to the `/fleet/device/{token}` endpoint, do we need error responses? There won't be any additional requests needed (for now), we just need to know if the license is free or premium to determine if we should show the red dot icon in the system tray.

[code]

[2022-05-19 17:26] noahtalerman commented on #5777
For now, we'll ask users to...
### Users
- Back up all user roles by running `fleetctl get user_roles > user_roles.yml`
  - Why? User roles can be reset using `fleetctl apply -f user_roles.yml` if you upgrade later.
- Update all users so that they have global access. If a user shouldn't have global access delete this user.
  - Why? Users with team level access won't be able to see any hosts in Fle

[2022-05-19 17:39] lucasmrod commented on #5806
Correct. Not a blocker for this release.

But for next release we want to change the API we use for "polling for policies every X minutes" in the tray application. And such new Fleet API should fail if the deployment is not premium (and the tray app should handle such failure).

Does that make sense?

[2022-05-19 17:43] chiiph opened #5814 "Support passthrough WMI queries in Orbit"
### Goal

Add support for WMI passthrough queries in Orbit.

### How?

The way Kolide does it is through an osquery extension: https://github.com/kolide/launcher/blob/aae2338950540bdfb631208d0063f0cca8751176/pkg/wmi/wmi.go

Here's the community conversation that triggered all this: https://osquery.slack.com/archives/C01DXJL16D8/p1652981322073439

[2022-05-19 17:43] lukeheath commented on #5806
Got it. I'll leave this ticket out for now and spec a new one for the immediate fix.

Question: If fleet desktop sees the user is on a free license, could we just not make the requests? Seems like it might be simpler to implement than error parsing.

[2022-05-19 17:46] lukeheath opened #5815 "Add license object to `GET /fleet/device/{token}` response"
## Goal

As a developer, I want the `GET /fleet/device/{token}` endpoint to return the license object currently returned in the `GET /config` response so that I can determine if premium features should be displayed for this device user

## Related

- Frontend (blocked): #5445

## How?

- [ ] Update `GET /fleet/device/{token}` endpoint to include license object currently returned by `GET /config`

[2022-05-19 17:59] noahtalerman commented on #5806
@lucasmrod I added the list of Fleet Desktop features that are only available for premiums installs to the issue description.

[2022-05-19 18:02] lucasmrod commented on #5806
Agree. First version could just do this.

- I was thinking on error handling in case deployments that go from free to premium, then Fleet Desktop would eventually show the premium features.
- And Fleet Server should return the license errors on non-premium deployments so that non-premium users cannot use the `/device/`API to retrieve such premium data.

[2022-05-19 20:53] #5650 closed

[2022-05-19 20:57] noahtalerman commented on #5017
@zwass yes. I removed this issue from #5864.

I also removed the following note about documenting Fleet Desktop because this task will be covered by this issue:

[2022-05-19 21:26] lucasmrod opened #5821 "Document new external endpoints that Fleet will connect to for vulnerability processing."
Document (on the deployment docs) new endpoints that Fleet will connect to as part of the OVAL + CVE Scoring work.

- OVAL: https://github.com/fleetdm/nvd/blob/master/oval_sources.json
- CVE Scoring hosts (first.org?, NVD?)

[2022-05-19 22:18] mike-j-thomas commented on #5124
@noahtalerman, here are a couple of examples https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6733%3A268266

The first one shows a potential UI to prompt people back to the Software/Manage automations modal via the success toast. I'm not sure how effective this will be, because they are easy to ignore. It's a big green banner, so folks might just see green out of the corner of their eye

[2022-05-19 22:30] mike-j-thomas commented on #5036
![Image](https://user-images.githubusercontent.com/78363703/169414961-d9c338c7-85e7-4f44-b1d9-9dba8d0ea8fb.png)

[2022-05-19 23:05] gillespi314 opened #5824 "Add `LicenseInfoLite` type and refine permissions for license info"
Follow-up from #5820

- Define and expose a custom `LicenseInfoLite` type for device users to exclude unnecessary details (e.g., device_count and expiration)
- Define a new object type for `license` in rego  and decouple authorization from unrelated `app _config`

[2022-05-19 23:12] mike-j-thomas opened #5825 "Style guide - how we use hyphens"

[2022-05-19 23:20] lukeheath commented on #5166
@gillespi314 We're currently blocked on this because we don't have a way of creating a `host_device_auth` record from Cypress, because there is no endpoint or `fleetctl` command to create one.

Do you see any issue with us creating a `POST` endpoint to create this record? Right now, it appears that the record is only created when orbit ingests info from a Fleet Desktop instance. Maybe something li

[2022-05-19 23:21] lukeheath commented on #5445
@xpkoala This is now fixed in `main`!

[2022-05-20 00:05] gillespi314 commented on #5166
@lukeheath, I would lean toward a more test-specific solution rather than a new endpoint. The approach that I'd like to take a closer look at would be tweaking our e2e scripts to either create the records directly in the db via the mysql [shell](https://fleetdm.com/docs/contributing/testing#my-sql-shell) directly or alternatively building out some scripts that would populate the e2e db akin to `ma

[2022-05-20 01:05] mike-j-thomas commented on #5036
@noahtalerman,

Redirect from sandbox URL to fleetdm.com

(actual messaging TBD)

![Image](https://user-images.githubusercontent.com/78363703/169428228-0f3f3961-a8cb-4c5d-b287-574ca09f3155.png)

[2022-05-20 02:01] mike-j-thomas opened #5826 "Improve loading states for pages where UI does not change (Add loading spinners to buttons)"
## Goal

• Clear feedback to users for loading states where the UI doesn't actually change (e.g., Saving a query)
• Clear feedback to users for loading state on Select Targets

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6746%3A268883

## How

- [x] Add loading spinner to button (e.g. "Save" on the queries page)
- [x] Add loading spinner and message ("counting hosts") next

[2022-05-20 02:03] mike-j-thomas commented on #5826
@noahtalerman, please add this to your board as needed. Looks like I don't have write-access to Roadmap.

[2022-05-20 02:31] mike-j-thomas commented on #5826
@noahtalerman, Figma mocks here https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6746%3A268883

[2022-05-20 13:42] lucasmrod opened #5827 "Remove Vulnerability Post Processing code for CentOS"
Once OVAL is used for processing CentOS hosts we should remove all the "Post Processing" code:

Code to remove:
- https://github.com/fleetdm/fleet/blob/main/cmd/fleet/cron.go#L276-L284
- https://github.com/fleetdm/fleet/blob/main/server/vulnerabilities/centos.go
- https://github.com/fleetdm/fleet/blob/main/server/vulnerabilities/vuln_centos

[2022-05-20 13:53] noahtalerman commented on #4733
@zwass thanks for calling this out. I don't think this issue needs to be blocked by improvements to messaging.

@zhumo when you're back, can you please file a separate issue that describes the goal of "as a device user, I want to know that I need to wait to see information about my device..." ?

I think it makes sense to add the "#agent" label to this issue and drop it in the "Ready" column in the

[2022-05-20 13:55] noahtalerman commented on #5036
@mike-j-thomas looks great 🔥

[2022-05-20 13:59] lucasmrod commented on #5648
I believe the issue description needs updating? IIRC we decided to use a fake CPE ID for Ubuntu software?

[2022-05-20 14:47] lukeheath commented on #5166
@gillespi314

Good point. Creating a new endpoint just for tests doesn't feel right.

These both seem like good approaches that are more appropriately limited in scope. I will create a ticket for the next release to determine which approach is better and implement it. Thanks for your feedback!

[2022-05-20 14:55] noahtalerman commented on #5379
From [GitLab.com](https://gitlab.com/groups/gitlab-org/-/epics/1374):

[2022-05-20 15:18] noahtalerman commented on #5379
From [GitLab.com](https://about.gitlab.com/handbook/business-technology/data-team/data-catalog/xmau-analysis/#date-range):

[2022-05-20 15:55] xpkoala commented on #5477
I'm still poking at this, but one issue I've found is that fleetctl is now failing during setup:
[code]

[2022-05-20 18:32] lukeheath commented on #3947
This issue was accidentally closed as part of the board transfer at the beginning of last sprint. Reopened!

[2022-05-20 18:52] lukeheath opened #5836 "Loading device user page with an expired session token in localStorage redirects to login page"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

If I visit my device user page, it should load the device user page.

### 💥  Actual behavior

If I visit my device user page with a previously set session tok

[2022-05-20 19:29] roperzh commented on #5776
I can see some other inconsistencies in the same UI too. I think this is a data integrity issue as Luke suggested: there's a `policy_membership` to enforce a policy that belongs to team `9` on a host that has `team_id`  set to `NULL`.

[2022-05-20 21:30] noahtalerman opened #5842 "Add ability to disable browser extensions and atom packages"
Users that manage hosts that each have 10,000+ system users are concerned with the performance of the software inventory feature.

This is because, in order to collect software, Fleet runs a software collection query on each host. This query collects all users (`SELECT * FROM users`). This is because joining with the `users` table is _required to retrieve browser extensions and atom packages_.

Fo

[2022-05-20 21:43] noahtalerman commented on #5757
Notes are in this Google doc (internal): https://docs.google.com/document/d/1iXwYfMPPOATUPcoXZmQ8SVE9aVs5c8SCE9mOXc8awyI/edit

[2022-05-23 13:43] noahtalerman commented on #5445
@lukeheath this is looking great ✨

I have two requested changes:
- On the **My device** (device user) and **Host details** page, the "Issues" item is only displayed if there are greater than 0 issues.
  - This behavior is specified in [Fleet EE (current)](https://www.figma.com/file/qpdty1e2n22uZntKUZKEJl/?node-id=398%3A2) (now deprecated with resurrection in progress). Apologies for not specifyin

[2022-05-23 14:11] noahtalerman commented on #3320
@gillespi314 heads up, I updated Figma and this issue's description to indicate the following updates:
- "Used by" is displayed instead of "Device user" in the column title and the item in the "Edit columns modal."
- On the **Hosts** page and **Host details** page, the greyed out text and tooltip with a point are displayed when there are more than 1 users.
- On the **Hosts** page, the "+ `count` m

[2022-05-23 14:15] noahtalerman commented on #3643
@gillespi314 heads up, I updated this issue's description to indicate the following addition:
- Update the `status` property in the `api/v1/fleet/hosts` API route to only include `online` and `offline`.
  - This means that hosts that previously had a `status` of `mia` will now have a `status` of `offline`.

[2022-05-23 16:45] noahtalerman opened #5857 "Blog post: 4.15.0"
Fleet 4.15.0 is scheduled for release on 2022-05-26

### Goal

Prepare and publish the release blogpost for Fleet 4.15.0 so that anyone in the Fleet/osquery community can understand the latest improvements.

### Primary improvements

Fleet Premium: Add beta support for Self-service with Fleet Desktop on macOS, Windows, and Linux: #5445
- @noahtalerman will contribute this section because Noah is w

[2022-05-23 16:56] noahtalerman commented on #5857
Link to PR with in progress changelog: #5858

[2022-05-23 17:46] kswagler-rh opened #5859 "Add Integrations for Policy pass/fail"
### Goal

As a Fleet user I want to configure Policies to be able to alert on passing/failling hosts using the Integrations like the Software/Vulnerability management component to create new tickets and issues in Jira/ZenDesk/Service-now.

TODO

We could use the integrations to write policies that can find malware or other Indicators of Compromise, or find servers that have certain configurations

[2022-05-23 18:26] noahtalerman commented on #5826
Wireframes look great thanks Mike.

I removed you from the issue and moved this issue to the ⚗️ Roadmap board.

I made several updates to the wireframes:
- Added the "Save as new" button and a loading state for this button to the "Save (update) a query screens:
![Screen Shot 2022-05-23 at 2 23 58 PM](https://user-images.githubusercontent.com/47070608/169883026-610411c7-bcdc-4def-a4b7-72758665e654.

[2022-05-23 19:11] xpkoala opened #5867 "Fail to install fleet-osquery with deb package"
**Fleet version**: main

**Operating system**: Ubuntu 22.04

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
Installing the fleet-osquery package would work as intended.

### 💥  Actual behavior
The install process fails with an exit status 5.

### More info

Snippet of the install output
[code]

[2022-05-23 19:59] lukeheath opened #5870 "`GET /hosts/{id}` and `GET /device/{id}` are always returning 0 issues and failing policies"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

When my device has a failing policy, I expect it to be reflected in the `issues` object returned by `GET /hosts/{id}` and `GET /device/{id}`

### 💥  Actual be

[2022-05-23 20:16] #5438 closed

[2022-05-23 20:23] noahtalerman commented on #4946
@xpkoala heads up, I merged #5435 and moved this issue to the ✅Delivered column.

[2022-05-23 20:23] #4946 closed

[2022-05-23 20:25] lucasmrod commented on #5867
Cannot reproduce on my end:

Generate `deb` on macOS host:
[code]
On the Ubuntu 22.04 host:
[code]

[2022-05-23 20:28] Desmi-Dizney commented on #5825
@mike-j-thomas, this has been created in:
https://docs.google.com/document/d/1sjBKhU4JSUEJo21Hgp9cypAAalCOooqLQ5KHMO3_cSw/edit

[2022-05-23 20:31] #5099 closed

[2022-05-23 20:43] xpkoala commented on #5867
@lucasmrod Taking another look. Will report back shortly.

[2022-05-23 20:51] xpkoala commented on #4946
@noahtalerman I appreciate that, thank you!

[2022-05-23 21:02] xpkoala commented on #5867
@lucasmrod I'm still reproducing this on my 22.04 instance so I'll try a different Ubuntu version. I don't see any differences in how we are executing the actions. I just tried installing using `apt`, but that is also failing with the same error.

RPM packages are working as expected.

[2022-05-23 23:09] eashaw opened #5872 "Website: Add Slack CTA to doc pages template"
![Image](https://user-images.githubusercontent.com/78363703/170696205-e518f263-e2b1-4502-81ef-50912124e351.png)

https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=1694%3A5979

[2022-05-24 00:56] mikermcneil commented on #4911
@eashaw Before you start coding on this one, would you draft up a plan and review with me?  (A quick draft PR with a few code comments added planning it out would work perfectly)

[2022-05-24 12:58] xpkoala commented on #5808
@lukeheath Could you please double check this on your end with `main`?

When I refresh the browser page during the refetch period I am still seeing the 500 image.

However, I am getting data back during the same refetch period by sending a GET request to the `/devices/{token}` api.

I had mistakenly mentioned in this ticket that I was being "redirected" to a 500 page. That was inaccurate, I am sta

[2022-05-24 13:52] lucasmrod opened #5875 "Make Orbit checking for updates the first thing that happens on startup"
# What

Orbit should check for updates of itself before starting any of other systems (the soonest possible).
(By "other systems" here we mean: osqueryd daemon, custom extensions, Fleet Desktop, etc.)

# Why

This will allow us to successfully upgrade Orbit even if one of Orbit systems has a bug at startup.

# Production Issue Example

Osquery host enroll failure was bringing osquery and Orbit dow

[2022-05-24 13:53] chiiph opened #5876 "Enforce CI on MySQL 5.7.21 but default to 5.7 to support M1 by default"
As part of work done to better support MySQL 5.7.21, we changed the version we use in our testing docker-compose to that instead of 5.7. This was the right move to make sure we test against a version that doesn't have JSON_ARRAYAGG, but it had an unexpected side effect: tests don't run by default on Apple M1 anymore, because that specific version doesn't work in docker on macOS.

To work around th

[2022-05-24 14:23] juan-fdz-hawa opened #5877 "Vulnerabilities (CVEs) for Linux OS's"
## Goal

| User story  |
|:---------------------------------------------------------------------------|
| As a vulnerability management engineer,
| I want to see vulnerabilities (CVEs) for Linux OS's (ex. [Ubuntu 20.04.6 LTS](https://releases.ubuntu.com/focal/))
| so that I can see which vulnerabilities affect my Linux hosts.

## Context
- Requestor(s): @dherder
- Product designer: @noahtalerman

[2022-05-24 15:08] chiiph opened #5879 "Implement automatic tests for upgrades between two versions of fleet"
Given two arbitrarily defined tags or commits, we need to implement an automatic test that does the following:

1. Set up the first version.
2. Enrolls some devices.
3. Performs some smoke tests to make sure everything is functional.
4. Brings down fleet.
5. Builds the second version.
6. Migrates the database using the new fleet binary.
7. Launches the new version.
8. Performs some smoke tests to

[2022-05-24 17:33] roperzh commented on #5776
repro steps:

1. Enroll a host
2. Create a team `A`
3. Create policies for team `A`
4. Assign the host to the team `A` via the UI
5. Enroll the same host, using an enroll key that is not for team `A`

When the host is re-enrolled, we were changing its team without removing all the `policy_membership`s from the database.  This should be fixed in #5890

[2022-05-24 18:55] lukeheath commented on #5808
@xpkoala Ah, got it! I was trying to reload the page without refetching, which works. Reloading during refetch is generating a 500 error, so I'll get a fix in ASAP. Thanks for catching this!

[2022-05-24 19:28] lucasmrod commented on #5776
Between 1 and 5 did are you uninstalling osquery on the host? (to be able to enroll it again)

[2022-05-24 19:32] roperzh commented on #5776
@lucasmrod I hacked my way using `osquery-perf`, is the scenario unrealistic? Maybe there's another way to repro? 🤔

[2022-05-24 20:22] lucasmrod commented on #5776
Was just curious, this makes sense.

Another way to simulate re-enroll is:
1. Generate package for team A and install fleet osquery.
2. Wait for host to enroll to team A.
3. Uninstall fleet osquery.
4. Generate package for team B and install fleet osquery.
5. Install fleet osquery.
6. Wait for host to enroll to team B.

[2022-05-24 20:23] juan-fdz-hawa opened #5893 "Add integration tests for detecting vulnerable software using OVAL"
### Goal

Add integration tests for:
- Ubuntu 16.04
- Ubuntu 18.04
- Ubuntu 20.04
- Ubuntu 21.04
- Ubuntu 21.10
- Ubuntu 22.04

[2022-05-24 20:42] lukeheath commented on #5808
@xpkoala Okay, _now_ should be fixed :)

[2022-05-24 21:07] lukeheath commented on #5624
I have added the API change to the specs. This bug ticket will provide validation in 3 places:

1) Via the UI (frontend validation)
2) Via the API (backend validation)
3) Via `fleetctl` (command line validation)

@gillespi314 Since this bug fix involves full stack I am assigning to you. Just let me know if you have any questions or concerns. Thanks!

[2022-05-24 22:08] timmy-k commented on #5399
Security ad— https://ads.google.com/aw_cm/ExternalPreview?hl=en_US&ad=594307521807&adGroup=135489263693&ocid=791527851&isObfuscatedOcid=false&showMulPreview=true&showVariations=true&creativeType=35&pk=ACMAqCe4FM7zNsFeH8-S0M6u4lTVcPunwjcKbUaq_IZfvxglumHyPh8A_72nkzROgzQVpCbEd8dGhB6YWAGx3ixuhoYgWUoFl3RqCqM7bZZvEROkgFHr2XC4i1d3tEgT2HzcjVZ4RbdHI_aZO8ff8uGTKJTccf9br0v0ru3XwICiwaAmzQBVoLALx64

IT ad— htt

[2022-05-24 23:21] mike-j-thomas commented on #5653
@eashaw, please can you look into why Medium is overriding our redirects?

[2022-05-25 14:49] roperzh opened #5898 "Report anonymous statistics about errors"

[2022-05-25 15:48] #5401 closed

[2022-05-25 16:22] xpkoala commented on #5477
I'm going to move the preview issue to it's own ticket. If it's a non issue it can be closed out later.

[2022-05-25 16:26] xpkoala commented on #5536
@mna Does this require any action on QA's part? If this was tested thoroughly on load test I think we will good to move this to Ready. Last seen time is reporting accurately from a user's perspective.

[2022-05-25 17:03] mna commented on #5536
@xpkoala Ah yeah, indeed, sorry I forgot to update the ticket with the info, it has been tested in load testing env and brings some improvement (and works properly), it should be good to go.

[2022-05-25 18:15] chiiph opened #5901 "Remove retries in our datastore code"
In an ideal world, we would try to do something, that something would succeed, and the next thing would be done. In the real world, specially in the real world of servers and databases, that's not always the case. Things need to be retried sometimes.

The question we want to answer is: do we need to retry within the datastore? or can we trust osquery to just retry after a failure?

So as part of t

[2022-05-25 18:54] noahtalerman opened #5902 "In the Fleet Sandbox, send user to fleetdm.com on logout"
## Goal

As a Fleet Sandbox user, I want to be to be able to log out and be navigated to fleetdm.com.

## Related
- #4970 (epic)
- #6597

## Tasks

### 1
- [ ] When the the user selects "Log out," or navigates to a Fleet Sandbox with no active session, they are redirected to the home page on fleetdm.com/
- All sandbox instances will have a a config value set at `config.sandbox_enabled: true`.
- On

[2022-05-25 18:55] xpkoala opened #5903 "Fix export host filtering"
**Fleet version**:

**Operating system**:

**Web browser**:

<hr/>

### 🧑‍💻  Expected behavior
Export host button would only include data from active columns.

### 💥  Actual behavior
Various behaviors.

### More info
Some frontend work was missing to finish #5169. This ticket is to track those changes.

`Looks like there's still a bit of work to do on the frontend export function. This was created

[2022-05-25 19:24] noahtalerman commented on #5757
If the user deployed Fleet with a self signed cert, they will have to generate their own package with `fleetctl package`.

We'd like to be able automatically tell folks when they're required to generate their own package.

@zwass when you get the chance, can you please document the cases in which we'd ask the user to generate their own package? (Automatically switch to an "Advanced" tab).

[2022-05-25 19:26] lukeheath commented on #5458
@noahtalerman I think I may have misunderstood the conversation here between `/identifier/{identifier}` and `/device/{identifier}`. I updated the specs to say we wanted `epss_probability` on `/device/{identifier}` but not `/identifier/{identifier}` (see spec item 2 above). Would you please confirm this is incorrect? If so, I'll follow up with Michal to determine how it was implemented.

[2022-05-25 19:29] lukeheath commented on #5870
@gillespi314 I think you said this bug fix was merged? Ticket is still in the "Ready" column so wanted to check.

[2022-05-25 19:31] gillespi314 commented on #5870
@lukeheath thanks, I just updated the status!

[2022-05-25 19:38] gillespi314 commented on #5624
@sharvilshah @zwass, is zero a valid value for scheduled query intervals or should that be validated as well?

[2022-05-25 20:06] noahtalerman commented on #5723
The following goal will be moved into it's own issue:

As a new Fleet user, I want to add my personal device so that I can see how my device fairs against Fleet's standard policies.

[2022-05-25 20:36] mna commented on #5291
@lukeheath @gillespi314 After a lot of refactoring to be able to reuse the validations from AppConfig for teams, and to decouple the failing policies redis handling from the sending of webhooks (so it can also send to jira/zendesk integrations), the team config is now implemented with validations and all. What remains to be done, which I'll try to tackle early next week, is:

* Mask the API tokens

[2022-05-25 20:36] ksatter commented on #5857
@mike-j-thomas Working on the changelog and draft post, but it looks like we're locked in on the big three bullet points. Can I please get images for Fleet Desktop on Mac/Windows/Linux, Zendesk and last used for Mac applications?

[2022-05-25 20:54] noahtalerman commented on #5458
@lukeheath I'm confirming that this is incorrect. We'd like to add `epss_probability` to `GET hosts/identifier/{identifier}`. This is because I'd expect the `GET hosts/identifier/{identifier}` API route to always return the same data as the `GET /hosts/{id}` API route.

[2022-05-25 21:02] noahtalerman commented on #5857
@mike-j-thomas heads up, I made a small tweak to the list of features after Kathy's message above:
- Split Fleet Desktop on Mac/Windows/Linux into the following separate items:
  - Fleet Premium: Add beta support for Self-service with Fleet Desktop on macOS, Windows, and Linux
  - Fleet Premium and Fleet Free: Add beta support for Transparency with Fleet Desktop on macOS, Windows, and Linux

Can y

[2022-05-25 21:39] lukeheath commented on #5458
@noahtalerman Confirmed with Michal that he implemented this the correct way and not the way it was spec'd. We're all good!

[2022-05-25 22:15] noahtalerman commented on #5859
Hey @kswagler-rh the Fleet team is currently working on this! Check out this issue for a preview of the feature: #5441

This feature will likely be included in a mid June release of Fleet.

@kswagler-rh this is exactly an intended use case of policies and integrations.

If you can share, what are some policies that you've written to achieve these use cases?

[2022-05-25 22:15] noahtalerman commented on #5458
Alright!

[2022-05-26 00:19] mike-j-thomas opened #5908 "Add "As seen on TechCrunch" to website"
## Goal

Add social proof to the website that directs users to our TechCrunch funding article.

## How

Add "As seen on TechCrunch" to the home page

- [x] Design the button https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=1479%3A5151
- [ ] Build

![Image](https://user-images.githubusercontent.com/78363703/170390125-87b15fc4-9cdf-450f-93e6-cd8973916b92.png)

[2022-05-26 04:14] mike-j-thomas commented on #5723
Back at you, @noahtalerman ✅

[2022-05-26 04:30] mike-j-thomas commented on #5857
<img width="1600" alt="zendesk-integration-1600x900@2x" src="https://user-images.githubusercontent.com/78363703/170416125-b92b96fd-3fe9-44e7-9159-db985a0a0df7.png">

<img width="1600" alt="policy-self-service-1600x900@2x" src="https://user-images.githubusercontent.com/78363703/170416154-9867308d-4d51-4f3f-a8e9-4caff162dd38.png">

![scope-transparency-1200x674](https://user-images.githubusercontent

[2022-05-26 08:45] xpkoala opened #5910 "4.15.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-05-26 12:56] noahtalerman commented on #5757
@mike-j-thomas I'm passing you this issue. Can you please help me by drafting wireframes that address the following problems?
- As a user that wants to add a mac to Fleet, I want it to be obvious how to download this installer.
- A loading (waiting for download) state.
- A download has started (done) state.

[2022-05-26 13:19] noahtalerman opened #5911 "For new Fleet users, walk through adding personal device"
## Goal

As a new Fleet user, I want to add my personal device to Fleet so that I can quickly see the value of Fleet's reporting capabilities.

## Related

- #4970 (epic)

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=6865%3A270404

## Notes

- To enable Fleet Sandbox for local development, uncomment line 183 in `app.tsx`:

[code]

This will set the `config.sandbox_enabled`

[2022-05-26 13:30] noahtalerman commented on #5405
@zhumo your proposed changes are looking great! I'm leaving feedback here:

- What do you think about removing the "Warning" copy? My reasoning is that we're already using a purple call out box to call out important notes in the UI. One example of this callout box is on **Schedule > Schedule a query**:
![Screen Shot 2022-05-26 at 9 28 35 AM](https://user-images.githubusercontent.com/47070608/17049

[2022-05-26 13:58] noahtalerman commented on #5857
### Self-service with Fleet Desktop on macOS, Windows, and Linux
_Available in Fleet Premium_

Fleet Desktop is a lightweight application that allows end users to self serve failing policies on their laptop or workstation.

With Fleet Desktop installed on a host, the end user has access to the list of policies that apply to their laptop, along with the instructions to resolve failing policies. The

[2022-05-26 13:59] noahtalerman commented on #5857
Hey @ksatter, I posted the copy for the two Fleet Desktop sections in [my comment above](https://github.com/fleetdm/fleet/issues/5857#issuecomment-1138608256). Please let me know if you have any feedback or questions :)

[2022-05-26 14:41] sharvilshah commented on #5624
@gillespi314 zero is not a valid value -- osquery will complain if it's <=0

[2022-05-26 18:00] zwinnerman-fleetdm opened #5916 "Reduce time to first request for osquery-perf"
### Goal

TODO
Currently osquery-perf can take a minute to start sending requests. This can cause confusion within the team as everything will show up as scaled but no hosts will be in the fleet console.

For instance, for https://us-east-2.console.aws.amazon.com/ecs/home?region=us-east-2#/clusters/fleet-michal-backend/tasks/dd363a4f6b8f4e6c8b9b1db8b11a8b7d/details
It was started at `2022-05-26 13

[2022-05-26 18:16] zwass commented on #5689
We think it should probably log to a file.

macOS: ~/Library/Application Support/fleet-desktop
Linux: ??
Windows: ??

We need to take into account permissions with these paths.

We should copy the log rotation logic from Orbit.

Include (small) refactor to use zerolog to match Orbit.

Estimate: 8

[2022-05-26 19:28] zwass commented on #5716
Seems helpful: https://unix.stackexchange.com/questions/36380/how-to-properly-and-easily-configure-xdg-open-without-any-environment

[2022-05-26 19:40] zhumo opened #5921 "Messaging for time it takes to wake up Fleet Desktop"
Related to #4733

### Goal

As an end user,
I want to know when the information for Fleet Desktop is populated
so that I can understand where my device might be off-policy (if any)

### How?
Include some kind of communication in Fleet Desktop

### Figma
TODO

### API wireframes

TODO

#### Frontend

TODO

- [ ]

#### Backend

TODO

- [ ]

[2022-05-26 22:03] noahtalerman commented on #5379
Zach: We can look at `last_seen` in last day, last 7 days, last 30 days.

[2022-05-26 22:45] zwass commented on #5470
@xpkoala moving this back off the board as I'm closing my open PR. It should come back soon to the top of the Platform group's priorities.

[2022-05-27 00:00] roperzh commented on #5685
@lucasmrod would you mind thinking through this with me to make sure we're on the same page? First thing that comes to mind is to add a new public method to `server/service/client_*.go`, initialize a new client in fleet desktop and use it.

Is this what you had in mind? What makes me think is that there must be a reason why we copied the type declaration instead of just using `Client.HostByIdentif

[2022-05-27 04:02] dnx-aiven opened #5937 "Enroll endpoint for osqueryd doesn't exist"
**Fleet version**: `Fleet 4.14.0 • Go go1.17.8`

**Operating system**: `Fedora 35`

**Web browser**: Chrome, Firefox

<hr/>

### 🧑‍💻  Expected behavior

Following the Add hosts > Advanced > Plain osquery steps results in a successful enrollment.

### 💥  Actual behavior

No enrollment, logs show an error of:

`W0527 13:10:57.324188 1032001 tls_enroll.cpp:101] Failed enrollment request to https://<f

[2022-05-27 12:09] mike-j-thomas commented on #5872
Over to you @eashaw. Thanks!

[2022-05-27 13:26] noahtalerman commented on #5937
@dnx-aiven sorry you're running into this issue.

Thank you for the excellent report of the actual behavior and the fix.

[2022-05-27 14:09] Smjert opened #5939 "Further improve users and groups query on Windows DCs"
### Goal

Take advantage of the osquery 5.3.0 improvement to the users and groups table (https://github.com/osquery/osquery/pull/7516) to further speed up the query by doing the CTE only if osquery is version >= 4.9.0 and < 5.3.0.

In the past I've suggested to change your query joining users to groups to get users details (https://github.com/fleetdm/fleet/pull/3754).

Without that change the quer

[2022-05-27 15:52] zhumo commented on #5408
Hey @lukeheath would you mind taking a look at the description above?

Would be great to get your thoughts on the requirements there.

I think next step would be to specify the API.

[2022-05-27 17:50] lucasmrod commented on #5716
IIRC when manually running the exact same `xdg-open` command Fleet Desktop uses on a user terminal, then it works as expected (opens Firefox).

[2022-05-27 17:56] Desmi-Dizney commented on #5825
This has been merged:
- https://github.com/fleetdm/fleet/pull/5942

[2022-05-27 17:57] #5825 closed

[2022-05-27 17:57] Desmi-Dizney commented on #5788
This has been merged:
- https://github.com/fleetdm/fleet/pull/5942

[2022-05-27 17:58] Desmi-Dizney commented on #5609
This has been merged:
- https://github.com/fleetdm/fleet/pull/5781

[2022-05-27 17:58] #5609 closed

[2022-05-27 19:24] lukeheath opened #5947 "In Fleet Desktop, add ability to use a custom URL for the "Transparency" link"
## Problem
In Fleet Desktop, the current "Transparency" link opens the contributor's (end user's) browser and sends them to fleetdm.com/transparency:

![Screen Shot 2022-04-27 at 10 42 30 AM](https://user-images.githubusercontent.com/47070608/165544798-5f7e4bb7-27d4-40c9-b60c-53983f1be9c3.png)

Customers want to direct their end users to their own transparency-related resource.

## Goal

As a flee

[2022-05-27 19:28] lukeheath commented on #5947
@zhumo This is the agent ticket for the fleet desktop transparency URL work. I'm assigning to you so that you can work with the appropriate engineer (probably @lucasmrod) to get this ticket estimated (if you choose to use estimates on the agent board). If not, feel free to unassign yourself.

[2022-05-27 19:37] lukeheath opened #5949 "Ensure new config item can be set via `fleetctl config set`"
## Problem
In Fleet Desktop, the current "Transparency" link opens the contributor's (end user's) browser and sends them to fleetdm.com/transparency:
![Screen Shot 2022-04-27 at 10 42 30 AM](https://user-images.githubusercontent.com/47070608/165544798-5f7e4bb7-27d4-40c9-b60c-53983f1be9c3.png)

Customers want to direct their end users to their own transparency-related resource.

## Goal

As a fleet

[2022-05-27 19:46] lukeheath opened #5950 "Add new "Fleet Desktop" section to global settings page"
## Problem
In Fleet Desktop, the current "Transparency" link opens the contributor's (end user's) browser and sends them to fleetdm.com/transparency:

![Screen Shot 2022-04-27 at 10 42 30 AM](https://user-images.githubusercontent.com/47070608/165544798-5f7e4bb7-27d4-40c9-b60c-53983f1be9c3.png)

Customers want to direct their end users to their own transparency-related resource.

## Goal

As a flee

[2022-05-27 19:56] lukeheath commented on #5408
@gillespi314 Assigning to you for a point estimate. Just let me know if you have any questions. Thanks!

[2022-05-27 19:57] lukeheath commented on #5949
@gillespi314 Assigning to you for a point estimate. Just let me know if you have any questions.

I'm not 100% certain how `fleetctl` works. Does it interact with the Fleet API, or does it modify the database directly? If it modifies the db directly, then it is not blocked by the API work and we can remove the `:blocked` label.

[2022-05-27 21:09] eashaw commented on #4911
@mikermcneil I opened a draft PR with a plan at https://github.com/fleetdm/fleet/pull/5955

[2022-05-30 00:25] #5908 closed

[2022-05-30 00:31] #5872 closed

[2022-05-30 14:46] GuillaumeRoss opened #5963 "Ignore path from website markdown compilation"
I have a branch I want to merge to main:

https://github.com/fleetdm/fleet/pull/5527

It contains files under `handbook/security-awareness/` including markdown files. I use these to generate the slides for our security awareness. I will also potentially put more content in there - but I don't want it to be "built" - just static hosting. We will refer to it a lot from the handbook which is why I pu

[2022-05-30 19:28] zhumo commented on #5379
@noahtalerman I updated the description with some thoughts. WDYT?

[2022-05-30 21:57] roperzh opened #5968 "add missing documentation for `/device` endpoints"

[2022-05-30 22:46] roperzh commented on #5806
When #5967 gets merged, we will have two device endpoints with premium data:

a. `GET /api/_version_/fleet/device/{token}` (because it contains a `policies` array)
b. `GET /api/_version_/fleet/device/{token}/policies`

I will modify `a` to only include policy information for premium users, this way the UI  can remain untouched (at least as far as I can tell by looking at the code)

[2022-05-30 23:03] #5788 closed

[2022-05-31 13:21] lucasmrod commented on #5685
Introducing a separate `DeviceClient` type in such package makes more sense (as the authentication AND API are different).

+1, can be tackled at a later iteration.

[2022-05-31 13:58] roperzh commented on #5968
closing as these are meant for internal use only.

[2022-05-31 13:58] #5968 closed

[2022-05-31 15:08] #3320 closed

[2022-05-31 15:08] #3399 closed

[2022-05-31 15:08] #3543 closed

[2022-05-31 15:08] #3643 closed

[2022-05-31 15:08] #4113 closed

[2022-05-31 15:08] #5103 closed

[2022-05-31 15:08] #5337 closed

[2022-05-31 15:08] #5477 closed

[2022-05-31 15:08] #5486 closed

[2022-05-31 15:08] #5493 closed

[2022-05-31 15:08] #5497 closed

[2022-05-31 15:08] #5504 closed

[2022-05-31 15:08] #5505 closed

[2022-05-31 15:08] #5509 closed

[2022-05-31 15:08] #5513 closed

[2022-05-31 15:08] #5515 closed

[2022-05-31 15:08] #5516 closed

[2022-05-31 15:08] #5536 closed

[2022-05-31 15:08] #5614 closed

[2022-05-31 15:08] #5741 closed

[2022-05-31 15:08] #5815 closed

[2022-05-31 15:08] #5903 closed

[2022-05-31 15:08] #5910 closed

[2022-05-31 15:08] #5937 closed

[2022-05-31 15:09] kswagler-rh commented on #5859
@noahtalerman

That's great to hear the team is already on it.

I just submitted one for inclusion in the Standard query library
https://github.com/kswagler-rh/fleet/pull/1
I have another that is a very long query that may not be a good fit if the team wants to keep the Standard Queries shorter

[2022-05-31 15:25] noahtalerman commented on #5379
@zhumo looks great. Thank you for adding the notes about future expansion of active users.

Today, usage statistics include a `numUsers` property. What do you think about removing the above task?

Another option is to update the name of this property to `numRegisteredUsers`. This would be a breaking chance, which we only introduce in major versions (ex. Fleet 5.x).

`numUsers` is the number of use

[2022-05-31 15:52] lukeheath commented on #5291
@mna - Got it! Thanks for the heads up.

[2022-05-31 15:53] noahtalerman commented on #5777
Closing this issue because the expected outcome for downgrading is defined. The following issue includes the task of documenting this expected outcome: https://github.com/fleetdm/fleet/issues/2210

[2022-05-31 15:53] #5777 closed

[2022-05-31 16:29] michalnicp opened #5975 "Improve load testing experience"
While load testing using `infrastructure/loadtesting`, there were several issues that made load testing more difficult

# Testing changes on a branch requires multiple undocumented and time consuming steps.

1. Commit and push branch to Github
1. Wait for Github workflow to finish (to publish docker image to dockerhub)
1. Rename image name in terraform file `infrastructure/loadtesting/terraform/ec

[2022-05-31 17:36] lucasmrod opened #5979 "Add unit tests for `osquery.Runner` functionality"
The `Runner` type in package `orbit/pkg/osquery/` does not have any unit tests for its functionality.

PS: This comes as a request after reviewing+merging #5637 (where a user added functionality to the package).

[2022-05-31 18:03] DrewBakerfdm opened #5980 "/articles - Add Algolia search to blog posts"

[2022-05-31 18:16] noahtalerman commented on #5036
### Password minimum length

1. When I create an account on fleetdm.com, I must use a password that has a minimum length of 12 characters in order to access Fleet Sandbox.

Proposed solution:
- Update minimum password length for fleetdm.com accounts to 12 characters.

2. When I have an account on fleetdm.com (used to obtain a Premium license), but my password is less than 12 characters (minimum le

[2022-05-31 18:28] lucasmrod commented on #5408
Before going down the route of adding/modifying an API, maybe the `fleetctl package` option can be a good first iteration? (see Zach's [comment](https://github.com/fleetdm/fleet/issues/5408#issuecomment-1119141877))

It would be simpler as it would only require changes in `fleetctl`, `orbit` and `Fleet Desktop` (not on Fleet Server and/or API).

[2022-05-31 19:32] lukeheath commented on #4904
@noahtalerman This issue has been blocked for a bit. Moving back to roadmap for additional spec'ing / unblocking.

[2022-05-31 19:32] lukeheath commented on #4062
@noahtalerman This is the frontend portion of the battery condition, which is blocked by the backend.

[2022-05-31 19:46] #5624 closed

[2022-05-31 20:03] #5115 closed

[2022-05-31 20:15] noahtalerman commented on #5036
### Update on setting and updating the duration of Fleet Sandbox instances

The duration of Fleet Sandbox instances is set and controlled by the Fleet Sandbox backend (cloud provisioner).

Options considered:
- The duration is set and controlled by the Fleet Sandbox backend.
- The duration is set and controlled by the fleetdm.com website.

Reasoning:
- Changes to the Fleet Sandbox backend will be

[2022-05-31 21:09] noahtalerman commented on #5036
@mikermcneil and @zwass do you have any concerns with the above ["Decision: Setting and updating the duration of Fleet Sandbox instances"](https://github.com/fleetdm/fleet/issues/5036#issuecomment-1142599130) ?

This was discussed on a call with @noahtalerman and @chiiph on 2022-05-31

[2022-05-31 21:13] lucasmrod commented on #5867
I believe I was able to reproduce.

The issue seems to be "leftover scripts" from a previous installation that had a "bug" in the post/pre removal/install scripts.

Such edge-case issue can be fixed by running:
[code]
And then installing the new version of the fleet-osquery deb package.

[2022-05-31 21:20] noahtalerman commented on #5857
Blog post is out! https://fleetdm.com/releases/fleet-4.15.0

[2022-05-31 21:20] #5857 closed

[2022-05-31 21:21] lukeheath commented on #3359
@noahtalerman Do you know of a method to enable SSO locally? I'm having a hard time getting it setup in my local instance to build this improvement.

[2022-05-31 21:21] lukeheath commented on #3359
Adding the `:blocked` label until I can figure out how to setup SSO locally.

[2022-05-31 21:22] noahtalerman commented on #3359
@lukeheath I'm not positive this is helpful but I'm linking to a "Testing SSO" section of the docs here: https://fleetdm.com/docs/contributing/testing#testing-sso

[2022-05-31 21:23] lukeheath commented on #3359
@noahtalerman Thanks for the quick reply! Looks like that's what I need.

[2022-05-31 21:57] michalnicp opened #5982 "software_host_counts not cleaned up and causing performance issues"
**Fleet version**: main (eb8defdcbe701f4f33f82f16314983e7701f35f7)

**Operating system**:

**Web browser**:

### 🧑‍💻  Expected behavior

Rows in the `software_host_counts` table are deleted eventually when software is removed from all hosts.

### 💥  Actual behavior

Rows in the `software_host_counts` table are not deleted when software is removed from all hosts. This causes performance issues when

[2022-05-31 22:00] michalnicp commented on #5982
@mna do you mind taking a look at this?

[2022-05-31 22:31] #5399 closed

[2022-05-31 22:52] michalnicp opened #5983 "Performance issues when listing software"
**Fleet version**: main (eb8defdcbe701f4f33f82f16314983e7701f35f7)

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior

`GET /api/v1/fleet/software` should respond in a reasonable amount of time ie < 1 s at least.

### 💥  Actual behavior

Used the osquery-perf loadtesting environment created using `infrastructure/loadtesting/t

[2022-06-01 06:05] Piyush1786 opened #5984 "Unable to download certificate from the Fleet UI."
Unable to download certificate from the Fleet UI and because of that not able to connect the agents via "Plain Osquery".
Shows error:500

[2022-06-01 14:00] erikng opened #5989 "some documentation on orbit is incorrect"
https://github.com/fleetdm/fleet/tree/main/orbit#orbit-osquery-result-and-status-logs

it points to the wrong path of `/var/lib/orbit` and not `/opt/orbit`

[2022-06-01 14:05] juan-fdz-hawa opened #5990 "Optimize the way we fetch software when performing security scans"
For many existing tables we define:
[code]
We could add the same to `host_software`?

https://github.com/fleetdm/fleet/blob/main/server/fleet/traits.go

_Originally posted by @lucasmrod in https://github.com/fleetdm/fleet/issues/5965#issuecomment-1142371772_

[2022-06-01 14:12] noahtalerman commented on #5757
@mikermcneil, @zhumo, @chiiph do you have any concerns with the above decisions?

This was discussed on a call with @noahtalerman and @zwass on 2022-05-20

[2022-06-01 14:32] lucasmrod opened #5992 "Fleet logs "no such table" errors with MDM and Munki tables with macOS hosts running vanilla osquery"
Fleet version: 4.15

MDM and Munki tables are available in Orbit hosts (as extension tables), but not available on vanilla osquery hosts.

### 🧑‍💻  Expected behavior

Fleet handles such Orbit-extension tables to avoid errors in vanilla osquery hosts.

### 💥  Actual behavior

Fleet always sends MDM and Munki queries to vanilla osquery hosts, resulting in error logs (in Fleet and in osquery logs):
[

[2022-06-01 14:40] noahtalerman opened #5993 "Live queries do not return results"
**Fleet version**: 4.15.0

### 🧑‍💻  Expected behavior

When running a live query in the Fleet UI, I expected to see live query results.

### 💥  Actual behavior

The Fleet UI presented a loading spinner and did not return live query results.

<img width="972" alt="Screen Shot 2022-06-01 at 3 30 42 am" src="https://user-images.githubusercontent.com/47070608/171431207-a884043b-369d-453c-bb07-6b62ea9e

[2022-06-01 15:07] ksatter commented on #5989
@erking Thanks so much for bringing this to our attention. We've prioritized recreating this issue and getting the documentation updated where needed.

[2022-06-01 15:44] eashaw opened #5999 "Website: script error on fleetdm.com on iOS"
**Operating system**: iOS

**Web browser**: Chrome

<hr/>

A script error on https://fleetdm.com/releases/fleet-4.15.0?fbclid=IwAR3je_CIQlmH4jt6t9Wg0IUsUZUbbYJpRiWHfWuaWduyyh5vJAXKjiTy6Uo

![image](https://user-images.githubusercontent.com/7445991/171443790-6e4c1d15-1be2-45e9-be55-8fb96c74aaf5.png)

Related: https://fleetdm.slack.com/archives/C01GQUZ91TN/p1654050644507689

[2022-06-01 15:57] lukeheath commented on #5408
@gillespi314 @lucasmrod

This update includes the ability to set/modify the transparency via the UI (see [Figma](https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=6861%3A270171)). In order to support that, I believe we'll have to add it as a property in the global config object. Please let me know if I'm mistaken. Thanks!

[2022-06-01 15:58] gillespi314 commented on #5408
@noahtalerman @lukeheath, I think that this probably needs to more thought about how it would be coordinated with the agent. For example, what happens if the customer downgrades after they have deployed agents configured to link to the custom url?

[2022-06-01 16:14] michalnicp opened #6001 "Investigate vulnerability scanning on windows and macos"
### Goal

Investigate vulnerability scanning on windows and MacOS hosts, including false positive/negative rate.

### How?

- Install software listed in https://github.com/fleetdm/fleet/issues/5691. Use older versions that have known vulnerabilities
- Evaluate whether https://github.com/fleetdm/fleet/pull/5471 would be a viable option, how it would affect vulnerability detection on MacOS and the r

[2022-06-01 16:29] chiiph commented on #5757
I'm not concerned with the decisions. I'm mostly curious to hear @zwass 's technical thoughts on this so that I understand better what we have ahead of us.

[2022-06-01 16:37] zwinnerman-fleetdm opened #6002 "Checkov github actions automation"

[2022-06-01 16:38] zwinnerman-fleetdm opened #6003 "Encrypt cloudwatch logs"

[2022-06-01 16:38] zwinnerman-fleetdm opened #6004 "Enable elasticache encryption in transit"

[2022-06-01 16:38] zwinnerman-fleetdm opened #6005 "Enable elsticache encryption at rest"

[2022-06-01 16:38] zwinnerman-fleetdm opened #6007 "rds deletion prevention suppress message"

[2022-06-01 16:38] zwinnerman-fleetdm opened #6010 "Enable WAF for public LBs"

[2022-06-01 16:38] zwinnerman-fleetdm opened #6012 "Suppress/fix all messages for VPC module"

[2022-06-01 16:38] zwinnerman-fleetdm opened #6013 "Fix r53 "Route53 A Record has Attached Resource""

[2022-06-01 16:38] zwinnerman-fleetdm opened #6014 "Suppress messages related to docker"

[2022-06-01 16:39] zwinnerman-fleetdm opened #6015 "Create templates for various redis setups"

[2022-06-01 16:39] zwinnerman-fleetdm opened #6016 "Create templates for various RDS setups"

[2022-06-01 16:39] zwinnerman-fleetdm opened #6017 "AWS org best practice review"

[2022-06-01 16:39] zwinnerman-fleetdm opened #6018 "AWS federated login"

[2022-06-01 16:39] zwinnerman-fleetdm opened #6019 "AWS login account"

[2022-06-01 16:39] zwinnerman-fleetdm opened #6020 "AWS guard duty"

[2022-06-01 17:09] lukeheath commented on #5380
@gillespi314 Heads up that the backend PR for this issue has been merged! https://github.com/fleetdm/fleet/pull/5838

Will this need any tweaks before PR review, or is it good to go?

[2022-06-01 17:27] noahtalerman opened #6021 "On My device page, update info banner"
In the current release of Fleet (4.15.0), the following banner is displayed to both Fleet operators (**Host details** page) and device users (**My device** page):
<img width="1052" alt="Screen Shot 2022-05-20 at 1 41 26 PM (1)" src="https://user-images.githubusercontent.com/47070608/171465078-cef53ae0-6eda-41e9-ba10-046301ce5e1b.png">

This banner, and link to [more info in the docs](https://fleet

[2022-06-01 17:29] noahtalerman commented on #6021
@zhumo heads up, I assigned you this issue and added it to the Roadmap board.

[2022-06-01 17:44] noahtalerman opened #6022 "Document the Jira and Zendesk APIs Fleet uses"
### Goal

As a Fleet contributor
I want to know what version of the Jira and Zendesk API the Fleet product uses
So that I can determine whether or not the Fleet product will be affected by breaking changes.

### How?

- [ ] Add a "Integrations" section the "API for contributors" documentation
  - This section includes the version of the Jira and Zendesk API used by the Fleet product
  - This secti

[2022-06-01 17:45] noahtalerman commented on #6022
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @mikermcneil

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-26.

[2022-06-01 17:49] lucasmrod commented on #5875
@zwass FYI: This change also required us fixing the broken feature of changing a target's channel after installation (you now can change it and by restarting Orbit it should work, tested on macOS).

[2022-06-01 17:52] noahtalerman opened #6024 "Add ability to schedule queries with fleetctl"
### Goal

As user, I want to be able to control my scheduled queries in an equally powerful and gitops-enabled way that I can already control my query packs.

### Parent epic
- #7765

### Requirements

- Remove packs from all fleetctl `--help` text.

## fleetctl

Add `team`, `interval`, `automations`, and `platform` keys to `query` YAML document.

- `team`: A team name. If specified, the query wil

[2022-06-01 17:52] noahtalerman commented on #6024
Notify these folks when this issue makes it into a planned release or is de-prioritized:
- @mikermcneil

This improvement was prioritized (committed to release in the next 6 weeks) during 🗣 Product office hours on 2022-05-26.

[2022-06-01 17:57] zhumo opened #6027 "Measure "violation days" for self-remediation"
### Problem
One of the goals/purposes of Fleet Desktop is to give our community the ability to prod their end users to self-remediate their non-compliant machines. This helps our community reduce the amount of person-hours dedicated to nagging and helps their org get secure faster.

However, we currently do not have any analytics to measure follow-through on self-remediation. We should be measurin

[2022-06-01 17:57] zhumo opened #6028 "OOB policy pack for CIS"
# Problem
Customers need to meet compliance requirements for auditors. This takes a lot of time and energy from the security team. The security team needs to provide proof to the auditors that the company is compliant with some standard. Frequently, this requires cobbling together data.

# Goal
- Start with CIS, since it is highly comprehensive.
- Time-to-value: Get Fleet set up and one-click to g

[2022-06-01 17:57] zhumo opened #6029 "Identify then fix or suppress failing osquery tables"

[2022-06-01 17:57] zhumo opened #6030 "Block access to certain apps when certain policies fail"

[2022-06-01 17:57] zhumo opened #6031 "Block certain websites when certain policies fail"

[2022-06-01 18:06] noahtalerman opened #6032 "Document how to obtain non-expiring API token"
### Goal

As a user integrating with the Fleet API
I want to know how to obtain a non-expiring API token
so that I can be confident that the integration I'm building will work.

### How?

- [x] Update the "Using fleetctl with an API-only user" section of the docs with instructions on how to obtain an API-only user's API token
  - To obtain an API-only user's API token, a request is made to the [Lo

[2022-06-01 18:13] zhumo opened #6034 "Enable deploying and upgrading osquery extensions w/ Fleetd"
### Problem
Currently, Orbit deploys and upgrades osquery and Fleet Desktop on the end-user's machine. But many of our users deploy osquery extensions to suit their situations. In order to achieve this, they must deploy and manage extensions separately via a tool like Munki or MDM.

We want to bring the deployment and management of extensions into Orbit in order to save our users the time and ener

[2022-06-01 18:16] zhumo opened #6035 "osquery for containerized (Docker) environments - Why? How?"

[2022-06-01 18:32] noahtalerman commented on #397
Hey @n8felton and @lctrkid, this is the issue that currently tracks future improvements to the **Home** page (dashboard) in Fleet.

Is the following interpretation of our previous call correct?
- One of the best parts about Sal is the ability to drill down from a summary of hosts into a list of specific hosts (ex. see all hosts with macOS 12.3.1)
- Operating system information is most important.
-

[2022-06-01 18:42] nunesvn opened #6037 "On Hosts page, the OS and Name columns don't show full available content before truncating"
**Fleet version**: 4.15.0

**Operating system**: Windows 11

**Web browser**:  Firefox 100.0.2

<hr/>

On Hosts page, it's expected to have the operating system versions. However, even with available column space, the full Windows Server version gets truncated.
On the screenshot below, it's not possible to say if these are Windows Server 2012, 2016, 2019 or 2022, per example.

![image](https://use

[2022-06-01 18:59] n8felton commented on #397
This is correct. The idea is that you can start out broad (e.g. top-level chart or table of macOS versions for entire fleet), but then you can get more detailed information as you click down into the rabbit hole.

* Clicking **12.3** takes you to a list of hosts with macOS 12.3 with column headers that present useful and actionable information, e.g. Serial Number, Hostname, Primary user, last upda

[2022-06-01 19:06] nunesvn opened #6039 "Make links on grids "openable" in new page"
### Goal

It's a very common usage pattern the "middle click" to open a link in a new page (Cmd+Click on Mac). On Fleet 4.15.0 most links don't allow that. This behavior breaks the user expectations, because the links look like links (even get underlined on hover).

It is specially annoying because the destination of the links are actual URLs that work, per example, clicking on a given host in the

[2022-06-01 19:24] nunesvn opened #6041 "Rename the Policy statuses to "Compliant" and "Non-compliant" instead "Yes/No""
### Goal

This may be a little polemic, but after thinking about it for a while, I think is a good suggestion.
Today when defining policies one needs to phrase the policy name to fits the Fleet UI.
Sometimes it works, but sometimes you need to invert the logic of the name to fit the "Yes/No" status, specially when the desirable status is a negative one.
In this cases, using "Compliant" makes the U

[2022-06-01 20:07] lukeheath commented on #5947
@noahtalerman @gillespi314

Great call-out! Looking at the [Fleet desktop code](https://github.com/fleetdm/fleet/blob/main/orbit/cmd/desktop/desktop.go) it references an environment variable `FLEET_DESKTOP_DEVICE_URL`, which presumably is the `/api/latest/fleet/device/{device_token}` URL. In that case, we need to expand the scope of this ticket to include the `fleet_desktop` property in this respo

[2022-06-01 20:34] mike-j-thomas opened #6042 "Website: setup Rollbar (or equivalent) on fleetdm.com"
Goal: To be notified in Slack when a client side error occurs on fleetdm.com

How?
- [x] Add rollbar to fleetdm.com
- [ ] Configure it to notify us in slack when an error occurs

[2022-06-01 21:43] mna commented on #5982
I have only taken a quick look hoping it was something easy to spot, will take a closer look on Monday but it looks like some things may have been lost with some changes made since the initial implementation. It does seem like it only removes count rows from deleted teams now, but there used to be a step after that Calculate call that removed any row that had a count of 0 IIRC.

[2022-06-01 21:48] erikng commented on #5689
+1 :)

[2022-06-01 22:56] eashaw opened #6043 "Website: Add .retry() to GitHub API calls in `deliver-estimation-report.js`"

[2022-06-01 23:18] mikermcneil opened #6044 "Check and (expand if necessary) the time-off policy to cover these points and clarifications"
## Goal

Make sure these points are adequately covered in as few words as possible, without duplicating content that already exists, on the following pages:

- [x] the handbook https://github.com/fleetdm/fleet/pull/6081
- [x] linked from onboarding (please ask @CharlotteChance for help locating that template).

### Points
[code]

[2022-06-02 00:28] mike-j-thomas opened #6046 "Illustration concept for Measuring Compliance article"
Create concept for an illustration for this article:
https://docs.google.com/document/d/1awAPIHUCko-MhonX1SNXNUveXKNW-_D9RIAo2h749Ng/edit?usp=sharing

[2022-06-02 03:57] hereCOMESlappy opened #6049 "Manual Queries and Policy Queries broken when websockets disabled"
**Fleet version**: v4.15.0

**Operating system**: Ubuntu Server 22.04 arm64

**Web browser**: Latest Chromium

### 🧑‍💻  Expected behavior
When I test a policy query or I run a query manually in fleet, I expect to see the response in the usual table below. But interestingly queries that are scheduled and are part of a query pack work fine.

### 💥  Actual behavior
The UI just hangs as if it is waiti

[2022-06-02 09:12] mike-j-thomas commented on #6044
@Desmi-Dizney, for more context, we'd like to parse the info from Mike's Slack message from last week (pasted above) and add anything that's missing to the [time-off policy](https://fleetdm.com/handbook/people#taking-time-off) in the handbook, and to the new team member onboarding template (please ask @CharlotteChance) for help locating that template.

[2022-06-02 13:02] Damola12345 commented on #6002
hi @zwinnerman-fleetdm can i work on this task ?

[2022-06-02 13:50] noahtalerman commented on #5408
@lucasmrod this is a good point. I think your reasoning is that it would be simpler to start with adding a fleetctl package option.

That being said, we'd like to start with adding the ability to modify the transparency link in the UI/API.

Options considered:
- Add ability to modify transparency link in the UI/API.
- Add ability to modify transparency link when creating a package.

Reasoning:
-

[2022-06-02 13:50] noahtalerman commented on #5408
cc @zhumo ^

[2022-06-02 13:51] noahtalerman commented on #5624
@tgauda heads up, a fix for this bug, reported by a Fleet customer, was included in the 4.15.0 release.

[2022-06-02 13:52] noahtalerman commented on #5937
@dnx-aiven heads up, a fix for this bug was included in the 4.15.0 release.

[2022-06-02 13:53] noahtalerman commented on #5614
@kevinpmmck heads up, a fix for this bug was included in the 4.15.0 release.

[2022-06-02 13:54] noahtalerman commented on #5477
@GuillaumeRoss heads up, this improvement was included in the 4.15.0 release.

[2022-06-02 13:54] noahtalerman commented on #4410
@mikermcneil heads up, this improvement was included in the 4.15.0 release.

[2022-06-02 13:57] noahtalerman commented on #5741
@tgauda heads up, the `thrift_verbose` flag works as intended in osquery version 4.7 and up. This question was asked by a Fleet customer.

[2022-06-02 14:14] zhumo commented on #5757
@noahtalerman all of the above makes sense to me.

[2022-06-02 14:20] zhumo commented on #5757
@noahtalerman looking at the designs, though, I have a few questions:
1. Why is fleet desktop optional?
2. Should I be able to do the special configurations for the package that I could from `fleetctl`? If not, should we link to documentation on the advanced features?
3. Should we communicate the approximate time it takes? Seems like up to 30s for Mac installer would get people to become antsy. I

[2022-06-02 14:44] noahtalerman commented on #5911
TODO: Think about making it extremely apparent to the user to click on “Add hosts.” Right now there’s other cards taking the user’s attention away.
TODO: Add new failing policy icon
TODO: Look into the “Go to Host details…” page.
TODO: No duplicate dev notes for behavior that already exists.
Next step is thinking about what the next goal is after adding your first host. Is a second one?

[2022-06-02 14:51] zhumo opened #6054 "How to handle custom osquery tables in the UI"

[2022-06-02 14:51] zhumo opened #6055 "Allow custom transparency link in Fleet Desktop"

[2022-06-02 15:34] eashaw opened #6057 "Website: test adding lockfile"
https://fleetdm.slack.com/archives/C01GQUZ91TN/p1654136111549599?thread_ts=1654133787.797119&cid=C01GQUZ91TN

From mikermcneil:

[2022-06-02 15:55] mikermcneil commented on #5036
Determining and storing the duration on the website side allows more flexibility in how we handle communication with the user like transactional emails.

Is the main concern that changes to the duration will be made without testing and involving the Platform group?  This won't be the case: all changes to the duration will be discussed with the Platform group before they are made.

If so, let's sti

[2022-06-02 16:15] xpkoala commented on #5691
This can be OS agnostic at the moment. We can double back and validate on all systems later, but to start just test each on one OS. @xpkoala

[2022-06-02 16:22] roperzh commented on #5982
@mna I had this assigned to me, but since you will be taking a closer look later on, I will reassign to you (feel free to reassign back heh)

[2022-06-02 16:24] zhumo commented on #6028
@GuillaumeRoss Would love your input on this. Any suggestions on place to start for OOB policy packs?

[2022-06-02 16:32] noahtalerman commented on #5993
This issue is a duplicate of the following issue: #6049

[2022-06-02 16:32] #5993 closed

[2022-06-02 17:22] zwass commented on #5036
@mikermcneil the concern isn't about buy-in from the Platform group, it's about keeping the MVP of this work as minimal as possible. I am definitely not opposed to making this configurable, but I strongly argue for doing so after we've been able to ship the MVP.

In general I'm pushing for MVP decisions that allow us to ship the initial value to users ASAP and then iterating on the improvements to

[2022-06-02 17:58] mikermcneil commented on #6049
Hi @hereCOMESlappy, thanks for the report.  We're working to reproduce this ASAP.

[2022-06-02 18:02] GuillaumeRoss commented on #3934
We need to design how we'd do this - handle "SLAs", ex:

IF macOS is the latest OR it's on a version that is not older than X days, pass.

[2022-06-02 18:07] mikermcneil commented on #5036
@zwass That's helpful, thanks.  Grabbed some time today to go over it together.

[2022-06-02 18:09] xpkoala commented on #6049
Hey @hereCOMESlappy, sorry about the troubles you are experiencing.

I'm attempting to reproduce this locally and I haven't been successful just yet. Would you mind sharing one of the queries you have used that has failed? I would venture whatever you are encountering is not unique to the queries you have, but I would like to reduce the amount of variance when attempting to reproduce.

[2022-06-02 18:09] zhumo opened #6060 "HelloIT Integration for Fleet Desktop"

[2022-06-02 18:10] zhumo opened #6061 "Push Notification for policy violations for end users"

[2022-06-02 18:50] lucasmrod opened #6063 "Fleet Desktop and Server Compatibility"
# Desktop and Server Releases

## Releases

Unlike UI and Server, Desktop and Server are released independently, so we must make sure each release of both components is backwards compatible:

- Desktop follows the auto-update mechanism (via Orbit), which means that:
	- some users will always be running the latest released version automatically as soon as it's released.
	- some users may have a spe

[2022-06-02 18:51] lucasmrod commented on #5684
I've just added one more issue to the topmost list: #6063.

[2022-06-02 18:51] zhumo commented on #5694
@noahtalerman for when we allow users to generate the installer in-house, should we grey out the Fleet Desktop option (if we're gonna stick with that), if they don't have the right version of Fleet Server?

[2022-06-02 18:53] zhumo commented on #5694
Decision from agents weekly meeting was to:
1. Don't handle this on Fleet Desktop itself
2. Start off with clear documentation (where? how?)
3. Prevent Fleet Desktop installation file from being generated programmatically from GUI and CLI

[2022-06-02 19:09] lucasmrod commented on #5947
With a chance merged today, Desktop does not use `/api/latest/fleet/device/{device_token}` at start up anymore.
It now uses a lighter request (it fetches policies) to check for connectivity (and change the menu item from `Initializing...` to `My device`).

That said, Desktop can totally use `/api/latest/fleet/device/{device_token}` to retrieve such Transparency Link info. We could add it to `getDe

[2022-06-02 19:13] zhumo opened #6064 "Rotate Fleet Desktop "My Device" URL"
## Problem
The URL for "My Device" is a static link that can be visited by everyone if someone shares that link. It can also be brute-forced. This is a blocker for some customers to deploying Fleet Desktop.

## Goals
- Reduce ability for link to be shared permanently
- Reduce the exposure of an endpoint if it has been uncovered.

## How?
- Rotate the URL once per hour
- If the URL has expired, com

[2022-06-02 19:19] zhumo opened #6065 "Enable custom URL header in FleetCTL"
### Goal

Customer can use fleetctl without having to customize the source code.

### How?

- [ ] Proposed solution: Some users require custom URL headers in order for fleetctl to work in their environments. We need to allow users to apply a custom URL header.
- [ ] Apply to config

[2022-06-02 20:02] ksatter commented on #6049
@hereCOMESlappy can you also confirm whether you ran `fleet prepare db` after updating?

[2022-06-02 21:49] lukeheath commented on #5408
Fleet Desktop does not currently hit `/device/{device_token}`, but the related Fleet Desktop ticket has been updated so that it will, and it will use the `fleet_desktop.transparency_url` property from the response object to determine transparency URL.

[2022-06-02 21:50] zwass commented on #5036
@mikermcneil and I discussed and we are in alignment that we want to do what we can to ship sooner by leaving out the capability to set the expiration from the API request.

It's going to be important to be able to control this from the website in the future, so we will leave the API as proposed (including `expiration_time`), but the provisioner can _ignore_ this value until we come back to add th

[2022-06-02 21:59] zwass commented on #5036
@noahtalerman @mike-j-thomas I realize this was added three weeks ago and I'm only catching it now -- my apologies.

I don't think the password reset flow can work as documented (without significant changes to the Fleet app). It seems to rely on fleetdm.com being able to call the [reset_password API](https://fleetdm.com/docs/using-fleet/rest-api#example5), which requires an admin user account. The

[2022-06-02 21:59] lukeheath commented on #5826
@noahtalerman The problem we're running into is that the spinner + veil is not implemented in several places where there are async actions happening, like saving a query.

We could implement the spinner + veil, but it feels jarring to hide the page for a quick spinner, then show the same content again. IMO, the spinner + veil only makes sense if the page is changing.

A major part of a UI feeling

[2022-06-02 22:02] dnx-aiven commented on #5937
Thanks @noahtalerman , great seeing the fast turnaround for this.

[2022-06-02 22:28] #4323 closed

[2022-06-02 22:53] lukeheath opened #6068 "Users table actions popup misalignment"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

1. When I click the "Actions" button, I can read all of the text in the popup.

2. I expect a horizontal dividing line between all table headers.

### 💥  Actu

[2022-06-02 23:09] #4911 closed

[2022-06-02 23:16] eashaw opened #6069 "Website: Add subheading styles to articles"
Related to https://github.com/fleetdm/fleet/pull/6050

[2022-06-03 00:06] zwass commented on #6049
I am unable to reproduce in our dogfooding environment with `distributed_interval` set to both `10` and `90`. Clients are mostly (or entirely?) Orbit osquery (osquery 5.2.2).

I also tried in a dev environment with plain osqueryd (4.9.0) clients and also locally with fleetctl preview and both Orbit (osquery 5.2.2) and plain osqueryd (4.6.0). In both cases, all hosts are responding to live queries

[2022-06-03 00:28] mike-j-thomas opened #6071 "Style guide - How do we present buttons, page titles, sections titles from the Fleet app in /docs?"
From Des:
How to differentiate when we are talking about the name of a button or part of Fleet, the product?
We are capitalizing the names of features.
If we want something different than the features, we could italicize them or use quotes.

- [x] : @Desmi-Dizney - Check these examples for existing conventions so that we can model this off and report back.
https://vuejs.org/guide/introduction.html

[2022-06-03 00:43] zwass opened #6072 "My device page hits enroll secrets API if user is logged in"
**Fleet version**: 4.15.0

<hr/>

### 🧑‍💻  Expected behavior

My device page hits only the endpoints that are authenticated with the device token.

### 💥  Actual behavior

If a user is logged in to the web UI and they visit a "My device" page, a request is made for enroll secrets.

When a customer noticed this, they were concerned it could be a security issue. It shouldn't be a security issue due

[2022-06-03 03:17] zhumo opened #6073 "Performance Improvements to enable key host vitals when there are a lot of users on a host"
### Problem

Currently, when hosts have a lot of users (10k+), the queries to collect some host vitals become non-performant. We need to enable them to collect host vitals at that scale.

As a Fleet user,
I want to be able to specify the query that populates key host vitals
so that I can improve the performance of this query

As a member of the Fleet community,
I want to incorporate improved queri

[2022-06-03 04:01] mike-j-thomas opened #6075 "State of device management report - Add CTA and UTM tagged link to webpage and PDF"

[2022-06-03 05:50] mike-j-thomas commented on #5723
@noahtalerman, ok. Any further action required from me?

[2022-06-03 05:51] mike-j-thomas commented on #5124
Hey @noahtalerman, I'm going to remove this from DX board until you're ready for me to pick it up again.

[2022-06-03 05:51] mike-j-thomas commented on #5124
Hey @noahtalerman, I'm going to remove this from DX board until you're ready for me to pick it up again.

[2022-06-03 06:46] mike-j-thomas commented on #5757
@noahtalerman, this is on my board, but unassigned. Do you need anything further from me?

[2022-06-03 06:59] mike-j-thomas commented on #4676
- [ ] Breakdown our session notes into actionable "Website improvement" issues then call this issue done.

[2022-06-03 10:49] hereCOMESlappy commented on #6049
@zwass I have some linux osquery clients that I had accidentally on 10s already, same result. My macs are on 1m 35 and windows 1m 30s or vice versa, none of them are responding.

I am using vanilla osquery not the one that gets deployed by orbit.

Here is what I see in browser console:

<img width="553" alt="Screen Shot 2022-06-03 at 8 46 51 pm" src="https://user-images.githubusercontent.com/44932

[2022-06-03 13:03] hereCOMESlappy commented on #6049
Looking at that, the browser appears to be complaining about having SocksJS 1.6.0 in the main window and SocksJS1.6.1 in an iFrame?

[2022-06-03 13:29] #6019 closed

[2022-06-03 13:29] #6018 closed

[2022-06-03 13:52] GuillaumeRoss opened #6079 "Keyboard shortcut for submitting query"
### Goal

After writing a query in Fleet, you then need to grab the mouse back to run it. It would be faster if I could run the query from the keyboard.

### How?

- [ ]

[2022-06-03 14:35] Desmi-Dizney commented on #6044
See:
- https://docs.google.com/document/d/10ZQRUwzeLsiovwxg6WJcRXOafChYM-OJD1O7E7AHYrE/edit

[2022-06-03 14:39] kswagler-rh commented on #6049
Here are my errors

I do have a web proxy that does not allow websockets right now, it has been on my backlog to allow it.
I will try to adjust that and report the results.

[2022-06-03 15:41] Desmi-Dizney commented on #6044
There was no need to update the onboarding doc as it already links to:
- https://fleetdm.com/handbook/people#taking-time-off

[2022-06-03 15:50] kswagler-rh commented on #6049
After bypassing the proxy queries are working again.

[2022-06-03 16:29] ksatter commented on #6049
That's great news, @kswagler-rh!  @hereCOMESlappy Do you also use a proxy that might be interfering with websockets?

[2022-06-03 16:58] zwass commented on #6049
FWIW we have SockJS as an alternative to websockets but it's been very unreliable. It might be easier for us to just disable SockJS entirely rather than allowing it to half-work with XHR requests, especially now that almost every proxy/load balancer supports websockets.

In the meantime, we'll take a look into what could have changed from 4.13 that might cause issues with SockJS.

[2022-06-03 17:34] mike-j-thomas commented on #5608
PR https://github.com/fleetdm/fleet/pull/6076

[2022-06-03 18:31] michalnicp commented on #6001
Seems like there is an issue generating cpes for apps on macos. The vast majority are empty. This would be needed for cpe matching against the nvd cve feed.

[2022-06-03 19:31] benatsb opened #6085 "Bug? http: TLS handshake error from ... local error: tls: bad record MAC"
**Fleet version**: 4.15.0

**Operating system**: Windows 11

**Web browser**: Edge and Chrome (latest)

<hr/>

### 🧑‍💻  Expected behavior

Build a windows agent, deploy the windows agent, connect to the Fleet server with no errors.

### 💥  Actual behavior

Windows 11 device will connect to the Fleet server, but only after I build the agent using the "insecure" flag. The server logs show the follow

[2022-06-03 21:43] zhumo opened #6088 "YARA table on Linux has memory leak, impeding use of log4j detection query."
### Problem

Quote from customer:

Link to related osquery issue: https://github.com/osquery/osquery/issues/7475

[2022-06-03 23:17] CharlotteChance opened #6090 "Handbook: Values ++"
TODO: Add "Humility" principle under empathy (realizing we don't all have the same skill set and experience.  And how easy it is wrong.  You're going to look a lot better being humble.  Be sensitive to how what you are saying might affect other people, and how what other people -- )
TODO: Handbook: Values: We value experience and potential over credentials.

[2022-06-03 23:37] eashaw opened #6091 "Onboarding: Add to contributor experience training - Disable email notifications in Slack"

[2022-06-05 13:06] hereCOMESlappy commented on #6049
Ah so I must have always been blocking websockets in that case and was relying on socksJS.

Can confirm once I added into my nginx conf:

      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "Upgrade";

Then it has started to allow websockets through. Yea I think it might be a good idea to get rid of SocksJS and force people to allow for websockets.

[2022-06-06 06:26] mike-j-thomas commented on #6044
Thanks, @Desmi-Dizney.

[2022-06-06 06:26] #6044 closed

[2022-06-06 06:33] #4137 closed

[2022-06-06 06:34] mike-j-thomas commented on #3114
Sticky side navigation helps to solve this.

[2022-06-06 06:34] #3114 closed

[2022-06-06 06:36] mike-j-thomas commented on #4472
Relates to https://github.com/fleetdm/fleet/issues/5045

[2022-06-06 06:39] #4987 closed

[2022-06-06 06:39] #5044 closed

[2022-06-06 07:13] mike-j-thomas commented on #4643
@eashaw, @DominusKelvin, I've also come a cropper with this - especially now that we are hosting articles on the site. I'll keep this issue in mind when prioritizing tasks for upcoming releases. I'll keep you all posted.

[2022-06-06 07:16] mike-j-thomas commented on #3850
@timmy-k, I'm moving this out of the Digital Experience backlog and into the Growth board to be prioritized for the content calendar as you see fit.

[2022-06-06 07:43] mike-j-thomas commented on #3094
Hey @noahtalerman, looks like this migrated into the Digital Experience backlog from the switch from Growth. Since DevRel has since moved out of DX, it may be better on your board?

[2022-06-06 08:34] #4567 closed

[2022-06-06 08:49] mike-j-thomas commented on #5475
@mikermcneil, bump 😚

[2022-06-06 12:18] juan-fdz-hawa opened #6096 "Use OVAL to detect CentOS/Red Hat vulnerabilities"
### Goal

After [this](https://github.com/fleetdm/fleet/issues/5306) is merged in, we want to use OVAL to detect CentOS vulnerabilities.

### How?

- Extend the OVAL parser/analyzer to process `RPM` based tests.
- Add integration tests

[2022-06-06 12:19] #5989 closed

[2022-06-06 12:37] mna commented on #3359
The callback validates the SSO response with state it maintains in Redis and based on the app config too, so I don't think it could be frontend-only. Both 1. and 2. make sense to me, 1. being more straight-forward as you point out. It could also send the detailed error message if needed, could be stored in local storage to avoid any query string limitation (same mechanism it uses to send the token

[2022-06-06 15:27] lukeheath opened #6098 "Update `/sso/callback` endpoint to include error reason as query param in redirect to `/login`"
## Goal

As a user attempting to login via SSO, I want to be notified if my SSO login attempt failed so that I know what next steps I need to take.

## Related
- (blocked) #3359

## Tasks

### 1
- [x] If SSO fails, redirect to `/login` with a query param appended that identifies reason for failure.
- If SSO is enabled for the organization, but disabled for the user attempting SSO, redirect to `/lo

[2022-06-06 15:29] lukeheath commented on #3359
@noahtalerman I am moving this ticket back to the roadmap board because it is blocked by a new ticket on the roadmap board. We can bring both into the next release cycle together.

[2022-06-06 17:05] mikermcneil commented on #5475
@mike-j-thomas Thanks.  This is a content idea for the Growth team.  I've moved it.

[2022-06-06 17:46] #6091 closed

[2022-06-06 17:47] timmy-k commented on #6075
Here's one option that matches with the one-pager. I think it could be a good option to keep this pitch the same, and it also may be a soft angle to take for the report.
![image](https://user-images.githubusercontent.com/7229110/172212858-2f09f30b-c2e1-40f4-b238-6f85e3769532.png)

A few others:
1. From my first version of the one-pager: Painless, accurate visibility into your devices on any OS, de

[2022-06-06 19:28] noahtalerman commented on #6073
Decisions:
- Add ability to update that queries that populate host vitals (software inventory, system users, etc.)
- The documentation for this ability will let the user know that the feature is only intended for use if they're experiencing performance issues with one or more host vital queries. The docs will also ask the user to contact the Fleet team directly to receive help with testing a new q

[2022-06-06 19:53] roperzh opened #6108 "Refactor: explore using a single method for GetHost and HostByIdentifier"
As mentioned by @juan-fdz-hawa in https://github.com/fleetdm/fleet/pull/6077#discussion_r888981105:

[2022-06-06 19:54] roperzh opened #6109 "API: consider removing policy information from hosts endpoints in non-premium instances"
from @gillespi314 here https://github.com/fleetdm/fleet/pull/6077#discussion_r890208933

[2022-06-06 20:22] mikermcneil commented on #4686
People ops ritual: Weekly, go in to Fleeties spreadsheet and report on each open position:
- is it in Breezy?
- is it listed on fleetdm.com/jobs?
- total # applicants?  (or whatever is an easy metric to look at -- it's the ∆ in applicants that we're after.  And knowing whether folks are actually getting responded to / looked at)
- total # interviews?  (or something comparable)

The goals are to (a

[2022-06-06 21:21] eashaw opened #6111 "Website: customize call to action on article pages"
Add a customizable call to action on articles on fleetdm.com

Relates to https://github.com/fleetdm/confidential/issues/1386

example:
[code]

[2022-06-06 21:25] defensivedepth commented on #6049
I also ran into this issue, as we front FleetDM with nginx. Allowing websockets has fixed it.

[2022-06-06 21:40] #6069 closed

[2022-06-06 22:49] lukeheath commented on #5663
@noahtalerman Has this merged? Can we move this ticket to Ready for QA?

[2022-06-06 22:50] zwass commented on #6073
Documented decisions sound right to me.

cc @chiiph @lucasmrod based on this conversation, the product team is good with your proposed approach.

[2022-06-06 23:25] zwass commented on #5757
I think we want the service to accept the following arguments (trimmed down from the full arguments available in `fleetctl package --help`):

[code]

The only required arguments would be `type`, `enroll-secret`, and `fleet-url`, as those are the minimum required to connect to a Fleet server. The Fleet application should be able to determine automatically and through the user's selections most of t

[2022-06-06 23:29] zwass commented on #6049
I can't find anything that changed related to WebSockets from 4.13 to 4.15. We did change some API paths in 4.13, but that would have already shipped with v4.13.2.

Glad folks have this working! I'm going to close out this issue as it seems it has been resolved through allowing WebSockets in the proxy configurations. Please let us know if there are further issues.

[2022-06-06 23:29] #6049 closed

[2022-06-06 23:31] defensivedepth commented on #6049
@zwass Probably would be worth it to mention it somewhere in the docs that Websockets are required

[2022-06-07 01:48] freddyal0x01 commented on #2306
Interested in this as well. I'm curious to see how it would work as well, I'm currently working on something like this for my setup as well. There's no resources out there regarding it.

[2022-06-07 02:38] mike-j-thomas commented on #6075
Thanks, @timmy-k.
@eashaw, please can you add this CTA to the state of device management report https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=3606%3A9107

![Image](https://user-images.githubusercontent.com/78363703/172283891-fb3c3082-36fb-4ca6-929e-4b851573fd4f.png)

[2022-06-07 14:18] lucasmrod opened #6116 "Use improved users query on the software queries"
### Goal

The `usersQuery` uses a CTE with `groups` and filters non-interesting users as an optimization:
https://github.com/fleetdm/fleet/blob/0ffd4638f9f81ac922ee981180d051bcab879481/server/service/osquery_utils/queries.go#L574-L585

We should use the same when selecting `users` in the software queries (instead of doing the raw `select * from users`):
- https://github.com/fleetdm/fleet/blob/0ffd

[2022-06-07 15:35] zhumo commented on #6073
@zwass @noahtalerman @chiiph @lucasmrod I updated the description and title as per your comments. Do they reflect your understanding?

[2022-06-07 15:53] noahtalerman commented on #6085
Hey @benatsb the follow "Why aren't my osquery agents connecting to Fleet?" section of the docs includes a "Common problems" section: https://fleetdm.com/docs/deploying/faq#why-arent-my-osquery-agents-connecting-to-fleet

I pulled out the above section because it looks like you're seeing `bad record MAC` entries in your logs.

Please let me know if these instructions don't help in successfully res

[2022-06-07 16:33] GuillaumeRoss commented on #5757
@zwass Based on those 3 required arguments, are we saying that we would not support macOS signing + notarization at first? Asking because notarization is mentioned in multiple comments - and if we do indeed want to support notarization we need to be 100% sure we do not **store** any of the credentials/certificates once the package is generated.

[2022-06-07 17:00] zwass commented on #5757
@GuillaumeRoss I'm imagining that this is a service that Fleet hosts and Fleet servers and/or `fleetctl` can reach out to get packages generated. So the service has code signing certs and notarization credentials, and _all_ packages are signed and notarized.

[2022-06-07 17:56] roperzh opened #6127 "fleetctl debug archive doesn't work on Windows"
**Fleet version**: 87d459171a66aefb2c7acc2b520d752da65fcdaa

**Operating system**:  Windows

<hr/>

### 🧑‍💻  Expected behavior

Running `fleetctl debug archive` on Windows generates a compressed file with debug information

### 💥  Actual behavior

An error is thrown

[2022-06-07 17:58] roperzh opened #6128 "Update go.mod to 1.17 or remove v1.17 features"
**Fleet version**: 87d459171a66aefb2c7acc2b520d752da65fcdaa

**Operating system**: all

<hr/>

### 🧑‍💻  Expected behavior

`go.mod` says

https://github.com/fleetdm/fleet/blob/87d459171a66aefb2c7acc2b520d752da65fcdaa/go.mod#L3

However, when trying to compile the codebase using Go 1.16 you get this error:

[code]

### 💥  Actual behavior

The code should compile

[2022-06-07 18:38] zhumo commented on #6028
Notes from discussion w/ Guillaume on June 6, 2022:

* Start with Mac
* Start with Level 1 CIS requirements
  * Even then, some level 1 CIS requirements are not practical could skip those
* As of right now, some needed queries are not possible in osquery. But it is not clear whether it doesn't exist but is possible vs. simply not possible vs. something in between. Need evaluation of what is possib

[2022-06-07 18:44] mna commented on #5291
@lukeheath FYI we had a chat with @gillespi314 and @noahtalerman , there are some non-trivial changes to make so there is a risk that it may not be ready for the release. If that's the case I will prepare a "rollback" PR on Monday (not really a rollback but just to deactivate any new feature that is not ready for the release) as the first backend PR is already merged.

[2022-06-07 18:48] noahtalerman commented on #5441
The integration must exist at the global level in order to enable the integration for a team.

The `PATCH /teams/{id}` endpoint will only to set the key (project key or group id) and whether or not the integration is enabled.

The `GET /teams/{id}` API route will include all fields for all integrations that were set on the team (disbaled or enabled).
- Later, we'll come back to clean this API rout

[2022-06-07 18:56] mna commented on #5441
@noahtalerman Yes that looks good to me. One detail:

As Sarah mentioned in the call, I think the integration's "identifier" must be the integration's URL + ProjectKey or GroupID (for example, the same project key could exist, but for different Jira instances). This is something that we probably missed in the current validation for vulnerabilities too IIRC.

[2022-06-07 20:34] lucasmrod commented on #6063
I believe we are on the same page here.

[2022-06-07 20:34] noahtalerman commented on #5441
Thanks @mna! I updated my comment and the issue description to the above.

[2022-06-07 20:37] lucasmrod commented on #6063
{
       "policyDetection": true,
}

+1 to this, the minimum we need to do on this coming release is add the API to Fleet, which returns empty results.
My guess is it should just return a JSON dictionary as you shown here.

[2022-06-07 20:40] noahtalerman commented on #5441
@lukeheath @gillespi314 heads up, using our decisions in [this above comment](https://github.com/fleetdm/fleet/issues/5441#issuecomment-1149041584), I added the following items under task 1:
- If an integration is deleted on the Integrations page, all automations that use this integration are turned off (disabled) and the UI switches to the "Webhook" option. The selected policies stay checked.
- I

[2022-06-07 20:40] noahtalerman commented on #5441
@lukeheath @gillespi314 I pulled the above note from the issue description. It looks like we forgot to specify the API wireframes.

Can y'all please spec the API wireframes? This way, Reed will know what the expected response is when testing these API changes.

I'm happy to hop on a call to spec these out together. Please let me know how I can help :)

[2022-06-07 20:51] noahtalerman commented on #4351
@lukeheath sorry for the delayed response.

We'd like to surface the `cisa_known_exploit` information in the "Known exploit" column on the **Software details** page.

I'm linking to the **Software details** page issue here: #5735

cc @michalnicp

[2022-06-07 20:52] gillespi314 commented on #5949
@lukeheath I've updated the ticket to reflect our general approach of using `fleetctl apply` to manage `config` settings

[2022-06-07 20:57] noahtalerman commented on #5757
@mike-j-thomas yes. I assigned you to this issue.

Can you please help me by updating the UI wireframes to address the following problems?
- As a user that wants to add a host to Fleet, I want it to be obvious how to download the right installer (macOS, Windows, Linux (RPM), Linux (deb).
- A loading (waiting for download) state.
- A download has started (done) state.

FYI for folks looking at this

[2022-06-07 21:29] noahtalerman commented on #5757
@zhumo sorry for the delayed response!

Fleet Desktop is optional because the user may want to add a host that is not operated by an end user (ex. server or container).

Yes, this totally makes sense to me. To enable this, I think we'll need to add or modify the "Advanced" tab that appears in the current (Fleet 4.15.0) UI.

Great point. I agree. @mike-j-thomas what do you think about adding this m

[2022-06-07 21:42] noahtalerman commented on #5826
@lukeheath ah got it. Your second point makes sense to me. I agree strongly with your third and fourth point.

I think it makes sense to prioritize this for the next release.

Luke, I assigned you this issue and moved it into the "Designed" column. Based on your first point above, it seems like we'll want to spec this ticket to call out all the places that need the new loading state.

[2022-06-07 21:43] noahtalerman commented on #5723
@mike-j-thomas no. Thank you for checking in.

[2022-06-07 21:44] noahtalerman commented on #3094
@mike-j-thomas agreed! I moved this issue to the Community board.

[2022-06-07 21:55] noahtalerman commented on #5663
@lukeheath this improvement was tested and released (Fleet 4.15.0). I totally forgot to move the ticket along the board.

I added the 4.15.0 milestone and closed this issue.

[2022-06-07 21:55] #5663 closed

[2022-06-07 23:22] #3594 closed

[2022-06-07 23:22] #3746 closed

[2022-06-07 23:22] #4788 closed

[2022-06-07 23:22] #3134 closed

[2022-06-07 23:37] eashaw opened #6134 "Gong » Google drive (zapier)"
From mikermcneil:
The Zapier trigger they have exists in the current Gong account we have access to.  It's supposed to fire every time a new meeting actually happens in Gong.  I have not tested that yet.  I'm imagining that fires when the meeting actually happens, and then the next step is to use hydroplane to talk to the API.

https://docs.google.com/document/d/1C9j4ipzoyhaTM3WLUTbUvppxXzhDCTHGoc

[2022-06-08 04:19] mike-j-thomas commented on #6075
@eashaw, as discussed, some updates to this ticket:

1. We would like to move the "Give Fleet a try" CTA mid-way through the article, between parts 3 and 4. Please remove the existing divide line between parts 3 and 4 (see [Figma](https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=3606%3A9107)).
2. At the bottom of the page, please add the "Safe and Secure devices" CTA.
3. @timmy-k, please

[2022-06-08 06:24] mike-j-thomas commented on #5757
@noahtalerman, I have addressed the following in Figma:

- As a user that wants to add a host to Fleet, I want it to be obvious how to download the right installer (macOS, Windows, Linux (RPM), Linux (deb).

- A loading (waiting for download) state.
- A download has started (done) state.

I've included two versions.

1. Includes the next step, to open the installer on a macOS host, under the "down

[2022-06-08 07:02] mike-j-thomas opened #6138 "Homepage CTA for State of Device Management report"
**Homepage CTA:**
https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=1479%3A5151

![Image](https://user-images.githubusercontent.com/78363703/172552710-9ad812a0-90fc-4634-b720-7d3d9e07122e.png)

**Internal page CTA:**
https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=2717%3A5396

![Image](https://user-images.githubusercontent.com/78363703/172549241-8aabe688-8ab0-424f-878d-249ca820

[2022-06-08 15:11] DominusKelvin opened #6141 "Add FAQ to the deploying section of the docs for allowing WebSockets"
### Goal

This FAQ should point to users experiencing broken live queries or policies queries on their Fleet Instance to check if WebSocket is allowed in their deployment of Fleet.

### How?

- [ ]  Add FAQ titled Why aren't my live queries or policies queries working?
- [ ] Answer the question

[2022-06-08 15:18] lucasmrod opened #6142 "Add CI check to test added migrations"
### Goal

See #6140.
We would like to catch this issue in a CI check on PRs before the merge to `main`.

### How?

We can add a CI check that runs:
1. Checks out target branch (e.g. `main`), runs `./build/fleet prepare db --dev`.
2. Checks out source branch, runs `./build/fleet prepare db --dev`.
3. Runs `./build/fleet serve --dev`, and checks exit code (or stderr) for migration errors.

---

Othe

[2022-06-08 15:18] DominusKelvin opened #6143 "Article on deploying Fleet agents via Ansible"
### Goal

A guide on using Ansible to deploy Fleet agents.

[2022-06-08 15:35] juan-fdz-hawa opened #6144 "Add support for rpmverifyfile_test"
### Goal
https://oval.mitre.org/language/version5.10.1/ovaldefinition/documentation/linux-definitions-schema.html#rpmverifyfile_test

[2022-06-08 15:48] GuillaumeRoss commented on #5757
Just a comment on "Open". I feel like I "run" an installer. Or I "install" a package. I don't "open" an installer though. That might be me being weird :)

[2022-06-08 15:49] GuillaumeRoss commented on #5757
Where do we envision running the signature and notarization? AWS Mac instances? Github actions?

[2022-06-08 16:06] michalnicp commented on #6142
+1 for comparing the timestamps against the target branch

[2022-06-08 16:23] noahtalerman commented on #6037
@nunesvn sorry you're experiencing this issue.

Yes. This is the expected behavior.

@xpkoala when you get the chance, can you please update the issue description with steps the Fleet Engineering team can use to reproduce this issue?

Then, can you please queue this issue up on the 🚀 Release board? Thank you!

[2022-06-08 16:26] noahtalerman commented on #5984
@Piyush1786 sorry you're experiencing this issue.

What version of Fleet are you running? You can find this information in the Fleet UI by selecting the Avatar and then **My account**. The version number is on the bottom right of the **My account** page.

[2022-06-08 17:08] noahtalerman commented on #5036
### Decision: Resetting my password in the Fleet Sandbox instance

In the first iteration, the Fleet Sandbox instance will send the password reset email.

Options considered:
- Fleet Sandbox instance will send the password reset email.
- fleetdm.com will send the password reset email.

Reasoning:
- We want to do what we can to ship sooner by leaving out the password reset email coming from fleetdm

[2022-06-08 17:09] noahtalerman commented on #5036
### Decision: Resetting my password in the Fleet Sandbox instance

In the first iteration, the Fleet Sandbox instance will send the password reset email.

Options considered:
- Fleet Sandbox instance will send the password reset email.
- fleetdm.com will send the password reset email.

Reasoning:
- We want to do what we can to ship sooner by leaving out the password reset email coming from fleetdm

[2022-06-08 17:59] timmy-k opened #6149 "Setup salesforce to for growth monitoring"
### Goal
Track every metric growth needs to watch inside Salesforce

### How
- [x] Track growth's leads
- [x] Track growth's opportunities
- [x] Track growth's pipeline value

[2022-06-08 18:35] lukeheath commented on #5291
@mna Thanks for the heads up! I have a call with Sarah later today to re-spec this ticket based on your conversations with Noah yesterday. I'll tag you once we get it updated so that you can confirm, then I'll move the ticket back to "In progress".

[2022-06-08 20:16] mna commented on #5291
@lukeheath @gillespi314 Here's the PR that makes team integrations references to the global integrations: https://github.com/fleetdm/fleet/pull/6156 . I created it in a branch on the fleet repo (not on my fork) so you can develop against it even if unmerged, the branch is `mna-5291-update-team-integrations-handling`.

Couple things to note:

* As for the global integrations, all team integrations

[2022-06-08 21:14] eashaw commented on #6075
The PR for the website portion of this issue is here: https://github.com/fleetdm/fleet/pull/6148

[2022-06-08 22:39] timmy-k commented on #6075
### Tracking links
**Try CTA, Get started button:** https://fleetdm.com/get-started?utm_source=report&utm_medium=web&utm_campaign=sodm&utm_content=try
**Try CTA, schedule a demo button:** https://calendly.com/fleetdm/demo/?utm_source=report&utm_medium=web&utm_campaign=sodm&utm_content=try
**Secure CTA, Get started button:** https://fleetdm.com/get-started?utm_source=report&utm_medium=web&utm_campa

[2022-06-08 22:53] mike-j-thomas opened #6160 "Update tracking ID on Calendly"

[2022-06-09 01:40] mike-j-thomas commented on #6138
Also, @eashaw, please don't merge this or https://github.com/fleetdm/fleet/pull/6148 until @timmy-k is ready to promote it. Thanks.

[2022-06-09 13:19] roperzh commented on #6063
@lucasmrod I wonder if as part of this work we should find a place to document all we discussed here and additionally:

- Mention that device endpoints are for Fleet Destkop
- Document the device APIs

What do you think?

[2022-06-09 13:22] lucasmrod commented on #6063
Great idea! Let's start documenting all this on a new "API-Desktop.md" in `docs/Contributing/`.

[2022-06-09 14:54] mike-j-thomas commented on #6071
Thanks, @Desmi-Dizney. As discussed, please change button references to **bold** on one page in the docs and ask @noahtalerman for review.

[2022-06-09 16:17] zhumo commented on #5686
Agent weekly @zwass @sharvilshah @lucasmrod:

1. Quitting part is easy
2. Restarting part is harder.
3. Potentially could re-generate the package to enable the "search and launch by cmd+space"
4. Potential bundle id collision
5. Best case, can be handled in orbit, since it runs in root.

[2022-06-09 16:48] Desmi-Dizney commented on #6071
This is as per:
- https://github.com/fleetdm/fleet/pull/6165

[2022-06-09 17:00] lucasmrod commented on #5867
This should now be fixed in fleet 4.15.0.

The solution for older installations is described here: https://github.com/fleetdm/fleet/issues/5867#issuecomment-1142645530

Please re-open if it happens again.

[2022-06-09 17:00] #5867 closed

[2022-06-09 18:59] zhumo opened #6166 "Show Fleet Desktop version in menu icon dropdown"
### Goal

Show the Fleet Desktop version in the dropdown. This will help our customers debug if any compatibility issues occur.

### Figma

<img width="242" alt="image" src="https://user-images.githubusercontent.com/5359586/172923161-cf10975a-e918-494d-a1bc-e4444c12c94d.png">

^ See this screenshot of SimpleMDM's dropdown.

### How?
 - [x] Whenever possible, show the version number of Fleet Deskto

[2022-06-09 19:19] #6160 closed

[2022-06-09 19:55] zhumo opened #6168 "Provide count of failing policies in Fleet Desktop dropdown"
### Problem
We want to provide end users more information about the urgency or severity of their non-compliance with security policies. Currently, there is only a red dot which tells them they are out of compliance. It does not get redder if they are failing worse policies or failing multiple policies. This issue attempts to capture our desire to show users the quantity of policies they are failin

[2022-06-09 20:52] timmy-k opened #6169 "Have digital experience approve Linkedin Ads messaging"
### Goal
Help Mike M feel more comfortable with increasing the Linkedin Ads budget by having Mike T approve ad creatives

### How

- [x] Mike T to https://github.com/fleetdm/fleet/issues/6277
- [x] Mike T to critique acquisition campaign copy
- [x] Tim to revise acquisition campaign
- [x] #6638
- [x] Tim to revise RTGT campaign

[2022-06-09 21:47] mike-j-thomas opened #6171 "Sales one-pager (Design)"
## Goal

Improve the current one-pager.
https://www.canva.com/design/DAE_PDOcl10/sDkGfIkW2AD2k3XZSHDr1Q/edit?utm_content=DAE_PDOcl10&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton

## How

- [x] Mike T to design a landing page that's consistent with our marketing site.
https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=4298%3A11790
- [x] Handover to Eric

[2022-06-09 21:47] mike-j-thomas opened #6172 "Graphic for State of Device Management report"
- [x] Create graphic
- [x] Add to PDF
- [ ] Add to webpage

https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=3606%3A9107

![Image](https://user-images.githubusercontent.com/78363703/173170507-5e95ab51-1e2d-4526-953a-38c78aa38446.png)

[2022-06-09 21:49] mike-j-thomas opened #6173 "Glossary (first draft)"
- [ ] research and collate terms in Google Sheet. Start with:
- [ ] Security professional's job titles (CPE Client Platform Engineers, SysAdmins, etc.)
- [ ] Use cases for Fleet i.e. tasks that IT and security pros do (e.g. Threat hunting, vulnerability management, etc)
- [ ] Fleet product-related terms (scour the docs)

![Image](https://user-images.githubusercontent.com/78363703/172951248-4544860

[2022-06-10 01:53] CharlotteChance commented on #4686
Mike T.:  there is a loom on how to upload to Breezy  https://fleetdm.com/handbook/community#pull-requests

https://fleetdm.com/handbook/community#pull-requests
Some processes from Kathy

[2022-06-10 11:18] lucasmrod commented on #5992
For manual QA of the change, see https://github.com/fleetdm/fleet/pull/6170#issuecomment-1152253313

[2022-06-10 14:45] zhumo commented on #6064
From Guillaume:

[2022-06-10 16:36] noahtalerman commented on #4904
@sharvilshah what do you think about telling a Fleet user the "Battery condition" is either "Normal" or "Replacement recommended" ?
- Normal: `cycle_count` is less than `1000`
- Replacement recommended: `cycle_count` is above `1000`

Is it possible to detect the max battery cycles via osquery?

If not, I think using `1000` is ok because it looks like someone would have to be using a 10 year old (a

[2022-06-10 16:38] noahtalerman commented on #4904
@mikermcneil heads up, this issue was moved from the 🚀 Release board to the ⚗️ Roadmap board because of an issue with osquery that was missed during design.

This issue is outlined here: https://github.com/fleetdm/fleet/issues/4904#issuecomment-1124184929

Proposed solution is here: https://github.com/fleetdm/fleet/issues/4904#issuecomment-1152542513

[2022-06-10 17:25] noahtalerman commented on #3359
@lukeheath heads up, we're not sure if there's an easy way to render the flash messages on the login pages. Not sure if the notification is included in the log in context.

[2022-06-10 17:49] sharvilshah commented on #4904
Yes, I think this is a decent "guesstimate" for now, given the apple support doc mentions 1000 cycles as normal for this generation of their batteries (linked previously above)

No, because there really isn't a concept of max cycles -- the battery doesn't suddenly stop working once it hits 1000 cycles. Some folks are kinder on their equipment, and could make the battery hold original-ish charge fo

[2022-06-10 18:20] roperzh commented on #5689
I updated the issue description with the chosen log locations.

[2022-06-10 18:20] timmy-k commented on #6138
### Banner copy ideas
**The state of device management report**
- Fleet surveyed 200+ security practicioners in charge of device management. Click here to learn about their struggles and best practices.
- After surveying 200+ security practicioners who lead device management, we learned a lot about where current strategies fall short. Click here for the insights.
- For most companies, device manag

[2022-06-10 18:23] noahtalerman commented on #5757
@noahtalerman TODO: Think about experience when the package doesn't come back after a minute.

TODO: Schedule a meeting to chat about stapling with Zach.

[2022-06-10 18:43] lucasmrod commented on #6166
Yes, it's possible. The Fleet Desktop version is set at compile time, so it's available at startup.

[2022-06-10 18:45] sharvilshah commented on #6166
@lucasmrod don't we just set it to `unknown`? https://github.com/fleetdm/fleet/blob/main/orbit/cmd/desktop/desktop.go#L18

[2022-06-10 18:46] lucasmrod commented on #5947
Qs:
1. What's the expected behavior if the Fleet server is down or the host is offline (cannot connect to Fleet).
2. What's the interval to reload such URL? 1h? Or should it load such URL once at start up on this first iteration?

[2022-06-10 18:48] roperzh commented on #5947
+1 to the questions above, also @lucasmrod are we moving away from `device/{token}/policies` in favor of `device/{token}` with this change? should we just remove the `device/{token}/policies`?

We could also use `device/{token}/policies` for the "device is registered" first check

[2022-06-10 18:52] lucasmrod commented on #5947
Don't think so. We still want Fleet Desktop to fetch policies every 5m (and it's lighter than fetching the full host).

[2022-06-10 18:59] lucasmrod commented on #6166
We use the following golang feature: https://stackoverflow.com/questions/47509272/how-to-set-package-variable-using-ldflags-x-in-golang-build

- For building the macOS executable: https://github.com/fleetdm/fleet/blob/44f902218c0c1d7d569e8a7c6884f4f8ea029c6e/tools/desktop/desktop.go#L149-L154
- For building the Windows executable: https://github.com/fleetdm/fleet/blob/44f902218c0c1d7d569e8a7c6884f

[2022-06-10 19:15] eashaw opened #6181 "Handbook: responding to 500 errors on fleetdm.com"
Add to digital experience handbook - Questions to answer when a 500 error occurs on fleetdm.com:

Questions:
1. Impact (how many humans experienced a crappy experience, if any, and who were they?) - in this case, only impact was slack channel not receiving estimation report, and of course that a distracting p1 was triggered
2. Root cause  (why did this happen?  In this case a request timed out to

[2022-06-10 19:47] CharlotteChance commented on #4686
https://github.com/fleetdm/fleet/pull/6182

[2022-06-10 21:09] lukeheath commented on #4351
Got it. Confirmed it is now included on the software details page on `main`.

[2022-06-10 21:12] lukeheath commented on #5291
@mna Got it! Thank you for turning this around so quickly! @gillespi314 is working on hooking up the frontend and said so far things are working well.

[2022-06-10 21:14] lukeheath commented on #5947
Good questions! Heads up @zhumo @noahtalerman

[2022-06-10 21:24] zhumo commented on #5947
@lucasmrod @lukeheath

1. Can it be cached locally? So basically, it starts with default. Fetches the custom URL (if any) on startup and holds onto it. If 4xx error, open the cached URL.
2. Would it be bad to fetch everytime? I don't think end users will click this that often.

[2022-06-10 21:39] lucasmrod commented on #5947
Sounds good, but I'd say "disable transparency menu item" instead of "start with default".
Because users may want to never use the default (https://fleetdm.com/transparency).

So, it would be something like this:
1. Fleet Desktop starts. Transparency menu item disabled.
2. Fleet Desktop starts a thread (goroutine) to fetch the transparency URL.
3. Once it's successfully fetched, cache it in memory

[2022-06-11 00:33] eashaw opened #6190 "Website: Switch Redis provider before August 8th, 2022"

[2022-06-11 03:14] mike-j-thomas commented on #6172
@eashaw, please can you add this graphic to the State of Device Management report?

[2022-06-11 04:02] mike-j-thomas opened #6193 "State of device management home page CTA banner"
@eashaw, please can you add this CTA graphic to the homepage? cc @timmy-k
https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/?node-id=1479%3A5151

![Image](https://user-images.githubusercontent.com/78363703/173171766-18b194d9-b7b4-4b89-b5ef-98a981494c88.png)

[2022-06-13 11:13] lucasmrod commented on #5939
Hi @Smjert!

Checking if we are on the same page:

Fleet as of today uses the following for getting users:
[code]
So, I believe you are proposing the following change:
- if `osquery version >= 4.9.0 and < 5.3.0` ==> Fleet uses the above query to fetch users.
- if `osquery >= 5.3.0` ==> Fleet uses `select * from users LEFT JOIN groups USING (gid)` (without the `cached_groups` CTE) [*]

[*] Looks li

[2022-06-13 11:45] roperzh commented on #5947
Another option on the same vein could be to do a redirect in the fleet server or the fleet UI.

1. The link is hard coded in fleet desktop to `<fleet_url>/device/<token>/transparency` (or similar)
2. The server responds with a `302` redirect to the URL stored in the DB

[2022-06-13 12:19] lucasmrod commented on #5694
Correct. If the user sees the "Fleet Desktop" option, then the Fleet server supports Fleet Desktop.

[2022-06-13 12:22] lucasmrod commented on #5694
Updated the issue to indicate that this is just about adding the warning to our docs. (And assigned to @noahtalerman)

[2022-06-13 15:30] zhumo opened #6198 "Custom URL for Fleet Desktop "My Device""
### Problem
Customers would like the "My Device" page to link to their internal branded URL rather than the generic fleet one.

### Design

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=7411%3A271656

### Questions
1. What is the current/default behavior? Currently, clicking "My Device" on my fleet desktop instance goes to dogfood.fleetdm

[2022-06-13 15:47] lukeheath opened #6200 "Create new transparency endpoint that responds with a 302 redirect to configured transparency URL"
## Goal

As a Fleet admin, I want to have a URL that Fleet Desktop can hit that will always redirect to the latest configured transparency URL so that I can direct users to a customized transparency page.

## Related
- #6055
- #5947
- #5950
- #5949

## Tasks

### 1
- [ ] Create new endpoint at `{fleet_instance_url}/device/{device_token}/transparency`.
- This endpoint responds with a 302 redirect.

[2022-06-13 17:14] xpkoala opened #6203 "4.16.0 : Smoke Tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-06-13 17:15] xpkoala commented on #6203
Note for self:

- Check in on smoke testing for free and premium features.
- Add a note to the handbook about thinking through the downgrade flow when drafting/spec’ing premium features.

[2022-06-13 17:37] #4686 closed

[2022-06-13 18:14] zhumo commented on #6061
Note: Mac users have to give permission. Track how often people are doing that?

[2022-06-13 18:32] lucasmrod commented on #6028
(OOB: Out Of the Box, TIL :)

[2022-06-13 19:06] xpkoala commented on #5950
@lukeheath Would hosts that have fleet desktop installed prior to a change in the URL get the new URL redirect? Or would only _new_ hosts that install Fleet Desktop see that change?

For instance:
- Have Fleet Desktop installed on Host.
- Change transparency URL to https://youtube.com
- Click Transparency button on Fleet Desktop for the above Host.

Currently I am still being redirected to the Fle

[2022-06-13 19:42] zhumo commented on #6030
For now, we integrate with customers' IDPs. Won't take on in the near term.

[2022-06-13 19:42] #6030 closed

[2022-06-13 19:43] zhumo commented on #6031
For now we integrate w/ customers' IDPs then let them handle it on their own.

[2022-06-13 19:43] #6031 closed

[2022-06-13 20:01] noahtalerman commented on #3934
Guillaume:

Allowlist/denylist use case:
- I don't care what version
- Ability to create one policy that achieves this use case. Could use a baseline laptop/machine for software on laptops.
- Today, I'll Google latest version of Chrome and edit the policy. The first time, you had to run a query to see the actually format (what osquery returns).
- Simplest way to get started is with variables. Conf

[2022-06-13 20:28] mna opened #6209 "Clean-up the Redis-backed features in the Service struct"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_
4.16

**Operating system**: _(e.g. macOS 11.2.3)_
N/A

**Web browser**: _(e.g. Chrome 88.0.4324)_
N/A

<hr/>

### More info

The `Service` struct currently has a number of fields that are all thin wrappers around the `fleet.RedisPool` interface and that provide methods that use Redis as datastore. Simi

[2022-06-13 20:38] timmy-k opened #6210 "Add RSS and Overcast link for articles"
### Goal
Increase reach with Fleet's podcast

[2022-06-13 21:46] lukeheath commented on #5950
@xpkoala There was a new issue created to support this feature this morning (#6200) that may not have been merged when you tested this. All of the issues in epic #6055 needed to be merged for this to work, which it appears they now are.

So now that everything is merged, you will need to generate a new fleet desktop package. Using that instance, you should be able to change the transparency URL in

[2022-06-13 23:25] lukeheath opened #6211 "On live query results, clicking a filter input orders the table by that row"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

On live query results, when I click a filter input, I expect the input cursor to appear without reordering the table by that column.

### 💥  Actual behavior

[2022-06-13 23:56] xpkoala commented on #5950
Thanks @lukeheath. I just rebuilt Fleet from `main` and after generating a new desktop installer I'm still not seeing my changed URL reflected with the transparency button.

I am going to purge the database and start over from scratch to see if I have any luck, but could you try and verify that the setting is working as expected on your end? I'm curious if this is a local issue or not.

[2022-06-14 04:16] timmy-k opened #6213 "Website chats >> Salesforce leads"
### Goal
To add website chats to Salesforce as leads so sales can follow up

### How
- [x] Decide which status they should be added with
- [ ] Implement

[2022-06-14 04:18] xpkoala commented on #5405
@lukeheath One minor change needed. The Figma docs have an updated version of the clipboard icon that doesn't look like it made it into the PR. The rest is great!

<img width="408" alt="old clipboard icon" src="https://user-images.githubusercontent.com/11012743/173492317-1f1bca1f-2dc7-4396-9d5f-ac014d1b3ecf.png">

[2022-06-14 04:22] timmy-k opened #6214 "Change website calendly schedule demo automation to add leads to meeting scheduled status"
### Goal
To get leads from the website to salesforce with the right lead status so Growth can track MQOs

[2022-06-14 04:49] timmy-k opened #6215 "Pricing page purchases >> Salesforce leads"
### Goal
To add website chats to Salesforce as leads so sales can follow up

### How
- [ ] Decide what status signups should be entered with
- [ ] Decide what status purchases should be entered with
- [ ] Implement

[2022-06-14 04:56] mike-j-thomas commented on #6046
FYI @Julia-Pasq, I've reassigned this task to me 👍🏻

[2022-06-14 04:57] mike-j-thomas commented on #6046
@Julia-Pasq, scratch that. I reassigned the wrong task.

[2022-06-14 07:15] mike-j-thomas commented on #6171
@timmy-k, sales one-pager design is complete https://www.figma.com/proto/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?page-id=4298%3A11790&node-id=4298%3A11791&viewport=-2434%2C367%2C1&scaling=min-zoom

[2022-06-14 14:46] noahtalerman opened #6220 "Add ability to see a host's libraries and user activity"
### Goal

As a Fleet user, I want to see a host's libraries and user activity.

TODO

Research why this information is helpful so that the Fleet team can design valuable updates to the UI and API.

[2022-06-14 14:49] noahtalerman commented on #6220
@tgauda and @mikermcneil this issue came out of the above customer feature request brought to product office hours on 2022-06-09.

The improvements outlined in this issue's description are not prioritized. They're tracked so that we can notify the customer and possible bring this issue back to a future product office hours.

Applications, app usage information (macOS only), browser plugins, policy

[2022-06-14 15:27] zhumo commented on #6061
They can use their MDMs to force the notifications to be turned on. SimpleMDM does this for us.

[2022-06-14 15:27] nunesvn opened #6222 "Add column "CVEs" to the Hosts screen"
### Add column "CVEs" to the Hosts screen

TODO
As we already have a column showing the non compliant policies on the hosts screen, would be useful to have a column with the quantity of packages with vulnerabilities found (or the quantity of CVEs itself).

[2022-06-14 15:28] noahtalerman opened #6223 "Blog post: 4.16.0"
Fleet 4.16.0 is scheduled for release on 2022-06-16

### Primary improvements

Fleet Premium: Custom URL for the "Transparency" link included in Fleet Desktop: #5947
  - This way, as a user, I have control over how I tell contributors (end users) at my organization what information we collect using Fleet/osquery.
- Fleet Desktop is currently in beta.

Fleet Premium: Vulnerable software scores incl

[2022-06-14 15:46] #4806 closed

[2022-06-14 16:15] roperzh commented on #5950
I think the problem is that you need a local TUF server running (see instructions [here](https://github.com/fleetdm/fleet/blob/main/tools/tuf/test/README.md)) otherwise the installer you generate will contain the latest released Fleet Desktop, not a fresh one from main.

You can also wait until Fleet Desktop it's released, or I can generate an installer for you if you send me your enroll secret an

[2022-06-14 17:15] zhumo opened #6226 "Mark policies as "red""
### Problem

### Goal

Customers would like to mark certain policies as "severe" or "critical" or "red" so that they can differentiate between policies for the purposes of Zero Trust

TODO

### Figma

TODO

### API wireframes

TODO

### How?

#### Frontend

TODO

- [ ]

#### Backend

TODO

- [ ]

[2022-06-14 17:28] zhumo opened #6227 "test Zero Trust API endpoint for latency and scalability"
### Goal

Customers need a low-latency, scalable, and rapidly-updated API route that that tells them which policies are passing and failing for a particular host. This enables Zero Trust use cases. Under a Zero Trust regime, the customer's identity provider will be pinging this API frequently to ask it whether the user is in compliance. Thus, the endpoint must be:
* low-latency so that this ping w

[2022-06-14 17:32] zhumo commented on #6227
@tgauda would you ask our relevant customers the above questions? I think that would help eng understand what level of performance we need to achieve.

[2022-06-14 17:47] zhumo opened #6228 "Ticks vs. wall clock method"
### Goal

It would help us solve some customer's performance issues if we introduced a "wall clock" method of checking in, as opposed to the current "ticks" method. But we need to investigate the feasibility of it and understand the case for it.

### How?

- [ ]

[2022-06-14 18:18] zhumo commented on #6061
Consider the channel of the PNs here:
Desktop? Slack?

[2022-06-14 18:31] mna commented on #3947
I did what was probably a similar test to what Zachary tried before in the load testing environment - 60K hosts, a bunch of packs (5 main ones with 100 queries each), 500+ queries. We can't exactly reproduce the real environment because osquery-perf does not actually run the scheduled queries, it just simulates the scheduled query stats responses, so it doesn't have comparable load on the osquery

[2022-06-14 18:36] mna commented on #3947
Forgot the yaml files (renamed .txt as github doesn't support yaml as attachments).
[mna-apply-pack-001.yaml.txt](https://github.com/fleetdm/fleet/files/8902941/mna-apply-pack-001.yaml.txt)
[mna-apply-pack-002.yaml.txt](https://github.com/fleetdm/fleet/files/8902942/mna-apply-pack-002.yaml.txt)
[mna-apply-pack-003.yaml.txt](https://github.com/fleetdm/fleet/files/8902943/mna-apply-pack-003.yaml.txt

[2022-06-14 20:01] zhumo commented on #6088
Resolved since it was merged in osquery.

[2022-06-14 20:01] #6088 closed

[2022-06-14 21:28] DrewBakerfdm opened #6233 "Create an email signup form or CTA"
### How
- [ ] Tim to find examples
- [ ] Tim to suggest copy?
- [ ] DE to review

[2022-06-14 21:29] DrewBakerfdm commented on #6233
Even if we haven't created an email journey yet, it would still be wise to start collecting email addresses from users and partners that would be interested in our future news.

[2022-06-14 22:45] lukeheath commented on #5405
@xpkoala Great catch! Fixed and PR in review.

[2022-06-15 00:01] mike-j-thomas commented on #6111
Design based off of existing CTA. Examples of how this might be customized here:
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/78363703/173708918-3cffc9f4-3d04-45b2-97af-445c2a628389.png">

[2022-06-15 06:33] lukeheath commented on #5950
@xpkoala @roperzh I've confirmed the `/device/<token>/transparency` endpoint is working as expected.

I generated a new Fleet Desktop agent, but it appears to still be opening fleetdm.com/transparency by default, not the new endpoint.

I updated `fleetctl` from github to get the updated transparency functionality. Is there a better way to make sure we're running the latest when we generate package

[2022-06-15 07:54] mike-j-thomas commented on #6169
@timmy-k, ad copy suggestions and change requests are linked below. The rationale for the suggestions is included in the comments.
https://docs.google.com/document/d/1I1c1jYF4oBg19HVdPHo9qkQQ3FL_fbK996FjI-39Y4I/edit?usp=sharing

New images here:

![Image](https://user-images.githubusercontent.com/78363703/173773110-878d644e-aed1-4b30-b507-8cfd82b7da70.jpg)

![Image](https://user-images.githubuserc

[2022-06-15 09:19] xpkoala commented on #5950
I've also confirmed with the `/device/<token>/transparency` endpoint.

@roperzh If these changes have been pushed to `--orbit-channel edge` could we add that flag to the installer generation and expect the redirect to work as expected?

[2022-06-15 11:38] roperzh commented on #5950
@xpkoala yes! That's a great idea too, AFAIK we haven't pushed this version to the edge yet

[2022-06-15 13:48] mna commented on #5520
Tested in load testing environment with way more hosts than we expect to have in this scenario (40000 allowed, 45000 requested). Some screenshots below, no performance issues to report, note that _40002_ hosts successfully enrolled which is due to how fast enroll requests come in in that environment and the little gap between checking the count to allow enrollment and storing the new enrolled host

[2022-06-15 15:32] xpkoala commented on #5950
Thanks @roperzh. I'm going to move this over to ready and leave a note for myself on the smoke test link to double check edge once it's ready.

[2022-06-15 17:20] lukeheath commented on #5379
@noahtalerman @gillespi314

At first glance, it seems like one approach we could take is:

1. Define our weekly segments. Sunday - Saturday?

2. Every time the cron job runs (hourly), we run a query that returns all users that are active in that time period.
- Problem: There are no columns in the user table that are updated when a user logs in. We likely need to add a new `last_login` column to th

[2022-06-15 17:39] roperzh opened #6238 "Document device endpoints"
### Goal

Have clear documentation and a general understanding of how to manage Fleet Desktop API endpoints.

### How?

- [ ] create a new file for this documentation at `docs/Contributing/API-Desktop.md`
- [ ] document the existing device endpoints
- [ ] document about backwards compatibility and how these should be treated based on the discussion at https://github.com/fleetdm/fleet/issues/6063
-

[2022-06-15 17:39] roperzh commented on #6063
As suggested by @lucasmrod I created https://github.com/fleetdm/fleet/issues/6238 to track the documentation work as it's independent from this and can be tackled separately.

[2022-06-15 18:22] zhumo opened #6239 "More documentation on how to update fleetctl."
### Goal

I kept getting an error message:
[code]

There are two problems:

1. I assumed this meant I needed to update my fleetctl. But when I looked in the documentation, it did not mention it. There was a lot about how to update the fleet server instance and the local agent, but not fleetctl.
2. The warning message could explicitly say, "you need to update fleetctl." Even better, it should say w

[2022-06-15 18:23] xpkoala opened #6240 "Settings tabs are all bold when only the chosen tab should be bold"
**Fleet version**: `main`

**Operating system**: _(e.g. macOS 11.2.3)_

**Web browser**: _(e.g. Chrome 88.0.4324)_

<hr/>

### 🧑‍💻  Expected behavior
When on the Settings page of Fleet only the active tab should show as bold.

### 💥  Actual behavior
All tabs are bolded.

### More info
- Figma page with design: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=5548%3A262655
- Picture of th

[2022-06-15 18:35] ksatter commented on #6239
@zhumo thanks for filing!

[2022-06-15 18:43] xpkoala commented on #5520
@mna Would you be able to generate a license with a limited number of hosts to use?

[2022-06-15 19:01] mna commented on #5520
@xpkoala I have one with 40 000 devices but that's probably not useful outside of load testing. Few folks have access to generate licenses, I don't but Noah and Tony can (Tony created the 40000 one for me).

[2022-06-15 19:01] xpkoala commented on #5520
Thank you much!

[2022-06-15 19:55] lukeheath commented on #5826
I'm planning to handle dev of this item next release cycle, and the current specs are plenty for my needs since I was involved in planning this feature.

[2022-06-15 22:09] juan-fdz-hawa opened #6242 "Use OVAL to detect vulnerabilities on Fedora"
### Goal
Make sure Fedora hosts are mapped to the proper OVAL source (RHEL).

[2022-06-15 22:10] juan-fdz-hawa opened #6243 "Use OVAL to detect vulnerabilities on Debian"
### Goal

1. Update the [OVAL sources](https://github.com/fleetdm/nvd/blob/master/oval_sources.json) and include Debian OVAL definitions
2. Check if OVAL definitions include any non-supported tests and handle them.

[2022-06-15 23:20] lukeheath opened #6245 "Expand `make e2e-setup` to include more data"
## Goal

As a Developer, I want to write E2E tests against the device user, software list, and software details pages so that I can confirm the user interface is behaving as expected

## Tasks

### 1
- [ ] Add additional steps as needed to the `make e2e-setup` makefile to populate the device user, software list, and software details pages.
- For device user, this may mean adding a new `fleetctl` c

[2022-06-15 23:24] lukeheath commented on #6245
@gillespi314 This is the ticket to create fixture data for e2e tests that we discussed in #5166. We'll be estimating this on Monday for the next release, but I wanted to get it on your radar. I added my thoughts to the ticket, but feel free to add/edit specs since you'll be the one implementing. Thanks!

[2022-06-15 23:25] Desmi-Dizney commented on #6173
@mike-j-thomas, here is the link to what I've been working on so far. There is definitely more to be found and added as time goes. https://docs.google.com/spreadsheets/d/1Y8aZBkpaMkt53QLT1T_qkzb-c674x1c144lQgQNiD6c/edit#gid=0

[2022-06-15 23:29] lukeheath commented on #6245
@gillespi314 Looking through the issues and I found two more related issues. I brought them onto the roadmap board so we can review them together on Monday to consolidate them as needed. #5529 and #3954

[2022-06-16 00:00] lukeheath commented on #6068
@xpkoala Heads up that this bug will likely need to carry over to the next release cycle. It's an already released bug, so not release blocking.

[2022-06-16 00:12] lukeheath commented on #6068
@xpkoala Never mind, PR with fix is in.

[2022-06-16 00:23] lukeheath commented on #6098
@mna I didn't have a chance to type up the automation endpoints tickets, but please feel free to start with this ticket on Monday. We'll also have an estimation session on Monday where we'll see if we have bandwidth to tackle the automation endpoint next release. We may decide to push that back until you're back from your vacation in order to prioritize product feature work.

[2022-06-16 00:50] xpkoala commented on #6068
@lukeheath Thanks for the heads up!

[2022-06-16 01:57] mike-j-thomas commented on #6046
Thanks, @Julia-Pasq. These really help. Posting your concepts here for reference. https://docs.google.com/presentation/d/1-ue4HNysklZ3EpxsnHV_8JEIRNZty77cNV4-eJo1X_0/edit?usp=sharing

[2022-06-16 02:34] mike-j-thomas commented on #6173
Great start, thanks, @Desmi-Dizney. I added a couple of comments from a glance through the Sheet. I think some of the "commands" would be better as a regular term and definition. Unless you plan to add two entries? Let's chat about that when we meet tomorrow.

[2022-06-16 03:06] zhumo commented on #6198
Hey @lucasmrod, I'd appreciate your feedback on the two questions above...

[2022-06-16 12:43] lucasmrod commented on #5716
The issue is fixed by applying the following dummy diff (on my Ubuntu VM):
[code]
So, it's definitely some missing user environment variable.

[2022-06-16 13:09] lucasmrod commented on #6245
I wouldn't add functionality to `fleetctl` to ease testing. It might end up confusing users of the tool.
Instead we should make raw MySQL commands in our `Makefile`?

[2022-06-16 13:12] lucasmrod opened #6248 "Expand make `e2e-setup` to include Fleet Desktop data"
### Goal

"Fleet Desktop" end to end tests require a token in the MySQL database for a host (in `host_device_auth`).
We need a scripts/tooling that allows setting such token on the end to end Cypress tests.

#4812 is blocked until we have such functionality.

PS: Related issue: #6245.

[2022-06-16 13:13] lucasmrod commented on #6245
Also, I've created a related issue #6248 (after a conversation with @gillespi314 on the Data Ingestion call).
Such issue will unblock #4812.

[2022-06-16 13:30] noahtalerman opened #6249 "Policies > Manage automations unexpected form behavior"
**Fleet version**: Commit `d61df9a ` (dogfood.fleetdm.com)

**Operating system**: macOS 12.4.0

**Web browser**: Chrome 102.0.5005.115

<hr/>

### 🧑‍💻  Expected behavior
1. On **Policies > Manage automations**, I expected to be able to successfully submit the form when I don't have any policies "checked"

2. On **Policies > Manage automations**, I expected to see the "On" indicator to appear in th

[2022-06-16 13:46] noahtalerman commented on #5735
This looks and feels really good! I have one style nit below.

One the **Software** page, the buttons in the **Name** column don’t display the underline style when the cursor hovers over them. We'd like all "Internal links" (buttons that send the user to a different page in the UI) to use the underline style on hover: https://fleetdm.com/handbook/product#design-conventions

The following is a scre

[2022-06-16 14:04] noahtalerman commented on #6223
Hey @zhumo if you get the chance today, can you please write the "Fleet Desktop out of beta" section for the release post?

I think three sentences that describes the improvements made for the stable release makes sense. Please include these sentences in a comment in this issue and mention @ksatter so that Kathy can add this section to the release post :)

[2022-06-16 19:15] lucasmrod commented on #3947
AFAICS the HTTP client (fasthttp) of `osquery-perf` doesn't have a timeout configured, maybe we should add a flag to set a custom timeout (I seem to recall 30s or 60s as timeouts, either on TLS terminators or osquery itself.)

Also, while we're at it, we should record and log the median, p95, p99, etc. of `distributed/write` request duration. (Which is the time it takes Fleet to ingest the results

[2022-06-16 21:01] mikermcneil opened #6257 ""Manage enroll secrets" modal improvments"
### Goal

The "Manage enroll secrets" modal could use some attention.  Some of these are what I would call bugs, some are more like non-intuitive behavior and small improvements, but lumping them together here to hopefully make this something easier to knock out all at once with as little pain as possible:

1. There is no indication of when a given secret was generated, making it hard to tell whic

[2022-06-16 21:28] sharvilshah commented on #1845
High level notes on how to go about building fleetctl, orbit and fleet-desktop on Linux aarch64:

* Figure out if Github Actions has an arm64 hosted runner available
    * If not, we will need to explore the self-host runner option
* Update MySQL image in `docker-compose` to support arm64
* Update orbit's `goreleaser.yml`
* Generate `osqueryd` and `fleet-desktop` targets in our workflows (`generat

[2022-06-17 00:50] mike-j-thomas commented on #4682
@mikermcneil, can this be unblocked? Are we ready to work on this? (from @CharlotteChance, would this be good for Q3 OKR)

[2022-06-17 00:51] mike-j-thomas commented on #4673
@CharlotteChance, can you confirm if this is a duplicate, and then close if needed?

[2022-06-17 02:04] zhumo opened #6259 "Rate Limit Fleet Desktop all devices URLs"
### Problem

The URL for "My Device" can be brute-forced (or at least attempted, the keyspace of random UUIDs is [really huge](https://stackoverflow.com/a/1155027/491710) and hitting a result would be extremely unlikely). Same with other device endpoints. This is a blocker for some customers to deploying Fleet Desktop.

### Goal

Rate limit the device endpoints so as to prevent brute forcing, whil

[2022-06-17 02:30] zhumo opened #6260 "Many osquery tables are over-marked as posix, when it should be linux only."
### Problem
Many tables are marked as compatible for Mac but are not. We've root caused this to be that the tables are marked as posix, when they should be linux only. The following tables are inaccurate in this manner:
- lxd_certificates
- lxd_cluster
- lxd_cluster_members
- lxd_images
- lxd_instance_config
- lxd_instance_devices
- lxd_instances
- lxd_networks
- lxd_storage_pools
- process_open_p

[2022-06-17 02:34] zhumo opened #6261 "`pci_devices` table returning `std::bad_alloc`"
### Problem
Our mac hosts are randomly returning `std::bad_alloc` when we run `SELECT * FROM pci_devices`.

### Requirements
- Root cause why this is happening and resolve

### Relations
- parent epic: #4973
- PR: https://github.com/osquery/osquery/pull/7648

[2022-06-17 02:39] zhumo opened #6262 "Tables stored in osquery `linwin` folder are still being marked as available for Mac"
### Problem
The following tables are stored in the `linwin` folder, but are being marked as available for Mac:
- secureboot
- intel_me_info

This is likely because the script which generates the documentation's json file has a bug where linwin also includes darwin.

### Requirements
- Make it so that these tables are not also being marked as available for Mac in the documentation

### Related Issu

[2022-06-17 11:49] roperzh opened #6263 "Load test error counts stored in Redis"
### Goal

In #6107 we introduced a way to count occurrences of errors, we should load test this to ensure things are still working as they should.

[2022-06-17 14:09] noahtalerman commented on #5902
Heads up, this issue is now de-prioritized. This is because a decision was made to have Fleet Sandbox users always authenticate on fleetdm.com. This means that fleetdm.com won't send a request to the `POST /reset_password` API route (Fleet product API route).

[2022-06-17 14:13] mike-j-thomas commented on #6223
@ksatter, I committed images to https://github.com/fleetdm/fleet/pull/6256. I do not have an image for the following:

and

I do not know what image would be relevant to these, think the post can be published without.

[2022-06-17 16:17] Desmi-Dizney opened #6265 "Update docs screenshots"
### Goal

TODO
Replace out-of-date screenshots in docs>images.

### How?

- [ ] Go through all images to make sure they are current and that there are no typos in the product itself.

[2022-06-17 18:02] zhumo opened #6268 "Query builder UI is missing the `docker_container_envs` table"
### Problem
The osquery website (https://osquery.io/schema/5.3.0) has a `docker_container_envs` table that does not exist in our UI.

### Solution
Add it to our UI.

[2022-06-17 18:08] zhumo opened #6269 "`last` table collides with SQL LAST keyword in syntax highlighter"
### Problem
In osquery, there is a `last` table, but in SQL, there is also a LAST keyword. The syntax highlighter is favoring the SQL keyword and not highlighting it as a table. However, the LAST keyword seems to be only supported on MS Access.

### Solution
Since LAST only applies to MS Access, we should stop highlighting it as a keyword and highlight it as a table instead.

### Parent Epic
- #49

[2022-06-17 23:02] timmy-k commented on #6149
Completed, so closing

[2022-06-17 23:02] #6149 closed

[2022-06-17 23:06] timmy-k commented on #6075
@eashaw you should be cleared to close this

[2022-06-17 23:14] timmy-k opened #6274 "Get reccs from Mike T on which copy to replace in Google Ads acquisition campaigns"
### Goal
Figure out which headlines and descriptions in our Google Ads acquisition campaigns that Mike T recommends we change for brand

### How
- [x] For display campaigns
- [ ] For search campaigns
- [ ] For display regtargeting campaigns

[2022-06-17 23:17] timmy-k commented on #6274
@mike-j-thomas to let us know which headlines and descriptions we should replace, and which we should replace it with?

[2022-06-17 23:18] timmy-k commented on #6274
"Chris’ is better"

[2022-06-19 14:19] juan-fdz-hawa opened #6275 "osquery 5.3.x now includes the architecture identifier as part of dpkg names"
**Fleet version**: Any

**Operating system**: Debian based systems

<hr/>

### 🧑‍💻  Expected behavior
`software` entries from Debian packages should only include their name in the `name` column
[code]

### 💥  Actual behavior
`software` entries from Debian packages include both their name and architecture in the `name` column
[code]

### More info
This change was introduced [here](https://github.co

[2022-06-20 05:09] timmy-k opened #6276 "Add schedule demo button to get-started page"
### Goal
Create better user experience on get-started page by giving visitors the option to schedule a demo

[2022-06-20 05:23] timmy-k opened #6277 "Make custom images for Linkedin Ads"
### Goal
To improve clickthrough rates and create the best first impression by making custom images for LI ads

[2022-06-20 11:20] #5608 closed

[2022-06-20 11:21] #6171 closed

[2022-06-20 13:52] xpkoala commented on #5441
I'm seeing an issue where large amounts of failing policy jobs are created.
- Enable failing policies is set to `true`.
- Webhook interval is set to `30 secs`.

After creating a new policy that a host will fail is added to policy automation AND the policy page reports that the host is failing, a large number of webhook jobs are queued and sent.

The `args` for the webhook appear to be omitting the

[2022-06-20 15:05] lucasmrod opened #6280 "Fleet Desktop to support working with a given CA certificate"
**Fleet version**: `main` as of today, `4.16`

<hr/>

User wants Orbit+Fleet Desktop to use a custom CA root `"some_ca_root.pem"` (instead of the system's).
To that end, the user generates a package using the `--fleet-certificate` flag:
`fleetctl package ... --fleet-certificate=some_ca_root.pem ...`.

### 🧑‍💻  Expected behavior

Fleet Desktop successfully connects to the Fleet server ("Initializin

[2022-06-20 15:33] Desmi-Dizney commented on #6071
For sure!

[2022-06-20 16:05] zhumo opened #6281 "Desktop notification for policy violation summary"
### Problem
We want to actively prompt end-users to update their system to address any policy violations. Currently, IT and Security teams have to spend person-hours chasing down non-compliant end-users and nagging them. We want to help these teams minimize the amount of person-hours spent doing this. While we cannot expect this to 100% eliminate that activity, pro-actively prompting end-users sho

[2022-06-20 17:39] zhumo opened #6282 "New language for osquery `screenlock` table to clarify requirements around user context"
### Problem
Due to a limitation with MacOS, the `screenlock` table (https://osquery.io/schema/5.3.0#screenlock), running `SELECT * FROM screenlock` will only return the screenlock settings for the current user. Depending on the context and configuration, osquery may run as root or as the user. Root does not have any screenlock settings, since root is not a GUI user. So if the user this query as ro

[2022-06-20 17:41] zhumo commented on #6282
@sharvilshah @zwass WDYT of the proposed language above?

[2022-06-20 17:52] zhumo opened #6283 "New language for osquery `user_ssh_keys` table to clarify root vs. current user context"
### Problem
Due to a limitation with MacOS, the `user_ssh_keys` table (https://osquery.io/schema/5.3.0#user_ssh_keys), running `SELECT * FROM user_ssh_keys` will only return the ssh keys for the current user. Depending on the context and configuration, osquery may run as root or as the user or one of many other users that could exist on their OS.

These other users may or may not have ssh keys, an

[2022-06-20 17:58] sharvilshah commented on #6282
I think that works, but perhaps we can also add `since root has not GUI`?

[2022-06-20 18:00] zhumo opened #6284 "Show when and which constraints are required in osquery schema"
### Problem
Many osquery tables have at least one required column, wherein a query featuring that table must reference the column in order to run the query. Otherwise, it would result in a `constraint failed` error. This is to cut down on the quantity of results and thereby reduce computational complexity and enable scale.

Regardless, information about constraints are not displayed anywhere on th

[2022-06-20 18:38] mna commented on #6098
@lukeheath there's another case that could happen in the callback process, when the user does not actually exist in Fleet (but exists in the identity provider). I could return `status=account_disabled` but that could be confusing - i.e. if the admin tries to enable it, they wouldn't find it, so maybe adding a `status=account_invalid`, what do you think?

[2022-06-20 18:56] lucasmrod opened #6285 "Handle `--logger_plugin` warning in osquery >=5.3.0"
Osquery 5.3.0 logs the following warning:
[code]
We will need to disable such configuration from the Global (and Team) Agent Options.

![Screen Shot 2022-06-20 at 15 54 42](https://user-images.githubusercontent.com/2073526/174663275-14bb5b10-a3a5-43c7-9cb6-4ce7f2a42804.png)

Confirmed also on 5.4.0

[2022-06-20 18:57] lukeheath commented on #6098
@mna Thanks for the call out. `status=account_invalid` sounds good to me. I've updated the specs.

[2022-06-20 19:22] lukeheath commented on #5379
After discussing with Sarah and Martin my above concerns have been addressed and do not need further clarification at this point.

[2022-06-20 19:27] lukeheath commented on #5379
From estimation session:

1) Every week a new usage snapshot is created and metadata is stored in the `statistics` table.
- This record id overwritten each week when the statistics are generated. We do not save previous weeks.
- It does not include the actual statistics, just the `created_at` and `updated_at` timestamps and an anonymous identifier.

2) When the weekly usage statistics run, we want

[2022-06-20 19:56] mna commented on #6098
Allright, PR is ready : https://github.com/fleetdm/fleet/pull/6286

Note that I added a check if SSO is enabled for the organization in the "initiate SSO" handler too, to return a 400 Bad Request if that's not the case (there was no such check before, although I'm not sure how one would end up hitting that route via the UI outside of a bug).

[2022-06-20 20:02] lukeheath commented on #5723
From estimation session:

1) We need to link up the other tickets so we better understand what else is involved in this feature (blockers, blocking, etc.)

2) We need to write tickets for both frontend and backend to fix any conditional checks that assume on `premium` or `free` tiers.

[2022-06-20 20:19] lukeheath commented on #6245
Estimation notes:

1) We need to define which tables need to be populated to facilitate these tests.

2) As part of this effort, we should stand up the e2e database and let it run any necessary jobs to generate tables we want. Then export those tables and use that data as SQL import. This means the software inventory we import will match the hosts created by the e2e setup.

[2022-06-20 20:21] lukeheath commented on #6248
Closing as duplicate of #6245.

[2022-06-20 20:21] #6248 closed

[2022-06-20 20:25] lukeheath commented on #3954
Luke TODO: Update this ticket to be focused on backfilling the E2E tests that were skipped due to no data (software table, device user, etc.)

[2022-06-20 20:33] lukeheath commented on #6268
Sarah: This is something that is coming up repeatedly where the osquery schema changes and we don't catch it for awhile. Then we're playing catch up by manually catching the changes.

Sarah: We need an automated process to manage staying up-to-date, or we need a DRI responsible for keeping this up-to-date.

@noahtalerman @ksatter What do y'all think of developer advocates creating a process to kee

[2022-06-20 20:53] lukeheath commented on #5378
@mna This issue is ready for dev. Note that this epic will require modifying the Sails server that serves `fleetdm.com/api/v1/webhooks/receive-usage-analytics`. Please work with @eashaw as necessary for support on the Sails side of things.

Please review and let me know if you have any questions or concerns about the specs. Thanks!

[2022-06-20 20:59] gillespi314 commented on #6268
Additional context:
https://github.com/fleetdm/fleet/issues/2639
https://github.com/fleetdm/fleet/issues/2659
https://github.com/fleetdm/fleet/pull/5869#issuecomment-1135084037

[2022-06-20 21:22] zhumo commented on #6268
Sounds like we should get #2659 built!

[2022-06-20 21:24] lukeheath commented on #5379
@mna Here is another usage reporting ticket that is ready for dev. This one tracks weekly active users. I confirmed in the Sails webhook that a new record is created for each request:

[code]

It's just the `statistics` table on the Fleet side that is overwritten, so the analytics data source will have time series necessary to produce weekly active users.

[2022-06-20 21:29] lukeheath commented on #6268
Agreed! I've added #2659 to the prioritized column on the roadmap board so it can be considered for an upcoming release (maybe next?)

[2022-06-20 21:31] mike-j-thomas opened #6291 "Let's improve the website - home page"
## Goal

Iterative improvement of the home page. Add some quick wins to the homepage to improve positioning and UX.

## How

- [x] Change "Open source device management" mcneil: I'm supportive of changing to "Open source device visibility"

- [x] More engaging hero. Reduce the vertical height as part of this (time to value for the content below the fold)

- [x] Update the "Share with any team" scr

[2022-06-20 21:45] mike-j-thomas opened #6292 "Let's improve the website - use case land page: maintain secure laptops and servers"
## Goal

Educate fleetdm.com visitors about Fleet's use cases.

## How

- [ ] Content creation - If a [JTBD](https://github.com/fleetdm/confidential/issues/914) blog post exists, use it to help seed content for this page.
- [ ] Wireframe page
- [ ] Build

[2022-06-20 21:46] mike-j-thomas opened #6293 "Let's improve the website - use case land page: Respond to incidents quickly"
## Goal

Educate fleetdm.com visitors about Fleet's use cases.

## How

- [ ] Content creation - If a [JTBD](https://github.com/fleetdm/confidential/issues/914) blog post exists, use it to help seed content for this page.
- [ ] Wireframe page
- [ ] Build

[2022-06-20 21:47] mike-j-thomas opened #6294 "Let's improve the website - use case land page: keep an accurate software inventory"
## Goal

Educate fleetdm.com visitors about Fleet's use cases.

## How

- [ ] Content creation - If a [JTBD](https://github.com/fleetdm/confidential/issues/914) blog post exists, use it to help seed content for this page.
- [ ] Wireframe page
- [ ] Build

[2022-06-20 21:48] mike-j-thomas opened #6295 "Let's improve the website - use case land page: meet compliance goals"
## Goal

Educate fleetdm.com visitors about Fleet's use cases.

## How

- [ ] Content creation - If a [JTBD](https://github.com/fleetdm/confidential/issues/914) blog post exists, use it to help seed content for this page.
- [ ] Wireframe page
- [ ] Build

[2022-06-20 21:49] mike-j-thomas opened #6296 "Let's improve the website - use case land page: orchestrate security workflows (maybe not ready?)"
## Goal

Educate fleetdm.com visitors about Fleet's use cases.

## How

- [ ] Content creation - If a [JTBD](https://github.com/fleetdm/confidential/issues/914) blog post exists, use it to help seed content for this page.
- [ ] Wireframe page
- [ ] Build

[2022-06-20 21:50] mike-j-thomas opened #6297 "Let's improve the website - use case land page: equip teams for self-service IT (maybe not ready?)"
## Goal

Educate fleetdm.com visitors about Fleet's use cases.

## How

- [ ] Content creation - If a [JTBD](https://github.com/fleetdm/confidential/issues/914) blog post exists, use it to help seed content for this page.
- [ ] Wireframe page
- [ ] Build

[2022-06-20 22:32] lukeheath commented on #5723
@chiiph I'm trying to finish spec'ing this ticket, but I'm not clear one what the Sandbox infrastructure looks like. Do we have a diagram of the process?

I see that `POST /instance` will be served by the Fleet Sandbox provisioner, but which service is making the request? If it's coming from the website at fleetdm.com, we'll need to figure out how to shuttle that data to the Fleet server. Or, coul

[2022-06-20 22:34] lukeheath commented on #6245
@gillespi314 This ticket is ready for dev and on the release board when you are ready to get started.

[2022-06-20 22:47] mike-j-thomas commented on #5097
Consider creating a card button (and graphic) for /queries to go alongside the existing card buttons on the docs landing page.

**osquery cheat sheet**
[Query library](https://fleetdm.com/queries) →

[2022-06-20 22:52] lukeheath commented on #2659
@zwass @chiiph I think this would be a platform ticket - what do you think? Is this something we could get on the platform roadmap? We've been manually catching changes and updating by hand, but it's slow and error prone.

[2022-06-20 22:53] lukeheath commented on #6268
Actually looks like a platform ticket, so I tagged Zach and Tomas to see if we can get it on the platform roadmap.

In the meantime I'll take this bug and update manually since we're not sure when platform will be able to implement the automation.

[2022-06-20 22:54] mike-j-thomas opened #6298 "Let's improve the website - docs: page-end CTAs"
## Goal

Help direct users through the docs

## How

- [ ] CTAs for each doc page (Q2 OKRs https://github.com/fleetdm/fleet/issues/5044)

- [ ] Was this helpful? Yes/No
- [ ] Need more help? Try these next steps: Ask the community. Contact us.

![Image](https://user-images.githubusercontent.com/78363703/174686480-a3b44d47-4133-43a6-a15f-457a47ea5af3.png)

[2022-06-20 23:04] mike-j-thomas commented on #4287
@Desmi-Dizney, did this get PR'd?

[2022-06-20 23:05] mike-j-thomas commented on #4287
Looks like it did! Thanks @eashaw

[2022-06-20 23:05] #4287 closed

[2022-06-20 23:05] #6042 closed

[2022-06-20 23:06] #6043 closed

[2022-06-20 23:12] mike-j-thomas commented on #6134
Awaiting Gong setup. Before setup Mike M wants to know Salesforce spend increase.

[2022-06-20 23:38] mike-j-thomas opened #6299 "Let's improve the website - releases"
## Goal

Improve the /releases. Keep readers on fleetdm.com rather than linked away to GitHub

## How

- Maybe, render the changelog on the site?
- We could change the page that is the category page for release articles so that they are presented in whatever way we wanted this page to be presented. i.e. skin that https://fleetdm.com/releases.
Bear in mind that this may mean that patch releases (i.

[2022-06-21 00:52] mike-j-thomas opened #6300 "Let's improve the website - copy SQL query to clipboard"
- [ ] Copy query SQL to clipboard on /queries

[2022-06-21 01:29] mike-j-thomas opened #6303 "Let's improve the website - update community nav in masthead"
## How

Add to masthead (design in Figma):
- [ ] "Announcements" /announcements
- [ ] "Engineering @ Fleet" /engineering
- [ ] "Security @ Fleet" /securing
- [ ] State of device management
- [ ] Replace "Articles" with "See more" or something like that

- [ ] Hand over to Eric

[2022-06-21 01:31] mike-j-thomas opened #6304 "Let's improve the website - handbook: increase page width"
## Goal

Maximize page width to give more space for content and to be more consistent with the docs.

## How

- [ ] Mock up in Figma to validate new layout.
- [ ] Decrease left and right padding to create more space.
- [ ] Hand over to Eric.

[2022-06-21 01:35] mike-j-thomas opened #6305 "Let's improve the website - handbook: make tables horizontally scrollable"
## Goal

- Consistent table widths
- Some tables require more space to improve readability.

## How

- [ ] Make tables fill the full width of the content area
- [ ] For large tables, put them in some kind of <div> with a width so that you can scroll left/right if needed.
        - E.g., https://fleetdm.com/handbook/security-policies#definitions-and-examples

[2022-06-21 01:39] mike-j-thomas opened #6306 "Let's improve the website - handbook: improve Markdown styling"
## Goal

Improve Markdown styling for the handbook (also applies to docs)

## How

- [ ] Improve bullets, and nested bullets
- [ ] Consistent spacing between elements
- [ ] TODO: What else needs improving?

[2022-06-21 01:41] mike-j-thomas opened #6307 "Let's improve the website - handbook: update right sticky-nav to be consistent with the nav in /docs"

[2022-06-21 01:44] mike-j-thomas opened #6308 "Let's improve the website - handbook: glossary"
## Goal

- Help educate users
- Help onboard new team members
- Be a useful resource for the community

## How

- [x] Create glossary content (https://github.com/fleetdm/fleet/issues/6173)
- [x] Add to the handbook - This will probably be too much for the handbook root and should be linked to a deeper page.

[2022-06-21 01:52] mike-j-thomas opened #6310 "Let's improve the website - contact"
## Goal

Provide a clear method for site visitors to be able to get in touch with the team

## How

- Add a "Contact us" link (or similar) to the "Community" nav in the masthead.

[2022-06-21 03:55] #6223 closed

[2022-06-21 11:33] mike-j-thomas commented on #6046
@DrewBakerfdm, @timmy-k. Here's artwork for the [Stay on Course With Your Compliance Goals](https://github.com/fleetdm/fleet/pull/6230) article.

![Image](https://user-images.githubusercontent.com/78363703/174789766-ccb8a039-539b-4cac-bcea-f45008be79e1.jpg)

[2022-06-21 11:33] #6046 closed

[2022-06-21 13:10] chiiph commented on #5723
@zwinnerman-fleetdm have we uploaded your proposal PDF to the repo or anywhere else other than Slack?

The fleetdm website backend will be making the request to create an instance after validating the captcha. In order to inform the user how much time left they have, you'll need to either request that information from somewhere ready to be displayed, or you need the start time and length of time w

[2022-06-21 13:47] zhumo commented on #6064
Hey @lukeheath! there's a one-screen edge case that requires some interface work. It's ready to be estimated now I think.

[2022-06-21 13:54] chiiph commented on #2659
Sounds good to me!

[2022-06-21 14:40] mna commented on #5379
By "less than" we mean "more recent than", right? We want users that were active since the last time we calculated the statistics?

[2022-06-21 15:55] lukeheath commented on #2659
Great! I've added the `#platform` label and put on the Roadmap board for consideration in a future release.

@gillespi314 Thanks for calling out this ticket!

[2022-06-21 15:57] lukeheath commented on #5379
@mna Correct on both points - thanks for catching those! I've updated the specs.

[2022-06-21 16:06] #6172 closed

[2022-06-21 16:06] #6193 closed

[2022-06-21 16:12] #6138 closed

[2022-06-21 16:20] #636 closed

[2022-06-21 16:20] #3245 closed

[2022-06-21 16:20] #4351 closed

[2022-06-21 16:20] #4733 closed

[2022-06-21 16:21] #5201 closed

[2022-06-21 16:21] #5291 closed

[2022-06-21 16:21] #5380 closed

[2022-06-21 16:21] #5405 closed

[2022-06-21 16:21] #5408 closed

[2022-06-21 16:21] #5441 closed

[2022-06-21 16:21] #5514 closed

[2022-06-21 16:21] #5520 closed

[2022-06-21 16:21] #5522 closed

[2022-06-21 16:21] #5585 closed

[2022-06-21 16:21] #5594 closed

[2022-06-21 16:21] #5685 closed

[2022-06-21 16:21] #5689 closed

[2022-06-21 16:21] #5697 closed

[2022-06-21 16:21] #5698 closed

[2022-06-21 16:21] #5734 closed

[2022-06-21 16:21] #5735 closed

[2022-06-21 16:21] #5746 closed

[2022-06-21 16:21] #5776 closed

[2022-06-21 16:21] #5806 closed

[2022-06-21 16:21] #5836 closed

[2022-06-21 16:21] #5875 closed

[2022-06-21 16:21] #5947 closed

[2022-06-21 16:21] #5950 closed

[2022-06-21 16:21] #5992 closed

[2022-06-21 16:21] #6063 closed

[2022-06-21 16:21] #6065 closed

[2022-06-21 16:21] #6068 closed

[2022-06-21 16:21] #6127 closed

[2022-06-21 16:21] #6128 closed

[2022-06-21 16:21] #6166 closed

[2022-06-21 16:21] #6200 closed

[2022-06-21 16:21] #6203 closed

[2022-06-21 16:21] #6211 closed

[2022-06-21 16:21] #6249 closed

[2022-06-21 16:28] lukeheath commented on #4523
All related tickets are closed, so I am closing this epic.

[2022-06-21 16:28] #4523 closed

[2022-06-21 16:36] lukeheath commented on #4904
@zhumo It sounds like with @sharvilshah's comment above this is ready for development. We need to create a new `#agent` ticket to track task item 1 in the specs: "Retrieve battery condition from the [osquery battery table](https://github.com/osquery/osquery/blob/master/specs/darwin/battery.table) and store in Fleet database."

It looks like we'll need three tickets for this:

1) Task item 1 above

[2022-06-21 17:14] mna commented on #5379
@lukeheath @noahtalerman

Reminder for when we're ready to release this and other additional usage stats attributes, from a convo with @eashaw on Slack:

Anyone with access to our Heroku dashboard should be able to do it, but Eric can assist as needed.

[2022-06-21 18:18] mna commented on #5379
Apologies if I missed something, but disabling those statistics is only possible at the organization level AFAICT, no? https://fleetdm.com/docs/using-fleet/usage-statistics#disable-usage-statistics

[2022-06-21 18:29] mna commented on #5379
Not immediate retries in the sense that if the HTTP request fails, the sending of stats has failed, but since it is part of the cron jobs, it will rerun again in an hour (every hour until it succeeds). Of course, this means the stats will be recalculated with those additional hours as part of the period (for "weekly" active users). I say "weekly" in quotes because it is really the number of active

[2022-06-21 19:20] lucasmrod commented on #5166
@gillespi314 @RachelElysia I had this idea in mind, let me know if it makes sense and if it will be useful:
[e2e_fleet_desktop.diff.txt](https://github.com/fleetdm/fleet/files/8952196/e2e_fleet_desktop.diff.txt)

[2022-06-21 20:46] CharlotteChance commented on #4673
@mike-j-thomas Confirmed.

[2022-06-21 20:50] CharlotteChance commented on #4687
@mikermcneil @mike-j-thomas

If the Sightseeing tour is extended to 1 hr, then this could be absorbed in the onboarding process.

[2022-06-21 21:26] xpkoala commented on #6209
@mna Was this included with the 4.16 release? Just curious if it needs to be added into the sprint board or if we can close it out. Thanks!

[2022-06-21 21:32] mna commented on #6209
No, that's a tech debt issue not associated with a release as of yet. I may have messed up the tags/should've added it to a specific project? The ticket hasn't been addressed.

[2022-06-21 21:36] lukeheath commented on #5379
@mna

This was the result of confusing wording. We meant "Should only run for _organizations_ with usage statistics turned on". I've updated the specs.

[2022-06-21 21:37] lukeheath commented on #5379
@mna

Great! Since we're only selecting active users since the last successful run this should mean that no active users are missed, even in the case of a failed request, correct?

[2022-06-21 22:05] lukeheath commented on #4904
@sharvilshah Got it! Thanks for the clarification. It looks like interface has everything we need to implement the feature. Thanks!

[2022-06-21 22:15] lukeheath commented on #4904
@mna This is ready for dev. Just let me know if you have any questions. Thanks!

[2022-06-21 22:23] lukeheath commented on #5378
@mna Your suggestion of using `hosts.platform` and `hosts.os_version` sounds good to me. Thanks!

[2022-06-21 22:28] eashaw commented on #5682
This section already exists at https://fleetdm.com/handbook/brand#how-to-make-usability-changes-to-the-website

[2022-06-21 22:28] #5682 closed

[2022-06-21 23:19] gillespi314 commented on #5166
@lucasmrod, this looks great and right in line with what I was thinking too :)

Do you think we could make a similar approach work with the software inventory and vulnerabilities pieces? My concern there is that the data we'd need to mock could be quite large so perhaps a gzip would be needed for the `INSERT`.

[2022-06-21 23:56] zwass opened #6326 "Use appleid email as part of host user mapping"
We currently use chrome profile emails to do host user mapping.

A potential email to use is also available on the filesystem from the Apple ID account as described in https://apple.stackexchange.com/a/420713/311152.

Here's a query that seems to work:

[code]

[2022-06-22 02:03] mike-j-thomas commented on #6277
@timmy-k, here are the images for the LinkedIn ads:

**Opinionated**
![Opinionated](https://user-images.githubusercontent.com/78363703/174927322-b6c41bf9-262e-4e84-8192-f854bdc7ebf1.jpg)

**Testimonial**
![testimonial](https://user-images.githubusercontent.com/78363703/174927357-be7a2936-6f9c-4086-ad96-892fc194f1dd.jpg)

**IT**
![IT](https://user-images.githubusercontent.com/78363703/174927398-a98

[2022-06-22 04:55] timmy-k commented on #6171
@mike-j-thomas can you export a version of this to PDF like we discussed?

Please use these links:
Top right— https://fleetdm.com/get-started?tryitout=&utm_source=sales&utm_medium=onepager&utm_campaign=general&utm_content=toptry

Hero "Try it out"— https://fleetdm.com/get-started?tryitout=&utm_source=sales&utm_medium=onepager&utm_campaign=general&utm_content=herotry
Hero "Schedule demo"— https://c

[2022-06-22 07:12] mike-j-thomas commented on #6274
I can't tell exactly what's going on in AdWords, so it may be better to drop the text here so I can see it correctly.

Here are recommendations from the two display ad campaigns flagged as eligible.

**Osquery**
Looks pretty good to me

**Security**
[Link to the campaign](https://ads.google.com/aw/ads/edit/display?campaignId=16965561060&ocid=791527851&adId=594307521807&adGroupIdForAd=135489263693&

[2022-06-22 10:33] lucasmrod commented on #5166
+1. For instance we could store compressed CSV files in `./tools/testdata/` and maybe use something like https://dev.mysql.com/doc/refman/8.0/en/load-data.html on a `Makefile` command (alternatively we can create a small go tool that imports the data and that it also can be run as a `Makefile` command).

[2022-06-22 12:12] mna commented on #5379
@lukeheath

That's correct - if a user was active at time `T` right after the last successful run, and due to some temporary failure, `T` becomes older than 7 days (e.g. 7 days and an hour), it will still be counted in the "weekly active users" in the next successful send of statistics.

The only time where "weekly active users" is strictly the last 7 days (and not "since the last successful execu

[2022-06-22 12:32] juan-fdz-hawa commented on #6275
This was a bug on osquery - fixed here https://github.com/osquery/osquery/pull/7638 - closing this

[2022-06-22 12:32] #6275 closed

[2022-06-22 12:39] lucasmrod opened #6328 "Fleet to detect host with issues submitting query results"
## Intro

Following is the expected/happy-path scenario for hosts interacting with the Fleet server:

1. Osquery host requests queries via the `distributed/read` request.
2. Fleet returns queries to execute (the returned query set depends on configured intervals for details, policies, labels).
3. Osquery host executes the queries sequentially.
4. Osquery host sends the results of all the queries v

[2022-06-22 16:47] zhumo commented on #6064
@lukeheath OK sounds good. I can create individual tickets. Re: your question, see above comment to Zach. I think an invalid token and an expired token are the same thing in my mind.

[2022-06-22 17:13] zhumo opened #6332 "Document that C/NPAPI browser extensions are no longer supported on current major browsers"
### Problem
There is a C/NPAPI browser extensions table which consistently returns nothing. This is because C/NPAPI is very old and no longer supported by modern browsers. See https://en.wikipedia.org/wiki/NPAPI#Support. It might even be impossible for most people to get results from this table.

### Solution
Update the documentation to reflect this

### Parent Epic
- #4973

### Relations
- https:

[2022-06-22 17:23] zhumo opened #6333 "Document differences in M1 vs. Intel Mac tables in osquery docs"
### Problem

Some tables work on intel macs but do not work on M1 macs. The following tables return content for Intel macs but no content for M1 macs:
- acpi_tables
- SMBIOS tables (community: https://github.com/osquery/osquery/issues/7588)
  - memory_array_mapped_addresses
  - memory_arrays
  - memory_devices
  - memory_device_mapped_addresses
  - memory_error_info
  - oem_strings
  - smbios_tabl

[2022-06-22 17:25] lukeheath commented on #4904
@noahtalerman on our weekly engineering call this week, @zwinnerman-fleetdm mentioned the [osquery battery table](https://github.com/osquery/osquery/blob/master/specs/darwin/battery.table) has more information than `cycle_count` that may be helpful for communicating battery health.

@sharvilshah pointed out that some of these fields are not available for mac on the new M1 chip.

[2022-06-22 17:43] zwinnerman-fleetdm commented on #4904
So it looks like since the developers of osquery all used macs, battery info is only really available for macs. There's the battery table in osquery for mac, and if we can get file contents for this feature there's `/sys/class/power_supply/BAT0` on linux which provides full info (this is what the `acpi --verbose` command uses to get its info), so if we can get file contents we can get info from th

[2022-06-22 17:46] lukeheath commented on #6064
@zhumo @zwass

Agreed, we want to let the user know the link expired. I can see a user open the device page in a tab, then an hour later coming back and reloading the page. In that case, the token would have expired and we need to let them know to click the link in the "Fleet Desktop" menu.

If we can use the same messaging for any invalid token this should work as-is. That way, as Zach pointed ou

[2022-06-22 17:54] zhumo opened #6334 "Document the fact that some osquery tables are user context-specific"
### Problem
In many osquery tables, due to technical limitations of the OS or to limit the amount of data returned, the table only returns results for osquery's running-as user. Frequently, this means that someone expecting results would get nothing returned.

This occurs for the following tables for any table in which the spec file has `user_data=True`.

### Solution
Where applicable, generate a

[2022-06-22 18:17] lukeheath commented on #6064
That sounds good to me. Mo?

[2022-06-22 18:44] zhumo commented on #4904
@noahtalerman can you confirm that we are ok with using cycle count < 1000 as the benchmark for "normal"?

My understanding from the agent team is that more than that, we will need to spend an unknown amount of time to reverse-engineer the battery info from Apple's hardware. There's also complexity re: intel vs. M1 and macOS 12 vs. macOS <11. Depending on desire for this and level of accuracy/spec

[2022-06-22 19:19] gillespi314 commented on #5166
Fixtures for software inventory and vulnerabilities are added in https://github.com/fleetdm/fleet/pull/6337

[2022-06-22 19:44] gillespi314 commented on #5166
@lucasmrod would you like me to include your `make db-test-set-desktop-token` in my open PR or were you planning to create a separate one for that? Happy to include it if that would make your life a little easier :)

[2022-06-22 19:58] timmy-k commented on #6213
These leads should also be put in the "new" stage @eashaw

[2022-06-22 19:59] lucasmrod commented on #5166
Yes, please include it in your PR 👍

[2022-06-22 20:01] timmy-k commented on #6215
These leads should also be put in the "new" stage @eashaw

Sales will setup a way to review/call/etc and convert to Contact w/ Account listed as customer)

[2022-06-23 00:27] lukeheath commented on #5166
@gillespi314 Tested it out and working great. Thanks!

[2022-06-23 06:54] anelshaer commented on #830
This is resolved here
https://github.com/fleetdm/fleet/commit/a9f48ff5614c714d814bac16b4aa498e8a040141

[2022-06-23 06:55] #830 closed

[2022-06-23 13:27] zhumo commented on #6064
@zwass @lukeheath works for me. I've updated the figma.

[2022-06-23 13:35] zhumo opened #6347 "Update the Fleet server to change the device token every 1 hour"
## Goal

The URL for "My Device" is a static link that can be visited by everyone if someone shares that link. It can also be brute-forced. This is a blocker for some community members to deploying Fleet Desktop.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=7170%3A271466

## Parent Epic
- #6064

## Tasks

### 1
- [ ]

[2022-06-23 13:37] zhumo opened #6348 "Update Fleet Desktop to ensure it always uses the latest token"
# Goal

The URL for "My Device" is a static link that can be visited by everyone if someone shares that link. It can also be brute-forced. This is a blocker for some customers to deploying Fleet Desktop. The server will rotate the url. The fleet desktop agent should be in sync with the server.

# Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpa

[2022-06-23 13:40] zhumo opened #6349 "Update the Fleet UI to display an error message if an invalid token is loaded"
## Goal

The URL for "My Device" is a static link that can be visited by everyone if someone shares that link. It can also be brute-forced. This is a blocker for some customers to deploying Fleet Desktop. We will therefore rotate the valid URL periodically.

However, some users will try to visit an invalid or expired URL. In those situations, we should show an error that explains to them how to ac

[2022-06-23 14:54] GuillaumeRoss opened #6350 "Publish blog post about our SOC 2 report!"
### Goal

We have performed a SOC 2 audit, and we will have the report available in a couple days. I want to post a blog post about how we achieved it.

[2022-06-23 15:21] timmy-k commented on #6214
@eashaw possible to send the date the sub chose on Calendly to the _IQM Scheduled Date_ field in SF? Right now Growth manually watches leads to see if they had a meeting and this would allow us to do that without pinging Sales every time a lead comes in

[2022-06-23 15:45] lucasmrod opened #6352 "Work on osquery proposal for deny-listing distributed queries"
## Intro

See `Intro` and `Scenario A` described in #6328.

## Goal

We would like to propose adding deny-listing functionality for distributed queries.

### How?

The "distributed" thread of a osquery worker process works the following way (pseudo-code):
[code]

Roughly, we would like to add functionality to `runQueries` to mark distributed queries as running in disk storage (pseudo-code):
[code]

[2022-06-23 15:49] zhumo commented on #6061
Notes from June 23 design review:
- Decision: Delay this in favor of #6281
- We want to err on side of less notifications to start.
- We want to iterate and learn about the language.
- Open question: what happens if a user gets multiple violations at once?

[2022-06-23 16:36] zhumo commented on #6259
Notes from Tomas and Mo meeting:
Can this be configured at the load balancer?
- complex for customer to set up
- might as well do it ourselves, we'll need to do work for customer

[2022-06-23 17:11] timmy-k commented on #6169
@mike-j-thomas getting this notification when I upload the ads:
![image](https://user-images.githubusercontent.com/7229110/175355980-717d8435-0a43-460a-bc2a-32150e777850.png)

Would this be a difficult adjustment? Sorry for the add-on requests... ;(

[2022-06-23 17:38] lukeheath opened #6355 "Login page is aligning vertical top"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ `main`

<hr/>

### 🧑‍💻  Expected behavior

It should align vertical center (like on dogfood).

### 💥  Actual behavior

It aligns top:

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/2495927/175360626-cf68f462-2ecf-427d-9639-acf861b62bbf.png">

### More info

Seems like a n

[2022-06-23 17:39] xpkoala opened #6356 "Padding on live Query Tables needs adjustment"
**Fleet version**: 4.16.0

<hr/>

### 🧑‍💻  Expected behavior
There should be adequate padding when a user supplies text to the live query tables box.

### 💥  Actual behavior
There does not appear to be padding between the input box and the supplied text.

### More info
<img width="365" alt="padding" src="https://user-images.githubusercontent.com/11012743/175360847-eacb1742-f123-458a-8070-e240884d5

[2022-06-23 18:02] GuillaumeRoss commented on #6350
PR has been submitted.

[2022-06-23 18:03] GuillaumeRoss opened #6359 "Publish blog post + update handbook about Nudge"
### Goal

We deployed Nudge to make people update their operating systems faster.

- [ ] Write blog post about how we deployed Nudge via MDM
- [ ] Update security handbook to mention this

[2022-06-23 19:20] lucasmrod opened #6363 "Allow generation of `.pkg`s from Linux"
# Goal

Allow `fleetctl package` to generate `.pkg`s from Linux natively.
See the main proposal [here](https://github.com/fleetdm/fleet/blob/0bb293f10a207c1c42b6aa59da1e230a1dddd2ee/proposals/Fleetctl-Docker-Image.md).

# How

Create a new Docker image `fleetdm/fleetctl` that will contain `fleetctl` and all the dependencies ready to create signed and notarized `.pkg`s.

Users can use the image to

[2022-06-23 19:25] lucasmrod opened #6364 "Allow generation of `.msi`s from Linux"
# Goal

Allow `fleetctl package` to generate `.msi`s from Linux natively.
See the main proposal [here](https://github.com/fleetdm/fleet/blob/0bb293f10a207c1c42b6aa59da1e230a1dddd2ee/proposals/Fleetctl-Docker-Image.md).

# How

Create a new Docker image `fleetdm/fleetctl` that will contain `fleetctl` and all the dependencies ready to create `.msi`s.

Users can use the image to generate packages
[co

[2022-06-23 19:47] lucasmrod opened #6365 "New Fleet functionality for pre-generated installers in Fleet Sandbox"
# Goal

Fleet server to allow the download of pre-packaged installers.
See the main proposal [here](https://github.com/fleetdm/fleet/blob/0bb293f10a207c1c42b6aa59da1e230a1dddd2ee/proposals/Fleet-Installers-4-Sandbox.md).

## Parent Epic
- #6555

Such functionality will be available to the Fleet Sandbox only (at first).

# Simplification for MVF

To decrease complexity of MVF of pre-packaged instal

[2022-06-23 20:02] #6116 closed

[2022-06-23 21:44] timmy-k commented on #6214
Eric Completed both of these requests, so closing

[2022-06-23 22:23] tgauda opened #6371 "Three instances of "Minimum osquery version" dropdown selector only list osquery up to 4.7.0"
**4.13.2**

<hr/>

### 🧑‍💻  Expected behavior
From the UI, I should be able to set the "minimum osquery version" to any available version of osquery.

### 💥  Actual behavior
From the UI, the highest value I can set in "Minimum osquery version" for a query is "4.7.0 +"
<img width="746" alt="image (1)" src="https://user-images.githubusercontent.com/5620541/175424673-baffa784-2ff4-42f3-920f-54b3d8e63

[2022-06-23 22:34] zhumo commented on #5045
@mike-j-thomas Some relevant issues for this work:

https://github.com/osquery/osquery-site/issues/189
^ osquery has some work they want to do on their site to better document some gotchas via icons.

https://github.com/fleetdm/fleet/issues/4973
^ More engineering/product-driven validation work on the tables. I think there have been findings from that effort which overlap with your effort here. Es

[2022-06-23 22:56] gillespi314 opened #6373 "SQL for OS version policies generated by Fleet UI gives false negatives in some cases"
### 🧑‍💻  Expected behavior

When running a policy such as the one in the screenshot below, a live query should return true (passing) for hosts with a version greater than the specified version.

<img width="588" alt="Screen Shot 2022-06-23 at 5 44 22 PM" src="https://user-images.githubusercontent.com/73313222/175427642-322316ca-91b1-4211-b3e7-59222113689a.png">

### 💥  Actual behavior

The policy

[2022-06-23 23:18] hollidayn commented on #6134
@eashaw We set up Google drive for this didn't we?

[2022-06-24 03:32] zhumo commented on #6334
@sharvilshah In the osquery office hours, I think the TSC had settled on marking tables as user-context dependent in the attributes and then using that to render some information in the tables.

Looking through the table specs, I think that already exists. The `user_data=True` attribute seems to serve this purpose. It exists for every table spec where I would expect. The only one where it isn't is

[2022-06-24 14:37] juan-fdz-hawa commented on #4405
This was addressed [here](https://github.com/fleetdm/fleet/pull/6241) - see this [slack thread](https://fleetdm.slack.com/archives/C019WG4GH0A/p1655328526448529) for more info (stats, notes, etc).

Basically the approach we followed here was to use the OVAL definitions for RHEL - since CentOS is based on RHEL and there's a one to one mapping between CentOS versions and RHEL versions and we are onl

[2022-06-24 15:32] lukeheath commented on #6348
@zhumo Since this is an `#agent` ticket I'm assigning to you to finish specs and bring to an agent estimation/planning session for consideration in the next release cycle.

On the interface side we will be updating this token directly in the database every 1 hour (if it's not used), so Fleet Desktop can make the same API call to retrieve the token it's already using. It will automatically update a

[2022-06-24 15:35] zhumo commented on #6348
Thanks Luke! Hey @zwass I think this is ready for specification to go into the dev queue? Would you mind driving that while I'm out? I've added this to the agents weekly for next time.

[2022-06-24 17:41] lukeheath commented on #6371
@tgauda Thanks for reporting this! We'll get it corrected in the next release.

[2022-06-24 18:41] #6350 closed

[2022-06-24 18:54] timmy-k opened #6378 "Launch Stack Overflow Ads?"
### Goal
Reach an audience of our users and customers with these ads

### How
- [ ] Research if these ads work
- [ ] Research how to make them work
- [ ] Talk about spend with Mike ($15k/mo, or $10k/mo for 3 mo)
- [ ] Purchase
- [ ] Setup
- [ ] Launch

[2022-06-25 01:46] #6181 closed

[2022-06-27 02:42] mike-j-thomas commented on #5045
Current webpage design ready for review https://www.figma.com/file/yLP0vJ8Ms4GbCoofLwptwS/%E2%9C%85-fleetdm.com-(current%2C-dev-ready)?node-id=4528%3A13076

@zhumo, I'm not sure where the best place to add "user context-dependent" is. Is it related to the UID col? Would it make sense to add an icon there?

![Image](https://user-images.githubusercontent.com/78363703/175850068-05cd359c-3014-44c7-b8d

[2022-06-27 14:24] mna commented on #4904
@lukeheath @noahtalerman

I saw other comments above mention that "condition" is often empty/missing, but I haven't seen this mentioned for the "health" column in the osquery table, is that something we could use instead of our own "guesstimate" or is it reporting something subtly different than what we want?

[code]

[2022-06-27 14:56] mna commented on #4904
@lukeheath This seems to assume only one battery per host, I don't know that this is guaranteed by osquery so I'd be tempted to design this (if only for future-proofing) with a `host_batteries` table that is one-to-many (host-to-batteries), but regarding the information returned from the API, either only return the first battery's cycle count, or return an array and let the frontend decide the log

[2022-06-27 16:34] lucasmrod commented on #6352
Issue https://github.com/osquery/osquery/issues/7658 opened after discussion with @sharvilshah

[2022-06-27 16:51] zwinnerman-fleetdm opened #6383 "Reflect #6278 into loadtesting"
### Goal

Take the suggestion from #6278 and put it in loadtesting too.

TODO

### How?

- [ ]

[2022-06-27 17:46] lukeheath commented on #4904
@mna Thanks for pointing this out. It looks like a field we should include.

I'm not sure I see the use case where a host would have more than one battery. Do you see a case where this would happen? My inclination is to add this directly to the host table and track a single battery rather than introducing a new pivot table unless we think it will be problematic.

[2022-06-27 18:03] mna commented on #4904
@lukeheath ok I'll add the osquery-provided `health` field too.

About the batteries, I know that some Thinkpad support two batteries (although the 2nd is typically removable, I believe), but given the wide range of devices we support it might be something that isn't that unexpected in some devices? I know that for now the osquery table is macos-only, so in that specific case I don't know if that'

[2022-06-27 18:37] lukeheath commented on #4904
@mna Got it! Thanks for the context. In that case, let's go ahead with your initial suggestions of creating a new `host_batteries` table with a many-to-one reference to hosts. I will update the specs accordingly.

[2022-06-27 18:44] lukeheath commented on #4904
@mna I've also updated the specs to reflect that the API responses will now include a `batteries` array that contains `cycle_count` and `health`. Just let me know if that needs to change.

[2022-06-27 20:22] lucasmrod commented on #6348
Here's a rough diagram and plan on how to tackle token rotation:

[code]

- Orbit will attempt to rotate the token every x minutes. It will effectively rotate the token after ingestion by Fleet (when the table extension is called). Once the token has been ingested by Fleet, Orbit will then update `/opt/orbit/identifier` (a world accessible file).
- Fleet Desktop will read such file every ~5 second

[2022-06-27 21:27] noahtalerman opened #6384 "For Fleet Premium instances, de-anonymize usage statistics"
## Goal

As a member of the customer engineering team
I want to know what stage a customer, that is using Fleet Premium, Fleet deployment is currently at (usage + feature adoption)
So that I can cater support and success meetings to this stage.

## Figma

Usage statistics: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=7295%3A271634

## Parent Epic
- #4883

## Tasks

### 1
- [x] Add a

[2022-06-27 21:43] noahtalerman opened #6385 "In Fleet docs and code, indicate that, for Fleet Premium users, usage statistics are not anonymous"
## Goal

As a member of the customer engineering team
I want to know what stage a customer, that is using Fleet Premium, Fleet deployment is currently at (usage + feature adoption)
So that I can cater support and success meetings to this stage.

## Parent Epic
- #4883

## Tasks

**For all of the following changes, please open a pull request to the `fleet-v-4.17.0-usage-stats` branch instead of `ma

[2022-06-27 21:58] noahtalerman commented on #6384
@lukeheath I assigned this issue to myself.

This is because tomorrow @GuillaumeRoss and I are chatting about the below:

@lukeheath once a decision on this ^ is reached, I will pass the issue to you for spec'ing and assignment.

[2022-06-27 23:34] lucasmrod commented on #6348
`host_device_auth` is where the tokens are currently stored:
https://github.com/fleetdm/fleet/blob/ade216a723625f34c2ea07191f837fae48e164b4/server/datastore/mysql/schema.sql#L139-L144

(I believe we _could_ fit two tokens, with one separator, into one row, e.g. `fc9b5101-0afa-45d9-826f-a8ecc5ea8a14:fc9b5101-0afa-45d9-826f-a8ecc5ea8a14`)

[2022-06-27 23:35] zwass commented on #6348
Oh nice, glad it's already a separate table. Storing 2 in a single column would make for bad index optimization -- maybe we can just change the primary key to allow for multiple entries per host ID?

[2022-06-28 05:23] lukeheath opened #6388 "Host details software tab table misalignment"
**Fleet version**: _(head to the "My account" page in the Fleet UI or run `fleetctl --version`)_ dogfood

**Operating system**: _(e.g. macOS 11.2.3)_ macOS

**Web browser**: _(e.g. Chrome 88.0.4324)_ Chrome

<hr/>

### 🧑‍💻  Expected behavior

On a host details page, on the software tab, when hovering over a row in the software table, I expect "View all hosts" to appear on a single line.

### 💥  Ac

[2022-06-28 11:16] lucasmrod commented on #6348
Ah, good point. +1.

[2022-06-28 13:23] mna commented on #4904
@lukeheath

The device-authenticated endpoint is not documented in the Fleet REST API as it is not meant to be consumed by users (like osquery endpoints, this is not a "user-token-authenticated" endpoint). There was some discussion about how/where we could document those endpoints as it is still useful for us and contributors, but I'm not sure how that ended or if a decision was made, I'll ask the

[2022-06-28 13:23] DominusKelvin commented on #5262
@n8felton PR #6393  should fix this. Thanks for catching this.

[2022-06-28 13:51] #5694 closed

[2022-06-28 13:53] #5017 closed

[2022-06-28 15:29] noahtalerman opened #6396 "Update fleetdm.com's Heroku database"
In the upcoming 4.19.0 release of Fleet (2022-08-18), the usage statistics payload will include an `organization` property for Fleet Premium users only: fleetdm/fleet#6384

## Goal

As a Fleet customer
I want the Fleet team to update fleetdm.com's Heroku database
So that I can confidently share my Fleet usage stats.

## Parent Epic
- #4883

## Tasks

- [ ] ~~On Heroku, revoke the generic account's

[2022-06-28 18:13] mna commented on #4904
The PR for the feature is merged, so I updated the ticket to "Awaiting QA", the only thing missing is the documentation of the device-authenticated routes, I'll add them all in a distinct PR, didn't want to keep the ticket blocked in review just for that (as the frontend work can make progress in the meantime).

[2022-06-28 19:13] roperzh opened #6405 "MySQL online migrations with table versioning PoC"

[2022-06-28 19:32] roperzh commented on #5898
@xpkoala I'm not quite sure how can you test this, as statistics are reported once a week. Feel free to ping me if I can help you with this.

[2022-06-28 19:59] roperzh opened #6407 "Fleet Desktop logs destination on macOS should be ~/Library/Logs"
**Fleet version**: v4.16.0

**Operating system**: macOS

<hr/>

We specified in https://github.com/fleetdm/fleet/issues/5689 the log destination for macOS devices to be `~/Library/Log`, but the right folder for logs in macOS is `~/Library/Logs`

[2022-06-28 20:53] noahtalerman commented on #6384
@lukeheath I'm assigning you this issue.

Can you please review the specs and pass the issue along to the appropriate member of the Interface team?

FYI the action we're taking to address the above is covered by the following separate issue: #6396

[2022-06-29 06:29] Piyush1786 commented on #5984
version is 4.16.0

[2022-06-29 11:18] sm0k opened #6423 "Vulnerability processing not working"
**Fleet version**:
fleetctl - version 4.16.0
  branch: 	HEAD
  revision: 	865ab32d03c37e8a74e811bc5ac697202f14e455
  build date: 	2022-06-21
  build user: 	runner
  go version: 	go1.17.8

**Operating system**: Kubernetes

**Web browser**: N/A

<hr/>

### 🧑‍💻  Expected behavior
Vulnerability processing

### 💥  Actual behavior
Vulnerability processing seems not working:
- generated_cpe values seems

[2022-06-29 11:35] lucasmrod commented on #6423
Hi @sm0k!

Can you elaborate about what's not working? (E.g. no vulnerabilities found in the whole fleet? or is it false positives/negatives?)

{
"id": 571,
"name": "Mozilla Firefox (x64 fr)",
"version": "98.0.1",
"source": "programs",
"generated_cpe": "none:571",
"vulnerabilities": null,
"hosts_count": 1
},

We are currently using `none:` when we failed to find a match.
We are working on improvin

[2022-06-29 11:37] ololdach opened #6424 "Helm Chart - Bug in deployment YAML"
Fleet version:
fleetctl - version 4.16.0
branch: HEAD
revision: https://github.com/fleetdm/fleet/commit/865ab32d03c37e8a74e811bc5ac697202f14e455
build date: 2022-06-21
build user: runner
go version: go1.17.8

Operating system: Kubernetes

Web browser: N/A

<hr/>

### 🧑‍💻  Expected behavior
When turning on TLS on the server by setting tls: enabled: true in the values
values.yaml:
fleet:
   tls:

[2022-06-29 11:44] lucasmrod commented on #6423
Ah, I see, thanks for the detailed report. I'll share with the team.

[2022-06-29 11:46] lucasmrod commented on #5470
Related #6423.

[2022-06-29 11:48] sm0k commented on #6423
@lucasmrod  Thanks a lot

[2022-06-29 12:12] mna commented on #4904
Doc PR merged too.

[2022-06-29 12:13] lucasmrod commented on #6348
We might need a "slight" change in the design shown above:

The token rotation would be triggered by the device itself, so if the user has the device turned off or disconnected from Fleet, then the token won't be rotated.

To support better rotation support, we can have Fleet do the rotation, and have Fleet feed the new token via the `SELECT` query to Orbit. (It's kind off hacky because we would b

[2022-06-29 13:58] #5827 closed

[2022-06-29 13:59] lucasmrod commented on #5827
Fixed in #6241.

[2022-06-29 14:19] timmy-k opened #6426 "Support Zach in speaking to Gophercon 10/7"
### How

- [ ] Help him workshop speech ideas
- [ ] Provide any materials he may need from Growth or DE
- [ ] Promote on SM

[2022-06-29 14:51] noahtalerman opened #6428 "Know how many hosts, and which hosts, are running unsupported Windows versions"
## Problem

I'm an engineer managing thousands of Windows hosts and I'm overwhelmed with tracking the following goal:
- Make sure all my hosts are running operating system (Windows) versions that are supported by Microsoft.

This makes is hard to make progress on this goal because I don't know what hosts I need to take action on.

## Goals

1. Know how many hosts are running unsupported Windows ve

[2022-06-29 14:54] noahtalerman opened #6429 "See remaining disk space for all of my hosts"
## Problem

I'm an engineer managing thousands hosts and I'm overwhelmed with tracking the following goal:
- Make sure all hosts have enough remaining disk space to install operating system updates. These operating system updates include security fixes that are crucial for my organization.

This makes is hard to make progress on this goal because I don't know what hosts I need to take action on.

[2022-06-29 14:56] noahtalerman opened #6430 "Know how many hosts, and which hosts, have Munki issues"
## Problem

I'm an engineer using Munki to push new software to thousands of macOS hosts and I'm overwhelmed by the amount of issues with Munki I need to address. I want help prioritizing these Munki issues.

## Goal

As a Munki admin, add ability to see the most common Munki issues so that I can prioritize resolving the issues that impact the most hosts.

I also want to be able to see which macOS

[2022-06-29 14:58] noahtalerman opened #6431 "Know which AD users have accounts on a host"
## Problem

Many organizations use Active Directory (AD) to manage user accounts on their hosts. It's difficult to know which user have access to which hosts.

## Goal

Add ability to know which AD users have accounts on a host.

## Parent Epic

- #397

[2022-06-29 15:00] noahtalerman opened #6433 "Know how many hosts, and which hosts, are enrolled in a specific Mobile device management (MDM) solution"
## Problem

As an engineer managing thousands of macOS and Windows hosts and I'm overwhelmed with tracking which host is enrolled to which MDM solution.

This makes is hard to understand how my organization is doing in our effort to move from one MDM solution to another.

## Goal

Add ability to see and know the number of hosts enrolled to each Mobile device management (MDM) solution.

## Figma

h

[2022-06-29 15:02] noahtalerman opened #6434 "Add ability to know why hosts have undesired configuration"
## Problem

I'm an engineer managing thousands of macOS, Windows, Chrome OS, and Linux hosts and I'm overwhelmed with tracking my security goals for each of these hosts.

This makes is hard to achieve my security goals because it's difficult to find which hosts are in an undesired state and, when I do, it's difficult to ask these hosts, and their users, why they're in an undesired state.

## Goal

[2022-06-29 15:04] noahtalerman opened #6435 "Know how many hosts, and which hosts, are missing"
## Problem

I'm an engineer managing thousands of hosts and I'm overwhelmed with tracking this goal:

- Know how many hosts, and which hosts, are missing.

This makes it hard to troubleshoot why a host is missing. Is the user on a longer vacation? Is the host stolen? Is the host is someone's closet? Is the host broken?

## Goals

1. Know how many hosts are missing.

2. Know which hosts are missing