[2021-12-28 22:01] lukeheath commented on #2673
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2673?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 22:07] lukeheath commented on #2477
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2477?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 22:09] lukeheath commented on #2557
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2557?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 22:10] lukeheath commented on #2350
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2350?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 22:11] lukeheath commented on #2321
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/2321?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 22:19] lucasmrod opened #3522 "Orbit 0.0.5 fails to start on Windows and Ubuntu when using `--insecure`."
**Orbit version**: 0.0.5

**Operating system**:
- VMWare Fusion, Microsoft Windows 10 Pro 10.0.
- VMWare Fusion, Ubuntu 20.04.

<hr/>

### 🧑‍💻  Expected behavior

Install Orbit 0.0.5 pkg generated with `--insecure` and connecting to a fleet server running on the host (macOS).
Windows host successfully enrolls.

### 💥  Actual behavior

Install Orbit 0.0.5 pkg generated with `--insecure` and connect

[2021-12-28 22:23] lukeheath commented on #3520
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3520?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 22:23] lukeheath commented on #3519
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3519?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2021-12-28 22:34] lukeheath commented on #3502
This seems related to #3488. Should we expand the scope of that ticket to include this issue?

[2021-12-28 22:36] lukeheath commented on #3486
Closing in favor of #3519.

[2021-12-28 22:36] #3486 closed

[2021-12-28 22:38] lukeheath commented on #3520
Note #2557 is an existing ticket to improve Host Details E2E tests.

[2021-12-29 15:22] noahtalerman commented on #3170
I like this idea a lot!

@mna in this issue's description, can you please add a specific example of when a user has benefited from adding a host to `debug_host_ids`?

Documenting one or more examples will help me and community members better understand when it's helpful to add a host to `debug_host_ids`.

With this understanding, we can propose ideas for the first iteration of this new experience

[2021-12-29 16:50] noahtalerman commented on #3350
@gillespi314 I'm seeing the following 500 error when running `fleetctl preview --tag main` and navigating to the Host details page:
https://www.loom.com/share/1490753a48a94769b583fe93add6d6e7

Please let me know if you're able to reproduce the error I encounter in the above Loom video. Thanks :)

[2021-12-29 16:56] noahtalerman commented on #3374
@gillespi314 were you able to uncover any clues as to when the `/certificate` API route would successfully respond with `undefined` as the value? If so, can you please document these findings in a new "`/certificate` API route successfully responds with `undefined`" issue?

Also, new loading and error state are working great!

[2021-12-29 17:07] noahtalerman commented on #3301
@RachelElysia the masthead's height (50px) now exactly matches the height in Figma which is an awesome side effect of this improvement:

![Screen Shot 2021-12-29 at 12.03.52 PM.png](https://images.zenhubusercontent.com/61857f3414aabf8b8576720c/79d950dc-d468-431f-be31-d815cb47ae03)

One small style nit. It appears that the Fleet logo in the Home page tab is not vertically centered:

![Screen Shot 2

[2021-12-29 17:59] RachelElysia opened #3523 "GitHub e2e tests intermittently ends up in an infinite loop"
<hr/>

### 🧑‍💻  Expected behavior

Run GitHub tests with ease.

### 💥  Actual behavior

Several PRs have ended with 1 or both e2e tests cancelling after trying to run for 360 minutes.

Screenshot of repetitive error:
<img width="1139" alt="Screen Shot 2021-12-29 at 12 55 35 PM" src="https://user-images.githubusercontent.com/71795832/147690440-6495fc41-1b16-4268-b29b-aaa8b55f68c1.png">

Need ideas

[2021-12-29 17:59] gillespi314 commented on #3374
@noahtalerman I wasn't able to reproduce an `undefined` API response. It wasn't clear which version the user who reported the issue was running, but it was not the current version. In any case, I looked back at the git history and found a frontend bug where it exposed the download button in cases where the frontend errored trying to parse an API response with `window.atob` but the response was not

[2021-12-29 18:18] noahtalerman commented on #3374
Got it.

Aha, I think this makes sense.

Sweet!

@gillespi314 thank you for the follow up! No need to file a new "/certificate API route successfully responds with undefined" issue.

[2021-12-29 18:25] noahtalerman opened #3524 "Smoke tests: Fleet 4.8.0"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.8.0

**Web browser** _(e.g. Chrome 88.0.4324)_: Version 96.0.4664.110 (Official Build) (x86_64)

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetd

[2021-12-29 20:16] noahtalerman commented on #2756
@lucasmrod good catch! Later we might want to include the "why" directly in the UI instead of pointing the user to the docs. I will file an issue for this.

[2021-12-29 20:21] noahtalerman commented on #2756
@lucasmrod I performed manual QA on the policy automations feature.

I was able to successfully receive the policy webhook with the tines.io tool! Being able to view the hosts included in the request felt awesome.

The following are 2 bugs that I encountered during QA:
- Hosts included in a webhook request at time t1 are also included in a webhook request at time t2
- The Fleet server logs the fol

[2021-12-29 20:49] mikermcneil opened #3525 "macOS guest user in host vitals?"
Fleet 4.7.0 • Go go1.17.2 · Dec 29, 2021

I noticed that, after creating a second user `cosmomcneil` on an enrolled Mac, "Guest" also started appearing as a system user in host vitals.

But "Guest" is disabled (and has always been).

Any ideas?

![image](https://user-images.githubusercontent.com/618009/147702147-218186b0-44d2-4ff3-80d3-25df05de67b0.png)
![image](https://user-images.githubuserconte

[2021-12-29 22:26] noahtalerman opened #3527 "Policy automations do not behave as expected when Fleet server receives 201 response code"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main` branch.

<hr/>

### 🧑‍💻  Expected behavior
1. I updated the webhook `interval` to `1m` so that I could observe the contents of webhook requests sent in quick succession.
2. I created a policy using the example operating system policy on the **Host details** page.
3. I tuned on policy

[2021-12-29 22:58] noahtalerman opened #3528 "No hosts returned when searching hosts by Google Chrome profile"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior
I entered

[2021-12-29 23:31] lukeheath commented on #3528
@noahtalerman I am able to reproduce this issue. In addition to the backend not returning any results when searching by email, the frontend is not correctly hiding the field when there is no result:

![image](https://user-images.githubusercontent.com/2495927/147710508-4318f5cc-7548-4aa4-af43-c4a341635d83.png)

Per the spec, if there are no results for device user the field should be hidden.

[2021-12-30 00:00] noahtalerman commented on #3524
@zwass I propose pushing the 4.8.0 release to either Mon Jan 3 or Tues Jan 4.

This way, Lucas and Martin (both OOO until Mon) can assist in reproducing/resolving the the bugs that affect the policy automations and Google Chrome profiles features.

A summary of the smoke test results and potential release blocking bugs is below:

- All smoke tests passed when using the latest code on the `main` br

[2021-12-30 00:10] noahtalerman commented on #3528
@lukeheath great catch. Can you please file a bug report issue so that this issue is tracked? Thank you in advance :) I don't think this new "not correctly hiding" issue is release blocking.

[2021-12-30 00:23] lukeheath opened #3529 "Host Details' device user field not hiding when no user value is provided"
![image](https://user-images.githubusercontent.com/2495927/147710508-4318f5cc-7548-4aa4-af43-c4a341635d83.png)

Per the spec, if there are no results for device user the field should be hidden.

[2021-12-30 00:34] lukeheath commented on #3528
@noahtalerman Sure thing! #3529

[2021-12-30 14:42] noahtalerman commented on #3503
@lucasmrod I moved this issue into the "Quality Assurance" column of the 🚀 Release board and assigned you. This is because the following PR that addresses this issue was merged into `main`: #3506

[2021-12-30 14:56] noahtalerman opened #3532 "In masthead navigation, logo in Home page tab is not vertically centered"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main`

**Web browser** _(e.g. Chrome 88.0.4324)_: Version 96.0.4664.110 (Official Build) (x86_64)

<hr/>

### 🧑‍💻  Expected behavior
I expected the logo in the Home page tab to be vertically centered.

### 💥  Actual behavior
![Screen Shot 2021-12-29 at 12.05.31 PM.png](https://images.zenhub

[2021-12-30 14:57] noahtalerman commented on #3301
@RachelElysia heads up, I broke the vertically centered style nit from the above comment into the following separate issue: #3532

[2021-12-30 15:22] noahtalerman opened #3533 "In selected tab UI, text-shadow property creates a stretched effect"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main`

**Web browser** _(e.g. Chrome 88.0.4324)_: Version 96.0.4664.110 (Official Build) (x86_64)

<hr/>

### 🧑‍💻  Expected behavior
I expected the font weight for a selected tab to use `$bold`:
![Screen Shot 2021-12-30 at 10 21 54 AM](https://user-images.githubusercontent.com/47070608/1477

[2021-12-30 16:13] noahtalerman commented on #3493
On the dashboard page (Home page) The requests made to the `GET /labels` and `GET /count` API routes are potentially redundant. All information needed to populate the platform and status sections (pictured below) can be retrieved using the `GET /host_summary` API route:
![Screen Shot 2021-12-30 at 11 12 19 AM](https://user-images.githubusercontent.com/47070608/147768900-36df381c-ea89-4de5-b9be-43a

[2021-12-30 16:49] noahtalerman commented on #3493
#### hosts manage page (Hosts page):
- labels: 17.9s, 20s / 0.2s, 0.2s
- host_summary: 6.1s, 7s / 0.3s, 0.2s
- hosts: 3.9s, 2.3s, 2.8s / 1.5s, 1.5s
- count: 6.3s / 2.6s

#### Desired requests
- `GET /labels` no counts
- `GET /hosts` with counts
- `GET /count` no count

#### Why?

##### `GET /labels` no counts

Future UI changes may include removing the right side bar and condensing the labels so t

[2021-12-30 17:09] noahtalerman commented on #3493
### packs manage page

### Goal

As a Fleet user I want to see how many hosts are expected to run the queries in a specific pack so that I can later verify that the number of hosts successfully sending scheduled query results matches the expected count.

### Desired requests
- `GET /packs` with count

### packs new page

### Goal

As a Fleet user I want to see how many hosts are expected to run th

[2021-12-30 17:12] lukeheath commented on #3529
Closing because I cannot reproduce issue today.

[2021-12-30 17:12] #3529 closed

[2021-12-30 18:19] noahtalerman commented on #3065
Fix for this issue was release in 4.6.1

[2021-12-30 18:19] #3065 closed

[2021-12-30 19:11] noahtalerman opened #3535 "Add a "Signing installers" section to the "Adding hosts" documentation page"
### Goal

Add a "Signing installers" section to the "Adding hosts" documentation page

### How?

- [x] Add a "Signing installers" section
- [ ] Add instructions that answer the following questions:
  - What do I need to use to sign an osquery installer for macOS?
  - What do I need to use to sign an osquery installer for Windows?

### Notes

- Zach: Windows signing is not yet supported within flee

[2021-12-30 19:20] mikermcneil commented on #2995
## motivation
It would be awesome to have a better answer to:

## case study

One data point: I saw this come up when a large retailer tried to do rolling migrations for an app processing production payments with a database with millions of rows.  After some pain, the team ended up reverting to using "stop the world" migrations with downtime, after consuming the majority of two sprints worth of at

[2021-12-30 22:50] mikermcneil commented on #3535
I think it could help in particular to expand on what that limitation means in terms of the user experience for people sending out installers for macOS and Windows via their company’s Slack or email.  (ie what are the exact steps for the easiest possible way to accomplish the necessary signing today to deploy installers to everyone, including non-technical employees’ laptops and servers)

Even tho

[2021-12-30 22:51] mikermcneil commented on #3535
I think it could help in particular to expand on what that limitation means in terms of the user experience for people sending out installers for macOS and Windows via their company’s Slack or email.  (ie what are the exact steps for the easiest possible way to accomplish the necessary signing today to deploy installers to everyone, including non-technical employees’ laptops, and especially on ser

[2021-12-30 22:58] noahtalerman commented on #3524
#3527 is now resolved. This issue has been removed from the "Notes on whether issues should block release or not as needed" section.

[2021-12-30 23:20] zwass commented on #3396
I just tested an upgrade from 4.6.2 to `main`. We'll be cutting 4.8.0 shortly and this should be fixed.

[2021-12-30 23:21] zwass commented on #3503
Confirmed that host can still be refetched with Redis turned off.

[2021-12-30 23:23] zwass commented on #3447
This is at least partially resolved by the new error logging in #3506. We can call this closed and track any additional followup in #3504.

[2021-12-30 23:48] #3528 closed

[2021-12-31 15:07] noahtalerman opened #3541 "Add ability to run `fleetctl preview` without adding your personal device"
### Goal

In fleetctl preview, add ability to run `fleetctl preview` without adding your personal device so that tests for adding a new host by following "Generate installer" instructions can be completed without having to stop the orbit/osqueryd processes.

### How?

- [ ] Proposed solution: Add a new flag to the `fleetctl preview` command that allows the user to start up a preview environment wi

[2021-12-31 19:44] noahtalerman commented on #2719
The updates to anonymous usage statistics were included in the Fleet 4.7.0 release.

[2021-12-31 19:44] #2719 closed

[2021-12-31 19:49] noahtalerman opened #3543 "Improve latency on the Home page"
## Goal

As a user, I want the dashboard to be optimized to load quickly so the app feels responsive and polished.

## Related

- Backend: #4738

## Notes

Requests are made to the following API routes on the Home page in the Fleet UI:
- /labels: 12.9s / 0.2s
- /host_summary: 3.5s / 0.2s
- /count?label_id=12: 1s / 0.2s

We are updating the `/host_summary` API response to provide everything we need

[2021-12-31 20:08] #400 closed

[2021-12-31 20:08] #1895 closed

[2021-12-31 20:08] #2756 closed

[2021-12-31 20:08] #3281 closed

[2021-12-31 20:08] #3317 closed

[2021-12-31 20:08] #3326 closed

[2021-12-31 20:08] #3350 closed

[2021-12-31 20:08] #3371 closed

[2021-12-31 20:08] #3396 closed

[2021-12-31 20:08] #3427 closed

[2021-12-31 20:08] #3447 closed

[2021-12-31 20:08] #3503 closed

[2021-12-31 20:08] #3527 closed

[2021-12-31 20:08] #3062 closed

[2021-12-31 20:08] #3127 closed

[2021-12-31 20:08] #3183 closed

[2021-12-31 20:08] #3265 closed

[2021-12-31 20:08] #3290 closed

[2021-12-31 20:08] #3297 closed

[2021-12-31 20:08] #3298 closed

[2021-12-31 20:08] #3299 closed

[2021-12-31 20:08] #3301 closed

[2021-12-31 20:08] #3306 closed

[2021-12-31 20:08] #3321 closed

[2021-12-31 20:08] #3349 closed

[2021-12-31 20:08] #3364 closed

[2021-12-31 20:08] #3365 closed

[2021-12-31 20:08] #3374 closed

[2021-12-31 20:08] #3394 closed

[2021-12-31 20:08] #3407 closed

[2021-12-31 20:08] #3433 closed

[2021-12-31 20:08] #3461 closed

[2021-12-31 20:08] #3485 closed

[2021-12-31 20:11] #3524 closed

[2021-12-31 20:11] #3335 closed

[2021-12-31 20:30] noahtalerman commented on #474
@edwardsb passing this issue's assignment to you. Please check in with Zach if you have any questions :)

[2022-01-02 04:23] mikermcneil opened #3551 "What kind of device is this?"
### Goal

As a user of Fleet, I want to get an intuitive sense, at a glance, of what kind of device a given host is, whether that’s a Linux laptop, a Windows server, a Coca Cola Freestyle vending machine, or a set top cable box.

Ideally I don’t have to upload these images myself.

### How?

- [ ]

[2022-01-02 18:54] gillespi314 commented on #3523
+1
I've also had this happen several times. Seems like the database dies but I can't tell what keeps killing it. It happens intermittently and I tend to discover it only after it has been looping for an extended period. Then cancelling and re-running the workflow usually results in a passing test so I first assumed it was something to do with the Github CI infrastructure.  I'm stumped for ideas ho

[2022-01-02 19:10] gillespi314 commented on #1469
Alternatively, I would propose that we use this ticket to examine existing network API requests and migrate to using new patterns with more robust error handling where necessary (i.e. use `frontend/services/` instead of `/frontend/fleet`, standardize on react-query for error handling)

[2022-01-03 03:38] #3465 closed

[2022-01-03 12:36] lucasmrod commented on #3201
Should we re-open until osquery-in-a-box's `develop` is merged into `production`? (https://github.com/fleetdm/osquery-in-a-box/compare/develop?expand=1)

@noahtalerman @zwass

[2022-01-03 12:54] chiiph commented on #3507
I think regardless of the setup all URLs should follow the same standard format. Can you think of a case for a non standard URL? I suppose it depends how restrictive the checks are, it could be problematic, but we can probably find a middle ground.

[2022-01-03 13:02] chiiph commented on #3522
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Release-61856c3848eeea001d70554e/issues/fleetdm/fleet/3522?planning-poker) with ZenHub @lucasmrod

[2022-01-03 14:40] noahtalerman commented on #3201
@lucasmrod yes, good catch. I'm reopening this issue and adding it to the 🚀 Release board on ZenHub so that we don't lose track of the issue.

[2022-01-03 14:49] noahtalerman commented on #3543
@lukeheath I'm passing this issue's assignment to you and moving the issue into the "Architect" column of the product board.

Can you please verify that the requests made to the `GET /labels` and `GET /count?label_id=12` API routes are redundant?

If they are, and you think the strategy to improve latency on the Home page is a good one, can please prepare this issue for engineering estimation?

If

[2022-01-03 15:18] lucasmrod commented on #3522
Am adding points assuming the added `if` in the comment is not the solution we want. All I know is that such `if` was removed recently, hence the issue. We should account for some troubleshooting for the root cause.

[2022-01-03 15:36] noahtalerman opened #3554 "Clarify the behavior when a user saves a policy with all "Runs on" checkboxes unchecked"
### Goal

Clarify the behavior when a user saves a policy with all "Runs on" checkboxes unchecked.

### How?

- Proposed solution:
  - All checkboxes are checked when the user first navigates to the "New policy" page
  - The user is instructed to check at least one checkbox when they attempt to save a policy with all checkboxes unchecked

[2022-01-03 15:49] noahtalerman opened #3555 "Present tables included in the macadmins extension as valid tables in the Fleet UI"
The UI on the **New query** page presents the `mdm` table as incompatible with all platforms:
![Screen Shot 2022-01-03 at 10 39 16 AM](https://user-images.githubusercontent.com/47070608/147949922-d430e5e2-4e64-4df2-88de-5c9a1673906f.png)

The UI on the **New query** page presents the `munki_info` table as incompatible with all platforms:
![Screen Shot 2022-01-03 at 10 39 48 AM](https://user-images

[2022-01-03 16:23] noahtalerman opened #3557 "Get browser extensions working in software inventory"
### Goal

Update software inventory so that Google Chrome, Firefox, IE, and Safari extensions are included in the "Software" table on the **Host details** page (individual host view) and **Home** page (aggregate view).

### How?

- [x] Investigate why [osquery queries used to retrieve software inventory](https://github.com/fleetdm/fleet/blob/30e922db075aa61b214fec1cd8ebce6c45c44178/server/service/

[2022-01-03 16:30] noahtalerman commented on #3069
The following "Get browser extensions working in software inventory" issue covers the first step outlined in the above comment: https://github.com/fleetdm/fleet/issues/3557

[2022-01-03 16:43] mikermcneil commented on #3535
@DominusKelvin @zwass FYI I updated the description above with some more feedback from the user who inspired this issue (Avik Sengupta).

i.e. what entitlements are required for osquery and the installer

[2022-01-03 16:47] DominusKelvin commented on #3535
Thanks Mike. This is helpful and I believe I will have a first draft today for you.

[2022-01-03 16:47] noahtalerman opened #3558 "Add ability to see the permissions associated with a specific browser extension"
The following improvement requires the addition of browser extensions to software inventory in Fleet. This improvement is outlined in the following issue: #3557

### Goal

Add ability to see the permissions associated with a specific browser extension. This way, if a workstation/IT administrator discovers that an employee workstation has a browser extension installed with permissions that do not m

[2022-01-03 16:52] noahtalerman opened #3559 "Add ability to see a risk score associated with a specific browser extension"
The following improvement requires the addition of browser extensions to software inventory in Fleet. This improvement is outlined in the following issue: #3557

I think this improvement achieves a very similar goal as the following "Add ability to see the permissions associated with a specific browser extension" issue: #3558

### Goal

Add ability to see a risk score associated with a specific br

[2022-01-03 17:11] zwass commented on #3201
@lucasmrod can we do that merge now?

[2022-01-03 17:12] lucasmrod commented on #3201
Yes. Here it is: https://github.com/fleetdm/osquery-in-a-box/pull/15

[2022-01-03 17:24] gillespi314 commented on #3543
@lukeheath, I poked around with this and it looks like the extra requests are being made in `HostsSummary` in order to calculate the Linux count. For some reason, the `host_summary` endpoint is not returning all the info needed for an accurate Linux count. The API response is not tracking the spec per the [documentation](https://fleetdm.com/docs/using-fleet/rest-api#get-hosts-summary) and returns

[2022-01-03 17:40] gillespi314 commented on #3543
Potentially if we don't want the backend to do this work combining the linux count, the frontend could sum up the different flavors of linux based on the `host_summary` response (it looks like that would be accurate, but off the top of my head I'm not sure if there are reasons why we shouldn't trust those)

[2022-01-03 18:45] lucasmrod opened #3563 "Uninstalling Fleet osquery (orbit) on Windows does not remove the installed files"
**Fleet version**: Orbit 0.0.5

**Operating system**: VMWare Fusion Pro with Windows 10 Pro.

<hr/>

### 🧑‍💻  Expected behavior

Uninstalling Fleet osquery removes `C:\Program Files\Orbit` directory.

### 💥  Actual behavior

After uninstalling Fleet osquery, the `C:\Program Files\Orbit` directory is still there with all its contents untouched.

[2022-01-03 19:26] lucasmrod commented on #3522
Update, `--insecure` is also failing to work on Ubuntu 20.04:
[code]

[2022-01-03 19:47] krise86 opened #3564 "v4.8.0 reports missing db migrations on fresh db"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.8.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): free

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: kubernetes

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻

[2022-01-03 20:18] zwass commented on #3081
Updates from Tomas' research: https://docs.google.com/document/d/1xdoReEwkXAS8Gqh3JBGL0YHk8sjA7CX4qn_izvwDs6w/edit?usp=sharing (should be public viewable)

[2022-01-03 20:31] gillespi314 commented on #3543
@lukeheath I have a frontend-only fix for this ready to go to sum up "rhel", "debian" and "ubuntu" from the current API response and can easily swap it out if you decide you want the backend to return the combined "linux". If the former, we'll probably want to update the documentation to reflect what is actually being sent.

[2022-01-03 20:33] lukeheath commented on #3543
@gillespi314 Thanks for taking a look. I'll let you know re: backend or frontend. I'm inclined towards backend, as our goal is to make the API as functional as possible for consumers and require as little tap dancing on our end as possible.

[2022-01-03 20:57] krise86 commented on #3564
never mind, seems like the database or other stuff was cached.

after deleting the pvc for redis and maria it was able to startup successfully

[2022-01-03 21:00] chiiph commented on #3038
Estimating this at a 5 to time box it. The goal is to define a structure and add a few tests to prove the concept.

I've started a branch called `migrations-tests` with an idea, no need to use it necessarily, but it's a possibility.

[2022-01-03 21:04] chiiph commented on #3471
Time boxing it to a 5 to begin with. I believe it'll be enough to start. Here's an example PR to look at the `directIngestFunc` approach: https://github.com/fleetdm/fleet/pull/3406

[2022-01-03 21:05] chiiph commented on #3564
Glad it worked out! I was just working on reproducing this issue. Closing.

[2022-01-03 21:05] #3564 closed

[2022-01-03 21:44] lukeheath opened #3565 "Policies page briefly shows "No hosts" screen before loading policies"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `both`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Premium

<hr/>

### 🧑‍💻  Expected behavior

On loadtest with 40k hosts, when I click on the "Policies" tab I expected to see a list of policies that exist.

### 💥  Actual behavior

On loadtest with 40k hosts, when I

[2022-01-03 22:32] noahtalerman commented on #3563
Nice catch!

@lucasmrod and @zwass, I added this issue to the 🚀 Release board on ZenHub to prepare the issue for assignment during tomorrow's standup.

[2022-01-03 23:57] lucasmrod commented on #3201
The changes have been merged to osquery-in-a-box's `production` branch. This can be QA'd with `fleetctl preview`.

[2022-01-03 23:58] lukeheath opened #3567 "Add "available_teams" array to /login and /me responses for global users"
### Goal

As a frontend developer, I want to receive a list of all available teams from the `/login` and `/me` endpoints so that I can load the user interface without requiring an additional request to get a list of teams for global users.

`fleet.User.Teams` currently holds the teams the user is a member of. Global users aren't members of any team. So as part of `getUserResponse` and `loginRespon

[2022-01-04 00:00] lukeheath commented on #3567
@chiiph Assigning over to you to point and assign as needed. Please feel free to edit this ticket to add more fidelity to the specs.

@gillespi314 FYI

[2022-01-04 00:10] RachelElysia commented on #3476
I added fix radio buttons to my PR. Radio buttons should also have the 8-pixel spacing. Also, radio buttons should be the same height and width as the checkboxes, fixed from 24px by 24px to 20px by 20px.

[2022-01-04 03:04] mikermcneil opened #3568 "Easier instructions for deploying to GCP in fleetdm.com/docs"
### Goal

### How?

- [ ]

[2022-01-04 06:56] mike-j-thomas opened #3570 "License dispenser style and UX tweaks"
##License dispenser style tweaks

**Global**

- .form-group { margin-bottom: 24px;}
- submit-button { font-size: 16px; }

**Order confirmation/thank you message.**

- Can we override the width just a smidgen to fix the widowed "Fleet"?
- Reduce button width to 200px

**Dashboard**
Contact us CTA:
- font-size: 14px; margin-left: 4px;
- info icon margin-top: 3px;

**Forgot password**
Change placehol

[2022-01-04 12:31] chiiph commented on #3567
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Release-61856c3848eeea001d70554e/issues/fleetdm/fleet/3567?planning-poker) with ZenHub @lucasmrod @gillespi314

[2022-01-04 16:20] lucasmrod commented on #3567
@lukeheath: Which interface?

[2022-01-04 16:28] lukeheath commented on #3567
@lucasmrod Apologies, not very clear. I've updated it to "user interface".

[2022-01-04 16:35] chiiph commented on #3507
Ah, right. I suppose that's possible, but very unlikely in a production environment. It might mess with dev a bit, but not in the setups we've been using.

[2022-01-04 16:36] lucasmrod commented on #3567
So, IIUC:
- Global users will have `user.available_teams` == all teams.
- Team users will have always `user.available_teams == user.teams` (nit: maybe for team users `available_teams` should be empty because such information is already in `user.teams`?)

[2022-01-04 16:37] RachelElysia opened #3573 "Remove "Osquery enrollment secrets" section from the "Settings > Organization settings" page"
### Goal

Remove "Osquery enrollment secrets" section from the **Settings > Organization settings** page so that there are less options to manage on the page.

The user can now add, edit, and remove enroll secrets on the **Hosts** page.

"Osquery enrollment secrets" section (as of Fleet 4.11.0):
![Screen Shot 2022-03-21 at 9 36 31 AM](https://user-images.githubusercontent.com/47070608/159272422-34

[2022-01-04 16:42] lucasmrod commented on #3567
Actually, my apologies :) I meant which UI screens would be improved by having the `available_teams` returned `/me` and `/login`.

[2022-01-04 21:17] lukeheath commented on #3557
Frontend already has mapping setup for these fields. We just need to make sure the property names that come back in the response match this map:

[code]

[2022-01-04 22:31] lukeheath commented on #3567
@lucasmrod No worries :)

The `/me` endpoint will be used on every route change to refresh the user's data. Currently, we have to check if they are a global user, and if so, make an additional request to the teams endpoint. We're hoping to eliminate the need for the check and extra call by just including the available teams for all users at the `/me` endpoint. That way, we know `/me` always provid

[2022-01-04 22:47] lukeheath opened #3575 "UI making multiple requests to same endpoint on route load"
### 🧑‍💻  Expected behavior

A single request for each endpoint resource needed on route load.

### 💥  Actual behavior

1. Settings > Teams  - Duplicate requests to `api/v1/fleet/teams`
2. Settings > Teams > Team Details - Four requests to `/api/v1/fleet/users?page=0&per_page=100&team_id=1`
3. Schedule  > Duplicate requests to `/schedule/manage`

[2022-01-04 23:20] #3570 closed

[2022-01-05 07:29] #3380 closed

[2022-01-05 12:10] lucasmrod opened #3576 "Optimize live queries via prioritization"
### Goal

We could optimize live query execution across hosts by prioritizing them versus the other queries (policies, labels, details, etc.).

### How?

When a host checks in for new distributed queries to run (`distributed/read` endpoint), Fleet could first check if there are any live queries available for the host, if so, then it would just return only those to the host; the remaining queries (

[2022-01-05 15:57] noahtalerman commented on #3069
Hey @gavinelder, the current intended behavior is for browser extensions to be included in Fleet's software inventory and vulnerability detection.

Because of this, the Fleet team will likely address the following "Get browser extensions working in software inventory" issue in the next release of Fleet: #3557

I've broken out the following issues to address the remaining problems you brought up in

[2022-01-05 16:09] #3383 closed

[2022-01-05 17:06] lukeheath opened #3578 "Audit helper functions"
We have a large set of helper functions spread across 17 helper files. We need to audit these for the following:

Is it still necessary for us to maintain our own helper function in all cases? Could we switch to ES6/ES6 methods? If not, can we use lodash?
- In many cases, these functions were created before ES6 was widely used.
- In some cases, these helper functions provide useful functionality o

[2022-01-05 17:59] lukeheath opened #3579 "Requesting a query or policy id that does not exist returns a 500 error"
<hr/>

### 🧑‍💻  Expected behavior

When I request a query id that does not exist at via `GET /api/v1/fleet/queries/200` or `GET v1/fleet/global/policies/200` I expect a 404 response.

### 💥  Actual behavior

I receive a 500 response with the following response object:

[code]

[2022-01-05 18:12] lukeheath commented on #1469
@gillespi314 Thanks for your feedback. Agreed those are all valuable things we need to address, but I think it would expand the scope of this ticket beyond what we can accomplish in this sprint. I'll add your comment to the frontend team's agenda so we can discuss and create necessary tickets.

@zwass For this ticket, I'm having a hard time finding any responses that do not provide JSON responses

[2022-01-05 19:53] noahtalerman opened #3584 "After changing webhook interval, the user needs to wait for ~24hs for the webhook to run with new interval"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.8.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Premium

<hr/>

### 🧑‍💻  Expected behavior

I configured policy automations to send a webhook request every `1m`.

I created a new policy and turned policy automations on for this policy.

I refetched the host vitals

[2022-01-06 04:23] mikermcneil opened #3586 "Surprise parenthesis"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Fleet 4.8.0 • Go go1.17.2

<hr/>

### 🧑‍💻  Expected behavior
On the manage policies page for a specific team, with inherited policies expanded, no surprise parenthesis.

### 💥  Actual behavior
Surprise parenthesis
![image](https://user-images.githubusercontent.com/618009/148327733-d596a641-2b9c-4cb8-94d0-5

[2022-01-06 04:29] mikermcneil opened #3587 "Team details page: "Member" tab is misleading, since there are probably more than one"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.8.0

<hr/>

### 🧑‍💻  Expected behavior
Went to the teams detail page for a particular team.  Expected to see a tab named "Members"

### 💥  Actual behavior
Instead, I saw a tab named "Member"

(there were two members.  but even if there was only 1, or 0, I think "Members" would still be the right name for

[2022-01-06 13:43] lucasmrod commented on #3584
The issue can be reproduced the following way:

1. Webhooks configured to run every 24h.
2. Fleet serve is running for 24hs (needed for the lock to be persisted with that expiration time due to the bug).
3. User configures webhook interval to, say, 1h.
4. User has to wait for 24h for the db lock to expire.
5. Webhooks will start running every 1h.

With the fix in the linked PR, in step 4 the user

[2022-01-06 13:44] lucasmrod commented on #3584
@noahtalerman To confirm the stated above, let's check the dogfood environment later today, webhooks should start working every `1m` sometime today (time unknown because we currently don't have access to the database).

[2022-01-06 14:34] noahtalerman opened #3590 "Fleet UI detects incorrect compatibility for "Detect active processes with Log4j running" query"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.8.0

<hr/>

### 🧑‍💻  Expected behavior
On the Queries page, I selected "Create new query" and entered the "Detect active processes with Log4j running" query into the query field.

I expected that the automatic compatibility detection would render a checkmark next to the "Linux" and "macOS" platforms beca

[2022-01-06 14:55] noahtalerman opened #3591 "In anonymous usage statistics, numLabels is always reported as 0"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Latest code on `main`

<hr/>

### 🧑‍💻  Expected behavior

I expected the `numLabels` field in the anonymous usage statistics to report the exact number of labels in a Fleet deployment.

### 💥  Actual behavior
`numLabels` is always 0.

Below is are 3 entries from Fleet's load testing environment in the anon

[2022-01-06 15:01] noahtalerman commented on #3584
@lucasmrod got it. I just attempted to fire the webhook (9:59a EST). No luck receiving the webhook.

I will check today around 2p EST. This is ~24hr after I changed the webhook interval to `1m`.

[2022-01-06 16:13] noahtalerman commented on #3584
@lucasmrod webhooks are now firing every `1m` on dogfood ✅

I don't think this issue is patch release worthy because the policy automations feature works as advertised here on [fleetdm.com/docs](https://fleetdm.com/docs/using-fleet/automations):

Thank you for opening the PR with the fix 🦾

[2022-01-06 19:14] lukeheath commented on #3491
On estimation with @RachelElysia and @gillespi314 we agree on the following approach:

#2: Create a series of tickets dedicated to converting specific portions of the codebase.
- If other feature tickets touch JS files, we should convert those as we go and include the effort in estimation.

I will create a series of epics and tickets to track this effort, then close out this ticket.

[2022-01-06 19:25] lukeheath commented on #3489
Sarah: We need to create CSS conventions that:
- Define how to use class names (underscores, dashes, etc.)
- Consider E2E implications to make selecting elements easier.
- Create a README for CSS conventions.
- In what cases should styling be at the component-level, page-level, and global-level.

[2022-01-06 19:26] lukeheath commented on #3489
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/--Engineering-6192f3b4cf10cd001ff247d0/issues/fleetdm/fleet/3489?planning-poker) with ZenHub @gillespi314 @RachelElysia

[2022-01-06 19:56] tgauda opened #3594 "Make future improvements to make the live query API more reliable"
**4.6.2**

**Premium**

<hr/>

### 🧑‍💻  Expected behavior
Wrote a script that should return results consistent with UI.

### 💥  Actual behavior
Return NULL results on each host when called via API.

### More info
Scripts:
https://fleetdm.slack.com/archives/C01EMLSSB42/p1641498762000500
https://fleetdm.slack.com/archives/D02LGQV55PA/p1641490981000300
https://fleetdm.slack.com/archives/D02SK5FHAHM/p

[2022-01-06 19:56] #3279 closed

[2022-01-06 20:04] chiiph commented on #3579
This PR https://github.com/fleetdm/fleet/pull/3595 addresses this issue.

[2022-01-06 20:10] tgauda opened #3596 "Headers for webhooks"
### Goal

A customer asked to add the ability to create custom headers for webhooks. The goal is to allow direct integration into Kafka queues. It should support static headers and a timestamp header.

### How?

- [ ]

[2022-01-06 20:18] Hanaffi commented on #3578
@lukeheath Is it for internal employees only?

[2022-01-06 20:21] lukeheath commented on #3578
@Hanaffi We're always happy to receive community contributions! Feel free to put in a PR for any aspect of this and I will take a look. Thanks for your interest in contributing!

[2022-01-06 20:25] Hanaffi commented on #3578
@lukeheath Can you assign me?

[2022-01-06 20:39] tgauda opened #3597 "Performance reports on releases (per-release benchmarks)"
### Goal

From Tony:
Today when we release Fleet we don't have any concrete benchmarking we can share with customers. This enhancement will provide known performance characteristics on a reference architecture for each release.

### How?
One approach is to add this thru additional automated testing.
- [ ]

[2022-01-06 21:35] tgauda opened #3598 "Fleetcli documentation doesn't clearly explain SSO options"
### Goal

Customer reported that fleetctl --help doesn't show all options for login.

### How?

We should either link to online documentation and explain that all options aren't presented in this help output or include all options in --help

[2022-01-06 22:09] noahtalerman commented on #3594
I'm unable to reproduce the issue (Fleet version 4.8.0).

Attaching the API request followed by the response reported by the customer here:
[code]

The above is the expected behavior. If the responded_host_count is `0`, then I expect all query results to be `null`. If the responded_host_count is `1` or more, then I expect all query results to include valid results.

### Future improvement

This ab

[2022-01-06 22:17] noahtalerman commented on #3594
@tgauda I'm passing this issue's assignment to you. Can you please follow up with the customer to confirm that they're experiencing the expected behavior above?

If the customer is seeing the above expected behavior, can you please update this issue's title and description to cover the "Future improvement" section?

This way, this issue transforms into a feature request issue that includes the pas

[2022-01-06 22:29] tgauda commented on #3594
@noahtalerman customer is running Fleet 4.6.2. Were there any issues that were closed that might impact this?

[2022-01-06 22:30] noahtalerman commented on #3594
@tgauda none that I'm aware of. Confident that the answer is no.

[2022-01-06 23:07] #3401 closed

[2022-01-07 14:44] Zaulao opened #3602 "Enable software inventory on deploy via configuration file"
### Goal

It would be great to be able to deploy fleet with the software inventory feature set through the fleet configuration file.

Example docs:

Default value: `no`
Environment variable: `FLEET_SOFTWARE_INVENTORY_ENABLE`
Config file format:
[code]

[2022-01-07 14:47] noahtalerman commented on #3590
### Follow up discussion

#### Sarah

It looks like sqlite is having trouble with the split statements.

Here’s what it is tagging as tables: [‘yara’, ‘target_jars’, ‘target_jars’, ‘split’, ‘process_open_files’, ‘processes’, ‘split’]

Because ‘split’ isn’t a valid osquery table, the query shows as incompatible.

Any thoughts on how we might improve this?

#### Zach

Ah, so target_jars and split ar

[2022-01-07 14:59] noahtalerman opened #3603 "Add ability for a user to turn all automations on or off"
## Goal

As a Fleet User, I want the ability to turn on or off all automations in a given list so that I do not have to manually check or uncheck the individual automation checkboxes.

## Figma

Add ability to enable/disable policy automations: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4227%3A176505

## Tasks

### 1
- [x] Refactor `Slider` component to Typescript.
- Also update to

[2022-01-07 15:00] noahtalerman commented on #3603
@mike-j-thomas I'm passing this issue's assignment to you.

When the items in the "Tasks" sections are complete, can you please pass the issue's assignment to me and @ mention me? Thanks :)

[2022-01-07 15:10] noahtalerman commented on #3602
@Zaulao thank you for filing the feature request.

This makes sense. The Fleet team has heard that the ability to turn on software inventory and vuln processing in the server config would be helpful from multiple users.

[2022-01-07 16:18] #430 closed

[2022-01-07 17:00] lucasmrod commented on #3567
Makes sense now, thanks!

I think I'd rather stay with the original approach instead of this one (it's a bit less confusing); but I'm ok with both :).
Let's just make sure to update the issue description if we decide to change the approach and let @gillespi314 know (there's a PR already for this using the original approach).

[2022-01-07 17:17] noahtalerman commented on #3397
@lukeheath heads up, this issue is moving back to the drafting step in the product design process. This is because there will be updates to the UI changes. These updates will be discussed during 🧩Product huddle next week.

Because of this, I'm removing this issue from the Product board in ZenHub and adding it to the Product board on GitHub.

Original frontend estimation: 1

[2022-01-07 17:27] noahtalerman commented on #3397
Current problem:
- In Fleet deployments with 1,000+ hosts, the information returned by the `GET /software` API route, with host counts, takes at least 10 seconds to load because the host counts are calculated on each request.

Proposed solution:
- Retrieve aggregate software information at a regular interval. This information includes the software items' names, versions, and host counts.
  - Fleet

[2022-01-07 17:31] noahtalerman commented on #3086
@chiiph  heads up, this issue is moving back to the drafting step in the product design process. This is because there will be updates to the UI changes.

[2022-01-07 17:31] noahtalerman commented on #3086
Problem:
- In Fleet deployments with 1,000+ hosts, the information returned by the `GET /software` API route, with host counts, takes at least 10 seconds to load because the host counts are calculated on each request.

Proposed solution:
- Retrieve aggregate software information at a regular interval. This information includes the software items' names, versions, and host counts.
  - Fleet already

[2022-01-07 17:35] noahtalerman commented on #3050
@lukeheath heads up, this issue is moving back to the drafting step in the product design process. This is because there will be updates to the UI changes.

UI updates will be discussed during 🧩Product huddle next week.

[2022-01-07 17:38] noahtalerman commented on #3263
@lukeheath heads up, this issue is moving back to the drafting step in the product design process. This is because there will be updates to the UI changes.

UI updates will be discussed during 🧩Product huddle next week.

[2022-01-07 17:44] noahtalerman commented on #3300
Mike: Problem of “what does it mean for a policy to not be finished running on all expected hosts”
  - Don’t show me numbers that are incorrect. “0” is incorrect because I want to reach a state in which “0” is correct.

[2022-01-07 18:28] noahtalerman commented on #3291
The "No more hosts" message should only be displayed if the current filters return an exact multiple of 100 hosts and the user selects the "Next" button on the last page of results.

See the comment that describes this behavior here: https://github.com/fleetdm/fleet/issues/1624#issuecomment-896985251

[2022-01-07 20:56] noahtalerman commented on #3594
Follow up from the customer that reported this issue is below:

[2022-01-07 20:56] gillespi314 commented on #2714
@lukeheath is our plan to refactor this to use react-query or are we continuing to invest in the legacy table here?

[2022-01-07 20:57] noahtalerman commented on #3594
@tgauda heads up, I'm updating this issue because the customer followed up with the following comment: https://github.com/fleetdm/fleet/issues/3594#issuecomment-1007735049

The live query API seems to be working however, there could be future optimizations to make it more reliable.

[2022-01-07 21:02] lukeheath commented on #2714
@gillespi314 Plan is switch to `dataTable` like the policies flow. From my experimentation on the policy page, we should be able to use [useFilters](https://react-table.tanstack.com/docs/api/useFilters) to achieve column filtering.

[2022-01-07 21:13] gillespi314 commented on #2714
@lukeheath thanks, I was hoping that would be the answer!

[2022-01-07 21:49] DominusKelvin commented on #2942
On it @mikermcneil

[2022-01-07 21:50] noahtalerman commented on #3389
We might come back to this later.

[2022-01-07 21:50] #3389 closed

[2022-01-07 23:07] mikermcneil opened #3609 "Add control to make sure books are correct on some kind of recurring basis (quarterly half day of checking into them in Quickbooks aka QBO?)"
- [ ] schedule quarterly calendar event w/ mike+eric
  - first one is probably march
  - use something like "3rd thursday" or something (if you use exact dates, it inevitably falls on a Saturday and we might miss it)
  - scan a few weeks in the future to avoid scheduling on top of monthlies/biweeklies/weeklies

[2022-01-07 23:20] gavinelder opened #3610 "Limit personal email address info gathered by Fleet"
### Goal

Limit the potential personal info gathered by fleet, in this case, the user email address

Fleet now gathers the logged-in user email from the chrome profiles depending on a companies stance of using a corporate device for personal use this may inadvertently expose user information that they may not want to gather from user systems.

### How?

- [ ] Provide a customizable filter for corp

[2022-01-07 23:21] mikermcneil opened #3611 "Fleetie onboarding issue template improvements (luke feedback)"
https://github.com/fleetdm/confidential/blob/main/.github/ISSUE_TEMPLATE/onboarding.md

1. Onboard checklist is thorough and helpful.
2. It could be organized a little better
    1. Table of contents with links to sections
    2. More spacing between sections
    3. Larger sub-headings
    4. More clarity on what tasks the onboardee can do, and what their manager needs to do. Maybe reminder to pin

[2022-01-07 23:27] eashaw opened #3612 "Mike: Gotta put this roadmap stuff somewhere"
### Goal

Add product objectives (Q1 2022 roadmap) to the product handbook to help guide the teams on the directional themes of what we want to improve in the product.

[2022-01-07 23:28] mikermcneil opened #3613 "update monthly accounting party to include updating advisor grant statuses in advisors spreadsheet"

[2022-01-07 23:37] gavinelder opened #3614 "[FR] Separate internal / external endpoints"
### Goal

Currently fleet exposes all HTTP routes on a single port as such if a Company whiches to expose Fleet to the internet they will have to set up a custom proxy to implement custom routes based upon the endpoint URL, this is covered in the following blog post https://defensivedepth.com/2020/04/02/kolide-fleet-breaking-out-the-osquery-api-web-ui/

An example request for this feature https://

[2022-01-07 23:54] gavinelder commented on #3551
Some info that may be nice to know here is apple provide a way of showing the device image based upon the serial number which SAL uses https://github.com/salopensource/sal/blob/04d8fc564d5ea79436b93a8044922afd693521f8/server/templates/server/machine_detail.html#L44

[code]

Which provides the following image.

https://km.support.apple.com/resources/sites/APPLE/content/live/IMAGES/1000/IM1064/en_US

[2022-01-09 12:22] Hanaffi commented on #2814
@noahtalerman For the first task, you want the tooltip to be seen when user hover over that blue search icon or what?

[2022-01-10 01:45] mike-j-thomas commented on #3535
Hey @DominusKelvin remind me what's the status of this? I moved it to Self-checked (I think during our 1:1 meeting). Did you say that you are waiting on @noahtalerman to have a look at it? If so please can you add him as a reviewer?

[2022-01-10 02:25] mike-j-thomas opened #3616 "Restructure and improve fleetdm.com site map"
## Goals

- What do we want users to predominantly see when looking out our top nav?
- As we are planning to create more thought leadership content, and possibly host those articles on Fleetdm.com, where should they live?

## Todo

- [x] Spend some time researching sites with architectures (e.g. https://www.tinybird.co/)
- [x] Rethink the site architecture and create an improved site map for fleet

[2022-01-10 02:35] mike-j-thomas opened #3617 "Prepare the handbook for the arrival of a new head of marketing & community hire"
- [x] "Growth" section becomes "Brand"
- When new head of marketing & community hire is confirmed "Community" can become "Community & Marketing".

[2022-01-10 03:15] mike-j-thomas opened #3618 "Handbook: Review DRI table and make any necessary updates."
https://fleetdm.com/handbook/people#directly-resonsible-individuals

- [x] Review the DRI table in the Fleet handbook and make any necessary updates - e.g. Mike Thomas to be DRI of fleetdm.com and of self-service buying of Fleet Premium licenses (license dispenser), Customer renewals - Tony Gauda.

[2022-01-10 03:37] mike-j-thomas opened #3619 "Blog: How to install osquery and Fleet on macOS"
## Goal

Help users and gain ranking for the search phrase "Install osquery on mac" by publishing a simple, short guide for installing osquery and Fleet on macOS

## How

- [x] Create a draft article for installing osquery and Fleet on mac. For reference, this is an article in the same series that Ben created for installing on Windows. https://blog.fleetdm.com/how-to-install-osquery-on-windows-394

[2022-01-10 03:44] mike-j-thomas opened #3620 "Screencast: Enrolling a bare metal server in Fleet"
@mikermcneil please can you add some more context and expectations on deliverables for this? Thanks.

[2022-01-10 04:41] mike-j-thomas commented on #3619
@DominusKelvin note that Ben's article above is now a little outdated since users generate an installer from the Fleet UI.

![Uploading image.png…]()

[2022-01-10 13:20] DominusKelvin commented on #3619
Got it @mike-j-thomas

[2022-01-10 13:21] DominusKelvin commented on #3620
Got it!

[2022-01-10 13:31] mna commented on #3505
AFAICT the cluster cannot run in Docker on non-Linux platforms, which is why we skip those cluster tests on those OSs. I had investigated this a bit more when I added the cluster to docker-compose, I believe this is due to those limitations (similar ones exist on macos): https://docs.docker.com/desktop/windows/networking/#known-limitations-use-cases-and-workarounds

For Cluster to work, the variou

[2022-01-10 13:38] mna commented on #3170
I think I created this issue following a backend meeting discussion - I believe this was proposed by Tomas or Lucas. My understanding is that this could help when troubleshooting a user's issue (e.g. in on-call support) as they will be able to send much more detailed logs to the team to investigate, but that's something they will probably be able to explain better than me, especially to come up wi

[2022-01-10 14:50] noahtalerman commented on #2814
@Hanaffi the tasks included in this issue are not ready for frontend development.

If you'd like to contribute frontend code to the Fleet project, the following issue is a good first issue: #2971

[2022-01-10 14:51] DominusKelvin opened #3622 "Improve the feedback when installer command gets copied on Fleet UI"
### Goal

Attached is a screen recording showing the current feedback a user gets when he/she clicks the clipboard icon when generating an installer. I think the feedback can be better as it currently meshes with the installer command.

https://user-images.githubusercontent.com/24433274/148785367-884c9e9b-30ef-4e39-9d69-4f6d7a3b66d9.mov

### How?

Improve the feedback when the clipboard icon is cl

[2022-01-10 14:56] DominusKelvin opened #3623 "“Generate installer” is a bit misleading as a caption for button."
### Goal

Currently one might assume that clicking the button captioned "Generate Installer" on the "hosts" page in Fleet UI will lead to Fleet UI generating an Osquery installer for you.

![Screenshot 2022-01-10 at 15 18 53](https://user-images.githubusercontent.com/24433274/148786682-f2f6f9b8-73d6-4c0b-8bb9-b90bbb2d9779.png)

### How?

Probable revisit the caption of the button to better set the

[2022-01-10 15:03] Hanaffi commented on #2971
@noahtalerman Can you assign?

[2022-01-10 15:08] mna commented on #3504
That's an interesting one - I think we do have the required checks in place, but what's missing are the read/write timeouts. From what you describe, the connection actually succeeds, so the connect_timeout we have in place doesn't help in this particular scenario. There is already a `PING` done in the Redis health check (https://github.com/fleetdm/fleet/blob/main/server/pubsub/redis_query_results.

[2022-01-10 15:44] noahtalerman commented on #3611
Additional feedback:

### Problem

Folks that are onboarding might be confused by unchecked checkboxes in the "🌅 Before your first day" section. For example, US based employees will see the Pilot sections unchecked.

As an employee onboarding at Fleet, do I have to make sure these get checked?

### Solution

It might make sense to break the “:sunrise: Before your first day” section out into a sepa

[2022-01-10 16:30] Hanaffi commented on #2814
@noahtalerman Thanks! Feel free to assign it to me.

[2022-01-10 17:45] lukeheath commented on #3567
@lucasmrod

I thought what I outlined was the original approach, so we must not be on the same page. Would you please explain the approach you prefer so I can compare? Thanks!

[2022-01-10 18:40] lucasmrod commented on #3567
I believe the above contradicts with the following in the description:

[2022-01-10 18:45] lucasmrod commented on #3567
The implementation in https://github.com/fleetdm/fleet/pull/3585/files always returns `user.teams == user.available_teams` for team users.

[2022-01-10 20:11] noahtalerman commented on #3293
Expected behavior: Any open toast notification is closed for the user when a modal is opened.

[2022-01-10 20:38] tgauda commented on #3597
Delivering performance reporting for 4.9.0

[2022-01-10 20:42] lukeheath commented on #3567
I _think_ we're saying the same thing. I'll try to clarify to confirm:

1) For a global user, the `teams` array is always empty because they are not members of any team. The `availableTeams` array always contains all teams.

2) For a team user, the `teams` array contains the teams they are members of. `available_teams` shows all teams they can access, which is an exact copy of `teams` because they

[2022-01-10 21:12] lucasmrod opened #3626 "Make `debug db-locks` work for MySQL 8"
### Goal

Make the `debug db-locks` (Datastore API `DBLocks` method) work for MySQL 8.

Here's the current output when running a MySQL 8 instance:
[code]
Fleet logs:
[code]

See note in https://dev.mysql.com/doc/refman/8.0/en/performance-schema-data-lock-waits-table.html (there's no more `INNODB_LOCK_WAITS`, there's `performance_schema.data_lock_waits` now.)

[2022-01-10 23:10] DominusKelvin commented on #3619
Here is the first draft @mike-j-thomas  https://docs.google.com/document/d/15WLM3tTIBbeLnU7qdQXogu8H8tQhPHG1VLCcw0aKG50/edit

[2022-01-10 23:13] lucasmrod commented on #3567
Sounds good! We are on the same page :)

[2022-01-10 23:28] lukeheath commented on #2918
@noahtalerman I was able to correct this as part of my debugging work on #3575. Bringing into the release board.

[2022-01-11 05:20] mike-j-thomas commented on #3619
Nice one @DominusKelvin, this is looking good. Please can you log into Medium, copy/paste your draft into there and submit it to Fleet's publication for review?

If you aren't familiar, you can "add to publication" from the menu at the top of the page.
![image](https://user-images.githubusercontent.com/78363703/148885721-54259e99-0991-4a4e-bc66-d5b937dfa8f9.png)

[2022-01-11 07:41] DominusKelvin commented on #3619
Done @mike-j-thomas

[2022-01-11 12:25] mike-j-thomas commented on #3619
@DominusKelvin In the prerequisites section, please add the assumption that there is a Fleet server somewhere - either an actual Fleet server or Fleet preview.

[2022-01-11 14:16] lucasmrod commented on #3504
Makes sense, thanks for sharing the details!

[2022-01-11 14:21] noahtalerman opened #3634 "Add the success and error flash messages for "Require password reset" and "Reset sessions" actions"
### Goal

Add the success and error flash messages for "Require password reset" and "Reset sessions" actions.

### Tasks

- [ ] Add the success and error flash messages for "Require password reset" and "Reset sessions" actions to the **⚙️ Settings - Users** page in the Fleet EE (current) Figma file.
  - The following is a link to the "Require password reset" modal in Fleet EE (current) Figma:  htt

[2022-01-11 14:22] #3472 closed

[2022-01-11 14:22] chiiph commented on #3472
High traffic inserts are done in bulk, those we can't really use this approach with as we would have to detect what individual updates fail and insert them. I'm closing this for now as changing how we do things in single inserts is not that worth while.

[2022-01-11 16:59] lukeheath commented on #3567
@gillespi314 Would you please add a point estimate to this ticket? Thanks!

[2022-01-11 17:00] lukeheath commented on #3100
@lucasmrod Would you please add a point estimate to this ticket? Thanks!

[2022-01-11 19:08] lukeheath commented on #3446
@noahtalerman Assigning this ticket back over to you to indicate that I'm blocked on architecting until questions above are answered.

[2022-01-11 19:26] lukeheath commented on #3195
@noahtalerman Heads up that the dynamic resizing of inputs requires a little bit of tap dancing on the frontend. This article explains why: https://css-tricks.com/auto-growing-inputs-textareas/

TLDR: Native HTML Input elements do not support auto-resizing. Weird.

Solution: A few. The most straightforward is to simply add `contenteditable` to a `div` tag, which solves our problems. But it may hav

[2022-01-11 19:29] lukeheath commented on #3470
@noahtalerman What should the warning look like that we display? Where should it be displayed?

[2022-01-11 19:30] noahtalerman commented on #3446
@lukeheath thanks for kicking this back. I added the below to this issue's description and passed the assignment back to you.

If the user does not enter any hostname, my proposed error message copy is the following:
[code]

If the user enters a hostname that does not exist, my proposed error message copy is the following:
[code]

The above scenarios are the only error messages.

The second scenar

[2022-01-11 20:27] noahtalerman commented on #3195
I think this makes sense to me 👍

@lukeheath got it. For these improvements, de-prioritizing the accessibility makes sense.

In the future we may want to revisit this element and improve the accessibility.  Thank you making me aware.

[2022-01-11 20:30] noahtalerman commented on #3470
I'd like to draft the UI changes before bringing this issue to engineering estimation.

Thus, I'm brining this issue into the product board on GitHub.

[2022-01-11 20:33] mikermcneil commented on #3623
@DominusKelvin This button is for generating an installer.  Currently, you have to paste the terminal command it generates into the terminal due to technical limitations.

[2022-01-11 20:54] noahtalerman opened #3640 "Add support for downloading a list of hosts in CSV format"
NOTE: This issue was broken out of the following issue: #2998.
- Prior to separating these issues, the combined estimation from the backend engineering team was `5`.

### Goal

As an IT administrator, I want to be able to download a list of hosts in CSV format.

### 1

- [ ] Create new endpoint to generate a CSV containing all hosts with a specific software version installed.
- `GET /api/v1/fleet/

[2022-01-11 20:59] noahtalerman commented on #3640
@chiiph heads up, this backend issue might need to be re-estimated. I assigned you to the issue and moved it into the "Architect" column on the ZenHub board.

This issue was broken out of the following issue that previously covered both "search software by CVE" and "download a list of hosts": #2998.
- Prior to separating these issues, the combined estimation from the backend engineering team was `

[2022-01-11 21:57] DominusKelvin commented on #3619
@mike-j-thomas done.

[2022-01-11 22:09] mikermcneil opened #3642 "fleetctl config set --address https://foo.example.com should work"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.8.0 on andrew's computer

**Operating system** _(e.g. macOS 11.2.3)_:  macOS

<hr/>

### 🧑‍💻  Expected behavior
fleetctl config set --address https://foo.example.com should work

### 💥  Actual behavior

It just returns with no output or error  (as does `fleetctl login` and `fleetctl get software`)

Ask @

[2022-01-11 22:38] xpkoala opened #3643 "Include MIA hosts under total count for Offline hosts"
As a user it can be hard to reconcile total offline hosts with the current separation of host counts between Offline and MIA.

This issue is an iterative step towards removing the "MIA" host status from Fleet.

## Goal

Make "Offline" and "MIA" hosts statuses inclusive to help users understand how many and which hosts they should expect to not respond to live queries or update host vitals.

## Tas

[2022-01-12 00:02] mike-j-thomas opened #3645 "YouTube: How to install osquery on macOS and enroll your device into Fleet."
Using this article as a guide/script produce and publish a simple screencast explaining how to install osquery on macOS and enroll your device into Fleet.

https://blog.fleetdm.com/how-to-install-osquery-and-fleet-on-macos-f11b00f68431

- [x] Familiarize yourself with the instructions and make sure you can enroll your device.
- [x] Create a video
- [ ] Share with the team for feedback
- [ ] Publis

[2022-01-12 00:19] tgauda opened #3646 "this could take a moment if your connection is slow"
### Goal

TODO
display a message when using fleetctl (possibly the first time) that this command may take some time to complete. This is because dependencies may need to be downloaded in the background and if your bandwidth is slower the command will seem hung.

### How?

If it's the first invocation print the message or just print it for every invocation.

- [ ]

[2022-01-12 00:24] tgauda commented on #3646
extra points for a download completion meter

[2022-01-12 02:46] edwardsb commented on #3642
@alphabrevity internet connection just turned out to be super slow and we Ctrl+C'd the install process for the new binary so something was corrupted.

We ran `npm install -g fleetctl` again and just waited for it to completely finish, and then we were able to setup via `fleetctl login` no problem.

[2022-01-12 02:46] #3642 closed

[2022-01-12 06:21] mike-j-thomas commented on #3603
@noahtalerman, is this the correct functionality for when policy automations are disabled?
![image](https://user-images.githubusercontent.com/78363703/149074697-013ff8e5-e582-4d7e-86dd-3fb9728fd373.png)

[2022-01-12 07:47] mikermcneil opened #3648 "Display the number of times a given query has been forked"
## Goal

Display the number of times a given query has been forked on the query detail page (/queries/:slug)

## Why?

Same reason there's a fork button on GitHub and GitLab repos: it's (orders of magnitude) more rewarding to share ideas when you know someone is hearing you.

## How?

- [ ] Anonymously capture when a built-in query template is forked in the Fleet UI (only for users with anonymous

[2022-01-12 11:28] chiiph commented on #3471
After discussing the results with the team, the value this approach provides is not clear.

[2022-01-12 11:28] #3471 closed

[2022-01-12 13:03] lucasmrod opened #3649 "Fix tests and add `mariadb` to the `test-go` matrix"
We've had some issues reported by users that deploy Fleet with MariaDB:
- #1279
- #3396
- Also many reports in the osquery's #fleet channel (search for "mariadb").

Those issues could be caught during development/testing rather than in production/after-a-release.

To run tests with MariaDB:
`FLEET_MYSQL_IMAGE=mariadb:10.6 docker-compose up`
There's one flag in the `docker-compose.yml` that is inco

[2022-01-12 14:44] noahtalerman commented on #3603
@mike-j-thomas this looks correct to me.

Feedback to consider...

Does the disabled state (right screenshot) make the user feel like the settings in the enabled state (left screenshot) are removed/cleared when they switch from enabled to disabled?

Let's say I'm a user that has policy automations enabled. Then I choose to disable policy automations because I don't want to receive any webhook requ

[2022-01-12 15:29] noahtalerman opened #3651 "🔭 Fleet v4.10.0 goals"
### 🔭 v.4.10.0

#### Dates

- 🦶 Kickoff: Mon, Jan 24
- 🧊 Freeze begins: Mon, Feb, 7 (End of day)
- 🚢 Release date: Thurs, Feb 10

#### Goals

Take steps towards making vulns in Fleet programmable by...
- Adding the ability to see all vulnerabilities (CVEs) across the entire org.
- Adding the ability to automate vulnerabilities so that vulnerability analysts can ask Fleet to reach out (create a tic

[2022-01-12 15:48] noahtalerman commented on #3397
@lukeheath I'm passing this issue's assignment to you.

This issue is included in the [product goals for the upcoming Fleet 4.10.0 release](https://github.com/fleetdm/fleet/issues/3651). Thus, I've moved this issue to the top of the "Architect" column.

Can you please follow up with questions/concerns for the proposed UI changes?

The scope of this issue has changed since it was estimated:
- Previ

[2022-01-12 16:00] noahtalerman commented on #3050
@lukeheath I'm passing this issue's assignment to you. Can you please update the issue's description with engineering specification for all changes except the webhook request?

I scheduled a call to design the vuln webhook request and write down some principles for webhook design together :)

Note: This issue is included in the [product goals for the upcoming Fleet 4.10.0 release](https://github.c

[2022-01-12 16:02] noahtalerman commented on #3050
@chiiph do you have any feedback on the technical costs and feasibility of the proposed changes? Please feel free to include design feedback as well :)

[2022-01-12 16:06] noahtalerman commented on #3086
@chiiph I'm passing this backend issue's assignment to you.

Can you please update this issue's description to clarify that aggregate software information (software items, CVEs and counts) will be updated at a pre-defined interval?

I propose that the ability to configure the interval comes in a later iteration. Curious what you think about this.

[2022-01-12 16:09] noahtalerman commented on #3263
@lukeheath I'm passing this issue's assignment to you.

This issue is in the [product goals for the upcoming Fleet 4.10.0 release](https://github.com/fleetdm/fleet/issues/3651). Thus, I moved this issue to the top of the "Architect" column.

Can you please follow up with questions/concerns for the proposed UI, API changes?

Note: the API wireframes included in the issue's description were drafted

[2022-01-12 16:11] noahtalerman commented on #3263
@chiiph do you have any feedback on the technical costs and feasibility of the proposed changes?

Please feel free to include design feedback as well ✨

[2022-01-12 17:06] chiiph commented on #3086
Done.

Agreed.

[2022-01-12 17:31] xpkoala opened #3653 "Ivanti Cherwell Integration"
### Goal

Add support for ticket destination (for policy/vuln automations) to Ivanti Cherwell.

### How?

[Cherwell REST API](https://help.cherwell.com/bundle/cherwell_rest_api_10_help_only/page/content/system_administration/rest_api/csm_rest_api_landing_page.html)

[2022-01-12 17:32] noahtalerman commented on #3086
@chiiph this question came to mind when reading the `counts_updated_at` name:

Is the list of software items updated at the same interval as the host counts? Or is the list of software updated at a separate time?

For example, does Fleet check if it should remove Figma.app from the list at the same interval it checks if it should update the count?

As a user, looking at the screen below, I think I

[2022-01-12 17:42] chiiph commented on #3050
@noahtalerman It all makes sense. We should consider how the payload will be. If we send vulnerable apps one by one it would be good as it would be a lot of requests, but very small, and we can do it as we are finding them. It'll make the vulnerability scanning a bit slower, but that's probably ok.

If we batch results and send at the end, it will increase the memory footprint for vulnerability sc

[2022-01-12 17:47] chiiph commented on #3086
That's the tricky part, because another question could be: has the vulnerability scanning been done 3 mins ago?

So right now we have 2 intervals: counts, and vulnerabilities. And then the list of apps is real time. We could count at the same interval we check for vulnerabilities. But as it is right now, if a new app called 1.app is installed, it'd appear in this list at the top without any calcul

[2022-01-12 18:01] noahtalerman commented on #3086
@chiiph Updating the counts at the same time vulnerabilities are updated makes sense to me.

I'm thinking... "as a user looking at the list of software, I expect all information to have been compiled at/around the reported time."

I imagine Fleet could also update the list of apps at the same time as counts and vulns (interval). Thinking through the tradeoffs of this now...

[2022-01-12 18:26] xpkoala opened #3655 "Clicking on vulnerable software entry shows no hosts"
**Fleet version** : 4.8.0

### 🧑‍💻  Expected behavior
When clicking on a vulnerable software entry from the home page a user should be shown all hosts that contain the vulnerability. Vulnerable software with zero hosts should not be shown.

### 💥  Actual behavior
When clicking on a vulnerable software entry no hosts are shown.

### More info
Potential cause, "It could be a vulnerability detected o

[2022-01-12 18:42] noahtalerman commented on #3640
@chiiph heads up, I'd like to wait to prepare this issue for engineering.

I'm removing your assignment and removing this issue from the "Architect" column in the ZenHub board.

[2022-01-12 18:51] noahtalerman commented on #2998
@chiiph heads up, this backend issue may need to be re-estimated. I moved it into the "Estimate" column on the ZenHub board.

This issue was broken out of the following issue which used to cover both "search software by CVE" and "download a list of hosts in CSV format": #2998. This was done because, in [Fleet 4.10.0](https://github.com/fleetdm/fleet/issues/3651), we'd like to prioritize the abilit

[2022-01-12 19:00] edwardsb commented on #3400
@DominusKelvin as of https://github.com/fleetdm/fleet/pull/3521 troubleshooting should be much more straight-forward. It might make sense to add to "Using Fleet" FAQ:

[code]

This can be obtained by navigating to "Services" app on Windows -> searching for "Fleet osquery" -> right click and select "Properties" and finding the "Path to executable".

![image](https://user-images.githubusercontent.co

[2022-01-12 19:22] noahtalerman commented on #3634
@RachelElysia the error and success messages for the "Require password reset" and "Reset sessions" actions are now in this issue's description.

If you're currently working on this, please add the ":release" label to bring this issue into the 🚀 Release board. If not, please add the ":product" label to move this issue into the backlog of ready to be worked on improvement :)

[2022-01-12 19:35] DominusKelvin commented on #3400
Thanks. I'd look into it.

[2022-01-12 20:33] noahtalerman opened #3656 "In the Fleet UI, add a subtle, minimal call to action to upgrade Fleet"
### Goal

Imagine an end user at Verizon exploring and using Fleet Free.

She opens the “All teams” dropdown and sees something like “Fleet is free and open source.  You can upgrade to Fleet Premium to add support for multiple teams (different AWS regions, acquisitions, control groups, etc)”

### How?

We should think lavishly about the messaging.  Important to get the tone right

[2022-01-12 20:48] tgauda commented on #3597
@tgauda

[2022-01-12 20:48] mikermcneil commented on #3597
TEst

[2022-01-12 20:52] noahtalerman commented on #3655
@xpkoala can you please try to reproduce and verify if this is the cause using `fleetctl preview`?

[2022-01-12 21:25] lucasmrod opened #3658 "Add flags to disable auto-updates for `fleet-osquery`"
### Goal

Allow users to install/use `fleet-osquery` with the auto-update functionality disabled.
The setting should disable auto-update for both `orbit` and `osqueryd`.

### How?

- Add a flag to `fleet-osquery` (aka Orbit) to disable auto-updates, `--disable-updates`.
- Add a flag to `fleetctl package` to disable auto-updates for the generated installers/packages (also called `--disable-updates`

[2022-01-12 22:07] RachelElysia commented on #2918
LGTM! I tested every navbar link.

The only funky thing I see is when I clear my network and then refresh a page, a lot of the APIs get called twice. I'm wondering if it's a react router issue or ¯\_(ツ)_/¯

[2022-01-12 22:42] mikermcneil opened #3660 "Manage hosts page: Confusing empty state when filtering by policy or filtering by software"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.8.0

<hr/>

### 🧑‍💻  Expected behavior
As a user viewing a filtered list of hosts on the "manage hosts" page filtered **by policy or by software**, I don't want to see an empty state prompting me to generate an installer.

Instead, I want to see the "no results found" state, similar to what I see when se

[2022-01-12 22:46] lukeheath opened #3661 "Policy queries show empty platforms if the platform field is blank"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `4.8.0`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): both

<hr/>

### 🧑‍💻  Expected behavior

After upgrading Fleet to policy owned queries, I expect my existing policies to be fully populated.

### 💥  Actual behavior

After upgrading my policies have no platforms as

[2022-01-12 22:53] mikermcneil commented on #3655
@lucasmrod @xpkoala This is still an issue a few hours later.

[2022-01-13 04:26] mike-j-thomas commented on #3603
@noahtalerman, yes, that's a good point. What if we ghosted out (froze) the selected policies and destination URL when disabled?

![image](https://user-images.githubusercontent.com/78363703/149265783-827f9f11-08fd-47e0-9094-42e5c52d08e5.png)

[2022-01-13 07:07] mikermcneil opened #3668 "Fix Twitter cards on homepage for @media (max-width: 1200px)"
fleetdm.com

<hr/>

### 🧑‍💻  Expected behavior

Should these white rectangles be wider at this window width?
They seem lonely and narrow, for a while.  (At middle-width, around ≈1000px, ±lots)

### 💥  Actual behavior

![image](https://user-images.githubusercontent.com/618009/149281978-8a0b953c-4dd2-44cf-a7af-f7df68f6ec17.png)

[2022-01-13 08:17] mike-j-thomas commented on #3535
https://github.com/fleetdm/fleet/pull/3577 closes this issue.

[2022-01-13 08:17] #3535 closed

[2022-01-13 08:53] #3619 closed

[2022-01-13 12:07] lucasmrod commented on #3661
From which version is this upgrading from?
Proprietary policies (with the new `platform` field) were added in `v4.7.0`.

Empty `platform` field means all platforms. Thus all policies migrated from before `v4.7.0` should have an empty `platform` field.

And yes, there's the limitation that the user cannot edit the `platform` field of policies, the user has to delete and re-create a policy if they w

[2022-01-13 14:27] chiiph commented on #3263
The only comment is that the API wireframe has ids for the munki versions. We should only have ids for things we want to reference in the API later on. In this case, each version will be unique, so we will probably not an id.

[2022-01-13 14:39] noahtalerman commented on #3603
@mike-j-thomas agreed. The disabled toggle switch looks like I would not be able to click on it:
![Screen Shot 2022-01-13 at 9 34 21 AM](https://user-images.githubusercontent.com/47070608/149349607-3f067d79-6527-434d-8392-afa85fbf0569.png)

Mike, what do you think about using Fleet black 50% for the disabled toggle switch?

The black communicates that the feature is disabled while making the switc

[2022-01-13 14:39] chiiph commented on #3086
We do update it at an interval though, it's the detail interval.

So we are combining things from different intervals together, the challenge is how to communicate this. Maybe the last updated at should be the latest last updated of all the intervals?

[2022-01-13 14:47] noahtalerman commented on #3661
This is correct. Thus, I would expect to see "macOS, Windows, Linux" on the **Edit policy** page for any queries that have an empty `platform`:
![Screen Shot 2022-01-13 at 9 45 59 AM](https://user-images.githubusercontent.com/47070608/149351729-009d7979-4f78-493c-b20c-6cf79e236375.png)

@lukeheath after thinking through the above, I think this might be a frontend bug.

[2022-01-13 14:51] chiiph commented on #3640
@noahtalerman sounds good. Took a minute to look into it, this can be estimated with the information that we have already here. So feel free to move it to engineering/estimate whenever ready.

[2022-01-13 15:08] noahtalerman commented on #3263
@chiiph this makes sense to me. Can you please add your proposed updates to the API wireframes in this issue's description?

When you make these updates, please @ mention Luke so that Luke has a chance to review/provide feedback. Thanks :)

[2022-01-13 15:14] chiiph commented on #3220
It's very inconvenient to have to do this, but approach 2 doesn't sound over engineered to me.

We can also encode it as part of the name of the policy.

[2022-01-13 15:15] chiiph commented on #3220
@lucasmrod if you agree, please unassign yourself and move this issue to Estimate.

[2022-01-13 15:16] chiiph commented on #3258
@noahtalerman assigning this to you since we need to understand better what we are trying to solve.

[2022-01-13 15:17] chiiph commented on #2603
With the new versioning proposal/implementation, we can handle this.

[2022-01-13 15:21] noahtalerman commented on #3640
Sounds good. I moved the issue into the "Estimate" column on the product and engineering boards.

[2022-01-13 15:29] lukeheath commented on #3661
Ah, yes, I remember now that empty means all platforms are included. Agreed, that means this is likely a frontend bug. I've updated the ticket accordingly.

[2022-01-13 15:35] mike-j-thomas commented on #3603
Yep, lgtm 👍🏻

On Thu, Jan 13, 2022 at 11:39 PM, Noah Talerman ***@***.***>
wrote:

--

Mike Thomas

Digital Experience

www.fleetdm.com | @fleetctl <https://twitter.com/fleetctl>

[2022-01-13 15:36] lucasmrod commented on #3220
Ah good idea too. OK, moving to estimation.

[2022-01-13 16:38] tgauda opened #3671 "Possible DB corruption with Orbit"
**All** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Premium / Possibly All** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**All** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Windows** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior
DB is randomly corrupt

[2022-01-13 16:39] xpkoala commented on #3655
I have not been able to reproduce this locally. I believe it will be hard to reproduce with preview due to hosts attempting to automatically re-enroll.

[2022-01-13 16:49] RachelElysia opened #3672 "Frontend tech debt: Remove return null components from ManageHostPage.tsx"
### Goal

Consistent frontend code patterns when rendering modals.

TODO

For all modal renders on ManageHostPage.tsx, move logic from:

 `const renderDeleteSecretModal = () => {
    if (!canEnrollHosts || !showDeleteSecretModal) {
      return null;
    }`

into render call:

      `{renderDeleteSecretModal()}`

[2022-01-13 17:15] lucasmrod commented on #3655
@xpkoala What kind of host were you trying to delete? (a simulated host? an installed via pkg host?)

You can bring the host offline first, by e.g. stopping the service, and then once it's offline, delete it.

[2022-01-13 17:16] noahtalerman opened #3673 "Improve instructions/steps for running your own agent update server"
### Goal

The docs for self-hosted auto updates so that glancing at the instructions/steps for running your own update server feel less discouraging.

### How?

- [ ]  Update the ["Fleetctl agent updates" section](https://fleetdm.com/docs/deploying/fleetctl-agent-updates) of the documentation

[2022-01-13 17:29] xpkoala commented on #3655
@lucasmrod My previous comment was relayed after chatting with @noahtalerman about the behavior. My inability to reproduce locally is due to not having a stable testing environment set up at the moment. If figuring out the root cause is still needed it would probably be quicker turn around if an engineer could attempt to reproduce the issue. I should have clarified this in my last post.

[2022-01-13 19:00] noahtalerman commented on #3086
Correct.

@chiiph as someone who somewhat understands the interval config options in Fleet this makes sense to me but, as a user I think that this would be difficult to understand.

For now, I propose that Fleet does counts, vulnerability checks, and compiles the list of software all at the same interval. This way, as a user looking at the "Software" table or the list of software in `fleetctl get

[2022-01-13 19:01] xpkoala opened #3675 "Nudge user of updates to fleetctl"
### Goal

As a user I would like to be informed that a new version of the product is available when taking actions with the fleetctl tool.

[2022-01-13 19:09] chiiph commented on #3086
We currently can't compile the list of software at the same interval as we do vulnerability processing because this information comes from a different source (the hosts), while the rest comes from within fleet. It's also two different scales of information being processed. The only option I can think of is to duplicate the software list when we do counts and vulnerabilities, but that will add a lo

[2022-01-13 19:15] lukeheath commented on #3403
Martavis: This interacts with how React interacts Error Boundaries that we need to be aware of. We'll likely want to tap into Error Boundaries to do this vs. the API client directly.

[2022-01-13 19:24] noahtalerman commented on #3086
@chiiph I think I understand. So, we couldn't tell Fleet to "freeze" the list of hosts and wait the interval comes to update counts, vulns, and items (apps)?

I'd like to understand the cost/difficult of this so I'm going to schedule time to chat about this next week. I like your documentation proposal. I'll include this in the agenda.

[2022-01-13 19:33] lukeheath commented on #3397
Luke: Does "Hosts" column get added to software modal?

Sarah: We should look into refactoring the table container to move all the count functionality to a prop of the table container that takes the count component.

Luke: Need to add dropdown filter and search specs to the software page.

Luke: We should also include E2E tests in our estimation.

Luke: We are removing software modal from homepage

[2022-01-13 19:38] chiiph commented on #3086
Software is updated from a query that runs on each host. So whenever a host checks in the list of apps for that host is updated. Software inventory has been a feature that in the past has proven to be problematic regarding performance, so I wouldn't add more logic there if we can help it.

We also can't say "ok, now we'll accept software inventory" because we depend on the host sending the data. W

[2022-01-13 19:50] xpkoala opened #3679 "Fleetctl error when running preview command"
**FleetCTL version** version 4.6.2

**Operating system**: Windows 10

<hr/>

### 🧑‍💻  Expected behavior
When running the `fleetctl preview` command I was expecting a successful installation.
Simulated hosts would be shown in the Fleet web app.

### 💥  Actual behavior
An error generated during setup. No hosts are visible in the Fleet web app.

### More info

[code]

[2022-01-13 19:51] #3611 closed

[2022-01-13 20:25] noahtalerman commented on #3660
@martavis below is a screenshot of the expected empty state. I'm linking to the exact location in Fleet EE (current) Figma here: https://www.figma.com/file/qpdty1e2n22uZntKUZKEJl/%E2%9C%85-Fleet-EE-(current)?node-id=7286%3A108727
![Screen Shot 2022-01-13 at 3 25 38 PM](https://user-images.githubusercontent.com/47070608/149403902-daaaccf8-43ae-4f9b-abe9-71bb55aec3fb.png)

[2022-01-13 20:58] DrewBakerfdm commented on #3645
Proposed additions:

-Mention what hosts you'll be able to enroll within the Fleet preview I.e. is it just for that one host, just for hosts on my local network, or can I use the installer for any host, anywhere.

In the conclusion:
-Link to https://fleetdm.com/docs/using-fleet/learn-how-to-use-fleet for further steps once they have Fleet installed. Helps to answer the question, "Now What"

-This

[2022-01-13 21:41] noahtalerman commented on #3086
Got it

@chiiph in scenario (2) the "updated at" time would be accurate if it reflects whatever finished last (vulns or counts).

[2022-01-13 22:44] lukeheath commented on #3517
@gillespi314 Assigning over to @martavis since he needs some tickets and you've got a lot!

[2022-01-13 23:12] RachelElysia commented on #2477
This was an 8+ including MembersPage refactor.

[2022-01-14 15:14] noahtalerman opened #3693 "Blog post: Fleet 4.9.0"
Fleet 4.9.0 is scheduled for release on 2022-01-20 (afternoon PST)

### Goal

Prepare and publish the release blogpost for Fleet 4.9.0.

### How?

- MANY improvements to the loading states in the UI, latency in the UI, and performance of the MySQL database (see release board below for these issues)
- Paginated live query results so the Fleet UI can handle 1,000+ results: fleetdm/fleet#2714
- Add s

[2022-01-14 17:30] gillespi314 opened #3697 "Method to determine jitter per host"
Problem:
If the jitter percent is >50%, then there’s a chance a host checks in in the upper end, and the lower end of the next interval. This is not ideal.

Proposed solution:

- All hosts would be assigned a jitter based on a random seed value: (hostId + seed) % max-jitter
- The same seed value is used for all hosts and the seed value will be refreshed on a periodic basis

Additional consideratio

[2022-01-14 17:38] #405 closed

[2022-01-14 17:46] noahtalerman commented on #2633
Customer that requested has the crowdstrike extension deployed with osquery.

[2022-01-14 17:55] martavis commented on #3660
@mikermcneil @noahtalerman I was able to reproduce this for policies but do you know how to reproduce this for filtering software? I thought all software was dependent upon a device, correct?

[2022-01-14 18:24] noahtalerman commented on #3591
@gillespi314 this change is difficult to test using the `fleetctl preview` env. Can you please help me verify that the numLabels is now included in the usage statistics payload? Thanks :)

[2022-01-14 18:25] noahtalerman commented on #3421
@chiiph can you please move this issue to the "Ready for release" column after you've tested the changes? Thanks :)

This one is difficult to test using the `fleetctl preview` env.

[2022-01-14 18:41] noahtalerman commented on #3655
If I'm understanding correctly, first, one or more hosts report an app (app1). Then, app1 is included in the list of software.

Later, when no hosts are reporting app1, the list of software still includes app1.

@chiiph is there a way we can clean up apps before re-adding host counts?

[2022-01-14 18:49] noahtalerman commented on #3660
@martavis the only way I've been able to reproduce is on dogfood here: https://dogfood.fleetdm.com/hosts/manage/?order_key=hostname&order_direction=asc&software_id=3306

You may be able to reproduce in a dev environment by enrolling hosts, waiting for software to be reported, deleting all hosts, and then selecting any chevron in the "Software" table on the **Home** page.

@martavis this is correct

[2022-01-14 18:51] xpkoala opened #3699 "Root pinning not supported message"
**Fleet version** : 4.8.0

**Operating system** : Win10, macOS (unknown version)
<hr/>

### 🧑‍💻  Expected behavior
Non useful or actionable warning messages would not be shown to a user when using `fleetctl`.

### 💥  Behavior
Upon using the `fleetctl preview` or `fleetctl package ...` command a user is met with a message that root pinning is not supported.

### More info
After a small amount of se

[2022-01-14 19:02] noahtalerman commented on #3699
@xpkoala can you queue this one up in the release board for today's standup? Thanks :)

[2022-01-14 19:20] xpkoala opened #3702 "Forbidden response when supplying large value to Host Expiry Window field"
**Fleet version** : 4.8.0

**Operating system** : Win10

**Web browser** : Firefox 96

<hr/>
A user updating the Host Expiry Window field can be met with a 'forbidden' warning if using too large of a number. If supplying some other form of invalid data (abcd) the user is not allowed to submit the change.

### 🧑‍💻  Expected behavior
If user supplied input is invalid the user should not be able to s

[2022-01-14 19:34] xpkoala opened #3704 "Can create a non editable Policy, Pack, or Query"
**Fleet version** : 4.8.0

**Operating system** : Win10

**Web browser** : Firefox 96

<hr/>

### 🧑‍💻  Expected behavior
A user should not be able to create a custom Policy, Pack, or Query that is not editable.

### 💥  Actual behavior
A user can create a "blank" entry by supplying a `space` character.

### Reproduce
- Choose to create either a Policy, Pack, or Query.
- For the title hit the space

[2022-01-14 20:01] xpkoala opened #3706 "Add character limits for various fields in the Fleet UI"
**Fleet version** : 4.8.0

**Operating system** : Win10

**Web browser** : Firefox 96
<hr/>

There are currently many places in the web application that would benefit from having character limits enforced. Some fields (usually titles to entries) will send an error message to a user but many other fields (description) do not appear to have limits on the number of characters that can be submitted.

[2022-01-14 20:42] noahtalerman commented on #3554
The solution for this issue is included in the following issue: #2716

[2022-01-14 20:42] #3554 closed

[2022-01-14 20:49] noahtalerman commented on #3610
@gavinelder this makes a lot of sense. Thank you for providing some proposed solutions.

Which of the proposed solutions you provided is most valuable for your organization?

[2022-01-14 20:56] noahtalerman commented on #3614
@gavinelder which endpoints do you think are most important to expose on a different ports ? Is it just `/version` and `/metrics` ?

[2022-01-14 21:22] RachelElysia opened #3707 "Pack Targets Bug: Team target still exists if a team is deleted"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected beh

[2022-01-14 21:28] RachelElysia opened #3708 "Display 404 overlay on pages that no longer exist (deleted host, query, policy, etc.)"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected beh

[2022-01-14 21:29] noahtalerman commented on #3706
Mike: Placing the `maxlength=...` HTML property in any input field.

[2022-01-14 21:40] noahtalerman opened #3709 "Add "Performance" section to the release notes"
### Goal

Add "Performance" section to the release notes so that users know how the latest release improved the performance of Fleet.

### How?

- [ ] Add this step to the "Releasing Fleet" documentation

[2022-01-14 21:54] xpkoala opened #3710 "Failure to start container with fleetctl preview"
**Fleet version** : 4.8.0
**Orbit-channel** : edge

**Operating system** : Win10

<hr/>

### 💥  Actual behavior
When running the command `fleetctl.exe preview --orbit-channel edge` the full installation fails when attempting to start a Linux container.

### More info
The fleetctl executable was an experimental build.

The full error message presented:

[code]

[2022-01-15 02:27] gavinelder commented on #3610
I see more value in having the feature enabled with the ability to enable a filter as such my preference would be to.

[code]

The Toggle opt-in or out functionality is more than likely is a larger FR around a larger re-work of the admin panel as a whole.

this re-work would probably be

- move the admin config away from feature flags into the database so they don't have to be configured at runtim

[2022-01-15 02:40] gavinelder commented on #3614
Unsure of the value of each endpoint here so can't answer in full.

The reasoning for `/version` `/metrics` was to limit unauthenticated which could expose information about an estate that could be used for reconnaissance purposes but there may be more.

I did a quick `crt.sh` scan for the word "Fleet" and identified a number of Fleet Deploys and queried these two endpoints, the majority of server

[2022-01-17 02:55] lukeheath commented on #3293
Any modal will now close any toast notifications when it opens.

[2022-01-17 09:29] DominusKelvin commented on #2942
@mikermcneil here is a [PR](https://github.com/fleetdm/fleet/pull/3715) that possibly resolves this issue. Let me know what you think.

[2022-01-17 13:16] lucasmrod opened #3717 "For scheduled query stats, handle case when pack and scheduled query names contain `pack_delimiter` character"
**Fleet version**: `v4.6.1` (though the issue is present in latest `main` as of today)

Problem: In some edge case, the performance impact doesn't work for scheduled queries. Making some contribution to the `osquery_schedule` table that lets Fleet know what query this is (one solution).

<hr/>

### 🧑‍💻  Expected behavior

Packs and scheduled queries send their results to the configured endpoint su

[2022-01-17 15:10] noahtalerman commented on #3050
@chiiph I updated this issue's description with the expected behavior of the webhook payload (when it's triggered and what's included). Please let me know if you have any thoughts/questions.

I believe the webhook behavior I propose in the issue's description follows option (1).

[2022-01-17 16:03] chiiph commented on #3050
Could we make this align with the vulnerability check interval? We can do the request almost as soon as we find out there's an issue.

This is going to need batching unless we only send the host id.

[2022-01-17 16:54] noahtalerman opened #3721 "4.9.0: Smoke tests"
# Goal: easy-to-follow test steps for sanity checking a release manually

**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Web browser** _(e.g. Chrome 88.0.4324)_:

# Important reference data

1. [fleetctl preview setup](https://fleetdm.com/get-started)
2. [permissions documentation](https://fleetdm.com/docs/using-fleet/permissions)
3. premium tests r

[2022-01-17 17:28] gillespi314 commented on #3591
@noahtalerman, I'm not sure the best way to confirm this since the webhook would be sending the payload to the fleetdm.com site. Maybe @eashaw could help us with this?

[2022-01-17 17:48] lukeheath opened #3722 "Global policies endpoint returning 403 for Team Observer"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): Team Observer

<hr/>

### 🧑‍💻  Expected behavior

As a Team Observer, I receive a list of global policies when I make

[2022-01-17 18:04] edwardsb opened #3723 "Vuln processing command"
### Goal

Today Fleet runs vulnerability downloading and processing via internal scheduled cron job. This internal mechanism is very useful for frictionless deployments and is well suited for most use cases. However I think it would be helpful to have the ability to externally schedule this command, in similar fashion to `fleet prepare db`, where the command runs to completion and exists gracefull

[2022-01-17 18:05] edwardsb commented on #3723
@zwass here is the issue related to vuln processing we discussed.

[2022-01-17 18:06] op7ic opened #3724 "fleetdm secret gets removed from the database after couple of hours"
**Fleet version**
fleet version 4.8.0

**Fleet tier**
Free

**User role**
Admin

**Operating system**
 Ubuntu 18.04.6 LTS (GNU/Linux 5.4.0-1065-azure x86_64)

### 🧑‍💻  Expected behavior
Enroll Secret should stay in the backend and yet it doesn't.

### 💥  Actual behavior
Somehow, after few hours enroll secret gets reset despite the fact it was set in the database.
[code]

### Steps to reproduce

1)

[2022-01-17 18:11] noahtalerman commented on #3591
Right.

I know the loadtest environment is set up to report anonymous usage statistics. One way we could test this is to push the changes the the loadtest env and see if the number of labels are accurately reported.

[2022-01-17 18:32] RachelElysia commented on #3573
@mike-j-thomas not a high priority but this osquery enrollment secrets section is very lacking. <3

[2022-01-17 19:18] noahtalerman commented on #3706
Reed:

It would be helpful to standardize character limits for different sets of user supplied fields. As an example, titles could not exceed 250 characters, descriptions could not exceed 5000 characters, etc. Once these are decided upon they can be standardized across all areas of the interface.

While not exhaustive, other fields that need character limits are user names, password entries, and O

[2022-01-17 19:22] zwass commented on #3723
@edwardsb thank you for filing this.

@noahtalerman @chiiph and I were just discussing all of the different "intervals" in Fleet and I brought up your suggestion about this. We think it probably makes sense to extend this idea to all of the background jobs as part of an effort to create a generic framework for background jobs in Fleet.

[2022-01-17 19:28] noahtalerman commented on #3706
@xpkoala heads up, I updated this issue (title + description) so that it covers the task of adding character limits to several query, policy, and user fields. This way, the assigned engineer can stay focused on just these fields.

Because this issue is now limited to several explicit fields, can you please file separate issues when you come across more fields that need character limits? Thanks :)

[2022-01-17 19:31] noahtalerman commented on #3708
@RachelElysia awesome awesome catch. The intended behavior for all the pages you captured is for the 404 overlay to be rendered:
![Screen Shot 2022-01-17 at 2 29 34 PM](https://user-images.githubusercontent.com/47070608/149827576-9d41767c-a076-4838-868a-9e85c0a4f2a5.png)

I updated this issue (title + description) to reflect this.

[2022-01-17 19:31] noahtalerman commented on #3708
@xpkoala can you please queue this issue up for today's engineering standup? Thanks :)

[2022-01-17 19:34] noahtalerman commented on #3724
@op7ic thank you for filing this issue!

@xpkoala can you please attempt to reproduce this by creating an enroll secret in the Fleet UI and then seeing if the secret is removed several hours later? You should be able to access the "Manage enroll secrets" modal on the **Hosts** page.

[2022-01-17 19:41] noahtalerman commented on #3717
@sharvilshah, @zwass does it make sense to update the `osquery_schedule` table to support this case in which a user adds a pack delimiter in the query's name?

[2022-01-17 19:42] noahtalerman commented on #3717
@xpkoala can you please queue this issue up for engineering standup? This way Zach can assign someone to explore the question above. Thanks :)

[2022-01-17 19:47] noahtalerman commented on #3086
@chiiph I'm passing this issue's assignment to you. Can you please update this issue's description with the following decisions?
- Fleet will update the host counts and vulnerabilities at the same interval
- Fleet will only return software that has a count > 0.
  - This way the "Software" table in the Fleet UI will only display a software item if the vuln and count processing is complete for this

[2022-01-17 20:18] noahtalerman commented on #3590
@gillespi314 you mentioned continuing to work on this issue in today's (1/17) standup.

I'm passing this issue's assignment to you and moving the issue into the "Waiting" column in the release board on ZenHub :)

[2022-01-17 20:21] lukeheath commented on #3517
@martavis Heads up I updated this ticket slightly since we discovered we don't want to replace ALL `get()` calls, just the ones causing detached DOM issues.

[2022-01-17 20:45] martavis commented on #3517
@lukeheath @RachelElysia @gillespi314 Heads up, I had to figure out a new pattern for logging in while testing since we are splitting up tests. Basically, there's a new cy.session command that wraps around our login definition, and the tests needed to be broken up into suites where each suite has a beforeEach that logs in a user and visits the page. It's how Cypress explicitly says to handle runni

[2022-01-17 20:48] chiiph commented on #2603
@lukeheath heads up, once we make this change ^ the frontend will have to start using `latest` as the version or the newest one.

[2022-01-17 20:58] noahtalerman opened #3727 "Unify Fleet server config and app config"
Currently, Fleet allows users to configure the Fleet server with the following options: https://fleetdm.com/docs/deploying/configuration#options

The Fleet server must be started / restarted to apply updates to the server config.

Fleet also allows users to configure the Fleet application with the following options: https://fleetdm.com/docs/using-fleet/configuration-files#organization-settings

Up

[2022-01-17 21:09] noahtalerman commented on #3050
@chiiph this makes sense to me.

Somewhat related: Aligning the policy webhooks with the policy update interval also makes sense.

By "batching" here do you mean the same `host_batch_size` option allowed for policy webhooks?

If so, I would like to advocate for using the same "no batching" by default.

[2022-01-17 21:37] mna commented on #2603
Happy to report that, following our discussion in backend estimation meeting, I checked and all existing routes mentioned in this ticket have already been migrated to the new routes pattern (with support for versioning and aliases).

[2022-01-17 21:54] mna commented on #1782
As of this writing (and not counting a PR in progess that I started work on), there are 45 endpoints remaining to migrate to the new pattern. Of those:

* 28 are "common" endpoints, similar to the vast majority of our API, using `authenticatedUser`
* 5 are using `authenticatedHost` (osquery endpoints)
* 12 have another authentication approach (or none), and are considered "special cases" (e.g. log

[2022-01-17 21:57] mna opened #3728 "Migrate handler endpoints to the new way: user-authenticated"
### Goal

Migrate the 28 remaining "common" endpoints (those based on `authenticatedUser`) to the new routes pattern. This ticket comes from splitting #1782 .

[2022-01-17 22:02] mna opened #3729 "Migrate handler endpoints to the new way: host-authenticated"
### Goal

Migrate the 5 remaining "osquery" endpoints (those based on `authenticatedHost`) to the new routes pattern. This ticket comes from splitting #1782 . This requires creating a new "AuthEndpointer" (`UserAuthEndpointer`) or refactoring the existing one to support different auth approach. Decoding the request's bodies appear to be more involved too in some cases.

[2022-01-17 22:05] mna opened #3730 "Migrate handler endpoints to the new way: the special cases"
### Goal

Migrate the 12 remaining "special case" endpoints (those not based on `authenticatedHost/User`, those related to login/password management/invites) to the new routes pattern. This ticket comes from splitting #1782 .

[2022-01-17 23:06] xpkoala commented on #3724
@noahtalerman Yeah! I'll update once I have some more information on this.

[2022-01-17 23:15] mikermcneil commented on #3078
Jan 2022:

DISCUSS GitHub Projects
- Transparency is important - agreed
- Luke & Tomas think GitHub projects won’t scale (maybe is already missing highly useful features)
  - Reporting
  - Automations
  - Epics
- These features help to make communication more efficient and easier: easier = more accurate
- Tomas - I’m okay switching to anything as long as it has these features
  - =>McNeil: Luke an

[2022-01-17 23:15] mikermcneil commented on #3078
McNeil: Github projects 2.0 covers some of the above.  I think we can use it (± zenhub in addition) and that way everyone will be on a consistent thing.  There's some migration work to do that, but before we touch that on any team, want to make sure I'm not missing any other factors for the decision

[2022-01-17 23:16] mikermcneil commented on #3078
Decision will be made Mon Jan 24, 2022

[2022-01-17 23:25] zwass commented on #3710
I am pretty sure this is caused by https://github.com/fleetdm/osquery-in-a-box/pull/12, but the solution is not simple. We set those UUIDs to solve https://github.com/fleetdm/fleet/issues/3201. Going back to see if there's an alternate approach we can take on 3201.

[2022-01-17 23:26] zwass commented on #3201
@lukeheath coming back to this, it seems that setting the UUID causes problems when running `fleetctl preview` on Windows (#3710). Is it possible to use the `.id` field as the unique value rather than the UUID in the frontend code here?

I have some other ideas for setting the UUID, but if it could somehow be an easy-ish fix on the frontend that would be very nice.

[2022-01-17 23:45] lukeheath commented on #3201
@zwass This sprint, @gillespi314  replaced the query live results with React Table. With that change, I don't believe we're using `uuid` any longer. Does that sound right @gillespi314 ?

@zwass That is just for live query results. If we're talking about removing `uuid` from the host entity altogether that would require more research.

[2022-01-17 23:52] lukeheath commented on #3077
See PR #3732

Heads up @noahtalerman

**Notes:**
- I've added a new prop to `InputField` that adds an `autocomplete="new-password"` attribute to the input field. Modern browsers respect that field and will not try to autofill.
- However, password tools are another story and do not respect the `autocomplete` attribute. That means 1Password will continue to offer to save and autofill those inputs. H

[2022-01-18 00:00] gillespi314 commented on #3201
@lukeheath, `uuid` will still be a column in the live query results table and so it is being treated just like any one of the columns that can be included in the multi-column filter through the react-table implementation. That said, I think it is probably worth the effort for someone to try to reproduce this error under the new table implementation. There's a good chance it has been resolved since

[2022-01-18 00:02] lukeheath commented on #3201
The table columns auto-generate based on the first result, so if in `preview` the hosts did not return a `uuid`, it wouldn't appear in the table. So that _should_ work without any changes required on the frontend.

[2022-01-18 00:27] zwass commented on #3201
We will definitely leave `uuid` in the host entity. It's just a matter of whether the frontend requires the `uuid` to be unique in order to filter the results properly. Sounds like we are good! We can revert the changes in fleetdm/osquery-in-a-box#15 and see if things are good with these new changes in the frontend.

Is that merged already?

[2022-01-18 00:48] gillespi314 commented on #3201
[This one](https://github.com/fleetdm/fleet/pull/3647) is merged

[2022-01-18 02:29] zwass commented on #3699
I've discovered that `go-tuf` was updated to include code that checks for and emits this warning, but it still generates the offending metadata in the repository: https://github.com/theupdateframework/go-tuf/issues/203

I think we need to roll back the `go-tuf` version used in Orbit until it's fixed in `go-tuf`.

[2022-01-18 12:36] mike-j-thomas opened #3736 "License dispenser - "x" button should clear input"
### 🧑‍💻  Expected behavior
Pressing "x" in the input field for the number of hosts should clear the field.
![image](https://user-images.githubusercontent.com/78363703/149938267-01d6d7b3-e4e2-43d2-991d-1fb4ec71e3db.png)

### 💥  Actual behavior
Hitting "x" focuses on the input, but does not clear.
![image](https://user-images.githubusercontent.com/78363703/149938486-db9bcc17-b1f9-4ff2-90dd-16f27dc82

[2022-01-18 14:10] noahtalerman commented on #3693
@mike-j-thomas I'm passing this issue's assignment to you.

Can you please prepare the release blog post or assign this issue to another individual on the growth team? Thanks :)

[2022-01-18 15:40] xpkoala opened #3742 "Test for XSS in all user supplied fields"
### Goal

TODO Check user supplied fields for vulnerability to XSS attacks.
TODO Check actual osquery data from the device. (Eg. an installed software package with version == <script>alert(‘!’)</script>)

### Resources

https://owasp.org/www-community/attacks/xss/

[2022-01-18 16:20] chiiph commented on #3086
@noahtalerman done, should we move this to estimation?

[2022-01-18 17:51] xpkoala commented on #3724
I have not been able to reproduce the issue through the Fleet UI. I'll escalate this up the chain.

[2022-01-18 18:12] xpkoala opened #3745 "Update license expiration link"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.8.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): basic (paid/ premium)

**Operating system** _(e.g. macOS 11.2.3)_: Windows 10

**Web browser** _(e.g. Chrome 88.0.4324)_: Firefox 96

<hr/>

### 🧑‍💻  Expected behavior
When clicking on a link that should contain info

[2022-01-18 18:13] noahtalerman commented on #3077
@lukeheath thanks for the heads up. The updates you made make sense to me.

The customer that reported this issue saw that Google Chrome was attempting to save the SMTP credentials when the form is submitted.

The desired change (acceptance criteria):

- [ ] On the Organization settings page, when I add an SMTP username and password and save the form, I should not be prompted to save the credentia

[2022-01-18 18:14] mikermcneil opened #3746 "Handbook: Customer billing support requests from the contact form"
## Goal
Handbook: Document
- (1) who is responsible for billing-related support requests coming in through the contact form (sales) and
- (2) an example of how to respond to customer requests to change their credit card

(Where?  Probably the customers page for both)

Use this example response:
![image](https://user-images.githubusercontent.com/618009/149994886-86ad496b-898f-46ba-a972-7593914ffe37

[2022-01-18 18:19] noahtalerman commented on #3086
@chiiph yes please! Can you please make sure that this issue is estimated prior to the prioritization meeting on Friday (2022-01-21).

This way, the improvements in this issue can be eligible for the 4.10.0 release. These improvements are included in the product goals for Fleet 4.10.0.

I'm linking to the "Fleet 4.10.0" goals issue here: https://github.com/fleetdm/fleet/issues/3651

[2022-01-18 18:28] noahtalerman commented on #3745
@xpkoala heads up, I added the correct link to the "Expected behavior" section in this issue's description.

This correct section does not exist yet. I pulled the following issue, which tracks the addition of this section, into the product board for one of us to work on: #2210

[2022-01-18 18:44] chiiph commented on #3724
@op7ic hi! Sorry to hear you're having issues with Fleet. Could you post debug logs for the fleet instances you are running? That would tell us what API calls are being made, maybe there's something applying a config without that secret at an interval somewhere.

I'm not sure if you mentioned this just as a way to reproduce or if that's part of your workflow, but we don't support raw insertions to

[2022-01-18 18:52] alphabrevity commented on #3746
@eashaw is it safe to assume this workflow is only applicable once a customer signs up using the self service purchase option? There is no reference to billing info in dogfood.fleetdm.com is the reason I ask.

[2022-01-18 18:55] noahtalerman commented on #3050
Ah, right.

I think I was imagining the same configuration option to control both the policy interval for the hosts and the policy webhook interval. I'll wait to think about this in the future because I'm not sure if this makes sense.

[2022-01-18 18:59] eashaw commented on #3746
@alphabrevity Yes, that's a safe assumption.

[2022-01-18 18:59] xpkoala commented on #3702
A bit more information to help track down the issue. The error can also be surfaced by submitting a non int (1.2).

[code]

[2022-01-18 19:28] chiiph opened #3750 "Make sure that everything in serve.go uses the same context"
We need to make sure we use the same context for all the services we start on serve.go so that we can stop them by using it.

[2022-01-18 19:31] zwass commented on #3201
Fixed by #3647. Should be able to QA this with `fleetctl preview --tag main`.

[2022-01-18 19:50] xpkoala opened #3753 "Pack target search doesn't seem to filter labels properly"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.8.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): free

**Operating system** _(e.g. macOS 11.2.3)_: Win10

**Web browser** _(e.g. Chrome 88.0.4324)_: Firefox 96

<hr/>

### 🧑‍💻  Expected behavior
Searching for a label or host in the Pack target search area would pro

[2022-01-18 19:56] op7ic commented on #3724
hi @chiiph, if you tell me how would you like me to generate it, what files to grab I`ll go ahead and do it.

[2022-01-18 19:57] chiiph commented on #3724
@op7ic it depends on your setup. Could you share the fleet serve config you are using?

[2022-01-18 19:59] chiiph commented on #3702
This will be tackled as part of http://github.com/fleetdm/fleet/issues/3728 since the reason why the error is the way it is is because of techdebt.

[2022-01-18 19:59] op7ic commented on #3724
sure can.

[code]

[2022-01-18 20:09] zwass commented on #3717
Hey @sharvilshah I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/--release-61856c3848eeea001d70554e/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-01-18 20:44] chiiph commented on #3753
Searching there matches the following:

- Hosts: hostname, uuid, primary ip, mac address
- Labels: name
- Teams: name

In your example you search for `9`, as long as it's a part of the ip, mac, or uuid for a host, it'll appear.

There's also a lower limit for amount of characters to match. iirc, that limit is 3, but for us it's 2 since we add the `*` char at the end of whatever the user types. If

[2022-01-18 21:08] lukeheath commented on #3195
@mikermcneil I spoke with the frontend team and they told me you previously requested they remove `contenteditable`. Is that something you'd like to keep out of the codebase?

[2022-01-18 21:21] xpkoala commented on #3753
Thank you @chiiph! I'll give it another round of poking.

[2022-01-18 21:39] RachelElysia opened #3760 "Update Using Fleet Documents: 1 - Fleet - UI"
### 🧑‍💻  Expected behavior

I expect the Fleet Docs text and images to match the current UI.

### 💥  Actual behavior

The entire UI on this document is over 4 months old. -- Latest commit be2cf92 on Jun 24, 2021

- Queries had a major UI overall first introduced in 4.3 (September 13, 2021)
- Packs had a revamp first introduced in 4.2 (August 11, 2021)
- Schedule is missing from the docs and first

[2022-01-18 21:52] mikermcneil commented on #3195
100% yes-- no contenteditable please.  If it ever comes up, I'm happy to elucidate and share experiences where it's been a problem.  Please use only `<input type="text">` and `<textarea>` for editable text fields

[2022-01-18 21:52] mikermcneil commented on #3195
@lukeheath 100% yes-- no contenteditable please. If it ever comes up, I'm happy to elucidate and share experiences where it's been a problem (at Fleet and prior). Please use only <input type="text"> and <textarea> for editable text fields.  If we want a feature of contenteditable above and beyond that, lets put our heads together

[2022-01-18 22:07] lukeheath commented on #3050
@chiiph Assigning over to you for implementation specs. I added API specs. Just let me know if you think anything should change.

[2022-01-18 22:23] lukeheath opened #3762 "Vulnerabilities: Add software vulnerability webhook modal"
### Goal

As a vulnerability analyst, I want to be able to tell Fleet to reach out when a _new_ vulnerability (CVE) is detected on my devices. This way, I can automate the process of sending a message to device owners or creating a ticket to track the vulnerability.

**Notes:**

- Webhooks are called "automations" but we use "webhook" in the code where possible.
- Available to only global admins a

[2022-01-18 22:32] lukeheath commented on #3195
@mikermcneil Got it, we'll find another approach.

[2022-01-18 22:34] RachelElysia opened #3763 "Custom logo not resized properly."
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

Add a cu

[2022-01-18 23:06] #2942 closed

[2022-01-18 23:07] lukeheath commented on #2998
@chiiph Assigning over to you to determine if this ticket needs to be re-estimated based on Noah's comments. Currently ticket is pointed at 8.

[2022-01-19 00:39] martavis commented on #3533
@noahtalerman I did a video on why I opted for the text shadow vs bold. TLDR (or watch), using `bold` increases the width of text so "Organization settings" becomes wider which make the entire tab component shift right. This is a known effect that is solved with text shadows. If you are ok with that, I can switch it easily. Otherwise, we would have to spend time figuring out how to fix the shiftin

[2022-01-19 02:09] mike-j-thomas opened #3773 "Blog post: How to install osquery and enroll a device on Linux"
## Goal

Help users searching for "Install osquery on Linux" by publishing a simple, short guide for installing osquery on Linux and enrolling a device into Fleet

## How

- [x] Create a draft article. For reference, this is an article in the same series that Ben created for installing osquery and enrolling devices on Windows. https://blog.fleetdm.com/how-to-install-osquery-on-windows-394c4a099f6e

[2022-01-19 02:23] stephanmiehe commented on #3762
I would also like to see a webhook shipped when a vulnerability is remediated so that we can updates teams on when their remediation work successfully close a vulnerability

[2022-01-19 02:25] #3205 closed

[2022-01-19 02:52] mike-j-thomas commented on #3052
Hey @noahtalerman, this issue was on my list. Is there anything remaining for me to do? I may have forgotten what you asked when we met last week, or this may just be leftover on my board?

[2022-01-19 13:55] noahtalerman commented on #3052
@mike-j-thomas the remaining work includes updating all masthead components, in the [linked Figma](https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=3540%3A93005), to include the new "Software" tab at 768px width.
  - The "Software" tab introduces overlap between elements at the minimum screen width of 768px:
![Screen Shot 2022-01-07 at 10 05 50 AM](https://user-images.githubusercontent.c

[2022-01-19 14:31] noahtalerman commented on #3533
Ah, yes, I agree that the button shift is something we'd like to avoid.

Got it. @martavis, in the tab UI, can we use the same solution we're using in the top navigation? Is it difficult/unideal to apply this solution globally to the tab UI?

in the `SiteTopNav` component, we're using the `data-text` attribute to make the nav element's width fixed to the width of the bold text. This prevents the s

[2022-01-19 15:00] RachelElysia opened #3780 "Checkboxes not clearing on delete"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

I click

[2022-01-19 15:16] xpkoala commented on #3780
I'm not able to reproduce this using :
- fleetctl preview
- --tag release-candidate-4.9.0
- Firefox

Could you double check this occurring on the 4.9.0 branch or let me know the specifics of your environment? Thanks!

[2022-01-19 15:22] noahtalerman commented on #3760
@RachelElysia great idea. I think starting with a manual process makes sense.

I think this could look something like and "Update screenshots in docs" issue is filed at the start of each release.

[2022-01-19 15:32] RachelElysia commented on #3780
I am able to reproduce on fleetdm/release-candidate-4.9.0 dev environment Chrome

[2022-01-19 15:41] mna opened #3782 "ApplyTeamSpecs endpoint does not require premium license"
All team-related endpoints have a similar implementation in the service, e.g.:

[code]

and respond with 422 to the API request. However, the apply team specs endpoint does not, it actually performs the task and applies the specs. This came up in the review of the PR where I migrated the team endpoints to the new pattern: https://github.com/fleetdm/fleet/pull/3740/files/7642e0def7f5bebf89a762f09c9

[2022-01-19 16:20] gillespi314 opened #3784 "Save query modal doesn't close when saving existing query as new"
### 🧑‍💻  Expected behavior

Modal should close after clicking save

### 💥  Actual behavior

Modal stays open and allows user to save query again.

### More info
https://www.loom.com/share/a764dfe8925f4b208b5697fcbbd3689f

[2022-01-19 16:43] xpkoala opened #3786 "Remove pagination from Teams page"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): release-candidate-4.9.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**Operating system** _(e.g. macOS 11.2.3)_: Win10

**Web browser** _(e.g. Chrome 88.0.4324)_: Firefox

<hr/>

### 🧑‍💻  Expected behavior
On settings/teams :
Pagination was not designed for

[2022-01-19 17:35] RachelElysia opened #3790 "Update error messages for duplicate entries in label, teams, and user forms"
Label names, team names, and user email addresses must be unique in Fleet.

### Goal

1. When a user tries to create a duplicate user email, they are presented with an inline error response generated from the backend

- [x] Includes creating a new user and a newly invited user on the User Management page
- [x] Includes creating a new user and a newly invited user on the Team Members page
- [x] Inc

[2022-01-19 17:38] lucasmrod commented on #3640
Does the new `GET /api/v1/fleet/hosts/report?software_id=408&format=csv` endpoint need to be aware of CVEs? (AFAICS as defined it just returns hosts that have the given `software_id` installed).

[2022-01-19 17:42] lucasmrod commented on #2949
Being loud where? Warning message on the logs? Release notes? Existing docs?

[2022-01-19 17:49] lucasmrod commented on #3086
@chiiph New table, something like `software_host_counts`, right?

[2022-01-19 17:50] mikermcneil commented on #3746
@alphabrevity Leaving this in your hands since it's coming in from the contact form.  It will be an uncommon request, but since you're the DRI for inbound from the contact form, I want to make sure you're equipped to be able to respond.

To do that:
1. Edit the fleetdm.com/handbook/customers to include how to handle this situation, with this example response
2. Reply to the thread and send it to t

[2022-01-19 17:59] #2873 closed

[2022-01-19 18:16] xpkoala opened #3791 "Host count incorrect for large deployment"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Fleet 0.0.0-SNAPSHOT-98b666d

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**Operating system** _(e.g. macOS 11.2.3)_: Win10

**Web browser** _(e.g. Chrome 88.0.4324)_: Chrome 97.0.4692.71

<hr/>

### 🧑‍💻  Expected behavior
Accurate (total) Hosts count on the /dashbo

[2022-01-19 19:06] chiiph commented on #2998
@lukeheath this was already estimated and in Ready for sprint, now I see it's in waiting. Gonna move it again to ready.

[2022-01-19 19:07] chiiph commented on #2998
Oh, my bad, I was looking at the wrong board. It's still ready in the product board.

[2022-01-19 19:08] chiiph commented on #3050
We'll implement repo by repo instead of using pkgs.org as discussed in the document. We'll start with CentOS.

The scope of this ticket is to define the overall architecture and implement the first repo. However, given the unknowns that were discussed with the backend team, it's pointed at 13 and timeboxed at 1 week.

[2022-01-19 19:10] chiiph commented on #3086
Yup.

[2022-01-19 19:24] xpkoala opened #3792 "Inconsistant wait state on slow response from Hosts page"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Fleet 0.0.0-SNAPSHOT-98b666d

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**Operating system** _(e.g. macOS 11.2.3)_: Win10

**Web browser** _(e.g. Chrome 88.0.4324)_: Firefox 96 (throttled to Good 3g connection and disabled cache)

<hr/>

### 🧑‍💻  Expected behavior

[2022-01-19 21:15] noahtalerman commented on #3721
Did not test the "Host flow" because it is difficult with the current `fleetctl` version.

[2022-01-19 21:19] op7ic commented on #3724
Hi @chiiph  @xpkoala ,

I managed to track the root case of issue. Its appears that it was down to the fact that if you create custom secret, insert it into database and then register with the portal then registration process wipes out already existing secret in favour of randomly generated one instead of simply appending new secret to database. My original ticket it wrong - it wasn't a time limit

[2022-01-19 21:22] chiiph commented on #3724
Ah yes, that makes sense.

You have two calls to the endpoint that sets enrollment secret:

[code]

Like I mentioned, we don't support the use case to insert the secret in the database directly. What use case would you say Fleet is not supporting that resulted in adding the secret in the database?

[2022-01-19 21:31] op7ic commented on #3724
@chiiph inability to set secret in some sort of config file on the server unfortunately.

I`m building a small rig using ansible and terraform and in order to deploy onsquery across infrastructure, with fleet, I need a  ability to know secret before its randomly generated. Note that random secret generation happens only AFTER user creates an account, not when fleet is installed. Because of that I

[2022-01-19 21:40] lucasmrod commented on #3791
The linux hosts are all MIA from when `osquery-perf` didn't respond to the arch label queries correctly (~3 months ago).
An option is to set the host expiry to something like 2 months? Will check with @chiiph

[2022-01-19 22:00] mike-j-thomas commented on #3052
Oh! sorry, I checked the comments thread but not the updated description. No need to create a new issue next time. Just ping me in the comments and tell me that a new task has been added.

Here's a couple of options to run past you.

1. We collapse the menu under a hamburger dropdown.
2. Collapse the menu within the masthead to just show the icons - but I don't really think that the icons alone ar

[2022-01-19 22:06] lucasmrod commented on #3791
Here's more information:

1. host_summary request:
[code]
2. `count?label_id=12` (UI fetching the linux label)
[code]

The numbers add up:
- 237118 MIA
- 30001 offline
- 50000 online

equals the reported number of hosts: 317119

I think we are missing a MIA count somewhere in the dashboard:
![Screen Shot 2022-01-19 at 19.05.54.png](https://images.zenhubusercontent.com/6196b94f35cbe4038b04984a/b1c3

[2022-01-19 22:06] lucasmrod commented on #3791
@noahtalerman

[2022-01-19 22:19] RachelElysia opened #3797 "Consistent actions taken for hitting enter on a Remove/Delete modal"
### Goal

TODO

6 of the 8 modals CANCEL when hitting enter, closing the modals. The other 2 modals (Delete user and Delete team) do nothing.

I would think the intended behavior would be the same across all 8 modals. I would think the intended behavior would be to SUBMIT when hitting enter. For example, I made 22 teams for testing purposes and having to click delete everytime is very inefficient.

[2022-01-19 23:19] noahtalerman commented on #3791
Sweet! I'm closing this issue.

@lucasmrod good catch. The following issues outlines removing the "New hosts" count from the Home page: #3285

Another issue includes the improvement of making the "Offline hosts" count include MIA hosts (offline + MIA): https://github.com/fleetdm/fleet/issues/3643

This way, as a user, I only have to understand whether a host is recently talked to Fleet (online) or

[2022-01-19 23:19] #3791 closed

[2022-01-19 23:47] lukeheath opened #3800 "Display aggregate Munki and MDM data on home page"
## Goals

As an IT administrator (macOS workstations), I want to see the number of hosts with a specific version of Munki installed so that I can track my effort to upgrade the Munki versions across all my workstations.

As an IT administrator (macOS workstations), I want to know the status of MDM enrollment across all my devices so that I can remediate hosts that are not enrolled.
- Later, this w

[2022-01-20 01:50] lukeheath commented on #3745
@noahtalerman Heads up this is getting merged. Would you like us to pull it into 4.9.0 or wait for the #2210?

[2022-01-20 02:45] lukeheath commented on #3195
[This looks like the best approach](https://css-tricks.com/auto-growing-inputs-textareas/#aa-other-ideas) that uses actual `input` and `textarea` elements and no `contenteditable`.

Codepen: https://codepen.io/shshaw/pen/bGNJJBE

Just clever use of CSS. 💯

[2022-01-20 13:19] chiiph commented on #3640
My understanding is that it does not need to be aware of the CVEs, the first one (if any) found is the one used for the name of the resulting file.

[2022-01-20 13:26] lucasmrod commented on #3640
So, sorry to insist, which one is it then:
1. just query the `host_software` table and return it, or,
2. (1) + also query `software_cpe` & `software_cve` to get the "first one" to use as the name of resulting file.

[2022-01-20 13:28] lucasmrod commented on #3640
And which name should be used if the queried `software_id` has no CVEs.

[2022-01-20 13:54] lucasmrod commented on #3263
@chiiph

1. Should we try do this the way we are planning to do host counts in general? (Periodic async calculation into an intermediate table that then gets consulted by the API endpoints).
2. Figma shows MDM table with `Enrolled (manual)`, `Enrolled (automated)` and `Unenrolled`. (I'm guessing we can determine this by looking at the existing `installed_from_dep` column?)
3. The description says:

[2022-01-20 14:27] chiiph commented on #3263
Yes, correct.

Yes, this logic is already in fleet.

Only macOS for now, yes.

[2022-01-20 14:46] noahtalerman commented on #3640
@chiiph and @lucasmrod My intention was to remove the CVE from the CSV filename. Instead, the filename will be `Hosts YYY-MM-DD`. Apologies for not following through on updating this.

I updated this issue's description to reflect the above. Please let me know if you have any thoughts/concerns.

In a later iteration, we might want to improve the filename to include a specific CVE, policy name, tea

[2022-01-20 14:50] lucasmrod commented on #3456
Yes, I'd go this way. On `NewRunner()`, or before starting `Execute()`'s `for` loop, populate the `hashCache` with the hashes of the executables on disk (`orbit` and `osqueryd`).

[2022-01-20 14:54] lucasmrod commented on #3640
@chiiph ^ this one then

[2022-01-20 14:59] noahtalerman commented on #3745
@lukeheath, @martavis please merge the associated PR into 4.9.0. This way, the update to the docs can take effect immediately when #2210 is complete.

I'm prioritizing the update to the docs in #2210.

[2022-01-20 15:29] noahtalerman opened #3809 "Add "Seeing unexpected vulnerabilities?" in Fleet UI"
### Goal

Encourage users, who believe some of the detected vulnerabilities are false positives, to file an issue so that we can improve vuln detection.

### How?

- [ ] Add "Seeing unexpected vulnerabilities?" to "Using Fleet" FAQ
- [ ] Link to this FAQ entry in the Fleet UI

[2022-01-20 17:10] noahtalerman opened #3811 "On "New query" page, all platforms should be selected"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:

<hr/>

### 🧑‍💻  Expected behavior

I naviga

[2022-01-20 17:43] lukeheath commented on #3077
This is done with some caveats:

We now have a prop we can apply to any `Input` field that will add `autocomplete="off"` to the element. This has varying degrees of support across browsers and password managers. See list below:

**Chrome:**
- Respects tag and does not offer to autofill or save the field.

**Safari:**
- Does not offer to to autofill, does offer to save password when user changes pa

[2022-01-20 18:10] chiiph commented on #3724
Have you tried using the following: https://fleetdm.com/docs/using-fleet/configuration-files#enroll-secrets ? You should be able to define your secrets in a file like that and then use `fleetctl apply -f` to apply it.

[2022-01-20 18:49] lucasmrod opened #3813 "Cache `Datastore.TeamAgentOptions` (same way we cache `Datastore.AppConfig`)"
### Goal

We are already caching the result of `Datastore.AppConfig` for global hosts, we should do the same when loading the team agent options for team hosts.

`Datastore.TeamAgentOptions` is executed every time the team hosts check in for new config (`/api/v1/osquery/config`, `Service.GetClientConfig`).

### How?

Mimic what was done for AppConfig (but we would need something like a map for hol

[2022-01-20 19:06] xpkoala commented on #3704
This ticket is not making it into the 4.9.0 release.

[2022-01-20 19:32] lukeheath commented on #3800
Luke: Add task item for E2E tests.

[2022-01-20 19:49] chiiph commented on #3081
We'll implement repo by repo instead of using pkgs.org as discussed in the document. We'll start with CentOS.

The scope of this ticket is to define the overall architecture and implement the first repo. However, given the unknowns that were discussed with the backend team, it's pointed at 13 and timeboxed at 1 week.

[2022-01-20 19:51] xpkoala opened #3814 "Duplicate Software entries showing on Dashboard"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): Fleet 0.0.0-SNAPSHOT-4315e99

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_: F

[2022-01-20 20:40] lukeheath commented on #3492
Notes from frontend sync discussing this topic on 1/19:

Biggest ticket is get auth out of redux
Available teams is needed for users and auth, /me and /login responses, can’t remove available_teams until we remove the redux actions
Expand use of available_teams to the team dropdown and other  components that use teams
Pay attention to actions that would refresh teams, like creating a team and dele

[2022-01-20 21:01] lucasmrod commented on #3050
@chiiph re "send the webhook requests during (or right after) vuln processing"

Advantages:
- Simpler to implement: we don't need to store the new CVE findings in e.g. Redis, to be picked up by the fleet that will separately send the webhook. Just send them during/after vuln processing.
- The fleet instance running vuln processing already needs outgoing network access.

Disadvantages:
- More load

[2022-01-20 21:07] lukeheath commented on #3661
Confirmed this is in release candidate.

[2022-01-20 21:08] lukeheath commented on #3811
Confirmed this is in release candidate.

[2022-01-20 21:08] op7ic commented on #3724
@chiiph not tried that yet. I wanted to avoid downloading extra onto server but I`ll give it a shot since it looks to solve the problem.  Thanks for the hint ! Please feel free to close this report.

[2022-01-20 21:08] lukeheath commented on #2907
Confirmed this is in release candidate.

[2022-01-20 21:09] lukeheath commented on #2321
Confirmed this is in release candidate.

[2022-01-20 21:11] lukeheath commented on #3488
Confirmed this is in release candidate.

[2022-01-20 21:12] lukeheath commented on #1469
Confirmed in release candidate.

[2022-01-20 21:13] lukeheath commented on #2674
Confirmed in release candidate.

[2022-01-20 21:15] lukeheath commented on #3077
Confirmed in release candidate.

[2022-01-20 21:36] lukeheath commented on #3463
Confirmed in release candidate.

[2022-01-20 22:20] xpkoala opened #3822 "Saved Policy automation is not reflected upon refreshing page"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): fleetctl preview --tag release-candidate-4.9.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**Operating system** _(e.g. macOS 11.2.3)_:  Win10

**Web browser** _(e.g. Chrome 88.0.4324)_: Firefox 96

<hr/>

### 🧑‍💻  Expected behavior
After saving Policy autom

[2022-01-20 22:46] xpkoala opened #3823 "Password Reset Issues"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): fleetctl preview --tag release-candidate-4.9.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: Win10

**Web browser** _(e.

[2022-01-20 22:52] zwass commented on #3823
I'd like to solve this by removing the undo button, unless we can come up with a strong reason why someone should be able to undo that action?

[2022-01-20 22:53] noahtalerman commented on #3823
@zwass this solution makes sense to me. There's no strong reason I can think of. I believe this functionality has always existed in Fleet.

[2022-01-20 23:50] mike-j-thomas opened #3825 "Blog: Intro to Fleet and the benefits of an osquery manager"
*How to install osquery and enroll devices:*
- [x] Install osquery and enroll devices on macOS
- [x] Install osquery and enroll devices on Linux
- [x] Install osquery and enroll devices on Windows

*How to deploy Fleet:*
- [x] Deploy Fleet with AWS/Terraform
- [x] Deploy Fleet with Render
- [ ] Deploy Fleet with Ansible
- [ ] Deploy Fleet with Puppet
- [ ] Deploy Fleet with Chef

[2022-01-21 00:14] lukeheath commented on #3823
@zwass @noahtalerman This was a simple fix keeping the undo button. If we remove the undo button, there's some underlying redux code we should remove as well that will no longer be needed. For that reason, I'd like to remove the undo functionality in a separate ticket next release.

[2022-01-21 00:20] zwass commented on #3823
I'm all for the simple fix.

[2022-01-21 03:58] #2093 closed

[2022-01-21 12:51] chiiph commented on #3050
It shouldn't be that much more load, as it'll be IO bound.

So if fleet restarts right after detecting a CVE but before sending the webhook, it'll be picked up?

[2022-01-21 12:54] chiiph commented on #3724
Sounds good, please don't hesitate to reopen this if you find any issues. There's also fleet's Slack for support.

[2022-01-21 12:54] #3724 closed

[2022-01-21 13:05] lucasmrod commented on #3050
So that it doesn't get reported on the next vuln scanning run. Unless we do it in a way where we only run the webhook request sending with new inserted CVEs.

[2022-01-21 15:13] noahtalerman commented on #3809
- Proposed first step (now): provide a link to the docs in the Fleet UI.
  - This section of the docs points the user to “File a bug issue to report false positives, etc.”
- Next step (later): Add a form directly in the UI. Like we see with Rumble:
<img width="1244" alt="Screen Shot 2022-01-20 at 3 42 58 PM" src="https://user-images.githubusercontent.com/47070608/150551224-a57baa0e-9b15-49ed-b0af-

[2022-01-21 15:41] GuillaumeRoss commented on #3809
This comment focuses on the reporting back of vulnerability detections (as opposed to a method for internally hiding/muting vulnerabilities - covered in https://github.com/fleetdm/fleet/issues/3152).

We should look for a way to allow people to easily report false positives, but also to "upvote" good results.
Upvoting or confirming a vulnerability should require very few clicks. Declaring a vulner

[2022-01-21 15:43] mikermcneil commented on #3612
@noahtalerman for now, let’s just remove all asterisks from things that are actually released

[2022-01-21 15:52] RachelElysia opened #3829 "On Edit Pack > Add query modal, add a units dropdown for "Frequency""
### Goal

As a packs user, I want my scheduled query to run every 10 hours.

Currently, I can only specify seconds. This means I have to calculate how many seconds are in 10 hours.

Instead, I want to be able to specify 10 hours in the UI.

### Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/%F0%9F%9A%A7-Fleet-EE-(dev-ready%2C-scratchpad)?node-id=4434%3A171007

[2022-01-21 17:53] mikermcneil opened #3831 "Handbook: principles for pragmatic security, and re: writing"
mikermcneil  1 minute ago
Here's what I smell in the air:
- Practical needs over security (deliberately taking risks to enable UX)
- Documenting why, no obfuscation, no secret reasons, no excuses- the real honest reason.  Assuming the team is smart and has positive intent
- Doing so in simple terms, as few words as possible (which is hard and takes energy because you have to write and rewrite and

[2022-01-21 18:26] noahtalerman commented on #3814
@xpkoala heads up, I'm removing this issue from the release board on ZenHub.

Can you please bring this issue back into the release board if it turns out that you can reproduce the issue in the preview environment? Thanks :)

[2022-01-21 20:35] noahtalerman commented on #3098
Think about the UX for the one to one device to attribute mapping v. the filter use case when designing the changes to the Fleet UI to support this ability.

[2022-01-21 20:36] op7ic commented on #3724
@chiiph Just thought I would let you know that fleetctl command worked great. Thank you for suggestion.  Something I noticed (just FYI) is that if you insert long secret i.e. ```7548392034598765483902313249182541924120598152194```, via fleetctl config, it will appear in the database as ```Inf+```.

[2022-01-21 21:08] chiiph commented on #3724
Glad it worked!

Interesting, secrets are strings, I wonder if yaml is seeing a number and trying to parse it and overflowing. You should be able to set a secret like that by using `"` to enclose it.

[2022-01-21 21:38] zwass commented on #3100
This is shipped!

[2022-01-21 21:38] #3100 closed

[2022-01-21 21:41] #3522 closed

[2022-01-21 21:42] zwass commented on #3671
Resolved by removing the DB entirely. May require fresh Orbit installs for "stuck" machines.

[2022-01-21 21:42] #3671 closed

[2022-01-21 21:44] lucasmrod commented on #3522
We fixed this issue with a workaround (by not enabling osquery extensions on Windows).
I will create a separate issue to properly troubleshoot and fix.

[2022-01-21 22:46] lucasmrod commented on #3456
I've sketched the manual tests needed to validate the changes.
For the purpose of this issue, the testing will be manual, a next step will be to automate this (time consuming) manual testing.

# Manual update testing for Orbit

## Setup

Set up local testing TUF server.

## Scenarios

Each scenario needs to be tested in macOS, Windows and Linux.

### Orbit auto-updates orbit while running

1. Comp

[2022-01-22 21:01] mikermcneil commented on #895
@noahtalerman I added example osquery SQL for this and staged for discussion in an upcoming huddle

[2022-01-23 07:17] mikermcneil opened #3841 "Make FIM easy"
As a user, I want to specify (globally and per team) which file paths should never change.
- Include support for globs (i.e. /etc/*).
- All are absolute path patterns (start with "/")
- ^that requires auto-managing of osquery config
- ^ understanding why people want to use FIM could help us make this product feature better when we ship it (i.e. which compliances)

A first step could be to, read-on

[2022-01-23 07:27] mikermcneil commented on #222
@noahtalerman Correct.  I think next step here is a feasibility check on whether that approach makes sense (it would mean more qualifier queries getting run on devices.

@zwass Would there be a way to write SQL such that it short-circuited the tables?  Like if bpf_process_events exists, then SELECT from it, otherwise use process_events?  (And/or handle differences in columns between the tables?)

[2022-01-24 11:37] DominusKelvin opened #3843 "Update meta description for fleetctl documentation"
**Operating system** _Mac_:

**Web browser** _Safari_:

<hr/>

### 🧑‍💻  Expected behavior
A search for "fleetctl" on Google brings up fleetctl with the below description

I expected a description showing what fleetctl is instead.
### 💥  Actual behavior

![Screenshot 2022-01-24 at 12 31 29](https://user-images.githubusercontent.com/24433274/150776065-2d8479a6-7f96-409c-b7d1-e45313a885c0.png)

[2022-01-24 15:11] noahtalerman commented on #3762
@stephanmiehe this seems like a great next step that Fleet might want to address in the future.

When you get the chance, can you please file a feature request issue here? https://github.com/fleetdm/fleet/issues/new?assignees=&labels=idea&template=feature-request.md&title=

[2022-01-24 15:21] noahtalerman commented on #3762
@lukeheath I'm responding to, and attempting to clarify, the bullets with "(?)" below:

As of now, I believe the frontend won't have to be aware of a CVEs publish date. This is because I think the backend is entirely handling the "which vulnerabilities qualify as candidates for the webhook?"

For now, this is correct.

Vulnerability automations are only applied at the global level ("All teams") in

[2022-01-24 15:22] stephanmiehe opened #3846 "Fire webhook when vulnerability has been fixed"
### Goal

In https://github.com/fleetdm/fleet/issues/3762 the ability to receive a webhook for new vulnerabilities is being implemented. Once someone remediates a vulnerability it's important to let them know that their actions actually remediated the vulnerability. I therefore recommend to extend the webhook implementation to also send a webhook when a vulnerability has been remediated

### How?

[2022-01-24 15:34] noahtalerman commented on #3050
@chiiph and @lucasmrod I want to make sure that we're aligned on the above "published within the last 2 days" specification. I added the example below to this issue's description:

- If Fleet detects vulnerabilities (CVE) that were published within the last 2 days, Fleet will send one request for each CVE.
  - This time corresponds to the date the CVE was published by the National Vulnerability Da

[2022-01-24 15:52] xpkoala opened #3847 "Improve M1 Mac fleetctl preview documentation"
### Goal

Update /get-started documentation or include warnings that Rosetta needs to be installed in order to successfully run `fleetctl preview`.

After following the instructions outlined on https://fleetdm.com/get-started a user will potentially be met with an error when running `fleetctl preview`. This appears to be due to Rosetta not being installed on the machine. When executing the previou

[2022-01-24 15:54] noahtalerman commented on #3846
@stephanmiehe thanks for including the above use case in this issue.

Including details about the "why" behind the feature request is super helpful when drafting potential solutions.

[2022-01-24 15:58] #2674 closed

[2022-01-24 15:58] #3051 closed

[2022-01-24 15:58] #3780 closed

[2022-01-24 15:58] #1469 closed

[2022-01-24 15:58] #2714 closed

[2022-01-24 15:58] #3488 closed

[2022-01-24 15:58] #3532 closed

[2022-01-24 15:58] #3590 closed

[2022-01-24 15:58] #3661 closed

[2022-01-24 15:58] #3763 closed

[2022-01-24 15:58] #3811 closed

[2022-01-24 15:58] #3823 closed

[2022-01-24 15:58] #2859 closed

[2022-01-24 15:58] #2907 closed

[2022-01-24 15:58] #3463 closed

[2022-01-24 15:58] #3476 closed

[2022-01-24 15:58] #3565 closed

[2022-01-24 15:58] #3575 closed

[2022-01-24 15:58] #3587 closed

[2022-01-24 15:58] #3745 closed

[2022-01-24 15:58] #3786 closed

[2022-01-24 16:01] #2456 closed

[2022-01-24 16:01] #3201 closed

[2022-01-24 16:01] #3721 closed

[2022-01-24 16:01] #3822 closed

[2022-01-24 16:01] #2918 closed

[2022-01-24 16:01] #3422 closed

[2022-01-24 16:01] #3557 closed

[2022-01-24 16:01] #3660 closed

[2022-01-24 16:01] #3697 closed

[2022-01-24 16:01] #3504 closed

[2022-01-24 16:01] #3567 closed

[2022-01-24 16:01] #3579 closed

[2022-01-24 16:01] #3707 closed

[2022-01-24 16:01] #3710 closed

[2022-01-24 16:01] #3722 closed

[2022-01-24 16:01] #3784 closed

[2022-01-24 16:19] noahtalerman opened #3849 "Fleet's osquery installers: support deploying osquery with the `.app` bundle"
To utilize some osquery features on macOS [the latest version of osquery](https://osquery.io/downloads/official/5.1.0), deploying osquery with the .app bundle is required.

### Goal

With Fleet's osquery installers, we are currently packaging osquery 5.1.0. With osquery 5.0.1 and above the format of the package was changed to a full macOS app so that osquery can access the EndpointSecurity events

[2022-01-24 16:24] noahtalerman opened #3850 "Blog post: Orbit v1"
### Goal

Publish a blog post to talk about what Orbit (agent autoupdater) is, what it will do in the future, and why we built it.

- https://github.com/fleetdm/fleet/pull/7292

[2022-01-24 16:27] noahtalerman commented on #3849
@zwass I'm passing this issue's assignment to you for architecting. Can you please prepare this issue for engineering estimation?

[2022-01-24 16:48] noahtalerman commented on #664
@machacm the ability to sort queries by author or last modified is now available in Fleet 4.9.0 (latest release)

[2022-01-24 16:48] #664 closed

[2022-01-24 16:50] RachelElysia commented on #3634
@noahtalerman @lukeheath There's currently an undo action on the flash message for require password reset. Do we want to remove that?

[2022-01-24 16:55] noahtalerman commented on #3634
@RachelElysia yes please :)

It's very likely there are other flash messages with the "UNDO" functionality. That's ok for now.

I'm going to file a separate issue to track updating those other flash messages.

[2022-01-24 17:01] xpkoala opened #3852 "Some pages on the Fleet website show images with the Packs tab"
### 💥  Actual behavior

The pictures shown on https://fleetdm.com/docs/using-fleet/fleet-ui show the `Packs` tab at the top of the page. That tab has been moved under the advanced settings in the Schedule tab.

### More info

https://fleetdm.com/docs/deploying/server-installation - Packs appear on this page as well, but they are hidden behind the new host window and may not need to be updated.

[2022-01-24 18:05] noahtalerman commented on #3421
The improvements outlined in this issue were included in the Fleet 4.9.0 release.

[2022-01-24 18:05] #3421 closed

[2022-01-24 18:10] noahtalerman commented on #3847
Thanks Reed! I think updating /get-started is a great first step.

[2022-01-24 18:14] lukeheath commented on #3044
@chiiph Would you please point this ticket for velocity tracking? We're backing to use labels for estimations. Thanks!

[2022-01-24 19:22] xpkoala opened #3854 "Team queries are not updated when switching between Team Schedules"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.9.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: Safari 15.2

[2022-01-24 19:57] noahtalerman commented on #3782
@xpkoala heads up, I queued this issue up for today's engineering standup :)

[2022-01-24 20:01] xpkoala opened #3855 "Print warning to fleetctl if version does not match Fleet server"
### Goal

Inform a user that their fleetctl and Fleet server may not be on the same version.

### How?

Have fleetctl print a warning if the version does not match that of the Fleet server.

[2022-01-24 20:52] noahtalerman commented on #2210
@mikermcneil heads up, I moved this issue along with the following ":improve documentation" issues from the product board to the "Waiting" column in the growth board:
- #2210
- #3760
- #3847
- #3673
- #3512

[2022-01-24 21:05] chiiph commented on #3050
@noahtalerman that's correct, we have published date in the data streams we use for vulnerability matching, so we can use that instead of last modified.

[2022-01-24 21:12] noahtalerman commented on #3597
@tgauda heads up, the [release notes for 4.9.0](https://github.com/fleetdm/fleet/releases/tag/fleet-v4.9.0) include a "Performance" section.

[2022-01-24 21:12] #3597 closed

[2022-01-24 21:23] noahtalerman commented on #3612
This is done.

[2022-01-24 21:25] noahtalerman commented on #1506
The ability to see a query's compatible platforms is included in the latest release of Fleet (4.9.0).

[2022-01-24 21:25] #1506 closed

[2022-01-24 21:28] noahtalerman commented on #3050
@chiiph nice! Thanks for following up.

[2022-01-24 21:46] noahtalerman commented on #355
These UI improvements are included in the latest release of Fleet (4.9.0).

[2022-01-24 21:46] #355 closed

[2022-01-24 21:51] noahtalerman commented on #888
The ability to modify enroll secrets in the Fleet UI is included in the latest release of Fleet (4.9.0).

[2022-01-24 21:51] #888 closed

[2022-01-24 21:52] noahtalerman commented on #325
This issue is now covered by the following issue: #2814

[2022-01-24 21:52] #325 closed

[2022-01-24 22:44] mikermcneil commented on #3723
:+1:

Would be good for it to be opt-in though.  So that everything still just works™ unless you need more customization.

cc @CptOfEvilMinions

[2022-01-24 23:10] #3693 closed

[2022-01-25 02:12] #3736 closed

[2022-01-25 03:13] RachelElysia commented on #3269
@lukeheath Do we want to add e2e tests on this for `teamflow.spec.ts`? I think @gillespi314  #3840 modifies teamflow so likely need a separate ticket or wait until that's merged to make any changes to `teamflow.spec.ts`.

[2022-01-25 06:24] gillespi314 commented on #3269
I'd vote for keeping the teamflow spec focused just on the CRUD for team settings and creating separate specs for functionality that originates on other pages but might be related to teams (for example, team policies or team schedules). I

[2022-01-25 07:21] macEar opened #3868 "Error executing distributed query: fleet_detail_query_*"
**Fleet version**: docker image `fleetdm/fleet:v4.9.0`

**Fleet tier**: Fleet Free

<hr/>

### 🧑‍💻  Expected behavior

Fleet detail queries are targeted to hosts based on platform / operating system.

### 💥  Actual behavior

Osquery on linux hosts logs the following errors:

[code]

### More info

Can we disable these queries? Or is it possible to target these queries only to MacOS?

[2022-01-25 14:37] rubenrodr-versia opened #3869 "Vulnerabilities not shown"
**Fleet version**
[code]
**Fleet tier**
Fleet Free
**User role**
admin

**Operating system**
[code]
**Web browser**
Firefox 96.0.2 (64-bit)

### 🧑‍💻  Expected behavior

Enabled vulnerablity management
[code]
We can see connections from fleet to github/nist to retrieve cve data on corporate firewall:
![imagen](https://user-images.githubusercontent.com/24841626/150996530-e092f416-797e-4c32-a901-2193

[2022-01-25 15:51] GuillaumeRoss opened #3870 "Virustotal Integration"
### Goal

**TODO**
VirusTotal can provide valuable information around files, especially files that get executed. VirusTotal has a FREE API (*can't be used in commercial products*) and a paid API. Through the paid API, you can search, but you can also submit files, which is useful if VirusTotal had not seem them before. These types of services typically have information for multiple indicator of co

[2022-01-25 15:58] #3814 closed

[2022-01-25 16:39] tgauda opened #3871 "Provide more context to long running migrations"
During an upgrade, there can be multiple migrations that need to run. We should provide clearer status and properly set expectations for potentially long-running migrations. A customer recently started a migration and thought it hung but things were just taking more time than expected to complete.

### How?

Display clearer messages and possibly warn when log running migrations are running.

- [ ]

[2022-01-25 17:17] RachelElysia commented on #3029
@lukeheath Do we want to add e2e tests on this for teamflow.spec.ts? I think @gillespi314 #3840 modifies teamflow so likely need a separate ticket or wait until that's merged to make any changes to teamflow.spec.ts.

[2022-01-25 17:19] RachelElysia commented on #3269
So maybe a team admin e2e test checks this?

[2022-01-25 17:21] lukeheath commented on #3029
Yes, e2e tests would be nice. @gillespi314 would you be okay with rolling that into #3840?

[2022-01-25 17:23] zwass commented on #3699
#3837 works on updating the `go-tuf` version now that the issue has been resolved there. After that the warning should go away when we next publish a release and regenerate the metadata.

[2022-01-25 17:31] gillespi314 commented on #3029
@lukeheath #3840 is pretty much ready to go with your approval. I'm fine to add this to the e2e PR or we can merge #3840 first if @RachelElysia has a good idea of what she'd like to test in this PR

[2022-01-25 17:39] lukeheath commented on #3029
@gillespi314 Great, I'll review #3840 momentarily. Let's merge that first and then @RachelElysia can add e2e tests here. Thanks!

[2022-01-25 17:52] gillespi314 commented on #3269
@RachelElysia I think that makes the most sense for now.  I structured the admin spec to have a separate `describe` for each page so hopefully that makes it easier.

[2022-01-25 18:13] xpkoala opened #3872 "Label search breaks on some special characters"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.9.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): Team admin

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: Safari 1

[2022-01-25 18:25] lukeheath commented on #3029
Never mind, this already merged. @RachelElysia Would you please follow up with e2e tests once @gillespi314 merges her refactor?

[2022-01-25 18:48] gillespi314 opened #3874 "Refactor e2e tests for team schedules"
Carried forward from #3840

- Add e2e coverage for premium-tier users of team schedules features
- Investigate why `cy.getAttached` is not working with the empty state of the schedules table
- Explore adding new commands to seed schedules

[2022-01-25 18:57] noahtalerman commented on #3507
@lukeheath is it generally good practice to validate all email/URL fields? My guess would be "yes."

[2022-01-25 19:39] gillespi314 commented on #3854
@martavis @lukeheath, this page still relies on redux for the scheduled queries API actions. That said, it looks like the fix is probably just to dispatch a `loadAll` in the `handleTeamSelect` method.

[2022-01-25 19:43] noahtalerman commented on #3507
Got it. @lukeheath I updated this issue's description to indicate the tasks of...
1. Finding the remaining URL/URI/Email fields without frontend validation
2. Adding validation to these fields

I moved this issue into the "Estimate" column on the GitHub product board. Please feel free to tag+assign me if the description needs more details.

[2022-01-25 20:35] noahtalerman commented on #3869
Hey @rubenrodr-versia sorry that you're experiencing this issue. I have a couple questions to help identify what might be happening:

Is software data appearing in the Fleet UI? You can verify this by selecting the "All" tab next to "Vulnerable" in the third screenshot you included.

In the Fleet server logs, are there any logs for the `vulnerabilities cron` job? If so, can you please attach scree

[2022-01-25 20:42] zwass commented on #3655
@chiiph just confirming this will be fixed as part of https://github.com/fleetdm/fleet/issues/3086?

[2022-01-25 20:44] lucasmrod opened #3878 "Orbit with osquery extensions enabled fails to start on some systems"
**Fleet version**: Orbit 0.0.5. (A workaround was pushed to orbit 0.0.6 that disables extensions on Windows.)

**Operating systems**:
- VMWare: Windows 10 and Ubuntu, #3522 is the original issue, it was closed with the workaround of disabling extensions on Windows (but now we've learned it not only happens on Windows).
- Report from [this](https://github.com/fleetdm/fleet/issues/3878#issuecomment-

[2022-01-25 20:50] noahtalerman opened #3879 "Policies are not applied when running `fleetctl preview`"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.9.0

<hr/>

### 🧑‍💻  Expected behavior

I ran the `fleetctl preview` command and expected to see the policies included in [the standard query library](https://github.com/fleetdm/fleet/blob/main/docs/01-Using-Fleet/standard-query-library/standard-query-library.yml) to be automatically applied.

### 💥  Act

[2022-01-25 21:04] noahtalerman commented on #344
@mike-j-thomas in the linked Figma, can you please indicate where the tooltips appear relative to the underlined item (above the line, below, etc.)?

![Screen Shot 2022-01-25 at 4 04 23 PM](https://user-images.githubusercontent.com/47070608/151059447-81589459-2e93-46b2-8442-480003129596.png)

I updated this issue's description with a link to the Figma page that includes the new tooltips.

[2022-01-25 21:10] gillespi314 commented on #3397
@lukeheath, what should be the URL for the software page? I didn't see it specified in the ticket or Figma but I may have overlooked it. My vote would be to make the route `/software/manage` to be consistent with our other top nav pages (and in anticipation of software detail pages down the road).

[2022-01-25 21:12] lukeheath commented on #3397
`/software/manage` sounds good to me!

[2022-01-25 21:12] noahtalerman commented on #344
@mike-j-thomas passing this issue's assignment to you. Please pass the assignment back to me once you've updated Figma. Thanks :)

[2022-01-25 21:16] noahtalerman opened #3880 "On the Host details page, update "Uptime" to "Last restarted""
## Goal

As an IT administrator I want to know the last time an employees machine was restarted.

## Figma

Update "Uptime" to "Last restarted": https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4371%3A171119

## Tasks

#### 1
- [x] In the "About this host" section of the **Host details** page, update "Uptime" title to "Last restarted"

#### 2
- [x] In the "About this host" section of the

[2022-01-25 21:21] noahtalerman opened #3881 "Add "Advanced" tab and update title of the "Add hosts" modal"
## Goal

As a Fleet admin, I want to add hosts to Fleet using plain osquery.

## Figma

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4371%3A171120

## Tasks

#### 1

- [x] On the **Hosts** page and **Team details** page, update the "Generate installer" button's text to "Add hosts"
![Screen Shot 2022-01-26 at 5 04 41 PM](https://user-images.githubusercontent.com/47070608/151254729-802

[2022-01-25 22:55] RachelElysia opened #3882 "Bug: Error thrown for schedules with reusing a name for a team"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:

**Web browser** _(e.g. Chrome 88.0.4324)_:
Chrome

<hr/>

### 🧑‍💻  Expec

[2022-01-25 23:02] RachelElysia commented on #3882
This might be a frontend bug where redux is not being updated with the new API calls. I'm hoping to fix this along with the other team schedule issue.

[2022-01-26 07:19] Cherlynn opened #3885 "Installing fleetctl changes ownership of osqueryd"
When fleetctl is installed via npm, the ownership of the OSQuery agent (/usr/local/bin/osqueryd) changes to the current user.

It breaks the OSQuery agent when it is configured to run as another user, as osqueryd throws an error about "unsafe permissions" when the owner of the file is different from the user running the file.

Seen on macOS.

[2022-01-26 07:22] rubenrodr-versia commented on #3869
Hi @noahtalerman

Thanks for helping.
Fleet is showing the software inventory:
![imagen](https://user-images.githubusercontent.com/24841626/151117608-31f2a27f-29f8-48d7-baa5-f75282a90235.png)

We can see it on the host detail page as well:
Linux:
![imagen](https://user-images.githubusercontent.com/24841626/151119856-1d62c794-7b5c-4b45-9d3d-f6bc0b0bf5b3.png)
Windows:
![imagen](https://user-images.g

[2022-01-26 11:52] chiiph commented on #3655
@zwass yes, we will filter software with zero hosts here: https://github.com/fleetdm/fleet/pull/3873/files#diff-4fe70646343c5f7a1b61dd6906889113f0e0ae63f684ab74a617acecb39fe6d3R316 and we are discussing cleaning up that data altogether in here https://github.com/fleetdm/fleet/pull/3873/files#r792062805

[2022-01-26 11:57] lucasmrod commented on #3869
Hi @rubenrodr-versia! Thanks for the detailed information.

A couple of things to check:

1. The `/var/log/kolide/kolide_*.json` files are logs from the osquery agents (the status is for status logs and the result is for scheduled queries results). Instead, grep for `cron=vulnerabilities` on `fleet serve`'s `stderr` (or the file you are redirecting such output).
2. If possible attach the output of

[2022-01-26 14:10] lucasmrod commented on #3868
Hi @macEar, those extension tables are available if you installed `fleet-osquery` on the linux hosts using the instructions provided in "Generate installer". They may not be available with a default `osquery` installation.

![Screen Shot 2022-01-26 at 11 05 33](https://user-images.githubusercontent.com/2073526/151177580-649d04ce-2e7c-4d92-8505-a6e1c4277077.png)

Let me know if that helps.

PS: Cur

[2022-01-26 14:14] lucasmrod commented on #3885
Hi @Cherlynn!

Please let us know the following information:
- macOS version.
- What commands did you run and what output did you get? Just `sudo npm install fleetctl`?

[2022-01-26 14:52] rubenrodr-versia commented on #3869
Hi @lucasmrod

We had the systemd service with this option set:
[code]

Have changed to:
[code]
and restarted the service.
The log files are not generated, but i can see the logs using systemd:
[code]
Here you have the config (redacted)
[code]
Please, tell me if you need anything more.

Thanks.
Best regards.

[2022-01-26 14:53] mna commented on #3086
A note for the person using this updated endpoint to build the frontend: the endpoint won't return anything until at least one software has a hosts_count > 0, so you may want to use a shorter vulnerability interval on your backend fleet instance (that's the `--vulnerabilities_periodicity` config flag, e.g. `--vulnerabilities_periodicity 1m`) so that the counts get computed faster.

[2022-01-26 15:12] rubenrodr-versia commented on #3869
Hi,

Our systemd version
[code]
does not support file option for output
![imagen](https://user-images.githubusercontent.com/24841626/151189292-0fb4f267-8136-4d6d-b258-68381b5ede85.png)
![imagen](https://user-images.githubusercontent.com/24841626/151189338-6602a8a7-010e-49a3-aef4-cc8973981db1.png)

so we have configured like this:
[code]
and restarted fleet again.
The syslog entries have the same a

[2022-01-26 16:37] lucasmrod commented on #3869
The configuration seems to be correct.

According to the log line, the vulnerabilities scanning should run after about one hour of `fleet serve` running.

If there's still no trace of the vulnerability process running, please try running fleet serve with `FLEET_LOGGING_DEBUG=1` env variable or the `--logging_debug` argument (this may provide more information on why it's not running).

[2022-01-26 16:56] xpkoala opened #3889 "Create user radio buttons not centered"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.9.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: 15.2

<hr/>

### 💥

[2022-01-26 17:29] chiiph commented on #3869
@rubenrodr-versia thank you for baring with us as we try to make sense of your setup and what might be wrong.

Could you upload the output of the following command as well: `fleetctl get software --yaml`?

[2022-01-26 18:50] xpkoala opened #3890 "Hover state on editable fields broken"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): 4.9.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): premium

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)): admin

**Operating system** _(e.g. macOS 11.2.3)_: macOS 12.1

**Web browser** _(e.g. Chrome 88.0.4324)_: Safari 15.2

[2022-01-26 19:34] noahtalerman commented on #3709
@zwass, heads up, I took a stab at adding this to the releasing Fleet docs in a PR here: #3857

Closing this issue.

[2022-01-26 19:34] #3709 closed

[2022-01-26 20:19] gillespi314 opened #3892 "Review front-end use of text fields and apply `encodeURIComponent where appropriate"
- Apply `encodeURIComponent` where user input is ingested

[2022-01-26 20:50] noahtalerman commented on #3202
@lukeheath heads up, I'm moving this issue directly into the "Estimate" column on the product board.

[2022-01-26 21:02] noahtalerman commented on #3397
@gillespi314 heads up, the scope of this issue is expanding. We'd like to add a message and link to the bug report issue template at the bottom of the "Software" table:

![Screen Shot 2022-01-26 at 3 55 46 PM](https://user-images.githubusercontent.com/47070608/151245528-574a0fd7-ad53-4b3c-bcf3-13ed70d6bda7.png)

I added this UI element to the Figma file linked in this issue's description. I also a

[2022-01-26 21:07] noahtalerman opened #3893 "Add ability to confirm a vulnerability"
### Goal

Allow people to "upvote" good results.

Upvoting or confirming a vulnerability should require very few clicks.

### How?

- [ ] With both types of reports, we should send the minimal amount of information needed about the systems, around the data that was used to discover this vulnerability. It must be clear that using these features requires analytics to be sent back to Fleet for produc

[2022-01-26 21:11] noahtalerman commented on #3809
I'm closing this issue because the above goal is now covered in the following "Add "Software" page and hosts count" issue: #3397

@GuillaumeRoss I filed a separate "Add ability to confirm a vulnerability" issue here: #3893

I also added the "Declaring a vulnerability..." portion of your comment to #3152

[2022-01-26 21:11] #3809 closed

[2022-01-26 21:18] lucasmrod commented on #3081
# 1. Data generation

Let's assume we can generate something like a `rpm.sqlite` (separate or alongside `cpe.sqlite`) by parsing the CentOS repository. Initially such database would contain a single table with: "fixed CVEs for a given (name, version, release, arch)"

E.g. sample entry:

	name=authconfig, version=6.2.8, release=30.el7, arch=x86_64 ==> fixedCVEs={CVE-2017-7488}

# 2. Fleet Fetching

[2022-01-26 21:24] chiiph commented on #3081
I would say, let's try to get as much as possible inside cpe.sqlite. So that we don't have to change that part at all.

I think the next possible blocker here is resulting size. Could we run a test by look at total apps that have bugs in the CVE data stream overall, assume all of those are linux packages, and all of them  have... I don't know, 40 versions per package that fix CVEs, how much would

[2022-01-26 22:22] xpkoala opened #3894 "Revamp edit fields"
### Goal

Consider revamping the way edit works for different pages across the application.

Currently, fields that are editable contain a `pencil` icon near the field. One of two actions will occur when the pencil (or in some cases the area) is clicked:
- Case 1: The user is able to immediately edit the field.
- Case 2: The user is taken to a new page that allows editing.

Case 1 is observed on t

[2022-01-26 22:43] lucasmrod commented on #3878
For more context/information, this is the original issue: #3522 (it was closed with the workaround of disabling extensions on windows).

[2022-01-26 22:55] lucasmrod opened #3895 "Move "Packs > Advanced" button"
### Goal

![Screen Shot 2022-01-26 at 19 53 21](https://user-images.githubusercontent.com/2073526/151260763-cbe6ac9f-0a01-4819-91aa-f38f1113e9fc.png)
![Screen Shot 2022-01-26 at 19 53 48](https://user-images.githubusercontent.com/2073526/151260765-844bf878-2c00-4fc7-93a9-0eb5dcc0c13b.png)

"Advanced" sounds like it allows for more settings, but instead the user is shown the "Packs" section.
Consid

[2022-01-27 11:57] rubenrodr-versia commented on #3869
Hi,

We have started the service with ```--loging_debug``` and see this kind of errors:
[code]
It seems the certificate is expired:
**2022-01-26T17:03:49.843356+01:00  fleet[16045]: {"component":"crons","cron":"vulnerabilities","err":"1 synchronisation error:\n\tGet \"https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2002.meta\": x509: certificate has expired or is not yet valid: current time 202

[2022-01-27 12:24] chiiph commented on #3050
@noahtalerman one thing I missed is that the interval will correspond to the vulnerability interval:

If we don't do this we risk losing data in case fleet crashes or just restarts.

[2022-01-27 14:36] noahtalerman commented on #3872
@xpkoala can you please queue this issue up for today's standup? I removed the ":backend" label and added back the ":frontend" label.

You were totally right when you tagged this bug with the ":frontend" label. Changing this was a whoops from me.

[2022-01-27 14:58] lukeheath commented on #3872
I'll take a look at this.

[2022-01-27 15:23] noahtalerman opened #3899 "Move the "Settings" tab into the account drawer"
## Goal

As a Fleet admin, I want to be able to easily navigate to Settings > Users so that I can quickly give an individual that works at the help desk observer access in Fleet.

## Figma

Move the "Settings" tab into account drawer: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4509%3A173356

## Tech Debt

We are going to include the following tech debt fixes: ✨

Updating the SiteTo

[2022-01-27 16:00] lukeheath commented on #2716
@noahtalerman A few questions:

1) Does the "Compatible with" list in the sidebar update immediately?
- When creating or editing a policy, does this list filter down to compatible platforms in realtime?

![image](https://user-images.githubusercontent.com/2495927/151394947-c560b0ac-d75f-4cbb-8d99-cae5cd1f43f9.png)

2) I'm not clear on what this dev note means. Will you please clarify?

![image](htt

[2022-01-27 16:04] noahtalerman commented on #3872
@xpkoala this makes sense to me!

[2022-01-27 16:09] lukeheath commented on #3446
Thanks, Noah! This ticket does not have any API changes so I'm assigning straight over to @chiiph

[2022-01-27 16:55] lucasmrod commented on #3869
Thanks for the extra logs!

Please let us know if, after resolving the expired certificate issue, you still get no vulnerabilities reported.

We'll be opening a separate issue for the following parsing errors:
[code]

`--logging_debug` (just in case you have the typo on the `fleet serve` invocation too).

[2022-01-27 17:15] lucasmrod opened #3901 "Vulnerability Processing Error in Software to CPE translation"
See #3869 for more details on the system this issue was found.

<hr/>

The following parsing errors are logged when the vulnerability processing runs: [parsing_errors.txt](https://github.com/fleetdm/fleet/files/7952490/parsing_errors.txt)
[code]

[2022-01-27 18:08] lucasmrod commented on #2307
A customer user (and also a community user https://osquery.slack.com/archives/C01DXJL16D8/p1641569942012700) hit the following in fleet:
[code]

We should log more information to help troubleshoot.
E.g. we should at least be able to get and log the duration of the request at the time it was canceled.

[2022-01-27 18:27] noahtalerman commented on #3409
Proposed improvements from @lucasmrod:

Consistency:
- DEB and RPM have this extra fleet.pem and --fleet-certificate argument, whereas  macOS and Windows do not have it. We want to fix this.

We have to present the three options to support all possible deployments:
default:
- No need for --fleet-certificate  because your fleet instance has a well known TLS public cert (e.g. dogfood)
- Allow settin

[2022-01-27 18:49] lukeheath commented on #3220
Doesn't seem like we need API specs for this, but just a reminder to update the [relevant API docs](https://fleetdm.com/docs/using-fleet/rest-api#edit-policy) with the new property on `PATCH`.

[2022-01-27 19:16] lukeheath commented on #2716
Martavis: The validation errors seem inconsistent in the save modal. If no name is provided, it lets the user click save before showing error. If no platform is selected, save is disabled with a tooltip. @noahtalerman < Product feedback

[2022-01-27 19:26] lukeheath commented on #3202
Martavis: UX note - in cases of duplicate titles, we may want to put "(copy)" at the beginning in case the query title is long. Otherwise, "(copy") may be hidden on the manage queries page. @noahtalerman Heads up <

[2022-01-27 19:30] lukeheath commented on #3880
@noahtalerman Is "First enrolled" the same as "Created at"? Are we removing "Updated at"?

[2022-01-27 20:15] lukeheath opened #3904 "`teams` endpoints return 200 instead of 404"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`): `main`

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?): `premium`

<hr/>

### 🧑‍💻  Expected behavior

When I request a team that does not exist, I expect to receive a 404.

Examples:
- /settings/teams/2000/
- /settings/teams/2000/members

### 💥  Actual behavior

The API

[2022-01-27 20:15] lukeheath commented on #3904
@xpkoala Heads up I just found this bug.

[2022-01-27 20:46] xpkoala commented on #3904
@lukeheath Nice find! I just reproduced on 4.9.0.

[2022-01-27 20:54] lukeheath commented on #3762
@RachelElysia - From @chiiph: "the vulnerabilities webhook config is in main. The webhook itself won't work because it's not implemented yet, but this should unblock the frontend"

[2022-01-27 20:58] lukeheath commented on #3267
@noahtalerman @chiiph @RachelElysia - Rachel and I noticed that the frontend portion of this feature got brought in to the current release, but the backend did not, which blocks the frontend: https://github.com/fleetdm/fleet/issues/3269

How would you like to address? We'll need to either bring in the backend ticket, or bring out the frontend ticket. If we bring out the frontend ticket we could br

[2022-01-27 20:59] lukeheath commented on #3518
@gillespi314 Is this ticket done?

[2022-01-27 21:59] lukeheath commented on #3052
@mike-j-thomas New screens look great! Quick request: Can you update Figma with an example of how you'd like the "Actions" pop-up menu to appear with the restyling?

[2022-01-27 22:13] gillespi314 commented on #3518
@lukeheath Yes!

[2022-01-27 23:03] lukeheath commented on #3267
To clarify, this may have been one of the tickets I brought in to fill capacity without seeing the backend blocking ticket. Before I move it out, I wanted to make sure it wasn't here intentionally.

[2022-01-27 23:18] edwardsb opened #3906 "Make it easier to identify disk encryption status"
### Goal

As a user on the device details page, I want to see an easy-to-understand summary of disk encryption status across all volumes, at a glance.

### How?

https://osquery.io/schema/5.1.0/#disk_encryption

Seems like this issue might have been related https://github.com/osquery/osquery/issues/1100

[2022-01-27 23:26] mike-j-thomas opened #3907 "Docs: Add an introductory section to the fleetctl docs page"
## Goal ##
There is currently no introduction to what fleetctl is. We just jump straight into setting it up. We also need to modify the heading to reference fleetctl, not Fleet.

Reference: https://fleetdm.slack.com/archives/C01ALP02RB5/p1642652732208800

## TODO ##
-[ ] Add an introductory section to the fleetctl docs page https://fleetdm.com/docs/using-fleet/fleetctl-cli This should in clear ter

[2022-01-27 23:56] mikermcneil commented on #3906
cc @luciusbono

[2022-01-28 00:36] mikermcneil opened #3908 "Handbook: Rename "growth" page to "Brand""

[2022-01-28 00:59] #3908 closed

[2022-01-28 05:28] mike-j-thomas commented on #3052
Sure thing. You can play with the prototype [here](https://www.figma.com/proto/bdl76K7p0NaRv2rKXoBVfO/Prototypes-(clickable-mockups%2C-diagrams)?page-id=1025%3A461839&node-id=1025%3A461840&viewport=434%2C48%2C0.5&scaling=min-zoom&starting-point-node-id=1025%3A461840), or check it out in more detail [here](https://www.figma.com/file/bdl76K7p0NaRv2rKXoBVfO/?node-id=1025%3A461839) to look at the sett

[2022-01-28 05:31] mike-j-thomas commented on #3052
FYI, if it's not already too late, I updated the chevron to a little carrot. It's a bit neater within a button.
<img width="77" alt="Button" src="https://user-images.githubusercontent.com/78363703/151492599-88306a5f-676d-4b99-964e-951de5da9c7f.png">

[2022-01-28 07:55] mkagenius opened #3911 "HTTP 415 Unsupported Media Type when using Kafka for logging"
**Fleet version** (Head to the "My account" page in the Fleet UI or run `fleetctl version`):
fleetctl - version 4.8.0

**Fleet tier** (Are you using the free (Fleet Free) or paid (Fleet Premium) tier?):
Free

**User role** (Which role are you assigned in Fleet? (Admin, Maintainer, or Observer)):

Admin

**Operating system** _(e.g. macOS 11.2.3)_:
Ubuntu 20.04

**Web browser** _(e.g. Chrome 88.0.43

[2022-01-28 08:11] rubenrodr-versia commented on #3869
Hi,

Maybe a typo, so we have added the parameter again:
[code]
and restarted the service.
[code]

Will add more info if we detect new errors.

Thanks.
Best regards

[2022-01-28 13:11] lucasmrod commented on #3439
In `v4.9.0`, we added `Datastore.HostLite` for this purpose, which only loads from the `hosts` table (and excludes the host details).

Definition:
https://github.com/fleetdm/fleet/blob/e956b0ba042db3e8dd624f95a8494f2313ceee4c/server/datastore/mysql/hosts.go#L1396-L1433
Sample usage:
https://github.com/fleetdm/fleet/blob/e956b0ba042db3e8dd624f95a8494f2313ceee4c/server/service/hosts.go#L414-L430

[2022-01-28 13:11] #3439 closed

[2022-01-28 13:17] lucasmrod commented on #3171
We added `sqlmw` to fleet in https://github.com/fleetdm/fleet/pull/3815.

Currently, until we have more confidence on it, it's only enabled when running `fleet serve` the following way:
[code]

Sample:
[code]

When enabled, the interceptor, currently only logs the query, args and its duration.

--

We could later enable to maybe detect long running queries, populate and expose via `fleetctl debug`

[2022-01-28 13:17] #3171 closed

[2022-01-28 13:34] lucasmrod commented on #3640
@noahtalerman This should be `GET`, right?

[2022-01-28 13:45] lucasmrod commented on #2949
We have to keep in mind the confusion around:

https://github.com/fleetdm/fleet/blob/e956b0ba042db3e8dd624f95a8494f2313ceee4c/cmd/fleet/serve.go#L663-L672

Which brings me to:

Where should this new config live?
Same way as in `databases_path` where it lives in the two places (config and app) and one takes precedence?

PS: Maybe consider simplifying all the `ifs` logic in `cronVulnerabilities`.

[2022-01-28 13:48] chiiph commented on #2949
@lucasmrod Note that in 5.0.0 we'll be able to just rethink the configs altogether as it's not meant to be a backwards compatible release. So we can remove things that are duplicate/confusing, and move things around as we please.

We will have to think about the upgrade process, though, but we can write a conversion script or just document it if it's not super complicated.

[2022-01-28 14:19] noahtalerman commented on #3640
That is a great question. I see that, in this issue's description, both `GET` and `POST` are specified for the same API route.

@lukeheath which HTTP verb is preferred, `GET` or `POST`, for the `/api/v1/fleet/hosts/report` API route?

Can you please update this issue's description with the preferred verb and tag Lucas in the comment section of this issue?

[2022-01-28 14:31] lucasmrod commented on #3911
Hi @mkagenius, thanks for the extra troubleshooting, really helpful.

Will bring the team's attention to the issue and get back to you shortly.

[2022-01-28 14:32] noahtalerman commented on #3906
Currently, in the standard query library, there’s…
- A “Get Windows machines with unencrypted hard disks” query: https://fleetdm.com/queries/get-windows-machines-with-unencrypted-hard-disks
- A “Is disk encryption enabled on Windows devices?” policy: https://fleetdm.com/queries/is-disk-encryption-enabled-on-windows-devices
This policy has some loose instructions to interpret a failing result (scre

[2022-01-28 14:59] noahtalerman commented on #3610
@gavinelder got it. I updated this issue's title + description to focus on this solution/use case.

I'm moving our discussion on the FR below to the following "Add ability to enable/disable features in the Fleet UI": #1442

[2022-01-28 15:05] noahtalerman commented on #1442
I agree with this. However, it's possible to take iterative steps by introducing the toggle opt-on or out functionality for 1 or 2 features to start.

@gavinelder,  when you thought about this toggle improvement, which feature(s) did you want to disable? (other than the Chrome email).

Currently, the software inventory (`enable_software_inventory`), vuln detection (also `enable_software_inventory`

[2022-01-28 15:08] noahtalerman commented on #3907
@mike-j-thomas I also suggest that we trim down and move [the "Configuration files" section of the docs](https://fleetdm.com/docs/using-fleet/configuration-files) into the fleetctl docs.

This is because many fleetctl use cases center around applying these configuration files with `fleetctl apply -f`.

I'm happy to file a separate issue if you think this makes more sense.

[2022-01-28 15:12] #3131 closed

[2022-01-28 15:20] noahtalerman opened #3912 "On query and policy pages, display optional fields in a consistent way"
## Goal

As a user on the query and policy pages, I want to know which fields are required before I submit the form.

## How?

https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=4621%3A174779

## Tasks

### 1
- [x] Update "Save query" modal.
- Add (optional) to the description field.

![image](https://user-images.githubusercontent.com/2495927/160674506-d378cb61-81ce-4a61-8bc7-48c330787804.

[2022-01-28 15:27] noahtalerman commented on #3202
@martavis great catch with the usability testing above.

I think moving the "(copy)" text to the beginning of the query name makes sense.

In addition, I think it makes sense to use "Copy of" text instead of "(copy)" to replicate the naming convention Google docs uses for copying an existing document.

@lukeheath heads up, I've updated this issue's description to indicate the above change.

[2022-01-28 15:29] noahtalerman commented on #3880
@lukeheath yes, to both of the above questions.

Confusingly, both of the updates above are included in a separate ticket here: #2971.

It looks like the user from the greater community, who's assigned to #2971  issue, has yet to submit a PR with the changes.

[2022-01-28 15:31] noahtalerman commented on #3267
@lukeheath the frontend portion was not moved into the release board intentionally. Thank you for moving this ticket out.

[2022-01-28 15:31] lucasmrod opened #3913 "`fleetctl apply` returns 500 `"forbidden"` error"
**Fleet version** : Both fleetctl and fleet are v4.9.0 (fleetctl running on a M1 Mac).
[code]

**Fleet tier**: Free

**User role**: Global Admin

**Operating system** _(e.g. macOS 11.2.3)_: N/A

<hr/>

User reported the following operations:
1. Run `fleetctl get config > config.yml`
2. modify a decorator query in `config.yml`.
3. Run `fleetctl apply -f config.yml`

### 🧑‍💻  Expected behavior

Step

[2022-01-28 15:49] noahtalerman opened #3914 "Add ability for Fleet's osquery installers to authenticate with Fleet"
### Goal

Add ability for Fleet's osquery installers to authenticate with Fleet so that an end user, who's device is enrolled in Fleet, can access a "My device" page in the Fleet UI.

### How?

- [ ] Osquery installers (aka Orbit) will use a "device auth token".
  - This token is separate from the key used for the osquery to Fleet auth.
  - This token is stored as JSON in a local file.
    - Later

[2022-01-28 15:49] noahtalerman commented on #3914
cc @zwass, @groob

[2022-01-28 16:08] noahtalerman commented on #2949
@lucasmrod yes, loud means some or all of these things you've listed. I don't think we've figured out exactly how to accomplish this.

[2022-01-28 16:09] noahtalerman opened #3915 "In the Fleet UI, clarify the relationship between "Queries" and "Schedule""
### Goal

As a security analyst or IT administrator, I want to be able to automatically collect information from my devices at a recurring interval.

Currently, in the Fleet UI, the user must do 3 things (simplification):
1. Configure Fleet to send osquery logs to their [log destination of choice](https://fleetdm.com/docs/using-fleet/osquery-logs#snowflake).
  - Log destinations can only be config

[2022-01-28 16:16] noahtalerman opened #3916 "In the Fleet UI, update "Hosts" to "Devices""
“Openness” is one of [Fleet's values](https://fleetdm.com/handbook/company#values).

In this respect, Fleet would like to make the product as understandable to as large of an audience as possible.

### Goal

Update the use of "hosts" to "devices" in the Fleet UI so that the Fleet product is as understandable to as large of an audience as possible.

Many users do not understand what a "host" is.

#

[2022-01-28 16:17] noahtalerman commented on #3916
cc @DominusKelvin

[2022-01-28 16:20] noahtalerman opened #3917 "Add ability to see a list of software that is rolled up across versions"
### Goal

As an IT administrator, I want to know how many users have Microsoft Word installed (across all versions).

### Figma

Add ability to see a list of software that is rolled up across versions: https://www.figma.com/file/hdALBDsrti77QuDNSzLdkx/?node-id=5383%3A255594

[2022-01-28 16:24] lukeheath commented on #3899
@noahtalerman Are you okay with us bringing this into the current sprint to replace the team webhooks ticket I just moved out?

[2022-01-28 16:25] noahtalerman commented on #3899
@lukeheath yep! Makes sense to me.

[2022-01-28 16:26] macEar commented on #3868
Thanks, it'd be helpful if in future releases there is a checkbox for disabling such extension tables for any reason. For now there is no issues besides the annoying logs. So thank you again and the issue closed

[2022-01-28 16:26] #3868 closed

[2022-01-28 17:53] lucasmrod opened #3918 "Allow fleet users to disable execution and ingestion of orbit extension tables"
See https://github.com/fleetdm/fleet/issues/3868#issuecomment-1024380314

Fleet by default always sends and ingest the MDM, Munki and Google Chrome Profiles queries as part of the fetching of details of all hosts.

### Goal

Allow users to disable the querying and ingestion of the following extension tables in Fleet:
- munki_info
- mdm
- google_chrome_profiles

[2022-01-28 17:54] lucasmrod commented on #3868
Thanks for the feedback!

We've created #3918, to be reviewed by the product team.

[2022-01-28 18:12] DominusKelvin commented on #3916
Thanks, @noahtalerman. While I think this is a good call. I think the name "Device" would tend to lean towards the assumptions for things like Mobile phones and not necessarily Servers, Laptops, Containers, etc that can be enrolled to Fleet.

My suggestion is that we sort of come up with a term that establishes a balance between endpoints like laptops and also servers, containers, etc. and also ma

[2022-01-28 18:26] noahtalerman commented on #3911
@xpkoala can you please queue this one up for today's engineering standup? The engineering team can help determine if the proposed fix makes sense.

[2022-01-28 18:33] noahtalerman commented on #3869
@rubenrodr-versia thank you for the follow up! Can you please confirm that vulnerabilities do appear after resolving the expired certificate?

If so, we can close this issue. The conversation around parsing errors can continue in the following issue: #3901